[2020-10-26 18:09] sabrinang commented on #5312
@kristinashu Please review my review for publications above?

I’ve tested it on staging in a /docs section last week that I can add child pages too. I was wondering if stuff on staging could be imported to production but it seems like it gets wiped weekly. This is because I was thinking if I’d be importing AI whitepaper as a part of the testing but I think I had enough placeholder content to do my

[2020-10-26 18:10] KalobTaulien opened #5521 "PNI follow-up: delete PNI product models and related code, plus migrations"
Criteria:
- [ ] Remove PNI Product models
  - [ ] base
  - [ ] general
  - [ ] software
- [ ] Create migrations to remove the models from the database
- [ ] Remove any related code (ie. factories) surrounding the old product models.

[2020-10-26 19:33] #5489 closed

[2020-10-26 20:12] KalobTaulien commented on #5520
Product.slug -> ProductPage.slug
Product.draft -> Product.is_live
Product.name -> Product.title

[2020-10-26 21:00] #5233 closed

[2020-10-26 21:57] sabrinang commented on #5419
Thanks Tais for presenting the metrics in an accessible manner framed with questions/hypothesis/goals at the top and baselines from 2019, very helpful!

@taisdesouzalessa There's only two parts that are showing up a bit funky for me:

**Site Usage:** has invalid/missing dimensions for 'total events on product pages'
<img width="420" alt="image" src="https://user-images.githubusercontent.com/249251

[2020-10-26 22:09] taisdesouzalessa commented on #5419
Thanks @sabrinang - glad the top part with context is helpful. Thank you and Nat for giving feedback in the early stages of it and for giving ideas on how to make the dashboard more accessible!

All the data of the dashboard is still not final. We will need the page live so I can grab all the new events we defined + apply all the necessary filters.

Still fixing this part today \0/ - it is a mess

[2020-10-26 22:59] taisdesouzalessa opened #5530 "Analytics for PNI (pre-launch list)"
DEPENDENT ON SITE BEING LIVE FIRST + discussion with Mavis here #5426
- [x] once site is live, add events + appropriate links and filters to [the 2020 dashboard](https://datastudio.google.com/reporting/3e7cca08-7764-4c6e-835f-6dffeae3df22)
- [x] do QA of the dashboard

**SHARING TO STAFF**
- [x] Add dashboard to [Mana page](https://mana.mozilla.org/wiki/display/FOUNDATION/MoFo+User+Research)
- [x]

[2020-10-26 23:01] taisdesouzalessa commented on #5419
Dashboard is done and pre-launch list is in a new ticket:  #5530

[2020-10-26 23:01] #5419 closed

[2020-10-26 23:36] kristinashu commented on #5445
[Done!](https://drive.google.com/drive/folders/1q7FafC0875QsdJQe2FucF8DqwabGBaSm?usp=sharing)

[2020-10-26 23:36] #5445 closed

[2020-10-27 17:07] #5454 closed

[2020-10-27 17:30] #5210 closed

[2020-10-27 17:32] KalobTaulien commented on #5509
PR is #5534 – it's a small one.

[2020-10-27 17:50] kristinashu commented on #5498
Looks like the previous one got moved to this sprint so let's just use that one https://github.com/mozilla/foundation.mozilla.org/issues/5312

[2020-10-27 17:50] #5498 closed

[2020-10-27 18:08] #5507 closed

[2020-10-27 21:20] #5502 closed

[2020-10-27 21:25] sabrinang commented on #4593
- [ ] Open corresponding engineering ticket to implement various link preview images
- [ ] Create fallback, generic image
- [ ] Review creative images from contractor to be used or adapted for these link images

[2020-10-27 21:45] sabrinang opened #5536 "[Publications] Import AI Whitepaper with Publications Template"
[Here](https://docs.google.com/presentation/d/1fXFcilVTCgp4ngHSOA5Atm31eCQe2ocOkYKsrbkDhUg/edit#slide=id.g25275a8168_0_425) is some background on the design of the Publications template.

### Todo
- [x] Figure out where the whitepaper lives on foundation.mozilla.org - `.../insights/trustworthy-ai-whitepaper`
- [x] Get corresponding wagtail permissions
- [ ] [Import content](https://drive.google.co

[2020-10-27 21:50] sabrinang opened #5537 "[PNI] - Implement Link Preview Image (OG Image)"
Corresponding engineering ticket that implements designs from https://github.com/mozilla/foundation.mozilla.org/issues/4593

Assets are here https://drive.google.com/open?id=14-8OR8iuFRythRhXVnO99CQWtmMv_kMG&authuser=natalie%40mozillafoundation.org&usp=drive_fs

Todo
- [x] Homepage, Best Of, and About pages should have the general graphic
- [x] Each category will have it's own unique graphic

[2020-10-28 00:47] #5439 closed

[2020-10-28 01:00] #5508 closed

[2020-10-28 02:44] #5509 closed

[2020-10-28 02:56] mmmavis commented on #5425
PR merged!

[2020-10-28 02:56] #5425 closed

[2020-10-28 03:33] KalobTaulien commented on #5515
WIP is in branch: `pni-v4-5515-base-buyersguide-page`

[2020-10-28 16:06] iamraghs commented on #5536
i can solve this issue...

[2020-10-28 17:20] #5193 closed

[2020-10-28 17:21] Pomax commented on #5360
how urgent is this? My immediate thoughts right now are "let's discuss this after PNI has launched"

[2020-10-28 17:22] KalobTaulien commented on #5442
There's an epic created at #5506 for all the "proper Wagtail" work about something like 15 tickets in that epic.

[2020-10-28 17:24] Pomax commented on #5341
@KalobTaulien if you time for this, it's yours now =)

[2020-10-28 18:44] KalobTaulien commented on #5515
I've also been working on a migration script to convert products to Wagtail Pages, and to convert FileField images into Wagtailimages, along with populating the new orderables. See #5520 as a related PR that's likely to get bumped up in this epic.

[2020-10-28 18:45] KalobTaulien commented on #5520
I have a local script that's a WIP for this already. I'll likely be taking this one, but in the unlikely event that someone needs to pick up this ticket just ask me for the script (it's not in shape for a commit of any kind, which is why Ive kept it local).

The migration script converts products to Wagtail Pages, and converts FileField images into WagtailImages, along with populating the new orde

[2020-10-28 20:40] KalobTaulien commented on #5341
Confirmed, I'm picking this up.

[2020-10-28 22:35] Pomax opened #5543 "PNI - namespace the buyersguide `template` content"
We currently have all our templating code in `networkapi/buyersguide/templates`, so it will conflict with files found in `networkapi/templates` when there are files with the same name.

The solution is to make a dir called `networkapi/buyersguide/templates/buyersguide` and then move everything that's in `buyersguide/templates` into that new `buyersguide/templates/buyersguide`. That way, django won

[2020-10-28 22:42] mmmavis opened #5544 "PNI - update page title"
Currently, all PNI pages have `Mozilla - *privacy not included` as the page title. We want them to be more descriptive (e.g., including category name etc). This should improve our analytics tracking & SEO.

This blocks the analytics implementation ticket #5427 as we need tracking events to include unique page title as part of the data sent to GA.

[2020-10-29 00:47] kristinashu commented on #5312
Chatted with devs at stand this morning and here's the plan:
- Publication work will be pushed to prod tomorrow! yay!
- then Sabrina will add the IA Whitepaper on prod to really test out the template with real content https://github.com/mozilla/foundation.mozilla.org/issues/5536
- Once she has tested it out then she will compile any new feedback with the feedback mentioned above
- She can meet wit

[2020-10-29 00:48] kristinashu commented on #5536
I believe the url will be /insights/IA-whitepaper (cc @taisdesouzalessa is that right?). I tested it on staging and publications template is available under /insights so once it's pushed to production then you should be able to add the content there.

[2020-10-29 05:21] iamraghs commented on #5544
i can solve this

[2020-10-29 15:40] taisdesouzalessa commented on #5536
@kristinashu the url is `/insights/trustworthy-ai-whitepaper`. I have a question though, in the [URL spreadsheet](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing) (cell C32) there was a talk about the Trustworthy AI research being more than the whitepaper (including a landscape analysis). Do you have more info on that, Kristina? I feel that sinc

[2020-10-29 15:44] taisdesouzalessa commented on #5426
Talked to Mavis and we're aligned on those. @mmmavis can I close this ticket?

[2020-10-29 16:58] sabrinang commented on #5312
Thanks for going over this with the devs Kristina and will continue reviewing on #5536 — closing this issue.

[2020-10-29 16:58] #5312 closed

[2020-10-29 19:56] taisdesouzalessa opened #5546 "Donor page redirect"
As per conversation with Jesse, redirect this page: https://foundation.mozilla.org/en/initiatives/leadershipgiving/ to this new page: https://foundation.mozilla.org/en/giving/mozilla-guardian-giving-program/

@kristinashu is there anything I should be aware of (localization needs)? Also [is this the way we do redirects](https://docs.wagtail.io/en/v2.10.2/editor_manual/managing_redirects.html)? Sor

[2020-10-29 21:44] KalobTaulien commented on #5423
This is awaiting @Pomax's final blessing before it gets merged into his search branch. If good, we can merge this in today or tomorrow.

[2020-10-29 21:45] KalobTaulien commented on #5341
#5542 needs one last review and approval from @mmmavis – then we can merge this in either tonight or tomorrow.

[2020-10-29 21:58] mmmavis commented on #5341
PR merged! 🎉

[2020-10-29 21:58] #5341 closed

[2020-10-29 22:11] kristinashu commented on #4593
Added this ticket to the PNI Marketing Epic https://github.com/MozillaFoundation/Design/issues/682 since the contract designer will be creating these assets.

[2020-10-29 23:07] taisdesouzalessa opened #5548 "[Blog] Fellowships and Awards link updates"
The [Fellowships & Awards Blog category page](https://foundation.mozilla.org/en/blog/category/fellowships-awards/) has links pointing to old URLs:
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/22157921/97641384-fe602200-19ff-11eb-9511-38cf0049f0ed.png">

**To do:**
- [x] Update Mozilla Fellowships link from `https://foundation.mozilla.org/fellowships/` to `https://fo

[2020-10-29 23:12] taisdesouzalessa commented on #5198
Site links were updated.
Audit tracked on [this spreadsheet](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ/edit?usp=sharing). @TheoChevalier this doesn't seem to affect localization (the link updates worked on localized pages - I tested a few) but want to tag you in case there is something I missed.

There are 2 links I couldn't update because it seems I can't

[2020-10-29 23:21] sabrinang commented on #4593
Dimensions: 1200x628 or 1200x630 _(it was the latter previously so I just made the .ai file follow that)_

.ai file with placeholders in gdrive: https://drive.google.com/open?id=1BYLlZO1WLKwUVG1S3Ez5X5qMEoe6jkTm&authuser=sabrina%40mozillafoundation.org&usp=drive_fs

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/2492510/97642236-eab5bb00-1a01-11eb-9531-1c897e173cba.pn

[2020-10-29 23:33] mmmavis opened #5549 "Discuss: CSS vars vs SCSS vars"
Because we rely on Boostrap so much, I've been using mostly SCSS vars so they align with what Boostrap already uses. However, there are exceptions that I had to use CSS vars because JS needs to access those variables. Since there are already mixed uses of both types of variables in the codebase, I'm wondering going forward if we are okay with "choose your own type of variable" on a case by case ba

[2020-10-29 23:34] mmmavis commented on #5549
/cc @Pomax @KalobTaulien

[2020-10-30 10:05] Audreymofo commented on #4593
Thanks!!

On Thu, Oct 29, 2020 at 11:21 PM sabrinang <notifications@github.com> wrote:

--
Audrey Hingle
+44 (0) 7738 095865

[2020-10-30 10:17] Sparsh-Bansal commented on #5398
As mentioned [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/docs/workflow.md), I need to land a different PR to generate the migrations. Should i push the migrations in the current PR only ?

[2020-10-30 10:27] TheoChevalier commented on #5543
@Pomax @mmmavis Heads up that this will completely disrupt localization, as the l10n repository and translation management script are relying on this path.

L10n repo: https://github.com/mozilla-l10n/fomo-l10n/tree/master/foundation/translations/networkapi/buyersguide

Script that will need an update: https://github.com/mozilla/foundation.mozilla.org/blob/master/translation-management.sh#L37-L51

[2020-10-30 16:33] kristinashu commented on #5548
I was able to do this in the CMS. It's under snippets but you might not have permissions.

<img width="554" alt="image" src="https://user-images.githubusercontent.com/1068783/97731920-fdc49b80-1a92-11eb-9fc7-b247b47581fb.png">

[2020-10-30 16:33] #5548 closed

[2020-10-30 16:40] kristinashu commented on #5546
There is a way to do it, if you don't see it then it's because you don't have the permissions.

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/1068783/97732178-627ff600-1a93-11eb-9547-fd4d08298e72.png">

Note that you should always make it "temporary" not "permanent" because permanent is **very** permanent.

The issue with the wagtail redirect is that you have to do i

[2020-10-30 16:57] taisdesouzalessa commented on #5546
I don't have access to it :(. Will ping engineers and also ask them a walkthrough to teach me these redirect too when PNI is over.

[2020-10-30 18:18] mmmavis commented on #5410
This is done!

[2020-10-30 18:18] #5410 closed

[2020-10-30 20:58] taisdesouzalessa commented on #5198
Did a review of them and have some suggestions, questions for @kristinashu (marked in column F, second tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ/edit?usp=sharing)). I'll wait for those answers before proceeding and requesting redirects from devs.

[2020-10-30 23:05] sabrinang commented on #4819
For donation photos typically we want the logo prominent and a good photo. I looked at some tips from a [nonprofit blog](https://www.networkforgood.com/nonprofitblog/how-choose-best-pictures-use-your-online-donation-software/). I explored some options from our photo library:

<img width="1606" alt="image" src="https://user-images.githubusercontent.com/2492510/97763616-62025200-1ac9-11eb-9f5e-ba5c2

[2020-10-30 23:20] taisdesouzalessa commented on #5198
Got answers from Kristina, updated URLs with the new suggested ones from [this spreadsheet](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ) - second tab.

Action items before sending those to dev:
- [ ] Build Fellowships Projects page in new URL (cell F27)
- [ ] Ask Ann Marie if we can redirect all updates pages to the ["news" page ](https://foundation.mozilla.

[2020-11-02 15:51] taisdesouzalessa commented on #4819
Those look great, Sabs! I also love the fact you found a source with tips for nonprofits. I think any of them would work, those are all great pictures.

[2020-11-02 16:03] #5423 closed

[2020-11-02 16:04] KalobTaulien commented on #5360
This is _not_ urgent. I think the way we're doing it now is the way everyone else is handling this same scenario. @Pomax – I think we're good to close this, or icebox it for a later date.

[2020-11-02 17:06] taisdesouzalessa commented on #5197
@kristinashu @jamilasnell this is ready to go. Redirects described on the spreadsheet (I edited Kristina's ticket)

[2020-11-02 17:56] Pomax commented on #5549
I think scss vars are good for "static" values, i.e. things that aren't going to even change. That includes things like styleguide colors, breakpoints, etc.

For more fluid values, e.g. custom front-end work with spacing that is independent of bootstrap, or "cool custom stuff" like the youtube tunnel or creep-o-meter things, having the flexibility of CSS variables feels worth using.

[2020-11-02 18:04] Pomax commented on #5412
we decided to reuse the code we already have in place, since it's already CSS+SVG based, but recolored to match the new comps

[2020-11-02 18:05] Pomax commented on #5422
this work landed!

[2020-11-02 18:05] #5422 closed

[2020-11-02 18:06] Pomax commented on #5424
adding kalob as the third point is related to #5412

[2020-11-02 18:07] mmmavis commented on #5544
PR merged!

[2020-11-02 18:07] #5544 closed

[2020-11-02 18:08] Pomax commented on #5463
This work can move ahead, but should not land until close to release.

[2020-11-02 18:10] Pomax commented on #5360
I'll move this to stretch for now

[2020-11-02 18:12] Pomax commented on #5160
Moving this to stretch for now, feel free to move back when we finish up the PNI work early

[2020-11-02 18:14] taisdesouzalessa opened #5555 "[What We Fund] Delete old pages"
_Blocked by #5197_

**To do:**
- [ ] Confirm with Engineers that they completed this task: #5197
- [ ] Delete old CMS pages (urls [here](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ/edit?usp=sharing): column A, tab "What We Fund Redirects")

[2020-11-02 18:16] taisdesouzalessa commented on #5198
Old pages can only be deleted once Devs do the redirects. A new ticket was created for this work here:  #5555. Closing this one.

[2020-11-02 18:16] #5198 closed

[2020-11-02 18:22] Pomax opened #5556 "PNI launch: ensure we have enough dynos running before mail-out"
While heroku is set to autoscale based on demand we probably want to make sure that heroku is already scaled up before we send out our emails/notices.

This will require some more work than just prescaling, because the autoscaler will immediately scale back down if it doesn't see the expected load, requiring a temporary bypass. @cadecairos did give us instructions on how to do this, but we'll need

[2020-11-02 18:26] kristinashu commented on #5463
Right, this should be pushed live on Thurs Nov 5.

[2020-11-02 18:37] Pomax commented on #5424
acceptance criterium folded into https://github.com/mozilla/foundation.mozilla.org/issues/5412

[2020-11-02 18:37] #5424 closed

[2020-11-02 21:32] mmmavis commented on #5546
Hey @taisdesouzalessa , I never did this myself so it's best that we loop Pomax in so he can demo it to both of us. Maybe we can try finding time Thursday this week if we wanna close this ticket by this milestone.

[2020-11-02 22:39] mmmavis commented on #5546
So we need to first figure out if that page is English-only. If so, we can do the redirect via `Settings > Redirects`. If we need to take localization into account it will require new code set in `redirects.py` to make that happen.

[2020-11-03 13:38] tomusher commented on #5556
Hirefire is used for autoscaling - to force it to scale up, we can increase the minimum number of dynos it will scale down to.

To do this:

1. Login to https://manager.hirefire.io/ with the HireFire credentials in 1password
2. Find the applicable site in the list and select the 'web' manager in the list.
3. In the manager details page, click the cog to the top right of the Manager pane
4. Increas

[2020-11-03 17:29] TheoChevalier commented on #4593
@sabrinang Are the final category images going to include the category name (or any other text) like in the preview above? If so, let me know and I will file a ticket to get these localized

[2020-11-03 18:08] mmmavis commented on #5426
Yup!

Closing it now!

[2020-11-03 18:08] #5426 closed

[2020-11-03 18:16] taisdesouzalessa commented on #5546
I pinged Jesse and I'll get back to you here once I have the answer to the question above. Thanks, Mavis!

[2020-11-03 18:25] taisdesouzalessa commented on #5546
@mmmavis it is English-only for now. So the easier solution seems to apply. I don't have permissions to do the Redirect via CMS, could you grant me permission so I can do it myself? Tks!

[2020-11-03 18:46] mmmavis opened #5559 "PNI - adjust search bar width"
Adjust search bar's width so it aligns better with mobile category nav (refer to design on the right and ignore the one on the left)
<img src="https://user-images.githubusercontent.com/2492510/97931152-dd5e4080-1d21-11eb-9954-5974d9961c62.png">

For more context see See https://github.com/mozilla/foundation.mozilla.org/pull/5551#issuecomment-720788496

[2020-11-03 18:52] sabrinang commented on #4593
@TheoChevalier Natalie checked with Audrey and mentioned that these images can be without text so we don't need to localize them. Thanks for being so diligent and checking!

[2020-11-03 19:34] anilkanji commented on #5556
FYI PNI launching November 11, launch email set to go out November 12.

[2020-11-03 19:44] mmmavis commented on #5417
PR merged!

[2020-11-03 19:44] #5417 closed

[2020-11-03 22:07] taisdesouzalessa commented on #5486
Still a work in progress and messy but I think it is a perfect opportunity for a team feedback: [doc here](https://docs.google.com/document/d/1y6hcLihiF3LSHd-dt-GroP4a8zaLgoMWIlLdV9Oh1mQ/edit?usp=sharing). @kristinashu @sabrinang @natalieworth would you be able to give some feedback by the end of the week? I intend to clean up this doc by Friday or so - and it will be open to feedback after that t

[2020-11-03 22:45] KalobTaulien commented on #5412
Closing this PR as it's been manually merged into #5558

[2020-11-03 22:47] KalobTaulien commented on #5412
Also want to give a big shout out to @hyshka for helping me solve a Firefox twitch when we use a fixed element inside of a sticky element. 🎉 Thank you!

[2020-11-04 00:15] mmmavis commented on #5546
@taisdesouzalessa Yup! You should have access now!

[2020-11-04 00:43] sabrinang commented on #4819
I exported the OG image ideas for donate.mozilla.org in redpen here: https://redpen.io/p/db9f5de9719c12a64a

Please review or leave any feedback @kristinashu @natalieworth @taisdesouzalessa @WillatMozFdn

[2020-11-04 11:24] TheoChevalier commented on #4593
Perfect, thank you!

[2020-11-04 17:14] taisdesouzalessa opened #5562 "PNI: Comment Tap on Product Pages"
**Background:**
I forgot to add an extra event in the product page (sorry!), I wanted to know how many people tap the button "sign in to comment" as this may be a form of light engagement (same level as "sharing a page")

<img width="970" alt="image" src="https://user-images.githubusercontent.com/22157921/98143171-9be2a800-1e7d-11eb-88b0-48c7c9a54c97.png">

**To do**
- [ ] Add event as described o

[2020-11-04 17:27] kristinashu opened #5571 "PNI: search box style improvements"
Two nice-to-haves for the search box.

### Edge of the search icon is cut off on desktop

- [x] Show the entire icon

Screen cap from PR https://github.com/mozilla/foundation.mozilla.org/pull/5561
<img width="43" alt="Screen Shot 2020-11-04 at 9 12 11 AM" src="https://user-images.githubusercontent.com/1068783/98144300-165ff780-1e7f-11eb-9106-d47244af9d7f.png">

### Expand the hit area for the expa

[2020-11-04 18:41] Pomax commented on #5571
technically the hitbox is already huge, it's just missing the `cursor: pointer` part, so both of these should be easy to add

[2020-11-04 18:57] taisdesouzalessa commented on #5244
this issue is being worked here #5546. Closing this ticket.

[2020-11-04 18:57] #5244 closed

[2020-11-04 19:37] mmmavis commented on #5562
Hey @taisdesouzalessa , unfortunately since this is an iframe from outside of foundation.mozilla.org, we can't access / attach GA event to elements within it.

I'm gonna close this ticket since it's not possible for us to do.

[2020-11-04 19:37] #5562 closed

[2020-11-04 20:26] taisdesouzalessa commented on #5546
I did the redirects (screenshot below). First one **doesn't work** and the second one **does**. Any thoughts on why the /en/ redirect is not working? Maybe I am missing something here.

<img width="1393" alt="image" src="https://user-images.githubusercontent.com/22157921/98155869-cb98ac80-1e8b-11eb-9188-0fe17f0bc6c8.png">

[2020-11-04 20:27] kristinashu commented on #5472
Via Jen:

Janice is going to work on the methodology section tomorrow and then we both hope to have our about page content to Emily the lawyer for review on Friday. Hopefully it won’t take her long to review it.

Kevin has this doc ready to go to update the media page in the about section https://docs.google.com/document/d/1ZFZcHfAubnyeXJCpFlA6rJkJKJku4FI6LfFDvRQpTto/edit

cc @jamilasnell

[2020-11-04 21:40] kristinashu commented on #5472
Marking this as unblocked since it can get started on even though we done have all the content yet.

[2020-11-04 21:42] kristinashu commented on #5472
Shoot, wrong ticket. This should be in https://github.com/mozilla/foundation.mozilla.org/issues/5471

[2020-11-04 21:42] kristinashu commented on #5471
Via Jen:

Janice is going to work on the methodology section tomorrow and then we both hope to have our about page content to Emily the lawyer for review on Friday. Hopefully it won’t take her long to review it.

Kevin has this doc ready to go to update the media page in the about section https://docs.google.com/document/d/1ZFZcHfAubnyeXJCpFlA6rJkJKJku4FI6LfFDvRQpTto/edit

Marking this as unblocke

[2020-11-04 21:44] kristinashu commented on #5472
Assigning to @sabrinang to update with comps and copy doc once it's ready - PNI: update content on the "About the guide" pages #5471

[2020-11-04 21:49] taisdesouzalessa commented on #5530
Connected events related to the product pages. Waiting on homepage to connect the remaining events.

@sabrinang @natalieworth when you have some time can you please look [at the dashboard ](https://datastudio.google.com/reporting/3e7cca08-7764-4c6e-835f-6dffeae3df22) and let me know if it makes sense to you? I added some conversion rates on pages 3 and 4 and I am not super confident I am getting t

[2020-11-04 23:34] taisdesouzalessa commented on #5500
@mmmavis do you think we will be able to sort this out this sprint? We've discussed this via Slack a while ago (I am not able to move the RCS Challenge page inside the Awards folder in Wagtail because there was a conflict on page types (if I am not mistaken). If you're busy with PNI this sprint we can move it to the next one, just let me know :).

The question was if we want to allow **default pag

[2020-11-04 23:51] Pomax opened #5575 "PNI search cleanup"
File changes mostly in https://github.com/mozilla/foundation.mozilla.org/pull/5561

- [ ] Break this work down into smaller stories and add to Epic
- [ ] This code definitely needs a cleanup pass, and possibly a revisit to "do it right" rather than "make it workish".
- [x] set up html scaffolding so that the "hit area" for the search bar can be made to extend beyond the standard element bounding b

[2020-11-05 00:35] mmmavis commented on #5412
PRs have been merged. Code cleanup is needed but will be tackled as followup. See https://github.com/mozilla/foundation.mozilla.org/issues/5575

[2020-11-05 00:35] #5412 closed

[2020-11-05 01:22] mmmavis commented on #5559
I should work on the GA events ticket first. Gonna release this ticket back to the unassigned pool.

[2020-11-05 16:37] taisdesouzalessa commented on #5505
Illustrations done, waiting for design review.

[2020-11-05 17:04] #5463 closed

[2020-11-05 17:12] Pomax opened #5577 "Update the fake PNI data to make sure products have review dates on/after oct 29th"
We bumped the cutoff date for PNI products to 2020/10/29 which means we need to bump the "fake data" review_date fields to start on that date (they're currently set to 2018)

[2020-11-05 17:17] #5571 closed

[2020-11-05 17:36] kristinashu commented on #5559
Can I piggyback off this ticket?

### Search box width should stay the same when a user clicks into it
I noticed that at narrow widths the search box changes width slightly when I click into the it.
- [ ] Search box should stay the same width at narrow widths

**Screen cap from a PR**
<img width="445" alt="image" src="https://user-images.githubusercontent.com/1068783/98275768-e598c480-1f49-11eb-8c

[2020-11-05 18:34] kristinashu commented on #5556
Via @taisdesouzalessa here are the numbers for PNI 2019. I kept the data range bigger than a few months because we had a very high peak on May 2020. The biggest numbers in a given day were 13,835 (11/27/19) and 16,734 (4/28/20). More details can be seen [here](https://drive.google.com/drive/folders/1322hi_4cxl1FyyPGb3JFU321Zvc4lEpp).

cc @phildexter @jamilasnell

[2020-11-05 19:13] kristinashu commented on #5536
Thanks @taisdesouzalessa! I think we should go with `/insights/trustworthy-ai-whitepaper`

[2020-11-05 19:16] kristinashu opened #5581 "Onboard stakeholders to the publications template"
@jamilasnell will lead teaching the stakeholders (possibly the Insights team, Trustworthy AI team, and maybe the mozfest book team). But @sabrinang will need to learn and then teach the teacher first! I think it will be useful to also onboard @natalieworth @taisdesouzalessa to the process as well.

[2020-11-05 20:14] sabrinang opened #5583 "PNI: category dropdown on product pages"
- [x] show `All` in its unselected, grey text state.
- [x] Reduce white space gap beneath.

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/2492510/98291506-12f06d00-1f60-11eb-9a33-ed4863de0433.png">

[2020-11-05 21:53] sabrinang commented on #5471
Jen gave me an update today:

- Why We Made This Guide copy doc:
https://docs.google.com/document/d/1liqlnktlNG5jfi0kcbi3jGXUH6Yh9pWAMCXJ1rVqezs/edit?usp=sharing
- the “how to use this guide” is being sent to lawyer for review (hopefully receive it back no later than tomorrow morning)
- the "methodology" section is being worked on by Janice (should have that done by tomorrow morning and hopefully

[2020-11-05 22:19] mmmavis commented on #5500
@taisdesouzalessa yes, please move this to next sprint.

One note is that all child pages will show up as secondary nav links on /awards. This means RCS Challenge will show up there as well.

I think this should be fine to do. But let's meet after stand (on next Thursday?) with Kristina and Pomax before we go ahead and make the changes in case I missed anything.

[2020-11-05 22:32] mmmavis opened #5585 "PNI - mobile category nav on about page should not include about page menu"
### Describe the bug

Mobile category nav on about page should not include about page menu. This is because there are two `#multipage-nav` on the page. We should rename the one on about page menu.

### To Reproduce
Steps to reproduce the behavior:
1. Go to PNI about page on mobile view
2. Expand the category nav
3. Notice that about page menu items show up in the nav (they shouldn't be there)

###

[2020-11-05 22:38] #5577 closed

[2020-11-05 22:41] sabrinang commented on #5471
- How to Use This Guide copy doc (approved): https://docs.google.com/document/d/1kj3E7KjJPfqwA9KWU1PD0V4KtiZDAnfoCuyVigG6XKU/edit

[2020-11-05 23:40] #5583 closed

[2020-11-06 00:00] #5585 closed

[2020-11-06 02:47] sabrinang commented on #5471
Updated in abstract - collection link here: https://share.goabstract.com/13e6fcf6-1c04-4bdf-9bb1-29cd6ac1f2b6

_note: placeholders for methodology, minimum security standards and contact pages_

[2020-11-06 03:23] kristinashu commented on #5556
Via @anilkanji: emails going out to promote PNI on Nov 12, 27, Dec 9, Dec 17. I think 1.8M is our entire list including inactives - we sent to a smaller list last year - and we're not much that bigger now - here are the results from last year's launch email

![image](https://user-images.githubusercontent.com/1068783/98322377-1d305c80-1f9c-11eb-8cd0-c039cd3d12a4.png)

[2020-11-06 04:06] #5492 closed

[2020-11-06 04:07] #5497 closed

[2020-11-06 05:30] kristinashu opened #5587 "PNI: category pages aren't ordered by creepiness"
I'm pretty sure category pages aren't showing products in order of not creepy to creepy like they should. This is apparent in the order the products appear and also when the creep-o-meter doesn't always appear as not creepy to creepy.

Screen cap from "All" were Nintendo is the least creepy.

<img width="1159" alt="Screen Shot 2020-11-05 at 9 22 26 PM" src="https://user-images.githubusercontent.co

[2020-11-06 05:34] kristinashu opened #5588 "PNI: search text doesn't reset"
To reproduce
1. Type in a search word
2. Click on a product
3. Click browser back button
4. Click the search icon

What happens
- The search box is pre-filled with the search word I previously typed in and the `x` icon in the search box is missing

What should happen
- The search box is empty

Screen cap showing the text and no `x`:
<img width="1160" alt="Screen Shot 2020-11-05 at 9 20 38 PM" src=

[2020-11-06 15:42] TheoChevalier opened #5589 "[PNI] Menu appears over Newsletter banner on product pages"
### Describe the bug
On product pages, the PNI menu stays on top of the newsletter banner when you open it. @kristinashu confirmed it should stay behind it

### To Reproduce
Steps to reproduce the behavior:
1. On Desktop, go to any product page (e.g. https://foundation.mozilla.org/en/privacynotincluded/products/nintendo-switch/)
2. Click "Newsletter" on the main menu

### Expected behavior
The PNI

[2020-11-06 15:48] taisdesouzalessa commented on #5556
**Do we know if those big spikes correspond with days emails were sent out?**
_We know and the answer is: sometimes. For the second big spike (on April), email was sure a big factor (as it is in the majority of our initiatives). However for the first big spike (Nov, 2019) the main factor seems to be social and direct (we tend to have lots of media coverage for PNI) and also snippet (Lindsay may be

[2020-11-06 16:00] Pomax commented on #5587
Good catch: categories never sorted on creepiness before. Thankfully this only needs a tiny change to make it do the right thing.

[2020-11-06 16:08] Pomax commented on #5588
looks like we just forgot a `value=""` to ensure browsers don't use previously cached values.

[2020-11-06 17:19] #5588 closed

[2020-11-06 17:20] #5587 closed

[2020-11-06 17:50] taisdesouzalessa opened #5592 "Do an affinity diagram for A&E team activity from Friday (Nov 6th)"
**Background**
Taís suggested to Ashley to do an affinity diagram of [this doc](https://docs.google.com/document/d/11izabjmtNWJ4GP24q2n5LEGewG3GSU9Dev7TnZad8sw/edit?usp=sharing) so the clusters are more visible

**Deadline**
EOD Nov 13

**Relevant links**
Affinity diagram from previous session (Oct 27): https://mozilla.invisionapp.com/freehand/document/qWfno0knb

[2020-11-06 18:43] taisdesouzalessa commented on #5500
Moving this to next sprint as Engineers are busy with PNI. We will need some conversations to happen to move this project forward.

cc: @jamilasnell @kristinashu

[2020-11-06 19:06] mmmavis commented on #5546
@Pomax can you lend a hand here?

[2020-11-06 19:18] mmmavis commented on #5549
I'm good with choosing the more suitable type of vars on a case by case basis.

Closing this ticket. 🎉

[2020-11-06 19:18] #5549 closed

[2020-11-06 19:33] sabrinang commented on #5471
Updates from Jen:

- Methodology copy doc (Jen mentioned it's approved but there is the one outstanding question in there but 99% sure it will be OK with us mentioning them and it might take a bit for us to confirm but doesn't want to hold us back): https://docs.google.com/document/d/1RMBjiVOO4knkpMh3yRT2lF5nxDN8jx66ePNuSuri1dk/edit?usp=sharing
- Contact page: isn’t changing at the moment
- MSS ex

[2020-11-06 20:05] sabrinang commented on #4819
exports of all og images are in gdrive here: https://drive.google.com/open?id=1BrNxynsfv5uG-NxWCt7zdLI6jklcGXYC&authuser=sabrina%40mozillafoundation.org&usp=drive_fs

[2020-11-06 20:44] WillatMozFdn commented on #4819
Hey Sabrina, thanks so much!!!  Let's go with mozilla-foundation_donation-og-image_1@2x (the one at upper left in the 3 x 2 montage up there ^^ in this thread, guy at Mozfest pointing while some kids look on.)  Generally speaking I like it the best (action-oriented, has diversity of people/races/ages), but also -- it has a long history of use as the default image on our donate page. We're slowly m

[2020-11-06 21:20] kristinashu opened #5594 "PNI: triage feedback from Jen"
Jen as some bits of feedback, nothing pressing. Will wait for all the feedback to trickle in and then triage it accordingly.

Running list of misc feedback from Jen:
- Expand what could go wrong text box in the CMS so it’s like the blurb one and not all on one line (it’s hard to review when it’s all on one line)
- Add a text field for user-friendly privacy section (or move the help text section fr

[2020-11-06 21:36] taisdesouzalessa opened #5595 "RCS Challenge + Playbook: pre-launch list"
Update: act on Kathy's feedback - added at the end of the thread. Content not finalized yet.

**[Playbook:](https://foundation.mozilla.org/en/what-we-fund/awards/responsible-computer-science-challenge-rcs-playbook/)**
- [ ] make sure content is finalized
- [ ] do a last design review (usability issues/formatting issues), all illustrations are done so we shouldn't have any asset to create

**[RCS C

[2020-11-06 21:37] taisdesouzalessa commented on #5505
Content will be final by mid-November. I got the illustrations done and had the page content updated by Jenn and Kathy (thank you both!). I'll close this ticket. Created a new one for the last step: do a last design review once all content is in place (ticket is blocked by content): #5595

cc: @jamilasnell @kristinashu

[2020-11-06 21:37] #5505 closed

[2020-11-06 21:43] sabrinang commented on #4819
Great thanks for review Will and we can go with [mozilla-foundation_donation-og-image_1@2x ](https://drive.google.com/file/d/1CVJSegDKRD5ZbeiUrLX3n0NxPVJnsPJQ/view?usp=sharing)

I filed the implementation ticket here: https://github.com/mozilla/donate-wagtail/issues/1207

[2020-11-06 21:43] #4819 closed

[2020-11-06 23:24] mmmavis commented on #5559
@sabrinang does the above apply to tablet and below OR just mobile?

[2020-11-06 23:44] sabrinang commented on #5471
Styling Notes:
- I used existing styles on what is found on PNI prod _(note: these are different heading styles than foundation site)_
- Show current page (black/underline style in side nav)
- Changed light italics to regular italics
- Category nav hidden
- Included alternative press layout with logos (image text style)

Updated via Abstract — @kristinashu ready for review: https://share.goabstrac

[2020-11-06 23:54] sabrinang commented on #5559
@mmmavis I'd say tablet and below as it changes to dropdown <768px so adjust it to the exposed search bar style to match the width.

[2020-11-06 23:54] kristinashu commented on #5471
+R looks good and is consistent with existing styles!

[2020-11-07 00:03] sabrinang opened #5596 "PNI - Wagtilification & Localisation Design QA"
Provide any design support to Pomax and Kalob as they will be turning Privacy Not Included into a full wagtail site. In this sprint, it may mostly be backend but provide design support _(general design reviews of PRs, QA, and answering questions) throughout the development process.

Related epic: https://github.com/mozilla/foundation.mozilla.org/issues/5506

[2020-11-07 00:12] sabrinang opened #5598 "#DearInternet - Landing Page Planning"
- [x] Stakeholder Kickoff with Audrey https://github.com/mozilla/foundation.mozilla.org/issues/5618
  - fill out brief and conduct [interview](https://docs.google.com/document/d/1cPPRZBq9LbBbrIYywXTBzWgykVzjDCXuwK4X5D2bT_I/edit)
  - ask Audrey about legal review process (sharing story submissions)

_____________

- [x] Create project timeline https://github.com/mozilla/foundation.mozilla.org/issue

[2020-11-07 00:14] sabrinang commented on #5598
cc @mmmavis

[2020-11-07 00:48] #5471 closed

[2020-11-07 00:49] sabrinang commented on #5472
Copy Documents:
 - Why We Made This Guide: https://docs.google.com/document/d/1liqlnktlNG5jfi0kcbi3jGXUH6Yh9pWAMCXJ1rVqezs/edit?usp=sharing
- How to Use This Guide: https://docs.google.com/document/d/1kj3E7KjJPfqwA9KWU1PD0V4KtiZDAnfoCuyVigG6XKU/edit
- Methodology: https://docs.google.com/document/d/1RMBjiVOO4knkpMh3yRT2lF5nxDN8jx66ePNuSuri1dk/edit?usp=sharing
- Minimum Security Standards Explained

[2020-11-09 17:00] kristinashu opened #5608 "PNI: badges on related products"
Todo

- [x] Remove MSS badge
- [x] Add *privacynotincluded warning badge, when applicable

Screen cap from prod
<img width="679" alt="Screen Shot 2020-11-08 at 1 46 52 PM" src="https://user-images.githubusercontent.com/1068783/98571497-6d900e80-2269-11eb-830d-0745cf27b181.png">

cc @sabrinang in the future it might be worth exploring ways to make these thumbnails look more like the homepage

[2020-11-09 17:24] #5427 closed

[2020-11-09 18:32] #5446 closed

[2020-11-09 19:39] #5589 closed

[2020-11-09 20:59] kristinashu opened #5610 "PNI: increase hit area of search bar"
Phil and I both tried to active the search by clicking the right of the search icon. We think it would be better UX if the hit area expanded much more to the right (perhaps all the way to the creep-o-meter face).

Todo
- [ ] Expand hit area (and cursor state) to the right of the search icon

![Screen-Shot-2020-11-09-at-12 54 48-PM](https://user-images.githubusercontent.com/1068783/98595653-2024990

[2020-11-09 21:02] Pomax opened #5611 "Remove or rename seal-of-approval mixin/classes"
We removed the MSS badge from PNI products, which means we should either remove all the `seal-of-approval` mixin/class code in our SCSS, or if we reused that for the new privacy ding, we should rename it to match its new role.

See https://github.com/mozilla/foundation.mozilla.org/pull/5609

[2020-11-09 21:14] kristinashu commented on #5536
I've started the very basic structure https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/ - mostly just to make sure I understand I know what's going on... So far so good!

[2020-11-09 21:26] kristinashu commented on #5389
@KalobTaulien will this component be user to use once PNI is fully in wagtail? As in, is wagtail's default multi selector better?

[2020-11-09 22:24] Pomax commented on #5610
given how the search bar is currently implement, we can't extend the hit area further right. We can only do this by rewriting the html+css that we're currently using, which we won't be able to do before launch.

[2020-11-09 22:45] kristinashu commented on #5610
Ok thank you for looking into it Pomax.

[2020-11-09 22:50] #5559 closed

[2020-11-09 23:22] Pomax commented on #5543
roger - added that as acceptance criteria

[2020-11-10 00:00] Pomax opened #5613 "company track record value is not stable, causing percy to always trigger."
![screenshot 572](https://user-images.githubusercontent.com/177243/98610497-8c5fc680-22a4-11eb-8fe1-e378c1d7607b.png)

[2020-11-10 00:00] #5608 closed

[2020-11-10 03:19] taisdesouzalessa commented on #5530
Events added, QA done.
Next steps: "sharing to staff" list.

[2020-11-10 14:37] TheoChevalier opened #5614 "Intro string on What We Do is too long to be localized"
Hey @kristinashu, I published the [German version of What We Do](https://foundation.mozilla.org/de/what-we-do/), but I ran into an issue with the `Intro` field — the translations are well over the 250 characters limit, and the EN copy is 246 characters

Current copy:

`Mozilla invests in bold ideas, global leaders, and the convening and campaign power of people. For more than two decades, we’ve wo

[2020-11-10 17:07] #5360 closed

[2020-11-10 17:14] #5493 closed

[2020-11-10 17:17] kristinashu commented on #5160
Closing this. Still not sure what the mozfest team has decided but will open a new ticket when they do.

[2020-11-10 17:17] #5160 closed

[2020-11-10 17:18] kristinashu commented on #5596
Sabs, I think you're going to be pretty busy so I can take this ticket on.

[2020-11-10 17:29] jamilasnell opened #5615 "MozFest Dev Specific Landing Page"
Allow the mofest homepage to have additional homepages as children, so that we can make a mozfest landing page that is specifically geared towards devs

Acceptance Criteria
- [x] CMS users can create a homepage as a child of a homepage
- [x] Nav doesn't change when homepages are created/added
- [x] Nav on child page keeps working as on the real homepage

[2020-11-10 17:37] jamilasnell opened #5616 "Build #DearInternet page - front end (MVP no animation/effect version)"
Content Team wishes to have #DearInternet page with custom layout. Design to inform dev about specific of page.

Front end ticket for #DearInternet Page. This ticket covers tasks needed for the MVP no animation/effect version. Depending on the final design, I might end up creating more sub-tickets to break down the work further.

Google Doc for context: https://docs.google.com/document/d/1hCb1jWsY

[2020-11-10 17:38] jamilasnell commented on #5616
@mmmavis @sabrinang please customize this ticket as you see fit!

[2020-11-10 17:39] jamilasnell commented on #5537
@sabrinang is this image available yet? Please let us know when this image is here so we can proceed with this task. Thank you!

[2020-11-10 17:40] jamilasnell commented on #5610
@kristinashu Should we close this ticket? Or keep it for cleanup stage later?

[2020-11-10 17:48] kristinashu commented on #5610
Please keep it.

[2020-11-10 17:50] sabrinang commented on #5537
@jamilasnell No, design issue is blocked - Natalie mentioned they sent last round of feedback to contractor so should have them today or tomorrow.

[2020-11-10 17:50] taisdesouzalessa commented on #5530
Closing this issue and I'll open a small one for next sprint more as a checklist so we don't forget. Items to be transfereed to the new ticket:

• pin it to one of the PNI slack channels
• ask Jen to include the link in the PNI marketing meetings

[2020-11-10 17:50] #5530 closed

[2020-11-10 17:54] taisdesouzalessa opened #5617 "Analytics for PNI: staff visibility"
Our dashboard is ready and has a Bit.ly short link: [bit.ly/pni-dashboard](http://bit.ly/pni-dashboard)

Things we still need to do to improve staff's visibility to it:

- [x] pin it to PNI slack channels:  "mofo-pni-v4" channel and "mofo-buyers-guide""
Jen is cool with that, channel descriptions updated.

- [x] ask Jen to include the link in the PNI marketing meetings
Jen is cool with that!

[2020-11-10 18:33] sabrinang opened #5618 "#DearInternet - Stakeholder Kickoff"
Stakeholder Kickoff with Audrey

- [x] schedule kick-off call
- [x] fill out brief and conduct [interview](https://docs.google.com/document/d/1cPPRZBq9LbBbrIYywXTBzWgykVzjDCXuwK4X5D2bT_I/edit)
- [x] ask Audrey about legal review process (sharing story submissions)
- [x] chat about project timeline and milestones

Planning issue: https://github.com/mozilla/foundation.mozilla.org/issues/5598

[2020-11-10 18:34] sabrinang opened #5619 "#DearInternet - Timeline + Scope Requirements"
- [x] Create project timeline document
- [x] Include technical requirements scope with Stakeholder/Front-End
- [x] schedule chat with devs

Planning issue: https://github.com/mozilla/foundation.mozilla.org/issues/5598

[2020-11-10 18:34] sabrinang opened #5620 "#DearInternet - Benchmarks & Brainstorm"
- [ ] Create google slide benchmarks & Brainstorm (3) Directions
 - explore range from blue sky to MVPs
 - include live sites, code examples to exemplify ideas to Mavis

Planning issue: https://github.com/mozilla/foundation.mozilla.org/issues/5598

[2020-11-10 18:36] sabrinang opened #5621 "#DearInternet - Benchmarks & Brainstorm"
- [x] Create google slide of Benchmarks & Brainstorm (3) Directions
- explore range from blue sky to MVPs
- include live sites, code examples to exemplify ideas to Mavis

Planning issue: https://github.com/mozilla/foundation.mozilla.org/issues/5598

[2020-11-10 18:38] #5620 closed

[2020-11-10 18:48] KalobTaulien commented on #5510
@Pomax I ditched the old PR and opened this new one as it was easier and quicker than sorting through all the other stuff it had in it.

I also opened a feature branch off of master to shovel all this PNI-to-Wagtail conversion work.

[2020-11-10 18:51] sabrinang commented on #5618
Kickoff call scheduled for Thursday Nov 12

[2020-11-10 18:53] sabrinang commented on #5618
@Audreymofo if you want to fill out any notes for the landing page design brief before our call feel free to do so here: https://www.google.com/url?q=https://docs.google.com/document/d/1amXbYnx3iN6fVDb9SDRIOCwwPStcMKZ90xkgKE2y6ps/edit?usp%3Dsharing&sa=D&source=calendar&ust=1605466268269000&usg=AOvVaw2JRPJPvrllNhqIrxe6Gl3p

[2020-11-10 19:10] anilkanji commented on #5615
@marcwalsh FYI

[2020-11-10 19:36] taisdesouzalessa commented on #5500
I'll book a meeting with us all on Thursday: Pomax, Kristina, Mavis and I.

[2020-11-10 19:53] taisdesouzalessa commented on #5617
All done, closing this ticket.

[2020-11-10 19:53] #5617 closed

[2020-11-10 20:58] Audreymofo commented on #5618
Hey! Is it possible to do the call Wednesday? I have a volunteer call for the food bank I volunteer at 6pm Thursday

Sent from my iPhone

[2020-11-10 21:16] Pomax commented on #5613
The only difference I can tell might be involved here is that the value is "direct" as opposed to "lazy", so I'll make it a lazyfunction and see if that fixes things.

[2020-11-10 23:28] taisdesouzalessa commented on #5486
Draft: [V0.5 here →](https://docs.google.com/document/d/1y6hcLihiF3LSHd-dt-GroP4a8zaLgoMWIlLdV9Oh1mQ/edit?usp=sharing)

Closing this ticket: email was sent to group team members requesting feedback and next meeting will happen on Nov 18.

[2020-11-10 23:28] #5486 closed

[2020-11-10 23:40] sabrinang commented on #5618
@Audreymofo It's a Candian holiday tomorrow for us and I'm attending a conference in the morning so Wednesday is unlikely.

Any other time Thursday? _(gcal was looking occupied so I didn't know what other time block would work)_

[2020-11-10 23:47] sabrinang commented on #5619
Dev chat scheduled for Thursday Nov 12 afternoon

[2020-11-11 00:06] kristinashu commented on #5614
Hi @TheoChevalier I think increasing the character count to 350 sounds good. I don't have any design concerns with that.

[2020-11-11 00:57] Pomax opened #5627 "clean up the about page nav link CSS override + em dashes"
@KalobTaulien had to do some rejiggering of the CSS for the about page nav links:

- [ ] we should have a look at to see whether that feels good, or whether we can do that cleaner. See the `network-api/networkapi/buyersguide/templates/about/about_nav.html` file.
- [x] We're also mixing `&mdash;` and `—`, and mixing "em dash with spaces" with "em dash without spaces" so let's clean that up at the s

[2020-11-11 01:01] #5472 closed

[2020-11-11 15:18] marcwalsh commented on #4978
This was fixed in Wagtail to change from redirecting both the Foundation and MozFest site to just the Foundation site.

[2020-11-11 15:18] #4978 closed

[2020-11-12 14:54] TheoChevalier commented on #5627
@KalobTaulien @mmmavis Whoever is taking this ticket, please add changes on top of this branch — I took a head start https://github.com/mozilla/foundation.mozilla.org/tree/about-pages-copy-fixes

[2020-11-12 17:06] sabrinang commented on #5619
Started the doc with rough project timeline and where we take notes for technical requirements https://docs.google.com/document/d/1hCb1jWsYes39vXXbAWyhVp-BYmisT0ND3Svd6RNPi0g/edit?usp=sharing

We will review this at stakholder, dev, feedback chats as this is dependent on scope and direction.

[2020-11-12 17:09] sabrinang commented on #5621
Google slide with benchmark and direction sketches: https://docs.google.com/presentation/d/1K8jTphrtfhxvSxpGSBg1KbojOyJj02YzErO7TgAyufc/edit?usp=sharing

Can review them at kickoff, dev chat and crit later today

[2020-11-12 17:17] kristinashu commented on #5556
Via Tom on Slack

[2020-11-12 17:17] #5556 closed

[2020-11-12 17:18] KalobTaulien commented on #5143
Yes! This is old

[2020-11-12 17:18] #5143 closed

[2020-11-12 17:37] anilkanji commented on #5615
From Marc:
  *  We're looking for the homepage template to be available as a child page template - mostly so we have the video banner and header style available to use for when we're creating the landing pages for a specific audience. We will likely use this for a couple of audiences like developers and the local Amsterdam community. The pieces Jamila mentioned in the GH issue are exactly right!

[2020-11-12 18:11] natalieworth commented on #4593
Preview images for each category are in here https://drive.google.com/open?id=14-8OR8iuFRythRhXVnO99CQWtmMv_kMG&authuser=natalie%40mozillafoundation.org&usp=drive_fs

[2020-11-12 20:26] #5511 closed

[2020-11-12 20:28] taisdesouzalessa commented on #5592
Affinity diagram ready and posted [here](https://mozilla.invisionapp.com/freehand/document/qWfno0knb) - same file as the previous one so it is easier to draw comparisons

[2020-11-12 20:28] #5592 closed

[2020-11-12 20:42] #5515 closed

[2020-11-12 20:46] #5510 closed

[2020-11-12 20:46] KalobTaulien commented on #5512
This is not applicable. There are no document-based FileFields to convert.

[2020-11-12 20:46] #5512 closed

[2020-11-12 20:50] #5613 closed

[2020-11-12 20:58] Pomax commented on #5402
@KalobTaulien is working on wagtailification of the PNI app, obviating the need for this issue

[2020-11-12 20:58] #5402 closed

[2020-11-12 20:59] #4593 closed

[2020-11-12 21:15] Pomax commented on #4686
@mmmavis to have a quick look to see if this is still applicable

[2020-11-12 21:20] Pomax commented on #5256
let's file a new issue specifically for unifying BlogAuthor and ArticleAuthor as a single thing, and then close this one.

[2020-11-12 21:46] kristinashu opened #5630 "PNI: creep-o-meter isn't accurate when the PNI checkbox is selected"
via Jen

- [x] creep-o-meter should reflect the products creepiness even when the PNI checkbox is selected

[2020-11-12 21:52] #5513 closed

[2020-11-12 21:56] taisdesouzalessa commented on #5205
Met with Eeva and got the info I need to start this project. Brief here:
https://docs.google.com/document/d/1ofQRfw8rznX_6JEBXt-jCSXZmVAL5iBtrieEKMCKt0U/edit?usp=sharing

[2020-11-13 10:58] Audreymofo commented on #4593
FYI - It still looks like the link preview image hasn't changed @kristinashu

[2020-11-13 11:23] TheoChevalier commented on #4593
Yeah, that change is being reviewed here https://github.com/mozilla/foundation.mozilla.org/pull/5632 — once it’s merged and a production push has happened, it should appear live

The implementation ticket is #5537

[2020-11-13 13:21] TheoChevalier opened #5633 "Investigate making the slug field non-localizable"
We need to remove the ability to localize slugs, as it’s breaking locale negotiation and causing various other issues like thumbnails not being displayed in the /blog page.
From an earlier discussion with Cade, it was also causing issues when copying pages.

It used to be okay-ish when I was the only user publishing localized content, but:
- it’s not the case anymore
- Wagtail now quietly auto-pop

[2020-11-13 15:33] TheoChevalier commented on #5633
Ok, not as straight-forward as I thought it would be. Looks like slugs are localizable by default in wagtail-modeltranslation, so I have no clue how to override this. Removing estimate and unassigning myself

[2020-11-13 17:29] taisdesouzalessa opened #5634 "Redirects issue"
**Background:**

Recently we did 2 page redirects:

1. From `/initiatives/leadershipgiving` to `/giving/mozilla-guardian-giving-program/`
<img width="1305" alt="image" src="https://user-images.githubusercontent.com/22157921/99101254-2f5c5d00-2591-11eb-94f4-0f06dd07e625.png">

2. From `/blog/category/internet-health-report` to `/blog/category/insights/ `
<img width="1292" alt="image" src="https://u

[2020-11-13 17:30] taisdesouzalessa commented on #5546
Opened a new ticket, focused only on this issue (since it has been happening with other pages too). Assigned it to you, Mavis and Pomax. #5634. Closing this one.

[2020-11-13 17:30] #5546 closed

[2020-11-13 18:23] taisdesouzalessa opened #5635 "[bug] When we use the word "News" in H2 or H3, it seems to break the page."
Whenever I use the word "News" in H2 or H3, it seems to bring back an old layout on top of the existing one.

To Reproduce the bug:
1. Go to the page "News", inside the hub "Mozilla Insights"
2. In the Body copy change the title "Mozilla Insights News" and replaced it by "News" (keep it as H2)
3. Publish the page

Here is a gif that may be helpful
![news-bug](https://user-images.githubusercontent.

[2020-11-13 20:34] anilkanji commented on #5615
@Pomax StephMcV recommends a quick chat with her and Marc to confirm specifics around the signup form.

[2020-11-13 21:02] mmmavis commented on #5537
Updates:

Had to merge my original part 2 PR #5632 today because we wanted to land it ASAP. However, og:image on category pages were still showing the old og image on staging and I couldn't find a good fix to it. We've landed #5647 as a temp solution so all PNI pages show the same, new generic og:image.

I'm working on a fix (PR #5636, WIP) and will most likely need help from other engineers to fi

[2020-11-13 21:56] sabrinang commented on #5598
@audreymofo Thanks for meeting and going over the design brief with us. As you mentioned the need for a MVP page for next weeks milestone, please review the wagtail page here: https://foundation.mozilla.org/en/campaigns/dearinternet/

[2020-11-13 22:20] sabrinang commented on #5618
We had our call yesterday and the [brief](https://docs.google.com/document/d/1amXbYnx3iN6fVDb9SDRIOCwwPStcMKZ90xkgKE2y6ps/edit?usp=sharing) has been filled out and contains copy for MVP landing page as well.

[2020-11-13 22:20] #5618 closed

[2020-11-16 15:04] TheoChevalier opened #5646 "Fixing links that include /en in the CMS"
### Current issue:

Links to the foundation site (or MozFest, PNI…) that are used in content very often contain `/en`, forcing users that have deliberately switched to a localized version of our site to go back to the English version. Or at the very least, preventing locale negociation to automatically redirect them to the language matching their browser settings.

The English page can then contai

[2020-11-16 15:45] KalobTaulien commented on #5635
This is likely a CSS issue. Headings tend to come with an ID. So **News** would look like:
[code]

Chances are we have a `#news` CSS selector somewhere. Though I can take a deeper look at some point.

[2020-11-16 15:47] TheoChevalier opened #5647 "Increase character limit on Intro field on Banner pages"
Follow up from #5614, we will need to increase the `Intro` field char limit of Banner pages from 250 to 350 characters, so that translations can fit.

[2020-11-16 15:48] TheoChevalier commented on #5614
Thanks! Just filed #5647 for implementation, and closing this ticket

[2020-11-16 15:48] #5614 closed

[2020-11-16 17:12] Pomax commented on #5635
This looks like it's being caused by wagtail having changed the HTML it generates from streamfield body text blocks. Our code relies on the tags being "bare" (e.g. just `<h2>`) to which we manually add the `id` attribute, but the newer wagtails already include the `id` attribute, so we'll need to change https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailcus

[2020-11-16 17:24] Pomax commented on #5633
yeah, this is not something we added, but something that becomes enabled because of wagtail-moderltranslation. However, we can certainly ask on their issue tracker whether it's possible to get a settings var like `WAGTAIL_MODELTRANSLATION_NO_AUTO_SLUG_LOCALIZATION` (but then not as crazy long =D) so that the only change on our end would be to turn that flag on.

@KalobTaulien any thoughts here?

[2020-11-16 19:21] Pomax commented on #5635
Nope, this is entirely unrelated to that: it's caused by this file: https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/foundation/inject-react/news.js

Which looks for _anything with id="news"_ and turns it into a `<News>` element, no matter what page you're on. Time to change that.

[2020-11-16 19:28] sabrinang commented on #5598
Hey @Audreymofo , thanks for bringing these up! Designers and I discussed this a bit last week as well.

1. No it isn’t changeable for the quote block in wagtail. Styling wise quote attributions remain in small caps as it typically is used for name/role and not necessarily bio. I think the suggestions of using a text block in wagtail is the most flexible for various content instead so this could s

[2020-11-16 19:31] sabrinang commented on #5598
example: _Kristina's screenshot trying paragraph block_ <img width="862" alt="image(3)" src="https://user-images.githubusercontent.com/2492510/99298744-07723100-27ff-11eb-88aa-b84b00a94808.png">

[2020-11-17 11:09] Audreymofo commented on #5598
Thanks! I agree that is a good solution and looks better.

On Mon, Nov 16, 2020 at 7:31 PM sabrinang <notifications@github.com> wrote:

--
Audrey Hingle
+44 (0) 7738 095865

[2020-11-17 17:30] sabrinang opened #5650 "#DearInternet - Wireframes"
Create wireframe mockup based on chosen direction and finalize copy.

[2020-11-17 17:31] sabrinang opened #5652 "#DearInternet - Design Mockup"
Create mockup based on wireframes https://github.com/mozilla/foundation.mozilla.org/issues/5650 that includes:

- desktop and mobile screens
- art assets and typography

[2020-11-17 17:40] sabrinang commented on #5650
@Audreymofo please review what copy you want for the landing page, I iterated two options:

1 (copy from brief): https://share.goabstract.com/6b7dffe7-d1ef-48c6-a2b2-35488612074e?collectionLayerId=697f45b2-ad41-45c2-9801-421dccd0c2da&mode=design  _(goes more with the graphics we have for MVP site)_

2 (copy inspired by insta story): https://share.goabstract.com/6b7dffe7-d1ef-48c6-a2b2-35488612074e

[2020-11-17 17:41] taisdesouzalessa opened #5653 "Map action items for D&I Commitee"
I need to block some time to map action items for the D&I committee during this sprint so they have time to give feedback and we can all discuss it in the next meeting we have.

**To do:**
- [x] map action items in the slide deck
- [x] update Airtable (project management)

cc: @jamilasnell

[2020-11-17 17:42] sabrinang commented on #5652
Work in progress mockup of desktop (content direction TBD in wireframes): https://share.goabstract.com/6b7dffe7-d1ef-48c6-a2b2-35488612074e?collectionLayerId=11da7d2f-66a0-4c7e-8294-808bf5b9b6de&mode=design

[2020-11-17 17:44] sabrinang commented on #5621
@mmmavis I included more animation references on benchmark slide 7: https://docs.google.com/presentation/d/1K8jTphrtfhxvSxpGSBg1KbojOyJj02YzErO7TgAyufc/edit?usp=sharing

[2020-11-17 17:52] sabrinang commented on #5619
https://docs.google.com/document/d/1hCb1jWsYes39vXXbAWyhVp-BYmisT0ND3Svd6RNPi0g/edit?usp=sharing

@Audreymofo our project timeline for your reference and review, please let us know if anything else needs to be coordinated.
@kristinashu dev notes and tasks have been included by Mavis, please review if anything is missing as well.

[2020-11-17 18:03] mmmavis opened #5654 "Add twitter card meta tags to PNI"
Related to #5537

[2020-11-17 18:45] kristinashu commented on #5598
@natalieworth would you be able to update the quotes temporary page https://foundation.mozilla.org/en/campaigns/dearinternet/ with a different wagtail component so that links are possible?

[2020-11-17 19:01] mmmavis commented on #5654
Fix is included as part of PR #5636

[2020-11-17 19:37] KalobTaulien opened #5655 "9. Add ProductPage specific fields"
## Criteria

- [ ] Add SoftwareProductPage fields
- [ ] Add GeneralProductPageFields

[2020-11-17 19:37] taisdesouzalessa opened #5657 "Allow a default page be the child of a Banner page"
According to our discussion today, we would like to see what happens on staging if we allow the "Default page" be the child of the "Banner Page" called "Awards"

<img width="822" alt="image" src="https://user-images.githubusercontent.com/22157921/99437830-d447a480-28c7-11eb-92ab-91546b1532f1.png">

<img width="711" alt="image" src="https://user-images.githubusercontent.com/22157921/99437902-eaedfb

[2020-11-17 20:03] #5647 closed

[2020-11-17 22:31] #5619 closed

[2020-11-17 22:31] #5621 closed

[2020-11-17 22:55] mmmavis opened #5658 "Build #DearInternet page - backend"
Google Doc for context: https://docs.google.com/document/d/1hCb1jWsYes39vXXbAWyhVp-BYmisT0ND3Svd6RNPi0g/edit?usp=sharing

Work can start once we have decided where we want this page to live and that design is final

- [x] create a new page type (available under /campaigns, won't have child page)
- [x] create CMS fields
   - [x] intro fields
      - intro text field * 4 (plain text, required)
   -

[2020-11-17 23:03] mmmavis opened #5659 "Add polish / effects to #DearInternet Page"
Because of the tight deadline, we should aim for getting the MVP version of #DearInternet Page built (#5616 ). If time allows, add polish and effects to the page to make it shine more.

More details to come once we have finalized design.

**Things we can polish ideas:**
- [x] Plane path: streamline start and end _(extend path?)_
   - update svg with a longer path (https://drive.google.com/open?id=

[2020-11-17 23:14] mmmavis opened #5660 "Decide analytic events to add to #DearInternet page"
details to come later

---

implementation ticket #5661

[2020-11-17 23:15] mmmavis opened #5661 "Implement analytic events for #DearInternet page"
Implement analytic events decided in #5660

[2020-11-17 23:40] #5635 closed

[2020-11-18 00:21] taisdesouzalessa commented on #5500
Talked to Engineers today, the plan is ti allow Default Pages be the children of Banner pages and test on Staging to see if we get the desired result. Ticket open to Engineers here: #5657

[2020-11-18 00:28] Pomax commented on #5506
@KalobTaulien do we have "add tests" in the list of things to do?

[2020-11-18 00:29] KalobTaulien commented on #5506
Yep!

[2020-11-18 01:50] Pomax commented on #5495
1. initial product requests for PNI require 650 queries for a single product. It's only 10 after caching, but that's still an insane amount of queries.
2. the homepage requires 150 queries each time, which -given how little we update it- almost certainly means we want to cache it.
3. "who we are" has 76 queries
4. ...

[2020-11-18 02:18] #5537 closed

[2020-11-18 14:23] rraue commented on #4787
With the new bunch of tested products and the organic traffic nearly doubeling I just would like to ask if I can somehow help to get this SEO basics done? We are in reach for pretty big keywords (nintendo switch ranking 14 in the US) and I think with the basics we have a great chance to get on the first page for a lot of these tested products.

[2020-11-18 14:24] TheoChevalier opened #5662 "PNI images hosted on Cloudinary are intermitently disappearing on Firefox"
Pretty much everything is in the title, Lindsay & I have been experiencing missing images since yesterday on PNI.

It doesn’t happen all the time, and a hard refresh doesn’t fix the issue. It doesn’t seem to happen in Chrome, though, only in Firefox as far as we can tell.

I’ve been able to reproduce on both Nightly and Release (83), and with a fresh profile.

![Screenshot_2020-11-17  confidential

[2020-11-18 16:10] Pomax commented on #5662
Are there any errors in the dev console when you see this happening?

[2020-11-18 16:12] Pomax opened #5663 "Add "DefaultPage" as allowed subtype for PrimaryPage, so that the moz awards pages can be moved"

[2020-11-18 16:13] mmmavis commented on #5654
PR merged!

[2020-11-18 16:13] #5654 closed

[2020-11-18 16:17] TheoChevalier commented on #5662
Unfortunately no, I’m just seeing 0 Byte data transfer in the Network panel from the DevTools
<img width="1352" alt="Capture d’écran 2020-11-18 à 17 16 10" src="https://user-images.githubusercontent.com/1294206/99556502-801ced00-29b9-11eb-9466-fd820867958e.png">

[2020-11-18 16:40] #5657 closed

[2020-11-18 16:40] #5663 closed

[2020-11-18 16:59] kristinashu commented on #5650
Via Slack Audrey says she prefers Option 1 so we'll run with that!

[2020-11-18 16:59] #5650 closed

[2020-11-18 17:12] kristinashu commented on #5652
Via Audrey on Slack

- I am happy with the URL https://foundation.mozilla.org/en/campaigns/dearinternet/
- Likes Wireframe Option 1 which is good because that's what Sabrina mocked up and will be easier to build
- Letters should contain:
  - a quote or short story or photo or short video (I think we an say photo/video might come later)
  - attribution (name, title with links, but not necessarily a

[2020-11-18 17:59] mmmavis commented on #5627
@TheoChevalier do you wanna start a PR for your branch so we know what have been fixed in your branch? 😉

[2020-11-18 18:06] TheoChevalier commented on #5627
Sure, just opened #5666

[2020-11-18 19:26] Pomax opened #5668 "update how product type is determined"
While model fields cannot be overridden by subclasses, @property defs can, so we should be able to say this in the base class:

[code]

and then in the general subclass, have this:

[code]

with the software subclass having this:

[code]

That way we won't need to do any class sniffing.

[2020-11-18 19:27] Pomax commented on #5506
I filed https://github.com/mozilla/foundation.mozilla.org/issues/5668 to improve how product type is determined.

[2020-11-18 19:32] mmmavis commented on #5652
CMS can host photos but not videos. If we want videos to show we'll have to upload them to YouTube so we can embed them on our site which I think could be a curation nightmare. @sabrinang and I talked about this last week. We were thinking as an alternative maybe we can just have a preview image (uploaded manually to CMS as the "image" field of the `letter`) and have a button/link that links out t

[2020-11-18 20:09] natalieworth commented on #5598
Hey @Audreymofo Does this work better? https://foundation.mozilla.org/en/campaigns/dearinternet/

[2020-11-18 22:11] Pomax commented on #5615
Sure - having checked what the code change involved allows, we would literally have "a homepage" that we can do with what we can do for the current homepage too. That includes pointing it to a new signup CTA specific to that second homepage.

[2020-11-18 23:29] Pomax opened #5671 "`inv new-db` crashes"
`inv new-db` crashes when it tries to run `participate_page.save()`

[code]

[2020-11-19 00:13] mmmavis commented on #5671
`inv new-env` followed by `inv new-db` works for me without errors.

Note that I didn’t get a chance to try `inv new-db` without running `inv new-env` first because I read your message wrong and thought you were having issues with `inv new-env` 🙈

[2020-11-19 11:03] Audreymofo commented on #5598
Much better! Thanks! v

On Wed, Nov 18, 2020 at 8:10 PM Natalie Worth <notifications@github.com>
wrote:

--
Audrey Hingle
+44 (0) 7738 095865

[2020-11-19 17:28] Pomax opened #5673 "Add DefaultPage as possible child for BannerPage"
related to #5500, the "what we fund page" needs to allow moving DefaultPage content under it, or none of the award content can be moved.

[2020-11-19 17:37] #5627 closed

[2020-11-19 17:37] #4914 closed

[2020-11-19 17:46] Pomax opened #5674 "Review apps and dev/stage/prod do not build the mozfest site in the same way"
- dev/stage/prod create mozfest as a top level site, a sibling to the foundation homepage.
- Review apps create mozfest as a child of the main site homepage.

This causes problems when we need to test backend changes that affect mozfest, as we need to know whether things work with the mozfest page being a true site root. Most importantly, moving the mozfest page to be a top level page and then upd

[2020-11-19 18:05] #5673 closed

[2020-11-19 19:15] taisdesouzalessa commented on #5205
**Eeva:**
Here is the published hub (since it's not linked from anywhere on our site yet, I don't expect much traffic for now). Feel free to do edits on Wagtail there.
https://foundation.mozilla.org/en/insights/

Here is a version of it with my comments (feel free to add yours and your team's there) - I feel it is easier if we have notes on pages for quick alignment.
https://mozilla.invisionapp.co

[2020-11-19 19:22] taisdesouzalessa opened #5676 "[Insights Hub] Redirects and connection with main Foundation site"
**Published Hub:**
https://foundation.mozilla.org/en/insights/

**InVision doc for feedback/annotations:**
https://mozilla.invisionapp.com/share/BEZHKC3N57H#/438269978_Overview

**To do:**
- [x] First round of feedback from Insights team
- [ ] In parallel, we're working to get the progress status for the email preferences page update [as per this doc](https://docs.google.com/document/d/1cjvoU2fVqL

[2020-11-19 19:23] taisdesouzalessa commented on #5205
I'll break this ticket in 2 as I expect feedback won't be completed this sprint.  #5676 is the follow up ticket. Closing this one.
cc: @jamilasnell

[2020-11-19 19:23] #5205 closed

[2020-11-19 19:41] taisdesouzalessa commented on #5500
Met with Pomax today, we're having some issues related to types of pages. He opened a ticket for Engineers and will ping me when I can try to add this page to staging.

[2020-11-19 20:43] #5404 closed

[2020-11-19 20:50] kristinashu commented on #5297
OMG we are working on this!!! [Here's Nancy's](https://docs.google.com/document/d/1_WKRD1siHJaw2K0cd8YduGvQb6EZiUW2_3zK3neFJQ4/edit#) and Anil will expand on it for Ben. Is that enough to close this ticket? Or you want to put it in our next sprint for you and Pomax to add more dev specific details?

[2020-11-19 20:51] #4931 closed

[2020-11-19 20:51] #4928 closed

[2020-11-19 20:54] #4772 closed

[2020-11-19 20:55] #4727 closed

[2020-11-19 20:56] #4541 closed

[2020-11-19 20:57] kristinashu commented on #4308
@TheoChevalier do you still notice this? I think we can maybe close this ticket.

[2020-11-19 20:59] #4128 closed

[2020-11-19 21:06] kristinashu commented on #5503
@marcwalsh hey, did you still want this done? I can try putting it in an upcoming sprint.

[2020-11-19 21:16] KalobTaulien opened #5677 "Spike: investigate whether a 600 width cloudinary image is needed"
In `network-api/networkapi/buyersguide/templates/buyersguide/catalog.html` line 90 there is:
[code]

We need to investigate whether we actually need 600-width images here or if we can go lower.

[2020-11-19 21:27] mmmavis commented on #5652
I've started the backend work. For the most up to date CMS specs see https://github.com/mozilla/foundation.mozilla.org/issues/5658

[2020-11-19 21:33] kristinashu commented on #5598
Since finalizing the comps https://github.com/mozilla/foundation.mozilla.org/issues/5652 is the only remaining ticket and dev has started, I'm going to go ahead and close this epic! Excellent planning, scoping, and designing Sabs!

[2020-11-19 22:13] mmmavis opened #5679 "Factory and Percy - add DearInternetPage"

[2020-11-19 22:20] kristinashu commented on #5598
Sorry, reopening this epic since it includes dev. cc @mmmavis

[2020-11-20 00:35] #5658 closed

[2020-11-20 00:44] taisdesouzalessa commented on #5500
changes were pushed to prod. However when trying to add the Playbook pages inside "what-we-do/awards" this is what happens:
<img width="1162" alt="image" src="https://user-images.githubusercontent.com/22157921/99741409-ef601300-2a85-11eb-920c-050cf8af915c.png">

Having this top menu (overview/fellowships/awards...) makes thinks super confusing from a UX perspective.

What I'll do is to create a "D

[2020-11-20 02:35] sabrinang commented on #5652
@kristinashu Ready for review.

**Desktop:** https://share.goabstract.com/6b7dffe7-d1ef-48c6-a2b2-35488612074e?collectionLayerId=cdf9dbe9-1ea8-44ae-86db-87cc0b1607bd&mode=design
**Mobile:** https://share.goabstract.com/6b7dffe7-d1ef-48c6-a2b2-35488612074e?collectionLayerId=9b2b5596-92e0-4329-82c6-01e5a679e5ee&mode=design

- included a letter with an image
- letters that are anonymous it can just b

[2020-11-20 10:40] TheoChevalier commented on #4308
I think it’s safe to close yes, we can always open a new ticket if staff keep hitting this.

[2020-11-20 10:40] #4308 closed

[2020-11-20 16:33] kristinashu commented on #5652
These look wonderful Sabs! I think the mobile body copy looks good.

[2020-11-20 17:33] kristinashu opened #5680 "#DearInternet - QA & Support"
Design to support dev with PR reviews and questions.

[2020-11-20 17:52] taisdesouzalessa commented on #5494
Problems this research is trying to solve:
• Basically, PNI doesn't have any share buttons (unless you vote). Should it?
• Are share buttons effective for this type of project and audience? (edited)
• If so which types?

[2020-11-20 18:07] kristinashu opened #5681 "Create images for TAI Whitepaper"
Once all the content is in - Import AI Whitepaper with Publications Template #5536, we should add some of standard MoFo AI graphics to it.

[2020-11-20 18:10] kristinashu commented on #5536
I've opened a follow up ticket for a design to add graphics to the Publication once all the content has been entered https://github.com/mozilla/foundation.mozilla.org/issues/5681.

[2020-11-20 18:12] kristinashu opened #5682 "[Publications] Design QA"
Once all the content has been entered in https://github.com/mozilla/foundation.mozilla.org/issues/5536. Design to do further QA, combine feedback with the ([existing feedback](https://github.com/mozilla/foundation.mozilla.org/issues/5312#issuecomment-715640663)), and open dev tickets for implementation.

[2020-11-20 19:07] mmmavis commented on #5616
@sabrinang please update the checklist above when your mockup ticket is done. Thanks!

[2020-11-20 19:24] mmmavis commented on #5652
I'm worried about implementation time so I'm gonna start front end work now using the two mockups linked [in this comment](https://github.com/mozilla/foundation.mozilla.org/issues/5652#issuecomment-730807245). @sabrinang if there's any change to the design please flag it in the front end ticket #5616. Thanks!

[2020-11-20 19:32] marcwalsh commented on #5503
I'll double-check with Jesse W and make sure - but we'll need the space for the tickets and schedule early next year so it might be good to just get done.

I'd also be interested to see how difficult the code change is - I tried it myself and found the file in the repo that contains the footer where I can add additional links, but I wasn't sure if there's more involved.

[2020-11-20 20:01] taisdesouzalessa commented on #5653
Done and sent to committee

[2020-11-20 20:01] #5653 closed

[2020-11-20 20:32] kristinashu commented on #5297
@anilkanji 's [doc is here](https://docs.google.com/document/d/1QmQycuJu40qm-rzQdGts_JTxu92VrPR6wpGCiXTuEkk/edit?usp=sharing).

[2020-11-20 21:26] taisdesouzalessa opened #5683 "Replace Foundation site hero image"
To develop a picture hero image instead of the current PNI one.

Mockup done on staging, waiting for design feedback before moving it to prod.

[2020-11-20 21:47] sabrinang commented on #5652
Updated the design/dev chacklist in front end ticket. Exported assets (png/svg) in [google drive](https://drive.google.com/open?id=1DBAEwFGJdWIRoS5GhJi4N3ueVbMZD0MN&authuser=sabrina%40mozillafoundation.org&usp=drive_fs).

[2020-11-20 21:48] #5652 closed

[2020-11-20 22:11] taisdesouzalessa commented on #5683
Approved by design review and pushed to prod \0/

[2020-11-20 22:11] #5683 closed

[2020-11-21 00:19] mmmavis commented on #5616
use this font for author name: https://fonts.google.com/specimen/Caveat

[2020-11-21 01:20] jamilasnell opened #5685 "Travis-ci Migration"
### Describe the feature request
Travis-ci.org is shutting down on December 31, 2020 and merging into travis-ci.com - we want to move all our repos over to Github Actions.

- [x] foundation.mozilla.org
  - [x] node
  - [x] wagtail
  - [x] cypress/percy
  - [x] turn off travis integration on travis.org
  - [x] turn off travis integration in the branch protection settings
- [x] donate-wagtail
  - [x

[2020-11-21 01:24] jamilasnell opened #5686 "PNI Bug Fixes & Improvements"
Tracking any and all bugs or improvements that are needed for PNI pages

[2020-11-23 18:01] sabrinang opened #5701 "PNI: Hero Image and Text Contrast"
Improve legibility and contrast between hero image and intro copy on PNI home page. The report was for mobile but check across viewport/screen sizes.

via slack from dholbert/janicet
<img width="393" alt="image" src="https://user-images.githubusercontent.com/2492510/99997666-57f30c80-2d72-11eb-86af-498dc2b2dfde.png">

[2020-11-23 18:39] taisdesouzalessa commented on #5494
@sabrinang @kristinashu here is the conclusion of the research:

- People use the button “copy link and share” more frequently than the “share” button hidden under “vote” (in 2019, the conversion rate for “Copy Link Tap” was 0.19% vs the “Share” under vote, which was 0.11%). This makes sense because there is a barrier for people to share (they may even not know “share” exists until they decide to

[2020-11-23 19:01] kristinashu opened #5702 "PNI - Design contest page"
[Copy doc.](https://drive.google.com/file/d/1iemmUYRaECEAE4tetOr6oFvaWNZiftDK/view)

Design a simple page that we will link to in a social media competition.

- URL could be https://foundation.mozilla.org/privacynotincluded/contest
- I don't think we need to link to this page from PNI
- Deadline for comp is today
- Open implementation ticket for devs

[2020-11-23 19:02] kristinashu opened #5703 "PNI - Implement contest ToC page"
Comp https://redpen.io/fu065ab5fb8379470d

Copy doc https://docs.google.com/document/d/1YaGrAZZaEPJuy2le_GiWVTshg_yWk6pLuSXLUYexz0Y/edit

Please stick to existing styles used on the guide's about pages. The grid is wider because there is no side nav.

### Todo
- [x] Static page with copy and one image
- [x] URL should be https://foundation.mozilla.org/privacynotincluded/contest
- [x] Page does not

[2020-11-23 19:10] Pomax commented on #5671
I think something went very wrong when I was trying to fix some factory code... invalidating for now.

[2020-11-23 19:10] #5671 closed

[2020-11-23 19:16] Pomax commented on #5543
I'm closing this as the work that @KalobTaulien is doing on the PNI wagtail uplift includes making sure the new templates are properly namespaced.

#5506

[2020-11-23 19:16] #5543 closed

[2020-11-23 19:16] Pomax commented on #5506
@KalobTaulien can you check that all the points from https://github.com/mozilla/foundation.mozilla.org/issues/5543 are captured here?

[2020-11-23 19:40] jamilasnell opened #5705 "Zoom e2e Reportback"
### Describe the feature request
Concept and design featured here https://docs.google.com/document/d/1pLAHR1yDTLiIdkm6N9JHdoB7TLKq9Iv62PEhITgFFBw/edit

Would like this done by Nov. 25th but checking in with Audrey to see if that is still a goal of hers.

[2020-11-23 19:46] taisdesouzalessa opened #5706 "[IA Refresh] Measuring success: part I"
**Background:**
According to our [Foundation Site Information Architecture](https://docs.google.com/presentation/d/19etCN1uGLcLmB50-uV-srsWKEAhlwlR_bc0dLE1uW1g/edit?usp=sharing) document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1. Reduce the bounce rate on our homepage by 20% through site updates based on user testing, analytics, and staff inter

[2020-11-23 19:57] jamilasnell commented on #5705
Talked with Kaili and due date can actually be pushed back to end of sprint Dec. 7th

[2020-11-23 20:14] KalobTaulien opened #5707 "Spike: Look into linking to "Pages using ... Page" links"
We want to be able to see all the pages by a certain Page Type.

Currently, we have to "Add Child Page" and on the right are "Pages using x Page" which are links to a dedicated view. This is a bit too hidden for our needs and we'd like to look into adding a custom Menu option to link directly to those views.

Related ticket: #5489

[2020-11-23 20:40] Pomax commented on #2996
Without turning this into an API call that can respond to a request for the template HTML with  the original `profile_block.html`, updated to a form that the `directory-listing-filters` code uses, there are basically no clean ways to make this work. Instead, I'll cross document their dependence and leave it at that.

[2020-11-23 20:43] sabrinang commented on #5494
Great thank you for the range of research Tais! :+1: the next steps sound good to me too

- great points, I was concerned too that when we removed the “copy link and share” we were removing the only visible share mechanism and makes sense hidden buttons are a barrier
- I like this overview of benchmarks from others too that relates into the recommendation of incorporating share near the end after

[2020-11-23 20:56] #5520 closed

[2020-11-23 20:57] #5516 closed

[2020-11-24 00:00] taisdesouzalessa opened #5710 "[RCSC + Playbook] Redirects"
Work started here:  #5500

**To do:**
- [x] Get a confirmation from Kathy and Jenn they see no challenges with the new location and changes (email sent on Nov 23)
- [x] Need engineer help to figure our row 5 of this [spreadsheet](https://docs.google.com/spreadsheets/d/1XSspodNSpdmHJjf91ibx84md-WImoB2JQxwVk2SPe98/edit?usp=sharing)) - basically `http://responsiblecs.org/`need to point to the new URL

[2020-11-24 00:24] taisdesouzalessa commented on #5500
Went as far as I could on this issue. Track the remaining work on #5710.

[2020-11-24 00:24] #5500 closed

[2020-11-24 15:27] #5655 closed

[2020-11-24 15:34] #5514 closed

[2020-11-24 16:52] taisdesouzalessa opened #5711 "[IA Refresh] Measuring success: part II"
Part I #5706  - focus: analytics

**Background:**
According to our [Foundation Site Information Architecture](https://docs.google.com/presentation/d/19etCN1uGLcLmB50-uV-srsWKEAhlwlR_bc0dLE1uW1g/edit?usp=sharing) document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1. Reduce the bounce rate on our homepage by 20% through site updates based on user t

[2020-11-24 18:23] Pomax opened #5712 "mozfest: add salesforce ids to signup snippet as optional field"
Make sure that this can be used for mozfest secondary landing pages, and ensure that that data can "go" somewhere in the correct format

[2020-11-24 19:00] #5615 closed

[2020-11-24 19:01] Pomax commented on #5615
folllowup based on requirements by stakeholders: https://github.com/mozilla/foundation.mozilla.org/issues/5712

[2020-11-24 19:14] taisdesouzalessa commented on #5503
@marcwalsh did you have the opportunity to check it with Jessie W?

For context, this top nav element doesn't receive too many clicks (only 1% of the traffic clicked there = around 120 clicks from Oct 12, 2019 - Nov 24, 2020) and it has a very specific audience (not the general one) so from the UX perspective, it makes more sense to move it to the footer, as you recommended.
I would also suggest y

[2020-11-24 19:37] #5195 closed

[2020-11-24 20:24] kristinashu commented on #5503
Excellent recommendations, thank you Tais!

[2020-11-24 21:05] #5712 closed

[2020-11-24 21:35] #5442 closed

[2020-11-24 21:40] #5686 closed

[2020-11-24 21:42] jamilasnell commented on #5677
@kristinashu only input needed from you on this is knowing if 600 width is needed!

[2020-11-24 21:42] #5668 closed

[2020-11-24 21:51] Pomax opened #5715 "Unify BlogAuthor and ArticleAuthor into an Author"
If BlogAuthor and ArticleAuthor are the same thing, just duplicated code, we should unify those into a PageAuthor or something and then use that everywhere instead of duplicating functionality.

[2020-11-24 21:51] Pomax commented on #5256
https://github.com/mozilla/foundation.mozilla.org/issues/5715

[2020-11-24 21:51] #5256 closed

[2020-11-24 21:52] kristinashu commented on #5677
Does that mean 600 px wide? That does seem bigger than we need. Design saves product the images out at 400 x 400px and that is close to the what I think the biggest size is.

[2020-11-24 21:53] jamilasnell commented on #5389
Because we are switching over to Wagtail pages, the UI is going to change anyway so we are closing this ticket.

[2020-11-24 21:53] #5389 closed

[2020-11-24 21:58] jamilasnell commented on #5703
Deadline for PR ready is actual Nov 26 (Thursday)

[2020-11-24 21:58] taisdesouzalessa opened #5716 "PNI - Share Button Mockup"
**Background:**
One of the PNI 2020's goal is: 10% more mention/shares on social media
In this 202 iteration, we removed the “copy link and share” and @sabrina raised the concern that we were removing the only visible share mechanism, which could work against the goal we set.

We did further research (#5494) to explore this topic and learned that:
- People used the button “copy link and share” (20

[2020-11-24 22:01] taisdesouzalessa commented on #5494
Thanks for the feedback here, @sabrinang and for initiating this research, the prompt questions helped me to explore the issue in a deeper way.
I tried to summarize this ticket in the next step, adding your contributions (#5716). Can you please take a look at it and make changes if needed? I assigned us both and asked Kristina and Jamila's help on triaging it.

[2020-11-24 22:01] #5494 closed

[2020-11-24 22:04] taisdesouzalessa commented on #5660
@sabrinang please let me know how I can support/be your thinking partner on this :).

[2020-11-25 00:21] kristinashu commented on #5705
Opened a ticket in the design repo https://github.com/MozillaFoundation/Design/issues/707

[2020-11-25 00:21] #5705 closed

[2020-11-25 16:44] kristinashu commented on #5703
This has been approved by legal and is now unblocked!

[2020-11-25 17:17] #5702 closed

[2020-11-25 19:02] kristinashu commented on #5596
@KalobTaulien please assign this to me once the work is on staging. Jen and I will do some additional QA on it.

[2020-11-25 19:27] Pomax commented on #5634
Redirects for localized URLS using the CMS's "redirects" function do not work (and never have). Ideally, we have as few redirects as possible, but for any content that has a locale prefix we need to add a manual rule in our url patterns file (it's a code change, not something that can be done through the CMS).

I see there are many other redirects in the CMS right now with locale codes: _none of t

[2020-11-25 20:59] mmmavis commented on #5616
Heroku is having issues at the moment so I can't get the review apps up. For reference, I've taken some screencaps with my local build.

![test example com_8000_en_campaigns_dearinternet_](https://user-images.githubusercontent.com/2896608/100280983-e8ba1b80-2f1d-11eb-8adf-1b7815efbcb3.png)

![test example com_8000_cms_pages_93_edit_](https://user-images.githubusercontent.com/2896608/100280980-e821

[2020-11-25 21:17] sabrinang commented on #5616
/cc @Audreymofo reference previous comment for progress

[2020-11-25 22:56] #5703 closed

[2020-11-26 00:30] taisdesouzalessa commented on #5706
Started creating the report (draft stage-still very messy and I am trying to make sense of all data): [Report here](https://docs.google.com/document/d/1qiZv-hmp4RLN5-rIfD5LR24yMCJHaOFWdgl78Y9ougU/edit?usp=sharing)

Once I have a little more clarity/deep thinking on this report, I will share it with Nancy to hear her thoughts and discuss patterns.

[2020-11-26 00:35] Pomax commented on #5398
I've redone this work as https://github.com/mozilla/foundation.mozilla.org/pull/5722 + https://github.com/mozilla/foundation.mozilla.org/pull/5721, to make sure this removal is a proper removal. In particular, the fact that Django has nothing built in to remove an app from the db means this is not as straight forward as the Django docs claim it is (removing the app from settings leaves everything

[2020-11-26 01:02] Pomax commented on #4908
added into the current milestone as it's a repeat of #5504 but for the people app.

[2020-11-26 01:14] Pomax commented on #5677
They get constrained on the page itself, to 200x200 on desktop width, so based on that 400 should cover both regular and retina (2x) resolution.

[2020-11-26 01:15] Pomax commented on #5677
reassigning to @KalobTaulien (if you have no time this sprint, though, feel free to punt back)

[2020-11-26 22:09] sabrinang commented on #5660
I began a doc for analytics here: https://docs.google.com/document/d/1wN5j-tfPjE7X9pRWfWow0ZSVW06kwn-uBye-uJsaGz4/edit?usp=sharing

@taisdesouzalessa It'd be great if you have any feedback on the notes and help me identify and think through what may be missing.

[2020-11-26 22:27] #5616 closed

[2020-11-26 23:14] taisdesouzalessa commented on #5660
It looks great, Sabs. I like you added the goals on top so I can give feedback on the metrics with that frame as a reference. I added some notes in the doc and some suggestions.

[2020-11-27 00:07] Pomax commented on #5634
I've done some digging, and I think I have a fix for this issue but it's a fix "at the wagtail level" so I've filed [an issue](https://github.com/wagtail/wagtail/issues/6587) on the wagtail repo as well as [a PR to fix this](https://github.com/wagtail/wagtail/pull/6588) and hopefully with some help from @KalobTaulien we can get this landed so that redirects just... work.

[2020-11-27 00:12] #5611 closed

[2020-11-27 00:13] #2996 closed

[2020-11-27 19:54] mmmavis commented on #5660
Doc looks great! Left some comments in the doc but I think we should be able to track most things mentioned there. 👍

[2020-11-27 19:59] kristinashu commented on #5706
Yay! @nancyt1 can now be assigned to issues in this repo!

[2020-11-27 21:32] sabrinang commented on #5660
Thank you for all the input Tais and Mavis!
@taisdesouzalessa I'll need your assistance to translate these events to the [Analytics Site Events spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=873537793) but I added a "#DearInternet" tab.

[2020-11-27 22:54] #5630 closed

[2020-11-27 23:12] mmmavis commented on #5659
@sabrinang can you help update the ticket description with things we wanna add polish on?

[2020-11-30 10:42] Audreymofo commented on #5616
I love it!

On Thu, Nov 26, 2020 at 10:27 PM Mavis Ou <notifications@github.com> wrote:

--
Audrey Hingle
+44 (0) 7738 095865

[2020-11-30 16:42] taisdesouzalessa commented on #5660
@sabrinang good idea adding its own tab :). This is a good article that explains the difference between terms: https://support.google.com/analytics/answer/1033068?hl=en - they explain better than I would...haha. Let me know if you have any questions or how I can help, happy to support any way I can.

[2020-11-30 18:13] sabrinang commented on #5680
Updated page is live https://foundation.mozilla.org/en/campaigns/dearinternet/
Post MVP adjustments will be captured and added to #5659

[2020-11-30 18:13] #5680 closed

[2020-11-30 20:57] taisdesouzalessa commented on #5503
Checked with Marc and this project is good to move on. Will do the mockups and create the implementation ticket.

[2020-11-30 22:54] #5679 closed

[2020-11-30 23:22] sabrinang commented on #5660
Reviewed and filled out the spreadsheet with Tais https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=873537793 to decided which events we want to track. Ready for implementation and I can schedule to meet with Mavis for #5661

[2020-11-30 23:22] #5660 closed

[2020-11-30 23:24] sabrinang commented on #5661
We decided which events we want for DearInternet, spreadsheet here: https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=873537793

@mmmavis We can schedule a call to go over it

[2020-11-30 23:56] mmmavis opened #5735 "Factory warning - missing Participate page"
Getting this error from `participate_page_featured_highlights.generate(seed)`

<img width="984" alt="image" src="https://user-images.githubusercontent.com/2896608/100679446-5f8f5400-3324-11eb-8dcb-6ce678eb9ce3.png">

I can't remember what the status is for Participate page. Have we sunset it? If so, we should remove `participate_page_featured_highlights` and its related code.

[2020-12-01 00:14] Pomax opened #5736 "Set up a parallel mozfest pipeline"
https://github.com/mozilla/foundation.mozilla.org/pull/5733 fixes the fact that review apps deploy a _different_ page hierarchy than local dev/staging/proc, which makes testing mozfest changes basically impossible. However, the way it does that is to restore the old functionality where we have to manually switch the `Sites` default site over from homepage to mozfest. That's not ideal, so a probabl

[2020-12-01 00:28] taisdesouzalessa opened #5737 "[MozFest] Add link to footer: Implementation ticket"
**To do:**
- [ ] Add the "Become a Sponsor" link to MozFest site footer only (design ticket #5503)

**Resources:**
- [Here are the mockups](https://share.goabstract.com/5bea23cc-eee3-4a86-972c-d57c41891d2b?collectionLayerId=bc33fe87-ea1f-4378-b0f1-3ccd9c6e70e8&mode=design) on Abstract (second row - MozFest footers)
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/221579

[2020-12-01 00:37] sabrinang commented on #5659
@mmmavis I updated description with ideas of things we can polish

[2020-12-01 00:38] taisdesouzalessa commented on #5503
- [Here are the mockups](https://share.goabstract.com/5bea23cc-eee3-4a86-972c-d57c41891d2b?collectionLayerId=bc33fe87-ea1f-4378-b0f1-3ccd9c6e70e8&mode=design) on Abstract (second row - MozFest footers)
- **Implementation ticket here:** #5737

[2020-12-01 00:38] #5503 closed

[2020-12-01 15:31] tomusher commented on #5736
Couple of options I can think of here:

1. Given some way to identify whether a given branch is a mozfest branch (maybe if the branch contains the string 'mozfest'), run a `postdeploy` script which changes the default site automatically.
2. Run a `postdeploy` script on all deployments that adds appropriate domains based on the branch name to the Heroku app, and uses the DNS provider API to create

[2020-12-01 17:08] #5200 closed

[2020-12-01 17:24] Pomax commented on #5495
moved back to stretch goal: the debug toolbar is not asynchronous, and so it holds up "rendering the page" a tremendous amount.

[2020-12-01 18:01] #5441 closed

[2020-12-01 18:54] #5518 closed

[2020-12-01 19:17] Pomax opened #5738 "Clean up redirects now that in CMS redirects work for localized URLs"
With https://github.com/mozilla/foundation.mozilla.org/pull/5732 landed, we should:

- clean up the redirect list in the CMS, removing all explicitly localised entries in favour of a single unlocalised entry.
- determine whether we still need the hardcoded redirects in https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/redirects.py for `about/*`, `participate/*`,

[2020-12-01 19:20] jamilasnell commented on #5737
@mmmavis Is this something that you can work on?

[2020-12-01 19:55] taisdesouzalessa commented on #5706
@nancyt1 will add Carys picture to our site ([Leadership tab](https://foundation.mozilla.org/en/who-we-are/leadership/)).

**Picture:**

![carysheadshot](https://user-images.githubusercontent.com/22157921/100789876-e6e3d280-33cb-11eb-86d7-8d1d82599399.jpg)

**Full Name:** Carys Afoko.
**Tittle:** Director of Advocacy.

[2020-12-01 20:01] sabrinang commented on #5681
Ready for review @kristinashu
- Iterated on abstract background banner options and updated redpen: https://redpen.io/p/nqe11451b1e355f06b
- Some are placed in https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/ to test and can update as stakeholders continue to update content.
- Exported to google drive here: https://drive.google.com/open?id=1Eo8Gt7n0efRTBvitkyR5MRQOvJFUyZVc&auth

[2020-12-01 20:28] nancyt1 commented on #5706
I added her to the page and also arranged the directors in alphabetical order!

[2020-12-01 20:52] taisdesouzalessa commented on #5706
So fast! Thank you so much, @nancyt1 :). Appreciate the help!

[2020-12-01 21:17] KalobTaulien commented on #5677
The largest image is on tablet (just under 768px wide browsers) and the image is 359x359. SO having cloudinary set to 600 is still a good idea.

But there's room for improvement here. We could use the `<picture>` element to give a source set and produce a smaller image for non retina, and a higher image for retina displays.

Example:
[code]

When we move PNI to Wagtail, we can also output .webp im

[2020-12-01 21:17] #5677 closed

[2020-12-01 21:20] Pomax commented on #5738
We'll probably need to keep opportunity at least a hardcoded redirect, as that consists of a LOT of subpages

[2020-12-01 21:22] KalobTaulien opened #5739 "Use <picture> and srcset's for PNI Homepage images"
Related issue: #5677

On the PNI Homepage there are product images of each product, but cloudinary is using a 600px width image and non-cloudinary is using regular upload sizes.

We can make this page better for users by leveraging HTML's `<picture>` element. Something like this:

[code]

If this ticket is addressed _after_ PNI has been moved to Wagtail, we can also output .webp images for Chrome

[2020-12-01 22:37] #5519 closed

[2020-12-01 23:16] mmmavis commented on #5661
This is more involved than expected. Gonna up the estimate to 4.

[2020-12-01 23:26] kristinashu commented on #5681
These look great Sabs! I actually like how the dark overlay makes it feel more serious, perfect for the audience.

[2020-12-01 23:43] taisdesouzalessa commented on #5706
@kristinashu @sabrinang @natalieworth when you have some available time, can you give feedback on [this report](https://docs.google.com/document/d/1qiZv-hmp4RLN5-rIfD5LR24yMCJHaOFWdgl78Y9ougU/edit?usp=sharing)?
The goal was to look into Google Analytics and see if the items 1 and 4 of this ticket were achieved and if not, why. Feel free to add comments/questions/suggestions to the doc. Thank You!

[2020-12-02 00:10] taisdesouzalessa opened #5740 "[What you can do] Hero image for #DearInternet"
Hero image created for Xavier (#DearInternet), based on Sabrina's work:

https://foundation.mofostaging.net/en/what-you-can-do/

[2020-12-02 00:11] taisdesouzalessa commented on #5740
Done and sent to Xavier for implementation on prod.

[2020-12-02 00:11] #5740 closed

[2020-12-02 00:16] #5681 closed

[2020-12-02 01:25] sabrinang commented on #5682
**Things to revise:**
- Navigation: missing menu on viewports > 990px _(should be similar to blog nav)_
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/2492510/100813692-b7958b80-33f4-11eb-858a-7acacd15b92f.png">

- Publications heading subtitle: 20px/30px to be body-large size (currently 28px/36px)

- Footnotes: feel a bit too large especially when there are a few (su

[2020-12-02 01:44] sabrinang commented on #5581
We met with Sarah W. (Trustworthy AI stakeholder) yesterday and we updated her with:

- progress that the [TAI publication](https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/) is live and in QA phase
- granted editing access for Sarah/Becca and will collect any feedback as they input content/qa test and support them in our slack channel
- December 15th will be official launch da

[2020-12-02 06:40] natalieworth commented on #5701
I've decreased the contrast in the pni hero image and [uploaded new file here](https://drive.google.com/open?id=1P3yl51VtRrGfAS8-5d7Wf-6V9DLJzGA0&authuser=natalie%40mozillafoundation.org&usp=drive_fs).

[2020-12-02 16:05] KalobTaulien commented on #5707
We could add a couple simple links to the Wagtail Menu using a MenuItem. Something along these lines:

[code]

Which would produce short links like this:
![image](https://user-images.githubusercontent.com/4743971/100897921-74cbc600-347d-11eb-94a8-8dc8f7c6fb34.png)

This is _very_ similar to how we created the *How do I Wagtail* link.

Alternatively, we could look unti using a SubmenuItem to create

[2020-12-02 16:06] KalobTaulien commented on #5707
@Pomax What do you think about this option? (above)

[2020-12-02 17:04] Pomax commented on #5634
fixed!

[2020-12-02 17:04] #5634 closed

[2020-12-02 17:12] Pomax opened #5745 "redirects don't seem to work for nested slugs"
redirect for `/who-we-are/tais-test-page` to `homepage` does not work with locale prefixes.

[2020-12-02 18:54] Pomax commented on #5745
false alarm, they do, but only for pages that don't exist - this was trying to redirect for a page that _did_ exist.

[2020-12-02 18:54] #5745 closed

[2020-12-02 18:55] Pomax opened #5747 "Add an explanation to the `Redirects` settings page to explain how they work"
There is no mention that redirects only work for links that would otherwise be a 404, so it would be a good idea to update/extend the redirects admin page to mention that.

[2020-12-02 21:11] taisdesouzalessa commented on #5197
Assigning this to me since I can do redirects in the CMS now and it works!

cc: @Pomax @kristinashu

[2020-12-02 21:46] taisdesouzalessa opened #5749 "Server error (500) in some of our pages"
Description:
Seeing a "Server error (500)" message in this URL:
[https://foundation.mozilla.org/en/what-we-fund/fellowships-and-awards-directory/](https://foundation.mozilla.org/en/what-we-fund/fellowships-and-awards-directory/) - digging deeper it seems that all pages that have "profile cards" (like this: [https://foundation.mozilla.org/en/internet-health-report/contributors/](https://foundation.

[2020-12-02 21:48] Pomax commented on #5749
From the logs:
[code]

So it looks like it's somehow not finding a file that according to the repo, exists: https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/blocks/profile_block.html

[2020-12-02 21:48] Pomax commented on #5749
haha, no it doesn't. The file is `profile_blocks`, with an underdcore. The code is trying to load `profile-blocks`, with a hyphen. This should be a fast fix.

[2020-12-02 21:55] #5749 closed

[2020-12-02 23:07] taisdesouzalessa commented on #5197
This is done. Closing the ticket.

[2020-12-02 23:07] #5197 closed

[2020-12-03 10:10] TheoChevalier opened #5753 "Exclude Dear Internet template from localization"
Since we’re not translating this page, let’s exclude the template string from being extracted

[2020-12-03 17:00] taisdesouzalessa commented on #5710
I can't delete the hub "Responsible Computer Science Challenge". Need Engineer help in that.
<img width="1441" alt="image" src="https://user-images.githubusercontent.com/22157921/101062034-fedf6180-3545-11eb-9b76-3c30b313f46b.png">

[2020-12-03 18:39] natalieworth commented on #5701
[Redpen tests are in here](https://redpen.io/p/nc9396ac0bf1b8e29a)

[2020-12-03 19:53] mmmavis commented on #5737
Yup!

[2020-12-03 19:59] jamilasnell commented on #5737
Thank you! Assigning this ticket to you!

[2020-12-03 22:47] mmmavis commented on #5661
Events have been implemented. I've migrated events in the sheet from `#DearInternet` tab to the `Foundation Site Events` tab: https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=779058050

[2020-12-04 23:55] taisdesouzalessa commented on #5706
All interviews scheduled (except for 1 that I will send a follow up message next week).

[2020-12-04 23:55] #5706 closed

[2020-12-05 00:00] taisdesouzalessa opened #5763 "[RCSC + Playbook] Delete old pages"
Redirects were done here:  #5710

I can't delete the hub "Responsible Computer Science Challenge". So I am creating this ticket to request engineers delete the page for me. < cc: @jamilasnell for triage

<img width="1441" alt="image" src="https://user-images.githubusercontent.com/22157921/101062034-fedf6180-3545-11eb-9b76-3c30b313f46b.png">

[2020-12-05 00:03] #5710 closed

[2020-12-05 00:09] taisdesouzalessa opened #5764 "[What We Fund] Delete old pages"
What we Fund redirects were done here: #5197

**To do:**
- [x] Do QA of redirects: column F - [Spreadsheet here](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ/edit?usp=sharing)
- [x] Delete old CMS pages (urls [here](https://docs.google.com/spreadsheets/d/1htYOLCDJgEXDmEArg0pliaTTcZY6yFzeSb7Kp6iDKjQ/edit?usp=sharing): column A, tab "What We Fund Redirects") -

[2020-12-05 00:11] taisdesouzalessa commented on #5555
Created a new ticket for engineers since I don't have the permissions needed to delete the hubs. Ticket: #5764

[2020-12-05 00:16] sabrinang commented on #5682
QA notes captured here and https://github.com/mozilla/foundation.mozilla.org/issues/5312#issuecomment-715640663.
Ready for review and can meet Kalob on Monday to open tickets.

[2020-12-05 00:23] sabrinang opened #5765 "[Publications] Document How-to/Onboarding Notes"
Capture onboarding/how-to notes that we can reuse and distribute to inform staff how to use the new page types.

Instead of a doc, I'm thinking we can add a section to https://foundation.mozilla.org/en/docs/how-do-i-wagtail/.

Some notes for reference are here https://docs.google.com/document/d/1yM5DsKSeIUGktvx_x2G7S7EJe7pHDnEIkXMYtIMxj10/edit

- [x] write content
- [x] review content
- [x] publis

[2020-12-05 00:28] sabrinang opened #5766 "[Publications] Onboarding the Insights Team"
continuation of https://github.com/mozilla/foundation.mozilla.org/issues/5581

Get teams familiar with the new page types available for long-form content publishing, publication and article pages. This can be schedule call walkthroughs and sharing https://github.com/mozilla/foundation.mozilla.org/issues/5765 notes when ready.

**Teams**
- [ ] Insights team
- [ ] ~Design team~
- [ ] ~maybe MozFest

[2020-12-05 00:31] sabrinang commented on #5581
I filed two follow up tickets to split up and track remaining work:
- [Publications] Document How-to/Onboarding Notes #5765
- [Publications] Onboarding Teams #5766

[2020-12-06 22:39] natalieworth commented on #5701
I checked the darkest grey shadows against the type in the Web accessibility contrast checker. The original actually still passes, but I adjusted the contrasted of the shadows and dodged some of the very dark areas where type is in photoshop to help with readability.

I've uploaded the new designs into [the Redpen here](https://redpen.io/p/nc9396ac0bf1b8e29a).

Just need design R+ and I will make

[2020-12-07 20:12] Pomax commented on #5674
This is still not building two sites, once for homepage, and one for mozfest, the same way local dev works.

[2020-12-07 20:24] Pomax commented on #5674
Right now the way to make this at least work is to:
1. go into `sites` and change the page from `Homepage` to `MozFest`
2. save the site update
3. in heroku, restart the review app dyno

![screenshot 669](https://user-images.githubusercontent.com/177243/101401353-150f5980-3887-11eb-873a-c28b5ec54302.png)

Once restarted, the review app will now be a normal mozfest app.

[2020-12-07 22:42] taisdesouzalessa opened #5774 "Getting oriented with analytics as a team: action item from retro"
**Background:**
In our retro today designers + engineers showed interest in "getting oriented with analytics together".

**To do:**
- [x] Taís and Ben to brainstorm how we turn this interest into an action that can be enjoyable (and feasible) for the team. Implementation will likely happen only in Jan 2021.
- [x] As a pre-task for this we can do a survey to better understand what type of content p

[2020-12-07 22:52] sabrinang commented on #5682
Reviewed this https://github.com/mozilla/foundation.mozilla.org/issues/5682#issuecomment-736926553 and previous https://github.com/mozilla/foundation.mozilla.org/issues/5312#issuecomment-715640663 with @KalobTaulien over zoom and he'll open up tickets based on those and get them into sprint planning tomorrow.

[2020-12-07 22:52] #5682 closed

[2020-12-07 22:59] #5581 closed

[2020-12-08 00:04] #5737 closed

[2020-12-08 01:50] #5661 closed

[2020-12-08 16:28] taisdesouzalessa opened #5775 "[IA Refresh] Measuring success: part III (a)"
**Background:**
According to our [Foundation Site Information Architecture](https://docs.google.com/presentation/d/19etCN1uGLcLmB50-uV-srsWKEAhlwlR_bc0dLE1uW1g/edit?usp=sharing) document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1. Reduce the bounce rate on our homepage by 20% through site updates based on user testing, analytics, and staff inter

[2020-12-08 16:30] taisdesouzalessa opened #5776 "[IA Refresh] Measuring success: part IV"
**Background:**
This work started here: #6157

According to our [Foundation Site Information Architecture](https://docs.google.com/presentation/d/19etCN1uGLcLmB50-uV-srsWKEAhlwlR_bc0dLE1uW1g/edit?usp=sharing) document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1. Reduce the bounce rate on our homepage by 20% through site updates based on user test

[2020-12-08 16:40] taisdesouzalessa commented on #5595
@kristinashu @jamilasnell - since this content will be only ready during the week of Dec 14-18th we should probably move it to January sprint, what do you think? We're very close to be done!

[2020-12-08 17:10] jamilasnell commented on #5662
Potential solution: we are removing cloudinary as Wagtail has it's own internal tools for imaging!

[2020-12-08 17:13] Pomax opened #5777 "QA the pni-as-wagtail branch"
Surfaced tasks

- [x] ~meets_minimum_security_standard field is not rendering correctly in the product template. `no` ends up rendering as `unknown`~
  - ~PR for updating the `yes_no` tag to better understand the values it has to deal with: https://github.com/mozilla/foundation.mozilla.org/pull/5834~ landed
- ~[x] finish adding all the fields that need translations: https://github.com/mozilla/foun

[2020-12-08 17:36] Pomax opened #5778 "work through python dependabotses"

[2020-12-08 17:36] mmmavis opened #5779 "Review and merge JS dependabot PRs"
https://github.com/mozilla/foundation.mozilla.org/pulls?q=is%3Apr+is%3Aopen+label%3Adependencies+label%3Ajavascript

[2020-12-08 18:17] taisdesouzalessa commented on #5068
Updated the ticket, removed the epic label and added an estimate.

[2020-12-08 18:20] KalobTaulien opened #5780 "Publication QA"
We have Publication QA feedback from Sabrina ready for development work.

All the feedback lives in these two tickets (in the comments) but I'm creating an epic and a series of tickets to help us keep track of all this. The two originating tickets can be found here:
* https://github.com/mozilla/foundation.mozilla.org/issues/5682#issuecomment-736926553
* https://github.com/mozilla/foundation.mozill

[2020-12-08 18:29] KalobTaulien opened #5781 "Navigation: missing menu on viewports"
Navigation: missing menu on viewports > 990px (should be similar to blog nav found here: https://foundation.mozilla.org/en/blog/your-holiday-gift-spying-you-find-out/)

![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/db4acdbc-d47b-43a7-b93f-775c3691654a)

We may need to look into enabling "zen mode" to make the hamburger show up the same way as it does in the blog.

Crit

[2020-12-08 18:32] KalobTaulien opened #5782 "Publications heading subtitle"
Publications heading subtitle: 20px/30px to be body-large size (currently 28px/36px). Currently it's too big.

Example link: http://localhost:8000/en/publication-page-with-chapter-pages/
Target area:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/69f39364-ce12-49d1-8d6a-91d5df690776)

Criteria:
- [x] Font size 20px, line-height 30px. Should be the body-large size.

[2020-12-08 18:37] KalobTaulien opened #5783 "Footnotes text is too large"
Footnotes: feel a bit too large especially when there are a few (suggested 14px/20px)

How to create: Edit an Article Page (Factory will create these for you) and add footnotes. In production we have ~10 footnotes so it looks huge. Locally (image below) I only show 3, but _imagine_ there are 10.

Target area:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/ed75eaa9-1a23-

[2020-12-08 18:39] KalobTaulien opened #5784 "Previous/next buttons should link to next chapter instead of taking the user back to the Publication Listing page"
previous/next buttons on child publications to link to next chapter instead of back to the same chapter to connect reading experience

Target area:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/9f1051cf-858d-460a-8021-ca73684b0551)

Criteria:
- [ ] Next page (when the page is the last in a Chapter) should go to the next chapter immediately
- [ ] Prev page (when the pag

[2020-12-08 18:43] KalobTaulien opened #5785 "Add short option to wide image streamblock"
Image is currently set to `fill-1400x410` but the height should be adjustable.

Target area:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/1a938b3c-b19c-457c-90b7-9553371b033a)

Criteria:
- [ ] Create a custom height field that lets the Wide Image Block's image be a custom height
- [ ] Set the default height to 410
- [ ] May require a template tag that creates a new im

[2020-12-08 18:47] KalobTaulien opened #5786 "Make widths the same for summary/white block areas"
On the publication page: Cut out width (align edge of 2nd and 11th columns) should match/be same as summary box width of article pages

Target area:
![image.png](https://user-images.githubusercontent.com/2492510/97202451-de66ff00-1770-11eb-8639-be3f403b80bc.gif)

Criteria:
- [ ] Make the white block that enters the hero a bit smaller so it matches the width of the Summary block

**Note**: The whit

[2020-12-08 18:50] KalobTaulien opened #5787 "Use nunito light for Article Page body"
Article Page: Article body override to Nunito Light similar to how blog-body is lighter for long form reading but this will stay at 18px (italic looks lighter weight already see 'trustworth AI' in paragraph below)

Target Area:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/4f1b84f7-f812-4b48-afa2-40990fa59646)

Criteria:
- [x] Font should be Nunito Light, not Nunito Re

[2020-12-08 18:54] KalobTaulien opened #5788 "Offset viewport where footnotes jump to"
Offset viewport where footnotes jump to (currently top section hidden behind nav)

Example URL:
- https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/what-helps-the-ecosystem-for-needs-and-support/#footnote-1
- click footnote's `[1]` to go to the footnote in the content.
- click the footnote link in the content
- footnote ends up underneath the `.article-navbar` div

[2020-12-08 18:56] KalobTaulien opened #5789 "Footnotes link fix"
For footnotes, I think only the linked portion should be underlined now (hover state blue) so default is just grey no underline (currently if it is linked the whole footnote is blue) Sabrina revised the [design sketch files](https://share.goabstract.com/c5b5156f-9bb9-4147-a45d-0bf020c0c76b?collectionLayerId=442fbbfa-febf-40ce-b3ff-918fcaa50fdb&mode=design) to reflect this

Example of what it shoul

[2020-12-08 18:58] KalobTaulien opened #5790 "Create larger hover state for prev/next buttons"
Create a hover state for previous/next buttons (not that obvious the whole section is clickable) Sabrina [revised the design sketch files](https://share.goabstract.com/c5b5156f-9bb9-4147-a45d-0bf020c0c76b?collectionLayerId=442fbbfa-febf-40ce-b3ff-918fcaa50fdb&mode=design) to reflect this

Example of what this should look like:
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550

[2020-12-08 19:01] KalobTaulien opened #5791 "Align summary dropdown"
Summary box drop down alignment (text align to the summary title and box width to column edges, margins are good)

Example: (Alignment should follow the pink area and be 4 columns wide)
![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/92c7fbe5-a17d-4e03-9087-23a7ecc21eeb)

Criteria:
- [ ] Summary box should be 4 columns wide
- [ ] Summary box should align with the rest of

[2020-12-08 19:05] KalobTaulien opened #5792 "Summary bar location work"
See the design [here](https://app.abstract.com/share/c5b5156f-9bb9-4147-a45d-0bf020c0c76b?collectionLayerId=de3fda23-a5b4-4e37-8906-554314afbd80&mode=design&sha=25903d8a620778784fb326db1e70a7951f5d4091)

Criteria:
- [ ] Summary bar needs to be visible on mobile
- [ ] The "left" part of the summary bar can stay hidden, we just need the dropdown.
- [ ] Make summary bar hidden until user scroll past

[2020-12-08 19:08] KalobTaulien opened #5793 "Prevent callout block textarea from being horizontally resized"
Example of what it can currently do:
![image.gif](https://user-images.githubusercontent.com/2492510/97210148-669dd200-177a-11eb-8bab-db1f5bc8a05a.gif)

Editors were thinking that resizing this box would resize the content on the page. It's just a <textarea> and doesn't determine template content width.

Criteria:
- [ ] Remove horizontal resizing on the callout box in the Wagtail admin
- [ ] **May

[2020-12-08 19:11] KalobTaulien opened #5794 "Table stream block fixes"
Table stream block improvements

This will likely require editing the table_block template. If we're not already using the template Wagtail provides, we'll want to start using that.

Criteria:
- [ ] When "column header" is checked, the first column should be blue (just like the first row when "row header" is checked)
- [ ] If row/column header are unchecked remove the top grey border.

[2020-12-08 19:22] KalobTaulien commented on #5674
There's currently no way to build two sites on a single Heroku instance. Typically we use another hostname or port, but we're only given the one review app hostname and heroku doesn't allow for additional ports.

@Pomax What are you thinking for next steps? Bring in Tom to check this out?

[2020-12-08 21:16] taisdesouzalessa opened #5797 "[Mozfest] Become a Sponsor footer link: next steps"
Now that the "Become a Sponsor" link is implemented on the [live MozFest site](https://www.mozillafestival.org/en/) (ticket: https://github.com/mozilla/foundation.mozilla.org/issues/5503) we should:

- [x] Delete "Become a Sponsor" from the top nav
- [ ] UX Recommendation: to add a "Become a Sponsor" copy blurb on "Get Involved" page (at the end of it) because this seems a spot where people would

[2020-12-08 21:25] KalobTaulien opened #5798 "Draft pages should show up for authenticated users"
When writing a publication the draft pages don't show up in the preview but they should so the author(s) can have an accurate preview of what the page will look like.

Criteria:
- [ ] Child Publication Pages and Article Pages should show up in the Publication Page templates when being previewed.

[2020-12-08 21:25] KalobTaulien opened #5799 "Draft pages should show up for authenticated users"
When writing a publication the draft pages don't show up in the preview but they should so the author(s) can have an accurate preview of what the page will look like.

Criteria:
- [ ] Child Publication Pages and Article Pages should show up in the Publication Page templates when being previewed.

[2020-12-08 21:31] sabrinang opened #5800 "[Publications] Plan out work for ToC / Publication child pages UX"
Placeholder issue to think through how we can better connect publication/article child pages so they are less disconnected from the rest of the content and improving the reading flow experience. Brainstorm UX/UI solutions.

Note from @baricks: It would be nice to have some kind of navigation at the top of the page so that people can easily jump between the different parts of the paper. (For instan

[2020-12-08 21:47] sabrinang commented on #5765
@kristinashu R? I wrote content that is ready for review: https://docs.google.com/document/d/1aENkyXfaX_fGSmESd0SGk6VBzcDh62RA92t8b6uuTnU/edit?usp=sharing

A question I have is will these page types only be available on /insights? so I can include where staff can find and use it.

URL wise, I think this could live `/docs/how-do-i-wagtail/publications`

I can also include more imagery where helpful

[2020-12-08 22:13] sabrinang commented on #5765
@jamilasnell Can you review this doc:  https://docs.google.com/document/d/1aENkyXfaX_fGSmESd0SGk6VBzcDh62RA92t8b6uuTnU/edit?usp=sharing

[2020-12-08 22:54] kristinashu commented on #5765
It's available to use in most places (not blogs but pretty much all the other urls e.g. /campaigns).

[2020-12-08 23:08] KalobTaulien commented on #5798
Closing as this is an exact duplicate of #5799 (I accidentally double clicked the "Create new issue" button twice)

[2020-12-08 23:08] #5798 closed

[2020-12-08 23:48] KalobTaulien opened #5804 "Remove publications feature flag."
Feature flag for enabling or disabling the Publication pages is no longer needed.

## Criteria:
- [ ] Remove the feature flag code and the `env`'s in the code.
- [ ] Remove the environments from staging and production

[2020-12-09 01:29] #5659 closed

[2020-12-09 01:30] mmmavis commented on #5598
All done!

[2020-12-09 01:30] #5598 closed

[2020-12-09 17:26] Pomax commented on #5777
change of plans: we have a hard deadline where the code needs to be up on prod by the end of Thursday. So:

- defer working on the following parts, so we can land the "real" part ASAP :
  - load_fake_data
  - CI-specific testing data
  - additional parity unit testing
- instead, verify that all fields on prod get converted properly during `manage migrate_products`
  - voting should work, so that's

[2020-12-09 17:39] jamilasnell commented on #5765
Done with my review!

[2020-12-09 18:58] jamilasnell commented on #5776
Placed this in the Jan 18th Milestone!

[2020-12-09 18:58] jamilasnell commented on #5775
Placed this in the Jan 18th Milestone!

[2020-12-09 19:39] KalobTaulien opened #5812 "Convert cloudinary images to Wagtail Images"
Convert cloudinary images to Wagtail Images

May require a SPIKE ticket. May require some devops.

Criteria:
- [x] Migration script needs to download cloudinary images from Products, create a new Wagtail Image, and attach it to the Product page
- [ ] Unit tests to test our assumptions (see comments as to why there isnt a unit test here)
- [x] ~Use s3 with cloudfront or cloudflare for cdn caching~

[2020-12-09 20:15] #5789 closed

[2020-12-09 20:29] Pomax commented on #5777
Not noticable for products with enough votes already, but for products with only a handful of votes: it looks like we're showing the on-page voting result based on the votes "at the time of page loading" (which makes sense, we used to not update votes in real time), so you can get things like this:
![image](https://user-images.githubusercontent.com/177243/101683621-0ad19480-3a1a-11eb-9091-43a6d0a9

[2020-12-09 20:30] mmmavis opened #5815 "Add publication page and article page to Percy"

[2020-12-09 20:42] jamilasnell opened #5816 "Intergration of Airtable and Github"
### Describe the feature request
Using Zapier or our own code, connecting Airtable to Github.

Rough run in Zapier (adding addition code if needed) in Jan 2021

Perhaps the key to solving this request is finding out how zenhub is able to create actions in Github and if Zenhub stores data that isn't reflected back in Github (and vice versa)

https://airtable.com/integrations/github

https://zapier.

[2020-12-09 20:47] KalobTaulien opened #5817 "Add contest page to BuyersGuide routes"
Criteria:
- [ ] Add contest.html buyersguide
- [ ] Add /about/contest/ to buyersguide routes
- [ ] Make sure we copy the existing contest page to the new namespaced location
- [ ] Add unit test for contest routeable view

[2020-12-09 21:37] #5804 closed

[2020-12-09 22:55] jamilasnell opened #5820 "Meeting to discuss Separate Hubs for PNI/Insights/Trustworthy"
Meeting to discuss different online presence for these three different groups who all used to be under insights but have their own presence now.

[2020-12-09 22:58] taisdesouzalessa commented on #5774
This is what came up from this discussion. I'll create separate tickets for each topic once @benhohner have the opportunity to read what I wrote here (and edit if needed).

**Topic: getting oriented with analytics together**

Figure out how much everyone knows about analytics
- [ ] Taís to Create survey by end of sprint
- [ ] Taís and Ben to do a workshop in January based on survey results
- [ ] T

[2020-12-09 23:05] sabrinang opened #5822 "[Publications] Remove ToC Numbering"
@baricks is inputting content for the whitepaper and it has a very specific numbering structure that is integral to the content itself. Our table of content numbers are auto generated and can not be edited so it is clashing and misaligned with the paper's content.

Are we able to remove the table of content numbers since they are not editable?

<img width="573" alt="image" src="https://user-images

[2020-12-09 23:25] natalieworth opened #5823 "PNI: Replace hero image with updated contrast version"
The hero image on the PNI site made the text difficult to read, so design has updated the hero image by reducing the contrast. For dev, we need to [upload the new hero image](https://drive.google.com/open?id=1PPNxPAuqEeD-KzrdNJiEvgMObAzjhj-J&authuser=natalie%40mozillafoundation.org&usp=drive_fs) on the PNI site.

Original design ticket is here for further reference: #5701

[Redpen mockups are in h

[2020-12-09 23:26] sabrinang opened #5824 "[Publications] Summary h2 Missing Links"
![image](https://user-images.githubusercontent.com/2492510/101699656-6149cd80-3a30-11eb-8c2f-dcddca661434.png)

- this seems to happen when bold + H2 (mix of styling?) is applied
- the text will show in "preview" mode while editing but when published it appears as []

/cc @baricks @jamilasnell

[2020-12-09 23:30] sabrinang opened #5825 "[Publications] Long URLs extend beyond container"
When there is a long URL present it is breaking outside of the column content body:

![image](https://user-images.githubusercontent.com/2492510/101700199-7e32d080-3a31-11eb-8a7b-e3d1d377fa9f.png)

https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/building-new-tech-and-products/#footnote-5

![image](https://user-images.githubusercontent.com/2492510/101700456-e84b7580

[2020-12-09 23:36] sabrinang commented on #5824
Note: the page has been fixed by removing bold in/near h2

[2020-12-09 23:45] sabrinang opened #5826 "[Publications] Summary Spacing"
Increase spacing in between summary text columns, currently text is spreading and running into the others:
![image](https://user-images.githubusercontent.com/2492510/101702257-5f363d80-3a35-11eb-8ecd-42c4e44f16f5.png)

https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/building-new-tech-and-products/

/cc @baricks @jamilasnell

[2020-12-10 00:32] sabrinang opened #5827 "[Publications] Create a Demo Page"
We can test out https://github.com/mozilla/foundation.mozilla.org/issues/5765 how-to docs and with the result it can be a demo page for [How do I Wagtail](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/) so users can see what is possible with publication page types.

- Review How To doc
- Input content _(example: check out https://www.gutenberg.org/ for a public domain story as dummy text

[2020-12-10 01:24] Pomax commented on #5777
products loaded on `privacynotincluded-new` have a nav that points to `privacynotincluded` links instead. This would not be noticed if the route is named the same, but it suggests a code incompletion for the products navbar

[2020-12-10 01:29] Pomax commented on #5777
The cache clearing button for PNI data should find a better home now that we won't be using the snippet menu anymore. It currently lives here:

![image](https://user-images.githubusercontent.com/177243/101709326-16d24c00-3a44-11eb-84e5-65ee4ea565bc.png)

And that's not the right place if products now live under a real page.

/cc @KalobTaulien

[2020-12-10 02:15] natalieworth commented on #5701
Made a dev ticket for Mavis [#5823](https://github.com/mozilla/foundation.mozilla.org/issues/5823), so closing this. :)

[2020-12-10 02:15] #5701 closed

[2020-12-10 13:30] TheoChevalier commented on #5777
Minor visual regression in footer (icons misaligned)
![Screenshot_2020-12-10  Privacy Not Included A Buyer’s Guide for Connected Products(1)](https://user-images.githubusercontent.com/1294206/101777764-da0d6000-3aea-11eb-9c62-f35ef4264589.png)

[2020-12-10 14:29] TheoChevalier opened #5828 "PNI: add missing fields to translation.py"
Quick follow up to the massive PNI PR, we need to add a few more fields to the translation.py file:

- social_data_collected
- offline_use_description
- Category name
- Privacy Policy link

[2020-12-10 16:16] #5817 closed

[2020-12-10 17:27] Pomax opened #5830 "PNI footer has a misaligned icon in the footer"
It looks like the footer on PNI pages has a misaligned icon
![image](https://user-images.githubusercontent.com/177243/101807307-d4ebe900-3ac9-11eb-975a-6d30fa047cda.png)

[2020-12-10 17:36] kristinashu commented on #5777
One potentially important issue is with the Minimum Security Standards.

On prod it says "No" https://foundation.mozilla.org/en/privacynotincluded/products/kidkraft-amazon-alexa-2-in-1-kitchen-market/
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/1068783/101808111-c520d480-3aca-11eb-9faf-99f98b8521b8.png">

But on the new site it says "Unknown" https://foundation.mof

[2020-12-10 17:38] Pomax commented on #5777
@TheoChevalier looks like this is not so much a regression as "this is also true on https://foundation.mozilla.org/en/privacynotincluded/" so I'll file a separate issue for that.

@kristinashu good find, I will investigate what's going on with that.

[2020-12-10 18:05] kristinashu commented on #5777
Noting a couple differences that appear on PNI staging vs PNI-new staging vs PNI prod.

NOT A BLOCKER - the order of the privacy policies is reversed when there are multiple.

<img width="899" alt="image" src="https://user-images.githubusercontent.com/1068783/101811384-dff54800-3ace-11eb-9c60-90216b64a4ff.png">
vs
<img width="907" alt="image" src="https://user-images.githubusercontent.com/1068783/

[2020-12-10 18:11] KalobTaulien opened #5832 "Reduce number of queries on PNI home page"
On localhost we're getting 510 db queries using Wagtail Pages (vs 660 using django models). It's likely higher on production with real (and more) products.

Regardless of caching we need to lower this as 510 is still way too high to be acceptable for a database to handle on a standard web request.

Criteria:
- [ ] Look into using .specific() on the QuerySet
- [ ] Use debug toolbar to check before

[2020-12-10 18:12] Pomax commented on #5777
categories load agonizingly slow.

[2020-12-10 19:04] KalobTaulien opened #5837 "Fix PNI homepage localization urls"
Going to http://localhost:8000/fr/privacynotincluded-new/ and clicking a product would go to a redirect view, and isnt accepting a locale so it 404's when using a different locale.

Instead, let's use the product urls and leverage the localization we have,

## Criteria
- [ ] Remove routeable loaded module from template
- [ ] Use `{{ product.url }}` in template instead of a routable urls.

[2020-12-10 19:18] Pomax opened #5839 "MozFest signup petition campaign id does not make it into salesforce"
We updated the Mozfest signup petitions to take a Salesforce campaign id, https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/pagemodels/campaigns.py#L55-L70, with this id added to the basket payload when signups are processed, https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/campaign/views.py#L104-L120

however, @ma

[2020-12-10 19:22] mmmavis commented on #5822
Yes, we can remove them.
I'm thinking mabye we can add a new toggle box in the CMS for editors to decide whether or not they want ToC numbering to autoshow. I'll file a ticket as this requires further discussion.

This will require backend changes so I'll file a follow-up ticket for this work. (The team is busy getting other backend heavy work for PNI to land so it's better that we don't introdue

[2020-12-10 19:25] pmac commented on #5839
I believe I see the issue. I see on [this line](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/campaign/views.py#L129) that the event type is `newsletter_signup_data`. The only event type that is setup on the basket side to record a `campaign_id` is `crm_petition_data`. This is also because there is no field on the contact record for a campaign ID, this is onl

[2020-12-10 19:43] Pomax opened #5841 "Wagtail PNI pre-flight checklist"
# stage testing

- [x] land code to staging
- [x] run migration script against staging db
- [x] QA and identify any issue that needs fixing prior to launch using `privacynotincluded-new` url - see https://github.com/mozilla/foundation.mozilla.org/issues/5777
  - [x] fix immediate issues, file-for-followup anything that isn't critical

# prod push

- [x] promote staging to production
- [x] run migr

[2020-12-10 19:49] #5837 closed

[2020-12-10 20:59] kristinashu opened #5842 "PNI: product page spacing"
I don't know when this happened but at some point a bunch of extra space was added below each criteria. It was good at launch but something changes at some point. @Pomax @mmmavis @KalobTaulien any idea when/how/why this happened? Can you please revert it back to how it was? cc @sabrinang

Screen cap from prod https://foundation.mozilla.org/en/privacynotincluded/products/jabra-elite-85t/

<img widt

[2020-12-10 21:01] sabrinang commented on #5765
Content and images are published here: https://foundation.mozilla.org/en/docs/how-do-i-wagtail/publications/

[2020-12-10 21:04] kristinashu commented on #5777
When on a product page at a narrow screen width, the word "All" should be visible in the dropdown nav.

Screen cap from -new
<img width="608" alt="image" src="https://user-images.githubusercontent.com/1068783/101829526-ffe53580-3ae7-11eb-93aa-f8053066f358.png">

Screen cap from prod
<img width="607" alt="image" src="https://user-images.githubusercontent.com/1068783/101829612-1e4b3100-3ae8-11eb-803

[2020-12-10 21:45] kristinashu commented on #5777
Agree. It is unbearably slow. If it's going to be that slow on prod then I would say it's a blocker for launch. I do not feel comfortable launching with that slow of a load time.

[2020-12-10 21:45] mmmavis opened #5846 "Consider adding a "show numbering in ToC" toggle box to Publication Page"
### Describe the feature request
Consider adding a new toggle box to Publication Page for editors to decide whether or not they want to have auto-numbering appear in ToC.

### Additional context
Context: #5840

/cc @sabrinang

[2020-12-10 21:46] Pomax commented on #5777
same. I'll spend today investigating why it's so slow.

[2020-12-10 21:47] mmmavis opened #5847 "Consider allowing editors to upload chapter image shown on Publication's ToC"
### Describe the feature request
Consider allowing editors to upload custom chapter image shown on Publication's ToC

### Additional context
#5822

/cc @sabrinang

[2020-12-10 21:56] Pomax opened #5848 "Blog post social buttons at tablet width are not padded correctly"
There is too much padding for both "email" and "copy" at the bottom of blog posts:

Add any other context about the problem here.
![image](https://user-images.githubusercontent.com/177243/101834531-55711080-3aef-11eb-808a-d79601d2b6b3.png)

[2020-12-10 22:09] Pomax opened #5849 "Finesse ReactGA vs. Google Tag Manager"
With GTM added to the event code, we should have a look at seeing whether or not we want to keep GA events or do everything in GTM

[2020-12-10 22:22] #5765 closed

[2020-12-10 23:31] sabrinang commented on #5777
Comparing https://foundation.mofostaging.net/en/privacynotincluded-new/ to https://foundation.mozilla.org/en/privacynotincluded

**Product Pages**
- Missing comments
- Related products: ding symbol inconsistently present on thumbnail, order shuffled
<img width="1396" alt="image" src="https://user-images.githubusercontent.com/2492510/101842091-2b721b00-3afc-11eb-82ce-e0a78cde560e.png">
example: /ka

[2020-12-10 23:35] Pomax commented on #5777
- Staging does not load comments, so that's expected.
- The related product ordering is due to how the new code works so the same products will show but their ordering is not guaranteed the same (old code did not technically have an ordering)
- the missing ding in related product definitely needs investigating.

[2020-12-10 23:36] sabrinang commented on #5842
The [About the Guide](https://foundation.mozilla.org/en/privacynotincluded/about/why) pages are also looking spaced out after paragraphs:
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/2492510/101842542-1f3a8d80-3afd-11eb-8219-2b4e1ad34290.png">

Comp: https://share.goabstract.com/38480f87-d9fb-4274-9e98-8848e9e1963a?mode=design&sha=fd854dc7dd2965d9ccb794b92e8c31a058d

[2020-12-10 23:46] mmmavis commented on #5822
Note: ToC appears not just on Publication Page but also on "chapter page" (publication page as child of another publication page)

[2020-12-11 00:26] #5832 closed

[2020-12-11 00:38] kristinashu commented on #5842
The plot thickens!

[2020-12-11 00:58] Pomax opened #5854 "Make the PNI cutoff date not a hardcoded value in products.py"
We're currently hardcoding the PNI which-products-to-show cutoff date in `products.py`, and that should really be either a CMS-controllable value (is there a `wagtail-settings` or something?) or an environment variable.

/cc @KalobTaulien

[2020-12-11 01:26] Pomax commented on #5777
I suspect the missing title on "old" PNI on staging is a typo in the template from when we accidentally tried to update the existing templates instead of creating updated copies so we could still have the old data render properly.

[2020-12-11 18:22] mmmavis commented on #5842
I think I found what's causing the issue. Looks like it's the CSS we added for the Content Rules page is also applied on other pages. I'll file a fix. Weird that Percy didn't catch this though. 🤔

[2020-12-11 18:41] mmmavis commented on #5825
The footnote list should probably be implemented using `<ol>` instead of a list of `<div>`. Will have to rewrite the DOM + tweak styling a bit.

[2020-12-11 18:55] kristinashu commented on #5596
Thank you @sabrinang for your help with QA. Will leave this open to QA the site again once it lands on prod Monday.

[2020-12-11 21:08] kristinashu commented on #4725
@taisdesouzalessa does this still need to be done?

[2020-12-11 21:09] #4438 closed

[2020-12-11 21:10] kristinashu commented on #4508
@taisdesouzalessa what else is needed to complete this ticket?

[2020-12-11 21:16] kristinashu commented on #5662
Is this good to close?

[2020-12-11 21:17] taisdesouzalessa commented on #4725
Nope, our "who are are" pages are launched and live. Closing this ticket! Thanks for catching this ooooold one floating around there in GH.

[2020-12-11 21:17] #4725 closed

[2020-12-11 21:20] taisdesouzalessa commented on #4508
- [ ] making it more on brand
- [ ] adding benchmarks to facilitate comparison

[2020-12-11 21:20] #4964 closed

[2020-12-11 22:34] mmmavis commented on #5783
@sabrinang I see that on Sketch, footnote text is set to 16px/24px on mobile and 18px/27px on desktop. Just wanna double check with you that we wanna change footnote font size to 14px with 20px line-height for all screen sizes.

[2020-12-12 00:04] #5793 closed

[2020-12-14 17:04] sabrinang commented on #5800
Feedback via slack Sarah W. :

[2020-12-14 18:10] Pomax commented on #5777
we can close this after filing followup issues for each deferred task

[2020-12-14 18:23] Pomax opened #5870 "PNI follow-up: update categories to work with new products"
Update categories to work with the new products, rather than looking at the old product model for "should I show up in the nav"

[2020-12-14 18:26] Pomax opened #5871 "PNI follow-up: move the PNI "clear cache" button to a better place"
Right now the "clear cache" button lives in the buyersguide snippets product page,

![image](https://user-images.githubusercontent.com/177243/102119884-a5551d80-3df6-11eb-9e90-4d8734b74a8f.png)

We should put the logic for this in the `BuyersGuideProduct` model, with the clear button added to its settings panel

In addition, it probably makes sense to make products invalidate the cache when they g

[2020-12-14 18:28] Pomax opened #5872 "PNI follow-up: create an access group for people who are allowed to create/edit PNI products"
We'll need a new user group with access and CRUD rights to the new PNI page and its children.

[2020-12-14 18:30] Pomax opened #5873 "PNI follow-up: refine the page routing logic by creating a PNI Homepage model"
We should consider changing the routing logic, where products are children of a dedicated "PNI homepage" page model instance, with the `@route` logic housed in that homepage class instead of in the ProductPage, so that the homepage is responsible for itself and for categories, with ProductPage children responsible solely for their own data and rendering.

[2020-12-14 18:31] #5815 closed

[2020-12-14 18:32] Pomax opened #5874 "PNI follow-up: add images to product page factory"
The new PNI wagtail solution does not generate images into its fake data atm, we should fix that.

[2020-12-14 18:32] Pomax opened #5875 "PNI follow-up: add categories to product page factory"
new PNI does not currently assign categories to fake products, which for testing purposes they should have.

[2020-12-14 18:34] Pomax opened #5876 "PNI follow-up: create new Percy products"
- Set up percy-specific testing data for the new wagtail based PNI
  - [ ] percy-specific general product
  - [ ] percy-specific software product

[2020-12-14 18:35] Pomax opened #5877 "PNI follow-up: double check we have testing parity between old and new PNI"
Old PNI had a bunch of tests, and new PNI has a bunch of tests, and we should make sure there is parity between those two sets (excepting the functionality that was taken out).

[2020-12-14 18:36] Pomax opened #5878 "PNI follow-up"

[2020-12-14 18:37] Pomax commented on #5777
all open issues have been filed as follow-up work tied together in an epic https://github.com/mozilla/foundation.mozilla.org/issues/5878

[2020-12-14 18:37] #5777 closed

[2020-12-14 18:39] sabrinang commented on #5783
@mmmavis yeah 14px/20px is good for both mobile and desktop, I updated the sketch file now too

[2020-12-14 18:47] #5822 closed

[2020-12-14 18:49] Pomax commented on #5873
I completely missed that this is already handled in the BuyersGuidePage model.

[2020-12-14 18:49] #5873 closed

[2020-12-14 18:50] Pomax opened #5879 "PNI follow-up: add "cutoff date" to BuyersGuidePage"
Rather than hardcoding the product cutoff date in code, this should be a date field on the `BuyersGuidePage` that can be set in the CMS by staff working on PNI.

[2020-12-14 19:46] #5782 closed

[2020-12-14 19:46] #5787 closed

[2020-12-14 20:12] #5824 closed

[2020-12-14 20:12] #5826 closed

[2020-12-14 20:29] #5842 closed

[2020-12-14 23:31] Pomax opened #5881 "PNI follow-up: remove buyers guide URLs"
- [ ] remove the `buyersguide/urls.py` bindings, in preparation of removing the buyersguide app entirely.

This one is _super tricky_ so let's do it in parts by removing one url_pattern rule at a time.

An attempt was made in https://github.com/mozilla/foundation.mozilla.org/tree/problem-branch and it didn't go well.

[2020-12-14 23:52] Pomax opened #5882 "PNI follow-up: clean up the tests"
several tests were marked as `@skip` as part of https://github.com/mozilla/foundation.mozilla.org/pull/5883, with some tests rewritten just enough for the wagtail version to pass - we should revisit these tests.

[2020-12-15 00:05] mmmavis commented on #5830
This will be fixed once PR https://github.com/mozilla/foundation.mozilla.org/pull/5855 is pushed live.

[2020-12-15 00:05] #5830 closed

[2020-12-15 00:21] Pomax opened #5884 "investigate disabling the "maintenance page deploy" travis task"
We almost never touch the maintenance page, having every PR wait for its upload testing to pass seems a highly inefficient use of CI minutes.

[2020-12-15 00:51] Pomax opened #5885 "PNI follow-up: investigate why coral comments on PNI products have vanished"
Either they're actually gone, or we may have just messed up the coral ID in the copied `product_page.html` template. I suspect it's the latter.

[2020-12-15 17:22] Pomax opened #5886 "PNI follow-up: make categories aware of new products"
category functionality got rewritten, but the new code and templates still tap into some of the old logic. Specifically, [published_product_count()](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/pagemodels/product_category.py#L51-L53) checks for how many _original_ products are classified into this category, which determines whether or not a categ

[2020-12-15 17:49] #5785 closed

[2020-12-15 18:00] #5825 closed

[2020-12-15 18:05] Pomax commented on #5841
this. is done.

[2020-12-15 18:05] #5841 closed

[2020-12-15 18:07] #5506 closed

[2020-12-15 18:28] Pomax commented on #5885
Probably related to the URLs no longer being the same, we took out the `/products/` infix - best case, we can pass an argument to coral that lets it know to use the old URL, otherwise this might take more time and the sky's the limit

[2020-12-15 18:28] Pomax commented on #5870
supercded by https://github.com/mozilla/foundation.mozilla.org/issues/5886

[2020-12-15 18:28] #5870 closed

[2020-12-15 18:34] Pomax opened #5887 "PNI follow-up: remove the buyersguide app"
- [ ] make sure all app files have already been disabled/deleted
- [ ] create a management command to
  - [ ] deal with the table rename for the product category
  - [ ] remove the buyersguide tables from the db using pure SQL
- [ ] update wagtail:
  - [ ] remove the buyersguide nav section

[2020-12-15 18:57] Pomax commented on #4135
moving this into the PNI followup epic, with the switch to wagtail we can probably close this as part of the "delete old products" step.

[2020-12-15 19:14] Pomax commented on #5872
I've updated the existing `administrate: PNI` role to include the new PNI page

[2020-12-15 19:14] #5872 closed

[2020-12-15 19:31] #5596 closed

[2020-12-15 19:33] Pomax commented on #5885
crosslink for https://github.com/coralproject/talk/issues/3337

[2020-12-15 19:45] KalobTaulien opened #5890 "Publication Chapter pages should have footer navigation to skip from chapter to chapter."
Should look and act the same as the ArticlePage footer navigation, but skip from chapter to chapter.

![image.png](https://images.zenhubusercontent.com/5efb75cdc84745fe99550744/3c7c2c6f-cc56-4d6a-b150-f034e1deb328)

[2020-12-15 19:53] mmmavis commented on #5788
The [CSS-only solution](https://github.com/mozilla/foundation.mozilla.org/blob/master/source/sass/components/article-page.scss#L247-L255) seems to only work if the **inline** anchor itself is set to have `display: block`... which is def not what we want. I ran out of all the CSS-only solutions I could think of. Gonna ask the team for help. Fallback plan will be using JS for this.

[2020-12-15 22:33] Pomax commented on #5521
marking as blocked because this is basically the very last step

[2020-12-15 23:00] sabrinang opened #5898 "Wagtail: Improve Image Quality"
Images have good resolution but when uploaded they are a bit blurry. See example below: [theory of change graphic](https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/introduction-theory-change/)
<img width="787" alt="image" src="https://user-images.githubusercontent.com/2492510/102282595-af097e80-3ee5-11eb-9144-afe9539596e6.png">

Kalob mentioned in slack:

`WAGTAILI

[2020-12-15 23:23] mmmavis opened #5901 "#DearInternet - allow YouTube video embed"
Allow YouTube video embed so we can show this lovely video on our page: [youtu.be/s7OD5BgFrVM](youtu.be/s7OD5BgFrVM)

/cc @sabrinang @Audreymofo

[2020-12-15 23:36] KalobTaulien commented on #5898
Ahh so this is in the `content` RichText stream block. I thought (for some reason) this was it's own stream block.

So here we have very little control. It's set a width of 800 by default in the richtext area. All we can do, as far as I know, is set the JPEG and WEBP image qualities — which I'll open a PR for.

[2020-12-15 23:45] natalieworth opened #5903 "Hulu Petition Delivery"
###Hulu Petition Delivery

Advocacy needs to deliver the signatures of the petition to Hulu.

###Links
[Request with further details is here.](https://docs.google.com/document/d/1CGP6LAJU0bZ8FoNiR6BlUoAOGB4PAbRhpPGkVhzSdOU/edit)

[Copy doc is here](https://docs.google.com/document/d/1tXXU-_aA9U1LUalvTLwtrXm_SQX8H6dVbMjVPsQ6Nc8/edit)

I'll estimate 8 for now (meeting with Kaili + time to work on it

[2020-12-15 23:49] mmmavis commented on #5901
@sabrinang I'm trying to think what the best way is to do this. There are a few scenarios we have to consider

1. letter with image
2. letter with image and non-YouTube video url
3. letter with image and YouTube video url
4. letter without image and non-YouTube video url
5. letter without image and YouTube video url

For video embed, we can only embed videos that are on YouTube. Any thoughts on wh

[2020-12-15 23:56] taisdesouzalessa commented on #5711
Update: 7 interviews done (last one to be done tomorrow)
Taís and Nancy will meet after interview to start analyzing the data gathered.

[2020-12-15 23:57] Pomax opened #5905 "PNI follow-up: make PNI test data product images use our "fake product" images"
Follow-up to https://github.com/mozilla/foundation.mozilla.org/issues/5874: it would be a nice if we could use the old product images, which means:

- [ ] figure out how to get the "product images" in our static asset dir into the CMS as wagtail images
- [ ] switch from `ImageFactory()` to picking a random (using `choice`) wagtail `Image` as target

[2020-12-16 00:01] mmmavis opened #5906 "Get rid off all off-brand colours"
Related ticket: https://github.com/mozilla/foundation.mozilla.org/issues/6285#issuecomment-797052376

There are more and more one-off custom colours being used in the codebase. We should really stop adding those as they are violating our brand guide and making the codebase harder to maintain.

Let's clean them up by either replacing them with existing brand colours or turning them into official br

[2020-12-16 00:09] Pomax opened #5907 "Investigate using wagtail-cache to improve page loads"
https://docs.coderedcorp.com/wagtail-cache/getting_started/index.html exists, it's on v1.0.1, let's see if it can help us (drastically) improve page loads!

/cc @KalobTaulien @benhohner

[2020-12-16 00:55] sabrinang commented on #5901
I was thinking our letter types would be:

1. letter only
2. letter with image _(optional linked image, optional image caption or link)_
3. letter with video embed _(optional video caption or link)_

We don't have non-youtube URL whitelisted for the site anyway so I'd exclude that and my assumption is if we have one medium we wouldn't need both in one letter. If we wanted a video outside of what w

[2020-12-16 16:01] Audreymofo commented on #5901
I'd keep it simple too, it really just needs to be youtube videos that we
can embed. Thanks!

On Wed, Dec 16, 2020 at 12:55 AM sabrinang <notifications@github.com> wrote:

--
Audrey Hingle
+44 (0) 7738 095865

[2020-12-16 17:15] #5874 closed

[2020-12-16 17:16] #5875 closed

[2020-12-16 17:38] taisdesouzalessa opened #5908 "[Publications] Add event to Trustworthy AI download button"
With the launch of Creating Trustworthy AI Whitepaper we need to track how many clicks we get on the "Download Full PDF" button

<img width="366" alt="image" src="https://user-images.githubusercontent.com/22157921/102383961-fdb82680-3f80-11eb-990b-d038a3b541c0.png">

https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/

If possible, we should add this tracker sooner than later to

[2020-12-16 17:44] #5879 closed

[2020-12-16 17:44] #5871 closed

[2020-12-16 17:45] #5885 closed

[2020-12-16 17:46] KalobTaulien commented on #5786
This has been taken care of in #5888. Will move both tickets over to Closed when it lands

[2020-12-16 17:47] #5707 closed

[2020-12-16 18:00] mmmavis opened #5909 "GA pageview event seems to stop being fired"
### Describe the bug
Pageview numbers on GA dashboard seem very low for the past few days. I used the the Chrome GA plug-in to check and it looks like pageview events aren't being fired.

### Expected behavior
Pageview events are being fired and tracked.

[2020-12-16 18:04] #5783 closed

[2020-12-16 18:05] #5753 closed

[2020-12-16 18:12] Pomax commented on #5909
We turned this off in https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/common/google-analytics.js#L49 because we had added google tag manager and were worried about double events for page views, @benhohner is this something we need to reenable, or do we want to keep that turned off and onboard folks to the GTM system?

[2020-12-16 19:06] #4908 closed

[2020-12-16 20:04] Pomax opened #5910 "PNI follow-up: remove the migration command"
This was a one-time command and should not need to hang around. We'll have it exist in the git history.

We probably want to do this a the "same" time we remove all the old PNI code.

[2020-12-16 20:33] #5781 closed

[2020-12-16 21:44] mmmavis commented on #5909
Debugged this with @benhohner . It turned out to be that we forgot to whitelist the external script that's supposed to fire GTM's events. I've added both `https://www.googletagmanager.com/gtm.js` and `https://www.googletagmanager.com/debug/bootstrap` to production's `CSP_SCRIPT_SRC` so things should work fine now.

Fun fact: the reason why we were still getting _some_ pageview events was because t

[2020-12-16 21:44] #5909 closed

[2020-12-16 22:25] #5799 closed

[2020-12-16 22:46] #5794 closed

[2020-12-17 00:40] natalieworth commented on #5903
Sent to Kaili and she is happy with it!

[Final files are in here](https://drive.google.com/open?id=1X3F4ztoLf6bwv4RLnxS4rEmwNk17w_Rw&authuser=natalie%40mozillafoundation.org&usp=drive_fs)

[2020-12-17 00:40] #5903 closed

[2020-12-17 01:36] hwine opened #5918 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 10:40] TheoChevalier opened #5919 "Travis CI migration on l10n repos"
Just saw #5918, and realized we will need to migrate from Travis for the l10n repos as well, otherwise localization will be totally broken.
We’re currently relying on Travis CI to:

- Generate a translation package and upload it to S3 for Wagtail consumption
- Run checks on translations at each commit to raise errors via mofo-pontoon-check

We’re doing that for both the foundation site and donate:

[2020-12-17 17:06] Pomax commented on #5918
@hwine can I ask why we'd prefer CircleCI over GA for prod? Just to keep the environment variables in a place we trust more?

[2020-12-17 17:13] TheoChevalier commented on #5685
(Copying over from #5919)
Just saw #5918, and realized we will need to migrate from Travis for the l10n repos as well, otherwise localization will be totally broken.
We’re currently relying on Travis CI to:

    Generate a translation package and upload it to S3 for Wagtail consumption
    Run checks on translations at each commit to raise errors via mofo-pontoon-check

We’re doing that for both t

[2020-12-17 17:14] TheoChevalier commented on #5919
Closing in favor of #5685

[2020-12-17 17:14] #5919 closed

[2020-12-17 17:32] hwine commented on #5918
It's mostly an SLA issue -- see [this FAQ question](https://docs.google.com/document/d/1OKBwFBl0A5QtXcKe4b4y9_9wnGdwrHQjSjj1yRth5YE/edit#heading=h.uhgxg65crjy2)

[2020-12-17 17:42] taisdesouzalessa opened #5920 "Guest Blog Post to Mozfest"
@jamilasnell I am assigning this to myself so I don't forget.

**Background:**
Taís to write a guest blog post related to MozFest. Draft to be sent to Kristina G. by mid January so she can review it and give feedback. I'll then refine it and ship it by end of January, 2021.

**Some ideas of topics:**
• My first MozFest: setting up the festival with other designers, the excitement, the fears in com

[2020-12-17 18:56] #5823 closed

[2020-12-17 20:36] sabrinang commented on #5766
@jamilasnell should we schedule these onboardings for next year as many of us will be out for holidays next week and we still have a few publication PRs being landed so it would be good to wrap those up first too. Any other timings we should consider and any thoughts?

[2020-12-17 21:00] #5898 closed

[2020-12-17 21:37] KalobTaulien commented on #5790
Blocked: waiting on a11y treatment feedback from Sabrina.

[2020-12-17 22:09] mmmavis commented on #5791
Kalob's PR #5888 covers the fix for this ticket. Will close this one when that PR is merged.

[2020-12-17 22:29] KalobTaulien commented on #5786
I'm going to close this in favour of #5792 (PR is #5888)

[2020-12-17 22:29] #5786 closed

[2020-12-17 22:30] KalobTaulien commented on #5784
Sabrina made a nice diagram of how this should work in the PR (#5889) — I'll be implementing this on Monday

[2020-12-18 00:21] taisdesouzalessa opened #5931 "[Insights Hub] Nesting Insights projects inside Insights Hub"
@jamilasnell This is an issue that needs discussion between a designer (me) and one engineer. Tagging you for triage.

**Issue:**
We want to move the following projects: "[Privacy Included](https://foundation.mozilla.org/privacy-included/)" and "[Data Futures](https://foundation.mozilla.org/en/initiatives/data-futures/)" inside the newly created "[Insights](https://foundation.mozilla.org/en/insigh

[2020-12-18 01:06] taisdesouzalessa opened #5932 "[Insights hub] Email preferences page update"
**Background:**

This ticket is:
- [x] to get the progress status for the email preferences page update [as per this doc](https://docs.google.com/document/d/1cjvoU2fVqLnY7lGHNsBtrIBRTuiRZp8S3sXT6W2BPZg/edit?usp=sharing)
- [x] once it is updated, notify the Insights team

cc: @jamilasnell this is more a reminder for us so this project doesn't get forgotten

[2020-12-18 01:07] taisdesouzalessa commented on #5676
The bulk of this work is done (Insights Hub is live and connected on "What we do" Page).

We need to move solve some Wagtail issues ([rows 12-27](https://docs.google.com/spreadsheets/d/1cZL5ExYE0754budmYcTPyd2t5_RjZzHSnJuP0Shu9jM/edit?usp=sharing)) regarding nesting Data Futures and Privacy Included inside the Insights hub in the URL and in the CMS structure. Filed a ticket here #5931 since it nee

[2020-12-18 01:07] #5676 closed

[2020-12-18 17:43] jamilasnell commented on #5766
Yes, I think that we should move the onboarding meetings to next year. Considering the fact that we will have a month between when we come back in Jan to when PNI Valentines is launching, I would said that later in Jan makes the most sense to schedule the trainings out.

[2020-12-18 18:03] Pomax commented on #5685
@TheoChevalier do you know who owns the "mozilla-l10n" org? Because they will have to rewrite their travis yml to github actions yml, too.

[2020-12-18 19:11] TheoChevalier commented on #5685
That would be @flodolo, but I'm not sure I understand what's actually needed at the org level...

[2020-12-19 02:20] taisdesouzalessa commented on #5711
[Draft Research is here →](https://docs.google.com/document/d/1SZXpItE8uOd8BprY8IK53KYVHGLXsXpiYvFeRXMTSas/edit?usp=sharing)

@nancyt1 can you please review it and give me feedback when you have some available time? Feel free to add comments to the doc! @kristinashu @sabrinang @natalieworth your feedback is also welcomed!

**Were we successful?**
Overall we can say yes. Staff interviewed in this p

[2020-12-19 02:20] #5711 closed

[2020-12-19 02:24] taisdesouzalessa commented on #5774
@jamilasnell I'll have to open follow up tickets to this task on Jan 2021. Will move this ticket to the next milestone so I don't forget.

[2020-12-19 04:23] taisdesouzalessa commented on #5068
@jamilasnell this has to be moved to Jan 2021 :)

[2020-12-19 04:24] taisdesouzalessa commented on #5595
Moved this to Jan 2021

[2020-12-19 04:29] taisdesouzalessa opened #5934 "[Analytics] Getting oriented with analytics as a team"
**Topic: getting oriented with analytics together**

Figure out how much everyone knows about analytics
- [x] Taís to Create survey by end of sprint. **Status:** survey sent
- [x] Give full GA access to other team members
- [x] Compile results
- [ ] Taís and Ben to do a workshop in January based on survey results. Jackie was looped into the discussion since she has plans to work on data training r

[2020-12-19 04:30] taisdesouzalessa opened #5935 "[Analytics] Google Tag Manager"
Topic: Google Tag Manager

- [x] Ben to work with Pomax to put the tag manager in place
- [x] Ben to give Taís access to tag manager
- [ ] Taís to do tutorials to catch up/use Tag Manager
- [x] Ben and Taís to discuss how to smoothly roll the updates to teammates - @kristinashu I feel you could be involved on this too, what do you think?
- [x] Ben and Taís to come up with a plan/process for Tag Ma

[2020-12-19 04:35] taisdesouzalessa commented on #5774
We accomplished what was stated in this ticket ( discussion + pre-task). Filed 2 follow up tickets so closing this one.

[2020-12-19 04:35] #5774 closed

[2020-12-19 06:15] flodolo commented on #5685
As far as I'm aware, we have very little remaining on Travis (a handful of PHP projects, for which I still need to figure out the migration to GitHub actions).

Having said that, my understanding was that it's not completely shutting down? Is it a problem with permissions on the new travis-ci.com?

[2020-12-21 15:27] TheoChevalier commented on #5685
No, the only issue is it’s not free anymore (because the foundation site repo runs a lot of CI), and it looks like if we have to pay for CI, we’re going to pick Circle CI instead.

Looks like the plan for the foundation website is to temporarily migrate to GitHub actions before the end of the month, then properly migrate to Circle CI next year when we have more time to prepare.

For the localizati

[2020-12-21 15:49] flodolo commented on #5685
Just re-read this part. My team didn't work on this, it was done entirely by MoFo folks. We're only hosting localization repos because it's easier and more convenient to manage them (e.g. set up Pontoon access).

My personal suggestion would be to go with GitHub Actions. The only part to figure out is the upload to S3 ([this might be relevant](https://github.com/marketplace/actions/s3-sync)).

All

[2020-12-21 16:52] kristinashu opened #5943 "PNI: remove duplicate field"
Currently on production the Encryption help text is being duplicated and is showing as MSS help text as well (MSS shouldn't have any helt text).

- [ ] MSS should not show help text

Screen cap from prod:
![image](https://user-images.githubusercontent.com/1068783/102801016-86600980-4369-11eb-86f7-97796c57228f.png)

[2020-12-21 16:57] kristinashu opened #5944 "PNI: expand "what could go wrong" field in CMS"
CMS usability feedback from Jen:

- [x] Expand what could go wrong text box in the CMS so it’s like the blurb one and not all on one line (it’s hard to review when it’s all on one line)

Screen cap from prod:
<img width="710" alt="image" src="https://user-images.githubusercontent.com/1068783/102801617-4d746480-436a-11eb-9d03-3fc62e904410.png">

[2020-12-21 18:27] kristinashu opened #5945 "PNI: Add a text field for user-friendly privacy section"
Feedback from Jen:

- [x] Add an optional text field for user-friendly privacy section
- [x] Style it the same as the already existing fields

[2020-12-21 18:31] kristinashu opened #5946 "[PNI] Change “Unknown” to “Can’t determine” for quad-state-fields"
Update the four-possible-values field from the current "Yes"/"No"/"Not Applicable"/"Unknown" to "Yes"/"No"/"Not Applicable"/"Can't Determine", to better

- [x] Change the field definition from “Unknown” to “Can’t determine”
- [x] Update the template tag for this field to use the new phrasing

Screen cap from prod:

<img width="564" alt="image" src="https://user-images.githubusercontent.com/1068783

[2020-12-21 18:32] kristinashu commented on #5594
I've opened this as individual tickets.

[2020-12-21 18:32] #5594 closed

[2020-12-21 18:35] sabrinang opened #5947 "[Publications] Summary dropdown button text alignment"
Adjust alignment of the title/arrow:
<img width="512" alt="image" src="https://user-images.githubusercontent.com/2492510/102518292-f4dd5880-4045-11eb-83e0-2b5a9b5e523a.png">

[2020-12-21 19:38] #5943 closed

[2020-12-21 20:12] sabrinang opened #5950 "[Publications] review text size/colors to improve a11y"
Review smaller text areas on publications and recommend changes to improve a11y. Some examples may be:
<img width="851" alt="image" src="https://user-images.githubusercontent.com/2492510/102817911-781fe680-4385-11eb-8f7d-042c91ba2639.png">
<img width="497" alt="image" src="https://user-images.githubusercontent.com/2492510/102817960-8ec63d80-4385-11eb-9ec4-29ff907f240c.png">
<img width="1215" alt="

[2020-12-21 20:14] Pomax opened #5951 "Don't upload the maintenance page with every single PR"
The old travis-based CI setup has a `deploy` task that uploads the maintenance page to S3 for us. But it runs that for every PR, which is rather odd. (see https://github.com/mozilla/foundation.mozilla.org/blob/master/.travis.yml#L100-L114)

We should make this a new github action that only kicks in when PRs merge into master.

[2020-12-22 16:10] Audreymofo commented on #5901
Should this work now? It doesn't seem to (for me anyway) @mmmavis

[2020-12-22 17:47] mmmavis commented on #5901
@Audreymofo my PR is still waiting for code review. Aiming to have to the code landed today.

[2020-12-22 18:45] kristinashu commented on #5536
@jamilasnell this is done, right?

[2020-12-22 18:46] kristinashu commented on #5766
Gonna move this to next sprint and increase the time estimation.

[2020-12-22 18:56] jamilasnell commented on #5536
Yes it is! I will close this

[2020-12-22 18:56] #5536 closed

[2020-12-22 19:30] #5901 closed

[2020-12-22 21:28] mmmavis commented on #5901
@Audreymofo changes are live!

[2020-12-22 23:01] #5784 closed

[2020-12-22 23:50] #5890 closed

[2020-12-23 01:31] kristinashu commented on #5946
This is more complicated than it appears... via @Pomax in slack

@caltrider how important is it that AI says “Can’t determine” instead of “Unknown”? Is it actually unique to AI or could all the  "Unknown" criteria become "Can't determine"?

[2020-12-23 10:02] TheoChevalier opened #5953 "wagtail-localize: Investigate foreign key bug on PNI products"
[This snippet of code](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/pagemodels/products.py#L352-L360) makes wagtail-localize crash, we will need to find another way to handle this.

<img width="913" alt="Capture d’écran 2020-12-16 à 15 55 26" src="https://user-images.githubusercontent.com/1294206/102912715-a250d180-4475-11eb-8b5f-99ca112d459d.

[2020-12-23 16:46] KalobTaulien commented on #5791
Closing in favour of #5947

[2020-12-23 16:47] #5791 closed

[2020-12-23 17:57] kristinashu commented on #5820
@jamilasnell could you please elaborate on this?

Tais and I have done a lot of URL mapping [here](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit#gid=50754596).

[2020-12-23 18:05] kristinashu commented on #5766
I'm going to update this ticket so it's only about onboarding the Insights team. It's important that they can start uploading content to the Publications as soon as possible to allow time for QA and feedback before the actual launch of their publications. We will have limited capacity so QA and feedback will really have to be about critical issues, not nice-to-haves.

@jamilasnell could you please

[2020-12-23 18:42] #5876 closed

[2020-12-23 19:29] Pomax opened #5954 "Improve the CMS image management"
Our current image approach is "all images in the root collection, 20 thumbs per page" which is becoming a bit unwieldy. Let's see if we can't:

- increase the number of thumbs per page (60? 100?)
- start using collections (PNI, blog, ...?)
- try to make sure to title and tag all images so that discoverability isn't just visual but can rely on text search working?

[2020-12-23 19:31] Pomax commented on #5954
/cc @benhohner @KalobTaulien @kristinashu for thoughts and opinions =)

[2020-12-23 19:36] Pomax opened #5955 "Make the PNI homepage banner a CMS field"
The PNI homepage used to have to point to a static image asset because it was a plain Django app instead of being CMS managed, but now that it's a real Wagtail page, we should add a field for that banner so that staff can update it through the admin interface, rather than through github pull requests.

[2020-12-23 20:46] kristinashu commented on #5955
Screen cap from prod
<img width="1429" alt="image" src="https://user-images.githubusercontent.com/1068783/103035707-bbf92400-451c-11eb-8009-25ce5c6c0059.png">

- [ ] Make the background image CMS editable (note: the Webby Awards badge should stay as hardcoded)
- [ ] Make the heading text CMS editable
- [ ] Make the intro text CMS editable
- [ ] Make sure it works with localization
- [ ] Make sure

[2021-01-04 17:05] kristinashu opened #5969 "PNI: evergreen graphics"
After Valentines day edition, we should update the homepage hero graphic as well as the share images.

[2021-01-04 18:14] sabrinang commented on #5820
I can’t recall entirely but it had something to do with being asked about how the TAI research shows up on the site among other teams doing research when we were going over TAI pub. Not sure if Becca is aware of the URL mapping work but that may be helpful for her to know where research is housed or where she can house her research if she isn’t aware already. Perhaps it was seen that insights/rese

[2021-01-05 18:03] KalobTaulien commented on #5882
Update: This one is VERY tricky and requires a lot of time to explore and debug.

[2021-01-05 18:10] jamilasnell commented on #5935
@taisdesouzalessa estimating this as a 16 but please revise if need be!

[2021-01-06 17:24] kristinashu opened #5973 "PNI: bug with 18+ blur in Related Products"
Feature is working as expect on the homepage but the blur isn't correct on product detail pages.

### Todo
- [ ] Blur Related Products that are rated 18+
- [ ] Remove blur for Related Products that are not rated 18+ (when on a 18+ Product Detail page)

### Example from staging of a regular product page
Sony WH-1000XM4 has the +18 icon which is good but the Product photo should be blurred

<img wid

[2021-01-06 22:02] #5790 closed

[2021-01-07 17:00] benhohner opened #5976 "[Analytics] Install Google Tag Manager"
### Describe the feature request

We need to:
- Leave in place the existing GA tag
- Create meta tags for each GTM property in the corresponding root template e.g.<meta name="gtm-identifier">GTM-M3RMVLN</meta>
- In JS: Fetch the content of the meta tag, if doesn't exist, return, load the GTM script
- Separate dependencies on GA loading if necessary
- Disable the page view event from GA

[code]

Pr

[2021-01-07 19:10] mmmavis commented on #5976
Reminder: make sure iframe sources are whitelisted

[2021-01-07 19:14] mmmavis commented on #5976
@benhohner should we consider browser's do not track setting like what we do with Google Analytics tracking? https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/common/google-analytics.js

[2021-01-08 13:03] Bhavik-Ardeshna commented on #5336
@taisdesouzalessa I am ready to work on this issue
Plz guide me :)

[2021-01-08 13:07] Bhavik-Ardeshna commented on #5953
@TheoChevalier I want to contribute to this issue and plz I am new to this plz me ....

[2021-01-08 18:12] TheoChevalier opened #5981 "Add language negociation to English pages"
Related to #5646, in a joint effort to make translated content easier to access, but this ticket is focusing on access from external sources (social media, press websites, partner websites, MoCo web properties…), rather than links stored in the DB.

CC @benhohner as we started chatting about this

# Observed situation
Even if staff are doing a great job promoting language-agnostic links to social

[2021-01-08 18:33] mmmavis commented on #5976
PR for adding GTM to MozFest is up (PR #5979). Once that's merged, I will file a PR on donate for the same work.

[2021-01-08 20:08] mmmavis opened #5983 "PNI - make sure factory generates fake product images"
Currently, none of the products have fake product image generated.

<img width="773" alt="image" src="https://user-images.githubusercontent.com/2896608/104059328-07146780-51aa-11eb-8187-78c5830adb98.png">

[2021-01-11 15:35] TheoChevalier opened #5989 "[epic] Replace wagtail-modeltranslation with wagtail-localize"
Epic ticket for moving from wagtail-modeltranslation to wagtail-localize.

[2021-01-11 15:49] TheoChevalier opened #5990 "wagtail-localize: Upgrade to wagtail>=2.11.3"
This work can be done on the master branch rather than only for the wagtail-localize branch

- [x] update wagtail from 2.10.2 to 2.11
- [x] further update wagtail to 2.11.1
- [x] further update wagtail to 2.11.2
- [ ] further update wagtail to 2.11.3

[2021-01-11 15:57] TheoChevalier opened #5991 "wagtail-localize: set up a dedicated staging instance"
In order to reupload all translations in a timely fashion once wagtail-localize is on prod, we will need to generate .po files from a staging instance with a prod DB dump. Without prod data, we won’t be able to upload the generated files.

This ticket is about:

- [x] Setting up a staging instance running on this branch: https://github.com/mozilla/foundation.mozilla.org/tree/wagtail-localize
- [ ]

[2021-01-11 16:03] TheoChevalier opened #5992 "wagtail-localize: clean up old translations from DB"
Once wagtail-localize is set up, we should clean up all wagtail-modeltranslation translations. I don’t think they get deleted just by dropping the package

[2021-01-11 16:15] TheoChevalier opened #5993 "wagtail-localize: migrate pt to pt-BR"
With the move to wagtail-localize, we will need to formally move `pt` to `pt-BR`.

Code sites to update:

- [x] set up a permanent redirect for all `/pt/*` links to `/pt-BR/*` in `urls.py` (or the redirects file)
- [x] source/js/components/petition/locale-strings.jsx
- [x] https://github.com/mozilla/foundation.mozilla.org/blob/08801cdbf3b2f9ce388f2617bb768ab8ccfe24a0/network-api/networkapi/setting

[2021-01-11 16:20] TheoChevalier opened #5994 "wagtail-localize: set up redirect for pt URLs"
We should set a permanent redirect for all `/pt/*` links to `/pt-BR/*`

This should work for any link on the main site, PNI, or MozFest.

[2021-01-11 16:24] TheoChevalier opened #5995 "wagtail-localize: update PNI ding CSS rule with pt-BR"
This rule will need an update: https://github.com/mozilla/foundation.mozilla.org/blob/master/source/sass/buyers-guide/views/product.scss#L84

[2021-01-11 16:30] TheoChevalier opened #5996 "wagtail-localize: update hreflang tags"
pt → pt-BR migration will require updating the hreflang tags
 https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templates/fragments/canonical_url.html#L31-L34

[2021-01-11 16:57] jamilasnell commented on #5766
Eeva and Kasia are meeting this Wednesday (1/13) to discuss the timeline of the onboarding process. I told them that with this late start, they should not expect to use the template immediately since we need time for QA process.

[2021-01-11 17:08] TheoChevalier commented on #5953
Hey @Bhavik-Ardeshna thanks for your interest, but I don’t believe this ticket is suitable for a first contribution. It’s part of something bigger and requires more work to find the best approach to fix it.

[2021-01-11 17:12] jamilasnell commented on #5674
Hey @tomusher, Happy New Year! Would you be willing to help out with this issue? It deals with Heroku and there are some elements that Kalob and Pomax need assistance with.

Thank you in advance!

[2021-01-11 17:14] jamilasnell commented on #5792
@Pomax will approve this as he has the **power**

[2021-01-11 17:22] mmmavis commented on #5779
I've merged all non-major version updates Dependabot PRs. The remaining ones will require more time and effort as they are major version updates and they may or may not require quite a big of code changes.

<img width="1239" alt="image" src="https://user-images.githubusercontent.com/2896608/104216051-6a8ed700-53ee-11eb-96f2-802a15920718.png">

[2021-01-11 17:30] tomusher commented on #5674
If I'm reading this correctly, this covers the same ground as https://github.com/mozilla/foundation.mozilla.org/issues/5736#issuecomment-736627685. Do any of the options there sound like they'd help with this @Pomax @KalobTaulien?

[2021-01-11 17:36] mmmavis commented on #5779
Marking this ticket done. Will estimate each major version update PR individually.

[2021-01-11 17:36] #5779 closed

[2021-01-11 17:41] mmmavis commented on #5847
@kristinashu @sabrinang I initially marked this ticket as "needs discussion" as this was a request from the Whitepaper stakeholders. Do you know who else we should loop in for discussion to make a decision?

[2021-01-11 17:56] TheoChevalier opened #5998 "wagtail-localize: set up l10n repositories"
We will need two repositories, with linear commit history enabled on the master branch, under the mozilla-l10n org:

`fomo-content`
`fomo-content-staging`

[2021-01-11 18:03] TheoChevalier opened #5999 "wagtail-localize: set up latest release of wagtail-localize"
There’s an initial draft here https://github.com/TheoChevalier/foundation.mozilla.org/commits/wagtail-2-11

### precursory work

- [x] update wagtail-modeltranslation to 0.10.17 in master
- [x] update wagtail  in master to 2.11.3

### dependency work

- [ ] capture all localized page data
- [x] Unhook wagtail (https://github.com/mozilla/foundation.mozilla.org/pull/6085)
  - [x] Delete l10n command

[2021-01-11 18:26] #5995 closed

[2021-01-11 18:26] #5996 closed

[2021-01-11 18:27] Pomax commented on #5969
Now that the new PNI is wagtail-based, we should update the PNI homepage model to allow specifying the banner through the CMS, so that we can point to the new graphic using the CMS rather than having to upload it to github.

[2021-01-11 18:33] kristinashu commented on #5969
Yes! Here's a link to your ticket about implementing that https://github.com/mozilla/foundation.mozilla.org/issues/5955

[2021-01-11 18:34] Pomax commented on #5981
URL resolution is handled by django/wagtail/wagtail-modeltranslation, so the "locale agnostic" behaviour you're seeing is something that's taken care of outside of our control. This might have to be something that slots into the modeltranslation - in the mean time we could try to effect this logic in the https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailcu

[2021-01-11 18:38] Pomax commented on #5983
Hm, I'm pretty sure before I left we landed a PR that generates fake product images, except the images were all "blue rectangles"?

[2021-01-11 18:54] Pomax commented on #5953
If things break on foreignkeys, that feels like a bug in wagtail that needs fixing, because foreign keys are kind of essential to Django models. @KalobTaulien any ideas here?

[2021-01-11 19:06] #5973 closed

[2021-01-11 19:27] KalobTaulien commented on #5243
To add to this: I created a BannerPage as the parent page, and a BannerPage as the child page, and the dropdown works fine on localhost. But it doesn't show the dropdown items in production.

Working on debugging this now.

[2021-01-11 19:52] kristinashu commented on #5766
@jamilasnell thank you for the update! I would very much encourage them to use the templates as soon as possible. They have been QA'ed and there are no blockers to using it. The issue would be if they wanted a new special/unique feature, we wouldn't have time the design, implement, and QA that. But what we have now should be plenty for them to get started!

[2021-01-11 20:06] Pomax opened #6000 "Update the cypress + related tool versions"
Cypress is a bit behind the times by now, let's bump up its version + related tools so that CI runs something more recent.

[2021-01-11 20:07] #5848 closed

[2021-01-11 21:06] #6000 closed

[2021-01-11 22:04] Pomax commented on #5685
we've already moved the foundation CI to github actions, so if the mozilla-l10n repos still work then: that's great, but the mofo eng. team does not own them, and we don't control whether they _keep_ working, so whoever owns them will have to make a decision on how to move forward =)

[2021-01-11 22:15] #5792 closed

[2021-01-11 22:21] KalobTaulien commented on #5674
Hey @tomusher

Personally, I like option #2, but you're right it's more complicated — also more future proof. In my opinion, if we're going to do something we might as well do it right. But I won't speak on behalf of Mozilla — @Pomax what do you think about option 2 from [this comment](https://github.com/mozilla/foundation.mozilla.org/issues/5736#issuecomment-736627685)?

We also briefly spoke abo

[2021-01-11 22:43] jamilasnell commented on #5931
@kristinashu you had planned to meet with these stakeholders right to discuss the URL mapping and why this may be a heavy/complicated lift?

[2021-01-11 23:08] kristinashu commented on #5931
No, I wasn't planning on it. The request comes more from us giving this recommendation than the stakeholders requesting it. The plan Tais has outlined in this ticket sounds good to me. I think devs will be able to update the template to allow for this.

[2021-01-11 23:17] taisdesouzalessa commented on #5931
I'll tag @benhohner to assign an Engineer to connect with me then so we can update the template (hopefully). Thanks all!

[2021-01-12 00:41] Pomax commented on #5918
CI moved to github actions instead

https://github.com/mozilla/foundation.mozilla.org/blob/master/.github/workflows/continous-integration.yml

[2021-01-12 00:41] #5918 closed

[2021-01-12 00:55] mmmavis opened #6006 "Switch from "node-sass" to "sass""
...because LibSass has been deprecated and the [migration guide](https://sass-lang.com/blog/libsass-is-deprecated#how-do-i-migrate) says

[2021-01-12 06:33] flodolo commented on #5685
To be extremely clear, neither does my team. Who owns/manages access to those S3 buckets? As said, the automation on those repositories was set up by MoFo folks.

[2021-01-12 17:04] sabrinang commented on #5847
I'm not to sure who but it'd be great if we can get this feature in this template.

When we reviewed with TAI stakeholders they expressed their desire of wanting images previously and today Becca reached out saying a few people were asking when the coloured boxes will get replaced with designed assets so I think that is the expectation.

@kristinashu is it possible to proceed with this ticket or d

[2021-01-12 17:12] kristinashu commented on #5847
Sounds like it would be a valuable feature and I don't see down-sided to add it, do you? Mavis, if you have the bandwidth to do it then I don't see why not!

[2021-01-12 17:41] mmmavis commented on #5847
No concern other than in the cases the background to foreground(text) contrast might not be a11y friendly. Should we add a filter to darken the background?

[2021-01-12 18:04] sabrinang commented on #5847
I think when images are present the numbers are still removed so I'd keep it simple and accessible to have image only.
No need for numbering right now as we have removed them based on it interfering with content that has an independent numbering system.

We can think about it more in the #5800, it perhaps is an either number or image but not both situation but let's not let that block this issue.

[2021-01-12 18:08] mmmavis commented on #5847
Ah right. Totally forgot that we had the numbers removed lol 😂

[2021-01-12 18:10] #5947 closed

[2021-01-12 19:14] KalobTaulien opened #6008 "PNI to Airtable connection"
We want to push Wagtail-based PNI products to an Airtable sheet. We'll want to use the [wagtail-airtable](https://github.com/wagtail/wagtail-airtable) package.

Some things we'll need to know:
- [ ] Is this a one-way or two-way data sync? As in, can we export data from Wagtail to Airtable and vice versa (two-way)? Or Only send data to Airtable from Wagtail (one-way)?
- [ ] What kind of data do we

[2021-01-12 20:35] Pomax commented on #5685
@benhohner @tomusher can we find out who "owns" these repos and associated buckets?

[2021-01-12 22:33] Pomax commented on #5763
Removed \o/

[2021-01-12 22:33] #5763 closed

[2021-01-12 22:34] Pomax commented on #5764
The old CMS pages have been removed \o/

[2021-01-12 22:36] Pomax commented on #5887
marking as blocked until we have all the things we still rely on in the old app, moved over to the `wagtailpages` app

[2021-01-12 22:36] #5764 closed

[2021-01-12 22:58] KalobTaulien opened #6012 "Move `BuyersGuideProductCategory` model to `wagtailpages` app"
Spin off from #5886

**Note**: My estimate of `4`is quite conservative. It could very well be an `8`. It's not a very straightforward task. There's also [this realpython](https://realpython.com/move-django-model/) article that could help shed some light on moving an entire model with ForeignKeys attached to it.

[2021-01-12 22:58] KalobTaulien commented on #5886
Splitting this ticket into 2.

Step 1. `published_product_count()` needs to count products by its ProductPage, not Product model (which is added in #6011)
Step 2. Move `BuyersGuideProductCategory` model into the `wagtailpages` app. This requires a fair amount of work, and there's some trickiness around migrations involved in moving a model like that. New issue #6012 opened for this.

[2021-01-12 23:37] #6006 closed

[2021-01-12 23:42] Pomax commented on #5398
`manage remove_milestones` issues on staging and production.

[2021-01-12 23:42] #5398 closed

[2021-01-13 00:23] taisdesouzalessa commented on #5908
@benhohner I think I am not assigned as a reviewer because there is no "review requests" on my queue :).

Anyways, I took a look at it and it seems it is already implemented [in the live site](https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/), correct? Tested using the Inspector and it seems to be working \0/.

Thanks!

<img width="701" alt="image" src="https://user-images.git

[2021-01-13 15:55] benhohner opened #6015 "Update content security policy for Vimeo"
### Describe the feature request
Add Content Security Policy: player.vimeo.com to (“frame-src”) to enable embedding Vimeo videos with the Wagtail video component.

### Additional context
The content team plans to use Vimeo videos more in the future.

[2021-01-13 17:06] #5908 closed

[2021-01-13 17:08] benhohner commented on #5908
@taisdesouzalessa Because there was no pull request, I'm not sure I can create a "review request".

Yes, it's live on the site. Thanks for verifying! I'll show you the GTM debugger when we connect next :)

[2021-01-13 17:11] Pomax commented on #5778
this is a permanent rolling target

[2021-01-13 17:11] #5778 closed

[2021-01-13 17:16] kristinashu commented on #5297
### To close Kristina will
- [ ] Turn this doc into a template
- [ ] Ping @Pomax add a link to the Handbook and a sentence introducing it
- [ ] Move the template to our shared Engagement team folder

cc @benhohner

[2021-01-13 17:18] kristinashu commented on #5297
Linking to Handbook ticket https://github.com/MozillaFoundation/MoFo-Engineering-Handbook/issues/51

[2021-01-13 17:24] mmmavis commented on #5976
So the code we have on donate is pretty different than what we have on the Foundation site. We'll need to figure out how we wanna install GTM on donate (might end up needing different code).

@benhohner on donate, it seems like we [massage the data](https://github.com/mozilla/donate-wagtail/blob/master/source/js/main.js#L121-L141) before sending it over to GA, this is different than what we did on

[2021-01-13 17:53] taisdesouzalessa commented on #5908
Mavis taught me how to use the GA debugger (this is what I have been using since then), curious to learn about the GTM one too. Thanks, Ben!

<img width="147" alt="image" src="https://user-images.githubusercontent.com/22157921/104489845-f5a1d580-5584-11eb-87e4-afd9b9bc08c7.png">

[2021-01-13 18:32] kristinashu commented on #5297
Todo's are done so I'll close this ticket.

@benhohner @jamilasnell @anilkanji when a new hire starts please review and update [the template first](https://docs.google.com/document/d/1vl0cSYISNIVUthrr23Q2eJsjF1pUF5XdT5HG9tG4HwQ/edit), then fork the doc to customize it for the new hire.

[2021-01-13 18:32] #5297 closed

[2021-01-13 18:34] Pomax opened #6016 "Audit our redirects for permanent/temporary status"
while working on https://github.com/mozilla/foundation.mozilla.org/issues/5738 I found a lot of CMS redirects that should probably be permanent redirects rathe than temporary redirects, based on the SEO notion that anything that is intended to never host content again, or will not host content for at least a year, should be a permanent redirect, whereas urls that might go back to hosting real cont

[2021-01-13 18:56] Pomax commented on #5738
all locale-specific redirects that already had a master redirect have been removed, and all multi-locale redirects that purely existed because we didn't have master redirects yet at the time have been unified into master redirects.

I've also marked "all site" redirects as only applicable to the foundation site since none of them applied to the mozfest site.

[2021-01-13 18:56] #5738 closed

[2021-01-13 19:07] Pomax commented on #5674
yeah #2 is definitely the way to go

[2021-01-13 19:09] Pomax commented on #5674
Also, let me close this issue in favour of https://github.com/mozilla/foundation.mozilla.org/issues/5736 so there's one place for the discussion around this =)

[2021-01-13 19:09] #5674 closed

[2021-01-13 19:10] Pomax commented on #5736
@tomusher @KalobTaulien I'm with Kalob in that option 2 sounds like the best option, but it also feels like setting up #3 as "immediate fix" while we figure out how to make #2 happen would be a worthwhile investment.

[2021-01-13 19:30] Pomax commented on #5685
@TheoChevalier I am not part of the mozilla-l10n group, but if you have rights to those two repos, uplifting the travis yml files to github actions is pretty straight forward and I can help with that if you'd like.

[2021-01-13 19:37] Pomax commented on #5685
I've filed a tracking issue on the mofo-devops repo so we can coordinate the work for the l10n repos there.

[2021-01-13 19:45] Pomax opened #6018 "Restore the maintenance page deployment when it gets updated"
As follow-up to https://github.com/mozilla/foundation.mozilla.org/issues/5685. we moved from travis to github actions for CI/CD, with the only task left being to make sure that we upload any changes to [the maintenance page](https://foundation-mozilla-org-maintenance.s3.amazonaws.com/maintenance.html) or its assets to S3 whenever those change. A workflow file has been written for this already, but

[2021-01-13 19:46] #5685 closed

[2021-01-13 19:48] Pomax commented on #6018
The only thing missing here is making sure the correct AWS secret key is stored in our settings, @tomusher I do not know where to find this value, but you probably do, could I ask you to update the `AWS_SECRET_ACCESS_KEY` over on https://github.com/mozilla/foundation.mozilla.org/settings/secrets/actions, so that this workflow action can be enabled?

[2021-01-13 20:05] #5886 closed

[2021-01-13 21:56] taisdesouzalessa opened #6019 "[Wagtail documentation] Image guidelines"
**Background:**
To offer staff guidance on best export formats depending on type of image + encourage optimization to reduce file sizes.

From Pomax:

Tools to use: tinypng.com/tinyjpg.com, ImageOptim
https://sourceforge.net/projects/nikkhokkho/
https://imageoptim.com/versions.html

**To do:**
- [x] add these guidelines here https://foundation.mozilla.org/en/docs/how-do-i-wagtail/photo-and-image-g

[2021-01-13 22:12] benhohner commented on #5976
@mmmavis Thanks for flagging. Donate seems to have its own pretty complicated event system. It's probably best if we continue to add events in code for Donate.

So all we need now is to look into adding GTM to Pulse?

[2021-01-13 22:55] taisdesouzalessa opened #6020 "[What you can do page] updates on page type"
**Background:**
Pomax suggested we update the "What you can do" page type to match the other pages, since it is causing some update issues.

**To do:**
- [ ] Build a [doc with pros and cons](https://docs.google.com/document/d/130iAeCXsqHglPBUulaNKn5-YtOkRwU_nM2caZ-lyuVU/edit?usp=sharing) related to this update from a UX, Visual Design and Engineering perspective. It will allow us to reveal blind s

[2021-01-13 23:23] mmmavis commented on #5976
Yup, I'm on it. Just need to get my dev env updated and have some dependabot PRs merged first.

[2021-01-14 00:48] Pomax commented on #6019
I've stubbed out the initial section over on https://foundation.mozilla.org/cms/pages/236/edit as `#4`, which is now live on https://foundation.mozilla.org/en/docs/how-do-i-wagtail/photo-and-image-guidelines/

I'm trying to think of how best to show a good example of JPG and PNG, and then what they look like using "the other format" to show why they are worse, would that make sense?

[2021-01-14 01:30] jamilasnell commented on #5766
Meeting has been set for Jan 21st!

[2021-01-14 17:14] kristinashu commented on #5931
cc @Pomax who knows a lot about our templates :)

[2021-01-14 18:50] Pomax commented on #6018
marking as blocked for now, until it's clear whether or not we can use aws-actions or whether we need to manually copy those into each project that relies on them.

[2021-01-14 18:54] taisdesouzalessa opened #6022 "[Analytics] Google Tag Manager: documentation and sharing"
**Background:**
We implemented GTM in our Foundation site and MozFest site. More details here: #5935

**To do:**
- [ ] Taís: to learn about GTM - resource shared by Ben [in this doc](https://docs.google.com/document/d/1Qh08EbSSRVtno3cgHokilfcnXB7FnJaA-VNDk_u3whs/edit?usp=sharing)
- [ ] While learning, write a basic documentation to make it easier for other designers to onboard it.
- [ ] Schedule a

[2021-01-14 18:55] taisdesouzalessa commented on #5935
Taís and Ben met to discuss those issues today and here are the decisions we made:
1. Transition plan to Tag Manager: GTM is on MozFest and Foundation site, not on Donate site due to its complexity. We can all use GTM from now on (thanks Ben!). We decided that only NEW EVENTS will be created on Tag Manager and old events will remain in the code. _I'll add this update to our Design/Engineer sync do

[2021-01-14 18:55] #5935 closed

[2021-01-14 19:35] Pomax opened #6023 "[PNI] add text field for user-friendly privacy"
From @caltrider: "Add a text field for user-friendly privacy section (or move the help text section from the privacy line in the MSS up to be the help text for user-friendly privacy). Best case would be to move the text box that already exists (and the data in there already) from the existing MSS privacy policy text box and make that the text box for the User Friendly Privacy part."

This feels li

[2021-01-14 19:44] Pomax opened #6024 "[PNI] update "worst case" from charfield to textfield"
The "worst case" field is usually the largest amount of text, but for some reason is still a charField rather than a textField, so it shows up as an input[type=text] in the CMS rather than a textarea, making it _really_ hard to work with.

[2021-01-14 19:50] Pomax opened #6025 "[PNI] add a category-picker to the BuyersGuidePage (homepage) that is used to exclude products from the listing"
Have categories that purely organizational categories (e.g. not for showing the category nav) and can be used to exclude products from showing in `catalog.html` product sets.

Use case: have a "valentine's day" category that shows in the nav as well as a "sex toys" category that doesn't show in the nav, assign all the sex toys to both categories, and then be able to tell the homepage to exclude li