[2022-09-20 15:57] kevinhowbrook opened #9404 "DFL 2022 | Projects Card"
### Describe the feature request
Add option for the horizontal layout of the card to the template, the card listing block should pass in the flag to the individual card template that controls if laid out vertically or horizontally.

### Screenshots / mock-ups
![Screenshot(12)](https://user-images.githubusercontent.com/2128707/191306845-618447cc-58fe-4b3d-a1bf-61e5cbb8ce34.png)

### Additional cont

[2022-09-20 16:00] #9389 closed

[2022-09-20 16:39] KleinByte opened #9405 "Protonmail.com emails are unable to login to any mozilla service period."
Any attempt with an email using Protonmail.com is restricted from logging into Mozilla. Where previously, they could.

JSON RESPONSE FROM MOZILLA:

 {"code":400,"errno":142,"error":"Bad Request","message":"Sign in with this email type is not currently supported","info":"https://mozilla.github.io/ecosystem-platform/api#section/Response-format"}

Affects everything.

[2022-09-20 17:08] tbrlpld commented on #9169
URLs for QA:

* Category page: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/categories/mental-health-apps/
* Product page: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/threema/
* Article page: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/calm-vs-headspace-which-is-best-for-your-privacy-security/

[2022-09-20 17:28] cdanfon commented on #9171
Tested this with @danielfmiranda on Zoom. All works fine & approved

[2022-09-20 17:46] tbrlpld commented on #9169
@cdanfon Ready for QA on the preview app now. See the relevant URLs above 👆

[2022-09-20 22:02] danielfmiranda commented on #9188
Hi @cdanfon! This ticket is now ready for review on the staging app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/ using the AC above.

One thing to note however, is that the CTA on the **category** page will only display if you also set some related articles.
This has been fixed in https://github.com/mozilla/foundation.mozilla.org/pull/9408 and is awaiting review. Sorry about t

[2022-09-20 22:04] tbrlpld commented on #9094
@kevinhowbrook @fessehaye This ticket is ready for review now 🙏

[2022-09-20 23:43] danielfmiranda commented on #9336
Providing an update on this ticket:
- I have tested out my code through the google analytics preview tool using the steps found in ticket #9387, and can confirm that it works when testing using that URL.
- However, when testing on staging, the event does not seem to fire.

I am going to continue to investigate this

[2022-09-20 23:51] danielfmiranda commented on #9336
One possible problem could be that since these commento elements are being load through commentos JS, our minified JS including the file that adds the event handlers runs before these objects even exist.

For example, here is a screenshot where I set a breakpoint where we do a querySelector for the commento submit button:
<img width="1493" alt="image" src="https://user-images.githubusercontent.com

[2022-09-21 14:28] mtdenton opened #9410 "Youtube Regrets 2022 timeline section is clipping into section header"
### Describe the bug

Present on the Youtube Regrets 2022 User Controls page:
https://foundation.mozilla.org/en/youtube/user-controls/

On various viewport sizes, the timeline section's parallax effect intersects with the header above that reads "Bad recommendations resurfaced over time". Example, iPhone 12/13 preset viewport in Firefox:

### To Reproduce
Steps to reproduce the behavior:
1. Go dow

[2022-09-21 16:27] TheoChevalier opened #9411 "Internal links in slider component always link to English pages"
On localized pages containing a slider component with internal links (e.g. the MozFest homepage), links are hardcoded to English pages.

<img width="603" alt="Capture d’écran 2022-09-21 à 18 03 36" src="https://user-images.githubusercontent.com/1294206/191554484-22b0cb67-e6a2-4d3f-bab9-ed7dc2040447.png">

Both the sub-head and the button link to https://www.mozillafestival.org/en/working-groups/

[2022-09-21 16:44] cdanfon commented on #9169
@tbrlpld Thanks for including the links, they are really helpful :)

A few things I've noticed:

1. On mobile view (using inspect tools), randomly one image in each page seems to be broken. See attachments 1, 2 and 3.
![1.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/b5a8c1cc-33e4-4411-9707-bf802e0b23d7)
![2.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/63

[2022-09-21 19:18] tbrlpld commented on #9094
@cdanfon This is ready for QA on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/threema/

cc @kristinashu

[2022-09-21 21:15] tbrlpld commented on #9169
@cdanfon

1. Nice catch. Yea, looks like the mobile version uses the hero image, while the large version uses the meta image. Turns out that some articles don't have the hero set, but do have a meta image. This is the situation where they are missing on mobile. I will update the small version to also use the meta image.

2. This is definitely an oversight. The images are requested in their origina

[2022-09-22 02:00] #9411 closed

[2022-09-22 02:00] danielfmiranda commented on #9357
Steps to test on QA:

- Visit PNI Home page https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/
- The call to action should be in line with the other items as shown in figma:
![image.png](https://images.zenhubusercontent.com/6046b7f1bc36adc9ce95a16a/f611b17c-dc34-4f50-a9bb-c2f82a78b9ed)

[2022-09-22 02:07] danielfmiranda commented on #9336
PR #9414 now provides a fix! :fingers-crossed:

[2022-09-22 08:19] kevinhowbrook commented on #9391
@cdanfon
Yea I think that's a good idea.
The following breakdown would make sense:
- Install django htmx (which would include the spike element of this to ensure it will do what we want)
- Confiugre banner page type templates to use HTMX for tab loading
- Configure/ensure link bookmarking with the use of `#` anchor tags in the URL once tabs are clicked

[2022-09-22 09:53] cdanfon commented on #9188
All ACs satisfied and ready to go!

@tbrlpld @fessehaye  'cc you in as Daniel is out today

[2022-09-22 09:53] #9188 closed

[2022-09-22 09:53] #9354 closed

[2022-09-22 09:57] cdanfon commented on #9357
Checked the homepage on desktop, the CTA appears below the 'Popular' and 'In the Press' articles. See below:

![Screenshot 2022-09-22 at 10.56.56.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/922b9a1a-c8f8-463c-9f52-592fa69e04b8)

[2022-09-22 10:14] cdanfon commented on #9094
@tbrlpld Hey tibor, I've checked on desktop, mobile and tablet. Although looks fine on desktop it doesn't on tablet or mobile, see attached:

![iPad air.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/df23819b-49e8-4e04-af38-f702ae40a014)
![iPhone SE.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/ec1a6979-776f-4dc4-b8a3-dfc9c3cdf782)
![ipad mini.png](https://

[2022-09-22 10:16] cdanfon commented on #9094
Moving this back to 'In progress' and reassigning it to @tbrlpld

[2022-09-22 11:52] TheoChevalier commented on #9366
Closing, done in https://github.com/mozilla/foundation.mozilla.org/pull/9367

[2022-09-22 11:52] #9366 closed

[2022-09-22 13:01] cdanfon commented on #9391
@kevinhowbrook Nice one, would you like to add the tasks to the ticket as 'subitems' or split it into 3 new tickets?

[2022-09-22 13:12] cdanfon commented on #9171
@fessehaye @tbrlpld When looking at the staging site I keep noticing the 'Dive deeper' component at the top of the page, between the nav and the heroes. This doesn't feel right. See example below:

![Screenshot 2022-09-22 at 14.04.52.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/65739248-6308-44e3-9851-ceaaee3971b4)

This is a ticket that Daniel (he's out today/tomorrow) has b

[2022-09-22 13:16] cdanfon commented on #9095
@fessehaye @tbrlpld Same with this one, it has been marked as passed because the ACs had been satisfied, but when navigating the staging site the "Related articles' keep appearing on random places. See below:

![Screenshot 2022-09-22 at 14.06.08.png](https://images.zenhubusercontent.com/624c0bfa994c73e54a68130b/0f68dc2b-5a48-428b-86d0-abc4b80e3506)
![Screenshot 2022-09-22 at 14.06.54.png](https://

[2022-09-22 13:48] tbrlpld commented on #9171
@cdanfon Nothing is happening here. This is the intended behaviour, just like the related articles are just at the top of some pages still. We first build the components that are reused across the pages. In separate tickets the new components are embedded into the page layout. E.g. the dive deeper component is embedded into the layout of the product page as part of #9097 .

[2022-09-22 13:58] #9095 closed

[2022-09-22 14:04] cdanfon commented on #9095
Thanks for explaining Tibor! Makes sense

On Thu, 22 Sept 2022 at 14:58, Tibor Leupold ***@***.***>
wrote:

[2022-09-22 14:04] cdanfon commented on #9171
Thanks Tibor!

On Thu, 22 Sept 2022 at 14:50, Tibor Leupold ***@***.***>
wrote:

[2022-09-22 15:10] cdanfon commented on #9362
Hey @kristinashu I've done 4 in total to cover the DEVs ones as well, I can do a few more if you need me to.

On another note I had a quick look at the [issues document](https://docs.google.com/document/d/1opBAnQH_VjG5eHEe7txpkw6QBTeu79S0MWNT5-m7WnE/edit#heading=h.fs3gtczc7i18) and would be good to differentiate between the ones that are issues and the
 ones are new requests:
Ie: I would consider

[2022-09-22 15:28] TheoChevalier opened #9415 "[PNI] - Can’t sync translations when the homepage has a Hero featured article"
Not sure if it’s too early to flag this, but setting a Hero featured article on the new PNI homepage fails when syncing with translated pages:

<img width="1306" alt="Capture d’écran 2022-09-22 à 17 17 02" src="https://user-images.githubusercontent.com/1294206/191786446-4622f5e7-5cfe-456d-b25d-4b82af357d19.png">

<img width="631" alt="Capture d’écran 2022-09-22 à 17 26 19" src="https://user-im

[2022-09-22 15:58] cdanfon commented on #9357
@fessehaye can you please update the PNI branch for me please?

[2022-09-22 16:35] cdanfon commented on #9357
@kristinashu Please ignore my above comment until @fessehaye has updated the PNI branch, it might just be down to that

[2022-09-22 16:40] cdanfon commented on #9087
Check on heroku app, @fessehaye please see @kristinashu's comment above:

All higher level pages (Product Reviews, Articles, About) **and their sub-pages should show which page a user is on by showing the cute squiggly underline**. Like on our main site e.g. https://foundation.mozilla.org/en/blog/why-mozilla-is-scrutinizing-the-privacy-of-pregnancy-apps/

At the moment, when I navigate to a sub-pa

[2022-09-22 16:43] cdanfon commented on #9092
Tested on staging and happy with it!
@fessehaye

[2022-09-22 16:43] cdanfon commented on #9092
Tested on staging and happy with it!
@fessehaye

[2022-09-22 16:43] #9092 closed

[2022-09-22 17:12] kristinashu commented on #9362
Thank you Claudia and everyone else who has added content!

@cdanfon should I go through the issues to label and prioritizes them?

The Topics” instead of “Category” is a tricky one and I definitely should have caught that in the tickets. It's not a priority to change tho, it's more just for clarity and consistency across the site.

The _Speed up content entry_ issues are also not a priority but p

[2022-09-22 17:21] cdanfon commented on #9362
Hi Kristina, I do agree with you, the CMS should be easier to use but I
reckon we should tackle this as a broader issue affecting the whole site
rather than a AC for PNI only. I think these type of improvement will
benefit editors when adding any kind of content.

If you could prioritise them that would be great please. Tibor could
potentially look at any critical ones next week whilst you are awa

[2022-09-22 18:34] tbrlpld commented on #9362
Can either of you clarify "CMS should be easy and efficient to use"? What are your pain points? And yes, that is not a good AC. It would be helpful if it was spelled out as actual ACs what the behavior is that is expected.

[2022-09-22 18:46] tbrlpld opened #9418 "[PNI] Don't run CI for `pni-2022` branch"
After we merge the `pni-2022` branch into `main` we should revert #9417 and remove that entry from the CI config again.

[2022-09-22 19:07] tbrlpld commented on #9267
Thanks @kristinashu I need to double check, but I believe these are issues that have been addressed in the Wagtail v3 or v4 releases. If not, this is certainly something we can report to the core team.

[2022-09-22 19:14] kristinashu commented on #9267
Oooooh that would be very nice!

[2022-09-22 19:38] tbrlpld commented on #9169
There appears to be another issue on the product pages now... Weird I have not caught this before:

![image.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/45a845a6-7c47-46a7-a7eb-f410a0045c61)

[2022-09-22 19:46] tbrlpld commented on #9267
Looks like I spoke too soon. I will carry these feature requests forward to the Wagtail team though.

[2022-09-22 19:52] tbrlpld commented on #9267
Until that feature lands, we should be able to create custom admin pages (snippets are really only a simple version of custom admin pages).

This is an example for such a page:
<img width="1231" alt="image" src="https://user-images.githubusercontent.com/24797493/191838358-2d903c3b-d6cb-43c9-8ca4-0dfd3539a5d5.png">

Btw, this is not dependent on Wagtail upgrades (this screenshot is only made on a n

[2022-09-22 20:05] #9186 closed

[2022-09-22 21:12] tbrlpld commented on #9094
Thanks for finding this @cdanfon. This has the same cause as the issue in #9169 I have found... I guess there must have been a bad merge or something that I did not see this locally (also, I did need to use Chrome to reproduce locally, so that was also a factor).

This should be addressed in #9419

[2022-09-22 21:44] tbrlpld commented on #9169
@cdanfon The QA issues should now be fixed

[2022-09-22 21:44] tbrlpld commented on #9094
@cdanfon The QA issues should now be fixed (too)

[2022-09-22 22:35] kristinashu commented on #9392
How will https://github.com/mozilla/foundation.mozilla.org/issues/9391 affect this? If the top isn't reloading then I'm not sure the intro text can change?

Can you please clarify "Currently, the introduction in the banner, below the section title comes from the child." I tested this by removing the intro text from the Overview here https://foundation.mofostaging.net/en/what-we-fund/ and it seems

[2022-09-22 22:37] kristinashu commented on #9392
Also please note that mobile layout should remain the same as it is currently on prod. The intro text should not disappear on mobile as it does in the Figma design.

[2022-09-22 22:42] fessehaye commented on #9087
Hi! TIbor and I looked into this remaining issue. PNI uses different tags then the main site for navigation highlighting. In order, for the underline to happen we would probably want to do some larger changes that would take significant more some time plus have small risks of effecting non-PNI pages. Since I think this request, is kind of a scope creep. I will create a new ticket for this issue.

[2022-09-22 22:43] kristinashu commented on #9393
Design should follow existing styles and convention on the site i.e. the headline should be black not blue.

[2022-09-22 22:46] fessehaye opened #9420 "PNI - Refactor primary_active_nav for PNI Usage"
Subpages do not get proper underline squiggle on PNI. This is a good opportunity to rewrite the `primary_active_nav.py` so we can use it for `buyersguide\pni_nav_links.html`

┆Issue is synchronized with this [Jira Bug](https://mozilla-hub.atlassian.net/browse/TP1-301)

[2022-09-22 22:47] fessehaye commented on #9087
Ticket made https://github.com/mozilla/foundation.mozilla.org/issues/9420

[2022-09-22 22:56] kristinashu commented on #9394
Is there a way to make the "aside" flexible enough to work next to other streamfield blocks as well, it seems limiting for it to only work with the listing card. Note: an "aside" was also design (not build yet) for the [research hub](https://www.figma.com/file/6BXnlCvPcQrtIaxunvuBYc/Mozilla-Research-Hub?node-id=1166%3A4959).

[2022-09-22 22:57] kristinashu commented on #9395
Will this not pull info from our Profile snippet?

[2022-09-23 10:55] cdanfon commented on #9087
Sounds good tom e @fessehaye

[2022-09-23 10:55] #9087 closed

[2022-09-23 11:01] cdanfon commented on #9094
Thanks @tbrlpld !

[2022-09-23 11:01] #9094 closed

[2022-09-23 11:03] cdanfon commented on #9169
Thanks @tbrlpld looking good!

[2022-09-23 11:03] #9169 closed

[2022-09-23 14:08] #9130 closed

[2022-09-23 16:16] kristinashu commented on #9397
Note we have a similar layout on our homepage foundation.mozilla.org

It is on a grey background but the text styles, spacing, ratios, etc should probably align with what is already live.
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/1068783/192006011-16994c6e-2637-4ab7-b4b6-503d871afba5.png">

[2022-09-23 17:00] kristinashu commented on #9127
Becca ran the test but people didn't understand the Figma prototype. Now the staging site https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/ is getting pretty close, perhaps we can test with that instead.

[2022-09-23 21:32] tbrlpld commented on #9267
I am just realizing... we can also make the profiles searchable 🤦‍♂️: https://docs.wagtail.org/en/stable/topics/snippets.html#wagtailsnippets-making-snippets-searchable

It does not really take much. Also, the sort order is definitely something we control.

Thanks for reporting this @kristinashu. This should be fixable pretty easily.

[2022-09-23 22:24] kristinashu commented on #9267
Amazing, thank you for looking into this Tibor!

Should this be two tickets? One for the original comment about selecting authors to add them to a page and then a different one for the [second comment](https://github.com/mozilla/foundation.mozilla.org/issues/9267#issuecomment-1241119987) about finding a profile within the snippet?

[2022-09-26 09:01] cdanfon opened #9432 "DFL 2022 | Aside block for card listing (all cards)"
Ticket for the creation of the aside block for https://github.com/mozilla/foundation.mozilla.org/issues/9394

### Describe the feature request

In #9393 a new block was introduced, on the designs, there is also an 'aside block'. This block is out of the flow of the main body content and sits in the right sidebar.

For this aside block we will need to do the following:

- Create a new 'aside' block

[2022-09-26 09:17] cdanfon commented on #9395
@tbrlpld Is there a particular reason why we're not going with a snippet selector?

Thanks!

[2022-09-26 09:30] cdanfon commented on #9401
@kristinashu Can you confirm if this component should have blue or black as the colour for the title please? Thanks!

[2022-09-26 09:31] cdanfon commented on #9398
@kristinashu Can you confirm if this component should have blue or black as the colour for the title please? Thanks!

[2022-09-26 13:53] tbrlpld commented on #9395
@cdanfon I don't recall being part of the decision process here, maybe I am forgetting something though 😅 Seems like we could use a snippet chooser though.

[2022-09-26 15:08] cdanfon commented on #9395
Going ahead with a profile snippet selector

[2022-09-26 15:38] cdanfon commented on #9357
Checked on staging, looking good now

[2022-09-26 15:38] #9357 closed

[2022-09-26 15:47] cdanfon opened #9433 "Add GTM code for https://commonvoice.mozilla.org/en"
https://commonvoice.mozilla.org/en

Below GTM code that needs to be added as high as possible in the <head> of every page in Common Voice:

[code]

[2022-09-26 18:02] tbrlpld commented on #9093
@fessehaye Can you add some more context on what the AC " Category header has correct text" means? I am not sure how to understand this.

[2022-09-26 21:16] tbrlpld commented on #9097
@cdanfon This is ready for QA on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/threema/

[2022-09-27 17:02] cdanfon commented on #9097
Looks good to me @tbrlpld Closing this, thanks!

[2022-09-27 17:02] #9097 closed

[2022-09-28 09:43] cdanfon opened #9436 "Enable Newsletter Sign Up Box on MozFest Site"
Enable **Newsletter Sign Up Box** on MozFest Site by re-using #8787 however, this needs to be treated as a streamfield instead of as part of the page as per #8787

The signup box should link to the MozFest Signup

[2022-09-28 09:58] cdanfon commented on #9436
Creating this ticket from the back of this request: https://airtable.com/appXJat3iETgLcZOH/tblmw0OQI3m4sRu1x/viw6ThkBXLHKqmQN1/recPYqor9afeZ6FMq?blocks=bipUae6IzTju49vpU

Awaiting further details before we can groom.

[2022-09-28 10:00] #9272 closed

[2022-09-28 10:00] #9322 closed

[2022-09-28 10:00] #9299 closed

[2022-09-28 10:00] #9263 closed

[2022-09-28 10:00] #9261 closed

[2022-09-28 10:00] #9258 closed

[2022-09-28 10:01] #9260 closed

[2022-09-28 10:01] #9259 closed

[2022-09-28 10:01] #9257 closed

[2022-09-28 10:01] #9256 closed

[2022-09-28 10:01] #9255 closed

[2022-09-28 10:01] #9254 closed

[2022-09-28 10:01] #9253 closed

[2022-09-28 10:02] cdanfon commented on #9237
We should be able to enable this fairly easily as it is an 'out of the box' functionality with Wagtail.

[2022-09-28 10:04] cdanfon commented on #6985
Hey @kristinashu @sabrinang is this ticket still relevant or can we close it? Thanks!

[2022-09-28 10:06] cdanfon commented on #8441
We're going to tackle this with the help of TBX, closing this ticket as it feels like we need to revisit the Audit in first instance and check what is still applicable

[2022-09-28 10:06] #8441 closed

[2022-09-28 10:07] #8444 closed

[2022-09-28 10:07] #8585 closed

[2022-09-28 10:07] #8678 closed

[2022-09-28 10:07] #8676 closed

[2022-09-28 10:07] #8679 closed

[2022-09-28 10:07] #8677 closed

[2022-09-28 10:07] #8549 closed

[2022-09-28 10:07] #8439 closed

[2022-09-28 10:07] #8681 closed

[2022-09-28 15:20] cdanfon commented on #9432
After discussing in stand up this is ready to be picked up

[2022-09-29 18:54] tbrlpld commented on #7556
This is the full documentation of the `USE_THOUSAND_SEPARATOR` setting:

So it's a bit ambiguous, but it seems to me like the locale override would refer to `NUMBER_GROUPING` and `THOUSAND_SEPARATOR`.

[2022-09-29 19:40] tbrlpld commented on #7556
I have filed https://code.djangoproject.com/ticket/34064 to clarify the docs at least.

[2022-09-29 19:50] tbrlpld commented on #7556
I guess the issue is that number localization is not only the thousand separator, but also the decimal separator. This means turning off the thousand separator is not sufficient to get unlocalized numbers. Actually, thousand separators are more of an accounting way of writing numbers, while the decimal separator is more general.

[2022-09-29 19:57] tbrlpld commented on #7556
Isn't `USE_L10N` the setting we want to deactivate? Unless other logic is referring to it setting, from the docs is sounds like this is what controls the rendering of data:

-- https://docs.djangoproject.com/en/3.2/ref/settings/#use-l10n

So turning this off should prevent the automatic conversion in the templates.

Unfortunately though, this is deprecated starting with Django 4.0: https://docs.dj

[2022-09-29 20:19] tbrlpld commented on #7556
See also: https://docs.djangoproject.com/en/4.1/topics/i18n/formatting/

[2022-09-30 20:32] tbrlpld commented on #7556
I have updated the locations identified above and also searched for `id`, `count`, `size`, `num`, `width` and `height` in the template.

For the future we need to pay attention to this in general, but it would also be good to include the original locations where the issue was identified in the ticket.

[2022-09-30 20:36] tbrlpld opened #9440 "Reduce the false-positive errors in the Percy tests"
The visual regression tests always fail because of the animation on the "Dear Internet" page and the pulse profiles on the style guide. We should fix these tests so that they are reproducible and don't show up a false-positive errors.

[2022-09-30 21:12] tbrlpld opened #9441 "[PNI] Preserve product sort order between full page reload"
@fessehaye Just double checking we are talking about the same thing. When navigating as in the following video you still have "alphabetical" sort when you are back on the homepage?

https://user-images.githubusercontent.com/24797493/193091850-c2f2386c-3df8-44ea-a6b8-0db53439c7cd.mov

_Originally posted by @tbrlpld in https://github.com/mozilla/foundation.mozilla.org/issues/9416#issuecomment-126254

[2022-09-30 22:08] tbrlpld commented on #6255
I cannot find any Sentry logs (on the new and old instance) for these issues. I guess we can remove the logging code. If the issue pops back  up, we should address it then with more information.

[2022-09-30 22:11] tbrlpld commented on #6255
We can also simplify the original code, since we only allow `BlogPage` as subpages of `BlogIndexPage` now.

[2022-09-30 23:11] mtdenton commented on #8034
Moving this up for Maintenance/bug issues

[2022-10-03 16:12] TheoChevalier opened #9452 "[PNI] L10n review for PNI 2022"
I’ve reviewed templates that have landed in the branch and made slight adjustments for localization

[2022-10-03 17:09] yoasif opened #9454 "Scrolljacking on "Does this button work?" article"
## Description

There is a fake scrollbar on https://foundation.mozilla.org/en/youtube/user-controls/ that messes with normal scroll behavior.

### Steps to reproduce

1. Navigate to https://foundation.mozilla.org/en/youtube/user-controls/
2. Scroll with touchpad or look for scrollbar

### Expected result

Normal scrolling, I should see a scrollbar.

### Actual result

Scrolling is weird - doesn't

[2022-10-03 19:25] tbrlpld commented on #9394
@kristinashu Was that link supposed to go to the detail page on the design? If so, the "project lead" and "collaborators" sections are not an aside element in this sense, it's just a location in the much more structural layout of that page. That element will always be at the same place (next to the overview). I am not sure if any of the implementation can be reused, since there is also no streamfi

[2022-10-04 14:11] #9452 closed

[2022-10-04 14:49] tbrlpld commented on #9454
@yoasif This is unfortunately necessary for the scroll animation at the bottom of the page.

[2022-10-04 14:49] #9454 closed

[2022-10-04 15:09] kevinhowbrook commented on #9432
Lisa to check if we can float the aside block to the top of the sidebar so we can re-work this to support mutiples

[2022-10-04 15:58] kristinashu commented on #9398
They should be black in order to align with [our style guide.](https://foundation.mozilla.org/en/style-guide/)

[2022-10-04 15:58] kristinashu commented on #9401
They should be black, ty!

[2022-10-04 16:02] kristinashu commented on #9394
Ok, thank you for clarifying Tibor!

[2022-10-04 16:37] #9127 closed

[2022-10-04 16:37] beccaklam commented on #9127
Closing this ticket, we will run new tests using the staging site.

[2022-10-04 16:59] #9362 closed

[2022-10-04 17:40] mtdenton opened #9457 "Youtube User Controls Petition - Post-submit CTA buttons not working"
### Describe the bug

https://foundation.mozilla.org/en/campaigns/youtube-user-controls/

On the Youtube User Controls Petition page, a couple of the buttons that appear after the petition is signed are not working. Debated on splitting this into two issues but I'm betting they're very closely related.

The "Twitter" button just opens a small popup of this same page, it does not go to Twitter.

Th

[2022-10-04 17:41] beccaklam opened #9458 "[PNI Editorial Updates] Redoing PNI User Test"
The user test ran in #9127 struggled with not enough real content in the prototype and perhaps not enough context setting/understanding of what a prototype is. So, we are redoing the test and this time with a staging link! 🎉

Goals
- [x] Prep [user testing script](https://docs.google.com/document/d/1YcvLH8mEQlnwPLIw_yFUkrBpFEAerOGC38vcuCyR5yQ/edit) to match [staging link](https://foundation-pni-20

[2022-10-04 18:08] beccaklam commented on #9458
The script has been prepped, just waiting for some PRs to land. @fessehaye Do you know when all the PRs will be merged?

[2022-10-04 19:10] tbrlpld commented on #6255
@cdanfon Not super sure what's best to test this. This is a technical change with like-for-like functionality. I  guess we can only make sure that the blog index still works: https://foundation.mofostaging.net/en/blog/

[2022-10-04 19:16] tbrlpld commented on #7556
@cdanfon Similarly tricky testing as #6255. I guess here it's even harder because a bunch of the changes affect potentially many pages. So a general functionality check of the site should do it. The only things I can really think of for testing is the newsletter signup. 😅 Sorry about this.

[2022-10-04 19:18] tbrlpld opened #9459 "Upgrade Django to 3.2.16"
A security patch for Django was released fixing a critical issue on sites that use the translation framework.

See also: https://www.djangoproject.com/weblog/2022/oct/04/security-releases/

[2022-10-04 21:19] tbrlpld commented on #9459
@cdanfon I don't think we can to more than a general functionality test here too.

@TheoChevalier Also tagging you for QA because the fix is around localized URLs.

[2022-10-05 09:40] kevinhowbrook commented on #9432
I've re-worked the PR for this https://github.com/mozilla/foundation.mozilla.org/pull/9437
FE attention is needed because I can't fix whats going on with the link block in the aside area.

[2022-10-05 09:42] kevinhowbrook commented on #9394
Have re-worked this to have a dedicated aside streamfield area https://github.com/mozilla/foundation.mozilla.org/pull/9434

[2022-10-05 14:35] cdanfon commented on #6255
@tbrlpld I've checked the blog index in https://foundation.mofostaging.net/en/blog/ and looks good to me, marking this as passed

[2022-10-05 14:42] cdanfon commented on #7556
Hey @tbrlpld I've tested the newsletter signup in https://foundation.mofostaging.net/en both in the header and footer with different emails and I don't think it's working as I haven't received any email confirmation, unless the SMTP is not configured to work on staging?

[2022-10-05 14:45] kevinhowbrook commented on #9395
This can be code reviewed here https://github.com/mozilla/foundation.mozilla.org/pull/9450

[2022-10-05 14:45] kevinhowbrook commented on #9396
This can be code reviewed here https://github.com/mozilla/foundation.mozilla.org/pull/9450

[2022-10-05 14:46] kevinhowbrook commented on #9397
This i ready for code review https://github.com/mozilla/foundation.mozilla.org/pull/9456

[2022-10-05 17:17] tbrlpld commented on #7556
@cdanfon I actually don't really know how this works, but I don't think we are sending the emails directly. I think the external newsletter service is handling the sending of the emails. But it is a good question if everything is configured correctly on staging.

[2022-10-05 17:30] tbrlpld commented on #7556
Ok, so it looks like we are using [this client](https://basket-client.readthedocs.io/en/latest/install.html) to use the Mozilla newsletter service ["Basket"](https://basket.mozilla.org/).

From the config on staging, I would guess this is not configured to be working as it is not using the production settings for `BASKET_...` settings.

[2022-10-05 17:31] tbrlpld commented on #7556
@cdanfon Nevermind my comment then about testing the newsletter signup. Seems like this should not be working and I don't know if it worked before. Guess we will just have to wait and see in prod 🤷‍♂️

[2022-10-05 19:45] tbrlpld commented on #9394
@kevinhowbrook I left some small questions and suggestions for the layout. But other than that it looks good 👍

[2022-10-05 20:47] tbrlpld commented on #9432
@kevinhowbrook Left some small questions.

[2022-10-05 22:22] tbrlpld commented on #9395
@kevinhowbrook Looks good. I left a few questions regarding the template.

[2022-10-06 00:13] danielfmiranda commented on #9336
Hi @cdanfon, this ticket is now merged into staging and ready for testing from the torchbox team.
When testing myself, everything seems to be working as expected:
![image.png](https://images.zenhubusercontent.com/6046b7f1bc36adc9ce95a16a/c31728fd-0f94-4d34-86a4-e5b3f67018bc)

Here are the following test cases that I have checked:
- Logged in, and submitting comment
- Attempt to submit a comment bu

[2022-10-06 01:52] danielfmiranda commented on #9457
Hi Everyone, it turns out that this error was being caused by one of the "share_..." fields missing a 0, once I updated that field, all the buttons work! Going to mark this as resolved

[2022-10-06 01:52] #9457 closed

[2022-10-06 15:27] cdanfon commented on #9395
Hey @tbrlpld,

Your questions have been addressed by @kevinhowbrook, can you double-check and move to _**Ready to deploy to staging**_ if it looks OK to you? Thanks

[2022-10-06 17:02] beccaklam opened #9462 "[PNI editorial updates] UI updates based on usertesting"
Goals
- [x] Update designs based on feedback from usertesting
- [x] Get feedback from design
- [x] Get feedback from devs and Jen
- [x] Make sure comps are ready for design to dev handoff
- [x] Create tickets for devs (provide description of changes, links to comps and acceptance criteria)

[2022-10-06 17:06] tbrlpld opened #9463 "[DFL] Stack aside and CTA elements"
I just noticed this:

![Screen Shot 2022-10-05 at 13 26 16-fullpage](https://user-images.githubusercontent.com/24797493/194157204-a2f2e894-0e2b-43c2-a58a-857845afb0b9.png)

I think this is what Kristina had been asking about too.

_Originally posted by @tbrlpld in https://github.com/mozilla/foundation.mozilla.org/issues/9434#issuecomment-1268939419_

[2022-10-06 17:30] tbrlpld commented on #9099
@cdanfon This is ready for testing on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-06 18:04] kristinashu opened #9464 "Improve UX of promote tab on blog posts"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/7638

Goal: Make it easier for staff to add info in the promote tab as well as image the quality of our OG images for blog posts.

- [ ] Update name of `Search image:` to `Share image:` since this is a more accurate discretion
- [ ] Make the `Share image:` a required field on all blog post pages
- [ ] Add hint text under `Shar

[2022-10-06 18:05] kristinashu commented on #7638
This ticket is getting messy and unclear. Closing this one and opened https://github.com/mozilla/foundation.mozilla.org/issues/9464

[2022-10-06 18:05] #7638 closed

[2022-10-06 19:13] tbrlpld commented on #9395
@cdanfon @kevinhowbrook It does not look like the questions have been addressed yet. Maybe I am missing something.

[2022-10-06 19:15] tbrlpld commented on #9396
@cdanfon @kevinhowbrook This is the same PR, so I don't think the questions have been addressed yet.

[2022-10-06 19:39] tbrlpld commented on #9394
@cdanfon This is now on staging

[2022-10-06 19:40] tbrlpld commented on #9432
@cdanfon This is now on staging

[2022-10-06 20:18] tbrlpld commented on #9397
@kevinhowbrook I have left some question on the PR (mostly about the use of custom CSS and Bootstrap)

[2022-10-06 22:55] danielfmiranda opened #9465 "Scrolljacking on "Does this button work?" article"
Original ticket in the bedrock repo can be found here: https://github.com/mozilla/bedrock/issues/12183/

Someone has created an issue on the bedrock repo, regarding the scrollbar on the youtube-regrets user controls page.

Here is what they added:

# Description

There is a fake scrollbar on https://foundation.mozilla.org/en/youtube/user-controls/ that messes with normal scroll behavior.
Steps to

[2022-10-06 23:02] beccaklam commented on #9458
Added more contributors to the test today, and ran a new test to include UK and German contributors. I took notes on the videos in usertesting.com and started a [google doc to track trends](https://docs.google.com/spreadsheets/d/1UCwj8xF8rs_3mOaNn51F8SnHGLV6duo5H9LYXx2iWh8/edit?usp=sharing). I'll add six more contributors tomorrow (three from the UK, three from Germany) to try to solidify the tren

[2022-10-06 23:10] danielfmiranda commented on #9465
Hi everyone, after taking a look at the page in question https://foundation.mozilla.org/en/youtube/user-controls/:

The scrolling/scroll-bar functionality appears to be working as expected on all browsers, including mobile.

[2022-10-06 23:12] danielfmiranda commented on #9465
After discussion with @mtdenton, it is confirmed that this is by design. Marking this issue as closed!

[2022-10-06 23:13] #9465 closed

[2022-10-07 01:57] danielfmiranda opened #9466 "Datawrapper is cut off on mobile"
### Describe the bug

The datawrapper embed component is not showing all of the data on mobile screen sizes:

<img src="https://user-images.githubusercontent.com/18314510/194450036-9861e263-7ef0-44d8-9a8c-6a88b41f727d.png" width="250px"/>

### To Reproduce
How to reproduce:
1. View the production url at a narrow width
2. See bottom of table cut off on mobile
OR
1. Go to staging url https://foundat

[2022-10-07 10:25] cdanfon commented on #9099
Thanks @tbrlpld looks good to me

[2022-10-07 10:25] #9099 closed

[2022-10-07 10:28] cdanfon commented on #7556
Makes sense @tbrlpld Can you give me a nudge when this gets to production to check please? Thanks

[2022-10-07 10:28] #7556 closed

[2022-10-07 10:29] cdanfon commented on #9459
Unless @TheoChevalier has spotted anything that affects localized URLs I'm happy to mark this as complete.

[2022-10-07 10:29] #9459 closed

[2022-10-07 10:29] cdanfon commented on #9464
Thanks @kristinashu, we can include this in the sprint starting on Tuesday

[2022-10-07 13:43] TheoChevalier commented on #9459
Just tested this locally, and can confirm I haven’t found issues with language negotiation 👍

[2022-10-07 16:35] tbrlpld commented on #9396
@cdanfon This is now on staging

[2022-10-07 16:35] tbrlpld commented on #9395
@cdanfon This is now on staging

[2022-10-07 18:13] danielfmiranda opened #9468 "Server Error (500) when publishing a blog post"
### Describe the bug
URL of page producing error: https://foundation.mozilla.org/cms/pages/19553/edit/

### To Reproduce
Steps to reproduce the behavior:
1. Visit the link above
2. Try and publish the page
3. A 500 error will appear

### Expected behavior
The page should be able to be published as expected

### Screenshots
If applicable, add screenshots to help explain your problem.

[2022-10-07 18:18] danielfmiranda commented on #9468
When taking a look at the heroku logs while trying to publish, it appears that this error is being caused by translation keys for blog authors. Here is an excerpt of the error message that gets returned:

[code]

Going to copy over the prod db to replicate the issue and search for a fix. If I recall correctly we have experienced this somewhere else as well

[2022-10-07 18:23] beccaklam commented on #9458
Added the six sessions from the UK and Germany this morning, reviewed them, and added notes to the spreadsheet. Will write up a summary report next sprint! Closing this ticket.

[2022-10-07 18:23] #9458 closed

[2022-10-10 12:52] cdanfon opened #9477 "DFL 2022 | Add new streamfield blocks to the styleguide factory"
## Describe the feature request

###Additional context

###Dev Tasks:

- [ ]

###Acceptance Criteria:
- [ ]

[2022-10-10 15:23] #6729 closed

[2022-10-10 15:25] #8257 closed

[2022-10-10 15:28] #6991 closed

[2022-10-10 16:30] cdanfon commented on #9088
@fessehaye Can you please give us a number of hours to timebox this issue?

[2022-10-10 16:54] tbrlpld commented on #9466
@cdanfon This is now on staging.

[2022-10-10 17:08] cdanfon commented on #9466
@danielfmiranda @tbrlpld

Checked on staging, looks good to me - moving this to 'Ready for prod'

[2022-10-10 17:30] cdanfon commented on #9394
Hey @kevinhowbrook tested on stage, a couple of things on this one, although looks like Simon Evans will be picking this on up:

1) The aside section doesn't quite level as per design (don't know if this is a dev constrain)
2) The aside button in the design is left aligned, whilst in the staging site is centred

See attached
<img width="1294" alt="Screenshot 2022-10-10 at 18 27 27" src="https://us

[2022-10-10 17:36] cdanfon commented on #9432
Hey @kevinhowbrook tested on stage, a couple of things on this one, although looks like Simon Evans will be picking this on up:

1) The aside section doesn't quite level as per design (don't know if this is a dev constrain)
2) The aside button in the design is left aligned, whilst in the staging site is centred

See attached
<img width="1294" alt="Screenshot 2022-10-10 at 18 27 27" src="https://us

[2022-10-10 19:14] mtdenton opened #9478 "Data Futures Lab - Default dropdown option showing as "undefined""
### Describe the bug
https://foundation.mozilla.org/en/data-futures-lab/grantmaking/2023-prototype-fund/

When this page is viewed on mobile, the default dropdown option is "undefined".

### To Reproduce
Steps to reproduce the behavior:
1. Go to [ '...'](https://foundation.mozilla.org/en/data-futures-lab/grantmaking/2023-prototype-fund/)
2. Notice "undefined" in the first dropdown. Navigate to ano

[2022-10-10 23:34] danielfmiranda commented on #9468
Hi Everyone, after taking a further look into this, I believe that the error is being caused by the snippet for this blog post's author not being translated yet.

After pulling a copy of the prod-db into my local machine and looking at blog authors for different locales, I see that there are only 4 that have been translated. I then updated the blog post in question to use one of these translated a

[2022-10-11 07:38] tbrlpld commented on #8933
Yea, happy to do this as part of grooming.

[2022-10-11 09:36] cdanfon commented on #9395
Tested on https://foundation.mofostaging.net/ one deviation from the Figma design:

### - The font of the profile text in the Figma and staging looks different:

**FIGMA**:
//styleName: Small/B2 - Body;
font-family: Nunito Sans;
_font-size: 16px;_
font-weight: 300;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

**STAGING**:
<img width="603" alt="Screenshot 2022-10-11 at 10 34 03" src="

[2022-10-11 09:39] cdanfon commented on #9396
Tested via #9395 LGTM, moving this one to ready for MoFo Staging but awaiting amends to be done to #9395

[2022-10-11 09:40] cdanfon commented on #9396
@kristinashu feel free to do a visual check

[2022-10-11 14:46] TheoChevalier commented on #9468
Hi @danielfmiranda, translating the blog author would only be a work around here, and the issue would still occur every time we add new locales.

If the issue is indeed related to the alias pages as I suspect, then it makes sense to me that publishing the page works when using translated snippets, since you’re no longer relying on alias pages and each locale has its own objects (each locale has it

[2022-10-11 15:26] kristinashu commented on #9396
The grid looks good to me, thank you!

[2022-10-11 15:36] kristinashu commented on #9393
The listing card is working very well!

The hover state for the heading doesn't seem to match our [style guide](https://foundation.mozilla.org/en/style-guide/#headers-links).

Screen cap from staging (the underline looks blue and possibly too thin, it should be black and thicker)
<img width="395" alt="image" src="https://user-images.githubusercontent.com/1068783/195136063-ce5f17d4-3155-4ff8-8f9e-0

[2022-10-11 15:40] kristinashu commented on #9394
The card layout looks good!

[2022-10-11 16:03] cdanfon commented on #9393
### Amend needed:

- [ ]Hover state for the header to be thicker and black to match style guide as per Kristina's comment above

[2022-10-11 18:46] mtdenton commented on #9106
@cdanfon @fessehaye Possible candidate for this sprint for Simon, seems like it needs grooming? The second dev task is possibly already done, but it looks out of place though with the other footer CTA currently on staging, see image:

![fellowshipswidthbreak](https://user-images.githubusercontent.com/41487159/195173939-985bd958-2001-4dd4-8e96-4e7b56418e05.JPG)

[2022-10-11 20:54] danielfmiranda commented on #9468
Hi @TheoChevalier! Thank you very much for the heads up and for the workaround. I have tested it out and can confirm that copying a page leads to the issue as you mentioned. I have created an issue in the wagtail-localize repo: https://github.com/wagtail/wagtail-localize/issues/632 and was wondering if you could please do me a favor and give it a quick second look to see if I missed anything.

If

[2022-10-11 21:38] nancyt1 commented on #9088
@fessehaye Here's the [link](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4575%3A58497) to the background shapes in figma

[2022-10-11 22:00] kristinashu commented on #8583
This has been fixed in https://github.com/mozilla/foundation.mozilla.org/issues/9478!

cc @mtdenton @danielfmiranda

[2022-10-11 22:02] kristinashu commented on #8583
Actually sorry, this might be related but not the same. Sounds like Marc would like the nav hidden completely?

[2022-10-11 22:05] kristinashu commented on #8556
Thank you for flagging! This was fixed a while ago now.

[2022-10-11 22:05] #8556 closed

[2022-10-11 23:16] beccaklam commented on #9128
The first draft of this report has been written [here](https://docs.google.com/document/d/1mvxqtpAqvWchSlwfLBznD73ivNV18NP9exHU9thki7s/edit#). I may go back and gather some quotes.

[2022-10-12 04:19] kristinashu commented on #9128
Love how clear and concise the report is! Gathering some quotes sounds good. I've left some comments in the doc.

[2022-10-12 08:45] cdanfon commented on #9336
@danielfmiranda great news, this has been tested and seems to be working as expected! Ready to be push to prod

[2022-10-12 16:11] cdanfon commented on #9106
Hey @fessehaye I'm assuming you're OK picking this ticket - do you mind adding an estimate please? Thanks!

[2022-10-12 16:22] cdanfon commented on #9082
@kristinashu Can you please have a look at this as per Daniel's questions during the daily huddle ?

[2022-10-12 16:57] danielfmiranda commented on #9468
After discussing with the team in our stand up meeting, I am closing this ticket as we have made wagtail-localize aware of the issue

[2022-10-12 16:57] #9468 closed

[2022-10-12 17:02] tbrlpld commented on #9106
This needs clarification. Is this ticket about the Newsletter signup (the blue box) or about the CTA (the thing with the heart)?

The CTA is positioned correctly as part of #9105

[2022-10-12 17:09] TheoChevalier commented on #9468
Thanks Daniel for the thorough issue filed, don’t see anything missing!

[2022-10-12 17:39] kristinashu commented on #9082
Thank you for tackling this @danielfmiranda! Everything on the page should function and look like a petition on the main site with the exception of the top nav. Ignore the donate CTA and the shapes in the background as those are post MVP. Please ping me if you have any questions, I'm happy to talk through it.

[2022-10-12 17:53] kristinashu opened #9483 "[PNI] About page copy updates"
### Todo
- [ ] Get copy from Jen
- [ ] Check formatting
- [ ] Update dev ticket https://github.com/mozilla/foundation.mozilla.org/issues/9527 and let them know it's unblocked
- [ ] Théo to localize the changes in DE, ES, FR, PT

[2022-10-12 19:15] tbrlpld opened #9484 "Refactor invalid `disabled` attribute on `a` elements to class"
# Description

The [`disabled` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled) is only valid on form elements such as `<button>` and `<input>`. [We are using it on `<a>` elements](https://foundation.mofostaging.net/en/style-guide/#buttons), on which it is not officially supported , for styling purposes. Mainly, we are using it to display button style links as gray

[2022-10-12 20:55] danielfmiranda commented on #9464
Hi @kristinashu,

Was wondering if the following requests were for blog pages only, or sitewide:
- Update name of `Search image:` to `Share image:` since this is a more accurate discretion
- Make the `Share image:` a required field on all blog post pages
- Add hint text under `Share image:` that says "Image must be high quality, include our logo mark and have the dimensions 1200 x 628 px. For more

[2022-10-12 21:01] kristinashu commented on #9464
Thank you for checking @danielfmiranda!

Sitewide:
- Update name of `Search image:` to `Share image:` since this is a more accurate discretion
- Add hint text under `Share image:` that says "Image must be high quality, include our logo mark and have the dimensions 1200 x 628 px. For more design guidelines [see here.](https://foundation.mozilla.org/docs/brand/brand-identity/social-media/#og-images)

[2022-10-12 21:51] mtdenton opened #9486 "[PNI] - Add "First Published At" Field to PNI Articles"
There's a need for the "First Published At" field for PNI articles, similar to the field available for the main blog. Example:

<img width="1723" alt="Screen Shot 2022-10-12 at 4 41 47 PM" src="https://user-images.githubusercontent.com/41487159/195453513-f011361d-d43a-4355-a3c0-0911191cc97c.png">

When filled out, this will override the date on the front-end:

<img width="393" alt="Screen Shot 202

[2022-10-13 08:55] cdanfon commented on #9194
Hey @tbrlpld can you add an estimate to this ticket please? danke!

[2022-10-13 09:00] cdanfon commented on #9106
@fessehaye I think you created the ticket, do you mind looking at @tbrlpld comment above please? Thanks!

[2022-10-13 16:31] tbrlpld opened #9487 "Topic blog index broken for non-default locales"
Originally submitted by @TheoChevalier

***

Looks like a recent code change broke the localized topic pages in all locales, except English.

I’ve had a quick look at recent changes, and think I’ve found what is causing it.
Reverting this commit locally fixes the issue: https://github.com/mozilla/foundation.mozilla.org/commit/d6e923a48a0863488381d0b28d518495a8182aae

Related PR: https://github.com

[2022-10-13 18:10] beccaklam commented on #9128
The [second draft ](https://docs.google.com/document/d/1C6_6p10iys-3O5VLG_gu5GaKGBvJWI-D_1Nx52YMTiU/edit?usp=sharing), complete with quotes and more context about limited editorial content testing, is now ready for review! @kristinashu

[2022-10-13 18:31] kristinashu commented on #9128
+R

[2022-10-13 20:47] fessehaye commented on #9106
@tbrlpld is correct, I just finished checking this PR and it does include a fix for this issue on staging. The PR is approved for those related issues so I will move them to internal review column

[2022-10-13 21:05] tbrlpld commented on #9487
@TheoChevalier @cdanfon This is ready for QA on staging now: https://foundation.mofostaging.net/fr/blog/topic/advocacy/

[2022-10-13 21:28] #6255 closed

[2022-10-13 21:28] tbrlpld commented on #6255
This is already in production.

[2022-10-13 21:45] tbrlpld commented on #7556
@cdanfon This has been on prod since monday. I was not aware there was a prod deployment on monday.

[2022-10-13 22:00] tbrlpld commented on #9090
@cdanfon This is ready on the preview app https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-13 22:01] tbrlpld commented on #9106
This is ready on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/

[2022-10-13 22:03] tbrlpld commented on #9110
@cdanfon This is ready on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/

If you want to also test the non-JS pagination, you need to deactivate JS in your browser. I use this browser extension: https://github.com/meetDeveloper/JavaScript-Switcher

[2022-10-14 09:25] cdanfon commented on #9487
Hey @tbrlpld tested on staging and looks good to me, unless @TheoChevalier disagrees we can move this to 'Ready for production'.

[2022-10-14 09:37] cdanfon commented on #7556
Hey @tbrlpld tested signing up to the newsletter on prod and all worked fine

[2022-10-14 09:44] cdanfon commented on #9090
Hey @tbrlpld I've checked this against ACs and looks good to me on desktop, however when navigating the page on a mobile version (Inspect tool - iPhone SE) the whole page seems to be off, including the 'Sort by creepiness toggle'.

I'm going to create a new ticket for the issue mentioned above and mark this as passed as the ACs are effectively satisfied.

[2022-10-14 09:44] #9090 closed

[2022-10-14 09:54] cdanfon opened #9490 "[PNI] Mobile view is cut off - Black padding on the left hand side"
### Describe the bug & steps to reproduce:

 [SCREEN RECORDING Homepage mobile view - PNI](https://vimeo.com/760235748/89e8acfff8)

### Expected behavior
Mobile view to fit screen and not to have black padding on right hand side.

### Additional context
See video.

[2022-10-14 09:58] cdanfon commented on #8927
Hey @danielfmiranda I've found an bug in the preview app for PNI whilst doing some testing.

Here's the ticket explaining the issue #9490

@tbrlpld for reference
@mtdenton one for the bug triage call

[2022-10-14 10:03] cdanfon commented on #9106
Checked on desktop and mobile, LGTM.

Something worth mentioning: the preview app is missing the taxonomies section so I cannot test that the newsletter only appears when 'All' is selected but I'm assuming this is being covered in a different ticket? @tbrlpld @fessehaye

<img width="189" alt="Screenshot 2022-10-14 at 11 01 53" src="https://user-images.githubusercontent.com/102978346/195820709-2808

[2022-10-14 10:03] #9106 closed

[2022-10-14 10:28] cdanfon commented on #9110
Tested on the preview app - looks good to me. Closing this as passed @tbrlpld

[2022-10-14 10:28] #9110 closed

[2022-10-14 11:40] TheoChevalier commented on #9487
Thanks @tbrlpld for the quick fix, looks good to me as well!

[2022-10-14 13:46] mtdenton commented on #9490
Funny this should come up, I started a conversation earlier this week with @kristinashu about support for very small screen sizes such as this. We concluded that 320px width should still be our minimum supported screen size in 2022/2023 based on our user data. Even though it constitutes less than 3% of traffic, we still want to ensure that these users have a good experience. As far as automated de

[2022-10-14 14:50] tbrlpld opened #9491 "[PNI] Content index does not save "load more" pagination state"
# Description

The PNI editorial content index page does not save the pagination state when navigation with the "load more" botton.
This means when the page is refreshed it page starts only displaying the first page.

This can lead to navigation issues for users. If for some reason (storage full, etc.) the pages are not cached properly, navigating back to the index might show a different state tha

[2022-10-14 15:43] cdanfon commented on #9490
Hey @mtdenton I've tested on iPhone 12 Pro (6.1" display) and the black line on the right-hand side is present too - see below. This only happens on the homepage of the preview app btw.
<img width="1035" alt="Screenshot 2022-10-14 at 16 40 43" src="https://user-images.githubusercontent.com/102978346/195887119-600584fc-dc39-49f1-ae83-27f39f5ddeec.png">

[2022-10-14 21:28] tbrlpld commented on #9215
@cdanfon @mtdenton @danielfmiranda @fessehaye

I have been looking into this now for 2h and here are my notes:

- What problem/pain point are we trying to solve?
    - Current process:
        - A feature or bug is developed on a dedicated branch. The work receives code review. Once the work is approved and passes all tests on CI, it is merged into the `main` branch.
        - After the merge to `

[2022-10-14 21:50] tbrlpld commented on #8286
Do we still need any of the variables if we switch to Tailwind and the design system 🤔

[2022-10-14 21:52] tbrlpld commented on #8286
Here is a quick listing of all the variables definitions:

[code]

[2022-10-14 22:10] tbrlpld commented on #8286
@fessehaye What do you think about this one? Is this still needed?

[2022-10-14 23:17] danielfmiranda commented on #8292
Hi @tbrlpld!

It looks like the way to pass in arguments to this command would be: `inv makemigrations --arguments="-n testname"`.

I just tested this out and can confirm that it works as expected. However, `makemigrations` is the only command that uses `--arguments` instead of `--args`, and also lacked a note on how to use the flag.

I created #9495 in case we want to update the code to be a litt

[2022-10-14 23:37] tbrlpld commented on #8534
@mtdenton @cdanfon

I have had a look at this today. The changes in Wagtail itself seem easy to fix. The problem is we have 3 dependencies with unclear compatibility.

Here are some further notes:

- Upgrade considerations that will require changes — [https://docs.wagtail.org/en/stable/releases/3.0.html](https://docs.wagtail.org/en/stable/releases/3.0.html)
    - Changes to module paths.
        -

[2022-10-17 09:17] cdanfon commented on #9215
Hi @tbrlpld Thanks for doing this, you've done great work breaking everything down so that it's pretty easy to understand.

@mtdenton Feels like the next action is for the engineering team to review the options and decide which one to go for. Are you OK to organise a meeting for this with Jen, Simon, Daniel and Tibor?

[2022-10-17 09:33] cdanfon commented on #8534
Hey @tbrlpld thanks for looking into this.

In terms of the next steps how does the following look like this:

1) Check if we still need these 3 dependencies

2) Prepare the codebase

     2.1)
- Remove dependencies

     2.2)
- Changes to module paths
- Removal of special-purpose field panel types
- Use use_json_field argument for StreamField

(if answer to 1) is negative we can skip step 2.1)

3

[2022-10-17 15:36] kristinashu opened #9504 "Design new Space block for Mozfest site refresh"
Request via @marcwalsh @bheasman (cc @mtdenton)

See [Miro board](https://miro.com/app/board/uXjVOqdUb5g=/?moveToWidget=3458764533403232677&cot=14) for wireframe of the block.

### Todo
- [x] Design the new block in Figma
- [x] Determine a flexible name for the block (name is already set my DFL block)
- [x] Compare to similar existing blocks, chat with devs to determine if this should be a new blo

[2022-10-17 16:18] #9487 closed

[2022-10-17 16:18] #9466 closed

[2022-10-17 16:32] tbrlpld commented on #9108
Closing this for now then

[2022-10-17 16:32] #9108 closed

[2022-10-17 16:37] tbrlpld commented on #9103
@nancyt1 @beccaklam Is this ticket still with design? The labels suggest it's an engineering ticket.

[2022-10-17 23:15] tbrlpld commented on #9194
I have created a corresponding issue on the Wagtail Localize repo. Need to wait for feedback.

https://github.com/wagtail/wagtail-localize/issues/640

[2022-10-17 23:19] tbrlpld commented on #9194
On the blog we are using syncronized fields. @TheoChevalier Is this a pattern that we could repeat here to get around the issue? Is that even the more desirable modeling of the content relations? I guess we would need to make sure that we use the localized versions of the related pages when creating links.

[2022-10-18 09:21] cdanfon commented on #9105
Hey @tbrlpld Am I meant to be seeing the 'Popular articles' block underneath the CTA?

In the preview app that section is empty, but I can see it on the Figma design. Attached both

![PreviewApp](https://user-images.githubusercontent.com/102978346/196390794-bcc64b5d-52fb-46fe-b1e3-b02315b3abeb.png)

<img width="1080" alt="Figma" src="https://user-images.githubusercontent.com/102978346/196390780-51

[2022-10-18 09:44] TheoChevalier commented on #9194
Yup, we should use synchronized fields here, we don’t want to force translating all related articles

Yes, correct.

[2022-10-18 16:03] kristinashu commented on #9103
@danielfmiranda it seems like you may have covered this in https://github.com/mozilla/foundation.mozilla.org/issues/9082, is that the case?

[2022-10-18 16:29] tbrlpld commented on #8534
@TheoChevalier Do we still use `wagtail-localize-git`?

[2022-10-18 16:48] TheoChevalier commented on #8534
Absolutely, it’s the piece of software that syncs content with the git repo used to exchange content with Pontoon: https://github.com/mozilla-l10n/fomo-content

We should be able to safely upgrade to 0.13, which is basically just a version bump to allow it running with the latest wagtail-localize releases

[2022-10-18 22:03] tbrlpld commented on #9194
Thanks @TheoChevalier for this clarification. Would you say that pattern would apply to all relations? In case of the article page this would be related authors and related categories: https://github.com/mozilla/foundation.mozilla.org/blob/pni-2022/network-api/networkapi/wagtailpages/pagemodels/buyersguide/article_page.py#L114-L185

For some reason I was under the assumption that the through model

[2022-10-19 02:36] anilkanji opened #9505 "Donate Stack - reset minimum recurring gift donation amount"
### Describe the feature request
Change the new minimum **monthly** gift amount on donate forms from £10 / $10 / €10 to £5 / $5 / €5

Change the text under the "one time" box to:

### Screenshots / mock-ups
<img width="822" alt="Screenshot 2022-11-08 at 15 02 06" src="https://user-images.githubusercontent.com/102978346/200599363-74bc462b-8a64-455a-93b5-b6619e1e66e3.png">

### Additional context
No

[2022-10-19 08:34] cdanfon commented on #8534
I've updated my comment above to include a step to update wagtail localize-git to 0.13.0

[2022-10-19 13:53] marcwalsh commented on #9504
Hi @kristinashu - thanks for this! I think the block that is being made for the DFL works great, and might also make it easier and quicker to implement if it's already being worked on.

[2022-10-19 15:50] cdanfon commented on #9396
Steps for MoFo testing:

1. Go to https://foundation.mofostaging.net/cms/pages/1769/add_subpage/
2. Create a new 'banner page'
3. Fill the 'title' field (this is compulsory and won't let you preview the page unless it's been filled out)
4. Add a 'profile' block in the body section (screenshot attached)
5. Check Acceptance criteria

<img width="1196" alt="Screenshot 2022-10-19 at 16 49 17" src="htt

[2022-10-19 15:52] cdanfon commented on #9395
Steps for MoFo testing

NOTE: This will need to be tested alongside https://github.com/mozilla/foundation.mozilla.org/issues/9395 -  FE will be picked up next week by Steve, for now please test functionality

Go to https://foundation.mofostaging.net/cms/pages/1769/add_subpage/

1. Create a new 'banner page'
2. Fill the 'title' field (this is compulsory and won't let you preview the page unless it'

[2022-10-19 15:59] cdanfon commented on #9393
Steps for MoFo testing

1. Go to https://foundation.mofostaging.net/cms/pages/1769/add_subpage/
2. Create a new 'banner page'
3. Fill the 'title' field (this is compulsory and won't let you preview the page unless it's been filled out)
4. Add a 'listing' block in the body section (screenshot attached)
5. Check Acceptance criteria 2 & 3 (1 is part of the FE task)

NOTE:
- To be tested alongside #93

[2022-10-19 16:50] TheoChevalier commented on #9194
No, this should be a case by case decision. but here Categories and Authors should be translatable, yes.
To understand the thinking being it, I consider these are _almost_ UI elements, are generally short and reused in multiple places.

[2022-10-19 16:54] cdanfon commented on #9505
Needs to be moved to the donate repo, I can't seem to be able to move it

[2022-10-19 17:59] danielfmiranda opened #9507 "Campaign page narrow content not working"
Campaign Pages and Bannered Campaign pages usually have two options:

Wide Content:
![Screenshot 2022-10-17 at 14-37-44 What we fund](https://user-images.githubusercontent.com/18314510/196768545-f4d0028f-af46-47f5-b455-a0b4e1909924.png)

Narrow Content:
<img width="1279" alt="image (1)" src="https://user-images.githubusercontent.com/18314510/196768557-c37567a1-8109-41ad-989c-c964dd1f4a90.png">

Cu

[2022-10-19 18:18] danielfmiranda commented on #8927
Hi @cdanfon apologies for the delayed response regarding the ticket above! I missed the notification.

Here is my support duty list for the sprint of 10/10/2022 - 10/23/2022:
- https://github.com/mozilla/foundation.mozilla.org/issues/9507

[2022-10-19 18:43] tbrlpld commented on #9194
@TheoChevalier Sorry, I am not sure I understand what you mean.

[2022-10-19 19:21] kristinashu commented on #9128
This is done! @beccaklam when you can, please close this ticket and open a new one for the follow up "quick test" you ran. Thank you!

[2022-10-19 19:30] tbrlpld commented on #8927
@cdanfon Sorry, I don't follow?

[2022-10-19 19:30] tbrlpld commented on #8927
@cdanfon Sorry, I don't follow?

[2022-10-19 19:32] tbrlpld commented on #9490
To me it just looks like that blub and the smiley at the top are just to wide and not responsvie.

[2022-10-19 20:03] mtdenton commented on #9490
I'm wondering if we can do something like this to make this more responsive and provide a quick fix that doesn't look bad:

![twpni](https://user-images.githubusercontent.com/41487159/196792130-a0168dc2-2ccd-425f-b065-5e7c2d5270d2.JPG)

Sadly I can't get the breakpoint stuff for tailwind (md:xxxx or tw-md:xxxx) to work but I'm sure y'all have a better idea on how to get that done.

[2022-10-19 20:18] tbrlpld opened #9509 "[Refactor] Retrieve orderable related items as a queryset instead of a list"
# Description
We have many relations between pages or pages and other pages on the website. For example, the related blog posts that connect one blog post with several others.

https://github.com/mozilla/foundation.mozilla.org/blob/6d40f302363127c68807a2150313e370c314997a/network-api/networkapi/wagtailpages/pagemodels/blog/blog.py#L91-L114

This is a "through model" that points to its "parent" wit

[2022-10-19 20:22] tbrlpld commented on #9490
We could also allow the text to wrap and the smiley to shrink.

[2022-10-19 20:38] kristinashu commented on #9490
Don't worry about the blurb and the smiley since it will soon be updated to just text.

<img width="991" alt="image" src="https://user-images.githubusercontent.com/1068783/196799134-5689592e-817d-4281-a42d-abd2a4e2b829.png">

[2022-10-19 21:37] mtdenton commented on #9490
Oh ok, gone completely then and no longer a thing forever. In that case, since this is P1 and we plan to get to it in this next sprint, I'm closing this as obsolete since it's the cause of the horizontal scroll.

[2022-10-19 21:37] #9490 closed

[2022-10-19 21:59] beccaklam opened #9510 "Usertest PNI UI Updates based on Round 1 of user testing"
[PNI Editorial Updates] We are going to run a quick test on the updated UI design for PNI based on our first round of user testing.

- [x] Get comps ready for testing #9462
- [x] Write test
- [x] Run test
- [x] Review videos and take notes
- [ ] Write report

[2022-10-20 08:42] cdanfon commented on #9477
@kevinhowbrook @tbrlpld Is this something that Steve could do (FE)?

[2022-10-20 08:43] cdanfon commented on #9391
@kevinhowbrook @tbrlpld FE or BE?

[2022-10-20 10:31] kevinhowbrook commented on #9432
@cdanfon Those remaining issues are FE

[2022-10-20 11:42] gutermul commented on #9394
Tested. I could create the page, but don't feel like we can sign off until the Aside is finished. The only thing I noticed on functionality is that the link function only supports internal links (I needed to select an existing internal page, rather than just enter a URL). See Screenshots:

![Image](https://user-images.githubusercontent.com/21171146/196937390-83415832-a67b-45c2-affe-0b764277dbcb.pn

[2022-10-20 11:59] gutermul commented on #9396
I can add profiles that exist in the system, but I do not have permission to create or edit them- so my page currently looks like this:
![grafik](https://user-images.githubusercontent.com/21171146/196942513-6328fb1d-e280-4060-9a8e-d96f40c2cab0.png)

[2022-10-20 12:51] cdanfon commented on #9394
Hey @gutermul thanks for testing!

If you tick the 'Aside' box underneath this section you can replicate how it looks in the Figma files:

![Screenshot 2022-10-20 at 13 49 44](https://user-images.githubusercontent.com/102978346/196953340-9e223dba-d3fb-44de-9b34-e46efd3506df.png)
![Screenshot 2022-10-20 at 13 48 12](https://user-images.githubusercontent.com/102978346/196953347-4b10142d-ecd0-4633-b7

[2022-10-20 12:57] cdanfon commented on #9396
Please note that in the ticket description there's a section for Acceptance Criteria, ideally if the 'acceptance criteria' it's been satisfied, the ticket would be marked as completed/signed off.

[2022-10-20 14:46] gutermul commented on #9395
All good! the tw-body font-size is 18px rather than the 16px in the figma, but I imagine that's just to normalize with the rest of the mofo website. I sign off.

[2022-10-20 14:47] gutermul commented on #9396
Looks good. I sign off.

[2022-10-20 15:07] cdanfon commented on #8534
We just need to find out about wagtail-inventory now :)

[2022-10-20 15:10] cdanfon commented on #9395
Hey @gutermul Thanks for that - the font size will be picked up by Steve as part of the FE work :)

[2022-10-20 16:35] fessehaye commented on #9093
@cdanfon this is ready on homepage

[2022-10-20 16:46] cdanfon commented on #9105
Re-checked it, looks good to me! @tbrlpld

[2022-10-20 16:46] #9105 closed

[2022-10-20 16:47] tbrlpld commented on #9477
@cdanfon This is mostly a backend task.

[2022-10-20 16:47] tbrlpld commented on #9391
@cdanfon Both

[2022-10-20 20:28] kristinashu opened #9512 "[PNI] Add articles to production"
We will need to add articles to the site as soon as the site is pushed to prod.

### Steps
- Go to [this spreadsheet](https://docs.google.com/spreadsheets/d/1uHfnTP7cyU85qfh8AY8Nk7kuHIcPYjNBnw0aSpfLpvs/edit#gid=0)
- Add your name to as many articles as you can
- Add the articles
- Update the status in the spreadsheet

[2022-10-20 20:31] kristinashu opened #9513 "[PNI] Pre-launch QA"
Timeline:
- Nov 1: All dev tickets done
- Nov 2: QA on staging
- Nov 3: Push to prod
- Nov 4: End of “sprint 2”
- Small tweaks and fixes in “sprint 3”

### Design to QA
- [x] Staging

[2022-10-20 21:04] #9128 closed

[2022-10-20 21:17] beccaklam opened #9514 "YouTube Regrets Retro Prep"
Prepare materials for YouTube Regrets Retro:
- [x] Gather deliverables that we made

- [x] Website metrics (# of visits, time on page, conversion rates, etc)

- [x] Any learnings about the publications template (stretch)

[2022-10-20 21:19] beccaklam opened #9515 "[PNI Editorial Updates] Set up metrics ahead of PNI launch"
### Goals
- [x] Kick off meeting to brain storm what information on what we want to track
- [x] Figure out/finesse data story/questions (are we asking the right questions that will help us build a better site? Build more engagement?)
- Review questions with design and stakeholders
~- [ ] Figure out what tags we can reuse from last year~
- [x] Figure out when we can set up tags/metrics
- [x] Get th

[2022-10-20 21:25] beccaklam opened #9517 "Write PNI User Test #2 Report"
Following up from ticket #9510, write a report based on findings from that user test. Findings and notes documented in this [spreadsheet](https://docs.google.com/spreadsheets/d/1UCwj8xF8rs_3mOaNn51F8SnHGLV6duo5H9LYXx2iWh8/edit?usp=sharing).
- [x] Draft report
- [x] Get feedback from design
- [x] Share report

[2022-10-20 21:25] beccaklam commented on #9510
Closing this, will write the report for this test next sprint #9517

[2022-10-20 21:25] #9510 closed

[2022-10-20 21:55] mtdenton commented on #9215
Agreed, looking to have discussions surrounding this sometime after PNI launch.

[2022-10-20 21:59] #8292 closed

[2022-10-20 22:07] fessehaye commented on #9215
https://github.com/mozilla/foundation.mozilla.org/pull/9221 Just want to document that I attempted some solution to this around august.

[2022-10-20 22:07] tbrlpld commented on #9486
@mtdenton One minor difference to the AC here: The "first published at" field is the default field from Wagtail. On the blog page this is just made editable. I would follow that same pattern here.

The "first published at" is only set to the current time when the page is published for the first time and has no value. If the editor has already filled the field when the page is first published the d

[2022-10-20 22:07] tbrlpld commented on #9486
@mtdenton One minor difference to the AC here: The "first published at" field is the default field from Wagtail. On the blog page this is just made editable. I would follow that same pattern here.

The "first published at" is only set to the current time when the page is published for the first time and has no value. If the editor has already filled the field when the page is first published the d

[2022-10-20 23:00] tbrlpld commented on #9082
@cdanfon This is ready for QA now: https://foundation-pni-2022.herokuapp.com/cms/pages/18831/add_subpage/

Thanks for pushing @fessehaye

[2022-10-20 23:03] tbrlpld commented on #9093
https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-21 08:59] kevinhowbrook commented on #9398
This is ready for staging https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-21 08:59] kevinhowbrook commented on #9399
As per #9398 - this is ready for staging https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-21 09:01] kevinhowbrook commented on #9399
Actually hold off on this. It's blocked by https://github.com/mozilla/foundation.mozilla.org/pull/9456 while the FE is done as it's based off that branch

[2022-10-21 09:01] kevinhowbrook commented on #9398
Actually hold off on this. It's blocked by https://github.com/mozilla/foundation.mozilla.org/pull/9456 while the FE is done as it's based off that branch

[2022-10-21 09:45] kevinhowbrook commented on #9400
@kristinashu I've updated this to support a URL link rendered as a button to match the re-use in https://github.com/mozilla/foundation.mozilla.org/issues/9504#issuecomment-1284292410

[2022-10-21 10:58] cdanfon commented on #9082
I've tested this by creating https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/campaign-page-1/

All AC's satisfied, but from the testing I've noticed that upon selecting a CTA you're presented with all the different options in various locales (however all of them have the exact same name), this makes using the back end as an editor difficult and is not a nice experience. I'

[2022-10-21 10:58] #9082 closed

[2022-10-21 10:58] cdanfon commented on #9082
Marking this as completed @tbrlpld

[2022-10-21 11:06] cdanfon opened #9520 "UI backend improvements - Localize editor experience"
Having used the back end of the foundation site for a while doing testing I've noticed a couple of things affecting Localize that make the editor experience quite tricky.

1) Snippets don't define the locale. In the below screenshot you can see 'Mozfest' as a CTA used for different locales, but there's not a way of easily identify the language unless opening it. This makes the adding snippets to d

[2022-10-21 11:20] kevinhowbrook commented on #9400
@cdanfon and @stevedya this is ready for some FE attention with the stacking https://github.com/mozilla/foundation.mozilla.org/pull/9519

I've left it in draft until the FE is complete so tibor can review the whole thing

[2022-10-21 11:21] cdanfon commented on #9093
Hey, tested on homepage, all looks good except for:

 _
- [ ] Category Header on home page should have the text "All Product Reviews"
_

If I click on a particular category and I open the link in a new tab the Category header updates to the category I've selected:

<img width="1363" alt="Screenshot 2022-10-21 at 12 16 06" src="https://user-images.githubusercontent.com/102978346/197184050-8ee16a09-

[2022-10-21 11:26] cdanfon commented on #9398
Moving this back to the sprint backlog for Steve to pick up

[2022-10-21 11:39] cdanfon commented on #9393
**FE Amend needed:**

 - [ ] Hover state for the header to be thicker and black to match style guide as per Kristina's comment above
(moving ticket back to 'In progress column')

[2022-10-21 13:07] kevinhowbrook commented on #9398
No this doesn't need front end work - it's just blocked by a PR that does

[2022-10-21 14:13] tbrlpld commented on #9520
Valid points @cdanfon. Have you checked the Wagtail release notes for 3 and 4 if this might be improved in them? Otherwise, these are going to require heave overrides. It might also be helpful to provide this feedback to the Wagtail team.

[2022-10-21 14:26] kevinhowbrook commented on #9401
PR is here https://github.com/mozilla/foundation.mozilla.org/pull/9521

However it's blocked for the moment, I'm not sure what the circular images are in relation to the article

![image](https://user-images.githubusercontent.com/2128707/197219668-c57e1cb3-b0e3-4ecf-82c5-7577d3dc1798.png)

[2022-10-21 15:09] kristinashu commented on #9504
@cdanfon has added the optional button link to https://github.com/mozilla/foundation.mozilla.org/issues/9400#issuecomment-1286718242

The optional diving lines still need a ticket. @mtdenton @cdanfon should I open one for that? Would love to be able to close this ticket today as it's the last day of sprint.

[2022-10-21 15:25] kevinhowbrook commented on #9401
Bens informed me we are pretty sure these are authors so I'll wire those up

[2022-10-21 16:28] kevinhowbrook commented on #9401
This is ready for review https://github.com/mozilla/foundation.mozilla.org/pull/9521

[2022-10-21 17:14] tbrlpld commented on #9215
@fessehaye What was the result of your attempt? Was there something blocking you from getting further with it?

I could not finish my attempt because I can not set secrets on the repo. See #9494

[2022-10-21 17:18] tbrlpld commented on #9093
@cdanfon This was by design that when you open in a new tab (or share the link to the filtered list) you don't see the editorial content. You should also see that the URL expresses that filtering.

[2022-10-21 17:26] tbrlpld commented on #9486
@cdanfon This is ready on the preview app now: https://foundation-pni-2022.herokuapp.com/cms/pages/19012/edit/#tab-settings

[2022-10-21 17:52] beccaklam opened #9522 "[PNI] Update Tagline"
**Links to comps:**
Homepage [desktop](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4762%3A74534) and [mobile](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3075%3A29691)
Product Reviews [desktop](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3080%3A30591), [tablet](https:

[2022-10-21 18:33] beccaklam opened #9523 "[PNI] Adjust Nav Categories and Search Bar Positioning"
Move category nav and search bar so that it is consistently a part of the top page navigation (the same as how it currently is on the Product Reviews & Category pages)

![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/acfa9cea-e4f7-45ea-b2e2-05db80b92e27)![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/63dd5399-0771-434b-93b9-7c7a6427da69)

**Fig

[2022-10-21 18:47] beccaklam opened #9524 "[PNI] Update PNI Ding Filter"
**Link** to [example](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4762%3A74534)

Old:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/b8cc4394-7e62-4b50-be4c-8f23b408f7e5)

New:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/56d1a595-1e24-46b7-9e66-8967bf908751)

Add tooltip:
![image.png](https://ima

[2022-10-21 19:00] beccaklam opened #9525 "[PNI] Update homepage hero article layout"
**Links**
[Desktop](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4762%3A74534), [mobile](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3075%3A29691) examples

### Goals
- Reduce the image dimensions
- Increase hero title and related section width
- Reduce the title size to Heading 3 (28px)
- Update type style for

[2022-10-21 19:31] kristinashu commented on #9522
Note the CMS already shows this field it just doesn't seem to be connected to the front-end.
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/1068783/197274876-41804f25-eb37-4729-8278-ef43b8d1253e.png">

[2022-10-21 20:12] mtdenton commented on #9504
@kristinashu sounds good, obviously the DFL ticket is a blocker here but we can at least signify the work.

[2022-10-21 20:24] beccaklam opened #9526 "[PNI] Update "Submit a product" section"
**Links**
[Example](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4762%3A74534)

### Goals

- Add link to search bar
- Turn button into just a text link

### Acceptance Criteria
- [x] Change text to say "Try search or let us know what product you would like reviewed in the guide. Submit a product here." below "Don’t see the product you’re looking for?"
- [

[2022-10-21 21:13] mtdenton commented on #9523
Planning on splitting this issue into P1 and P2 based on dev tasks.

[2022-10-21 21:19] kristinashu opened #9527 "[PNI] Implement About page copy updates"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/9483

## ++++ Blocked until we have the finalized copy docs++++

Updates will only be copy updates, no functionality or layout changes.

### Acceptance Criteria
- [ ] Copy on https://foundation.mozilla.org/en/privacynotincluded/about/why/ matches the [copy doc needed]
- [ ] Copy on https://foundation.mozilla.org/en/privacynotinclude

[2022-10-21 21:23] beccaklam commented on #9462
Updated comps are [here](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3403%3A38681) in the "Ready for dev" file. Tickets have been made and are documented [here](https://docs.google.com/document/d/1opBAnQH_VjG5eHEe7txpkw6QBTeu79S0MWNT5-m7WnE/edit?usp=sharing) in the PNI dev/design meeting doc.

[2022-10-21 21:23] #9462 closed

[2022-10-21 21:27] kristinashu commented on #9483
Thank you for the edit @TheoChevalier!

[2022-10-21 21:43] mtdenton opened #9528 "[PNI] Re-style Nav Categories and Search Bar"
There are some stylistic changes needed for the nav categories and search bar.

**Figma Links**
[Desktop](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=4762%3A74534), [tablet](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3467%3A41084) and [mobile](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Incl

[2022-10-21 22:00] mtdenton commented on #9103
@fessehaye @tbrlpld Need to eval if this is already done

[2022-10-24 08:31] bheasman commented on #9504
@mtdenton - the DFL ticket should be wrapped up this week, so the dependency should be resolved pretty soon.

[2022-10-24 15:23] kristinashu opened #9535 "[MozFest] Add dividing lines to Image teaser block"
Blocked by https://github.com/mozilla/foundation.mozilla.org/issues/9400 & based on design done in https://github.com/mozilla/foundation.mozilla.org/issues/9504

This is part of the work for @marcwalsh for the MozFest site refresh.

Acceptance Criteria

- [ ] Diving lines should look and function similar to the `Image text` block (see screen cap below)
- [ ] As an editor, I can select a check box

[2022-10-24 15:24] #9504 closed

[2022-10-24 17:36] tbrlpld opened #9536 "[PNI] Changing the category filter on the product reviews page does not update the title"
# Description

There is a bug on the product review page when switching category filters.

1. Visit the product review page: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/categories/best-of/
2. Notice the title matching the selected category filter
3. Click a different category filter.
4. See that the products change and the active category in the nav is highlighted, but the head

[2022-10-24 17:48] tbrlpld commented on #9536
@beccaklam Can you define what the desired behaviour is? Should we never update the heading to the category (meaning it should always say "Product reviews") or should it always update?

[2022-10-24 20:04] tbrlpld commented on #9194
@TheoChevalier @cdanfon This is ready for QA on the preview app now. Example article page with related articles: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/mental-health-apps-for-teens-what-sorts-of-privacy-protections-are-there/

You should be able to translate the page. The related articles won't show up for translation as they are synced. When you visit the page wi

[2022-10-24 22:43] kristinashu commented on #9522
Turns out that having the line break makes it more complicated to make this a CMS editable fields so we've removed that requirement.

[2022-10-24 22:54] kristinashu commented on #9524
I've added the tool tip example above ^

[2022-10-24 23:12] beccaklam commented on #9536
Thanks for making this ticket Tibor! We've decided that the title should update with the category title. So when a user selects a category, the product review title should match the selected category.
![image](https://user-images.githubusercontent.com/20977376/197647159-2f4f9173-9b67-4879-8eb9-5076757579ec.png)

[2022-10-24 23:23] kristinashu commented on #9522
Discuss with @beccaklam and she's decided the face doesn't need to "teleport". The Creep-o-meter face should always start in the lower right hand corner.

[2022-10-24 23:28] kristinashu commented on #9523
@beccaklam @fessehaye I've updated the ACs - please re-review them :)

[2022-10-25 03:23] beccaklam commented on #9522
@fessehaye @tbrlpld I've included the creep-o-meter face decision in the acceptance criteria. Let me know if what I've written works!

[2022-10-25 08:23] TheoChevalier commented on #9194
Hi @tbrlpld , thanks! Do you know where I can find the review app credentials? I could only find the ones from last year’s app on 1password.

Thanks!

[2022-10-25 09:19] cdanfon commented on #9194
Hey @TheoChevalier I'll slack you the credentials now

[2022-10-25 09:20] kevinhowbrook commented on #9401
This is approved and ready to deploy but we are waiting behind other PRs

[2022-10-25 09:30] TheoChevalier commented on #9194
Thanks, I’m in!

[2022-10-25 09:42] cdanfon commented on #9486
Thanks @tbrlpld Tested and looks good to me! Closing this ticket

[2022-10-25 09:42] #9486 closed

[2022-10-25 10:00] cdanfon commented on #9393
@stevedya Thanks! Moving forward, when there's a PR ready can you please let @tbrlpld know in the [slack](https://torchbox.slack.com/archives/C042N61EYTX) channel please?

[2022-10-25 10:27] cdanfon commented on #9401
Hey @kevinhowbrook thanks for the update - would this need to be re-code reviewed once the other PRs have been checked? In which case, can we move this to ready to deploy and add the 'blocked' label ?

[2022-10-25 10:28] cdanfon commented on #9402
Same as per comment on #9401 - Can we move this to 'ready to deploy' and label it as 'blocked'? Also, could you post here the PRs that are blocking it for reference please?

[2022-10-25 10:28] cdanfon commented on #9402
Same as per comment on #9401 - Can we move this to 'ready to deploy' and label it as 'blocked'? Also, could you post here the PRs that are blocking it for reference please?

[2022-10-25 13:59] kevinhowbrook commented on #9403
This needs some FE attention for stacking on smaller screens https://github.com/mozilla/foundation.mozilla.org/pull/9539

[2022-10-25 13:59] kevinhowbrook commented on #9404
This needs some FE attention for stacking on smaller screens https://github.com/mozilla/foundation.mozilla.org/pull/9539

[2022-10-25 14:41] tbrlpld commented on #9535
@kristinashu Can you add some more details as to what is currently missing from the teaser block?

[2022-10-25 14:43] cdanfon commented on #9393
@tbrlpld this is ready to deploy to staging please

[2022-10-25 14:44] tbrlpld commented on #9393
@cdanfon Deployed to staging now

[2022-10-25 15:16] gutermul commented on #9394
I am waiting to see when the aside bar is finished to sign off. One thing I see right now is that the figma page looks like it's divided into thirds (vertically) and the layout on staging looks like the card listing takes up more than 2/3 of the page. That could be fine, but it's part of why I want to wait until the aside bar is finished.

[2022-10-25 15:30] cdanfon commented on #9393
@kristinashu Tagging you for reference

[2022-10-25 15:33] kristinashu commented on #9535
@tbrlpld everything should have been done in https://github.com/mozilla/foundation.mozilla.org/issues/9400 with the exception of the diving lines. Note, the lines were a new request from a different stakeholder - not the result of missing ACs :)

I've updated one more AC to the list but please let me know what else I should add to give this more clarity.

[2022-10-25 15:41] cdanfon commented on #9093
Hey @kristinashu based on @tbrlpld comment are you happy with this ticket to be completed?

[2022-10-25 15:43] tbrlpld commented on #9535
@kristinashu I have trying to reformulate the ACs to how I understood them. Can you check that this matches your understanding?

[2022-10-25 15:44] cdanfon commented on #9522
@fessehaye Hey Simon are you working on this one at the moment? If so can you please update the status? Thanks! :)

[2022-10-25 15:48] kristinashu commented on #9535
Perfect!

[2022-10-25 15:50] tbrlpld commented on #9536
@beccaklam Just to clarify: The current ACs match the desired behavior?

[2022-10-25 15:53] tbrlpld commented on #9103
This page seems to look ok, but should be checked by design: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/articles/campaign-page-1/

[2022-10-25 17:20] tbrlpld opened #9540 "[PNI] Positioning of related articles on the category page"
# Context:

Current position does not match [design](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3080%3A30591).

![image.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/487981be-812b-44cd-b221-a6c0c4d100f9)

# Acceptance Criteria:

- [ ] The related article section on the categories page is placed inside the grid as per Figma design on

[2022-10-25 17:24] tbrlpld opened #9541 "[PNI] Switch related articles on category page when category changes"
**Context:**
When switching between the categories, the related articles don't update unless the page is reloaded.
https://user-images.githubusercontent.com/24797493/197841991-53d750ca-9185-4b5f-bc8a-567b1d647ad3.mov

**Acceptance Criteria:**
- [x] As a user navigating the site, when I select a different category filter the 'Related articles' update to show related articles to that category
- [x]

[2022-10-25 17:30] tbrlpld opened #9542 "[PNI] Positioning of related articles on article page"
Positioning of the related articles does not match the [design](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3406%3A38682).

![image.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/f325f305-8459-4231-bb02-bd7623084118)

[2022-10-25 18:31] kristinashu commented on #9103
Thanks @tbrlpld! It is looking very close but I've noticed two things. Please let me know how best to document this.

- [ ] "All Reviews" is showing a selected state, it should show its non-selected state since it isn't selected.
- [ ] The image is slightly indented, it should be left aligned with the text like it is on all our other pages on the website.

Screen cap heroku link:

<img width="1193

[2022-10-25 18:52] beccaklam commented on #9536
@tbrlpld Yes it does!

[2022-10-25 18:55] beccaklam commented on #9093
@fessehaye this look good from a design perspective. I'm not sure if this is the time and place to do this but since we are amending the design, would now be the time to remove the wavy line and [reverse the change where "Product Reviews" replaced the selected category title](https://github.com/mozilla/foundation.mozilla.org/issues/9536)? Just not sure if it makes sense to merge changes we will th

[2022-10-25 19:49] kristinashu opened #9543 "[PNI] Product grid & cta layout is broken on mobile"
### Describe the bug
At narrow widths, the product grid is showing 4-up when it should be 2-up and the CTA box covers 2 "columns" when it should cover all 4 "columns."

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/
2. View product grid it at a narrow width
3. See error

### Expected behavior
Screen cap from Figma
![image

[2022-10-25 20:36] stevedya commented on #9397
@cdanfon @kevinhowbrook I've added some changes to the PR #9456  and they are now with @tbrlpld for review

[2022-10-25 20:54] tbrlpld commented on #9543
Weird. Looks like I was the last to touch this. I must have forgotten to switch that mobile style back on after some experimenting.

[2022-10-25 21:08] kristinashu commented on #9543
Thanks for looking at this Tibor! I'm assuming it looked right at one time.

[2022-10-25 21:21] tbrlpld commented on #9543
@fessehaye This is ready for review.

[2022-10-25 21:24] beccaklam commented on #9517
@kristinashu The [first draft of this report](https://docs.google.com/document/d/15f6Dz9RtzCgN3A7tBaLxl1EBZ0qjf9LXz2_mQUdK1Fc/edit?usp=sharing) is ready for review :)

[2022-10-25 21:35] tbrlpld commented on #9103
@kristinashu I have updated the AC accordingly. Can you check this matches your understanding?

[2022-10-25 21:36] tbrlpld commented on #9093
Not sure what @fessehaye thinks about this, but I think there is a lot of code in here that will remain the same and it would be better to deal with the changes in a separate ticket.

[2022-10-25 21:37] tbrlpld commented on #9397
@stevedya Reviewed. Looks good. Just left one small question.

[2022-10-25 21:41] beccaklam commented on #9093
I'm fine with that!

[2022-10-25 21:58] tbrlpld opened #9545 "SPIKE [PNI] Improve performance of product grid load time"
# Description

There is currently an issue where the PNI pages with the product grid (namely home page and the review/category pages) load extremely slowly for logged in users.

I am guessing the template caching gets around this for the anonymous users.

[code]

But it still affects logged in users very badly and makes development extremely painful.

I am guessing the issue is related to the larg

[2022-10-25 22:17] fessehaye commented on #9093
Since there are created issues for the remaining changes I will be closing this ticket

[2022-10-25 22:17] #9093 closed

[2022-10-25 22:42] kristinashu commented on #9517
Looks great, no feedback from me!

[2022-10-25 22:49] tbrlpld commented on #8013
@marcwalsh Can you confirm that the users should be signed up to the same Mozfest newletter?

[2022-10-25 22:49] tbrlpld commented on #8013
Current implementation see: https://github.com/mozilla/foundation.mozilla.org/commit/ce64714f0a1d6895e3cf2cdeb88600e9f3550fd0

[2022-10-25 22:52] kristinashu commented on #9103
Yes, looks good. I've also updated the Figma file and the screen caps (removed the newsletter signup CTA since that is post MVP and added an image as an example).

[2022-10-25 23:02] stevedya commented on #9400
@cdanfon @kevinhowbrook I've made the necessary front end changes to that PR now. I'll assign this to Kev for now to get reviewed once he's addressed the branches this is based off of.

[2022-10-26 09:09] kevinhowbrook commented on #9397
I've updated the migrations so this should be good to deploy now

[2022-10-26 09:34] cdanfon commented on #9397
@tbrlpld Please see above comment from Kev, this is ready to deploy to staging now

[2022-10-26 09:56] tomusher commented on #8034
In looking in to this, these permissions now seem to be present on both production and staging.

Looking at deployment logs, there was an error running migrations starting when these models were first added, meaning the full migration process (and `contrib.auth`s `post_migrate`) was not running. This seemed to be fixed by a change on Jan 11, which allowed the migrations to succeed and the permissi

[2022-10-26 10:00] cdanfon commented on #9395
Hey @kristinashu Could you confirm the size of the font on the profile text please?

The Figma file states 16px, but seems that we should be using 18px instead for consistency across the foundation website.

Thanks!

[2022-10-26 10:06] tomusher commented on #8034
Created #9547 to prevent similar issues by exiting out of the release pipeline when commands fail.

[2022-10-26 13:12] tbrlpld commented on #8034
Thanks for looking into this @tomusher. I left one question on the PR, but only for my own learning 😅

[2022-10-26 13:39] #9464 closed

[2022-10-26 13:39] #9507 closed

[2022-10-26 13:42] tbrlpld commented on #8034
Merged and deployed. All is well. Thanks for this @tomusher.

[2022-10-26 13:42] #8034 closed

[2022-10-26 14:38] cdanfon commented on #9400
Moving this to 'Code review' but is blocked by MR- 9398 text teaser

[2022-10-26 14:46] stevedya commented on #9403
Hey @tbrlpld this one is now ready for review at #9539

[2022-10-26 16:04] beccaklam commented on #9517
Shared report in the pni production channel :) Marking this done.

[2022-10-26 16:04] #9517 closed

[2022-10-26 16:40] tbrlpld commented on #9287
Wow, how did we miss this in "planning"...

[2022-10-26 16:56] tbrlpld opened #9548 "Fix CI deprecation warnings"
We currently get a bunch of deprecation warnings for every GitHub action run. I think we need to fix this to make sure CI is not going to break.

![image.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/827a01f9-fa5f-4ce1-8ac7-5c49929a25fe)

[2022-10-26 17:04] tbrlpld commented on #9397
@cdanfon This is on staging now.

[2022-10-26 17:09] kristinashu commented on #9514
[Here's Jam's retro planning doc](https://docs.google.com/document/d/1RftR0fyQyoilAous7BYUbU_rBk3JR0y3VP9YTM3MxRg/edit#)

[2022-10-26 17:17] tbrlpld opened #9549 "[PNI] Remove PNI 2022 preview app"
Once we merge `pni-2022` into `main` we can use the normal staging environment for PNI work as well.

[2022-10-26 17:23] tbrlpld commented on #9543
@kristinashu @cdanfon This is ready on the preview app now for QA: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-26 17:34] beccaklam opened #9550 "[PNI QA] Alignment of product review filters is broken on various screens"
## Describe the bug:
The privacy ding and sort by creepiness filter alignment needs some adjustment on tablet and mobile screens.

**To reproduce:**
1. Go to https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/
2. Adjust to tablet view (810 x 1080) and mobile view (375 x 812)
3. See bug(s)

## **Current:**
### Tablet: ![Screen Shot 2022-10-26 at 10.25.51 AM.png](https://images.zenhubus

[2022-10-26 17:37] TheoChevalier commented on #9415
Synced is good here too, I will translate the featured article on a case-by-case basis

[2022-10-26 17:47] TheoChevalier opened #9551 "[PNI] Related article links are hardcoded to the English locale"
Related articles listed at the top of category pages are always linking to the English locale instead of the current locale.

Example, articles should link to the /fr/ versions here:
https://foundation-pni-2022.herokuapp.com/fr/privacynotincluded/categories/mental-health-apps/

![](https://user-images.githubusercontent.com/1294206/197767917-e57c1aa6-c2b8-4223-9317-9a4a09356de1.png)

┆Issue is sync

[2022-10-26 17:57] TheoChevalier commented on #9194
Yup, that’s it. Also just to make sure we’re on the same page, when through models / orderables are synchronized, it doesn’t mean I won’t translate them, it just means they are not _automatically_ and _systematically_ translated. I can then pick the ones worth translating in the admin, manually, independently of the page where they are linked.

Hopefully this comment doesn’t add to the confusion,

[2022-10-26 18:15] beccaklam commented on #9541
The positioning of the related article also needs to be fixed. It should look like this:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/85c0d65f-3867-4ebf-a0a3-705f171bb72b)
[Link to design](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3080%3A30591)

[2022-10-26 19:02] kristinashu commented on #9543
Yay looks good, thank you!

[2022-10-26 19:38] tbrlpld commented on #9194
Thanks @TheoChevalier, that makes sense.

And thanks for filing the bug report.

[2022-10-26 19:41] tbrlpld commented on #9541
@beccaklam Thanks, there already is #9540. That seems more like what you are talking about. This issue here is a about the functionality of switching which articles are displayed, not the location.

[2022-10-26 19:43] #9543 closed

[2022-10-26 20:13] tbrlpld commented on #9403
@stevedya Left some small questions on the PR

[2022-10-26 20:18] beccaklam opened #9552 "[PNI QA] Product Reviews page loads too low on the screen"
Currently when one clicks "Product Reviews" in the menu it jumps to the part of the page right above the privacy ding and 'sort by creepiness' filter:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/67de65f9-b5ca-45e0-9986-f909310725c6)

The expected behaviour is that the page would load at the top of the page, including the navigation:
![image.png](https://images.zenhub

[2022-10-26 20:30] beccaklam commented on #9540
![IMG_EA8D905AE42A-1.jpeg](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/3a6a1cdd-89f8-42ed-92bc-abf51e4e8323)
Adding this screen shot to this bug. Not sure why it's saying "Primary Related Articles"?

[2022-10-26 20:31] tbrlpld commented on #9107
Removing from this sprint since it's p3.

[2022-10-26 20:32] tbrlpld commented on #8927
I don't think anyone is on support duty this sprint.

[2022-10-26 20:33] beccaklam commented on #9542
Adding this mobile screen shot to this bug.
![IMG_EA8D905AE42A-1.jpeg](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/3a6a1cdd-89f8-42ed-92bc-abf51e4e8323)
 Not sure why it's saying "Primary Related Articles"?

[2022-10-26 20:33] tbrlpld commented on #8652
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:33] beccaklam commented on #9540
The positioning of the related article also needs to be fixed. It should look like this:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/85c0d65f-3867-4ebf-a0a3-705f171bb72b)
[Link to design](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=3080%3A30591)

[2022-10-26 20:33] tbrlpld commented on #8682
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:34] tbrlpld commented on #8779
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:34] beccaklam commented on #9541
@tbrlpld Oops thanks for catching that! I've moved my comment to the correct ticket.

[2022-10-26 20:34] tbrlpld commented on #8805
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:34] tbrlpld commented on #8343
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:34] tbrlpld commented on #6857
Nobody is working on this. Removing from active sprint.

[2022-10-26 20:37] tbrlpld commented on #9542
@beccaklam That was just a marker for us in the template. I don't think we expected the frontend to be not being properly worked on for so long.

[2022-10-26 20:45] tbrlpld commented on #9552
The title and the description don't seem to match @beccaklam

[2022-10-26 20:46] tbrlpld commented on #9552
I feel like I have raised that before somewhere... 🤔

[2022-10-26 21:13] beccaklam opened #9553 "[PNI QA] Search not working on product review pages"
On a product review page (not to be confused with the Product Reviews page), search is not working.

To replicate bug:
1. Go to https://foundation-pni-2022.herokuapp.com/privacynotincluded/ on any device (desktop, tablet, mobile)
2. Click on any product review like https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/threema/
3. Go to the search bar
4. Type something into the search bar

[2022-10-26 21:19] beccaklam opened #9554 "[PNI QA] 'Related products' squiggle on product review pages is too big in Chrome"
The 'Related products' squiggle on product review pages is too big:
![Screen Shot 2022-10-26 at 2.17.36 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/75975e02-1162-461d-b72c-09b5fd347870)

It should look like this:
![Screen Shot 2022-10-26 at 2.18.12 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/181e7c0b-e139-4fba-a51f-edd7cf28cdec)

To replicate bug

[2022-10-26 21:33] beccaklam opened #9555 "[PNI QA] CTA call out box is too big on Product Reviews page"
Currently the CTA call out box is too big on the Product Reviews page. You need to either go to the Product Reviews page directly or refresh the Product Reviews page if you came from another page (i.e. clicking 'Product Reviews' in the nav) in order to see this bug.

Currently:
![Screen Shot 2022-10-26 at 2.29.19 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/e5d4941e-3576-4

[2022-10-26 21:36] tbrlpld opened #9556 "Improve CSS build in development"
It takes pretty long after starting the stack with `docker compose up` until the styles are working properly. There might be a bunch of reasons, but I think we should definitely not run css optimization while in local dev. That's something for deployments, but not something we should be doing for local development.

[code]

[2022-10-26 21:36] beccaklam commented on #9550
Adding that the 'sort by creepiness' filter appears squished when multiple tags appear for a category:
![Screen Shot 2022-10-26 at 2.35.18 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/b25cf902-9e98-4b5c-937d-dce27b26aff0)

[2022-10-26 21:41] stevedya commented on #9400
Hey @tbrlpld since this is only blocked for merging right now only because of the merge order of the branches. Could we get this reviewed in the meantime. It's ready for a look here: #9519

[2022-10-26 22:04] beccaklam opened #9557 "[PNI QA] Cannot select the category nav on a product review page (Mobile - any browser)"
The category nav drop down menu is not working on the product review page on mobile.

To replicate the bug:
1. Go to https://foundation-pni-2022.herokuapp.com/privacynotincluded/ on your mobile device
2. Click into any product review, such as https://foundation-pni-2022.herokuapp.com/privacynotincluded/amazon-echo-show/
3. Try to tap the drop down menu besides "All Categories" or even "All Categor

[2022-10-26 22:29] kristinashu opened #9558 "[PNI QA] Sign up button styling on product page"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Go to a product page, for example https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/netatmo-smart-indoor-camera/
2. Scroll down to the Newsletter signup
3. See `Sign up` button text that has an underline (Expected behavior: should not have underline)
4. Hover

[2022-10-26 22:31] beccaklam commented on #9513
Using this [spreadsheet](https://docs.google.com/spreadsheets/d/1TYnQFGOZLSJrHGHvnLhJwBaZUcAyOmTbHNcu65WUv_4/edit?usp=sharing) to track what I've QA-ed.

[2022-10-26 22:35] kristinashu commented on #9554
Putting this as a p2 if it's a quick fix but if it's more than a `1` estimate, bump it down to a p3

[2022-10-26 22:43] kristinashu commented on #9555
p3 with the assumption that this can be hidden

[2022-10-26 22:50] beccaklam opened #9559 "[PNI QA] Email CTA showing up first in product review grid when using alphabetical and 'Creepiness: Most — Least' filters (safari - mobile)"
On mobile, when using the 'sort by' filter and selecting 'Alphabetical' and 'Creepiness: Most — Least', the email call out box shows up first. This is confusing because it kind of looks like nothing is happening/there are no results. Would it be possible to make sure it doesn't show up first in the grid? This is low priority.

[2022-10-26 23:27] tbrlpld commented on #8723
Nobody is working on this. Removing it from the sprint.

[2022-10-26 23:27] mtdenton commented on #9553
@fessehaye seems like javascript errors might be causing this and #9557:
<img width="1723" alt="Screen Shot 2022-10-26 at 6 20 30 PM" src="https://user-images.githubusercontent.com/41487159/198157399-27b949bd-0216-4cb1-8246-f4c7fb7ca7f2.png">

[2022-10-26 23:28] tbrlpld commented on #9194
Just to clarify @cdanfon @TheoChevalier do we consider this QA passed?

[2022-10-26 23:31] fessehaye commented on #9553
I think Becca was referring to the desktop screen? But good to know that mobile isn't working either. This overlaps some of the nav stuff I am doing so I will grab this one. @mtdenton

[2022-10-26 23:36] tbrlpld commented on #9555
I presume it can by not defining a "featured CTA" on the PNI homepage.

[2022-10-26 23:36] mtdenton commented on #9553
It adjusted viewport size because I opened the dev tools, just trying to show that there are javascript errors that need addressed.

[2022-10-26 23:54] kristinashu commented on #9550
This might be a p2?

[2022-10-27 00:09] kristinashu commented on #9540
p3 since we can just hide (not add) articles for now

[2022-10-27 00:17] mtdenton commented on #9551
Thanks @TheoChevalier, prioritizing this for triage.

[2022-10-27 04:31] beccaklam commented on #9553
It's for all screens actually, I think @fessehaye

[2022-10-27 09:25] cdanfon commented on #9397
@kevinhowbrook @stevedya not quite sure where the issue is coming from (FE/BE) so tagging both of you.

Please see video that reproduces the bug: https://www.loom.com/share/751eba50b74a4dcf9c9c2b17e5f30ddd

Upon first save looks OK, then I remove a bit of content from the body section and the section crops, if I remove more content the section crops further.

[2022-10-27 10:29] bheasman opened #9561 "GA4 Implementation"
This issue is to track all work relating to the initial GA4 set up.

The work is nearly complete - here's a high level summary:
- [Fo.mo GA4 property](https://analytics.google.com/analytics/web/#/p321347134/reports/intelligenthome)
- [Donate GA4 property](https://analytics.google.com/analytics/web/#/p321328061/reports/intelligenthome)
- [Mozfest GA4 property](https://analytics.google.com/analytics

[2022-10-27 10:49] kevinhowbrook commented on #9399
This has been rebased and is ready to deploy to staging https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-27 10:49] kevinhowbrook commented on #9398
This has been rebased and is ready to deploy to staging https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-27 11:19] cdanfon commented on #9398
Hey @tbrlpld another one for you please :)

[2022-10-27 12:38] cdanfon commented on #9399
@tbrlpld Another one for you please :)

[2022-10-27 12:47] cdanfon commented on #9194
Looks good to me @tbrlpld, unless @TheoChevalier disagrees

[2022-10-27 13:07] kevinhowbrook commented on #9402
This was accidentally merged. New PR is here https://github.com/mozilla/foundation.mozilla.org/pull/9562

It's blocked by https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-27 13:07] kevinhowbrook commented on #9401
This was accidentally merged. New PR is here https://github.com/mozilla/foundation.mozilla.org/pull/9562

It's blocked by https://github.com/mozilla/foundation.mozilla.org/pull/9511

[2022-10-27 13:24] tbrlpld commented on #9400
Already on my list @stevedya

[2022-10-27 13:59] kevinhowbrook commented on #9400
I've rebased this and cherry-picked the work back in

[2022-10-27 14:56] tbrlpld commented on #9194
@TheoChevalier I am not sure we have. Can you file one please?

[2022-10-27 15:22] tbrlpld commented on #9402
@cdanfon Ready for test on staging

[2022-10-27 15:22] tbrlpld commented on #9401
@cdanfon Ready for test on staging

[2022-10-27 15:28] TheoChevalier opened #9563 "[PNI] Translating article categories & authors fails"
Attempting to translate a `Buyers guide article page author profile relation` or a `Buyers guide article page content category relation` from a PNI article page fails

How to reproduce:
- Translate a PNI article page
- Edit the translation
- Hit the translate button in front of `Buyers guide article page author profile relation` or `Buyers guide article page content category relation`

Example her

[2022-10-27 15:31] stevedya commented on #9397
Hey @tbrlpld I have added a PR for the most recent issue that @cdanfon has noticed. It is ready for review here: #9564

[2022-10-27 15:32] cdanfon commented on #9194
As per new process should we pass this onto the design team for testing? @tbrlpld @beccaklam @kristinashu

[2022-10-27 15:48] cdanfon commented on #9399
@stevedya The underline should be black as per styler guide [here](https://foundation.mozilla.org/en/style-guide/#headers-links)

[2022-10-27 15:52] cdanfon commented on #9398
Hey @stevedya a couple of things:

- Underline should be black as per style [guide](https://foundation.mozilla.org/en/style-guide/#headers-links)
- Paragraph text to be grey as per style [guide](https://foundation.mozilla.org/en/style-guide/#paragraphs)

[2022-10-27 15:59] tbrlpld commented on #9194
I am not sure that is necessary, since @TheoChevalier is the stakeholder for this change and has tested personally.

[2022-10-27 16:00] tbrlpld commented on #9194
Thanks for filing the bug @TheoChevalier

[2022-10-27 16:03] cdanfon commented on #9401
I'm struggling to test this as I can only select article pages but I'm not sure where to find one in the page tree. @tbrlpld can you help?

@kevinhowbrook 'cc

[2022-10-27 16:11] cdanfon commented on #9401
Ignore my comment @tbrlpld I've managed to sort it.

@stevedya the underline for the article header should be black as per styler [guide](https://foundation.mozilla.org/en/style-guide/#headers-links)

[2022-10-27 16:15] stevedya commented on #9400
@tbrlpld I've just pushed up some adjustments based on your questions. It's ready for another look now 🙂

[2022-10-27 16:17] stevedya commented on #9403
@kevinhowbrook Just updating this ticket quick, that those questions @tbrlpld had were resolved and this can be added to the merging chain.

[2022-10-27 16:18] stevedya commented on #9404
Fixed!

[2022-10-27 16:41] tbrlpld commented on #9397
@stevedya @cdanfon The fix is now on staging.

[2022-10-27 16:44] cdanfon commented on #9397
Looks good to me, thanks both!

@gutermul over to you for MoFo testing

[2022-10-27 16:49] cdanfon commented on #9402
Awaiting on #9401 fixes, however upon first inspection looks like the section is also missing the line above the card

![Image](https://user-images.githubusercontent.com/102978346/198351086-6818e02f-a27d-44e2-baa1-ca0224a23012.png)
![Image](https://user-images.githubusercontent.com/102978346/198351087-84566de8-54bc-40c5-b662-5aa3d49bc520.png)

[2022-10-27 16:55] stevedya commented on #9401
@tbrlpld I've added a fix PR for these now and its ready for review here #9565

cc: @cdanfon

[2022-10-27 16:58] tbrlpld commented on #9400
@stevedya One more micro suggestion

[2022-10-27 17:06] tbrlpld commented on #9401
Left one small question @stevedya

[2022-10-27 17:58] stevedya commented on #9402
I've added a PR for these fixes:
I've added the border fix to this PR https://github.com/mozilla/foundation.mozilla.org/pull/9565

- Adds missing borders
- Adjusts link hover underline to match styleguide

This is ready for you to look at now @tbrlpld

[2022-10-27 17:59] stevedya commented on #9401
@tbrlpld No problemo! I've addressed that question and added a couple more improvements that are ready to be looked at 😄

[2022-10-27 18:08] beccaklam commented on #9515
@nancyt1 and I met and kicked off the metrics planning process in this [doc](https://docs.google.com/document/d/1M-qL2wY9-Uf0ElqGxIYile7uQNaCY5SkYQu4c-MivpY/edit?usp=sharing). Next steps have been outlined which I'm pasting here for visibility:

**Next steps:**

1. Figure out/finesse data story/questions (are we asking the right questions that will help us build a better site? Build more engagemen

[2022-10-27 18:16] stevedya commented on #9399
@tbrlpld I've fixed this border issue and this is ready for you to to review here: https://github.com/mozilla/foundation.mozilla.org/pull/9566

[2022-10-27 20:02] beccaklam commented on #9194
Looking at the description of this ticket I agree that Theo is the correct stakeholder/tester for this! @cdanfon

[2022-10-27 20:35] gutermul commented on #9397
- In the Figma, this is left aligned so that it's aligned with the left-most menu item and page title. On staging it's indented (see screenshot), so that should be adjusted.

![Image](https://user-images.githubusercontent.com/21171146/198392425-85b470d8-ea4e-448a-9534-748cbffc0da1.png)

- Implementation was fine, although I would still prefer a hyperlink rather that page picker here as well, becau

[2022-10-27 20:45] tbrlpld commented on #9400
@cdanfon Ready for testing on staging

[2022-10-27 20:45] tbrlpld commented on #9403
@cdanfon Ready for testing on staging

[2022-10-27 20:46] stevedya commented on #9400
No problem, this is resolved now 😄

[2022-10-27 20:46] tbrlpld commented on #9404
@cdanfon Ready for testing on staging

[2022-10-27 20:54] beccaklam commented on #9550
Yeah ... I would want this fixed before launch if possible. Just looks unpolished.

[2022-10-27 20:58] tbrlpld commented on #9398
Two small question for me @stevedya

[2022-10-27 20:58] tbrlpld commented on #9399
Two small question for me @stevedya

[2022-10-27 21:17] tbrlpld commented on #9397
@gutermul The alignment to the left should be achieved by not using the "narrow content" option.

[2022-10-27 21:18] tbrlpld commented on #9400
Sorry, I don't follow. I think I already reviewed no?

[2022-10-27 21:24] gutermul commented on #9397
Ai, thanks! It was pre-selected the way that I tested. This one is signed off.

[2022-10-27 21:39] tbrlpld commented on #9525
@cdanfon @beccaklam This is ready for testing on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-27 21:50] tbrlpld commented on #9415
Pulling this into the sprint because of the high priority.

[2022-10-27 22:09] tbrlpld commented on #9524
@beccaklam @kristinashu Are we sure the text of the tooltip on the button should be "*privacy not included with this product"? I would expect more something like "Filter for products with sever privacy concerns"... or something like that... since the hover is not on a prodcut.

[2022-10-27 22:11] tbrlpld commented on #9524
Or at least "*privacy not included with these products"

[2022-10-27 22:28] tbrlpld commented on #9557
I can even reproduce on desktop Firefox with small viewport.

[2022-10-27 22:32] tbrlpld commented on #9553
Mobile (Desktop Firefox with small viewport) works for me. Desktop (Firefox) does not work.

[2022-10-27 22:34] tbrlpld commented on #9553
Works for me on iOS (Safari)

[2022-10-27 22:50] tbrlpld opened #9569 "PNI Article index body text preview cut off"
https://foundation.mozilla.org/en/privacynotincluded/articles/

<img width="300" src="https://user-images.githubusercontent.com/24797493/198412392-03772e39-c96c-4fbd-928a-34180bac5844.jpeg">

### Smartphone (please complete the following information):
 - Device: iPhone6 or iPhone14 Pro
 - Browser: Safari
 - Version: 16

[2022-10-28 08:31] cdanfon commented on #9403
Hey @stevedya looks good to me except for tablet, see attached
<img width="790" alt="Screenshot 2022-10-28 at 09 30 18" src="https://user-images.githubusercontent.com/102978346/198542149-a11d7b71-15ce-42eb-ad2d-2425070014c4.png">

[2022-10-28 10:02] cdanfon commented on #9404
As per comment on #9403 the padding on tablet needs to be fixed

[2022-10-28 10:04] cdanfon commented on #9393
Hey @stevedya see above comment about the padding from Lisa:

[2022-10-28 10:13] cdanfon commented on #9400
Looks good to me, over to you @gutermul for testing

[2022-10-28 10:15] cdanfon commented on #9403
@gutermul Over to you for testing, the card padding on tablet needs to be amended, but this ticket it for the cards as a block element.

[2022-10-28 13:34] tbrlpld commented on #9401
@cdanfon Why are you assigning me to this issue? It has been reviewed and deployed to QA yesterday.

[2022-10-28 13:36] tbrlpld commented on #9402
@cdanfon This was merged and deployed to staging yesterday.

[2022-10-28 13:48] cdanfon commented on #9401
I was looking at this issue in the DFL kanban board and couldn't see the section that says you've merged the pull request - I've assumed you needed to review it after Steve's comment. Thanks Tibor!

[2022-10-28 13:48] beccaklam commented on #9525
@tbrlpld Visually this is good to go!

[2022-10-28 13:50] cdanfon commented on #9401
Looks good to me, over to @gutermul for MoFo testing

[2022-10-28 13:55] tbrlpld commented on #9524
@cdanfon @beccaklam This is now ready for testing on the preview app: https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/

[2022-10-28 14:13] cdanfon commented on #9525
All ACs were visual we can close this as completed

[2022-10-28 14:13] #9525 closed

[2022-10-28 14:20] beccaklam commented on #9524
This is a good point, we can probably change it to at least this ^. Rewriting to something like "Filter for products with severe privacy concerns" would probably need a consult from Jen since there used to be concerns (I _think_, at a legal level) with us being _too_ opinionated.

[2022-10-28 14:55] stevedya commented on #9393
Hey @cdanfon I can adjust this today. It looks like we have it set to `3/4` for the left side and `1/4` for the right. So i'll update to be into thirds instead.

[2022-10-28 15:14] stevedya commented on #9398
@tbrlpld I've replied and will pass these back to you now

[2022-10-28 15:14] stevedya commented on #9399
@tbrlpld I've replied and will pass these back to you now

[2022-10-28 15:46] beccaklam commented on #9524
@tbrlpld The wording has definitely been updated across all the screens I've checked!

I'm having trouble though seeing the tool tip consistently:

- I don't see it at all on Chrome.

- On Safari it only shows up after 3-4 seconds and only when my cursor is directly above the word "privacy not included".

- The tool tip does not seem to activate when hovering over the hazard icon directly for any

[2022-10-28 16:02] stevedya commented on #9404
Hey @tbrlpld i've added a super small PR to fix this one here: https://github.com/mozilla/foundation.mozilla.org/pull/9572 and its now ready for review

[2022-10-28 17:22] tbrlpld commented on #9524
Yes, tooltips don't work for mobile as there is no hovering.

[2022-10-28 17:25] tbrlpld commented on #9524
I guess it should be possible to show the tooltip for the whole button including the icon.

[2022-10-28 17:26] tbrlpld commented on #9524
For me it did show up in Chrome too.

[2022-10-28 18:25] Pomax commented on #6857
Always a shame to see this die. I still hope one day this code has nothing to do with the long-dead Learning Network API.

[2022-10-28 18:54] stevedya commented on #9393
I've now adjusted this as part of this PR https://github.com/mozilla/foundation.mozilla.org/pull/9538.

This is now ready for you to look at @tbrlpld

[2022-10-28 18:55] stevedya commented on #9432
I've adjusted this as part of this PR https://github.com/mozilla/foundation.mozilla.org/pull/9538

This is now ready to review @tbrlpld

[2022-10-28 19:13] tbrlpld commented on #9398
@cdanfon This is ready for testing on staging

[2022-10-28 19:27] tbrlpld commented on #6857
We should definitely working on restructuring the repo/apps.

[2022-10-28 19:33] beccaklam commented on #9524
@tbrlpld Oh strange, it's working for me now! I think we can go ahead with implementing what we have right now and make adjustments later?

[2022-10-28 19:39] tbrlpld commented on #9404
@cdanfon This is ready for testing on staging.

[2022-10-28 19:47] tbrlpld commented on #9524
@beccaklam Sorry, I am not sure I follow. What do you suggest we implement now?

[2022-10-28 20:10] tbrlpld commented on #9432
@stevedya Thanks for this. We are going to need some solution that is supported in Firefox.

[2022-10-28 20:11] tbrlpld commented on #9393
@stevedya Thanks for this. We are going to need some solution that is supported in Firefox.

[2022-10-28 21:13] stevedya commented on #9392
Hey @tbrlpld i've added a PR for this that is ready for review here: https://github.com/mozilla/foundation.mozilla.org/pull/9573

[2022-10-28 21:48] beccaklam commented on #9524
Oh, I meant what you have currently working on staging looks good to go for me. The adjustments to the wording/cursor placement can be debated later?

[2022-10-28 21:53] tbrlpld commented on #9392
I left some questions @stevedya

[2022-10-28 21:58] tbrlpld commented on #9524
@beccaklam Sure can. Would you mind creating a ticket for the further changes?

[2022-10-28 22:09] beccaklam opened #9575 "PNI Tool Tip Adjustments"
Making this ticket to continue a conversation around the PNI tool tip from ticket #9524:
- Should we adjust the tool tip wording "privacy not included in this product" for the privacy ding filter
- Can the tool tip be activated also when the cursor hovers over any part of the filter (not just the words "privacy not included")

[2022-10-28 22:09] beccaklam commented on #9524
Done: #9575

[2022-10-28 22:26] stevedya commented on #9432
@tbrlpld I've made some changes now. This is once again ready for review

[2022-10-28 22:27] stevedya commented on #9393
@tbrlpld No problemo, I've made some changes now, this is once again ready for review

[2022-10-28 22:28] stevedya commented on #9463
This should be solved by https://github.com/mozilla/foundation.mozilla.org/pull/9538  Will revisit once that PR is finished with

[2022-10-28 22:58] tbrlpld commented on #9432
@stevedya Thanks for these changes. I think there might be some question about what the desired functionality is here: https://github.com/mozilla/foundation.mozilla.org/pull/9538#pullrequestreview-1160812230

[2022-10-29 00:37] fessehaye commented on #9554
Is this still happening? Checking on staging and looks fine?

[2022-10-29 09:01] gutermul commented on #9401
From the designs and final content it's clear that the intention for these was to be news article selections from the internet- not from within the mofo site, but I see the dev task was to use a page picker. I will raise this with the DFL team on Tuesday to see if we can shift to adapt and get back to you.

[2022-10-29 09:07] gutermul commented on #9402
Design looks good. There is is just still the outstanding functionality to being an article page picker rather than a news feature block where we can select news articles from the wider internet. See comment in #9401

[2022-10-29 09:30] gutermul commented on #9400
Looks great. Signed off. Attached screenshot of the whole page I built to check all tickets related to this page.

![Image](https://user-images.githubusercontent.com/21171146/198824263-cbfccabd-6e48-4599-8ccd-6a97c9deac26.png)

[2022-10-31 10:10] cdanfon commented on #9398
Looks good to me thanks, @gutermul over to you for MoFo testing

[2022-10-31 10:11] cdanfon commented on #9399
Looks good to me as per #9399 - over to you for MoFo testing @gutermul

[2022-10-31 10:19] bheasman commented on #9436
Adding more context here as to what's required (essentially creating a new streamfield component for adding a newsletter sign up form on Mozfest pages):

- Design to reuse the hardcoded component at the bottom of blog pages - [blog newsletter component](https://github.com/mozilla/foundation.mozilla.org/issues/8787)
- Add it as a new streamfield component to mozfest_homepage and mozfest_primary_pag

[2022-10-31 10:21] cdanfon commented on #9404
Thanks! Looks good to me, @gutermul over to you for MoFo testing

[2022-10-31 10:40] cdanfon opened #9585 "DFL - Article teaser block in Banner page to include further fields"
### Describe the feature request
From the back of the work done by TBX on #9401, tweaks are needed to incorporate:

- Title
- Image (thumbnail)
- Image label
- URL link

### Screenshots / mock-ups
The current option allows the editor to select from an 'article page chooser', whereas the use case is to allow for an external article to be rendered.
<img width="930" alt="Screenshot 2022-10-31 at 10 3

[2022-10-31 10:49] cdanfon commented on #9402
Thanks @gutermul! As per #9401 are you happy to mark this as complete based on the original scope of the ticket please?

[2022-10-31 11:04] cdanfon commented on #9463
@stevedya I'm not sure if #9538 has been merged to staging yet, but at the moment is not stacking under the aside as expected but neither behaving like it was previously.

<img width="1485" alt="Screenshot 2022-10-31 at 11 02 10" src="https://user-images.githubusercontent.com/102978346/198993875-7f2a25e5-b29f-4a6a-8536-1b4ce4de9a88.png">

<img width="1485" alt="Screenshot 2022-10-31 at 11 03 41" s

[2022-10-31 11:06] gutermul commented on #9398
Looks good to me. The only thing I noticed was that the date was not forced all caps like in the figma, but from my perspective the flexibility is better. Attached is the Events page I recreated, for reference.

![Image](https://user-images.githubusercontent.com/21171146/198994098-d1d4b382-2d32-46df-bcc3-f3c845df9238.png)

[2022-10-31 11:22] gutermul commented on #9399
Looks good to me. The only thing I noticed when I recreated the events page is that the space below with the "mini image picker" has a fairly wide space between, but I think that that's actually because of the "mini image picker" rather than extra spacing below the text only card grid. See attached screenshot:

![Image](https://user-images.githubusercontent.com/21171146/198995168-2323cf7f-5e30-464

[2022-10-31 11:26] cdanfon commented on #9399
Hey @gutermul yes, the spacing is due to the 'mini image picker' which was an element that already existed in the mofo website.

I've created an example for you to see this:

<img width="1179" alt="Screenshot 2022-10-31 at 11 25 28" src="https://user-images.githubusercontent.com/102978346/198997507-ef37eb91-dfbc-467e-b3ef-31b8c6bc5806.png">

[2022-10-31 11:48] gutermul commented on #9404
Looks great! Signed off from my end.

[2022-10-31 11:50] gutermul commented on #9403
Small thing: I think the title should be H3 instead of H2. See attached page recreation and compare with figma.

![Image](https://user-images.githubusercontent.com/21171146/199001335-47347c2b-bb5f-41df-b750-4bf958d76d28.png)

[2022-10-31 11:54] cdanfon commented on #9403
You're right @gutermul thanks for raising

@stevedya can you please address the above?

2022 COHORT should be using a H3 instead

[2022-10-31 13:11] cdanfon commented on #9401
After speaking with @gutermul we've agreed to mark this as completed, however Lisa would need to have a chat with the rest of the DFL team to understand if ticket #9585 needs to be addressed

[2022-10-31 13:11] cdanfon commented on #9402
After speaking with @gutermul we've agreed to mark this as completed, however Lisa would need to have a chat with the rest of the DFL team to understand if ticket https://github.com/mozilla/foundation.mozilla.org/issues/9585 needs to be addressed

[2022-10-31 13:19] tbrlpld commented on #9575
@beccaklam Yes, that is possible.

[2022-10-31 13:40] tbrlpld commented on #9524
Thanks @beccaklam I mark this one as done. We can tackle the rest in the new ticket.

[2022-10-31 13:40] #9524 closed

[2022-10-31 13:54] tbrlpld commented on #9403
@cdanfon I believe I requested this change in code review, because we have no way (at the moment) to check if an `h2` has been used before this block. That could lead to in valid / non-semantic ordering of the headings. If you are only talking about the styling, that could be addressed without changing the semantics.

[2022-10-31 13:58] cdanfon commented on #9403
hey @tbrlpld yes, I'm talking about the styling here - @stevedya please note this is not a semantic change, only a visual one

[2022-10-31 15:04] mtdenton opened #9586 "[PNI] "Product Reviews" header link on homepage sends user too far down the page on Firefox"
### Describe the bug
On the PNI homepage, "Product Reviews" header link sends user too far down the page when it navigates to https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/#product-review

Seems to only happen on Firefox.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://foundation-pni-2022.herokuapp.com/en/privacynotincluded/
2. Click on "Product Reviews" in th

[2022-10-31 15:31] cdanfon opened #9587 "PULSE | CSP Updates for Google Tag Manager"
### Overview
Content Security Policies are a common security device to prevent unintended content from being loaded into a website. Coincidentally, the whole purpose of Google Tag Manager is to load assets into a website.

In order to use Google Tag Manager in sites with a CSP in place, we need to make some slight changes to the GTM code added to sites, as well as add a few lines to the site secur

[2022-10-31 15:34] cdanfon commented on #9587
Hey @mtdenton One for the support duty, we would need you (eng team) to make CSP updates for Pulse as part of the work that TBX is doing on GA4.

I'm aware Daniel has been dealing with these kind of request in the past but he's not back until Wednesday - as we haven't got anything on his sprint at the moment, could he pick this up as one of the first things he does please?

[2022-10-31 15:49] cdanfon commented on #9403
@stevedya this is only a style change, no need to change the semantic

[2022-10-31 16:33] cdanfon commented on #9586
closing this one as duplication #9552

[2022-10-31 16:33] #9586 closed

[2022-10-31 16:42] tbrlpld commented on #9194
Since @TheoChevalier has filed the follow up ticket for the other discovered issues, I think we can consider this one done.

[2022-10-31 16:42] #9194 closed

[2022-10-31 16:44] tbrlpld commented on #8534
Nobody is actively working on this, so I move this out of the sprint and back into to sprint ready.

[2022-10-31 16:45] tbrlpld commented on #9215
It appears no one is actively working on this. Moving this out of the sprint and back into sprint ready.

[2022-10-31 16:53] tbrlpld commented on #9432
@cdanfon It might be worth for you or @gutermul to take a look at the linked review comment. There is an open question about the desired functionality.

[2022-10-31 16:55] tbrlpld commented on #9393
This is the same PR as #9432 and waiting for action.

[2022-10-31 17:08] cdanfon commented on #9432
Hey @tbrlpld I posted a comment on the linked review - I'd suggest pushing to staging and checking for Kristina's opinion

[2022-10-31 17:20] kristinashu commented on #9554
I still see it in Chrome Version 106.0.5249.119 on macOS 12.6 when my browser is at a wide width (looks good a narrow width)

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/1068783/199069150-cb5684be-1fec-4ca0-af16-6d9d9a510db0.png">

<img width="485" alt="image" src="https://user-images.githubusercontent.com/1068783/199069538-c8f9355b-d371-4a38-878b-51977aa1ec78.png"

[2022-10-31 18:46] beccaklam opened #9589 "[PNI] Does the nav need to be sticky?"
@fessehaye brought up that we may want to make the nav sticky (like how it used to be) given the length of some of our pages.

**Goals**
- [x] Benchmark solutions
- [x] Design to explore sticky solutions (should the it be just the category nav/search bar, or the upper main menu as well?)
- [x] Address #9698
- [x] Gather feedback from design and devs
- [x] Create implementation ticket

cc: @kristin

[2022-10-31 19:19] stevedya commented on #9403
Hey @tbrlpld I've posted a PR for this fix here: #9590 thats ready for review.

[2022-10-31 19:22] stevedya commented on #9393
Hey @tbrlpld i've adjusted this PR as part of your feedback and its now ready for you to look at again 😄

[2022-10-31 20:35] tbrlpld commented on #9432
@cdanfon @stevedya There seems to be an unintended change to the body width that is caused by this PR. See  https://percy.io/Mozilla-Foundation/foundation.mozilla.org/builds/22591214/changed/1259054366?browser=chrome&browser_ids=30%2C31&subcategories=unreviewed%2Cchanges_requested&viewLayout=side-by-side&viewMode=new&width=1280&widths=375%2C1280

[2022-10-31 20:58] tbrlpld commented on #9403
@cdanfon This is ready for testing on staging.

[2022-10-31 21:38] stevedya commented on #9585
@cdanfon This looks like more of a BE change but i've put 3 hours on it as a rough estimate

[2022-10-31 23:04] fessehaye commented on #7875
Looks like this was already done

[2022-10-31 23:04] #7875 closed

[2022-10-31 23:29] stevedya commented on #9392
This one is ready for you to look at again @tbrlpld

[2022-11-01 09:43] bheasman opened #9591 "Add add 'image feature card' and 'image teaser' block to the Mozfest pages"
### Describe the feature request
Add add 'image feature card' and 'image teaser' block to the `Mozfest_homepage `and `mozfest_primary_page`

These blocks are both available on the banner page. Here are the tickets in which they were delivered:
https://github.com/mozilla/foundation.mozilla.org/issues/9400
https://github.com/mozilla/foundation.mozilla.org/issues/9397

ACs
- [ ] as an editor, I can a

[2022-11-01 09:49] cdanfon commented on #9432
@stevedya @tbrlpld what's the latest on this ticket please? Did those unintended changes get fixed?

[2022-11-01 10:01] cdanfon commented on #9403
Checked and looks good to me, over to @gutermul for MoFo testing please

[2022-11-01 12:13] gutermul commented on #9403
great! signed off

[2022-11-01 13:27] tbrlpld commented on #9585
@cdanfon Where are these images and names coming from? Will this all be uploaded an a block basis? Or should this come from profile snippets? I guess we typically won't have these external sources as profiles.

[2022-11-01 15:08] tomusher commented on #9436
This is done and ready for review in #9592

[2022-11-01 20:50] tbrlpld opened #9595 "[PNI] Menu shaking when product grid reaches top of screen"
# Description

Visit the PNI page (http://localhost:8000/en/privacynotincluded/) and scroll down.

Notice the shaking when the product grid reaches the top of the screen.

https://user-images.githubusercontent.com/24797493/199338503-0ef0cea9-9a63-4cd2-a0da-d8d280577a8b.mov

# Expected behaviour

Smooth scrolling.

# Acceptance criteria

- [x] On the buyer's guide (home) page I can scroll down unti

[2022-11-01 21:24] nancyt1 commented on #9514
Started compiling images in [here](https://docs.google.com/presentation/d/1hspGNKL1m2bH_6pGLCeIq7-0PvrvDe07AoHJkb3DzuY/edit?usp=sharing)! It's not really organized yet. @beccaklam

[2022-11-01 21:27] stevedya commented on #9432
@cdanfon Yep! These were fixed yesterday and I had pinged @tbrlpld on the PR already 👍

[2022-11-01 21:30] cdanfon commented on #9463
@stevedya @tbrlpld I'm a bit confused about this one, what's the current state for this ticket please?

[2022-11-01 21:38] stevedya commented on #9463
@cdanfon From my last comment above this should be solved by PR #9538

[2022-11-01 21:58] tbrlpld commented on #9287
@mtdenton @kristinashu @cdanfon @beccaklam @nancyt1 @fessehaye @danielfmiranda

The PNI integration branch is now ready on staging (the normal staging -- not the preview app anymore) for QA.

https://foundation.mofostaging.net/en/privacynotincluded/

This does not yet contain all the QA fixes. We can deploy those one by one.

Until we are happy with QA on staging we should not push to prod though.

[2022-11-02 10:15] tomusher commented on #9591
It looks like these are already available on Mozfest pages as delivered in the original tickets.

Can you confirm @bheasman ?

[2022-11-02 10:49] tomusher commented on #9535
Resolved by #9598 (pending review).

The existing `ImageText` block lines are black, so I have copied the style of those for consistency rather than copying the Figma design where the lines are grey.

[2022-11-02 10:51] bheasman commented on #9591
@tomusher - ah great, I wasn't aware that was the case. But yep, agree they're in there now. @marcwalsh - are you happy to test this please and check you're happy?

CC @kristinashu @mtdenton

[2022-11-02 15:48] tbrlpld opened #9599 "Refactor or remove utility functions"
There are a couple of utility functions that seem like they replicate Wagtail core functionality in complex ways.

https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/utils.py#L61-L130

We should check which are actually still used, which are necessary, see which can be replaced by Wagtail core features and refactor what is left.

[2022-11-02 16:08] nancyt1 opened #9600 "[PNI QA] Byline missing "and" between author names on homepage"
### Describe the bug
When there's more than 1 author, it should say "and" between the 2 names
<img width="1336" alt="Screen Shot 2022-11-02 at 11 00 15 AM" src="https://user-images.githubusercontent.com/74557207/199540708-b83515fa-e80a-4155-91c7-78eff24616e8.png">

### To Reproduce
Go to homepage (https://foundation.mofostaging.net/en/privacynotincluded/) and look at the featured article with 2 au

[2022-11-02 16:15] kristinashu commented on #9595
I'm also seeing this sometimes. Seems really bad in FF and Chrome and less bad in Safari.

[2022-11-02 16:36] cdanfon opened #9601 "DFL 2022 | Events - Text only card - URL field"
This ticket is to include a URL field to DFL 2022 | Events - Text only card #9398

Currently the _**heading link**_ comes from a page picker, we want to include an option for URL fields that opens in a new tab (as these are expected to be external links).

The editor would have 2 options:

- Page chooser
- URL field

**Dev tasks:**

- Include a URL field
- Add some logic that prevents using both p

[2022-11-02 16:39] cdanfon commented on #9398
Created #9601 to include URL field

[2022-11-02 16:43] cdanfon opened #9602 "DFL 2022 | Landing listing card - URL field"
This ticket is to include a URL field to the streamfield created from [DFL 2022 | Landing Listing card#9393](https://github.com/mozilla/foundation.mozilla.org/issues/9393)

Currently the _**heading link**_ comes from a page picker, we want to include an option for URL fields that opens in a new tab (as these are expected to be external links).

The editor would have 2 options:

- Page chooser
- UR

[2022-11-02 16:45] cdanfon commented on #9393
Created #9602 to include URL field

[2022-11-02 17:08] kristinashu opened #9603 "[PNI QA] Hero article image should pull OG image"
Currently the hero image pulls the image from the Articles `Hero image` but it should pull from `Share Image`.

Share image is better because
- It has an aspect ratio closer to what is used on the homepage and therefor it will look better
- Not all articles will have a `Hero Image`
- Our main site typically pulls from the `Share image`

Note: This work is related to related ticket https://github.c

[2022-11-02 18:59] tbrlpld commented on #9603
@kristinashu Is it more likely for an article to have a share image than a hero image? Would it make sense to fall back to the hero image if no share image is set? Do we need to need to warn editors when they are selecting the featured article and it does have neither share nor hero image?

[2022-11-02 19:03] nancyt1 opened #9604 "[PNI QA] Dive deeper and related products sections look misaligned on product pages"
### Describe the bug
Dive deeper and related products sections (or "what to read next section" if visible) misaligned on product pages

<img width="1360" alt="Screen Shot 2022-11-02 at 12 18 31 PM" src="https://user-images.githubusercontent.com/74557207/199578718-c3738b52-1b14-4a32-ab2b-a41a70a82a6b.png">

### To Reproduce
Click on any PNI product and scroll to the bottom where related content are

[2022-11-02 19:15] kristinashu commented on #9603
Ah this raises something else... the Share Image and Meta Description were recently made required fields on our main blog site https://github.com/mozilla/foundation.mozilla.org/issues/9464 so they should also be required fields for PNI Articles. Should this request be a new ticket or added to this one?

<img width="721" alt="image" src="https://user-images.githubusercontent.com/1068783/199579716-b

[2022-11-02 19:26] tbrlpld commented on #9603
@kristinashu Though considering the questions this has raised before, maybe combine them here or have the "make required" ticket be blocking to this one here.

[2022-11-02 19:40] tbrlpld opened #9605 "Refactor `primary_heroguts` template"
The [primary heroguts template (`templates/wagtailpages/fragments/primary_heroguts.html`)](https://github.com/mozilla/foundation.mozilla.org/blob/c3c5eeeced094e6a94b27e6d580631b25378d76a/network-api/networkapi/wagtailpages/templates/wagtailpages/fragments/primary_heroguts.html) is used by

* `wagtailpages/homepage.html`
* `wagtailpages/primary_page.html`
* `wagtailpages/bannered_campaign_page.html

[2022-11-02 19:47] kristinashu opened #9606 "[PNI] Make the `Share image:` and `Meta description:` required fields on PNI Article pages"
### Context:
Raised in https://github.com/mozilla/foundation.mozilla.org/issues/9603#issuecomment-1301100267 and related to https://github.com/mozilla/foundation.mozilla.org/issues/9464

Make the `Share image:` and `Meta description:` required fields on all PNI Article pages (similar to how it is on our main blog site pages)

### Acceptance Criteria:
- [x] As a user I can't publish a PNI Article u

[2022-11-02 19:47] beccaklam commented on #9550
Adding that on tablet when the "sort by creepiness" filter gets squished the words also merge into the arrow (Firefox, iPad OS):
![image](https://user-images.githubusercontent.com/20977376/199588271-91a2e35c-8d39-401d-8334-11fffd67066a.png)

[2022-11-02 19:54] tbrlpld commented on #9604
@nancyt1 I agree that looks off. I guess in the design they are top aligned with the text, but not quite with the other line.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/24797493/199589423-c2e913a7-70f8-48ef-9498-89400ccd9cc2.png">

[2022-11-02 19:56] kristinashu commented on #9603
Ok, I've added a note to the first comment in this ticket - _Note: This work is related to related ticket https://github.com/mozilla/foundation.mozilla.org/issues/9606_

I don't think it's necessarily a blocker tho since currently the Hero Image isn't a required field and the hero image looks broken if no hero is set.

Screen caps from staging:
<img width="511" alt="image" src="https://user-images

[2022-11-02 19:59] tbrlpld commented on #9603
Thanks @kristinashu. Yea, if that is acceptable we can move a head without it.

[2022-11-02 20:18] tbrlpld commented on #9432
@cdanfon This is now on staging.

[2022-11-02 20:18] tbrlpld commented on #9393
@cdanfon This is now on staging.

[2022-11-02 20:19] tbrlpld commented on #9463
@cdanfon This is now on staging.

[2022-11-02 20:51] nancyt1 commented on #9604
@tbrlpld ah yeah true, top aligned is the better descriptor. But yeah visually it should look like a straight line across the page, even if it technically isn't

[2022-11-02 21:55] beccaklam opened #9607 "[PNI QA] Clearing search on homepage leaves user with no results - Firefox and Chrome mobile on iOS"
# Description
To replicate:

1. Open https://foundation.mofostaging.net/en/privacynotincluded/
1. Click the magnifying glass to begin a search
1. Type in something to search
1. Hit return
1. After search results have appeared, clear the search by clicking the "x" icon
1. See bug (no results and no category selected even if "All Reviews" was previously selected prior to running the search)

Note: T

[2022-11-02 21:59] beccaklam opened #9608 "[PNI QA] Author photos look a little pixelated"
### Context:
The author profiles at the bottom of article pages look pixelated on any device and on any browser (chrome, safari, firefox):

<img src="https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/613371e5-0efc-45cf-a2d1-44e08bca0007" width=300 />

### Acceptance Criteria:
- [ ] As user navigating the PNI article page using a device (mobile or desktop) with retina display, I can see

[2022-11-02 22:05] nancyt1 opened #9609 "[PNI] Add ids or classes to new elements for tracking purposes"
**Homepage Editorial Content**
- [x] Add id to featured article div
- [x] Add id for related section associated with featured article

**Related Articles**
Add id or class to related or popular article blocks around the site. I wanted to be able to tell if clicks are coming from related blocks, these don't have to be unique to each one but some pages do have 2 places where it appears so an ID dist

[2022-11-02 22:09] beccaklam opened #9610 "[PNI] Squiggly line in nav bars are too pointy/look cut off"
The squiggly line underlining selected items in all nav bars looks too "pointy" and upon closer inspection it looks like it might be partially cut off:

![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/e2a4d806-b80f-4962-9c83-92126181776f)

The squiggle should look like this:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/7e576884-cfc9-47da-8db

[2022-11-02 22:17] beccaklam commented on #9550
Also happens on Safari:![15915.jpg](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/64eebe94-4dd5-4754-a23f-301ccbc22075)
[](url)

[2022-11-02 22:30] beccaklam opened #9611 "SPIKE - Move "articles" out of product reviews in the CMS so it's easier to find"
## Context:

Currently it's hard to find where to add article pages in PNI's CMS because the parent folder "Articles" is hidden within product reviews (see image below). Can we take it out and create more separation so that it's easier to find?
![Screen Shot 2022-11-02 at 3.28.41 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/825cc1eb-3cd3-49fb-b3f5-799b3d1041b5)

## Descrip

[2022-11-02 22:33] beccaklam opened #9612 "[PNI QA] Update or remove old mission statement CMS field"
This text in the CMS is from the old mission statement field and no longer reflects what users see. Can we either hide the field or make the current field editable:
![Screen Shot 2022-11-02 at 3.31.48 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/cd352fd3-1ddd-4472-947b-f420ff26b491)

[2022-11-02 22:37] tbrlpld commented on #9608
That should be based on the originally uploaded image. We need the profile images to be uploaded with better quality if we want to display them larger.

[2022-11-02 22:43] tbrlpld commented on #9415
Seems this is a known issue in `wagtail-localize`: https://github.com/wagtail/wagtail-localize/issues/430

Might be solved in a future release. For now we will need a work around.

[2022-11-02 22:43] beccaklam opened #9613 "[PNI QA] Limit of 7 items for ‘News’/’Dive Deeper’ section"
There’s a limit of 7 items for the ‘News’/’Dive Deeper’ section. Can we remove that limitation? I don’t think it’s necessary because we already truncate the list and the user chooses whether or not to expand to see all related news articles.

![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/16d46654-0868-4b4c-844d-fd8c359a400b)

To replicate:
1. Make sure you're logged in

[2022-11-02 22:56] beccaklam opened #9614 "[PNI] Explore homepage updates"
Currently we are hiding parts of the homepage as part of a quick fix to move the product review grid up. @nancyt1 had come up with a previous design that we said we would look into possibly implementing post launch (see below). The goal of this ticket is to explore design solutions for updating the homepage using our current components and minimal dev work.

**Goals:**
- [x] Explore ways to update

[2022-11-02 23:16] tbrlpld commented on #9613
@beccaklam I think this was added to avoid the layout being weird with the expanded list of more than 7 entries.

[2022-11-02 23:54] kristinashu commented on #9535
Thank you for catching that Tom, black lines sounds good to me.

[2022-11-03 00:04] kristinashu commented on #9591
Yes, the blocks are showing up on the mozfest site and I'm assuming the dividing lines will show up there as well once https://github.com/mozilla/foundation.mozilla.org/issues/9535 is done.

I didn't realize the `Body` text was going to be truncated so much in https://github.com/mozilla/foundation.mozilla.org/issues/9397 so I'll open a follow up ticket to increase the character count for that fiel

[2022-11-03 00:07] kristinashu commented on #9607
I was able to reproduce this on my desktop FF at a narrow browser width

[2022-11-03 11:29] cdanfon commented on #9432
Looks good to me, @gutermul over to you for testing. Please note that this block has changed names - is called 'block with aside' now

[2022-11-03 11:31] cdanfon commented on #9463
Checked and looks good to me. When using a CTA on the side the 'aside' block changes positions and stacks in the main column instead of the aside section.

@gutermul over to you for testing, although I believe @kristinashu made a mention about this.

[2022-11-03 11:32] cdanfon commented on #9393
Looks good to me, over to you for testing @gutermul

[2022-11-03 11:33] cdanfon commented on #9394
Hey @gutermul the aside block is now on staging for you to test, so this should unblock this one :)

[2022-11-03 12:17] gutermul commented on #9393
Looks great, signed off!

[2022-11-03 12:27] gutermul commented on #9463
When there's body content above (and presumably below) the "block with an aside," it isn't aligned with the block- it is still full page, and pours over (see screenshot). Is there a way to remedy this? I also am now wondering whether it limits what other streamfield blocks can be used on a page with an aside block...

![Image](https://user-images.githubusercontent.com/21171146/199720124-29729e58-b

[2022-11-03 12:44] gutermul commented on #9432
Got it. Works well, but will definitely require good documentation once it goes into the "How-to Wagtail" guide. Screenshot fwiw:

![Image](https://user-images.githubusercontent.com/21171146/199723081-96155c34-0f61-4d0f-a02f-110169818de3.png)

[2022-11-03 12:51] gutermul commented on #9432
The only outstanding thing, which I'll discuss with @cdanfon and champika, is whether given how this has ended up, on mopbile I think the stacking of the aside might make more sense below the "block with aside" content, mainly because otherwise there's no good way to label the section given that the title needs to be part of a paragraph above and is not part of the "block with aside" component.

!

[2022-11-03 14:00] tbrlpld opened #9615 "Document the use of emoji's on the banner page"
We use emoji's on the banner page in the sub navigation to signify the status of these pages (e.g. 🙈 - login restricted, 🐣 - draft). We should document these in the "How do I Wagtail" guide, because it leads to confusion for editors.

See https://mozilla.slack.com/archives/C98GW3P7X/p1667480230096119

[2022-11-03 16:42] gutermul commented on #9432
Confirming that we'd like the aside to go below the "block with aside" in the mobile view. I confirmed with Champika.

[2022-11-03 16:50] cdanfon commented on #9432
Hey @stevedya please see above comment from Lisa, can place the aside block underneath the 'block with aside' please? So basically it would stack here (see red rectangle):

<img width="170" alt="Screenshot 2022-11-03 at 16 49 03" src="https://user-images.githubusercontent.com/102978346/199783850-a0d85891-c3e8-4d86-9dc8-94224ba0e463.png">

[2022-11-03 17:44] beccaklam opened #9616 "[PNI] Finish setting up metrics"
Following up from #9515. Set up metric events once all tickets have been pushed to prod.
**Goals**
- [x] Set up events
   - [x] Featured article
   - [x] Related section to featured article
   - [x] Top “Related/Popular” block on product review, category, article index and article blog pages
   - [x] Bottom “What to read next” block on product review, category and article blog pages
   - [x] Newsl

[2022-11-03 17:44] beccaklam commented on #9515
Will carry forward setting up events in 9616

[2022-11-03 17:49] beccaklam opened #9617 "[PNI] Doing QA for PNI once all tickets land on production"
The design team will help with QA once all tickets for PNI have landed on production
- [x] Review PNI on production
- [x] Create tickets for any bugs
- [x] Prioritize bugs

[2022-11-03 18:57] marcwalsh commented on #9591
This looks great for the Meet the Community / Community Spotlight section. +1 to @kristinashu's comment about allowing for longer body content. I think we might be pushing the limits a little with some of the quotes we're hoping to include.

[2022-11-03 18:59] marcwalsh commented on #9535
Hey @tomusher @kristinashu just took a look at this in staging. This does seem great for what we need - just one flag is the image doesn't centre vertically when longer text is posted. This is an extreme example and I'll be cutting down the amount of text, but shows the issue:

<img width="1213" alt="Screenshot 2022-11-03 at 15 55 42" src="https://user-images.githubusercontent.com/30226684/1998107

[2022-11-03 21:07] stevedya commented on #9432
Hey @tbrlpld i've posted a PR to fix this remaining issue here: #9618 and its now ready for your review :)

[2022-11-03 21:10] kristinashu opened #9619 "`Image feature` block: Increase character count for the `Body` text field"
Follow on https://github.com/mozilla/foundation.mozilla.org/issues/9397 & https://github.com/mozilla/foundation.mozilla.org/issues/9591#issuecomment-1301507327 to work for Mozfest

Increase the character count for the `Body` text field to 400 characters (@marcwalsh can you please to confirm you are ok with 400? Keep in mind English should be shorter than this since some translations will make it m

[2022-11-03 21:13] kristinashu commented on #9591
I've opened the follow up ticket here https://github.com/mozilla/foundation.mozilla.org/issues/9619

[2022-11-04 13:59] tbrlpld opened #9620 "Refactor or rename utils function to retrieve categories for locale"

[2022-11-04 14:38] cdanfon commented on #7996
This ticket would need some grooming ahead of planning.

[2022-11-04 14:40] cdanfon commented on #9535
Closing this issue as complete, but opening a new ticket to address the image positioning as a separate job.

[2022-11-04 14:40] #9535 closed

[2022-11-04 14:43] cdanfon opened #9621 "Mozfest | Reposition image in the "image teaser" block"
Ticket open from the back of #9535

The image doesn't centre vertically when longer text is posted. Attached example:

<img width="1213" alt="Screenshot 2022-11-03 at 15 55 42" src="https://user-images.githubusercontent.com/30226684/199810722-61e52112-b122-4bec-9a08-1ced7da87705.png">

The goal of this ticket is to reposition the image to align with the content in the "image teaser" block.

[2022-11-04 14:47] cdanfon commented on #9621
Note: Depending on how much content the user includes there's a call to use a vertical image instead of a horizontal one. (Ie add helper text: if more than x characters use 'horizontal' image, if less than x characters use 'vertical' image)

[2022-11-04 14:50] cdanfon commented on #9591
Closing this as complete. Follow up ticket has been created _#9619_

[2022-11-04 14:50] #9591 closed

[2022-11-04 14:51] cdanfon commented on #9621
@tomusher Is this something that you could pick up as well next week please?

[2022-11-04 15:22] tbrlpld commented on #9432
@cdanfon This is now ready for test on staging.

[2022-11-04 15:46] kristinashu commented on #9561
Moved this to our upcoming sprint since this is In Progress. Assigned to TBX to facilitate.

[2022-11-04 15:49] kristinashu commented on #9410
Closing this as Won't Fix

[2022-11-04 15:49] #9410 closed

[2022-11-04 15:52] kristinashu commented on #9078
I believe this has been fixed. @mtdenton to confirm.

[2022-11-04 15:57] kristinashu commented on #8380
Closing since I opened a new ticket about this https://github.com/mozilla/foundation.mozilla.org/issues/9267

[2022-11-04 16:02] cdanfon commented on #9621
@marcwalsh @kristinashu 'cc

[2022-11-04 16:03] kristinashu commented on #7571
@mtdenton there is valuable info in this ticket but the original request is no longer needed. Is it ok close?

[2022-11-04 16:05] #9515 closed

[2022-11-04 16:07] kristinashu commented on #3638
Closing this as Won't Fix. Please submit this as a "New Wagtail issue" in slack if needed.

[2022-11-04 16:07] #3638 closed

[2022-11-04 16:08] #4227 closed

[2022-11-04 16:08] #4332 closed

[2022-11-04 16:09] #5085 closed

[2022-11-04 16:13] #5788 closed

[2022-11-04 16:24] kristinashu commented on #8696
Aside from the filter drop down (which is low priority) it seems to me like this ticket is complete. @nancyt1 @danielfmiranda could you please confirm and close the ticket if it is done? The page https://foundation.mozilla.org/en/blog/search/?q=privacy+not+included looks pretty amazing to me!

[2022-11-04 16:29] kristinashu commented on #8779
@danielfmiranda @nancyt1 it seems like all the tickets within this Epic are completed and the landing page is looking pretty amazing to me! Can you please confirm this is done and if so then close this ticket?

[2022-11-04 16:35] #5716 closed

[2022-11-04 16:36] #6295 closed

[2022-11-04 16:37] #7201 closed

[2022-11-04 16:38] #7205 closed

[2022-11-04 16:40] #7877 closed

[2022-11-04 16:40] #7998 closed

[2022-11-04 16:42] kristinashu commented on #8635
@beccaklam is this still happening? I'm going to close this ticket but please open a new one in https://github.com/MozillaFoundation/Design/issues if needed

[2022-11-04 16:43] kristinashu commented on #8634
Closing this ticket. If you feel it is still needed then please open a new one in https://github.com/mozilla/foundation.mozilla.org/issues/8635

[2022-11-04 16:43] #8634 closed

[2022-11-04 16:48] kristinashu commented on #8099
Closing this and opened a broader ticket https://github.com/MozillaFoundation/Design/issues/1104

[2022-11-04 16:48] #8099 closed

[2022-11-04 16:49] kristinashu commented on #8030
Closing this since there isn't much info in it. Please open in https://github.com/MozillaFoundation/Design/issues if needed.

[2022-11-04 16:49] #8030 closed

[2022-11-04 16:51] kristinashu commented on #8505
Going to close this but let's open a new ticket in https://github.com/MozillaFoundation/Design/issues closer to when this work will begin.

[2022-11-04 16:51] #8505 closed

[2022-11-04 18:18] beccaklam commented on #9613
It's going to affect updates to the page if we change any of the content though (for example, if we want to update any of the review content it's not going to let us publish unless we delete some news links). What looks weird with the layout?

[2022-11-04 18:49] beccaklam commented on #9608
@tbrlpld So I uploaded a 3.4MB photo (should be more than sufficient for the size of the author profile) but the resulting author profile is still pixelated?
<img width="1292" alt="image" src="https://user-images.githubusercontent.com/20977376/200052519-796604f5-c5f2-4d48-92f2-5223cf8bf9ee.png">
![IMG_CB85931994F6-1](https://user-images.githubusercontent.com/20977376/200052558-9a4fd4f2-8297-46cf-b

[2022-11-04 20:03] nancyt1 commented on #8696
There's a few small design details missing like:
- "Showing X results for" label
- swapping the search field font from nunito sans to zilla
- adding 1.5rem top padding to the page title
Is that small enough stuff to address here or could I open a ticket for blog QA after big work is done?

[2022-11-04 20:05] fessehaye opened #9622 "[PNI] Refactor PNI Category Call to Mixin"
[code]

This snippet is repeated a few times on the buyerguide page models. Suggestion is to move this to a BuyersGuideMixin that can be applied to all PNI Page models and add tests for this.

[2022-11-04 20:05] nancyt1 commented on #8779
Landing page looks complete to me!

[2022-11-04 20:30] #8779 closed

[2022-11-05 00:23] tbrlpld opened #9624 "[PNI] Content category links should link to filtered editorial content index"
We already display the content categories of articles as links, but these links go straight to the editorial content index page and don't apply any filtering.

![Screen Shot 2022-11-04 at 17.22.30.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/e84669e8-5eb2-43ef-814b-10ebc9ccd882)

Of course this is only possible after the content index filtering is created.

[2022-11-07 10:17] gutermul commented on #9432
super! signed off. thanks

[2022-11-07 10:18] gutermul commented on #9463
signed off, thanks

[2022-11-07 14:04] tomusher commented on #9619
This is ready for review with #9636

[2022-11-07 14:14] tomusher commented on #9621
@cdanfon Could you clarify your note? Should a vertical image be suggested used when there is long content, or short content? What character threshold? For reference there are 544 characters in the first paragraph of the attached screenshot.

[2022-11-07 14:37] cdanfon commented on #9621
Hi @tomusher thanks for checking.

@marcwalsh this issue has been created from the back of your comment [here](https://github.com/mozilla/foundation.mozilla.org/issues/9535#issuecomment-1302543299).

Could you confirm what the expected behaviour when using long text would be please?  Would it be something like in the below example?

<img width="988" alt="Screenshot 2022-11-07 at 14 30 24" src="htt

[2022-11-07 14:55] tbrlpld commented on #9613
@beccaklam I think the long space was the reason. But if you think this is not an issue with users if users disclose this we can add remove the limitation.

<img width="239" alt="Screen Shot 2022-11-07 at 06 53 26" src="https://user-images.githubusercontent.com/24797493/200340610-e162d638-8c12-46fa-b734-594f3d26dd4e.png">

<img width="381" alt="Screen Shot 2022-11-07 at 06 53 21" src="https://user

[2022-11-07 15:19] tbrlpld commented on #9608
Thanks @beccaklam Looks like we need to investigate this.

[2022-11-07 16:30] tbrlpld commented on #9607
@beccaklam @kristinashu Could you provide a screen grab? I am not able to reproduce this. I have tried iOS directly as well as small viewport on desktop Firefox and Chrome.

[2022-11-07 16:37] tbrlpld commented on #9607
What I do experience on iOS though is that the little "x" button does nothing unless the cursor if in the input field. Once that is the case it clears the field and removes the search filter.

[2022-11-07 16:57] kristinashu commented on #9607
[Here's a recording of the bug](https://www.loom.com/share/24334348aa2e4dbf9f0f9c5217febe07) on my desktop however in trying to get the recording the issue wasn't happening consistently. I did it several times and sometimes it would work as expected and sometimes I would see the bug. I don't think I'm doing anything differently each time!?

[2022-11-07 17:31] beccaklam opened #9637 "[PNI] SPIKE | Create metrics tracking for PNI newsletter signup"
The goal of this ticket is to see if we can track email sign ups from PNI. Design and engineering should work together on this to identify what the user flow is for this process and where we can insert the appropriate metrics tracking technology.

Note from @mtdenton: Implementation will be in a follow-up ticket

**Goals**
- [x] Identify accurate user flow
- [x] Brainstorm possible ideas

[2022-11-07 18:04] tbrlpld commented on #9607
Weird. Thnanks @kristinashu. I have tried several times but it's still not happening for me. Very odd 🤔

[2022-11-07 19:02] cdanfon commented on #9558
This is ready to be pushed to staging, but we're waiting to have a few more tickets in the same status to make the most of the push to staging instead of a push for a single ticket

[2022-11-07 19:03] cdanfon commented on #9557
Currently with Tibor for code review

[2022-11-07 19:10] cdanfon commented on #9527
@kristinashu Can you confirm if the copy is available for this please?

[2022-11-07 19:11] cdanfon commented on #9595
NB Once this ticket has been completed we can do a push to production

[2022-11-07 19:15] kristinashu commented on #9527
We still don't have copy for this yet but it should come this sprint.

[2022-11-07 19:20] cdanfon commented on #9624
This need to be re-checked once the functionality is in place

[2022-11-07 19:26] tbrlpld commented on #8621
@TheoChevalier Is this only this particular category or all Buyer's Guide Categories?

[2022-11-07 19:38] cdanfon commented on #9607
This is a stretch goal for Simon this sprint

[2022-11-08 14:53] TheoChevalier commented on #8621
It did happen with both the Mental Health Apps and Reproductive Health Apps categories, but I tried again today, and the issue is gone!
It probably got fixed along the way, I was able to finally translate these two and all their sub-categories.

So, we might be able to close this ticket?

[2022-11-08 15:03] cdanfon commented on #9505
@mtdenton this is ready to be picked up in the next sprint. Adding it to the queue by assigning it the next sprint label 'Sprint: Nov 21 - Dec 4, 2022'

[2022-11-08 16:50] tbrlpld commented on #8621
@TheoChevalier Yup, if you are not experiencing this issue anymore we can close it 👍

@cdanfon If we close this I might need other tickets for the sprint.

[2022-11-08 17:19] TheoChevalier opened #9640 "[PNI] Search form / order by drop down menu are truncated"
I noticed we have some truncations with some translations of the search placeholder and in the drop down menu.

### German
https://foundation.mofostaging.net/de/privacynotincluded/
<img width="467" alt="Capture d’écran 2022-11-08 à 18 07 47" src="https://user-images.githubusercontent.com/1294206/200630288-5e2bd092-db71-41db-8d5b-21604a0a9384.png">

### Spanish
https://foundation.mofostaging.net/

[2022-11-08 17:26] kristinashu commented on #9527
Note this is not a blocker for launch.

[2022-11-08 17:49] tbrlpld commented on #9522
@cdanfon @beccaklam Looks like this is ready for QA on staging.

[2022-11-08 18:24] kristinashu commented on #9613
Increasing this to a P1 since it is blocking content entry. Currently some products on prod have more than 7 items so staff won't be able to re-publish existing pages.

[2022-11-08 18:50] danielfmiranda opened #9642 "Sign up snippets not syncing across translations"
## Describe the bug
Signup snippet changes on mozfest pages are not being synchronized, even after clicking "sync translations".

**From Slack:**
The sign up snippet got removed from the updated English page https://www.mozillafestival.org/en/proposals/ in order to use the full width, but syncing translations doesn’t remove it from translated pages.

## Steps to reproduce

1. Visit https://www.moz

[2022-11-08 19:33] tbrlpld commented on #9613
Is this a prod release blocker or could the fix be pushed later on?

[2022-11-08 19:41] kristinashu commented on #9613
If it's a quick fix then it's a prod release blocker since, as is, it would make content entry difficult.

[2022-11-08 19:50] tbrlpld commented on #9613
@beccaklam @kristinashu I have added some AC. Can you sanity check them and update if necessary please? Thank you.

[2022-11-08 20:59] beccaklam commented on #9613
@tbrlpld took a look at the ACs and made some small edits. Let me know if the edits work for you! cc: @kristinashu

[2022-11-08 21:02] tbrlpld commented on #9613
Thanks @beccaklam, I am not sure what changed, but it looks like my implementation should fit that.

@danielfmiranda I have the PR ready for review if you have a moment 🙏

[2022-11-08 21:10] beccaklam commented on #9613
@tbrlpld Just wording! But nothing regarding the implementation 👍

[2022-11-08 21:15] mtdenton commented on #9640
Thanks @TheoChevalier . @kristinashu I don't know if we want any weigh-in from a design perspective but the obvious solution to me is to just make sure that the underlying white container fits the text regardless of length.

[2022-11-08 21:34] tbrlpld commented on #9642
I think it would be good to describe the expected behaviour in a bit more detail. Are no changes carrying over?

[2022-11-08 22:57] kristinashu commented on #9522
@beccaklam I don't think those are blockers for launch so could you please one a new ticket for those requests?

[2022-11-08 22:57] kristinashu commented on #9640
Yes, if that's possible then that sounds good. Ty!

[2022-11-08 23:09] tbrlpld commented on #9034
I agree, it would be very valuable to setup linting for Django templates. One option is: https://djlint.com/

If we find the above too much, at the very least we should make sure our templates are indented correctly. That could be achieved with https://github.com/rtts/djhtml

[2022-11-08 23:30] danielfmiranda commented on #8927
Support Duty 11/7/22 - 11/21/22:
- [ ] #9642
- [ ]

[2022-11-08 23:45] danielfmiranda opened #9645 "use_wide_template field not being synced across localizations"
### Describe the bug
Related Ticket: #9642

While working on the ticket above, I noticed that the `use_wide_template` field is not being synced across the different localized versions of mozfest pages.

For example, take this page titled "Call for Proposals". In the English version, we can see that the field `use_wide_template` is set to `True`.

![Screenshot 2022-11-08 at 15-38-07 Wagtail - Editi

[2022-11-09 00:55] kristinashu commented on #9523
I see this is on staging now! I had a quick look and it's looking really good except it doesn't seem to satisfy the ACs of:
- Clicking on a category on the homepage **brings a user to the Product Reviews page** (with the selected filter, when applicable)
- Submitting a search on the homepage brings a user to the Product Reviews page with the search results showing

[2022-11-09 06:44] Ankitchaudharyy commented on #9605
Can you assign this issue to me? I can work on this.

[2022-11-09 14:25] tbrlpld commented on #9613
@beccaklam @cdanfon This is ready for testing on staging.

[2022-11-09 14:32] tbrlpld commented on #9415
This is ready for testing on staging @TheoChevalier @cdanfon

To test that the synchronization works:
1. Login to the admin
2. Navigate to the edit view of the **french** version of the buyer's guide homepage.
3. Click the "translate this page" button.
4. Check the "french" locale tickbox and click the "submit" button.
1. Open the **french** version of the buyer's guide homepage: http://localhost:

[2022-11-09 14:35] tbrlpld opened #9647 "[PNI] Category nav pushes search bar off screen during load"
# Description

During load of the JS the categories are pushing the search bar of screen.

https://images.zenhubusercontent.com/76596293/6b5050a6-ff9d-451f-9558-1b540c09feac/screen_recording_2022_11_09_at_06_34_36.mov

This feels visually a bit disruptive.

When loading the page without JS, I can never reach the categories or search bar that are off screen.

# Expected behavior

* Search bar stays

[2022-11-09 14:42] tbrlpld opened #9648 "[PNI] Product cards are not visible without JS"

[2022-11-09 14:46] tbrlpld opened #9649 "[PNI] Newsletter signup broken without JS"

[2022-11-09 14:54] tbrlpld opened #9650 "[PNI] Inconsistent black link hover styles in hero section"
# Description

The hero section of the PNI homepage uses 4 different hover styles for links that use black text when not hovered.

The section in question:
![Screen Shot 2022-11-09 at 06.51.56.png](https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/8359c0e2-5dd0-4be5-b774-ec6cfdf7d8fe)

Menu link (blue with wavy blue underline, but the color of underline and text don't match):
![Screen

[2022-11-09 15:01] tbrlpld opened #9651 "[PNI] Large white space in "related" section on product page on mobile"
# Description

There are large amounts of white space in the related section of product pages.

This is probably a side effect of trying to accommodate long lists of news updates / "dive deeper". A fix would need to account for that case too.

https://foundation.mofostaging.net/en/privacynotincluded/threema/

<img src="https://images.zenhubusercontent.com/61e1e4f0d1fded7471402d12/cddbc242-7f0f-436

[2022-11-09 16:07] cdanfon commented on #9613
Hey @tbrlpld from now on anything that the design team has worked on will be tested by them.

[2022-11-09 16:39] tbrlpld commented on #9613
Ok, won't tag you on those anymore then.

[2022-11-09 17:43] kristinashu commented on #9527
via Jen "probably won't have copy until after Thanksgiving"

[2022-11-09 17:44] fessehaye commented on #9595
ready on staging @cdanfon

[2022-11-09 17:45] cdanfon commented on #9595
@kristinash assigning to you for testing!

[2022-11-09 17:46] fessehaye commented on #9557
ready on staging

[2022-11-09 17:47] fessehaye commented on #9526
ready on staging

[2022-11-09 17:48] fessehaye commented on #9558
ready on staging

[2022-11-09 17:50] fessehaye commented on #9554
ready on staging

[2022-11-09 17:52] kristinashu commented on #9595
@beccaklam could you please check, ty!

[2022-11-09 18:43] beccaklam opened #9652 "Update creepy face to show on page load and show introductory text"
Follow up ticket from #9522

**Description:** Can the creepy face show immediately on page load? Currently it only loads after the user scrolls for a bit (see screen recording below). We are also missing the face that says, "_Scroll to see how creepy people find these products!_".

https://user-images.githubusercontent.com/20977376/200679723-109afff1-a699-46a0-9785-3fbd900f961e.mov

<br></br>
Exam

[2022-11-09 18:43] beccaklam commented on #9522
Follow up ticket created for the above requests: #9652
Should I close this ticket then @kristinashu ?

[2022-11-09 19:19] tbrlpld commented on #9613
Thanks @beccaklam.

[2022-11-09 19:21] beccaklam commented on #9542
@fessehaye Hi Simon, thanks for working on this. I'm a bit confused about the placement of the related articles. The comp looks like this:
![image](https://user-images.githubusercontent.com/20977376/200921501-3f4d9265-c779-487d-b1fb-c17cbc7a6cf9.png)
But what I'm seeing on staging is this:
<img width="758" alt="Screenshot 2022-11-09 at 11 16 37 AM" src="https://user-images.githubusercontent.com/20

[2022-11-09 19:23] beccaklam commented on #9542
We also would need more spacing between the email CTA box and the "What to read next" section:
![image](https://user-images.githubusercontent.com/20977376/200922135-3040912f-0179-483c-a5fe-3628412afea0.png)

[2022-11-09 19:23] tbrlpld commented on #9613
@beccaklam If a ticket passes QA with no needed follow up you can move it forward to "ready for production". We'll close it when it is released.

[2022-11-09 19:41] beccaklam commented on #9523
I also get the same error where clicking the category nav doesn't bring me to the Product Reviews page but keeps me on the homepage still but with the new category selected? In case we're not being clear, that was the old expected behaviour but with the category nav moved up the expected behaviour is now that the user would be sent to the product reviews page.

https://user-images.githubuserconten

[2022-11-09 19:48] beccaklam commented on #9523
@fessehaye just added an AC that lays out what we talked about in the call with Kristina:
"To simulate the above AC (user is brought to the Product Reviews page): "Product Reviews" is highlighted, the selected (if applicable) category is highlighted and the editorial section is hidden"

[2022-11-09 19:51] beccaklam commented on #9613
Got it thanks!

[2022-11-09 19:56] beccaklam commented on #9554
This is fixed!

[2022-11-09 20:07] kristinashu commented on #9595
I've just check this and it looks good! I'll move this to the Ready for Production column

[2022-11-09 20:08] kristinashu commented on #9558
Looks good, thank you!

[2022-11-09 20:09] beccaklam commented on #9557
This is fixed! ✅

[2022-11-09 20:23] beccaklam opened #9653 "[PNI] Progressive Enhancement for missing product section"
Follow up ticket to: #9526

[Placeholder ticket so I don't forget] For when there is time, it would be great if when clicking "Try search", the user is brought to the area where search is with search activated. So, on desktop, search would maybe "pulse" and have a flashing cursor. On mobile, the purple search bar would already be opened.

┆Issue is synchronized with this [Jira Task](https://mozill

[2022-11-09 20:24] beccaklam commented on #9526
This is good to go! ✅ Created a follow up design ticket: #9653 just as a reminder to myself for some progressive enhancement.

[2022-11-09 20:33] beccaklam commented on #9536
This is good to go!

[2022-11-09 20:34] kristinashu commented on #9514
Looks like [this deck](https://docs.google.com/presentation/d/1j7jLEynNhMU0brurcOi8tW5OgHWfgZp7vOuG3awSVqo/edit#slide=id.p) has been added to the meeting invite so when you're ready you should move your selected slides over there!

[2022-11-09 21:07] beccaklam opened #9654 "[PNI QA] Space between "Product Reviews" title and product reviews grid too big on homepage and Product Reviews page"
I'm seeing a space between the "Product Reviews" title and the product reviews grid. Looks like it might be the space where the creep-o-meter face used to be but we no longer need it?
![Screenshot 2022-11-09 at 12.54.02 PM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/433610c7-ebf8-4e0e-8f3a-b8f49da66bcd)

[2022-11-09 21:10] beccaklam commented on #9528
Hey @fessehaye this is looking really good! The search bar is actually supposed to be flush against the dividing line but I think having the space there is okay, esp if we want to implement making the category nav sticky in the future. One thing though:
- [ ] The drop down nav font-size is .875rem which equals to 14px I think (is the base rem 16px?). It would be nice if this could be updated to ma

[2022-11-09 21:38] kristinashu commented on #9522
@beccaklam please check off the ACs that are done and move this to the "Ready for Prod" column and assign this back to Simon :)

[2022-11-09 21:53] beccaklam commented on #9522
@fessehaye One small thing, not a blocker so if it's hard to do let me know, but can the line-height for mobile be 1.75rem instead of 2rem. That's what it is in the comps but I didn't write it out in the ACs, sorry about that.

[2022-11-09 22:11] kristinashu commented on #9542
Note that this is not a prod push blocker since we can just not add the related articles until this is done.

[2022-11-09 22:30] kristinashu commented on #9523
Yay this is looking good to me!

[2022-11-09 22:37] beccaklam commented on #9523
This looks good to me too!

[2022-11-09 22:57] tbrlpld opened #9657 "[PNI] Delete `pni-2022` branch"

[2022-11-09 23:07] fessehaye commented on #9654
being resolved in #9577 closing since this is a dub

[2022-11-09 23:07] #9654 closed

[2022-11-09 23:12] fessehaye commented on #9550
Should be ready in staging in a few mins

[2022-11-09 23:27] kristinashu commented on #9550
This looks much better! Some design could be done to improve where the tag meets "Sort" but that should be a follow up!

<img width="969" alt="image" src="https://user-images.githubusercontent.com/1068783/200963660-f7746e74-94ec-47eb-912e-39d73617996e.png">

[2022-11-09 23:40] beccaklam opened #9659 "[PNI] Improve spacing between tags and "sort by" filter"
Follow up ticket from #9550:

<img width="969" alt="image" src="https://user-images.githubusercontent.com/1068783/200963660-f7746e74-94ec-47eb-912e-39d73617996e.png">

[2022-11-09 23:40] beccaklam commented on #9550
Agreed ☝️ ! Created a follow up ticket: #9659. This is good to go though.

[2022-11-10 00:26] #9513 closed

[2022-11-10 01:14] #9550 closed

[2022-11-10 01:14] #9523 closed

[2022-11-10 01:15] #9557 closed

[2022-11-10 01:15] #9595 closed

[2022-11-10 01:16] #9554 closed

[2022-11-10 01:18] #9613 closed

[2022-11-10 01:19] #9536 closed

[2022-11-10 01:20] #9526 closed

[2022-11-10 01:21] #9558 closed

[2022-11-10 01:26] kristinashu commented on #9652
Added this little tagline line-height adjustment mentioned in https://github.com/mozilla/foundation.mozilla.org/issues/9522#issuecomment-1309425116 to the ACs

[2022-11-10 01:26] kristinashu commented on #9522
@beccaklam adding the line-height issue to https://github.com/mozilla/foundation.mozilla.org/issues/9652 so that we can close this one :)

[2022-11-10 01:26] #9522 closed

[2022-11-10 01:29] kristinashu commented on #9528
@beccaklam please open a follow up ticket for the font size adjustment then close this one! Ty!

[2022-11-10 01:30] kristinashu commented on #9415
Sorry, I'm not familiar with this ticket but the fix should be live now. @TheoChevalier please confirm and then close this ticket, thank you!

[2022-11-10 01:33] kristinashu commented on #9287
This is live!!!

[2022-11-10 01:36] fessehaye commented on #9649
Lets just hide the component when JS is disabled. It is a react component so without server side rendering there is very little we can do to make this form work without JS

[2022-11-10 09:48] cdanfon commented on #9404
This is now in production

[2022-11-10 09:48] #9404 closed

[2022-11-10 09:49] cdanfon commented on #9401
This is now on prod. Closing as completed

[2022-11-10 09:49] #9401 closed

[2022-11-10 09:49] cdanfon commented on #9393
This is now on prod. Closing as completed

[2022-11-10 09:49] #9393 closed

[2022-11-10 09:49] cdanfon commented on #9400
This is now on prod. Closing as completed

[2022-11-10 09:49] #9400 closed

[2022-11-10 09:49] cdanfon commented on #9398
This is now on prod. Closing as completed

[2022-11-10 09:49] #9398 closed

[2022-11-10 09:49] cdanfon commented on #9399
This is now on prod. Closing as completed

[2022-11-10 09:49] #9399 closed

[2022-11-10 09:49] cdanfon commented on #9402
This is now on prod. Closing as completed

[2022-11-10 09:49] #9402 closed

[2022-11-10 09:50] cdanfon commented on #9397
This is now on prod. Closing as completed

[2022-11-10 09:50] cdanfon commented on #9396
This is now on prod. Closing as completed

[2022-11-10 09:50] #9396 closed

[2022-11-10 09:50] cdanfon commented on #9395
This is now on prod. Closing as completed

[2022-11-10 09:50] #9395 closed

[2022-11-10 09:50] cdanfon commented on #9403
This is now on prod. Closing as completed

[2022-11-10 09:50] #9403 closed

[2022-11-10 09:50] cdanfon commented on #9463
This is now on prod. Closing as completed

[2022-11-10 09:50] #9463 closed

[2022-11-10 09:50] cdanfon commented on #9432
This is now on prod. Closing as completed

[2022-11-10 09:50] #9432 closed

[2022-11-10 09:52] cdanfon commented on #9392
Hey @tbrlpld curious to know where we got to with this one, it was a nice to have for this project but would be good to get into on production if it's been addressed by Steve

[2022-11-10 14:29] tbrlpld commented on #9287
Yup. This can be closed.

[2022-11-10 14:29] #9287 closed

[2022-11-10 14:32] tbrlpld commented on #9649
There is no form on the services site that we could link to?

[2022-11-10 14:35] tbrlpld commented on #9649
We could also create a simple form page that handles the requests to the newsletter service sever side.

[2022-11-10 14:46] tbrlpld commented on #9392
@cdanfon I think this is basically done. We only need to update the branch with the latest changes from `main` and fix possible merge issues.

[2022-11-10 14:51] cdanfon commented on #9392
Thanks @tbrlpld can I leave this with you please?

Let me know if you have the capacity this sprint otherwise we can look into incorporating this into the upcoming one.

[2022-11-10 14:53] tbrlpld commented on #9392
@cdanfon Yea, you can assign to me. Can you make sure this shows on the Zenhub board too?

[2022-11-10 14:54] cdanfon commented on #9392
Sorted, I've given it a '1' as an estimate - feel free to update it if you think it's not right :)

[2022-11-10 15:07] TheoChevalier commented on #9415
Confirming this bug is now fixed, thanks everyone!

[2022-11-10 15:07] #9415 closed

[2022-11-10 17:36] marcwalsh commented on #8013
Hi @tbrlpld - yes that's correct - it should always add them to the MozFest list. Also I can confirm now that we're launching Early Bird tickets w/c December 6th.

[2022-11-10 17:37] marcwalsh commented on #9621
Thanks @cdanfon - I think I'd like to loop in @kristinashu on this one, as it's more of a design preference.

Ideally for me it would either sit centre of or at the top of the paragraph text, leaving the title to stand alone.

[2022-11-10 17:51] beccaklam opened #9664 "Fix positionig of Related Articles on Article Pages"
Follow up ticket from #9542:

Currently related articles look like:
<img width="758" alt="Screenshot 2022-11-09 at 11 16 37 AM" src="https://user-images.githubusercontent.com/20977376/200921555-095068e2-6626-4982-b58d-45a817b30ec8.png">

But should look like this:
![image](https://user-images.githubusercontent.com/20977376/200921501-3f4d9265-c779-487d-b1fb-c17cbc7a6cf9.png)

**Context:**
There was

[2022-11-10 17:51] beccaklam commented on #9542
Follow up ticket in #9664. Closing this ticket!

[2022-11-10 17:51] #9542 closed

[2022-11-10 17:52] tbrlpld opened #9665 "Set up `django-pattern-library` for easier template development"
# Description

This allows us to decouple the development of frontend and backend. It supports us in keeping the templates structured and organized. It also serves as a library of existing template components, which should improve the reuse of templates.

Also:

— [Brad Frost, Atomic Design](https://atomicdesign.bradfrost.com/chapter-3/)

# Acceptance criteria

- [ ] Django pattern library is inst

[2022-11-10 17:54] beccaklam opened #9666 "[PNI] Fix font size of drop down menu"
Follow up ticket from #9528

The drop down nav font-size is .875rem which equals to 14px I think (is the base rem 16px?). This should be updated to match the rest of the category nav font size which is 16px. Right now there is a slight difference between the two which looks a little odd.

![Screenshot 2022-11-10 at 9.53.44 AM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/b4c00

[2022-11-10 17:55] #9528 closed

[2022-11-10 18:02] tbrlpld opened #9667 "Sort Python imports consistently with `isort`"
# Description

Without a defined sort order it can be hard to see which objects are already imported.
Defining a sort order and checking that code adheres to it manually is pretty laborious.
A linter can check the import sorting and a formatter can do the sorting for us.
`isort` combines both.

# Dev tasks

- [x] `isort` is installed and configured for the project
- [x] There is an `inv` command t

[2022-11-10 18:05] beccaklam commented on #9514
This is done! Nancy added the slides and we presented this morning at the retro :)

[2022-11-10 18:05] #9514 closed

[2022-11-10 19:34] fessehaye commented on #9649
Ahh I see so you would like an offline form as a replacement, that is fair. That would take a bit longer of course so I will at least hide the content for now since this is a quick fix and will make the page look less broken. I think if we did that I would like to look into doing that for our other newsletter related components as well!

[2022-11-10 19:51] beccaklam opened #9669 "[PNI] Remove blue selected colour for main menu"
Currently the selected state of PNI's main menu has a blue colour with a blue underline. It should be black with a blue  underline.

Current:
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/33db4aa8-678d-4a71-b8f0-d95d04a4b1bf)

Should be (from comps):
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/5c0bb226-51aa-48af-af64-bc205076455d)

**Acce

[2022-11-10 20:03] fessehaye commented on #9607
Hey! I have got this once in like 15 attempts and even then there weren't any errors on the console that gave it away. There is not really enough for me to make a fix on this problem so maybe this should be removed from the sprint or given lower priority? @cdanfon @beccaklam

[2022-11-10 20:59] tbrlpld commented on #9649
Yea, that makes sense. Maybe we create a separate ticket for that since the description might need some more info. We can keep this as a bug fix ticket and create the other one as a product improvement / feature ticket.

[2022-11-10 21:28] beccaklam commented on #9607
@fessehaye @cdanfon That's fine with me!

[2022-11-11 15:35] tbrlpld opened #9672 "Format Python code with the `black` formatter"
# Description

Reading inconsistently formatted code requires more mental energy and can even be confusing.
Formatting code consistently can be laborious.
Checking code formatting manually is even worse.
Discussions about code formatting are a time sink.

Linter can check formatting rules and formatters can format code automatically.
`black` is an opinionated, PEP8 compliant code formatter and lin

[2022-11-11 16:20] tbrlpld opened #9673 "Don't format code in CI"
# Description

It is currently possible to pass CI with code that needs to be formatted.
This can lead to files being formatted when testing locally that you have not touched which is really confusing.

The above happens because in CI we run `npm test` and some of the `test:*` commands use the `prettier` flag [`--write`](https://prettier.io/docs/en/cli.html#--write).
With this flag, the issue `pre

[2022-11-11 16:55] tbrlpld commented on #9215
@mtdenton Just wanted to raise awareness of this one, now that the PNI integration branch has been merged.

[2022-11-11 16:57] tbrlpld commented on #8534
Looks like `wagtail-inventory` is not a blocker anymore since it has been updated on supports Wagtail up to version 4.1 now: https://github.com/cfpb/wagtail-inventory/releases/tag/1.6

[2022-11-11 17:05] cdanfon commented on #8534
Fantastic news thanks @tbrlpld

So, I assume next steps are:

2.2) Changes to module paths | Removal of special-purpose field panel types | Use use_json_field argument for StreamField | Update wagtail-localize-git to 0.13.0

testing & deployment ?

[2022-11-11 17:11] tbrlpld opened #9674 "Upgrade Wagtail to 3.0"
## Description

Goal of this ticket is to upgrade Wagtail to version 3.0. This ticket is a follow up to the Spike #8534.

Before we can upgrade Wagtail, we need to address the following tickets:

- [x] Upgrade `wagtail-localize-git` to 0.13 (#9675)
- [x] Upgrade `wagtail-inventory` to 1.6 (#9676)
- [x] Remove Airtable integration (#9147)

During upgrade we need to address the following:

- Changes

[2022-11-11 17:25] tbrlpld opened #9675 "Upgrade `wagtail-localize-git` to 0.13."
## Description

To unblock upgrade of Wagtail to version 3.0 (#9674) we need to upgrade `wagtail-localize-git` to version 0.13.0.

See also: https://github.com/wagtail/wagtail-localize-git/releases/tag/v.0.13.0

## Acceptance criteria

- [x] `wagtail-localize-git` is upgraded to version 0.13.0

[2022-11-11 17:29] tbrlpld opened #9676 "Upgrade `wagtail-inventory` to 1.6"
## Description

To unblock the upgrade of Wagtail to version 3.0 we need to upgrade `wagtail-inventory` to version 1.6.

See also: https://github.com/cfpb/wagtail-inventory/releases/tag/1.6

## Acceptance criteria

- [x] `wagtail-inventory` is upgraded to version 1.6

[2022-11-11 17:34] tbrlpld commented on #8534
@cdanfon I have created #9674 as the follow up ticket to this spike.

Can you double check that the ACs are fulfilled? If so, I think we can close this spike.

[2022-11-11 17:36] cdanfon commented on #8534
Yes Tibor! This makes me so happy! Almost there with Wagtail 3.0 👯

[2022-11-11 17:36] #8534 closed

[2022-11-11 17:38] tbrlpld commented on #9509
@mtdenton Is this ticket not groomed enough?

[2022-11-14 10:41] cdanfon commented on #9621
Thanks @marcwalsh

I'm going to adjust the requirement for this ticket with the following:

1. Image to be in line with the top of the paragraph text (leaving title to stand-alone)
2. Add helper text for editors: If using more than 540 characters using a vertical image is recommended.

@kristinashu shout if any issues please

@tomusher FYI

[2022-11-14 16:29] kristinashu commented on #9621
My preference would be the center align all the text (and button) with the image.

I worry that aligning the top of the paragraph with the text looks a little broken for the Data Futures Lab scenario. Screen cap of how it would look:

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/1068783/201711630-ddfee249-6ef0-47bd-baa8-d343e181562e.png">

I believe images get auto-

[2022-11-14 16:38] tbrlpld opened #9690 "Implement a more conventional Docker setup"
## Description

We are currently using Docker in a fairly unconventional way. I have tried to write out steps we should take and what end state we might want, but trying to formulate the acceptance criteria only uncovered more questions.

I think we should therefore do a spike to investigate why our setup is the way it is and and what potential improvements could look like (and also make it look m

[2022-11-14 16:38] kristinashu opened #9691 "[PNI] Category order in drop down should reflect desired order"
**Context:**
Jen updated the order of the categories in the CMS. The order is properly reflected in the main nav however the order is reversed in the drop down menu.

**Acceptance Criteria:**
- [ ] As an editor I can manually define a sort order in the back end for categories
- [ ] As a site visitor I can see the manually defined category order in the dropdown (more categories) nav menu

Screen ca

[2022-11-14 16:47] mtdenton commented on #9691
Looking to negotiate this into our current sprint, removing the label for now.

[2022-11-14 16:55] mtdenton commented on #9392
@tbrlpld @cdanfon @kristinashu  I'd like to propose that we shelf this for now in lieu of #9691 . Based on the estimate for 9691, we may have to shelf others, but it's a priority bugfix needed ASAP.

[2022-11-14 17:31] cdanfon commented on #9652
@kristinashu One for QA please

[2022-11-14 17:40] kristinashu commented on #9652
@cdanfon I don't think this is on staging yet - it's just ready for staging.

[2022-11-14 18:14] nancyt1 commented on #9512
Looks like all the articles from the spreadsheet have been added!

[2022-11-14 18:24] cdanfon commented on #9559
Hey @beccaklam could you provide more info please?:

- What page are you on when experiencing this?
- Could you please explain where the CTA box should go when there are only a few items?

Is it possible to make a video please? :)

[2022-11-14 18:24] cdanfon commented on #9559
Needs grooming

[2022-11-14 18:36] #9433 closed

[2022-11-14 18:38] tbrlpld commented on #8224
@danielfmiranda Has this been QAed yet? If not, can you assign the responsible person? Should be Claudia or the designer who requested the work.

[2022-11-14 22:23] nancyt1 opened #9693 "[PNI QA] Search on about and article pages not working"
### Describe the bug
Search not working on article, article index, and about pages. Could be related to ticket #9553

**Steps to reproduce the behavior:**
1. Go to [Articles](https://foundation.mozilla.org/en/privacynotincluded/articles/) or [About](https://foundation.mozilla.org/en/privacynotincluded/about/why/)
2. Click and type in search bar
4. See error (which is nothing happening)

<img width

[2022-11-14 22:35] beccaklam opened #9694 "[PNI QA] Empty speech bubbles on category pages (chrome only)"
The speech bubble for the creepy face appears empty on category pages. This bug seems to only appear on chrome mobile (tested on iOS).
https://images.zenhubusercontent.com/76596293/889109d7-6999-407e-ae83-38362dff2dcf/screen_recording_2022_11_14_at_1_57_13_pm.mov

[2022-11-14 22:39] beccaklam opened #9695 "[PNI QA] Editorial section shown for too long before hiding for search results (all browsers)"
When you go to search for something from a page other than the home page (i.e. about page or article page), after you enter your search query the editorial section of the homepage shows for quite a while before being hidden. Is there a way for the search results appear more seamlessly?

https://images.zenhubusercontent.com/76596293/21fc4cdf-c3bb-482e-ba42-63f51fb24960/screen_recording_2022_11_14_a