[2021-10-25 21:50] #7691 closed, assigned to Pomax

[2021-10-25 22:12] beccaklam opened #7696 "Finalize YouTube Regrets Extension Landing Page Design"
Finalize the design for the new YouTube Regrets Reporter extension
- [x] Mock up single mobile button
- [x] Mock up dark mode
- [x] Make 'pixel perfect'?

[2021-10-25 22:14] beccaklam opened #7697 "Finish up design for new "header" page type"
- [ ] Finalize designs for new header page type based on the YouTube Regrets Reporter extension landing page

[2021-10-25 22:40] #7692 closed, assigned to Pomax

[2021-10-25 23:54] #7693 closed, assigned to danielfmiranda

[2021-10-26 00:08] #7579 closed, assigned to danielfmiranda

[2021-10-26 17:26] benhohner opened #7699 "Get GrassRiots access to our logs"

[2021-10-26 18:48] danielfmiranda opened #7700 "[PNI CMS QA] - Update "tips to protect yourself" to use UL element."
At the moment, the new "tips-to-protect" yourself field is a rich text field, that then adds a bullet for every new <p> element that is rendered after newlines.

We want to update this to instead allow the user to use the UL element in the tool bar. That way users can select the list element, and copy/paste every item from the product google doc as a bullet itself.

[2021-10-26 19:10] kristinashu opened #7701 "[PNI] Update copy on About pages: Part 1"
- [x] Update copy on https://foundation.mozilla.org/privacynotincluded/about/methodology/ with the copy in [this doc](https://docs.google.com/document/d/1vwjaYlKCa9XJMPcFhqDJJzrI6iqg3B_oel21qwD4TWI/edit#)
- [x] Remove https://foundation.mozilla.org/privacynotincluded/about/meets-minimum-security-standards/
- [x] Redirect https://foundation.mozilla.org/privacynotincluded/about/meets-minimum-securit

[2021-10-26 19:25] benhohner opened #7702 "Enable End of Year Fundraising top banner"
* [ ] Dig up code from previous popup
* [ ] Convert to top anchored, collapsible, site-wide banner, similar to Wikipedia's

[2021-10-26 20:50] sabrinang opened #7703 "[PNI QA] Product Page — alignment, formatting & dividers"
### Desktop

- [x] add more spacing above the category label
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/2492510/138958592-1fdbe9c2-c658-4277-a239-c9d8acfdb52b.png">

### Mobile
There are a few discrepancies on mobile:
- [x] Ding alignment
<img width="300" alt="image" src="https://user-images.githubusercontent.com/2492510/138957968-ab9a92ab-f717-4b83-83a5-ddd246c4c

[2021-10-26 21:21] #7621 closed, assigned to Pomax, danielfmiranda

[2021-10-27 01:45] #7674 closed, assigned to TheoChevalier

[2021-10-27 10:11] #7671 closed, assigned to TheoChevalier

[2021-10-27 17:35] #7700 closed, assigned to danielfmiranda

[2021-10-27 18:55] #7640 closed, assigned to Pomax, richbrennan

[2021-10-27 19:06] Pomax opened #7708 "[PNI] Search (followup) - remember which category the user was on, to restore on search-clearing"
- be on a category
- start searching
  - category changes to all
- delete search or use clear
  - "all" stays selected rather than going back to the category the URL suggests the user is on.

Let's have the code remember which category was in effect when the user started searching, so we can "reselect" it on search clear.

[2021-10-28 17:12] #7618 closed, assigned to kristinashu, benhohner

[2021-10-28 17:55] Pomax opened #7711 "Replace Cypress with Playwright"
The combination of docker and cypress has led to a situation where we can run cypress in CI context, where node and python run side by side, but not easy in local dev context, where different docker containers run node and python codebases. We need to rewrite how the cypress tasks work for local testing so that they fire up the correct Docker containers for us to do visual/integration testing with

[2021-10-28 18:54] #7620 closed, assigned to fessehaye

[2021-10-28 21:48] Pomax opened #7714 "Clean up tw-text-[...] classes"
The new mozfest work uses `tw-text-[...]` in a few places, with explicit font sizes rather than using one of our styleguide classes for text sizing, so we should probably look at how many there are, and what we can turn those into to make sure it's all styleguide conformant.

[2021-10-29 16:03] TheoChevalier opened #7715 "[PNI l10n QA] Localize warning icon alt text"
Looks like some occurrences got missed

[2021-10-29 16:24] kristinashu opened #7717 "Always show the main nav on blog posts"
Implementing part of https://github.com/mozilla/foundation.mozilla.org/issues/2989

Update the blog page type to always show the main nav instead of the Zen mode version
- [ ] Main nav appears on all blog posts

[2021-10-29 20:00] #7141 closed

[2021-11-01 16:26] richbrennan commented on #6934
New pull request: https://github.com/mozilla/foundation.mozilla.org/pull/7660

[2021-11-01 16:56] benhohner commented on #7350
@danielfmiranda as discussed in stand, let's pull the first characters from the first paragraph if the meta description field is not filled in.
https://moz.com/learn/seo/meta-description (char lengths here)

[2021-11-01 20:07] sabrinang commented on #7663
Reviewing and support:
- https://github.com/mozilla/foundation.mozilla.org/pull/7712

[2021-11-01 20:11] Pomax opened #7730 "Investigate what to do with our wagtail_airtable integration for PNI"
In order to allow data entry for the latest PNI iteration we had to disable Airtable integration for PNI products - we should look into whether we want to enable it again in the future, and what would be required to do so cleanly.

[2021-11-01 21:50] benhohner opened #7732 "RSS Feed Displaying <a class="fragment-id"></a> in body text"
### Describe the bug
The Slack RSS feed is rendering `<a class="fragment-id"></a>` into the post summary.
Seems to be stripping other html from the post summary, but not this string.

### To Reproduce
1. Create a new Wagtail blog post with a rich text field and a fragment identifier in the first paragraph
2. Publish page
3. RSS renders properly in #mofo-website-new-blogs except for `<a class="frag

[2021-11-01 21:53] sabrinang commented on #7466
@wilhitem Do you approximately know when the figma files will get added to our team account? It'd be great to get edit access to them

[2021-11-02 15:00] jzinner opened #7734 "heroku3 version bump for API depreciations"
Email from Heroku :

[Action Required] Required Parameter for Domain Create Heroku API endpoint starting November 1, 2021
9 messages
'Ethan Limchayseng' via accounts <accounts@mozillafoundation.org>	Wed, Oct 27, 2021 at 5:16 PM
Reply-To: Ethan Limchayseng <elimchayseng@salesforce.com>
To: Ethan Limchayseng <elimchayseng@salesforce.com>
Bcc: accounts@mozillafoundation.org

Hi there,

My name is Eth

[2021-11-02 15:00] jzinner commented on #7734
[code]
Jen Cohoon <jenc@mozillafoundation.org>	Fri, Oct 29, 2021 at 1:16 PM
To: Ethan Limchayseng <elimchayseng@salesforce.com>
Hey Ethan,

I found the github issue associated with this depreciation: https://github.com/martyzz1/heroku3.py/pull/112#pullrequestreview-793325532

But a new heroku3 package has not been cut for PyPi which means everyone using heroku3 (which will be many many people) wil

[2021-11-02 15:05] jzinner commented on #7734
A new heroku3 package, version heroku3 5.1.4, was created Monday Nov 1 at: https://pypi.org/project/heroku3/

[2021-11-02 16:40] Pomax opened #7735 "Pages have two `<title>` elements"
view-source:https://foundation.mozilla.org/en/ shows that we have two `<title>` elements, one up top, and one halfway down the `<head>` element.

[2021-11-02 16:44] Pomax opened #7736 "Update the robots.txt route to generate "don't index anything" for the staging domain"
https://foundation.mofostaging.net/robots.txt current says this:
[code]
When instead it should be saying this:
[code]

[2021-11-02 16:48] #7715 closed

[2021-11-02 17:07] #7734 closed

[2021-11-02 17:07] #7623 closed

[2021-11-02 17:23] kristinashu commented on #7622
Done!

[2021-11-02 17:23] #7622 closed

[2021-11-02 17:25] kristinashu commented on #7701
Methodology is need for soft launch but others can wait.

Our MSS can be removed.

Why and How to use won't be ready until later.

[2021-11-02 17:31] TheoChevalier opened #7739 "Upgrade wagtail-localize to 1.0 release"
After 4 RCs, wagtail-localize 1.0 got released today: https://github.com/wagtail/wagtail-localize/releases/tag/v1.0.0

This is addressing https://github.com/wagtail/wagtail-localize/issues/448, so let’s update :)

[2021-11-02 17:38] richbrennan commented on #7571
The title/heading logic is contained in the `primary_heroguts.html` template. This is used by the following pages:

- Banner Page (BanneredCampaignPage model): bannered_campaign_page.html
- MozFest Homepage: mozfest_homepage.html
- Other MozFest pages: mozfest-base.html

- Homepage: homepage.html

- Primary Page: primary_page.html

[2021-11-02 20:49] Pomax opened #7746 "[PNI] QA - subcategories can disappear during back/forward navigation"
Steps to reproduce the behavior:

1. go to https://foundation-pni-q3-2021.herokuapp.com/en/privacynotincluded/categories/toys-games/
2. click on "gaming consoles" subcategory
3. use the browser back button, subcategory is there, just unselected
4. use the browser forward button, the subcategory will have suddenly disappeared.

[2021-11-02 20:58] jzinner opened #7747 "heroku3 version bump for API depreciations [Dependabot]"
Email to accounts Wed, Oct 27, 2021 at 5:16 PM

**[Action Required] Required Parameter for Domain Create Heroku API endpoint starting November 1, 2021**
9 messages

Hi there,

My name is Ethan and I'm a Product Manager for Heroku/Salesforce.
I'm reaching out to give you a heads up about a change to a Heroku Platform API attribute that took place in October of last year. See the original changelog

[2021-11-02 21:01] danielfmiranda opened #7748 "[PNI] QA - "privacy not included" checkbox disspears on small breakpoint"
Beyond the small breakpoint, we are able to see the "privacy not included" checkbox:
![image](https://user-images.githubusercontent.com/18314510/139950938-28e61418-a282-4c86-9bf3-d30c3e7534ed.png)

However, below the small breakpoint the checkbox seems to disappear:
![image](https://user-images.githubusercontent.com/18314510/139951004-30aaabfd-7683-46b6-8b84-1288475829c7.png)

[2021-11-02 21:06] jzinner commented on #7747
Fri, Oct 29, 2021 at 11:52 AM

Hi Ethan,

Thank you for sending this email, the 442's would have come as a surprise with the on Nov 1.

You list the CLI version that corresponds to having the proper parameter. Do you know which heroku API version supports the sni_endpoint parameter?

Thank you,
Jen C.
SRE at Mozilla Foundation

----

Fri, Oct 29, 2021 at 12:31 PM

Hi Jen!
No problem.

  As for you

[2021-11-02 21:07] jzinner commented on #7747
A new heroku3 package, version heroku3 5.1.4, was created Monday Nov 1 at: https://pypi.org/project
/heroku3/

[2021-11-02 21:07] #7747 closed

[2021-11-02 21:21] kristinashu opened #7749 "[PNI] Update copy on About pages: Part 2 - Deadline EOD Mon Nov 15"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/7701

- [x] Update https://foundation.mozilla.org/privacynotincluded/about/why/ with this ([copy](https://docs.google.com/document/d/1piZASfmYtL0TNaysIbonwLBYgcedBkJMpkHwLLAOH5M/edit))
- [x] Update https://foundation.mozilla.org/privacynotincluded/about/press/ with this ([copy](https://docs.google.com/document/d/1RPUdGpB6BrdLy

[2021-11-02 22:24] #7739 closed

[2021-11-02 22:52] sabrinang commented on #7746
@Pomax What you mention happens on Chrome. When I was testing on Firefox, when you click the browser back button the heading/sub category stays the same but the URL changes only. If you go forward it still remains as the URL changes.

[2021-11-02 22:58] sabrinang opened #7751 "[PNI] QA - "privacy not included" checkbox not functioning in firefox"
On Firefox browsers, the checkbox doesn't filter:
![330GMvN97G](https://user-images.githubusercontent.com/2492510/139963135-f5ad7ffb-c799-4717-8838-faa04f97ffd8.gif)

However, it works on Chrome/Safari.

[2021-11-02 23:33] kristinashu commented on #7614
Please also include
- [ ] Remove Price field from CMS

[2021-11-02 23:47] kristinashu commented on #7614
Sorry, also please update the help text on Mozilla Says
- [ ] Use 'Yes' for Thumbs Up, 'No' for Thumbs Down, and 'Unknown' for Thumb Sideway

[2021-11-03 02:48] danielfmiranda opened #7755 "[PNI] - product_criterion.html should sense whether or not its using rich text"
Instead of sending a "rich_text_value" or "rich_helptext" flag, the product_criterion.html template should be able to determine whether or not its richtext.

That way we dont need to worry about hardcoding it through the template and add fields/update fields as we would like.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/TP1-251)

[2021-11-03 02:53] danielfmiranda opened #7756 "[PNI] - Create new set of options for rich text fields"
In products.py, there are a number of rich text fields in which we only give the following options:
` features=['bold', 'italic', 'link']`
instead of defining these for every new field we want to make rich text, lets make this a constant so all we need to do is call on this list, and have all rich text fields have a unified list of options.

[2021-11-03 02:59] danielfmiranda opened #7757 "[PNI] - Investigate "|extended_yes_no" flag"
In "product_page.html" we are sending a number of items with a "|extended_yes_no" flag.

If you take a look at the file "bg_selector_tags.py", you will see that this is used to return a human readable string from the extended yes no choices.

However, "product_criterion.html" the template we are sending these values to, is actually expecting one of the 4 original choices (CD/NA/YES/NO).

We should

[2021-11-03 04:21] Pomax commented on #7757
No? `extended_yes_no` works with four values, in https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/templatetags/bg_selector_tags.py#L28-L39:

[code]

[2021-11-03 06:03] Pomax opened #7760 "releases take *forever*, let's figure out why"
I have no idea what heroku's doing, but releases seem to take _forever_ to finish, so let's figure out what's causing that. Making `release-steps.sh` show output would probably be a solid first step.

[2021-11-03 06:05] Pomax commented on #7760
Looking at the output
[code]
the migrations seem to finish fash enough, so it's possible that block_inventory with tens of thousands of pages is just intractibly slow.

[2021-11-03 12:42] TheoChevalier opened #7762 "[PNI QA] Remove titlecase from translated category names"
We’re applying English title case to translations, we should remove this

<img width="667" alt="Capture d’écran 2021-11-03 à 13 40 28" src="https://user-images.githubusercontent.com/1294206/140061703-7cebc4e3-886b-4739-bfd3-06890baa1e57.png">

[2021-11-03 15:14] Pomax commented on #7760
Yeeeeah okay so block_inventory is a very strong candidate:

https://user-images.githubusercontent.com/177243/140088365-174a1ea3-58c0-4232-ada0-15d7d0f137f2.mp4

[2021-11-03 15:22] kristinashu opened #7765 "Add Button block to Article pages"
Currently Articles pages don't have the option to add a button but we would like it to.
- [x] Add Button block to Article pages
- [ ] Ping Jon to let him know when this is done

[2021-11-03 15:31] kristinashu commented on #7751
@sabrinang I checked this when you opened the ticket and I was also seeing this same issue. But I think Pomax just fixed a cashing issue and this seems to be working for me now (if I clear my cache). Can you please double check?

[2021-11-03 15:48] kristinashu commented on #7751
via Pomax: indeed, but fixing it for FF then broke something for Chrome so this last prod push should sort that all out

[2021-11-03 15:49] #7760 closed

[2021-11-03 15:52] Pomax commented on #7757
ohh wait I think I misread you. Are you saying we're forwarding the uninterpreted value? Because if so, wherever that value gets displayed (not used for template purposes) that's where it should get `|extended_yes_no`'d

[2021-11-03 17:07] fessehaye opened #7768 "PNI - add animations for categories and products"
Animations related to the product search page. Including navigating the category header and the transitions for hiding and showing products.

[2021-11-03 19:48] sabrinang commented on #7663
Reviewing and support:
- https://github.com/mozilla/foundation.mozilla.org/pull/7761

[2021-11-03 23:23] #7765 closed

[2021-11-04 00:50] kristinashu opened #7770 "[PNI QA] Add and fix mini-dings in tab section"
Note this is not a critical bug and can be done next sprint.

Checking the Mini-ding within any of the tab sections shows the ding in the tab but not within the tab.

### Todo
- [x] Show mini-ding next to each individual criteria when the related check-box is selected in the CMS
- [x] Ding in the tabs should always appear to the right of the title

### Screen cap from prod
<img width="854" alt="Sc

[2021-11-04 07:24] sabrinang commented on #7663
Review
- https://github.com/mozilla/foundation.mozilla.org/pull/7769

[2021-11-04 15:49] #7690 closed

[2021-11-04 16:31] TheoChevalier opened #7771 "Can’t translate/sync petition & banner pages"
Translating/Syncing translations for Banner pages crashes.

Example with [this page](https://foundation.mozilla.org/cms/pages/1935/): https://foundation.mozilla.org/cms/localize/update/122/

[code]

Wagtail is complaining about `wagtailpages.CTA` not being translatable, but after @Pomax ’s investigation, it seems if  we do make it localizable, wagtail-localize is not happy about class inheritance.

[2021-11-04 17:10] Pomax opened #7772 "[PNI] subcategories - you can save new categories with the same name as old ones"
This will cause a slug resolution conflict, so we should make sure that when people try to save a new category it checks to see if that name isn't already taken.

[2021-11-04 17:37] Pomax opened #7775 "[PNI] QA - product categories may be null, which can break the product_in_category check"
The "product in category?" check runs a `[cat.category.slug for cat in productpage.product_categories.all()]` check, which will beak if there are `null` entries in `productpage.product_categories.all()` because it will effectively try to resolve `None.slug`.

[2021-11-04 18:15] richbrennan commented on #7625
Pull request https://github.com/mozilla/foundation.mozilla.org/pull/7773

[2021-11-04 18:48] beccaklam commented on #7575
First draft of the home base is [here](https://foundation.mozilla.org/en/youtube/)!

[2021-11-04 19:26] #7775 closed

[2021-11-04 19:57] #7736 closed

[2021-11-04 20:37] nancyt1 commented on #7768
Here are 2 examples related to page load when you first land or trigger something to refresh, it loads in one row at a time or from top left to bottom right:
[https://dribbble.com/shots/16645599-Justuno-is-Live](https://dribbble.com/shots/16645599-Justuno-is-Live)
[https://codepen.io/tjroberts086/pen/mngxF](https://codepen.io/tjroberts086/pen/mngxF)

[2021-11-04 21:17] benhohner opened #7778 "RSS feed description should output meta description instead of encoded html"
Currently the RSS feed outputs encoded page html instead of the page's meta description.
The RSS feed description fields should be the corresponding article's meta description.

See: https://foundation.mozilla.org/en/blog/rss/

The meta description behaviour should follow the existing meta description behaviour (if Meta Description is filled in on the promote tab, display that, otherwise display t

[2021-11-04 21:17] sabrinang opened #7779 "[PNI Website] Design support & reviews for dev work cont. V"
Continuing support and reviews from #7663

- support and review PRs for devs
- QA website for soft launch
- request staff to QA

[2021-11-04 21:22] benhohner opened #7780 "Pages have two `<link rel="canonical">` elements"
In the head section. There should be only one. Perhaps one is auto generated by wagtail-localize?

[2021-11-04 21:24] #7732 closed

[2021-11-04 21:30] sabrinang opened #7781 "[MozFest] Design support and review cont. IV"
Continuation of #7665

- Website PR design review support for MozFest 2021 TBX Milestone: https://github.com/mozilla/foundation.mozilla.org/milestone/77
- TiTo PR review for 15th-16th
- Possibly sync with Lucie and new PM for coordinating design assets and tracking (design asset support for Bas)

[2021-11-04 21:30] nancyt1 opened #7782 "[PNI Website] Create tags in google tag manager"
Follow up from #7305.

- [x] Set up events in GTM for all metrics we want to track
- [ ] Compile dashboard to track it all, Edit Anna's shared [dashboard](https://datastudio.google.com/u/0/reporting/a8943c58-336d-4289-a6db-aaa19d91891c/page/p_uof9ibf6nc)

[2021-11-04 21:31] beccaklam opened #7783 "QA Production of RegretsReporter Extension Landing Page (RRELP)"
Placeholder ticket for reviewing PRs related to the production of the RegretsReporter extension landing page.

[2021-11-04 21:34] #7663 closed

[2021-11-04 21:34] nancyt1 commented on #7305
Opened up new ticket https://github.com/mozilla/foundation.mozilla.org/issues/7782 to tag and turn into dashboard.

Thanks Ben for brownbag!

[2021-11-04 21:34] #7305 closed

[2021-11-04 21:34] #7665 closed

[2021-11-04 21:35] #7696 closed

[2021-11-04 21:36] #7664 closed

[2021-11-04 21:37] kristinashu opened #7784 "[PNI Website] QA with real content"
Jen will publish all the new products on Monday Nov 8.
- [ ] Review pages with real content
- [ ] Ask Jen to ask staff for QA and typo help
- [ ] Gather issues
- [ ] PR reviews

[2021-11-04 21:38] kristinashu commented on #7784
Sorry duplicate!

[2021-11-04 21:38] #7784 closed

[2021-11-04 21:45] #7697 closed

[2021-11-04 21:47] kristinashu commented on #5499
Jonny from Torchbox will be user testing based on our updates so far. Here is the brief https://docs.google.com/document/d/1TRZ-SFNGs1lP532rvrI2Q0PLo-J87ylZ9D_y4eaRD8c/edit#.

Still going to keep this open for big future test!

[2021-11-04 21:58] jamilasnell opened #7785 "2022 Planning Meetings Week of Dec 6"
There will be two 2022 planning meetings the week of the 8th. Setting aside 2 hours of "work" for this

[2021-11-04 22:08] #7639 closed

[2021-11-04 22:16] kristinashu commented on #7415
I think this is good to close, gonna close it!

[2021-11-04 22:16] #7415 closed

[2021-11-04 22:16] kristinashu commented on #7416
Seems pretty close to this https://github.com/mozilla/foundation.mozilla.org/issues/7415 and good to close.

[2021-11-04 22:16] #7416 closed

[2021-11-04 22:58] danielfmiranda commented on #7751
HI @sabrinang! it looks Kristinas comments were right, when I tried to recreate this issue on both Chrome and Firefox, the checkbox seemed to be working correctly. I was wondering if you could please take a look and confirm if this is no longer an issue? If so, I will close the ticket.

Thanks in advance!

[2021-11-04 23:57] sabrinang commented on #7751
Is this the latest I should check? https://foundation-pni-q3-2021.herokuapp.com/en/privacynotincluded/

Still having issues in Firefox:
https://user-images.githubusercontent.com/2492510/140436198-156f7194-7ce8-4b09-9707-6dff1f807696.mov

Works in Chrome/Safari still

[2021-11-05 00:06] kristinashu commented on #7751
Everything is live now so you can check on production at https://foundation.mozilla.org/en/privacynotincluded/. Also make sure to clear your cache lol!

[2021-11-05 00:13] sabrinang commented on #7751
Oh yes the live production is working for me in Firefox!

[2021-11-05 00:24] kristinashu commented on #7751
kk awesome! seems to be working on all browsers so I'm gonna close this.

[2021-11-05 00:24] #7751 closed

[2021-11-05 01:08] danielfmiranda commented on #7751
Thank you both!

[2021-11-05 01:50] sabrinang opened #7787 "[PNI QA] Subcategories — drag to scroll on desktop"
For people who aren't using a track pad or wheeled mouse, it would be good to be able to drag-to-scroll to see the additional subcategories
![sTpcOsTW8K](https://user-images.githubusercontent.com/2492510/140444737-03251b90-3005-427e-a153-f166730240c6.gif)

[2021-11-05 02:25] danielfmiranda opened #7788 "Link buttons on articles are misaligned"
### Describe the bug
It appears that link buttons on article pages are appearing misaligned with the rest of the content:
<img width="1115" alt="image" src="https://user-images.githubusercontent.com/18314510/140447793-8fa473e8-938e-429b-82c4-b801246fb71c.png">

However after looking at the style guide to see what buttons should look like on a page, it appears to be centered.

We should reach out t

[2021-11-05 02:26] danielfmiranda commented on #7788
Hi @kristinashu! I was wondering if the link buttons are supposed to be left aligned with the rest of the page content, or centered in the middle similar to the button on the style-guide.

Thanks in advance!

[2021-11-05 05:21] kristinashu commented on #7788
Hey, please make it left aligned since that's how it is on most of the site. Sorry, which style-guide has it in the center?

[2021-11-05 08:25] TheoChevalier opened #7789 "Increase character limit for PNI category names"
sync_git is failing with French translations of some PNI product category names. I’d suggest we set that limit to 100 chars to keep a margin.

[code]

[2021-11-05 12:34] TheoChevalier opened #7790 "[PNI QA] AI-related fields not hidden on translated pages for products that don’t use AI"
Example here:
https://foundation.mozilla.org/fr/privacynotincluded/sonos-one-sl/

This product doesn’t use an AI, and the AI related fields are hidden on the English page, but are still visible on the French page.

English:
<img width="802" alt="Capture d’écran 2021-11-05 à 13 30 19" src="https://user-images.githubusercontent.com/1294206/140510544-69878ad0-6587-45fe-8a2b-d9bc063ac8cb.png">

Fren

[2021-11-05 16:26] kristinashu commented on #7625
Out of scope for this ticket but I'm curious if either of you have a sense of how much work it would be to auto-style the product share images. For example, if it pulled the product photo for the page (as you've done), but then puts it on a grey rectangular background, and adds a Mozilla *Privacy Not Included logo over top.

Audrey from social media linked to this https://itsmereal.com/automated-o

[2021-11-05 18:08] danielfmiranda commented on #7746
After a discussion with Simon, we found that this issue if fixed in PR: [#7761](https://github.com/mozilla/foundation.mozilla.org/pull/7761)

[2021-11-05 19:07] danielfmiranda opened #7791 "Youtube Regrets Extension Landing Page"
This epic is related to the youtube regrets extension landing page which can be found here: https://www.figma.com/file/A0TYlvLzKxnQLZr3unohQy/YouTube-RegretsReporter---product-page-test?node-id=232%3A1216

[2021-11-05 19:25] danielfmiranda opened #7792 "Create route and blank template to house the landing page"
In order to begin working on the template for the landing page, we are going to need a custom route/template for the page to live. Similar to the youtube regrets 2021 page, and also the DearInternet page.

[2021-11-05 19:29] danielfmiranda opened #7793 "Create the top "half" of the landing page"
Depends on #7792

This landing page has two main sections, the top half houses:

- [x] background image
- [x] embedded Video on the right side (need vimeo link)
- [x] text on the left side
- [x] Buttons (to be added in other ticket)
- [ ] Make sure content is wrapped in {% trans %} and {% blocktrans %} tags

Figma design can be found here: https://www.figma.com/file/A0TYlvLzKxnQLZr3unohQy/YouTube-

[2021-11-05 19:35] danielfmiranda opened #7794 "Create the 3 column "bottom half" of the page"
Depends on #7792
This landing page has two main sections, the bottom half houses:

- [x] Control your recommendations text
- [x] Avoid harmful content text
- [x] Help solve the problem text
- [x] Content is wrapped in {% trans %} and {% blocktrans %} tags

These 3 sections should be evenly spaced, and be responsive at multiple breakpoints.

Figma design can be found here: https://www.figma.com/fil

[2021-11-05 19:43] danielfmiranda opened #7795 "Add the browser-sensing buttons to the top half of the page"
Depends on #7793
In the top half of the page, there can be two or one buttons found depending on the window width.

However, we want to try and find a way to also make it so the page knows whether the user is viewing on a desktop or mobile browser.

If viewing on desktop browser, have two buttons render which link to extension download page for firefox and chrome.

If viewing on mobile browser, ha

[2021-11-05 19:47] danielfmiranda opened #7796 "Implement email sending for reminder button"
Depends on #7795
As mentioned in the previous ticket, if the user is not viewing on a browser that allows extension, we want to render a button that says "Send Reminder":
<img width="920" alt="image" src="https://user-images.githubusercontent.com/18314510/140569586-0f4d1201-3386-4557-98e6-0aeb39c45edd.png">

We need to:

- [x] Reach out to design to get a copy of what the process should look like

[2021-11-05 19:54] danielfmiranda opened #7797 "Implement localization for landing page content"
Once the page is built and complete, we would like to have the page content be localized.

I believe this may be able to be achieved by using a {% transblock %} but we will want to double check with @TheoChevalier for what else we may need to accomplish this!

Based on conversations on slack however this doesnt sound like its going to be too large of a lift.

[2021-11-05 20:15] danielfmiranda opened #7798 "Delete old "master" branch from fomo repo"
Since we have updated our branch name from "master" to "main" we no longer need the master branch to live in this repo.

Please delete it and all references to it.

[2021-11-05 20:32] #7746 closed

[2021-11-05 20:34] #7624 closed

[2021-11-05 22:36] beccaklam opened #7800 "YouTube Regrets Campaign Home Base Finishing Touches"
Continuing the work started in [ticket], waiting on feedback from Brandi and Jesse.

[2021-11-05 22:37] #7575 closed

[2021-11-06 23:03] kristinashu commented on #7770
Not sure if this is related but I saw this bug on the draft for "Chipolo ONE" product

<img width="873" alt="Screen Shot 2021-11-06 at 3 53 22 PM" src="https://user-images.githubusercontent.com/1068783/140626290-ffd9ef2f-4948-4525-b302-b67ba32b12eb.png">

[2021-11-08 13:57] TheoChevalier commented on #7797
Heya @danielfmiranda I don’t think we need a specific ticket for this — the engineering work needed to support localization will/should happen during the page implementation.

Like for the rest of the website, it will involve:
- Using `{% trans %}` and `{% blocktrans %}` tags in templates
- Hooking the CMS fields with Wagtail-localize in models

Of course I’ll be here to answer questions/review PR

[2021-11-08 17:54] richbrennan commented on #7625
Hi @kristinashu

The simplest way would probably be to overlay one image on top of the other using the Python Pillow image library but this isn't something I've done before unfortunately. I'll try a spike to see if I can get something working, but please chip in @danielfmiranda if you have any other ideas!

[2021-11-08 19:10] Pomax commented on #7787
Doesn't the desktop give you a scrollbar (always, on windows, and when you mouse-over, on mac)?

[2021-11-08 19:11] Pomax commented on #7667
this landed

[2021-11-08 19:11] #7667 closed

[2021-11-08 19:13] Pomax opened #7812 "[PNI] QA - changing categories can scroll the page"
When loading the PNI homepage, scrolling down a bit to see products, and clicking a category, will scroll the user back to the top of the page, which is probably undesirable UX.

[2021-11-08 19:17] Pomax commented on #7717
Does this also include removing the "zen mode" option entirely?

[2021-11-08 19:26] benhohner commented on #7812
P2

[2021-11-08 19:27] kristinashu commented on #7717
In general, keep "zen mode" checkbox as is were it currently exists.

Currently the checkbox doesn't exist for the blog page type so you can continue to not have it as an option.

[2021-11-08 19:28] benhohner commented on #7797
Just keeping around as a reminder to make sure it's done. This should be done during initial implementation

[2021-11-08 19:32] benhohner commented on #7793
Need to verify
- [ ] background image content
- [ ] video content

[2021-11-08 19:37] benhohner commented on #7795
Kristina mentioned we might be doing something similar with a project related to Facebook?

[2021-11-08 19:41] benhohner commented on #7790
P2

[2021-11-08 19:44] benhohner commented on #7789
Look for wagtail widget that prevents categories over 50'
@kristinashu thoughts on providing UI notice that the users needs a shorter category, as opposed to increasing character limit (because categories might wrap or look bad on front end)?

[2021-11-08 19:48] benhohner commented on #7787
@kristinashu What do you think of having the categories wrap to a new line on desktop? I feel like the scroll interaction pattern is not very common on desktop vs mobile.

[2021-11-08 19:49] benhohner commented on #7787
P1

[2021-11-08 19:59] benhohner commented on #7757
P3

[2021-11-08 20:00] benhohner commented on #7756
P3

[2021-11-08 20:03] benhohner commented on #7748
P1

[2021-11-08 20:08] benhohner commented on #7714
- @kristinashu can we take a look at the usage of these styles outside of our DS and figure out whether to remove the styles or add them to the DS?

[2021-11-08 20:14] kristinashu commented on #7787
Let's pause on this one. I think the screen cap is from when there was a [bug](https://mozilla.slack.com/archives/C4M19QU2Z/p1636148665223100) on staging, that @fessehaye has since fixed. Let's see if this is still an issue once Simon's mobile updates have been pushed live and once all the real content is live with real sub-categories.

[2021-11-08 20:21] kristinashu commented on #7789
I forget what the percentage is but I think we like to accommodate for translations to be up to 20% longer in length than in English. Theo can try to reduce the length but if the name starts to become unhelpful or inaccurate then increasing the character limit seems like the only option. Do you know where the UI might break with longer names?

[2021-11-08 20:21] kristinashu commented on #7714
Happy to chat about this. As is, I have no idea what it's about.

[2021-11-08 21:18] benhohner commented on #7702
CLose on Design/Dev handooff

[2021-11-08 21:27] benhohner commented on #6067
Need docs for
- How to use page or snippet chooser without language

[2021-11-08 21:30] benhohner commented on #6712
@TheoChevalier can you please put relevant wagtail-translate documentation into our new Notion engineering handbook? https://www.notion.so/mozilla-foundation-engineering/Backend-c2876a1a86e84b37b4e7d1d2e26feba8

[2021-11-08 21:38] benhohner commented on #7708
P2

[2021-11-08 21:39] benhohner commented on #7749
@kristinashu just checking in. Is this still blocked?

[2021-11-08 21:41] benhohner commented on #7749
@kristinashu do we have updated copy yet?

[2021-11-08 21:44] benhohner commented on #7796
Blocked:
- waiting on form design and confirmation design from designers
- waiting on copy
- email design

Ben's comments: I think this feature needs to be fleshed out more before we move ahead, we may need to delay until designers are back

[2021-11-08 22:01] kristinashu commented on #7796
Rebecca mentioned in Slack that the button should work like the email share button on our blog posts e.g. https://foundation.mozilla.org/en/blog/how-to-curb-election-disinformation-on-social-media/

Clicking on the button should
- open the person's email
- pre-populate the email with [title] [body text] (I have asked the Brandi/Audrey for this)

I don't think it needs a form with custom styling or

[2021-11-08 22:01] kristinashu commented on #7749
We don't have copy yet so this is still blocked.

[2021-11-08 22:04] benhohner commented on #7520
Proper behaviour is alt tag should be empty if there is no description or title for image. @richbrennan can you please verify if this is being fixed in Wagtail core or not?

[2021-11-08 22:10] benhohner commented on #7559
@richbrennan feel free to reach out to @pomax for any questions or further clarification on this one!

[2021-11-08 23:22] #7701 closed

[2021-11-08 23:31] Pomax commented on #7798
done

[2021-11-08 23:31] #7798 closed

[2021-11-08 23:42] #7614 closed

[2021-11-09 10:58] TheoChevalier opened #7814 "Some PNI product pages are crashing"
Some pages are crashing (in all languages) with the following:
`django.urls.exceptions.NoReverseMatch: Reverse for 'category-view' with arguments '('',)' not found. 1 pattern(s) tried: ['categories/(?P<slug>[\\w\\W]+)/']`

https://foundation.mozilla.org/en/privacynotincluded/samsung-galaxy-active-2/
https://foundation.mozilla.org/en/privacynotincluded/apple-watch-6/

[code]

[2021-11-09 15:25] TheoChevalier commented on #7789
+1, I generally recommend ~30%, especially when French & German are involved.
For instance in `Smart Glasses & AR Headsets`, AR needs to be fully spelled `Augmented Reality` in French, there’s no acronym yet, which adds to the length: `Lunettes connectées et casques de réalité augmentée`

With this type of content, there’s generally little room for shortening the translation and I think it’s prefe

[2021-11-09 15:48] TheoChevalier opened #7815 "PNI checkbox is cut-off in German on Desktop"
The "* Privacy not included" checkbox is currently cut-off in German on Desktop, we should make it properly wrap in two lines (or give it more space, if possible)

<img width="463" alt="Capture d’écran 2021-11-09 à 16 44 01" src="https://user-images.githubusercontent.com/1294206/140956463-1231c025-bf33-4306-89b8-300be5a54a9e.png">

[2021-11-09 16:09] TheoChevalier commented on #7814
I think it’s due to the "Fitness Trackers" category name being deleted, and some published pages were still using it

[2021-11-09 16:52] richbrennan commented on #7735
This is related to #7625, in that the `wagtail-metadata` package is conflicting with manually set HTML elements.

[2021-11-09 17:29] richbrennan commented on #7780
This is affecting blog and product pages from what I can tell by searching the codebase for `<link rel="canonical"`

[2021-11-09 17:33] #7694 closed

[2021-11-09 17:34] #7788 closed

[2021-11-09 17:55] benhohner commented on #7789
@kristinashu @TheoChevalier @pomax Ok, perhaps the best course of action is to increase the character limit to 100 characters and put a soft limit in the Wagtail admin dashboard of 50 characters using the character limiting custom widget?

[2021-11-09 18:04] kristinashu commented on #7789
Sounds good to me.

[2021-11-09 18:41] kristinashu commented on #7749
Content should be ready this Thurs or Friday and needs to be live by EOD Monday.

[2021-11-09 20:39] #7814 closed

[2021-11-09 21:26] kristinashu commented on #7749
I've added copy from Jen for Press and Why. Still waiting for About and Contact.

[2021-11-09 21:48] kristinashu commented on #7702
### Via the design ticket

Figma [mockups](https://www.figma.com/file/2TK8tXeDIiLC67TMdbMIcO/?node-id=115%3A271) & [prototypes](https://www.figma.com/proto/2TK8tXeDIiLC67TMdbMIcO/Fundraising?page-id=115%3A271&node-id=116%3A386&viewport=241%2C48%2C0.11&scaling=scale-down&starting-point-node-id=116%3A386&show-proto-sidebar=1)

Banner images in google drive: [blue banner](https://drive.google.com/ope

[2021-11-09 21:55] kristinashu commented on #7702
For reference, here's moco's ticket for enabling it on their site https://github.com/mozilla/bedrock/issues/10700

[2021-11-09 22:18] kristinashu commented on #7702
Meeting notes https://docs.google.com/document/d/11YhzpzW2mloaRuw5wlqzIa0hSHVrdePwtx2c9VSh4bY/edit# and @Pomax will open a ticket for this work.

[2021-11-09 22:31] benhohner commented on #7796
@danielfmiranda to further clarify from eng side, I was mistaken about the interaction. Just needs a `mailto:` link with the correct subject filled in, should be pretty straighforward and no additional screens or email sending.

[2021-11-09 23:02] Pomax opened #7819 "Add a donation top banner to the site (live date: Nov 30)"
### Base implementation details:
- [x] create a template file for inclusion at the top of pages linked into the master `base.html` template
  - [x] we're hardcoding all text for now, remember to use `{% trans %}` and `{% blocktrans %}` for all string content.
- [x] full banner background
- [x] exclude template from mozfest and PNI pages

### Copy details:
- [x] Two column layout (6 + 3) on desktop

[2021-11-09 23:14] Pomax opened #7820 "Add a global option to the CMS to turn the donate banner on/off"
This should ideally be something we can get to through the `settings` menu, probably as part of the `site` settings?

[2021-11-09 23:14] Pomax commented on #7820
Soft-dependency on https://github.com/mozilla/foundation.mozilla.org/issues/7819

[2021-11-09 23:24] Pomax opened #7821 "Publishing the "Facebook Portal Go" product crashes with a locale key unique violation"
STR
- go to https://foundation.mozilla.org/cms/pages/15283/edit/ (if we haven't deleted it by the time we revisit this issue)
- hit "publish"
- server error 500

Running locally with a prod db copy shows:

[code]

Looking at the tracelog:

[code]

[2021-11-09 23:55] benhohner opened #7822 "[PNI] Privacy Policy links missing from page"
On PNI product pages, the privacy policy links don't appear.
Links should appear, please confirm with design where.

[2021-11-09 23:55] benhohner commented on #7822
@kristinashu just to confirm, where should privacy policy links appear again? Bottom of page, or under privacy tab?

[2021-11-10 00:01] Pomax commented on #7820
We can probably use https://github.com/cfpb/wagtail-flags for this

[2021-11-10 00:08] kristinashu opened #7824 "[PNI QA] Weird text overlap"
There's draft were this is happening on the "Kobo eReaders" https://foundation.mozilla.org/cms/pages/1676/edit/preview/ (I don't want to publish it).

The "How can you control your data?" text is very long so maybe that broke it?

<img width="788" alt="Screen Shot 2021-11-09 at 3 57 48 PM" src="https://user-images.githubusercontent.com/1068783/141025264-1add44bc-c3a3-4056-bfdc-50e346cfad00.png">

[2021-11-10 00:30] kristinashu commented on #7822
Yes, just below "User-friendly privacy information?", then there's the answer, then the links should be below.

<img width="771" alt="image" src="https://user-images.githubusercontent.com/1068783/141026572-8f53c15b-c648-4665-9c03-d2decd616d5a.png">

[2021-11-10 00:32] jamilasnell commented on #7703
Seeing some similar issues related to alignment. This is only happening when I have my browser window fill half of my giant external screen (this isn't happening when my browser is fully expanded to full the external screen).

It is affecting the info icon in "Does this product meet our Minimum Security Standards" section under the security tab.

<img width="569" alt="Screen Shot 2021-11-09 at 4 2

[2021-11-10 00:35] kristinashu opened #7826 "[PNI QA] Footer on the About pages is missing the newsletter signup"
Screen cap from prod
<img width="1381" alt="image" src="https://user-images.githubusercontent.com/1068783/141027656-530eedf6-2b3d-43cb-88b8-35d617e29be8.png">

[2021-11-10 00:48] #7749 closed

[2021-11-10 12:31] TheoChevalier opened #7827 "PNI cutoff date is not synchronized with translations"
Old products are still showing up on https://foundation.mozilla.org/fr/privacynotincluded/ despite the new cutoff date and me syncing the PNI homepage translations.
E.g. https://foundation.mozilla.org/fr/privacynotincluded/kano-coding-kits/ is still listed

I suspect the cutoff date field needs to be explicitly synchronized

[2021-11-10 14:24] kailash360 commented on #7826
@kristinashu Can I work on this issue?

[2021-11-10 16:02] #7780 closed

[2021-11-10 17:19] kristinashu commented on #7796
Brandi has shared this copy for the email:

### Subject

### Body

[2021-11-10 18:08] kristinashu commented on #7800
Adding notes about the urls. We will need to share this with Brandi and to create a list of all the url redirects needed.

- New hub: https://foundation.mozilla.org/youtube/
- New download page https://foundation.mozilla.org/youtube/regretsreporter
- Story collection https://foundation.mozilla.org/campaigns/youtube-regrets/
  Move to https://foundation.mozilla.org/youtube/[need a better name]/?

[2021-11-10 18:25] kristinashu commented on #7662
This is under "Needs discussion" - is that still the case? If so then I can set up a time to chat about this next week.

[2021-11-10 18:27] Pomax opened #7828 "See if we move some of the metadata overrides/exceptions/etcs into mixin classes"
we currently have the `FoundationMetadataPageMixin` that sets the relevant metadata for pages, but also have custom meta tag code in place as overrides on specific pages - it would be good to see if we can make those overrides "additional mixins" that can be used to override the behaviour of `FoundationMetadataPageMixin` (or implement overrides that it does not cover) so that the wagtail-metadata

[2021-11-10 18:30] kristinashu commented on #7638
Education will help but I think there are UX fixes that can be done as well to improve this. Do you have any thoughts on the individual items listed?

[2021-11-10 18:52] kristinashu opened #7830 "[PNI QA] Width is broken on mobile product pages"
### Describe the bug
Something is breaking the layout on mobile. The content shifts sideways and I see a black bar in some sections.

### To Reproduce
Steps to reproduce the behavior:
1. Go to any product page https://foundation.mozilla.org/en/privacynotincluded/threema/
3. Scroll down
4. See error: content will also scroll horizontally.

### Expected behavior
Context should scroll vertically.

##

[2021-11-10 19:04] benhohner commented on #7638
Yep, I can definitely expand on the details! After thinking about each item a bit more I think we can act on one or two of these.

---

I believe Pomax said that the "Promote tab" (and its naming of "Promote") is a core wagtail feature, that would take a large lift to override if it's even possible. @Pomax can you clarify?

Apparently this decides whether the page is included in automatically gene

[2021-11-10 19:18] benhohner commented on #7662
Yep, I think we need to discuss:

    whether we can move those pages there, instead, and if not,
    whether including them in the index overview even makes sense.

I set up a chat for us next week!

[2021-11-10 19:27] benhohner commented on #7796
Here are some docs on the mailto format @danielfmiranda https://css-tricks.com/snippets/html/mailto-links/
Not sure if we can include sub-links, but we can probably include URLs as text. e.g. `Add to Firefox: https://addons.mozilla.org/addon/regretsreporter/`

[2021-11-10 19:43] kristinashu commented on #7826
Hi @kailash360 - thank you so much for your interest in helping us with this. Currently we do not have the capacity to onboard new people. If you want to work on it without any help then do please go for it and we'll be happy to do the PR review. But we do not have the capacity to run people through the code and do PR reviews that include PR-specific code explanations.

[2021-11-10 20:00] kristinashu opened #7831 "[PNI] Update "How to Use This Guide" About page"
Sorry @danielfmiranda, I misinterpreted one of Jen's comment's and thought we were done with the about pages but there is one more.

Due EOD Monday

- [ ] Update https://foundation.mozilla.org/privacynotincluded/about/ with [this copy](https://docs.google.com/document/d/1yNCRRSHNEIDVS6vVwIlcb8SHo-XVw8HT5RPXZ5pvpSA/edit#)

[2021-11-10 20:09] kailash360 commented on #7826
Great, I will start working on it.

[2021-11-10 20:52] danielfmiranda commented on #7796
Thanks so much @benhohner for the reading material!! This will make it easier to implement. going to reduce the time necesssary for this ticket from 4 to 2! And also removing this from blocked

[2021-11-10 20:59] kristinashu opened #7833 "Add Airtable block to blog pages"
Staff would like to be able to embed Airtable into blog posts, like they can on some other page types.

- [x] Add Airtable block to blog pages

[2021-11-10 21:58] sabrinang opened #7834 "[PNI QA] A.I. section question and answer display"
The question `Is the company transparent about how the AI works?` doesn't display but the answer appears with `Does the user have control over the AI features?` while that answer does not appear.

Content on the spreadsheet I want to show on the website but doesn't:
<img width="1414" alt="Screen Shot 2021-11-10 at 1 49 53 PM" src="https://user-images.githubusercontent.com/2492510/141199360-c33bebc

[2021-11-10 22:12] kristinashu commented on #7834
Good catch @sabrinang! @danielfmiranda @fessehaye would one of you be able to fix this before EOD Monday?

[2021-11-11 00:19] #7770 closed

[2021-11-11 00:19] #7824 closed

[2021-11-11 00:46] kristinashu commented on #7703
Thank you Simon for grabbing this!

[2021-11-11 00:49] kristinashu commented on #7787
@sabrinang can you please try this again now that the mobile updates are live?

[2021-11-11 17:27] richbrennan commented on #7520
Hey @benhohner

So by default Wagtail uses the title for the alt text: https://github.com/wagtail/wagtail/blob/main/wagtail/images/models.py#L375

If no title is entered when the image is uploaded then the title is populated with the filename, hence why filenames appear in alt tags.

It looks like there [aren't any plans](https://github.com/wagtail/rfcs/blob/image-models/text/044-image-models.md#u

[2021-11-12 15:16] richbrennan commented on #7520
Further to the above, the out-of-the-box Wagtail image model doesn't support translations as it doesn't inherit from `TranslatableMixin`.

I've asked Karl whether a custom image model could inherit from `TranslatableMixin` so the text fields could be translated. I'll update again once I get a reply.

[2021-11-12 15:38] richbrennan commented on #7520
With regard to image _blocks_, these are StreamField StructBlocks with an `AltText` field, however [at least one of them](https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/templates/wagtailpages/blocks/image_block.html#L6) isn't using `AltText` for its alt attribute, so the fix would be to update the relevant templates to use the correct value.

[2021-11-12 17:28] richbrennan commented on #7520
Pull request for review: https://github.com/mozilla/foundation.mozilla.org/pull/7839

[2021-11-12 19:38] arun-kushwaha04 commented on #7830
https://github.com/mozilla/foundation.mozilla.org.git

[2021-11-12 19:39] arun-kushwaha04 commented on #7830
@kristinashu can I work on this issue ?

[2021-11-12 23:00] sabrinang commented on #7787
@kristinashu I tested what is live and the tags scroll and work on mobile screens as the users can swipe over and it is fine on wide desktop where all tags are in view. The scrollbar is hidden as it clutters up the category tag UI area. However the issue remains for people who view this on a narrow viewport who are without a trackpad or a wheeled mouse holding shift, that they would not be able to

[2021-11-12 23:12] fessehaye commented on #7748
Checked on both firefox and chrome as well as local and production and the checkbox is visible in all

[2021-11-12 23:12] #7748 closed

[2021-11-13 00:55] sabrinang opened #7843 "[PNI QA] Hide empty field subheadings (What data does the company collect?)"
For the `What data does the company collect?` section, is it possible to hide the subheading when it is unaccompanied by an answer? It might look incomplete to the reader when all other sections are filled out with answers like _can't determine_ or _N/A_ in comparison:
<img width="1534" alt="image" src="https://user-images.githubusercontent.com/2492510/141599147-171a3856-c109-4b60-870b-24e03fff426

[2021-11-13 00:57] sabrinang commented on #7779
Review and support:
- https://github.com/mozilla/foundation.mozilla.org/pull/7840
- https://github.com/mozilla/foundation.mozilla.org/issues/7787

QA and file issues:
- https://github.com/mozilla/foundation.mozilla.org/issues/7834
- https://github.com/mozilla/foundation.mozilla.org/issues/7843

[2021-11-13 01:01] sabrinang commented on #7781
- No website updates
- Design asset update from Lucie that wranglers have commented on space icons for Bas to revise designs and it'll be ready on Monday for my final review

[2021-11-15 09:51] TheoChevalier opened #7858 "[PNI] Localized homepage & category pages are crashing"
Opening a localized category page is crashing, e.g. https://foundation.mozilla.org/fr/privacynotincluded/categories/gaming-platforms/

This includes the homepage https://foundation.mozilla.org/fr/privacynotincluded/

Production logs:
[code]

[2021-11-15 12:30] TheoChevalier commented on #7858
About pages are affected too https://foundation.mozilla.org/fr/privacynotincluded/about/why/

[2021-11-15 16:57] #7625 closed

[2021-11-15 17:10] kristinashu opened #7859 "[PNI] Add overlay to product share image"
Follow up to https://github.com/mozilla/foundation.mozilla.org/issues/7625

Is it possible to auto-style to a PNI product share image? We now pull the product photo for the page, but is it possible to  puts it on a grey rectangular background, and adds a Mozilla *Privacy Not Included logo over top?

Audrey from social media linked to this https://itsmereal.com/automated-open-graph-image-overlay-fo

[2021-11-15 17:18] kristinashu opened #7860 "[PNI] Small copy updates to Methodology page"
Sorry @danielfmiranda final_final_final_v12 lol copy changes for the Methodology page https://foundation.mozilla.org/en/privacynotincluded/about/methodology/

Jen has highlighted the changes in yellow:
https://docs.google.com/document/d/1vwjaYlKCa9XJMPcFhqDJJzrI6iqg3B_oel21qwD4TWI/edit#heading=h.vj2dkn42vwk3

[2021-11-15 17:46] kristinashu commented on #7860
@fessehaye since Daniel is on PTO, could you please do this today?

[2021-11-15 18:08] #7827 closed

[2021-11-15 18:33] #7860 closed

[2021-11-15 18:34] #7735 closed

[2021-11-15 18:37] kristinashu commented on #7787
Ah ok, I see what you mean now about now!

@fessehaye @nancyt1 @sabrinang do you want to set up a time to chat through this to figure out the best solution?

[2021-11-15 18:42] kristinashu commented on #7830
Thank @arun-kushwaha04 but given our timeline I think it will be better if this is done internally. @fessehaye any chance you would be able to take a look at this?

[2021-11-15 19:50] sabrinang opened #7862 "[PNI QA] Mobile tab alignment"
- [ ] Tab alignment (starts a bit too far in on smaller viewports)
<img width="300" alt="image" src="https://user-images.githubusercontent.com/2492510/138957843-14df377d-a3e6-4ee3-a90a-d44e6b09afc0.png">

After a breakpoint it shifts right:
![z09uSt3QOY](https://user-images.githubusercontent.com/2492510/141844587-29868cbc-d5d4-4e13-9c3d-cff5e514fa28.gif)

[2021-11-15 20:46] kristinashu opened #7865 "[PNI bug] Line breaks aren't working in some fields"
Spacing between paragraphs work in the CMS:
<img width="1095" alt="image" src="https://user-images.githubusercontent.com/1068783/141850913-13668412-1700-4e8a-ab0e-a9bf7b2ae39c.png">

But then don't appear on the site:
<img width="831" alt="image" src="https://user-images.githubusercontent.com/1068783/141850863-edfd127a-675a-4c0f-900e-4949d34fde82.png">

Add space between paragraphs for:
- [ ] How

[2021-11-15 20:46] #7708 closed

[2021-11-15 21:55] #7703 closed

[2021-11-15 22:06] #7521 closed

[2021-11-15 23:20] #7564 closed

[2021-11-15 23:54] #7858 closed

[2021-11-16 01:02] beccaklam commented on #7800
Started a [doc](https://docs.google.com/document/d/1acWkISJDEcRGA-GWx0dgeH-AdaXdE67zF2ihZQmDxdY/edit#heading=h.4cuo72nl40fx) for the URL discussions

[2021-11-16 04:09] kristinashu opened #7867 "[PNI] Remove warning text from homepage and category pages"
Remove the text that says _"In our *Privacy Not Included buyer’s guide we review connected sex toys. This content is targeted for readers 18+ and may contain sensitive or mature information."_ from the bottom of the homepage and all category pages since it is no longer needed.

<img width="1198" alt="image" src="https://user-images.githubusercontent.com/1068783/141903709-ec4d8755-ecf5-4e6c-946b-57

[2021-11-16 15:35] TheoChevalier opened #7868 ""All" category name untranslated when searching"
When using the search field, the "All" category name appears in English:

<img width="1234" alt="Capture d’écran 2021-11-16 à 16 30 03" src="https://user-images.githubusercontent.com/1294206/142015691-74cad0b9-1891-4fec-a9ea-1cf58be0ab72.png">

[2021-11-16 16:10] #7423 closed

[2021-11-16 17:09] #7673 closed, assigned to b-ggs

[2021-11-16 17:14] TheoChevalier opened #7870 "Fix link in PNI How to use page"
Need to remove an hardcoded /en from https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/ that fell through during review

[2021-11-16 17:41] #7520 closed

[2021-11-16 18:24] kristinashu opened #7872 "[PNI] PNI specific error pages"
Currently if I go to a broken PNI link e.g. https://foundation.mozilla.org/en/privacynotincluded/netatmo-smar - I see the foundation site 404 page. Would it be possible to show one that is custom to PNI? For example, can it:
- Show the PNI main nav
- Show PNI sub nav
- "Go to home page" button links to https://foundation.mozilla.org/privacynotincluded

Screen cap from production:
<img width="1232"

[2021-11-16 18:32] kristinashu opened #7874 "[PNI] Creep-o-meter shows blue outline in Safari (small bug)"
### Describe the bug
Blue select outline when I click on the creep-o-meter in Safari.

### To Reproduce
Steps to reproduce the behavior:
1. Go to any product page https://foundation.mozilla.org/en/privacynotincluded/netatmo-smart-video-doorbell/
2. Click on the creep-o-meter (click, don't slide)
3. See blue outline

### Expected behavior
No blue outline.

### Screenshots
<img width="771" alt="Scre

[2021-11-16 18:40] beccaklam commented on #7800
Feedback from Brandi via slack:
- thanks @beccaklam I answered some questions in the doc you sent me and will edit copy on this tomorrow. I wonder if it's possible for us to import the timeline (maybe in a graphic form?) from the existing regrets-reporter page?
- feels like we could also have an impact section where we talk about the impact that our campaign has had so far

[2021-11-16 18:41] kristinashu opened #7875 "[PNI] Hide the creepy-o-meter face when there aren't enough products"
Some of the sub-categories don't have very many products which means the creep-o-meter isn't very accurate. Would it be possible to hide it when there are less than ~12 products?

<img width="1314" alt="Screen Shot 2021-11-10 at 3 24 24 PM" src="https://user-images.githubusercontent.com/1068783/142045560-ecfe0cf9-4e38-4d29-9efa-5508f016f05c.png">

[2021-11-16 18:44] beccaklam opened #7876 "Banner for RegretsReporter Launch"
Lindsay needs a banner for the RegretsReporter launch in January. Deadline for end of December before MoFo shutdown so the team can set it up.

[2021-11-16 18:52] kristinashu commented on #7311
Nancy updated this!

[2021-11-16 18:52] #7311 closed

[2021-11-16 18:56] #7868 closed

[2021-11-16 19:08] kristinashu opened #7877 "[PNI] Clean up product page link styles"
PNI now has a lot of links throughout the product pages. Now that we have the real content in, let's consider the styling and when and when not to do overrides. Personally, I think they are all working as is with the exception of the links in the Related Products section. But curious what others think.

<img width="803" alt="image" src="https://user-images.githubusercontent.com/1068783/142049588-c

[2021-11-16 21:44] Pomax commented on #7820
Probably even better: https://www.yellowduck.be/posts/defining-custom-settings-wagtail/

[2021-11-16 21:47] kristinashu commented on #7834
Looks like this hasn't been fixed but should be a P1 since it is showing inaccurate information.

[2021-11-16 22:29] kristinashu opened #7878 "[PNI] Make external links open in a new tab"
PNI now links out to a lot of external links and we don't want to loose people because of that. Let's make external links open in a new tab rather than in the same one.

[2021-11-17 00:33] nancyt1 commented on #7782
Tags need to be published by Ben but i'm working on creating the [dashboard](https://datastudio.google.com/u/0/reporting/868245f5-7732-4fa3-a7f3-dd8f39f6666a/page/y8efC/edit) in the meantime. I'm working on a separate one but planning on merging with Anna's dashboard later when I know I did things right.

Also created a [spreadsheet](https://docs.google.com/spreadsheets/d/19OiSIUihkvS2Uhi4JVaM6gge

[2021-11-17 00:41] sabrinang commented on #7781
- no website updates
- gave ideas/pointers to Lucie on trustworthy AI space icon approach
- gave feedback to Bas on redpen on remaining space icons

[2021-11-17 00:49] fessehaye commented on #7787
P2 now

[2021-11-17 01:18] Pomax opened #7880 "switch PNI product voting CSRF over to just-in-time fetching"
- load product page without CSRF token so that it's the same content for all users
- make the voting JS fetch the token from a dedicated CSRF endpoint on the server.
- then add that into the vote POST instead of querying the DOM for it.

this will allow us to cache-excempt the CSRF endpoint, without PNI product pages breaking the caching.

[2021-11-17 04:56] #7867 closed

[2021-11-17 05:10] #7865 closed

[2021-11-17 14:14] #7666 closed

[2021-11-17 14:14] beccaklam commented on #7666
Lindsay and Audrey approved the drafts so this should be good to go. [Final assets here](https://drive.google.com/open?id=15ntxG7KSl_C8IAdGCRhjZ38AfxEEWye0&authuser=rebeccal%40mozillafoundation.org&usp=drive_fs)

[2021-11-17 17:35] #6934 closed

[2021-11-17 18:14] Pomax opened #7882 "SEO improvements"
1. hreflang `x-default` should probably point to `/en/` rather than `/` -> #8834
1. add a `crawl-delay` to robots.txt -> #8835
1. why is the `_util` URL visible to non-CMS-authed users (can we add this to deny) -> #8836
1. sitemap URL looks to point to a lot of 4xx pages? -> #8837
1. sitemap
    - reports of localized PNI categories under the `/en/` locale, which should not be happening. -> #8838

[2021-11-17 20:00] Pomax opened #7883 "mozfest nav button should always be editable in the CMS"
The recent video work for the mozfest homepage introduced some logic that hides certain fields that are not needed in the CMS edit view for the page, but it takes out too much. Let's:

- [x] restore "all panels" first (https://github.com/mozilla/foundation.mozilla.org/pull/7884/files)
- [x] redo the logic that decides which fields to keep for which view, with @marcwalsh to confirm

[2021-11-17 21:05] kristinashu commented on #7651
This page might be deprecated and replaced with https://github.com/mozilla/foundation.mozilla.org/issues/7791. @beccaklam can you please confirm that https://foundation.mozilla.org/campaigns/regrets-reporter/ will no longer exist?

[2021-11-17 21:56] #7834 closed

[2021-11-17 23:21] #7880 closed

[2021-11-17 23:40] nancyt1 opened #7886 "[PNI] Add custom class or ID to subcategory pills on product pages"
For metrics and tagging purposes, can a custom class or ID be added to the subcategory pills on product pages?
Currently there's only a "subcategories" class on the ones on the category pages, so something similar would be good.

[2021-11-18 17:16] beccaklam opened #7887 "YouTube Marketing Graphics (cont'd)"
Assets needed by EOD Nov 30th
- [ ] Localized versions of [these ads](https://redpen.io/p/wpcccce987c35da2e3)
- [ ] Banner, screen shot and GIF edits if needed

[2021-11-18 17:17] richbrennan commented on #7556
I've audited the templates by searching for instances of `data-*` or `<script>` in order to identify variables that may need the `unlocalize` filter:

mozfest_footer.html
- `data-signup-id="{{ mozfest_footer.id }}"`

signup.html
- `data-signup-id="{{ page.signup.id }}"`

buyersguide_item.html - ALREADY ADDED FOR PNI
- `data-creepiness="{{ product.creepiness }}">`

bannered_campaign_page.html
- `da

[2021-11-18 18:10] beccaklam commented on #7887
Link to video: https://www.dropbox.com/s/gdx2b0v4lo2q9w0/YT%20Mozilla%20Regrets%20Reporter%20-%2020211116%20V01.mp4?dl=0

[2021-11-18 18:22] wilhitem commented on #7534
Hey @b-ggs - wanted to add the ability to set a customer redirect URL (see updated checklist in initial github comment.

Ideally they can set the page to redirect, but Marc said if it needs to be hardcoded we can do that for now.

[2021-11-18 18:57] Pomax opened #7891 "remove wagtail-modeltranslation inheritance"
We have some code with `content_panels = Page.content_panels  # Needed for wagtail-modeltranslation to work` and we should verify whether we still need that (I suspect we do =D) or whether we can remove this everywhere now that we're using wagtail-localize

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/TP1-252)

[2021-11-18 18:58] #7792 closed

[2021-11-18 19:42] wilhitem opened #7892 "Research Hub MVP Torchbox design support"
To contact team members, everyone should be available on slack.

Research lead: Jonny Peacock (jonny.peacock@torchbox.com)
Sr Designer: Nick Lee (Nick.Lee@torchbox.com)
PM: Marni Wilhite (marni.wilhite@torchbox.com)

Mozilla Design Review: @beccaklam

Support the research and design of a digital research hub to present an easy to find, well coordinated and coherent research “face” for funders, res

[2021-11-18 19:49] beccaklam opened #7893 "RegretsReporter Screen shots"
Jesse asked for screen shots for the AMO and CWS stores.

[2021-11-18 19:50] beccaklam commented on #7893
First draft: https://redpen.io/p/db6701a55ceea56929

[2021-11-18 20:39] sabrinang commented on #7781
Reviewing PR:
- https://github.com/mozilla/foundation.mozilla.org/pull/7603

Note/Updates:
- TiTo widget is a to do item
- Steven mentioned he has been away from the project for a bit and will put some time to get the directory finished next week
- Marni updated slack that Boggs hours are being distributed across multiple days to be most cost effective with feedback loop delays

[2021-11-18 20:53] #7794 closed

[2021-11-18 21:45] #7886 closed

[2021-11-18 21:48] sabrinang commented on #7781
- left feedback for Bas on space icon

[2021-11-18 22:05] #7779 closed

[2021-11-18 22:37] beccaklam opened #7894 "Set up google analytics events for RegretsReporter Landing PAge"
Lindsay is asking if we can set up tracking events for the RegretsReporter landing page. Events that we would want to track:
- [ ] Traffic coming to new landing page
- [ ] Number of clicks for chrome download button
- [ ] Number of clicks for firefox download button

[2021-11-18 22:42] beccaklam opened #7895 "Set up URL redirects for YouTube Regrets web properties"
Working off of this [doc](https://docs.google.com/document/d/1acWkISJDEcRGA-GWx0dgeH-AdaXdE67zF2ihZQmDxdY/edit?usp=sharing) come up with a list of urls that we need to redirect and where to redirect them to. Work with the engineering team to set these up.

**Deadline: EOD Monday, Nov 29th**

## List of URL redirects:

- [x] https://foundation.mozilla.org/campaigns/youtube-regrets/ move to https://

[2021-11-18 22:46] sabrinang opened #7896 "[MozFest] Design support and review cont. V"
Continuation https://github.com/mozilla/foundation.mozilla.org/issues/7781

- Website PR design review support for MozFest 2021 TBX Milestone: https://github.com/mozilla/foundation.mozilla.org/milestone/77
- MozFest Community Directory & TiTo Widget reviews some time last week of November
- Possibly sync with Lucie and new PM for coordinating design assets and maybe remaining feedback support for

[2021-11-18 22:50] sabrinang opened #7897 "[PNI Website] Design support & reviews for dev work cont. VI"
Continuing support and reviews from https://github.com/mozilla/foundation.mozilla.org/issues/7779

- support remaining QA and review PRs for devs

[2021-11-18 23:00] beccaklam opened #7898 "[Research Hub] Project onboarding and design review"
Making a ticket to scope out time this sprint to read more about the Research hub project and provide design review to Torchbox.

[2021-11-18 23:40] beccaklam commented on #7876
First draft of the banner here along with the other marketing assets: https://redpen.io/p/wpcccce987c35da2e3

[2021-11-19 00:35] #7819 closed

[2021-11-19 13:02] #7870 closed

[2021-11-19 14:34] richbrennan commented on #7282
I investigated this and found that when a page is created the translatable alias does not have certain fields, including `first_published_at` set, which could be related too this issue as they use the same mechanism to normal aliases: https://github.com/wagtail/wagtail/issues/7373

I wasn't able to pin down exactly where this is happening, however did find that these fields are missing from the fi

[2021-11-19 17:57] #6829 closed

[2021-11-19 17:59] kristinashu commented on #7466
Adding that the Figma files also need to be updated to reflect what was actually implement since some updates needed to be made to reflect real content, dev constraints, and different responsive states.

[2021-11-19 19:09] #7793 closed

[2021-11-19 19:24] sabrinang commented on #7781
- Bas exported space icons _(except TAI space)_ in google drive here: https://drive.google.com/drive/folders/1zu5Y8jKEACy-7lmCoJOrJypSPaFG7oM4?usp=sharing
- website reviews TBD next week

[2021-11-19 19:24] #7781 closed

[2021-11-19 19:24] beccaklam commented on #7895
List of URL redirects:

- [ ] https://foundation.mozilla.org/campaigns/youtube-regrets/ move to https://foundation.mozilla.org/youtube/regrets/

- [ ] https://foundation.mozilla.org/campaigns/regrets-reporter/ redirect to https://foundation.mozilla.org/youtube/regretsreporter

- [ ] https://foundation.mozilla.org/campaigns/regrets-reporter/findings/ move to https://foundation.mozilla.org/youtube/f

[2021-11-19 19:48] beccaklam commented on #7895
Tagging @danielfmiranda for awareness!

[2021-11-19 20:30] #7795 closed

[2021-11-19 20:31] #7796 closed

[2021-11-19 20:31] fessehaye commented on #7797
Epic tasks are done, so I am considering this task done

[2021-11-19 20:32] #7797 closed

[2021-11-19 22:31] beccaklam commented on #7893
Updated the [drafts](https://redpen.io/p/db6701a55ceea56929) based on Jesse's feedback:

[2021-11-19 22:32] beccaklam commented on #7876
[Updated](https://redpen.io/p/wpcccce987c35da2e3) based on Lindsay's feedback in redpen.

[2021-11-20 00:38] beccaklam commented on #7887
First draft of GIF [here on the drive](https://drive.google.com/open?id=1BtIEyBQkzIfs-4zgd_tJm60XM_XX94Zd&authuser=rebeccal%40mozillafoundation.org&usp=drive_fs) and on [redpen](https://redpen.io/ch9b625f2a07895ff7) (look in chrome)

[2021-11-20 00:50] #7783 closed

[2021-11-22 15:29] richbrennan commented on #7778
PR https://github.com/mozilla/foundation.mozilla.org/pull/7914

[2021-11-22 16:18] #7893 closed

[2021-11-22 16:21] #7876 closed

[2021-11-22 16:39] beccaklam commented on #7887
Updated GIF based on feedback from Audrey: https://redpen.io/ch9b625f2a07895ff7 Asset approved via slack.

[2021-11-22 16:43] beccaklam commented on #7887
Sent asset to alexander via slack thread.

[2021-11-22 17:51] Pomax opened #7915 "top banner follow up: add the "date lock""
otherwise the banner would show up the moment we do a prod push

[2021-11-22 19:39] fessehaye opened #7917 "UTM tracking for donation banner link"
Adding UTM tracking to donate button href

[2021-11-22 19:44] fessehaye opened #7918 "Manually build youtube regrets extension page"
- [x] Add to staging
- [x] Add to production
- [x] Add pagetype to campaigns

[2021-11-22 20:09] Pomax commented on #7771
[From Slack](https://mozilla.slack.com/archives/CCZGQC1T4/p1636045098002600?thread_ts=1636041695.000700&cid=CCZGQC1T4):

---

Karl:

[code]
Inheriting `TranslatableMixin.Meta` is not required here because CTA is a concrete model (it's only required when inheriting from an abstract model like `TranslatableMixin` itself)

The locale field gets added on to the first concrete model that inherits it, a

[2021-11-22 20:10] Pomax commented on #7771
Given Theo's testing of that PR, the conclusion so far is "it blows up".

[2021-11-22 20:10] fessehaye opened #7919 "Add lazy loading to PNI images on catalog page"
- [x] Add `loading="lazy"` to image/picture tags
- [x] ~~add JS to remove fixed width and heights after load to prevent layout shifts~~
- [x] ~~potentially use `intersectionobserver` to see how close to the viewport images are, and start loading them before they've scrolled into view~~

[2021-11-22 20:19] Pomax commented on #7651
Per slack, it was confirmed that this page will be archive, so I am closing this issue as no longer relevant.

[2021-11-22 20:19] #7651 closed

[2021-11-22 21:05] #7915 closed

[2021-11-22 21:06] Pomax commented on #7820
PR landed

[2021-11-22 21:06] #7820 closed

[2021-11-22 21:10] jamilasnell commented on #7559
Hey @richbrennan ! Is this still an 8? If not, can you please re-estimate? Thank you!

[2021-11-22 21:13] jamilasnell commented on #7288
Hey @richbrennan! Would you be willing to handle the wagtail version upgrades? Would be greatly appreciated! :)

[2021-11-22 21:14] jamilasnell commented on #7711
@Pomax will drop some knowledge on this ticket

[2021-11-22 21:16] jamilasnell commented on #7699
Don't think they need access to this now so I will close it but can re-open as needed!

[2021-11-22 21:16] #7699 closed

[2021-11-22 21:18] jamilasnell commented on #7789
@TheoChevalier Just checking in, is this something that you will be actioning on? Or is this something the other devs will do?

[2021-11-22 21:19] jamilasnell commented on #7702
Separate ticket has been created and this has been shipped!

[2021-11-22 21:19] #7702 closed

[2021-11-22 21:23] jamilasnell commented on #7662
Need to separate into two tickets: 1 for the investigation and the other for the implementation

[2021-11-22 21:29] jamilasnell commented on #7196
@kristinashu doesn't seem like the solution for this issue would make sense for the audience size of this problem. I think we should close this issue as it would take a large amount of resources to solve.

[2021-11-22 21:44] jamilasnell commented on #7878
This may be an accessibility issue. Do we have metrics that support us making external links open in a new tab? @kristinashu

[2021-11-22 21:45] jamilasnell commented on #7875
Is for the current iteration or for the next one? @kristinashu

[2021-11-22 21:48] jamilasnell commented on #7872
@kristinashu is this something that is needed for this iteration? Or can this be done at a later date this year?

[2021-11-22 21:53] kristinashu commented on #7872
Later is totally fine!

[2021-11-22 21:53] kristinashu commented on #7875
Later is fine! Although it does feel a little broken as is.

[2021-11-22 23:11] beccaklam commented on #7800
Updates to the homebase made, will post in youtube project channel for feedback from Brandi.

[2021-11-22 23:13] beccaklam opened #7920 "Make GIF for RegretsReporter Email"
Make GIF from this [video](https://www.dropbox.com/s/gdx2b0v4lo2q9w0/YT%20Mozilla%20Regrets%20Reporter%20-%2020211116%20V01.mp4?dl=0) for RegretsReporter email.

From Lindsay:

From Brandi:

[2021-11-22 23:17] beccaklam commented on #7920
First draft of GIF [here on the drive](https://drive.google.com/open?id=1BtIEyBQkzIfs-4zgd_tJm60XM_XX94Zd&authuser=rebeccal%40mozillafoundation.org&usp=drive_fs) and on [redpen](https://redpen.io/ch9b625f2a07895ff7) (look in chrome)

[2021-11-22 23:17] beccaklam commented on #7920
Updated GIF based on feedback from Audrey: https://redpen.io/ch9b625f2a07895ff7 Asset approved via slack.

[2021-11-22 23:17] beccaklam commented on #7920
Sent asset to alexander via slack thread.

[2021-11-22 23:18] #7920 closed

[2021-11-23 05:41] Pomax commented on #7711
Adding some details: in order to make sure that cypress doesn't automatically install when running `npm install` there is a separate command `npm run cypress:install` that installs cypress, with `npm run cypress` that's runs the server, waits for its port to be serviced, and then runs cypress's integration tests. However, this relied on being able to directly run `python manage runserver`, which n

[2021-11-23 14:20] richbrennan commented on #7559
I've put this down to a `1` for this sprint as there should hopefully only be a small change needed, depending on answer to outstanding question on PR.

[2021-11-23 15:00] richbrennan commented on #7288
- Update Wagtail to [2.15.1](https://docs.wagtail.io/en/stable/releases/2.15.html#upgrade-considerations)
- Dependabot PRs: Cypress has been basically impossible to use for local dev
- Make Cypress work for local dev

[2021-11-23 15:55] mattcfilbert commented on #7878
Definitely worth getting metrics. But if they support @kristinashu's suggestion then it is acceptable to open a link in a new tab, accessibility-wise.

While it can be disorienting without proper notification, it does not constitute an accessibility failure. (Especially if we are [following guidelines to notify users](https://codersblock.com/blog/external-links-new-tabs-and-accessibility/#im-doing

[2021-11-23 16:59] mattcfilbert commented on #7878
PS - @kristinashu to clarify, other than the product privacy section and the contest, it looks like the bulk of the external links are in the text of the Buyers Guide (and therefore should be editing of input data rather than anything hard coded). Was that your understanding as well?

[2021-11-23 18:17] kristinashu commented on #7878
@jamilasnell what type of metrics are you looking for? The hypothesis that Ben, Anna, and I had is that with the addition of so many new external links in the guide, our bounce rate will look higher because people will click on them and be navigated away from the site.

I looked at the bounce rate for the 7 days after launch last year 44.72% and then compared this to the last 7 days from this year

[2021-11-23 19:05] TheoChevalier opened #7923 "[PNI] Can’t browse some localized sub-categories"
Some PNI sub-categories are broken in non-EN locales when you click on them from a category page.

**Step 1**: Open https://foundation.mozilla.org/fr/privacynotincluded/categories/smart-home/
**Step 2**: Click on one of the sub-categories, for instance `Aspirateurs robots`
**Step 3**:  Try clicking on other sub-categories or categories, it won’t work

### Two issues:
- The filtering didn’t work (i

[2021-11-23 23:56] beccaklam opened #7926 "Custom URL for RegretsReporter video to redirect to RegretsReporter Landing Page"
Lindsay and team are asking for a custom URL: mozillafoundation.org/regretsreporter that will redirect to foundation.mozilla.org/youtube/regretsreporter. Work with engineers to see if we would be able to set that up for them. Lindsay also asked to make it so that even if someone types ‘RegretsReporter’ the link will still work.

[2021-11-23 23:57] beccaklam commented on #7926
Currently in a slack thread with Pomax and JenC to see if this work is possible. Waiting on Lindsay to see when the deadline for this work would be.

[2021-11-24 00:16] beccaklam commented on #7895
Briefed Daniel and Simon on the project, waiting to hear back from Brandi for a specific deadline but this work should be done before Dec 2.

[2021-11-24 00:18] beccaklam commented on #7898
Read through [this doc ](https://docs.google.com/document/d/1kgDVt376T_O8EkwVwX3oJNgLIDLRRf9Y3CnMQd5XqQA/edit?usp=sharing)today, waiting for access to the others.

[2021-11-24 00:21] jamilasnell opened #7928 "[Due 12/6] Setting DNS Records for 2022 MozFest Plaza"
This is a request from Marc.

"_Setting DNS records for the 2022 MozFest Plaza, ready for public sharing on Dec 8th. The subdomain is still TBC but should know by Nov 24, IP will be known in the next week or so._"

I unfortuntely don't have any further information than what he provided. However, I belileve that we did this for the MozFest team last year.

[2021-11-24 00:26] fessehaye commented on #7812
Checked on live and local and this seems to be not scrolling anymore!

[2021-11-24 00:26] #7812 closed

[2021-11-24 00:53] fessehaye commented on #7815
Looks like it is working properly on local and live

[2021-11-24 00:53] #7815 closed

[2021-11-24 08:14] #7923 closed

[2021-11-24 08:25] #7790 closed

[2021-11-24 15:24] richbrennan commented on #7288
Hi @Pomax

The Python-related Dependabot PR's are failing in CI due to incompatible requirements of `importlib-metadata`. It seems as though `flake8` has it [pinned](https://github.com/PyCQA/flake8/blob/6e5600f8ec3f98fd052bd532470297e0a360750e/setup.cfg#L45) to the older `<4.3` for Python < 3.8, whereas other packages are using a newer version.

- https://github.com/mozilla/foundation.mozilla.org/

[2021-11-24 16:06] richbrennan commented on #7288
Cannot update to Wagtail 2.15.1 until `wagtail-localize-git` is updated: https://github.com/wagtail/wagtail-localize-git/blob/main/setup.py#L51

[2021-11-24 16:51] KalobTaulien commented on #7730
It's a finicky package built on the notion of "what we have is what's in airtable" and if Airtable doesnt respond the save just fails.

It'd almost be better to create an Airtable action for a table that sends changed data to an endpoint on our side and create_or_update a page to reverse the work flow, and put Airtable first.

[2021-11-24 17:11] Pomax opened #7931 "Set up a redirect from mozillafoundation.org/regretsreporter to foundation.mozilla.org/youtube/regretsreporter"
This will require two steps:

- [x] Make sure the redirect from mozillafoundation.org to foundation.mozilla.org preserves paths and query args,
- [ ] Add a redirect in the CMS from `/regretsreporter` to the regretsreporter page once the final page has been put up and its internal page exists.

The mozillafoundation.org is an AWS based domain with a route53/cloudfront/s3 (originally set up by @jbuc

[2021-11-24 17:17] jbuck commented on #7931
Mozilla has a redirecting service called [refractr](https://github.com/mozilla-it/refractr/) that could be used to customize all of the redirects for mozillafoundation.org as you see fit - I'd recommend filing a bug in [jira](https://mozilla-hub.atlassian.net/jira/software/c/projects/SE/boards/292) to get that ball rolling on that

[2021-11-24 17:20] Pomax commented on #7931
corresponding jira ticket: https://mozilla-hub.atlassian.net/browse/SE-2915

[2021-11-24 17:39] richbrennan commented on #7288
@Pomax

Also, would you be able to confirm what `Donate/Thunderbird` in the first comment refers to please?

[2021-11-24 17:56] floatingatoll commented on #7931
corresponding PR from Jira ticket, both of which are now cancelled: mozilla-it/refractr#215

I helped MoFo trace this historically — it was last worked several years ago, and Websre has sufficient admin to be of use.

Coercing the current mozillafoundation.org redirect to preserve paths/args was the simplest solution to save migrating it twice. In the `mofo-secure` AWS account, access-managed by P

[2021-11-24 18:07] richbrennan commented on #7717
@jamilasnell @Pomax
This looks like one I could pick up

[2021-11-24 18:10] richbrennan commented on #7571
@jamilasnell @Pomax @kristinashu

Can we close this one if the page has been recreated using a different type?

[2021-11-24 18:13] richbrennan commented on #7644
@jamilasnell @Pomax

One I might be able to pick up?

[2021-11-24 18:14] richbrennan commented on #7644
@jamilasnell @Pomax

One I might be able to pick up?

[2021-11-24 18:16] kristinashu commented on #7571
Curious what @Pomax thinks? We solved for the original problem with a quick fix but do you think this will be a reoccurring issue we should fix - does this help clean up or complicate our code?

[2021-11-24 18:44] beccaklam commented on #7895
@danielfmiranda and @fessehaye Added one more redirect!

[2021-11-24 19:07] beccaklam opened #7932 "[YouTube Regrets] Add share link to RRELP"
Brandi has requested we add a share link to the RegretsReporter landing page. [Link to their share progress planning doc.](https://docs.google.com/document/d/1JhsK7pBIulWCkLtjZW_7hBh3EcZJB9wG8akSjYYS1yc/edit)

[2021-11-24 20:55] #7917 closed

[2021-11-24 20:55] #7778 closed

[2021-11-24 22:53] beccaklam opened #7934 "[YouTube Regrets] Set up utm tag functionality for RRELP"
Original request from Jesse:

[UTM doc](https://docs.google.com/spreadsheets/d/1ATOelG86XcbXJVyRDIbMKW0xuw-FICgwy99DbzuguJY/edit#gid=0) for RegretsReporter release

**Deadline:** Dec 1 but preferably by Nov 29

Briefed @danielfmiranda and @fessehaye on this issue. Opening up this ticket to track this work.

[2021-11-24 23:18] Pomax commented on #7069
Problem analysis:
- URL navigation works
- DOM content gets late-loaded in, changing the scroll position
- this happens fast enough to create a user experience corresponding to being navigated to the wrong place in the document

Possible solutions:
- force fragmentid navigation once the DOM is stable, _and_ less than X seconds have passed

However, this also kind of feels like a browser behaviour

[2021-11-24 23:33] Pomax commented on #7517
@TheoChevalier are there still pending steps for this one?

[2021-11-24 23:36] #7559 closed

[2021-11-24 23:37] Pomax opened #7935 "add `sync_locale_trees` to the review app release steps"

[2021-11-24 23:41] Pomax commented on #7935
https://devcenter.heroku.com/articles/github-integration-review-apps#configuration suggests that our https://github.com/mozilla/foundation.mozilla.org/blob/main/app.json would be the place to put instructions for review apps, and looking at https://github.com/mozilla/foundation.mozilla.org/blob/main/app.json#L48 it looks like we already have this covered?

[2021-11-24 23:46] Pomax commented on #7350
For the blog RSS work we discovered and used some functions that might be useful here:

https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/pagemodels/blog/blog.py#L4

https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/pagemodels/blog/blog.py#L17

[2021-11-24 23:52] Pomax commented on #7714
A lot of the mozfest work ended up using text sizes based on point sizes written directly into CSS classes, instead of using our styleguide type classes. For example, the `session-card` HTML has:

[code]

That last class is "use text at 22px sizing", and there are 24 instances of this being used in several places now. It would be good to say "let's not do this" and instead replace them with the ap

[2021-11-25 00:02] Pomax commented on #7282
@richbrennan  It sounds like this is something we might need to take to the wagtail team? If so, woudl you be willing to file an issue on the wagtail repo?

[2021-11-25 00:10] fessehaye commented on #7918
Page built on prod and staging

[2021-11-25 00:10] #7918 closed

[2021-11-25 00:22] Pomax commented on #7878
we can run with _blank targets and see if that increases engagement, If it doesn't though, I'd rather take them back out so that users can decide how to open links rather than our code forcing that issue (here, and any other place we are apparently using blank targets). I've landed the PR, so once that makes it to prod, we can start keeping an eye on the metrics.

[2021-11-25 00:23] Pomax commented on #7926
see https://github.com/mozilla/foundation.mozilla.org/issues/7931

[2021-11-25 00:27] Pomax commented on #7644
absolutely - this also combines well with the issue for not allowing categories to be saved if there is already a category with the same name.

[2021-11-25 00:27] Pomax commented on #7644
estimating this as a 4 (dev + review time) but feel free to adjust up or down.

[2021-11-25 00:29] Pomax commented on #7571
I'd like to mull this over for a bit to see what work (if any) Rich's findings suggest might be worth doing.

[2021-11-25 00:30] Pomax commented on #7895
note that we can't set up the redirect from https://foundation.mozilla.org/campaigns/regrets-reporter/ to https://foundation.mozilla.org/youtube/regretsreporter until the existing page on https://foundation.mozilla.org/campaigns/regrets-reporter has been unpublished (it doesn't need to be deleted, but it needs to no longer "claim" that URL)

[2021-11-25 00:34] Pomax commented on #7288
"Donate/Thunderbird" refers to the https://github.com/mozilla/donate-wagtail repo and its dependencies.

[2021-11-25 00:37] Pomax commented on #7288
I've filed https://github.com/wagtail/wagtail-localize-git/issues/16 to hopefully get wagtail-localize version bumped, so we can uplilft that and then get wagtail onto 2.15

[2021-11-25 00:40] Pomax commented on #7288
@richbrennan it might be a good idea to see if we uplift our python versions to 3.10 for the foundation and donate repos. We don't have an issue filed for that atm, but if you want to tackle that feel free to create one.

[2021-11-25 00:51] kristinashu commented on #7878
Thank you Pomax! I like the idea of doing this just as a test and not committing to it. I'll keep an eye on the analytics but have also added a reminder in my calendar to check them on Dec 7.

[2021-11-25 11:51] richbrennan commented on #7433
BE ticket: https://github.com/mozilla/foundation.mozilla.org/issues/7534

[2021-11-25 15:58] richbrennan commented on #7534
I'm not sure that the redirect is going work because it redirects the user as soon as the Tito order complete info is displayed in the widget, so they don't get the opportunity to view it. Someone with more JS knowledge might be able to come up with a way to redirect once the widget closes, but there isn't an official Tito callback that I can hook into to achieve this: https://ti.to/docs/api/widge

[2021-11-25 16:05] TheoChevalier commented on #7517
Nope, all good, thanks!

[2021-11-25 16:05] #7517 closed

[2021-11-25 16:19] kristinashu commented on #7714
Right, I would agree that we should replace them with the closest equivalent from our styleguide. However, there is a **chance** that a few of them are edge cases that will need to have overrides. When this work happens, @sabrinang should review the PR.

[2021-11-25 16:22] beccaklam commented on #7895
@kristinashu Do you have any insight as to when we should unpublish https://foundation.mozilla.org/campaigns/regrets-reporter? Is this something that should be done right before launch (to mitigate broken links before we want to be pointing people to the new extension page) or should we do it earlier?

[2021-11-25 16:28] richbrennan commented on #7435
I think this can be achieved if the correct fields are added to the Tito widget. There are callbacks we can hook into to send a request at the basket API: https://ti.to/docs/api/widget#tito-widget-v2-callbacks

[2021-11-25 16:41] richbrennan commented on #7288
Thanks Pomax. I might see if I can create a PR for the change to the `wagtail-localize-git` repo

[2021-11-25 16:48] kristinashu commented on #7895
I would say unpublish it once the new extension page is live - which I believe is Monday. We could think of Monday as the soft-launch and then Thursday, super early in the morning, as the full launch. I would tell Brandi that this is our plan and to flag if there are any concerns (like a press embargo?) about doing it on Monday. I am unsure how to coordinate it with the extension stores - do we ne

[2021-11-25 16:54] beccaklam opened #7939 "[YouTube Regrets] Update RRELP video once video is ready"
Currently we have a placeholder video on the RRELP. Devs will need to replace that video once the actual video is ready.

[2021-11-25 17:32] richbrennan opened #7940 "FE: Mozfest Tito Ticket purchase embed"
### Describe the feature request
The BE for the Tito Ticket widget has been completed but there are two outstanding issues that a FE dev might be able to help with:
1. The top of the widget is cut off due to the sticky nav at the top of the page
2. When a redirect page is added it redirects the user as soon as the Tito order complete info is displayed in the widget, so they don't get the opportuni

[2021-11-25 17:34] beccaklam opened #7941 "[YouTube Regrets] Fix "in September 2020" link on RRELP"
- [x] Change the link in the third paragraph on the new RegrestReporter landing page ("in September 2020") to point to https://foundation.mozilla.org/blog/mozilla-crowdsourcing-research-youtube-recommendations/.

**Deadline: Monday, Nov 29**

[2021-11-25 19:27] beccaklam commented on #7894
Set up tags and triggers in Google Tag Manager.

[2021-11-25 21:24] kristinashu commented on #7895
Based on slack convo - we're meeting with Brandi and Kevin on Monday morning to figure when we can launch this given there is a press embargo until the early morning of Thurs Dec 2. Our proposal is to move and redirect everything except for the extension page on Monday then the push the extension page live and unpublish the old one on Wednesday (I still think we should do it Wed not Thurs morning

[2021-11-25 23:22] beccaklam commented on #7932
Could we create a reusable share animation? Like this: https://codepen.io/romswellparian/pen/mJXdqV

[2021-11-25 23:39] beccaklam commented on #7932
Other benchmarks:
https://codepen.io/colorlib/pen/bYzgWV
https://codepen.io/tuckermassad/pen/jRmQvQ

[2021-11-26 00:06] sabrinang commented on #7896
- Lucie/Josine/Bas have reached out for review on style proposals for 2022, will review by early next week

[2021-11-26 00:17] beccaklam commented on #7932
First draft of designs in this [redpen](https://redpen.io/p/mc54e8d931a8fa3063).

[2021-11-26 00:20] beccaklam commented on #7932
Other animation benchmarks:
https://codepen.io/colorlib/pen/bYzgWV
https://codepen.io/tuckermassad/pen/jRmQvQ

[2021-11-26 18:09] beccaklam commented on #7898
Read through the rest of docs (Torchbox's proposals). Everything seems to make sense!

[2021-11-26 23:36] #7941 closed

[2021-11-29 10:43] marcwalsh commented on #7928
Hello! :)

We're going to use [schedule.mozillafestival.org](schedule.mozillafestival.org) subdomain again this year for the Plaza website, I'll have the IP address to point to in a day or so.

Is this the right repo for this, or should I open a new issue in [MozillaFoundation/mofo-devops](https://github.com/MozillaFoundation/mofo-devops)?

[2021-11-29 16:31] richbrennan opened #7953 "Update Python versions"
The Python-related Dependabot PR's are failing in CI due to incompatible requirements of importlib-metadata. It seems as though flake8 has it pinned to the older <4.3 for Python < 3.8, whereas other packages are using a newer version.

https://github.com/mozilla/foundation.mozilla.org/pull/7930
https://github.com/mozilla/foundation.mozilla.org/pull/7911
https://github.com/mozilla/foundation.mozill

[2021-11-29 18:29] #7934 closed

[2021-11-29 18:41] Pomax opened #7954 "Add Typeform as permitted blog streamfield component"
Specifically, we should allow the use of https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/pagemodels/customblocks/typeform_block.py on blog pages.

[2021-11-29 19:14] Pomax commented on #7711
- [ ] investigate https://stackoverflow.com/questions/59514234/viewing-the-interactive-cypress-test-runner-in-docker-on-linux

[2021-11-29 19:42] sabrinang commented on #7896
- Gave feedback and review for style proposals via email to Lucie/Josine/Bas

[2021-11-29 20:18] Pomax opened #7956 "add bot crawling rules to robots.txt"
We don't want something to hit up 10k links in the span of a minute =D

This will require updating the robots.txt generator in urls.py

[2021-11-29 20:26] Pomax opened #7957 "Make CSS building super duper fast"
We spend a substantial amount of the startup overhead in "waiting for the CSS to be finalized", so it would be a great if we can sit down and figure out how to rewrite our build tasks so that CSS happens:

- [ ] in parallel
- [ ] as early as possible
- [ ] as fast as possible

[2021-11-29 20:31] Pomax commented on #7711
I was able to uplift all our cypress dependencies and rewrite the node scripts so that `npm run cypress` (after `npm run cypress:install` runs the manual cypress UI locally against docker, while keeping `cypress:ci` the task we invoke for github CI. It does mean that cypress still has to be installed manually, but it's at least better than "it doesn't work at all".

[2021-11-29 20:58] #7833 closed

[2021-11-29 21:44] kristinashu commented on #4884
Closing this since News Beat is on longer publishing new content

[2021-11-29 21:44] #4884 closed

[2021-11-29 21:51] #4815 closed

[2021-11-29 21:55] #6300 closed

[2021-11-29 21:56] #6299 closed

[2021-11-29 21:57] #6298 closed

[2021-11-29 22:02] #6296 closed

[2021-11-29 22:04] kristinashu commented on #5499
Jonny is doing another round of testing. Closing this issue. We should open a new one when we re-do the homepage.

[2021-11-29 22:04] #5499 closed

[2021-11-29 22:08] kristinashu commented on #6472
w00t! Rebecca did this https://foundation.mozilla.org/en/docs/how-do-i-wagtail/page-types/ & https://foundation.mozilla.org/en/docs/how-do-i-wagtail/streamfield-blocks/

[2021-11-29 22:08] #6472 closed

[2021-11-29 22:10] #6877 closed

[2021-11-29 22:13] kristinashu commented on #7209
w00t this is done! https://foundation.mozilla.org/en/docs/how-do-i-wagtail/page-types/ & https://foundation.mozilla.org/en/docs/how-do-i-wagtail/streamfield-blocks/

[2021-11-29 22:13] #7209 closed

[2021-11-29 22:18] kristinashu commented on #7826
Hi @kailash360 are you still working on this?

[2021-11-29 22:24] kristinashu opened #7958 "[PNI] Design About pages that can be edited in the CMS"
Currently all the PNI about pages need a dev to update the copy. We should talk to devs about making these editable and then design the pages in a way that matches the rest of fo'mo.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/TP1-253)

[2021-11-29 22:25] kristinashu commented on #7958
@Pomax how much work will it be to make the PNI About pages editable in the CMS?

[2021-11-29 22:26] kristinashu commented on #6477
We would like to make all the About pages CMS editable https://github.com/mozilla/foundation.mozilla.org/issues/7958 - is this work blocking that?

[2021-11-29 22:35] Pomax commented on #7711
Cypress has changed a lot between v6 and v8, so for local image testing I've added https://github.com/uktrade/cypress-image-diff as image diffing "backend".

[2021-11-29 22:59] Pomax commented on #7711
It looks like the screenshooting is based on "Scrolling the page" which is 100% useless in our case due to `sticky` and `fixed` CSS, so back to the drawing board...

[2021-11-29 23:13] #7787 closed

[2021-11-29 23:32] Pomax commented on #7711
https://docs.cypress.io/plugins/directory#visual-testing

[2021-11-30 00:13] #7956 closed

[2021-11-30 14:09] Witty-Kitty commented on #7396
Are there any updates on this request? Is it still pending?

[2021-11-30 14:51] TheoChevalier opened #7963 "[PNI] Migrate About page translations"
#7958 will move the content from templates to Wagtail, we should sync these tasks and plan ~ half a day to manually migrate all translations in French, German & Spanish.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/TP1-254)

[2021-11-30 14:55] TheoChevalier commented on #7958
@kristinashu  I’ve filed #7963 to handle the translation migration work, so we can coordinate those tasks

[2021-11-30 16:53] beccaklam opened #7964 "Add share image and customized text to RRELP"
Placeholder ticket to add share image and customized text to the new RegretsReporter landing page.

[2021-11-30 17:23] richbrennan commented on #7935
According to Tom U (if I've understood him correctly) the app.json config is set when the review app is created, but not on any further changes. This would explain why on new review apps (from unrelated PRs) the new locale pages are present.

[2021-11-30 18:18] beccaklam commented on #7964
Will try the cms share image first, if it works remind @fessehaye that he may need to update localized versions.

[2021-11-30 18:29] richbrennan commented on #7435
Hi,

Can I just confirm the newsletter signup checkbox would be part of the Tito form?

[2021-11-30 18:30] beccaklam commented on #7939
Hi @danielfmiranda here is the link to the new youtube video for the YouTube RegretsReporter landing page. Note: The link won't go live until 4am EST on Dec 2nd but I think you can swap it in before then?

[2021-11-30 19:07] beccaklam commented on #7895
Sorry @fessehaye but we need one more redirect it should be: foundation.mozilla.org/regretsreporter/ to foundation.mozilla.org/youtube/regretsreporter/ I'll also add it to the list above.

[2021-11-30 19:46] beccaklam commented on #7964
For now I'm thinking we can use the share image and text that we used for the old extension.
Image: https://assets.mofoprod.net/network/images/extension-icon.original.png
Text: The RegretsReporter browser extension, built by the nonprofit Mozilla, lets you flag regrettable recommendations on YouTube.
@fessehaye

[2021-11-30 23:43] beccaklam commented on #7964
@fessehaye Updated the text above based on Lindsay's comment in slack.

[2021-12-01 00:51] danielfmiranda opened #7968 "Update UTM Parameters for RegretsReporter download/email buttons"
The desired workflow for these buttons is that if there are no utm parameters, for example if someone visits the page on their own, we will have some default UTM parameters appended to the links for the download and email buttons.

However, if someone visits the page from one of the marketing efforts such as twitter/email/etc we want the UTM parameters to get appended to the same buttons, that way

[2021-12-01 02:23] #7968 closed

[2021-12-01 11:34] marcwalsh commented on #7928
Thanks @tomusher the IP is `134.209.136.114`

Also just looping in @robb-j  the developer from Open Lab who is building the Plaza so he knows when it's complete.

[2021-12-01 11:38] tomusher commented on #7928
Great, I've updated that record.

[2021-12-01 12:52] richbrennan commented on #7288
Draft PR for Donate to Wagtail 2.15.1: https://github.com/mozilla/donate-wagtail/pull/1591

Draft PR for foundation site to Wagtail 2.15.1: https://github.com/mozilla/foundation.mozilla.org/pull/7970

[2021-12-01 12:53] richbrennan commented on #7288
Blocked until a new version of `wagtail-localize-git` is released. I've updated it to support Wagtail 2.15 and Python 3.10, so just waiting on a new code release.

[2021-12-01 13:53] fessehaye commented on #7964
https://foundation.mozilla.org/en/youtube/regretsreporter/

[2021-12-01 14:18] richbrennan commented on #7288
Dependabot updates dependent on: #7953

[2021-12-01 14:30] beccaklam commented on #7964
Brandi updated the texrt this morning so we will need a dev to fix this.

[2021-12-01 15:18] richbrennan commented on #7282
I've updated the existing Wagtail issue with the above, and will ask around to see if anyone is looking into it.

[2021-12-01 16:20] beccaklam commented on #7964
Text should be: The RegretsReporter browser extension, built by the non-profit Mozilla, ~lets you block~ helps you reject harmful YouTube recommendations.

[2021-12-01 18:19] beccaklam commented on #7964
Updated the text via the CMS and Theo is syncing the translations!

[2021-12-01 18:19] #7964 closed

[2021-12-01 19:47] marcwalsh commented on #7435
@richbrennan - there will be a question Tito that we’re using for that checkbox - you can see them in the callback for on:registration:finished under tickets > answers. We’re just confirming the question and answer and will let you know once we have it (unless it will be configurable from the CMS)

[2021-12-01 21:04] danielfmiranda commented on #7939
Merging this into staging so we can have it ready for the next prod push

[2021-12-01 21:14] #7953 closed

[2021-12-01 22:44] danielfmiranda commented on #7350
Hi Everyone, I have tested this issue and it appears that the code that @Pomax linked above has resolved this. For example:

here is a screenshot of what the meta description looks like when I did not have anything set:
![MetaWithNoneSet.png](https://images.zenhubusercontent.com/6046b7f1bc36adc9ce95a16a/dc2bc072-a38d-4d99-b29c-ffda71ce9915)

[2021-12-01 22:52] #7350 closed

[2021-12-01 23:07] #7939 closed

[2021-12-02 16:14] beccaklam opened #7972 "[YouTube Regrets] Reivew Implementation of Share Button on RRELP"
Once design is finalized (#7932), loop in engineering to implement share buttons.
- [x] Kick-off meeting with developer to give context and go over designs
- [x] Review PR

[2021-12-02 16:18] beccaklam opened #7973 "[Research Hub] Review design work from Torchbox"
Placeholder ticket to review any TB design work from the Research Hub project.

[2021-12-02 16:22] beccaklam opened #7974 "[Donate Stack] Review Donate stack paypal loading page design/animation"
Once design is finalized (ticket) and engineering has capacity:
- [ ] Kick-off meeting with developer to give context and go over designs for the loading page animation
- [ ] Review PR

[2021-12-02 16:28] beccaklam commented on #7974
Oops realized I made this ticket in the wrong repo so I'm closing this and opening another ticket in the right one.

[2021-12-02 16:28] #7974 closed

[2021-12-02 16:31] beccaklam commented on #7894
This is done and just waiting for someone with more Google tag experience to review and deploy.

[2021-12-02 16:32] beccaklam commented on #7898
Haven't heard from Torchbox for any design review just yet so closing this ticket for this sprint!

[2021-12-02 16:32] #7898 closed

[2021-12-02 16:37] marcwalsh commented on #7435
Confirming the wording for the question that should appear in answers:

The question is:
`Check the box below to be added to our Mozilla Festival list and be the first to know about the latest news and updates from the festival. You'll also be joining our Mozilla news list to stay informed in the fight for a better internet for all.`

The answer they would need to check for us to opt them in is:
`

[2021-12-02 18:32] beccaklam commented on #7932
Showed designs at crit and this looks good to move on to implementation! Note: Daniel mentioned there might have been an animation library added to the foundation site earlier this year, so maybe this animation can be found there!

[2021-12-02 18:32] #7932 closed

[2021-12-02 19:08] #7615 closed

[2021-12-02 20:59] sabrinang opened #7976 "[MozFest] Design support and review cont. VI"
Continuation of #7896

- Website PR design review support for MozFest 2021 TBX Milestone: https://github.com/mozilla/foundation.mozilla.org/milestone/77 (Community Directory & TiTo Widget reviews?)
- Lucie mentioned first schedule going live on Dec 8th (which is why they needed design styles reviewed last sprint) so possibly feedback/review for corresponding design assets?

[2021-12-02 21:12] marcwalsh commented on #7928
Thanks Tom, this seems to be working. I'll close this out for now

[2021-12-02 21:12] #7928 closed

[2021-12-02 21:55] natewrench opened #7978 "Mozilla dinosaur mascot"
Hi I was wondering if Mozilla foundation owns the original Mozilla mascot the dinosaur one from Netscape or has it been retired all together and replaced with the Firefox like logo I don't know if it still lives on in any capacity I even know if the mascot is at the Mozilla foundation anyway since it was brought over from Netscape I was just curious I just was wondering if if Mozilla ever changes

[2021-12-03 01:54] #7534 closed

[2021-12-03 10:17] richbrennan opened #7980 "Update Foundation site to Wagtail 2.15.1"
Spun off from #7288

PR for Foundation site to Wagtail 2.15.1: https://github.com/mozilla/foundation.mozilla.org/pull/7970

[2021-12-03 11:05] richbrennan commented on #7288
I've reviewed and tested the following Foundation site BE Dependabot PRs, they just need to be merged:

- https://github.com/mozilla/foundation.mozilla.org/pull/7952

- https://github.com/mozilla/foundation.mozilla.org/pull/7951

[2021-12-03 11:07] richbrennan commented on #7288
The BE Donate site Dependabot PRs are quite old and are flagging merge conflicts in requirements files.

Suggest we revisit them once the Donate site Wagtail update has been completed: https://github.com/mozilla/donate-wagtail/issues/1593

[2021-12-03 14:01] richbrennan commented on #7435
I haven't been able to locate the answer to the relevant question in the `data` object that gets passed to the `on:registration:finished` callback (see screenshot). This is because the questions are asked after the callback is run, when the user assigns tickets. I think assigning tickets would lead to a `complete` status, but there isn't a callback for that in the documentation: https://ti.to/docs

[2021-12-03 20:37] sabrinang opened #7981 "[Fundraising] Update donation top banner to DearInternet style (live date: Dec 20)"
We want to update the year-end fundraising banner to have [DearInternet](https://foundation.mozilla.org/en/campaigns/dearinternet/) visuals to align with the EOY email push.

The planned dates to go live are December 20-31, 2021.

Design Files:
- [figma mockup](https://www.figma.com/file/2TK8tXeDIiLC67TMdbMIcO/?node-id=115%3A271)
- [background image file](https://drive.google.com/open?id=1W92ljfva

[2021-12-03 21:15] danielfmiranda commented on #7069
After further research I am seeing that this behavior can only be reproduced on Chrome/Safari and not firefox.

For example on FF when I get click on  https://www.mozillafestival.org/en/on-demand/previous-festivals/ both with and without the #mozfest-2019-healthy-ai appended, it appears to render in the correct location even after the content is loaded in:

![image.png](https://images.zenhubuserco

[2021-12-03 21:31] a-zim commented on #7435
Greetings - are we looking for the newsletter slug here?  If so: `mozilla-festival`

[2021-12-03 22:00] kristinashu commented on #7887
I'm pretty sure you did these!

[2021-12-03 22:00] #7887 closed

[2021-12-03 22:02] sabrinang commented on #7896
- https://github.com/mozilla/foundation.mozilla.org/pull/7603 has inactive deployment issue so Daniel mentioned it will have to wait until Monday to get it resolved before I can review
- reviewed app header image and icons [redpen](https://redpen.io/p/mjf473533ba14af434) for Lucie/Bas and replied via mozfest slack channel

[2021-12-03 22:16] kristinashu opened #7982 "[PNI] Case study and summary of metrics"
[placeholder]

[2021-12-03 22:24] kristinashu commented on #7896
Thanks Sabs! I see you opened a ticket for next sprint https://github.com/mozilla/foundation.mozilla.org/issues/7976, is this one good to close?

[2021-12-03 22:43] danielfmiranda commented on #7069
After discussing with Simon he brought up that since these items are react components, it could be possible to have a scrollTo function set up so when the component is updated, we take whatever anchor link is in the URL and scroll there.

I think this sounds like a possible solution, however since we have multiple items on the same page I am curios how the behavior will appear to the user.

Going

[2021-12-03 23:16] sabrinang commented on #7896
Yes, will continue in #7976 — closing!

[2021-12-03 23:16] #7896 closed

[2021-12-06 10:52] marcwalsh commented on #7435
@richbrennan I heard back from TiTo this morning and it appears that it's not possible to get the answers using on:registration:finished.

They have suggested looking into the ticket.completed [webhook](https://ti.to/docs/api/admin#webhooks-triggers) as a potential alternative.

[2021-12-06 12:03] richbrennan commented on #7644
Had planned to look at this today but have been assigned to MozFest work

[2021-12-06 12:56] richbrennan commented on #7435
Thanks Marc.

We can't use the JavaScript solution with the web hook, we'll need a new Django view that receives the [ticket payload](https://ti.to/docs/api/admin#webhooks-payloads) from Tito, [verifies it](https://ti.to/docs/api/admin#webhooks-verifying-the-payload) and then sends a POST request to the [Basket API](https://basket.readthedocs.io/newsletter_api.html#news-subscribe).

Fortunately th

[2021-12-06 19:07] #7897 closed

[2021-12-06 19:14] danielfmiranda opened #7985 "Youtube RR Landing page share buttons"
### Describe the feature request
We would like to add share buttons underneath the download or send email reminder buttons.

These are requested to animate from the side when the user clicks the "share" button.

Since we are using GSAP for animations on pages such as youtube regrets 2021. Maybe we can use that here as well? Link to docs: https://greensock.com/docs/

### Screenshots / mock-ups
TODO

[2021-12-06 19:15] fessehaye opened #7986 "Move product-tab to own wagtail component"
Give tab used in product detail pages of PNI a separate wagtail template

[2021-12-06 19:17] beccaklam opened #7987 "[Miscelaneous] Create Marketing Assets Spreadsheet"
Create a master spreadsheet we can use during the intake process for marketing or other graphic assets.

[2021-12-06 19:17] fessehaye opened #7988 "Refactor search.js"
- [x] add tests that cover the search system
- [x] change to JS class
- [x]  refactor functions

"cleanup" (consolidation and optimization) to be tracked in https://github.com/mozilla/foundation.mozilla.org/issues/8015

[2021-12-06 19:22] #7919 closed

[2021-12-06 21:15] sabrinang commented on #7976
- review social media promotions https://redpen.io/p/ay9f1ceb796be5f28d and replied slack

[2021-12-07 00:04] danielfmiranda commented on #7196
Spoke to Kristina and am closing the issue!

[2021-12-07 00:04] #7196 closed

[2021-12-07 00:19] danielfmiranda opened #7989 "Implement / Update Google Tag Manager"
The design team has set up some tags on google tag manager, which need to be reviewed and deployed to actually start working.
They can be found at this link: https://tagmanager.google.com/#/container/accounts/6002697367/containers/36502666/workspaces/5

However, someone needs the appropriate permissions to deploy these. I believe at the moment the 2 people who have permissions are Ben and Pomax.

[2021-12-07 10:01] TheoChevalier opened #7991 "Autofilled related posts are picking translated pages"
STR:
- Edit a blog post
- Make sure only one "related post" is picked, with two empty slots
- Hit save

→ Edit the page again, the two empty slots are now (likely) filled with translated pages.

![image(3)](https://user-images.githubusercontent.com/1294206/145008143-4a0c658c-5188-4929-b528-381b369ab864.png)

[2021-12-07 18:34] sabrinang commented on #7976
- Bas's social media assets exports: https://drive.google.com/drive/folders/1f4mAGGSeCixAU4CXa4JPL_WWQyZk-bJp?usp=sharing
- follow up with Daniel re: Community Directory deployment

[2021-12-07 18:58] kristinashu commented on #7878
Thank you for the PR on this. It looks like now a lot of the external links are opening in new tabs, however not all of them are.

Is it possible to make links in the rich text fields open in an external window as well?

For metrics so far, it seems like the links are already helping. I compared both our last 7 days vs the same 7 day period last year which showed improvements for both bounce rate

[2021-12-07 23:50] nancyt1 commented on #7982
Started a [brain dump doc](https://docs.google.com/document/d/1DDwWOUbarpfvQ8nwuBKk8_GfsvVrWx9ZxgQjnQhix78/edit#) and outlined how a deck or blog post could be organized + all the changes we made for PNI this year.

[2021-12-07 23:58] beccaklam opened #7992 "Add Blog and Article Specific Streamfield Blocks to How Do I Wagtail"
Sabrina mentioned in #7586 that some Blog and Article specific streamfield blocks are missing from the [Streamfield Blocks page](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/streamfield-blocks/). When time allows, add these blocks and update the [Page Types](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/page-types/) and [Streamfield Blocks](https://foundation.mozilla.org/en/do

[2021-12-08 00:03] beccaklam commented on #7586
Made some changes based on feedback:
- Added suggested edits from Sabrina but will hold off on adding the blog and article specific streamfield blocks
- Added which streamfield blocks are supported on each Page Type per Pomax's comment (decided against doing the reverse on the streamfield block page because I felt it would be difficult to keep up to date and the information seemed a bit repetitive

[2021-12-08 00:03] #7586 closed

[2021-12-08 00:14] beccaklam opened #7993 "Old EN RRELP not redirecting to new RRELP"
### Describe the bug
When you go to https://foundation.mozilla.org/en/campaigns/regrets-reporter/ the redirect to https://foundation.mozilla.org/youtube/regretsreporter/ does not work. If you take out /en/ though, it does redirect. Any idea on why and how we can fix this?

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org/en/campaigns/regrets-reporter/
2. Se

[2021-12-08 05:24] #7874 closed

[2021-12-08 17:08] richbrennan commented on #7644
@Pomax

What would be a suitable limit to how deeply they can be nested?

[2021-12-08 17:53] #7435 closed

[2021-12-08 18:30] sabrinang commented on #7976
- TAI space icon feedback for Lucie

[2021-12-08 20:35] TheoChevalier commented on #7993
Hm, it works here…
@beccaklam This may be cache related? Could you try in another browser maybe?

[2021-12-08 21:04] sabrinang commented on #7982
Met with Nancy and made good progress on discussing scope and building out the outline

[2021-12-08 22:20] beccaklam commented on #7993
Hi @TheoChevalier, after I opened this ticket Kristina mentioned that I may need to unpublish the /campaigns page in order for the redirect to work. It seems like it is working now, so I will close this ticket!

[2021-12-08 22:20] #7993 closed

[2021-12-09 01:34] #7717 closed

[2021-12-09 12:33] richbrennan opened #7996 "BE: Use structured approach for Mozfest Event JSON-LD Data"
The `structured_data` field [added](https://github.com/mozilla/foundation.mozilla.org/pull/7568) to the Promote tab of the Mozfest Primary page is a text field that is marked safe in the template. This isn't ideal because:

- Its a security risk. The data can be [crafted](https://github.com/json-ld/json-ld.org/issues/390) in a way that arbitrary JS can be run, note the `<script>` tag in the follow

[2021-12-09 18:50] kristinashu opened #7998 "Update layout of the homepage news you can use feature"
Flagged my Anna in slack.

Note that the graphic is pulling from the OG image.

Examples for the issue:

![image](https://user-images.githubusercontent.com/1068783/145455949-46e81b10-ceb8-421b-a513-f4a74885e481.png)

![image](https://user-images.githubusercontent.com/1068783/145455967-7a028629-7ad2-4b52-b84f-b5f16079104a.png)

![image](https://user-images.githubusercontent.com/1068783/145455990-de

[2021-12-09 18:53] kristinashu commented on #7998
via crit:
- An issue in pulse as well
- Visually interesting but obscures images
- Anna curates homepage content
- Image is pulled from share image

Layout ideas:
- Change proportion of cutout, not overlap image but color
- Change alignment options (left, right etc so editors have a choice)
- Remove or reduce cutout (make it easier for editors, accessibility) +1
- Use cutout style elsewhere that d

[2021-12-09 19:22] Pomax commented on #7878
If we want universal new-tab link behaviour from the rich text streamfield component, we should file a separate issue for that, as that would affect every page in the CMS and will require some wagtail investigating.

But it sounds like we can close this issue as "this had a positive effect"?

[2021-12-09 20:34] kristinashu opened #8000 "Allow explicitly setting a page's navbar label (rather than using the page title)"
### Describe the feature request
via marcwalsh in Slack

![](https://user-images.githubusercontent.com/1068783/145471498-83ca266b-132c-4dd4-82ca-6694dd736a88.png)

### Additional context
Since this update would affect the entire website, design & devs should look into what the best practices and decide from there.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/brow

[2021-12-09 21:46] #6828 closed

[2021-12-09 22:59] nancyt1 commented on #7982
Started a [slide deck](https://docs.google.com/presentation/d/1Qd51XgZK4Sqs4GqN6ZHVFVf0WNfREH9dy7WkyFLjvUQ/edit?usp=sharing) and populated it with text from the outline

[2021-12-10 00:34] #7069 closed

[2021-12-10 17:51] beccaklam commented on #7987
First draft of spreadsheet [here](https://docs.google.com/spreadsheets/d/1hJXpWKzli8QmP6gbm_PRV3jWIBeEf6p8j4shPHd_PR8/edit?usp=sharing)!

[2021-12-10 18:25] beccaklam commented on #7926
This was possible to do but in the end we decided not to go this route because we didn't want to set a precedent other than using our true URL which is foundation.mozilla.org.

[2021-12-10 18:25] #7926 closed

[2021-12-10 18:25] #7789 closed

[2021-12-10 18:45] kristinashu opened #8002 "Update rich text streamfield blocks to open external links in a new tab"
Follow up from - [PNI] Make external links open in a new tab #7878

We've started testing to see if opening external links in a new tab affects our analytics around bounce rate and sessions in a positive way. tl;dr is yes so we've have decided to expand this to include universal new-tab link behaviour from the rich text streamfield component in order to update this across the entire CMS.

- [x] Al

[2021-12-10 18:46] kristinashu commented on #7878
I've opened a new ticket for this https://github.com/mozilla/foundation.mozilla.org/issues/8002 and will close this one!

[2021-12-10 18:46] #7878 closed

[2021-12-10 18:48] beccaklam commented on #7973
https://docs.google.com/document/d/103X3z8rf8HfByoHkC83E7DAi4UVygYBbHxJAcys0074/edit <-- internal feedback doc from Kasia

[2021-12-10 18:48] #7785 closed

[2021-12-10 20:59] mattcfilbert commented on #8002
I don't have the full context, but is there an easy way to manually update the links in the rich text?

If not, may be worth looking into leveraging [an HTML serializer like this one](https://prismic.io/docs/core-concepts/html-serializer) to automatically add the `target="_blank"` attribute to each link.

[2021-12-10 22:19] sabrinang commented on #7976
- Review and feedback on [redpen](https://redpen.io/p/wr6a994ccd88c5ade0) for Zoom Backgrounds
- Review and feedback on [redpen](https://redpen.io/ak81de53a92a362a37) for TAI icon

[2021-12-13 15:13] richbrennan commented on #7940
These have been fixed

[2021-12-13 15:13] #7940 closed

[2021-12-13 17:20] #7980 closed

[2021-12-13 18:58] beccaklam commented on #7992
Missing blocks for Blog:
- [ ] Audio
- [ ] Looping video

Missing blocks for Article:
- [ ] Callout
- [ ] 2x Images
- [ ] Wide Image
- [ ] Advanced Table

[2021-12-13 20:49] sabrinang commented on #7976
- approve zoom background revisions
- follow up slack re: community directory

[2021-12-13 21:15] #7711 closed

[2021-12-13 21:45] #7756 closed

[2021-12-14 16:03] richbrennan opened #8009 "Tito widget Basket newsletter signup improvements"
The [webhook](https://github.com/mozilla/foundation.mozilla.org/pull/7984) that signs Tito widget users up to the newsletter needs the following improvements:

- [x] Update documentation/READMEs
- [x] Add unit tests
- [x] Remove the `tito.js` [file](https://github.com/mozilla/foundation.mozilla.org/pull/7938/files) from the previous iteration
- [x] Add error handling/logging for the Basket API cal

[2021-12-14 18:20] kristinashu commented on #7985
@beccaklam could you please update this ticket with the Shareprogress info/requirements?

[2021-12-14 19:46] beccaklam commented on #7985
These share buttons will need to use share progress codes. The content is [here](https://docs.google.com/document/d/1JhsK7pBIulWCkLtjZW_7hBh3EcZJB9wG8akSjYYS1yc/edit?usp=sharing). I'm working on logging into share progress so I can generate the codes.

[2021-12-14 22:23] kailash360 commented on #7826
@kristinashu
It would be good  if someone else can take up this issue.

[2021-12-14 23:31] jamilasnell opened #8011 "Changing Language on Donate Page"
We have a request to change language on the donate page. "Bitcoin" is listed in the "in the other ways to give" section.

That page links to a mana page and then eventually a form. We need to update the language on all these pages to show that we accept a diversity of crypto currencies through Bitpay (not just Bitcoins). Ideally, we'd simply add the BitPay button next to the PayPal button.

![imag

[2021-12-14 23:43] kristinashu commented on #7826
Ok, thank you for letting us know.

[2021-12-15 00:06] beccaklam commented on #7985
Twitter share progress code: <div class='sp_221637 sp_tw_large' ></div>
Facebook share progress code: <div class='sp_221639 sp_fb_large' ></div>

[2021-12-15 00:19] beccaklam commented on #7985
@danielfmiranda I believe you need to add this code to the head section of the HTML of the RegretsReporter landing page in order for the share progress buttons to work?
![Screen Shot 2021-12-14 at 4 18 07 PM](https://user-images.githubusercontent.com/20977376/146099916-7d128626-77a6-4b0d-a69a-d12d55b203d9.png)

[2021-12-15 14:29] richbrennan opened #8013 "MozFest: Add support for multiple Tito events"
Each Tito event has its own webhook API key and newsletter sign-up question ID (currently set in environment variables `TITO_SECURITY_TOKEN` and `TITO_NEWSLETTER_QUESTION_ID`). As these are currently global in the Mozilla site only one Tito event can be supported at a time.

Suggest creating a new Event snippet to store the event slug (currently set on the Tito widget block), API key and newslette

[2021-12-15 14:31] richbrennan commented on #8009
Support for multiple events is now its own ticket: https://github.com/mozilla/foundation.mozilla.org/issues/8013

[2021-12-15 15:48] navyagarwal commented on #7998
Hey! Can I try to solve this issue, I am trying to start out with open source, and this looks like something I could do...I am not sure if this is the right protocol to follow tho...any insights are much appreciated

[2021-12-15 16:19] kristinashu commented on #7431
Is this good to close?

[2021-12-15 16:20] kristinashu commented on #7425
Is this good to close?

[2021-12-15 16:22] kristinashu commented on #7430
Is this good to close?

[2021-12-15 16:23] kristinashu commented on #7433
Is this good to close?

[2021-12-15 16:26] kristinashu commented on #7504
Closing this ticket since it doesn't really seem like it's being used.

[2021-12-15 16:26] #7504 closed

[2021-12-15 16:28] kristinashu commented on #7466
Can this please be done before the end of this year?

[2021-12-15 16:59] kristinashu commented on #7998
Hi @navyagarwal, thank you so much for your interest in helping us with this. This ticket will first need one of our designer to mock up the designs before any code can begin. Also, unfortunately, we currently don't have the capacity to onboard new people or to run them through the code and do PR reviews.

[2021-12-15 17:10] beccaklam commented on #7992
Since the Article Page Type specific blocks are outlined on [Publications](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/publications/) I've decided not to add them to the Streamfield Blocks page for now.

[2021-12-15 17:11] beccaklam commented on #7992
Also, since we don't have a page using the looping video block I've decided to also not add that to the Streamfield Blocks page for now! Closing this ticket and will update accordingly.

[2021-12-15 17:14] beccaklam commented on #7992
Actually, going to leave this open, if I have time this sprint might make an airtable to show which streamfield blocks are available on which page type.

[2021-12-15 17:24] Pomax commented on #7644
For now, given that we're only using single-parent, let's just go with one level deep and then if we need deeper in the future and everyone's signed off on that need, we can update this code.

[2021-12-15 17:28] #7644 closed

[2021-12-15 17:56] stevedya commented on #7430
Yep as far as I know this is merged and should be okay to close 😊

[2021-12-15 17:56] stevedya commented on #7425
Yep as far as I know this is merged and should be okay to close 😊

[2021-12-15 17:57] #7981 closed

[2021-12-15 18:03] kristinashu commented on #7425
yay!

[2021-12-15 18:03] #7425 closed

[2021-12-15 18:03] kristinashu commented on #7430
ty!

[2021-12-15 18:03] #7430 closed

[2021-12-15 18:37] jessedward commented on #8011
When we have more time, adding the bitpay payment mark (https://brand.bitpay.com/7b6hnbyxw/p/76b712-payment-mark/b/600f40), similar to PayPal, will be most helpful in securing more cryptocurrency donations. In the meantime, I'd like the text that says "Bitcoin" in the "other ways to give" section to say "bitpay (cryptocurrencies)". And instead of linking to the mana page, it should like directly t

[2021-12-15 20:02] #7830 closed

[2021-12-15 21:05] Pomax commented on #8011
I'll form a PR to update that term and the link in the mean time.

[2021-12-15 21:11] Pomax commented on #8011
Note that there is also the "Bitcoin" section at the bottom on https://donate.mozilla.org/en-US/ways-to-give, and it looks like the FAQ page is a normal CMS page that staff can update themselves, mentioning bitcoin a several places.

[2021-12-15 21:17] Pomax commented on #8011
Issue moved to [mozilla/donate-wagtail #1603](https://github.com/mozilla/donate-wagtail/issues/1603) via [**ZenHub**](https://www.zenhub.com/)

[2021-12-15 21:17] Pomax commented on #8011
I have moved this issue to the donate repository.

[2021-12-15 21:21] Pomax opened #8015 "PNI - Clean up search filter code"
Follow-up to https://github.com/mozilla/foundation.mozilla.org/issues/7988

With the refactor complete, we should consolidate/optimize the search filter code as much as possible.

## Dev tasks:
* [ ] Consolidate mobile and desktop
* [ ] Renaming

(to be groomed after the team has the opp to discuss and agree on approach)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.n

[2021-12-15 21:22] Pomax opened #8016 "add integration testing CI task"
Now that we have some integration testing available through `npm run playwright`, we should add integration testing to the CI suite as well.

(note: we already run playwright for percy testing, but this is purely URL-resolution and screenshots, rather than the integration tests found in `integration.spec.js`)

[2021-12-15 22:46] #7985 closed

[2021-12-15 23:00] #7421 closed

[2021-12-15 23:31] #7988 closed

[2021-12-15 23:48] beccaklam opened #8017 "Add (almost) streamfield blocks to Page Types where they are missing"
Currently, [not all streamfield blocks are available on all Page Types](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/streamfield-blocks/). This is mostly because at the time we did not feel it was pertinent to take the extra step to add them to new Page Types. With more staff creating pages, however, now feels like a good time to make all streamfield blocks available on all Page Types.

[2021-12-15 23:52] #7972 closed

[2021-12-15 23:52] #7973 closed

[2021-12-15 23:52] beccaklam commented on #7987
This seems done for now!

[2021-12-15 23:52] #7987 closed

[2021-12-15 23:54] beccaklam commented on #7992
Closing this ticket and opened #8017 to see if we can resolve the confusion around not all Streamfield Blocks being available on all Page Types.

[2021-12-15 23:54] #7992 closed

[2021-12-16 00:54] #7986 closed

[2021-12-16 03:58] navyagarwal commented on #7998
Hi @kristinashu ! Thank you so much for the reply, I will look for some other projects :)

[2021-12-16 11:33] richbrennan commented on #7433
Yep, closing as the BE and FE work has been completed

[2021-12-16 11:33] #7433 closed

[2021-12-16 12:12] richbrennan commented on #7466
@wilhitem See above

[2021-12-16 12:53] richbrennan commented on #7431
Closing as this has been merged and deployed, and is in use

[2021-12-16 12:53] #7431 closed

[2021-12-16 12:54] richbrennan commented on #7429
Closing as this has been merged and deployed, and is in use

[2021-12-16 12:54] #7429 closed

[2021-12-16 12:58] richbrennan commented on #7417
Closing as both PRs related to this issue have been merged

[2021-12-16 12:58] #7417 closed

[2021-12-16 12:58] richbrennan commented on #7422
Closing as both PRs related to this issue have been merged

[2021-12-16 12:58] #7422 closed

[2021-12-16 13:07] richbrennan commented on #7883
Hey @marcwalsh

Are you able to advise which fields to keep for which view, see previous comment?

[2021-12-16 13:23] richbrennan commented on #7282
Fix in progress https://github.com/wagtail/wagtail/pull/7788

[2021-12-16 16:47] kristinashu opened #8019 "Determine which MozFest blocks to add to the main site"
Torchbox and designed and built a few new blocks for the mozfest site including new carousel like sliders and a directory. Design should decide if we want devs to add these new blocks to the main fo'mo site as well.

### Todo
- [x] Determine which blocks are on the mozfest site but not on fo'mo
- [x] Determine which of those blocks would be useful to have on fo/mo
- [x] Determine if those blocks w

[2021-12-16 17:36] kristinashu commented on #7982
FYI the PNI retro won't be until next year, once we have more info on how the ads are doing (and I guess GMT info as well).

[2021-12-16 17:44] marcwalsh commented on #7883
I think it's only for the MozFest Homepage - we'd need to keep the following:

- Title
- Signup
- CTA Button Label
- CTA Button Destination
- Banner Heading
- Banner CTA Label
- Banner Carousel
- Banner Video (not Banner Video URL)
- Body

[2021-12-16 17:52] marcwalsh opened #8020 "[MozFest] Progress bars on homepage hero displaying incorrectly"
The MozFest homepage hero should be showing three white progress bars above each headline.

_Old staging screenshot:_
![Screen Shot 2021-10-08 at 8 24 55 AM](https://user-images.githubusercontent.com/30226684/146423222-c3bb2234-67f4-4b66-962f-99065def951a.png)

Currently, the white progress bars are appearing as blue dots.

![Screenshot 2021-12-16 at 17 48 42](https://user-images.githubusercontent

[2021-12-16 19:31] sabrinang commented on #7976
- reply Lucie re: TAI icon
- Kristina approved community directory PR & Rich clean/closed many MozFest issues in the milestone

[2021-12-17 16:07] kristinashu opened #8021 "Related blog post should reflect the designated order"
via Anna in Slack

Screenshot of CMS vs live page https://foundation.mozilla.org/en/blog/why-facebook-snapchat-and-google-want-smart-glasses-to-be-a-thing/

![image](https://user-images.githubusercontent.com/1068783/146573522-df0581e9-85dc-4970-abc0-db99f739edf9.png)

[2021-12-17 19:10] sabrinang commented on #7976
- review and feedback on [redpen](https://redpen.io/p/cy71912ee6b47d54c8) for community/facilitator sessions backgrounds

[2021-12-20 14:24] beccaklam opened #8025 "[Epic] Interactive Report Page Type"
Create new Page Type based on the header section of the RegretsReporter landing page (insert ticket number here).

[2021-12-20 14:24] beccaklam opened #8026 "[Interactive Report PT] Brief"

[2021-12-20 14:26] beccaklam opened #8027 "[Interactive Report PT] Stakeholder Interviews"
Create a Typeform survey for staff to collect requested features for the Interactive Report Page Type.

[2021-12-20 14:26] beccaklam opened #8028 "[Interactive Report PT] Landscape Analysis"
Audit other interactive report templates to gain an understanding of what are market norms (similar to a competitive analysis).

[2021-12-20 14:27] beccaklam opened #8029 "[Interactive Report PT] Start Design Prototype"

[2021-12-20 14:27] beccaklam opened #8030 "[Interactive Report PT] User Testing"

[2021-12-20 14:29] beccaklam opened #8031 "[Interactive Report PT] Design to Dev Handoff"
Placeholder ticket for Interactive Report PT

---

###  Design -> Dev Handoff Checklist
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [ ] Link to related ticket
- [ ] Link to Abstract (make sure it can be viewed by anyone)
- [ ] Design changes been merged into the master Sketch file
- [ ] Desktop and mobile mockups are

[2021-12-20 14:31] beccaklam opened #8032 "[Research Hub] Review work from TBX Jan 17-31"

[2021-12-20 16:49] richbrennan commented on #7935
@Pomax
This seems to be working now as new review apps have the new locale, can we close?

[2021-12-20 17:07] Pomax opened #8033 "Use the same code for pulling pulse data"
With https://github.com/mozilla/foundation.mozilla.org/pull/7603 landing, we now have two different files that use the same code to access pulse, which is a great source of future bugs. Let's make sure to turns this into "there is only one authoritative place where pulse results are fetched".

[2021-12-20 17:11] Pomax opened #8034 "Figure out why the pulse filters don't show up in the list of permissions"
Pulse filters show up in the list of snippets:

![image](https://user-images.githubusercontent.com/177243/146805723-3155bf75-0b0d-4b90-a77e-bb87507bd030.png)

But they are nowhere to be found in the list of items that can be assigned permissions when creating/editing a group.

Code:

https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/pagemodels/pulse.py

[2021-12-20 17:30] sabrinang commented on #7976
- Bas saved zoom backgrounds and community session backgrounds exports and ai files in gdrive: https://drive.google.com/drive/folders/1Q_y-1crdFp8jdc6l62Z0c1a5UvFO8QYx?usp=sharing

[2021-12-20 18:53] beccaklam opened #8035 "[Design Ops] Organize Image Library"
From design team discussions, are there ways we can improve/create:
- Wagtail Image Gallery
- Google Drive Visual Assets Library (made with shortcut links?)

[2021-12-20 18:54] beccaklam opened #8036 "[Design Ops] Create Better Naming Structure"
- Benchmark design naming conventions
- Propose naming structure to design team

[2021-12-20 19:16] danielfmiranda opened #8037 "Clean up Share-buttons.js"
Share-buttons.js is the file we use for the functionality and animation of the share buttons on the youtube regrets reporter extension landing page.

While it is functional at the time I think it might be useful to clean it up a little using some suggestions from Simon such as:

- Creating a timeline and then using the .play and .reverse functionailty
- Cleaning up the SCSS to use tailwind classes

[2021-12-20 19:22] jamilasnell commented on #5575
This has been actioned on!

[2021-12-20 19:22] #5575 closed

[2021-12-20 19:25] #6267 closed

[2021-12-20 19:28] Pomax opened #8038 "remove old buyers guide app"
Remove the old buyersguide app because this is now thoroughly wagtailpage'd

- Remove app
- surgically alter all migrations that relied on those files.

also covers:
- [x] #6437
- [x] #6441
- [x] #6477

[2021-12-20 19:30] Pomax commented on #6437
closing as this will automatically be covered by https://github.com/mozilla/foundation.mozilla.org/issues/8038

[2021-12-20 19:30] #6437 closed

[2021-12-20 19:30] jamilasnell commented on #6461
@TheoChevalier and @beccaklam Is this something that should still be completed?

[2021-12-20 19:30] Pomax commented on #6441
closing as this will automatically be covered by https://github.com/mozilla/foundation.mozilla.org/issues/8038

[2021-12-20 19:30] #6441 closed

[2021-12-20 19:34] jamilasnell commented on #6477
This work is not blocking that! Closing this issue out per #8038!

[2021-12-20 19:34] #6477 closed

[2021-12-20 19:35] jamilasnell commented on #6481
#Investigation!

[2021-12-20 19:41] jamilasnell commented on #6549
Becca did complete this so I am closing!

[2021-12-20 19:41] #6549 closed

[2021-12-20 19:41] fessehaye opened #8039 "Update Tailwind to 3.0.x"
Currently we are using 2.2 and there are some changes we need to do on `tailwind.config.js` since 3.0 includes additional classes by default

[2021-12-20 19:42] jamilasnell commented on #6596
@benhohner What work still needs to be done? Let @danielfmiranda know and he can finish up this work. Thank you!

[2021-12-20 19:44] jamilasnell commented on #6669
Let's look at Scout for this issue!

[2021-12-21 19:08] jamilasnell commented on #4355
@kristinashu Should this be closed?

[2021-12-21 19:13] #4355 closed

[2021-12-21 19:17] jamilasnell commented on #4297
This was a thing but not a thing anymore.

[2021-12-21 19:17] #4297 closed

[2021-12-21 19:24] jamilasnell commented on #4009
Closing this as we need to re-access accessibility

[2021-12-21 19:24] #4009 closed

[2021-12-21 19:31] #3911 closed

[2021-12-21 19:32] #4001 closed

[2021-12-21 19:33] #5099 closed

[2021-12-21 19:37] jamilasnell commented on #5816
re-create when we want to do it

[2021-12-21 19:37] #5816 closed

[2021-12-21 19:37] jamilasnell commented on #5140
No activity has happened in over a year, we are going to close this out!

[2021-12-21 19:37] #5140 closed

[2021-12-21 19:57] Pomax commented on #7396
It looks like this dropped off the radar, I've added it back to the upcoming sprint so we can determine what work is necessary here.

[2021-12-21 19:59] Pomax commented on #7978
Mozilla's branding with respects to its logo is documented over on https://mozilla.design/mozilla/logo-usage, the short version is that the current logo is the mozilla word mark.

[2021-12-21 19:59] #7978 closed

[2021-12-21 20:04] Pomax commented on #7288
Missed this question: I'd say let's close all Dependabot PRs and take it from there. It'll file new ones over the break that we can look at in the new year.

[2021-12-21 20:22] Pomax commented on #8002
There is not, and while we can hack something together, this is CMS-managed content and templates so the first step is to see if the Wagtail folks have ideas here.

[2021-12-21 23:17] danielfmiranda commented on #7989
Tags have been updated and published! https://tagmanager.google.com/?authuser=0#/versions/accounts/6002697367/containers/36502666/versions/5

[2021-12-21 23:39] fessehaye opened #8040 "Update Wagtail Factories to include updates from PNI"
* ~Include subcategories to factories~
* ~Add subcategories to products~
* ~Possibly include additional products for animation and filter testing~
* Change Privacy Policies generated per product from 5->3 to stop breaking updates to products

[2021-12-22 01:27] #7989 closed

[2021-12-22 12:04] richbrennan commented on #7288
I've closed all but the ones tagged with Security in case they need attention early next year

[2021-12-22 12:04] #7288 closed

[2021-12-22 17:33] richbrennan commented on #8034
Findings so far:

- Pulse Filter shows in Group permissions locally with production DB backup, but not on staging or production

- Clearing the staging cache and then restarting the dynos doesn't help

This seems to be something to do with permissions not being present on staging/production. [This Group form code](https://github.com/wagtail/wagtail/blob/v2.15.1/wagtail/users/forms.py#L204) fetches

[2021-12-22 18:00] sabrinang commented on #7976
- reviewed and approved no photography/video background color update https://redpen.io/p/cy71912ee6b47d54c8

[2021-12-22 18:04] Pomax commented on #8034
This is starting to smell like a migration file got updated in-place, where stage/prod had the class, then later it got switched to a snippet, but the migration that created the class got updated, rather than landing a new migration that changed the data layout.

[2021-12-22 18:11] #7976 closed

[2021-12-22 19:36] nancyt1 commented on #7782
Tags are published!!! Now I need to make sure dashboard is displaying metrics correctly and make minor adjustments to the tags.

[2021-12-23 01:22] danielfmiranda opened #8041 "Update audited list of js files"
In ticket[ #6506](https://github.com/mozilla/foundation.mozilla.org/issues/6506), we created a list of JS files that should be updated to either include a comment at the top of the file describing what they are used for and/or a change in directory structure to better show where the files are being used.

This is the ticket for the implementation of the move and comments. Assigning myself as I am

[2021-12-23 01:22] danielfmiranda commented on #6506
Audit complete, implementation issue can be found here! https://github.com/mozilla/foundation.mozilla.org/issues/8041

[2021-12-23 01:22] #6506 closed

[2021-12-30 11:28] bunnybooboo opened #8067 "Blog RSS feed resets timestamp on each new article published"
### Describe the bug
Each time a new article is published a set of older articles also get pushed as though new. This broadcasts a longer list of new items instead of simply the new item. This results in higher list maintenance needs for the reader when trying to read only new items.

This list also redirects to ES language URLs. In my case I hope to read EN-US or EN-GB.

### To Reproduce
Steps to

[2022-01-04 16:37] beccaklam opened #8076 "Create MVP Image Repository for Design Team/Staff"
**Problem**: The design team, and staff, often have to ask where to find images that have already been made.

**Proposed solution**: While this can currently be achieved by digging through our Design Asset folders it would be nice to have a one folder that is just images for staff/design team to look through before submitting a request for a new image to be made.

[2022-01-04 19:07] beccaklam commented on #8026
First draft of the design brief for this project [here](https://docs.google.com/document/d/1J9RtoKqoAwBfJv5O1u5VWniXvm1wtyLsgkGBV1XCE5U/edit?usp=sharing)! @kristinashu

[2022-01-05 18:03] TheoChevalier commented on #6461
I’ve just added a first version here: https://foundation.mozilla.org/en/docs/how-do-i-wagtail/adding-links/

Anyone should feel free to edit/improve :)

[2022-01-05 18:03] #6461 closed

[2022-01-05 19:10] beccaklam commented on #8027
First draft of the typeform [here](https://mozillafoundation.typeform.com/to/RETCSRNk)! @kristinashu @sabrinang @nancyt1 Let me know if you have any feedback?

[2022-01-06 22:46] jamilasnell commented on #8011
Re-opening this ticket as we have decided to pause accepting cryptocurrencies for the time being. For reference, Marc's [slack thread](https://mozilla.slack.com/archives/G4TED39AS/p1641488157000600) and the [twitter conversation](https://twitter.com/mozilla/status/1479143340159422468). I think it would be good to remove the ability to do bitcoin donation on this page https://donate.mozilla.org/en-

[2022-01-06 23:52] jessedward commented on #8011
Is that FAQ page a wagtail page that I can edit? Just making sure I have
access to it.

Jesse

On Thu, Jan 6, 2022 at 5:46 PM jamilasnell ***@***.***> wrote:

[2022-01-07 00:22] Pomax commented on #8011
That is a request best made in the wagtail channel.

[2022-01-07 17:27] beccaklam commented on #8027
Second draft of the interview form [here](https://docs.google.com/document/d/1FjZtKX9EapADo2n4iRmH4JogNsI_1T6WFubgGopGpbc/edit?usp=sharing) @kristinashu @sabrinang @nancyt1

[2022-01-07 19:20] danielfmiranda commented on #8011
Hi Everyone, reclosing this ticket in place of https://github.com/mozilla/donate-wagtail/issues/1608 on the donate repo.

[2022-01-07 19:20] #8011 closed

[2022-01-08 05:16] sabrinang commented on #4877
Proposed design updates:
- author text to be larger for more hierarchy above attribution _(18/27px same as body copy size)_
- add attribution line below as body copy small with ability to link text
- iterated if the whole quote block should span 8-col or if the quote text should have the 73px side padding as before _(considering that long quotes take up a bit of vertical space)_
<img width="945" a

[2022-01-10 17:18] beccaklam commented on #8027
Draft number three [here](https://docs.google.com/document/d/1FjZtKX9EapADo2n4iRmH4JogNsI_1T6WFubgGopGpbc/edit?usp=sharing)! @kristinashu @sabrinang @nancyt1

[2022-01-10 21:01] sabrinang commented on #7982
@kristinashu  @beccaklam R?
The 2021 PNI Website Case Study from @nancyt1 and I are on google slides and ready for review here: https://docs.google.com/presentation/d/1Qd51XgZK4Sqs4GqN6ZHVFVf0WNfREH9dy7WkyFLjvUQ/edit?usp=sharing

We aim to have this ready by our PNI retro next Thursday. We also included some of this slide content into Lindsay's wrap up deck which we will share during this week's d

[2022-01-10 21:18] sabrinang commented on #7982
Also sent out a calendar invite to review this with Jamila and Jen this Wednesday.

[2022-01-10 23:45] nancyt1 commented on #7782
All planned tags for published and pulling in the right data. Dashboard is also complete and I will ask the design team for a review tomorrow before I try to analyze what's coming in. yay!

[2022-01-10 23:57] Pomax opened #8092 "PNI has duplicate categories in the prod db"
Running wagtailpages migration 0064 on the prod db crashes on this line:

[code]

because apparently more than one category has this name. Which should not be the case. It looks like wagtailpages/buyersguideproductcategory id:5 and wagtailpages/buyersguideproductcategory id:61 both have the "Health & Exercise" name, despite #61 supposedly being a Polish translation (and so shouldn't be the same st

[2022-01-11 02:05] #7757 closed

[2022-01-11 08:58] TheoChevalier commented on #8092
Hm, translation has been started for this snippet, but there’s currently no Polish translation here: https://pontoon.mozilla.org/pl/foundation-website-content/templates/snippets/wagtailpages.BuyersGuideProductCategory/5-health-exercise.pot/?string=230845

It’s not clear if we’re doing something wrong in our code or if it’s a wagtail-localize bug, but all I can say is this is a valid use case (tran

[2022-01-11 09:00] TheoChevalier commented on #8092
FWIW, I’ve synced these snippets, it seems the share image was missing on translations, but I doubt it has anything to do with the error above

[2022-01-11 15:23] Pomax commented on #8092
I see, yes then that's probably a code issue - it uses `get` rather than `filter` so it's getting that alias atm without filtering for the english-locale-only objects.

[2022-01-11 18:21] sabrinang commented on #4877
@kristinashu design review?

[2022-01-11 18:42] kristinashu commented on #4877
R+ this is a great iteration! The attribution line looks good and the longer line length works well for the larger quote text. Curious if the quote text could be wide but then keep the smaller attribution text narrow?

[2022-01-11 21:05] #6646 closed

[2022-01-12 16:45] TheoChevalier commented on #6712
Hey folks, sorry for the delay, I have added some MVP guides to Notion:
https://www.notion.so/mozilla-foundation-engineering/Wagtail-localization-a8313a879d0a4b9290350809cb7141a7

@benhohner Would this work?

[2022-01-12 18:07] #8039 closed

[2022-01-12 19:45] beccaklam opened #8098 "[Interactive Report PT] Check in with devs about early ideations"
Set up a meeting with devs to go through what we're thinking for the Interactive Report so far and gauge feasibility of ideas. Schedule maybe after Tuesday, Jan 18, so we have most of the findings from the Stakeholder Interviews.

[2022-01-12 19:49] beccaklam opened #8099 "[Design Ops] Look into naming conventions for design files"
Look into best practices for naming design files both while we're working on something and when we hand off to stakeholders.

[2022-01-13 20:06] #8092 closed

[2022-01-13 20:07] Pomax opened #8102 "fix mergify"
Just like [for Donate](https://github.com/mozilla/donate-wagtail/issues/1610), mergify changed its yaml format, so we'll need to update things here, too.

See the [PR for donate](https://github.com/mozilla/donate-wagtail/pull/1611/files) for concrete changes.

[2022-01-13 20:37] sabrinang commented on #2961
Here are ideas to help distinguish the tabs:
![favicon-ideas@2x](https://user-images.githubusercontent.com/2492510/149404990-015be68b-5931-4066-bd68-2644c032731e.jpg)

- icon color: change favicon so it's distinguishable at a glance _(it'll be for internal use only so less concerned about if color is improper application use of the logo)_
- title: adding short prefix such as [S] for staging and [R

[2022-01-13 20:45] kristinashu commented on #2961
Love this R+

I like how all three are different in both color and text.

[2022-01-13 20:52] kristinashu commented on #2961
😂

[2022-01-13 22:15] beccaklam opened #8105 "[Interactive Report PT] Summarize Stakeholder Interviews"
Do a brief analysis of the stakeholder interview responses from ticket [insert number]. Share next steps based on responses.

[2022-01-13 22:20] sabrinang opened #8106 "[PNI] Retro Wrap Up Slides"
related to https://github.com/mozilla/foundation.mozilla.org/issues/7982

- [x] Condense [case study](https://docs.google.com/presentation/d/1Qd51XgZK4Sqs4GqN6ZHVFVf0WNfREH9dy7WkyFLjvUQ/edit?usp=sharing) slides for the wrap up deck to be presented at the retrospective:
https://docs.google.com/presentation/d/17r8Rhig_KW7rRfHyc16BAfwB9qRPg84XxPoJBoVqUWU/edit?usp=sharing
- [ ] One slide version for c

[2022-01-13 23:17] #8102 closed

[2022-01-13 23:19] beccaklam opened #8108 "Brief devs on upcoming Research Hub work"
Schedule a meeting to give devs a high level overview of the Research Hub work. Proposed meeting outcomes:
- Devs are aware of the Research Hub work
- Devs give feedback as to whether this is a project they want and are able to take on

[2022-01-13 23:31] sabrinang opened #8109 "Implement different favicons and titles for review-apps and staging"
- Original ticket with designs here: https://github.com/mozilla/foundation.mozilla.org/issues/2961
- SVG icons here: https://drive.google.com/open?id=1aJFhen5r-3dWCDoefysvbCtzVDAAbR8K&authuser=sabrina%40mozillafoundation.org&usp=drive_fs

Make the update to help distinguish review-apps, staging and production website in our browser tabs by making the favicon and titles more distinct from each othe

[2022-01-13 23:41] sabrinang commented on #2961
Thank you all for your enthusiasm on this classic ticket lol! 🥲
I exported favicons as SVGs [here](https://drive.google.com/open?id=1aJFhen5r-3dWCDoefysvbCtzVDAAbR8K&authuser=sabrina%40mozillafoundation.org&usp=drive_fs) and filed the implementation ticket here: https://github.com/mozilla/foundation.mozilla.org/issues/8109 — closing!

[2022-01-13 23:41] #2961 closed

[2022-01-14 10:12] TheoChevalier opened #8110 "Email string is used in two different contexts"
https://github.com/mozilla/foundation.mozilla.org/commit/f29bf02b8def639b726b43f339b54e5884accbc0 moved PNI product-tab into wagtailpages, where we already had an "Email" string, but used in a different context (Callpower button).

We should specify a context, so that two different strings will be extracted.

[2022-01-14 13:20] AnnaLCJay commented on #8021
Wanted to add a new layer to this! I just noticed that if I 'save draft' on an unpublished blog post, it re-orders the related blog posts into chronological order in Wagtail, rather than keeping them as I'd arranged them. I assume that's probably the same underlying bug, but wanted to flag in case.

[2022-01-14 22:22] sabrinang commented on #4877
<img width="1171" alt="image" src="https://user-images.githubusercontent.com/2492510/149592667-8304d547-4782-4cef-a1af-b82c94045810.png">
Thanks for the feedback @kristinashu —  I updated the author/attribution lines to be narrower with padding on desktop. For mobile, they will be both full width.

- link to component on [figma page](https://www.figma.com/file/JT9Dvdyc96AqQ3HJlnA9Qq/?node-id=814%3

[2022-01-14 22:42] kristinashu commented on #4877
Looks good R+

[2022-01-15 00:12] beccaklam commented on #8035
This work was completed in ticket #8076 so closing this now!

[2022-01-15 00:12] #8035 closed

[2022-01-15 00:13] beccaklam commented on #8036
Opened a new ticket for this #8099 so closing this one!

[2022-01-15 00:13] #8036 closed

[2022-01-15 00:14] beccaklam commented on #8028
Doc with benchmark links/analysis [here](https://docs.google.com/document/d/1N2N_TJ1pUajytEGDA3mlp00ZyPDrYnn7sfHbcABqJP0/edit?usp=sharing).

[2022-01-15 00:14] #8028 closed

[2022-01-15 00:16] #8027 closed

[2022-01-15 00:16] beccaklam commented on #8027
Survey was sent out via email and slack! Asked staff to submit responses by Tuesday, Jan 18, latest by Friday, Jan 21. Will analyze responses in ticket #8105

[2022-01-15 00:16] beccaklam commented on #8026
Anil and Ben have both left their comments and there are no actionable changes so closing this for now!

[2022-01-15 00:16] #8026 closed

[2022-01-15 00:19] beccaklam commented on #8076
Created an [MVP Graphics Library](https://drive.google.com/drive/folders/1ElM6lOlXyJdqOnu8U3Q4_LR6V6Ngvv7i?usp=sharing). Google Drive also supports alias naming and tagging so we have incorporated those features to better sort the library. This work will probably be ongoing for the foreseeable future (building out the library from past work/adding new work) but closing since the MVP has been creat

[2022-01-15 00:20] beccaklam opened #8113 "[Design Ops] Create ReadMe for Graphics Library"
Create a quick doc that outlines how to add images to the graphics library and what to consider (alias naming, tags, etc).

[2022-01-15 00:21] #8076 closed

[2022-01-15 00:31] beccaklam commented on #8076
Also added the link to our quick links on the [Engagement team mana page](https://mana.mozilla.org/wiki/display/FOUNDATION/Engagement)!

[2022-01-17 15:13] beccaklam commented on #8098
[ ] Book meeting with devs
[ ] Prep for meeting

[2022-01-17 15:14] beccaklam commented on #8108
- [ ] Book meeting with devs
- [ ] Prep for meeting

[2022-01-17 15:17] beccaklam opened #8122 "[Interactive Report PT] Summarize Landscape Analysis Findings"
Summarize findings into recommendations on what features to focus on for the new interactive report page type work.

[2022-01-17 17:10] Pomax commented on #7772
this got merged already

[2022-01-17 17:10] #7772 closed

[2022-01-17 17:10] Pomax commented on #7282
Wagtail should have been updated at this point, let's see if we can put this in place?

[2022-01-17 17:12] Pomax commented on #7957
Let's all tackle this together over zoom, and then it might be good for @tbrlpld to sit in

[2022-01-17 17:13] Pomax commented on #7638
What would be further steps require here?

[2022-01-17 17:20] Pomax commented on #6842
Marked as good first bug, but only for folks who've worked with wagtail-localize before. If not, this one is probably too heavy a lift.

[2022-01-17 17:21] Pomax commented on #7443
I think I added this, @pomax to confirm whether we still need this issue.

[2022-01-17 17:22] Pomax commented on #4553
We can close this - this component is covered by the styleguide, and kicks in for review apps, being flagged by percy.

[2022-01-17 17:22] #4553 closed

[2022-01-17 17:24] Pomax commented on #6929
Closing, Daniel had an excellent idea concerning template/code extensions, and put that in place.

[2022-01-17 17:24] #6929 closed

[2022-01-17 17:25] Pomax commented on #7558
@Pomax to investigate whether this is still required for the prod database.

[2022-01-17 17:26] Pomax commented on #7115
Let's see if, with the PRs landed in Wagtail, this is now something we can solve with a simple wagtail bump.

[2022-01-17 17:28] Pomax commented on #7872
Let's investigate whether we can have multiple 404s on the same site based on URL path prefix

[2022-01-17 17:28] Pomax commented on #7872
Marking the investigation as good first bug, not necessarily the work itself as that will require a PNI specific 404 page to be designed.

[2022-01-17 17:53] sabrinang opened #8123 "Update Single Quote Block with Attribution"
based on original issue and design: https://github.com/mozilla/foundation.mozilla.org/issues/4877

We want to increase the size of the author and include a field for text/links below so that the user can include attribution if necessary.
- link to component on [figma page](https://www.figma.com/file/JT9Dvdyc96AqQ3HJlnA9Qq/?node-id=814%3A259)
<img width="1171" alt="image" src="https://user-images.g

[2022-01-17 17:54] sabrinang commented on #4877
Thanks! Dev issue opened here: https://github.com/mozilla/foundation.mozilla.org/issues/8123 — closing this issue.

[2022-01-17 17:54] #4877 closed

[2022-01-17 23:39] sabrinang commented on #7982
@nancyt1 I incorporated and resolved the comments/feedback in the slide deck and updated slide content. I believe most is consolidated but would like to go over the timeline slide (if we need to be more specific as noted in speaker notes) but overall I like how you combined it. I think we are pretty close but we can also sync on this when we go over #8106 before Thursday.

[2022-01-18 01:18] beccaklam commented on #8099
Some links:

- https://libguides.princeton.edu/c.php?g=102546&p=930626
- https://bootcamp.uxdesign.cc/file-naming-conventions-for-designers-c08f288b4d2a
- https://guides.lib.purdue.edu/c.php?g=353013&p=2378293
- https://www.oreilly.com/library/view/web-design-in/0596009879/ch04s03.html

[2022-01-18 03:39] beccaklam commented on #8108
Adding relevant links here:
- My [notes](https://docs.google.com/document/d/1CFqv7pStuYCq4pY-2fAUQ4BhMiEgwHPdI7aU98b7-bk/edit?usp=sharing) from watching the meeting between Torchbox and Kasia
- Link to [figma file](https://www.figma.com/file/6BXnlCvPcQrtIaxunvuBYc/Mozilla-Research%3A-Inspiration?node-id=25%3A290)

[2022-01-18 12:38] eleensmathew commented on #8033
Hi I am interested to work on this. Since this is my first project please guide me

[2022-01-18 12:40] eleensmathew commented on #7755
Hi I am interested to work on this. Since this is my first project please guide me.

[2022-01-18 14:08] TheoChevalier commented on #7115
I think we will need small changes in wagtail-localize first to use what’s landed in Wagtail core, but this is already planned for an upcoming sprint

[2022-01-18 14:31] beccaklam commented on #8108
Doc with Research Hub features that I will share with the devs [here](https://docs.google.com/document/d/1i0eKzncNI2N5adPylPuycbTnxq9pXWw2bONLdRZvZB4/edit?usp=sharing).

[2022-01-18 15:22] nancyt1 commented on #7782
Closing this and doing analysis in follow up ticket. [#962](https://github.com/mozilla/foundation.mozilla.org/issues/962)

[2022-01-18 15:23] #7782 closed

[2022-01-18 18:25] tbrlpld commented on #7957
@Pomax sounds good to me 👍

[2022-01-18 18:45] beccaklam commented on #8122
This was done relatively quickly so I changed the estimate to zero. [Doc with recommendations](https://docs.google.com/document/d/1N2N_TJ1pUajytEGDA3mlp00ZyPDrYnn7sfHbcABqJP0/edit?usp=sharing) is here but will be improved upon with the Stakeholder Interview Survey results.

[2022-01-18 18:45] #8122 closed

[2022-01-18 18:48] tbrlpld commented on #7957
Re: parallel

Since we already have `npm-run-all` installed, we can use `run-p` to run in parallel.

https://github.com/mysticatea/npm-run-all/blob/HEAD/docs/run-p.md

[2022-01-18 18:58] #8037 closed

[2022-01-18 19:04] tbrlpld commented on #7580
Am I understanding correctly, that all three block types are added to the the same `StreamField` and the block count limits are set with the `block_count` argument to the `StreamField`?

[2022-01-18 19:53] danielfmiranda opened #8124 "Implement coil web monetization on MozFest site"
Since we are going/have added the web monetization message to the MozFest site, we would like to now implement web monetization through coil https://coil.com/.

More details to follow

[2022-01-18 20:08] Pomax commented on #8033
Hi @eleensmathew, unfrotunately we don't have the capacity to onboard contributors, we're using this label to triage an initial workload for a new hire.

[2022-01-18 20:13] Pomax commented on #7580
Yes to the first, but no to the latter, it uses a `max_num` in the struct options: https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/wagtailpages/pagemodels/customblocks/profile_directory.py#L74-L80

[2022-01-18 23:14] sabrinang commented on #8106
- PNI Wrap Up  _(design & dev specific slides 41-51)_: https://docs.google.com/presentation/d/17r8Rhig_KW7rRfHyc16BAfwB9qRPg84XxPoJBoVqUWU/edit?usp=sharing
- Slacked devs to review async and we will plan presentation tomorrow at design and dev sync

[2022-01-18 23:35] #6728 closed

[2022-01-19 00:09] #7257 closed

[2022-01-19 00:18] beccaklam commented on #8113
This doc has been created [here](https://docs.google.com/document/d/19DmLv7TvkUZywQOpIISAbKhDIAn-z5T5Vy2KYKYsUOY/edit?usp=sharing). We decided to leave out how to add files to the library for now (that knowledge will just live with the design team) and hopefully alias naming won't be needed once the design team establishes a file naming convention.

[2022-01-19 18:04] tbrlpld commented on #7991
@TheoChevalier From the help text for the related posts this seems like this intended behaviour.

What seems undesired is that this includes pages of other locales (especially when it picks the same article).

[2022-01-19 18:14] tbrlpld commented on #7991
Locally I currently have a case where the page itself gets added to the list of related posts.

[2022-01-19 22:13] tbrlpld opened #8126 "Block inventory improvements"
Using the block inventroy has become a bit clunky.

https://github.com/cfpb/wagtail-inventory

E.g. it is hard to identify different block types due to their naming. Is it possible to change how they are displayed to make it easier to find them?

Also, when looking for pages that contain the blocks, we have the issue that the list of pages is too long. Especially, we would like to filter the list

[2022-01-19 22:15] tbrlpld commented on #8126
@sabrinang Can you have a look at my description up top to see if this makes sense to you? Are those the main points you would like to be addressed?

[2022-01-19 23:27] #6596 closed

[2022-01-20 00:24] jamilasnell opened #8127 "Setting DNS Records for session.mozillafestival.org"
Looking to have a DNS Record set for session.mozillafestival.org that points to 134.209.136.114. Is that possible?

@marcwalsh

[2022-01-20 00:39] beccaklam commented on #8105
Analysis started in this [doc](https://docs.google.com/document/d/1N2N_TJ1pUajytEGDA3mlp00ZyPDrYnn7sfHbcABqJP0/edit?usp=sharing)

[2022-01-20 00:56] sabrinang commented on #8106
- Discussed with devs and designers at design/dev sync who is presenting which slide for presentation prep

Nancy - Slide 43
Sabrina - Slide 44
Simon - Slide 45
Nancy - Slide 46
Daniel - Slide 47
Sabrina - Slide 48
Nancy - Slide 49
Pomax - Slide 50
Sabrina - Slide 51

[2022-01-20 09:27] tomusher commented on #8127
This has been added.

[2022-01-20 09:27] #8127 closed

[2022-01-20 16:05] kristinashu commented on #7466
Awesome, thank you!

[2022-01-20 17:45] sabrinang commented on #8106
We presented at the retro today and the wrap up slides are complete and shared!

Corresponding reference links:
- [PNI 2021 Wrap Up slides](https://docs.google.com/presentation/d/17r8Rhig_KW7rRfHyc16BAfwB9qRPg84XxPoJBoVqUWU/edit?usp=sharing)
- [PNI 2021 Summary](https://docs.google.com/presentation/d/1akp_WryiYxpz_AJnd2WXRwiLoRPxkgsW7n-rC4vnpsw/edit?usp=sharing)
- [Miro Retro board](https://miro.c

[2022-01-20 17:45] #8106 closed

[2022-01-20 18:05] #8110 closed

[2022-01-20 18:11] sabrinang commented on #7982
https://docs.google.com/presentation/d/1Qd51XgZK4Sqs4GqN6ZHVFVf0WNfREH9dy7WkyFLjvUQ/edit?usp=sharing

We've resolved the comments and cleaned up any speaker notes in the case study. It was also referenced in our [retro](https://miro.com/app/board/uXjVOUN8nhQ=/) call today.

[2022-01-20 18:11] #7982 closed

[2022-01-20 19:02] sabrinang commented on #8126
@tbrlpld Yes, those are the main pain points using block inventory I had!

[2022-01-21 16:13] marcwalsh opened #8131 "Current Events Slider no longer full width on MozFest homepage"
The 'Current Events Slider' on mozillafestival.org is now constrained to the width of the content in the left column where previously it would be the full width of the page - even with the newsletter snippet on the page. This is across FF/Chrome/Safari on desktop. The mobile version is not affected.

## Current View:
<img width="1284" alt="Screenshot 2022-01-21 at 15 56 54" src="https://user-image

[2022-01-21 17:07] kristinashu opened #8132 "Investigate why unexpected changes occurred on mozfest site"
@marcwalsh filed these two tickets https://github.com/mozilla/foundation.mozilla.org/issues/8020 & https://github.com/mozilla/foundation.mozilla.org/issues/8131 which reflect changes that happened unintentionally.

Investigate why these changes happened and how to avoid this they of issue in the future.

Note from @Pomax via slack:

[2022-01-21 17:38] kristinashu opened #8133 "[Epic] Implement Datawrapper"
The ability to easily create and embed data visualizations across our site has been in high demand from staff https://github.com/mozilla/foundation.mozilla.org/issues/6151 & https://github.com/mozilla/foundation.mozilla.org/issues/6645 and [summary of staff survey. ](https://docs.google.com/presentation/d/1YOjMQ5vQf1-scF-bZvkOGVN6Tr5iOpABR_NAKuRiS9Y/edit#slide=id.g25275a8168_0_425)

Ben and @sabri

[2022-01-21 17:44] beccaklam commented on #8098
This went smoothly, no concerns aside from accessibility concerns around carousels and information sharing concerns for accordions. [Notes here](https://docs.google.com/document/d/1i0eKzncNI2N5adPylPuycbTnxq9pXWw2bONLdRZvZB4/edit?usp=sharing).

[2022-01-21 17:44] #8098 closed

[2022-01-21 17:51] #8113 closed

[2022-01-21 22:42] danielfmiranda commented on #7258
Originally I thought that this may not be possible as there is alot of custom react-logic since these buttons are shared by multiple pages, however, after reviewing Simons PR: https://github.com/mozilla/foundation.mozilla.org/pull/8112 I do believe this is possible!

Updating estimate to a 3 to reflect the level of work this is, and moving this to up next

[2022-01-21 23:56] beccaklam commented on #8105
Summary finalized in this [doc](https://docs.google.com/document/d/1N2N_TJ1pUajytEGDA3mlp00ZyPDrYnn7sfHbcABqJP0/edit?usp=sharing)

[2022-01-24 17:41] beccaklam opened #8144 "Cut off carousel arrow"
### Describe the bug
When I click into accordion 04 (“YouTube Regrets can alter people’s lives forever”) on my 15" Macbook Pro, the right arrow, and a bit of the left arrow, is cut off so I can’t access the next carousel screen unless I move my browser to a bigger display.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://foundation.mozilla.org/en/youtube/findings/'
2. Scroll do

[2022-01-24 17:42] kristinashu commented on #8105
Amazing summary. It's nice to see stakeholders are all pretty aligned. With this info and the landscape analysis, I think you're ready to start designing!

[2022-01-24 19:20] Pomax opened #8145 "Test data is polluted with bitcoins and escort services."
the pulse profile data looks poisoned on both percy and local setups, let's fix this ASAP.

[2022-01-24 19:30] tbrlpld commented on #8021
I can not observe the issue with the admin and the frontend not showing in the same order, but I can reproduce that the order in the admin seems to be overridden on save.

[2022-01-24 20:21] tbrlpld commented on #7991
@TheoChevalier This is ready for testing on staging.

[2022-01-25 19:54] tbrlpld commented on #8020
@marcwalsh It looks on staging like the slide indicators / progress bars are replaced by little circles.

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/24797493/151049284-1712bc2a-2192-4abb-bf99-4a804a14410f.png">

The automatic transition still works and clicking the circles to change the slide (background image) also works.

I presume that the slide/carousel librar

[2022-01-25 21:23] nancyt1 opened #8148 "Snippets not letting you save after making changes"
### Describe the bug
I tried to change the share image or add in a share image to a product category page of PNI and it doesn't let me save with the error that "A category with the name already exists". This happens with a few other categories I've tried.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Snippets
2. Go to Buyers Guide Product Categories
3. Edit Smart Home
4. Change the i

[2022-01-25 23:16] #8124 closed

[2022-01-26 00:00] #7535 closed

[2022-01-26 00:35] #7883 closed

[2022-01-26 09:56] phildexter commented on #7466
Hi @kristinashu this should be updated now to match live.

[2022-01-26 16:26] kristinashu commented on #7466
Thank you @phildexter!

[2022-01-26 16:26] #7466 closed

[2022-01-26 17:04] Pomax commented on #8148
I suspect it's trying to save its new values, during which it checks that there aren't any categories with the same name (to prevent people from creating duplicate categories), but I strongly suspect it's forgetting to check that only for the English locale.

Escalating to unplanned up next, because multiple folks have run into this now.

[2022-01-26 17:59] tbrlpld commented on #8021
@kristinashu This is ready for testing on staging: https://foundation.mofostaging.net/en/blog/misinformation-and-disinformation-at-mozfest-2022/

[2022-01-26 18:24] kristinashu commented on #8021
Excellent, thank you! Looks like this is working well now.

[2022-01-26 20:30] #8021 closed

[2022-01-26 22:17] #8148 closed

[2022-01-27 14:36] phildexter commented on #7434
Should be closed by #7568

[2022-01-27 14:36] #7434 closed

[2022-01-27 17:07] #8105 closed

[2022-01-27 17:12] beccaklam commented on #8029
Design deliverables:
## P1 Feature Updates

1. **Sticky menu TOC that doubles as a read progress bar**
- [ ] Mobile
- [ ] Tablet
- [ ] Desktop
2. **Hero header**
(This work has been started [here](https://docs.google.com/document/u/0/d/1thbfPHqK6Nn0aZ9WdQqGPMRs32scqA2ED9c4NCQbrEw/edit) but maybe we can extend it a bit)
- [ ] Mobile
- [ ] Tablet
- [ ] Desktop

## P2 Feature Updates
Accordions for F

[2022-01-27 17:39] #7991 closed

[2022-01-27 17:40] tbrlpld commented on #7991
@TheoChevalier This is not in production

[2022-01-27 17:41] kristinashu commented on #6509
@sabrinang sorry, I forget, is this still needed? How is it related to the other call-out and quote tickets you recently worked on?

[2022-01-27 18:14] tbrlpld commented on #8020
@marcwalsh This will be ready for testing on staging momentarily: https://github.com/mozilla/foundation.mozilla.org/actions/runs/1757749422

[2022-01-27 18:56] tbrlpld commented on #8020
https://mozillafestival.mofostaging.net/en/

[2022-01-27 18:56] #8020 closed

[2022-01-27 20:26] sabrinang commented on #6509
This was the original ticket for callout box styling improvements and captured some of the limitations and in https://github.com/MozillaFoundation/Design/issues/806 we've looked into it and due to it's infrequency of use it was a wontfix issue. If it is something we want to note to get to the future we can leave this issue open or if you think it is not valuable we can close since we closed the ot

[2022-01-27 20:31] kristinashu commented on #6509
Thank you Sabs! Will close this and can open a new one if it starts to feel more needed.

[2022-01-27 20:31] #6509 closed

[2022-01-27 20:39] #6414 closed

[2022-01-27 20:57] kristinashu commented on #7931
Sorry to dredge this up but this is done and good to close, right @Pomax?

[2022-01-27 21:01] kristinashu commented on #7791
This is done https://foundation.mozilla.org/en/youtube/regretsreporter/!!!

[2022-01-27 21:01] #7791 closed

[2022-01-27 21:48] kristinashu opened #8157 "Add YouTube icon/link to footer"
Lindsay D has requested we add the YouTube icon and link https://www.youtube.com/user/Mozilla to the footer on fo’mo & PNI (see mozfest site for YouTube icon already in their footer).

- [x] Mock-up the footer, responsively
- [x] Open dev ticket, include the icon, mockups, url link, and where the icon should appear, note to let Lindsay know once it's live

[White Youtube Icon](https://drive.google

[2022-01-27 22:11] beccaklam opened #8158 "[Interactive Report PT] Continue Design/Prototype"
Continuing the work started in ticket #8029

[2022-01-27 22:22] beccaklam opened #8159 "Share Prototype with Staff"
Once the prototype in #8158 is ready, share with staff who filled out survey.

[2022-01-27 23:26] #8123 closed

[2022-01-28 01:05] Pomax commented on #7859
This would be quite a bit of involved work, because there's nothing built in for that. We'd be writing our own image processing scripts with wagtail integration to make sure the results end up managed by wagtail's image management. It's possible, but would be a heavy lift.

[2022-01-28 01:08] #7768 closed

[2022-01-28 01:11] Pomax opened #8160 "Update percy tests for PNI homepage/category"
Followup to https://github.com/mozilla/foundation.mozilla.org/issues/7768, let's make sure the percy screenshots for PNI homepage/category get generated _after_ scrolling, because on initial page load without scrolling, no products get loaded, which means we've lost visual regression for the product cards =)

![image](https://user-images.githubusercontent.com/177243/151469568-2139e895-eca2-4383-92

[2022-01-28 19:13] anilkanji opened #8161 "Donate: Inbound link broken - 404"
A [review ](https://datastudio.google.com/reporting/12b9f4b6-c354-4f1a-9d08-749a36d08789/page/qAvjC)of our website analytics flags that there is broken inbound donate link:

donate.mozilla.org/en-US/page/contribute/Give-Now/?source=mozillaorg_default_footer&ref=firefox_about&tm_source=firefox&tm_medium=referral

We can't find where this page was intended to go, and it's not a link type that we use

[2022-01-28 19:37] anilkanji opened #8162 "Investigate and potentially fix sitemap.xml"
Filing this issue on behalf of contracted agency Grassriots:

* Working on technical SEO evaluation for the Foundation
* In utilizing SEMrush, unable to complete full audit of pages, even after whitelisting
* Used another tool instead - screamingfromg - and determined SEMrush was somehow blocked/hindered by sitemap.xml
* Guessing there may be a misconfiguration in the sitemap.xml file
[SLACK THREA

[2022-01-28 19:49] Pomax commented on #8161
Issue moved to [mozilla/donate-wagtail #1631](https://github.com/mozilla/donate-wagtail/issues/1631) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-28 19:49] #8161 closed

[2022-01-28 20:51] tbrlpld commented on #8033
@Pomax I am not quite sure on how to tackle this one. I do see there are multiple points in the backend where we are pulling data from Pulse (these are differnt block types). But I have also noticed that some of these blocks implement a way pull form Pulse on the server and on the client side (I guess so there is already data in the template on first render).

Which are the ways we want to merge h

[2022-01-28 20:55] tbrlpld commented on #8033
I think I am also blocked, because there are I get CORS errors from the Pulse API.

[2022-01-28 21:01] tbrlpld commented on #7282
Currently in 2.16rc1: https://github.com/wagtail/wagtail/commit/731cc540b0f70527dc81cbc23e2f8f2cdaaf9df7

[2022-01-28 22:55] kristinashu commented on #5788
This was fixed but seems to be an issue again.

[2022-01-29 00:08] beccaklam commented on #8029
WIP sketches in this [Figjam](https://www.figma.com/file/tJOt1Nt9AeReDwepVN9Ocv/Interactive-Report-Figjam?node-id=0%3A1). Will pick up this work next sprint!

[2022-01-29 00:08] #8029 closed

[2022-01-29 00:09] beccaklam commented on #8158
Refine these [sketches](https://www.figma.com/file/tJOt1Nt9AeReDwepVN9Ocv/Interactive-Report-Figjam?node-id=0%3A1) for feedback from design team before proceeding with digital mock ups.

[2022-01-31 14:13] TheoChevalier opened #8172 "PNI product thumbnails are blank"
PNI thumbnails appear broken on staging https://foundation.mofostaging.net/en/privacynotincluded/, prod is working fine so I suspect one of the latest changes broke this.

I’ve checked with both Chrome & Firefox.

You can see links are still there, it’s just text + image are missing

<img width="1257" alt="Capture d’écran 2022-01-31 à 15 16 08" src="https://user-images.githubusercontent.com/1294

[2022-01-31 17:57] Pomax opened #8173 "Switch the PNI card animations to "for transitions only""
Based on https://github.com/mozilla/foundation.mozilla.org/issues/8172:  as folks will currently see nothing if JS doesn't load (specifically, if the js library needed for transitions doesn't load for whatever reason), let's switch our PNI card animations on the homepage/category pages to show all relevant products on initial page load without transitions for the "above the fold" content, and tran

[2022-01-31 19:19] danielfmiranda opened #8174 "iFrame Customization"
According to comments below, the ask is to be able to add the "scrolling" flag to the iframe block, as in the requester's use case https://www.mozillafestival.org/en/on-demand/audio/, it appears that the iframe from anchor.fm (the place where we host the mozilla podcast episodes) seem to render a large whitespace underneath the media player, within the iframe itself.

Screenshot of audio player if

[2022-01-31 19:34] jamilasnell commented on #6669
Closing this as this issue is moot now. Create a new ticket if this issue pops up again

[2022-01-31 19:34] #6669 closed

[2022-01-31 19:53] jamilasnell commented on #7638
@kristinashu any guidance here?

[2022-01-31 19:56] jamilasnell commented on #7580
@Pomax you are assigned to improve steps to reproduce! Have a great day

[2022-01-31 21:05] tbrlpld commented on #8002
I just wanted to raise that the "open in new tab/window" behaviour is not recommended from a usability and accessibility stand-point. Especially low-vision users might miss that a new tab has been opened.

There are use cases when the "new tab/window" behaviour is beneficial (e.g. while filling a form), but these are context dependent so that making it the default would not be recommended.

See al

[2022-01-31 21:24] tbrlpld commented on #8002
Re: implementation: Since the change is requested for rich text fields and blocks and both are/should be rendered with the `richtext` filter, that might be a good place for it. This would also avoid having to mess with Wagtails mechanism for storing and retrieving richtext.

[2022-01-31 21:25] tbrlpld commented on #8002
Thinking about this now, I think 1 is a fairly ambitious estimate.

[2022-02-01 01:08] danielfmiranda commented on #8174
Hi @marcwalsh @anilkanji I was told you both might have more context regarding the "Iframe customization" task on Airtable. I was wondering if you could help me figure out what the ask of that ticket is so I can implement it?

Thanks in advance!

[2022-02-01 16:25] beccaklam commented on #8158
Links with sketches for feedback:
[Redpen](https://redpen.io/p/od33c96f54153a0027)
[Figjam](https://www.figma.com/file/tJOt1Nt9AeReDwepVN9Ocv/Interactive-Report-Figjam?node-id=0%3A1)
Hoping to gather feedback from design team before proceeding with digital mockups/prototypes. May need to schedule a zoom call to further explain designs.

[2022-02-01 17:59] #8041 closed

[2022-02-01 18:06] TheoChevalier commented on #7282
Here’s a management command to update existing alias pages https://gist.github.com/zerolab/75323b449efa28a5ea4031d97b6a2ff4

I’m not sure if I’m doing something wrong, but so far it doesn’t seem to fix old alias pages. I ran the command with Wagtail 2.16rc1 on the prod DB but they still show up as not yet published. Checking with Dan

[2022-02-01 19:00] Pomax opened #8176 "Resolve author-related preview crash"
Viewing https://foundation.mozilla.org/en/blog/why-our-tech-community-is-most-excited-about-mozfest-2022/ and previewing https://foundation.mozilla.org/cms/pages/16811/edit/ yields a server error 500, checking the logs shows:

<details>
<summary>code log</summary>

[code]
</details>

So it looks like there's a codepage where a template tag that expects a `Page` as argument is instead getting a str

[2022-02-01 21:33] Pomax commented on #8172
temporarily reopening, seeing errors on staging:

[2022-02-01 21:33] Pomax commented on #8172
when I type `gsap` in the console, it looks like it's there, so it's possible the bg code doesn't timeout-wait for gsap to load in?

[2022-02-01 22:32] #8109 closed

[2022-02-01 23:52] #8172 closed

[2022-02-02 00:37] kristinashu commented on #7638
Based on Ben's response, the things to move forward on are:

- [ ] Remove the "Show in menus:" checkbox from **blog page type** since it  doesn't actually do anything here
- [ ] Update name of "Search image:" to "Share image:" **on all page types** since this is a more accurate discretion
- [ ] Hide the "Tags" field since this doesn't do anything and staff are wasting time filling it in

[2022-02-02 16:57] Pomax opened #8181 "Github CI will fail python testing over missing migrations, while local testing shows no errors at all"
This is holding up some singificant PRs.

- [ ] verify every single django/wagtail-related dependency used on CI is the same as used for local work
- [ ] update a PR's CI settings to use a datatabase url that can be inspected after the run fails, to see what it actually applied?

[2022-02-02 17:49] Pomax commented on #7536
this PR got merged.

[2022-02-02 17:49] #7536 closed

[2022-02-02 17:58] kristinashu commented on #8133
Thank you @fessehaye for taking this! Let Sabrina or I know if you have any questions. You'll probably want to open a new ticket for the dev work.

[2022-02-03 15:13] TheoChevalier opened #8185 "Update wagtail-localize-git to 0.12.0"
wagtail-localize-git just got [a new release](https://github.com/wagtail/wagtail-localize-git/releases/tag/v0.12.0) fixing issues for us, let’s update.

We just make sure to specify the l10n repo branch name and set it to `master`

[2022-02-03 16:42] Pomax commented on #8185
Given that we're working with branch names for this one, can we rename those main branches from `master` to `main`? Might as well clean that naming up before we hardcode "master" in even more places.

[2022-02-03 20:11] tbrlpld opened #8188 "Datawrapper: Read docs and training material"
Goal:
[ ] Have an overview of possible charts that are going to be possible to do.
[ ] Create some basic documentation on how to implement them.
[ ] Rough implementation outline. Have a look what we did for other embed blocks (Tightform, Airtable).

[2022-02-03 20:18] tbrlpld opened #8191 "Datawrapper: Wagtail block"
Goals:

* [ ] StreamField block available
* [ ] Block can be defined in the admin
* [ ] Block can be rendered in a template

[2022-02-03 20:19] fessehaye opened #8189 "Datawrapper: Add Example Charts from Datawrapper for testing purposes"

[2022-02-03 20:23] fessehaye opened #8190 "Datawrapper: Add datawrapper streamblock to existing factories and style-guide"
* Add example charts to /style-guide after examples and streamfield block are created
*  Create some basic documentation on how to implement them.

[2022-02-03 20:32] tbrlpld opened #8192 "Datawrapper: Read docs and training materials"
Goals:
* [x] Have an overview of possible charts that are going to be possible to do.
* [x] Create some basic documentation on how to implement them.
* [x] Rough implementation outline. Have a look what we did for other embed blocks (Tightform, Airtable).

[2022-02-03 20:33] #8188 closed

[2022-02-03 23:36] tbrlpld commented on #8033
@Pomax Now that we have the CORS issue figured out, I am wondering if this is still a worthy cause, since we discussed in Retro that the future of Pulse is unclear.

The bug fixes are probably worth it still for the mean time, but a larger refactoring like this might be more questionable.

[2022-02-04 00:44] #8173 closed

[2022-02-04 15:59] TheoChevalier commented on #8185
I think we should do this in two steps, in case we need to revert to 0.11. I’ve updated steps in the PR

[2022-02-04 16:31] jzinner opened #8193 "Bugzilla 1753545: mozillafoundation.org content panel shows 404"
See the Bugzilla ticket for information about redirects as well.

Bugzilla 1753545:  https://bugzilla.mozilla.org/show_bug.cgi?id=1753545

[2022-02-04 17:32] Pomax commented on #8193
Note that the `mozillafoundation.org` domain is a vanity URL backed by our old (2014/5) AWS bucket collection.

[2022-02-04 22:55] tbrlpld commented on #8133
@kristinashu @sabrinang Is the a particular set of pages on which the Datawrapper block should be available? Or is this something you would want to see site wide?

[2022-02-04 23:21] kristinashu commented on #8133
@tbrlpld let's start with Article, Banner, Blog, Campaign, and Default. Ty!

[2022-02-07 07:57] fessehaye commented on #8189
5 Example Charts created on foundation datawrapper account

[2022-02-07 07:57] #8189 closed

[2022-02-07 17:34] kristinashu commented on #8131
@sabrinang please link to the PR related to this, ty!

[2022-02-07 18:02] sabrinang commented on #8131
original PR related to this here: https://github.com/mozilla/foundation.mozilla.org/pull/7457

[2022-02-07 18:30] marcwalsh commented on #8174
Thanks @danielfmiranda

So the iframe embed code we’re using for Anchor.FM looks like this:
`<iframe src="https://anchor.fm/letsgetlitical/embed/episodes/Is-the-Internet-a-human-right-featuring-Soledad-Magnone--Joseph-Thomas-e1dnj15" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>`

The page that’s in the frame is long and has white space at the bottom, but setting the height

[2022-02-07 19:19] beccaklam commented on #8158
## Hero Header
**Questions:**

- Choice of two headers or evolve article template?
- How much control do we have over/is there a way to design the user input interface?

[2022-02-07 23:40] fessehaye commented on #8192
We are going to add documentation to #8190 at the same time we will be adding the new block to the style-guide

[2022-02-07 23:40] #8192 closed

[2022-02-08 00:11] Pomax commented on #8162
Looking at both the local sitemap and the one on https://foundation.mozilla.org/sitemap.xml I don't see anything obviously wrong. We may be able to see if we redo the work based on https://www.mashandgravy.co.uk/blog/google-friendly-sitemaps-multilingual-wagtail-sites

[2022-02-08 11:33] bheasman commented on #8013
Hi @marcwalsh ! Nice to meet you (I've recently joined on the Torchbox team). As I understand it, this issue was raised off the back of a conversation where you indicated there might be an appetite to support multiple Tito events. Is this something the team would still like to do?

[2022-02-08 13:20] #8185 closed

[2022-02-08 17:15] nancyt1 opened #8212 "Add Youtube Icon/Link to footer of fo'mo and PNI"
Add the youtube icon and link to the footer next to the other social links on fo'mo and PNI. The icon should be the same size and have the same hover state as the other icons.

---

[Link to original design ticket](https://github.com/mozilla/foundation.mozilla.org/issues/8157)
[Link to Mockups in Figma](https://www.figma.com/file/zTPKwhxfBiHIHEYFxryJbh/Footer-Update?node-id=0%3A1)

[Link to YouTub

[2022-02-08 17:17] nancyt1 commented on #8157
Opened the [dev ticket](https://github.com/mozilla/foundation.mozilla.org/issues/8212) and i'll let lindsay know when it's live

[2022-02-08 17:32] #8131 closed

[2022-02-08 17:55] kristinashu commented on #8157
Looks good Nancy! I just added a few check boxes to the dev ticket to make sure it is super clear to devs.

<img width="271" alt="image" src="https://user-images.githubusercontent.com/1068783/153047018-160d0908-b588-4eed-a5e1-d14380ef8b84.png">

[2022-02-08 18:53] #8009 closed

[2022-02-08 19:56] tbrlpld commented on #8132
@kristinashu @marcwalsh I have been looking into this a bit now and here are my findings.

First, both issues are MozFest styling related, but otherwise appear unrelated.

# Progress bars

There is one large commit as part of  #7603 that added the changes that seem to have caused the issue: https://github.com/mozilla/foundation.mozilla.org/commit/b5e42ed1edcb012f3ce0cf92bb45d3aa6aaeb839#diff-a3ba2

[2022-02-08 20:48] #8191 closed

[2022-02-08 21:50] #8160 closed

[2022-02-09 01:20] danielfmiranda commented on #8174
Thank you for the details @marcwalsh! They are much appreciated

[2022-02-09 02:06] danielfmiranda commented on #8174
Though the original ask was to add a "scrollable" flag to the iframe block which would then add the scrollable='no' to the iframe element if checked, I first checked to see if I was able to produce the desired effect using just CSS as according to the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-scrolling) the "scrolling" flag has been deprecated.

Interestingly

[2022-02-09 19:12] danielfmiranda opened #8214 "All external links should open in a new tab"
We have added "target='_blank'" to any external links within a rich text block in #8195

However, since external links in other blocks such as link buttons and video/image captions still open themselves in the same tab vs a new one like the rich-text external links, it is providing an inconsistent user experience.

The ask of this ticket is to make sure that **any** external link on the site opens

[2022-02-09 19:24] #8002 closed

[2022-02-09 19:53] Pomax commented on #8174
The real solution of course is to get anchor to remove their `min-height: 300px" CSS, but barring that, as far as I can tell setting an `overflow: hidden` on the iframe itself also removes the scrollbar _on some browsers_ with the `scrolling="no"` solution work in browsers where overflow does nothing. So we probably want to use both in this case.

[2022-02-09 21:26] Pomax opened #8216 "Fix fomo migrations"
- [ ] squash mozfest
- [ ] squash wagtailpages
- [ ] update dependencies

[2022-02-10 18:12] #8174 closed

[2022-02-10 22:12] #8157 closed

[2022-02-10 23:31] Pomax opened #8221 "UTM query args may be going missing"
Submitted on behalf of Audrey:

Question! If I make a button, like on this page https://foundation.mozilla.org/blog/new-research-tinders-opaque-unfair-pricing-algorithm-can-charge-users-up-to-five-times-more-for-same-service/ I noticed that the UTM info gets stripped when you click on it. So for example, I don’t think I would know how many people signed the petition having come to that page from T

[2022-02-10 23:33] Pomax commented on #8221
Looking at the edit page in the CMS, the button does not have any UTM values in its URL, so it doesn't seem to be a matter of UTM getting lost "on click", but that they're not there at all.

[2022-02-10 23:42] kristinashu commented on #8221
The believe the idea is:
- A user clicks on the tweet and is linked to our blog post with this UTM code https://foundation.mozilla.org/en/blog/new-research-tinders-opaque-unfair-pricing-algorithm-can-charge-users-up-to-five-times-more-for-same-service/?utm_campaign=tinderresearch2022&utm_source=twitter&utm_medium=social&utm_content=1644319897
- User reads the post and clicks on the "Sign Petition"

[2022-02-11 00:48] kristinashu opened #8223 "Updating PDF isn't working"
I would like to update the PDF in this link https://assets.mofoprod.net/network/documents/Personalized_Pricing.pdf without breaking the link ulr since it's been used with press and across our site.

I can typically do this via Documents when the PDF url is https://foundation.mozilla.org/documents/[number]/[name].pdf

However in this case, updating the PDF via Documents doesn't seem to be working.

[2022-02-11 01:05] kristinashu commented on #8132
Thank you for looking into this @tbrlpld. Do you know if regression checks would have caught this? Do we have this set up for the mozfest site? Just wondering how we can avoid these types of unexpected changes in the future.

[2022-02-11 01:10] Pomax opened #8224 "Figure out how to make blog categories dynamic, without streamfield migrations"
In order for the `recent_blog_posts` component to do its job, it needs to present the user with a category picker, based on the categories currently available in the CMS. However, using code like:

[code]

with the `get_categories` implemented as

[code]

Means that every time the categories change, Django sees a change to the streamfield content of anything that uses the "recent blog posts" compo

[2022-02-11 01:11] Pomax commented on #8224
@tbrlpld I would like to pair with you on this one, if that's okay with you.

[2022-02-11 15:40] anilkanji opened #8225 "Performance Reviews - Engineers"
Engineers required to

- [x] List peer nominees
- [ ] Reflect on your year w/o Feb 14
- [ ] Add goals to Airtable w/o Feb 14
- [ ] Peer Reviews w/o Feb 14
- [ ] Review meetings w/o Feb 21

[2022-02-11 19:51] #8144 closed

[2022-02-11 21:25] beccaklam opened #8226 "[Interactive Report PT] Check in with devs"
Check in with devs during or at the end of the sprint to gauge feasibility of the designs.

[2022-02-11 21:27] beccaklam commented on #8226
Check in with devs during or at the end of the sprint to gauge feasibility of the designs.

[2022-02-12 00:00] Pomax commented on #8225
@anilkanji this is internal process, and should not be a repo issue...

[2022-02-14 16:34] bheasman opened #8243 "Sliders on MozFest Home Page are no longer scrolling"
### Description
Sliders on MozFest Home Page are no longer scrolling

### To Reproduce
Steps to reproduce the behavior:

1. Go to the homepage
2. Add a Tito button
3. Preview
4. Styling issues with the progress bars or the hero and the slides are no longer functioning

### Expected behavior
A clear and concise description of what you expected to happen.

### Additional context
See original Slack p

[2022-02-14 19:06] #7954 closed

[2022-02-14 19:12] #6481 closed

[2022-02-14 19:15] #8158 closed

[2022-02-14 19:19] Pomax commented on #8181
this was fixed as part of the pre-work for https://github.com/mozilla/foundation.mozilla.org/issues/8216

[2022-02-14 19:19] #8181 closed

[2022-02-14 19:20] beccaklam opened #8244 "[Interactive Report] Wrap up Hero Header Component Design"
- [x] wrap up designs
- [x] meet with devs to discuss feasibility

[2022-02-14 19:20] bheasman commented on #8162
Anil following up with Grassriots for more info on the issue and how to move forward.

[2022-02-14 19:20] beccaklam opened #8245 "[Interactive Report] Sticky Nav component"
Design and prototype component

[2022-02-14 19:21] beccaklam opened #8246 "[Interactive Report] Accordion component"
Design and prototype component

[2022-02-14 19:27] beccaklam commented on #8226
Ask if there's already an accordion component

[2022-02-14 19:33] bheasman commented on #8221
This needs further discussion to firm up requirements/approach before pressing ahead

[2022-02-14 19:47] bheasman commented on #7643
@sabrinang are you able to confirm if this is still an issue please? Thanks!

[2022-02-14 19:54] bheasman commented on #7643
Slack thread for reference: https://mozilla.slack.com/archives/C0294BBL2DT/p1634668805012900

[2022-02-14 19:55] bheasman commented on #7957
Agreed to have a timeboxed meeting together as devs to think this one through (1 hr)

[2022-02-14 20:12] #6510 closed

[2022-02-14 20:13] bheasman commented on #6510
Closing as covered by #8216

[2022-02-14 20:45] sabrinang commented on #7643
@bheasman This issue has been resolved in https://github.com/mozilla/foundation.mozilla.org/pull/7585#pullrequestreview-784794801 — cms video uploading and external videos work.

[2022-02-14 21:03] beccaklam commented on #8158
Finished large part of Hero Header design, first drafts here in this [redpen](https://redpen.io/p/od33c96f54153a0027). Design team is on board with moving forward with custom colour backgrounds and custom header type which will be two primary features of the new hero header. Work will be finished in this ticket: #8244

[2022-02-14 22:59] #8190 closed

[2022-02-15 14:15] beccaklam commented on #8226
Booked a meeting for tomorrow, Feb 16, to go over designs for the hero header component and the beginnings of the sticky table of contents nav if designs are far enough.

[2022-02-15 15:09] tbrlpld commented on #8132
@kristinashu Yea, this looks like a good case for the visual tests in Percy. I think the visual regression test should have detected both of them since in each case the rendered result was affected.

I am not sure how the tests can be set up though. Maybe @danielfmiranda, @Pomax or @fessehaye can help?