[2019-07-25 21:56] mmmavis commented on #2994
This is on staging now!

From the ticket description looks like there are still two todos left:

---

Form on nav uses the same "sign up" component that we use for other places on the site (e.g., footer, bannered campaign page). There are two GA event associated with this "sign up" component

[code]
What else do we need to do to mark this done? 👀

[code]

1.
2.

[2019-07-26 04:37] mmmavis commented on #3111
Um I'm opposed to making things more nested just for margin's sake. I'm gonna close this ticket but if you think this is still worth doing please re-open it.

[2019-07-26 04:37] #3111 closed

[2019-07-26 16:13] kristinashu commented on #3434
I'm working on a deck exploring the designs and functionally [here](https://docs.google.com/presentation/d/1NWfOotxMRcfE78CehF2uqZefEWEUm5siwrgOXzmbM_8/edit?usp=sharing) but I will be on PTO July 31 - Aug 15 so I'm not sure how much will get approved/finalized before I go since I'm not sure if I'll get to talk to Anil.

[2019-07-26 17:37] kristinashu commented on #3367
That sounds good for blue buttons but any suggestions for the black/white buttons? Maybe the fill turns `Gray 60` for regular and then `Gray 20` for dark theme? I think we can exclude the pop button since I don't _think_ we're using it anywhere right now.

[2019-07-26 19:46] #3298 closed

[2019-07-26 19:50] aayushbisen commented on #3366
Hey @Pomax 👋 Can I work on this issue?

[2019-07-26 20:35] alanmoo opened #3457 "Add client-side validation for petition comment fields"
Petition comments are limited to 500 characters in Salesforce. We should do a check on the client side so that a signer knows if their comment is too long, instead of just slicing it quietly after submission.

[2019-07-26 23:29] mmmavis commented on #2920
Since many components are shared between multiple page types (e.g., mini site menu, campaign, bannered campaign page, primary page... etc) there's no simple way to get rid of the extra margin without introducing changes to other pages. Gonna mark this "won't fix". /cc @kristinashu

[2019-07-26 23:30] mmmavis commented on #2920
@kristinashu Just realized we no longer have "won't fix" label. I'll just close this ticket then.

[2019-07-26 23:30] #2920 closed

[2019-07-26 23:32] kristinashu commented on #2920
👍

[2019-07-29 14:58] xmatthewx commented on #3446
Maybe stating the obvious, but if we want to do these things periodically, we should aim for cheap and repeatable structures so we can focus energy on the content and substance. Also, vanity URLs are a black hole for tracking campaign performance. We should avoid them until we have solution for that.

[2019-07-29 16:43] #3370 closed

[2019-07-29 17:05] Pomax opened #3465 "sort index page listings (blog etc) on publish date, newest first"
It's pulling up the records in database ordering at the moment, and that should be published_data, most recent first.

@kristinashu @alanmoo do we want true publication date, or "latest edit date"? I assume the first so that the ordering doesn't seemingly-randomly change?

[2019-07-29 17:26] kristinashu commented on #3465
Right, it should be based on the publication date.

[2019-07-29 19:43] Pomax commented on #3451
https://paulmillr.com/posts/chokidar-3-save-32tb-of-traffic/ is from June 2019, and talks about security concerns... food for digging.

[2019-07-29 19:45] Pomax commented on #3451
on that note, it would certainly be easy enough to write a node script that just does the watching we need and then running that, rather than chokidar-cli, https://github.com/paulmillr/chokidar#api

[2019-07-29 20:12] Pomax commented on #3424
I'd like to clarify: does the _text_ change, or does the _button_ change? Because if the text changes from "submit proposal" to "buy tickets", then really that's a different button, and it might make more sense to define a collection of buttons of which only one can be picked to show up on the homepage at a time, similar to "news items" or "campaign CTAs" on the foundation site.

[2019-07-29 20:49] Pomax commented on #3446
We can technically do the same thing we did before with things like buyers guide and fellowships: as long as we create things that are Django apps, we can borrow as much from wagtail as we want/need, and have the ability to host them under the same URL routeset. The one big issue I can foresee is localized content, which wagtail manages in one way, but Django manages in a related, but other way.

[2019-07-29 20:51] #3465 closed

[2019-07-29 20:53] alanmoo commented on #3424
Good point. The button changes.

[2019-07-29 22:21] Pomax commented on #3424
sounds good

[2019-07-29 23:31] Pomax commented on #3424
Do we want it to point to "any URL", or should it point to a specific mozfest app page? (e.g. should people type the URL and hope it's right, or should they be able to pick a page in the CMS and the button will point to that page, whatever its URL happens to be?)

[2019-07-30 01:49] alanmoo commented on #3424
I imagine it could be external links, so url string

[2019-07-30 17:05] gideonthomas commented on #2994
@xmatthewx ^

[2019-07-30 17:13] xmatthewx commented on #2994
I'm guessing this is about source on button action getting passed to Salesforce. Not a GA thing. Ask @alanmoo?

[2019-07-30 17:18] gideonthomas commented on #3426
@mmmavis think you'll be able to get this done in the current sprint?

[2019-07-30 18:47] mmmavis commented on #3426
@youriwims and I have met and decided to change the current glyph class from "platform" to "platform-glyph". e.g., `twitter` to `twitter-glyph`

[2019-07-30 20:41] alanmoo opened #3468 "Change fake data generator to add “index page” at /blog"
So that we can see the names of our fake blog posts.

Let’s also generate a few more blog posts while we are at it.

[2019-07-30 21:49] Pomax commented on #3468
done and done, PR waiting for your review.

[2019-07-30 22:14] mmmavis commented on #3424
A design question for you @sabrinang : do we want the nav CTA button (text + link) to stay the same across the site? Or allow each MozFest page to configure the button so it can link to different URL?

[2019-07-30 22:45] sabrinang commented on #3424
@mmmavis Keep the same nav CTA button to be consistent across the site.

[2019-07-30 23:58] #3064 closed

[2019-07-31 14:49] alanmoo opened #3471 "Enable heading ID attributes on Mozfest Primary Page templates"
So that editors can create anchor links to headings in their streamfields, we should enable the same functionality that's on pages in the Foundation site templates (and ensure it's actually in all Foundation site page types while we're at it). That is, when a user creates a heading (H1-H3, I believe?) they get an ID attribute that's a slugified version of the content.

[2019-07-31 15:10] alanmoo opened #3472 "Add Wagtail User Bar for all pages"
Let's replace the hacky "Edit" button I added for logged in users with the official [User Bar](http://docs.wagtail.io/en/v2.6.1/topics/writing_templates.html#wagtail-user-bar)

[2019-07-31 16:18] #3320 closed

[2019-07-31 18:26] gideonthomas opened #3474 "Optimize Open Graph on localized pages"
Update og:locale, or set og:locale:alternate on localized pages.

**Problem**
We’re currently using this everywhere: `<meta property='og:locale' content='en_US'>`

[2019-07-31 18:33] gideonthomas opened #3475 "Replace all /en links"
Find all /en links in the repo and remove the locale part of the link

[2019-07-31 19:57] alanmoo commented on #2994
From a convo with Will and Steph: For newsletter signups, we should send along the source URL as the base URL without all the query params, as having more data in Salesforce makes things harder to parse.

[2019-07-31 21:44] Pomax commented on #3443
Blocked on https://stackoverflow.com/questions/57299153/getting-all-api-fields-for-a-wagtail-api-child-of-call as it appears for all intents and purposes that we can get all the fields we need to generate more cards client-side only if we explicitly ask for named models using `type=<model name>`, rather than `child_of=<indexpage pk>`, which means that the actual list we want doesn't have the data

[2019-08-01 15:16] Pomax commented on #3443
Currently using a workaround by discovering, up front, all the different types that children might have. This works, but is hardly optimal.

[2019-08-01 16:31] Shubhamchinda commented on #3369
Hey @alanmoo , Can I take this ?

[2019-08-01 16:31] xmatthewx commented on #2994
@mmmavis - do you need any further info on this? if so, let's chat on slack in mofo-production.

[2019-08-01 16:43] #3468 closed

[2019-08-01 16:51] Pomax opened #3477 "Investigate using Site Settings for the Mozfest CTA button"
We might be able to replace the CTA button settings for the Mozfest navbar button with [Site Settings](https://docs.wagtail.io/en/stable/reference/contrib/settings.html) for said button instead, obviating the need to find the homepage from descendant pages.

See https://github.com/mozilla/foundation.mozilla.org/wiki/Things-Wagtail-does-better-than-we-do

[2019-08-01 17:03] #3424 closed

[2019-08-01 18:01] xmatthewx commented on #2994
Those GA categories and action look good. If we could add position to the Label to identify where it shows up, that would be great.  For example `Signup submitted from Footer` OR form `from Header`. If it's not possible, we will survive without it!

[2019-08-01 18:50] Pomax opened #3479 "Add tags to load_fake_data blog posts"
Currently blog pages are generated without any tags, which makes testing for tag filtering impossible

[2019-08-01 19:15] mmmavis commented on #2994
I'm gonna mark this done and open two separate tickets instead as they affect to the shared sign up component on the site and not just the form on the nav.

1. GA Event (based on this [comment](https://github.com/mozilla/foundation.mozilla.org/issues/2994#issuecomment-517395655)): (if possible) add position to the Label to identify where it shows up.  For example `Signup submitted from Footer` OR

[2019-08-01 19:15] #2994 closed

[2019-08-01 19:18] mmmavis opened #3480 "Newsletter sign-up component: include position info in GA event"
Based on this [comment](https://github.com/mozilla/foundation.mozilla.org/issues/2994#issuecomment-517395655):

(if possible) add position to the Label to identify where the form shows up.  For example `Signup submitted from Footer` OR form `from Header`.

[2019-08-01 19:23] mmmavis opened #3481 "Newsletter sign-up component: exclude query params in "source_url" sent to Salesforce"
Based on this [comment](https://github.com/mozilla/foundation.mozilla.org/issues/2994#issuecomment-516997473):

For newsletter signups, we should send along the source URL as the base URL without all the query params, as having more data in Salesforce makes things harder to parse.

(GA should still do its thing with query params)

[2019-08-01 19:47] alanmoo commented on #3369
You're free to open a PR if you have enough information, but I don't have bandwidth to assist other than reviewing it.

[2019-08-01 20:05] Patil2099 commented on #3366
Can I work on this if it is still open? @Pomax

[2019-08-01 20:08] Patil2099 commented on #2893
@Pomax  If this is still open can I work on this?

[2019-08-01 20:10] Patil2099 commented on #2758
Can I work on this issue? @Pomax

[2019-08-01 20:11] Patil2099 commented on #3475
Can I work on this issue? @gideonthomas

[2019-08-01 20:24] gideonthomas commented on #3475
@alanmoo ^

[2019-08-01 20:26] alanmoo commented on #3475
@Patil2099 You're welcome to open a PR, but this is getting added to our upcoming sprint starting on Tuesday. If you haven't opened a PR by then, someone on the core team will likely start to work on it.

[2019-08-01 20:28] Patil2099 commented on #3475
suppose there is a link abc.com/en/sometext/locale so I have to remove the locale string?to make it like this?
abc.com/en/sometext
@alanmoo

[2019-08-01 20:30] alanmoo commented on #3475
`/en` is the locale. `foundation.mozilla.org/en/sometext/foo` becomes `foundation.mozilla.org/sometext/foo`. But only for links within the site; There are other cases like tests where things should remain as-is. It's a bit of a judgement call based on the instance.

[2019-08-01 20:33] Patil2099 commented on #3475
Okay, I will try to do it till monday and make a PR.
@alanmoo

[2019-08-01 20:34] alanmoo commented on #3446
Thinking about this more, we'll probably still want to create Wagtail pages in the future, though there's a chance they'll end up being single-use. Can we create Wagtail pages in a separate Django app and still use all the nice things?

[2019-08-01 20:37] Patil2099 commented on #3475
One more thing do I have to make changes to .js file also or just the HTML ? and what about the places where there is en-US?
@alanmoo

[2019-08-01 20:44] #3481 closed

[2019-08-05 05:18] Patil2099 commented on #3366
@Pomax  I found all <a href="#">
First in product_page.html(Line 43)
Second in blog_card.html(Line 8)
Third in styleguide.html (Line 153)
Forth in Share-button-group.jsx (Line 114)
Can you Help me in Getting the correct links ? So that I can place them ?

[2019-08-05 16:29] Pomax commented on #3366
The idea is to replace them with "not `<a>` elements" since they're not navigations anchors - semantically anything that is a clickable and doesn't navigate is a button, so every link that's just `#` should be evaluated on a case-by-case basis. This might not be a very good contributor issue, given that our team is very small and there isn't enough free time to make contributors familiar enough wi

[2019-08-05 20:07] alanmoo opened #3495 "Add git to local Docker container"
When loading the project in a Docker container using VSCode, I can't use the git commands VSCode offers. I suspect this is because the Docker container doesn't have Git installed; If so, can we add that?

(Very low priority)

[2019-08-05 20:07] alanmoo commented on #3495
cc @patjouk

[2019-08-05 20:44] alanmoo commented on #3446
This isn't well formed enough/needs a proper example to be useful.

[2019-08-05 20:44] #3446 closed

[2019-08-06 15:11] #3345 closed

[2019-08-06 15:26] alanmoo opened #3497 "Remove CircleCI integration for now"
Since Lucie's out, let's make this not fail for now.

[2019-08-06 15:29] alanmoo opened #3498 "Django site dependency updates"
Foundation site, pulse api, wagtail-donate

[2019-08-06 15:36] alanmoo opened #3499 "Move AWS SES from sandbox"
From Lucie:

[2019-08-06 15:48] alanmoo commented on #3499
Actually, I'll just track this in the devops repo and add that to this Zenhub workspace

[2019-08-06 15:48] #3499 closed

[2019-08-06 17:46] Pomax opened #3500 "remove google sheets fields from Petition model"
Remove dead fields from Petition that are no longer relevant because we're using Salesforce instead of gsheets

See https://github.com/mozilla/foundation.mozilla.org/issues/3296

[2019-08-06 17:54] Pomax commented on #3471
This will involve making sure that the tag used to inject `id` attibutes to streamfield h1/2/3 gets used on Mozfest templates in addition to the current Foundation templates.

[2019-08-06 17:56] Pomax commented on #3474
This was added in a PR I was working on, I'll see which one it is and close-cross-link.

[2019-08-06 17:57] Pomax commented on #3475
AWesome work @Patil2099, @mmmavis is going to have a look at the PR and let you know if we're good to land or if there's anything left to fix before we merge it!

[2019-08-06 17:58] Pomax commented on #3497
https://mozilla.slack.com/archives/C4M19QU2Z/p1565083520001100?thread_ts=1565082922.001000&cid=C4M19QU2Z

[2019-08-06 17:59] Pomax commented on #3498
See https://mozilla.slack.com/archives/C4M19QU2Z/p1565083520001100?thread_ts=1565082922.001000&cid=C4M19QU2Z

[2019-08-06 20:24] Pomax commented on #3443
@alanmoo @mmmavis @youriwims I'm assuming that between https://github.com/mozilla/foundation.mozilla.org/pull/3476 and https://github.com/mozilla/foundation.mozilla.org/pull/3485 we want the latter, using non-API code to make the fetching happen.

[2019-08-06 20:28] Pomax commented on #3474
Addressed in https://github.com/mozilla/foundation.mozilla.org/pull/3485/files#diff-466035fbdea07f4221da7ce361860856R6

[2019-08-06 20:40] Pomax commented on #3471
this should, actually, already be happening. The way it works if that we change the way wagtail's own StreamField render function works, so any Streamfield on a mozfest page should already have h1/2/3 get auto-anchored.

[2019-08-06 20:40] Pomax commented on #3471
e.g https://www.mozillafestival.org/en/#bring-your-work-to-mozfest

[2019-08-06 21:01] alanmoo commented on #3471
It's not working on this page though- I believe the need is for the top text to be links to the different sections below. Is this a technical issue or a usability one? https://www.mozillafestival.org/en/event-terms-and-conditions/

[2019-08-06 21:12] alanmoo commented on #3497
I've spent more than 5 minutes trying to do this and when rebasing a PR, CircleCI keeps coming back. @Pomax any idea how to kill it?

[2019-08-06 21:40] Pomax commented on #3471
It turns out the headings had their text bolded - this has been fixed, and https://foundation.mozilla.org/en/docs/how-do-i-wagtail/creating-anchor-links/ has been updated to explain exactly what's going on (and what to do).

[2019-08-06 21:40] #3471 closed

[2019-08-07 00:42] mmmavis commented on #3451
`chokidar-cli` just published a new version v2.0.0. Do we care to upgrade it or we should just get rid of it for good?

https://github.com/mozilla/foundation.mozilla.org/pull/3491

[2019-08-07 15:26] alanmoo commented on #3498
@youriwims  This is basically a placeholder for handling the dependency updates; there seem to be a whole bunch.

[2019-08-07 16:46] alanmoo commented on #3089
Is this still relevant?

[2019-08-07 16:47] alanmoo commented on #3079
@youriwims Can you take the code review over the finish line?

[2019-08-07 16:53] youriwims commented on #3079
Sure can 👍

[2019-08-07 16:54] alanmoo commented on #3451
Yeah, landing that can close this.

[2019-08-07 16:56] alanmoo commented on #3451
(That being said, I wouldn't mind reducing our dependencies, but that seems to be more of an ongoing task rather than something we need to do right now)

[2019-08-07 17:11] beccaklam commented on #3303
We could just add an example of what the bold styling would look like if the base paragraph text was .body and .body-large

[2019-08-07 18:31] Pomax commented on #3475
After investigating the original underlying error, it turns out that rather than removing /en/ we need to replace each instance with the user's current locale, based on their Django sessions, which is a fairly complicated bit of work.

As we don't currently have the capacity to walk contributors through the process to make that happen, we'll have to close this PR and do this work in-house instead.

[2019-08-07 18:36] Pomax commented on #3475
blocked by https://github.com/mozilla/foundation.mozilla.org/pull/3501

[2019-08-07 18:39] Pomax commented on #3474
extracted as separate PR to unblock other work.

[2019-08-07 20:25] youriwims commented on #3303
@mmmavis So, I shouldn't add an example of all the updated bold typography? Also, what do you think would be the best way to implement this?

[2019-08-07 20:44] Pomax commented on #3379
estimated 1 because the work's technically already done...

[2019-08-07 20:46] alanmoo commented on #3379
![image](https://user-images.githubusercontent.com/1682681/62656711-d2f0a380-b932-11e9-96ef-3bb112cb0932.png)

[2019-08-07 21:45] mmmavis opened #3504 "Remove "leaders" JSX component"
It seems like [`leaders.jsx`](https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/components/leaders/leaders.jsx) is no longer in use? If so that's remove the `/source/js/components/leaders` folder altogether.

[2019-08-07 21:47] alanmoo commented on #3497
Yay, done (there was a lingering webhook)

[2019-08-07 21:47] #3497 closed

[2019-08-07 23:20] mmmavis commented on #3303
@youriwims

what do you mean by

[2019-08-07 23:24] youriwims commented on #3303
Based on the links in the initial comment, I saw that we have bold styles for all type in our style guide now. So, I wanted to clarify that I'm _only_ supposed to update the style guide to include `.body.bold` and `.body-large.bold` based on the [comment](https://github.com/mozilla/foundation.mozilla.org/issues/3303#issuecomment-519187914) above.

[2019-08-07 23:25] mmmavis commented on #3303
I'm thinking if we can just update the Paragraph section in `styleguide.html` to

[code]
Then we should be good

<img width="362" alt="image" src="https://user-images.githubusercontent.com/2896608/62664303-f1a16b00-b92f-11e9-832a-f880a9d52a05.png">

[2019-08-07 23:26] mmmavis commented on #3303
We might wanna wait till @beccaklam is back to review the PR though as I'm not 100% sure what reference would be useful for designers.

[2019-08-07 23:32] mmmavis commented on #3426
Need to update Pulse as well before we can close this ticket.

[2019-08-07 23:46] mmmavis commented on #3303
@beccaklam let's chat when you are back before we implement this. @youriwims and I are confused by the annotation on Redpen. For example, what are the use case of a bolder version of `h1-heading`?

[2019-08-08 13:42] beccaklam commented on #3303
@mmmavis I'm back! Feel free to schedule a meeting, my calendar is up to date :)

[2019-08-08 15:16] #3479 closed

[2019-08-08 15:58] youriwims commented on #3079
Closed via #3438

[2019-08-08 15:58] #3079 closed

[2019-08-08 17:11] Pomax commented on #3371
Given that results will be paginated, how do we want to indicate this? E.g. "Showing 12 of 50 results found", and updating that value as the user clicks "load more results"?

[2019-08-08 17:24] Pomax commented on #3371
Also, given that the tag filtering is now a properly different URL, `clear filters` is probably either no longer necessary, or needs a design tweak. The base page is still `/en/blog` but the filtered pages now (necessarily) live on `/en/blog/tags/(tags)`, so "clearing" is actually a navigation to `/en/blog`

[2019-08-08 18:22] xmatthewx commented on #3089
Yes. We can try it as just an authored page, but put at /newsletter. See if it's good enough. We discovered a new for a blog post making a call to sign up.

[2019-08-08 18:23] alanmoo commented on #3089
https://foundation.mozilla.org/cms/pages/457/edit/

[2019-08-08 18:39] alanmoo opened #3507 "Signup field `has-danger` on pageload"
**Describe the bug**
Bannered Campaign page signup field shows red outline on email form field at page load

**To Reproduce**
1. Visit https://foundation.mozilla.org/en/initiatives/open-leadership-events/
2. Observe the join component in the right column on desktop

**Expected behavior**
Field does not have "danger" class on page load

(Suspected problem line](https://github.com/mozilla/foundation

[2019-08-08 18:39] Pomax opened #3508 ""has-danger" class for the footer newsletter signup is invisible."
When the footer's newsletter signup input field has the `has-danger` class, which is supposed to highlight an error with a red border, there does not appear to be a visual cue:

![image](https://user-images.githubusercontent.com/177243/62728693-3d582100-b9d1-11e9-9af1-e7345e0155c4.png)

As a design question: does this need a visual cue at all?
As dev question: if yes, what's the best SCSS to use h

[2019-08-08 19:14] mmmavis commented on #3303
@beccaklam oops I'm having hard time remembering who's on PTO or not 😂 Will send invite.

[2019-08-08 19:25] Sharma-palak commented on #3065
Hi @mmmavis  ,can I take this issue?

[2019-08-08 20:03] mmmavis commented on #3065
Hi @Sharma-palak thanks for offering help but I think for this ticket it's less complicated for our team to handle it.

[2019-08-08 21:04] youriwims commented on #3296
@alanmoo as far as I can tell, it looks like this is currently in use on two bannered campaign pages:

1. https://foundation.mozilla.org/en/fellowships/newsletter/
2. https://foundation.mozilla.org/en/newsletter/

But they don't appear to be _real_ pages...or are they?

[2019-08-08 21:19] alanmoo commented on #3296
Those are very real, but are you sure that code is used? I thought they're using [this code](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/bannered_campaign_page.html#L64-L71) to render the div that React hooks into (notice the extra data attributes.)

In addition, (this file)[https://github.com/mozilla/foundation.mozilla.o

[2019-08-08 21:33] youriwims commented on #3296
Okay, makes more sense. Yeah, it doesn't look like basket is being used anymore either.

[2019-08-08 21:34] #3457 closed

[2019-08-08 22:49] mmmavis opened #3512 "Instagram icon on footer should be the 'hollow' version"
This is what the Instagram icon looks like on Foundation site footer.
<img width="36" alt="image" src="https://user-images.githubusercontent.com/2896608/62742542-caac6d00-b9f3-11e9-8179-ae47a45893a2.png">

We should update it to the hollow version like what we have on Pulse. E.g., (screenshot taken from Sketch file)
<img width="228" alt="image" src="https://user-images.githubusercontent.com/289660

[2019-08-08 23:07] mmmavis opened #3514 "PNI is missing icons on footer"
Not a regression. Icons in 'More about us' section were never there since day 1 after we updated PNI's footer to align with the main site 😭 .

https://foundation.mozilla.org/en/privacynotincluded/

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/2896608/62743127-12cc8f00-b9f6-11e9-8833-6d21d2900a5f.png">

[2019-08-09 21:12] Pomax opened #3517 "petition.jsx is missing checks for this.comment before accessing its value"
We had to do a heroku rollback because of this: petition.jsx doesn't check whether `this.comment` exists when running code on petitions without/with optional comment fields.

[2019-08-09 21:13] alanmoo opened #3518 "Interaction testing for petition submission"
We should have tests in place to make sure petition forms and signups work.

The first step of this is probably making sure review app form submissions work.

[2019-08-09 21:24] #3517 closed

[2019-08-10 13:35] Sharma-palak commented on #3008
@youriwims  ,Is this issue still open? can i take this issue ??

[2019-08-11 16:20] Pomax commented on #3008
@kristinashu can you confirm our content no longer requires this block to exist?

[2019-08-12 16:41] mmmavis commented on #3426
Done!

[2019-08-12 16:41] #3426 closed

[2019-08-12 18:57] #3451 closed

[2019-08-12 20:46] mmmavis commented on #3303
@youriwims @beccaklam - sorry for being back and forth on this. I re-read this ticket again and am now wondering if we really should add bold examples to the site's [style guide](https://foundation.mozilla.org/style-guide/) (since we are just using the default bolding behaviour)

To make things less confusing and to discourage bolding heading, I think we should **not** add bold text examples for h

[2019-08-12 21:47] youriwims commented on #3303
I agree with you @mmmavis. This may be slightly outside the scope of this ticket, but how are we going to discourage or prevent Wagtail users from bold-ing headings?

[2019-08-12 22:02] mmmavis commented on #3303
@youriwims

I don't think we can prevent Wagtail users from doing it 😬 I just thought we shouldn't set an example in style guide as it could encourage people to use it.

[2019-08-12 22:20] youriwims commented on #3303
Ah ok, gotcha 👍

[2019-08-13 15:22] Stark-Pramod commented on #3369
@alanmoo sorry, Actually I got some stuff to do that's why I got busy, otherwise, I would have done it for sure.

[2019-08-13 16:39] Pomax opened #3531 "use uniform block naming for django templates"
We're mixing camelCase and snake_case and kebab-case (omg these names...) and we should probably just stick with "not camel case" (to follow Python's conventions), and then either use underscores or hyphens...

And preference? I'd say "keep underscores for code, and use hyphens in templates" but the choice is 100% arbitrary and we really just need to pick one and then stick with it =)

Leave a vot

[2019-08-13 16:46] youriwims commented on #3531
🌮 taco it is lol

[2019-08-13 17:11] beccaklam commented on #3303
@mmmavis and @youriwims Yeah that's fine!

[2019-08-13 17:17] Pomax commented on #3531
🐍 WINS!

[2019-08-13 17:17] #3531 closed

[2019-08-13 17:18] Pomax opened #3532 "Update all blocks to use snake_case naming"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/3531, all template blocks should use snake_case for compound names.

[2019-08-13 17:19] youriwims commented on #3303
@mmmavis I just realized that you may have made the updates in the example [here](https://github.com/mozilla/foundation.mozilla.org/issues/3303#issuecomment-520588417) in the devtools and not in the codebase 🙈. If so, let me know, and I can open a pr to push up the changes we talked about :) 👍

[2019-08-13 17:45] Pomax commented on #3498
Is this just "running through the dependendabot PRs", or is this more than running down the PR list?

[2019-08-14 17:38] Pomax opened #3535 "Fix docker-setup so that it uses a clean db"
Docker-setup uses a postgres image, but does not "clean" that image during setup, which causes load_fake_data to find all kinds of data already in the db, and causes createsuperuser to go "admin already exists, please input your own username".

[2019-08-14 18:09] #3535 closed

[2019-08-14 18:11] Pomax opened #3537 "Make env.default point to localhost?"
Currently the `env.default` says this:
[code]
which means that without overriding this for local dev, all run instructions build a `main.js` that will completely bypass the local instance and instead call the production site for all its API needs.

It feels like we probably want to change this so that env.default reads:
[code]

instead.

Changing this shouldn't affect staging and production, but m

[2019-08-14 18:18] Pomax commented on #3537
(this took us way too long to spot when trying to figure out why localhost petition posting was going super wrong =D)

[2019-08-14 18:19] #3512 closed

[2019-08-14 19:06] mmmavis commented on #3303
@youriwims I just opened up a PR for you to review!

[2019-08-14 19:12] mmmavis opened #3539 "Add style guide to Percy test coverage"
Add /styleguide to Percy test coverage so it's easier for us to spot unintentional changes made to the brand standard related SCSS.

[2019-08-14 19:43] #3303 closed

[2019-08-14 21:19] #3369 closed

[2019-08-14 21:36] Pomax opened #3540 "Ensure that all pages have og:locale data _unless_ explicitly blanked, as well as a html lang attribute"
(based on comments in https://github.com/mozilla/foundation.mozilla.org/pull/3501)

We currently have `og:locale` on only a handful of pages, but there's no reason to not just add it universally to all pages, and make sure that the `<html>` tag has a corresponding `lang` attribute that agrees with the og:locale value

[2019-08-14 21:59] #3474 closed

[2019-08-15 16:14] Pomax commented on #2917
@alanmoo as the last comment was from May 10th, how much has the work here changed (if it's still relevant at all?)

[2019-08-15 16:20] #3472 closed

[2019-08-15 16:37] #3514 closed

[2019-08-15 16:41] kristinashu commented on #3008
I checked with Youri and she has confirmed that we should remove this block.

I also checked our inventory and it isn't showing up so guess it isn't in use anywhere:
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/1068783/63110631-c4ad1380-bf40-11e9-99b3-732039ccea8e.png">

[2019-08-15 18:13] Pomax commented on #3540
The 404 page is the only page (as far as I can tell) that _needs_ to blank the metadata here, but only the wagtail `meta_tags` content. The locale meta tags should work just fine.

[2019-08-15 19:19] TheoChevalier opened #3544 "Localize blog posts"
The advocacy team would like to publish [this blog post](https://foundation.mozilla.org/en/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/) in French and German next week, if you think this won’t hit prod by then, let me know so that I can look into a backup plan.

Thanks!

PR to be reviewed: #3543

[2019-08-15 19:34] #3544 closed

[2019-08-15 23:50] youriwims commented on #3498
@alanmoo was there something specific that you saw needed to be updated in the donate-wagtail repo? I don't see any `dependabot` updates, but when I run `npm outdated` I can see quite a few packages marked as 'missing'.

[2019-08-16 00:04] alanmoo commented on #3498
Don’t worry about that repo.

-Alan Mooiman,
Mozilla Foundation Engineering Manager
Eastern Daylight Time (USA) UTC-4
On Aug 15, 2019, 7:50 PM -0400, Youri <notifications@github.com>, wrote:

[2019-08-16 00:06] #3498 closed

[2019-08-16 16:31] alanmoo commented on #2917
Still relevant, no change.

[2019-08-16 18:04] kristinashu commented on #3434
I've updated the [deck](https://docs.google.com/presentation/d/1NWfOotxMRcfE78CehF2uqZefEWEUm5siwrgOXzmbM_8/edit?usp=sharing) based on feedback and added in some notes for devs. I think the next step would be to add in categories but let's chat next week. In the meantime please add any thoughts to the deck or in [redpen](https://redpen.io/p/bha12cf7387de4f7e7).

@anilkanji @xmatthewx @alanmoo @Pom

[2019-08-19 12:57] patjouk commented on #3537
We don't use the `env.default` for review apps: they have their own settings in the `app.json` (either custom env or inherited from staging).

[2019-08-19 15:35] alanmoo commented on #3537
Ah, so in addition to this for local work, we probably need to change the setting in app.json?

[2019-08-19 15:51] alanmoo opened #3547 "Set up home for Youtube Campaign"
The design team is finalizing designs for a youtube campaign. It's going to be a one-off page in a visual style dramatically different from the rest of the site. It'll probably pull in some JS library that we don't use elsewhere, but we do want to ensure we can still make it have all the nice things we usually do by making it a part of the Wagtail tree. The content itself might not have to be edit

[2019-08-19 16:16] Patil2099 commented on #3500
@pomax can I work on it ?

[2019-08-19 16:25] gideonthomas commented on #3434
@kristinashu to file implementation tickets and put them into Aug 26 milestone.

[2019-08-19 16:57] #3371 closed

[2019-08-19 17:23] anilkanji commented on #3480
Is this about information propagating to google analytics? If so - is there a standard labeling heuristic/taxonomy?

[2019-08-19 17:54] alanmoo commented on #2917
@Pomax Rather than taking this on, would it be efficient for you to identify what needs to be done so that someone else may be able to try it?

[2019-08-19 19:51] mmmavis commented on #3480
Hey @anilkanji - yes, I follow what's on this [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=779058050) when I implement GA events in the codebase. For the labeling taxonomy question I'll defer it to @xmatthewx .

[2019-08-20 15:16] patjouk opened #3556 "Visiting the help page on the foundation site return a 5xx"
**Describe the bug**
the `help` page is a page for dev and available on review apps. Visiting `https://foundation.mozilla.org/help/` will return a 5xx.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org/help/

**Expected behavior**
Redirect to the foundation homepage.

**Additional context**
Traceback:
[code]

[2019-08-20 15:57] alanmoo opened #3557 "Fix production"
It seems like [this](https://github.com/mozilla/foundation.mozilla.org/compare/73641efa...fc0c3d21#diff-8adf98446ee6773369e46c907ec7db75R3) is the cause of the production incident last week. Filing this ticket to be clear that we need to spend some time rolling back commits and re-deploying.

[2019-08-20 16:07] Pomax commented on #3434
thing that feels import we add earlier than later: RSS/Atom feed so people can follow us.

[2019-08-20 16:46] Pomax commented on #3475
Reopening this issue: due to prod push problems, the PR associated with this issue had to be backed out of master.

The associated PR's branch still exists as https://github.com/mozilla/foundation.mozilla.org/tree/issue-3475-en-links but relied on code that is also getting backed out, and so will quite likely require additional work.

[2019-08-20 17:03] mmmavis commented on #3475
@Pomax the above link doesn't work for me 😬

[2019-08-20 17:06] kristinashu opened #3560 "Blog: Add categories field"
Add the ability to assign a blog post to a category.

Categories are:
- Mozilla Festival
- Open Leadership & Events
- Internet Health
- Fellowships & Awards
- Advocacy

Can a post be in more than one category? Hmmmm yes, I _think_ a post should be able to be in multiple categories but if that is complicated then just one is fine.

cc @alanmoo

[2019-08-20 17:12] mmmavis commented on #3475
Also - should I revert my PR #3545 ?

[2019-08-20 17:41] alanmoo opened #3561 "Percy test for BanneredCampaignPage"
We want to make sure we don't visually break banneredCampaignPages

[2019-08-20 20:44] xmatthewx commented on #3480
Thanks @mmmavis. @anilkanji - these events capture user action that is otherwise not tracked by analytics. Independent of campaign utm tracking, though could overlap. Mostly capture buttons and other interaction that leads to a submission or somewhere off site. In that spreadsheet, you'll find that PNI and other tabs are a bit cleaner than foundation site, which might be slightly out of sync with

[2019-08-20 21:15] kristinashu opened #3562 "Blog: Build category overview page"
Blocked by - Add categories field https://github.com/mozilla/foundation.mozilla.org/issues/3560

We need one overview page for each of the ~6~ 5 categories

URL: foundation.mozilla.org/blog/[category-name]

### Page content:
- title of category
- unique editable intro text
- intro text can have url link in the copy
- most recent posts
- “See more” button
- future feature: ability to have featured

[2019-08-20 21:20] #3532 closed

[2019-08-20 21:22] Pomax commented on #3557
fied by backing out the "og-locale" PR (and subsequent "hardcoded /en/" PR)

[2019-08-20 21:22] #3557 closed

[2019-08-20 21:27] kristinashu opened #3563 "Blog: update tags to categories on /blog"
Update the purple link text from the first tag to category.

Comp: https://redpen.io/gaebe8a528c73afec4
![](https://s3.amazonaws.com/redpen-prod/red-pen-79d7ed7e-e098-44ec-a943-328da15be42b.jpg)

cc @Pomax

[2019-08-20 21:33] kristinashu opened #3564 "Blog: build Wagtail component"
Create a component (similar to the Pulse component) that can be embedded on any wagtail page to show recent blog posts within a category or a tag.

### Shows most recent posts from either
  - a category
  - or a tag

### Component content
- section title
- 6 most recent posts
- “More from our blog” button

### Thumbnail content
- OG image
- category (hidden if filtered by category since they will

[2019-08-20 21:47] kristinashu commented on #3434
Meet with Alan and Pomax to review the deck and next steps.
- Pomax will start add the ability to tag a post in a categories this week #3560
- next week he will build the category landing pages #3562
- after that he will update /blog tags to categories #3563

And I have updated the Blog Epic ticket with all the remaining work needed https://github.com/mozilla/foundation.mozilla.org/issues/2797 so

[2019-08-20 21:50] #3434 closed

[2019-08-21 10:30] snowmanstark commented on #3366
@Pomax @alanmoo is anyone assigned to work on this issue?

[2019-08-21 15:40] Pomax commented on #3366
No one is assigned this issue at the moment, but we do not have the capacity to walk you through the codebase, and replacing these links with the correct semantic equivalent and the correct classes such that it conforms to the styleguide without breaking functionality means this is not "just replacing `<a>` with `<button>`". There's a lot more work that would have to go into this, which is why the

[2019-08-21 15:45] #3443 closed

[2019-08-21 15:59] kristinashu opened #3565 "Onboarding staff to blog"
Document then set up meeting.

[2019-08-21 18:19] Pomax commented on #3547
Will this live under `/campaigns/` or the homepage?

[2019-08-21 18:21] Pomax commented on #3556
Looking at the file in question, the code is:
[code]
so it's possible the the `try` fails, but not on an `AttributeError`.

[2019-08-21 18:26] Pomax commented on #3547
Also, when we say "dramatically different", are we talking independent HTML and CSS code?

[2019-08-21 18:30] alanmoo commented on #3547
Yes. Think PNI compared to the rest of the site. Probably some shared metadata and _maybe_ a header nav.

[2019-08-21 19:44] mmmavis commented on #3475
@Pomax can you suggest what we should do to close this ticket?

[2019-08-21 23:31] kristinashu opened #3568 "Design /advoacy page"
Our [Advoacy](https://foundation.mozilla.org/advocacy/) page was put up as a quick fix but now we should take some time to think it through and actually design it.

Make sure to create a brief to establish the goal and audience for the page.

## Proposed content

**Intro text**
- We do advocacy! He's why and how in 280 characters or so.

**Advocacy campaigns**
- Our top active campaigns
- Proposed

[2019-08-22 17:04] Pomax commented on #3547
Currently leaning towards:

- a "one off" page model that allows us to specify
  - which template that page should render with, and
  - a streamfield of "translation key/value pairs" so that we can specify text blocks in the CMS, with the translation fields that offers

- a filter for fetching textblocks given keys so that the template ends up being something like `{{ intro_text | gettext }}` and

[2019-08-22 17:08] Pomax commented on #3547
Note that this means localization would be done through the CMS, _not_ through pontoon (until we can figure out an external localization strategy for CMS content)

[2019-08-22 18:38] Pomax commented on #3547
On a testing note: without comps, it's effectively impossible to write an adequate data-faking + percy test to go with the code that we land for this issue

[2019-08-22 19:44] Pomax commented on #3560
Do we want these in the Promote tab, like tags, or (because it's fixed content) part of the blog page?

[2019-08-22 19:47] kristinashu commented on #3560
Good question... since it's pretty important and we don't want people to miss it, I think it should go with the main content. Perhaps below the Author field. But for now at least, let's not make it a required field.

[2019-08-22 19:56] Pomax commented on #3560
can do - I assume these categories are not going to get expanded on very much/very often? (if they are, that changes how best to implement them)

[2019-08-22 20:41] #3561 closed

[2019-08-22 20:46] kristinashu commented on #3560
Right, these should be set. Staff should not be allowed to create new ones or edit existing ones.

[2019-08-23 17:56] kristinashu commented on #3568
Notes from Anil:

1) I'd like to check in with Ashley to see if there's any concerted efforts to talk more about our work as advocacy OR campaigns - that's a data point that should be considered.

2) If we're a movement building organization, there's a slight nuance that can be surfaced in the copy (as part of the three bullet points Matthew shared): We campaign (or do advocacy) but our role is to

[2019-08-23 18:53] alanmoo opened #3572 "Add "review date" to PNI product model"
So that we can filter by products reviewed in different months/years in the guide, we should add a field to the model allowing us to indicate review month and year. I don't have a particular opinion on format (string vs an actual date), so I'll leave it to the implementer to decide.

[2019-08-23 20:40] #3507 closed

[2019-08-26 14:09] alanmoo opened #3573 "Identify path to enable A/B test "success" case from petition/signup submissions"
There's a desire to A/B test pages that have petitions, and perhaps signups. In order to do this, the Wagtail Experiments framework looks for a specific endpoint to be hit, identifying a "successful" test. Let's figure out what needs to happen, and what questions still need to be answered in order for us to come up with a reasonable solution to this.

User story: "As an advocacy team member, I wan

[2019-08-26 19:54] alanmoo opened #3580 "Implement language switcher"
Results of #2681

[2019-08-26 20:04] kristinashu opened #3581 "Blog: finalize homepage blog feed"

[2019-08-27 17:40] sabrinang opened #3582 "Weekly Check-In with MozFest Design"
Sabrina to support and check-in with Siu

[2019-08-29 00:06] mmmavis opened #3586 "Blog Index - Tag(Category?) list should always be on it's own line"
Not sure about the original design but this looks like a bug to me. /cc @kristinashu

Test page on staging: https://foundation.mofostaging.net/en/blog/tags/coffee/

<img width="943" alt="image" src="https://user-images.githubusercontent.com/2896608/63900601-d87f5d80-c9b5-11e9-97a7-0ace4c28bd86.png">

[2019-08-29 00:11] kristinashu commented on #3586
Yes, definitely a bug!

[2019-08-29 00:26] mmmavis opened #3587 "Blog: display list of tags on blog post page"
Currently blog post doesn't display the list of tags it's associated with. Is it about time for us to add it to the page?

For example, this [blog post](https://foundation.mozilla.org/en/blog/what-can-you-trust-internet/) has the tag `YouTube`. Based on the mockup provided in this [ticket](https://github.com/mozilla/foundation.mozilla.org/issues/3030) the page should display ```Tagged: YouTube```

[2019-08-29 05:32] natalieworth commented on #3508
@youriwims Added error states for the footer back in the Foundation Site abstract file under 'Footer WIP' section:

<img width="1323" alt="Screen Shot 2019-08-28 at 10 29 04 PM" src="https://user-images.githubusercontent.com/14876567/63913049-a1c03c00-c9e3-11e9-80b7-f9e6b65e186d.png">

cc @mmmavis

[2019-08-29 18:05] kristinashu commented on #3587
Design had [originally designed](https://redpen.io/ut7a651b2aa0892ef4) it this way but we have since questioned if this is the best modern practice or not.

I'll assign this as a design task until we decide, but either way it isn't blog priority right now.

[2019-08-29 18:30] kristinashu opened #3588 "Blog: add RSS"
@Pomax suggested we add an RSS feature to our blog. @xmatthewx liked this because then we could get slack updates.

[2019-08-29 19:09] kristinashu opened #3589 "Blog: add comments to post detail page"
From epic ticket https://github.com/mozilla/foundation.mozilla.org/issues/2797

Add comment feature to individual blog post pages similar to [PNI](https://foundation.mozilla.org/en/privacynotincluded/products/harry-potter-kano-coding-kit/) and [IHR](https://internethealthreport.org/2019/lets-ask-more-of-ai/).

By default comments feature should be off but staff should be able to turn them on for s

[2019-08-29 19:28] kristinashu opened #3590 "Update Wagtail hint text for video component"
Update hint text for video cms component.

User feedback has pointed out that it is hard to know what YouTube url to put in

<img width="998" alt="image" src="https://user-images.githubusercontent.com/1068783/63969556-f0f38480-ca56-11e9-9202-eb1bd756ba2b.png">

Update hint text to say:

[2019-08-29 19:47] kristinashu opened #3591 "Blog: ability to backdate a blog post"
We will manually move over a few key blog posts from Medium over to our site so we need to add the ability to backdate these posts.

[2019-08-29 19:53] marcwalsh opened #3592 "[Enhancement] Allow embedding of YouTube Privacy Enhanced Player"
_(This is just an enhancement request, rather than a bug)._

When trying to add the URL of a privacy enhanced video on YouTube using a Video block, the player does not show on the Mozilla Festival website.

I have added two embeds on https://mozillafestival.mofostaging.net/en/youtube-live-stream-test/

The first is the standard video and the second is same video with the Privacy Enhanced player.

[2019-08-29 20:13] mmmavis commented on #3560
From Pomax:

Then we can create a subroute for `/category/...`  that works similarly to tags, except using the BlogPageCategory relation

[2019-08-29 21:18] alanmoo commented on #3589
Yup, absolutely.

[2019-08-29 23:21] sabrinang commented on #2681
Iterated a few options: https://redpen.io/p/vu6e9b5fe5236d10f8
- header option (full-wdith dropdown or landing variations)
- footer option (list drop down - field styling, icon only or default select element) the heading could also link to the landing option similar to how https://www.mozilla.org/en-US/ links to https://www.mozilla.org/locales/

Mozilla examples for reference or to be aware of:
<i

[2019-08-30 16:01] kristinashu commented on #2681
Looks good @sabrinang! I like all the footer versions. I don't think we can do a nav version because it competes too much with our main CTAs and also feels too prominent considering most of our pages aren't translated.

[2019-08-30 19:45] alanmoo commented on #2681
I mentioned in the Red Pen, but I know comments can get lost there. I feel pretty strongly that we need _some sort_ of icon in the footer version to demonstrate that it's a language switcher. When you land on a page in a language you don't speak, it can be very hard to find the word "language" in that language.

[2019-08-30 20:22] sabrinang commented on #3582
**Sept 3**
- [ ] slack check-in on Tuesday
- [ ] review assets on Thursday call
- [ ] update any new asset examples on style guide

[2019-08-30 22:16] youriwims commented on #3564
@kristinashu can you confirm if these will be the only tags for this component?
- tags
  - 'mozilla'
  - 'privacy'
  - 'security'
  - 'internet health'
  - 'digital inclusion'
  - 'advocacy'
  - 'policy'

I took the list of tags from Pomax's blog-tag PRs. If not, can you send the list of pre-defined tags our users should be able to choose from?

[2019-08-30 22:40] kristinashu commented on #3564
Categories are set to only 5 different ones https://github.com/mozilla/foundation.mozilla.org/issues/3560#issue-482979249 but tags could be anything. Staff can type anything into the tag field on a blog post detail page:
<img width="498" alt="image" src="https://user-images.githubusercontent.com/1068783/64054409-b1eb2f00-cb3b-11e9-8680-d76269d607ac.png">

I assumed filtering by a tag would be simi

[2019-08-30 22:49] youriwims commented on #3564
Sure, I could do the tag filtering by search similar to the _Pulse Listing_ component. A few other questions:

1. I just want to confirm that we're not letting users choose how many entries to display? It will always be 6, right?
2. Will the “More from our blog” button take them to the tag-filtered blog page or should that component expand and continue loading results?
3. Will the title always be

[2019-08-30 23:09] kristinashu commented on #3564
Thank you for the questions!

1. I just want to confirm that we're not letting users choose how many entries to display? It will always be 6, right?

2. Will the “More from our blog” button take them to the tag-filtered blog page or should that component expand and continue loading results?

3. Will the title always be _Latest News_ or should that be editable?

4. What did you mean by OG **descrip

[2019-08-30 23:19] youriwims commented on #3564
Awesome—thank you!

[2019-09-03 08:23] perrywilli commented on #3591
You are very beautiful

[2019-09-03 17:05] #3500 closed

[2019-09-03 17:06] #3560 closed

[2019-09-03 17:27] mmmavis opened #3603 "Add categories to the blog factory for load_fake_data"
add categories to the blog factory for load_fake_data

[2019-09-03 17:42] Pomax commented on #3562
I see only fix categories in the codebase:

- Mozilla Festival
- Open Leadership & Events
- Internet Health
- Fellowships & Awards
- Advocacy

Which one are we missing?

[2019-09-03 17:52] Pomax commented on #3562
Will categories only ever apply to Blog pages, or are the same categories going to end up getting used for things like campaigns and/or one-off pages?

[2019-09-03 17:56] kristinashu commented on #3562
Oops only 5 categories, I've updated the first comment!

[2019-09-03 17:57] kristinashu commented on #3562
There will be a Wagtail component https://github.com/mozilla/foundation.mozilla.org/issues/3564 that will pull post based on the category but I don't foresee using categories anywhere else.

[2019-09-03 19:08] Pomax commented on #3562
Due to wagtail's routing model, category URLs will need to be `/blog/category/(catname)`. Hopefully that's not a problem?

[2019-09-03 19:10] kristinashu commented on #3562
Yeah that url structure is ok with me.

[2019-09-03 20:24] Pomax commented on #3562
In the comp, is the "Mozilla Festival Blog" heading a custom heading, or a compound of `{category name}` + `Blog`?

[2019-09-03 20:29] kristinashu commented on #3562
I like the consistency of making it a compound `{category name}` + `Blog` (in Title Case).

[2019-09-03 20:41] Pomax commented on #3562
Also, is the thumbnail content the standard blog card content that we also see on `/blog` and `/blog/tags/...` ? (or, even if not the same as exists right now, is it _supposed_ to all be the same cards, or do these somehow differ?)

[2019-09-03 20:51] kristinashu commented on #3562
Right, it should be the same image, title, author, date as on `/blog`. Only difference is that the tag/category is hidden since they will all be the same (related: Blog: update tags to categories on /blog #3563).

[2019-09-03 22:42] sabrinang commented on #2681
Thanks for the feedback @alanmoo @kristinashu I refined the footer field option in the redpen: https://redpen.io/p/vu6e9b5fe5236d10f8
- aligned field height to match form styles
- use 2 columns to accommodate lengthy language labels
- included language speech bubble icon, world icon or no icon options
- drop down style and mouseover style
- mobile version

I avoided using flag icons as they repres

[2019-09-03 22:44] mmmavis opened #3606 "Fix migration numbers so there aren't dupes"
In `development` branch: there are two migrations sharing the same number `0074`

https://github.com/mozilla/foundation.mozilla.org/tree/development/network-api/networkapi/wagtailpages/migrations

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/2896608/64213454-e58ec780-ce61-11e9-89d2-cbe9abde0366.png">

From @Pomax:

[2019-09-03 22:45] mmmavis commented on #3606
@gideonthomas can you help triage this ticket?

[2019-09-03 23:08] kristinashu commented on #2681
Awesome, I like the one with the globe icon!

Maybe just check-in with @mmmavis since I think she might be implementing this. I'm not sure how much work it will be to customize the drop down?

[2019-09-04 16:48] mmmavis commented on #3603
Work has been merged into `development`. Closing!

[2019-09-04 16:48] #3603 closed

[2019-09-04 17:21] kristinashu commented on #3591
Kevin just inquired about this feature. Not sure if it's helpful but he pointed out that he is able to backdate News items.

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/1068783/64276819-ac0b9a00-cefd-11e9-92ae-e37eae45e64a.png">

[2019-09-04 17:29] gideonthomas commented on #3606
This should really not be necessary per: https://docs.djangoproject.com/en/2.2/topics/migrations/#version-control.
But if you really want to do this, you can do this at the end of the milestone if you have time after finishing up the Up Next and In Progress tickets assigned to you.

[2019-09-04 18:06] Pomax commented on #3606
honestly, we should really squash our migrations as much as possible sooner than later. Having almost 100 migration files is completely unnecessary =)

[2019-09-04 19:51] Pomax commented on #3591
News items exist "outside" of wagtail pages, so it has a dedicated date field. Normal pages are wagtail managed when it comes to publication date, so we can't change their dates quite as easily. How many posts would this concern?

Also, with an eye on republishing on the internet, a common practice is to byline republications as "This is a republication of "title here" found here [link to original

[2019-09-04 19:56] sabrinang commented on #3367
I cleaned up doc so all button states are adjacent to compare:
<img width="705" alt="Screen Shot 2019-09-04 at 12 45 44 PM" src="https://user-images.githubusercontent.com/2492510/64286420-47a70580-cf12-11e9-8c1d-bd5ea75b06b6.png">

Ready for review and give feedback redpen here: https://redpen.io/ru6635ba6cf3bd6e12

[2019-09-04 20:42] sabrinang commented on #3367
@kristinashu
Design R?

[2019-09-04 20:43] mmmavis commented on #2681
If we wanna stick with standard HTML `<select>` (dropdown) without any hacks/JavaScript then there are restrictions on the things we are able to style using CSS.

@youriwims , I know you have experience styling a standard dropdown on Pulse. Can you correct me if I say anything wrong or if you have anything to add?

## Default/Closed State

<img width="397" alt="image" src="https://user-images.gith

[2019-09-04 20:58] kristinashu commented on #3591
Ah ok. I think it would been fine if he migrated older posts over and then started to publish new stuff. But I think it's tricky since we've already started to published stuff so the "older" posts will end up pushing the new stuff down.

But just let me know if you think it will be too tricky to do and I'll let Kevin know.

[2019-09-04 21:35] kristinashu commented on #3367
R+

Note the dev that social share buttons would follow the secondary button styles.

[2019-09-04 23:54] kristinashu commented on #2681
Let's see what Youri says but most likely we will have to do something like what Pulse has (custom closed state but default open state).

Once that is decided, Sabrina, please update the implementation ticket https://github.com/mozilla/foundation.mozilla.org/issues/3580.

[2019-09-05 14:47] youriwims commented on #2681
Yep, you've covered everything @mmmavis and are absolutely correct. Like @kristinashu said, something similar to the Pulse dropdown is the extent of what can be done with `<select>`.

[2019-09-05 17:40] gideonthomas commented on #3591
Is this a one time migration? If so, I suggest doing this manually in the db to make it easier. First, create the posts to be migrated in wagtail as new posts and publish them.

Then, in the db, just run queries like `UPDATE table_name SET publish_date_column = '2011-10-10' WHERE id = 123`. Using a database GUI we can simply queue all of these up and run them once.

[2019-09-05 17:45] kristinashu commented on #3591
Yes, it's just a one time migration!

[2019-09-05 17:46] Pomax commented on #3591
as a CMS, with a million tables that all interconnect, I am not inclined to believe it'll be quite that simple. I'll ask the wagtail folks if there is a way to backdate, and if not, how to manually achieve backdating (through python, by updating models and saving them, rather than through straight up DB updating, because the model update is likely to make sure everything that's related gets update

[2019-09-05 19:53] sabrinang opened #3608 "Implement Button Active State"
Design issue #3367

**Primary active:** $light-blue with $white text
**Secondary active:** $blue with $white text
**Pop active:** $black with $white text

**Inverse Primary active:** $dark-blue with $black text
**Inverse Secondary active:** $blue with $black text
**Inverse Pop active:** $white with $black text

<img width="705" alt="Screen Shot 2019-09-04 at 12 45 44 PM" src="https://user-images.g

[2019-09-05 19:53] sabrinang commented on #3367
Great, added implementation issue #3608 – closing this design issue.

[2019-09-05 19:53] #3367 closed

[2019-09-05 21:16] Pomax opened #3609 "`inv docker-setup` fails on a truly clean install"
I just got a new laptop, and after installing git, node, python3, invoke, and docker, the `inv docker-setup` command failed when it reached the database delete step, because there was nothing for it to delete:
[code]
The solution is probably to try/except the delete step, so that the rest of the setup tasks continue to run even if there was no postgres volume to delete

[2019-09-05 22:09] sabrinang commented on #2681
Keeping default/closed state design and updated using default style similar to what could be done in pulse dropdown. Got R+ from design crit and final updates on redpen here: https://redpen.io/p/vu6e9b5fe5236d10f8

Sketch style guide footer has been updated in abstract. White globe icon found in sketch style guide or download svg here: https://drive.google.com/open?id=1VwaGtRuGmhKPiRFiiPJ5Sy8FvqAF

[2019-09-05 22:09] #2681 closed

[2019-09-05 22:11] sabrinang commented on #3580
Final designs on https://redpen.io/p/vu6e9b5fe5236d10f8 or can be found on abstract sketch style guide file:
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/2492510/64386937-5c0d0000-cfef-11e9-9ba8-17edbe8e024b.png">

White globe icon found in sketch file or download svg here: https://drive.google.com/open?id=1VwaGtRuGmhKPiRFiiPJ5Sy8FvqAFjg0L&authuser=sabrina@mozillafo

[2019-09-05 22:33] kristinashu opened #3611 "Blog: featured on homepage"
We would like to update the homepage News feed to a featured Blog feed.

### Layout
- Keep the same layout as we have now but replace the news source with the blog category. The rest should stay the same.

### CMS
- Staff (usually Jen) should be able to go to the homepage in Wagtail and select 4 blog posts to feature.
- Most recent featured post should be on the left with an image. Oldest featured

[2019-09-05 22:37] kristinashu commented on #3581
Talked with the content team and we decided the short term solution is to replace the news feed with a blog feed https://redpen.io/p/fm1aa86db66594fc47

Our standard blog thumbnails would make the homepage too image heavy so designers decided to keep the current news feed layout.

Opened dev ticket https://github.com/mozilla/foundation.mozilla.org/issues/3611

[2019-09-05 22:37] #3581 closed

[2019-09-06 18:11] Pomax opened #3612 "rewrite all templates to use _ instead of -"
we updated `{% block %}` defs to use _ rather than -, but there are a bunch of templates left that still mix those two.

See #3533

[2019-09-06 19:25] Pomax commented on #3562
title case question: right now we're using code that effects title casing for the compound `(category) Blog`, but that would look strange if we have categories with prepositions/articles in it - just to confirm, that's not going to occur, right? They're just "bare" noun phrases?

[2019-09-06 19:33] kristinashu commented on #3562
Title case works for our current list but two of the have ampersands, is that ok? Because if we didn't have ampersands then it yes it would be weird to have `Open Leadership And Events`.
- Mozilla Festival
- Open Leadership & Events
- Internet Health
- Fellowships & Awards
- Advocacy

If you think this might be an issue then I guess we could make the title it an editable field. Especially since we

[2019-09-06 19:35] Pomax commented on #3562
yep, ampersands don't cause any problems (at least, I don't _think_ there's an uppercase ampersand!). The only problem with title case is that it's fairly indiscriminate, so it will happily turn "this is a title in plain text" into "This Is A Title In Plain Text", which doesn't really follow conventional title case rules. Symbols are left untouched, so we should be good then!

[2019-09-06 19:39] kristinashu commented on #3562
Ok awesome, thanks for checking!

[2019-09-06 19:40] Pomax commented on #3562
And with that, PR landed

[2019-09-06 19:40] #3562 closed

[2019-09-09 16:44] mmmavis commented on #3580
@sabrinang for the down caret icon did you want me to use the same icon we use on Pulse? https://www.mozillapulse.org/assets/svg/caret-down.svg

[2019-09-09 16:58] sabrinang commented on #3582
**Sept 9**
- [ ] slack check-in on Tuesday
- [ ] review assets on Thursday call
- [ ] reply asynchronously and review other designer's issues
- [ ] update any new asset examples on style guide

[2019-09-09 17:16] sabrinang commented on #3580
@mmmavis The pulse icon should be using the icon set (round stroke caps) and it'll be white so no. I've exported the white down chevron icon in the same folder here: https://drive.google.com/open?id=1WgJeiczo6i6KM2l4sBJsFwBw0wLqf8xi&authuser=sabrina@mozillafoundation.org&usp=drive_fs

[2019-09-09 18:16] gideonthomas commented on #3591
cc @alanmoo

[2019-09-09 18:19] alanmoo commented on #3591
I think we're going down the wrong path here. In the "settings" tab of posts, we can already set a date in the past or future. Can we update the blog template and index views to show "scheduled publish date, if in the past OR first publish date, if no scheduled date"?

[2019-09-09 18:20] Pomax commented on #3591
good point, that should be possible

[2019-09-09 18:26] kristinashu opened #3614 "PNI: Optimize for Signups"
### Goal
This is our primary goal of PNI: Increase conversion of visitors to subscribers to transform prior marketing and engagement success into more power for mofo and movement.

### Why
- To grow the MoFo email list with new audiences so that we’re in a position to fundraise and engage a broader public.
- KRs that this affects: 1.1 and 1.2

### From Matthew
- My theory is that we do this aggres

[2019-09-09 18:27] kristinashu opened #3615 "PNI: Refine Product page"
### Goal
This is the second most important goal of PNI: Improve usability of guide to foster more satisfaction – users get info they want, and are more likely to share and return again.

### Why
- To grow the MoFo email list with new audiences so that we’re in a position to fundraise and engage a broader public.
- KRs that this affects: 1.1 and 1.2

## Requirements
- Detailed page refinements from

[2019-09-09 18:27] alanmoo opened #3616 "PNI 2019 Epic"
### Engagement (design/eng) team goals
* Increase sign ups
* Improve experience to increase understanding, engagement and return visits

#### Priorities
* Signups [high value, medium effort]
    * Design TBD
* List views [high value, medium to high effort]
    1. simplify home (bring out filters, remove all the words)
    2. Bring those to categories page
    3. Create hero feature with category d

[2019-09-09 18:27] kristinashu opened #3617 "PNI: Recommend product for review"
Talk to Jen and get copy from her.

Design a CTA that links to a Google form, Airtable , or our petition/comment snippet (would be nice to prompt with a newsletter signup).

[2019-09-09 18:28] kristinashu opened #3618 "PNI: Refine homepage list views"
From Matthew:
1.    Refine home filtering and sort (simplify and make more clear).

This might require a change to the animated scroll face. But, i believe the slider will more quickly communicate to users what’s happening. Scroll face could be moved to the bottom.
2.   Bring filters to category views.
3.   Reduce text at top the page.

[2019-09-09 18:29] kristinashu opened #3619 "PNI: About Page additions"
Talk to Jen and get copy from her before starting.

Add simple pages to our About section:
- Add minimum security standards explainer section
- Add press section

[2019-09-09 18:47] gideonthomas opened #3627 "Localize page preview cards"
Whenever we show cards of content on the foundation site, they should show the localized version of that content (blog index page, related pages at the bottom of blogs, etc)

@alanmoo to add more info.

[2019-09-09 18:47] gideonthomas opened #3628 "Localize newsletter forms"
Ensure that newsletter signups are in the correct locale and country.

Task: Replicate a similar form & features from https://www.mozilla.org/fr/newsletter/mozilla/
(Critical) Select country + language in dropdown lists
(Good to have) Select default language in the list based on the page locale
As things stand, people subscribing from a localized page are being subscribed to the EN list.
Not just

[2019-09-09 18:49] gideonthomas opened #3629 "Localize footer"
@alanmoo to add more info

[2019-09-09 18:49] gideonthomas opened #3630 "Localize fundraising banner"
@alanmoo to add more info

[2019-09-09 18:50] gideonthomas opened #3631 "Localize main nav"
This _should_ happen automatically when the Titles of pages get localized. Let's confirm that, and check how the donate/newsletter buttons get localized.

[2019-09-09 18:50] gideonthomas opened #3632 "Localize About Us page"
@alanmoo to add more info

[2019-09-09 18:52] gideonthomas opened #3633 "Localize share image in promote tab"
@alanmoo to add more info

[2019-09-09 19:10] Pomax commented on #3591
Going through the docs, it looks like there is no public API for getting revision schedule/expiry dates, and if we use scheduling, we also need to set up a cron job that runs the `manage publish_scheduled_pages` command every hour(ish), so that does not seem to be a workable solution, unfortunately.

[2019-09-09 19:24] Pomax commented on #3591
Wagtail team to the rescue: we can add our `first_published_at` field to the settings tab as an editable field, which then allows backdating.

[2019-09-09 19:25] alanmoo commented on #3591
Great!

[2019-09-09 21:14] kristinashu commented on #3259
Closing as "won't fix"

[2019-09-09 21:14] #3259 closed

[2019-09-09 21:16] kristinashu commented on #3089
I think this is done https://foundation.mozilla.org/en/newsletter/ so I'm gonna close.

[2019-09-09 21:16] #3089 closed

[2019-09-09 21:19] kristinashu commented on #1732
Soon we will have a blog component https://github.com/mozilla/foundation.mozilla.org/issues/3564 so now we are only blocked by content.

[2019-09-09 21:19] #1732 closed

[2019-09-09 21:29] kristinashu commented on #3616
Here's a WIP design/dev brief https://docs.google.com/document/d/1uYHSB0JvmjzmZc_iYZmoz2ABKJoBrDXSeq_f2Xf3GOU/edit?usp=sharing

[2019-09-09 22:14] mmmavis commented on #3586
PR merged!

[2019-09-09 22:14] #3586 closed

[2019-09-10 16:19] kristinashu opened #3636 "Trustworthy AI email & page"
[Copy for email is here](https://docs.google.com/document/d/1iEFO37JCbwzGAvb5ySH4h9qxaZO3Yh0YO1eVsrs9OIE/edit?ts=5d72c605).

Graphics Sabrina made https://redpen.io/p/mvaccf135a620e98de https://github.com/MozillaFoundation/Design/issues/408

To do:
- create a CMS landing/thank you page

[2019-09-10 17:07] #3591 closed

[2019-09-10 17:31] #2230 closed

[2019-09-10 17:47] youriwims commented on #1567
[should've been] Closed via #3574

[2019-09-10 17:47] #1567 closed

[2019-09-10 17:48] Pomax commented on #3588
Possibly good resource: https://chrxr.com/adding-rss-feed-wagtail-site/

[2019-09-10 17:49] youriwims commented on #3065
[should've been] Closed via #3575

[2019-09-10 17:49] #3065 closed

[2019-09-10 20:00] mmmavis commented on #2960
@Pomax @alanmoo The word `Overview` is currently hardcoded in `utils.py` Is our approach for this ticket to first have a map of localized `Overview` strings, and render the matching string according to the locale?

[2019-09-10 21:49] gideonthomas commented on #3592
@marcwalsh can you try to spin up that page on the staging site again and see if it works? If it does, I can fix this on the production site as well

[2019-09-10 22:27] youriwims commented on #3628
@TheoChevalier can you provide more info/guidance on this?

[2019-09-10 23:17] alanmoo commented on #2960
That's probably the most straightforward way to do this and I'm fine with it, though I could see it evolving in the future.

[2019-09-11 00:48] youriwims commented on #3628
@TheoChevalier based on the proposed form below, am I understanding the necessary updates for this ticket correctly? Also, when we say the default language should be set according to _page locale_, do we mean as selected by the language switcher or something else?

@kristinashu, does the design below look okay for adding localization to the newsletter forms? Or would we like them implemented diffe

[2019-09-11 11:12] TheoChevalier commented on #3628
Hey @youriwims , many thanks for working on this! And allow me to provide the full picture of this work, as I realize there are multiple parts, and it’s easy to miss one. Sorry in advance if there are redundant explanations!

### General context
As part of OKR 3.1, we aim to increase the number of non-EN subscribers in H2. Currently, the website subscribes everyone to EN, and the traffic is increa

[2019-09-11 15:40] youriwims commented on #3628
Thanks @TheoChevalier for the additional context + information, it really helps and I appreciate it! 😄 @alanmoo can you elaborate more on the role of basket here? Because I know that it's technically imported in `join.jsx`(_for newsletter signups_), but we're not currently using it there or anywhere else in the codebase.

[2019-09-11 16:13] marcwalsh commented on #3592
Thanks - that works for me!

Test page is here: https://mozillafestival.mofostaging.net/en/live-stream-test/

🍪🚫

[2019-09-11 16:16] gideonthomas commented on #3592
Perfect! I'll make the change in production as well

[2019-09-11 16:21] #3592 closed

[2019-09-11 18:07] alanmoo commented on #3628
We should auto-suggest a language from the start an an effort to keep form fatigue to a minimum. It shouldn't be that hard to pull it from the context of the page.

Petitions on the Foundation site (and I believe signups) hit the back-end of the site, which then talks to Basket. This is counter to the typical approach of POSTing directly to Basket due to some historical reasons that aren't worth c

[2019-09-11 18:35] sabrinang commented on #2681
Note: I made spacing updates to the mobile/desktop symbols in style guide.sketch file to reflect design review adjustments in https://github.com/mozilla/foundation.mozilla.org/pull/3613#pullrequestreview-286990027

<img width="919" alt="Screen Shot 2019-09-11 at 11 27 12 AM" src="https://user-images.githubusercontent.com/2492510/64724848-1be2cd00-d488-11e9-941e-b3b88931719e.png">
(tablet symbol is

[2019-09-11 20:35] #3508 closed

[2019-09-11 23:13] kristinashu commented on #3628
Ideally I would have liked to mock these up first but design won't be able to and I don't want to block you Youri so here are a few notes:

- for our header and footer signups please only show the language picker once a user has clicked into the email field (like at the bottom of https://www.mozilla.org/)
- for "snippet" signups like https://foundation.mozilla.org/en/newsletter/ and https://founda

[2019-09-11 23:38] youriwims commented on #3563
@kristinashu should the font-size for the category (and tags on other blog cards like on [this page](https://foundation-mofostaging-pr-3637.herokuapp.com/en/blog/resource-gas-improve-future-section-late/)) be 12px or 16px? On prod, I noticed the tags are 16px, but in Abstract, they're 12px.

[2019-09-11 23:59] TheoChevalier commented on #3631
Confirmed for the page titles (see Internet Health and About in French here https://foundation.mozilla.org/fr/ )

Donate and Newsletter will be localized as part of https://github.com/mozilla/foundation.mozilla.org/pull/3529

[2019-09-12 00:04] kristinashu commented on #3563
Oh thanks for catching that! It should be like `.body-small` from the [style guide](https://foundation.mozilla.org/en/style-guide/) so it should be 12px. But can it be uppercase like in the Abstract?

[2019-09-12 00:05] TheoChevalier commented on #3629
This one is done in https://github.com/mozilla/foundation.mozilla.org/pull/3529

[2019-09-12 00:06] alanmoo commented on #3629
Ah, great, thanks!

[2019-09-12 00:06] #3629 closed

[2019-09-12 00:08] TheoChevalier commented on #3632
I don’t think there’s additional engineering work needed for this page, I was able to localize it :) https://foundation.mozilla.org/fr/about/

The only part missing would be the “Overview” button, but I think it’s already covered in another issue

[2019-09-12 00:14] TheoChevalier commented on #3630
This one is done in https://github.com/mozilla/foundation.mozilla.org/pull/3529 too (for the blue banner).

[2019-09-12 00:14] #3630 closed

[2019-09-12 00:47] kristinashu commented on #3636
Made a comp here https://redpen.io/rz11812f34235a546a

Seeing what if there are other button options.

[2019-09-12 01:25] mmmavis commented on #3611
@kristinashu

- Do you know if we still wanna keep the News Wagtail component/snippet or remove it for good since the news section is going to be replaced by blogs on the homepage.
- Is the new section going to be called "Latest news" or "Latest blogs"?

[2019-09-12 13:53] TheoChevalier opened #3638 "Menu layout broken with long translations for 990px-1200px viewport"
Filing this issue early as it’s not YET broken, but these are the translations we will use in French when #3529 gets merged, so this will happen pretty soon.

![Screenshot_2019-09-09 À propos de Mozilla](https://user-images.githubusercontent.com/1294206/64782542-536f7900-d55d-11e9-8aa8-263efd2b6b5a.png)

[2019-09-12 16:34] Pomax opened #3639 "Blog "category" is using the manytomany field type instead of the Wagtail parentalmanytomany"
This causes Wagtail to crash when you try to save a new blog page.

[2019-09-12 16:46] #3639 closed, assigned to Pomax

[2019-09-12 17:27] TheoChevalier opened #3642 "Localize the Participate page"
Let’s make this page localizable!

There’s a start here: https://github.com/TheoChevalier/foundation.mozilla.org/commit/c24f1664cee8a2f95b726a804c668dda1155aa69

But it’s missing Highlights, and CTA group 4 (and I don’t know how to tackle that)

[2019-09-12 17:27] TheoChevalier opened #3643 "Localize the Initiatives page"
Many fields are currently not localizable in Wagtail for this page, let’s fix that!

[2019-09-13 14:43] xmatthewx commented on #3572
The date should be a date, not a string, to enable sorting and filtering later.

And, we should allow author to select the date, rather than automate it. This allows us to fix a typo on a review from last year, without suggesting to readers that we've reconfirmed all the technical details this year.

[2019-09-13 15:34] beccaklam commented on #3614
@kristinashu @xmatthewx  Mocked up what changing the nav on PNI to match the foundation site would look like below. It would mean removing the shares from the nav, but I don't think we can have everything in there. If we want to prioritize sign ups over shares than it should be fine. I'll took a look at the analytics though and see if I can find how many people were using those to share in case it

[2019-09-13 15:43] beccaklam commented on #3614
Actually I don't have access, @xmatthewx would you be able to grant me access?

[2019-09-13 16:02] beccaklam commented on #3614
UI for email sign up in creep-o-meter flow: https://redpen.io/sh6ecf0f84f26f2694
@kristinashu should we update the buttons on PNI to be square instead of pill shaped? Or should I match the email sign up buttons to the pill shape instead?

[2019-09-13 16:07] youriwims opened #3645 "Add dropdown styles to style guide"
Since we're using the dropdown in the language switcher (#2681, #3613) and now in localized petitions and signups (#3628), this would be a great time to unify styles and add to the style guide :)

cc @kristinashu @mmmavis @sabrinang

[2019-09-13 16:41] kristinashu commented on #3614
@beccaklam try pinging Cade in slack, he can give you access to analytics. But unless you see significant shares from the nav, I'm ok with removing them to focus users on our signup and donate. I don't seem to see them on very many _modern_ sites.

Yes to square share buttons now that they're in the [style guide](https://foundation.mozilla.org/en/style-guide/).

[2019-09-13 16:58] youriwims commented on #3564
Closed via #3597

[2019-09-13 16:58] #3564 closed

[2019-09-13 17:29] Pomax commented on #3537
if review apps are unaffected then the only change necessary should be to the env.default - does docker have a preferred format (`localhost` vs `127.0.0.1` vs `0.0.0.0` etc?) or will it work fine with `localhost`?

[2019-09-13 17:33] mmmavis commented on #3572
Is this `review date` going to be a required or optional field?

[2019-09-13 17:49] alanmoo commented on #3572
My instinct is to make it required, and add a default of November 2018. Then we'll have to manually change the Valentine's items but that's not too many.

[2019-09-13 17:53] beccaklam commented on #3614
@kristinashu @xmatthewx oh yeah, looks like share tips via the site were very low (@xmatthewx do you know the difference between 'site' and 'Buyersguide'?
![image](https://user-images.githubusercontent.com/20977376/64883505-897c2e00-d62d-11e9-858f-26788d6358af.png)
Looks like Donate was getting _very_ little taps too:

[2019-09-13 17:53] TheoChevalier opened #3646 "Allow longer strings for homepage hero button"
As you can tell from the screenshot, the Portuguese translation needed a few more characters. I expect this issue to happen again, so we should find a way to allow for longer translations.

![Screenshot_2019-09-13 Wagtail - Editing Homepage Homepage](https://user-images.githubusercontent.com/1294206/64882980-2f439300-d656-11e9-87b7-bafc94ac2100.png)

I’m assuming the limit was set to avoid breakin

[2019-09-13 18:00] kristinashu commented on #3628
Oh sorry for adding confusion! I thought the petition checkbox thing was your suggested Theo but I must have imagined it lol. @youriwims how about we start with only adding language and country to the newsletter signups and hold off on adding it to petitions.

[2019-09-13 18:22] kristinashu opened #3647 "YouTube story share out"
[Lot's of stories are coming in](https://docs.google.com/spreadsheets/d/17kFnZMl4cq3QHAl6qOYwk10yAT90AIkTQd4pyw2Elv0/edit?usp=sharing) and [even some press](https://www.theverge.com/2019/9/12/20862352/youtube-algorithm-recommendation-social-campaign-mozilla-firefox)!

So in addition to some share assets https://github.com/MozillaFoundation/Design/issues/409 we would like to have a page on our site

[2019-09-13 18:37] TheoChevalier commented on #3628
Sounds good, so, for petition form only, let’s move back to the initial plan and use the current page locale as the newsletter language.

[2019-09-13 19:04] beccaklam commented on #3614
Updated buttons here: https://redpen.io/sh6ecf0f84f26f2694
Also updated the donate screens but not sure if that's still active on the site:
<img width="894" alt="Screen Shot 2019-09-13 at 3 03 01 PM" src="https://user-images.githubusercontent.com/20977376/64887964-ca794000-d637-11e9-839c-07bab8eaef98.png">
cc: @kristinashu

[2019-09-13 19:42] kristinashu commented on #3614
Nice, very on brand!

I think we should make the `Buy / Won't Buy` button optional since we really want to reduce barriers to get people to signup (and I don't think it's that important to get that purchasing info).

[2019-09-13 19:48] kristinashu commented on #3614
So you are aware https://github.com/mozilla/foundation.mozilla.org/issues/3628, we are adding Country and Language drop downs to the newsletter signup (only once a user has clicked into the email form field). The header and footer will have this implemented but I am not sure about adding it to this, after voting, signup. Anyone thoughts/options? I would lean towards leaving it out in order to redu

[2019-09-13 19:50] beccaklam commented on #3614
I think we can incorporate it if it only shows after clicking into the email form field. It would make sense it keep it consistent and in the end it helps the user.

[2019-09-13 19:58] alanmoo commented on #3614
We're only doing the guide in English, so I don't think we need other languages in that dropdown (unless the component we pull in already has it).

[2019-09-13 21:08] alanmoo commented on #3647
There's a few technical hurdles to address here:

* Where do we store the stories? I know they're in a google sheet right now, but are we expecting to pull them from that sheet, or store a small subset of them in the CMS? Or just hard code them into the page? How often will these be updated?
* In the ideal setup, are the entire stories featured on the main page, or just headlines? Do we stay in th

[2019-09-13 21:31] beccaklam commented on #3615
Started this work here: https://redpen.io/euefc5665ee92cfc0f
Thinking we could do something like this for the Minimum Security Standards.

<img width="354" alt="Screen Shot 2019-09-13 at 5 25 30 PM" src="https://user-images.githubusercontent.com/20977376/64895763-8132eb80-d64b-11e9-965e-70558c2d66b1.png">

I think it's easier to have the stars altogether in a row. The reasons being 1) this is how

[2019-09-13 21:38] kristinashu commented on #3647
Good flags. Rebecca, please feel free to chime in if you have different thoughts!

We don't want to show all the stories, just the good ones (people probably don't want to read 100s of repetitive stories). I think Brandi would manually copy & paste select stories from the spreadsheet. It shouldn't need to be updated much after launch. Technically submissions will be before we launch although I don

[2019-09-13 21:43] beccaklam commented on #3647
Yes, I'm meeting more to talk with Brandi on Monday but it would only be a subset. I don't think it would need to be updated after launch, will confirm with Brandi.

Yeah, it'll probably be a pull quote of some sort to draw a user in to click into the full story.

+1 to what Kristina said.

[2019-09-13 21:49] #3475 closed

[2019-09-16 14:51] TheoChevalier opened #3650 "Localize homepage hero image"
The homepage hero image can’t be localized, so when the English promo got updated this morning to feature the Grant for the Web announcement, the localized versions were still announcing the YouTube Regrets campaign, but displaying the Grant for the Web image.

![Screenshot_2019-09-16 Fondation Mozilla](https://user-images.githubusercontent.com/1294206/64967486-8173f680-d898-11e9-8460-b2f76840d2df

[2019-09-16 17:39] kristinashu commented on #3647
Two more follow up questions from Alan:

1. Do we have enough content to actually feature things

2. Have we run it by Kevin/Brandi to see if, when paired with the content we have, they think it might be interesting enough to generate a new media cycle?

Note there are now 1244 stories submitted and we haven't shared any of the stories out yet so it will be new content for people.

Rebecca and I j

[2019-09-16 17:59] #3650 closed

[2019-09-16 18:13] #3580 closed

[2019-09-16 20:35] xmatthewx commented on #3615
Nice start @beccaklam! I like the glance-ability of the 5 stars together. I think we can push further to simplify the rest.
 - Use shorter phrases from [Jen's doc](https://docs.google.com/document/d/19k9cKQhnMWGE8SbejESdDtF-H5JQ9fe_QyfGGW9hkjA/edit) like your 2nd graphic
 - Feel free to do some pencil doodles to explore options
 - Title: **Security Rating**

We can leave the leave the verbal gymna

[2019-09-16 20:52] kristinashu commented on #3647
Updated wireframes https://redpen.io/p/qr39aff3aebcd751ac and initial comps https://redpen.io/p/fc1dd017be6f0171be.

If we proceed with this we would have limited dev time so let's try to keep this a simple as possible and try to rely on cool graphics we can make to make the site look good rather than unique styling from devs. Maybe it would help to think about it as:
- what the share graphic for

[2019-09-16 21:06] mmmavis commented on #2960
@TheoChevalier since we have to hardcode this for now, do you mind providing me with the list of localized strings for "Overview" so I can add it to the codebase?

[2019-09-16 22:30] TheoChevalier commented on #2960
Hey @mmmavis, this page was only translated in de, es, fr, so let’s proceed with this for now:

de: "Übersicht"
es: "Síntesis"
fr: "Vue d’ensemble"

I’m tracking the need for pl & pt, and will update the file directly once it’s ready.

[2019-09-16 22:50] mmmavis commented on #3572
All `year`, `month`, and `day` are required arguments for Python's `date` object type, so I'm making `November 1, 2019` as the default. If we really wanna have just `year` and `month` we could use tuple instead of `date` but I think it's less straightforward and will increase complexity in the future when we implement features like sorting and filtering.

[2019-09-16 23:03] alanmoo commented on #3572
Good, though how about November 2018 instead so that products that exist get that date? Then another migration so new ones get the current date?

[2019-09-16 23:06] alanmoo commented on #2960
This is part of the broader structure of our pages, so we should likely have the pl & pt strings even if they're not in use on this particular campaign.

[2019-09-16 23:14] TheoChevalier commented on #2960
Of course! I’m just saying I don’t have those translations yet, since this string was exposed as part of the misinfo hub.

[2019-09-16 23:18] TheoChevalier commented on #2960
And let’s not block on those missing translations, if you need a value for pt/pl, let’s use the English string for now, and I’ll replace it with translations later

[2019-09-16 23:23] #3611 closed

[2019-09-16 23:40] mmmavis commented on #3572
@alanmoo

Does this require landing the PR to prod first (with default review date `November 1, 2019`) & file a follow-up PR to change the default to current date? If so, I'll file a separate ticket.

[2019-09-17 00:23] #3540 closed

[2019-09-17 01:03] #3379 closed

[2019-09-17 01:18] Pomax commented on #3572
No, you just need two migrations: one that sets a default date, so when it runs, all existing records get updated, and then a second migration where it swaps the field to "now". We did the same thing in network-pulse-api here: https://github.com/mozilla/network-pulse-api/commit/37b9f0d1cde8f8262ff54a1cba0b0ef62b41b928

[2019-09-17 15:41] beccaklam commented on #3614
Made some changes to the signup field height and nav height based on Kristina's comments: https://redpen.io/p/ehb3414f20c4e5e625 Should I open dev implementation tickets @kristinashu and close this one? Is there anything else that needs to be done?

To recap: We're introducing an email sign up prompt in the middle of the creep-o-meter flow and changing the nav to match the Foundation's so that the

[2019-09-17 16:28] #3563 closed

[2019-09-17 17:05] xmatthewx commented on #3614
Whenever it's ready, file as 2 dev tickets. I think post-creepy CTA should come first.

[2019-09-17 17:19] TheoChevalier opened #3658 "https://foundation.mozilla.org/campaigns/ shouldn’t list private pages"
https://foundation.mofostaging.net/campaigns/ currently lists private pages (e.g. the Snapchat one), I think they shouldn’t appear here (or anywhere else). I’ve checked in private mode too, to make sure it was listed even if I’m not signed in.

[2019-09-17 17:28] Pomax commented on #3658
good point, it looks like we're missing `public()` in addition to `live()`.

[2019-09-17 17:30] Pomax opened #3659 "querying blog entries for non-existent tag crashses the system"
We're using a list comprehension for blog entry fetching based on ``, which will crash if the tag doesn't exist - since we cannot "ignore" throws, this needs to be rewritten as a standard for loop. Perf wise this should be irrelevant, but execution wise it means we won't be crashing the page process.

[2019-09-17 17:39] kristinashu commented on #3647
Yay we get to have one week of @mmmavis on this! This is very exciting!

Rebecca has also confirmed with Kevin that he believes the stories and the site will go over well with press!

Recap from post-stand chat:
- Rebecca will get intro copy from Brandi/Jen this week
- Rebecca has main YT meeting with advocacy tomorrow and they will highlight the most press-worthy stories
- Rebecca will update wir

[2019-09-17 18:05] #3659 closed

[2019-09-17 18:33] Pomax opened #3662 "Recent blog entries component's blog page lookup needs to be case-insensitive"
The "most recent blog entries" component is looking for the blogpage based on `title='blog'`, but this should be `title__iexact='blog'` to make sure `blog` vs `Blog` doesn't cause an IndexPage.ObjectNotFound error.

[2019-09-17 18:49] Pomax opened #3664 "investigate whether we hit the get_root_or_page tag at all"
In a recent deploy test we forgot to actually load the code that's suppose to run when calling the `get_root_or_page` tag, and bizarrely this did not cause any problems or throw any errors... we should investigate why that is: are we not hitting the template that relies on it for some reason?

[2019-09-17 18:49] #3662 closed

[2019-09-17 18:52] youriwims commented on #3664
Additionally, [evaluate if this tag needs it's own file](https://github.com/mozilla/foundation.mozilla.org/pull/3663#discussion_r325328516).

[2019-09-17 21:35] youriwims commented on #3643
@TheoChevalier after speaking with @Pomax , localizing the headers and initiative blocks is the most that can be done right now and we'll need to localize the highlights in a follow-up ticket (ticket will be posted here).

[2019-09-18 15:20] youriwims commented on #3645
@kristinashu has there been any more thought/conversation on this?

[2019-09-18 15:49] kristinashu commented on #3645
First we will need to audit the site to see where all the drop downs are. Then style wise we would follow what Sabrina did for the footer but _might_ need to different height options and will need a regular and a dark version.

Unfortunately designers don't have the capacity to do this right now but you could start by auditing the site (just screen caps of all the possible places a drop down shows

[2019-09-18 17:00] TheoChevalier commented on #3643
Sounds good @youriwims , thanks! I’ll go ahead and expose the strings in Pontoon, minus highlights. Having the initiative blocks alone should justify deploying translations of the page

[2019-09-18 17:15] #2560 closed

[2019-09-18 17:19] TheoChevalier opened #3667 "Localize blog post author field"
In some of the recent blog posts, I noticed the author field contains some parts that require localization, so after all, we should localize that field as well:

`Ashley Boyd, VP Advocacy at Mozilla`
`Becca Ricks and Kaili Lambe`

I’ve also increased the character limit to 70, as it seemed a little bit tight for some of the longer strings.

[2019-09-18 17:54] kristinashu commented on #3547
cc @mmmavis since she will be starting to build the YouTube campaign page next week.

[2019-09-18 18:09] beccaklam commented on #3647
Example sites @mmmavis:
1) https://everytown.org/momentsthatsurvive/
2) https://www.watdoenwevoorhetklimaat.be/

[2019-09-18 19:29] beccaklam commented on #3647
Updated wireframes here @mmmavis ! cc: @natalieworth

[2019-09-18 19:48] alanmoo opened #3669 "Missing href on homepage"
<img width="578" alt="image" src="https://user-images.githubusercontent.com/1682681/65180846-aab89200-da12-11e9-8965-2d4c6012126b.png">

[2019-09-18 20:59] #3658 closed

[2019-09-18 21:07] kristinashu commented on #3636
Done! This should go out on Friday.

[2019-09-18 21:07] #3636 closed

[2019-09-18 21:25] #3612 closed

[2019-09-18 21:33] youriwims commented on #3645
As far as I can tell, these are the only dropdowns currently on foundation.mozilla.org. This makes it a total of 3 including the one that will be added to signup snippets.

<img width="473" alt="Screen Shot 2019-09-18 at 5 28 51 PM" src="https://user-images.githubusercontent.com/36484608/65187597-46a9c400-da3a-11e9-8ba5-f5b893fb14a8.png">
<img width="381" alt="Screen Shot 2019-09-18 at 5 30 37 PM"

[2019-09-18 21:38] youriwims commented on #3643
Not a problem—sounds great! :)

[2019-09-18 21:54] #3669 closed

[2019-09-18 22:01] TheoChevalier commented on #3642
I think I figured out how to add CTA 4 fields, and since highlights will be handled in a follow up patch, taking this

[2019-09-18 22:38] #3667 closed

[2019-09-18 23:02] alanmoo opened #3672 "Zen nav is broken"
**Describe the bug**
It seems that hitting the menu button doesn't open the primary navigation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://foundation.mozilla.org/en/blog/bassel-khartabil-fellowship-opens-2019-call-proposals/'
2. Click on the hamburger
3. It flips and seems to apply some classes but no menu appears.

**Expected behavior**
A primary navigation menu appears l

[2019-09-19 00:03] mmmavis commented on #2960
Talked with @TheoChevalier (see https://github.com/mozilla/foundation.mozilla.org/pull/3666#discussion_r325936276) about the required work... and it turned out that Pomax and Theo's [template localization PR](https://github.com/mozilla/foundation.mozilla.org/pull/3529) actually has this ticket covered as well.

@TheoChevalier I'm going to set you as ticket assignee since you were the one added the

[2019-09-19 15:06] beccaklam commented on #3647
Invision Prototype for desktop: https://mozilla.invisionapp.com/share/THU06X9A53M#/384781753_Homepage

[2019-09-19 16:15] mmmavis commented on #3547
@Pomax @alanmoo this site will likely to be multi-page (one main page + one for FAQ. See [Invision](https://mozilla.invisionapp.com/share/THU06X9A53M#/384781753_Homepage)). Just wanna make sure the PR allows the site to be multi-page.

[2019-09-19 18:23] beccaklam opened #3674 "Implement Email Signup in Creep-O-Meter Flow"
Implement an email sign up in between the creep-o-meter screen and the results screen.

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [x] Design has been finalized
- [x] Link to original design ticket: #3614
- [x] Link to Redpen: https://redpen.io/sh6ecf0f84f26f2694
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and

[2019-09-19 18:26] beccaklam opened #3675 "Implement Fo'Mo Nav onto Privacy Not Included"
Change Privacy Not Included's Nav (just the navigation bar, not the menu style) to match Fo'Mo.

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [x] Design has been finalized
- [x] Link to original design ticket: #3614
- [x] Link to Redpen: https://redpen.io/rhd7b2c19478a1fa67
- [x] Design changes been merged into the master Sketch file
- [x] Des

[2019-09-19 18:27] beccaklam commented on #3614
Implementation tickets created #3674 and #3675!

[2019-09-19 18:27] #3614 closed

[2019-09-19 19:23] gideonthomas opened #3676 "Build Youtube Story Share Out page"
More details to come once design is complete.
Blocked by https://github.com/mozilla/foundation.mozilla.org/issues/3647

cc @kristinashu to add more info.

[2019-09-19 19:36] alanmoo opened #3677 "Evaluate Wagtail-ification of PNI"
It might behoove us to make PNI pages into Wagtail pages rather than snippets and a separate app. Let's explore that. To close this ticket, we should have an estimate of the scope of work.

[2019-09-19 19:37] alanmoo commented on #2356
This isn't worth the effort given.

[2019-09-19 19:37] #2356 closed

[2019-09-19 19:38] Pomax commented on #3642
Not to throw wrench in the wheel, but this page is a modelling _mess_ and we really should rip out all these -/2/3/4 duplications on duplications. Adding localisation now will make that job a lot harder, @alanmoo is there time for us to first refactor this page to something normal?

[2019-09-19 19:42] kristinashu opened #3678 "Finalize YouTube Illustrations and content"
**Links**
- Wireframe explorations https://redpen.io/p/qr39aff3aebcd751ac
- UI explorations https://redpen.io/p/fc1dd017be6f0171be
- Final comps will go here https://redpen.io/p/ejbd317099554ec032
- [All the stories](https://docs.google.com/spreadsheets/d/17kFnZMl4cq3QHAl6qOYwk10yAT90AIkTQd4pyw2Elv0/edit?usp=sharing)

**Rebecca to gather copy for:**
- [x] Intro text:

- [x] About text
     - https

[2019-09-19 19:42] alanmoo commented on #3675
Consider this in relation to #3677

[2019-09-19 19:46] Pomax commented on #3609
superceded by https://github.com/mozilla/foundation.mozilla.org/pull/3673

[2019-09-19 19:46] #3609 closed

[2019-09-19 19:48] alanmoo commented on #3642
I think it's time to put the brakes on this for now; With the amount of effort, low traffic, and questions about the future nature of these pages I don't want to go down a rabbit hole that we don't need to. Théo, let's sync up on Monday about this.

[2019-09-19 19:49] Pomax commented on #3547
That would definitely make it _not_ a one-off page, but effectively an independent website like PNI. @alanmoo this might need more planning and architecting.

[2019-09-19 19:57] kristinashu commented on #3547
I'm not sure if _multi-page_ is right? It be considered just _tabs_ (it shouldn't reload the page)? But if this is a problem, I'm happy to talk about design workarounds to avoid this.

[2019-09-19 20:32] beccaklam commented on #3647
Updated share buttons in the redpen: https://redpen.io/p/qr39aff3aebcd751ac @kristinashu @mmmavis @natalieworth

[2019-09-19 21:55] alanmoo opened #3679 "Improve analytics on donate popover"
The pop-over is...not great, from the experience of a user visiting the site for the first time. I'm curious what percent of people actually click the donate link vs closing the panel. I think we need some more analytics in [this file](https://github.com/mozilla/foundation.mozilla.org/blob/82e69ab30a050180f601f3cf26dac175284866c1/source/js/donate-modal/donate-modal.jsx)

[2019-09-19 22:25] alanmoo commented on #3547
Doing this with in-page tabs is probably more error-prone than doing it as separate pages would be. Besides, we've already got most of the infrastructure in place for separate pages if we make this based off the BanneredCampaignPage type.

[2019-09-19 22:26] kristinashu commented on #3647
Prototype looks great!

I've started a requirements list, please add what you can https://docs.google.com/document/d/1snVqs36jl6yG99EgIRaKDyqYT2znPro4dxhIkcrOAwQ/edit#

Notes from crit:
- Rebecca to get first draft of copy from Jen/Brandi tomorrow
  - Will provide them with a character count but suggestion about 3-5 short sentences
- Jen/Brandi to provide final story selection and final intro text

[2019-09-19 22:31] kristinashu commented on #3547
Ok but if people scroll _go down the rabbit hole_ then click on FAQ, we don't want the page to reload and then they to have to go back _go down the rabbit hole_ to see the FAQ content.

[2019-09-20 04:29] kristinashu commented on #3647
Ok I did this late at night so it might be terrible... https://redpen.io/p/ejbd317099554ec032. I took a stab and the layout and tried to simplify things for dev but everyone people keep exploring!

[2019-09-20 08:59] Patil2099 commented on #3590
@alanmoo @Pomax Can you tell me where I have to make changes?

[2019-09-20 17:35] kristinashu commented on #3675
Requirements:
- [ ] Nav height should match that of foundation site nav
- [ ] Remove PNI share buttons from nav
- [ ] Add donate button to PNI (it should function the same as on foundation site)
- [ ] Add newsletter sign up button to PNI nav (it should function the same as on foundation site)
- [ ] Mozilla logo and PNI title should remain the same as they are currently on PNI
- [ ] Non-sticky main

[2019-09-20 17:51] kristinashu commented on #3674
### Requirements for step 1: Vote
- [ ] Update pill button to square button to match our style guide
- [ ] To increase signups and reduce barriers, update the Likely/Not Likely button to not-required (so people can users will be able to submit there vote even if they haven't interacted with either question)
- [ ] `Vote & see results` no longer needs to be disabled and Likely/Not Likely button no l

[2019-09-20 18:13] youriwims commented on #3674
@kristinashu What should the category, label and action be for this? I'll update the ga spreadsheet once I know :)

@alanmoo @mmmavis In terms of the logic, this sounds about right to me. I'm thinking of this in terms of `subscribed` being a state and once the user signs up successfully, then `subscribed: true`. Then if `subscribed: true`, the signup prompt never displays again else..._it does_. D

[2019-09-20 18:55] kristinashu commented on #3674
I've just added it to the [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434) but I'm not too familiar with analytics tho so it would be great if someone double checked it.

[2019-09-20 20:32] kristinashu commented on #3645
Thank you @youriwims! Yay I think @sabrinang has some time to work on this!

So guidelines are that the design is settled we just need to make it official in Abstract so that Youri can then add it to the style guide.

We are going to use the style from the footer dropdown (sticking to the default open styling) and are focusing on foundation site only.

I think we need 4 things:
- shorter dropdown

[2019-09-20 20:32] #3572 closed

[2019-09-20 21:35] alanmoo commented on #3590
In the file where the model is defined, and then generate a migration if necessary.

[2019-09-20 22:05] sabrinang commented on #3645
I created field symbols for dropdown styles and updated the Style Guide.sketch file via Abstract:

<img width="835" alt="Screen Shot 2019-09-20 at 2 50 43 PM" src="https://user-images.githubusercontent.com/2492510/65360890-7d0c4e00-dbb6-11e9-9789-6d4e6109598e.png">

Any name suggestions would be great to work with the system? I added some as suggestions in sketch following the -large and dark-them

[2019-09-20 22:11] kristinashu commented on #3645
Perfect, thank you Sabs! R+

Youri, let us know if you need anything else!

[2019-09-20 22:13] #3672 closed

[2019-09-20 22:16] youriwims commented on #3645
Awesome, thanks so much @kristinashu & @sabrinang! btw, I think dropdown sans field works just fine 😉

[2019-09-23 16:02] #2893 closed

[2019-09-23 16:02] #2758 closed

[2019-09-23 16:17] Pomax commented on #2917
This involves adding a donation chooser panel to the bannered campaign model (similar to the campaign model) and then making sure the template for the bannered campaign picks up on that (which might already be the case)

[2019-09-23 16:20] Pomax opened #3682 "Remove the timeout-based donate banner"
We've gotten a fair bit of backlash against it on popular news sites, and it interferes with local dev work - Can we remove this without significantly impacting donations? (given that it seems to be burning goodwill... =S)

/cc @alanmoo @xmatthewx

[2019-09-23 16:42] xmatthewx commented on #3682
I'm okay with turning it off. I'll also file a design ticket to come up with something less annoying. Something slim at the bottom of the screen, or a slide down from the top that moves content down rather than covering it up. Modals like these make me cranky.

[2019-09-23 17:06] alanmoo commented on #2960
Since this is covered by the other PR, let's close this.

[2019-09-23 17:06] #2960 closed

[2019-09-23 18:01] kristinashu commented on #3647
w00t some good news via Rebecca/Brandi!

Deadline is pushed back by a couple days:
- Soft-launching on Monday, Oct. 7 for media
- Publicly launching on Tuesday, Oct. 15

[2019-09-23 19:17] Pomax opened #3683 "Set up a "youtube regrets" page in wagtail"
See #3547

# Youtube regrets page dev master issue

- [x] new page type specific for the Youtube Regrets campaign
- [x] new associated template file (probably in `wagtailpages/templates/wagtailpages/pages`?)

In terms of page properties, the page should have:
- [x] a streamfield `intro_text` that only allows picking text components
- [x] a streamfield `intro_image` that only allows picking image c

[2019-09-23 19:18] Pomax opened #3684 "create new page for Youtube Regrets"
Create a new type in `wagtailpages/models.py` for use with the Youtube Regrets campaign.

This model should have a streamfield body that only allows picking "Youtube Regret" components.

See https://github.com/mozilla/foundation.mozilla.org/issues/3683

[2019-09-23 19:19] Pomax opened #3687 "Create new page template for Youtube Regrets page"
Create a skeleton template for the Youtube Regrets page, to be created in #3684

This template needs:
- [x] a special header section
- [x] share buttons similar to the blog post social share buttons
- [x] a block for rendering out a streamfield body
- [x] a “Load more” button

[2019-09-23 19:21] Pomax opened #3688 "Create a "Youtube Regret" component"
We need to implement a "Youtube Regret" streamfield component that allows for an image, a heading, and a richtext block for housing a few paragraphs of text.

[2019-09-23 19:25] Pomax opened #3689 "Implement the "load more" button for the "youtube regrets" page"
This button should probably do the bare minimum:
- the page template should load all regret blocks, but hide everything after the first 10:
`<div class="cms show-10">...</div>` with CSS:
[code]
- make the button remove `show-10` and add `show-20` if `show-10` is active, and remove `show-20` if that is active (since there will only be 30 stories on the page, maximum)

[2019-09-23 19:27] Pomax opened #3690 "Implement the vortex of regret"
Implement the vortex/tunnel or regret, with regret images, icons, and text. We can hopefully use normal HTML+CSS for that, with `<a href="#story-10">` elements so that we don't even need JS for jump-to-story functionality.

[2019-09-23 20:16] alanmoo commented on #2917
One of the things we've been talking about has been making the "thanks for signing" text a separate page. That may change how this gets executed, but I also don't know how long it's going to be until we get there. If it's as straightforward as adding that donation chooser, great, let's get this moving forward when we next work on this ticket. But if it ends up being more work than that, we might w

[2019-09-23 20:24] kristinashu commented on #3676
This has been replaced by https://github.com/mozilla/foundation.mozilla.org/issues/3683

[2019-09-23 20:24] #3676 closed

[2019-09-23 21:03] kristinashu commented on #3647
Separated Redpens so it will be clearer for devs:
- Wireframe explorations https://redpen.io/p/qr39aff3aebcd751ac
- UI explorations https://redpen.io/p/fc1dd017be6f0171be
- Final comps **will go** here https://redpen.io/p/ejbd317099554ec032

[2019-09-23 21:10] kristinashu commented on #3688
Two layouts depending if there is an image or not https://redpen.io/p/ejbd317099554ec032. All elements should follow our style guide.

Desktop:
<img width="783" alt="image" src="https://user-images.githubusercontent.com/1068783/65462942-ab369b80-de0b-11e9-8bd4-f6812d30ebbd.png">

Mobile:
<img width="319" alt="image" src="https://user-images.githubusercontent.com/1068783/65463042-d7eab300-de0b-11e9

[2019-09-23 21:18] sabrinang commented on #3582
**Sept 23**
- [ ] slack check-in on Tuesday
- [ ] review assets on Thursday check-in call
- [ ] reply asynchronously and give feedback or design review for other designer's issues
- [ ] update any new approved asset examples on extended style guide

[2019-09-23 21:34] kristinashu commented on #3647
Moving on from this ticket in-lieu of this _next-steps_ ticket https://github.com/mozilla/foundation.mozilla.org/issues/3678

[2019-09-23 21:34] #3647 closed

[2019-09-23 22:11] kristinashu opened #3692 "Homepage blog order"
Right now the blog selection looks like this:
<img width="1042" alt="Screen Shot 2019-09-23 at 3 09 03 PM" src="https://user-images.githubusercontent.com/1068783/65466618-4764a080-de14-11e9-9e44-08001b2ce192.png">

Please add the ability to order things like in highlights:
<img width="1049" alt="image" src="https://user-images.githubusercontent.com/1068783/65466670-66fbc900-de14-11e9-84b7-dedf77b1

[2019-09-23 22:18] kristinashu opened #3693 "Featured post on /blog"
Add the ability to feature two blog posts at the top of /blog.

Comp:
![blog w featured copy@2x](https://user-images.githubusercontent.com/1068783/65466960-12a51900-de15-11e9-86ec-22d306e39165.jpg)

Style of the thumbnail should be the same as on https://foundation.mozilla.org/
<img width="1431" alt="image" src="https://user-images.githubusercontent.com/1068783/65467034-4aac5c00-de15-11e9-9f4e-e78

[2019-09-23 22:40] mmmavis opened #3694 "Build z-axis scroll animated intro for YouTube Regrets page"
Build z-axis scroll animated intro for YouTube Regrets page (desktop only).

@kristinashu in terms of the animation & scroll effect, are we thinking about having something like the first part (purple background part) of this example? https://www.watdoenwevoorhetklimaat.be/ (with color, type, and other design changes of course)

[2019-09-23 22:40] youriwims opened #3695 "Update Language Switcher to use new dropdown class"
`.dropdown-field` and `.dropdown-field-large` are being added to style guide and we should update the language switcher in the footer to utilize this class.

Blocked by #3691

[2019-09-23 22:45] kristinashu commented on #3694
Yeah something like that. Except we will have about 4 sentences to animate through.

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/1068783/65468454-fc995780-de18-11e9-8974-6f106bf68a2f.png">

cc @natalieworth @beccaklam is that right?

[2019-09-23 22:49] mmmavis commented on #3690
Hey @Pomax did you mean for the regrets in the list below the intro?

[2019-09-23 23:10] Pomax commented on #2625
hah, we already fixed this.

[2019-09-23 23:10] #2625 closed

[2019-09-24 16:36] Pomax commented on #3628
Is there a list of known languages supported for newsletter signups that we can restrict our "language" picker on?

[2019-09-24 16:40] mmmavis commented on #3688
@Pomax I'm wondering how users select regrets to feature in the intro animation? Should we add a property `featured` to  "Youtube Regret" streamfield component so users can toggle that checkbox if they want certain regrets to be featured?

[2019-09-24 16:49] TheoChevalier commented on #3628
For now, same list as the current locales supported by the website: `en`, `de`, `es`, `fr`, `pl`, `pt-BR`.
People could technically subscribe to more, but we will want to limit it to the locales we actually send emails to.

[2019-09-24 17:07] alanmoo commented on #3547
This has been superseded by more detailed tickets for tracking this project

[2019-09-24 17:07] #3547 closed

[2019-09-24 17:19] alanmoo commented on #3692
This could be straightforward, but @kristinashu will confirm if this is the right approach.

[2019-09-24 18:02] kristinashu commented on #3692
@mmmavis pointed out that the blog post are listed with the most recent first.

Would there be a _straightforward_ way to make the key post not follow that logic? So we can choose the key post (post with the image) and then the rest of the posts would be in chronological order (posts without image on the right side)?

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/106

[2019-09-24 18:23] mmmavis commented on #3692
Maybe we can remove the auto sort and just make this component the same as the highlights - let CMS editors have full control over the order of the blogs they want. Since we only have 4 featured blogs in total, I think manually order them won't be a huge pain.

[2019-09-24 18:28] kristinashu commented on #3692
Ok sounds good!

[2019-09-24 18:28] mmmavis commented on #3692
k this should be quick to fix. I'll file a PR soon.

[2019-09-24 18:58] mmmavis commented on #3694
Content to show in the animation

- 4 sentences of text
- around 10 images pulled for the pool of regrets we have

@Pomax any suggestion on how we can store the above in CMS?

[2019-09-24 19:03] Pomax commented on #3694
Correct - the page will have all the named fields that represent that text that goes in the intro, and we write the template in a way that lets us work with that data. Any html/svg we need to write can go straight into the template, and any CSS/JS for it can go in .css and .js files that we then load in that template with the usual `<link>` and `<script>` elements.

(I still suspect we don't need

[2019-09-24 19:08] mmmavis commented on #3694
@Pomax to select the featured regret images to show in the intro, should we

1. (If the order of the images matters) Create another CMS field for the intro section for users to select regrets they wanna pull images from
2. (If the order of the images doesn't matter) In the "YouTube Regret" streamfield component we are going to build and use for list of regrets down the page, we simply add another

[2019-09-24 19:14] mmmavis commented on #3694
Re: animation

I guess we should be calling it an interactive, animated intro, rather than just animation.
It's more of a "scroll-to-zoom-in" effect than text and images floating around for users to click on to jump to a specific regret down the page. See example here: https://www.watdoenwevoorhetklimaat.be/  (the blueish purle background part)

[2019-09-24 19:20] beccaklam commented on #3615
First draft of the Refined Product Page wireframes here: https://redpen.io/p/kg863253d9c17ec768 cc: @caltrider @kristinashu @xmatthewx

[2019-09-24 19:21] kristinashu commented on #3694
I'm leaning towards keep the top interactive section and the bottom stories section fairly separate to allow for more design flexibility.

For the intro section could we say:
- user upload 4-4 sentences
- user uploads 10 (need to confirm the number) images

[2019-09-24 20:00] Pomax commented on #3694
to clarify: does that mean there will be no correspondence between the images in the intro, and the images in the stories? (e.g. we do not pull images from stories, we have a dedicated 10 images)

[2019-09-24 20:08] kristinashu commented on #3694
Oh yeah sorry, I should have said _staff_.

Also sorry, I might be complicated things. Ignore my comment about keeping them separate.

So yes, if 10 of the stories below have images then we should pull those 10 images into the intro animation. Order of the images in the animation can be the same as in the story section below.

[2019-09-24 21:58] mmmavis commented on #3674
I'd suggest breaking this ticket into several tickets/PRs as it covers quite a bit. Maybe one for updating step 1 and step 3 and one for adding the signup portion in?

In terms of ways to prevent us from bombarding users with signup prompt

@kristinashu The two ideas above cover different use cases. Are we doing both or either?

@youriwims `state` isn't persistent. It gets reset if the component i

[2019-09-24 22:03] kristinashu commented on #3615
Redpen isn't letting me comment right now. so I'll comment here...

If we're going to add more copy to that section then I like the framing in Option 2A (The Good / The Bad) and it seems like it would be easiest option for users to understand. But all the options with additional copy would require Jen/Becca to write more, are they up for that? What would it say, would it be useful?

Curious what @

[2019-09-24 22:09] kristinashu commented on #3674
- If they come from our list then we don't show it
- If they aren't coming from our list then we show it
- If they aren't coming from our list and they vote 3 times then we show it the first 3 times but then don't show it after that

[2019-09-24 22:36] #3692 closed

[2019-09-24 22:46] caltrider commented on #3615
Thanks for sharing!
Rebecca, I think it would help me if you had a moment to walk me through
these and chat them through.
Do you have time for a quick chat tomorrow (Wednesday)?
j

On Tue, Sep 24, 2019 at 4:03 PM Kristina <notifications@github.com> wrote:

--
Jen Caltrider
Content Strategy Lead, Mozilla
Twitter/Slack/Most Things @caltrider

[2019-09-25 00:03] #3682 closed

[2019-09-25 00:30] #3539 closed

[2019-09-25 04:28] natalieworth commented on #3678
Added some more wireframe options for this [here](https://redpen.io/p/fc1dd017be6f0171be).

[2019-09-25 14:05] beccaklam commented on #3615
I was working under the assumption that Becca/Jen wanted space for more text? In her last comment in a thread Becca had with Matthew she said:

![image](https://user-images.githubusercontent.com/20977376/65608298-fe2f6080-df7b-11e9-9c52-4f6c42760aa9.png)

[2019-09-25 15:17] xmatthewx commented on #3615
I think she meant having a link to what we mean by those categories in general, not what we found about the product.

Design should guide the UX. And, the feature is there to meet a user need for a quick judgement, not more info. I think it's great if there's an info icon that links to the full review below or a page about the standard.  These 5 stars synthesize the info in the full review below –

[2019-09-25 17:50] #3588 closed

[2019-09-25 19:20] Pomax commented on #3675
Bearing [the evaluation of folding PNI into wagtail](https://github.com/mozilla/foundation.mozilla.org/issues/3677) in mind, I'll be seeing if it makes sense to base the PNI template off of the main fo'mo template. If that turns out to be relatively easy, that would be a great first step on the road to making PNI a true Wagtail setup..

[2019-09-26 14:44] beccaklam commented on #3615
Updated redpen here: https://redpen.io/p/kg863253d9c17ec768

Talked to Jen and Becca R and we decided to move the "What could happen if something went wrong" section back down to where it was last year.

Regarding the Minimum Security Standards we decided to keep the accordion so that the design worked for those who just want a quick summary and for those who want to dive deeper. Becca R wanted mo

[2019-09-26 17:26] kristinashu commented on #3615
Nice, I like that we can remove the "Read our research first" now.

[2019-09-26 20:56] beccaklam commented on #3615
Added desktop wireframes: https://redpen.io/p/kg863253d9c17ec768 Looks good to go, will do UI tmw!

[2019-09-27 13:27] beccaklam commented on #3678
@natalieworth @kristinashu I've updated the description with 15 final stories and notes about when Brandi will get the rest of the content to us!

[2019-09-27 15:55] kristinashu commented on #3678
Nice short titles!

[2019-09-27 22:29] mmmavis commented on #3694
@Pomax , I met with Nat and Kristina just now. Back to your question

Scratch what Kristain said above in this [comment](https://github.com/mozilla/foundation.mozilla.org/issues/3694#issuecomment-534726682). The images we are showing in the intro can be *any* images, they could be illustrations, regret images, icons, ... etc.

This is the content we want to include in the interactive intro:

- 5 i

[2019-09-27 22:37] kristinashu commented on #3688
If you need realistic placeholder copy, the stories in the "final list" tab are final https://docs.google.com/spreadsheets/d/17kFnZMl4cq3QHAl6qOYwk10yAT90AIkTQd4pyw2Elv0/edit#gid=229438003

[2019-09-27 22:38] kristinashu commented on #3678
Mavis' amazing scroll demo is here https://mmmavis.github.io/z-axis-scroll-test/!

[2019-09-30 16:52] beccaklam commented on #3678
@kristinashu just confirming for Brandi that she'll be able to edit the About page in the CMS?

[2019-09-30 16:53] beccaklam commented on #3678
@kristinashu @natalieworth Brandi delivered the rough About page content and the rest of the stories. They're still waiting for 3 stories they need better translations on but that should be the lot in the google sheet. Also she left a special note that I've put into the description above but will reiterate here:

[2019-09-30 17:50] kristinashu commented on #3678
@mmmavis I'm assuming this accordion will be a Wagtail component which would be editable in the CMS. If we run out of time then I would recommend we just link out to a regular Wagtail page.

<img width="786" alt="image" src="https://user-images.githubusercontent.com/1068783/65902390-2f8aa080-e36f-11e9-9923-5944f7f20f1b.png">

[2019-09-30 18:25] Pomax commented on #3675
Donate-wise, is there a different `utm` argument that should be used for donates from PNI rather than the main foundation site? /cc @alanmoo @WillatMozFdn

[2019-09-30 18:43] kristinashu commented on #3690
I think this is the same as https://github.com/mozilla/foundation.mozilla.org/issues/3694?

[2019-09-30 23:17] mmmavis commented on #3684
PR merged.

[2019-09-30 23:17] #3684 closed

[2019-09-30 23:22] mmmavis commented on #3690
Seems like a dupe. Closing.

[2019-09-30 23:22] #3690 closed

[2019-10-01 00:55] mmmavis commented on #3678
@kristinashu I can't make promises for nice to haves now as we don't have a lot of dev time left and there are quite a bit of MVPs to be built. Let's go with the simplest solution (linking out) for now and improve later if we have time.

[2019-10-01 07:22] natalieworth commented on #3678
I updated the simplest version of the UI in Sketch with the images and have included [them here](https://drive.google.com/drive/u/0/folders/1Vu31_CVeZDn301f6rQ-ZDsMUvTbhMt8b). The [scroll icon](https://drive.google.com/drive/u/0/folders/1cLVDHe284WG6JslQ3kK_GyI12U-fqf7Z) is here (I believe that is the only new icon).

The list with each individual photo link is [in here](https://docs.google.com/sp

[2019-10-01 13:21] WillatMozFdn commented on #3675
Yes please.  To be consistent with tracking from other properties, the utm parameters for PNI should look something like this:

utm_source=foundation.mozilla.org&utm_medium=referral&utm_campaign=2019PNI&utm_content=[this is optional, use it to track links in specific places within PNI if you want]

The broad guidance for all this is here: https://docs.google.com/document/d/1Z1UovTq-KpLNJtYBhbKuKKG

[2019-10-01 14:19] youriwims commented on #3695
Closed due to updates to `#language-switcher` happening in #3691 .

[2019-10-01 14:19] #3695 closed

[2019-10-01 16:55] kristinashu commented on #3678
Natalie is doing to try to lighten up the photos a little but the design is done and here https://redpen.io/p/fc1dd017be6f0171be

[2019-10-01 17:02] mmmavis commented on #3688
Design has been changed.
Desktop: https://redpen.io/kz80aa1b9eedc210b4
Mobile: https://redpen.io/wvce47e03aa936efbf

[2019-10-01 18:11] Pomax commented on #3675
I meant more the `utm_source`, which is already foundation.mozilla.org, but since PNI is sort of "its own thing" with its own following I was thinking you might have a separate stats gathering going on for `utm_source=privacynotincluded` or the like.

[2019-10-01 22:35] natalieworth commented on #3678
Uploaded the V2 (lighter red) images here https://drive.google.com/drive/u/0/folders/1z_40mSaV6vIg_l24me8q7hxf4qWMUlXO
There photoshop files are also in there
The images are individually a duotone:
<img width="529" alt="Screen Shot 2019-10-01 at 3 14 20 PM" src="https://user-images.githubusercontent.com/14876567/66005586-cbe0a000-e460-11e9-963e-0b549bf908ac.png">

Hex code is red hex is #f1272e

I

[2019-10-01 22:54] kristinashu opened #3712 "Final YouTube updates"
Home stretch! Comps are looking sweet https://redpen.io/p/fc1dd017be6f0171be and all the files are in [Drive](https://drive.google.com/drive/folders/1oAJEeV8JEC1_K9WhfEFBRfeQmSoxZ1-Z?usp=sharing).

Rebecca to:
- [x] Get share copy from Brandi/Jen and give it to Mavis
- [x] Compile stakeholder feedback
- [ ] Check-in with comms/marketing https://redpen.io/p/vo2ab21e6e17b0c110
- [x] Add content to s

[2019-10-01 22:56] kristinashu commented on #3678
w00t! I think this ticket is done and amazing.

A few follows here https://github.com/mozilla/foundation.mozilla.org/issues/3712 but closing this one!

[2019-10-01 22:56] #3678 closed

[2019-10-01 23:57] #3688 closed

[2019-10-02 15:43] beccaklam commented on #3615
UI comps started here: https://redpen.io/p/aj7f2e09f704b2e4ee Can I get some feedback please @kristinashu ? On the UI and on the different 'what can go wrong' section options. Jen asked us to 'jazz it up'.

[2019-10-02 16:28] kristinashu commented on #3615
Honestly, the page is feeling pretty busy and overwhelming right now. Seems like there are so many different sections, treatments, and layouts. Is there a way to group things, hide things, or unify some of the styles?

Were you going to simplify the "It uses your" section? I thought there was a recommendation to only show the devices it does use and to hid the ones it doesn't (that would help simp

[2019-10-02 18:49] kristinashu opened #3714 "Selection order of blog posts on homepage"
Jen has pointed out that it would be better if the most recent posts were at the top.

Screen cap from prod:
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/1068783/66071078-567bda80-e507-11e9-84cd-84620e0e7595.png">

[2019-10-02 19:40] sabrinang commented on #3582
**Oct 3**
- [x] slack check-in on Mon & Tues _(more things to review as things are picking up for Oct)_
- [x] reply asynchronously and give feedback or design review for other designer's issues _(reviewed some book cover designs this week and last week too)_
- [ ] review assets on Thursday check-in call
- [ ] update any new approved asset examples on extended style guide

[2019-10-03 08:14] WillatMozFdn commented on #3675
yeah, there's an argument to be made that PNI (and IHR for that matter) could/should be their own sources, rather than campaigns, but a) in the past they haven't been, and b) I don't want to introduce new wrinkles now that would complicate our 2019 year-end analysis.  Definitely a good conversation for January though!

[2019-10-03 19:15] gideonthomas opened #3716 "EPIC: Implement Product page changes"
Placeholder ticket for product page dev changes.

Once design is done, this ticket will be replaced by smaller engineering task tickets.

[2019-10-03 19:45] #3677 closed

[2019-10-03 19:45] gideonthomas commented on #3677
we don't have no time for that

[2019-10-03 19:47] alanmoo commented on #3633
@TheoChevalier Is this for cases where there's text in the share image? My instinct is that we should instead have a general rule of "no text in images because all-the-reasons"

[2019-10-03 19:55] TheoChevalier commented on #3633
@alanmoo Yes, and I would agree… but there are cases where we just can’t avoid it.
Here’s a good recent example, we have localized graphics and sharing them on social media is the main CTA of the blog post https://foundation.mozilla.org/fr/campaigns/how-opt-out-human-review-your-voice-assistant-recordings/

Which resulted in this: https://twitter.com/staging_account/status/1179846731669880832

[2019-10-03 21:29] kristinashu commented on #3716
Heads-up on the upcoming changes:

WIP comps https://redpen.io/p/aj7f2e09f704b2e4ee

Spreadsheet with all the cms fields highlighting changes https://docs.google.com/spreadsheets/d/1tcFlDgrxxo4Mj5QP-pCFyB4QSCuPMi5vumLQu_r5-QI/edit#gid=0

cc @alanmoo @Pomax @beccaklam

[2019-10-03 21:46] Pomax commented on #3683
all work is pending R+, this issue will close when all outstanding work has been merged into master.

[2019-10-03 21:47] kristinashu opened #3718 "YouTube links and share buttons"
Follow up from https://github.com/mozilla/foundation.mozilla.org/pull/3715#issue-324001057

#### For links

- Can all text links be the standard #EA0B12 but with an underline
- Hover/Active/Select state be a lighter shard of #FD6976] with an underline

<img width="389" alt="image" src="https://user-images.githubusercontent.com/1068783/66166452-3bcf6180-e5ec-11e9-9767-92b6f1c32db8.png">

#### Share

[2019-10-03 23:04] kristinashu commented on #3618
Perhaps our goal could be to mock up a few different version and test out the comps at MozFest. If one of them is a hit then devs could build between MozFest launch on Nov 12.

[2019-10-04 04:10] alanmoo commented on #3633
We should have a general rule of no text in images, and a strict rule of no text in OG images. That share could have been done without putting words into it. Embedding the text in the share image is terrible from an SEO standpoint anyway.

[2019-10-04 13:51] beccaklam commented on #3712
@kristinashu update from Brandi regarding content:

n on!

[2019-10-04 17:40] beccaklam commented on #3712
Share copy here: @mmmavis

[2019-10-04 17:42] kristinashu commented on #3718
Share copy

[2019-10-04 17:42] kristinashu commented on #3712
Add that to this dev ticket https://github.com/mozilla/foundation.mozilla.org/issues/3718

[2019-10-04 17:45] kristinashu opened #3719 "YouTube: add page anchors"
Post MVP: create anchors for each story so if a user wanted to share a specific story they could.

From @Pomax:

Design should mock this up first.

[2019-10-04 17:56] #3694 closed

[2019-10-04 17:57] kristinashu commented on #3719
@beccaklam what about something like this? Do you have any other ideas? Clicking it would show a checkmark (like the page share buttons).

<img width="783" alt="image" src="https://user-images.githubusercontent.com/1068783/66228980-a7213e00-e695-11e9-89e2-23eac94cd07a.png">

[2019-10-04 17:59] mmmavis opened #3720 "YouTube Regrets: turn hardcoded text "scroll" into localizable string"
Turn hardcoded text `scroll` into localizable string.

https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/pages/youtube_regrets_page.html#L38

@Pomax can you provide a suggestion on how we should do it?

[2019-10-04 18:07] Pomax commented on #3720
This is probably a good candidate for adding to our `makemessages` template localisation, which is still slated for the October 7th milestone

[2019-10-04 18:46] beccaklam commented on #3615
Made changes based on feedback from @kristinashu and @caltrider : https://redpen.io/p/aj7f2e09f704b2e4ee

[2019-10-04 20:02] beccaklam commented on #3719
I like that! @kristinashu I do think it would be stronger with some text.

[2019-10-04 20:02] beccaklam commented on #3719
Like 'Share this story' or something?

[2019-10-04 20:34] youriwims commented on #3674
@kristinashu should the social share buttons match exactly what we have on the style guide(aside from them being square)? I'm just asking because the icons are different and here it says _Link_ instead of _Copy_.

[2019-10-04 20:39] kristinashu commented on #3674
Oh yeah, please match what is in the style guide.

Just clarifying, what do you mean by "aside from them being square"? We do want PNI to move from the round/pill buttons to the rectangular ones from the style guide.

[2019-10-04 20:40] youriwims commented on #3674
Oh, I was trying to make sure that aside from updating them to be square, that we wanted the icons and link text to match what's on the styleguide.

[2019-10-04 20:42] kristinashu commented on #3674
Ah ok good good. I just made a comment in [redpen](https://redpen.io/sh6ecf0f84f26f2694) too, it's ok if the buttons end up being wider than in the comp (guess they buttons will be full width).

[2019-10-04 21:18] beccaklam commented on #3615
Okay, so final updates are in redpen and I've merged them into abstract: https://redpen.io/nu1470220e0fde2645 I'm going to let this sit over the weekend in case any new changes pop up the rest of today and then I'll open implementation tickets Monday. Also opened this ticket: https://github.com/MozillaFoundation/Design/issues/422 which could relate to this ticket since we're using the style for th

[2019-10-04 21:29] kristinashu opened #3723 "YouTube Nav"
Looks like the nav is missing the hamburger. It should have the it, like the other zen mode pages.

Screen cap from prod:
<img width="1432" alt="image" src="https://user-images.githubusercontent.com/1068783/66241143-40128200-e6b3-11e9-9996-1f3941ef2978.png">

cc @mmmavis @Pomax

[2019-10-04 21:57] mmmavis commented on #3718
I'll open a new ticket for adding share copy since it requires changing a component that's shared across fo.mo.

[2019-10-04 21:58] mmmavis opened #3725 "YouTube Regrets: add share copy for share buttons"
Share copy

[2019-10-04 22:06] kristinashu commented on #3687
😱 https://foundation.mozilla.org/en/campaigns/youtube-regrets/

[2019-10-04 22:06] #3687 closed

[2019-10-04 22:12] kristinashu commented on #3718
What about the load more button? New ticket or here?

Prod:
<img width="181" alt="image" src="https://user-images.githubusercontent.com/1068783/66243289-e90fab80-e6b8-11e9-8b51-f09fe7d7ef86.png">

Comp:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/1068783/66243404-5a4f5e80-e6b9-11e9-9128-8354a305a364.png">

[2019-10-04 22:13] mmmavis commented on #3718
I have a PR up for all the style overrides mentioned here!

[2019-10-04 22:15] kristinashu commented on #3683
Landed and it's amazing https://foundation.mozilla.org/en/campaigns/youtube-regrets/!!!

[2019-10-04 22:15] #3683 closed

[2019-10-04 22:17] kristinashu commented on #3689
This is working well https://foundation.mozilla.org/en/campaigns/youtube-regrets/!

[2019-10-04 22:17] #3689 closed

[2019-10-04 22:26] kristinashu opened #3726 "YouTube: add newsletter signup"
From @mmmavis

What if it was fixed at this point? Enough room for 3 lines (sometimes there will be a gap but I think that's ok).

<img width="535" alt="image" src="https://user-images.githubusercontent.com/1068783/66243947-3c82f900-e6bb-11e9-9053-ce60160814be.png">

[2019-10-04 22:48] kristinashu opened #3727 "YouTube: small style fixes"
### Main styling fixes:
- [ ] Story title should be 38px instead of 42px
- [x] End the background gradient higher up on the page (so only the first story has some pink background but the rest of the stories are on white background so they're easier to read)
- [ ] Increase spacing between stories to about 80px (see screen cap below)
- [ ] Make the spacing above and below the story title the same (m

[2019-10-04 22:57] kristinashu commented on #3615
OMG it's looking so much tidier now!

[2019-10-04 23:25] kristinashu commented on #3615
I've set up a meeting to review with devs on Mon. Let's check-in with them before opening tickets to see how they want to structure them first.

[2019-10-04 23:33] kristinashu commented on #3712
@beccaklam [here](https://github.com/mozilla/foundation.mozilla.org#workspaces/mofo-engagement-585335eab729771d0736378d/board?useDefaultFilterLogic=false&repos=50445578,76596293,74170666,28190738,174024666&search=youtube) are the remaining YouTube tickets. Could you please QA [the site](https://foundation.mozilla.org/campaigns/youtube-regrets) as well and open any additional issues?

[2019-10-06 21:24] kgeorgiou commented on #3679
Is this still applicable?
The Donate buttons now redirect to https://donate.mozilla.org and the `donate-modal.jsx` was removed in #3696

[2019-10-06 22:35] #3679 closed

[2019-10-07 03:40] ankiiitraj commented on #3727
I want to contribute to this fix. Can you assign me this?

[2019-10-07 04:09] ankiiitraj opened #3728 "Banner on https://foundation.mozilla.org/en/about requires to be loded faster."
The banner at the top loads very slow and requires lazy load.
![WhatsApp Image 2019-10-07 at 9 38 44 AM](https://user-images.githubusercontent.com/48787278/66284617-4fc5dc80-e8e6-11e9-957b-cae724d7b114.jpeg)

[2019-10-07 04:10] ankiiitraj commented on #3728
I want to work in this issue. Assign this to me.

[2019-10-07 18:41] kristinashu commented on #3716
Notes
- add new cms fields (not styling)
- move fields around
- change data types
- styling tweaks
-

[2019-10-07 18:45] Pomax opened #3729 "Add new CMS fields for PNI products"
master issue: https://github.com/mozilla/foundation.mozilla.org/issues/3716

ref: https://docs.google.com/spreadsheets/d/1tcFlDgrxxo4Mj5QP-pCFyB4QSCuPMi5vumLQu_r5-QI/edit#gid=0

Add the following fields to the PNI product model, so that these fields can be given content in parallel with the rest of the product page update work.

- [x] Review Date https://github.com/mozilla/foundation.mozilla.org/i

[2019-10-07 18:49] Pomax commented on #3729
@beccaklam does this over all the new fields or did I miss any?

[2019-10-07 18:55] Pomax commented on #3729
@kristinashu @beccaklam for the new text fields, are there any charlimits? We're using a 5000 charlimit for most of our help texts at the moment, so I'm thinking we just use the same limit?

[2019-10-07 18:59] Pomax opened #3730 "Move PNI product fields around in the template"
master issue: #3716

Several PNI product fields have changed location and need to be moved around in the template.

WIP comp:  https://redpen.io/p/aj7f2e09f704b2e4ee

[2019-10-07 19:02] Pomax opened #3731 "Update PNI product model data types to match new requirements"
master issue: #3716

The updated PNI product model changes the data type for some of our model fields, particularly a number of `NullBoolean` fields (yes/no/NA) need to become 4state values (yes/no/unknown/NA).

Field change spreadsheet: https://docs.google.com/spreadsheets/d/1tcFlDgrxxo4Mj5QP-pCFyB4QSCuPMi5vumLQu_r5-QI/edit#gid=0

[2019-10-07 19:04] Pomax opened #3732 "Update PNI product page styling"
master issue: #3716

Comps: https://redpen.io/p/aj7f2e09f704b2e4ee

# Styling changes:

## **Remove**
- [ ] Remove fields listed [here](https://docs.google.com/spreadsheets/d/1tcFlDgrxxo4Mj5QP-pCFyB4QSCuPMi5vumLQu_r5-QI/edit#gid=0)
- [ ] Remove all accordions except for new accordion for Minimum Security Standards
- [ ] Remove pink info button and 'Read our research first' jump link in the "Tell u

[2019-10-07 19:05] Pomax commented on #3732
@beccaklam this is still a little rough and easier to describe as a detailed changelist that can be run through when the design is finalised.

[2019-10-07 19:07] Pomax opened #3733 "Modify PNI product wagtail template"
master issue: #3716

Reorder fields to match spreadsheet ordering.

Also, some fields have changed from "show" to "show only if YES" and so the template will need to be updated to no longer show "the field and its value" but only conditionally show fields if their value warrants that.

WIP comps: https://redpen.io/p/aj7f2e09f704b2e4ee
Spreadsheet with fields that have this new requirement: https:/

[2019-10-07 19:18] kristinashu commented on #3729
@Pomax note that the Review Date has already been added to the CMS, I've added a link to the ticket in your comment.

Sticking with the same character limit sounds good (we have a lot of control over the copy so doesn't really matter).

[2019-10-07 19:55] beccaklam commented on #3729
Looks good to me. I think the only field missing is the "User friendly privacy info" field and its equivalent help text field. cc: @kristinashu

[2019-10-07 21:17] #3718 closed

[2019-10-07 21:17] #3723 closed

[2019-10-07 21:28] mmmavis commented on #3727
Hey @anilkanji , thanks for offering help! This is not a ticket for contributors to pick up as our team is actively working on tickets related to this YouTube project.

[2019-10-07 21:41] mmmavis commented on #3727
@kristinashu Can we prioritize items on the above list? Non-animated intro related tweaks should be easy to do but tweaking anything in the intro actually takes more time and effort than they seem. For example, the circles are actually placed in a 3D space and positioned differently along the z-axis (depth). The spacing between each circle is actully exactly the same but 3D perception makes them s

[2019-10-07 22:04] kristinashu commented on #3727
Ok @mmmavis, I've prioritized the list. The circle updates can be a _nice-to-have_ or a _maybe-later_ update.

[2019-10-07 22:16] kristinashu commented on #3729
Yea I had that as a _shift_ in the [spreadsheet](https://docs.google.com/spreadsheets/d/1tcFlDgrxxo4Mj5QP-pCFyB4QSCuPMi5vumLQu_r5-QI/edit#gid=0). I was thinking we could turn "Privacy Policy Reading Level" into "User friendly privacy info" (happy face = `Yes` and the sad = `No`). But that's probably tricky to do, so if that's the case then Pomax please just remove "Privacy Policy Reading Level" an

[2019-10-08 03:49] kristinashu opened #3748 "Blog detail page: add category"
Add category link at the top of the blog (after the by line and the date).

<img width="906" alt="image" src="https://user-images.githubusercontent.com/1068783/66366222-90ecd980-e944-11e9-844d-9eaacadf0355.png">

[2019-10-08 03:56] kristinashu opened #3749 "Blog detail page: related posts update"
I noticed on recent [this post](https://foundation.mozilla.org/en/blog/introducing-our-29-newest-mozilla-fellows/) that there are no related posts. If someone doesn't add a tag or if there aren't any related tags, could we show recent posts from the category?

[2019-10-08 04:18] kristinashu commented on #3728
Thank you for pointing this out. I have updated the images on the About pages through the CMS so it should load faster now.

[2019-10-08 04:18] #3728 closed

[2019-10-08 16:02] alanmoo opened #3750 "Remove UTM tracking from donate links"
Since we've got our donate site included in a roll-up GA tracker, adding in UTM params on links to the site messes with our data and makes us unable to identify where the visitor originally came from. Let's remove them from the header and footer CTAs.

cc @WillatMozFdn

(Email from @domeheid, working on analytics at Torchbox below)

[2019-10-08 17:10] beccaklam commented on #3615
This is pretty much done!

[2019-10-08 17:10] #3615 closed

[2019-10-08 17:35] kristinashu commented on #3712
I'll send an email EOD today with an update in dev progress, localization, and share the social graphics with Kevin, Brandi, Theo.

[2019-10-08 17:43] kristinashu opened #3751 "PNI: update homepage copy design"
Need copy from @caltrider then we will mock it up and give to devs https://github.com/mozilla/foundation.mozilla.org/issues/3752.

[2019-10-08 17:44] kristinashu opened #3752 "PNI: implement updated homepage banner"
Update banner header image with this new graphic [here](https://drive.google.com/drive/folders/1CeZ3nTJ3zIyqRSqUtj7r4cjOYvktq3qk?usp=sharing).

[2019-10-08 19:16] kristinashu commented on #3719
Like this? I don't think it needs both text + icon and I can't really find a better spot to put the text.

<img width="847" alt="image" src="https://user-images.githubusercontent.com/1068783/66425846-70b12f00-e9c5-11e9-9d76-dde6f5876d83.png">

[2019-10-08 20:44] beccaklam commented on #3617
Some options here in the redpen: https://redpen.io/p/ur962f62818f0c1ffb
Jen's copy:

I was thinking we could use both? One for the homepage and one for the about page.
cc: @kristinashu @caltrider

[2019-10-08 21:08] kristinashu commented on #3617
Nice! I really like the button placements and the idea of using both version of the copy.

[2019-10-08 21:51] caltrider commented on #3617
Looking good. I just left a comment in the redpen. We could tweak the language to be a bit more active is we went with: "Don't see the product you are looking for?" Either one works fine though. There should be a "?" at the end of the sentence too.

[2019-10-08 21:52] TheoChevalier commented on #3628
Hey @youriwims , what’s the remaining work that needs to happen in order to merge #3700 and close this one?

[2019-10-08 22:04] Pomax opened #3755 "mozfest page title is incorrect"
The `<title>` element on the mozfest base template currently generates `Mozilla Festival 2019 - Mozilla Festival 2019` which is a bit overkill.

[2019-10-08 22:05] Pomax commented on #3755
@youriwims mind if I assign this one to you?

[2019-10-08 22:09] Pomax commented on #3755
The code currently reads `Mozilla Festival 2019{% if page.specifics.seo_title %} - {{ page.specifics.seo_title }}{% else %} - {{ page.title }}{% endif %}` but that's going to generate the wrong thing.

@gideonthomas what do we want this to read on the various pages? SEO title on the root page, SEO title + ` - {{ page title }}` on pages like "Spaces", "Tickets" etc?

[2019-10-08 22:11] kristinashu opened #3756 "YouTube: add newsletter signup to mobile"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/3726.

Button has been added to desktop but is still needed for mobile.

Bonus! Style the button like in the [comps](https://redpen.io/p/fc1dd017be6f0171be).
<img width="172" alt="image" src="https://user-images.githubusercontent.com/1068783/66437133-d6a9b080-e9dd-11e9-8607-26c66f2a5e08.png">

[2019-10-08 22:19] youriwims commented on #3628
This ticket is complete. Currently, just waiting on the styling dropdown PR
to be approved so these two can be landed at the same time. I'll ping Mavis
to see if we can get that approved today so I can merge them tomorrow
morning.

On Tue., Oct. 8, 2019, 5:52 p.m. Théo Chevalier, <notifications@github.com>
wrote:

[2019-10-08 22:49] kristinashu commented on #3616
I'm not sure how useful this is, gonna close but please reopen if you think you need it!

[2019-10-08 22:49] #3616 closed

[2019-10-08 23:03] sabrinang commented on #3582
**Oct 10**
- [x] slack feedback on Mon & Tues
- [x] reply asynchronously and give feedback or design review for other designer's issues _(book review feedback, encouraging design review to happen in github)_
- [ ] review assets on Thursday check-in call
- [ ] update any new approved asset examples on extended style guide

[2019-10-09 03:49] Shivansh2407 commented on #3755
Please assign this to me and let me know what to change

[2019-10-09 08:47] TheoChevalier commented on #3628
Awesome, thanks! Since Subscribing is the main CTA for the YouTube page, having this PR live will make quite the difference

[2019-10-09 17:07] youriwims opened #3759 "Clean up dropdown code"
See #3691 #3628

[Follow-up clean-up ticket]: Look through updated files in these tickets' associated PRs to see if anything can be refactored and/or cleaned up.

Look into:
- localizing `#nav-newsletter-form-wrapper` `height` value.

[2019-10-09 17:12] kristinashu commented on #3719
Moving this to be a stretch goal.

[2019-10-09 17:28] #3712 closed

[2019-10-09 17:47] #3645 closed

[2019-10-09 17:49] Pomax commented on #3729
I've made a new field for `user_friendly_privacy_policy` but we can probably do a migration that takes the data currently encoded in `privacy_policy_reading_level` and use that to automatically set the new field.

[2019-10-09 17:59] kristinashu commented on #3732
Rebecca has update the check-list in the first comment. Happy to have a quick zoom call to review the changes as well if needed.

[2019-10-09 18:01] kristinashu commented on #3729
That would be super cool!

[2019-10-09 18:29] beccaklam commented on #3617
Updated the copy: https://redpen.io/p/ur962f62818f0c1ffb
What did you mean by the "?" @caltrider ? The sentence already had one? If all looks good I'll create the implementation tickets. cc: @kristinashu

[2019-10-09 18:29] kristinashu opened #3760 "PNI homepage/categories: only show products with review date within one year"
We have added a review by date to each PNI product. Can we still show older products on our category product pages but hide them on the homepage?

[2019-10-09 18:34] kristinashu commented on #3617
Any thoughts on where the button will link to? It would be ideal if we could prompt users with a Newsletter signup ask when they submit their idea.

Need this link for the dev ticket but otherwise I think it's ready!

[2019-10-09 18:46] beccaklam commented on #3617
@kristinashu True, maybe we can spin up a simple wagtail page? Any luck on finding that comment snippet? I feel like that would be the snippet we'd have to use? Any idea how we would set up the backend and where comments would go?

[2019-10-09 18:49] kristinashu commented on #3617
[This](https://foundation.mozilla.org/en/campaigns/tell-amazon-connected-devices-must-have-privacy-policies/chat-amazon-customer-service/) is the comment snippet. It would need to be set up in Salesfoce. Maybe this is worth a chatting about at stand?

[2019-10-09 19:52] beccaklam commented on #3617
Re: our stand conversation @caltrider Should we just do a shared email account for this? Kind of sounds like integrating with Salesforce is over-kill? cc: @kristinashu

[2019-10-09 19:57] kristinashu commented on #3617
True. I guess it depends how many recommendations we expect to get? But yeah, probably not enough to make it worth while.

[2019-10-09 20:02] caltrider commented on #3617
I would say over the past year I've probably gotten 10-15 product recommendations. I've probably had the same number of people or maybe a few more email me with questions or thoughts on the guide. My email is still listed on the about page for those, which is good. I'd say a shared email would work well. Have it come to me for sure and then I can ask in the buyer's guide slack channel who else mig

[2019-10-09 20:09] kristinashu commented on #3617
Ok salesforce is definitely not needed then. So should we just link to a google form then?

[2019-10-09 20:22] beccaklam commented on #3617
I'm fine with that, that seems like a smaller lift than the shared email? @caltrider

[2019-10-09 20:27] beccaklam commented on #3751
@caltrider Can I get some copy for this?

[2019-10-09 20:27] beccaklam commented on #3619
@caltrider Do you have content ready for this?

[2019-10-09 20:34] caltrider commented on #3617
The problem with the Google form is a I won't get a notification when someone submits something.

[2019-10-09 20:39] caltrider commented on #3619
I don't yet. I do have some place holder content that will work for two sections.

Here's the link for the ["Methodology](https://docs.google.com/document/d/1oaPPgFRlA1_zfpd5tPPe8THC20iFnmSYBvSvFppkmjA/edit?userstoinvite=lotta@mozillafoundation.org&ts=5d9caea0&actionButton=1)" section.
Here's the link for the ["Our Minimum Security Standards Explained"](https://docs.google.com/document/d/1Y49QM9Yb

[2019-10-09 20:58] beccaklam commented on #3617
Okay, so email it is? Should we just set up a gmail account?

[2019-10-09 21:01] kristinashu commented on #3617
You can set up email notifications for responses. Just go to response and click the 3 dotes.

<img width="903" alt="image" src="https://user-images.githubusercontent.com/1068783/66520033-4337b480-ea9d-11e9-9c85-6920b4f2d3b0.png">

[2019-10-09 22:57] caltrider commented on #3617
Sounds like we've got some pros and cons for either option:
Google Form:
Pros: Simplest, we have all the recs in one doc
Cons: Notifications are doable but not as easy as email, harder to reply directly to someone who ask (we'd have to ask for email address which gets tricky)

Dedicated email address:
Pros: Most personal, immediate notification, easiest to reply
Cons: Not as easy to set up, all th

[2019-10-09 23:08] youriwims commented on #3674
@kristinashu how exactly do we want to do the form error states? For example, when a user clicks _No Thanks_, I assume we don't want errors to block them from continuing to the final results view. So, when/where during the signup view do we want the error to show up e.g. if they click _Submit_ and the value(s) are invalid?

[2019-10-09 23:14] kristinashu commented on #3674
That's right, `Sign up` would trigger the error states if something is wrong and `No thanks` just brings users to the next screen, no error states.

[2019-10-09 23:15] youriwims commented on #3674
Okay, and do we want to show the success message once they've signed up successfully or just skip straight to the results?

[2019-10-09 23:21] kristinashu commented on #3674
Ooooh good question... I guess we won't show the success message, we should just bring a user to the results.

[2019-10-10 09:14] TheoChevalier commented on #3628
@youriwims Just tested on prod with the following data:

![Screenshot_2019-10-10 Vos regrets YouTube](https://user-images.githubusercontent.com/1294206/66555461-9ca7ee00-eb46-11e9-8930-2086a7bc35f5.png)

Unfortunately it resulted in this: (Screenshot from the email preferences)
![Screenshot_2019-10-10 Newsletter Subscriptions](https://user-images.githubusercontent.com/1294206/66555162-1ee3e280-eb4

[2019-10-10 14:24] youriwims commented on #3628
Hmmm... @Pomax any idea why this would be happening?

[2019-10-10 15:45] youriwims commented on #3628
@TheoChevalier ^

[2019-10-10 15:51] TheoChevalier commented on #3628
@Pomax Sure, here’s what I’ve done:

STRs:

- Open https://foundation.mozilla.org/fr/
- Click on Newsletter in the header
- Fill out an email address not already subscribed
- Select France as country
- Keep French as language (already selected)
- Hit Je m’inscris
- You’ll receive the double opt-in email in English
- Click confirm, you’ll land on something like https://www.mozilla.org/en-US/newslet

[2019-10-10 15:51] Pomax commented on #3628
Note that https://github.com/mozmeao/basket/issues/344 is an open issue, and basket does _not_ have any language passthrough set up for us yet.

[2019-10-10 15:55] TheoChevalier commented on #3628
Ok, looks like it’s a dependency of this ticket, then. What about the country field? Would this need a separate basket ticket?

[2019-10-10 16:17] youriwims commented on #3628
@TheoChevalier filed a ticket here https://github.com/mozmeao/basket/issues/346 for that as well.

[2019-10-10 16:53] #3725 closed

[2019-10-10 18:51] sbaack opened #3763 "RSS feed unformatted and not full text"
**Describe the bug**
Unlike the RSS feed for the Mozilla blog (https://blog.mozilla.org/), the blog of the Foundation (https://foundation.mozilla.org/en/blog/) does not provide a full text RSS feed and the texts provided are not formatted (no line breaks, italics, links etc.)

**To Reproduce**
Subscribe to https://foundation.mozilla.org/en/blog/atom/ or https://foundation.mozilla.org/en/blog/rss/

[2019-10-10 19:43] beccaklam commented on #3751
Jen to keep thinking on this, but feels that the "holiday" will mostly come from the banner.

[2019-10-10 19:53] beccaklam commented on #3617
@caltrider Why is asking for an email address tricky?

[2019-10-10 20:09] caltrider commented on #3617
Because of our lean data practices. Collecting personal info like an email through a google form might be doable, but i'm sure the lawyers will have much to say and a long disclaimer we'd need to include.

[2019-10-10 20:14] beccaklam commented on #3617
A disclaimer feels better than spinning up an email though? I'll ping Abigail.

[2019-10-10 20:34] #3726 closed

[2019-10-10 20:34] #3727 closed

[2019-10-11 18:40] kristinashu opened #3765 "Add new VP to sites"
Need to add new VP - Bob Alotta to both:
- https://foundation.mozilla.org/en/about/leadership/
- https://www.mozilla.org/en-US/about/leadership/

@anilkanji to gather content:
 - headshot
 - name and title
 - twitter handle
 - website (optional)
 - link to Mozillians profile
 - bio

Kristina to crop image and add to fo'mo site.
Once ready, @alanmoo to assign a dev to add to moco site.

[2019-10-11 20:20] #3756 closed

[2019-10-11 20:44] beccaklam commented on #3618
@kristinashu Started some designs here: https://redpen.io/p/rob82780bb84c2b14a Still pretty rough, but any thoughts/feedback?

[2019-10-11 21:30] kristinashu commented on #3618
Yeah, I'm not sure about having sticky elements both at the top and bottom of the page. Also think the badge needs more context than just the icon. But I do like how Likely to Buy filter has been removed. To be honest, I'm not really sure why we even need the Creep-O-Meter filter? Seems like the scroll does this just fine. So **maybe** all we need is the animated face and a checkbox for Meets Mini

[2019-10-11 21:42] kristinashu opened #3767 "PNI: update badge"
- [ ] Update large badge on product detail page [@natalieworth to add svg]

- [ ] Update mini badge on homepage [@natalieworth to add svg]

[2019-10-11 21:46] kristinashu commented on #3719
Won't be adding this feature.

[2019-10-11 21:46] #3719 closed

[2019-10-11 21:47] youriwims commented on #3755
I haven't changed anything, but locally I'm seeing `Mozilla Festival 2019 - Mozilla Festival` so it appears to be using `page.title`.

[2019-10-11 21:55] #3628 closed

[2019-10-11 23:15] youriwims commented on #3755
@gideonthomas I updated the homepage to be `page.title` in #3769, but let me know if you'd rather it use `seo_title` like pomax mentioned above.

[2019-10-14 11:28] TheoChevalier opened #3770 "Newsletter form visual fixes"
Dropdowns are not styled in PNI
![Screenshot_2019-10-12  Privacy Not Included A Buyer’s Guide for Connected Products](https://user-images.githubusercontent.com/1294206/66746271-41913680-ee79-11e9-9304-6d77147a25ed.png)

`Please check this box if you want to proceed` and privacy notice box are cut-out in non-EN languages with errors displayed
![Screenshot_2019-10-12 Fondation Mozilla](https://user-

[2019-10-14 13:01] TheoChevalier commented on #3720
Confirming this can be fixed with #3529.

YT strings are wrapped here: https://github.com/mozilla/foundation.mozilla.org/pull/3529/files#diff-bbf48b8f7902f6ea2ceb6a5b420e2ba2

I try to keep track of strings landing, but if I’m missing something, let me know

[2019-10-14 18:28] kristinashu opened #3772 "Add donate footer to YouTube"
YouTube campaign page is missing the purple donate banner above the footer.

Should look like the rest of our pages:
<img width="1207" alt="image" src="https://user-images.githubusercontent.com/1068783/66774105-99c63980-ee75-11e9-9a5b-599799ec3538.png">

cc @Pomax @mmmavis

[2019-10-14 19:16] youriwims commented on #3759
<img width="1245" alt="image" src="https://user-images.githubusercontent.com/36484608/66776900-8925bb80-ee95-11e9-8b66-3c3712fb5a6a.png">

Error state spacing fixed in #3771 cc @kristinashu

[2019-10-14 19:17] youriwims commented on #3759
Dropdown styles component-ized in #3771 and added to buyer's guide.

[2019-10-15 04:16] ShivamRawat0l commented on #3772
@kristinashu I would like to work on this issue. Can you post a link to youtube campaign page ?

[2019-10-15 04:25] ShivamRawat0l commented on #3693
I would like to work on this issue.

[2019-10-15 13:06] natalieworth commented on #3752
@kristinashu Added the [new badges here](https://drive.google.com/drive/folders/1hQmCYTr7pI16-lGwPKKWLwgDDvaIwLmZ?usp=sharing).

Let me know if I can help the devs with this anymore.

[2019-10-15 13:08] natalieworth commented on #3767
@kristinashu I have the updated svg badges ([with the stars here](https://drive.google.com/drive/folders/1hQmCYTr7pI16-lGwPKKWLwgDDvaIwLmZ?usp=sharing)).

[2019-10-15 16:03] TheoChevalier commented on #3770
Fixed in https://github.com/mozilla/foundation.mozilla.org/pull/3783

[2019-10-15 16:03] #3770 closed

[2019-10-15 16:23] Pomax commented on #3755
seo title makes sense in <meta>, but shouldn't really be necessary in <title>, let's go with `page.title`

[2019-10-15 16:37] kristinashu opened #3785 "Update PNI OG copy and image"
This is an dev ticket to update the OG graphic and copy. Currently blocked by:

@natalieworth to add image here

@caltrider to add copy here

[2019-10-15 16:44] kristinashu commented on #3751
Keeping the copy as is for MozFest but I'll move this ticket to our next milestone in case we want to change it then.

[2019-10-15 16:49] kristinashu commented on #3618
Devs won't be implementing this for mozfest or for the main launch. @beccaklam up to you if you want to explore this more so get feedback at mozfest, or not to at all, or to explore more after mozfest. Please update the ticket milestone and status accordingly!

[2019-10-16 19:39] beccaklam commented on #3619
@caltrider @kristinashu I've mocked up the About Page with the new placeholder content Jen provided. Jen, I assumed that the links you provided ^ were replacing "How to Use this Guide" and "Why We Made This Guide" but I wasn't 100% sure. Let me know how to reorganize things if that's not what you were envisioning. https://redpen.io/p/xed29db03743c5348b

[2019-10-16 19:45] caltrider commented on #3619
Heya @beccaklam, thanks!
For the About page, these two sections will be new section, in addition to the already existing sections. So, the order of the sections on the left hand side of the About Page should go:

- How to Use This Guide (which I will update, after Mozfest)
- Why We Made This Guide (I'll review and make any needed tweaks after MozFest)
- Our Minimum Security Standards Explained (Be

[2019-10-16 19:55] beccaklam commented on #3617
Abigail is ok with us collecting emails as long as it's optional! I'll spin up the form and then should I open the implementation tickets? @kristinashu

[2019-10-16 20:25] kristinashu commented on #3617
Sounds good to me!

[2019-10-16 20:38] beccaklam commented on #3617
@caltrider Any chance I can just edit the google form you had before? This one: https://docs.google.com/forms/d/1IjWbylsFs4eVrGbDjCdFKufht0pO-3smxxcNfhuOUz0/edit

[2019-10-16 20:40] Pomax commented on #3733
This landed

[2019-10-16 20:40] #3733 closed

[2019-10-16 20:41] Pomax commented on #3731
this landed

[2019-10-16 20:41] #3731 closed

[2019-10-16 20:41] Pomax commented on #3729
this all landed

[2019-10-16 20:41] #3729 closed

[2019-10-16 20:41] caltrider commented on #3617
@beccaklam Yup, that form should work. Feel free move the current recommendations from the email ask to a new tab so the current tab is cleaner for new recs too if you want.

[2019-10-16 21:48] #3750 closed

[2019-10-16 21:59] kristinashu commented on #3765
This has been updated on our site. Just info the extra info bio info Bob in order to add it to mozilla.org.

[2019-10-16 22:21] kristinashu opened #3791 "PNI icons sometimes overlap"
Noticed that if a product is 18+ and filters are being used then the icons overlap. @beccaklam could you please find an alternative spot for the one of the overlapping icons?

<img width="293" alt="Screen Shot 2019-09-04 at 12 22 28 PM" src="https://user-images.githubusercontent.com/1068783/66963326-434d2c80-f028-11e9-9243-f92fe169bb99.png">

[2019-10-16 22:34] Pomax commented on #3537
@cadecairos would you happen to know?

[2019-10-16 22:45] pbbob opened #3792 "Email preferences don't make sense"
Hello friends,
I dunno if this is corretc place to repurt bug, but I am confusion of the email preferences.
Is it yes to subscibe, no to unsubscribe? Please help me lol.

![screenshot](https://user-images.githubusercontent.com/34972102/66964542-f62b8380-f044-11e9-95d5-0e5017718b7e.png)

[2019-10-17 13:44] cadecairos commented on #3537
[We made this change](https://github.com/mozilla/foundation.mozilla.org/pull/849) to ensure that devs saw data locally. If we revert this, do we need to also update the fake data scripts?

[2019-10-17 15:40] beccaklam commented on #3791
Will something like this work?
<img width="327" alt="Screen Shot 2019-10-17 at 11 39 58 AM" src="https://user-images.githubusercontent.com/20977376/67024720-e0649f80-f0d2-11e9-984d-3d7bb680065d.png">
In situ: https://redpen.io/cy03c326b375db0f8e
@kristinashu

[2019-10-17 15:59] kristinashu commented on #3791
What would this look like for the other products, like ones that aren't 18+ or don't have the badge?

[2019-10-17 16:48] kristinashu opened #3793 "PNI product detail styling fixes"
Follow up from https://github.com/mozilla/foundation.mozilla.org/pull/3788

### Hover state
- [ ] add purple/blue to to the text link hover states (Privacy policy links and Contact links)

### Vertical spacing and help text line length
- [ ] in general, more vertical space is needed between the diving lines and the text
- [ ] end the help text before the answer
- [ ] slightly more vertical space b

[2019-10-17 17:07] beccaklam commented on #3791
@kristinashu It's in the in situ link! But here it is again:
![multi-icon-treatment@2x](https://user-images.githubusercontent.com/20977376/67031236-14de5880-f0df-11e9-98d5-d2076ea39c25.png)

[2019-10-17 18:05] mmmavis opened #3794 "PNI: Emoji face bug on Edge 16"
Emoji face bug on Edge 16 (and possibly other versions of Edge as well)

On product page, there's an extra emoji on top

<img width="829" alt="image" src="https://user-images.githubusercontent.com/2896608/67035006-a0e78480-f0cd-11e9-8107-6574a861edcb.png">

Expected:

![image](https://user-images.githubusercontent.com/2896608/67035212-14899180-f0ce-11e9-8037-1f54cd86b4f6.png)

[2019-10-17 18:09] Pomax commented on #3730
This landed

[2019-10-17 18:09] #3730 closed

[2019-10-17 18:11] Pomax commented on #3732
Closing as complete, with the following followup issues:
- https://github.com/mozilla/foundation.mozilla.org/issues/3793
- https://github.com/mozilla/foundation.mozilla.org/issues/3794

[2019-10-17 18:11] #3732 closed

[2019-10-17 18:11] Pomax commented on #3716
reopening, to account for the outstanding CSS issues

[2019-10-17 18:49] alanmoo commented on #3765
@anilkanji when you've got the content, drop it in this ticket and assign to me.

[2019-10-17 19:46] kristinashu commented on #3765
Here's the name, title, and headshot. So just need the bio.

J. Bob Alotta, VP, Global Programs.jpg

![J  Bob Alotta, VP, Global Programs](https://user-images.githubusercontent.com/1068783/67042090-f9258300-f0db-11e9-8e6f-08f49e29445e.jpg)

[2019-10-17 20:31] taisdesouzalessa opened #3795 "PNI: differences between picture background and css background"
**Describe the bug**
There is a small difference of color between the css and the image background on the PNI page, which results in a faint square around the image:
<img width="207" alt="image" src="https://user-images.githubusercontent.com/22157921/67044693-aea70500-f0e1-11e9-9100-c425fd5dfa5a.png">

URL here: https://foundation.mozilla.org/en/privacynotincluded/

**Expected behavior**
To have t

[2019-10-17 20:34] taisdesouzalessa commented on #3795
@kristinashu tagging you for triage. Let me know if I should tag Alan instead?

[2019-10-17 21:24] kristinashu opened #3796 "PNI: it uses section"
Now that @caltrider has seen this section, she feels it looks empty and uninformative. @beccaklam can you please explore some other possible solutions? Maybe reverting back to have it was before???

<img width="850" alt="image" src="https://user-images.githubusercontent.com/1068783/67048735-96d37f00-f0e9-11e9-827c-8775bf8aeb1b.png">

[2019-10-17 21:40] kristinashu commented on #3795
Thank you Tais! I've put it in the upcoming milestone.

[2019-10-18 15:19] beccaklam commented on #3617
Okay, it didn't seem possible to create a new tab for the new responses so I just created a new form ... @caltrider can you take a look at it and make sure everything looks good? https://forms.gle/UefDgjEU85Xwcf8C8

[2019-10-18 15:35] beccaklam commented on #3618
@taisdesouzalessa and I will be doing some usertesting at MozFest before determining what changes would be best to improve the user experience on the home page. Test script here: https://docs.google.com/document/d/1PuL3W6nfsCCHWW2GHhwEFDEm8EirLBX9lnrwNlyLnZU/edit?usp=sharing I'll close this ticket for now.

[2019-10-18 15:35] #3618 closed

[2019-10-18 16:01] TheoChevalier opened #3798 "Bad Request when publishing es/pt YouTube stories"
I’m hitting an issue with `es` and `pt` fields for the YouTube Regrets page. When publishing stories for these two locales (even just copying the English ones as in the GIF below), I get a Bad Request error. I managed to successfully publish stories in fr/de

STRs:
- Edit page, show ES fields
- Copy stories from EN
- Publish
![bad-request](https://user-images.githubusercontent.com/1294206/67109337

[2019-10-18 17:05] beccaklam commented on #3796
@kristinashu Should we revert it back to this design:
![Screen Shot 2019-10-18 at 1 02 19 PM](https://user-images.githubusercontent.com/20977376/67113472-9a2d4000-f1a7-11e9-8f41-f79a4a7eea01.png)

So, show _"(device or app)"_ only when answer is _"Yes"_ if the answer is No for both device and app show _"N/A"_

[2019-10-18 17:13] kristinashu opened #3799 "PNI: implement recommend product for review"
Implement section for users to recommend a product for review.

**🗒  Design -> Dev Handoff Checklist**

- [x] Design has been finalized
- [x] Link to original design ticket: #3617
- [x] Link to Redpen: https://redpen.io/p/ur962f62818f0c1ffb
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and mobile mockups are included

## List of Requirements
- [x] Add "Recommend produc

[2019-10-18 17:15] kristinashu opened #3800 "PNI: Implement About Page additions"
Design ticket https://github.com/mozilla/foundation.mozilla.org/issues/3619

## List of Requirements
- Update and add new about pages
- Keep fonts, layout, and general styling the same as our current about pages
- remove accordions (mainly for _How to Use this Guide_)

## Copy

- [x] [How to Use This Guide](https://docs.google.com/document/d/12QuPQ_RXkmLlAlhCcPTX50-Nup2JskAIwC5ntcn8R4Q/edit)
- [x]

[2019-10-18 17:19] beccaklam commented on #3619
Updated redpens to reflect the order of the sections: https://redpen.io/p/xed29db03743c5348b

[2019-10-18 17:23] #3633 closed

[2019-10-18 17:23] kristinashu opened #3801 "PNI / IHR companion piece"
IHR team is deprecating https://internethealthreport.org/ and also launching a companion piece for PNI.

Same launch date as PNI - Nov 12.

### Blog category
- https://foundation.mozilla.org/blog/category/internet-health should be https://foundation.mozilla.org/blog/category/internet-health-report
- I can update this in the CMS but then it doesn't appear in the blog wagtail component
- Kristina to

[2019-10-18 17:28] beccaklam commented on #3619
@KevZawacki Any thoughts on if we should add the Press section to our About page and if yes, what content we should have there?

[2019-10-18 17:32] alanmoo commented on #3772
It's a specific page type: `Youtube regrets page` that needs this. I think there's a block that just needs to be included in this template.

[2019-10-18 18:09] mmmavis commented on #3767
@kristinashu is this about replacing existing badges with the files Nat attached?

[2019-10-18 18:33] mmmavis commented on #3795
The container background colour `#f2f2f2` is a brand color `$gray-05`. It looks like PNI product images were generated with `#f5f5f5` as background. Since regenerating all the images is time-consuming and troublesome, as the simplest solution I can update the container background to `#f5f5f5`.

[2019-10-18 18:35] kristinashu commented on #3767
Yes that's right, they should be the same size and format (we're just replacing the checkmark with a star).

[2019-10-18 18:37] kristinashu commented on #3795
Note that the background color used on the product detail page works well with the images
https://foundation.mozilla.org/en/privacynotincluded/products/nintendo-switch/
<img width="1428" alt="image" src="https://user-images.githubusercontent.com/1068783/67119231-98f61600-f19b-11e9-91a2-c68422c7c06c.png">

[2019-10-18 18:41] taisdesouzalessa commented on #3795
The product detail page bkg color if #f4f4f4

<img width="635" alt="image" src="https://user-images.githubusercontent.com/22157921/67119409-f5593580-f19b-11e9-917c-a89beabef8d3.png">

I would advocate for the simpler solution Mavis pointed out because it eliminates the issue quickly and the difference between the brand color and the grey we currently have is so small.
Then update the images next y

[2019-10-18 20:08] kristinashu commented on #3791
Ah sorry I missed the link. I think this works well!

@mmmavis would this be pretty straightforward to implement or do you foresee any complications? We wouldn't want this to turn into a big thing.

[2019-10-18 20:25] beccaklam commented on #3617
Implementation ticket for this opened #3799

[2019-10-18 20:25] #3617 closed

[2019-10-18 20:29] kristinashu commented on #3799
Nice, thank you for adding all the info @beccaklam!

[2019-10-18 20:37] mmmavis commented on #3767
@kristinashu @natalieworth new SVGs are in `#909090` vs current ones are in `#000000`. Just wanna confirm we are updating the colour to `#909090` as well.

[2019-10-18 20:42] beccaklam commented on #3796
Revised design (reverting back to what we had last year with some slight styling differences.
Updated redpen: https://redpen.io/p/aj7f2e09f704b2e4ee
### Mobile:
![image](https://user-images.githubusercontent.com/20977376/67126617-809af100-f1c5-11e9-87c1-fc5476b3d6ae.png)
### Desktop:
![Screen Shot 2019-10-18 at 4 36 52 PM](https://user-images.githubusercontent.com/20977376/67126638-8bee1c80-f1c5-1

[2019-10-18 20:45] caltrider commented on #3796
As I'm going through all these products, it seems we have 4 answers to this question of what it uses:  Yes/No/NA/and ?. Would it be possible to have a ? response for this for ones we were unable to tell (this mostly comes from us not being able to buy the product or tell from the listed specs for the product).

[2019-10-18 21:20] kristinashu commented on #3767
Honestly I'm not sure if that was intentional or not but I think #909090 actually looks good so let's go with that!

[2019-10-18 21:35] mmmavis commented on #3791
This shouldn't be too complicated. I'll let you know if I end up encountering an obstacle.

[2019-10-18 21:37] kristinashu commented on #3791
Perfect! Can this work as an implementation ticket or should Rebecca open a new one?

[2019-10-18 21:38] mmmavis commented on #3791
I'll take this from here!

[2019-10-18 21:57] kristinashu commented on #3751
I think Matthew was hoping we could reduce the amount of copy on the homepage. Maybe we could remove "Look for the “Meets Our Minimum Security Standards” badge to get started."?

[2019-10-21 12:19] TheoChevalier commented on #3798
I’ve been able to reproduce locally, it looks like there’s a limit of the number of fields that can be uploaded, and we’re hitting it when publishing a 3rd version of the page

![image](https://user-images.githubusercontent.com/1294206/67204284-18d2e900-f405-11e9-99ea-3ef78ba22b34.png)

[2019-10-21 12:26] TheoChevalier commented on #3798
Default value is 1000 fields, I guess we would need this to be at least 2500 or 3000
https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-DATA_UPLOAD_MAX_NUMBER_FIELDS

[2019-10-21 15:16] beccaklam commented on #3751
@kristinashu Yeah that could work, though I think he was really looking to get rid of the line after that describing how the face worked.

[2019-10-21 15:34] kristinashu commented on #3801
@alanmoo we're trying to decide which templates to use for the PNI/IHR Companion articles. Either way, we will need to add a comment feature. I assume this is easy enough to do for blog posts but would it be possible to add it as a wagtail component that could be added to a regular wagtail page?

[2019-10-21 15:39] kristinashu commented on #3796
cc @Pomax @mmmavis unfortunately we will need to update the `It uses` section to make it have 4 possible answers instead of just the 3 and then adjust the product page it to always show all the answers. Will let you know once we've finalized the design.

[2019-10-21 17:37] kristinashu commented on #3799
Please note this is low priority.

[2019-10-21 18:10] beccaklam commented on #3796
Dropped in some more options for the layout of this section: https://redpen.io/p/aj7f2e09f704b2e4ee (last two designs)

[2019-10-21 18:26] kristinashu commented on #3796
Thanks for mocking those up! I think you had it right with the first one.

For devs, can you just clarify if you want `Unknown` to be styled (as `Unknown` or as `?`)? And then I think you can open an implementation ticket.

<img width="655" alt="image" src="https://user-images.githubusercontent.com/1068783/67231978-39934280-f3f5-11e9-89d5-26d7f8edf6c1.png">

[2019-10-21 19:12] #3793 closed

[2019-10-21 19:16] Pomax commented on #3798
But how we are even getting to 1000+ for a single post? 6 languages for 30 stories, 10 blurps, and <10 additional fields is ~350 fields, even if we fill in every single one?

[2019-10-21 19:23] Pomax opened #3813 "Investigate TooManyFieldsSent error for youtube campaign page."
In order to fix https://github.com/mozilla/foundation.mozilla.org/issues/3798 "for now" we upped the Django field limit, without being absolutely certain that's actually the real problem we were facing.

We should revert that limit-change, and figure out why Django claims we're posting 1001+ fields when the document in question only has ~350 fields even when every single localised field has been a

[2019-10-21 19:23] kristinashu commented on #3801
@beccaklam will test the two possible directions (make a regular landing page and then link out to 3 blog posts OR everything in a tabbed banner campaign page) to see which one feels best.

Alan, we would still need to know if we can add comments to a regular wagtail page (example, at the bottom of https://foundation.mozilla.org/en/internet-health-report/).

[2019-10-21 19:28] Pomax commented on #3798
Filed #3813 as a follow up once we land the PR associated with this issue.

[2019-10-21 19:50] beccaklam commented on #3796
Can we do something like this where if both answers are the same the format used is "Device & App" vs "Device: | App:"? This way we can use "Unknown" for consistency instead of "?".
![Screen Shot 2019-10-21 at 3 48 59 PM](https://user-images.githubusercontent.com/20977376/67238067-82112700-f41a-11e9-95d6-8fe924d075e5.png)
@kristinashu @Pomax @mmmavis

[2019-10-21 20:28] #3767 closed

[2019-10-21 20:28] #3795 closed

[2019-10-21 20:28] #3752 closed

[2019-10-21 20:28] #3791 closed

[2019-10-21 21:02] #3798 closed

[2019-10-21 22:07] #3748 closed

[2019-10-21 23:35] kaodro commented on #3801
I created a page and a blogpost with the same copy and image to compare (saved as drafts) and the blogpost definitely has more of the look we are looking for. It is mostly because of the narrow column - is this something we could customize on a page if we went for pages?

[2019-10-22 14:05] beccaklam commented on #3801
Unfortunately currently we would be unable to do that if we went with the tabbed page. If we want the blog layout we would need to link out to blog pages which we agree, has a better layout for the given content.

[2019-10-22 14:53] kristinashu commented on #3801
For non-blog pages, make sure you check "Narrowed page content" under the Settings tab, it will make the content less wide and much better!

<img width="746" alt="image" src="https://user-images.githubusercontent.com/1068783/67298931-dbbc3480-f4a0-11e9-9201-ce411737b040.png">

[2019-10-22 15:31] alanmoo opened #3814 "Refactor join-us components to use direct basket HTTP request"
Inspired by [this comment](https://github.com/mozilla/foundation.mozilla.org/pull/3803#pullrequestreview-304868791), our overloading of the signup endpoint is getting...gross. Let's refactor any signups that aren't actually tied to a signup snippet so that they're POSTing directly to Basket via HTTP. Some signups that come to mind: site header, footer, PNI post-vote, and, I think, somewhere on the

[2019-10-22 19:28] beccaklam commented on #3801
@kristinashu @kaodro Okay I played with some explorations and there are pros and cons to both.

# **[Version 1](https://foundation.mozilla.org/en/initiatives/privacy-included/)**

### Pros
- Stories could be laid out using the blog style (larger text, share icons)
### Cons
- The user would need to click twice in order to get to a story, feels slightly more disjointed. I guess the payoff is a nicer

[2019-10-22 20:51] kristinashu commented on #3801
One more version using regular "whitepaper style" opportunity pages...

# **[Version 3](https://foundation.mozilla.org/en/initiatives/privacy-included-v3/)**

### Pros
- Medium width (images are large but text length isn't too long)
- User only needs to click once to get to stories
- Feels more cohesive/like 'one piece'
- Vertical sub nav fits a little better than the horizontal one in V2

### Con

[2019-10-22 21:10] kristinashu commented on #3801
But I'm leaning towards using the blog post style for the stories. I like how they feel more focused. We'll just need to have some intro/outro text to help frame each story in the context of the series.

Also might be nice if we could make the landing page just a single page (instead of having the credits on a separate page), then it could just be an opportunity instead of a bannered page.

[2019-10-22 21:24] kaodro commented on #3801
Thanks @kristinashu and @beccaklam !I wonder if we could combine Version 3 with the blogpost format for the stories? If this was all one page could the side menu items be jump links to a) stories as blogpost thumbnails b) Credits section?

[2019-10-23 11:00] alanmoo commented on #3801
Adding comments to the blog pages is something we’ve talked about doing and makes reasonable sense. IMO, it makes less sense to add comments to non-blog pages, but it could be done. In any case, it probably has to be baked into the template though, perhaps with a setting to turn them on/off for a page. I’m not sure how comments will play with localization though - we will likely have different com

[2019-10-23 12:49] kristinashu commented on #3801
Ok thanks of the input Alan.

If comments are a must then let's go with the blog posts for the stories. @kaodro we won't be able to hid the publish date but I think it might actually be good to have the date, especially in the future so people can get a sense if it's out of date or not.

So the landing page could look like this [Version 1](https://foundation.mozilla.org/en/initiatives/privacy-incl

[2019-10-23 15:47] kaodro commented on #3801
Notes from our meeting today:
We'll go for [Version 1](https://foundation.mozilla.org/en/initiatives/privacy-included/) and use blogposts for the stories. It's ok to have the date and author (we'll use Internet Health Report). We will add the Category Internet Health Report and the tag "PrivacyIncluded". Under each story we want to show the other two stories as "related" and tag them with “Privacy

[2019-10-23 16:17] alanmoo commented on #3801
It sounds like there are a few engineering asks here

• Some sort of GIF/animated graphic support (HTML based interactive animations would be better, but we're severely constrained on engineering availability) _NOTE: I'm cautious one because of the potential impact on SEO due to page size bloat. I’d want to restrict the file size or find another format that is better than GIF. And adding it might

[2019-10-23 16:55] kristinashu commented on #3801
I'll let Kasia confirm but the order is probably:
- comment functionality is the most important
- the *Privacy Included landing page showing up as a Related Post is less important because we can kinda do this manually by add them to the blog body section and just not use the Related Posts
- GIFs... yeah but have you considered the coolness factor?!?

[2019-10-23 17:21] kaodro commented on #3801
I confirm. So in the end there are just 2 tasks (comments and gifs) and yeah, the GIFs would be a big big coolness bonus.

[2019-10-24 10:37] Pomax commented on #3760
On @caltrider's request, I'm turning this into hiding both on homepage and category pages

[2019-10-24 10:51] Pomax commented on #3760
I'll fix the review cutoff date to June 1st 2019. That way we don't run into weird "sliding window" issues (because 1 year ago is a different cutoff date ever day), and should catch anything that's part fo the new batch.

[2019-10-24 11:20] Pomax commented on #3537
That issue was filed when there was still a separate "network site" and "network-API" - once we went the Wagtail route and merged network-api app into the larger Django setup, the need to point to something else kind of disappeared.

[2019-10-24 11:34] Pomax commented on #3796
we can uplift the "it uses..." fields, is this something we want done over mozfest, or post-mozfest?

[2019-10-24 13:17] #3674 closed

[2019-10-24 13:41] #3760 closed

[2019-10-25 10:07] alanmoo commented on #3589
@cadecairos Any reason we shouldn't use the same Talk instance as PNI for blogs?

[2019-10-25 10:44] kristinashu commented on #3801
@kaodro since we unfortunately might not have gif functionality, I don't think Xenia should bother creating them until we know for sure (unless you want them for social or something else like that).

@alanmoo one additional nice-to-have from devs would be the have the body text larger `.body-large` for the paragraph component so text is more legible at full width. In terms of priory I would put th

[2019-10-25 10:48] kristinashu commented on #3163
This is a P2 for *Privacy Included piece https://github.com/mozilla/foundation.mozilla.org/issues/3801

[2019-10-25 11:18] natalieworth commented on #3785
@kristinashu added the [image and psd file here](https://drive.google.com/open?id=1U_qMMTa9IoL7YPB_4KDKMn9088u30_xt&authuser=natalie@mozillafoundation.org&usp=drive_fs)

[2019-10-25 11:26] natalieworth commented on #3785
It's Christmas themed! Is that okay?

[2019-10-25 19:22] cadecairos commented on #3589
None that I can think of. We should probably look into upgrading that instance.

[2019-10-25 19:54] alanmoo commented on #3589
And maybe getting it a proper sub domain?

[2019-10-25 20:37] cadecairos commented on #3589
got one in mind?

[2019-10-25 21:10] alanmoo commented on #3589
comments.mozilla.org? (Or comments.mozillafoundation.org)

Kristina, any opinion on that? It really only shows up in the url bar when logging in to comment.

-Alan Mooiman,
Mozilla Foundation Engineering Manager
Eastern Daylight Time (USA) UTC-4
On Oct 25, 2019, 9:37 PM +0100, Christopher DeCairos <notifications@github.com>, wrote:

[2019-10-26 09:29] kristinashu commented on #3589
No real opinion but maybe comments.mozillafoundation.org would be clearer?

[2019-10-26 10:01] alanmoo commented on #3589
Great. I'll file a separate devops ticket. @youriwims, please work on this when you're back in Canada; Getting the initial implementation working shouldn't take more than a day.

[2019-10-26 10:34] natalieworth opened #3816 "PNI mailto: issue"
**Describe the bug**
On the PNI site, some of the links on the product pages under "How to contact the company: Email section" direct to a mailto: when it should just lead to the company website with their contact information. e.g. The [Nintendo Switch page](https://foundation.mozilla.org/en/privacynotincluded/products/nintendo-switch/).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-10-27 09:24] KevZawacki commented on #3619
Hi @beccaklam, good idea! Can we populate a press page with:

If you're a member of the press interested in learning more about *Privacy Not Included, please email Corey Nord at corey@pkpr.com. Below, peruse past coverage of *Privacy Not Included:

2018 | WIRED: [Mozilla Makes a Naughty List of Gifts That Aren't Secure ](https://www.wired.com/story/mozilla-privacy-not-included-internet-connected-t

[2019-10-27 09:25] KevZawacki commented on #3619
@beccaklam If you're able to generate the blank "Press" webpage, I can populate it with the above ☝️

[2019-10-29 16:22] kristinashu commented on #3716
There are some small tickets left to do but the bulk of the work is done.

[2019-10-29 16:26] kristinashu commented on #3796
Only 1 products has 'unknown' for both so it's an edge case and probably ok it it ends up going onto two lines.

[2019-10-29 16:31] kristinashu commented on #3785
Yeah I think that's the idea!

[2019-10-29 16:42] kristinashu commented on #3816
Jen can manually add "mailto:" via the CMS for cases were we do have an email address. So for devs, please remove the automatic "mailto:" from the email field.

[2019-10-29 17:14] kristinashu opened #3822 "Blog category updates aren't reflected in Wagtail component"
Changes when adding or editing a blog category do not get updated in the Wagtail component list of categories:

<img width="1249" alt="image" src="https://user-images.githubusercontent.com/1068783/67791370-350eff80-fa6f-11e9-9dcd-e00fab441c13.png">

Can Wagtail component list automatically update or should adding/editing a category not be possible in the CMS?

cc @Pomax @youriwims

[2019-10-29 18:09] beccaklam opened #3823 "Changes to "It uses" section"
This is the implementation ticket for #3796

After seeing this section in action, @caltrider felt that it looked empty and uninformative with some of the answers being hidden. So, we're reverting back to how we laid out this section previously with some style changes (the section will still be sans icons). We also need to add a fourth variable to the answer selection.

**🗒  Design -> Dev Handoff C

[2019-10-29 18:16] beccaklam opened #3824 "User Testing Findings from MozFest"
This is a placeholder ticket for summarizing findings from user testing done at MozFest for both the Buyer's Guide and the Foundation site.

[2019-10-30 15:32] kaodro commented on #3801
Hi @kristinashu thank you!
Would it be possible to host this site under: https://foundation.mozilla.org/en/privacyincluded/?
Next week we could start moving the content from the document to online. What's the best way to support you with the design of the blogpost/story pages?
The content and the illustrations (as well as the banner) should be final on Friday at latest.

[2019-10-30 16:03] taisdesouzalessa opened #3826 "Leadership page: adjustments"
**Issue:**
Update our [Leadership Page](https://foundation.mozilla.org/en/about/leadership/)

**Action Items:**
1. Remove 'Bob Lisbonne' picture (Board of Directors section)
2. Change 'Former Board Members' order: 'Mitch Kapor', 'Cathy Davidson', 'Joi Ito'

Assigning @kristinashu for triage. Kristina, you can assign me whenever you think we should do this task.

[2019-10-30 17:50] kristinashu commented on #3619
@caltrider says she will have the final copy for her sections on Monday but Becca R won't have final copy for Methodology and Minimum Security Standards sections until Wednesday.

[2019-10-30 17:51] #3796 closed

[2019-10-30 18:00] kristinashu commented on #3800
Might not have final copy until Thursday Nov 7 so might not get this done for launch.

[2019-10-30 18:10] kristinashu commented on #3751
@caltrider says she'll have copy for this on Monday.

[2019-10-30 18:16] kristinashu commented on #3801
Yes, I'll set that up.

I can enter the copy and layout the pages for Privacy Included (landing page & 3 stories) and then you could just review and proof read them.

@kaodro are you able to move the old blog posts over from https://internethealthreport.org/ and enter content to https://foundation.mozilla.org/en/internet-health-report/?

[2019-10-30 18:32] kaodro commented on #3801
Yes! I will do that next week. Thank you!

[2019-10-30 18:35] kristinashu opened #3827 "Redirect and archive internethealthreport.org"
@cadecairos (yes! I got the right one!) @patjouk the IHR team is moving away from https://internethealthreport.org/ to use https://foundation.mozilla.org/en/internet-health-report and https://foundation.mozilla.org/blog/category/internet-health-report _(coming soon)_ instead.

They plan to move all the content over next week. Once that is done will you be able to redirect the https://internethealt

[2019-10-30 18:44] cadecairos commented on #3827
That's a lot of content and design work to move. What are they doing with the interactive content that goes with the articles and depends on tooling built for WordPress ?

[2019-10-30 18:47] kristinashu commented on #3827
Are you talking about the reports (example: https://internethealthreport.org/2019/)? Those are staying as is. We're only talking about moving parent site https://internethealthreport.org/

[2019-10-30 18:48] cadecairos commented on #3827
Well, I'm glad I asked in that case! That makes much more sense.

[2019-10-30 20:42] beccaklam opened #3828 "Product page changes before Nov 12 Launch"
Placeholder ticket for tracking the changes that need to be made before the Buyer's Guide's Nov 12 launch.

[2019-10-30 20:44] beccaklam commented on #3828
Redpen for Product Page comp based on the decisions made at the PNI meeting today: https://redpen.io/p/aj7f2e09f704b2e4ee

To summarize:
1) We are going to expand the Minimum Security Standards section at all times instead of hiding it in an accordion
2) We need to link to an explanation of what the Minimum Security Standards are, or write a short explanation
3) We also decided to add back in the

[2019-10-30 21:30] taisdesouzalessa commented on #3826
Page is updated and live
<img width="809" alt="image" src="https://user-images.githubusercontent.com/22157921/67900457-baeb8300-fb21-11e9-8fca-e6d22e513a71.png">

[2019-10-30 21:30] #3826 closed

[2019-10-31 14:42] anilkanji commented on #3765
Hi @alanmoo - it looks like we're not going to get the bio for a little while. Can we please start the process to getting this up on mozilla.org, and we can add the bio in later?

[2019-10-31 14:56] alanmoo commented on #3765
My team is pretty light this week and next/focused on PNI so I've submitted this to the Bedrock team intake form.

[2019-10-31 15:14] ejregithub commented on #3765
The websites team can do this. Ping me when the bio is ready.

[2019-10-31 15:50] caltrider commented on #3785
2019 Holiday Buyer's Guide Social Share Copy options:
Option 1 (new)
Smart speakers, fitness trackers, security cams, & wireless headphones are cool. Are they creepy too? Find out in @Mozilla's PrivacyNotIncluded.org buyer's guide. 76 popular connected products reviewed to help you know if they are likely to spy on you.

Option 2 (more visual)
Creepy (creepy emoji) ---- Not Creepy (not creepy emoj

[2019-10-31 16:11] kristinashu commented on #3785
Would be cool if emoji's could work! @mmmavis can we do this?

If not then let's go with this:

[2019-10-31 16:26] taisdesouzalessa opened #3830 "Leadership Page - hierarchy fix"
### **Issue:**
During user testing at MozFest one user pointed out that was odd that our Former Board Members were more prominent than the current ones. This observation brought the design team to analyze that page and we noticed that the pictures of former board members were larger than the others.

<img width="808" alt="image" src="https://user-images.githubusercontent.com/22157921/67965521-6991

[2019-10-31 16:27] taisdesouzalessa commented on #3830
###
QA - changes done on staging:

DESKTOP

<img width="805" alt="image" src="https://user-images.githubusercontent.com/22157921/67965653-b4134d80-fbbf-11e9-94a6-fd38fb821833.png">

MOBILE
Landscape

<img width="400" alt="image" src="https://user-images.githubusercontent.com/22157921/67965861-0f454000-fbc0-11e9-9be9-23127be2bc9a.png">

Portrait

<img width="200" alt="image" src="https://user-image

[2019-10-31 17:21] kristinashu commented on #3830
R+

[2019-10-31 17:41] taisdesouzalessa commented on #3830
Changes pushed to live page: https://foundation.mozilla.org/en/about/leadership/

[2019-10-31 17:41] #3830 closed

[2019-10-31 18:22] kristinashu opened #3831 "Product detail page: style updates Minimum Security Standards"
Based on user testing at MozFest and https://github.com/mozilla/foundation.mozilla.org/issues/3828.

1. We are going to expand the Minimum Security Standards section at all times instead of hiding it in an accordion.

2. We need to link to an explanation of what the Minimum Security Standards are, or write a short explanation.

### To dos
- [x] Remove accordion icon
- [x] Show everything that was

[2019-10-31 18:29] kristinashu opened #3832 "Product detail page: style updates to Privacy Policy links"
Based on user testing at MozFest and #3828.

We decided to separate out the Privacy Links from the `User friendly privacy info?` question and to add in help text.

### To dos
- [x] Add title `Links to privacy information`
- [x] Move existing Privacy links below this new title
- [x] Add dividing line between the `Links to privacy information` and `User friendly privacy info?`
- [x] Add help text to

[2019-10-31 18:37] kristinashu commented on #3828
I've separated this into two implementation tickets:
- Product detail page: style updates Minimum Security Standards #3831
- Product detail page: style updates to Privacy Policy links #3832

@beccaklam when you're back on Monday, please review them and then close this ticket.

[2019-10-31 22:51] taisdesouzalessa commented on #3824
Progress done so far:

1. Completed the [Rainbow Spreadsheet ](https://docs.google.com/spreadsheets/d/1QAUZ4KHlygLbz4oLGt1zXoFtyPPEHfdXkfrE3ISwyq8/edit?usp=sharing)for both PNI and Foundation site. Didn't add if positive/negative or neutral (not sure it is necessary) or the possible solution (I would like to team up with Becca so we can explore it together).

2. Started a [document with our Conclu

[2019-11-01 10:48] patjouk opened #3833 "`Fixed blog page` cypress test is timing out"
**Describe the bug**
Percy tests are erroring because the test `Fixed blog page` is timing out.

Travis:
![Screenshot 2019-11-01 at 11 36 15](https://user-images.githubusercontent.com/481052/68019365-cebaf480-fc9b-11e9-96e2-7d235e624cb5.png)

Percy:
![Screenshot 2019-11-01 at 11 41 36](https://user-images.githubusercontent.com/481052/68019600-89e38d80-fc9c-11e9-8e11-d10919865c22.png)

@Pomax Can y

[2019-11-04 11:13] kaodro commented on #3801
@kristinashu The copy is now locked in the draft document.
1) You can find the current PDF draft here: https://drive.google.com/drive/u/0/folders/1Kq8kvNQG7-TaZ7yTlVs0_PO53btf0jq6 (Lyall is now working on small improvements, see slack)
2) Pending decisions: Abigail will let me know if to blur the lioness image or not and if we need to credit the images.
3)When adding the stories please set the aut