[2017-10-19 22:42] gvn commented on #820
Changes are up on staging to verify: https://network.mofostaging.net/

[2017-10-19 22:43] gvn commented on #822
Changes are up on staging to verify: https://network.mofostaging.net/

[2017-10-19 23:34] kristinashu commented on #822
Awesome!

[2017-10-19 23:34] #822 closed

[2017-10-19 23:39] kristinashu commented on #820
The space between nav items looks good but please make the space between the logo and the first nav item the same as between individual items (ie make the blue box the same as the pink ones).

![screen-shot-2017-10-19-at-4 32 48-pm](https://user-images.githubusercontent.com/1068783/31798952-e2ff859a-b4eb-11e7-9b3c-81c57f37c7e7.png)

[2017-10-20 19:11] cadecairos opened #866 "Refactor build-env.js out of the build system"

[2017-10-20 19:21] xmatthewx commented on #713
All of these issues are closed. This Epic was Epic!! Thanks @gideonthomas @Pomax! We'll followup in a QA epic if needed.

[2017-10-20 19:21] #713 closed

[2017-10-20 20:46] #844 closed

[2017-10-23 20:20] gvn opened #869 "Add back livereload"
We lost livereload during Unity and I miss it dearly.

[2017-10-23 20:26] gvn opened #870 "landing page OG URL tag is mangled"
`<meta property="og:url" content="https://foundation.mozilla.orgnetwork-api/app/networkapi/templates/pages/landingpage.html">` should be a proper URL.

[2017-10-24 16:33] gvn commented on #820
Changes are up on staging to verify: https://network.mofostaging.net/

[2017-10-24 16:35] gvn commented on #805
Pipeline is working!

[2017-10-24 16:35] #805 closed

[2017-10-24 16:37] #660 closed

[2017-10-24 16:40] gvn commented on #753
I think this may be resolved now. I'm at least not noticing it in FF 57. Can you try again?

[2017-10-24 16:41] #722 closed

[2017-10-24 16:42] #681 closed

[2017-10-24 17:15] kristinashu commented on #820
Perfecto!

[2017-10-24 17:15] #820 closed

[2017-10-24 17:17] kristinashu commented on #753
Yup, seems good in FF 56 too!

[2017-10-24 17:17] #753 closed

[2017-10-24 17:42] alanmoo commented on #815
Can we close this?

[2017-10-25 00:59] alanmoo opened #875 "Review apps don't show s3 assets"
I think we're still missing an env var or two.

Images with a host of `assets.mofostaging.net` in the staging app instead get a host of
`network-site-staging-pr-874.herokuapp.com`, for example

[2017-10-25 14:09] alanmoo commented on #749
Closing epic, final issue has a PR open.

[2017-10-25 14:09] #749 closed

[2017-10-25 19:35] cadecairos commented on #875
@patjouk here's a bit of background:

- We added fixture data that is loaded automatically when a review app hits the `release` phase (review apps automatically set `LOAD_FIXTURE=True`).
- Contained within that data are model records that contain URL information for images that were uploaded to `assets.mofoprod.net` (an S3 bucket backed by CloudFront).
- The default configuration for file uploads

[2017-10-30 21:12] jessevondoom commented on #856
I like the idea of adding a "Projects seen at MozFest" or similar header for the next month or so. Could be a rad way to hit the IRL aspects of network projects...

[2017-10-31 14:58] #815 closed

[2017-10-31 18:19] Sugnay opened #877 "Spelling Mistake in README.md"

[2017-11-01 16:29] #877 closed

[2017-11-02 11:56] patjouk commented on #875
[First tests](https://network-site-staging-pr-880.herokuapp.com/) from the PR are looking good. There are still broken pictures, but it's because they don't exist in the bucket 😅 . I'm looking into a fix for that.

[2017-11-02 15:21] patjouk commented on #875
I've updated the fixture file so that review apps and the staging stack now share the same assets :)

[2017-11-02 15:41] #875 closed

[2017-11-02 16:30] gvn opened #881 "Gitignore compiled template"
This file is compiled and shouldn't be committed:

`network-api/app/networkapi/templates/pages/landingpage.html`

[2017-11-02 19:33] #870 closed

[2017-11-02 20:17] alanmoo opened #884 "Using ENV variables in template means pipelines still don't quite work right."
When we use pipeline promotion, the OG tags (as an example) on the homepage show the staging url, because we're using env variables in the pug file.

Is this a side effect of using XHR instead of Django templating to generate pages?

[2017-11-02 20:33] alanmoo commented on #699
🎉

[2017-11-02 20:33] #699 closed

[2017-11-02 20:48] alanmoo commented on #747
We never did a follow up on this, I'm curios- how does the performance compare now that we've got XHR everywhere?

[2017-11-02 20:51] gvn commented on #884
It's a side effect of switching to pipelines because we're no longer rebuilding when we do a prod push, so env references in Pug are left the same as they were on staging.

The good-ish news is after https://github.com/mozilla/network/pull/882 lands there's only 1 env var left being used in a Pug template, and it's `PULSE_DOMAIN` in `pulse-projects.pug`, which is probably also safe to hardcode.

[2017-11-02 21:48] cadecairos commented on #747
Here's some data, but it looks like it's only 1 or 2 week's worth
![](https://screenshots.firefoxusercontent.com/images/112a2623-502a-410e-95a0-e3349d0cd8db.png)

[2017-11-02 23:06] #881 closed

[2017-11-02 23:55] #884 closed

[2017-11-03 14:30] alanmoo commented on #747
But we don't have anything to compare it to anymore? I'm curious about the overall impact of this move to XHR.

[2017-11-03 16:21] gvn opened #886 "Upgrade deps"

[2017-11-03 18:33] #886 closed

[2017-11-03 20:23] hannahkane commented on #855
@taisdesouzalessa - I think we can probably close this ticket and move on to wireframes. What do you think?

[2017-11-06 17:01] #847 closed

[2017-11-06 18:49] taisdesouzalessa commented on #856
I love this idea! Let me know if you need any assets/design work for that.

Also, I was wondering if we could feature more speakers from "Dialogue and Debates" on our homepage (part of MozFest too) and add links to videos of their talks in the People's page. We would need to break the video in small chunks (on Air Mozilla they are full Sat and Sun videos) and publish them either on Air Mozilla or

[2017-11-06 19:15] xmatthewx commented on #856
Last year, Kevin and team cleaned up the videos before posting to Facebook. I think it took a couple of weeks. We posted links to each of those talks to Pulse.

@alanmoo - do you think Gavin has the bandwidth to add MozFest as a category on the Projects page? Just like the 5 issues, no different functionality.

[2017-11-06 19:21] taisdesouzalessa commented on #855
Good idea @hannahkane - closing!

[2017-11-06 19:21] #855 closed

[2017-11-06 21:01] taisdesouzalessa commented on #856
Cool, tks for the context here Matthew! I'll ask Kevin if they are doing the same thing for this year and if so, to let me know when the cleaned up versions are ready. Then we could add the links to the Foundation site and also Pulse you think?

[2017-11-06 21:19] #866 closed

[2017-11-06 22:15] taisdesouzalessa commented on #425
It looks great @gvn! Closing this issue.

[2017-11-06 22:15] #425 closed

[2017-11-06 23:10] taisdesouzalessa commented on #303
In general, this change is ok on both desktop and mobile. The only issue I found was related to smaller sizes of Zilla. Because the x-height of Zilla Slab is smaller than its predecessor (Arvo) we have almost no contrast between h5 and body copy, for instance, which is not great for scannability.

<img width="870" alt="image" src="https://user-images.githubusercontent.com/22157921/32468522-7ae74a9

[2017-11-06 23:19] taisdesouzalessa opened #891 "Revision of the typographic system - Foundation Site"
Now that we've replaced Arvo with Zilla Slab on our Foundation site, we should get together to do an audit of the system we previously had, keeping in mind the unified guidelines proposed by @kristinashu.

One issue I noticed: because the x-height of Zilla Slab is smaller than its predecessor (Arvo) we have almost no contrast between h5 and body copy, for instance, which is not great for scannabil

[2017-11-07 00:34] gvn commented on #303
Yep, totally: https://foundation.mofostaging.net/style-guide/

[2017-11-07 00:34] #303 closed

[2017-11-07 14:00] alanmoo commented on #856
You can link directly to the timecode of the speakers on AirMo; Click on the speaker pictures on https://mozillafestival.org to see what I mean.

@xmatthewx Should be fine, though would we just end up seeing 2 Mozfest projects based on whatever was posted recently, before our most recent deploy?

[2017-11-07 17:04] gvn opened #892 "Facebook share refers to "Network""
This is what a share on FB will look like:

<img width="370" alt="screen shot 2017-11-07 at 9 03 04 am" src="https://user-images.githubusercontent.com/206379/32506850-83ef9988-c39a-11e7-813c-41de8c34ea52.png">

I'm assuming we should update the title and description to "Foundation" instead of "Network"? @xmatthewx @jessevondoom

[2017-11-07 17:12] taisdesouzalessa commented on #841
This issue also relates to this ticket Gavin opened: #892

[2017-11-07 17:26] gvn opened #893 "Rename repo to `foundation.mozilla.org`"
@cadecairos do you know of any odd side effects this might have?

Once we do this, we should also rename the Heroku app and pipelines.

[2017-11-07 18:57] xmatthewx commented on #856
The project page section will help communicate that MozFest is a thing, that it's a way we surface and promote exciting activity from our peeps. Even if it isn't dynamic.

Let's move discussion about speaker series videos to a new ticket if useful.

[2017-11-07 20:16] jessevondoom commented on #892
Let's do something simple:

Mozilla Foundation — Home
Mozilla is fueling a movement for a healthy Internet. See how a network of dedicated leaders and activists are working for a better Internet for all, connecting us to each other and to a better future.

[2017-11-07 23:23] #892 closed

[2017-11-08 23:37] kristinashu commented on #891
I agree with you @taisdesouzalessa that the h5 needs to be bigger.

And then I also think these dividers should be using Zilla Highlight:
<img width="420" alt="screen shot 2017-11-08 at 3 35 53 pm" src="https://user-images.githubusercontent.com/1068783/32580550-a88d09fa-c49a-11e7-9d02-26bb70c20eff.png">

[2017-11-08 23:41] taisdesouzalessa opened #895 "Design fellowships landing page wireframes"
After talk with Amy and Jesse about the user journey and goals of the site, it is time to do the wireframes.

cc: @jessevondoom here is the ticket to discuss this stage.

[2017-11-08 23:44] taisdesouzalessa commented on #858
Checked user journey with Amy and Jesse as well. Their observations, together with Aurelia's and Hannah's answered the questions I had. Closing this issue.

[2017-11-08 23:44] #858 closed

[2017-11-08 23:53] taisdesouzalessa commented on #891
They use Zilla Slab in the site with a backgorund color block instead of Zilla Highlight. Not sure why...

<img width="1352" alt="image" src="https://user-images.githubusercontent.com/22157921/32580975-d5ca4386-c49c-11e7-8e8d-e22780f86833.png">

[2017-11-09 16:22] kristinashu commented on #891
Could be because Zilla Highlight was released later? I'm good with using Zilla Slab with a box but up to Gavin which way he prefers. Main issue is that the font should be some kind of Zilla and not Nunito.

[2017-11-09 17:19] xmatthewx opened #896 "Archive Webmaker.org"
The site for Webmaker likely gets a bunch of legacy traffic. If so, we should update and archive  https://webmaker.org/

 - take a screenshot for documentation, then...
 - remove play store button
 - add notice
 - add "Find More" CTA, link to Pulse and Site
 - make the page static
 - file a ticket to add a page on the site to document the project, research, lessons, etc

[2017-11-09 17:21] xmatthewx commented on #896
@taisdesouzalessa - if you have a quiet day, could you help with a quick mockup of this. Low priority. And let's timebox it to just a couple hours.

[2017-11-09 17:27] gvn commented on #869
It's everything because we switched over to using the Python server entirely.

[2017-11-09 18:37] taisdesouzalessa commented on #896
@xmatthewx do you know who has the editable files of this page? No worries if you don't. I could also do the changes straight to the page inspector and screenshot it for reference.

The link "Find More" will connect to a page that isn't built yet, is that correct?

[2017-11-09 23:25] #782 closed

[2017-11-10 17:43] xmatthewx commented on #896
It'll be a sketch file created by Ricardo. In Design Assets > _Projects > Webmaker > [Webmaker-App-2015](https://drive.google.com/drive/u/2/folders/0ByIoeeW0a3R_blJYQ01pcnQ1Rjg) I see a file called Webmaker-Landing Page-UI

[2017-11-10 19:09] #683 closed

[2017-11-13 17:40] cadecairos commented on #846
This is the error I hit the first time we fixed this code: https://github.com/mozilla/network/pull/783#issuecomment-336204472

[2017-11-13 17:56] #893 closed

[2017-11-13 18:12] gvn commented on #426
I don't think this is an issue anymore with the new nav. @flukeout want to close this?

[2017-11-14 17:57] mmmavis opened #906 "CommandError: No fixture named 'test_data' found."
I followed instruction in README but got some errors back after running the command

[code]

[2017-11-14 17:58] mmmavis commented on #906
@gideonthomas I'm not sure how to fix this one.

[2017-11-14 18:17] gideonthomas commented on #906
@mmmavis try: `python ./manage.py loaddata networkapi/fixtures/test_data.json`

[2017-11-14 18:38] mmmavis commented on #906
Heh. Just realized I wasn't on the root dir. Closing this ticket now. There's nothing to fix here.

[2017-11-14 18:38] #906 closed

[2017-11-14 22:32] gvn commented on #414
@flukeout if this looks good on https://foundation.mofostaging.net/get-involved/ then feel free to close this ticket! 🎉

[2017-11-14 22:59] flukeout commented on #414
👍

[2017-11-14 22:59] #414 closed

[2017-11-15 18:48] kristinashu commented on #891
@taisdesouzalessa I've put together a list of updates. Please let me know if you are good with them.

# Font updates
Screen caps are from [foundation.mozilla.org](https://foundation.mozilla.org/) and comps [here](https://redpen.io/p/rx51f171fd150ae1fc).

## h1
- remove highlight
- make text black
- increase font size from 48px to 56px

<img width="646" alt="screen shot 2017-11-15 at 10 45 45 am" s

[2017-11-15 20:28] kristinashu opened #908 "Update social icons on from black to grey on People page"
Please update the Twitter and LinkedIn icons on https://foundation.mozilla.org/people/ to match the grey used on https://foundation.mozilla.org/

[Update these icons:](https://foundation.mozilla.org/people/)
<img width="567" alt="screen shot 2017-11-15 at 12 25 04 pm" src="https://user-images.githubusercontent.com/1068783/32858359-1b58e1d8-ca00-11e7-8391-a0929185d695.png">

[To look like this:](ht

[2017-11-15 20:35] kristinashu opened #909 "Remove grey line at bottom of featured posts"
Remove the grey line at the bottom of the featured post for both 'Latest from the Network' and 'Get Involved' sections:

### Production:
<img width="1133" alt="screen shot 2017-11-15 at 12 30 21 pm" src="https://user-images.githubusercontent.com/1068783/32858620-eff51880-ca00-11e7-924c-1617f739463f.png">

### Comp:
![screen-shot-2017-11-15-at-12 30 21-pm2](https://user-images.githubusercontent.com

[2017-11-15 20:45] kristinashu opened #910 "Update thumbnail images to 16:9"
Note: people profile images will remain square.

### Images on these pages should be updated:
- [Homepage Feature](https://foundation.mozilla.org/)
- [Get Involved](https://foundation.mozilla.org/get-involved/)
- [Upcoming](https://foundation.mozilla.org/programs/upcoming/)

Once this is done, we might need to add more spacing between posts. [Here's the comp](https://redpen.io/p/rx51f171fd150ae1fc

[2017-11-16 00:07] taisdesouzalessa commented on #909
@kristinashu I think for the desktop it looks ok but for the mobile view, I feel the card without the line loses the sense of "unity" - the copy gets a bit lost there...what do you think? Curious about what Sabrina thinks as well.

I wonder if there is any alternative treatment for this featured item we coul use.
<img width="500" alt="image" src="https://user-images.githubusercontent.com/22157921/

[2017-11-16 00:22] sabrinang commented on #909
Yes - good point @taisdesouzalessa
Since we are using this white card in a 2 column style we will run into the white spaces blending together over a text section on mobile. The mozilla.org site avoids this issue by making the section the full width so a gradient divider always falls below and as well as having a built in divider/underline for their read mores (there are lots of horizontal lines ha

[2017-11-16 00:33] taisdesouzalessa commented on #910
Love the idea of keeping them all 16:9.
If I am not mistaken, the images are limited by the system in the width (which means they occupy a certain % of the layout, depending on the number of columns) but the height scales automatically with the width variation (so images aren't distorted). As far as I know, the CMS doesn't crop the images. @gvn may be able to confirm that or correct me if I am wro

[2017-11-16 01:20] taisdesouzalessa opened #911 "Uploading Glyphs - "Latest from the Network" section"
I am trying to upload some svg glyphs so we can have icons next to "Medium", for instance.
<img width="1224" alt="image" src="https://user-images.githubusercontent.com/22157921/32868741-64e9220e-ca28-11e7-8c42-63e87a61debc.png">

When I try to do that via the admin page, I see a server error. Here is the gif:
![glyphs-issue-upload](https://user-images.githubusercontent.com/22157921/32868853-e7f902

[2017-11-16 17:07] xmatthewx commented on #911
@alanmoo - can you investigate or assign this bug?

[2017-11-16 17:38] gvn commented on #910
That's correct: there's no cropping done by the CMS. It's best to manually crop images to make sure they look good. Automating cropping tends not to work very well...

[2017-11-16 18:22] kristinashu commented on #909
Yes, good point! Goal is to have fewer styles so we can be more consistent but let's leave this one as is for now.

[2017-11-16 18:22] #909 closed

[2017-11-16 18:23] kristinashu commented on #910
Ok thanks! Manual it is.

[2017-11-16 21:33] alanmoo commented on #911
Looks like this is a problem with SVGs. I'm not sure the medium library can handle them, as they're technically text files, not binaries. @cadecairos @gideonthomas or @Pomax do you know if that's the case?

[2017-11-16 21:39] taisdesouzalessa commented on #911
Hey @alanmoo, not sure it helps, but we have svgs in our media library - most of the news glyphs are in svg and currently being used in the "News" page:

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/22157921/32917219-599f3df6-cad3-11e7-90a6-5c77072ff61c.png">

[2017-11-16 22:03] kristinashu opened #912 "Add issue icons to about page"
We should add @sabrinang's lovely issue icons from MozFest to our sites. [Foundation's About page](https://foundation.mozilla.org/about/) is probably a good start.

[2017-11-16 22:43] taisdesouzalessa commented on #895
Here are the wireframes, after a round of feedback:

The starting point is the "Fellowships" CTA from a screenshot of the current site:
https://invis.io/6ZEIKY3TW#/264499111_Mozilla-Foundation-Get-Involved_-2-

If applications are closed, here is what the users will see:
https://invis.io/EYEIL16GV#/264498726_It-3-Overview_-_Applications_Closed

@jessevondoom please take a look at it and let me kno

[2017-11-17 00:29] taisdesouzalessa commented on #891
@kristinashu those changes are ok to me. Just 4 observations:

**h1**
- decrease line-height from 1.5 to 1.2 (the line height is too big when we remove the background)
- with the changes you suggested above + this change, "h1-home-white" will be exactly the same as "h1-white". So I guess we can remove one style from the style-guide...yay! We will just have to notify Gavin of that when sending the

[2017-11-17 17:26] taisdesouzalessa commented on #771
Sorry for the delay here @Rishabh04-02...it seems those changes are already done now! Thanks :).

@gvn it is all good on staging. Closing this issue.

[2017-11-17 17:26] #771 closed

[2017-11-17 17:50] taisdesouzalessa commented on #838
@xmatthewx as far as I know, the Upcoming page can't be edited via CMS (I don't see it in the admin view) - is that correct @gvn?

[2017-11-17 18:06] gvn commented on #838
They're in the CMS as "milestones", so on staging you can edit them at:

https://foundation.mofostaging.net/admin/milestones/milestone/

[2017-11-17 18:10] taisdesouzalessa commented on #838
I have a "403 Forbidden" error on it. Maybe I don't have access to it?

[2017-11-17 18:32] gideonthomas commented on #911
hmm I remember us having issues with this before but I thought we fixed it

[2017-11-17 18:39] kristinashu opened #913 "Font tweaks"
Screen caps are from [foundation.mozilla.org](https://foundation.mozilla.org/) and comps [here](https://redpen.io/p/rx51f171fd150ae1fc). Let me know if you have any questions!

## h1
- remove highlight
- make text black
- increase font size from 48px to 56px
- decrease line-height from 1.5 to 1.2
- these updates for both "h1-home-white" and "h1-white" (making them the same)

<img width="646" alt="

[2017-11-17 18:40] kristinashu opened #914 "Copy consistency"
Based on #891, we should decide on our use of:
- Internet or internet
- Unify title treatment: Title Case vs Sentence case

[2017-11-17 18:41] kristinashu opened #915 "Clean up font styles"
Clean up and streamline the style guide https://foundation.mofostaging.net/style-guide/

[2017-11-17 18:43] kristinashu commented on #891
Thanks @taisdesouzalessa!

I've opened these follow up tickets:
- Font tweaks #913
- Copy consistency #914
- Clean up font styles #915

[2017-11-17 18:43] #891 closed

[2017-11-17 18:58] gvn commented on #838
That's odd. I just tried to give you permission, can you try again?

[2017-11-17 19:04] taisdesouzalessa commented on #838
Working now, Gavin! Tks for your help.

[2017-11-17 20:24] cadecairos commented on #911
I tested this locally, and discovered that SVG files I upload have no content (except maybe for whitespace). Filebrowser appears to be sanitizing files with `.svg` extensions of tags. This appears to be the default behavior of Filebrowser for security reasons (SVG files can execute JavaScript).

We can disable it if we add `FILEBROWSER_ESCAPED_EXTENSIONS = ('html')` to `settings.py`. The default s

[2017-11-17 20:37] gvn commented on #838
No problem!

[2017-11-17 21:14] mmmavis opened #916 "Favicons for retina"
Updates files in https://github.com/mozilla/foundation.mozilla.org/tree/master/source/images/favicons so they are good for retina devices!

[2017-11-17 22:20] taisdesouzalessa opened #918 "News media icons - convert from SVG to PNG"
**Description:**
For security reasons, Mezzanine doesn't allow SVGs to work properly in the media library, which has been a problem when we upload new media icons in our [News page](https://foundation.mozilla.org/news/)

**Solution:**
Use PNG instead of SVG and transform old SVGs into PNGs.

[2017-11-17 22:24] taisdesouzalessa commented on #918
@alanmoo does this have to be done manually? If so, I think it will be a design task. If somehow there is a way to automate that, let me know.

Another question: does this scenario also applies to other SVGs in the site? Such as the examples below? From the design perspective they look better in svg so we don't have to worry about screen resolution. However it is understandable if we need to chang

[2017-11-18 00:57] taisdesouzalessa commented on #895
Worked on the main mobile interactions through wireframes. The goal of the mobile prototype is to test the usability and also surface potential implementation challenges. I will also present them to Alan when we discuss the technical aspects of the proposal.

https://invis.io/DXEJDK937#/264737497_It-3-MOBILE_-_Overview

IMPORTANT: you'll notice the wireframes are not 100% complete. This is intenti

[2017-11-18 01:26] taisdesouzalessa commented on #838
@xmatthewx - good point. I added a step by step on adding milestones in the documentation. I will tag you there.

[2017-11-18 01:28] taisdesouzalessa commented on #838
Tested on staging. It is working well now. Tks for fixing it, Gavin!

[2017-11-18 01:28] #838 closed

[2017-11-21 16:04] alanmoo commented on #918
Other SVGs are fine, only the ones uploaded through the Mezzanine interface need to be in PNG format. As such, I'm not sure there's much to do with this ticket?

[2017-11-21 17:04] taisdesouzalessa commented on #918
Cool, thanks for the context here. The news page has SVGs (you have to scroll for a bit) and are uploaded through Mezzanine:
https://foundation.mozilla.org/news/

Should we update them to png?

[2017-11-21 18:58] taisdesouzalessa opened #919 "Place revised copy into personas' cards"
## Status of our personas' content

Revised copy:
- Indigo, the Influencer
- Selby, the System Changer
- Pepper, the Professional
- Umi, the Uber Web Lit Evangelist
- Owen, the Organizer

Copy not revised:
- Ari, the Action-taker

Not enough info to build a persona sheet:
- The Internet Enthusiast
- The Woke Internet User

Task: move the personas' content to the designed template. Focus on the one

[2017-11-21 19:08] taisdesouzalessa commented on #919
## Designed cards:
Indigo, the Influencer
Front sheet: https://redpen.io/oa9648f920abc72e6c
Back sheet: https://redpen.io/opaac618b5d9863203

Selby, the System Changer
Front sheet: https://redpen.io/qxae45010bd7ed95a0
Back sheet: https://redpen.io/pd9ea7c49338e2c54f

@xmatthewx and @jessevondoom let me know what you think about those.
I added some comments to "Selby" (front sheet) that may affect

[2017-11-23 17:02] patjouk commented on #911
@alanmoo Removing a security feature is probably not a great idea. Do you any idea of what the next steps should be here?

[2017-11-23 18:29] gideonthomas commented on #911
if we add some manual logic, we can constrain svg uploads to a specific permission groups only. That way we can possibly reduce the attack vector based on trust.

[2017-11-24 00:42] taisdesouzalessa commented on #895
As per meeting with Jesse and Amy, I made a video to walk the team through the wireframes so they can watch it at their own time and be ready for discussion on the meeting we have scheduled for Dec:
https://taisdesouzalessa.github.io/fellowship-pages/

[2017-11-27 11:16] #846 closed

[2017-11-28 00:01] gvn commented on #918
I think if they're already in there they don't need to be converted. This probably just applies to future CMS managed images.

[2017-11-28 00:03] gvn commented on #908
Do you know what color value that grey is?

[2017-11-28 00:14] kristinashu commented on #908
Looks like it's black with opacity 40% (thank you @taisdesouzalessa for figuring that one out!).

[2017-11-28 01:52] taisdesouzalessa commented on #919
Here are the cards with the latest feedback applied:
https://redpen.io/p/jz5de052b28bb0c3ea

We have Indigo, Selby and Pepper ready with the latest feedback and new brand colors. All cards have the word "NEW" so you know which ones to take a look at.

@xmatthewx could you please take a look at the visualization of "persona scale" and "influence"? I thought of different methods with no success, mai

[2017-11-28 17:44] #918 closed

[2017-11-28 17:54] gvn commented on #916
@mmmavis Want to verify this on staging and close?

[2017-11-28 18:27] mmmavis commented on #916
✨ looks good!

[2017-11-28 18:27] #916 closed

[2017-11-28 18:33] gvn opened #922 "Re-enable gzip compression"
Looks like we lost it at some point:

<img width="541" alt="screen shot 2017-11-28 at 10 32 42 am" src="https://user-images.githubusercontent.com/206379/33337349-8ddffe86-d427-11e7-9034-78a55465a2dc.png">

[2017-11-28 18:37] gvn commented on #922
I think this happened when we switched to Unity. It's probably something we need to turn on in the python server config. Any ideas @Pomax @gideonthomas ?

[2017-11-28 21:22] kristinashu commented on #908
Perfect!

[2017-11-28 21:22] #908 closed

[2017-11-29 01:47] taisdesouzalessa commented on #919
All the Personas that have reviewed copy are placed on the design cards.
RedPen link here: https://redpen.io/p/jz5de052b28bb0c3ea - all Personas that have "NEW" on their name are the final ones.

[2017-11-29 17:21] #798 closed

[2017-11-29 19:21] Pomax commented on #922
It's a bit of middleware, but this warning on https://docs.djangoproject.com/en/1.11/ref/middleware/#module-django.middleware.gzip is new to me... @cadecairos ?

[2017-11-30 00:10] taisdesouzalessa commented on #801
Status: all "Leaders" were reviewed by Jesse. Plus, "Owen, the Organizer" (leader/activist). Some comments:

1. We have one more to review:
ACTIVIST:
Ari, the Action-taker ➔

2. For those 2 other groups, we don't have enough info. I was wondering who could help us to gather more information so we can build those personas here:
SUPPORTERS:
The Internet Enthusiast ➔
The Woke Internet User ➔

3. And

[2017-11-30 00:14] taisdesouzalessa commented on #919
Second round of review done.
RedPen link here: https://redpen.io/p/jz5de052b28bb0c3ea

@xmatthewx let me know if they are good to go for you, so I can start adapting this layout to posters to be printed at All Hands. Please note we just have the "Leaders" and one "Leader/Activist" ready. Maybe we can have an extra poster with "Coming Up" showing a sneak peek of the other 3 remaining personas? What

[2017-11-30 16:03] xmatthewx commented on #801
For all three, why don't we bring lettersize posters with blank spaces for missing content. Maybe dotted line boxes. We can share with staff, they can take a stab at drafting copy. You can probably include rows 9-17 in spreadsheet, but feel free to omit bits that seem wrong.

[2017-11-30 17:31] taisdesouzalessa commented on #801
I think this is a great idea. I would love to have staff to take a stab at them.

[2017-12-01 01:05] taisdesouzalessa commented on #919
The third round of review is done.
RedPen link here: https://redpen.io/p/jz5de052b28bb0c3ea

@xmatthewx I applied the latest feedback to them.

[2017-12-05 02:24] taisdesouzalessa opened #925 "Personas draft: program staff review during All Hands"
We will have the personas printed in posters during All Hands in Austin. It is a good opportunity to get feedback on the ones that are ready to go and to have more info from staff on the ones that are still incomplete (not enough data).

We will also print the personas cards (letter size set of personas) so people can grab a set and bring to their team meetings if they wish. - **Taís will print so

[2017-12-05 02:45] taisdesouzalessa commented on #925
Hey @xmatthewx could you take a look at this poster template and let me know your thoughts on it? It had to be different than the cards because we just have 1 page to display all the info in this case.
https://redpen.io/p/an5fa1a49d3273f94e

I will use this layout as a reference to all posters we will print for All Hands.

[2017-12-05 19:26] taisdesouzalessa commented on #925
Hey @xmatthewx here is the revised version of the poster. I like the fact those changes allowed the illustration to be bigger and more impactful:

https://redpen.io/p/an5fa1a49d3273f94e

[2017-12-06 01:20] taisdesouzalessa commented on #925
@xmatthewx I was thinking if we should have another poster with some info for context to staff like:
1. Brief explanations of what personas are
2. Brief explanation about how those personas were built
3. How staff can help: we can ask them to think about their last interactions with their audience, could they fit the audience in one of those categories of personas? Is there anything we are missing

[2017-12-06 01:46] sabrinang opened #926 "Ideate Network Visualization"
Brainstorming doc: https://docs.google.com/presentation/d/1xokDoi88YUG7EGOic8T94vj-2WLEDENnY38aTLHEVzA/edit#slide=id.g1ea5ab4fd9_0_139

For a visualization of the network we need to determine what we want to communicate and what meaning we want to convey to our audience. This will help determine what visual direction we want to take.

We also should discuss the narrative and context of this visual

[2017-12-06 20:24] xmatthewx commented on #926
We can move this to https://github.com/mozilla/network-pulse/issues/883

[2017-12-06 22:49] xmatthewx commented on #925
This all sounds good. Let's do this without full color design, so it feels more honest, direct, informal.

I honestly don't think people are going to take time to fill out a form with all the chaos at all hands.  I would skip the energy to make the form. Could invite them to email us.

[2017-12-07 04:18] lejara commented on #752
Hey! pretty new here, but do mind if I can work on this?

[2017-12-07 13:20] jayyyin commented on #235
@hannahkane is this issue still open?, also should the site be linked as is?

[2017-12-07 18:10] gvn commented on #752
Go right ahead @lejara ! Thanks!

[2017-12-07 19:11] lejara commented on #752
Thanks! Mind giving me tips on how to reproduce this?
I know the problem is on the phone.  It could be a CSS problem.
But do you know any specific area I should start looking at?

[2017-12-07 19:20] kristinashu commented on #235
Yes, this still needs to be done. Here is how it should look:

![footer](https://user-images.githubusercontent.com/1068783/33733895-11901134-db40-11e7-8ae4-f2c9ced6861e.png)

- Here is an svg of the icon: [ code-of-conduct.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/1540309/code-of-conduct.svg.zip)
- Text: Participation Guidelines
- Link: https://www.mozilla.org/en-US/about/go

[2017-12-07 20:55] taisdesouzalessa commented on #925
All the personas posters are in RedPen:
https://redpen.io/p/an5fa1a49d3273f94e

@xmatthewx can you please take a look at them? I'll be double checking the info we have there, comparing with the ones we have in the spreadsheet.
I need help mainly in the empty state posters (is the writing there all good?) and in the Instructions posters (please let me know if there are any grammar mistakes or if an

[2017-12-07 22:42] xmatthewx commented on #925
I reviewed things. Everything is looking awesome!!

Final steps...
 - update instructions
 - update instructions on empty personas (redpen comment)
 - update related personas (in spreadsheet)
 - names on persona overview poster

Ship
 - posters unmounted
 - letter-size version (collated and staple)

[2017-12-07 23:20] gvn commented on #235
@kristinashu Is this a link that should go in all our footers on our various sites? If so, we should try to add it upstream in mofo-bootstrap first.

[2017-12-08 00:16] kristinashu commented on #235
Yes, that's right. Thanks @gvn!

[2017-12-08 00:29] gvn commented on #235
Would you mind filing a ticket there?

[2017-12-08 06:32] taisdesouzalessa commented on #925
@xmatthewx - "final steps" bullet points were applied to posters:
https://redpen.io/p/an5fa1a49d3273f94e

On Friday I'll work on applying the changes we did in the posters to the cards (letter-size) + I'll have some bandwidth to apply any revision to posters you may need.

Thanks!

[2017-12-09 01:44] jayyyin commented on #235
@kristinashu @gvn So, where should the change be added? also are you referring to the icon? and is there an issue or link I can follow to possibly help with the bootstrap?

[2017-12-12 15:48] jayyyin commented on #235
@kristinashu @gvn I've opened an issue on the mofo-bootstrap, and I'm currently wondering how to proceed from there https://github.com/mozilla/mofo-bootstrap/issues/122

[2017-12-14 05:57] gideonthomas commented on #235
@jayyyin, sorry for the delay!

Thank you for filing the issue in mofo-bootstrap. I think for this specific issue, it might need to be fixed in this repo. You are welcome to fix the issue in mofo-bootstrap as well, but it is its own issue.

For this specific issue, it looks like we already have code for this (and the image is already in mofo-bootstrap) so we just need to update the actual text. If

[2017-12-14 19:52] jayyyin commented on #235
@gideonthomas should the (what looks like) the CSS class tag change? it says Code-of-Conduct still.

[2017-12-16 00:21] taisdesouzalessa commented on #895
For this project, we received feedback from many sources: via meetings, Google Docs and InVision. It is exciting the amount of good insights we are having from stakeholders and I thought it would be useful to group the received feedback by theme so we all look at one place, making sure all pieces of feedback are considered. Also I find this visualization make things more actionable. Let me know if

[2017-12-18 19:34] #235 closed

[2017-12-20 02:11] RobertJGabriel opened #929 "Progressive Web Apps support project"
Hey,

Just said I would throw it out there in case there is any interest as I am looking for a way to helping Mozilla community and project to do.

I was looking at the website and thought I could spend my Xmas break in converting it have Progressive Web App support and service workers. If there is interest I would be more then happy to do the work and give back for all the help the community has

[2017-12-20 17:10] xmatthewx commented on #895
@taisdesouzalessa @jessevondoom - are the wireframes good and ready for a first build, or do we need to iterate a bit before we hand over to engineering?

[2017-12-29 03:13] ppatel221 commented on #728
Hey, I'm a student in an open source class. Can i work on this?

[2018-01-01 23:07] alanmoo commented on #929
I just saw this, as we've all been on break as well. Thanks for the offer, but I don't know that this is the best candidate for that tech stack. You might be interested in github.com/mozilla/network-pulse though, that's a bit more of a front-end web application that might benefit from some newer fanciness in the future.

[2018-01-01 23:07] #929 closed

[2018-01-03 19:10] taisdesouzalessa commented on #895
@xmatthewx I think we have to iterate a bit based on last feedback received.

The biggest issues I see, from the design standpoint, are related to "Audience"  and "Unified Application Process" from [this spreadsheet.](https://docs.google.com/a/mozilla.com/spreadsheets/d/1Od_7NGNIaU5T6PKZf2IP9g8tEA9H3g9i2iK3pGAXZWo/edit?usp=sharing): I will iterate on it on the next couple of days and show it to yo

[2018-01-03 19:48] xmatthewx commented on #895
Thanks @taisdesouzalessa. Focus on things that will block/unblock engineering (which it sounds like you are doing). Content can evolve whenever.

[2018-01-03 20:15] alanmoo opened #930 "Enable CSP for Ask forms"
[This page](https://foundation.mozilla.org/opportunity/nsf-showcases/) (unpublished draft right now, you need to log in as admin) needs the embedded form to work. Please enable CSP so it does.

[2018-01-03 22:13] cadecairos commented on #922
We'll need to evaluate if we fall within the requirements for exploiting the attack. (reflected PII, a secret in the reponse)

[2018-01-03 22:16] cadecairos opened #931 "Generate Fake Data With Faker"
Lets move away from fixture based data, and generate data dynamically with Faker.

@patjouk let's discuss how we should wire the project up for developers to be able to generate the data easily.

[2018-01-04 17:37] alanmoo commented on #930
FYI: I tried enabling CSP locally for `https://ask.mofoprod.net` but it didn't work, I had to approve s3 completely.

[2018-01-04 18:00] #913 closed

[2018-01-05 02:17] taisdesouzalessa commented on #895
Here is the iteration covering the themes 1-3 of the feedback spreadsheet and minor ones that were left in InVision:
https://invis.io/UQF78CYKM#/271941410_It-4-Overview

I also added the new user flow to our Google Slides doc (slides 9-11):
https://docs.google.com/presentation/d/1vhCo8W6TAss4tc1Whs0E9pzJKdXFUHjkEbXNOGMcohw/edit?usp=sharing

@xmatthewx @jessevondoom @alanmoo please take a look and

[2018-01-05 18:38] alanmoo opened #933 "Add Fellowships section to site - Master ticket"
Let's use this ticket as a master placeholder for the Fellowship work on the Foundation site. We can track documents and such here, feel free to edit this comment

[Design ticket](https://github.com/mozilla/foundation.mozilla.org/issues/845)

UI DESKTOP - clickable prototype
- [UI Applications Open](https://invis.io/ZJ9YTAGEA#/276734814_v2-FellowshipsUI_-_Overview)
- [UI Applications Closed](https

[2018-01-05 19:24] xmatthewx commented on #895
I walked through this with @taisdesouzalessa. Looks great. I think we can start building and designing UI.

A question and one change request:
 - remove Types from nav. Users can access via overview and other links throughout content.
 - do we want host orgs on main page, or under specific fellowship type? Might be confusing for fellows pursuing a type that is host-less.

@taisdesouzalessa - I thi

[2018-01-05 23:34] taisdesouzalessa commented on #895
Here is the latest iteration:

Video walkthrough (so Amy can quickly view what changed): https://drive.google.com/open?id=19g4_CdGyj5vBNqiTk3gealezblAukQUQ
Application Open: https://invis.io/UQF78CYKM#/271941410_It-4-Overview
Application Closed: https://invis.io/DQF7R82UA#/272095070_It-4-Overview_Applications_Closed

Not sure which is the best way to share with Amy...maybe through a comment on the

[2018-01-06 00:49] taisdesouzalessa opened #934 "Design fellowships directory wireframe for static directory"
Context:
We need an MVP for the Fellowships directory page that considers the absence of the filtering feature since the information will be static at the beginning.

Some ideas on how to orient the users:
- divide in tabs (Science/Open Web...)
- alphabetical order
- chronological order (new cohorts first)

[2018-01-08 16:10] alanmoo opened #936 "Set up NSF Showcase form page"

[2018-01-08 17:30] kristinashu commented on #915
Let's aim to reduce the number of styles by half! Designer will need to work with Gavin on this.

[2018-01-08 18:39] lejara commented on #752
#935

[2018-01-08 22:28] xmatthewx commented on #895
Site requirements are in [this doc](https://docs.google.com/document/d/1dVRxKDmSIkrJdKhPqxHzhrByJ6fFkf0eCsQgm12sckI/edit#).

[2018-01-08 22:38] taisdesouzalessa commented on #752
It works great on staging. Ex: https://foundation.mofostaging.net/opportunity/net-neutrality-groups/

Thanks all!

[2018-01-08 22:42] taisdesouzalessa commented on #752
Just for the record here, we have to fix the prod to make sure this menu becomes visible there: https://github.com/mozilla/foundation.mozilla.org/issues/830

Closing this ticket. Feel free to reopen if we need it for anything else.

[2018-01-08 22:42] #752 closed

[2018-01-09 00:30] taisdesouzalessa commented on #934
Amy asked us what type of info we need from the Fellows in order to provide content for this page. I think it is related to this issue since it influences the way this page will be designed, so I am posting it here.

According to feedback from Cori and Aurelia, the directory has to serve those 4 main cases:

**Prospective Fellows:**
1 ) Network factor: being a Fellow introduces them to a great net

[2018-01-09 16:43] xmatthewx commented on #934
Thanks for gathering the use case value. It'll really help us land a good MVP.

To summarize @taisdesouzalessa, it sounds like you're suggesting:
 - add a year field
 - require a short bio

Sounds great. Anything else?

**Note**: In form/spreadsheet, we should _require_ people to include a link to their Pulse profile (they should fill that out first). Then we can omit anything Pulse provides from

[2018-01-09 17:52] xmatthewx commented on #830
We going to have a few new users of this multipage feature soon-ish. So good to dig into this.

[2018-01-09 20:03] alanmoo opened #937 "Figure out why redirects aren't working"
Redirects added at https://foundation.mozilla.org/admin/redirects/redirect/ aren't working (they 404). Let's figure out why.

[2018-01-09 20:23] alanmoo commented on #830
I...think it works now?

[2018-01-09 20:34] alanmoo commented on #937
It appears that locally it's doing a 301. That's...not ideal, as the redirect I want to use for now will eventually be disabled to hit pages served by Mezzanine

[2018-01-09 22:19] cadecairos commented on #937
Here's what I found out:

* Only breaks when `DEBUG=False`
* The view handler `handler404` in urls.py is a RedirectView, so it's returning a 302 response to `/errors/404` if the router can't match the requested path to a view.
* When `DEBUG=True` handler404 doesn't execute, it seems.
*  Handler404 turns what would be 404s into 302s, so when the RedirectMiddlware is executed for the request, it doe

[2018-01-09 23:41] kristinashu opened #938 "Clean up Sketch file and Drive folder"
### To do:
- [x] Rename folder from "Mozilla Network Site" to "Foundation Site"
- [x] Archive and organize folders in Drive
- [ ] Update Sketch file to reflect what we see on http://foundation.mozilla.org/
- [ ] Add to Craft

@sabrinang @taisdesouzalessa could you help archive and organize the folder? I will start updating the Sketch file.

[2018-01-10 17:11] taisdesouzalessa commented on #934
Good point on the Pulse requirement, I'll add that to the spreadsheet.
Next steps (on my end): put the spreadsheet together and do the MVP wireframe.

[2018-01-10 17:32] taisdesouzalessa commented on #830
Hey @alanmoo, the menu is sill not displaying in prod site - iPhone 7 (Firefox and Safari) - not sure about other phones, though.

[2018-01-10 17:35] taisdesouzalessa commented on #938
I can help organize the folders :).

[2018-01-10 17:41] kristinashu commented on #938
Awesome thank you @taisdesouzalessa! Let me know when you're done or if you get stuck on anything.

[2018-01-10 17:54] taisdesouzalessa commented on #934
@xmatthewx based on your last feedback, it seems the grey box won't exist in the MVP, correct? "See work" will connect straight to Pulse. So the Fellows short bio should be a requirement of Pulse, not of this site. Correct me if I am wrong, I got a bit confused on this one...
<img width="742" alt="image" src="https://user-images.githubusercontent.com/22157921/34787389-effb0526-f5eb-11e7-8545-56ab2

[2018-01-10 18:41] sabrinang commented on #938
I'll be organizing and syncing anything that I have worked of locally as well onto the drive

[2018-01-10 18:50] cadecairos opened #940 "Increase max line length allowed by flake8 to 120"
It's 2017, and we should be able to have lines longer than 80 characters (that rule isn't there for readability, but to ensure people with only 80 column text displays could edit your files).

I'm not entirely sure how to set it up, but there's gotta be documentation somewhere.

[2018-01-10 18:52] kristinashu commented on #938
Sweet! 🙌

[2018-01-10 19:18] sabrinang commented on #938
As we are sorting through our files are we following any sorting/naming conventions? There is this documentation on this topic was in the [/design repo wiki](https://github.com/MozillaFoundation/Design/wiki/Process#assets) that links to a [gdoc ](https://docs.google.com/document/d/1AZ_TrLkdWVnRT_fAxW-kFT3o2tDgMlg_f65AKKcrtJY/edit) and we may wish to update this too

[2018-01-10 19:55] taisdesouzalessa commented on #934
- Spreadsheet here: https://docs.google.com/spreadsheets/d/1fZXiQTn9BgGkWEDy7rSVabKHjbptbYDjUdKEMUygNt0/edit?usp=sharing

[2018-01-10 21:39] alanmoo commented on #830
The plot thickens. On desktop I see the sidebar...unless private browsing is turned on.

[2018-01-10 21:47] #940 closed

[2018-01-10 21:50] alanmoo commented on #830
AHA! It doesn't show in private browsing because you're not logged in. I tested across devices/browsers and is indeed the issue: The secondary menu only appears if you're logged in to the back-end of Mezzanine. Let's make that not happen, and we'll be good across all these cases.

[2018-01-10 21:55] taisdesouzalessa commented on #830
Mystery solved then? That was a good one!

[2018-01-11 00:29] taisdesouzalessa commented on #934
@xmatthewx @alanmoo here is the MVP of the directory - let me know what you think? Once I have the thumbs up I'll add these wireframes in the group document so other stakeholders can see it as well.

https://invis.io/QCFA50UP6#/272860083_It-5-Fellows_Directory_General
• Click on the areas and you'll see the smooth scrolling (I wanted to have all areas on the same initial page so it gives more unit

[2018-01-11 16:05] xmatthewx commented on #934
Looks good. I'll let @alanmoo decide if this is mvp-ish enough. It's too bad we'll need to set up separate pages that we will later deprecate when a dynamic directory is ready, but seems necessary.

[2018-01-11 16:25] alanmoo commented on #934
The main page feels like it makes sense for MVP, but I look at the "all Science fellows" and think that starts to really head towards "we need a way to manage these in a database of some sort" and it might take longer to do the back and forth of collecting all of those vs. just putting them into Pulse.

[2018-01-11 16:27] patjouk opened #943 "2018 news not showing on the `news` page"
When you got to `https://foundation.mozilla.org/news/`, you can't see news from 2018 because there is no 2018 section.

[2018-01-11 17:35] taisdesouzalessa commented on #934
Hey @alanmoo does the second part of your sentence mean we should look into other design options (we can meet and investigate it together) or it is an observation to be aware of and we are proceeding with the page as is? Let me know how I can help.

[2018-01-11 17:50] xmatthewx commented on #934
I also wonder how quickly the team will have content for prior cohorts. Those Area specific pages could just be CMS pages using the existing content about fellows currently posted on the advocacy and science sites. Name, photo, blurb.

So maybe the main directory page follows @taisdesouzalessa's design, but includes all current fellows in each area. Then link to area hits a simple page with old in

[2018-01-11 18:18] jessevondoom commented on #934
@xmatthewx Along the lines of your single-page / analytics idea. What if we focus on current fellows and give all previous cohorts more of a scaled back presence. We could just do a small headshot+name and any title/org information.

My thinking here is we can require a Pulse profile for more info. It'll push those former fellows into Pulse with incentive (social links, project info, etc) and give

[2018-01-11 19:10] taisdesouzalessa commented on #934
Hey team, just to make sure I got this right, I did a quick mockup. This is what you mean @jessevondoom and @xmatthewx?
https://invis.io/WYFAPSXHX#/273044252_It-5-1-Fellows_Directory_General

I would prefer the solution of a simple page with old info if possible, with headshot+name and title/org info because that solution still works for the main use cases Cori and Aurelia mentioned in the doc. I

[2018-01-11 21:28] alanmoo commented on #934
Sorry I wasn't entirely clear. My concern isn't really around the design, more of the time to implement the temporary solution vs the time it's going to take to gather and massage that content. It may end up that by the time the past content is structured properly, the API is ready.

[2018-01-11 21:51] kristinashu commented on #938
For our folders, I've done the quick fix of moving all the Network files into a `z-Archive-Network` folder. We can just pull folders out of there as needed and please feel free to continue to organize the folders if you like!

<img width="957" alt="screen shot 2018-01-11 at 1 44 54 pm" src="https://user-images.githubusercontent.com/1068783/34849122-2bcd4628-f6d6-11e7-8012-53f10e82872d.png">

[2018-01-12 18:13] #919 closed

[2018-01-12 18:15] taisdesouzalessa commented on #714
Closing this ticket. Draft copy has been reviewed and placed in the designed cards.

[2018-01-12 18:15] #714 closed

[2018-01-12 18:22] taisdesouzalessa commented on #801
Leaving this issue open as a reminder that we still have to:
1. Review info from "Ari, the Action-Taker" - column G of [this spreadsheet](https://docs.google.com/spreadsheets/d/1CL3T3ZqD_8zEYhvBcLREFFT-OWmEtn_p2oDQBWlkH4Q/edit?usp=sharing)
2. Complete line 25 for all personas - same spreadsheet as above

[2018-01-12 18:28] taisdesouzalessa commented on #925
This work is done, closing :)

[2018-01-12 18:28] #925 closed

[2018-01-12 18:39] taisdesouzalessa opened #945 "Personas draft: post All Hands feedback (staff)"
**Context:**
After All Hands, Matthew sent an email to staff to asynchronously capture feedback related to personas in a doc (deadline - Jan 19, 2018). We will also have a meeting to capture feedback in real time. This issue is to track this stage.

- [PDF](https://drive.google.com/file/d/1hboEuUQCdyOSvaN-ejroBNLvoPJaFoJN/view?usp=sharing) with all personas
- [Feedback doc](https://docs.google.com

[2018-01-12 19:17] kristinashu opened #946 "Hero title should fit on 2 lines in FF"
At medium width (e.g. 1000px), the hero title is on 3 lines when it should fit on 2. When the title is on 3 lines it pushes the rest of the content further down the page than needed. It does however look good in Chrome at the same width.

FF top and Chrome bottom:
<img width="1049" alt="screen shot 2018-01-12 at 11 12 22 am" src="https://user-images.githubusercontent.com/1068783/34891225-9e07449c-

[2018-01-12 19:50] kristinashu opened #947 "Smoother page load"
While a page is loading, the content jumps down. This makes the page look broken at times and is very jarring when it actually does finish loading. Seems like most sites now don't do this. Can we fix this so it is a smother experience for users?

<img width="1180" alt="screen shot 2018-01-12 at 11 44 08 am" src="https://user-images.githubusercontent.com/1068783/34892426-18fb243a-f78e-11e7-8134-ca2

[2018-01-12 20:17] mmmavis opened #948 "Unable to load data if I'm on http://127.0.0.1"
Not sure what causes this issue but I'm unable to load data in when I'm on `http://127.0.0.1:8000` (`http://localhost:8000` works fine)

STR:

1. `cp env.default .env`
2. `npm start`
3. wait for server to start
<img width="538" alt="screen shot 2018-01-12 at 12 14 57 pm" src="https://user-images.githubusercontent.com/2896608/34893513-5f25da00-f792-11e7-8f66-e86668feb323.png">
4. visit http://127.0

[2018-01-12 21:10] #948 closed

[2018-01-12 21:15] alanmoo opened #950 "Build fellowships homepage template"
Build a static homepage based on the wireframes at https://projects.invisionapp.com/share/UQF78CYKM#/screens/271941410_It-4-Overview.

UI design to come, but this should be enough for a start of a scaffolding. No carousel.

[2018-01-12 21:21] alanmoo opened #951 "Build "fellowship type" template"
Based on https://projects.invisionapp.com/share/UQF78CYKM#/screens/271941399, build a static page with this structure. The content is less important than the structure, as we'll be using template tags to swap out the body text.

[2018-01-12 21:24] alanmoo opened #952 "Build fellowship support page"
https://projects.invisionapp.com/share/UQF78CYKM#/screens/271941400

UI comps to follow, focus on the structure for now

[2018-01-12 21:37] alanmoo opened #953 "Build "fellowship applications open" page"
Comps still incoming, we need a page to invite fellows to apply. This will mainly be a link to the Fluxx application, at least in its first iteration.

Tais, please update this comment when you have a comp and assign it back to me.

[2018-01-12 21:39] alanmoo opened #954 "Build "fellowship applications closed" page"
https://projects.invisionapp.com/share/DQF7R82UA#/screens/272095069

[2018-01-12 21:47] alanmoo opened #955 "Build static fellowships directory page"
We're going to have a dynamic directory, but the work on that might take longer than it does to get to building this page. If that's the case, grab the JSON from the desired pulse profiles and use that to generate a static page.

[2018-01-12 21:48] gvn commented on #947
There's some measurement that has to occur via JS to properly align everything (our nav is fairly complex), so I don't think there's anything to prevent the jump unfortunately.

[2018-01-12 21:50] gvn commented on #946
There's no guarantee that live text will render consistently in all environments. Users can change the size within their browser. We can tweak it, but it'll never render consistently 100% of the time.

[2018-01-12 21:55] #943 closed

[2018-01-12 21:55] alanmoo commented on #955
@auremoser Can you or Amy (github handle?) build a list of the urls for pulse profiles of current fellows?

[2018-01-12 21:59] kristinashu commented on #947
Even for the Member Spotlight content? I.e. have the footer lower down so it's out of view.

[2018-01-12 22:01] alanmoo opened #956 "Refine fellowships pages based on UI comps"
All of the fellowships pages are being built based on wireframes, so we'll need another round of polish on them once the comps are done.

This ticket can be closed when all pages have been updated to reflect as-of-yet unfinished comps.

[2018-01-12 22:17] taisdesouzalessa opened #957 "Mockups - UI Design"
UI Design of Fellowship Pages.

**### REMINDER: Once the feedback rounds are done, post final comps in #956**

[2018-01-12 22:19] taisdesouzalessa commented on #956
I'll be posting the WIP in the design issue in the ticket #957 and once the feedback rounds about UI are done I will post the final version here. Sounds good?

[2018-01-12 22:25] gvn commented on #947
That content is brought in via XHR, and we don't know how much vertical space it will take up ahead of time.

We can optimize the XHR through caching to make the load snappier though...

[2018-01-12 22:38] kristinashu commented on #947
What about setting a minimum height of say 1000px? Content will end up being more but doesn't matter to the user since at that point, it will be out of view anyways.

E.g. [Thimble projects](https://thimble.mozilla.org/en-US/) seem to load nice and smoothly even though they are still loading.

[2018-01-13 01:33] taisdesouzalessa commented on #957
[Overview Page](https://invis.io/EFFBMN73TQX#/273312987_FellowshipsUI_-_Overview), [Specific Fellowship Page](https://invis.io/M2FBMNKHFEQ#/273312988_FellowshipsUI_-_Specific_Fellowship_Page) and [Support Page](https://invis.io/PAFBMNODFY6#/273312989_FellowshipsUI_-_Support_Page) are ready for feedback.

@kristinashu could you please take a look at them and let me know if they are according to the

[2018-01-15 15:22] patjouk opened #958 "Cleanup of unused models' attributes"
While creating the fake data generator, @cadecairos and I ran into a few models' attributes that are not used anymore (list to be continued):

People:
- `bio` cf #359
- `featured` cf #721

News:
- `featured`: cf #721

[2018-01-15 17:50] kristinashu commented on #957
Looking good @taisdesouzalessa! I've left some comments in InVision.

[2018-01-15 17:58] kristinashu opened #959 "Add anchors to People page"
@sabrinang @taisdesouzalessa @xmatthewx should profiles on the [home page](https://foundation.mozilla.org/) link to where they are on the [People page](https://foundation.mozilla.org/people/)? Seems like this would also be useful on the upcoming Fellowship pages as well.

Having anchors to everyone on the People might be useful. I remember it was a specific ask from fellows for previous sites, so

[2018-01-15 19:07] taisdesouzalessa commented on #959
I agree with this approach. I find that those cards in the homepage invite people to click on them and making them work as expected is important. Interesting to know that this was a specific ask from fellows for previous sites. Also, during the Lean Research at MozFest  I observed the frustration of an user when they tried to click on them.
It would be nice if the whole block was clickable.

[2018-01-15 19:09] sabrinang commented on #959
+1 This would be a great feature for upcoming fellows directory. Yeah, this would be a useful pattern/feature which leads me to think about where else we would link back to these anchors on the network site and about the potential overlap with pulse since it has more built out profiles than these members spotlight cards.

For example:
Names on our site like Corinna could anchor to her member spotl

[2018-01-16 00:19] kristinashu opened #960 "Add hero banner to About page"
Since [About](https://foundation.mozilla.org/about/) is now a main level page it should have the green banner background and text (title and intro) like the other main pages.

Production:
<img width="1083" alt="screen shot 2018-01-15 at 4 17 49 pm" src="https://user-images.githubusercontent.com/1068783/34966316-b35ed66a-fa0f-11e7-946e-5abb23001270.png">

Comp:
<img width="962" alt="screen shot 201

[2018-01-16 00:23] kristinashu commented on #302
Let's stick with what we have!

[2018-01-16 00:23] #302 closed

[2018-01-16 00:24] kristinashu commented on #424
I think this is done.

[2018-01-16 00:27] kristinashu commented on #622
@alanmoo is this still relevant? If so, please add a description.

[2018-01-16 00:29] kristinashu commented on #601
EOY has come and gone! Closing this.

[2018-01-16 00:29] #601 closed

[2018-01-16 00:33] #426 closed

[2018-01-16 00:35] kristinashu commented on #665
What do you mean by refine? What is the problem? Please add a description to this ticket.

[2018-01-16 00:37] kristinashu commented on #698
Looks like this has been fixed https://foundation.mozilla.org/errors/404/ but please reopen if it is still an issue.

[2018-01-16 00:37] #698 closed

[2018-01-16 01:49] taisdesouzalessa commented on #957
Here are the pages above (with tweaks) plus new pages. Now the prototype is clickable:

If applications are open: https://invis.io/EFFBMN73TQX#/273312987_FellowshipsUI_-_Overview
If applications are closed: https://invis.io/5MFCI2E94KX#/273603676_FellowshipsUI_-_Overview_V2_Applications_Closed

@xmatthewx that are still some moving pieces and I was wondering if you could help me or point me in the

[2018-01-16 12:08] auremoser commented on #955
Sure, Amy's handle is @community-impact.

I sent the fellows a message to create profiles and we added an [issue in the moz-fellows repo for it](https://github.com/MozillaFoundation/mozfellows-2017/issues/3) but I am not sure all of them were able to 😢 . I'll remind them.

I think I'll need to request their profile links from them anyway, because the search doesn't seem to return for their names:

[2018-01-16 14:32] alanmoo commented on #955
Yup, that's expected and one of the things on our roadmap is improving the search.

As long as the have a google account, they should be able to log in with it on Pulse and that'll allow them to create a profile.

[2018-01-16 14:32] #665 closed

[2018-01-16 14:39] alanmoo commented on #665
Updated. @taisdesouzalessa do you have links handy to the comps for this work? I remember seeing a "three phase" graphic a while back.

[2018-01-16 16:17] alanmoo commented on #622
Added. @taisdesouzalessa, do you have the link to the comps that showed the 3 phases of putting a header image on these pages?

[2018-01-16 17:59] alanmoo opened #962 "Integrate fellowship templates/pages into mezzanine"
Create models for the pages that need to be editable in the admin UI, and use the templates that have been built to render these pages appropriately.

(This probably needs more specifics)

[2018-01-16 19:32] xmatthewx commented on #957
@taisdesouzalessa - hopefully you got some answers from today's kickoff.

@alanmoo or another engineer is best able to unblock you, but assume it'll be an iframe with a scrollbar and styles you can't change. design around it.

Amy and Jesse can best help you figure out who should be featured. We should probably queue up 2-3 options to switch in later in the year.

Again, you'll have to look to Jes

[2018-01-16 19:32] xmatthewx commented on #957
@taisdesouzalessa - did you get confirmation that we want Host info on the Overview page?

[2018-01-16 19:34] xmatthewx commented on #424
No, it's still the same. When you hover, button rises. When you click, nothing happens. Feels weird.

[2018-01-16 19:35] kristinashu opened #963 "People page design"
## Goal
Add additional context to people we feature on the foundation site to broaden the human aspect of Internet Health. Based on the [Project Brief.](https://docs.google.com/document/d/1FBm6vf7jSZqUJHFbsHbxPVbqh3Ay3lLJ3dc2fZdXgVA/edit)

#### High level design steps:
- Project kick-off
- Benchmarking [deck](https://docs.google.com/presentation/d/1KZ0HlUaIMXdXDvmKJo9GArCVPbT8T_wetGdL2qPyOS4/edit?

[2018-01-16 19:38] xmatthewx commented on #959
@kristinashu you can loop this into your work on People editorial stuff.

In a nutshell, the current people page cards will serve the directory that we will pilot with the fellows pages. The people page will become editorial, story driven.

Until we have profiles on site coming from pulse, we shouldn't engineer these links. But we should definitely look to make these connections in the design.

[2018-01-16 21:18] taisdesouzalessa commented on #934
Just to be sure we are on the same page, in my understanding I should use this MVP here
https://invis.io/QCFA50UP6#/272860083_It-5-Fellows_Directory_General

Is this correct? @alanmoo @xmatthewx @jessevondoom

[2018-01-16 21:28] taisdesouzalessa commented on #957
@xmatthewx not yet. I'll ping Amy on Slack once I see her online.

Thanks for answering the other questions, Matthew! I'll tag people in the document, with my questions...it may be the best place to reach them out.

[2018-01-16 22:41] taisdesouzalessa commented on #895
Closing since we are now in UI stage. Feel free to reopen if necessary.

[2018-01-16 22:42] taisdesouzalessa opened #964 "Wireframe of "Apply for Fellowship" page"
This issue is a place to discuss how the integration between site and Fluxx will happen from the user interface perspective.

@auremoser and @alanmoo for what I understood, it seems the solution we have for now is to have a button on the site that links to Fluxx, correct?

I short, from the user journey perspective, would we have scenario 1 or 2?
<img width="950" alt="image" src="https://user-imag

[2018-01-16 23:18] mmmavis commented on #950
I guess this is a good ticket to start. Assigning it to myself.

@alanmoo is `/network-api/networkapi/fellows/templates/fellows_home.html` where I'm supposed to add the majority of HTML/template code to?

[2018-01-17 00:55] alanmoo commented on #950
Yup!

[2018-01-17 14:50] alanmoo commented on #964
My guess is there would be some degree of content as in comp 1 ("Ready to apply? Applications are these dates:") or something like that. I don't know if there's a separate radio needed for each application. But really all of this is speculative; I think @auremoser can give us an answer?

[2018-01-17 15:45] auremoser commented on #964
I believe we can consolidate to one link to fluxx, and then in fluxx we can triage the application to two different workflows. Kalpana is checking on this now, we'll get back to you as soon as we can.

[2018-01-17 17:58] xmatthewx commented on #934
@taisdesouzalessa - Yes, I think we work toward your plan, as designed. Summarizing all the thoughts on this thread, I propose we iterate like so:

 1. build primary directory page as [designed](https://projects.invisionapp.com/share/QCFA50UP6#/screens/272860083_It-5-Fellows_Directory_General). include cards for all people in a current cohort. use headers separate fellowships by type. after that i

[2018-01-17 18:13] Pomax opened #966 "try to add django-debug-toolbar==1.9.1"
We added the django debug toolbar to network-pulse-api and it is fantastic to have around, so it would be nice to see if we can easily add that to Mezzanine, too.

[2018-01-17 18:32] taisdesouzalessa commented on #964
Thanks for your reply here, Aurelia and Alan! I'll put this page's wireframe on hold until we have some answers ok? Then once we have it, I can do the UI straight. It is simple enough :).

[2018-01-17 19:12] #931 closed

[2018-01-17 20:46] gideonthomas opened #967 "[LOCAL DEV] Opportunity pages with fake data on wrong path"
I'm not able to access any of the `/opportunity/<slug>` routes that were generated by the fake data factory. Instead, I am able to access them on `/<slug>`.

STR:
1. Follow all the instructions in the README
2. Login to the admin, click on Pages in the sidebar, and click on one of the pages. Scroll to the bottom and expand the Metadata section. Copy the URL.
3. Open `localhost:8000/opportunity/<ur

[2018-01-17 20:59] taisdesouzalessa commented on #895
Latest wireframes:
Applications Open: https://invis.io/ZJ9YTAGEA#/272860086_It-5-Overview
Applications Closed: https://invis.io/ZJ9YTAGEA#/272860085_It-5-Overview_Applications_Closed

Important: the structure of some wireframes are being slightly changed during the UI process due to feedback and brand alignment. So the translation from wires to comp is not a 100% match.

[2018-01-17 20:59] #895 closed

[2018-01-17 21:14] taisdesouzalessa opened #968 "Design - Engineer Fellowship pages collaboration"
This ticket is to make sure @mmmavis have clarity on the latest progress of UI of the fellowship page as many things are in flux now and being tracked in different docs.

### UI (IN PROGRESS):
Applications Open: https://invis.io/ZJ9YTAGEA#/273312987_FellowshipsUI_-_Overview
Applications Closed: https://invis.io/ZJ9YTAGEA#/273603676_FellowshipsUI_-_Overview_V2_Applications_Closed

@mmmavis please t

[2018-01-17 21:23] taisdesouzalessa commented on #968
What changed from Wireframes to UI in terms of structure for now:

### OVERVIEW PAGE
<img width="498" alt="image" src="https://user-images.githubusercontent.com/22157921/35067656-7b4c9bd8-fb89-11e7-9cd2-c68baf57bf4a.png">
no more logos beside each area - see UI comp for latest preview

<img width="515" alt="image" src="https://user-images.githubusercontent.com/22157921/35067689-92b3e29a-fb89-11e7-

[2018-01-17 22:37] taisdesouzalessa commented on #956
Here are the comps, not 100% final but it has been through some feedback already. Still doing the tweaks and working on the mobile versions of the screens:

Applications Open: https://invis.io/ZJ9YTAGEA#/273312987_FellowshipsUI_-_Overview
Applications Closed: https://invis.io/ZJ9YTAGEA#/273603676_FellowshipsUI_-_Overview_V2_Applications_Closed

[2018-01-17 23:55] mmmavis commented on #951
@taisdesouzalessa is https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/273603674 the WIP comps for this page type?

[2018-01-18 00:24] taisdesouzalessa commented on #951
@mmmavis nope, this is the comp:
https://invis.io/ZJ9YTAGEA#/273312988_FellowshipsUI_-_Specific_Fellowship_Page

Also, for Open Web page, the only one who has host orgs), this is the model:
https://invis.io/ZJ9YTAGEA#/273843963_FellowshipsUI_-_Specific_Fellowship_Page_With_Host_Orgs

[2018-01-18 19:22] cadecairos opened #972 "News is showing up in reverse"
When we [updated the news page to support new years](https://github.com/mozilla/foundation.mozilla.org/commit/691d91ee57f761e7a9284ccba7abaa940e83bee8), we forgot to check the display order. It's currently displaying the oldest news first.

I think if we used `shift()` to build the array, we'd be all set.

[2018-01-18 19:42] cadecairos opened #974 "InternetHealthIssueFactory can generate title too long for DB field"
Saw this error happen during testing:

[code]

[2018-01-18 19:49] cadecairos commented on #972
actually, `unshift`

[2018-01-18 20:12] #972 closed

[2018-01-19 00:15] Pomax commented on #830
Are there steps to ensure an opportunity page when starting with a fresh clone?

[2018-01-19 00:22] alanmoo commented on #830
I believe the PR that just landed this week should do it. `python manage.py load_fake_data`

[2018-01-19 02:45] taisdesouzalessa commented on #957
Mobile version - work in progress: https://invis.io/ZJ9YTAGEA#/274348479_MOBILE_-_FellowshipsUI_-_Overview

[2018-01-19 02:46] taisdesouzalessa commented on #968
Mobile (work in progress): Mobile version - work in progress: https://invis.io/ZJ9YTAGEA#/274348479_MOBILE_-_FellowshipsUI_-_Overview

[2018-01-19 17:30] taisdesouzalessa opened #977 "Opportunity pages > multi page-menu behaviour"
I was wondering if we could fix a behaviour we are currently having in the multi-page menu, since this model of menu will also be used on the Fellowship Pages. The issue is that, once user select a category on the menu, the category doesn't stay visible

Current behaviour (once I click "Video" I still see "Net Neutrality Groups"):
![current-behaviour](https://user-images.githubusercontent.com/2215

[2018-01-19 17:37] alanmoo commented on #977
As far as I can see, you're absolutely right, this is a bug and should show the current page. I think "Menu" would be too confusing.

Let's figure out #830 first, and then we can tackle this.

[2018-01-19 17:41] xmatthewx commented on #977
I agree totally. 1) Let's attempt to show current selection. If that's impossible for some weird reason, Menu is our best fallback. 2) This is less important than 830, but still pretty important. Thanks @taisdesouzalessa for catching this.

[2018-01-19 17:44] alanmoo commented on #977
I just poked at the code, I don't think it's too difficult to show, we just need the right mezzanine tag swapped out in one file.

[2018-01-19 19:19] taisdesouzalessa commented on #964
Here is the flow we have in place for now. As you can see, we have 2 cases:
- when a user clicks on "apply" and applications are open, they are taken straight into Fluxx interface (no UI design required in this case).
- when a user clicks on "apply" and applications are closed, they are taken to a page on the site that gives more info about when it is open (UI already designed, missing content onl

[2018-01-19 20:29] auremoser commented on #964
Looks good to me! And I'm fine with this workflow.

One question: do all of the secondary nav items (Overview, Fellows Directory, Support the Fellows, Apply to be a Fellow) link to separate pages? Or is it possible to have them just anchor to different headings further down the page?

I'm just wondering if we need that second page "Applications are closed for 2017" or if we can just auto-scroll th

[2018-01-19 20:48] taisdesouzalessa commented on #964
Hey @auremoser they are currently on separate pages. The reason why is that we have lots of content and if we make it all on one page to scroll, it can be overwhelming, especially in mobile. So my recommendation is to keep them on different pages if our plan is to keep this amount of content. Let me know if this is an issue ok?

You can see the current prototype here (it is clickable): https://inv

[2018-01-19 20:58] alanmoo commented on #964
My only minor concern is that scrolling to content like that near the bottom of the page sometimes results in not getting that item to the top of the viewport, as there's not enough content below for it to reach the top.

[2018-01-19 21:01] kristinashu commented on #963
Here is a [comp for the People page](https://redpen.io/th03b59bfe443bc8e1).

*Disclaimer: This is just an exploration. There are way too many different and conflicting styles on this page but I wanted to show a few layout options. Styles are not consistent with the current site and content is just placeholder.

Please let me know if any of this is on the right track!

@sabrinang @taisdesouzalessa

[2018-01-19 21:02] auremoser commented on #964
Totally understood, and makes sense. Let's keep the current workflow then.

[2018-01-19 23:19] mmmavis opened #979 "TypeError when visiting /admin"
STR:

1. check out `master`
2. follow regular steps to start server
3. visit `/admin`
4. TypeError encountered (see screencap below). This can be reproduced on other routes under `/admin` as well.

![screenshot-2018-1-19 typeerror at admin](https://user-images.githubusercontent.com/2896608/35176074-db5796b0-fd2b-11e7-98bc-89569af05b0e.png)

Not sure if this is related to Django 1.11 but checking o

[2018-01-20 00:00] cadecairos commented on #979
This might be your pip modules not being completely up to date. Can you try running `pip uninstall -r requirements.txt -y` and then run `pip uninstall -r requirements.txt`

We might be seeing the same issue on staging.

[2018-01-22 18:02] Pomax opened #981 "swap guetzli for imagemin-guetzli"
as far as I can tell, based on [https://github.com/imagemin/guetzli-bin]'s README.md this is the same command line utility, but doesn't break when running `npm install` on windows.

[2018-01-22 18:40] #967 closed

[2018-01-22 19:41] #981 closed

[2018-01-22 21:51] alanmoo commented on #953
Yup, that makes sense. cc @mmmavis to make sure you're looped in.

[2018-01-22 21:51] #953 closed

[2018-01-22 22:03] taisdesouzalessa commented on #957
In a meeting with Amy, Melissa and Alan last week, it was decided we would add a section for the Senior Fellows in the site. I updated the UI screens to reflect that:
- [Home page of the mini-site](https://invis.io/ZJ9YTAGEA#/273312987_FellowshipsUI_-_Overview): please note there is a placeholder copy for Senior Fellows after the 4 areas.
- [Directory page](https://invis.io/ZJ9YTAGEA#/273603675_Fe

[2018-01-23 15:24] #974 closed

[2018-01-23 16:19] alanmoo commented on #830
This has been resolved. Turns out it was the "published" vs "draft" status of the main `Opportunity` page causing problems. It has to be in `Published` mode.

[2018-01-23 18:31] xmatthewx opened #984 "Add Notice on display of Draft pages"
Currently, all Mezzanine authors can view pages with Draft status on the frontend as if the page was Published. This is great for a preview, but dangerous since many staff can assume a page is live and visible to the public when it is not.

Steps to Repeat:
 - Create a new Opportunity Page via Mezz
 - Save as draft
 - Navigate to page
 - Expected: page is visible as preview, with notice at top to

[2018-01-23 18:43] xmatthewx commented on #984
![image](https://user-images.githubusercontent.com/53411/35293958-55bfd5e2-0043-11e8-8840-3a565f82cda7.png)

[2018-01-23 18:58] taisdesouzalessa commented on #956
@mmmavis here are the Sketch files with the work in progress as per our conversation: https://drive.google.com/file/d/1ZqIVpHwzx9AWk9Ef4l22VD82FK4yYWoi/view?usp=sharing

[2018-01-23 20:46] alanmoo commented on #984
To implement this requires some extra Django/Mezzanine template code in `opportunity.pug`, which will get generated and added to `landingpage.html`.

I'm not sure what notice component styles you're referring to though. @gvn can you point them out?

[2018-01-23 20:47] alanmoo commented on #979
This should be fixed now by #980

[2018-01-23 20:47] #979 closed

[2018-01-23 21:45] gvn commented on #984
I'm not sure either. We didn't do a custom alert style for Foundation AFAIK.

[2018-01-23 22:32] Pomax commented on #830
I am actually reopening this until we have issues filed to address where to find the information we uncovered, so this "never happens again" =)

[2018-01-23 22:34] sabrinang opened #985 "Design Web Literacy Curriculum Landing Page (Opportunity Sub Page)"
### Description
To design a top level landing page from _foundation.mozilla.org/opportunity_ that will provide context and framing for curriculum with the web lit issues and mozilla mission. This page will also connect users to the external (github) pages that will contain curriculum.

**Design Brief:**
https://docs.google.com/document/d/1a_RK0OcgWxcBShg-4_jmxAE9cgnjFYD5n0WAL0sXzZg/edit#
_________

[2018-01-23 22:35] sabrinang opened #986 "Design Curriculum (Github Pages) Template"
### Description
To design a github pages template for curriculum that ties into the brand of the current [foundation site](https://foundation.mozilla.org/).

**Design Brief:**
https://docs.google.com/document/d/1a_RK0OcgWxcBShg-4_jmxAE9cgnjFYD5n0WAL0sXzZg/edit#
___________

**Links to existing references:**
- Global Sprint Example
https://mozilla.github.io/global-sprint/participants/
- Curriculum

[2018-01-23 23:07] Pomax opened #987 "Add a troubleshoot entry to the editor guide for mini-sites/menu issues"
We recently ran into an issue with minisite menus not showing because the minisite "over-arching page" was set to `draft` mode rather than `published` mode. In order to make that problem situation easier to spot and resolve for editors (as well as developers acting as editors during testing/debugging) we should expand https://mzl.la/cms-guide with a troubleshooting section either specific to minis

[2018-01-23 23:08] Pomax opened #988 "Add https://mzl.la/cms-guide to the README.md"
For devs acting as editors during testing/debugging, it'll be helpful to have a link to https://mzl.la/cms-guide in the readme, so that any information that we communicate to editors is easy to find for developers as well, without duplicating lots of text between that document and the repo's readme file.

[2018-01-23 23:08] Pomax commented on #830
Follow up:

- implement something that highlights part of, or the entire chain of, pages are set to `draft`, which can cause the side menu to disappear. Tracked as https://github.com/mozilla/foundation.mozilla.org/issues/984
- add an entry to our editor guide over on https://mzl.la/cms-guide that explains this situation in a "troubleshooting" section for mini-sites. Tracked as https://github.com/m

[2018-01-23 23:08] #830 closed

[2018-01-24 15:32] anweshknayak opened #990 "Mobile view heading placement"
![screenshot from 2018-01-24 20 52 13](https://user-images.githubusercontent.com/8139783/35340685-cac4e39e-0149-11e8-96ac-9d8f7fa108d1.png)

In mobile view, I think **Get Connected** should be placed in center

[2018-01-24 16:00] anweshknayak opened #992 "test_views missing in people app"
https://github.com/mozilla/foundation.mozilla.org/tree/master/network-api/networkapi/people/tests

[2018-01-24 16:32] cadecairos opened #993 "Duplicate Users in Admin"
Something funky is going on with the users table. Google auth'd usres sometimes get random numbers appended to their username.

i.e. `cade` and `cade123456789`

Lets try and reproduce it locally.

[2018-01-24 16:39] cadecairos commented on #937
@alanmoo This is still assigned to me - we need to make a decision as to which way to fix this. I'm okay with either of the options I laid out, however #2 diverges our code from Django/Mezzanine core even more, which might burn us in the future.

[2018-01-24 16:42] cadecairos commented on #930
This is working on staging and production.

[code]

[2018-01-24 16:42] #930 closed

[2018-01-24 16:43] alanmoo commented on #937
Then yeah, let's stick with option 1. What's the actual work required for that? It might be something we can leave up for a contributor to pick up if they're interested until someone on the team has a chance to get to it.

[2018-01-24 17:29] taisdesouzalessa commented on #990
Hi @anweshknayak, thanks for your feedback here! Our brand guidelines usually ask us to prioritize the alignment to the left whenever possible. I agree with you that this page looks a bit weird, I'll create a design ticket so we think about other solutions to make this page looks better, sounds good?

Thanks for catching this :).

[2018-01-24 17:42] taisdesouzalessa opened #995 "Get Connected - design improvement"
Related to the issue #990, instead of changing the alignment, we could design this page to look a bit better. More like little spacing tweaks and others.

![img_6608](https://user-images.githubusercontent.com/22157921/35347599-71f0e574-00ea-11e8-8025-0e8d60fc8449.jpg)

[2018-01-24 19:54] xmatthewx commented on #987
I added a few warnings in the guide. I added a trouble shooting section. Sparse, but better than nothing. I'll fag Alan in the doc to add other things that come up.

[2018-01-24 19:54] #987 closed

[2018-01-24 19:59] xmatthewx commented on #984
I was thinking of the barn raising notice last spring. Yellow bar.

[2018-01-24 20:49] xmatthewx commented on #957
I added a couple of comments in invision. @taisdesouzalessa - it might be good to check in with @mmmavis about what parts of design are done and what parts are still in flux.

[2018-01-24 23:14] mmmavis commented on #950
Done and merged into `fellowships` branch.

[2018-01-24 23:14] #950 closed

[2018-01-24 23:26] mmmavis commented on #952
Latest comps: https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/273312989

[2018-01-25 00:36] taisdesouzalessa commented on #977
@alanmoo I did some studies in how this top menu could behave and talked to @mmmavis about what could be the best behaviour for the users. We both agree that something like the example below would be a better user experience. Wondering if you think it costs lots of time to implement something like that. If so, we can go with original plan and do that later on, after MVP.

![mobile-menu-behaviour-s

[2018-01-25 01:01] kristinashu commented on #963
Thanks everyone for the feedback and comments. I've updated the comp with some of your feedback, eliminated some layouts and made the styling a little more consistent.

https://redpen.io/ema74f4b9a0a4e22bf

[2018-01-25 01:05] stephaniemcv commented on #842
Network@ is hooked up to Desk.com. We should chat, @xmatthewx, I'm the admin of that baby now. :-P

[2018-01-25 18:44] #960 closed

[2018-01-25 19:13] kristinashu opened #998 "Fix missing news icons"
The news section was designed with very nice icons for each news source but in practice the number to news items as been too many to keep up with so icons are almost always missing.

#### Production:
<img width="1054" alt="screen shot 2018-01-25 at 11 03 04 am" src="https://user-images.githubusercontent.com/1068783/35407270-3d7f3ed6-01c0-11e8-867a-7968bce8dc79.png">

@taisdesouzalessa @sabrinang @

[2018-01-25 19:28] Pomax opened #1000 "update "ref" syntax to use arrows, as string refs are being deprecated"
The React team has taken the position that string refs are bad and are going to be removed in a future version of React, so we start updating all refs in code that we're touching from things like `<element ref="thing">` (that we then reference as `this.refs.thing`) to the preferred form `<thing ref={ e => this.thatSpecificThing = e}>` (that we then access as `this.thatSpecificThing`).

[2018-01-25 19:37] anweshknayak commented on #1000
Hey I can take this up?

[2018-01-25 19:39] gvn commented on #998
That seems great to me. The icons have definitely been a pain point...

[2018-01-25 20:37] xmatthewx commented on #842
Yikes. Yes, let's talk. Are other parts of the org actively using Desk? I don't think anyone on our team is triaging those messages.

[2018-01-25 20:53] xmatthewx commented on #998
I'm unsure.

Pro: It looks cleaner for sure.

Con: Publication name at the top helps signal that these articles are elsewhere, not on the site. Publication name and icon (when present) lend legitimacy.

I think Jesse has plans to evolve the homepage in the not too distant future. Let's consider this as part of that, rather than making a change sooner.

[2018-01-25 21:13] Pomax opened #1003 "fix chokidar for windows"
package.json currently contains chokidar instructions with `'` around its watch locations and run command, but this does not work on windows, which needs `"` in order to "see" command line arguments as such.

[2018-01-25 21:54] taisdesouzalessa commented on #998
I agree with the Pros and Cons pointed above by Matthew. I remember talking to Kevin about those news items during a work week and if I am not mistaken, having those logos was a positive thing, from his point of view.

I do agree that, in practice, we are not being very good at maintaining the structure by uploading the logos, though.

[2018-01-25 22:40] xmatthewx commented on #998
Might just require a bit more training for users.

[2018-01-25 23:54] stephaniemcv commented on #842
Fundraising is actively using Desk to triage donation cases.
Email replybacks also land in Desk as more of a feedback collection tool.
Teachtheweb@ checks in every now and then but we should chat about possible decommissioning that and network@. I'll stalk your calendar for a meeting time.

[2018-01-26 00:07] alanmoo commented on #977
Seems reasonable, at first glance anyway.

[2018-01-26 00:22] #1003 closed

[2018-01-26 00:46] mmmavis commented on #954
@taisdesouzalessa what happens after user has successfully signed up the newsletter?

[2018-01-26 17:21] xmatthewx commented on #842
Thinking about this again... I think @jessevondoom and @Sydette or Lotta (rather than me) should decide if they want a contact email on the site for the them to monitor on Desk. Could be good for feedback and suggestions regarding content and editorial. Maybe we switch to something like hello@mo...fo...org.

[2018-01-26 17:58] alanmoo opened #1012 "React Google Analytics are not being initialized"
STR:
1. Visit https://foundation.mozilla.org/sign-up/
2. Click on form field
3. Observe warning in browser console.

Expected behavior: It should log the GA event. This is the same problem on Petition components (https://foundation.mozilla.org/campaigns/aadhaar/take-action)

Remember to keep Do not track in mind, I'm not sure if initializing the react GA component respects the normal GA DNT functi

[2018-01-26 19:45] sabrinang opened #1013 "Opportunity Page - Navigation Position"
The side navigation looks like it is sitting a bit low beneath the title on opportunity pages like MITI and Fellowship Advisory Board:
![opportunity-nav-bug](https://user-images.githubusercontent.com/2492510/35457516-09c6d38c-028e-11e8-8002-381ba2cacc0c.jpg)

Can this be moved up and be made sticky when users scroll down these pages?

[2018-01-26 19:52] taisdesouzalessa commented on #1013
For reference, this was the designed behaviour (please disregard the header): https://taisdesouzalessa.github.io/simple-model-ui/ - if I am not mistaken, we focused on an MVP first, so it would be great if we could improve this MVP, as Sabrina mentioned above :)

[2018-01-26 23:41] sabrinang commented on #985
We are focusing on MVP content first that we can put on the CMS with minimal engineering help for now.

Here is an overview of an idea of the structure of these Web Literacy Curriculum Pages:
- We can link to Web Literacy landing page from the [About page](https://foundation.mozilla.org/about/)
- Web Literacy Landing Page - It contains text to give context and framing for Web Literacy that refers

[2018-01-27 00:18] alanmoo opened #1014 "Remove `ul` css reset"
In `resets.scss` we're resetting the styles of `ul` elements so they don't have a bullet. This makes the Wysiwyg editor confused, as it expects lists to have bullets. Can we remove the reset?

[2018-01-27 01:00] taisdesouzalessa commented on #957
Hey team, thanks for the feedback so far. Here are the updated mockups with latest feedback pieces applied:

UI DESKTOP - clickable prototype
- [UI Applications Open](https://invis.io/ZJ9YTAGEA#/273312987_FellowshipsUI_-_Overview)
- [UI Applications Closed](https://invis.io/ZJ9YTAGEA#/273603676_FellowshipsUI_-_Overview_V2_Applications_Closed)

UI MOBILE  - clickable prototype

- [UI Applications O

[2018-01-27 01:03] taisdesouzalessa commented on #968
I think we don't need this ticket anymore @mmmavis.  We can keep our conversation going here:  #956 since we are in more advanced stages of UI. Feel free to reopen this ticket if you disagree :)

[2018-01-27 01:03] #968 closed

[2018-01-27 08:24] anweshknayak commented on #1013
Looks like opportunity app is not been implement in this project. Where to make these changes? @taisdesouzalessa

[2018-01-29 15:28] alanmoo commented on #954
Is it clear where that form submits to as well? Is it the general `mozilla-foundation` newsletter?

[2018-01-29 18:04] taisdesouzalessa opened #1015 "[Fellowship Pages] FAQ"
**Context:**
Currently, our individual fellowship pages (all 4 of them) mention an FAQ - for what I remember, we decided (Alan, Matthew and I) to go for a simple FAQ page (reusing the template of 1 column of our "Opportunity" pages).

@auremoser I am wondering if you see the need for an FAQ page and if so, @alanmoo do we need a mockup for this page (since it is based on an existing template, I was

[2018-01-29 22:11] alanmoo commented on #1015
The cynical view on an FAQ page is that if it needs to exist, the content strategy isn't tight enough. So unless we actually have a set of FAQs that aren't just "content that we can't figure out where else to put it", it would be great if we could just not build it for now.

[2018-01-29 22:16] alanmoo opened #1016 "Write tests for campaigns and petitions"
In our rush to get petitions working, we didn't add proper tests. Let's do that.

[2018-01-29 22:17] alanmoo opened #1017 "Generate fake data for campaigns and petitions"
In addition to generating fake data for the models, we should make sure a campaign page with a petition gets created, and the top-level page generation should make sure to include "Campaigns" as a sibling page to "Opportunities".

[2018-01-30 01:16] auremoser commented on #955
FYI, updated the above comment to include more fellows' profiles.
Trying to get through that this week!

[2018-01-30 01:30] auremoser commented on #1015
I think we can make that work (delaying the creation of an FAQ).

We've had them in the past on the Advocacy and Science sites and I do think they were helpful, but we always recieve many questions anyway, and I develop some templates for how to respond to typical ones. We could try going FAQ-less this year, and treat it as a lesson-learned for next year if that doesn't pan out.

Science: https://

[2018-01-30 17:36] mmmavis opened #1019 "Responsive fellowships nav"
Make sure the nav we have for fellowships site works and is responsive.

@taisdesouzalessa can you give me a ping once the comps are finalized? Thanks! 😄

[2018-01-30 18:22] taisdesouzalessa commented on #1019
Hey @mmmavis they are ready to go: https://drive.google.com/file/d/1ZqIVpHwzx9AWk9Ef4l22VD82FK4yYWoi/view?usp=sharing

This to consider: content still not 100% yet, we may have some few feedback pieces here and there - but styling and structure seems ok, I'll let you know if anything changes as soon as I know.

Next step: working on assets

[2018-01-30 18:23] taisdesouzalessa commented on #956
@mmmavis comps are ready to go: https://drive.google.com/file/d/1ZqIVpHwzx9AWk9Ef4l22VD82FK4yYWoi/view?usp=sharing

This to consider: content still not 100% yet, we may have some few feedback pieces here and there - but styling and structure seems ok, I'll let you know if anything changes as soon as I know.

Next step: to work on assets.

[2018-01-30 19:23] taisdesouzalessa commented on #1015
Okay, thanks for the input here, Aurelia and Alan. I removed the FAQ link from the pages' comps and used only a "contact us" link, that will point to the email "fellowships@mozillafoundation.org"

<img width="842" alt="image" src="https://user-images.githubusercontent.com/22157921/35586420-a6774a8a-05af-11e8-95d5-316f8e1a954b.png">

I think this solves this ticket so I am closing it. Feel free to

[2018-01-30 19:23] #1015 closed

[2018-01-30 20:06] mmmavis commented on #951
Merged into `fellowships` branch!

[2018-01-30 20:06] #951 closed

[2018-01-30 20:07] mmmavis commented on #952
Merged into `fellowships` branch!

[2018-01-30 20:07] #952 closed

[2018-01-30 20:18] mmmavis commented on #1019
For more details about how the nav should work see

- https://github.com/mozilla/foundation.mozilla.org/issues/977#issuecomment-360321769
- https://invis.io/Z4FGLVDEP3W#/275358045_TEST2-MOBILE_-_FellowshipsUI_-_Overview_Copy

[2018-01-30 21:18] anweshknayak commented on #977
cannot get to this view. Can anyone help ?

[2018-01-30 21:50] alanmoo commented on #977
The pages in screen shots don't specifically exist. https://foundation.mozilla.org/opportunity/miti/ is an example of that kind of page though.

[2018-01-30 22:08] sabrinang commented on #986
Since we are placing all the text content on the CMS pages #985, this template can focus on the curriculum content itself with a button to go to github to remix/fork. It'd be great if the sidebar was sticky like the previous curriculum template here: http://chadsansing.github.io/curriculum-testing/intermediate-web-lit-two/session07-creating-a-storytelling-resource.html#overview

![github page temp

[2018-01-30 22:20] mmmavis commented on #954
Closing. PR just got merged into `fellowships` branch!

[2018-01-30 22:20] #954 closed

[2018-01-31 02:23] sabrinang commented on #985
@alanmoo I’m putting some placeholder content in mezzanine on staging and figuring out the structure. I have some questions about formatting in the CMS:
- Can we have a sub page for a sub page?
- How do we place images properly into the page and have margins around them? The text is really close.

![image](https://user-images.githubusercontent.com/2492510/35599799-6ede8cac-05df-11e8-9f3e-9903f52d0

[2018-01-31 06:36] mmmavis commented on #977
[This PR](https://github.com/mozilla/foundation.mozilla.org/pull/1020) should address this mobile multi-page nav issue we are trying to fix here. Just a note that this fix is part of the WIP fellowships minisite work so the change won't be live until we are ready to launch the fellowship site.

[2018-01-31 09:42] anweshknayak commented on #995
@taisdesouzalessa can I do this? Could you elaborate on how to fix this?

[2018-01-31 17:27] taisdesouzalessa commented on #995
@anweshknayak I need to discuss this issue with other designers to make sure we approach it as a system because the styles used on this page affect others as well. It may take a while because we are focused on more urgent issues at the moment but I'll keep you posted here as soon as we have a design solution for this ticket. Sounds good?

[2018-01-31 18:44] xmatthewx commented on #985
This all looks good @sabrinang. Good questions for @alanmoo regarding sub-pages and images. Your overview map will be very helpful to share with engineers and stakeholders. Let's share with @kristinashu as she'll be doing something similar for global sprint.

Two small things:
 - Can we update the redpen project or create a new one to just include the current proposal? no need to mock up every pag

[2018-01-31 19:25] alanmoo commented on #985
Technically, yes, but we've disabled that as the templates don't currently have the navigation structure to support that.

This is starting to push the edges of what should be done in a single field vs in its own template.  You could add a `pr-2` class to the images themselves when you view source, but that doesn't touch the bigger problem that this page as it's currently built is not responsive i

[2018-01-31 19:54] sabrinang commented on #985
@alanmoo How do we make a template that is responsive? There is also overall heading spacing issues where the titles don't look close to the paragraph copy which makes it hard to scan information

[2018-01-31 23:27] xmatthewx commented on #955
Sharing a list of links to all the profiles.

[2018-01-31 23:45] auremoser commented on #955
I added all the profiles as of today, including some alumni fellows (mostly OWF and Science because that's my focus area but I found some senior fellows too, so I add those.

[2018-01-31 23:59] xmatthewx commented on #985
### Images

I spoke with @alanmoo. I think we can try with @taisdesouzalessa to create a pattern in the CMS for left align photo with text wrapping. She did something similar on the miti page.

Since the CMS strips classes, this might require a bit of creativity. Hopefully not, but we might think of way to use tags like `<p><span><img></span>text text</p>` and then add a bit of CSS for this patter

[2018-02-01 00:11] sabrinang opened #1021 "Design Page Templates for the CMS"
### Description
This is a discussion ticket on how templates are designed, created and used in the CMS.

I have a few questions about the design and build of reusable templates on Mezzanine. I think this is an important system to build out as we expect more requests to include content on the site and it to be a central hub for foundation content moving forward.

**Current Inconsistencies**
▪ headi

[2018-02-01 00:16] mmmavis opened #1022 "Do an anchor stylings audit and update style guide if needed"
[Style guide](https://foundation.mozilla.org/style-guide/) shows that all anchors on the Foundation site should be in bold (`font-weight: 700`) There has been some discussion about tweaking font weight for certain link type. e.g., secondary nav link so they are semibold (600). I'm hesitant to just add a new style there... Let's discuss and maybe do an anchor stylings audit before we commit to this

[2018-02-01 00:20] mmmavis commented on #1022
/cc @taisdesouzalessa @gvn

[2018-02-01 00:46] taisdesouzalessa commented on #1022
Adding @kristinashu to the discussion as well because she has been working on the style consistency across properties.

Context: for the Fellowship site, we have a secondary menu. I used Nunito to follow our rules but the styling was identical to our body copy style, which would make the menu almost blend with the body copy. The solution I got was to make it semibold and that would introduce a new

[2018-02-01 00:57] sabrinang commented on #1021
**Note:** Sub Navigation patterns should also be considered in these templates

[2018-02-01 01:40] taisdesouzalessa commented on #957
@xmatthewx @jessevondoom @alanmoo as feedback received in the meeting of Jan30th, here are the comps with the changes applied.

[UI Applications Open - v2](https://invis.io/ZJ9YTAGEA#/276734814_v2-FellowshipsUI_-_Overview)
[UI Applications Closed - v2](https://invis.io/ZJ9YTAGEA#/276734811_v2-FellowshipsUI_-_Overview_Applications_Closed)

I have some user flow concerns with this new solution (with

[2018-02-01 08:51] anweshknayak commented on #995
Thanks  🎉

[2018-02-01 15:24] alanmoo commented on #1021
@sabrinang can you find a time to get @gvn up to speed with this?

[2018-02-01 16:17] xmatthewx commented on #986
I think this all looks great.

Let's consider the hover state on the logo. Besides color, is there any way we can indicate to a user that the logo link will jump back to the site? I'm unsure, but maybe a home icon appears next to the logo on hover? (I would not do a back arrow since some users will land here first.)

Besides that, I think this is good and ready to share with a few people for revie

[2018-02-01 16:42] xmatthewx commented on #957
@taisdesouzalessa - Let's approach the concern a bit differently.

### .../apply

First, I feel strongly that all `apply` buttons and nav should go to a `.../apply` page. That page is ideally CMS editable so that it can be updated and optimized before during and after each application period. Given multiple types, that will be almost monthly.

This page will orient users and hold their hand before

[2018-02-01 17:58] kristinashu commented on #1022
I am always reluctant to add new styles but nav is so important that I think it's ok for it to be an exception.

@taisdesouzalessa would font styling for this horizontal secondary nav also work for the vertical secondary nav? Or would the font size might be too small? As we talked about yesterday, we should at least update it to Nunito.

Example for horizontal nav on production:
<img width="1433"

[2018-02-01 17:59] jessevondoom commented on #957
I'd like to take @xmatthewx's comments a bit  further with a yes-and. First, we absolutely want/need the /apply page before the applications. We can do context-setting there about the focus areas we're currently accepting applications for. I also prefer four buttons to four separate applications but don't feel super strongly about this one — I just know that each type will have different fields an

[2018-02-01 18:31] kristinashu commented on #1021
I echo Sabrina's concerns here. We will be using these CMS pages a lot (example [Aadhaar campaign](https://foundation.mozilla.org/campaigns/aadhaar/aadhaar-challenges-and-the-path-forward/)) so we should really invest in getting them up to the standards we have on the rest of the site.

As Sabrina mentioned, headings definitely need to match the rest of the site. For example, h3 on these CMS pages

[2018-02-01 18:43] xmatthewx commented on #1021
Thanks all. I'd like to prioritize:
 - style consistency between cms pages and site pages
 - simple cms-based recipes for style (like tais did on the miti page). authors will break things. authors will learn to not break things. that's cool. we're all about web literacy.

We need to be conservative and realistic about engineering new templates and capacities for cms. These are a serious investment

[2018-02-01 21:53] anmechung commented on #986
Zannah and I think this looks great!  The search image is fantastic. There are a few edits to categories in the side bar.  I'll set up a quick call between @zee-moz and @sabrinang to discuss.

[2018-02-01 22:00] taisdesouzalessa commented on #957
Thanks for your feedback here, Matthew and Jesse. It added lots of clarity and context to me. Here is the new version, please take a look and let me know your thoughts.

I have a Slides doc highlighting the main changes of this cycle and the assumptions we have for the page "Apply to Be a Fellow". Please take a look at it [here](https://docs.google.com/presentation/d/1BAZYmeF-ImZJgevhKdMNiEEi_xNYD

[2018-02-01 22:59] xmatthewx commented on #986
For content, you should prepare a doc for reference. This is just a template and we won't produce designs of every page. You can drop template feedback in here or in redpen (links at the bottom of the image).

The search image is just a stock image. It's great, but I'm not sure if you have budget for that. Again, we won't be able to do design for the content itself given other projects in our queu

[2018-02-01 23:28] alanmoo commented on #1014
(I just did a test, straight up removing this causes bullets to appear in the mobile navigation, so we probably need to comb the site a bit to figure out how to best accomplish the goal of "make the wysiwyg editor indicative of what the user will see on the final page")

[2018-02-02 01:22] taisdesouzalessa opened #1023 "[Fellowship site] Full email displayed on the site"
Currently in our site we have some situations in which the full email is displayed (like "fellowships@moz..."):
<img width="758" alt="image" src="https://user-images.githubusercontent.com/22157921/35711741-48525844-0773-11e8-9d33-d07adabdc7ea.png">

I find it is a big address to have there but I think it is necessary, right @mmmavis and @alanmoo? I am curious about your thoughts or any past experi

[2018-02-02 01:32] mmmavis commented on #1023
That's a long email address. Not sure if it can fit in one line on mobile 👀

[2018-02-02 01:53] taisdesouzalessa commented on #1022
@kristinashu thanks for your input here. I think we can use the same styling but if we could use the size 18px for the side menu, it would be better.  Also, we will need to increase the line height because currently, the yellow highlight looks a bit odd if we only change the font:

Screenshot with Nunito Sans semibold, 16px
<img width="825" alt="image" src="https://user-images.githubusercontent.co

[2018-02-02 02:26] sabrinang commented on #985
I updated the layout on [staging](https://foundation.mofostaging.net/opportunity/web-literacy/) to use the `pr-2` class and `span` tag with CSS. I initially used the table approach similar to the MITI page but the text wasn't reflowing so this seems to work better.

Also flagging that the side nav disappears when I try the staging link on my mobile device (side nav on prod opportunity pages work t

[2018-02-02 03:27] sabrinang commented on #986
I iterated on the heading area to include the sidebar category and a subtitle breadcrum above to orient users to the current activity and to the web lit category similar to the previous template.
![curriculum_title-breadcrum-example](https://user-images.githubusercontent.com/2492510/35714933-6cfbb012-0784-11e8-9f3a-8416b9f0a5dc.gif)

@anmechung This is just placeholder content from one of the proj

[2018-02-02 14:14] alanmoo commented on #985
If you're not logged in, the side nav won't show up till the sub-pages are published.

[2018-02-02 14:22] alanmoo commented on #1023
My 2¢: It's useful to actually see the address you're emailing (as it is here), so you can copy/paste if necessary. I don't think it's too long if the mobile view is just text from left to right (as presumably the image would be above/below the text block?).

I give less than one 🥄 though; do whatever you think works.

[2018-02-02 16:25] #992 closed

[2018-02-02 17:46] gvn commented on #990
Since there's now a design ticket I'm closing this as a dupe.

[2018-02-02 17:46] #990 closed

[2018-02-02 17:46] taisdesouzalessa commented on #1023
Thanks for your feedback here, Mavis and Alan.

I used the browser inspect tool and placed it in a similar component of the current site just to have a more realistic view of this issue. It fits okay in a small viewport (320px). So that addresses one of the concerns we had about being long. I like the idea of allowing users to copy and paste the email address since this page if for host orgs and f

[2018-02-02 17:46] #1023 closed

[2018-02-02 18:28] kristinashu commented on #1013
@alanmoo can we resurface ticket since [this page](https://foundation.mozilla.org/campaigns/aadhaar/) is getting a lot of attention now?

[2018-02-02 18:29] sabrinang commented on #986
### Notes from meeting with An-Me and Zannah
**Template Feedback**
- Subsections need to be included in the sidebar navigation (example: Activity will have subsections and there will be less main sections)
- Highlight "Tips" in the text. Consider icons and coloured highlights & call out boxes
- 2-column format option for text for Glossary

I was referring to an old curriculum template but see thes

[2018-02-02 18:31] kristinashu commented on #1022
Yes, your second comp looks good!

Cross-linking this ticket with the navigation position bug https://github.com/mozilla/foundation.mozilla.org/issues/1013 since they are slightly related.

[2018-02-02 18:33] sabrinang commented on #985
### Notes from meeting with @anmechung  and @zee-moz
**Content Feedback**
This mainly needs real copy and content to be shuffled around and it would be most effective if An-Me can get access to edit the text on these pages directly.

**Graphic Assets Feedback**
- find image resources/library for curriculum/pathways and help place/format them (note: look for free stock - if not, ask about budget)
-

[2018-02-02 18:59] anmechung commented on #985
Just a reminder - I have a presentation at the American Library Association on Feb 12 where I planning to share some iteration of the curriculum.  In addition, Reagan McDonald (MoCo) needs a link to the curriculum for something they are submitting and due by Feb 23.

[2018-02-02 19:04] alanmoo commented on #1013
Sure! Do we want to go with the header image approach or move the side nav up?

@anweshknayak, the opportunity pages are based on `opportunity.pug` as a template, which gets generated into `landingpage.html` which is used as a django template.

[2018-02-02 19:12] kristinashu commented on #1013
Yay! Move the side nav up please. So the top to the nav lines up with the top of the title.

Example: there is a faint blue guideline to show how they should line up

<img width="822" alt="screen shot 2018-02-02 at 11 09 00 am" src="https://user-images.githubusercontent.com/1068783/35750411-bf10c18c-0809-11e8-9b41-ebb245b7156b.png">

[2018-02-02 19:37] alanmoo commented on #1013
With this approach, the default positioning for the mobile nav is to go above the page heading (assuming we revert to a single piece of markup for both mobile and desktop nav). Would that be preferred, or do you want to keep it as is, where the mobile nav is under the page heading?

[2018-02-02 19:54] kristinashu commented on #1013
Yes, please move the secondary nav up so it's just below the main nav on mobile.

Production (right) | Comp of how it should be (left)

![screen-shot-2018-02-02-at-11 42 22-am3](https://user-images.githubusercontent.com/1068783/35752101-8cdd5c88-080f-11e8-8d82-3a98a5bb86cd.jpg)

[2018-02-02 20:16] alanmoo commented on #1013
Great. I think this should be enough detail for someone to take it on. For whoever does take it on:

This seems like it should require only markup changes in 2 files: `opportunity.pug` and `campaign.html`. (It's a bit confusing the way it runs right now, and we do need to clean that up so they're using a similar template. But that's a separate issue)

[2018-02-02 21:03] kristinashu commented on #1013
Sorry, I spoke with @taisdesouzalessa and she pointed out this bug https://github.com/mozilla/foundation.mozilla.org/issues/977 where the sub menu and title names are wrong.

So once that bug is fixed, the original order (main nav, title, secondary nav) will make more sense. So let's keep the order as is.

SO only update for this ticket is to move the nav up on desktop view.

[2018-02-02 22:34] mmmavis commented on #955
@alanmoo What URLs do we wanna use for specific fellowship type pages under Directory?

I'm thinking

- /fellowships/directory/senior
- /fellowships/directory/science
- /fellowships/directory/open-web
- /fellowships/directory/tech-policy
- /fellowships/directory/media

Thoughts?

[2018-02-02 23:03] sabrinang commented on #986
We can revise the previous styling of the template to match the current brand by using Zilla Slab and Nunito Sans with a tint of yellow for the highlight colour as well. We can simplify the highlight boxes to have number lists below without the column of white space. Otherwise the spacing and formatting is nicely set overall in the existing template:
<img width="1377" alt="image" src="https://user

[2018-02-03 02:18] taisdesouzalessa commented on #956
@mmmavis I am starting to build the assets for the pages. Please note that some discussions are still happening, so what I did was to add notes on top of each page of the Sketch file and I'll update the notes as soon as we make the pending decisions. I am working from V2 now, cool? So I don't have to update V1 and V2.

Here is the Sketch file
https://drive.google.com/open?id=15st_Yd-GS4nAFgqqp-ci8

[2018-02-03 03:27] auremoser commented on #955
I think these are logical @mmmavis ! I wonder if we would want to abbreviate to "dir" or something so the URL isn't quite so long. What would be the full URL breadcrumb here? Something like `foundation.mozilla.org/fellowships/directory/science/2016`?

It's probably too late to punt "directory" as a term, but I also like the following as options (they feel a bit warmer?, and echo community programs

[2018-02-05 16:49] xmatthewx commented on #582
@kristinashu - this is mostly done, right? if there are important remainders, we should probably set up a new project board with Alan.

[2018-02-05 16:49] #582 closed

[2018-02-05 17:58] sabrinang commented on #986
@gvn The .sketch file is available in the gdrive folder: https://drive.google.com/open?id=1Wnnbo3j_6J1DG-E0p1DTdfx3aQInB2u8

[2018-02-05 17:58] xmatthewx commented on #955
Let's stick with `fellowships/directory`. I like people, but we use that for a top level view. That view will evolve this spring to stories about people (including fellows). It'll be warm and fuzzy. Community connotes something broader and feels ambiguous.

[2018-02-05 20:10] xmatthewx commented on #977
I checked the PR. The mobile nav in it works as expected. When that lands, we can double-check and then close this. 🎊

[2018-02-05 20:24] mmmavis opened #1025 "Fellowships minisite - build "application open" page"
WIP comps: https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/276734812_v2-FellowshipsUI_-_Apply-Applications_Open

/cc @taisdesouzalessa

[2018-02-05 20:36] xmatthewx commented on #1013
Before we move ahead, I'd like to consider two things:
 - how we use CMS title vs header
 - stacking two nav's on mobile

On mobile, I'm a little concerned about moving the nav above the title because it could feel like site nav, rather than section nav. It sits so close to the hamburger.

I think we can up the style a bit and change how we use author's header. Adding margin on sides of sub-nav ca

[2018-02-05 20:54] xmatthewx commented on #985
@anmechung - as far as I can tell, the main remaining task is populating content. true? that can be done in parallel with Gavin's effort to update the gh pages template with lastest design. is there anything else blocking a release later this month? (apologies - operating without Hannah around makes everything a bit trickier)

cc @alanmoo @sabrinang @zee-moz

[2018-02-05 20:56] taisdesouzalessa commented on #1025
This page will change pretty soon, in terms of structure and probably content. I had a conversation with @jessevondoom and @xmatthewx on that.
So I would recommend holding on building that for now (focus on the other pages) until we have a solid state of this one :).

[2018-02-05 21:00] anmechung commented on #985
@sabrinang I think so!  Will check-in with @zee-moz too.  Thanks for wrangling - really appreciate it.

[2018-02-05 21:02] sabrinang commented on #985
@xmatthewx Yes, it is content that is left.

As a design suggestion @an-me and @zee-moz please use images that are under [creative commons ](https://search.creativecommons.org/). The site https://pixabay.com/ seems like a good option for safe to use images without asking for permission or giving credit to the artist.

[2018-02-05 21:28] xmatthewx commented on #985
thanks all. if you find images, but need help cropping, feel free to ping us on slack in the mofo design channel.

[2018-02-06 17:57] taisdesouzalessa commented on #1013
+1 to tighten vertical margins and add margins to sub-nav - it does look a lot better.

Correct me if I am wrong here, @xmatthewx but your suggestion is to make the info in "A" match the info in "B" (screen 1), right? I ask that because we are currently fixing the menu (for Fellows and I think it will reflect here as well - screen 2) so the selected item (sub-nav) shows on the top. In this way, we

[2018-02-06 18:28] Pomax opened #1027 "add btn-pop to https://foundation.mozilla.org/style-guide/"
https://github.com/mozilla/foundation.mozilla.org/blob/6f8ec149d79bc1cb4f198edaebebf95679641e63/source/sass/buttons.scss has a `btn-pop` class that we use for the sign in, but this class is still missing from the style guide in https://foundation.mozilla.org/style-guide/

[2018-02-06 20:01] alanmoo commented on #1013
I think some items are being conflated and I want to straighten them out. Currently every page has 2 relevant fields: Title and Header

Title:
* Name of page in side nav
* Name of page in browser title bar ("Mozilla Foundation - {Title}")

Header:
* Big text at the top of that specific page

The first page does double-duty because it's the parent page of the group, so its title should be an encomp

[2018-02-06 20:16] kristinashu opened #1028 "Opportunity Page - move navigation up"
From https://github.com/mozilla/foundation.mozilla.org/issues/1013

Move the side nav up on desktop view so the top to the nav lines up with the top of the title (so the order on desktop is main nav, dropdown, title, then content)..

Please keep mobile as it is now (so the order on mobile is main nav, title, dropdown, then content).

Example: there is a faint blue guideline to show how they should

[2018-02-06 20:20] kristinashu opened #1029 "Opportunity page - design header titles and dropdown on mobile"
Based on conversations from here down https://github.com/mozilla/foundation.mozilla.org/issues/1013#issuecomment-363213176

[2018-02-06 20:23] kristinashu commented on #1013
Agree!

I've opened a design ticket to discuss the header/title/dropdown #1029

And a separate one to move the navigation up on desktop #1028 (this one should be a small ticket that will help make the page look less broken).

[2018-02-06 20:23] #1013 closed

[2018-02-06 20:37] kristinashu commented on #1029
@taisdesouzalessa @xmatthewx based on what you have both said and designed, would something like this work?

![untitled-1](https://user-images.githubusercontent.com/1068783/35882527-5d63beb6-0b39-11e8-87ef-3ae475947d84.jpg)

![global sprint home copy 4](https://user-images.githubusercontent.com/1068783/35882902-719d678c-0b3a-11e8-8d53-3c4e8607fa31.jpg)

[2018-02-07 01:19] kristinashu opened #1035 "CMS pages - List styles don't work"
### I've added bulleted list in the CMS:
<img width="1008" alt="screen shot 2018-02-06 at 5 16 31 pm" src="https://user-images.githubusercontent.com/1068783/35893166-a40b8d76-0b61-11e8-9438-cf81f87dc227.png">

### But it don't show up on production:
<img width="1274" alt="screen shot 2018-02-06 at 5 16 40 pm" src="https://user-images.githubusercontent.com/1068783/35893167-a431f894-0b61-11e8-95f5-9

[2018-02-07 08:23] anweshknayak commented on #1028
@kristinashu thanks 😃 On this.

[2018-02-07 14:57] alanmoo commented on #1028
@anweshknayak I'm in the middle of doing something that actually takes care of this for Campaign pages. Hold off on those for now, and maybe on Opportunity pages until my commit lands

[2018-02-07 18:34] alanmoo opened #1037 "Design template for campaign pages"
The campaign pages we've spun up thus far leave some things to be desired in terms of layout. The most pressing is probably placement of petitions. Right now, they're below the main content of the pages. This is because we can't have 3 columns (including the sidebar nav on the left). However, for pages that don't have a sidebar nav, we can probably fit the petition to the right side of the page.

[2018-02-07 18:37] xmatthewx commented on #1037
@taisdesouzalessa can you dig up old wireframe or UI that had a two column opportunity page with sign-up form in a column on the right?

We want to do something similar for new CMS campaign pages. If they have left-hand nav, form will drop down below to avoid 3 column craziness.

Thanks!

[2018-02-07 18:39] xmatthewx commented on #1037
note: this is being implemented today for a quick response campaign that will launch this week. so, we can really only pass on wireframes for basic layout to engineers.

we can iterate for the next campaign if needed.

[2018-02-07 18:58] taisdesouzalessa commented on #1037
@xmatthewx is this one you are talking about? https://redpen.io/dq4d9952795727b77d

I also included a wireframe example in which we had a multi-page template with a cta on the left: https://redpen.io/amd84017759655c442

[2018-02-07 18:59] xmatthewx commented on #1029
@kristinashu - we don't currently display the parent page title at the top of child pages. While it would be nice to label the mini-site like that, it'll probably require a chunk of engineering. I'd like to solve the easier problem first and quickly, and then follow up on that. I worry it will confuse what would otherwise be a quick fix and a big improvement.

Your comps look great.

Here's what I

[2018-02-07 21:34] kristinashu commented on #977
@mmmavis since Fellowship pages won't be launching as soon as expected, can this issue become a pull request separate from the fellowship work? This way it can fix the dropdown on the Opportunity pages asap.

[2018-02-07 22:26] xmatthewx commented on #1037
@alanmoo you can use this as a guide.

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/53411/35944839-eb616eaa-0c2b-11e8-9237-1e7d4ca88047.png">

[2018-02-07 22:51] alanmoo opened #1039 "Update campaign template"
The campaign templates need to be polished up.

See https://github.com/mozilla/foundation.mozilla.org/issues/1037#issuecomment-363932335; the petition should be on the right of the content if there's no sidebar navigation.

For now, the sidebar navigation pages should keep the petition below the main content (though I believe there's an aim to change that in the future with better secondary naviga

[2018-02-07 22:51] alanmoo commented on #1039
FYI @taisdesouzalessa @kristinashu

[2018-02-07 23:28] mmmavis commented on #977
@kristinashu yup, I'll have a PR by end of the week.

[2018-02-07 23:43] kristinashu commented on #1029
Okay I've taken another stab at this! Let me know if this makes sense https://redpen.io/p/myec85141a1f7a03a5 I'm aiming for blue sky, best case scenario. If we all think would make for better user experience, then I will talk to Alan to see what is actually possible!

[2018-02-07 23:44] kristinashu commented on #977
Yay! 🥇

[2018-02-07 23:49] taisdesouzalessa commented on #1029
I think it solves the problem :). I like the hierarchy you created there, I think it works very well for the user experience. If we implement that, we may add the instructions to our [Network Site User Guide](https://docs.google.com/document/d/1WGWhfUY2mrQQGm-idP137S4CWdcdizL-UXI6DI_2QeU/edit?usp=sharing) so it is clear to editors.

[2018-02-08 00:27] mmmavis commented on #1035
Related: https://github.com/mozilla/foundation.mozilla.org/issues/1014

[2018-02-08 00:29] mmmavis commented on #1019
Closing!
Work has been merged into the main `fellowships` branch.

[2018-02-08 00:29] #1019 closed

[2018-02-08 18:14] alanmoo commented on #962
Not doing this for now

[2018-02-08 18:14] #962 closed

[2018-02-08 18:35] alanmoo opened #1041 "Remove codeowners, update PR template"
There's too much noise with Codeowners, we should instead have a template like github.com/mozilla/network-pulse for PRs so contributors know who to tag. Take a look at that repo to see what we need done here.

[2018-02-08 19:09] xmatthewx commented on #1029
This looks good. And I like how you've put cms fields above the designers. Very helpful.

I added a comment about the use of Title on subpages in redpen. They're critical for browser nav and history (html title). I also think they're better for sidebar nav since they tend to be shorter and less wordy.

[2018-02-08 23:45] Pomax commented on #1000
Hi @anweshknayak, sorry for the delay: absolutely, let me know if you're still interested!

[2018-02-09 01:42] kristinashu commented on #977
Yay looks good to me @mmmavis but @taisdesouzalessa would know better!

[2018-02-09 01:45] taisdesouzalessa commented on #977
It looks great on desktop, thanks, Mavis!!! :). The only issue we are having is that the menu disappears when we see it on the phone (not responsive mode viewport but in real devices). I remember this is an issue we had in the past with this menu disappearing.

[2018-02-09 02:07] taisdesouzalessa commented on #977
True @kristinashu - I do see when it I am signed in on staging on my phone. If it is just staging maybe it doesn't need to be fixed, for now, I guess?

[2018-02-09 03:09] kristinashu commented on #977
Yeah, let's keep this ticket focused on the menu name update. I believe there are separate tickets for the staging issue.

So just need to fix the two lines of underline issue you spotted!

[2018-02-09 03:26] mmmavis commented on #977
I just filed a PR to fix the multi-line text link bug!

[2018-02-09 05:03] alanmoo commented on #977
Changing the pages to "published" on staging (at the bottom of the edit page view in the admin) should make the nav show up when you're logged out.

[2018-02-09 14:57] alanmoo opened #1044 "Put wagtail branch on a heroku "fork" of production server"
Based on our conversation yesterday, let's get the wagtail branch up and running in a production environment (including a copy of the prod database) so we can make sure everything continues to work smoothly.

[2018-02-09 19:03] mmmavis opened #1045 "Design a loading icon / animation"
On Fellowships minisite's Directory page, we get fellow profile data from Pulse API client-side.

### Problem

When you visit the Directory page, you see a blank page with only the page header "Fellows Directory". There's no loading indication while data from Pulse API is being retrieved. Retrieval time can take a few seconds depends on the connection.

/cc @taisdesouzalessa

[2018-02-09 19:34] sabrinang commented on #986
Design review is complete for build ticket: https://github.com/mozilla/web-lit-core/pull/2
Demo here: https://mozilla.github.io/web-lit-core/

We simplified the highlighted box feature to be on numbered lists only as other options were hacky as [discussed](https://github.com/mozilla/web-lit-core/pull/2#issuecomment-364275574) with Gavin. Please file separate feature requests as needed - closing th

[2018-02-09 19:34] #986 closed

[2018-02-09 19:41] taisdesouzalessa commented on #1045
@xmatthewx you okay if I assign myself this task? I would love to work on it.

[2018-02-09 22:21] alanmoo opened #1047 "Bring clarity to campaign and opportunity page navigation"
In order to make it clearer where a user is on the site, we want to do two things:

1.) On opportunity and campaign pages (if a page level is > 2) the parent's title should be visible at the top of the main content (as a heading). Below it, the page heading should appear (larger).
  1b.) On mobile, the page heading is hidden because the navigation has it.
2.) In the side navigation menu, we should

[2018-02-09 23:01] kristinashu commented on #1047
Here's some background, based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1029

## Navigation problems on Productions right now:
1) When I user lands on a subpage they have no way to orientate themselves (i.e. on a site about Aadhaar, Global Sprint, or Web Lit), particularly on mobile.
2) On mobile, the subpage title is doubled up.

![global sprint home copy 6](https://us

[2018-02-09 23:03] kristinashu commented on #1029
Talked with Alan and he thinks he has found a way to do this! He's still working on the language but ticket for implementation is here https://github.com/mozilla/foundation.mozilla.org/issues/1047

[2018-02-09 23:03] #1029 closed

[2018-02-09 23:18] taisdesouzalessa commented on #1037
One important thing to note: this template uses 10 grid columns (instead of 8 - which is the number of columns the simple column template has).

So, instead of splitting the single column template into 2 columns (which gives us a very narrow view at some viewports):
<img width="601" alt="image" src="https://user-images.githubusercontent.com/22157921/36054338-a7ad16a2-0daa-11e8-8bf3-254e09603567.pn

[2018-02-09 23:55] sabrinang opened #1048 "Create Web Literacy Curriculum Landing Page (on Production)"
### Description

The design and planning ticket is here: https://github.com/mozilla/foundation.mozilla.org/issues/985
We need to implement the Web Literacy Curriculum landing page and subpages on the CMS on Production. Pages need to be copy and pasted over. It is currently on staging https://foundation.mofostaging.net/opportunity/web-literacy/ and we will need to move it to https://foundation.mozi

[2018-02-09 23:56] #985 closed

[2018-02-09 23:57] sabrinang commented on #1048
cc/ @xmatthewx @zee-moz

[2018-02-10 00:06] alanmoo commented on #1037
Makes sense to me. Just to be clear, should the heading span both columns?  I anticipate the petition will regularly have its own CTA in larger text above it

[2018-02-10 00:16] taisdesouzalessa commented on #1037
I think the heading should span both columns because it is the title of the whole section, what do you think?. I am not sure I understood your comment about the CTA, could you send me an example?

[2018-02-10 00:48] mmmavis commented on #977
@taisdesouzalessa https://foundation.mofostaging.net/opportunity/mavis-test-a-long-title-page-hello-there/pudding-jelly-o-sugar-plum-wafer-powder/ ready for review again!

[2018-02-10 03:11] taisdesouzalessa commented on #977
Looks good to me! Tks @mmmavis :). Closing this issue since we are focusing on highlight only here. Feel free to reopen it if needed.

[2018-02-10 03:11] #977 closed

[2018-02-10 03:38] taisdesouzalessa commented on #956
Status: assets created and refined after a feedback round (thanks @sabrinang and @xmatthewx) - all icons/illustrations are placed in the comp now. Links are above (I kept the same link but updated the file).
Next step: finish pictures and export svgs to @mmmavis  \0/

[2018-02-10 03:40] taisdesouzalessa commented on #957
Status: assets created and refined after a feedback round (thanks @sabrinang and @xmatthewx) - all icons/illustrations are placed in the comp now. Links are above (I kept the same link but updated the file).
Next step: finish to replace placeholder pictures and export svgs to Mavis.

[2018-02-10 03:46] taisdesouzalessa commented on #1037
Can I consider this done on design side?

[2018-02-10 04:02] #1037 closed

[2018-02-12 15:54] alanmoo opened #1050 "Spin up new petition for baby monitors"
Create a standard petition form (like equifax) and associated single page campaign on production pointing at the petition.

@gideonthomas and @ScottDowne can you coordinate to make sure you're both familiar with how to do this from start to finish? Ping me if you need help with creating the campaign page itself.

I believe the aim is for this campaign to go live in the first half of this week.

[2018-02-12 16:01] alanmoo opened #1051 "Remove "Sign up" from site header"
The master "Sign up" in the global site header is confusing on opportunity pages, and hasn't been a major factor in list signups. Let's remove it for now, and we can revisit how we use it as we rework the site.

[2018-02-12 18:04] ScottDowne commented on #1050
I added a petition form to the page we have in the foundation site.

[2018-02-12 20:58] #1050 closed

[2018-02-13 17:56] kristinashu commented on #1028
@alanmoo now that https://github.com/mozilla/foundation.mozilla.org/issues/977 is done, can @anweshknayak work on this?

[2018-02-13 19:14] xmatthewx opened #1054 "Update Profile card to separate type from program"
Each profile will have two types of info that connect a person with Mozilla. This was previously one field.

@taisdesouzalessa @kristinashu - We need to separate this in UI for profile cards on both Pulse and Foundation site.

Let's assume that some fields can be blank. Examples:

Name: Aurelia
Type: Staff
Program: _________

Name: Maya
Type: Fellow
Program: Open Web

Name: Katherine
Type: _______

[2018-02-13 20:18] taisdesouzalessa commented on #1051
I like this idea! Interesting to learn it hasn't been a major factor in signups too.

[2018-02-13 21:34] alanmoo commented on #1028
Yes! @anweshknayak if you rebase off master, you'll see that there's been some updates to campaign and landing pages. They both need this update applied.

[2018-02-13 21:35] #1039 closed

[2018-02-13 21:51] kristinashu commented on #1035
[Global Sprint site](https://foundation.mozilla.org/opportunity/global-sprint/for-site-hosts/) is heavily reliant on bulleted lists and option-8 isn't cutting it!
<img width="952" alt="image" src="https://user-images.githubusercontent.com/1068783/36175575-d294ad86-10c4-11e8-9c5a-fd1a877a89cd.png">

cc @alanmoo @gvn

[2018-02-13 22:00] alanmoo opened #1055 "Add banner indicating "draft" pages"
We've got a lot of users logging in to the admin to view pages in progress. I'm concerned that they might forget that a page isn't published yet and try posting a link somewhere when it's ready. We should add a visible banner on the landing pages and campaign pages that show up if a page is in "draft" mode (and thus a user is logged in or else they wouldn't see the page).

It can simply be a banne

[2018-02-13 22:14] mmmavis opened #1056 "Figure out where to store assets for Fellowships minisite"
### Context
Fellowships work is built using Django templates. There are image assets that we need to add to the pages and we are wondering where to store them. In the [repo](https://github.com/mozilla/foundation.mozilla.org/tree/master/source/images)? Or S3 bucket?

Would love to know what you think @cadecairos @gideonthomas @alanmoo @gvn

[2018-02-13 22:16] alanmoo commented on #1055
@gvn Do any of the existing templates reference the draft/published status of the page?

[2018-02-13 22:48] gvn commented on #1056
So far all non-CMS managed images are added to the repo and statically served from Django:

See: https://github.com/mozilla/foundation.mozilla.org/tree/master/source/images

[2018-02-14 02:05] taisdesouzalessa opened #1057 "Assets - Fellowship pages"
Ticket to document where the assets live and share the progress on them.

[2018-02-14 02:38] taisdesouzalessa commented on #1057
@mmmavis the assets in svg are in this folder:
https://drive.google.com/open?id=1wh1omtOurOGpJD1DaC1u9Asx4MyIxh3X

I optimized them to remove useless code but if you want to clean them up even further, feel free to go ahead :).

Next step: to work on the pictures of the site (not the users pictures, the ones that are supporting the messaging on the site) and any other leftover assets (hero image/l

[2018-02-14 02:41] taisdesouzalessa commented on #957
Assets being tracked here: #1057
The work on the UI (structure) of this project is on hold until we have updated content info. Meanwhile I am working on the assets issue to make sure all the placeholders are gone.

[2018-02-14 02:42] taisdesouzalessa commented on #956
Assets being tracked here: #1057
The work on the UI (structure) of this project is on hold until we have updated content info. Meanwhile I am working on the assets issue to make sure all the placeholders are gone.

[2018-02-14 15:57] xmatthewx commented on #1055
related or duplicate of #984

[2018-02-14 20:34] mmmavis commented on #1056
Talked to @alanmoo on stand today, and we decided to put assets on the repo for now (like what we've been doing)

[2018-02-14 20:34] #1056 closed

[2018-02-14 22:18] #1035 closed

[2018-02-14 22:29] #1055 closed

[2018-02-14 22:36] alanmoo commented on #1014
Partial fix was landed in #1058. Gavin, I'll let you make the call if this should stay open or not.

[2018-02-15 01:42] mmmavis commented on #1025
@taisdesouzalessa could you give me a ping once this page is ready for implementation? 😉

[2018-02-15 05:40] anweshknayak commented on #1028
@alanmoo @kristinashu will look into it 😃 thanks

[2018-02-15 14:49] alanmoo opened #1062 "Hide "affiliation" field from front-end"
Copied from https://github.com/mozilla/network-pulse/issues/922:

We need to flesh out these types still, so let's not show them on the front end yet of people card components

[2018-02-15 17:16] taisdesouzalessa commented on #1025
Sure! I don't have any status on this page at the moment. @jessevondoom or @alanmoo if you have any context about the next step for this page, could you please document it here?

[2018-02-15 17:49] alanmoo opened #1065 "Wagtail migration plan"
We've started to evaluate Wagtail as a replacement for Mezzanine. Let's figure out how we can do that. More items will be added along the way, but let's agree that this is the basic approach we're taking

- [x] Create branch of foundation site with Wagtail installed, standing next to Mezzanine at different URLs
- [x] Confirm this branch works in production, make changes if necessary (no custom wag

[2018-02-15 18:16] gideonthomas commented on #1065
just mentioning again here, we shouldn't just add wagtail page models. We should create new apps that will contain new wagtail page models.

[2018-02-15 18:56] xmatthewx opened #1066 "Add event tracking to petition page template"
We're now directing campaign traffic to pages like [/campaigns/equifax-breach/](https://foundation.mozilla.org/campaigns/equifax-breach/). We need to add analytics tracking to better understand conversion, bounces, and traffic that continues onto the site.

We have event tracking set up already on our sign up form, so this can follow that pattern.

Element | Category | Action | Label
-- | -- | --

[2018-02-15 19:05] vojtechmzl commented on #1066
Just flagging that there is an existing issue #1012  form with the sign up form events, which are currently not firing

[2018-02-15 19:44] alanmoo commented on #1065
Yes! I clarified the original post

[2018-02-15 19:54] Pomax commented on #1065
We can nest apps, correct? So we could do something like:
[code]

[2018-02-15 20:17] alanmoo commented on #1065
Highlights are a django model, so they can stay in the same spot, no?

To potentially be phone-call discussed and then reshaped when it has more coherence:
This makes some sense, but I also wonder if we really need to create a new app for every page template within Wagtail, or if we should have a "generic pages" app that houses campaigns and landing pages. Or maybe we create that next to these oth

[2018-02-15 20:51] Pomax commented on #1065
let's not forget s3 images~

[2018-02-15 21:18] gvn commented on #1014
What you did with adding back the bullets for CMS added/wrapped LIs is what I intended to do, so I'm fine with closing this.

[2018-02-15 21:18] #1014 closed

[2018-02-15 21:26] gvn commented on #1065
Can you say more?

[2018-02-15 21:40] Pomax commented on #1065
there is no checkbox for making sure image updates and asset hosting through S3 works with wagtail, the way it currently works with mezzanine. We had to write [our own](https://github.com/Pomax/filebrowser_s3) library to make that work, but I've seen some articles that suggests we won't have to do that again for Wagtail, so making sure we capture it as an essential step's a good idea.

[2018-02-15 21:46] alanmoo commented on #984
Looks like we need a wrapper
[code]

[2018-02-15 21:48] alanmoo commented on #1065
Updated

[2018-02-15 22:22] Pomax commented on #1065
On the google login front, things turned out to be incredibly simple. thanks to wagtail's very sensible way of dealing with page templates. All I had to do was create an override on the login.html file that extends `wagtailadmin/login.html` with an `<a href="{% url "social:begin" "google-oauth2" %}?next=/cms">`, similar to what we already have for Mezzanine. As long as the google clientid+secret a

[2018-02-15 23:15] Pomax commented on #1065
Official docs on wagtailin' with S3: https://wagtail.io/blog/amazon-s3-for-media-files/

[2018-02-16 00:59] mmmavis commented on #1025
@xmatthewx did you mean something like below?

![screenshot-2018-2-15 mozilla foundation 1](https://user-images.githubusercontent.com/2896608/36288752-256f0814-1271-11e8-9594-163ea9df854e.png)

---

@taisdesouzalessa I didn't include the big "Apply Now" block as shown in your Sketch file. That block is shown on multiple pages across the Fellowships site and I assume clicking "Apply Here" would bri

[2018-02-16 01:06] Pomax commented on #1065
I've filed https://github.com/mozilla/foundation.mozilla.org/pull/1071 so we can do a review-app review, although @cadecairos or @gideonthomas may need to set that review app environment to match what we use in production, and hook up a google+ api enabled credential set for gauth (clientid/secret/callbackurl)

[2018-02-16 02:12] taisdesouzalessa commented on #1057
@mmmavis all assets are here, except for the hero image - I will finish it tomorrow:
https://drive.google.com/drive/folders/1SjeZVq2Ut1ASVv9bBz1LRatLiHGGDnqE?usp=sharing

inside this folder you will find 3 folders, and all of them are site assets:
<img width="262" alt="image" src="https://user-images.githubusercontent.com/22157921/36290707-989cc9ca-127b-11e8-945a-4cc7575103ee.png">

Let me know if

[2018-02-16 17:43] kristinashu commented on #1054
Talked with @taisdesouzalessa about this and if we understand you correctly, we think the best way to display this is to separate Type and Program with a `,`  . Keeping them in that order and using the m icon.

Examples:

Aurelia
Staff

Maya
Fellow, Open Web

Katherine
MozFest Speaker

Are we still planning to show the Fellowship year?

Here's a quick mockup for Pulse:
<img width="1015" alt="scree

[2018-02-16 17:50] taisdesouzalessa commented on #1054
I will work on this today, probably in the afternoon. I think showing Fellowship year is important so users can easily find their cohort (one of the goals of the site was to facilitate connections and exchange of info between them).

[2018-02-16 18:02] kristinashu commented on #1047
@gvn let me know if you have any questions!

[2018-02-16 18:16] xmatthewx commented on #1025
@mmmavis yes. That layout is good. You can remove all the content—I don't think it came from the fellowship team. I'd rather have nothing there until they've finalized stuff on their end.

Just have this:
 - title: Be a Fellow
 - paragraph: Apply to be a fellow today!
 - button: Apply

And yes, you can leave out the component.

[2018-02-16 18:42] xmatthewx commented on #1054
This is weirdly complicated.

 1) Year: There's a weird thing with how years are engineered. I can't remember why, but it's not attach to the program name. Until that changes, if a person has more than program (Tech policy, MozFest Speaker) we can't know which happened when. (@alanmoo I know we said this won't matter until 2019, but I think we should expect to fix this before MozFest) We should pr

[2018-02-16 18:59] taisdesouzalessa commented on #1025
Agree with your suggestion @mmmavis :).

@xmatthewx the content of the specific areas (Science, Open Web and so on) came from the fellowship team. The blurb above that (between "be a fellow" and "science") is a placeholder. Just wanted to flag that.

https://docs.google.com/a/mozillafoundation.org/document/d/1iiQ5lTFpAbEvRMYcNx9DqvaTmVjCE-AHwYh4PMtvveg/edit?disco=AAAABo0ZjxM

[2018-02-16 19:10] xmatthewx commented on #1025
Yep. That text suggests that a pserson can apply for any of those four focus areas when you hit the button below, but they can't.

I want to shield @mmmavis from content in flux, carve the simplest path to getting the engineering done while we wait for all the content to be completed.

[2018-02-16 19:15] taisdesouzalessa commented on #1025
Thanks for the context, @xmatthewx! It makes sense to me :)

[2018-02-16 19:21] sabrinang commented on #1048
@anmechung Just following up on this, is the copy for Web Literacy Landing complete on the staging site? Let me know if you help by copying/pasting it over to production. I just want to make sure the content is complete so I can help refine any layout/graphics.

[2018-02-16 21:25] alanmoo commented on #1054
+1 for leaving the display complexity out of this. Assume one "categorization" per person; when we add support for multiple, you can just show the most recent/top one on the admin list.

[2018-02-17 00:26] taisdesouzalessa commented on #1057
@mmmavis I just dropped the last asset (hero image) in our Google Drive folder https://drive.google.com/drive/folders/1SjeZVq2Ut1ASVv9bBz1LRatLiHGGDnqE?usp=sharing

One image has the gradient overlay applied to it and the other doesn't because I am assuming you will apply the overlay via css, like we have in our https://foundation.mozilla.org/ home page.

I did that in code to see how it will look

[2018-02-17 00:26] #1057 closed

[2018-02-17 01:20] taisdesouzalessa commented on #956
Here are the mockups with the latest changes and assets in place:

DESKTOP:
[UI Applications Open ](https://invis.io/ZJ9YTAGEA#/276734814_v2-FellowshipsUI_-_Overview)
[UI Applications Closed](https://invis.io/ZJ9YTAGEA#/276734811_v2-FellowshipsUI_-_Overview_Applications_Closed)

@alanmoo @jessevondoom @xmatthewx I went as I far as I could go with those, please take a look at the latest version and

[2018-02-17 01:22] taisdesouzalessa commented on #957
Closing this ticket - tracking status on UI here:  #956. Feel free to reopen if you think this ticket is still necessary.

[2018-02-17 01:22] #957 closed

[2018-02-19 18:10] mmmavis commented on #1025
Gonna close this ticket since PR has been merged into the main `fellowships` branch. Once copy is ready we can update content on the page as a separate PR!

[2018-02-19 18:10] #1025 closed

[2018-02-20 06:55] anmechung commented on #1048
@sabrinang per slack convo I added clipart images to each of the activities.  Feel free to substitute other images, especially for all the stickerz - there is probably a better graphic than a suitcase with stickers.  Maybe laptop with Mozilla stickers? We are missing description for one activity that will be added tomorrow (Safety First).  Graphics/layout definitely need your refining touch!  Copy

[2018-02-20 07:02] anmechung commented on #1048
@sabrinang How does one navigate to the core curriculum page from the main web literacy page?

[2018-02-20 15:42] xmatthewx commented on #1048
Hi. We've made slight change in how parent/child pages are arranged.

I recommend you move this content over to the production site now instead of on staging ... they can remain as drafts. There's no need to use staging.

When you move things over, @alanmoo can describe to do it for new set up.

[2018-02-20 17:34] kristinashu commented on #1047
So nice to see this! https://foundation.mofostaging.net/opportunity/web-literacy/

We will have to updated all the CMS pages on Production when this gets pushed. @alanmoo @gvn can you teach the designers what we will need to do?

### Here's an WIP list of todos for creating/updating CMS pages:
(No clue if what I'm saying is correct so please review and update this list)

#### For Parent page (i.e.

[2018-02-20 19:29] alanmoo commented on #1047
This has been promoted to production and the database updated appropriately.

[2018-02-20 19:40] kristinashu commented on #1028
Any updates or problems here?

[2018-02-20 19:41] mmmavis opened #1074 "Fellowships - Fellow Profiles"
Two main questions...

## Which fellows do we want to feature on certain pages on the Fellowships minisite?

Pages we want to feature fellows on...

### 4 on `/fellowships`

e.g., (staging link) https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/

### 1 on `/fellowships/science`

e.g., (staging link) https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/science/

### 1 on

[2018-02-20 21:54] mmmavis commented on #1062
Done!

[2018-02-20 21:54] #1062 closed

[2018-02-21 00:08] mmmavis opened #1076 "Remove unnecessary padding class on <Person> component"
https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/components/people/person.jsx#L44

and

https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/components/people/person.jsx#L96

I checked with @taisdesouzalessa on this and we both think`p-3` should be removed. Having this fixed will also enable fellowships pages to reuse this `<Person>` component without extr

[2018-02-21 00:16] sabrinang commented on #1048
@anmechung I moved the content to https://foundation.mozilla.org/opportunity/web-literacy/ and included classes to style all headings and reformatted the alignment of the curriculum image sections. This took longer than I anticipated so I'll be refining the imagery tomorrow but feel free to go in and fill in the rest of the placeholder copy on production.

[2018-02-21 14:27] anweshknayak commented on #1028
@kristinashu Sorry. haven't had the time to look into this :smiley: . I will try to fix this asap.

[2018-02-21 16:05] ScottDowne commented on #1012
An error happens on page load too.

"Loading failed for the <script> with source “https://www.google-analytics.com/analytics.js”."

I think that's likely our issue.

[2018-02-21 16:24] ScottDowne commented on #1012
Yeah something's not making sense. The error I pasted above doesn't fire in chrome, but nothing still seems to work. On donate, I get the pasted error in Firefox, yet things still seemingly work. So I'm probably wrong about the pasted error having anything to do with things, but still kinda curious as to what it is.

[2018-02-21 16:25] xmatthewx commented on #1048
@alanmoo - can you check these new parent-child pages for sub nav?

@sabrinang - i believe we now use an empty parent page, and put parent content in a new child page sorted to the top.

[2018-02-21 16:27] ScottDowne commented on #1012
I also don't see donate being initialized. But it's likely the way we manually load GA might be how we solved that. Still digging.

[2018-02-21 16:47] alanmoo commented on #1048
@sabrinang A side effect of the recent parent-child page structure is that you have to go into the meta data of each of the subpages and remove the `-1` from the URL.

[2018-02-21 17:27] sabrinang commented on #1048
Thanks for the feedback @xmatthewx @alanmoo I have cleared the parent page and removed the -1 suffix from the subpages

[2018-02-21 17:47] ScottDowne commented on #1012
Turns out it was super simple, just needed to update react-ga version: https://github.com/mozilla/foundation.mozilla.org/pull/1078

[2018-02-21 18:17] mmmavis opened #1079 "Site nav and home hero banner are misaligned"
@taisdesouzalessa and I discovered this issue while we were doing some site QA. Site nav and home hero banner are misaligned - they should be a bit wider.

<img src="https://user-images.githubusercontent.com/2896608/36497419-2d1a9014-16f0-11e8-9b98-055e35a90d6c.jpg" width=300>

[2018-02-21 18:27] taisdesouzalessa commented on #1054
After meeting today (Alan, Matthew, Kristina, Taís) we decided to keep the UI as per Kristina's mockup from above, adding the year. Example: Fellow, Open Web 2017 - [Program], [Area] [Year] - feel free to edit this comment if you think something is missing.

[2018-02-21 18:47] taisdesouzalessa commented on #1054
Here is a mockup for Fellows, with the data applied:
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/22157921/36498820-5f14e3f4-16f4-11e8-8bbe-de5623692aef.png">

The Fellowship pages prototype was updated to reflect this decision:
https://invis.io/ZJ9YTAGEA#/276734820_v2-FellowshipsUI_-_Fellows_Directory

[2018-02-21 19:17] #1076 closed

[2018-02-21 22:50] #1079 closed

[2018-02-21 23:02] kristinashu commented on #1054
Looks good @taisdesouzalessa!

Here's the Pulse version with the year added:
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/1068783/36510504-13119190-1718-11e8-920c-62bfb8d9fc08.png">

@xmatthewx is this all you need from us? Could you open the implementation tickets? I'm not sure of all the nuances involve.

[2018-02-21 23:29] kristinashu opened #1083 "Opportunity/Campaign pages: heading inconsistencies"
Pulling this out of the bigger ticket from @sabrinang https://github.com/mozilla/foundation.mozilla.org/issues/1021

Heading styles on Opportunity/Campaign pages need to match the rest of the site. For example, h3 on these Opportunity/Campaign pages should be the same as h3 on the main site (i.e. be Zilla rather than Nunito).

The spacing on Opportunity/Campaign also makes it hard to read and scan

[2018-02-22 00:47] anmechung commented on #1048
@sabrinang I added new activity to Read - Get Friendly with your Browser. Could you add a pic?  Thx

[2018-02-22 01:09] taisdesouzalessa commented on #1045
After @mmmavis  and I did some brainstorming, it seems we were leaning more on what's presented on slides 5 and 6.
https://docs.google.com/presentation/d/13dl3c8Ar2lHf15gmI6lXtSNV0i9L8JI6qUQpI6M1ETw/edit?usp=sharing

[2018-02-22 01:40] taisdesouzalessa opened #1084 "Mobile Menu: Fellowship Site"
## Context
When this page was designed, this was the expected behavior ("Menu" word would show up in the Nav and "Fellowships would be available to be clicked) ":
![mobile-menu-mockup](https://user-images.githubusercontent.com/22157921/36515215-1125e66e-172d-11e8-86b5-fbf32e769434.gif)

The current live page shows the "Fellowships" highlighted instead of "Menu", which can be confusing for users si

[2018-02-22 05:05] anmechung commented on #1048
@sabrinang I replaced placeholder copy in Additional Resources.  A few things:
- Do you have art/design/expression/ activities that could be added?
- This is where I think we should make a link to the videos https://www.kollaborate.tv/link?id=5970c622a244d unless you have other ideas.  I believe that Jesse was looking for the credentials to Youtube site, but not sure if he located them yet.
- Tips

[2018-02-22 05:07] anmechung commented on #1048
@sabrinang A thought on the tips: I could turn into a blog and link to it?

[2018-02-22 16:03] xmatthewx commented on #1084
@taisdesouzalessa - where is the issue where we tackled this recently for cms authored pages? We should align the interaction patterns.

@mmmavis - hold off on making any changes just yet.

[2018-02-22 16:06] xmatthewx commented on #1045
I should have thought of this before, but we have a loading icon on Pulse already. It works well and I think it'll get the job done for this. Any reason to not use that?

[2018-02-22 17:26] #1051 closed

[2018-02-22 17:35] taisdesouzalessa commented on #1084
@xmatthewx I think you may be referring to this issue here? https://github.com/mozilla/foundation.mozilla.org/issues/977 - let me know if it is another one and I'll try to find it :)

If the assumption above is true, that issue was related to displaying the item on the top of the menu once users tap it (which happens on this model from this ticket). In that ticket, we solved the mobile view for th

[2018-02-22 17:46] taisdesouzalessa commented on #1045
I think we did that to align with the foundation site aesthetics (green, with the dots). It was just a touch to make it a little bit more aligned with the visual of the site. Does that sound right to you @mmmavis?

If we don't have the time for this now, could we add the "enhancement" label to it so we tackle this later on?

[2018-02-22 17:54] xmatthewx commented on #1045
We do need some kind of indicator so users aren't confused now. I would just keep the task as simple as possible.

[2018-02-22 17:57] taisdesouzalessa commented on #1045
Are you suggesting we use the same as Pulse for now? If so, I am cool with that.

[2018-02-22 17:57] alanmoo commented on #1083
This might be work that has to be re-done once we move to Wagtail, so we probably shouldn't sink too much time into it unless there's big wins that can be made with low effort. This feels like something for @gvn's plate, with @Pomax on support with respect to what approach we might take with Wagtail/Streamfield

[2018-02-22 18:06] kristinashu commented on #1051
Thanks for doing this! Global Sprint peeps just flagged this again today.

[2018-02-22 18:20] xmatthewx commented on #1084
I suggest that we focus on removing the underline the parent page when on a subpage, and not worry about the display of Fellowship instead of Menu. Fellowship is the site section, so it feels okay and not crazy to me.

[2018-02-22 18:20] xmatthewx commented on #1047
There are a couple differences between the design and the build that hamper usability.

Should we open a new ticket @kristinashu with a checklist to update? Related to this, we should look at how we are using this subnav on the fellowship pages, and decide on how it is similar / different. Is it above or below the header?

<img width="711" alt="image" src="https://user-images.githubusercontent.com

[2018-02-22 19:35] #1027 closed

[2018-02-22 20:17] xmatthewx commented on #1045
You two can decide if that keeps it simple and it does the job.

[2018-02-22 21:15] gvn commented on #1047
This is getting a little long, so if you want to open a QA ticket that'd be rad!

[2018-02-22 21:18] #984 closed

[2018-02-22 21:19] #1044 closed

[2018-02-22 21:25] alanmoo opened #1088 "Generate sitemap for SEO"
Once we've got wagtail up and running, we should generate a sitemap so pages not in the navigation have better visibility on search engines.

[2018-02-22 22:19] #1041 closed

[2018-02-22 22:29] annmarie123 commented on #1074
4 fellow front page: An Me, Amba, Linet, Orlando.
1 science - Chris
Open Web - Freddy
1 media - Hang
1 tech policy - Gigi Sohn
Support - Host Org Photo

[2018-02-22 22:35] annmarie123 commented on #1074
Also, all film footage links, photo content, and mozfellow bios can be found in this drive: https://drive.google.com/drive/folders/0B6_ZVUFx2WHHMFEwSlRCZDZIZjg

I am currently updating the Mozilla Bios with their project updates from a couple weeks ago (can comment when finally updated: https://docs.google.com/document/d/1_NUF0dMWsgvsPuOLCA1qFnYANadKaiO6123_suTjfYU/edit

Social Media + Linkedin Li

[2018-02-22 23:27] alanmoo commented on #1012
Looks like this has been addressed on production by Scott's PR.

[2018-02-22 23:27] #1012 closed

[2018-02-22 23:28] alanmoo commented on #1066
The form sign up events appear to now work properly, so we can add this tracking.

[2018-02-23 19:36] gvn commented on #1066
I'm seeing an event wired for form submit already:

[code]

I think it only fires when the form is successfully validated...do you want it to always fire when a user clicks on the button even if the form is invalid?

Also...I don't see any social share buttons. Should I?

[2018-02-23 20:51] kristinashu opened #1090 "Subnav UI fixes on Opportunity/Campaign"
Follow up from: Bring clarity to campaign and opportunity page navigation #1047

There are a couple differences between the design and the build that hamper usability.

#### Subnav on opportunity/campaign pages, please:
- [x] Reduce vertical space around the mini-site title
- [x] Reduce width of dropdown box

<img width="711" alt="image" src="https://user-images.githubusercontent.com/53411/3655556

[2018-02-23 20:52] kristinashu commented on #1047
I have opened a new ticket https://github.com/mozilla/foundation.mozilla.org/issues/1090.
I will add comps and context to that ticket then assign to engineering.

[2018-02-23 20:52] #1047 closed

[2018-02-23 22:33] alanmoo commented on #1066
There should be one social share button right now in `petition.jsx`, and the rest are coming as part of #1038

[2018-02-23 23:52] taisdesouzalessa opened #1091 "[QA Fellowship mini-site] Lack of highlight on mobile menu"
**Issue:**
On mobile (iPhone 7, Safari) the selected top menu item is not highlighted in yellow.

![image](https://user-images.githubusercontent.com/22157921/36622282-372d60d2-18b1-11e8-99ac-4ba0ff14b12a.png)

[2018-02-23 23:56] taisdesouzalessa opened #1092 "[QA Fellowship mini-site] missing icon on mobile view"
Issue:
In mobile view (iPhone7, Safari) the "info icon" is not displayed in the [Fellowship homepage](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/):
![image](https://user-images.githubusercontent.com/22157921/36622433-f62cdd64-18b1-11e8-92dd-cf3517bc3736.png)

[2018-02-24 00:17] taisdesouzalessa opened #1094 "[QA Fellowship mini-site] Paragraph: margin-bottom"
Issue:
This issue is a nice to have, not a must-have.

In all pages in which we have a paragraph followed by the gradient bar, there is an extra space on the bottom of the paragraph that makes the spacing between those 2 elements too big and inconsistent with other spacings (yellow- highlight). That happens because the <p> has a margin-bottom of 1rem by default.

Could we make the margin-bottom fo

[2018-02-24 00:18] mmmavis commented on #1092
@gvn the missing icon is from font-awesome. Do you think it's worth loading the entire font-awesome CSS given that this is the ONLY font-awesome icon we use on the foundation site? If not I guess we can just export that icon into SVG.

[2018-02-24 00:24] xmatthewx commented on #1066
the social buttons appear after submitting the petition. @ScottDowne is revising that now.

good question. i think that's okay. this will fire if it passes validation, but server fails? later, we should consider events for validation failure and server failure, because we currently depend on a human to notice and report it.

[2018-02-24 00:34] taisdesouzalessa opened #1095 "[QA Fellowship mini-site] testimonial bottom spacing + lines"
Issue:

On the pages we have testimonials, is it possible to remove the grey line and margin-bottom of the element (mb-5) so we decrease the size of the spacing and remove the unnecessary line?

It happens on: Science and Open Web pages

<img width="497" alt="image" src="https://user-images.githubusercontent.com/22157921/36623136-f411fb86-18b6-11e8-99de-650ef6beff7f.png">

<img width="338" alt="im

[2018-02-24 00:45] mmmavis commented on #1094
I'm leaning towards keeping the bottom margin there so all `<p>` have the same stylings across our site. We _could_ remove bottom margin for specific paragraph `<p>` but that'll lead us writing a ton of custom CSS(or applying special `class`) for every special case of `<p>` on the site, which is not ideal.

[2018-02-24 00:45] taisdesouzalessa opened #1096 "[QA Fellowship mini-site] Replace svg in "Support Page""
Issue:
Replace this icon here ([Support the Program](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/support/) page):
<img width="311" alt="image" src="https://user-images.githubusercontent.com/22157921/36623362-c452589e-18b8-11e8-8cac-3fb0b8b207c4.png">

Updated version:
<img width="165" alt="image" src="https://user-images.githubusercontent.com/22157921/36623366-d55fb5c8-18b8-11

[2018-02-24 00:50] mmmavis commented on #1094
If we are talking about "the paragraph followed by the gradient bar" *only*, I can take a look and see what I can do there. 😉

[2018-02-24 00:50] taisdesouzalessa opened #1097 "[QA Fellowship mini-site] Testimonial is narrower in mobile than expected in Support Page"
Issue: for some reason, the testimonial card doesn't go all the way to the side margins ([Support the Program](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/support/) page):

<img width="322" alt="image" src="https://user-images.githubusercontent.com/22157921/36623418-71b2717c-18b9-11e8-915f-758f0bb5c3e4.png">

[2018-02-24 00:59] taisdesouzalessa commented on #1094
Oh yeah! I meant followed by a gradient bar only :)  The others are fine, we need that space. Tksss!!

[2018-02-24 01:12] mmmavis commented on #1094
@taisdesouzalessa I did a quick check. Short answer is "let's leave it as is".

Because of the section layout we have on these pages, there isn't a clean way to do this that would work for both CMS-based and non-CMS based pages. I _could_ just manually add `mb-0` `class` to every last paragraph before a `<hr>` but 1) this requires manual work 2) we'll have to do this again for every future page th

[2018-02-24 01:20] taisdesouzalessa commented on #1094
Cool, Thanks for the context here, Mavis!
I guess we can address this issue in the future as a more systemic way as we polish the components :). Closing the issue.

[2018-02-24 01:20] #1094 closed

[2018-02-24 17:18] gideonthomas commented on #773
This is done?

[2018-02-24 17:29] gideonthomas opened #1098 "Add share buttons to petitions admin page"
With https://github.com/mozilla/foundation.mozilla.org/pull/1038 landing, we need to add fields for links to share buttons in the petitions model.

@alanmoo how do we want to deal with the existing share link field in the admin? We can leave it as it is (might be confusing if others use it) or we can disable the field so that no new share links can be added but existing ones will work.

[2018-02-24 17:36] gideonthomas opened #1099 "Figure out how to remove the `unsafe-inline` CSP rule for scripts"
We either set it for django admin or for mezzanine, not sure. But this CSP rule is also being set for user facing pages (e.g. petitions, opportunities, etc.) which isn't great. Let's try to figure out if we can remove it entirely or at least isolate them to the features that actually need it.

**Deliverable 1**: Research output of what happens when we remove it and list of pages that it is require

[2018-02-24 18:11] alanmoo commented on #1098
Disable it in the admin

[2018-02-24 18:12] #773 closed

[2018-02-26 16:57] ScottDowne commented on #1066
@gvn to answer your first question, I think sending the event on success is probably more useful, so if that's already there this is probably now a super low priority.

However, in the past, I have sent events if the form fails and with the type of validation error they got, but I don't think it's ever been useful? I normally would just consult vojtech on what events he wants.

[2018-02-26 17:44] taisdesouzalessa commented on #1092
I am on it! Will do that today and post the svg here :). Thanks, team.

[2018-02-26 18:24] xmatthewx opened #1100 "Fallback style for news with no image"
On the homepage, if the left news item has no image, it looks a bit broken. It would be good to have a fallback background color or gradient.

@gvn will take a look for requirements.

@sabrinang or @kristinashu can help with design of asset.

[2018-02-26 18:37] gvn commented on #1100
There currently is no thumbnail specified for the featured news item on the homepage, thus the missing image.

For a default we can use any image format, but I'd recommend SVG if it's vector based or JPG if it's a photo.

[2018-02-26 19:45] alanmoo commented on #1098
Test test. Ignore me.

[2018-02-26 19:46] alanmoo opened #1101 "Test issue with slack"
Testing testing

[2018-02-26 19:48] #1101 closed

[2018-02-26 23:29] alanmoo opened #1104 "Draft banner appears on non-CMS pages"
I noticed in the review app for the fellowships site, https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/ the "draft" banner appears even though these pages aren't managed by the CMS. My guess is the variable they're checking for is indeed not present, so they show the banner. Perhaps we need to check for a different variable that Mezzanine attaches to the page?

[2018-02-26 23:49] taisdesouzalessa commented on #1092
@mmmavis here is the svg for this icon:
<img width="86" alt="image" src="https://user-images.githubusercontent.com/22157921/36702569-827bf6cc-1b0c-11e8-9e05-a18146873d30.png">

[info-icon.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/1760681/info-icon.svg.zip)

[2018-02-27 00:01] alanmoo opened #1106 "Add placeholder image for fellows without a profile image"
While all fellows should have an image, this is a useful fallback to have so things don't break if there isn't one or something goes wrong. @taisdesouzalessa do we have an image we can use?

[2018-02-27 00:03] sabrinang commented on #1048
@anmechung For copy, I think it’s a good suggestion to move the long tips list to a blog post and link it below the title **Tips from Web Literacy Leaders**. I also suggest that we link https://medium.com/read-write-participate/introducing-mozillas-web-literacy-leaders-c7f230d0e4dd below the title as well instead of part of the title (it’s a bit unconventional and not obvious that there is a link

[2018-02-27 00:42] kristinashu commented on #1106
There is a ticket open to design Pulse avatars https://github.com/mozilla/network-pulse/issues/881

Grey circle should be fine for now though, fallback avatar design shouldn't be a blocker.

[2018-02-27 00:55] taisdesouzalessa commented on #1106
@kristinashu thanks for the context here :).  Do you know when the Pulse avatar placeholder is scheduled to happen? It is because I wanted to use the same placeholder in the Fellowship Directory as well. If it won't happen soon, I would rather create a quick placeholder for the Fellowship site for now and then, once we have Pulse ready, we can use that one.

Since profiles will show up side by sid

[2018-02-27 00:57] kristinashu commented on #1106
Could what you design for Fellows also work for Pulse, or is there a reason to make them different?

If you are up for designing one please do so!

[2018-02-27 01:04] taisdesouzalessa commented on #1106
No reason to make them different, in my opinion. Since I am not the designer for Pulse, I didn't want to interfere with that...haha. I was focused on the Fellowship site, which is my current are of attention. Let's do just one then, as you suggested, it makes more sense. @alanmoo when do you need this task done? I may be able to work on it on Friday (March 2nd). Does that work?

[2018-02-27 04:55] alanmoo commented on #1106
That's fine; @mmmavis let's put in a grey box for now though so it takes up space.

[2018-02-27 04:57] #1104 closed

[2018-02-27 15:12] annmarie123 commented on #1074
@mmmavis
All the info you requested including pictures of the fellows for the fellows spotlight can be found here: https://docs.google.com/document/d/1a2eS4UZxq-_0b06VlTpj9y_8eTORwFl9-uJgn3qiE3o/edit?usp=sharing

[2018-02-27 16:08] alanmoo opened #1109 "Add featured fellows to fellowship homepage"
From https://docs.google.com/document/d/1a2eS4UZxq-_0b06VlTpj9y_8eTORwFl9-uJgn3qiE3o/edit#heading=h.c3j8ww1sgwj8.

This involves creating Pulse profiles for them if necessary, adding the content from the doc, and then pulling that content into the foundation site (even if it's a static import of the copy/pasted JSON to start)

[2018-02-27 17:23] taisdesouzalessa commented on #1074
@annmarie123 - is it okay if we replace some of those pictures, using the ones from this folder instead? https://drive.google.com/open?id=11Tr-49LVoZrzPkFhrMQQEfgWskIRrpiI

[2018-02-27 18:16] annmarie123 commented on #1074
@taisdesouzalessa YES PLEASE REPLACE THEM!

[2018-02-27 22:05] #1066 closed

[2018-02-27 22:41] taisdesouzalessa opened #1114 "[Fellowship Mini Site] Placeholder Image"
### Issue
Some of our Fellows don't have a profile picture and the site looks broken when all the Fellows are seen side by side in the directory page:
<img width="815" alt="image" src="https://user-images.githubusercontent.com/22157921/36759376-023f944e-1bcc-11e8-8c18-1899843f2aa2.png">

### Solution
To have a placeholder image to accommodate those cases, so we give all Fellows the opportunity to

[2018-02-27 23:06] taisdesouzalessa commented on #1114
Here is the proposed placeholder:

Fellowship Mini Site:
<img width="865" alt="image" src="https://user-images.githubusercontent.com/22157921/36760319-30775d08-1bcf-11e8-9b0b-9835c2d96911.png">

Pulse:
<img width="834" alt="image" src="https://user-images.githubusercontent.com/22157921/36760376-6c046636-1bcf-11e8-8e05-bf7d3b966bcb.png">

This is just a quick design fix, for now, we could do studie

[2018-02-28 00:01] kristinashu commented on #1114
Perfect @taisdesouzalessa!

[2018-02-28 01:22] xmatthewx commented on #1114
😀

[2018-02-28 02:20] taisdesouzalessa opened #1115 "[Fellowship mini site] Replace content"
@mmmavis @jessevondoom here is the mockup with the new content from [this doc](https://docs.google.com/document/d/1irQDK5IrRRuBa_Bq4sVOkaD9iHIYxD-cPyUGY_UOuY8/edit?usp=sharing)

https://invis.io/ZJ9YTAGEA#/281947967_v2-FellowshipsUI_-_Overview

I have some questions related to that:
1. Are we keeping the box for applications open/closed? If not, let me know and I will remove from the comp.
<img wi

[2018-02-28 02:22] taisdesouzalessa opened #1116 "[Fellowship mini site] New "Apply Now" Page"
As per talk with @jessevondoom and @mmmavis, we are removing the "Learn More" from the apply page.

Here is the comp:
https://invis.io/ZJ9YTAGEA#/276734812_v2-FellowshipsUI_-_Apply-Applications_Open

 Jesse, please let us know if you are okay with this page as is now or if you need any changes :).

[2018-02-28 02:25] taisdesouzalessa opened #1117 "[Fellowship mini site] "Applications Closed" Page"
### Issue
If applications are closed, users were supposed to see the page below. However, we don't have copy for that. @jessevondoom do you think we could have some copy for this section? Should I ask Amy?

cc: @mmmavis

https://invis.io/ZJ9YTAGEA#/276734813_v2-FellowshipsUI_-_Apply-Applications_Closed

<img width="666" alt="image" src="https://user-images.githubusercontent.com/22157921/36766584-5

[2018-02-28 07:41] mmmavis commented on #1116
I'm trying to remove any section that has broken links or placeholder (lorem) copy so we can ship this soon - I've already made some changes to fellowships pages right after our call today: https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/apply/

I removed "learn more" links as well as the bottom 2 CTA blocks

- "Apply Here" - I'm not sure where we are linking users to
- "Contact U

[2018-02-28 07:45] mmmavis commented on #1109
Done. I decided to just hardcode all 4 profiles content in because currently only one of these four featured fellows have profile on Pulse... and we aren't able to create profiles for the other 3 due to tech difficulties (in Pulse API context: they are "creators" that don't have a profile)

[2018-02-28 07:45] #1109 closed

[2018-02-28 07:50] mmmavis commented on #1114
Looks great!

[2018-02-28 07:53] mmmavis commented on #1117
Ummm... I wouldn't worry about content for the "application closed" version of this page yet since it will probably be weeks or months until we show this version of page to public. True?

[2018-02-28 15:09] KevZawacki commented on #1115
Hi @taisdesouzalessa,

The page looks fantastic! Re: 2) Agreed. Let's change the copy to simply "Meet the Mozilla Fellows."

And, one small tweak to the copy beneath the header "Fellows keep artificial intelligence accountable": Can you remove the word "Conducted" in the last sentence? Thanks!

[2018-02-28 17:11] xmatthewx commented on #1114
@taisdesouzalessa when you have the asset ready, please share in pulse repo as well: https://github.com/mozilla/network-pulse/issues/881

[2018-02-28 17:32] ScottDowne opened #1118 "Twitter share for campaign pages does not have a lot of context"
If you share a campaign page on twitter, you see this:

![twitter-share](https://user-images.githubusercontent.com/197334/36802577-4f812300-1c83-11e8-8ff9-ea8f02afdd4d.png)

We need to figure out what we're missing here. Maybe a description? I dunno.

@xmatthewx

[2018-02-28 17:39] taisdesouzalessa commented on #1114
@mmmavis here is the asset to be used as a placeholder for those who don't have a profile picture:

![profile-placeholder](https://user-images.githubusercontent.com/22157921/36802673-6ea7b366-1c6a-11e8-9e4d-e00a840c9f66.jpg)

[2018-02-28 17:51] jessevondoom commented on #1115
How do you feel about keeping the "Applications are open" box and just changing the copy to say "Ready to become a Mozilla fellow? Apply today." — let's us keep the call-out but not worry about the close date.

[2018-02-28 17:54] jessevondoom commented on #1117
Yeah this is far off. Let's make a note that we'll need copy but I wouldn't even think about this right now.

[2018-02-28 18:11] taisdesouzalessa commented on #1116
Hey @mmmavis the "Apply Here" button is important because it takes users to the Fluxx form. Currently, it is the only place that takes users to the application form so I would keep it in the interface (even if we don't have a link yet) so we won't forget about this important detail.

Also, I think we should keep the "contact us" - if I am not mistaken it will take users to send an email to fellows

[2018-02-28 18:35] auremoser commented on #1116
I'm o.k. with contact us --> fellowships@mozillafoundation.org

+1 that'll probably be the link, thanks Tais.

[2018-02-28 18:57] taisdesouzalessa opened #1120 "[Fellowship mini site] new 'homepage' content implementation"
@mmmavis - this page is ready to ship!

InVision file: https://invis.io/ZJ9YTAGEA#/281947967_v2-FellowshipsUI_-_Overview
Doc file: [this doc](https://docs.google.com/document/d/1irQDK5IrRRuBa_Bq4sVOkaD9iHIYxD-cPyUGY_UOuY8/edit?usp=sharing)

here are the assets:
1. Group picture has changed dimensions "Why become a Fellow" (it was a square, now it is a rectangle to accommodate new content). [Link t

[2018-02-28 18:58] taisdesouzalessa commented on #1115
Implementation ticket:  #1120

[2018-02-28 18:58] #1115 closed

[2018-02-28 20:19] mmmavis commented on #1114
Done! https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/

[2018-02-28 20:19] #1114 closed

[2018-02-28 20:20] mmmavis commented on #1106
Done! Fix has been merged into the main fellowships work branch `fellowships`  https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/

[2018-02-28 20:20] #1106 closed

[2018-02-28 20:23] xmatthewx commented on #1118
So page template needs another OG tag?

CMS generates a description meta field that authors can edit. We could use that, though it will probably rarely be useful text. We should consider a specific share field for authors, maybe using meta description as fallback.

[2018-02-28 20:46] xmatthewx commented on #1054
I started a ticket for frontend. It'll need some attention before we begin, but we're not ready to implement this just yet. https://github.com/mozilla/network-pulse/issues/929

[2018-02-28 20:46] #1054 closed

[2018-02-28 20:53] ScottDowne commented on #1118
@xmatthewx So I'm not exactly sure how we want to make the share better, or what's even possible, but yeah, I'm guessing OG tags are part of this.

I don't use Twitter ever, so not sure what people normally expect to see in a twitter share.

[2018-03-01 00:53] mmmavis commented on #1097
As per discussion with Matthew and Tais yesterday - we have decided to remove this section from page. We'll add it back once we have all the content we need for that section (fellow meta + quote).

[2018-03-01 00:53] #1097 closed

[2018-03-01 00:55] mmmavis commented on #1095
As per discussion with @xmatthewx and @taisdesouzalessa yesterday - we have decided to remove  testimonial section from pages. We'll add them back once we have all the content we need for that section (fellow meta + quote).

[2018-03-01 00:55] #1095 closed

[2018-03-01 00:55] mmmavis commented on #1092
Done!

[2018-03-01 00:55] #1092 closed

[2018-03-01 01:08] mmmavis commented on #1116
@jessevondoom can you help provide copy for the intro paragraph? Or should we just remove it for now?

[2018-03-01 01:10] mmmavis commented on #1084
Is this ready for implementation? @taisdesouzalessa @xmatthewx

[2018-03-01 01:13] mmmavis commented on #1045
Done! Fix has been merged into the main fellowships work branch "`fellowships`". See loading icon in action: https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/

[2018-03-01 01:13] #1045 closed

[2018-03-01 01:15] mmmavis commented on #956
Followup tickets have been filed and fixed to address issues in individual page/section.

Closing this ticket now.

[2018-03-01 01:15] #956 closed

[2018-03-01 01:21] mmmavis commented on #955
We have dynamic directory working already so I'm closing this ticket.

See this review app: https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/

Profiles are pulled from Pulse API directly. To make someone show on the directory page, make sure his/her Pulse profile has the following meta set (we can do this on Pulse backend's admin interface)

- `profile_type` is set to `fe

[2018-03-01 01:21] #955 closed

[2018-03-01 02:30] auremoser commented on #955
Whoo, looks slick, what's the best way to add a person (I notice Joey K. Lee @joeyklee is not listed among [Science Fellows 2015](https://science.mozilla.org/programs/fellowships/fellows)) but I'm happy to add him.
* Do I have access to the `profile_type`/`program_type` entries that @mmmavis mentions?
* Should I just ask him to make a profile again?

What's the best way to do this from the above/o

[2018-03-01 17:27] xmatthewx commented on #955
Yes, staff will have access to add and update profiles for fellows. As I mentioned in slack, there's a hiccup we're squashing now that will make it much simpler. More soon....

[2018-03-01 18:28] taisdesouzalessa opened #1124 "[Fellowship mini site] Cropped hero image (responsive view)"
### Issue
In some views of the site, the hero image is cropped:
<img width="1139" alt="image" src="https://user-images.githubusercontent.com/22157921/36862255-1f56f8e0-1d3b-11e8-9155-3ad32940b522.png">

@mmmavis I wonder if we could have a fix for that. It is not urgent, you and I could work together to figure out viable alternatives to this issue later on, what do you think?

@xmatthewx tagging y

[2018-03-01 18:48] mmmavis commented on #1124
I can write some custom CSS to make this look better.

It's very hard to have this gradient + line art + photo hero banner look good on *all* screen sizes without adding a ton of dirty CSS code. The horizontal lines and photo combo is making this troublesome to implementation. (just a note for future reference)

[2018-03-01 19:28] gvn commented on #1028
@anweshknayak Are you still planning on doing this?

[2018-03-01 20:29] jessevondoom commented on #1116
It's not the best bit of copy I've ever written, but here's a rough stab at copy for the top of the application page. @KevZawacki do you have some suggestions/clean up?

[2018-03-01 21:12] KevZawacki commented on #1116
@jessevondoom This is copy that appears on the fluxx page and provides context?

We could re-purpose copy from the Fellowship site. So:

_Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. During their tenure, Fellows use their skill sets — in technology, in advocacy, in law — to design products, run campaigns, influence po

[2018-03-01 22:35] mmmavis commented on #1124
Fixed.

[2018-03-01 22:35] #1124 closed

[2018-03-01 22:36] mmmavis commented on #1120
Updated.

[2018-03-01 22:36] #1120 closed

[2018-03-01 22:40] mmmavis commented on #1116
@KevZawacki the placeholder content we would like to replace is on the Apply page of the Fellowships minisite. I've attached a screen cap and color the placeholder in red.

<img width="1127" alt="screen shot 2018-03-01 at 2 39 18 pm" src="https://user-images.githubusercontent.com/2896608/36873785-6125dbd8-1d5e-11e8-9f5e-015a8fc2a3fd.png">

[2018-03-02 00:27] mmmavis opened #1128 "[Fellowship mini site] "see work" link should link to fellow's Pulse profile"
On Fellowships site's Directory page...
  "see work" link should link to fellow's Pulse profile

<img width="568" alt="screen shot 2018-03-01 at 4 26 10 pm" src="https://user-images.githubusercontent.com/2896608/36877090-4cc4c5b4-1d6d-11e8-997e-24d301ecd490.png">

[2018-03-02 01:27] sabrinang opened #1130 "Web Literacy - Interactive Web Lit Map"
We previously have the interactive web literacy map on https://learning.mozilla.org/en-US/web-literacy. @anmechung is inquiring if this can be added to https://foundation.mozilla.org/opportunity/web-literacy/

This is outside the scope of the CMS capabilities and filing this ticket for discussion as I am unsure how it was built and if it is compatible to be moved to the foundation site or when we

[2018-03-02 13:59] KevZawacki commented on #1116
@mmmavis Ah, gotcha. Thanks! In that case, I propose:

Mozilla Fellowships provide resources, tools, community and amplification to those building a more ​humane​ ​digital​ ​world. During their tenure, Fellows use their skill sets — in technology, in advocacy, in law — to lay the groundwork for a more open and inclusive internet. Mozilla Fellows hail from a range of disciplines and geographies, an

[2018-03-02 14:34] xmatthewx commented on #1130
This will have to be considered along with all the other migration that Sydette is leading, and that's going to take time. I'm guessing it's unlikely that we will have the engineering resources to rebuild and maintain this, but maybe there's a way we can archive it.

[2018-03-02 16:45] anmechung opened #1131 "Where to upload videos for web literacy core curriculum"
@jessevondoom What's the status of the Youtube channel to upload the videos that accompany the web literacy core curriculum? I know you've been on the lookout for this for awhile - thus, what alternatives would you suggest if  credentials for the Youtube channel can't be located? @zee-moz @sabrinang @xmatthewx

[2018-03-02 19:15] taisdesouzalessa commented on #1116
@mmmavis could we add the yellow button back and the "Contact Us" link (that will link to fellowships@mozillafoundation.org)?

[2018-03-02 19:17] mmmavis commented on #1116
@taisdesouzalessa yup I got a PR up for you to review! https://github.com/mozilla/foundation.mozilla.org/pull/1127

[2018-03-02 19:22] taisdesouzalessa opened #1132 "[Fellowship Mini Site] Checklist of things that needs to be done (user experience POV)"
Here is a list of things that we could do to make the user experience of the site even better. I added a label on the side of each one so we know which ones are the most urgent issues. This is a master list, I'll create individual tickets to each one of them:

- [ ] 1. Once we have all the Pulse Profiles ready, we should link them to the names of each person in our[ Fellowship home page](https://f

[2018-03-02 19:42] taisdesouzalessa commented on #1116
Issue has been addressed. Closing this ticket. Feel free to reopen it if needed.

[2018-03-02 19:42] #1116 closed

[2018-03-02 20:08] xmatthewx commented on #1132
Thanks @taisdesouzalessa. Can you do me a favor? Let's set up a few GH Projects to organize and track these. Below are my proposed issue titles.

Final Launch Prep [project board]
 - 7 - Remove "senior fellows" as filter item in directory
 - 9 - Add link to Fluxx application
 - Please add any items in the [gdoc list](https://docs.google.com/document/d/1jaMBKfSOqrJ5I5XDGGq81D7sKvVM0FTBk67NQuv1O8k/e

[2018-03-02 20:31] taisdesouzalessa opened #1133 "[Fellowship Mini Site] Remove "Senior Fellow" as filter item in directory"
### Issue:
We currently have "Senior Fellow" as an area in the directory filter but no "Senior Fellow" category below.
<img width="745" alt="image" src="https://user-images.githubusercontent.com/22157921/36920461-97f23e74-1e15-11e8-803c-ae731ac8fafb.png">

### Solution:
The team decided to remove the "Senior Fellow" label for now.

cc: @jessevondoom

[2018-03-02 20:34] mmmavis commented on #1128
Fixed.

[2018-03-02 20:34] #1128 closed

[2018-03-02 20:38] mmmavis commented on #1133
@taisdesouzalessa

This is because we have no pulse profiles marked as "senior fellows" on the backend. Do you know if we are planning to enter any on Pulse backend? If not, I'll remove the filter from the Fellowship page so it doesn't attempt to fetch senior fellow profiles from Pulse API.

[2018-03-02 20:41] taisdesouzalessa opened #1134 "[Fellowship Mini Site] Add link to Fluxx application"
### Issue
In our "[Apply to Be a Fellow](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/apply/)" page we have a button ("Apply to Be a Fellow Today") that is currently not working as expected because we need the Fluxx link
<img width="861" alt="image" src="https://user-images.githubusercontent.com/22157921/36920601-038d2842-1e16-11e8-8faf-48c3a983c7ee.png">

### Solution
Add the

[2018-03-02 20:51] taisdesouzalessa opened #1135 "[Fellowships Mini Site] Draft and plan "Application closed content""
### Issue
Once our applications close, we should have a plan in place to:
1. Replace the banner on the Fellowships home page
2. Have a new content on "fellowships/apply" page

<img width="967" alt="image" src="https://user-images.githubusercontent.com/22157921/36921140-187f01ec-1e18-11e8-85e5-a23896d86d1e.png">

InVision mockups for those stages:
[Item 1](https://invis.io/ZJ9YTAGEA#/276734811_v2-F

[2018-03-02 20:57] taisdesouzalessa opened #1136 "[Fellowship Mini Site] link Pulse profiles to names (instead of Twitter Profiles)"
### Issue
we currently have a mix of Pulse and Twitter profiles links in our [Fellowship Home Page:](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/)
<img width="676" alt="image" src="https://user-images.githubusercontent.com/22157921/36921405-1fcada24-1e19-11e8-865c-d7c46ba443a3.png">

Ideally, once we have all Pulse Profiles up, we would link all names to Pulse pages.

[2018-03-02 20:58] xmatthewx opened #1137 "Design landing pages for Participate & Initiatives"
Consider phased enhancement on current Get Involved and Upcoming pages and Get Involved homepage content. Consider real existing content vs ideal future content.

Include design for super-MVP List view for “more” participate & “more” initiatives [/participate/archive]

Note: initially, items on landing and archive pages will link to CMS authored pages, like what we have for Global sprint.

Note: s

[2018-03-02 20:59] xmatthewx opened #1138 "Design new homepage"
New Homepage will include lead feature, news, projects.

Design for phased implementation.

Note:
 - design feature box for use at top of Participate page.
 - consider 1 or more feature box templates (e.g. with/without CTA) (choose 1 for initial implement with real content)

[2018-03-02 21:00] xmatthewx opened #1139 "Plan IA. Design nav UI."
Focus on MVP, phased approach starting with top-level pages.

Remember that most visitors will find content via incoming links and google search. Nav doesn't need to be a sitemap to all the things, just the primary things.

[2018-03-02 21:02] xmatthewx opened #1140 "Design About pages"
(unblock redirect of moz.org/foundation)

Identify critical legal content on mozilla.org/foundation. Move to bottom of foundation/about.

Then: Redirect https://www.mozilla.org/en-US/foundation/.

Note: follow up with full About page revision.

[2018-03-02 21:03] taisdesouzalessa opened #1141 "[Fellowship Mini Site] Update "Meet Some of the Mozilla Fellows" content"
### Issue:
In our [Fellowship Home Page](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/), make sure the copy in the section "Meet Some of the Mozilla Fellows"  represents the Fellows the way we want (would we like emphasize what their fellowship focus are?). Ideally they would also have the same number of lines so it looks more organized, visually.

<img width="932" alt="image"

[2018-03-02 21:08] taisdesouzalessa opened #1142 "[Fellowship Mini Site] "Host a Fellow" content update"
### Issue
In the "[Support the Program](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/support/)" page, we have a section "Learn more about how to get involved" that may need some update since the applications are now closed. Also the "here" link is not working (we don't know which url we should add there)

<img width="1001" alt="image" src="https://user-images.githubusercontent.

[2018-03-02 21:15] taisdesouzalessa commented on #1132
@xmatthewx thanks for your guidance here :).

1. Project Board[ is here](https://github.com/mozilla/foundation.mozilla.org/projects/11) Feel free to move the cards around and assign to the right people.
2. "Pull profiles via Pulse api for featured fellows" - I think this is a different issue than the one I was referring to. I created a ticket for the one I mentioned (#1136). I can also create one

[2018-03-02 21:18] xmatthewx commented on #1132
2. those featured people are built static now, but should eventually be pulled via the api. that way we can change who is featured easily and just use their profile content.

3. i just meant we can retire that doc when everything is in the boards. was suggesting we put a link at top of the doc to the launch project board. make sense?

[2018-03-02 21:19] xmatthewx commented on #1142
this doesn't seem like a launch blocker to me, but i leave it to @jessevondoom and @community-impact to decide.

[2018-03-02 21:19] xmatthewx commented on #1141
this also doesn't seem like a launch blocker to me, but i leave it to @jessevondoom and @community-impact to decide.

[2018-03-02 21:20] taisdesouzalessa commented on #1132
Ok - I will create a ticket for it

i just meant we can retire that doc when everything is in the boards. was suggesting we put a link at top of the doc to the launch project board. make sense?
I'll add the link to the project board on top of that doc then.

[2018-03-02 21:23] taisdesouzalessa opened #1143 "[Fellowship Mini Site] Pull profiles via Pulse api for featured fellows"
### Issue
Currently our "Meet some of the Mozilla Fellows" section in our [Fellowship home page](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/) is static:

<img width="990" alt="image" src="https://user-images.githubusercontent.com/22157921/36922441-aef6dc72-1e1c-11e8-83ff-fc99acd6fd16.png">

### Solution
At some point, it should be pulled via the api. That way we can change wh

[2018-03-02 21:27] taisdesouzalessa commented on #1132
Board was created here: https://github.com/mozilla/foundation.mozilla.org/projects/11

Issues addressed. Thanks @xmatthewx for all your support here!! Teamwork :)

Closing this ticket.

[2018-03-02 21:27] #1132 closed

[2018-03-02 21:53] taisdesouzalessa commented on #1133
@jessevondoom's suggestion was to remove the filter for the soft launch. So I guess we could do that.
Any concerns here, Jesse?
Also are the "Senior Fellows" labeled as something else as well (like Science, Open Web...)? Just to make sure we are capturing them on the page.

[2018-03-02 22:02] auremoser commented on #1134
I've asked Kalpana to make the application link the following: https://mozilla.fluxx.io/apply/2018fellows

I'll have more details next week when we have a draft of the fluxx site. Will update when I know.

[2018-03-02 23:36] taisdesouzalessa opened #1144 "[Fellowship Mini Site] Update Linet Kwamboka's social link"
### Issue
In the current version of the site, Linet Kwamboka's LinkedIn link is taking users to a non-existent page.
<img width="638" alt="image" src="https://user-images.githubusercontent.com/22157921/36926884-f3d55b9a-1e2e-11e8-8f97-6a58816dc2c9.png">

### Solution
Aurelia suggested in [this doc](https://docs.google.com/spreadsheets/d/1y_J9EI_Grxd9omK-HivMZErixPaEvia7frHiOJ25zTY/edit?usp=sharing

[2018-03-02 23:51] taisdesouzalessa commented on #1096
This is fixed! Closing :)

[2018-03-02 23:51] #1096 closed

[2018-03-02 23:52] auremoser commented on #1144
Yes, maybe just use her twitter and not include linked in: https://twitter.com/linetdata?lang=en

I think @mmmavis is on it though, based on the above comments/commits

[2018-03-03 00:01] taisdesouzalessa commented on #1084
@mmmavis - yep we are following @xmatthewx's suggestions from the comment above.

Basically, we have to remove the yellow line on any page who has a breadcrumb. Example:
<img width="175" alt="image" src="https://user-images.githubusercontent.com/22157921/36927420-5e7af81c-1e32-11e8-969e-896d32651485.png">

**Implementation example:**

Mobile:
<img width="798" alt="image" src="https://user-images.g

[2018-03-03 00:06] taisdesouzalessa commented on #1144
Yay! This is done now - thanks for the work here Aurelia and Mavis! You rock! We just solved this issue.

[2018-03-03 00:06] #1144 closed

[2018-03-03 01:58] mmmavis commented on #1084
I guess that applies to all child pages under `/fellowships/directory`? e.g., `/fellowships/directory/<path-name>`?

What happens if user is on the main "Directory" page. That page does NOT have a breadcrumb. Do we wanna keep or remove yellow underline on the "Directory" nav item?

[2018-03-05 02:01] joeyklee commented on #955
Thanks @auremoser! let me know if there's anything I can do to help.

[2018-03-05 16:53] auremoser commented on #955
Yes @joeyklee , would you mind making a [Pulse Profile](https://www.mozillapulse.org/featured), we'll be using it in the spiffy new website which will feature a fellows' directory! I couldn't find your profile in my searches before, so I'm not sure we asked you to make one.
![screen shot 2018-03-05 at 11 52 07 am](https://user-images.githubusercontent.com/1559703/36988031-c1a1cc64-206b-11e8-8972-a

[2018-03-05 17:38] taisdesouzalessa commented on #1084
The main Directory page would have the yellow underline as in this example here:
<img width="211" alt="image" src="https://user-images.githubusercontent.com/22157921/36990246-eaea956e-2058-11e8-98a2-9533060fb9c2.png">

[2018-03-05 18:16] xmatthewx commented on #933
I think this is all taken care of elsewhere. Closing. cc @taisdesouzalessa

[2018-03-05 18:16] #933 closed

[2018-03-05 18:20] xmatthewx commented on #1133
@mmmavis Let's remove "senior fellow" as option in pulse admin https://api.mozillapulse.org/admin/profiles/programtype/1/change/

[2018-03-05 18:26] xmatthewx opened #1146 "Create missing profiles"
...For people who are already a Creator in Pulse

[2018-03-05 18:37] xmatthewx opened #1147 "[Mar 15] Update existing links from old fellowship page to new page"
The site has a few links that currently point to /opportunity/fellowships. We need to update these links during launch to new root /fellowship page. We don't need a redirect.

 - homepage - Get Involved item
 - /get-involved/ page - fellowship description links to

We do this _after_ we ship pages to production, a few days _before_ we send out announcement.

cc @taisdesouzalessa - to look for othe