[2018-11-27 17:43] kristinashu commented on #2002
I have yet to see a time when this would show up.

[2018-11-27 17:43] #2002 closed

[2018-11-27 17:48] kristinashu commented on #2088
Am I correct in assuming this is not a feature request but a way for us, internally, to look at the data?

[2018-11-27 17:53] kristinashu commented on #2263
Yes, I think we should track `meets standards` separately. So in summary, I think this is what Matthew wants to track:
- clicks open filter bubble (done)
- checks or unchecks Meets Minimum Security Standards

Events he does not want to track:
- adjusts creepiness slider
- clicks on any of the Likelihood to buy
- clicks close filter

[2018-11-27 17:54] alanmoo commented on #2088
Yup

[2018-11-27 18:45] kristinashu commented on #566
Assigning to @beccaklam to review then close and open a new summary ticket in the [Design repo](https://github.com/MozillaFoundation/Design/issues).

[2018-11-27 18:45] kristinashu commented on #945
Assigning to @beccaklam to review (along with https://github.com/mozilla/foundation.mozilla.org/issues/566) then close and open a new summary ticket in the [Design repo](https://github.com/MozillaFoundation/Design/issues).

[2018-11-27 18:48] kristinashu opened #2279 "Hero image isn't scaling"
Related to https://github.com/mozilla/foundation.mozilla.org/issues/2261

@Pomax can you please recap what you think the problem here is?

Desktop looks good:
<img width="1176" alt="screen shot 2018-11-27 at 10 39 33 am" src="https://user-images.githubusercontent.com/1068783/49103996-b3e13400-f231-11e8-8c7f-a148e1ad74e0.png">

But mobile is cut off:
<img width="331" alt="image" src="https://user-i

[2018-11-27 18:51] Pomax commented on #2234
Hm, pulling things apart turned out not to be a real option, so adding things specifically to the category page.

[2018-11-27 19:03] Pomax commented on #2246
What title format would you like? `*privacy not included - {company} {productname}`?

[2018-11-27 19:05] kristinashu opened #2281 "Design blog/stories pages"
@alanmoo has started this but we should mock it up and give some design recommendations: https://foundation-mofostaging-pr-1905.herokuapp.com/en/stories/

[Alan & Jesse] what is the purpose of this? Is it to tell people stories or to replace our external blogs?

[2018-11-27 19:07] Pomax commented on #2246
As we use it, the company name is already in the product name, so I'll use that instead.

[2018-11-27 19:07] kristinashu opened #2282 "Fellowships: Re-design pages to fit CMS"
We will be moving all of the [Fellowship](https://foundation.mozilla.org/fellowships/) pages into the CMS.

### Recommend steps:
- mock-up all the pages in Sketch, using our latest designs and sticking to existing CMS components when possible
- identify sections that might need a new component (ex. cta callouts?)
- open tickets for new components if needed
- start creating pages in the cms
- try i

[2018-11-27 19:34] Pomax commented on #2263
To double check: is this "check or uncheck standards and then close the filter", or simply "check or uncheck" irrespective of whether the filter is then closed again?

[2018-11-27 19:36] Pomax commented on #2089
I'm only seeing it do this in Chrome, and only during local dev, so I'm closing this until there's something concrete we can work with.

[2018-11-27 19:36] #2089 closed

[2018-11-27 19:45] kristinashu opened #2285 "Move advocacy pages to foundation site"
### Goal
Sunset https://advocacy.mozilla.org/
(https://github.com/mozilla/advocacy.mozilla.org)

### To do

@alanmoo @cadecairos I've started a [spreadsheet](https://docs.google.com/spreadsheets/d/1ugrj8iFfQS-lcMcj5Rxwx26TTsuo25Yyz048I2R_AZ4/edit?usp=sharing) to try and compile a list of Advocacy pages we would need to move over to the foundation site in order to sunset the Advocacy site. Please a

[2018-11-27 19:52] Pomax commented on #2231
Alright, I'll add the emoji in, but I'd like to also pitch the idea that right now it just looks like detached text  due to there only being a header and a single sentence, and adding an emoji won't affect that too much. It might be worth turning that into a kind of "alert box" (similar to how textbooks deal with conclusions or break-outs) and style it so it can't be ignored but instead draws eyes

[2018-11-27 19:59] caltrider commented on #2231
I like that idea @Pomax .

[2018-11-27 20:01] Pomax commented on #2231
silly mock-up, but something that pops out like this?

![image](https://user-images.githubusercontent.com/177243/49108111-2eaf4c80-f23c-11e8-959e-14fd964abdbb.png)

[2018-11-27 20:09] kristinashu commented on #2231
I don't think it needs to stand out **that** much!

[2018-11-27 20:10] Pomax commented on #2231
I wasn't sure about the bold, but I kind of liked having the emoji on both sides =P

[2018-11-27 20:13] Pomax commented on #2211
I take it "how to use" will be the page you land on when you click "about" in the top nav?

[2018-11-27 20:16] alanmoo commented on #1987
Nope, still there. I think this is something related to the iOS web-view implementation that 3rd party browsers use, so the end result of this may be an Apple bug report, but I want to leave it open for now.

[2018-11-27 20:55] kristinashu commented on #2263
Just "check or uncheck". We aren't tracking anything to do with closing the filter.

[2018-11-27 21:01] alanmoo commented on #2285
I pulled in the other subsections on the site by parsing [this file](https://github.com/mozilla/advocacy.mozilla.org/blob/master/src/routes.js)

[2018-11-27 21:33] jessevondoom commented on #2281
The answer to your question on purpose is: both. We want to start using the Foundation site as the primary destination for announcements, etc — with Medium serving as a secondary platform for additional amplification. But we also want a place where we can start to tell deeper/richer stories, specifically about fellows, awardees, and the people in our network.

So we'd promote this to a top-level /

[2018-11-27 21:40] xmatthewx commented on #2263
Cool. We can just trigger the event when they check it. The other event (already wired up) can alert us if people abandon the filter. This will let us spot check against that, whether a high or low percent of filter users use this toggle.

[code]

[2018-11-27 21:41] alanmoo opened #2289 "Homepage hero gets cropped poorly on mobile"
<img width="461" alt="screen shot 2018-11-27 at 4 40 03 pm" src="https://user-images.githubusercontent.com/1682681/49113308-36ceb280-f263-11e8-97d9-6cd406e6de80.png">

That's not right. The entire image width should render on mobile.

[2018-11-27 22:35] kristinashu commented on #2289
Duplicate of https://github.com/mozilla/foundation.mozilla.org/issues/2279

[2018-11-27 22:37] #2289 closed

[2018-11-27 22:37] alanmoo commented on #2279
It seems like this is a template issue, where a different version of the image is being fetched for mobile.

[2018-11-27 23:00] #2263 closed

[2018-11-27 23:10] #2153 closed

[2018-11-27 23:39] Pomax commented on #2271
I wonder if we can achieve this using a `/printable` URL that generates a special page with print media CSS so that people can print directly to paper form or to a pdf using whatever built-in pdf writer they have.

I also wonder how big of a pdf/page that would end up generating and what the right way would be for us to host/cache that.

/cc @alanmoo @cadecairos

[2018-11-28 00:00] #2246 closed

[2018-11-28 00:15] #2179 closed

[2018-11-28 05:45] natalieworth commented on #2274
Updated the colors of each illustration: https://foundation.mozilla.org/en/initiatives/
I used 3 brand colours from the mozilla.ninja guidelines and a color from this years MozFest branding.

[2018-11-28 06:46] kristinashu commented on #2274
w00t! They pop!

[2018-11-28 06:46] #2274 closed

[2018-11-28 15:12] alanmoo commented on #2271
This seems like an odd way to spend our time unless the request is coming from leadership...What's the reasoning behind wanting this?

[2018-11-28 15:32] caltrider commented on #2271
This is a request we received a number of times last year and I've also received from at least four people this year. Not a huge number, but it does keep coming up. It does feel a bit like an accessibility thing. I know my public library would likely print something like this out and leave it around for people to more easily access. I don't think we need to rush on this, but it would be a good fea

[2018-11-28 16:30] kristinashu opened #2292 "Dot background breaking page on iOS browsers + desktop Chrome/Safari"
On production, pages that have the dot background ex https://foundation.mozilla.org/en/privacynotincluded/products/apple-watch-4/ have black space to the right of the page (this makes voting on the slider hard).

Screen cap from iPhone:
<img width="287" alt="image" src="https://user-images.githubusercontent.com/1068783/49164712-81dcda00-f2e4-11e8-9ebd-15e7a4667e8a.png">

Also noticing Related Prod

[2018-11-28 16:39] beccaklam opened #2293 "Add 'Read our research first' jump link and styling to engagement section"
We've done some user testing and have noticed that users engage with the creep-o-meter and likely to buy/not buy section before reading our research. Some users have even complained about not being able to change their votes after reading the review. Others say the research is why they're here in the first place and would like to access that first. Since we can't move the engagement section down (

[2018-11-28 16:40] Pomax commented on #2292
wait, so: even though the html document has `overflow-x: hidden` set, the iphone goes "actually no, I will let you scroll horizontally"?

[2018-11-28 16:48] Pomax commented on #1987
can you check what these three tests do?

1. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-scroll-x-test.html
2. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-scroll-y-test.html
3. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-no-scroll-test.html

[2018-11-28 16:50] cadecairos commented on #2012
the plan: Update the production repo explaining the process (Ship updates to package-lock.json, provide link to npm documentation on package-lock)

[2018-11-28 16:50] alanmoo commented on #1987
All 3 seem to have y scroll in Firefox on an iPhone XS. (Can you change the background color on them in the future? I think that might make it easier to see)

[2018-11-28 16:52] caltrider commented on #2293
I love it! I'm glad you did that users testing too to see what people like best. Thank you for doing all this.

Only one tiny little word tweak suggestion. I would suggest we say "Learn how to use this guide" rather than "Learn how to use our guide".
cc: @beccaklam

[2018-11-28 16:59] Pomax commented on #1987
More tests:

1. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-pos-rel-scroll-x.html
2. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-pos-rel-scroll-y.html
3. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-pos-rel-no-scroll.html

[2018-11-28 17:09] alanmoo commented on #1987
![unadjustednonraw_thumb_9d5e](https://user-images.githubusercontent.com/1682681/49168840-67b3f380-f306-11e8-81fa-a382f992afd1.jpg)
![unadjustednonraw_thumb_9d5f](https://user-images.githubusercontent.com/1682681/49168841-67b3f380-f306-11e8-8232-21f82249939d.jpg)
![unadjustednonraw_thumb_9d60](https://user-images.githubusercontent.com/1682681/49168842-684c8a00-f306-11e8-9b8f-80b3f08227bb.jpg)
![un

[2018-11-28 17:09] Pomax commented on #1987
dafuq. Okay, let's try this on body...

[2018-11-28 17:12] Pomax commented on #1987
Three more:

1. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-body-scroll-x.html
2. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-body-scroll-y.html
3. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-body-no-scroll.html

[2018-11-28 17:14] alanmoo commented on #1987
Looks identical to the previous set, by my eye.

[2018-11-28 17:15] beccaklam opened #2294 "Add 'How to use this guide' link"
Users are asking for more information regarding our research (why our categories are important, why they should care, etc) and the 'How to use this guide' content answers those questions. Since it's too much to fit into the product page itself without making the page too busy we're going to include a link to the About page that already has the 'How to use this guide' content.

- [x] Add 'Our Resea

[2018-11-28 17:16] #2272 closed

[2018-11-28 17:17] Pomax commented on #1987
I guess that blows a stackoverflow claim that position:relative on the body should make ios fall in line out of the water then.

[2018-11-28 17:17] kristinashu commented on #2255
Here's the cropped image @mmmavis!

![privacynotincluded](https://user-images.githubusercontent.com/1068783/49169334-65459f80-f2ee-11e8-8768-4cc412355423.jpg)

[2018-11-28 17:20] beccaklam opened #2295 "Add accordion that explains what unexpected reasons means"
Users keep asking what 'unexpected reasons' means.

- [x] Add accordion to 'unexpected reasons' section that has this explanation when expanded:

![test b screen 1 copy 11 2x](https://user-images.githubusercontent.com/20977376/49186978-16baf400-f334-11e8-8f17-907410101f06.jpg)

[2018-11-28 17:46] Pomax commented on #1987
Once again!

1. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-div-no-scroll.html
2. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-div-x-scroll.html
3. https://pomax.github.io/nightly-is-upgrading-an-insecure-display-request/ios-rel-div-y-scroll.html

[2018-11-28 17:54] beccaklam commented on #2293
@caltrider I actually just changed it to 'How to use this guide', that okay? That way it matches the title of the page they're going to.

[2018-11-28 17:55] caltrider commented on #2293
Perfect! Thank you @beccaklam

[2018-11-28 17:56] mmmavis commented on #2292
We could fix it by adding
[code]

but adding `overflow: hidden` to high hierarchy containers is usually not the best practice unless we can be 100% certain that we'll never need a horizontal bar at page level for Buyer's Guide. If we aren't certain, we should probably think of another way to implement this.

[2018-11-28 18:34] #2255 closed

[2018-11-28 18:46] kristinashu opened #2297 "Nav Update: Horizontal Sub Nav"
Followup from https://github.com/mozilla/foundation.mozilla.org/issues/1727 and https://github.com/mozilla/foundation.mozilla.org/issues/1721 and comps https://redpen.io/p/avd5fc0b3db14a7883

### Horizontal Sub Nav

Primary pages like About and Fellowships - not opportunity/campaign pages

- [x] Remove gradient line
- [ ] Add light grey line: full width of the page and 16px below text
- [ ] Update

[2018-11-28 18:53] kristinashu opened #2298 "Banner Update: Replace green/blue banner"
Followup from https://github.com/mozilla/foundation.mozilla.org/issues/1727 and https://github.com/mozilla/foundation.mozilla.org/issues/1721 and comps https://redpen.io/p/avd5fc0b3db14a7883

### Replace green/blue banner and add call out box

Needed on primary pages like Internet Health, People (although I think this page will be archived soon), About Us, News, Fellowships. Not needed on special

[2018-11-28 18:55] kristinashu commented on #1727
Moved to new individual tickets

[2018-11-28 18:55] #1727 closed

[2018-11-28 18:57] kristinashu opened #2299 "Nav Update: Vertical Sub Nav"
Followup from https://github.com/mozilla/foundation.mozilla.org/issues/1727 and https://github.com/mozilla/foundation.mozilla.org/issues/1721 and comps https://redpen.io/p/avd5fc0b3db14a7883

### Vertical Sub Nav

On opportunity and campaign pages

- [x] Update yellow bar to black bar
<img width="1231" alt="image" src="https://user-images.githubusercontent.com/1068783/43664652-7edab598-9722-11e8-8

[2018-11-28 18:59] kristinashu commented on #1721
Moved to new individual tickets

[2018-11-28 18:59] #1721 closed

[2018-11-28 19:16] kristinashu opened #2300 "Nav Update: Primary Nav on white"
Followup from #1727 and #1721 and comps https://redpen.io/p/avd5fc0b3db14a7883

### Main Nav
- [ ] Put nav on white background everywhere (already have this on Home, Initiatives, Opportunity/Campaign, Participate, Fellowships pages but need to add this to the rest of pages **Internet Health, People, About Us, News**)

- [ ] Update all primary nav selected state: increase thickness of the black lin

[2018-11-28 19:34] alanmoo commented on #1987
This is interesting. Seems to work (and this is what I get on iOS Firefox when scrolling the last one to the side) ![image](https://user-images.githubusercontent.com/1682681/49177235-ace22080-f31a-11e8-87a7-cec3b3f1c01c.png)

[2018-11-28 19:36] alanmoo commented on #1987
Notice the white space, which is visible in all cases. It's matching what's described in the 3rd image of https://webkit.org/blog/7929/designing-websites-for-iphone-x/

[2018-11-28 19:36] xmatthewx opened #2301 "Buyers Guide pre-launch DB Stats"
To report pre- and post-launch stats, @caltrider would like a count of opinions submitted before our launch date (Nov 13th). @cadecairos - can you grab this?

We can view total opinions in data studio and use analytics to gather other pre-launch stats.

[2018-11-28 19:41] Pomax commented on #1987
Let's solve this in stages. First let's get the overflow fixed for most devices, and then worry about whether we want to spend time fixing a problem only people with a $1200 phone run into.

[2018-11-28 19:47] alanmoo commented on #1987
Yeah, this ticket is certainly lower priority than #2292. I'm fine leaving this as something a contributor or new hire can pick up on if they have interest.

[2018-11-28 19:56] Pomax commented on #2292
I can't think of a reason why the buyers guide would ever have a document-level horizontal scrollbar, though. That would just make for a horrible page experience.

[2018-11-28 20:04] Pomax commented on #2294
`Add 'How to use this guide' link, and link to About page` is being done as part of the about page layout redesign in https://github.com/mozilla/foundation.mozilla.org/issues/2211

[2018-11-28 20:16] caltrider commented on #2301
Heya quick question, will this include all types of engagements?
creepometer, link shares, comments, social shares, social mentions

[2018-11-28 20:20] mmmavis commented on #2292
Related to https://github.com/mozilla/foundation.mozilla.org/issues/2120

[2018-11-28 20:38] Pomax commented on #2231
Is it worth waiting for a new design before implementing this, or do we want the intermediary "just the emoji" first and file a followup for more emphasis?

[2018-11-28 20:44] kristinashu commented on #2231
I think _just the emoji_ and then see if it still comes up as an issue in user testing.

[2018-11-28 20:55] xmatthewx commented on #2301
Let's make a list. Better yet, a spreadsheet!

We need @cadecairos to get stuff from DB on creepometer and comments. Other stuff we can get from analytics. For social, I wonder if kevin has a way to count stuff on social that will be more accurate than my count of taps.

[2018-11-28 21:01] mmmavis commented on #2292
Agreed that there's super tiny chance that we'll want a page level horizontal scrollbar. But I really wanna avoid adding `overflow-x: hidden;` to `body` unless that's absolutely the only solution. Having that rule for `body` will make debugging CSS code for its children DOM elements hard. I'd like to be able to tell whether or not my future CSS code for other implementation is creating unnecessary

[2018-11-28 21:05] cadecairos commented on #2301
The number of creepiness rating and would/would not buy ratings before Nov 13 is 4916

[2018-11-28 21:06] alanmoo commented on #2292
Possible solution: change the `-100%` for left/right 0, and use the following markup (`.container` becomes `.container-fluid` and I added another `.container` inside the product updates row)

[code]

[2018-11-28 23:33] mmmavis opened #2304 "Buyer's Guide - Bad "id" primary_nav.html"
In line 27 in [`network-api/networkapi/buyersguide/templates/primary_nav.html`](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/templates/primary_nav.html#L27)

[code]

We should remove `d-flex align-items-center flex-wrap` from `id`.

[2018-11-28 23:38] mmmavis opened #2305 "Buyer's Guide - Many missing html tags on product page"
Go to any product page on Buyer's Guide and view source

e.g., on Firefox, hit
`view-source:https://foundation.mozilla.org/en/privacynotincluded/products/parker-teddy-bear/`

[2018-11-28 23:41] kristinashu commented on #2295
Thank you to Jen for doing most of this!

[2018-11-28 23:41] #2295 closed

[2018-11-29 00:43] mmmavis commented on #2305
Apparently the root cause is just one missing `</span> `tag.

[2018-11-29 16:52] Pomax opened #2307 "Add template linting"
There is currently no linting on any of the django/wagtail template code, which means it is really easy to not spot a missing or superfluous opening or closing tag, duplicated `>`, etc. etc.

There _has_ to be a template linter =0

(marking as buyer guide because we're running into html issue there the most)

[2018-11-29 16:54] Pomax commented on #2307
One option of course is to convert everything to pug and tell Django to use pug conversion middleware?

[2018-11-29 16:58] #2305 closed

[2018-11-29 17:43] Pomax commented on #2245
I was but didn't finish it and then had to jump on other things, unassigning myself as I'm out today/tomorrow

[2018-11-29 18:53] Pomax commented on #2304
yeah that looks like a bunch of classes accidentally ending up in an id

[2018-11-29 23:38] #2292 closed

[2018-11-29 23:44] mmmavis opened #2308 "Buyer's Guide - product page's updates section is too narrow on mobile"
This is a followup ticket for https://github.com/mozilla/foundation.mozilla.org/pull/2303#discussion_r237641968 .

- Product page's updates section (when the "compare products" section is empty) is too narrow on mobile screen resolution. Let's fix that!
- Remove extra padding/margin in that section.

Bonus:
Let's keep the dot background and make it behind the "Compare products' section if there's

[2018-12-04 13:58] #2245 closed

[2018-12-04 19:15] Pomax opened #2319 "Figure out options for automated/assisted front end testing"
For front end testing, it would be _super_ useful if there was a way to do visual comparisons between "what the PR does" and "what master does", with a nice way to see all the pages that are affected by the PR, and a visual diff that highlights the changes. This allows devs to spot pages that have changed but shouldn't have, without having to know what pages might conceivably be affected, both spe

[2018-12-04 23:17] Pomax commented on #2319
Testing Gemini

- windows needs `npm --add-python-to-path='true' --debug install --global windows-build-tools` before installation works (thanks, node-gyp, for still !@$#& existing)

[2018-12-05 17:30] Pomax opened #2320 "Randomised Buyer's Guide Products Votes generation takes forever."
We should look at whether we can speed up the "Randomised Buyer's Guide Products Votes" generation task in the data faker, as it takes a considerable amount of time to just run that task at the moment (probably due to me not realising there was a more efficient way of writing it!)

[2018-12-05 18:59] Pomax commented on #2319
# Blink-diff

[2018-12-06 18:39] Pomax commented on #2319
# Needle

Unfortunately, no active support.

[2018-12-06 19:55] Pomax commented on #2088
Hm, I'm worried about us using our data to try to answer those questions: we don't have the kind of data that is necessary to say real things here. We can find some correlations, and we can certainly scatter-plot the correlations between creepiness and likelihood-to-buy for products, but that's effectively all we can do.

So we can sort of do 1, as long as we understand we can't see "impact", we'r

[2018-12-06 20:14] Pomax commented on #2319
#Percy

- integrates with github to run on commit
- still pixel-by-pixel which means that it's basically just a regression tool.

[2018-12-06 20:31] Pomax commented on #2319
# Applitools

### ignoring

- no price information anywhere.

[2018-12-06 23:22] Pomax commented on #2319
Going through https://www.fourkitchens.com/blog/development/visual-regression-testing/ which relies on browserstack, which would set us back $99/mo, which is a lot cheaper than percy...

[2018-12-07 01:12] Pomax opened #2326 "Python 3.6.7 breaks the build on Windows"
clean install log:
[code]

[2018-12-07 18:07] Pomax commented on #2326
/cc @cadecairos @patjouk I'm going to do some bisecting, but in case you've seen this before, a cc =)

[2018-12-07 19:37] Pomax commented on #2326
changing this, in settings.py:
[code]
to this:
[code]
seems to fix this entirely, and I have no idea why that would be the case...

[2018-12-07 20:20] Pomax commented on #2326
Turns out the real culprit is Python 3.6.7, which received https://bugs.python.org/issue31047, which changes how file paths are handled on Windows, which is pretty backward compat breaking.

[2018-12-11 01:41] Pomax commented on #1643
Unassigning due to the associated PR having been closed.

[2018-12-11 19:37] xmatthewx commented on #2301
Closing. Thanks @cadecairos. Dropping this into a [spreadsheet](https://docs.google.com/spreadsheets/d/1TlriNwIPT5jmpcfpW8CJWHdik0eei02510xZv9vna9g/edit?usp=sharing )

[2018-12-11 19:44] xmatthewx commented on #2301
@cadecairos - can you give us one more count of ratings? today's is fine. any recent day. this will give me a better sense of GA numbers, and what % of traffic appears in there.

[2018-12-11 19:54] xmatthewx commented on #2301
Nevermind. Got 51,030 from the dashboard.

[2018-12-11 19:54] #2301 closed

[2018-12-11 20:17] Pomax opened #2336 "Set up Cypress for visual regression testing"
part of https://github.com/mozilla/foundation.mozilla.org/issues/2470

In order to try Percy.io for visual regression testing, we need to set up something that can effect snapshooting of our pages and page states. On their recommendation, we'll be trying to set up Cypress first, and possibly puppeteer after that, for initial exploratory.

- [x] add [Cypress](https://www.cypress.io/) (https://docs.

[2018-12-11 20:35] beccaklam commented on #2130
## Vote Section Outcomes
**Variant A** [Video 1](https://www.usertesting.com/v/b6ed8dae-56a1-4735-8139-3f1b08b01c1b?encrypted_video_handle=eMrUuwB_KpXIZ3XueXPelw&shared=Ffk1LoCm) | [Video 2](https://www.usertesting.com/v/6ecbceea-a6b8-48dc-93d2-8799ce2c2172?encrypted_video_handle=CorUpwBzODZPJFcs-c2GGg&shared=adn4U2wO)
- Users need to be directed to the research before engaging with the creep-o-me

[2018-12-11 20:47] annmarie123 opened #2337 "[Fellowship mini site] Broken Link fix for Sarah Kiden"
I found a broken link on the front page of the fellowship website (https://foundation.mozilla.org/fellowships/). Sarak Kiden's name link should lead to her pulse profile here: https://www.mozillapulse.org/profile/491.

Thanks in advance!

[2018-12-11 22:03] Pomax opened #2338 "Set up cypress for front end testing"
Part of https://github.com/mozilla/foundation.mozilla.org/issues/2336

---
Set up Cypress, as per https://www.cypress.io/ with an eye on using it for https://docs.percy.io/docs/cypress

[2018-12-12 16:41] xmatthewx opened #2339 "Simple column component for CMS pages"
Staff authored pages often present a lot of info. Some of it would benefit from a simple table or card component.

Let's explore design before we commit to implementation.
 - Let's keep it super simple, something that can give staff 2 or 3 side by side boxes that collapse nicely on mobile.
 - Give author option to include borders or not.
 - If we give author option to add a header to each box, we

[2018-12-12 16:48] cadecairos commented on #2285
We stand ready to shit doewn the servers and redirect requests whenever the content is finished being migrated.

[2018-12-12 16:53] cadecairos commented on #1684
@desiree-mofo we'll be able to add the campaign ID to the servers without committing it to code. When sending to basket, the ID will be enctrypted at the transport layer ( SSL/TLS)

[2018-12-12 16:55] cadecairos commented on #1684
@alanmoo correct me if I'm wrong, but it sounds like we need to do this:

1. Add the campaign ID as and environment variable
2. when generating petitions, use that variable as the campaign ID when creating petition instances.

[2018-12-12 17:49] alanmoo commented on #1684
Assuming you're talking about for fake data generation, yes. And we'll need to update that campaign ID at the same frequency as the Sandbox refresh?

[2018-12-12 19:11] kristinashu commented on #1582
Is this right?

If https://foundation.mozilla.org/en/initiatives/responsible-cs/ does not have OG tags then we show the one from https://foundation.mozilla.org/

AND if https://foundation.mozilla.org/en/initiatives/responsible-cs/ does have a unique tag then it will show for that and also https://foundation.mozilla.org/en/initiatives/responsible-cs/challenge/?

[2018-12-12 19:30] beccaklam commented on #1874
We also dropped in the 'unexpected reasons' explanation from the 'How To Use This Guide' content into an accordion on every product page.

[2018-12-12 19:35] beccaklam commented on #1874
@kristinashu Do you think adding the link solves the need to add an accordion to the 'Can it spy on me' section? Or do we need further exploration?

[2018-12-12 20:13] alanmoo commented on #1582
Correct, unless
https://foundation.mozilla.org/en/initiatives/responsible-cs/challenge/ has its own tags set then we'd show those.

[2018-12-12 20:45] kristinashu commented on #1874
I think it's good! We can keep an ear out to see if anyone complains about it...

[2018-12-12 20:45] #1874 closed

[2018-12-12 21:07] beccaklam commented on #566
Closing this ticket for now. Summary ticket [here](https://github.com/MozillaFoundation/Design/issues/307).

[2018-12-12 21:07] #566 closed

[2018-12-12 21:08] beccaklam commented on #945
Closing this ticket for now. New summary ticket [here](https://github.com/MozillaFoundation/Design/issues/307).

[2018-12-12 21:08] #945 closed

[2018-12-12 21:13] beccaklam commented on #1655
Closing this ticket for now. Summary ticket [here](https://github.com/MozillaFoundation/Design/issues/308).

[2018-12-12 21:13] #1655 closed

[2018-12-12 21:14] beccaklam commented on #2130
@natalieworth Would you be able to write up a report for your test? After we can close this ticket I think!

[2018-12-12 22:50] alanmoo opened #2340 "Page previews on staging are broken"
Hitting "Preview" on a staging page results in a 500 error.

[2018-12-13 10:38] #2012 closed

[2018-12-13 12:48] Pranay144 commented on #2127
@alanmoo  I am new to open source.I would like to work on this issue #2127.

[2018-12-13 15:35] alanmoo commented on #2127
Sure, is the descript (paired with the readme) clear enough for you to get started @Pranay144?

[2018-12-13 17:18] Pomax opened #2342 "Add some code that lets us curate our domain whitelist from inside Wagtail"
We're using an `env` at the moment to curate the whitelist of allowed embeddable domains and it's kind of a pain? We should totes fix that to become CMS-list-enrichable, where we can do something like "go to /cms, open settings, open whitelist, add domain, good to go".

And then have that kick in _in addition to_ what we preclear in the env, so that we can ensure there are a few domains that are a

[2018-12-13 17:20] alanmoo commented on #2342
Sure, this seems like it would be nice but I don't think it's particularly worth spending time on. More like a thing that might be nice to add upstream to Wagtail itself

[2018-12-13 17:23] xmatthewx opened #2343 "Make buyers guide stats more accessible"
Buyer's guide has collected a bunch of awesome stats on public opinion.

They could be more accessible to researchers, journalists, and return visitors. Currently, these users need to revote to view a breakdown on opinions.

One option - make the vote count below the vote button a link to display stats on that product.

![image](https://user-images.githubusercontent.com/53411/49955757-a2ef1e80-fed

[2018-12-13 17:59] cadecairos commented on #2342
Yeah I'd love to be able to update the CSP via the admin interface (this is how we do it on the internet health report).

That said, I'm not really willing at the moment to maintain that project. might be nice to have it as an upstream feature.

[2018-12-13 17:59] Pranay144 commented on #2127
yes, the description is clear enough for me to get started with the issue.
I'll work on it.

[2018-12-13 18:50] alanmoo opened #2344 "Create airtable streamfield component"
To enable embedding of Airtable widgets (like a project brief form), I'd like to add a streamfield component. I've got it partially built, but am mainly looking for a bit of feedback- The way I've built it to start is a bit less-than-obvious, in which the user needs to copy the "embed" url of a view out of the Airtable-suggested script tag, along with the height. For example

[code]

The user woul

[2018-12-14 16:35] alanmoo commented on #2300
What's next on this line of updates? The "primary page" template seems like a likely candidate? (See the "about" page for an example)

[2018-12-14 17:35] alanmoo commented on #2300
It already is - https://foundation.mozilla.org/cms/pages/47/edit/

Based on the comps, it seems the banner area needs some attention, which will cascade a bit into other areas of the site templates. I'm asking if that banner area is the next thing to focus on after this ticket lands.

[2018-12-14 17:54] gideonthomas commented on #721
since we're pulling profiles from pulse now, is this issue still a thing?

[2018-12-14 17:56] alanmoo commented on #721
Technically this might break https://foundation.mozilla.org/en/people/, though I'm betting we can just take that page down. @jessevondoom any thoughts?

[2018-12-14 18:45] alanmoo opened #2346 "Default OG image/text"
Until 30 seconds ago, links across the web to foundation.mozilla.org had no OG image. They still have no description. I added the Mozilla logo (using the promote tab on the CMS) though it could probably use a better formatted/higher res image. We also need some text.

@jessevondoom @xmatthewx @kristinashu @Sydette

[2018-12-14 19:58] xmatthewx commented on #2346
Strange. Thanks for catching. This is definitely a thing we had in place before, though probably with old Networky language.

[2018-12-17 18:00] kristinashu commented on #2346
yea, there's a ticket for that!

[2018-12-17 19:51] Pomax opened #2356 "Fix how-to-use accordion hardcoded h2+p expectation"
The how-to-use page currently has some rules in place that assume an `h2` is only ever followed by a single `p` for accordion folding. We have at least one entry for which we really want three paragraphs, so let's fix the code to understand how much it needs to fold instead of assuming there's only one paragraph.

(see https://github.com/mozilla/foundation.mozilla.org/pull/2288#discussion_r2409025

[2018-12-17 20:36] Pomax commented on #1582
Hm, looking at view-source:http://foundation.mozilla.org/en/initiatives/ it seems we don't even have OG tags in the template for that page? So @cadecairos's PR is quite nice for inheritance, but we'll still need to make sure all our page templates actually _have_ `<meta name="og:...` code in place

[2018-12-17 20:46] Pomax opened #2357 "base.html for non-PNI pages lacks any sort of meta/og tags"
Related to https://github.com/mozilla/foundation.mozilla.org/issues/1582, it turns out that our `base.html` that is used as basis for all standard foundation.mozilla.org pages has no meta tags at all, meaning any page that extends it gets zero OG, twitter-card, etc. data for search engines and social media to tap into O_O

The base template is located [here](https://github.com/mozilla/foundation.m

[2018-12-17 20:46] Pomax commented on #1582
see https://github.com/mozilla/foundation.mozilla.org/issues/2357

[2018-12-17 22:52] alanmoo opened #2358 "Make navigation containers `<nav>` elements"
For better accessibility. `primary_nav.html` has some candidates for this, but there's probably some other spots too.

[2018-12-17 23:00] #2234 closed

[2018-12-17 23:22] alanmoo opened #2359 "Donate modal can't be closed on iPhone landscape mode"
Probably other devices too- the combination of the fixed nav and fixed modal conflict.
![image](https://user-images.githubusercontent.com/1682681/50121921-6b150d80-0228-11e9-8788-49c6373e9629.png)

@kristinashu Possible solution: How would you feel if the nav wasn't sticky on mobile?

[2018-12-17 23:52] demangejeremy commented on #2358
Can I be assigned to do this task @alanmoo?

[2018-12-17 23:56] alanmoo commented on #2358
Github won't let me assign you, but you're welcome to open a PR and tag me.

[2018-12-18 00:08] kristinashu commented on #2359
Could the popup go over top of the nav? And maybe fill the entire screen?

[2018-12-18 00:51] mmmavis opened #2360 "Nav Update: Improve CSS rules for `.nav-links` in `nav.scss`"
Follow-up ticket for https://github.com/mozilla/foundation.mozilla.org/pull/1770#discussion_r242353191 and https://github.com/mozilla/foundation.mozilla.org/pull/1770#discussion_r242353865

Improve CSS rules for `.nav-links` in `nav.scss` so we can stop using `!important`

[code]

[2018-12-18 00:53] #2300 closed

[2018-12-18 18:18] #2308 closed

[2018-12-18 19:15] #2211 closed

[2018-12-18 20:50] #2344 closed

[2018-12-18 20:55] cadecairos opened #2362 "Refactor wagtailpages/models.py into a folder"
We've got models defined in files outside of `wagtailpages/models.py` that we need to import manually (and add linter ignore flags) in order to get django to be "aware" of them. This isn't ideal, so lets create a folder `wagtailpages/models` and define models there, so django can pick them up automatically without the need for janky imports.

[2018-12-18 21:05] mmmavis opened #2363 "Update Participate's Donate button's URL on production"
Follow-up for https://github.com/mozilla/foundation.mozilla.org/pull/2125#issue-228859704

Once PR #2125 is on production...
Update Participate's Donate button's URL on production to https://donate.mozilla.org?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=participate

[2018-12-18 21:13] mmmavis opened #2364 "Templatize nav related code as much as we can"
Follow-up for [Updated multipage nav styling & code refactor/cleanup](https://github.com/mozilla/foundation.mozilla.org/pull/2348)

- templatize nav related code
- utilize Bootstrap classes where appropriate

---

Note to self:

- campaign page's multipage nav looks slightly different than primary page's multipage nav

[2018-12-18 21:15] mmmavis opened #2365 "Rename multipage-nav.jsx to multipage-nav-mobile.jsx"
Follow-up ticket for https://github.com/mozilla/foundation.mozilla.org/pull/2348#discussion_r242388896

Rename `multipage-nav.jsx` to `multipage-nav-mobile.jsx`.

[2018-12-18 23:10] kristinashu commented on #2298
Sorry @mmmavis, @beccaklam is going to look at the dimensions for the white cut out box and text. So maybe hold off on that for now?

[2018-12-18 23:37] kristinashu opened #2366 "New Fellowship and Awards pages"
@jessevondoom @jenntbeard @mehan based on the [copy doc](https://docs.google.com/document/d/1vrHAKGi-vzJAB8V3GVZJigRC41fecdj-2wz-Pk7AFrU/edit) and our chat I think this is what we need. If this doesn't make sense, no worries! @beccaklam is going to do a quick mockup tomorrow to help us visualize our options.

## Initiatives Page (blocked by creating the Awards page)
URL: https://foundation.mozilla

[2018-12-18 23:39] mehan commented on #2366
Sounds like an accurate summary to me--thanks, @kristinashu!

[2018-12-19 14:55] jenntbeard commented on #2366
Images for use are here: https://drive.google.com/open?id=1dgHbTSO3cw4WZZbiOvjt3n5hyuW2-cMg

[2018-12-19 15:48] jenntbeard commented on #2366
Also, here is the Awards Portfolio page Ann Marie has created - https://foundation.mozilla.org/en/initiatives/mozilla-gigabit/mozilla-gigabit/ (it will cover more than just Gigabit projects, but it's a start).

[2018-12-19 16:54] xmatthewx commented on #2366
Exciting to see this coming together!

To me, it seems like the combined fellowship and awards page speaks more to us and funders, and doesn't feel optimized for our audiences. My instinct is that we serve them better with two buttons that lead to two landing pages. Each landing page could have a small box that says "hey, we also have awards that might help your work. take a look →". In our About

[2018-12-19 16:56] cadecairos commented on #2340
Just got this on our radar. we'll investigate.

[2018-12-19 16:57] xmatthewx commented on #2366
Oooooo - look at that awesome page!

[2018-12-19 16:58] jenntbeard commented on #2366
That sounds great @xmatthewx - our biggest hope with the Awards page (at least) is to help prospective applicants understand our opportunities and where we might be able to support their work.  Ann Marie is adding projects to Pulse - given what you've said Matthew - should I just have her continue to work on that and you all will take care of the tagging, sorting, layout?? Thanks!

[2018-12-19 16:58] cadecairos commented on #2340
@alanmoo Is this still a problem? If so, can you provide detailed STR?

[2018-12-19 17:59] alanmoo commented on #2340
1.) Visit the edit view for a page on staging. For example, https://foundation.mofostaging.net/cms/pages/223/edit/
2.) Click the "preview" button at the bottom.
3.) Observe 500 error.

[2018-12-19 18:42] gvn opened #2367 "Subpage titles are missing in title tag"
**Repro:** Go to any subpage and look at the title. It shows `Mozilla Foundation - `.
**Expected:** Add the subpage title after the hyphen.

<img width="584" alt="screen shot 2018-12-19 at 10 40 54 am" src="https://user-images.githubusercontent.com/206379/50240833-b808f900-037a-11e9-931a-45dafae23458.png">

[2018-12-19 19:30] kristinashu commented on #2366
@jenntbeard I think Ann Marie should continue what she is doing and Matthew can just go in and clean up the tags if needed.

Am I correct in assuming that the Gigabit page https://foundation.mozilla.org/en/initiatives/mozilla-gigabit/mozilla-gigabit/ should be incorporated into this new Awards page so that everything is streamlined and in one place?

[2018-12-19 19:42] jenntbeard commented on #2366
The Gigabit Page is really meant to be the Awards Directory, covering all of them. Ann Marie is working on that now. Thanks!!

[2018-12-19 20:34] #1582 closed

[2018-12-19 22:11] mmmavis opened #2368 "Bug: Fellowships' selected nav link is missing on mobile"
https://foundation.mozilla.org/fellowships/

![screen shot 2018-12-19 at 14 11 14](https://user-images.githubusercontent.com/2896608/50251213-024ca300-0398-11e9-901e-ffc072e47b53.png)

[2018-12-19 22:39] mmmavis opened #2369 "Remove underline from selected nav on mobile"
Follow-up for https://github.com/mozilla/foundation.mozilla.org/pull/2348. Selected "multipage" nav shouldn't have underline on mobile

e.g.,

![screen shot 2018-12-19 at 14 37 48](https://user-images.githubusercontent.com/2896608/50252412-bbf94300-039b-11e9-9afc-b52baf625520.png)

"Overview" shouldn't be underlined.

[2018-12-19 22:51] kristinashu commented on #2366
I've quickly mocked up what I mentioned yesterday.

A) This is what was is in the copy doc(initiatives -> landing page -> fellowships page OR awards page):
<img width="360" alt="screen shot 2018-12-19 at 2 23 49 pm" src="https://user-images.githubusercontent.com/1068783/50252631-66716600-039c-11e9-96e1-51d32ed5d612.png">

B) This is what we are recommending for a simpler and better user experience

[2018-12-19 22:57] mehan commented on #2366
These mockups look amazing! Personally, I am all for option B--I don't see why we would insert yet another landing page to click through unless we absolutely have to. Thanks, @kristinashu!

[2018-12-19 22:58] jenntbeard commented on #2366
WOW! This is so beautiful! (And so amazing to see this all coming to life!) I think Option B is great - I always like streamlining where possible - not sure we would need a combined landing page at all with this. Thank you!

[2018-12-19 22:59] kristinashu commented on #2366
Yay amazing!

I will touch base with Alan tomorrow about the small bits of dev work that will need to be done and I will continue to mockup the directory page and images.

[2018-12-19 23:32] #2231 closed

[2018-12-19 23:42] #2297 closed

[2018-12-19 23:55] beccaklam commented on #2298
Hey @mmmavis so here are the updated designs. They're not too different, we just lessened the size of the banner and made the heading larger to be more consistent with the rest of the site.
## Desktop:
<img width="1244" alt="screen shot 2018-12-19 at 3 50 43 pm" src="https://user-images.githubusercontent.com/20977376/50255223-df28f000-03a5-11e9-8ee7-88b21b6e0b01.png">

## Mobile
<img width="323" a

[2018-12-20 17:21] #2368 closed

[2018-12-20 17:52] #2369 closed

[2018-12-20 18:35] #2359 closed

[2018-12-20 18:38] kristinashu opened #2373 "CMS component: spacer doesn't do anything"
Adding or removing a spacer component doesn't visually change anything on production.

[2018-12-20 19:04] gideonthomas opened #2375 "Fix language in newsletter CTA"
<img width="1440" alt="screen shot 2018-12-19 at 12 43 14 pm" src="https://user-images.githubusercontent.com/5816130/50305109-f1676480-045f-11e9-8eca-33f5308c27e7.png">

At the bottom where we have our newsletter CTA, the text looks really weird. Neither "Network", "Movement", or "Internet" should be capitalized.

[2018-12-20 19:13] mmmavis commented on #2299
Done. PR has been merged!

[2018-12-20 19:13] #2299 closed

[2018-12-20 19:18] kristinashu commented on #2366
Alan has set up the Awards page so the url is now https://foundation.mozilla.org/en/awards/! The nav and banner still have the old styling but Mavis should have that updated early in the new year.

I have also moved Ann Marie's work over to final url https://foundation.mozilla.org/en/awards/directory/.

## Edit content

@jenntbeard @mehan @annmarie123 please make any cms edits to these new pages.

[2018-12-20 19:56] kristinashu opened #2377 "Buyers Guide About page nav is broken looking"
https://foundation.mozilla.org/en/privacynotincluded/about/

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/1068783/50307789-2ff42380-044e-11e9-8ec8-ca35da1bfeca.png">

[2018-12-20 19:57] mmmavis opened #2378 "Clean up primary-nav.scss so the rules aren't so nested"
Rules in `#primary-nav-container` are way too nested. Let's fix it!

Related to #2360

[2018-12-20 20:02] kristinashu opened #2379 "Add Awards link to Initiatives page"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/2366

### Add new Awards page link http://foundation.mozilla.org/awards/ to:
- [x] sub nav (after Fellowships)
- [x] Fellowships & Awards section

https://redpen.io/qo2596f105b2a24626

![red-pen-c8a5e13f-344b-4c3e-cc52-ba89d9a5eab3](https://user-images.githubusercontent.com/1068783/50308033-fbcd3280-044e-11e9-9067-269b0c825902.jpg)

[2018-12-20 20:08] alanmoo commented on #2379
Because this page is baked into the CMS, adding a change like this is more involved than just adding some markup, and it's not going to happen this week. However, if Awards is its own section (like IHR, Mozfest, etc), everything can be done in the CMS.

Is it a hard requirement that they're tied together?

[2018-12-20 20:15] mehan commented on #2366
Ditto what Jenn said--thank you all so much for pushing this through so quickly! It will be great to start the new year having a page on the website for our work. 🙂

I think we should be good to go with regard to deleting the old pages and adding the nav button.

[2018-12-20 20:19] alanmoo commented on #2379
In fact, I'd like to state my *strong* opposition to doing it the way this ticket is proposing; It introduces a lot of opportunities for bugs to creep in. This is one of those cases where the power of the CMS in one spot comes at a cost of being in a CMS in another spot- we were able to get those pages going quickly, but we shouldn't try to push against what we've previously built here.

[2018-12-20 20:22] kristinashu commented on #2379
Fellowships and Awards definitely want to be seen as one unit. They talked about having the one button but and then going to a landing page than then goes to the two separate pages but that would be terrible ux.

[2018-12-20 20:31] jenntbeard commented on #2366
YES!!

[2018-12-20 20:36] alanmoo commented on #2379
Ok, how about this?

* Hardcode the page navigation instead of iterating over the set of `initiative sections` on the page
* Add an optional second button to the `InitiativeSection` model so that we can add one for Initiatives and Awards

[2018-12-20 20:37] kristinashu commented on #2379
Yes that sounds good!

[2018-12-20 20:39] alanmoo commented on #2379
Alright. I'm gonna pop this on the board for an "ease-in-to-the-year" ticket

[2018-12-20 20:50] kristinashu commented on #2366
Ok they're all deleted!

But unfortunately we won't be able to add the button to /initiatives page until just after the holiday break.

[2018-12-20 20:53] jenntbeard commented on #2366
As sad, we were soclose!! :)

[2018-12-20 21:03] kristinashu commented on #2366
I know Sorry! It's more than just a cms update so it's a little more involved and we don't want to rush it then have something broken on the site over the holidays when everyone is off.

I guess we could have that intermediary landing page in the meantime? That can be done just through the cms.

<img width="360" alt="screen shot 2018-12-19 at 2 23 49 pm" src="https://user-images.githubusercontent.

[2018-12-20 21:06] jenntbeard commented on #2366
I'm just being a pain - it's totally fine to wait.

[2018-12-21 00:51] #2365 closed

[2018-12-21 20:05] mmmavis commented on #2377
@kristinashu Is this side nav's styling supposed to be the same as what we have on the main site? e.g., https://foundation.mozilla.org/en/opportunity/artists-open-web/

[2018-12-21 20:08] kristinashu commented on #2377
Yes! Should be the same.

[2018-12-28 08:32] SukhnandanMalhotra commented on #2375
Hey, I am new to open source world, I'd like to work on this. Can I take this up?

[2018-12-29 18:31] SukhnandanMalhotra commented on #2337
Hey, I'd like to work on this, could I take this one?

[2018-12-29 21:17] SukhnandanMalhotra commented on #2337
**Fix broken link for a fellow profile** #2390

[2018-12-29 21:18] SukhnandanMalhotra commented on #2337
#2390

[2019-01-02 16:42] cadecairos commented on #2340
This looks like an issue in `wagtailmetadata`. I have a stacktrace, but still trying to repro locally.

[2019-01-02 18:42] cadecairos commented on #2340
It appears that this was fixed by updating the domain name listed in the Site record on staging. I'm going to check to see if the copy script isn't working as expected.

[2019-01-02 21:27] gideonthomas opened #2397 "Add advocacy/campaign info on the foundation site"
**tldr;** we need a general info page about our campaign work (possibly `/campaigns`)

The [/initiatives](https://foundation.mozilla.org/en/initiatives/) page has a good overview of the different channels through which we work.

The fellowships section has a button to "learn more" that links to the [fellowships mini-site](https://foundation.mozilla.org/fellowships/) on the foundation site and this

[2019-01-02 21:44] acabunoc opened #2398 "Sub Nav highlights multiple pages if I use the same title"
Happy New Year! 🎉

<img width="692" alt="screen shot 2019-01-02 at 4 42 12 pm" src="https://user-images.githubusercontent.com/617994/50614008-79f8f280-0ead-11e9-9534-348eea0dcd3c.png">

Minor issue, but the sub nav highlights multiple pages if I use the same title. See example here: https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/schedule/

[2019-01-03 19:54] #2360 closed

[2019-01-03 21:41] #2377 closed

[2019-01-03 22:35] #2398 closed

[2019-01-04 18:32] kristinashu commented on #2337
Looks like this is done https://foundation.mozilla.org/fellowships/directory/! Thank you for the help!!

[2019-01-04 18:32] #2337 closed

[2019-01-04 18:38] kristinashu commented on #1735
This is what we have right now:
<img width="539" alt="image" src="https://user-images.githubusercontent.com/1068783/50704579-be4ed480-100c-11e9-9ce1-831bdd884f02.png">

@natalieworth no rush but would you be able to create a better graphic for this?

[2019-01-04 18:39] #2346 closed

[2019-01-04 18:43] cadecairos commented on #2340
This issue [_should_ have been prevented by this part of the cleanup script](https://github.com/MozillaFoundation/mofo-cron/blob/61d48da45c13d8b2101f2d32c3f804dd9d87f6ed/tasks/clone_foundation_site/cleanup.sql#L21-L24), but appears to have not happened. I'm going to check on Monday if it successfully ran or not.

[2019-01-04 18:49] kristinashu opened #2402 "Auto crop cms images"
Designers to provide a list of image dimensions for all cms image types so devs can make the cms crop the images.

We should try to be consistent with our ratios as possible so  staff can easily use one image in multiple places and not have to crop it to a bunch of different sizes.

### Home
- hero image (desktop & mobile - 4:3 ratio)
- featured news image (desktop & mobile - 16:9 ratio)
- both ha

[2019-01-04 18:51] kristinashu commented on #1800
Let's just leave these and use the new style moving forward.

[2019-01-04 18:51] #1800 closed

[2019-01-04 18:52] kristinashu commented on #1762
This is almost all done here https://github.com/mozilla/foundation.mozilla.org/issues/2366

[2019-01-04 18:52] #1762 closed

[2019-01-04 18:58] kristinashu opened #2403 "CMS Component Bug: spacer isn't working"
Adding a spacer component doesn't add any space.

[2019-01-04 19:40] gideonthomas commented on #2375
Hi @SukhnandanMalhotra! I just realized that this isn't an engineering issue (or a good first issue). It's something that needs to be changed in the system itself so I'm going to make the change. Sorry about that!

[2019-01-04 19:57] gideonthomas commented on #2375
Edited via CMS (can be seen live in the fellowships FAQ)

Note from @Sydette - there's a question about stylizing "Internet health" as title case or not. I have changed it to all lowercase for now. Let's file a new ticket if it needs to change.

[2019-01-04 19:57] #2375 closed

[2019-01-04 23:22] mmmavis commented on #2403
Might be margin collapsing related.

@kristinashu where were you trying to add spacer component to? I just wanna crosscheck to see if my guess is right.

[2019-01-04 23:30] mmmavis commented on #2403
@alanmoo potential good first bug - probably only have to change the bootstrap class we used from margin class to padding class.

[2019-01-04 23:35] mmmavis commented on #2363
Done!

[2019-01-04 23:35] #2363 closed

[2019-01-04 23:37] mmmavis commented on #2373
Dupe of #2403

[2019-01-04 23:37] #2373 closed

[2019-01-04 23:56] kristinashu commented on #2373
Lol thanks!

[2019-01-05 00:08] natalieworth opened #2405 "Update voting section of PNI site"
Based on user testing and feedback, we are updating the PNI site vote section to try and reduce user errors/ frustrations. Currently the vote section doesn't provide error feedback if the user only gets through one vote section.

[Redpen with instructions is here.](https://redpen.io/p/oq8a929059c9e4976b)

Updates:

- [ ] Add error 'hint' state to 'How likely are you to buy it' if the user tries to

[2019-01-07 17:02] Sydette opened #2415 "Language in Newsletter CTA"
Not pressing but pulled this directly from About Language filing new ticket according to @gideonthomas instructions :

Mozilla is a global non-profit dedicated to keeping the Internet global public resource that is open and accessible to all.

We don't have a style standard yet but I want to make a record

[2019-01-07 17:35] kristinashu commented on #1735
I've updated the homepage 'promote' copy with Sydette's recommendation:

[2019-01-07 18:24] kristinashu commented on #1663
Implementation of this is happening here now - Banner Update: Replace green/blue banner #2298
and design to - Integrate black/white banner onto Participate page #2275

[2019-01-07 18:24] #1663 closed

[2019-01-07 18:55] kristinashu opened #2416 "Fallback images for cms images"
Once auto crop cms images #2402 is done, we designers should create fallback for each image type in case staff don't upload an image.

[2019-01-07 18:56] kristinashu commented on #1100
Opened a bigger ticket to create fallbacks for all cms images https://github.com/mozilla/foundation.mozilla.org/issues/2416

[2019-01-07 18:56] #1100 closed

[2019-01-07 19:07] kristinashu commented on #2275
Slightly related to 'Initiatives page: header styling fixes #1720' so let's link them together once design is done and there is an implementation ticket.

[2019-01-07 19:17] kristinashu commented on #2402
Based on our from slack convo:

@natalieworth @sabrinang do you have any recommendations for image ratios?

Our Abstract Sketch file should already have some ratio recommendations so maybe start with those, adjust them if needed, and then run them past the brand guideline work.

[2019-01-07 19:38] kristinashu commented on #2130
Nat has opened an implementation ticket for some small updates to the vote section!

I think we can push for these updates when we do the Valentines Day push 💖
<img width="382" alt="image" src="https://user-images.githubusercontent.com/1068783/50789266-a24b6d00-1270-11e9-9c4b-18d0b4e1bcc9.png">

[2019-01-07 19:46] Pomax opened #2417 "Update cms auth due to Google+ API getting shut down"
We need to update the auth solution due to Google shutting down Google Plus  - the immediate option is to use Google's newer Google Sign-In (https://developers.google.com/identity/sign-in/web/), and then with that in place, add oidc support (https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html) and opening things up to mozillian accounts.

/cc @alanmoo @gideonthomas @cadecairos

[2019-01-07 19:52] Pomax commented on #2417
Hm, so looking at our code, we're currently using oauth2 rather than google+ sign in, so it looks like we can skip the "moving to google sign-in" step?

[2019-01-07 20:00] Pomax commented on #2417
@alanmoo @gideonthomas @cadecairos it looks like G+ won't affect us, let's re-evaluate whether we want to do any auth changeovers or leave things as they are for now.

[2019-01-07 20:00] kristinashu commented on #2379
Looks good on staging! https://foundation.mofostaging.net/en/initiatives/

Assigning to myself to update cms once pushed to prod.

[2019-01-07 22:00] Pomax commented on #2417
Note: there is some g+ reliance under the hood in python-social-auth but they're working on getting that fixed in https://github.com/python-social-auth/social-core/pull/301 before G+ is shut down, so we should be able to just wait for them to clean that up and then bump the version.

[2019-01-07 22:49] mmmavis opened #2418 "Vertical/Side Nav - Child page links should probably have indentation"
<img width="375" alt="image" src="https://user-images.githubusercontent.com/2896608/50798003-98833300-128b-11e9-950d-25b30269c200.png">

- https://foundation.mozilla.org/en/opportunity/web-literacy/
- https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/schedule/

Not sure if adding indentation would be the solution but having arrows on child page nav links doesn't seem very

[2019-01-07 23:57] kristinashu commented on #2298
@beccaklam did you merge this? I don't see "Header Template".

[2019-01-08 00:07] kristinashu commented on #2298
Never mind, I think there was a merge problem in Abstract. You can see the file by going back in history but let's sort it out tomorrow. Also please note, the desktop header should be the marble black and white graphic, not the arrows.

[2019-01-08 00:09] mmmavis commented on #2298
So

desktop header: marble black and white graphic
mobile header: arrows

?

[2019-01-08 00:15] kristinashu commented on #2298
Both marble. The mobile looks right but desktop is wrong.

[2019-01-08 01:16] mmmavis opened #2419 "[CMS] Update help text for 'title' and header' fields"
In various page template files (primary, opportunity, campaign and maybe more) we have logic like the following

[code]

or

[code]

I wanted to clean up the code but couldn't do so as I couldn't figure out what `title` and `header` are and how they are being used.

### On Wagtail
- Help text for `title`: is currently `The page title as you'd like it to be seen by the public` (which is vague and n

[2019-01-08 02:54] mmmavis opened #2420 "Nav Cleanup: 'hidden-sm-down' class should be on wrapper div"
Wrapper div should have the `hidden-sm-down` class, not its child div.
[code]

[2019-01-08 14:43] alanmoo commented on #2417
Sounds good, let's not spin our wheels unnecessarily. (That being said, I am still a bit curious as to the cost/benefit of switching to IAM for authentication.)

[2019-01-08 16:09] beccaklam commented on #2298
Hi @kristinashu and @mmmavis,

Hmm. Not sure what happened! Sorry about that.
I merged my current branch and I can see the file here:
![screen shot 2019-01-08 at 11 03 31 am](https://user-images.githubusercontent.com/20977376/50842611-12232b80-1335-11e9-865e-f65c0429f235.png)
I've also attached the header image and have updated the comps above to the correct image. [header-img.jpg.zip](https://git

[2019-01-08 20:50] kristinashu commented on #2379
Live! https://foundation.mozilla.org/en/initiatives/

[2019-01-08 20:50] #2379 closed

[2019-01-08 20:50] kristinashu commented on #2366
And it's live! https://foundation.mozilla.org/en/initiatives/

[2019-01-08 20:50] #2366 closed

[2019-01-08 20:51] beccaklam commented on #2402
@kristinashu I added the image ratios to your list above. Only one missing is the Participate hero image that's pending the header template I'm working on.

[2019-01-08 21:44] kristinashu commented on #2402
@beccaklam do you think hero image could work at 16:9 to really make things consistent?

[2019-01-08 21:45] beccaklam commented on #2402
@kristinashu you mean for the home page? Yeah I think it would work.

[2019-01-08 21:49] kristinashu opened #2426 "Auto crop all cms images"
Design done in #2402

Any image uploaded to the cms should be automatically cropped.

### Home
- [x] hero image (desktop & mobile - 16:9 ratio)
- [ ] featured news image (desktop & mobile - 16:9 ratio)
- [ ] both happening now sections (card desktop & mobile, and wide version - 16:9 ratio)

### Initiatives
- [ ] feature program (desktop & mobile - 16:9 ratio)

### Participate
- [ ] hero image - WI

[2019-01-08 21:54] kristinashu commented on #2402
Nice! I've opened an implementation ticket #2426

[2019-01-08 21:54] #2402 closed

[2019-01-08 22:18] mmmavis opened #2427 "Add a few CMS pages to review app (faker?)"
Make sure review apps have the following pages set up

- [Awards](http://foundation.mozilla.org/awards/)
- [IH](https://foundation.mozilla.org/en/internet-health/)

so we don't have to manually create these pages every time for testing

/cc @cadecairos (not sure who to assign this ticket to)
/cc @kristinashu as FYI

[2019-01-08 22:24] mmmavis commented on #2279
@kristinashu how should the banner image look like on mobile? Full width with no left/right margin?

[2019-01-08 22:33] kristinashu commented on #2279
Right, it should be full width with no side margin.

[2019-01-08 22:39] kristinashu commented on #2279
So the same margin as we have on the live site, just without cropping the image:

<img width="318" alt="image" src="https://user-images.githubusercontent.com/1068783/50863349-37bf2d80-1353-11e9-849a-d971f29851ab.png">

[2019-01-08 22:42] mmmavis commented on #2279
Thanks!

@youriwims refer to the comp above ^ for now. We will get you set up with Abstract and Sketch tomorrow.

[2019-01-08 22:53] Pomax opened #2428 "Add wagtail-experiments to our setup for A/B testing"
Now that https://github.com/torchbox/wagtail-experiments is effectively out of beta, and is compatible with our setup, it's probably a good time to add it in.

It introduces a new settings option called (surprise!) "experiments", which lets you A/B(/C/D/E/...) test page conversion in the sense that you can set up a set of pages, pegged to a "control page", and users hitting the control page's URL

[2019-01-08 23:07] kristinashu opened #2429 "Copy for new banner"
https://docs.google.com/document/d/1c-nwpxS06CnoqO3--qLUT0pkWaECSgUpq9Saic_5MuQ/edit?usp=sharing

[2019-01-08 23:18] kristinashu commented on #2247
There's another ticket for this https://github.com/mozilla/foundation.mozilla.org/issues/2367

[2019-01-08 23:18] #2247 closed

[2019-01-08 23:34] kristinashu commented on #2415
@Sydette do you mean we should replace what we have now

with

?

[2019-01-08 23:40] #2195 closed

[2019-01-08 23:41] Pomax commented on #2428
How much detail do we want to add to our own README.md when it comes to explaining A/B testing?

[2019-01-09 00:00] mmmavis opened #2431 "Nav Cleanup: tidy up SCSS rules for "#multipage-nav" and ".multipage-link""
SCSS rules for `#multipage-nav` and `.multipage-link` are scattered across different files. Let's tidy them up so they are in their corresponding `.scss` files.

[2019-01-09 00:07] kristinashu opened #2432 "Design updates to blue/green gradient"
I believe there just two more reminisces of the gradient, the dividing line & email signup.

Let's redesign these to fit with our new direction and can reference @natalieworth blue-sky comps https://redpen.io/p/rja784df428a8af4e5!

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/1068783/50866296-43fcb800-135e-11e9-91d0-5a9faab42289.png">

<img width="1436" alt="image"

[2019-01-09 00:15] kristinashu opened #2433 "Update header"
Reduce header height and Donate button so it matched PNI to better align with our new style.

[2019-01-09 15:11] youriwims commented on #2279
Thanks @mmmavis & @kristinashu—I was able to fix it.

[2019-01-09 16:23] alanmoo opened #2434 "Enable "draft" Buyer's Guide products"
As the team prepares to launch updates to the guide, we need a way to add products that aren't live yet.

I'm not tied to a specific solution, but some ideas that might be useful

* Boolean "is live" or "publish date" could be used
* It's probably useful for unpublished products to be visible to logged in users for previews.

[2019-01-09 16:23] alanmoo commented on #2434
@caltrider Any other thoughts?

[2019-01-09 16:55] caltrider commented on #2434
I'm most familiar with something like Medium does with a "publish" feature. So that you could input all the info and have it available to review/double check/preview, and then publish when we're ready to roll out the launch. That being said, since we won't be promoting the guide before the V-Day launch, I don't imagine we'll have too much traffic to worry about if we add things and make updates to

[2019-01-09 18:18] kristinashu commented on #2416
Since everything is 16:9 we could probably just use one placeholder everywhere with the exception of people in the Fellowship directory which would be 1:1.

Tais made this but we are moving away from the gradient. But I do like the idea of doing something slightly different for people.

<img width="815" alt="image" src="https://user-images.githubusercontent.com/1068783/50919491-cb4a3a00-13f7-11e9-

[2019-01-09 18:43] alanmoo commented on #2426
The phrasing of this throws me off; Do you mean that when images are shown in those various parts of the site, the output should automatically render them at specific sizes?

I ask to clarify because when uploading images to the site, they're dumped into one main bucket of content and I don't believe we should do any sort of automatic cropping at that point because the image could be used in a var

[2019-01-09 18:50] alanmoo commented on #2428
At least a heading and a link to Wagtail Experiments documentation.

[2019-01-09 19:14] #2358 closed

[2019-01-09 20:13] kristinashu commented on #2426
Right, I mean that users see a cropped image but I guess the image isn't truly being cropped.

The purpose is to avoid things like this where content is misaligned because one image is bigger than another:

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/1068783/50925680-e624aa80-1407-11e9-94e1-a276361fac70.png">

[2019-01-09 20:18] #2298 closed

[2019-01-09 20:18] #2420 closed

[2019-01-09 21:35] kristinashu opened #2438 "Buyers Guide Updates for V-day ❤️"
Master ticket for the small website updates and marketing for our Valentines Day push of the guide.

[Notes](https://docs.google.com/document/d/1FLTdpgUO0XY3nHyqdPA1XxtqES9UIzZ683bQFgh_1Ck/edit?usp=sharing) from kick-off with @caltrider.

### 🚀  Launch Feb 6
(take down March 1st - category and hero banner)

### Content & Marketing
Jan 14: Product list finalized - [content doc](https://docs.google.

[2019-01-09 23:12] kristinashu commented on #717
People have been asking in the slack wagtail channel. Is that enough? Please re-open if needed.

[2019-01-09 23:12] #717 closed

[2019-01-09 23:15] #55 closed

[2019-01-09 23:16] kristinashu commented on #478
I believe we are no longer using Optimizely.

[2019-01-09 23:16] #478 closed

[2019-01-09 23:20] gvn commented on #478
Good decision! 👍

[2019-01-09 23:20] #585 closed

[2019-01-09 23:32] kristinashu commented on #645
@alanmoo is this still relevant?

[2019-01-09 23:34] kristinashu commented on #648
@Pomax is this still an issue with Wagtail?

[2019-01-09 23:34] kristinashu commented on #347
@cadecairos is this still relevant?

[2019-01-09 23:38] #963 closed

[2019-01-09 23:39] #914 closed

[2019-01-09 23:47] kristinashu commented on #2279
Oooh is this ticket possibly related to this one #1485?? Is #1485 still relevant?

[2019-01-09 23:51] #1246 closed

[2019-01-09 23:54] kristinashu commented on #1430
This seems to work now but please re-open if it isn't.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1068783/50936992-be910a80-1426-11e9-8b52-81c677db95eb.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1068783/50936977-b638cf80-1426-11e9-9427-12c4a647687f.png">

[2019-01-09 23:54] #1430 closed

[2019-01-09 23:55] #1453 closed

[2019-01-09 23:59] kristinashu commented on #1546
@xmatthewx Ann-Marie has added in a regular blue ghost button after each pulse component https://foundation.mozilla.org/en/awards/directory/

Will that do?

[2019-01-10 00:01] kristinashu commented on #1702
It is now a primary page http://foundation.mozilla.org/awards/ 🎉

[2019-01-10 00:01] #1702 closed

[2019-01-10 00:03] #1579 closed

[2019-01-10 00:04] kristinashu commented on #1612
Let's do this when we CMS-ify the Fellowship pages #2282

[2019-01-10 00:04] #1612 closed

[2019-01-10 00:09] kristinashu commented on #2197
This is done and it's great 🎉

[2019-01-10 00:09] #2197 closed

[2019-01-10 00:13] kristinashu commented on #1843
@mmmavis is this all done?

[2019-01-10 00:14] mmmavis commented on #1843
Oops forgot to close this one.

[2019-01-10 00:14] #1843 closed

[2019-01-10 00:16] kristinashu commented on #1735
@natalieworth let's go with V1!

Can you please scale it to the recommend dimensions (i.e. whatever google search says) and then upload it to the CMS (in the promote tab of the Homepage)?

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/1068783/50937733-d4ec9580-1429-11e9-91d8-4a8aa79559d1.png">

[2019-01-10 00:42] kristinashu commented on #2403
@mmmavis did you do something? Looks like it's working now!?

[2019-01-10 00:47] kristinashu commented on #1815
Yes! This drives me crazy! But I'm going to close this ticket since it's a Wagtail issue.

[2019-01-10 00:47] #1815 closed

[2019-01-10 00:55] mmmavis commented on #2403
Ummm no I didn't do anything. 🤔

[2019-01-10 01:05] kristinashu commented on #2403
Lol ok well I guess it's good to close 🙃

[2019-01-10 01:05] #2403 closed

[2019-01-10 14:37] youriwims commented on #2279
Yes, it's definitely related. For this image , I'm fixing the scaling/cropping issue, consolidating the code, and using best practice responsiveness.

[2019-01-10 15:22] alanmoo commented on #645
I have no idea what it's talking about at this point, but news seems to be working.

[2019-01-10 15:22] #645 closed

[2019-01-10 15:42] beccaklam commented on #2293
@mmmavis
Re: increase padding in the big white box, I think doubling the padding would be a good thing. @kristinashu any thoughts?
Re: styling changes to mobile view, that's a good call. I'll need to make the comp, will post here once it's done. Thanks Mavis!

[2019-01-10 15:54] caltrider commented on #2434
I do love deliciously obvious!

[2019-01-10 16:00] youriwims commented on #1550
@taisdesouzalessa or @gvn, on which page can I find this spacing issue? Thanks!

[2019-01-10 16:25] Pomax commented on #2434
@kristinashu right now I've added some dummy CSS to effect "making it obvious that some products are draft" but I don't actually know how much attention should be drawn to them, or what the "least intrusive, super obvious" way would be. Would you have any advice? =)

[2019-01-10 16:27] cadecairos commented on #347
I don't think so. we can refile if it ever becomes relevant again.

[2019-01-10 16:27] #347 closed

[2019-01-10 17:06] kristinashu commented on #2293
Does this mean all the page content will be narrower? If so I'm good with that but let's just make sure we QA it well.

Good call! I left a couple comments in redpen.

[2019-01-10 17:49] kristinashu commented on #2434
Looks good! I think your red text is enough, doesn't even need the extra red border.

[2019-01-10 17:51] youriwims commented on #1660
Thanks, will do!

[2019-01-10 18:14] alanmoo commented on #2426
Got it. @youriwims This may be a good one for you to take on, as it is somewhat aligned with your other work on the hero image.

[2019-01-10 18:30] mmmavis opened #2440 "Design audit to make sure design follows site's style guide"
https://foundation.mozilla.org/style-guide/

Foundation site's style guide was pretty up to date at one point. However, it seems like overtime we have been adding too many variations of the existing styles to the design/codebase without reflecting them on the style guide. Two things I spotted the most is **the number of shades of the gray** and **different type styles** (e.g., use `.h5-heading` bu

[2019-01-10 18:31] beccaklam commented on #2293
Oh, I was thinking the box would just increase outward, so the width of the content wouldn't change. Would that affect anything else @mmmavis ? cc: @kristinashu

[2019-01-10 18:40] mmmavis commented on #2293
@beccaklam did you mean keeping the big white container the same while making the "Read our research first" box wider? It could work but we just need to be careful for mobile as the box might extend outside of the viewport/cut off (if we are using the same design treatment).

[2019-01-10 18:49] beccaklam commented on #2293
@mmmavis No, I meant keep the content the same but making the big white container wider. Let me know if that makes sense, if not happy to jump on a call!

[2019-01-10 19:15] kristinashu commented on #2440
Yes thank you @mmmavis! Maybe it's something we can review together at the office.

[2019-01-10 19:38] gideonthomas commented on #2415
@kristinashu no sorry, this is a content ticket that should be edited on the CMS.
On this page: https://foundation.mozilla.org/en/opportunity/fellowships-faq/,

[2019-01-10 19:53] Pomax commented on #2434
excellent, I shall take out the border CSS

[2019-01-10 20:12] Pomax commented on #1660
As far as I know this is only really a problem in development with autogenerated Faker text (which doesn't stick to using short titles for campaign pages, and so creates _really bad looking menu headings_ =D). It's totally worth fixing the spacing, but I would say let's not try to make thing fit over multiple lines right now, especially as there's nothing on the live site that runs into this probl

[2019-01-10 20:59] youriwims commented on #1550
@kristinashu, do the ol and ul still need to have identical rules?

[2019-01-10 21:09] kristinashu commented on #1550
Hmmm did a little test and looks like this has been fixed!

https://foundation.mofostaging.net/en/initiatives/test-ul-vs-ul/

<img width="945" alt="image" src="https://user-images.githubusercontent.com/1068783/50997247-e5a81480-14d8-11e9-8269-7f619ac2a225.png">

[2019-01-10 21:52] beccaklam commented on #2293
Hi @mmmavis , thanks for your patience. Here's the comp for mobile:
https://redpen.io/mge4da91661e19eed3
![screen shot 2019-01-10 at 4 51 33 pm](https://user-images.githubusercontent.com/20977376/50999374-02077980-14f8-11e9-8f21-2e0c1ed079bf.png)
You can find the sketch file in the Buyer's Guide file on the 'Jump Link' page:
![screen shot 2019-01-10 at 4 48 25 pm](https://user-images.githubusercon

[2019-01-10 22:18] natalieworth commented on #1735
Updated this today in wagtail (but it's still displaying the old one when I try the link on facebook). I'll try again tomorrow to make sure that it's working:

<img width="1675" alt="screen shot 2019-01-10 at 2 15 35 pm" src="https://user-images.githubusercontent.com/14876567/51000641-90710080-14e2-11e9-9f72-114fc6bef5fa.png">

[2019-01-10 22:19] natalieworth commented on #1735
Also should the copy have an 'a' before the 'global public...'?

cc @kristinashu

[2019-01-10 22:36] kristinashu commented on #1735
Sweet! All good now

<img width="544" alt="image" src="https://user-images.githubusercontent.com/1068783/51001466-06766700-14e5-11e9-8e00-45102be9bc2d.png">

[2019-01-10 22:36] #1735 closed

[2019-01-10 22:43] kristinashu commented on #1550
Ok thank Pomax, yeah let's align them! @youriwims please add bottom margin to `ul` so it matches `ol`.

[2019-01-10 23:41] mmmavis opened #2441 "Remove old code that's no longer needed"
Remove the following related code since thy are not being used anymore.

- `.jump-bar`
- `.stay-connected`
- `.sign-up-box`

[2019-01-11 00:03] mmmavis opened #2442 "Evaluate if we can remove "takeover" component and "upcoming" component"
... since it's an oooooolllllldddddd component.

This includes `takeover.jsx`, `upcoming.jsx`, related SCSS, and some portions of `main.js`

[2019-01-11 05:15] coderpen-me commented on #1304
How can i contribute by making these changes?

[2019-01-11 16:01] youriwims commented on #1660
@Pomax the spacing and gray line is only an issue when the nav wraps. The nav's parent container has a margin-bottom so, vertical spacing will be okay if it's only one line. Like we talked about yesterday, I can always add a Flex gutter to increase vertical spacing if the nav wraps at the very least.

@kristinashu I'm able to improve the vertical spacing between multiple lines of the nav in the ev

[2019-01-11 19:00] youriwims commented on #1660
This is similar to how it would appear. Currently, if we add the vertical spacing in case the nav wraps, it would technically be a margin-bottom that adds the "gutter"/spacing. This is how it would look:
![screen shot 2019-01-11 at 1 52 49 pm](https://user-images.githubusercontent.com/36484608/51053649-389ccd00-15a8-11e9-9e61-2694893cd9c5.png)
Unfortunately, whatever margin-bottom is on the top ro

[2019-01-11 20:09] kristinashu commented on #1660
Ok, feel free to reduce the padding! Just make sure that the light gray line lines up with the black underline like so:

<img width="695" alt="image" src="https://user-images.githubusercontent.com/1068783/51057121-83fbaf00-1599-11e9-952e-174cd511cb3a.png">

[2019-01-11 20:17] mmmavis commented on #1660
@kristinashu since I'm pretty involved with the nav cleanup work...

Question: is this change just for multipage links on the **campaign** pages? Or any pages on Foundation site that have multipage links (e.g., opportunity page, about page, etc)

[2019-01-11 21:13] kristinashu commented on #1660
For now, let's just change it on the multi-page campaigns.

FYI to Youri: Mavis will eventually be working on turning this sub nav into a template. It will then be used everywhere that we have a horizontal sub nav (example: primary pages like [About Us](https://foundation.mozilla.org/en/about/) and campaign pages like [Aadaar](https://foundation.mozilla.org/en/campaigns/aadhaar/)).

[2019-01-11 21:15] mmmavis commented on #1660
@youriwims do what you need to do to land the fix. Just tag me in the PR so I'm aware of the nav changes you are adding to the codebase 👍

[2019-01-11 21:15] youriwims commented on #1660
Sounds good!

[2019-01-11 21:44] kristinashu opened #2444 "Buyers Guide: design V-Day hero banner"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/2438

Design a V-Day themed banner to replace holiday themed banner.

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/1068783/51061104-e5764a80-15a6-11e9-975a-09e353687847.png">

Bonus: Design a generic post V-Day themed banner while you're at it!

[2019-01-11 21:48] kristinashu opened #2445 "Buyers Guide: crop new product images & NSFW treatment"
Based on #2438

[Product list](https://docs.google.com/spreadsheets/d/1hm7LliaSu3ypNFlp5oj8CKTRu4Q46nbjTBw-nXR3oDE/edit?usp=sharing) should be finalized Jan 14.

Then we will need to source images and crop them.

_Note: some might need special nsfw treatment?_

[2019-01-11 22:01] kristinashu opened #2446 "Increase shares after voting"
A lot of people are voting but very few are sharing.

Currently we have about 29k creepiness votes in analytics and only about 29 vote shares, that’s 0.1%. Let’s try and get 5 out of 100 voters to share!

We might be able to test different options if Pomax is done setting that up in time.

#### Ideas
- remove link to comments
- make share title larger and say something like `Share!` or `Invite you

[2019-01-11 22:03] youriwims commented on #1660
@kristinashu, if space is added between the nav wrap, the gray line won't line up with the black underine.

[2019-01-11 22:17] kristinashu commented on #1660
Chatted with Youri and sounds like there is no _elegant_ design solution for this. We think the best way to proceed will be to update faker text and explore options to limit character count and number of nav items. I will open up tickets for these.

@youriwims if this all sounds right, please close this ticket!

[2019-01-11 22:19] youriwims commented on #1660
Sounds good, thanks @kristinashu :)

[2019-01-11 22:19] #1660 closed

[2019-01-14 14:53] patjouk opened #2451 "Remove the donate banner when in local dev"
The banner is quite big and frequently in the way when you're doing some local dev. It would be great to have a flag to hide it.

[2019-01-14 17:49] xmatthewx commented on #1546
What Ann-Marie did is great, but many authors wouldn't how to create a search URL on pulse or that it would even be possible to link to that. I think we'll see more use cases and should directly support it. Does that seem reasonable?

That said, feel free to clarify or rescope this ticket based on Ann-Marie's use as a prototype.

[2019-01-14 17:55] xmatthewx commented on #2446
Excellent. Design-wise, let's try and land on 2 options: one bolder, one super bold. Will be fun to test!

[2019-01-14 17:56] #2428 closed

[2019-01-14 19:01] Pomax commented on #2293
At wide views (desktop etc) does it make sense to also lower the vote buttons, so they line up with the slider? atm it looks like this:

![image](https://user-images.githubusercontent.com/177243/51134146-91a87300-17eb-11e9-844b-94f9d9130587.png)

which feels like a little margin-top would give a more uniform UI:

![image](https://user-images.githubusercontent.com/177243/51134200-bb619a00-17eb-11e9

[2019-01-14 19:21] kristinashu commented on #1720
Closing since design for this is going to change #2275

[2019-01-14 19:21] #1720 closed

[2019-01-14 19:33] beccaklam commented on #2293
@Pomax That's an interesting suggestion, I think though that having the likely/not likely buttons closer to the question makes more sense. It is nice to have the slider and the buttons lined up but for usability have the buttons closer to the question makes more sense than having a giant space there.

[2019-01-14 19:55] #2441 closed

[2019-01-14 20:36] alanmoo commented on #1304
@coderpen-me you're welcome to clone the repo, load fake data (see the readme) and open a PR with the changes needed, referencing this ticket in the PR.

[2019-01-14 21:00] natalieworth commented on #2444
Have a couple options for the header in Redpen here. I am trying to keep it not too busy since the other content on the page feels a bit busy too. [Let me know what you think](https://redpen.io/p/mg0194f75b80b2008e)

cc @kristinashu @beccaklam @caltrider @sabrinang

[2019-01-14 21:25] mmmavis opened #2454 "Evaluate which wrapper to assign `.cms` class to"
We don't seem to be consistent about which wrapper(s) in CMS page template we assign `.cms` class to. This means that the CSS rules we set for `.cms` won't cover all CMS generated content for some sections.

Let's first evaluate if we need to keep the `.cms` class. And if so, which wrappers should have that class.

---

From Pomax in https://github.com/mozilla/foundation.mozilla.org/pull/2452#issu

[2019-01-14 21:47] caltrider commented on #2444
Love these! Left a few comments. My favs are the hearts with the "don't spy" and "hey siri"
Good work @natalieworth

[2019-01-14 23:55] mmmavis opened #2456 "Remove SCSS code for .in-page-cta"
... since it's not being used

[2019-01-15 17:16] marcwalsh opened #2458 "OL7 'Mentors and Experts' Page has a long load time"
Both myself and @acabunoc are experiencing pretty long (over 10 second) load times for when trying to load the Mentors and Experts page for Open Leaders 7. There's a pretty long delay it seems if it's loading the page.

URL: https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/mentors/

The rest of the site is working fine for us.

[2019-01-15 17:16] marcwalsh opened #2459 "OL7 'Mentors and Experts' Page takes a long time to load"
Both myself and @acabunoc are experiencing pretty long (over 10 second) load times for when trying to load the Mentors and Experts page for Open Leaders 7. There's a pretty long delay it seems if it's loading the page.

URL: https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/mentors/

The rest of the site is working fine for us.

[2019-01-15 17:16] #2458 closed

[2019-01-15 17:17] marcwalsh commented on #2458
Opened a duplicate issue! Also under #2459

[2019-01-15 18:02] beccaklam opened #2461 "Follow up ticket for Engagement Section on Product Page"
Follow up ticket from #2447

## Issue One

- [ ] Make sure padding between 'Tell us what you think banner' and the paragraph above is 48px

_Context:_
There's supposed to be 48px padding between the 'Tell us what you think' banner and the paragraph above, but it doesn't look like the comp has that? cc: @mmmavis
### Deployment:
<img width="1440" alt="screen shot 2019-01-15 at 8 54 57 am" src="https

[2019-01-15 18:04] mmmavis commented on #2461
this is a follow-up ticket for https://github.com/mozilla/foundation.mozilla.org/pull/2447

[2019-01-15 18:04] mmmavis commented on #2461
I'll take a look soon.

[2019-01-15 18:13] #2431 closed

[2019-01-15 19:37] beccaklam commented on #2446
@kristinashu @xmatthewx Here are two quick ideas: https://redpen.io/p/utee9e897aa82628cd
Let me know what you think!

[2019-01-15 20:40] beccaklam commented on #2446
@xmatthewx
### Bold Option:
![screen shot 2019-01-15 at 3 37 40 pm](https://user-images.githubusercontent.com/20977376/51208401-94829100-18db-11e9-859f-e55dc12c0156.png)

### Bolder Option
Kristina already pointed out this is probably too much and the UX for this coupled with the donation ask would be a bad experience. Probably going to nix it, was just trying out ideas

Post-vote pop-up:
![screen

[2019-01-15 21:10] kristinashu commented on #2444
Nice! We're gonna go with V1. @natalieworth can you please share the final background image jpg here and then I'll open an implementation ticket.

[2019-01-15 21:13] xmatthewx commented on #2446
Cool, cool. Looking great! Yep, pop up is probably too much to tackle.

One idea: move 367 votes from the top to your new heading: `367 Votes. Invite your friends!` I'm thinking that people like to share stuff that's validated by other people's engagement.

[2019-01-15 23:15] natalieworth commented on #2444
Buyer's Guide header image for Valentine's [is here](https://drive.google.com/file/d/1KAN2RMdN9OvjQ8BlmgTRobd_oqyk4HVU/view?usp=sharing).

Original illustrator file is [here](https://drive.google.com/drive/folders/1JuFZFdY-BV5wrCon1rQLAWGiOUEaTNom?usp=sharing) (if designers need).

[2019-01-16 00:31] kristinashu opened #2464 "V-Day: update Buyers Guide hero image"
Based on design in #2444 & parent ticket #2438.

**_Do not push live until around Feb 5._**

Update white holiday banner with this new V-Day one. [JPG is here](https://drive.google.com/file/d/1KEAmnSm-UqwwEs22X6YxLfqKZ8sPyskp/view?usp=sharing).

![pni-valentines-header- 2x](https://user-images.githubusercontent.com/1068783/51283589-8eed7f80-199d-11e9-9a9a-34c3c22ea803.jpg)

And should look like:

[2019-01-16 16:25] youriwims opened #2466 "Refactor & Optimize Home Hero Image"
After trial & error, @patjouk & I agree on the same approach of using the `picture` & `source` tags to switch between image versions based on resolution and screen size while maintaining proper aspect ratios. I'm waiting on @patjouk to finish some tests for this approach before I can move forward and:

- [ ] Refactor old code ( `img` --> `picture`/`source`)
- [ ] Optimize the image's resolution at

[2019-01-16 16:38] cadecairos commented on #2340
This is definitely not fixed. I'm going to try reorganizing the cleanup SQL script to see if something is silently failing.

[2019-01-16 16:41] cadecairos commented on #2340
[code]

[2019-01-16 20:25] natalieworth commented on #2444
[Updated the banner](https://drive.google.com/file/d/1KEAmnSm-UqwwEs22X6YxLfqKZ8sPyskp/view?usp=sharing) @kristinashu to have same dimensions as previous. :D

[2019-01-16 21:04] #2456 closed

[2019-01-16 21:34] Pomax commented on #2417
And done.

[2019-01-16 21:34] #2417 closed

[2019-01-16 21:59] Pomax opened #2470 "Set up visual regression testing with Percy.io"
- [x] set up a test account
- [x] add percy's token to our travis.yml (PR: https://github.com/mozilla/foundation.mozilla.org/pull/2469)
- [x] set up a base line for a single page as reference for percy (Issue: https://github.com/mozilla/foundation.mozilla.org/issues/2336)
- [x] add percy integration to foundation.mozilla.org - https://docs.percy.io/docs/github (devops 649)
- [x] file a PR that mod

[2019-01-16 22:00] Pomax commented on #2319
Going with Percy.io

[2019-01-16 22:00] #2319 closed

[2019-01-16 22:02] Pomax commented on #2338
dupe for https://github.com/mozilla/foundation.mozilla.org/issues/2336

[2019-01-16 22:02] #2338 closed

[2019-01-16 22:39] kristinashu commented on #2444
w00t thanks!

[2019-01-16 22:39] #2444 closed

[2019-01-16 23:37] kristinashu commented on #2282
@Pomax I was taking with @alanmoo the other day and we were thinking the best way to go about this is for me to start re-building the fellowship pages using existing CMS components and then opening tickets if new additional components need to be designed and build.

Would it be possible for you to help me get started? I think I need a primary page, like About Us, with a temporary name like `fellow

[2019-01-17 15:59] #2130 closed

[2019-01-17 17:47] #2293 closed

[2019-01-17 18:10] kristinashu opened #2473 "Fellowships: host org updates"
Fellowships team will requesting host org applications so we need to update [Support the Program](https://foundation.mozilla.org/fellowships/support/) content with content found at the bottom of [this doc](https://docs.google.com/document/d/1ke01ZGzdktlDkBb_GVbF-fuA47jLHx8ksDGAC6vfrHw/edit#).

- hard launch on Mon Feb 4 but lets have it live by Thurs Jan 30
- content is not yet final
- they will c

[2019-01-17 18:21] kristinashu opened #2474 "Fellowships: backend for directory component"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/2282

**Goal:** allow staff to update & add new fellows to the [Directory page](https://foundation.mozilla.org/fellowships/directory/).

We want to keep the same content and also add in a short bio for each Fellow (will mock this up).

@alanmoo @xmatthewx @gideonthomas @Pomax this will probably require a new CMS component, can you p

[2019-01-17 18:59] xmatthewx commented on #2446
Excellent.
 - The top headline in option 2 (bolder) is very effective. Great idea. We could remove the line of text "Thanks for ... results" and make this box all very clean and simple. I think results infographic speaks for itself. If you disagree we could just label it "results".
 - I'll step back now and let you and Kristina decide button color and make the final call on all of this.
 - I'm ver

[2019-01-17 19:10] xmatthewx commented on #2474
Great. Thanks. A few things to discuss...

 - **Summary**: "directory" component would allow author to pick filters much like our "profile listing" component, but include tabs for navigation.
 - **Tabs**: It _could_ automatically use the year field to create tabs, or allow author to pick a field for tabs. Use case: mozilla directory filters to show everyone with "program type: mozfest; year: 2019"

[2019-01-17 21:01] beccaklam commented on #2446
@kristinashu @xmatthewx
Feedback based on crit and matthew's comments -- Bold option remains the same, some updates to Bolder option:
- eliminated sub header line
- changed colour of buttons to reflect social platform brand (when applicable)

https://redpen.io/gs490ea2b6eb47dbb7
<img width="869" alt="screen shot 2019-01-17 at 3 57 37 pm" src="https://user-images.githubusercontent.com/20977376/5134

[2019-01-17 21:06] mmmavis opened #2475 "Make sure we use SCSS variables for colours where we can"
Related to the style guide cleanup ticket https://github.com/mozilla/foundation.mozilla.org/issues/2440

---

from https://foundation.mozilla.org/en/style-guide/

<img width="583" alt="image" src="https://user-images.githubusercontent.com/2896608/51348814-768e6b00-1a58-11e9-8568-5109779fa60b.png">

e.g. instead of using `#666666`, we use just use `$dark-gray`

[2019-01-17 21:22] alanmoo commented on #2474
I knew you'd be able to give a good overview of this, thank you 😄

There's a balance to be had here of flexibility and complexity, I think you're pretty much at the sweet spot, @xmatthewx.

Sounds good. I see this new component as, functionally, a wrapper around the "profile listing" component. (Engineering note: In terms of code we should be able to share it, but nesting wagtail blocks can be a b

[2019-01-17 21:44] #2475 closed

[2019-01-17 22:02] gideonthomas commented on #2474
Let's file a ticket for this and work on it sooner rather than later -- it is one of the "medium priority" items for our team but I anticipate this becoming an issue for a couple of things we'll be working on in the near future.

[2019-01-17 22:41] alanmoo opened #2477 "Horizontal Sub Nav should only show "primary" pages"
Host FAQ is a child page of Support the Program, but it shouldn't show up in the navigation.
<img width="787" alt="image" src="https://user-images.githubusercontent.com/1682681/51353564-fdeed500-1a7e-11e9-9bbf-babfb05ed824.png">

[2019-01-17 22:50] mmmavis opened #2478 "Streamline terminology for different types of navs"
There are many different types of navs on Foundation site. We should streamline the terminology we use to refer them to avoid confusion.

Some examples I've seen people using

- main nav
- primary nav
- secondary nav
- multipage nav
- side nav
- horizontal nav
- ... etc

/cc @kristinashu to triage

[2019-01-17 22:55] mmmavis commented on #2477
@alanmoo by "primary nav" I assume you didn't mean the nav that's shared Foundation site-wide? Did you mean the the horizontal nav that appears on "multipage" primary page and its children?

(fyi, I just created a [ticket](https://github.com/mozilla/foundation.mozilla.org/issues/2478) for us to streamline terminology we use to refer to different types of navs on the site.)

[2019-01-17 22:57] xmatthewx commented on #2474
ticket filed here: https://github.com/mozilla/network-pulse-api/issues/445

What would this look like as form inputs? I don't totally understand.

[2019-01-17 23:04] kristinashu commented on #2477
Yes, he means the horizontal sub nav that appears on primary pages and opportunity/campaign type pages.

<img width="840" alt="image" src="https://user-images.githubusercontent.com/1068783/51354494-a6456f00-1a68-11e9-84a2-8f4629840b7d.png">

i.e `Host FAQ` should not show up like this
<img width="684" alt="image" src="https://user-images.githubusercontent.com/1068783/51354653-2075f380-1a69-11e9-9f

[2019-01-17 23:06] kristinashu commented on #2478
Do these work for you? https://redpen.io/vp5721a2a03e94bf21

[2019-01-17 23:11] kristinashu commented on #2282
For the record, because Wagtail adds the `/en/` we decided go straight to [/en/fellowships](https://foundation.mozilla.org/en/fellowships/). Pomax create the primary sub page and I now have permissions to edit and add sub pages!

[2019-01-17 23:12] mmmavis commented on #2477
Cool. Sounds good. Let me know if this still needs more discussion / or is ready for a fix.

[2019-01-17 23:32] kristinashu commented on #2446
I think you could group the titles in the bold option, like you had on the bolder option. It makes for better hierarchy and feels less clustered.

<img width="940" alt="image" src="https://user-images.githubusercontent.com/1068783/51355775-fd4d4300-1a6c-11e9-988b-8cb50e64daf4.png">

[2019-01-17 23:37] xmatthewx commented on #2446
I really like it with no subhead. If you make them both the same with button color as the only variable, then an A/B test will give us unambiguous info on why one performs better than the other.

[2019-01-18 00:04] mmmavis commented on #2294
@beccaklam I realized there are 2 versions of "i" icon - one pink one grey. Is it intentional or should we make them both grey (or pink)?

[2019-01-18 06:13] snahil commented on #1530
Yes, this will be a great idea as you never gets a terminal with TTY terminal input

[2019-01-18 06:18] snahil opened #2480 "createsuperuser` cannot run due to not being in TTY mode"

[2019-01-18 14:46] beccaklam commented on #2294
It was intentional ... for the top one we really wanted people to notice 'Read our research first' because users were getting confused why they were being asked to vote with so little information. I understand it's kind of strange. Perhaps it wouldn't be a bad thing if both were pink since having users read the 'How to use this guide' info is useful too. Thoughts, @kristinashu ?

[2019-01-18 15:35] kristinashu commented on #2294
I like the idea of making both of them pink! It helps set a pattern for users.

Also, please use the same pink and pink hover state color as the header Donate button.

[2019-01-18 15:37] kristinashu commented on #2446
May be one could have the number of votes in the large text and the other with the smaller text?

[2019-01-18 15:59] alanmoo commented on #2477
I think we need to determine the rules for this a bit more clearly. Questions that come to mind:

* These are a shared navigation component, with different CSS for horizontal/vertical, is that correct @mmmavis?
* If so, do we simply hide tertiary* pages on the horizontal nav? Or do we always hide/show based on the tertiary page template type (for example, create a new page type to be used as child

[2019-01-18 16:38] alanmoo commented on #2474
Something like this?
<img width="985" alt="image" src="https://user-images.githubusercontent.com/1682681/51400105-8b7d0400-1b15-11e9-9b6d-c48ef1f4551e.png">

[2019-01-18 16:54] xmatthewx opened #2481 "Keep Donate closed for return visitors over x-time period"
Return visitors are likely to be annoyed by the donate modal, especially if they have donated. (On both buyers guide and foundation site.) Return visitors are awesome people, so that's not ideal.

Let's consider keeping it closed for a week or month. First from a UX perspective. Then tech.

Keep in mind that we have flexibility to do something like ... keep closed after a single donate tap, or two

[2019-01-18 16:56] kristinashu commented on #2481
Lol YESSSS!

[2019-01-18 17:01] kristinashu commented on #2481
Currently it tracks by tab only so we would need to change that.

I'd say the ideal scenario is: show it the first two times a user visits the site and then once a month after that.

cc @alanmoo

[2019-01-18 17:12] kristinashu opened #2482 "V-day: add new category"
Based on parent ticket #2438.

**_Do not push live until around Feb 5._**

- [ ] Add new category called `Valentine's Day`
- [ ] Should appear after `Home` tab
- [ ] If possible, add heart svg to draw more attention to it!

![home copy 2x](https://user-images.githubusercontent.com/1068783/51401904-d93b4180-1b00-11e9-8984-00ba1594b9ba.png)

[2019-01-18 17:43] kristinashu commented on #2433
Closing and waiting for brand alignment work!

[2019-01-18 17:43] #2433 closed

[2019-01-18 17:59] xmatthewx commented on #2446
I worry a little about 2 things:

 1. info overload - this little space has so much text, numbers, buttons competing for attention. I think it's better without subhead.
 1. test results - if test A does better than test B, we won't know if it's because of button color or the headline.

Implementation
 - When you file implementation, please ask dev to make sure we keep GA Event on share buttons.
 -

[2019-01-18 18:17] kristinashu commented on #2446
Oh sorry, I misunderstood! I thought you **didn't** want buttons to be the only variable between A and B. But yes, I think they should be the same (except for buttons)!

[2019-01-18 18:56] mmmavis commented on #2477
Not yet. That work was delayed a bit. I was waiting for my previous nav related PRs to be reviewed so I jumped to work on other non-nav tickets in the meanwhile. I should be able to continue the nav work soon.

I think this is more of a design question for @kristinashu ? Right now there are around 6 versions of nav code snippets in the codebase. I cleaned up the styling to make sure navs have cons

[2019-01-18 19:05] beccaklam commented on #2294
@mmmavis let's make both the icons pink then :)

[2019-01-18 19:20] alanmoo commented on #2474
Sure, no strong opinions there.

Yes, because it would be way too hard to pull all the possible options for different categories, or fix them and remain up to date with the ones in Pulse. Fixing the categories themselves feels reasonable though. And yes, it's a little bit of rope but not too much that it's dangerous.

Good point, we don't have searching of profiles in the API yet. I was thinking e

[2019-01-18 19:52] alanmoo commented on #2481
We can do that, but I'm curious as to when we start getting into GDPR "Hey we use cookies on this site" territory.

[2019-01-18 21:00] kristinashu opened #2483 "CMS: page content shows up below nav"
Noticing that two of the new draft mode pages is showing page content below the nav instead of to the right of it. @Pomax @mmmavis @alanmoo any idea why?

Example from doc:
<img width="1432" alt="screen shot 2019-01-18 at 12 55 44 pm" src="https://user-images.githubusercontent.com/1068783/51412548-bf115b80-1b20-11e9-997f-0a3bf07e55a0.png">

Example from campaign:
<img width="1431" alt="screen shot

[2019-01-18 21:02] alanmoo commented on #2483
I've seen this bug before. I think it goes away when the page isn't in draft anymore, but I'm not sure what causes it.

[2019-01-18 21:02] mmmavis commented on #2483
I'm guessing it's just some CSS issue (the main content is too wide to fit next to the nav). What's the URL to that page @kristinashu ?

[2019-01-18 21:07] kristinashu commented on #2483
Ohhh just made this live https://foundation.mozilla.org/en/docs/brand/ and it's fixed!

[2019-01-18 21:08] mmmavis opened #2484 "Code cleanup for Buyer's Guide's link styling"
Some links on Buyer's Guide have hover colour `#3302ff` and some don't. Let's check with designers to see if that's intentional and clean up our SCSS if necessary.

[2019-01-18 21:10] kristinashu commented on #2483
Here's the campaign one in draft mode and broken https://foundation.mozilla.org/cms/pages/263/view_draft/

[2019-01-18 21:14] kristinashu commented on #2477
Not too sure what the design question is? Horizontal navs should never show tertiary pages while vertical navs should always show tertiary pages.

[2019-01-18 21:33] kristinashu commented on #2432
@natalieworth doing some work on this now https://redpen.io/p/bn7bb8801c7cf1b44f

[2019-01-18 21:46] mmmavis commented on #2483
Might be related:
I checked out the source code of a draft opportunity parent page and found out the HTML code was invalid (extra/missing tags). Will have to investigate more to find out the root cause.

[2019-01-20 23:01] gideonthomas commented on #2473
Marking this as blocked on https://github.com/mozilla/foundation.mozilla.org/issues/2282 based on my understanding. Feel free to remove the label if I'm wrong.

[2019-01-21 16:10] beccaklam commented on #2446
Edits after above feedback, I think we're close!

## Variant A (Black and white buttons)
![screen shot 2019-01-21 at 11 09 30 am](https://user-images.githubusercontent.com/20977376/51485845-13108000-1d6d-11e9-8cf4-e1c4d5a7f94e.png)

## Variant B (Colourful buttons)
![screen shot 2019-01-21 at 11 07 38 am](https://user-images.githubusercontent.com/20977376/51485867-202d6f00-1d6d-11e9-987d-dda9970e6

[2019-01-21 17:07] kristinashu opened #2500 "Update homepage intro copy"
We need to de-holiday our intro copy to something that can be used year round.

### New copy:
`Be Smart. Shop Safe.`
`How creepy is that smart speaker, that fitness tracker, that game console? We created this guide to help you shop for safe, secure connected products. Look for the “Meets Our Minimum Security Standards” badge to get started.`

### Comp:
https://redpen.io/dn2c2adc346cdfeeb6
<img wid

[2019-01-21 17:10] kristinashu commented on #2473
@gideonthomas this isn't blocked. This needs to go live at the end of this month and CMS-ify work will not be done by then so this will be hard coded.

I'm working on the design for it now. Copy isn't completely final but it is enough for me to start with and the program staff are award they need to finalize copy asap.

[2019-01-21 17:12] kristinashu commented on #2446
Looks good to me!

@xmatthewx is the idea that once pomax has implemented A/B testing on the site, will can test these live?!

[2019-01-21 17:25] kristinashu opened #2501 "Spacing and order is wrong on product page"
@mmmavis any idea what happened here? Looks like Updates, Related Products, and Comments are in a different order than before and Related Products & Comments are way too close to each other now?

Screen cap from prod:
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/1068783/51489734-05073300-1d5e-11e9-8d1e-b701586242ed.png">

Comp:
https://redpen.io/bcd47ecb6d670654da
!

[2019-01-21 17:47] kristinashu opened #2502 "Fellowships: Re-design Directory"
Re-asses the directory pages before we turn to CMS.

Notes:
- we would like to add short bios for individual fellows in the directory
- reference blue-sky people page designs
- review Tais' blue-sky design for Directory filters
- dev ticket for this #2474
- design for other CMS pages #2282

[2019-01-21 17:53] mmmavis commented on #2501
@kristinashu do you remember which URL that was from? I just tested it on production. Spacing needs fixing but order seems right to me.

[2019-01-21 17:54] mmmavis commented on #2501
Ah, nvm. Found it: https://foundation.mozilla.org/en/privacynotincluded/products/fitbit-versa-watch/ .

[2019-01-21 17:54] kristinashu commented on #2501
And https://foundation.mozilla.org/en/privacynotincluded/products/jabra-elite-65t-earbuds/

[2019-01-21 21:02] mmmavis commented on #2483
https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/opportunity_page.html#L13-L24

[code]

[2019-01-21 21:04] mmmavis commented on #2483
https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/opportunity_page.html#L13-L24

[code]

@alanmoo not sure how to fix this. I'm assuming properties we get from `page` is different when a page is in draft mode vs published mode?

[2019-01-21 21:56] kristinashu commented on #2502
I'm recommending some subtle updates to the [Fellowship Directory cards](https://foundation.mozilla.org/fellowships/directory/).

Since we've moving away from different types of fellowships and since staff regularly specifically  reference current fellows, continuing to filter by year seems to make the most sense.

### Updates to Fields
- remove `Fellow, 2019` since it's very repetitive
- replace

[2019-01-21 21:56] #2434 closed

[2019-01-21 23:08] #2461 closed

[2019-01-21 23:14] mmmavis commented on #2501
Ah okay. I am able to reproduce the issue now.

I wonder if we ever got the ordering and spacing implemented right. It seems like we didn't touch that part of code in the past 2-3 months 👀 .

[2019-01-21 23:31] kristinashu commented on #2482
From our slack convo: not necessary since there aren't very many new products

[2019-01-21 23:34] kristinashu commented on #2501
🤔

[2019-01-22 16:16] alanmoo commented on #2502
This seems reasonable. Is this ticket ready to be handed over to dev? Feels like a good one for @youriwims to work on.

[2019-01-22 17:49] kristinashu commented on #2502
@xmatthewx what do you think?

[2019-01-22 18:33] xmatthewx commented on #2502
Excellent. Your adjustments are all great. One thing:
 - What if link text was "Profile & Projects"? I think work or projects is important. Not sure we need _see_ or _view_.

[2019-01-22 19:16] Sydette opened #2505 "Pulse moderation mobile"
I am unable to moderate pulse on mobile in FireFox or Brave . It allows me to sign in but not move things from pending to approved

[2019-01-22 20:12] alanmoo commented on #2505
I'm seeing a similar issue on desktop and mobile- it seems that when you attempt to change the status using the dropdown, the status on an entry doesn't update. However, if you refresh the page it looks like the moderation state change did get applied. Is that what you're seeing?

@mmmavis to triage

[2019-01-22 21:04] xmatthewx commented on #2446
I think we should go ahead and implement one of them for v-day. you pick. we should have enough traffic to compare new version against holiday version. If a/b testing does land, we can go further and test color vs b&w buttons, but let's not wait for that.

[2019-01-22 21:11] xmatthewx commented on #2481
You're right, but dang that feels like an unfortunate consequence given our intentions. Does the letter of the law go into things like what's stored, why it's accessed, and whether it's stored in a cookie or localstorage?

If we don't want to go that route, we should consider designing something less disruptive (and possibly less effective).

[2019-01-22 21:17] beccaklam commented on #2446
That sounds good to me. My vote would be Variant A, it follows button styles we've already introduced on the page and the colour combination is the most accessible.

[2019-01-22 21:19] kristinashu commented on #2446
Yes, Variant A please!

[2019-01-22 21:32] beccaklam commented on #2445
@xmatthewx @kristinashu For nsfw treatment I'm not exactly sure what this would look like. What about a special overlay on the homepage that slightly blurs the image with a nsfw warning? Thoughts?

[2019-01-22 22:02] kristinashu commented on #2502
Noting that we should also update the other Pulse Profile listing components to align with the new layout/styles https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/mentors/

[2019-01-22 23:36] kristinashu commented on #2473
Shared this comp https://redpen.io/eh8702bc7fda6e22d5 with Amy for some feedback.

[2019-01-22 23:41] mmmavis commented on #1767
Dupe of #1906 . Closing.

[2019-01-22 23:41] #1767 closed

[2019-01-22 23:56] mmmavis commented on #1906
It turns out that we can't just simply rename the model.

I've filed a question on [Stackoverflow](https://stackoverflow.com/questions/54318017/wagtial-how-to-properly-rename-a-wagtail-page-model).

[2019-01-23 00:35] mmmavis commented on #2505
Entry status does get changed immediately after you have selected the option from dropdown. However, it lacks of UI feedback (e.g., entry doesn't disappear from the list on screen after change) which makes it confusing to users.

@alanmoo If I recall it correctly it wasn't straightforward to find a "clean fix" due to how the React components in Pulse were designed and built in the first place.

[2019-01-23 16:08] cadecairos commented on #2340
Possible lead: load_fake_data overriding.

[2019-01-23 17:17] kristinashu opened #2508 "IHR research page"
IHR team has created a new page for research https://foundation.mozilla.org/en/initiatives/internet-health-research-archive/.

### To do:
- [x] Link do this research page from the [/internet-health](https://foundation.mozilla.org/en/internet-health/)

- [x] Improve the design on the research page

@xmatthewx @gideonthomas @alanmoo is this right?

[2019-01-23 17:32] kristinashu commented on #2508
I've added a button to the research page at the bottom of [/internet-health](https://foundation.mozilla.org/en/internet-health/). Let me know if that's what y'all had in mind.

[2019-01-23 17:48] xmatthewx commented on #2508
Yes.
 - I think the button makes sense. Share that with Sam after we spruce up the page.
 - Short-term, we can clean up design in wagtail. Thumbnails for the first few reports would be nice.
 - Long-term: I filed a brief to enhance pulse wagtail component to serve this use case. Take a look. As you design for short-term, keep long-term in mind.

[2019-01-23 17:51] xmatthewx commented on #2505
@Sydette - long story short, moderation might be working, even if it doesn't look like it. here's a test you can do:

 1. open moderation in mobile.
 1. move an item from pending to something else
 1. refresh moderation or view on desktop. is the item still in pending?

If it is working @mmmavis, I suggest we live with the UI since we just have a few moderators.

[2019-01-23 18:30] kristinashu commented on #2508
Here's the spruced up page https://foundation.mozilla.org/en/initiatives/internet-health-research-archive/

[2019-01-23 19:04] xmatthewx commented on #2508
Excellent. So much easier on my eyes. Do you want to share with Sam? Or should I follow up? Either is fine. If you, cc me so I can restart the thread with her about promoting this stuff.

[2019-01-23 19:22] kristinashu commented on #2508
Ok I've emailed Sam!

[2019-01-23 19:22] #2508 closed

[2019-01-23 20:05] youriwims opened #2509 "[Wagtail] Image Resolution"
Follow-up to PR #2425 :

Although we're able to manipulate the image quality of uploaded wagtail images, the solution in using jpeg-quality may not be the best option. For some reason, when using this feature the image produced is quite pixelated at an unacceptable level. Maybe we could look into using .webp formatted images since they tend create a more optimized image.

cc: @Pomax @mmmavis

[2019-01-23 20:09] alanmoo commented on #2482
Let's update the tabs so that empty categories (ones with only draft products) don't show up. That way when we add the category in the CMS and flip all products from draft to published, it automatically appears.

[2019-01-23 20:18] beccaklam opened #2510 "Increase shares after voting implementation"
This is the implementation ticket for issue #2446

- [x] Change header to h3, [M]h3 for mobile, however, since things are centered in this section of the page can we change the text-align also to center?
- [x] Add vote count to above header
- [x] Delete 'View comments or share your results'
- [x] Change social icon button styles (follows the would buy/wouldn't buy button styling, except only one o

[2019-01-23 20:19] beccaklam commented on #2446
Here's the mobile version for Variant A. Closing this ticket for now, implementation opened: #2510
![screen shot 2019-01-23 at 2 45 20 pm](https://user-images.githubusercontent.com/20977376/51634430-392b5100-1f22-11e9-86f8-9177806ff072.png)
@kristinashu @xmatthewx

[2019-01-23 20:19] #2446 closed

[2019-01-23 20:43] kristinashu opened #2511 "Fellowships: frontend for directory component"
Based on design in #2502. I believe @youriwims will be doing the frontend (this ticket) while @Pomax will be doing the backend in #2425. Let's kick this off with a quick call to make sure we're on the same page.

**Goal:** turn this existing page https://foundation.mozilla.org/fellowships/directory/ into a CMS component that staff can edit/add themselves.

(Note: the current design has a loading i

[2019-01-23 20:43] kristinashu commented on #2511
@xmatthewx can you please add any analytic requests you may have?

[2019-01-23 20:48] kristinashu commented on #2474
Opened up frontend ticket for @youriwims to get started on.

@alanmoo @Pomax @youriwims I'll set up a time for us to chat over the backend component. (Note: similar existing Pulse Profile listing components https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/mentors/)

Design won't be changing too much. Year filter and the general layout will stay the same. Here's a list of

[2019-01-23 20:49] kristinashu commented on #2502
Done!

Fellowships: frontend for directory component #2511
Fellowships: backend for directory component #2474

[2019-01-23 20:49] #2502 closed

[2019-01-23 21:35] mmmavis commented on #2482
@alanmoo @Pomax If we want to add a new category called `Valentine's Day` and make it show as the first item in the category list on website's nav (note that "Home" doesn't count since it's not a product category), what would be the best approach?

### Option 1

1. Add the new category `Valentine's Day` in via migration
[code]
2. In template, in the nav section loop through the `category` list, if

[2019-01-23 21:46] youriwims commented on #2454
I think for the sake of organization and consistency, we should definitely utilize this class. It's worth looking into to see what exactly needs this class and start revising the code to better reflect cms-entered content. @Pomax, what do you think?

[2019-01-23 22:09] alanmoo commented on #2482
Isn't there a way to make the whole model orderable via the admin UI? I feel like @gideonthomas has done that in the past. (And I don't think there's a need to run a manual migration, we can add the category in the production UI as long as we add the check for categories having published products.)

[2019-01-23 22:45] mmmavis commented on #2509
Question - What image optimization tool are we using?

[2019-01-23 22:51] youriwims commented on #2509
Currently, just the available options in the [Wagtail documentation](https://docs.wagtail.io/en/v2.1/topics/images.html) and then I go and check the image analysis on [webpagetest.org](http://webpagetest.org/).

[2019-01-24 16:19] Pomax opened #2516 "Write visual regression tests"
Right now we have four visual regression test, which simply loads up some URLs and take a full page screenshot. Now it's time to start adding more visual regression tests for pages that update more frequently, so that unintentional content structure and/or CSS changes can surface  immediately.

[2019-01-24 17:12] kristinashu opened #2517 "Design improvements to MozFest Giving CMS page"
Jesse W has created this page: https://foundation.mozilla.org/cms/pages/279/ but it needs a little TLC.

All content is in the CMS but it's also in this [doc](https://docs.google.com/document/d/1GLWdI5wLSeLPwQ8B69-BIcTzE1kvE25Ge_VZLsKeO64/edit).

Launching Jan 24 😬

[2019-01-24 21:13] kristinashu commented on #2517
Confirmed with Jesse that they will be sending out email with a PDF of that google doc and along with a link to the CMS page so let's try to align the two.

I'm working on sprucing up the wagtail layout right now, and it would be great if you could do the hero image and table (and additional wagtail improvements you can think of).

[2019-01-24 22:54] kristinashu commented on #2445
Our lawyer Abigail thinks we need to do something to the thumbnail images but doesn't want us to "overdo it". So as we chatted about at crit, @natalieworth can you work with Rebecca to figure out some sort of either overlay or pixelation and also possibly a little NSFW sort of badge?

[2019-01-24 23:21] kristinashu opened #2518 "V-Day: NSFW product images"
There are concerns that some of the new product images might 'surprise' some of our viewers. We want to be sex positive and don't want to hid away from it too much but at the same time respect users who just don't want to see that.

We're thinking of blurring some of the images and possibly adding a NSFW badge to them. But ideally, we would like to show the modified blurred image for thumbnails (h

[2019-01-24 23:22] kristinashu commented on #2445
Asking devs about possibly of having one modified image for thumbnails and then a separate one for the product page https://github.com/mozilla/foundation.mozilla.org/issues/2518

[2019-01-24 23:33] #2477 closed

[2019-01-24 23:33] kristinashu commented on #2518
Good point! @beccaklam @natalieworth are exploring different image treatments now. I guess we'll need to see what they come up with. If it's just a simple blur and a NSFW badge then just a check box in the CMS should work. But if it's a more complicated image treatment (i.e. not achievable through CSS or unique for each product) then we'd need two separate images.

[2019-01-24 23:43] Pomax commented on #1906
It looks like wagtail-modeltranslations is getting in the way of removing models, where removing it from `translations.py` breaks the `makemigrations`/`migrate` commands, so I've filed an issue over on https://github.com/infoportugal/wagtail-modeltranslation/issues/226 and hopefully there's a clean and simple way to _remove_ a model (and equally hopefully, rename a model)

[2019-01-24 23:45] Pomax commented on #2518
Note that the filter function [isn't very widely supported](https://caniuse.com/#search=filter()), though, so we might need "real" blurs as fallback anyway.

[2019-01-24 23:53] mmmavis commented on #2518
Ummm this was the one I checked: https://caniuse.com/#feat=css-filters seems fine to me 👀

[2019-01-25 01:47] kristinashu commented on #2517
Okay @sabrinang and I have done a bunch of work. CMS is all updated and copied to original doc and made our design updates here in [this doc](https://docs.google.com/document/d/1qHA73B_1idkAfldOk-wb3ftNfR3Xmg2TTuQhnHLkoOk/edit?usp=sharing). I'll share with Jesse W now.

cc @gideonthomas

[2019-01-25 04:47] mmmavis commented on #2482
I see in the codebase we have `django-admin-sortable` for `Highlight` and `Person` but I can't tell what that is for as they both don't seem to be sortable on Wagtail admin?

[2019-01-25 15:23] alanmoo commented on #2482
Oh damn, that's right. The Wagtail admin squashes that functionality.

Ok, go with option 2, but also make sure that the category has live products in it before showing it.

[2019-01-25 16:04] alanmoo commented on #2474
Based on our convo yesterday, @Pomax will identify the technical approach we can take to ensure this component is flexible and performant.

[2019-01-25 16:58] alanmoo opened #2519 "Add description field to PNI category model"
After a conversation with Becca Ricks and confirmation with @caltrider, we should add a field for a description of different categories in the guide.

Let's add a rich text field called "description" to the category model. I'll file another ticket around template implementation.

[2019-01-25 17:01] alanmoo opened #2520 "Category descriptions"
As noted in #2519 we're going to add a description field to categories to set a bit more context when looking at the category. @kristinashu @beccaklam I did a quick HTML mockup, using a simple paragraph tag to embed the description. Does this need any work or is that good as it is?

![image-1](https://user-images.githubusercontent.com/1682681/51760635-d9a38180-2098-11e9-9da3-605383337696.png)

[2019-01-25 17:02] alanmoo commented on #2482
While you're doing this, you can probably knock out #2519 too.

[2019-01-25 17:16] kristinashu commented on #2520
No! Please use .body-large from the style guide.

Do we have copy for this?

[2019-01-25 17:24] alanmoo commented on #2520
I figured I'd get a quick response if you didn't like it ;)

It's going to be CMS editable copy.

<img width="1207" alt="image" src="https://user-images.githubusercontent.com/1682681/51761779-fee5bf00-209b-11e9-8fb4-1d93924ca5e9.png">

[2019-01-25 17:46] beccaklam commented on #2445
@kristinashu @natalieworth What if we just took one of the social images Nat's already made, crop it and tweak the words to a nsfw warning? And this could just be the image for all the nsfw thumbnails? It relates to the Vday update and even long term the heart will give people get an indication of why it might not be safe for work.
![image](https://user-images.githubusercontent.com/20977376/517628

[2019-01-25 18:23] kristinashu commented on #2445
Yeah that would be cute!

Jen is working on the copy with Abigail. She's trying to keep it was short as possible but ideas have been ranging from:
- “The linked content may not be appropriate for all audiences.”
- “Content may not be appropriate for all audiences”
- “Slightly NSFW”

So if it's the short version then this could work!

Also, cross-linking some from Nat https://redpen.io/p/yg5faa4931

[2019-01-25 18:38] kristinashu opened #2521 "Add Contact page to Buyers Guide"
### Add a dedicated contact page:

- [x] Add new tab to About page `Contact us`
- [x] Have the copy:
`Contact Us`
`For any questions about the guide or to recommend a product for review or offer constructive feedback, please email Jen Caltrider jen@mozillafoundation.org`
`For members of the press with questions about this guide, please email Kevin Zawacki kevin@mozillafoundation.org`
- [x] Remove

[2019-01-25 18:45] Sydette commented on #2505
No . Reloading shows all the statuses but will not apply them . I am all good in desktop

Sydette Harry

[2019-01-25 18:46] kristinashu commented on #2520
Here's the comp https://redpen.io/mb5979d9d3273ab852

In order to not push the main content down too much, I recommend copy should be less than 240 characters.

![category copy 2x](https://user-images.githubusercontent.com/1068783/51766035-5bda7880-208e-11e9-9a15-658932e0adfa.jpg)

[2019-01-25 18:46] #2520 closed

[2019-01-25 18:47] Sydette commented on #2505
When I went to mobile it wouldn’t allow to even select. But going to desktop it was fine . I’ll just moderate desktop . Since it just me right now no need to rush . Just wanted to note it

Sydette Harry

[2019-01-25 18:47] kristinashu commented on #2519
Here's the comp https://redpen.io/mb5979d9d3273ab852 using .body-large

![category copy 2x](https://user-images.githubusercontent.com/1068783/51766035-5bda7880-208e-11e9-9a15-658932e0adfa.jpg)

[2019-01-25 19:41] youriwims commented on #2511
On the live site, it appears as though the location is bolder than the redesigned mock. As part of the redesign, do you want the font-weight decreased? Depending on your choice, $medium-gray could have a positive or negative impact on accessibility (see color contrast analysis below).

![screen shot 2019-01-25 at 2 26 57 pm](https://user-images.githubusercontent.com/36484608/51768103-52143d80-20ad

[2019-01-25 19:43] mmmavis commented on #2482
@alanmoo

Wondering if that `Feature` field should be CMS'able and if so, how do we want that field to look? A new dropdown field "Featured Product Category" below "Product Category"?

<img width="854" alt="image" src="https://user-images.githubusercontent.com/2896608/51768843-4e28f100-2096-11e9-801e-92b362605def.png">

[2019-01-25 19:51] alanmoo commented on #2482
Oh yes, it totally should be CMS'able.

I was thinking the featured category would just be in the same list as other products (since a product can already be in multiple categories), and then the "featured" boolean happens on the category edit admin view. I'm not tied to that if there's a better option, but including "Featured Product Category" on each product seems like we could technically end u

[2019-01-25 20:01] alanmoo opened #2522 "Show descriptions in category pages"
From #2520 https://redpen.io/mb5979d9d3273ab852

[2019-01-25 20:14] kristinashu commented on #2511
Thank you so much for flagging this! The text should actually be just be `.h6-heading` from the [style guide](https://foundation.mozilla.org/en/style-guide/). But unfortunately it is still #909090 which as you pointed out has accessibility problems.

I think for now, let's just use it as but then we should assets `.h6-heading` and any other fonts that use that gray as part of a bigger ticket. @sab

[2019-01-25 21:24] xmatthewx commented on #2445
Nice!! On the product page, if we want it, engineers could use a blur filter that disappears on hover.

[2019-01-25 22:18] natalieworth commented on #2445
I like "Slightly NSFW" for content length!

[2019-01-25 22:21] alanmoo commented on #2481
Looks like it brought in just under $1100 in [December](https://analytics.google.com/analytics/web/#/report/trafficsources-campaigns/a49796218w101806119p105783219/_u.date00=20181201&_u.date01=20190124&explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analytics.adContent&_r.drilldown=analytics.campaign:mainsite)

[2019-01-28 16:21] patjouk opened #2529 "Buyers guide: KeyError: 'draft' on prod"
I had to rollback prod after deploying those commits: https://github.com/mozilla/foundation.mozilla.org/compare/4ab2a99c...71edc283

Traceback:
[code]

Looks like the bug is from this PR: https://github.com/mozilla/foundation.mozilla.org/pull/2439 @Pomax
It was only spotted on prod and it's not currently happening on staging or newest review apps.

[2019-01-28 16:38] kristinashu commented on #2445
Final copy decision from Abigail is `18+` for all the sex toy images. Nice & short!

So we could try an option with the candy heart like Becca suggested, one with a blurred or pixelated image with copy over top, and then what ever other ideas you might have.

As you design these, can you also please place them up in the context of the homepage so we can see them in-situ to help decided?

[2019-01-28 17:06] kristinashu opened #2530 "Fellowships: implement updates to Support page - launch Feb 1"
Based on #2473

Fellowships team will requesting host org applications so we need to update [Support the Program](https://foundation.mozilla.org/fellowships/support/) content with content found at the bottom of [this doc](https://docs.google.com/document/d/1ke01ZGzdktlDkBb_GVbF-fuA47jLHx8ksDGAC6vfrHw/edit#) (while keeping the existing Fund the Fellows, please note order of content that is in the c

[2019-01-28 18:00] kristinashu commented on #2517
This is done and we learnt some things about exporting PDF's from gdoc today:
1) Images have to be jpg, pngs break on windows (header was cut off for Jesse W)
2) Zilla Slab Highlight doesn't work, need to use regular and then highlight it (even on my computer)

Also identified the need to create a gdoc template for staff (Sabrina has this in her style guide content list).

[2019-01-28 18:00] #2517 closed

[2019-01-28 18:07] Pomax commented on #2529
Inspecting the production database shows this as last entry in the `django_migrations` table:

[code]

Which suggests that the `buyersguide_product` table schema is in sync with `master`. However, inspecting the `buyersguide_product` table shows the following schema instead:

[code]
That is: there is no `draft` property in it.

I don't know _how_ this could have happened, but it does mean that Dja

[2019-01-28 18:14] Pomax commented on #2529
Interesting detail that might be relevant here, or might be completely unrelated: staging seems to be using postgres 10.6, whereas production seems to be using postgres 9.6 still.

[2019-01-28 18:41] kristinashu commented on #2473
Approved and opened: Fellowships: implement updates to Support page - launch Feb 1 #2530

[2019-01-28 18:41] #2473 closed

[2019-01-28 18:43] Pomax commented on #2529
@patjouk @cadecairos a thought occurs... we use a cache for the PNI products, do we _clear_ that cache on a redeploy? If not, then seeing things error out would make a lot of sense, where the new code, with the up to date db, _bypasses the real db_ and instead just uses the old, incompatible, cache data.

[2019-01-28 18:45] kristinashu commented on #2530
cc @mmmavis for any tips or guidance

[2019-01-28 18:55] Pomax opened #2532 "Add a cache-clear instruction for PNI products to the `release-steps.sh`"
If we deploy prod it's possible that the PNI product cache becomes invalid due to migrations to the product model, so it would be a good idea to add a cache-invalidation to our `release-steps.sh` script to make sure that prod doesn't start up a dyno with an update to date codebase, up to date database, but and outdated cache.

[2019-01-28 18:55] Pomax commented on #2529
Redeploying to prod broke things for unauthorized users until I cleared the cache, so it looks like the problem is that we don't clear the cache during `release-steps.sh` - filed as https://github.com/mozilla/foundation.mozilla.org/issues/2532

[2019-01-28 18:55] #2529 closed

[2019-01-28 19:57] kristinashu commented on #2522
Will https://github.com/mozilla/foundation.mozilla.org/issues/2519 cover this ticket?

[2019-01-28 19:58] alanmoo commented on #2522
#2519 is for the backend model work. This is for showing that data in the front end.

[2019-01-28 19:59] kristinashu commented on #2518
We should have design for this done today, then we can decide what how to proceed.

[2019-01-28 20:41] kristinashu commented on #2481
I like the idea of building it into the footer, like a call-out just above it, so it's permanent and on every page. Only potential issue would be if we then also want to add an email signup above the footer and it started getting busy with too many CTAs.

If everyone is cool with this approach, I can open a design ticket to play around with a few layouts then share them with Anil?

[2019-01-28 20:51] kristinashu commented on #2478
@sabrinang do you think these should go into the style guide?

[2019-01-28 20:56] kristinashu commented on #2464
Bonus might be to make this image update-able in the cms.

cc @alanmoo

[2019-01-28 20:58] natalieworth commented on #2445
Design options for 18+ tag are here: https://redpen.io/p/nzfa8afdb875caa41e
Just waiting for final approval/ feedback from Abigail and Ashley.

[2019-01-28 21:01] kristinashu commented on #2451
There is talk of removing the banner https://github.com/mozilla/foundation.mozilla.org/issues/2481

I'll assign this to myself until we decide.

[2019-01-28 21:01] xmatthewx commented on #2511
In addition to "remove See work link" in description above, we need to put that link on the person's name and photo.

[2019-01-28 21:07] sabrinang commented on #2478
@kristinashu Yes I think we should, in the brand standards planning outline it'll be noted under Design / Website / UI Elements / Navigation

[2019-01-28 21:08] kristinashu commented on #2432
I'm going to close this. @natalieworth please open tickets for new individual tickets once your designs are ready.

[2019-01-28 21:08] #2432 closed

[2019-01-28 21:10] kristinashu commented on #2478
Ok excellent! I think this is good to close but please reopen if I'm wrong.

[2019-01-28 21:10] #2478 closed

[2019-01-28 21:16] kristinashu commented on #2415
I don't seem to have permissions to do this. @gideonthomas can you please make this update?

[2019-01-28 21:17] alanmoo commented on #2464
Unlikely before next week, unfortunately, but there's definitely opportunity to make the guide a bit less hard-coded outside of products.

[2019-01-28 21:20] Sydette commented on #2415
I swore I shared a doc . I’ll put the language in the ticket today tomorrow . If I can’t find the doc with the new copy I write.

Sydette Harry

[2019-01-28 22:00] kristinashu commented on #2088
Sorry but I don't know what to do with this ticket! @alanmoo @xmatthewx could you please write some clear next steps or close it?

[2019-01-28 22:04] kristinashu commented on #2028
Sorry @Pomax are you ok if I close this ticket? This linking pattern is fairly standard practice on our sites, although we are trying to use the external link icon more and more and the icon will be incorporated into our brand standards (currently wip). But since we are not linking to anything harmful and have limit resources for working on this project I just don't think we'll get around to this.

[2019-01-28 22:07] #2180 closed

[2019-01-28 22:09] kristinashu commented on #2271
Unfortunately with our limited resources and other higher priority tickets for Buyers Guide features, we won't be able to do this. Please reopen if there is a sudden influx of requests for this!

[2019-01-28 22:09] #2271 closed

[2019-01-28 22:18] mmmavis commented on #2530
Implementation should be fairly straightforward.

- Grid changes can be easily changed by applying different Bootstrap's `col-*` classes.
- @kristinashu What would you like the `Apply to Host a Fellow` and `Supported By` sections to look on mobile?

[2019-01-28 22:42] Pomax commented on #198
closing this for now - SEO's not been a real concern given the effectiveness of PNI

[2019-01-28 22:42] #198 closed

[2019-01-28 22:42] kristinashu commented on #2530
Great Q! They will be similar to the live site. Here's a comp: https://redpen.io/nfaed8b7fdf8191ea1

![support copy](https://user-images.githubusercontent.com/1068783/51871316-e5967a00-230a-11e9-8221-fcc65e491f1b.jpg)

[2019-01-28 22:43] Pomax commented on #483
closing due to the site having outpaced this issue

[2019-01-28 22:43] #483 closed

[2019-01-28 22:43] Pomax commented on #648
it is not. closing.

[2019-01-28 22:43] #648 closed

[2019-01-28 22:44] Pomax commented on #649
no longer relevant due to tech stack choices.

[2019-01-28 22:44] Pomax commented on #650
already done \o/

[2019-01-28 22:44] #650 closed

[2019-01-28 22:47] Pomax commented on #653
no longer relevant due to wagtail

[2019-01-28 22:47] #653 closed

[2019-01-28 22:48] Pomax commented on #678
the codebase overtook this issue.

[2019-01-28 22:48] #678 closed

[2019-01-28 22:50] Pomax commented on #802
`pipenv` fixed this.

[2019-01-28 22:50] #802 closed

[2019-01-28 22:51] Pomax commented on #806
recent contributions have shown this isn't too much of an issue atm.

[2019-01-28 22:51] #806 closed

[2019-01-28 22:51] Pomax commented on #819
fixed a while back.

[2019-01-28 22:51] #819 closed

[2019-01-28 22:53] Pomax commented on #842
The footer is still `network@...`, is this still something we want to resolve @xmatthewx?

[2019-01-28 22:54] Pomax commented on #896
This work is tracked in a different repo.

[2019-01-28 22:54] #896 closed

[2019-01-28 22:56] Pomax commented on #922
![image](https://user-images.githubusercontent.com/177243/51871957-b7199e80-230c-11e9-801c-efa51c6ac659.png)

We apparently still don't have this turned on even though we switched to Wagtail... let's tell Django to turn this on =D

[2019-01-28 22:58] Pomax commented on #958
#359 has been closed since, so I will close this issue in lieu of #721, which is still open and has more recent activity on the question of what to do with the featured field.

[2019-01-28 22:58] #958 closed

[2019-01-28 22:58] Pomax commented on #988
Time passed this issue by.

[2019-01-28 22:58] #988 closed

[2019-01-28 22:58] Pomax commented on #993
@cadecairos do we still want to look into this?

[2019-01-28 23:06] Pomax commented on #1000
Closing this for now, due to tech stack updates

[2019-01-28 23:06] #1000 closed

[2019-01-28 23:07] Pomax commented on #1016
Do we want to create a general testing issue to keep track of "what needs tests still"?

[2019-01-28 23:08] Pomax commented on #1088
This isn't too hard, but does raise the question "if we don't want to expose them on the site, why should they show up in search engines"? Ideally any page we care to have show up in search results is a page that you can reach by navigating the site itself.

[2019-01-28 23:09] Pomax commented on #1099
This still seems relevant - wagtail needed it for a while because of its image browser, but as far as I know that got fixed, so we should revisit this and see if we can remove these CSP rules now.

[2019-01-28 23:10] Pomax commented on #1130
It feels like this issue can be closed due to our use of foundation.moz having changed, but I'll leave this up to @xmatthewx to decide on.

[2019-01-28 23:11] Pomax commented on #1140
@kristinashu had this work completed? From what I can tell the current https://foundation.mozilla.org/en/about matches the work outline in this issue.

[2019-01-28 23:13] Pomax commented on #1170
Are there still steps we want to take here, or should we close this issue? @xmatthewx

[2019-01-28 23:13] #1236 closed

[2019-01-28 23:14] Pomax commented on #1243
codebase passed this by

[2019-01-28 23:14] #1243 closed

[2019-01-28 23:15] Pomax commented on #1260
@mmmavis I'm guessing we can remove this now =D

[2019-01-28 23:15] Pomax commented on #1273
I'm closing this in lieu of us filing a new issue if and when we're ready to actually do this. The site's changed too much since this got filed.

[2019-01-28 23:15] #1273 closed

[2019-01-28 23:16] Pomax commented on #1304
@kristinashu is this work that we still need to do, or did the code and content updates since initial filing obviate this issue?

[2019-01-28 23:17] Pomax commented on #1432
that happened.

[2019-01-28 23:17] #1432 closed

[2019-01-28 23:18] Pomax commented on #1436
@kristinashu is there still work to be carried out in relation to this?

[2019-01-28 23:21] Pomax commented on #1437
@kristina this kind of fell off the roadmap, do we still want to remove this?

[2019-01-28 23:21] Pomax commented on #1476
this got implemented quite a while back.

[2019-01-28 23:21] #1476 closed

[2019-01-28 23:24] xmatthewx opened #2533 "Fellowships: Add analytics to directory and profile component"
We will soon build a new directory component that leverages an update pulse profile component. Let's wire it up for GA to measure our success with engaging visitors and extending fellow promotion.

We will want to attach this to:
 - profile
   - tap on photo or name --> pulse profile
   - tap on social icon --> linkedin or twitter
 - directory
   - tap on directory tab/filter --> year by year view

[2019-01-28 23:26] Pomax opened #2534 "Update the wagtail documentation"
We should audit the wagtail document we have on the site ("how do I wagtail" pages) to see which information is missing now that we've been using the site fairly intensively.

[2019-01-28 23:27] #1488 closed, assigned to nobody

[2019-01-28 23:29] #1549 closed, assigned to nobody

[2019-01-28 23:30] kristinashu commented on #1486
I still see it under deprecated. It think it should be completely removed.

<img width="715" alt="image" src="https://user-images.githubusercontent.com/1068783/51873314-90119b80-2311-11e9-8c4d-7d9440032511.png">

[2019-01-28 23:30] Pomax commented on #1554
Do we still want to keep this open? @kristinashu @alanmoo

[2019-01-28 23:31] #1140 closed

[2019-01-28 23:31] Pomax commented on #1561
If I'm not mistaken, the site does not show a "next" and so this issue can be closed. /cc @kristinashu

[2019-01-28 23:32] #1554 closed

[2019-01-28 23:33] kristinashu commented on #1561
This was to add a "next" feature but we're going to re-asses campaign pages soon anyways so let's close!

[2019-01-28 23:33] #1561 closed

[2019-01-29 00:08] Pomax commented on #1627
This seems to still be in the codebase, in `source/js/components/join.jsx`.

[2019-01-29 00:10] Pomax commented on #1644
@alanmoo it feels like this is another candidate to add to some larger tracking ticket for "things that need testing".

[2019-01-29 00:14] Pomax commented on #1656
Given the timeline involved, should we close this issue? @acabunoc

[2019-01-29 00:15] medlin01GA commented on #940
Amed to that, the 80 character limit is an anachronism and forces you to write worse code in many situations.

[2019-01-29 00:16] Pomax commented on #1665
@alanmoo @xmatthewx what would be the next steps for this issue to move forward (or get closed?)

[2019-01-29 00:17] Pomax commented on #1683
this has not been an issue since.

[2019-01-29 00:17] #1683 closed

[2019-01-29 00:17] Pomax commented on #1688
at some point this got fixed and we forgot to close this

[2019-01-29 00:17] #1688 closed

[2019-01-29 00:19] Pomax commented on #1690
@alanmoo is this something we have cycles for? (we don't allow free-form JS on CMS-managed pages, so I can see this taking quite a bit of time to figure out)

[2019-01-29 00:20] Pomax commented on #1088
turns out we also have https://github.com/mozilla/foundation.mozilla.org/issues/1696 open to cover (part of) this work.

[2019-01-29 00:21] Pomax commented on #2534
Actually, closing in favour of https://github.com/mozilla/foundation.mozilla.org/issues/1698 which has some useful doc links!

[2019-01-29 00:21] #2534 closed

[2019-01-29 00:21] Pomax commented on #1708
We landed this. It's pretty great!

[2019-01-29 00:29] #1784 closed, assigned to nobody

[2019-01-29 00:32] Pomax commented on #1900
This feels like we might be trying to solve a problem for program staff by fixing the content for all users. I think if we still want to do this, we probably need to figure out who this is a solution for, and whether there is a more appropriate place to solve this (like the admin interface)

[2019-01-29 00:32] Pomax commented on #1903
we added this a while ago without closing this issue

[2019-01-29 00:32] #1903 closed

[2019-01-29 00:41] Pomax commented on #1955
...fixed?

[2019-01-29 00:41] #1955 closed

[2019-01-29 00:42] Pomax commented on #1987
Is this still affecting us, @alanmoo? (I think we fixed this, but I need your device to confirm =)

[2019-01-29 00:43] Pomax commented on #2028
yep

[2019-01-29 00:43] #2028 closed

[2019-01-29 00:44] Pomax commented on #2060
Is there more information to describe what's necessary?

[2019-01-29 00:46] Pomax commented on #2127
@alanmoo is this still required? if so, @Pranay144 are you still interested in working on this?

[2019-01-29 00:47] Pomax commented on #2173
fixed

[2019-01-29 00:47] #2173 closed

[2019-01-29 00:48] Pomax commented on #2257
@alanmoo should we start planning for moving off of mofo-style? Or is that still our authoritative style guide, and should we put some cycles into making it use the most recent eslint?

[2019-01-29 00:56] Pomax commented on #2307
we've not run into this being necessary for a while now, let's shelve this and refile if it becomes important again.

[2019-01-29 00:56] #2307 closed

[2019-01-29 00:57] Pomax commented on #2320
/cc @cadecairos in case you have any good ideas here!

[2019-01-29 00:58] Pomax commented on #2326
Current python is now 3.7.2, I will test and see if this is still a problem.

[2019-01-29 00:58] Pomax commented on #2336
this is all done and works pretty great

[2019-01-29 00:58] #2336 closed

[2019-01-29 00:59] Pomax commented on #2342
assigning myself so I remember to file a feature request on the wagtail repo.

[2019-01-29 01:01] Pomax commented on #2367
Turns out this is still an issue - we should probably get that fixed sooner than later =)

[2019-01-29 01:05] Pomax commented on #2419
Both title and header come from the page as it exists in the CMS. `page.title` / `page.header` is the current page's title and header field, `root.title/root.header` are relevant only to "mini sites" (opportunity/campaigns) and are the title and header for whatever is the "main page" of those mini sites.

[2019-01-29 01:06] Pomax commented on #2419
Making this clearer is a good idea, let's start by finding all the places we reference them and seeing "how we use them" to see if we can come up with a description for title and header that makes more sense.

[2019-01-29 01:08] Pomax commented on #2429
Is this related to any specific other issue?

[2019-01-29 01:10] Pomax commented on #2442
It might make sense to do this at the same time we're removing `upcoming.jsx`

[2019-01-29 01:14] Pomax commented on #2451
I think in the mean time we can probably update `main.js` by replacing ` if (donationModal ) {` with something like  `if (donationModal && !env.DEBUG) {`?

[2019-01-29 01:16] Pomax commented on #2454
I think one problem with the `.cms` class is that it's not the right name. It gets generated for all Wagtail Streamfield content, so we probably want to rename it so that it's clear that it does _not_ apply to "all CMS content", but only to "content associated with Streamfield components".

It's a good class to keep, but definitely needs a rename.

[2019-01-29 01:17] Pomax commented on #2480
`pipenv run python networkapi/manage.py createsuperuser` works.

[2019-01-29 09:51] patjouk commented on #2532
I thought we were already clearing the cache on redeploy: https://github.com/mozilla/foundation.mozilla.org/blob/master/release-steps.sh#L16 ?

[2019-01-29 16:10] alanmoo commented on #1088
Seems like they're complete duplicates- what's different?

[2019-01-29 16:20] alanmoo commented on #2257
I'm fine with us moving to a standard JS syntax linter, similar to Flake8 on Python. Zero opinions on which one, as long as it's easy to turn on in VSCode :)

@youriwims @mmmavis Any thoughts for JS linting?

[2019-01-29 16:21] alanmoo commented on #2127
I don't believe anything significant has changed since December, so yes, it would still be useful.

[2019-01-29 16:23] alanmoo commented on #1987
Still wonky.

[2019-01-29 16:23] #1844 closed

[2019-01-29 16:28] Pomax commented on #2257
Then let's use Prettier. It's insanely widely used, it's opinionated, and it has excellent integration with basically everything.

[2019-01-29 16:29] youriwims commented on #2257
I vote for Prettier!

[2019-01-29 16:50] Pomax commented on #1486
Ah, well-spotted. Interestingly, unless I'm even blinder, I don't see it listed as possible filter on our ["block inventory" page](https://foundation.mozilla.org/cms/inventory/). I don't know if that means there's something wrong with the block inventory, or whether it means there are zero pages that use it and so it's not even offering the option to filter based on it.

[2019-01-29 16:50] alanmoo commented on #2088
At the root of this is a request to tie the votes together, so we can slice the results differently. That being said, I don't see us having the bandwidth for this right now, and I think we should simply punt till we look at the guide again and discuss ways to improve it for (presumably) the next holiday season.

[2019-01-29 16:52] Pomax commented on #2532
Hmmm, then this mystery deepens: clearing the cache totally fixed the problem we were seeing, so maybe there's a subtle difference in how `clear_cache` runs vs. how it runs when invoked through the CMS itself?

[2019-01-29 16:54] alanmoo commented on #1486
I believe it means it's not in use- I added it to a (private) page temporarily, and it was suddenly an option in the inventory list.

[2019-01-29 16:55] Pomax commented on #1088
This one is for a solution for SEO purposes, the other issue was for making a sidemap available for dev/stage only, because we want a way to find out which routes the CMS thinks exists, so we can do dev testing based on those.

[2019-01-29 16:57] Pomax commented on #2127
ping @cadecairos, where would someone start looking to get that added?

[2019-01-29 17:02] Pomax opened #2536 ""fix" dates and placeholder "image" bg-colors for the data faker"
It looks like the fake data generator is not entirely respecting the fact that there is a fixed seed, leading to different dates and image bg-color on auto generated data despite using the same seed value.

[2019-01-29 17:10] alanmoo commented on #1690
Unfortunately no, we don't at this point in time.

cc @anilkanji for awareness.

[2019-01-29 17:18] Pomax opened #2538 "Switch ESLint to use Prettier"
It is time 🚀

[2019-01-29 17:18] Pomax commented on #2257
filed https://github.com/mozilla/foundation.mozilla.org/issues/2538 to do said replacement.

[2019-01-29 17:18] #2257 closed

[2019-01-29 17:21] alanmoo opened #2539 "Improve testing across the site"
Master ticket for all the testing that we should improve

- [ ] Petition submissions (#1016)
- [ ] Sitemap
- [ ] Spider sitemap and check for 200's
- [x] Visual regression tests (fixed data generation seeds?)

@Pomax @mmmavis @youriwims @patjouk @cadecairos feel free to edit this comment and add to the list if there's something obviously missing, or have a conversation below if you're unsure.

Dec

[2019-01-29 17:42] Pomax commented on #2536
@cadecairos if you happen to know how to effect that off hand, let me know. If not, I'll dig into this a little.

[2019-01-29 17:52] gideonthomas commented on #1016
@Pomax good idea, can we just morph this ticket into that? If you know what needs tests, can you edit @alanmoo's comment above to reflect that?

[2019-01-29 17:54] alanmoo commented on #1016
I created #2539 to contain everything. Let's keep this one to campaigns/petitions

[2019-01-29 18:12] kristinashu commented on #2445
Based on message from Jen, this has been approved!

@natalieworth can you please export an svg of the heart (make sure it's a gray from the style guide) and provide some guidance for blur in the implementation ticket https://github.com/mozilla/foundation.mozilla.org/issues/2518

[2019-01-29 18:32] gideonthomas commented on #2397
@alanmoo should we also include past campaigns that weren't on the foundation site? i.e. stuff on adv.moz.org?

[2019-01-29 18:53] kristinashu commented on #2429
I'll close it. Sydette says she'll do this tomorrow but doesn't really work from github anyways.

[2019-01-29 18:53] #2429 closed

[2019-01-29 18:58] gideonthomas commented on #2415
@Sydette you should be able to update it directly in the CMS at these links:

1. The default newsletter signup CTA: https://foundation.mozilla.org/cms/snippets/wagtailpages/signup/4/
2. Fellowships FAQ, and other fellowships pages newsletter signup CTA:
https://foundation.mozilla.org/cms/snippets/wagtailpages/signup/3/

I'm going to close this ticket since there isn't really anything actionable fr

[2019-01-29 18:58] #2415 closed

[2019-01-29 19:04] alanmoo commented on #2397
No. We're likely going to take them down and redirect them to this page.

[2019-01-29 19:09] gideonthomas commented on #2459
@cadecairos you have started working on image optimizations for pulse right? Do you know if a. it's related to this ticket, and b. if it will be done soon?

If this needs to be done sooner, let's get someone to spend a little time just manually lowering the size of the images used for OL7. @cadecairos to advise.

[2019-01-29 19:11] kristinashu commented on #2006
@Pomax is the Buyer's Guide related or general foundation site?

[2019-01-29 19:12] gideonthomas commented on #2397
One concern I do have is about the user journey for the campaigns (or it might be because I don't fully understand the solution). We're linking from the foundation site to pulse entries about campaigns that link back to the foundation site? Doesn't that seem a bit redundant?

[2019-01-29 19:14] kristinashu commented on #2003
@Pomax can you please add more detail?

[2019-01-29 19:21] alanmoo commented on #2397
Great point. @xmatthewx or @jessevondoom thoughts?

[2019-01-29 19:23] kristinashu commented on #1900
This component is currently only used on Fellowship page and one mentorship page (which is going away) and might eventually be used for mozfest staff, wrangler, and maybe speakers. All these are fairly thoughtful and controlled so I think we should put the onus on staff to unsure profiles are filled out sufficiently and not on tech.

I'm going to close, but please re-open if you still see the need

[2019-01-29 19:23] #1900 closed

[2019-01-29 19:37] Pomax commented on #1486
thanks, I think that means we should be able to impactlessly remove it.

[2019-01-29 19:39] Pomax commented on #2006
General site maintenance: it's something that's affecting our React code rather than anything Wagtail or PNI specific.

[2019-01-29 20:06] natalieworth commented on #2518
Heart icon is here:
[18-plus-heart-icon.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2809425/18-plus-heart-icon.svg.zip)

Mockups are in [redpen here](https://redpen.io/em8bd3dbf9aa17490d)
<img width="338" alt="screen shot 2019-01-29 at 11 54 46 am" src="https://user-images.githubusercontent.com/14876567/51936295-b6404580-23bc-11e9-9b93-507425166087.png">

I'm not 100% sure how

[2019-01-29 20:33] kristinashu commented on #1764
@alanmoo is dev almost ready to test this kind of thing?

[2019-01-29 20:37] kristinashu commented on #1731
I honestly don't see this getting built anytime soon as we now have different priorities. @xmatthewx I'm going to close but feel free to re-open.

[2019-01-29 20:37] #1731 closed

[2019-01-29 20:37] mmmavis commented on #2518
@natalieworth let's play around with the CSS config together in the office today!

[2019-01-29 20:38] kristinashu commented on #1732
This will work well once we have the blog/stories component but blocked until then.

[2019-01-29 20:39] #2294 closed

[2019-01-29 20:42] kristinashu commented on #1742
@cadecairos just let me know if you want a design for this and what type of content would be on the page. It could maybe look something like our 404 page?

<img width="1229" alt="image" src="https://user-images.githubusercontent.com/1068783/51939005-5a2cef80-23c3-11e9-802d-2d39b60297cf.png">

[2019-01-29 20:50] cadecairos commented on #2532
If there is a difference, it's a bug in django's cache interface, because the `clear_cache` command just calls `django.core.cache.clear()`, which should do exactly what you think: https://docs.djangoproject.com/en/2.1/topics/cache/#django.core.caches.cache.clear

[2019-01-29 21:09] cadecairos commented on #2127
we'll need to customize the `InitiativesPageFactory` class in `network-api/networkapi/wagtailpages/factory.py` so that it generates values for all the attributes defined on the `InitiativesPage` class in `network-api/networkapi/wagtailpages/models.py`

[2019-01-29 21:41] gideonthomas commented on #2532
@cadecairos is there anything actionable here? If not, can we close and re-file if we run into this again?

[2019-01-29 21:44] cadecairos commented on #2532
As it is, I'm not seeing anything actionable. I don't believe cache was the whole issue, I think we're missing another piece of the puzzle.

[2019-01-29 21:48] gideonthomas commented on #2532
Ok, I think we should monitor and re-evaluate on our next prod push and re-open or re-file this ticket then.

[2019-01-29 21:48] #2532 closed

[2019-01-29 21:56] beccaklam commented on #2445
Awesome! I think everything in this ticket is done then :)

[2019-01-29 21:56] #2445 closed

[2019-01-29 21:57] alanmoo commented on #1764
This would be a good first implementation of our A/B testing, which is technically live.

[2019-01-29 21:58] kristinashu commented on #1764
Ok awesome!

[2019-01-29 22:06] gideonthomas commented on #721
@alanmoo to followup with @jessevondoom and decide the direction for this ticket.

[2019-01-29 22:09] kristinashu commented on #1130
Because this doesn't line up with our new priorities I think it is unlikely we will be able to do this. I'm going to close but please reopen if needed.

[2019-01-29 22:09] #1130 closed

[2019-01-29 22:25] kristinashu opened #2542 "Banner & Nav style for staff authored landing pages"
From Matthew: "Some campaigns and program initiatives warrant a landing page that's a step above our current staff authored pages. The page should establish a presence as the home for these long-term efforts. Example EU MisInfo campaign. My gut tells me that key to achieve this will be an image that appears outside/above/behind the content box. Horizontal nav might also help signal this. We could

[2019-01-29 22:54] kristinashu commented on #1170
We will align with in our new fellowship cms work.

[2019-01-29 22:54] #1170 closed

[2019-01-29 23:05] kristinashu commented on #1546
@xmatthewx could you please close this ticket and open a new one with clarified steps/requirements (this one is tough to follow)?

[2019-01-29 23:12] cadecairos commented on #1742
If we're okay with the same design, then I can just take care of the copy - although, not the 404 image with the happy face. Is there another graphic we could use?

[2019-01-29 23:13] kristinashu commented on #1657
I think this is because we aren't using the true italic, we should use the real zilla italics.

[2019-01-29 23:15] #1597 closed

[2019-01-29 23:21] mmmavis commented on #2518
@natalieworth product image itself is always on transparent background so I _think_ it shouldn't have that white edge issue.

[2019-01-29 23:33] kristinashu commented on #2518
Images don't have transparent background. They're on a gray. If you want to test them, all the new images are [here](https://drive.google.com/drive/folders/1heDtdi5UmHUqA31Gp8pK4uvVwImBOT-F?usp=sharing).

[2019-01-29 23:35] kristinashu commented on #1742
To keep it simple, let's just not have an image. Hopefully not many people will see this...

![untitled-1](https://user-images.githubusercontent.com/1068783/51947351-6ae86000-23d9-11e9-94e0-aefabbddf721.jpg)

[2019-01-30 00:09] #2088 closed

[2019-01-30 00:23] kristinashu commented on #2343
This feature isn't a priority so closing and we can re-asses at the end of the year when we relaunch.

[2019-01-30 00:23] #2343 closed

[2019-01-30 00:50] Pomax commented on #2003
updated the first comment with details.

[2019-01-30 01:06] youriwims opened #2544 "SASS Naming Conventions"
[BEM](http://getbem.com/) [block-element-modiefier] is a pretty cool naming convention that lets you visualize not only the nesting structure, but also element differentiation via a modular system. Would anyone be interested in possibly considering this methodology as a way of organizing our styles?

cc: @mmmavis, @Pomax

[2019-01-30 09:41] patjouk commented on #2539
I want to add a [status check](https://help.github.com/articles/about-required-status-checks/) that if the review app deployment failed, it's considered a failure (blocking merge or not is open to discussion).
We might also want to discuss if we want to run all those tests at every PR or some only on staging, etc: I know that wait time before being able to merge a PR was a problem at some point.

[2019-01-30 14:06] Sydette commented on #2397
I agree with Gideon. I want to look at user journey with somebody and talk
about what looks best. Fellows are asking how to add their things and
reference our reports and add their own. I think it's redundant but I'm
unsure. I think Tais has the most recent IA structure.

On Tue, Jan 29, 2019 at 8:21 PM Alan Mooiman <notifications@github.com>
wrote:

--
Sydette Harry
Editor - Web Properties Mozill

[2019-01-30 14:07] Sydette commented on #2415
AWESOME!

On Tue, Jan 29, 2019 at 7:58 PM Gideon Thomas <notifications@github.com>
wrote:

--
Sydette Harry
Editor - Web Properties Mozilla
Sydette@mozillafoundation.org

[2019-01-30 15:10] xmatthewx commented on #2397
The old advocacy site is killing our SEO and likely confusing a bucket full of good people. It’s been disconnected for far too long.

~~I think we can simplify.~~ I think we _must_ simplify to move forward, fix the bad situation, and then after that, pursue the right long term solution.

I propose:
 - create page with a simple paragraph or two on our advocacy.
 - publish page and redirect top leve

[2019-01-30 15:24] #1546 closed

[2019-01-30 16:11] cadecairos commented on #1708
actually, we did not!

https://github.com/mozilla/foundation.mozilla.org/pull/2376

I have some outstanding work to do, and probably a painful rebase. but that's my fault.

[2019-01-30 16:14] Pomax commented on #2544
I gave it a read through, but I'm really not a fan of this syntax. I find it very hard to read and after reading the explanation on the side, don't feel this actually really adds anything that can't be done by instead naming things sensibly and using compound selectors.

(I'm up for progressively auditing our CSS and renaming things to be more sensible than they currently are, where we can, though

[2019-01-30 17:23] xmatthewx opened #2545 "Design graphics for EU MisInfo Campaign"
Campaign will be coming soon. It's safe to assume we'll need a basic graphic to use on campaign page, email, twitter.

Campaign info: https://docs.google.com/document/d/1U7olKcSsXZ7Y66mC_gHH_miLfBgUmZf8OuyBiviI33A/edit?ts=5c4f5f6e

More details coming soon...

cc @kristinashu

[2019-01-30 17:34] xmatthewx commented on #1665
I think it's @WillatMozFdn's call on if and how to move forward. Glad to lend a hand if needed, but otherwise work on our end is done as far as I can tell.

[2019-01-30 17:34] #1665 closed

[2019-01-30 17:46] kristinashu commented on #2545
Cross-linking with landing page design #2542

[2019-01-30 19:45] xmatthewx commented on #2481
Yes let's mock up some options. I think we probably choose either sign up or donate, but good to explore various directions. And, we can still use the pop over for peak campaigns.

[2019-01-30 20:07] mmmavis commented on #2442
Good call. That component isn't being used anymore either.

[2019-01-30 20:48] mmmavis commented on #2454
Yea I think renaming it to something more specific would help a lot. I wonder if we can come up with a way so we don't have to manually add that class name every time we add a new `Streamfield` component?

[2019-01-30 21:00] kristinashu opened #2546 "Footer: Donate and email signup"
We're going to disable the current donate popup and only use it during our end-of-year donation push. But we would like to try adding it to the footer, like a call-out just above it, so it's permanent and on every page (both foundation site and PNI).

Because we sometimes have an email signup in this location, let's mockup a few options:
- signup + footer
- donate + footer
- signup + donate + foot

[2019-01-30 21:02] kristinashu commented on #2481
Cool, Nat will mock up a few options here #2546 and then we can open an implementation ticket to build it and disable the popup.

[2019-01-30 21:02] #2481 closed

[2019-01-30 21:18] kristinashu commented on #2545
Assigning to @beccaklam to gather more info but @natalieworth might help out with actual graphics.

[2019-01-30 21:22] kristinashu commented on #2542
Assigning to @beccaklam to gather more info, like how many pages a campaign would have, how much content, and what type of content.

[2019-01-30 22:06] kristinashu commented on #2451
We will be removing the popup but only once we have a permanent cta in the footer, so maybe in a month from now. Up to you if you want to do the quick fix in the meantime.

[2019-01-30 22:37] natalieworth opened #2548 "Update Sketch library components to reflect design changes from brand work"
This ticket is to document the 2019 changes based on the brand work our team has been doing. For design, we can keep the Sketch updates in this master file—then create new implementation tickets based on changes that have been updated.

Sketch Library updates:
P1's
- [x] Change rules from the gradient to black #000000
- [x] Update link colors
- [x] Update greys based on Sabrina's color updates
- [

[2019-01-30 23:13] Pomax commented on #2451
for developers (who need to load localhost:8000 a lot) it's probably worth disabling the popup in the mean time.

[2019-01-30 23:33] kristinashu commented on #2342
@Pomax did you file it with wagtail? If so then it sounds like we won't be taking this any further.

[2019-01-30 23:37] #2536 closed

[2019-01-30 23:43] gideonthomas commented on #2397
@alanmoo pulse entries created. For now, I updated https://foundation.mozilla.org/cms/pages/233/edit/ which is an opportunity page that already existed under `/initiatives`.

Next steps (in order):
- [ ] Transform `/campaigns` into a CMS editable page. @alanmoo can you advise on how to do this?
- [ ] Port over content from the page I updated above to `/campaigns` and @Sydette to add content about

[2019-01-30 23:50] gideonthomas commented on #2342
Closing as this should be done upstream in wagtail. @Pomax just a reminder in case you haven't filed it yet.

[2019-01-30 23:50] #2342 closed

[2019-01-31 00:13] gideonthomas commented on #1690
Hi @barrosgeraldo, thank you for filing this and sharing your feedback.

As we continue to evolve and focus on new threats and opportunities arising towards the open internet, the need to sunset legacy products becomes necessary. Unfortunately the interactive web literacy map falls under this scope.

With that said, we continue being active supporters of web literacy and hence want to preserve str

[2019-01-31 00:13] #1690 closed

[2019-01-31 00:45] kristinashu commented on #2416
Sorry what line design? It will replace the image under Science Fellows in the above comment and then a new image for regular (non-profile) images.

[2019-01-31 00:57] Pomax opened #2550 "Turn the cypress fixed length wait into a "JSX is done" event listener."
A 10 second delay is kind of long, we should be able to listen for `main.js` to say "Okay I'm done the page is now stable" and use that as signal to trigger a Cypress/Percy snapshot

[2019-01-31 02:09] Pomax commented on #2342
That's the wrong order in which to do things. File first, then close.

[2019-01-31 03:20] gideonthomas commented on #2416
ah ok sorry I wasn't clear. I meant the image under Science Fellows - it's not ideal at the moment :P

[2019-01-31 06:51] Dhrumilcse commented on #2367
I am getting started with Open Source and I'd like to work on this issue. Can I?

[2019-01-31 10:08] #2470 closed

[2019-01-31 16:11] Pomax opened #2552 "Split up the README.md"
There's a _lot_ of information in the README.md at this point, much of which is not immediately necessary to get up and running, and constitutes enough text to be place in separate .md files, so: let's create a `docs` dir, move most of the README.md into that dir as separate dedicated files, leave the README.md as lean as possible to run you through the process of going from "cloning" to "successf

[2019-01-31 16:13] Pomax commented on #2367
Hi @Dhrumilcse, absolutely - have you worked with Wagtail (or Django) and React before?

[2019-01-31 17:49] gideonthomas commented on #2397
@Sydette would you be able to come up with some content about the advocacy/campaign work we do and post it here?

[2019-01-31 17:53] Pomax opened #2554 "Patch Travis so it doesn't use blocking io?"
I'm seeing a lot of Travis fails with logs that look like this:
![image](https://user-images.githubusercontent.com/177243/52074031-d1868e80-253d-11e9-85a2-023a345035bf.png)

a little investigation has lead me to https://github.com/travis-ci/travis-ci/issues/8982 which points to https://github.com/travis-ci/travis-ci/issues/8920, and specifically https://github.com/travis-ci/travis-ci/issues/8920#i

[2019-01-31 18:54] Dhrumilcse commented on #2367
Thanks @Pomax,
I am familiar with Django but I haven't worked with React before. However; I am ready to learn what's necessary. Also, I was looking through the code base and I think `<title>` section of base.html is where we need modifications. Correct me if I am wrong and guide me further.

[2019-01-31 18:57] annmarie123 opened #2556 "Fellowships: delete FAQ page link"
Can we please delete the "For additional details about Mozilla Fellowships, visit our Fellowship FAQ." from the first page of the fellowship site (especially as the page needs to be updated). We're updating a lot of the info in this FAQ for next year, and would prefer it be deactivated for now, especially with the launch of the host org application tomorrow.
<img width="725" alt="screen shot 2019-

[2019-01-31 19:32] #2556 closed

[2019-01-31 19:55] youriwims opened #2558 "Fellowsship mobile nav needs more spacing"
This is a small issue. It's been fixed on the the Host org page, but still needs to be fixed on the other two fellow pages.

[2019-01-31 20:51] kristinashu opened #2559 "V-Day: add content to cms"
Once updates are pushed live later today, I will start adding in some [content](https://docs.google.com/spreadsheets/d/1hm7LliaSu3ypNFlp5oj8CKTRu4Q46nbjTBw-nXR3oDE/edit?usp=sharing). Then @beccaklam will add most of the content tomorrow (Friday) and then @caltrider will put in the final pieces and review everything on Monday. Jen, maybe then you can get Rebecca R or someone to also do a final proo

[2019-01-31 21:02] Pomax commented on #2367
That's correct, except each of the top level pages has their own template in https://github.com/mozilla/foundation.mozilla.org/tree/master/network-api/networkapi/wagtailpages/templates/wagtailpages/static that each needs to specify a new title.

If you look at https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templates/pages/base.html you can see that https://git

[2019-01-31 21:33] mmmavis opened #2560 "Buyer's Guide: improve z-index values used in SCSS so they don't all look like random magic numbers"
Improve z-index values used in SCSS so they don't all looke like random magic number

Related:
https://github.com/mozilla/foundation.mozilla.org/pull/2523/files#r252499116

[2019-01-31 21:35] kristinashu opened #2561 "Increase max number of highlights on Initiatives Featured Programs and Projects section"
I've added a 4th highlight to [initiatives](https://foundation.mozilla.org/en/initiatives/) `Featured Programs and Projects` section but it isn't showing up on the page. Is there a max of 3 features for this section? If so, please increase it to 9.

Screen cap of cms:
<img width="1172" alt="image" src="https://user-images.githubusercontent.com/1068783/52086707-7dd76d80-255c-11e9-9390-9afdf21253e6.

[2019-01-31 21:35] caltrider commented on #2559
Thanks @kristinashu and @beccaklam .  Yes, Rebecca Ricks and I will do reviews and double checks together on all content next Monday/Tuesday. One thing to help out in the process. Once a product page has been created and info entered into the CMS, could whoever did that product change the color coding in line 1 of the product spreadsheet from red to yellow and the text from "not ready for cms" to

[2019-01-31 22:14] #2554 closed

[2019-02-01 00:13] kristinashu commented on #2559
Okay I've added in a few.

Note, we'll need to add 4 related products later.

And if you don't see an update on the homepage, be sure to click the 'clear homepage cache' button!

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/1068783/52093072-c009aa80-256e-11e9-823b-221da72604de.png">

[2019-02-01 00:46] kristinashu commented on #2464
Soft launching Feb 5!

[2019-02-01 00:52] #2530 closed

[2019-02-01 00:52] mmmavis commented on #2464
k I'll work on the PR now.

@kristinashu

Question: is it intentional that we are removing the grey thin border in between nav and banner (it's not on mockup)?

[2019-02-01 00:55] kristinashu commented on #2464
Eagle eyes! The line should be there.

We need it more for when users scroll down.

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/1068783/52095703-e0d6fd80-2578-11e9-9908-85bef792d7d6.png">

[2019-02-01 00:56] mmmavis commented on #2464
Cool that makes the update a lot more easier to implement lol

[2019-02-01 01:08] mmmavis commented on #2538
Do we care to update [mofo-style](https://github.com/mozillafoundation/mofo-style)? (And wow I just realized we haven't touched that repo for 3 years?!?!?!?)

[2019-02-01 01:52] kristinashu opened #2565 "V-Day: add 18+ filter to Related Products"
Ooops! Forgot to add this blur and icon to Related Product thumbnails. Thank you @mmmavis for pointing that out!

[2019-02-01 08:17] Dhrumilcse commented on #2367
Thanks @Pomax
I got it and will work this out. Please assign me this issue.

[2019-02-01 17:18] alanmoo commented on #721
I'm attempting to remove the featured property from `News`

[2019-02-01 18:13] alanmoo opened #2568 "Highlights aren't forced to be the same height"
Discovered during a visual regression test, we've got nothing forcing the height of highlights to be the same on the homepage:

![image 1](https://user-images.githubusercontent.com/1682681/52141162-d4a77a80-2622-11e9-837c-d89186248df9.png)

Am I correct in assuming that this should be enforced by the template's rendering of consistently sized images? Is this linked to the work @youriwims started,

[2019-02-01 18:53] Pomax commented on #2538
No, prettier would replace eslint-using-mofo-style.

[2019-02-01 20:37] alanmoo opened #2569 "Fake data generation fails without a homepage"
When I nuke my database and run a migration from scratch, then attempt to load fake data, it fails unless I've created a Homepage called 'Homepage'.

`networkapi.wagtailpages.models.DoesNotExist: Homepage matching query does not exist.`

It seems like [this try block](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/management/commands/load_fake_data.py#L150-L15

[2019-02-01 20:50] alanmoo commented on #2397
I think a few of us need to have a conversation about page templates, as this opens up a bit of a rabbit hole. With a minor code change, I can make "Campaign" and "Opportunity" pages children of "Primary" pages, and make this new page a "Primary" page. However, the top level pages of mini-sites then show up in the horizontal nav of the primary page

<img width="998" alt="image" src="https://user-i

[2019-02-01 21:02] beccaklam commented on #2559
Alright, all the products should be in the CMS now! I have yet to do the related products though.

[2019-02-01 21:33] beccaklam commented on #2542
More info on Misinfo campaign deliverables: https://docs.google.com/document/d/1BMMghJIUMuMBZojQB-rILLDOu7oxZ_A8XGk2Xar-wQc/edit?usp=sharing

[2019-02-01 22:58] mmmavis commented on #2521
@kristinashu what do you want the url to be? `/privacynotincluded/about/contact`? `/privacynotincluded/about/contact-s`?

[2019-02-03 01:59] kristinashu commented on #2521
Either would work but how about we go with `/privacynotincluded/about/contact`

[2019-02-03 02:05] kristinashu commented on #2568
Forcing the same image height is happening here but I guess we could also force the same card height (i.e. when one card has more text than another).

[2019-02-04 15:17] alanmoo commented on #2568
Would the link text on the originally "shorter" card be stuck to the bottom of its now-stretched card? (So there's more whitespace between the text and the link?)

[2019-02-04 15:53] caltrider commented on #2559
Thanks @beccaklam ! I'll be going through all the products today to review and double check. I can add the related products in when I do that. No need to worry about that on your end. Thank for getting them all in the CMS! That was huge.

[2019-02-04 15:57] hoosteeno opened #2577 "Banner doesn't fit on narrow screens."
In portrait mode, the banner of the page at foundation.mozilla.org is cut off.

STR:

    Open foundation.mozilla.org in a mobile browser e.g. focus or Fx for Android
    Switch to portrait mode

What happens:

    The left side of the banner is off the page

What should happen:

    The banner content should fit in the browser

[2019-02-04 16:14] craigcook commented on #2577
Seems the image itself is incorrectly cropped at that breakpoint, with the text cut off:
https://assets.mofoprod.net/network/images/twitter-card-en.2e16d0ba.fill-1152x770-c100.format-jpeg.jpg

![image](https://user-images.githubusercontent.com/205591/52220896-ce004980-2854-11e9-85b0-6ba7412ad83b.png)

[2019-02-04 16:59] kristinashu commented on #2568
The link and the gray line of the shorter card should drop down to line up with the longer card.
<img width="677" alt="image" src="https://user-images.githubusercontent.com/1068783/52223626-e3787200-285a-11e9-920b-a982549f8076.png">

Would it be possible to do this on Initiatives and Participate pages too.

Screen cap from prod:
<img width="1198" alt="image" src="https://user-images.githubusercont

[2019-02-04 17:09] kristinashu commented on #2510
@Pomax are you working on this? We're aiming to have it done for launch early this week.

[2019-02-04 17:22] kristinashu commented on #2577
Thank you so much for filling this!

We are in the middle of fixing this cropping issue over here https://github.com/mozilla/foundation.mozilla.org/issues/2279, so I'll close this ticket to avoid having a duplicate. cc @youriwims @alanmoo

Side note, I do love how slick images load on mozilla.org!

[2019-02-04 17:43] #2501 closed

[2019-02-04 17:59] mmmavis commented on #2397
This visual IA chart would be useful for the convo: https://redpen.io/hx70e9eb24e0534b72

[2019-02-04 18:11] Pomax commented on #2510
Ah! I read this issue wrong, but I can definitely take this one.

[2019-02-04 18:20] kristinashu commented on #2510
Lol thank you!

[2019-02-04 18:34] kristinashu commented on #2282
@beccaklam designs are coming along nicely here https://redpen.io/p/mga45e3eeaaf9bc071

### Next steps:
- update comps based on feedback from designs
- for completeness, add mockup simple FAQ page ([content here](https://redpen.io/p/mga45e3eeaaf9bc071))
- I will email Anil and Amy for feedback from them
- meet with devs to discuss components and possibilities
- clearly define which components are

[2019-02-04 18:38] Pomax commented on #2558
Is this issue still fully open, or should it be closed with a new issue opened for each of the outstanding tasks?

[2019-02-04 18:40] Pomax commented on #2561
Yeah, the template limits it to 3 (see [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/static/initiatives_page.html#L72-L82)) but I can't remember why we did that rather than just trusting people who have the rights to modify the initiatives page to know what they're doing.

@alanmoo objects to removing that count limi

[2019-02-04 18:42] Pomax commented on #2367
I've added the label to "assigned to contributor", as only people who are part of the github org can be "assigned" to issues.

[2019-02-04 18:44] Pomax commented on #2569
Good catch, that is not the correct syntax for the exception thrown.

[2019-02-04 18:59] Pomax commented on #2569
Testing reveals that the error is because of the site root check, not the homepage:
[code]

[2019-02-04 19:05] kristinashu opened #2578 "Uses Encryption criteria when unknown should be sad face ☹️"
If `Uses encryption` is `unknown` then the site should show the red sad face (and red highlight) instead of the gray neutral face.

<img width="1074" alt="screen shot 2019-02-04 at 10 57 41 am" src="https://user-images.githubusercontent.com/1068783/52230314-f3e51880-286b-11e9-941a-0b01e884556a.png">

[2019-02-04 19:10] Pomax commented on #2569
Sticking the following code up top seems to suggest that after a migration, there are two default pages:
[code]
Yields:
[code]
Which is mighty confusing.

[2019-02-04 19:18] mmmavis opened #2579 "Buyer's Guide: reduce padding after coral embed"
Screencap taken from [staging](https://foundation.mofostaging.net/en/privacynotincluded/products/google-home/):

![screenshot_2019-02-04 privacy not included - google home](https://user-images.githubusercontent.com/2896608/52231341-87b7e400-286e-11e9-87ac-b51f2da41330.png)

[2019-02-04 19:22] mmmavis commented on #2579
It seems like the height of the embed is being dynamically set. But we can at least remove bottom padding and margin to reduce the extra space after the embed so it can look like:

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/2896608/52231488-f72dd380-286e-11e9-85ce-34532d07f308.png">

[2019-02-04 19:39] kristinashu commented on #2579
Please always show the "Updates" title.

![red-pen-4490dc46-2483-4f6f-b619-2dcd752949d2](https://user-images.githubusercontent.com/1068783/52232422-5b519700-2871-11e9-9041-136bc024a581.jpg)

[2019-02-04 19:44] Pomax commented on #2569
Things get weirder. Examining the database shows the pages being:
[code]

[2019-02-04 19:52] mmmavis opened #2582 "Remove fira.css from base templates"
It doesn't seem like we are using Fira for the foundation site. True? If so we should stop loading `fira.css`.

Base templates to look at

- `/network-api/networkapi/buyersguide/templates/bg_base.html`
- `/network-api/networkapi/templates/pages/base.html`
- `/network-api/networkapi/wagtailcustomization/templates/wagtailadmin/404.html`

[2019-02-04 19:54] Pomax commented on #2568
Looking at Alan's screenshot, though, I see two images of different height. Are we programmatically forcing same height? If so, that might (also?) have a bug based on the screenshot.

[2019-02-04 19:59] Pomax commented on #2582
from what I can tell, we're not, no. Good catch. @kristinashu is Fire part of any of our designs?

[2019-02-04 19:59] Pomax commented on #2568
ahh, gotcha!

[2019-02-04 20:01] kristinashu commented on #2582
No, we should **not** be using Fira anywhere on our site.

[2019-02-04 20:15] devbihari commented on #2582
may I handle this?

[2019-02-04 21:20] youriwims commented on #2568
@kristinashu, I don't think it'd be a problem making the cards equal height. But, for the link to be in the same place at the bottom of the card may take a bit more planning/thought. @alanmoo do you know if we have a character/word limit for the highlight excerpt below the highlight card's title?

[2019-02-04 21:34] youriwims commented on #2544
With this approach the `--` signify a modification to a block or element while the `__`signify a direct nesting situation between blocks and elements. So, in action, it would be `.block__element--modifier or `.block--modifier`. I think it helps bridge the gap of how organized styles fit into a doc's nesting structure/flow.

However, I'm more than open to other suggestions and don't mind doing some

[2019-02-04 21:54] alanmoo commented on #2561
My only guess is "if there's 5 it looks weird", but yeah, I'm fine letting that minor breakage happen if it's our own doing. (Though ideally those might be flex'd items or something based on a design recommendation, it's not necessary to address right now.)

[2019-02-04 21:54] Pomax commented on #2582
certainly, have at it.

[2019-02-04 21:58] Pomax commented on #2544
Before we call a meeting to find a solution, let's first establish common knowledge about what the problem is that we're having, for which solutions need to be found? (so we don't all come up with solutions that each address subtly different problems)

[2019-02-04 22:00] alanmoo commented on #2568
I think I've already addressed this in [this PR](https://github.com/mozilla/foundation.mozilla.org/pull/1905/files#diff-2b1f55da117ed70d285e8ac3cfcd3189R31) which is a bit old and still in progress. If someone wants to grab that styling out and clean it up into a proper CSS file, I'd love that and I think it would close this ticket.

[2019-02-04 22:09] anilkanji commented on #842
As per a Slack convo with Matthew, Will, Kevin, Steph and Sydette, we’ve decided to kill it.

[2019-02-04 23:02] #2565 closed

[2019-02-04 23:41] youriwims commented on #2544
I don't have as much experience with the codebase since I'm newer, but for me, currently, it's just a matter of logic and organization. I usually run into difficulties understanding the reasoning behind the naming and then also how they're organized in the current sass file structures.

But, if the site's branding & styling will clean most of this up, then that works too :+1:

[2019-02-04 23:44] alanmoo commented on #2561
It seems like the 3 was, in part, a way to enforce it looking good at all screen sizes. Currently, we hide the third item on "medium width" devices, so that it doesn't end up looking like this:
<img width="609" alt="image" src="https://user-images.githubusercontent.com/1682681/52244377-5ad5f200-28ab-11e9-8ab8-9573dd07a594.png">

If we unlock this to allow an arbitrary number, there's always going

[2019-02-04 23:45] youriwims commented on #2568
Okay, I'll look into that PR to replicate your approach and cleaning up/creating a proper css file.

[2019-02-04 23:50] kristinashu commented on #2561
Yeah, I think that's ok if there are gaps sometimes.

[2019-02-04 23:53] Pomax commented on #2510
Where might I find the "link" icon? (we have the fb, twitter, and email already)

[2019-02-05 00:06] kristinashu commented on #2510
Could you use the one at the top of each product page (but make it black)?
<img width="943" alt="image" src="https://user-images.githubusercontent.com/1068783/52245517-c497d100-2896-11e9-8fb9-c070dc5ecc10.png">

[2019-02-05 00:10] Pomax commented on #2510
That should work - I'll make it a different file though, so it can sit alongside the other social media icons in the social media icon dir.

[2019-02-05 00:43] Pomax commented on #2510
PR up - I added several breakpoints to keep things from looking weird at intermediate sizes, each size documented in the PR with a screenshot.

[2019-02-05 00:45] Pomax commented on #2561
roger - I shall land this PR, then, and if it turns out to be a problem we can address it in a new issue?

[2019-02-05 00:46] #2561 closed

[2019-02-05 01:01] Pomax commented on #842
Do we want to file a new issue to remove the email option from the footer?

[2019-02-05 01:04] Pomax commented on #2544
Could I ask you to keep kind of a "log" of difficulties, so that @mavis and I can experience the pain by proxy, so we can help understand where we really need to improve, and where the improvements can happen as we clean up our css over the natural course of working on issues (including planned future cleanup issues)?

[2019-02-05 01:17] mmmavis commented on #2558
sure sounds good

[2019-02-05 01:35] kristinashu opened #2585 "Secondary nav on initiatives page is in the wrong order"
Just noticed the nav order is:
`MozFest | Fellowships | Awards | Internet Health Report | Advocacy`

But it should be the same as the page content. So it should be reversed:
`Advocacy | Internet Health Report | Fellowships | Awards | MozFest`

Screen cap from prod:
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/1068783/52248288-961ff300-28a2-11e9-9bfc-20ad67e73605.png

[2019-02-05 01:48] mmmavis opened #2586 "Create ISSUE TEMPLATES for Foundation site"
GitHub now supports multiple issue templates on repos. We can simply set them up by going to `Settings > Options > Features section > Issues > Set up templates`

I'm thinking we can start with the following

- bug report
- feature request (anything code or design related and is not a bug)
- discussion
- code improvement

Thoughts?

---

See this "new issue" page on my test repo: https://github.com

[2019-02-05 03:06] alanmoo opened #2587 "🌡 URL encoding funkiness for buyer's guide"
I copied a URL from my browser and pasted it into Slack, only to discover it wasn't working:

https://foundation.mofostaging.net/en/privacynotincluded/categories/Valentine%E2%80%99s%20Day/

The correct link is
https://foundation.mofostaging.net/en/privacynotincluded/categories/Valentine's%20Day/

The trick here is that somewhere along the way, the apostrophe got converted into a "smart apostrophe"

[2019-02-05 14:23] devbihari commented on #2552
lemme handle this one for you :fire:

[2019-02-05 14:28] alanmoo opened #2589 "Update buyer's guide share text"
"I think Harry Potter Kano Coding Kit is NOT CREEPY. What do you think? Check out the Creep-O-Meter over on @mozilla’s privacynotincluded.org holiday buyer’s guide."

I assume we want to generalize this a bit?

While we're at it, should we do a search of the repo for "holiday" and update/file tickets for any other references?

[2019-02-05 16:04] youriwims commented on #2544
Sure, I'll start doing that :)

[2019-02-05 16:13] #2585 closed

[2019-02-05 16:16] kristinashu commented on #2589
Good catch! There's also the share messaging in the nav:

"Shop safe this holiday season using @mozilla’s PrivacyNotIncluded.org buyer’s guide. 70 popular connected products rated to help understand if they are likely to spy on you. Find out which are creepy and which aren’t."

@caltrider any suggestions for what we could say year round?

@alanmoo yeah a search would be great!

[2019-02-05 16:17] alanmoo commented on #2589
Kudos to @cadecairos for noticing it.

[2019-02-05 16:53] kristinashu opened #2591 "Remove People page"
We have the go ahead to completely remove the [/people](http://foundation.mozilla.org/people) page from our site.

Here's a screen cap for our record.
![screenshot_2019-02-05 people](https://user-images.githubusercontent.com/1068783/52289614-3d446f00-2923-11e9-9c9d-7025025d1fa8.jpg)

cc @alanmoo

[2019-02-05 17:09] anilkanji commented on #842
@xmatthewx ?

[2019-02-05 17:17] Pomax commented on #2587
This isn't CMS-managed, so we're currently beholden to whatever Django does. We're creating the actual link over in https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/templates/category_nav_links.html#L5-L6, so one thing we can probably do here is use a sluggifying tag, with an unsluggifier on the views.py side.

[2019-02-05 17:32] Pomax commented on #2586
We can give this a try, although it'd be worth keeping track of how many external issues even get filed, since it's far more of an internal project than an external product.

[2019-02-05 18:05] Pomax commented on #2587
Yeah, I just added that.

[2019-02-05 18:21] shaghdoosti commented on #1822
@alanmoo @kristinashu

Can we please change the text about the minimum standards? Here's what it is now:

 Our Minimum Security Standards

We developed a set of minimum security standards we think all connected products should meet at the very least. Think of it as a “you must be this tall to ride” set of standards. These include five basic things: The product must use encryption, the company must

[2019-02-05 18:26] shaghdoosti opened #2593 "Update about us page text for the Holiday Buyers Guide"
@alanmoo @kristinashu

Can we please change the text about the minimum standards? Here's what it is now:

Our Minimum Security Standards

We developed a set of minimum security standards we think all connected products should meet at the very least. Think of it as a “you must be this tall to ride” set of standards. These include five basic things: The product must use encryption, the company must

[2019-02-05 18:35] Dhrumilcse commented on #2367
Hello team, I need guidance.

Because the foundation website contains a lot of modular code and Django's model-view-template pattern, it was a little difficult for me to reverse engineer it and find the solution. Therefore, I decided to create a small Django project and app on my local machine and run a case same as our issue. I found the solution on the local project. Here is my solution, briefly

[2019-02-05 18:38] Pomax opened #2594 "CI is failing _a lot_"
There's a lot of CI failure happening recently, so I figured I'd file this with some logs so we have something to look at @alanmoo @cadecairos @patjouk

Travis failures:
[code]

Appveyor failures:
[code]

[2019-02-05 18:39] Pomax commented on #2594
The travis one is particularly crazy because `.travis.yml` actually uses python in its pre-install section to turn _off_ nonblocking IO on stdout...

[2019-02-05 18:41] Pomax commented on #2594
Appveyor looks like it's actually a venv error? It also looks like it's using Python 2.7 which is probably not the version it should be using at all.

[2019-02-05 18:54] beccaklam commented on #2282
Updates and FAQ page updated in redpen: https://redpen.io/p/mga45e3eeaaf9bc071 @kristinashu

[2019-02-05 18:56] #2464 closed

[2019-02-05 19:01] #2569 closed

[2019-02-05 19:11] shaghdoosti commented on #2593
Yep, either is fine.

On Tue, Feb 5, 2019 at 1:04 PM Youri <notifications@github.com> wrote:

--
Sara Haghdoosti
Director, Advocacy Campaigns and Networks
P: +16465494810
S: sara.haghdoosti
*She, her, hers*

[2019-02-05 19:19] #2579 closed

[2019-02-05 19:43] xmatthewx opened #2596 "Remove "Email" from site footer"
We've decided to deprecate the icon and link to Email in our footer. We have better utilized and better monitored channels for specific programs.

![0edb6ddf-c457-401f-aef3-e8ad4aede670](https://user-images.githubusercontent.com/53411/52299818-64fffb00-2954-11e9-941f-47add8983578.jpeg)

[2019-02-05 19:45] xmatthewx commented on #842
Sure. Filed here:
https://github.com/mozilla/foundation.mozilla.org/issues/2596

[2019-02-05 19:45] #842 closed

[2019-02-05 19:45] #2593 closed

[2019-02-05 19:56] beccaklam commented on #2542
## Requested Deliverables (in order of public launch)

### Feb 11

- [ ] Open Letter (https://github.com/MozillaFoundation/Design/issues/324)

- [ ] Mozilla Campaign Page

- [ ] Unique Vanity URL (for the Campaign Page?)

### March 1

- [ ] Scorecard

- [ ] Resources for partners

### March 4

- [ ] Tools (election bundle) _(MoCo is creating this)_

- [ ] Mitchel op-ed

[2019-02-05 20:10] kristinashu commented on #2542
I know you're trying, but we need to know what type of content the campaign page will have and what sections. Does the petition always need to be present or only on one of the sub pages? Are those deliverables each pages on the site? But I know you are trying to get content and haven't been able to.

[2019-02-05 20:31] alanmoo opened #2598 "Design "maintenance page" for foundation site"
So that if stuff goes down, we don't look at
<img width="634" alt="500" src="https://user-images.githubusercontent.com/1682681/52302398-0ab66880-295b-11e9-8777-fbdd8951c006.png">

[2019-02-05 20:34] kristinashu commented on #2542
Lol yeah. I suspect that for now we can just use the multi-page campaign template like https://foundation.mozilla.org/en/campaigns/aadhaar/ (would have to use screen caps for the score card table).
<img width="1246" alt="image" src="https://user-images.githubusercontent.com/1068783/52302403-e7cb8a80-2941-11e9-96f5-cbef8bed2704.png">

And then as we get content and a better idea of what's happen we

[2019-02-05 20:41] caltrider commented on #2589
Took @kristinashu 's recommendation and just made small tweaks. Here's the updated text:

1. Copy if a user shares a product after voting:
I think this Harry Potter Kano Coding Kit is NOT CREEPY. What do you think? Check out the Creep-O-Meter over on @mozilla’s PrivacyNotIncluded.org  buyer’s guide.

2. Message if a users shares the landing page:
Be smart. Shop safe using @mozilla’s PrivacyNotIncl

[2019-02-05 20:42] beccaklam commented on #2542
@kristinashu I don't think the scorecard needs to be anything more than a downloadable pdf on the campaign site. The site they've given us as an example just has a place where people can download resources: https://blueprintsfc.org/
It doesn't sound like they need anything drastically different that would require us to create a different template. Unless I'm missing something?