[2019-04-10 20:52] kristinashu opened #3000 "Fellowships directory h6-heading bug"
**Describe the bug**
The h6-heading text switches between uppercase and lowercase.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org/en/fellowships/meet-our-fellows/ and you will see h6 in lowercase (screen cap from PR)
<img width="1158" alt="Screen Shot 2019-04-10 at 1 43 21 PM" src="https://user-images.githubusercontent.com/1068783/55912091-d21f4f00-5b96-

[2019-04-10 22:30] kristinashu commented on #2911
Totally forgot about mobile... again! Should be fairly straight forward but can you please mock that up as well?

[2019-04-10 23:08] sabrinang commented on #2935
This alignment issue also came up in a discussion and I noticed at different breakpoints the grey shadow line would appear to separate the card:
![image](https://user-images.githubusercontent.com/2492510/55919088-75795f80-5ba9-11e9-865a-87467de2fa11.png)

<img width="400" alt="mobile" src="https://user-images.githubusercontent.com/2492510/55919098-7f02c780-5ba9-11e9-9946-f16c4660f484.png">

We sho

[2019-04-10 23:18] kristinashu opened #3001 "Fellowships Directory layout at tablet width"
@sabrinang has suggested a better card layout for the browser width of around 760-980px. Instead of the bio copy being really narrow, the copy should go below the pic (like on mobile).

Comp: https://redpen.io/ge7f4beac4f1723042

![Medium (≥768px) @2x](https://user-images.githubusercontent.com/1068783/55919691-cbe79d80-5bab-11e9-816c-d15ca4856e34.jpg)

Screen cap from prod:
<img width="740" alt="i

[2019-04-11 14:43] beccaklam commented on #2911
Oi, I should really start doing mobile first ...

[2019-04-11 17:27] beccaklam commented on #2911
Mobile mock ups have been added to the redpen: https://redpen.io/p/bha12cf7387de4f7e7

[2019-04-11 18:02] youriwims opened #3003 "Remove FigureBlock2"
**Describe the bug**
It doesn't appear that `FigureBlock2` is currently in use on staging or prod and therefore, should be removed. This is a follow-up to #2999.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/network-api/networkapi/wagtailpages/customblocks.py`
2. Line 106 still has unused `FigureBlock2` class.
3. Verify that it is not in use by:
- Searching the block inventory on s

[2019-04-11 19:10] mmmavis opened #3004 "Fellowship directory - use flexbox instead of CSS grid"
Upcoming directory related tickets: #2958 #3001

(It'd better if we tackle this ticket first.)

---

There are quite a bit of arbitrary / magic numbers in `profiles.scss` ([existing code](https://github.com/mozilla/foundation.mozilla.org/blob/master/source/sass/wagtail/profiles.scss#L18-L29) & [in PR](https://github.com/mozilla/foundation.mozilla.org/pull/2997/files#diff-a7e457c11566b243d750e6a6ac

[2019-04-11 19:51] youriwims commented on #3004
This specific container you're mentioning _is_ using Flexbox. CSS Grid is only being used here to compartmentalize each card which you'll see is basically equal on each card depending on the content that's within it. In addition, the primary reason I went with the grid is because it allowed us to easily move the bio content below the image at mobile which couldn't easily be done with flexbox. Off

[2019-04-11 20:20] mmmavis opened #3005 "Align implmentation of petition form and sign up form"
Follow-up for PR https://github.com/mozilla/foundation.mozilla.org/pull/2998

Align implementation of petition form and sign up form so UI and UX can be the same between the two types of forms.

### Back-end

- Not sure if anything can be done here? (cc @Pomax )

### Front-end

**Might be blocked by the upcoming form standardization work https://github.com/MozillaFoundation/Design/issues/344**

-

[2019-04-11 20:23] mmmavis opened #3006 "Update footer on PNI and maintenance.html"
Follow-up for PR https://github.com/mozilla/foundation.mozilla.org/pull/2998

- [x] Update footer on PNI
- [x] Update footer on `maintenance.html`

[2019-04-11 20:25] mmmavis opened #3007 "Fine tune footer styling"
Follow-up for PR https://github.com/mozilla/foundation.mozilla.org/pull/2998

To make sure things match what we have on the mockups.

- hover state
- ~form error state~ for form related stuff we'll revisit when form standardization work is done.

[2019-04-11 20:29] mmmavis commented on #2959
Blocked by #2998

To reduce code merging complexity with the already gigantic PR #2998, let's wait for that to merge first before tackling this ticket.

[2019-04-11 20:43] youriwims opened #3008 "Remove AlignedImageBlock from customblocks"
**Describe the bug**
The class `AlignedImageBlock` is still in `customblocks.py` but doesn't appear to be in use. This is a follow up to #2999.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/network-api/networkapi/wagtailpages/customblocks.py`
2. Line 73 still has unused `AlignedImageBlock` class.

[2019-04-11 20:51] mmmavis commented on #3004
Thanks for the detailed explanation and screencaps. Those were very helpful! @youriwims 👍

I don't wanna propose for huge implementation changes. So I guess my main questions are - with the current CSS grid + Flexbox implementation that we have in place, is it possible that we can polish things up so that

1. width and spacing of each mini section in each card is consistent across all cards (heigh

[2019-04-11 21:10] mmmavis commented on #3004
For the wrapping social icons issue, you can probably fix it by simply adding `flex: 1;` to `.meta-block`. Ideally we want to **avoid setting min/max width/height** where we can as it will require us to manually update that value when content in that section changes (e.g., if we decide to change the size of the icons or if we decide to add another icon to it)

Disclaimer: I didn't test my code sug

[2019-04-11 22:57] kristinashu commented on #3007
Please have @natalieworth and @sabrinang review the PR!

[2019-04-12 13:27] beccaklam commented on #2995
Hi @WillatMozFdn! Tagging you in this ticket. Some context: we are updating the nav to include a newsletter sign up button. It will be next to our donate button:
![image](https://user-images.githubusercontent.com/20977376/56040622-cc477c00-5d04-11e9-9037-fb2c1189b810.png)
We want to set up tracking so we can see whether or not this design suppresses donations (compared to last year? or is there an

[2019-04-12 13:31] beccaklam commented on #2995
@kristinashu not sure if we shoulld do A/B testing for this. My reservation is do we want to lose 50% of potential traffic? Or we time it for a specific period of time where we know we'll have high traffic to do a quick test? Alternatively, we A/B test for a longer period when it's slower so we don't lose out on potential sign ups during a high traffic period.

The other thing is that using last y

[2019-04-12 13:37] WillatMozFdn commented on #2995
Unfortunately I don't think this is reliably test-able, at all.  Last year's overall conditions, site content, and traffic patterns were not the exact same as this year's will be, so, that's not a valid control.  In theory, without our lean data policies, we could show the newsletter signup to 50% of our visitors, set cookies on whether or not they saw it, and then read back and record those cooki

[2019-04-12 13:40] beccaklam commented on #2994
Also not sure about the use of usertesting.com. The UX/UI seems straightforward enough, and the above tests may be able to tell us enough about whether the design is effective. I can do some quick in person tests though and see how people do.
Possible scenarios:

- "You sign a campaign and want to learn more about the company behind the petition. Where do you go? Peruse their site. Now you want to

[2019-04-12 13:41] beccaklam commented on #2995
Also not sure about the use of usertesting.com. The UX/UI seems straightforward enough, and the above tests may be able to tell us enough about whether the design is effective. I can do some quick in person tests though and see how people do. Will go through analytics later today to see how most people end up on our landing page to think of possible user journeys.
Possible scenarios:

- "You sign

[2019-04-12 13:43] beccaklam commented on #2995
@WillatMozFdn  Could we do a plain A/B test then? And see if donations are higher for one version?

[2019-04-12 13:44] beccaklam commented on #2995
@WillatMozFdn The other question here is that the newsletter button could suppress donations a bit but in the long term does it actually get us more donations. Not sure how we would measure that?

[2019-04-12 13:46] beccaklam commented on #2995
Could we compare total number of donations that came through email this year compared to last year? That may tell us if the newsletter button is working? Increased list growth + increased engagement + increased donations?

[2019-04-12 14:03] WillatMozFdn commented on #2995
We could do:
Condition A is only the donate button up there, and we count the # of donations
Condition B is donate button plus newsletter signup up there, and we count the # of donations plus number of newsletter signups.  (Assuming everything is tracked correctly.)
Caveats:
1. We're only tracking (via Google Analytics) about 25% of our donations these days (thanks to privacy blockers) ... and ove

[2019-04-12 16:39] kristinashu commented on #2995
More context and caveats: we don't actually have the ability to A/B test this right now so I was hoping we could launch the newsletter signup to everyone and see if it made a significant drop in donations. Significant could mean lower than any other month in the last year??? Would this be bad to do?

@beccaklam I was thinking A/B and usertesting.com would be more for testing the movement-y copy in

[2019-04-12 16:40] kristinashu commented on #2994
@beccaklam I think that comment was meant for https://github.com/mozilla/foundation.mozilla.org/issues/2995?

[2019-04-12 17:20] youriwims commented on #3004
The width and spacing of each mini section _is_ currently consistent and grows to fit the content. (See my [initial example](https://github.com/mozilla/foundation.mozilla.org/issues/3004#issuecomment-482280947) displaying the grid expanding to fit Caroline's longer bio content in comparison to  Chukwuyere's bio that's visibly shorter). It's doing this all while maintaining the overall layout speci

[2019-04-12 19:08] beccaklam commented on #2935
@kristinashu
Made some quick designs shifting the card/heading/subnav, you can see them here: https://redpen.io/ev624880673d167424 and I'll paste some quick screen shots. Basically moved things so that all the text aligns but the cut off is still slightly off center to follow a similar style as to what we currently have. It feels more visually interesting than just being centered but the user's ga

[2019-04-12 19:32] beccaklam commented on #2995
@WillatMozFdn I think a few months is fine ...
Do we have a total value of donations that comes from our list? I guess if that number is bigger than the number from our donate button we could guess that it's more important to get more people on our list than to get donations from our landing page donate button?

[2019-04-12 19:36] kristinashu commented on #2935
That does look good but what about when the body content is full-width. Example: Pulse component https://foundation.mozilla.org/en/fellowships/meet-our-fellows/ and petition https://redpen.io/yu8e8b248a70cccd4b

[2019-04-12 19:57] mmmavis commented on #2665
@sabrinang should `$pni-gradient` (`#0000ff` to `#ff506f`) be using the standardized `$pni-blue` (`#1808f2`) and `$pni-pink` (`#e4487d`) instead?

[2019-04-12 19:58] mmmavis commented on #2665
@sabrinang should `$pni-gradient` (`#0000ff` to `#ff506f`) be using the standardized `$pni-blue` (`#1808f2`) and `$pni-pink` (`#e4487d`) instead?

Note that I couldn't find where this gradient is being used on PNI production site.

[2019-04-12 20:23] beccaklam commented on #2935
True. Will work on next week!

[2019-04-12 20:33] beccaklam commented on #2995
@kristinashu Oh I see! lol I totally took this in the wrong direction then. Sorry about that. @WillatMozFdn does ^ sound good to do?

[2019-04-15 14:41] beccaklam commented on #2995
Hi @WillatMozFdn, just following up with my previous comment. Looks like all we want to do is after we build the newsletter we want to compare last year's donations (month by month? or however long it takes to get statistical significance) to see if the newsletter button causes a significant drop in donations on the landing page. Would that be possible to do?

@kristinashu Oh so the A/B testing is

[2019-04-15 15:00] WillatMozFdn commented on #2995
Hey Becca - we won't ever get statistical significance on this, because it's not a well-controlled test.  Sure, we'll be able to see if donations are up or down from a similar time period last year, but apart from the change to the nav there are **numerous** other factors that could drive movement in donations one way or the other.  1) Overall site traffic; 2) mix of content on the home page; 3) g

[2019-04-15 16:05] beccaklam commented on #2911
Added tablet design as well: https://redpen.io/wy8089751c4d20c936

[2019-04-15 17:11] mmmavis commented on #2994
@youriwims reminder: you might wanna wait till PR https://github.com/mozilla/foundation.mozilla.org/pull/2998 is merged first 👍 .

[2019-04-15 17:13] youriwims commented on #2994
Sounds good =)

[2019-04-15 17:15] youriwims commented on #2994
@kristinashu what did you mean by 'UTM' in 'keep Donate UTM'?

[2019-04-15 17:25] kristinashu commented on #2917
Is this still missing? I see this after signing https://foundation.mozilla.org/en/campaigns/eu-misinformation-facebook/ Should there be something else?

<img width="1256" alt="image" src="https://user-images.githubusercontent.com/1068783/56152481-a3272580-5f68-11e9-99a6-862e5aae54e5.png">

[2019-04-15 17:27] beccaklam commented on #2995
So after chatting with @WillatMozFdn, we've decided that we'll do a check-in at 6 months to see how the newsletter and donate buttons are performing and if the newsletter button is 'helping' or 'hurting' us overall. Helping being defined as newsletter sign ups are up and donations are ok, and hurting being defined as newsletter sign ups are not up and donations are down. Correct me if I'm wrong Wi

[2019-04-15 17:30] kristinashu commented on #2994
@beccaklam will be adding more info about the UTMs and tracking. We need to carefully track how many clicks/donations/signups we're getting.

[2019-04-15 18:03] natalieworth commented on #2890
Update: working on the UI for the option 4 version in the redpen https://redpen.io/p/ng0850c024851f8ce2

cc @gideonthomas

[2019-04-15 18:53] sabrinang commented on #2665
Thanks for pointing that out! yes we should align the gradient with `$pni-blue` and `$pni-pink`

The gradient bar is an svg:
https://foundation.mozilla.org/_images/buyers-guide/gradient-bar.svg
<img width="376" alt="image" src="https://user-images.githubusercontent.com/2492510/56157556-ad4f2100-5f74-11e9-9591-bdb0c035d594.png">
<img width="409" alt="image" src="https://user-images.githubuserconten

[2019-04-15 20:04] #2833 closed

[2019-04-15 20:42] #2959 closed

[2019-04-15 20:48] beccaklam commented on #2935
Readjusted the design to complement both the full width and narrow width views: https://redpen.io/p/eu7e43fa328483dfb7 @kristinashu

[2019-04-15 21:23] kristinashu commented on #2935
Looks great! I've just pinged @mmmavis in redpen to see if this would be possible for devs to do?

[2019-04-15 21:28] mmmavis commented on #3004
@youriwims I know just the basics of CSS grid. Thanks for the links though - they are helpful! I noticed there were/are some small bugs here and there so I thought they might be CSS grid related. To be honest I'm a little lost now but if everything works as expected design wise let's just stick with the existing system.

I know with CSS grid we will have to deal with interesting numbers. Would it

[2019-04-15 23:56] #2665 closed

[2019-04-16 00:31] sabrinang commented on #3007
@mmmavis for the "Mozilla is a global non-profit ..." text please change this to `.body-small`.
For dark theme .body-small links and other paragraph links, let's change the links to be in `$light-blue`.

[2019-04-16 14:51] beccaklam commented on #2994
@youriwims I added it to the checklist!

[2019-04-16 15:11] beccaklam commented on #2911
MVP Requirements Checklist:
- [ ] Title field
- [ ] Author field
- [ ] Stream field includes paragraph component

Post MVP Requirements Checklist:
- [ ] Title field
- [ ] Author component, includes picture and link to Pulse profile (? @kristinashu is that where the link would go?)
- [ ] Stream field to include:
- Paragraph
- Image
- Image text
- Image text mini
- Video
- Link button
- Spacer
- Quo

[2019-04-16 16:31] mmmavis commented on #1662
@kristinashu new footer is live now! Is the todo here just to update the **legal** link to https://www.mozilla.org/en-US/about/legal/terms/mozilla/ ?

[2019-04-16 17:23] Pomax opened #3021 "signup component does not show customized "description" text"
The signup component seems to not set the `description` text for the signup if one was explicitly specified in the signup snippet UI in the CMS.

Rather than replacing the default text with the custom-specified description, it seems to remove the default text (which would be correct) but not render the customized description (which is a bug).

[2019-04-16 17:23] kristinashu commented on #1662
Nothing for dev to do right now. I should follow up with Abigail again first.

[2019-04-16 17:40] kristinashu commented on #2911
Nice! A few thoughts:
- I think MVP could include all the selected stream fields since I assume it's similar amount of work to add one than it is to add the eight listed
- we won't be ready to add clickable tags and clickable author yet since that would require designing a new pages (I image clicking one would take a user to a page that shows all posts by that author or with that tag) (but might b

[2019-04-16 18:04] mmmavis commented on #2935
@kristinashu thanks for the ping. I don't normally check my redpen notifications 😂

Feel free to assign me the dev ticket when it's ready. I've got some working code locally already.

[2019-04-16 18:29] kristinashu commented on #2935
Ok awesome!

@beccaklam if you're happy with everything then please open up an implementation ticket when you can!

[2019-04-16 20:37] beccaklam commented on #2911
Added hover states: https://redpen.io/an37406124d1e928f0

[2019-04-16 20:52] beccaklam commented on #2911
Will open implementation tickets tomorrow :)

[2019-04-16 21:20] beccaklam opened #3022 "Update Alignment on Primary & Bannered Campaign Pages"
Update the alignment on the Bannered Campaign Pages so the user's eye doesn't have to bounce around so much.

- [x] Design has been finalized
- [x] Link to original design ticket: #2935
- [x] Link to Redpen: https://redpen.io/p/eu7e43fa328483dfb7
- [x] Design changes been merged into the master Sketch file (you can find this file in the Foundation Site file on the Campaigns page, designs are title

[2019-04-16 21:22] kristinashu commented on #3021
Oh this might not be a bug. I was able to add the copy. I think the issue is that both fields need to be filled in for it to show up
<img width="931" alt="image" src="https://user-images.githubusercontent.com/1068783/56244943-ffff0a80-6052-11e9-863f-371b20da2161.png">

[2019-04-16 21:23] beccaklam commented on #2935
Closing this and opened implementation ticket here: #3022

[2019-04-16 21:23] #2935 closed

[2019-04-16 22:07] kristinashu opened #3024 "IH CTA on Bannered Campaign pages should match Campaign pages"
Currently the CTA on Bannered Campaign pages is too wide: https://foundation.mozilla.org/en/campaigns/open-leadership--events/

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/1068783/56247134-c0d3b800-6058-11e9-84a2-127b5768f554.png">

It should match the content width like it does on other cms pages: https://foundation.mozilla.org/en/campaigns/facebook/

<img width="

[2019-04-16 23:18] mmmavis commented on #3022
@beccaklam question regarding the **Medium** mockup you included - did you mean for devices that are in between 576px to 767px (Bootstrap's "small devices")? Our nav doesn't "collapse" for tablets (Bootstrap's "medium" devices) but in your mockup I see hamburger icon / collapsed nav.

https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints

[code]

[2019-04-16 23:27] kristinashu commented on #3022
Mavis your too fast lol!

Just a couple notes that I think Rebecca was going to update the ticket with tomorrow:
- this should be for all pages that have that banner so both `Bannered campaign` pages & `Primary` pages like /about
- I _think_ we also want to add some space below the intro text and above the subnav but Rebecca will add specs for that tomorrow

[2019-04-16 23:37] kristinashu commented on #2834
👏  I think this is good to close 👏  just a little follow up here #3007 👏

[2019-04-16 23:37] #2834 closed

[2019-04-16 23:44] mmmavis commented on #3022
I have WIP review app for testing here: https://github.com/mozilla/foundation.mozilla.org/pull/3025 If it's easier - we can stay after stand tomorrow for quick discussion. Otherwise updating this ticket will work too.

[2019-04-17 15:16] beccaklam commented on #3022
Here's a mockup of About (though, now that I think about it, Fellowships uses the Primary Page template too?). Also I updated the Requirements Checklist at the top ^
![Extra Large (≥1200px)](https://user-images.githubusercontent.com/20977376/56299510-2fb91b80-6102-11e9-98ab-b652a5b3a053.jpg)

[2019-04-17 15:36] beccaklam commented on #3022
@mmmavis Checked out your PR and it looks good. Let's stay on after stand to chat through if we need the other adjustments I suggested in the Requirements Checklist. cc: @kristinashu

[2019-04-17 17:29] youriwims commented on #3001
I can definitely do this but, all of the images have to be cropped to a square and some of the images haven't been cropped yet. When do you think this can be done @kristinashu  😸 ?

[2019-04-17 17:56] kristinashu commented on #3001
Ooooh right that! Which ones aren't square? I just had a quick look at it seemed like they were all miraculously square.

[2019-04-17 18:12] youriwims commented on #3001
I'm look at them at the given tablet widths, 760-980px:

_2019_
Caroline Sinders , Danae Valentina , Daniela Saderi,  Kadija Ferryman , Renee DiResta,
Stefania Koskova

_2018_
An-Me Chung, Julia Kloiber , Peter Bihr , Sarah Kiden

[2019-04-17 18:41] beccaklam commented on #3022
@mmmavis The intro text looks good, once the spacing is implemented between the intro text and the subnav (only on pages with subnav for now?) let me know and I can check it before approving the PR. I looked at pages without the subnav and it looks like they may benefit form having a visual break (i.e. a line) in between the intro text and body copy but we can file a separate implementation ticket

[2019-04-17 18:57] kristinashu commented on #3001
Ok I've copped all of those!

Few notes:
- @sabrinang to make sure all MozFest profiles are square
- there is a long term fix chat happening here https://github.com/mozilla/network-pulse-api/issues/458
- but maybe @mmmavis has some other short term fix ideas

[2019-04-17 19:40] youriwims commented on #3004
not sure what you mean by that question, but yes those are all equivalent 😸 However, it tends to be the norm in CSS Grid to use smaller `fr` units i.e. `4fr` and below. (note: you can also use percentages and pixels with `fr` units).

there's no particular reason why I picked  0.35fr vs 0.7fr as in this case, they're exactly the same. like i said previously ☝️, css grid tends to use smaller number

[2019-04-17 21:11] beccaklam opened #3029 "Blog MVP"
Create a Blog MVP for staff to use.

- [x] Design has been finalized
- [x] Link to original design ticket:  #2911
- [x] Link to related ticket: #3030 (Post MVP blog)
- [x] Link to Redpen: https://redpen.io/p/bha12cf7387de4f7e7
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and mobile mockups are included
- [x] Hover state for elements are designed

## Requirements Check

[2019-04-17 21:14] beccaklam opened #3030 "Blog: Post MVP P2's"
Build on the Blog MVP work to fully flesh out capabilities.

- [x] Design has been finalized
- [x] Link to original design ticket: #2911 (original design ticket)
- [x] Link to related ticket: #3029 (MVP ticket)
- [x] Link to Redpen: https://redpen.io/p/bha12cf7387de4f7e7
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and mobile mockups are included
- [x] Hover state for

[2019-04-17 21:18] beccaklam commented on #2911
Created implementation tickets #3029 (MVP) and #3030 (Post MVP) and closing this one!

[2019-04-17 21:18] #2911 closed

[2019-04-18 05:01] mmmavis commented on #3004
Here's my lengthy reply 😅 . We can chat on Vidyo if you have more questions.

---

I understand devs have their own preference. But since we are working on a collaborative project we would want to prioritize "making the code easier for other people to understand" than personal preference. Reducing numbers to their lowest terms is cool but there are already inconsistency happening in your code. Lik

[2019-04-18 17:35] kristinashu commented on #3029
@alanmoo we have sign off from Anil to build this under `blog`

[2019-04-18 19:22] youriwims commented on #2994
@kristinashu how should I handle the nav/form layout at medium screen sizes? Should it remain like mobile?

[2019-04-18 19:38] kristinashu commented on #2994
@youriwims thanks for asking! I did a quick mockup and looks like it still fits nicely at >768px wide (see comp below) but will probably have to match mobile for anything narrower than that.

<img width="768" alt="image" src="https://user-images.githubusercontent.com/1068783/56386479-b7705a00-61d6-11e9-9d5b-94c8e531adb9.png">

[2019-04-18 19:54] youriwims commented on #2994
Awesome, thanks!...I don't foresee any issues with this. I'll let you know if anything 👍

[2019-04-18 20:08] youriwims commented on #2994
![Screen Shot 2019-04-18 at 4 06 56 PM](https://user-images.githubusercontent.com/36484608/56388054-05e02180-61f4-11e9-9611-aab2f4d98fa0.png)

Just checked prod and at 576px, the logo changes to the large Moz logo. Should I keep that or follow your comp above and keep the small logo?

[2019-04-18 20:27] kristinashu commented on #2994
Oh sure, large logo works!

[2019-04-18 21:09] kristinashu commented on #3007
@mmmavis can I add one more update to this ticket (if not I can open a separate one). Please update the two mozilla.org links (logo & "Visit us at mozilla.org") to go to foundation.mozilla.org instead. Abigail from legal says if we're talking about the not for profit then we shouldn't be linking to moz.org.

[2019-04-18 21:10] mmmavis commented on #3007
@kristinashu sounds good!

[2019-04-19 16:00] alanmoo commented on #2917
That’s not a bannered campaign page, it’s a regular campaign page

[2019-04-19 16:59] alanmoo commented on #721
What failed about our approach this time?

[2019-04-19 18:59] alanmoo commented on #3029
How does the date get set? Is it automatically the publish date? (I'm not sure if that gets updated when we, say, fix a typo or something)

[2019-04-22 14:12] Pomax opened #3042 "CMS: group the buyers guide data"
There are three buyers guide "interfaces" available in the CMS at the moment (bg products, bg product categories, and bg product updates) but they all live at the same root level in the nav menu... they should get grouped under some "buyers guide" heading so that they take up less space, and more obviously belong together.

ref:

![screenshot 706](https://user-images.githubusercontent.com/177243/5

[2019-04-22 15:36] Pomax opened #3043 "Can't insert links in Wagtail 2.4"
After updating to wagtail 2.4, users can no longer mark rich text as external links.

[2019-04-22 15:54] #3043 closed

[2019-04-22 15:58] beccaklam opened #3045 "Add 'Line' to Primary/Bannered Campaign Pages with no sub-nav"
We want to add a line for a visual break/centering purposes on both full width and narrow templates of the Primary/Bannered Campaign pages with no sub nav. Currently it looks a bit awkward without it.

Related tickets: #3022
Redpen is here: https://redpen.io/p/ys4594fedace293c98

## Current:
<img width="736" alt="Screen Shot 2019-04-22 at 11 57 33 AM" src="https://user-images.githubusercontent.com

[2019-04-22 17:50] #2958 closed

[2019-04-22 19:33] #3000 closed

[2019-04-22 19:33] #3001 closed

[2019-04-22 20:06] #2738 closed

[2019-04-22 21:13] mmmavis opened #3047 "Secondary nav on mobile should only appear when there are nav items to show"
### Describe the bug
On mobile, secondary nav dropdown box is always there even when there's no nav item to show (the empty dropdown gets collapsed into a thick grey line).

### To Reproduce
Steps to reproduce the behavior:
1. On mobile screen size, go to any primary / opportunity / campaign page that doesn't have child pages
2. Notice the thick grey line around header section.

### Expected behav

[2019-04-23 00:31] mmmavis commented on #3045
Blocked by PR #3025 #3049

[2019-04-23 04:11] kristinashu commented on #2917
Ha right, woops!

[2019-04-23 14:35] alanmoo commented on #2908
@Pomax It seems like this is done, is that correct?

[2019-04-23 16:11] kristinashu commented on #3029
Date should be the publish date (editing the post should not update the date).

[2019-04-23 16:44] #3007 closed

[2019-04-23 16:47] #3047 closed

[2019-04-23 16:57] mmmavis opened #3051 "Sign-up component bug - email validation error for invalid email should be inline"
**Describe the bug**
According to design - email validation error should be inline and not appear in a browser default error bubble.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org
2. Scroll down to the footer section
3. Type something random in email field
4. See error

**Expected behavior**
Error message for invalid email should be inline.

**Screenshot

[2019-04-23 16:58] mmmavis commented on #3051
Related to #3005 (this bug can be fixed if #3005 gets tackled first)

[2019-04-23 17:18] mmmavis opened #3052 "Dark theme .btn-secondary text colour"
Follow-up for PR https://github.com/mozilla/foundation.mozilla.org/pull/3026

Style guide on prod: https://foundation.mozilla.org/en/style-guide/

@sabrinang @natalieworth
Currently dark theme `.btn-secondary` 's text **on hover** is set to `black`. Not sure if I interpreted design wrong in the first place - is text colour supposed to be transparent instead (so we can achieve the 'cutoff' effect)?

[2019-04-23 18:08] sabrinang commented on #3052
Some thoughts on dark theme buttons:

I think the text on dark theme should always be black text to maintain the same contrast ratio to be legible on light blue/white and it will be more predictable and consistent even on other dark background applications.

Similarly for normal buttons, I also see it always being white text to maintain the same contrast on dark blue/black for various light backgr

[2019-04-23 20:02] mmmavis commented on #3045
@beccaklam since the gap in between the heading section and main content is kinda huge, I'm wondering if we should add divider line to both wide & narrow templates?

[2019-04-23 20:36] beccaklam commented on #3045
@mmmavis yes we want the line on both wide and narrow templates. Sorry just reworded my ask!

[2019-04-24 01:28] mmmavis opened #3055 "Figure out a way to deal with site-wide shared JS code"
Originally mentioned in PR https://github.com/mozilla/foundation.mozilla.org/pull/3023

We should figure out a way to deal with side-wide shared JS code instead of duplicating the same code in both `main.js` and `bg-main.js`.

[2019-04-24 02:09] mmmavis commented on #3029
Not sure how much we care about this -

To avoid seeing posts being published 'in the future', when displaying published date do we wanna include timezone info as well?

[2019-04-24 02:16] mmmavis commented on #3029
Curious about what the user flow on Wagtail is to create a blog post? Do we plan to add anything to the sidebar?

<img width="171" alt="image" src="https://user-images.githubusercontent.com/2896608/56627756-03b70200-65fc-11e9-8ab8-dbcd5d25671c.png">

[2019-04-24 02:18] alanmoo commented on #3029
Nope, they’re just a page with a new template under a parent “blog” index page (which can be a ghost namespace to start).

As for time zones: I wouldn’t worry about it- we’re so North American centric chances are the day has already started everywhere by the time a post goes live.

[2019-04-24 15:01] Pomax commented on #3004
As a small note on `fr`, you generally don't want to work with "Fractional fractions", so the smallest value you want to see is just `1fr` - the `0.9fr 2fr` dimensions are a bit odd, 1:2 would certainly feel more in line with what a designer would request. The `fr` units are great for expressing the whole "multiples of one" ratio that makes grid design pleasant =)

[2019-04-24 16:07] Pomax opened #3056 "Update the page history state when using the directory filter"
Currently the directory filter does not do any page state recording in the page history, so when people filter for a year, and hit back, they leave the page...

Do we want that? If so, let's write that into the code as being intentional. If not, let's add state recording =)

/cc @kristinashu @alanmoo

[2019-04-24 16:58] Pomax opened #3057 "mismatch between PULSE_API_DOMAIN and PULSE_DOMAIN"
Our environment.json (i.e. https://foundation.mozilla.org/environment.json) returns the following JSON:

[code]

Which seems odd: either the `X_DOMAIN` vars should both have a protocol, or neither should have one... let's see whether we can homogenise that.

/cc @cadecairos @mmmavis

[2019-04-24 17:30] kristinashu commented on #3056
Yes it would be ideal to have state recording!

[2019-04-24 21:45] #3022 closed

[2019-04-24 21:45] mmmavis commented on #3045
Fixed as part of PR https://github.com/mozilla/foundation.mozilla.org/pull/3025.

[2019-04-24 21:45] #3045 closed

[2019-04-25 17:33] youriwims opened #3059 "Update Profile Directory Styles"
Use float + flexbox for profile directory as seen [here](https://github.com/mozilla/foundation.mozilla.org/pull/3034).

cc: @mmmavis

Reference: #3004

[2019-04-25 17:43] youriwims commented on #3004
⬆️ Moved to enhancement ✨ implementation ticket ⬆️ .

[2019-04-25 17:43] #3004 closed

[2019-04-25 17:53] gideonthomas opened #3060 "Update Legal link in footer"
**Describe the bug**
The Legal link in the footer should point to https://www.mozilla.org/about/legal/terms/mozilla/

**To Reproduce**
Steps to reproduce the behavior:
Click on the link at the bottom of the footer in https://foundation.mozilla.org

cc @kristinashu to triage

[2019-04-25 19:26] alanmoo opened #3061 "Enable banneredCampaignPage inside Initiatives page (and more?)"
**Describe the bug**
There's a need to make a BanneredCampaignPage a child of the Initiatives page. Let's make that doable.

**To Reproduce**
1. Attempt to add a child page to [Initiatives](https://foundation.mozilla.org/cms/pages/77/)
2. Bannered campaign page isn't an option
**Expected behavior**
Bannered campaign page should work properly as a child of initiatives (and, really, anywhere. Probab

[2019-04-25 20:18] cadecairos opened #3062 "Wagtail 2.5"
[Wagtail 2.5 is out](https://docs.wagtail.io/en/v2.5/releases/2.5.html), lets update sooner rather than later.

Unfortunately, we're currently blocked on this by wagtail-inventory: https://github.com/cfpb/wagtail-inventory/issues/20

[2019-04-26 01:24] mmmavis commented on #3029
@alanmoo how should we implement the "author" field? Is it a simple text field or person/user object field?

[2019-04-26 13:12] alanmoo commented on #3029
I don’t have strong opinions about that other than that whatever we do shouldn’t be too restricted, because you know at some point a post will go up where Mark is the author but he didn’t actually log in and post it.

[2019-04-26 18:44] mmmavis commented on #3029
k, let's go with text field for now then to avoid blocker.

[2019-04-26 19:14] #2908 closed

[2019-04-26 19:48] youriwims commented on #2994
@kristinashu is it possible we can add some way to exit i.e. an 'x' to this form?...or there's really no way for the user to exit the form, especially at mobile.

[2019-04-26 20:22] beccaklam commented on #2995
Test Copy doc here: https://docs.google.com/document/d/1IlPX7GRa0xGqX5B2f276xi9ADX1WPUPFLZoH2mo9CS0/edit#
Usertesting.com test built here: https://www.usertesting.com/st/te-7QL5XQ6Jz2yM-85PC
After getting feedback from designers will launch next week!

[2019-04-26 20:42] beccaklam opened #3063 "Turn off 'Narrow Width' on Tablet (like on mobile)"
Designers have noticed that the narrow width on 768px (tablet) break point isn't necessary. The original goal of the narrow width was to shorten the line length for more wordy body copy, but that's not a problem at the 768px break point. Therefore, we think it should be removed after it hits the tablet break point, similar to mobile.

redpen here (first two designs): https://redpen.io/p/ys4594feda

[2019-04-26 20:48] beccaklam opened #3064 "Adjust Header at 768px break point on Primary/Bannered Campaign Pages"
This is a follow up ticket to #2935

Tablet view was looking wonky as Youri pointed out. We've decided that it would be best to start the 'mobile' design for primary/bannered campaign pages earlier at the 768px break point. This design makes it easier for the user's eye to go from the header to the body text.

## List of Requirements
- [ ] Start mobile design (12 column header) at 768px breakpoint

[2019-04-26 22:32] kristinashu commented on #2994
Users can click anywhere outside of the black form box (logo, hamburger, white bar...) to close it. I don't think anything extra is need to desktop or tablet since it isn't very intrusive but we could add something to mobile. An 'x' at the top left or right feels busy like there is an overwhelming amount of options but we could add a `No thanks` below the Sign up button. Clicking it should return

[2019-04-26 23:46] mmmavis opened #3065 "Remove 'image_text2' from streamfield_provider.py and factory.py"
Remove `image_text2` related code from `streamfield_provider.py` and `factory.py` as it seems to be a custom block that no longer exists.

---

Updates: I see that `image_text2` is now used in `abstract.py`. To whoever is going to work on this ticket - please check with the team to see if `image_text2` is still something can be safely removed.

[2019-04-29 19:39] kristinashu opened #3076 "Image text mini layout bug"
**Describe the bug**
- Icon and layout in image text mini component changes depending on copy on right side.

**To Reproduce**
- I've made this test page to show the three different possible text variations https://foundation.mofostaging.net/en/initiatives/image-text-mini-test/.
- Component looks good in version 1 when text wraps but icon looks stretched (and ratio of icon to text is different) if

[2019-04-29 21:13] beccaklam opened #3077 "Zen Nav Questions"
Mavis noticed that she was having trouble aligning things for the blog design because the nav is not centered. Currently, abstract has the nav slightly off center on zen nav where the menu sticks out:
<img width="653" alt="Screen Shot 2019-04-29 at 4 37 34 PM" src="https://user-images.githubusercontent.com/20977376/56927226-a4486e80-6aa1-11e9-99c6-7ae6b1934df3.png">

I wasn't aware of this and des

[2019-04-29 23:52] mmmavis commented on #3076
@kristinashu how big should the image section be? e.g., as wide as the original image dimension? certain % of the total width of the "image text mini" component? fixed width?

[2019-04-30 07:10] #2925 closed

[2019-04-30 11:38] alanmoo commented on #3077
This sounds vaguely familiar- it may have been because we had more items in the main nav and they wrapped really strangely on tablet view, so the menu button was popped to the left a bit to accommodate.

[2019-04-30 16:00] kristinashu commented on #3077
I think it is supposed to stick out from the grid so that the logo would be in the same spot whether the hamburger was there or not.

<img width="899" alt="image" src="https://user-images.githubusercontent.com/1068783/56975139-05655600-6b25-11e9-84e8-a3c11fcd52c5.png">

But then that is not possible on mobile/tablet in order to maximize the grid space and reduce the space on the left/right sides.

[2019-04-30 16:17] kristinashu commented on #3076
The image should be fixed at 50x50px (image should crop if something larger or non-square is uploaded).

[2019-04-30 17:20] mmmavis commented on #3076
@kristinashu does the 50*50px dimension apply to image on all screen sizes?

[2019-04-30 17:31] kristinashu commented on #3076
Yes please. The way it's mocked up kinda breaks the grid but I've added a light gray bounding box to help convey with the idea.

<img width="973" alt="image" src="https://user-images.githubusercontent.com/1068783/56981211-20d75d80-6b33-11e9-8426-480e31cde6ba.png">

[2019-04-30 17:33] mmmavis commented on #3076
@kristinashu thank you! That screencap is very helpful!

[2019-04-30 18:58] mmmavis opened #3079 "Rename "img-txt-mini" to "image-text-mini" so it matches its corresponding component name"
To follow our existing convention and to make sure things can be easily looked up, let's rename `img-txt-mini` to `image-text-mini` so it matches its corresponding component name.

- selector names in [foundation.mozilla.org/network-api/networkapi/wagtailpages/templates/wagtailpages/blocks/image_text_mini.html](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wa

[2019-04-30 20:31] #3061 closed

[2019-04-30 20:35] #1662 closed

[2019-04-30 20:57] #3060 closed

[2019-04-30 21:07] kristinashu commented on #1552
We've made a lot of improvements to the components lately so I'm not sure this is still an issue. Going to close and we can open a new ticket if it's still needed.

[2019-04-30 21:07] #1552 closed

[2019-04-30 21:14] kristinashu commented on #2989
Note: we decided the blog detail pages should use Zen Mode for a more focused reading experience and we will use Related Posts at the bottom of the page to keep visitors on our site.

[2019-04-30 21:58] mmmavis opened #3081 "Bump up line height for .body-large to 1.5"
We've decided to bump up line height for `.body-large` to `1.5`.

/cc @sabrinang @beccaklam

[2019-05-01 00:03] mmmavis commented on #3021
When I tested it last time (around 2 weeks ago), it seemed like the `[EN]` field was mandatory. So things worked as expected if you had `DESCRIPTION [EN]` filled. After you hit publish/save whatever the value was for `DESCRIPTION [EN]` would get auto copied to fill the `DESCRIPTION` field.

Looks like the `DESCRIPTION` field is no longer there. Are we good to close this ticket?
<img width="853" al

[2019-05-01 07:31] natalieworth commented on #2890
I've updated the desktop and mobile UI based on doc comments/ feedback etc. https://redpen.io/p/jx6c0e576743fd5de0

I had a couple of questions/ discussions that I posted in the [redpen ](https://redpen.io/p/jx6c0e576743fd5de0)

[2019-05-01 14:01] sabrinang commented on #3081
I updated https://foundation.mozilla.org/en/docs/brand/design/Typography/ `.body-large` documentation (20px/30px) to match

@beccaklam Can you update the sketch style guide text style to reflect this line height update?

[2019-05-01 15:24] beccaklam commented on #3081
Yup I did that, also updated the mobile .body-large from 18/24 to 18/27 @sabrinang

[2019-05-01 15:36] alanmoo commented on #2598
@cadecairos I believe this is built. Re-open if I'm wrong.

[2019-05-01 15:36] #2598 closed

[2019-05-01 15:50] alanmoo commented on #1684
@cadecairos Is this actually the right approach to test petitions?

[2019-05-01 15:52] alanmoo commented on #1972
While I get the desire to fix this, it's probably not going to happen unless we do a bit of an overhaul of our images. Closing this as won't fix for now.

[2019-05-01 15:52] #1972 closed

[2019-05-01 16:01] #3081 closed

[2019-05-01 16:03] cadecairos commented on #1684
If we can throw together a test for this that doesn't require manual work that would be great. I'm not sure that we really need to test the full integration with basket and SF, just that a given input on our end produces an expected output to SQS.

If we could mock an SQS endpoint and just check the payload it gets that would be cool, however I'm not sure how simple that would be with boto3. (A si

[2019-05-01 16:20] alanmoo commented on #2006
The areas in which we use this [appear](https://github.com/mozilla/foundation.mozilla.org/search?utf8=%E2%9C%93&q=dangerouslySetInnerHTML&type=) to be fields that are not rich-text, but which need a link when rendered on the page. Is the solution to this making those Rich Text Fields?

[2019-05-01 17:11] mmmavis commented on #2854
This ticket requires @sabrinang and I to block probably half a day or longer to work and test things side by side. Currently we don't have the capacity to do so. I'm gonna move this ticket to Backlog.

[2019-05-01 22:25] mmmavis commented on #1840
No longer applicable! We don't have `.stylelintrc` file anymore!

Closing!

[2019-05-01 23:00] mmmavis commented on #1657
Verified on Google Font.

<img width="675" alt="image" src="https://user-images.githubusercontent.com/2896608/57048723-02a05900-6c2a-11e9-8dff-3d70ef2132bd.png">

Looks like emojis do get italicized by default. I know there are ways we can alter this behaviour just for emojis but it's probably not gonna be a clean fix. 😬

[2019-05-01 23:08] kristinashu commented on #1657
Thanks for looking into it Mavis! Given that we have 117 issues in this repo I don't think we'll ever get to prioritize this one. Closing as a "won't fix", sorry!

[2019-05-01 23:08] #1657 closed

[2019-05-02 00:49] mmmavis commented on #1840
Sorry I was wrong 😂 . `.stylelintrc` file is still in the repo.

[2019-05-02 14:48] Pomax commented on #3062
wagtail-inventory now has a Wagtail 2.5 + Django 2.2 compatible 0.7 release, we should be good to go~

[2019-05-02 15:54] #3076 closed

[2019-05-02 16:34] kristinashu opened #3086 "Design related content cards and functionality"
**Goal**

Engage visitors to venture across site content.

**Solution**

Integrate related, dynamic content on various pages. This could be:
- blog items
  - blog section of MozFest site
  - homepage news section
  - Participation wins at bottom of participate page
  - Fellowship success stories
  - related posts at the bottom of a blog post
- News
- Campaigns on homepage, /participate, /advocacy

[2019-05-02 19:18] xmatthewx opened #3089 "Add a newsletter sign-up landing page"
We're currently building a new sign-up drop-down that's super sweet. There are some instances, when we'll want to link to a sign-up page. For example, a google ads campaign.

This page should leverage all the same copy as the drop-down. Might benefit from a nice image for visual balance, but otherwise the task boils down to:

 - choose URL (/newsletter, /signup, ~/join~)
 - configure page
 - add c

[2019-05-02 20:43] alanmoo commented on #2970
@kaili09 This is a github issue

[2019-05-03 00:51] #3063 closed

[2019-05-03 14:10] cadecairos opened #3093 "Fix inv docker-nuke-db"
**Describe the bug**
The `inv docker-nuke-db` command fails because of an incorrectly named volume.

It should be `foundationmozillaorg_postgres_data`

[2019-05-03 17:05] alanmoo commented on #3089
I'm not sure I understand this. What about the current opportunity page with signup form wouldn't address this?

[2019-05-03 18:57] mmmavis commented on #1840
`no-descending-specificity: null` was removed as part of PR https://github.com/mozilla/foundation.mozilla.org/pull/2807/files#diff-ab1d354bf78d8f05312122983731ff51L6.

Closing this ticket for real this timeee! 😂

[2019-05-03 18:57] #1840 closed

[2019-05-03 19:13] mmmavis commented on #2378
I just took a quick look at the code. At this stage there isn't a lot cleanup we can do due our complicated primary nav design and implementation.

Closing.

[2019-05-03 19:13] #2378 closed

[2019-05-03 19:14] mmmavis commented on #3052
@natalieworth what do you think? Are we good with having white/black text instead of "transparent" text?

[2019-05-03 19:19] natalieworth commented on #3052
@mmmavis @sabrinang Sure, I'm good with that to maintain contrast!

[2019-05-03 19:22] mmmavis commented on #3052
Oops, I accidentally deleted my previous comment!

@natalieworth awesome! Also as far as I know currently there isn't an easy way to achieve the "transparent" (cutout style) text. So sticking with white/black text will make implementation a lot simpler as well. 😎

[2019-05-03 19:22] mmmavis commented on #3052
🎉

Nothing to fix or update here. Closing

[2019-05-03 19:22] #3052 closed

[2019-05-03 19:58] #3024 closed

[2019-05-03 22:41] kristinashu opened #3094 "Update mozfest link on /initiatives"
Update MozFest link in sub nav on https://foundation.mozilla.org/en/initiatives/
- [ ] update copy from `MozFest` to `Festival`
- [ ] update link from https://mozillafestival.org/ to https://foundation.mozilla.org/en/mozfest/

[2019-05-06 14:38] alanmoo commented on #3094
Considering the URL will eventually go back to Mozillafestival.org and it redirects presently, should we actually change it?

[2019-05-06 14:50] alanmoo opened #3106 "Add optional first/last name capture to signup snippet"
I can't find the issue right now (@kristinashu can you maybe help?) but there's a request for specific newsletter signups to collect first/last names. We should add that to the "signup" snippet in Wagtail.

One question:
**If a user turns on "ask for name", should it be required? Always, or sometimes?**

@xmatthewx @stephaniemcv any opinions?

As per above, I can't find a comp right now, but the q

[2019-05-06 16:45] kristinashu commented on #3094
Yeah works for me!

[2019-05-06 16:45] #3094 closed

[2019-05-06 20:08] alanmoo commented on #3021
Looks like it.

[2019-05-06 20:08] #3021 closed

[2019-05-06 21:05] kristinashu commented on #3106
Thanks Alan, yes those styles work!

I don't think we should make names a required field since as far as I know we have no huge need to know their names and I wouldn't want to block people from signup just because they don't want to share their name (or for them to use a fake name). @annmarie123 you ok with that?

[2019-05-06 21:51] mmmavis opened #3109 "Clean up "Array.from" in codebase"
From https://github.com/mozilla/foundation.mozilla.org/pull/3023#discussion_r281295700

[2019-05-06 21:51] #3006 closed

[2019-05-06 22:32] stephaniemcv commented on #3106
In my opinion, I agree with @kristinashu. Name should be optional not required. I can't think of a current Mozilla subscription only form that requires name.

[2019-05-07 21:25] mmmavis opened #3111 "Fix margin of "IH CTA" on blog pages"
(Blocked until PR #3066 is merged)

Follow-up for PR https://github.com/mozilla/foundation.mozilla.org/pull/3066. For original discussion see this [thread](https://github.com/mozilla/foundation.mozilla.org/pull/3066#discussion_r280888321).

Currently IH CTA section(`ih_cta.html`) comes with default margin class `my-5` (48px top and bottom margins). On blog pages we want IH CTA to have top margin 9

[2019-05-07 22:29] mmmavis opened #3112 "Remove 'pre_footer_classes' block if it's not being used"
I did a quick [search](https://github.com/mozilla/foundation.mozilla.org/search?q=pre_footer_classes&unscoped_q=pre_footer_classes) and it seemed like `pre_footer_classes` block is not doing anything? If so let's remove it from the codebase.

<img width="738" alt="image" src="https://user-images.githubusercontent.com/2896608/57336835-35d86180-70dc-11e9-9bfb-899af6db9dd0.png">

[2019-05-08 15:43] alanmoo opened #3113 "Update buyer's guide fake data"
**Describe the bug**
Percy flagged a real change, but the resulting screenshot looks wrong because of our fake data setup. Notice the bottom of the image, with the donate graphic overlapping product comparison.

**To Reproduce**
I'm not positive, but presumably run the mock data generation and check out a buyer's guide product page.

**Expected behavior**
Some comparison products show up in Percy

[2019-05-08 16:09] #3062 closed

[2019-05-08 18:26] alanmoo commented on #3111
I was thinking a sensible default (`my-2`) would be useful, and then simply wrap it in more HTML with margin classes if necessary wherever it's used. Building the ability to capture a wrapping class into the tag feels excessive.

(I'm only at like 2/5 💩 given about this though)

[2019-05-08 20:58] alanmoo opened #3115 "Blog pages need Percy snapshot"
**Describe the bug**
Percy should check blog posts to make sure we don't visually regress. Hopefully this just needs changes to [this file](https://github.com/mozilla/foundation.mozilla.org/blob/master/cypress/integration/endpoint-tests.js)

[2019-05-08 22:34] sabrinang opened #3116 "MozFest: Unique Landing Page"
### Description
For Mozilla Festival 2019, it'll have it's own landing page.

**Navigation**
It'll have its own navigation with festival logo, nav items and cta button and it will be match the style of the current https://foundation.mozilla.org/ site.

**Full Hero Banner**
This landing page will feature a large hero to feature an image, heading, description and cta button. Could this area feature

[2019-05-08 22:44] sabrinang opened #3117 "MozFest: Unique Footer"
### Description
For Mozilla Festival 2019, it'll have unique content for the footer that is specific to the festival but will be styled to match the current https://foundation.mozilla.org/ site.

**Email Signup**
After April, the email sign up will live in this footer area.

**Social (More about us section)**
This will link to the festival's social links: [twitter](https://twitter.com/mozillafesti

[2019-05-08 22:52] sabrinang opened #3118 "MozFest: Social Media Feed"
### Description
For Mozilla Festival 2019, it'd be great to feature more social activity and stories by including a social feed. Specifically, twitter #mozfest hashtag or @mozillafestival handle.

**Feed**
This can be featured above the footer area on the landing page. TBD how it is styled because it may just use twitter's styles.

Wireframe on redpen here: https://redpen.io/smaff9809d00feddb3
<im

[2019-05-08 23:01] sabrinang opened #3119 "MozFest: Blog Post Feature"
### Description
For Mozilla Festival 2019, the landing page will have a storytelling focus to feature blog posts from medium.

**Blog feature**
This could look similar to the latest news section on the foundation site to feature festival specific content or it could be a pulse feed that links directly to festival blog posts. It will feature content from https://medium.com/mozilla-festival/tagged/m

[2019-05-08 23:31] sabrinang opened #3120 "MozFest: People Card Format"
### Description
For Mozilla Festival 2019, it will feature people from staff, wranglers, volunteers etc.

**People Cards**
We'll use the current people cards powered by pulse. The bios for the festival can be lengthy so I was wondering if we can have a full width style for narrow view to balance out the copy and image? Another feature I'd like to consider is that if we can hide location subheading

[2019-05-08 23:47] sabrinang opened #3121 "MozFest: Ticket Widget"
### Description
For Mozilla Festival 2019, a main call to action for the site will be for ticket sales.

**Tickets Page**
We have previously embedded buttons from [ti.to's embeddable widgets](https://ti.to/docs/widget). We did not modify the lightbox it launches as I don't think it allowed for customization either? It looked something like this:
![image](https://user-images.githubusercontent.com/2

[2019-05-09 00:06] #2663 closed

[2019-05-09 06:43] natalieworth commented on #2890
Updated desktop and mobile: https://redpen.io/p/jx6c0e576743fd5de0
Need to refine the 4 'why join' icon illustrations.

[2019-05-09 14:48] beccaklam commented on #3086
Started a deck here: https://docs.google.com/presentation/d/1FX12yqJy4VVSwzujEB-CtJt6FVWPhB60yvd-MAOQZCw/edit?usp=sharing
Redpen here: https://redpen.io/p/gbd1513a10bf8e9a3b

[2019-05-09 15:17] #2967 closed

[2019-05-09 15:36] alanmoo opened #3122 "Page preview failures (500 error)"
**Describe the bug**
A general bug to capture the intermittent failures of page previews, since it's been hard to track them.

1. A draft of https://foundation.mozilla.org/cms/pages/388/edit/ on May 9, 2019 in which a donation modal was added seems to fail previews

[2019-05-09 18:15] alanmoo commented on #3120
This is probably possible, though perhaps not right for launch depending on what we need to prioritize. Any changes we make supporting wider cards would be applied across the entire "directory", not on a per-tab basis.

[2019-05-09 18:20] alanmoo commented on #3119
If we're going to with Pulse as the tracker for Medium stories, it's probably best to stick with the card component that we've used elsewhere, and then have conversations about how we might want to enhance that component in the future.

[2019-05-09 18:26] alanmoo commented on #3118
I envision this as a streamfield component, which would be useful across the site. Keep in mind that streamfield components are separate from the template, which defines how they get laid out on a page. So if you're looking for a 2 column page layout, that's a different topic.

[2019-05-09 19:31] beccaklam commented on #2995
# Usertesting.com Results (WIP)
We ran four tests, the user settings we selected were:
- Age: 25-55
- Employment: Full-Time
- Countries: UK, Canada, US, India
- Web Expertise: High (2), Any (2)
- Language: English

## Overall Winner
- **Users preferred the 'movement' copy vs our control copy**: This was mainly because the control message was too ambiguous, vague and open-ended, or in one case a us

[2019-05-09 20:16] Pomax commented on #3116
This might also include a video in the banner as "background" so we probably want to look at making sure the template supports `<video>` in addition to `<img>`

[2019-05-09 20:22] sabrinang commented on #3121
Note: a fallback can be a button with an external link to a tito page with all our ticket options

[2019-05-09 20:23] mmmavis commented on #3121
Example of a [tito ticket page](https://ti.to/Mozilla/mozfest-2017) from MozFest 2017.

[2019-05-09 20:32] sabrinang commented on #3120
Note: if production team has different role and bio format, we can use image + text components for that page instead of using people cart format

[2019-05-09 20:38] sabrinang commented on #3119
Note: We will be using the pulse feed component to feature blogs, the other option won't be ready

[2019-05-09 20:39] Pomax commented on #3118
this might not be shared, but just something that only lives on the homepage, which means we can probably just "do this in the template" rather than trying to make wagtail slip this into a streamfield

[2019-05-09 22:47] mmmavis opened #3123 "Allow Sign Up (`join.jsx`) component to render in 2-column layout"
Related to #2994

Allow `join.jsx` component to have the option to render in 2-column layout.

<img width="619" alt="image" src="https://user-images.githubusercontent.com/2896608/57491377-7f0dea00-7271-11e9-88c3-28a44303b819.png">

[2019-05-10 13:02] #3029 closed

[2019-05-10 13:50] alanmoo commented on #2917
I got confirmation from Will that we can attach the donation modals to the petition model, there's no concern about using the same petition in multiple places with different donation modals.

As part of this work, I'll first land a commit on production that allows me to manually re-link the donation modal used on a page directly to the petition itself (since there aren't that many, it's easiest to

[2019-05-10 16:51] xmatthewx commented on #2995
This is so awesome @beccaklam. Thanks for the excellent, succinct report on your findings.

 - Want to bring this to demos?
 - We should make mofo _"screams millennial to me"_ t-shirts 😆
 - Knowing that this is a very small sample size, we might proceed with the movement option, establish a baseline of stats, and then A/B test an improved alternative based on these insights. It could still prove t

[2019-05-10 18:14] kristinashu commented on #3117
This signup should add people to both `mozilla-foundation,mozilla-festival` lists (same as what is currently on https://foundation.mozilla.org/en/mozfest/).

[2019-05-10 18:21] kristinashu commented on #3120
So I think there actually isn't anything for devs to do here?

[2019-05-10 18:23] beccaklam opened #3127 "Blog MVP: Link text not being differentiated from body text"
**Describe the bug**
The new blog pages look great but Alan caught that link text are not showing up as being differentiated from the body text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://foundation.mofostaging.net/en/blog/blogs-are-live-staging/
2. Hover on 'Mozilla'
3. See error

**Expected behavior**
Mozilla is a link and should be Dark Blue from our style guide or #0d1

[2019-05-10 20:34] kristinashu commented on #2995
Awesome summary and test! Sooo interesting to see.

Here are a few possible next steps:
- [ ] run this test two more time to get a wider sample size, if results are similar then
- [ ] confirm copy with Anil
- [ ] update all our sketch files with new copu
- [ ] open an implementation ticket for devs to update the copy

I will open new tickets for:
- adding a cause statement to the homepage
- a more

[2019-05-10 21:48] kristinashu commented on #3086
Cards look good but I'm curious about how you see this being implemented? Is it a component that can be added to any page or is it built into a template? Maybe it's automatic for blog posts and campaigns but not for other pages? Where does the image, title, secondary text come from and how would it differ depending on the page type? Once you have the ideal user flow then it's probably worth chatti

[2019-05-13 15:12] alanmoo commented on #2786
Let's use this to have a conversation about our fake data generation in general. Is it still useful? What are we trying to do with it? Are we better served by another approach, like cloning the staging database to review apps, possibly having a directory of components pre-built for visual regression/functional testing?

[2019-05-13 15:12] beccaklam commented on #2995
I updated the report with the findings from the last two users. Results were starting to repeat so I think we're good on findings. Slacked Anil to confirm copy. Also! About the cup image -- millennials did prefer it/indifferent to it. We should talk more about audience types. Older, younger, internet savvy, not internet savvy.

[2019-05-13 18:23] sabrinang commented on #3117
Will the participation guidelines be an unique MozFest page or use same link as other footers https://www.mozilla.org/about/governance/policies/participation/ ?

[2019-05-13 18:42] sabrinang commented on #3119
<img width="874" alt="image" src="https://user-images.githubusercontent.com/2492510/57645855-0e6a1480-7574-11e9-98ce-44499b7ab8fd.png">
We are sticking with the pulse feed card component that pulls in medium blog posts from https://medium.com/mozilla-festival

[2019-05-13 18:50] sabrinang commented on #3120
Confirm with Zannah/Gideon that production team bios are using image + text component (we collect these) and for wrangler/volunteers etc. we are pulling in from pulse (they enter it themselves)

[2019-05-13 18:51] beccaklam commented on #3121
Alan commented more in depth on this issue in this ticket: https://github.com/MozillaFoundation/mozfest-website-2019/issues/8. Looks like the dev team needs to scope it out?

[2019-05-13 19:06] #3093 closed

[2019-05-13 19:23] mmmavis commented on #3121
Code example from last year if we decide to embed a tito button to launch the Tito lightbox:
https://github.com/mozilla/mozillafestival.org/blob/master/pages/tickets.jsx#L166-L169

[2019-05-13 20:21] kristinashu opened #3142 "Add more context to homepage"
Concerns that our homepage doesn't give new users enough context about who we are and why they should care has surfaced in two different ways recently.

#### From @beccaklam's users testing https://github.com/mozilla/foundation.mozilla.org/issues/2995#issuecomment-491035740:
- We should consider users who don't know our issues/Mozilla well and think about how to onboard them on our homepage if we

[2019-05-13 20:56] cadecairos opened #3143 "refactor wagtailpages/factory.py"
**Describe the bug**
Follow up for #1708 to further reduce the file complexity of the factory.py file in the wagtailpages app. We can turn it into a folder that contains smaller, more specific files for each of the things it's currently doing.

[2019-05-13 20:56] #1708 closed

[2019-05-13 20:58] #3123 closed

[2019-05-13 22:11] natalieworth commented on #3142
I found this example too a while ago that I liked: https://www.thebureauinvestigates.com/stories
<img width="1680" alt="Screen Shot 2019-05-13 at 3 10 35 PM" src="https://user-images.githubusercontent.com/14876567/57657804-6105f980-7591-11e9-9a27-ffe4e3a6a185.png">

[2019-05-13 22:44] sabrinang commented on #3117
![image](https://user-images.githubusercontent.com/2492510/57658979-8268e480-7595-11e9-89bd-8c842c62e039.png)
footer seen on redpen mockups here: https://redpen.io/p/nt88aa617b390e8eb0
- used sign up language from current [April version](https://foundation.mozilla.org/en/mozfest/)
- included icons for medium, twitter, youtube playlist, email

[2019-05-13 22:51] sabrinang commented on #3116
redpen mockup here: https://redpen.io/vuefbd37973f0c2a38
<img width="307" alt="image" src="https://user-images.githubusercontent.com/2492510/57659143-218ddc00-7596-11e9-98bc-705f61079dde.png">

**Navigation**
- logo is mozilla festival
- features one button on upper right nav

**Full Hero Banner**
- features heading, description and button
- video background under dark gradient overlay for contras

[2019-05-13 22:53] sabrinang commented on #3119
Redpen mockup of feed in context on landing page: https://redpen.io/vuefbd37973f0c2a38

[2019-05-13 23:07] sabrinang commented on #3118
![image](https://user-images.githubusercontent.com/2492510/57659865-c5788700-7598-11e9-8bc6-98d109eb6810.png)
social feed mockup in landing page on redpen here: https://redpen.io/vuefbd37973f0c2a38
- 2 column since it is only on the homepage
- can the text left of it be editable?
- how does the embed look like? I'm not sure if my screenshot is accurate in the mockup and if it needs any additional

[2019-05-13 23:14] natalieworth commented on #2890
Most recent Join pages for mobile/ desktop are in here for reference: https://redpen.io/p/wp17e9f94b044da4a0

[2019-05-13 23:29] kristinashu commented on #2896
@natalieworth @beccaklam I've copied everything over https://foundation.mozilla.org/en/campaigns/safety-first/. Let me know if you have any other ideas of feedback and if not then can one of you give it an R+?

Then I'll run it past Brett and then get a dev to setup the redirect.

[2019-05-14 00:29] natalieworth opened #3145 "Create a 'Join Us' landing page on the foundation site"
We will be creating a 'Join Us' landing page with a 'sign up' button that will link to the Pulse sign-up for new users/ fellows/ potential fellows.
https://redpen.io/zgec7048af617e6e44

Image assets are in here:
[Join Us Image Assets.zip](https://github.com/mozilla/foundation.mozilla.org/files/3175334/Join.Us.Image.Assets.zip)

cc @mmmavis @youriwims Do you need the header exported or are you able

[2019-05-14 00:31] natalieworth commented on #3145
Going to block this until I have final design feedback on images/ design from design team.

[2019-05-14 00:35] natalieworth commented on #2890
Created dev tic for this here https://github.com/mozilla/foundation.mozilla.org/issues/3145
[Redpen doc is updated here ](https://redpen.io/zgec7048af617e6e44)

[2019-05-14 00:36] mmmavis commented on #3145
Hey @natalieworth once design is final do you mind updating the ticket description to follow the "design to dev" handoff template? You can copy the template here: https://github.com/mozilla/foundation.mozilla.org/issues/new?assignees=&labels=&template=design-to-dev-handoff.md&title= 👍 👍 👍 Thank you!

[2019-05-14 00:39] mmmavis commented on #3145
If it's an image being used live we can pull it. Just show us an example on prod then we should be able to reuse the image.

[2019-05-14 01:04] natalieworth commented on #2896
R+ ! Yeah! Cool to have it on the Foundation site now!

[2019-05-14 01:07] natalieworth opened #3147 "Create a 'Join Us' landing page on the mozilla foundation site"
We will be creating a 'Join Us' landing page with a 'sign up' button that will link to the Pulse sign-up for new users/ fellows/ potential fellows.
https://redpen.io/zgec7048af617e6e44

Image assets are in here:
[Join Us Image Assets.zip](https://github.com/mozilla/foundation.mozilla.org/files/3175402/Join.Us.Image.Assets.zip)

cc @mmmavis @youriwims I'll find the header example to pull. Everythin

[2019-05-14 01:08] natalieworth commented on #3145
Closing this one @mmmavis and opened one with the hand off template :)

[2019-05-14 01:08] #3145 closed

[2019-05-14 02:45] mmmavis commented on #3145
Thank you! @natalieworth

[2019-05-14 13:10] alanmoo commented on #3121
@beccaklam that was before we had the kickoff meeting planned. Sabrina’s most recent comment reflects that call.

[2019-05-14 14:43] beccaklam commented on #2896
R+! Thanks for doing this @kristinashu !

[2019-05-14 16:21] xmatthewx commented on #2896
I wonder: is there a permanent path to a page like this? From IH page, privacy section?

[2019-05-14 16:46] alanmoo opened #3148 "Document A/B testing functionality"
We've got Wagtail experiments enabled. Let's document how that works in https://foundation.mozilla.org/en/docs/how-do-i-wagtail/

[2019-05-14 17:07] xmatthewx opened #3149 "Prep post and form for Fundraising MisInfo Campaign"
We're launching a fundraising campaign around misinfo soon. It requires a couple of things:

 - [x] Blog post by @caltrider with dataviz by @beccaklam https://github.com/MozillaFoundation/Design/issues/361
 - [ ] Google form by @caltrider and @beccaklam to gather questions from audience
 - [ ] NIce to have: a page to embed the google form (tested by @alanmoo & @beccaklam)
    - Could be placed as

[2019-05-14 17:48] kristinashu opened #3150 "Wrong font style is used at the bottom of /participate"
Time commitments at the bottom of the /participate looks like `p` styling but it should look like `h6-heading` like commitment text on the rest of the page.

Production:
<img width="1199" alt="Screen Shot 2019-05-14 at 10 44 56 AM" src="https://user-images.githubusercontent.com/1068783/57719860-792f5480-7635-11e9-9c01-95bc7b397e71.png">

Comp:
<img width="1184" alt="Screen Shot 2019-05-14 at 10 45

[2019-05-14 17:59] kristinashu opened #3151 "Update border-bottom color on cards"
Designers have established rules for our lines and have decided black is too heavy of a color for our card dividers (shadow) so the border-bottom should be gray `Gray 20 ($gray-20) #cccccc` instead.

Affected pages are:
- [ ] Home: `News` feature
- [ ] Home: `Happening now` feature
- [ ] Initiatives: `Featured Programs and Projects` cards
- [ ] Participate: `The Internet starts with us` cards

**🗒

[2019-05-14 18:09] kristinashu commented on #3077
@beccaklam is this good to close?

[2019-05-14 18:38] kristinashu commented on #3119
I'm going to close this ticket since we will be using the Pulse component therefore there is no dev work to be done here.

There is however the question about if we should be posting to Medium or our own blog on fo'mo. Since that is more of a content question with Zannah, @gideonthomas can you please open a ticket in your repo for that https://github.com/MozillaFoundation/mozfest-website-2019/issu

[2019-05-14 18:38] #3119 closed

[2019-05-14 18:49] beccaklam commented on #3149
Yep, I can do this. This launches on this Thursday, right? @xmatthewx

[2019-05-14 19:02] caltrider commented on #3149
Hey @beccaklam, blog post we've already talked about is for this week. We'll pretty much all good to go there once you have the data viz done.  The other stuff is actually for the next email set to go next Wednesday, not the one that launches this week on Thursday. @xmatthewx , I know Rebecca heads out on vacation for a couple weeks after tomorrow so we might need to find someone else to help with

[2019-05-14 19:20] kristinashu commented on #2896
Or maybe a card on /participate and /advocacy (feels a little out of place for IH page since we don't really link to anything else)?

[2019-05-14 19:27] alanmoo commented on #2896
Submit it to Pulse, tag it with `mozilla, campaign, advocacy` and it should pop up on https://foundation.mozilla.org/advocacy

[2019-05-14 19:53] mmmavis opened #3153 "Remove invalid HTML attribute from a link"
Remove the invalid attribute `c` from this line https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templates/partials/footer.html#L10. This is most likely a typo that we forgot to remove.

<img width="663" alt="image" src="https://user-images.githubusercontent.com/2896608/57727702-08913380-7647-11e9-96f6-66f0b44aa8f2.png">

[2019-05-14 19:59] #3127 closed

[2019-05-14 20:09] #3153 closed

[2019-05-14 20:24] kristinashu opened #3156 "Add field to upload OG image to Blog page"
Promote tab for blog should have a place to add an OG image (like our other CMS pages).

Screen cap of blog promote tab: missing image field
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/1068783/57729400-edc0be00-764a-11e9-82ba-305ce99a9158.png">

Screen cap from another cms page: with image field
<img width="1245" alt="Screen Shot 2019-05-14 at 1 17 13 PM" src="http

[2019-05-14 20:27] #3115 closed

[2019-05-14 20:27] #3150 closed

[2019-05-14 20:44] kristinashu opened #3157 "Blog: add share buttons"
Build on the Blog MVP work to fully flesh out capabilities.

- [x] Design has been finalized
- [x] Link to original design ticket: #2911 (original design ticket)
- [x] Link to related ticket: #3029 (MVP ticket) & #3086 3030 (post MVP ticket)
- [x] Link to Redpen: https://redpen.io/p/bha12cf7387de4f7e7
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and mobile mockups are

[2019-05-14 20:45] alanmoo commented on #3148
https://foundation.mozilla.org/en/docs/how-do-i-wagtail/b-testing/

[2019-05-14 20:45] #3148 closed

[2019-05-14 21:30] beccaklam commented on #3086
So I agree that it should built into the template for blogs and campaigns. The image and header will be drawn from the page's first image and title (or just from its OG tag information if a page has one?). I'm not sure if we need a secondary heading anymore ... unless we want to surface author or date, but I don't know how important that is on our site. Scheduling a meeting with Alan tomorrow! @kr

[2019-05-14 21:34] mmmavis commented on #3156
@Pomax I think it's this part in `class BlogPage(FoundationMetadataPageMixin, Page)` in `models.py` that's causing the issue here.

[code]

It seems like [`Page.promote_panels`](https://github.com/wagtail/wagtail/blob/4891db0d89d99529b222a97ccb00e10a51e51230/wagtail/admin/edit_handlers.py#L784-L791)  doesn't include the `search_image` field. I can't figure out why all other page types have `search

[2019-05-14 21:38] beccaklam commented on #3077
Yeah!

[2019-05-14 21:38] #3077 closed

[2019-05-14 21:48] sabrinang commented on #3116
https://github.com/MozillaFoundation/mozfest-website-2019/issues/1#issuecomment-492421308
- another area of editable text would be after pulse feed (Zannah wants to keep Mark's note from current April version)

[2019-05-14 22:28] mmmavis commented on #3157
Do we plan to turn these buttons into two new "button group" styles or these are more one-off things?

[2019-05-14 22:45] kristinashu commented on #3157
We're exploring that question more here https://github.com/MozillaFoundation/Design/issues/339 but I can see use using these buttons elsewhere (for example on our campaign pages).

[2019-05-14 22:50] gideonthomas commented on #3121
@alanmoo I think we should scrap this and prioritize other enhancements to the MozFest site. Making a decision now would help design move forward.

[2019-05-14 23:22] #3151 closed

[2019-05-15 00:47] natalieworth commented on #3147
Final design is here (and updated in the Sketch file):
https://redpen.io/p/wp17e9f94b044da4a0

<img width="1242" alt="Screen Shot 2019-05-14 at 5 47 25 PM" src="https://user-images.githubusercontent.com/14876567/57741176-5b331580-7670-11e9-9ed2-a4d48fbfdd38.png">

`<hr>`

[2019-05-15 17:40] Pomax opened #3160 "Implement new mozfest app"
Implement a new mozfest app with a homepage and "other" page model, with associated templates.

Closes: https://github.com/mozilla/foundation.mozilla.org/issues/3170
Related: https://github.com/MozillaFoundation/mozfest-website-2019/issues/1 (includes comps)

[2019-05-15 18:06] gideonthomas commented on #3121
Actually, let's keep this ticket since it's a preferable option for the OLE team. However, we need an acceptable version for June. Chatting in Slack and will update here

[2019-05-15 19:36] beccaklam commented on #3149
Oh I see, in that case I can't do this since I'll be on vacation like Jen said. Sorry @xmatthewx ! Talked to Kristina and she said she can cover it. Thanks @kristinashu !

[2019-05-15 19:51] xmatthewx commented on #3149
Link to form will go out in email on May 22nd. So, form should be ready before. Maybe Monday the 20th?

[2019-05-15 20:07] xmatthewx commented on #3149
@caltrider - when you create your form, you can grab one of these theme headers: https://drive.google.com/drive/folders/10Qs8u-55IH5Ih89igzNBG0yFysxrpqzb

[2019-05-15 20:25] kristinashu commented on #3149
Or the full form template here https://foundation.mozilla.org/en/docs/brand/design/templates/

[2019-05-15 21:17] beccaklam opened #3161 "Update email sign up copy"
Related ticket: #2995

After conducting some testing on usertesting.com (see related ticket) we've decided to update the email sign up button text to:

### Header
- [ ] Update button text: `Join us`
- [ ] Update body text:
`Protect the internet as a global public resource.`
`Join our email list to take action and stay updated!`

### Footer
- [ ] Update body text:
`Protect the internet as a global

[2019-05-15 21:24] beccaklam commented on #2995
Anil confirmed copy (sticking with what we tested). Implementation ticket opened here: #3161

[2019-05-15 21:24] #2995 closed

[2019-05-15 21:42] beccaklam opened #3162 "Create Related Content Cards"
Related ticket: #3086

We want to create dynamic related content cards that will be built into the template of blog and campaign pages. Eventually, this functionality may be incorporated onto other templates on the foundation site.

The related content cards will be added by a user defining the tags they want to pull from and related cards themselves will pull image and heading information from OG

[2019-05-15 21:43] beccaklam commented on #3086
Opened implementation ticket here: #3162

[2019-05-15 21:43] #3086 closed

[2019-05-15 22:02] mmmavis commented on #3157
kk I'll treat them as custom style for now until we've decided to move them to the official style guide.

@kristinashu how should each button function? I assume similar to what we have on PNI?

<img width="944" alt="image" src="https://user-images.githubusercontent.com/2896608/57812594-5a5abc00-7722-11e9-9e03-d7678088f767.png">

If so do we have default text to share out?

[2019-05-15 22:06] kristinashu commented on #3157
Yes same functionality please. Copy can just be:

[2019-05-15 22:58] kristinashu commented on #3147
From what I understand @natalieworth can just make this page in the cms. Nat, let me know if you need help doing that.

@xmatthewx what should the url be?

[2019-05-15 23:02] kristinashu commented on #3147
P.S. Based on Rebecca's user testing we're update the `Newsletter` signup button to `Join us` so that might be confusing (but we also hope to test out `Subscribe`) https://github.com/mozilla/foundation.mozilla.org/issues/3161?

[2019-05-15 23:55] natalieworth commented on #2890
Added a join us page[ draft in CMS](https://foundation.mozilla.org/cms/pages/395/edit/)

We moved the 'Sign up' button further up the page (since it can't be center aligned at the bottom and it looked odd left aligned).

![Screenshot_2019-05-15 Join Us](https://user-images.githubusercontent.com/14876567/57816945-18d20d00-7732-11e9-9616-e54c71f91151.png)

[2019-05-16 00:40] kristinashu opened #3163 "Investigate adding .body-large style to Paragraph component"
Can we add [.body-large](https://foundation.mozilla.org/en/style-guide/) as an option to the Paragraph component? It would be quite useful sometimes.

cc @mmmavis @Pomax

[2019-05-16 15:58] Pomax commented on #3156
Metadata fields in the "promote" tab are supplied by both the `Page` and `MetadataPageMixin`, so rather than use this code, which fully overwrites `promot_panels`, it's probably better to say:
[code]
Or, create an extension on the FoudationMetadataMixin and inherit from that:
[code]

[2019-05-16 16:40] kristinashu commented on #3147
@xmatthewx says we should go with /joinus so @alanmoo can you please create a `Primary` page template at http://foundation.mozilla.org/en/join-us? And then @natalieworth can add the content!

[2019-05-16 17:02] alanmoo commented on #3147
https://foundation.mozilla.org/cms/pages/396/edit/

[2019-05-16 17:16] kristinashu opened #3165 "Blog: design landing page for /blog or /[tag]"
Benchmark and mockup:
- /blog landing page
- tag landing page

[2019-05-16 17:17] kristinashu commented on #3030
Turned these into individual tickets so closing this one.

[2019-05-16 17:17] #3030 closed

[2019-05-16 17:28] mmmavis commented on #3117
@sabrinang can you link us to the social icon files? 👀

[2019-05-16 17:57] Pomax opened #3166 "clean up primary_heroguts.html a little"
we did some cleanup in the mozfest app to yield:
[code]
rather than a huge block of HTML, with the includes in their own nice-and-terse files. That's worth doing for the foundation site itself, too

[2019-05-16 17:58] Pomax commented on #3160
Tasks left to do:
- [ ] clean up the footer (does it need a refinement to `<JoinUs>` based on being on the mozfest site?)
- [ ] clean up the nav (make the links includable fragments to DRY out that part of the template)
- [ ] add SCSS for narrow content on all pages, while making the homepage the only page with wide content.
- [ ] make sure GA kicks in for mozfest rather than for the foundation si

[2019-05-16 19:44] mmmavis commented on #3160
Re-opening to track leftover todos.

[2019-05-16 22:09] sabrinang commented on #3117
@mmmavis svgs exported here: https://drive.google.com/open?id=1sc9am1e190ICxW2MbcWgvVoB95gtrXDy

[2019-05-16 22:46] Pomax opened #3170 "Make the mozfest pages use the mozfest newsletter signup in their footer"
part of https://github.com/mozilla/foundation.mozilla.org/issues/3160

[2019-05-16 22:50] Pomax commented on #3160
Solved the footer by making them always pull the signup details from the `Mozfest` signup snippet.

[2019-05-16 23:24] mmmavis opened #3172 "MozFest: homepage banner"
Since the design for MozFest homepage banner section is new, I'll need the following before I can go ahead and fix what's currently on staging 🔨

- mobile mockup (and tablet mockup, if possible)
- default banner image

/cc @sabrinang

[2019-05-17 01:24] kristinashu commented on #3172
1) First I tried keeping the aspect ratio the same for all screen sizes and that doesn't work for tablet or mobile...
<img width="970" alt="image" src="https://user-images.githubusercontent.com/1068783/57896717-f2ca6c80-7806-11e9-8ac0-527a39749d70.png">

2) Then I tried keeping the same height which works well for tablet and kinda works for mobile...
<img width="969" alt="image" src="https://user-

[2019-05-17 01:30] kristinashu commented on #3172
@sabrinang can you give me upload access to https://redpen.io/p/nt88aa617b390e8eb0? Then I'll add the comps there too.

[2019-05-17 14:37] alanmoo commented on #3162
Blog pages already have a field for tags to be attached to them. We'll be adding that to more templates soon. The way I see this working is the "related content" component can be embedded on any page, and it will look at the tags on the current page, finding other recent pages that have one of those tags.

I'm thinking something like this:

1. Page has tags `foo`,`bar`,`baz`
2. Find a the most rec

[2019-05-17 14:39] alanmoo opened #3173 "Add tagging to more page types"
Right now, Blog pages support tags. Let's add that functionality to Campaign, BanneredCampaign, and Opportunity pages as well.

This furthers the work to be done in #3362

[2019-05-17 15:45] kristinashu commented on #3172
Oh nvm, I think I found a banner height that will work at all screen widths:

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/1068783/57939815-f817cd80-787f-11e9-8593-4366b3e32a15.png">

I also looked at the old site and it seems like the overlay is done in css over top of the video https://mozillafestival-org-production.herokuapp.com/. Do we want to do keep doing that

[2019-05-17 15:59] xmatthewx opened #3174 "Add logo for search results"
Currently, a search for mozilla foundation yields the awesome but extinct dinosaur.

Seems like we can update this via meta info on our site. Info here: https://developers.google.com/search/docs/data-types/logo

cc @kristinashu @alanmoo

<img width="505" alt="image" src="https://user-images.githubusercontent.com/53411/57940677-00c9cd00-789b-11e9-8346-b60cbce4edf4.png">

[2019-05-17 16:10] kristinashu commented on #3106
Sounds like @stephaniemcv is getting close to setting this up on her endhttps://github.com/MozillaFoundation/Design/issues/348#issuecomment-493304220, @alanmoo would you be able to add these fields?

[2019-05-17 16:13] xmatthewx opened #3175 "SEO Improvements to Title & Descriptions"
There's some low hanging fruit to improve our SEO. I believe this will improve click thru to our homepage, rank of primary pages, and "site links" when we are a featured result.

 - root
   - [ ] change title tag from "... - Homepage" to "... - Protect the internet!"
 - descriptions tags
   - [ ] prep unique descriptions for key pages (home, about, initiatives...).
   - [ ] make fallback descripti

[2019-05-17 16:15] kristinashu commented on #3106
Oh and can you also add the ability to have a Bannered Campaign Page under /fellowships?

[2019-05-17 16:24] xmatthewx commented on #1088
Our site is pretty well crawled. Google knows about 358 pages. A few thoughts:

 - As @alanmoo noted when he opened this issue, a sitemap might help with staff pages that aren't promoted well, particularly getting them known and accessible by search more quickly.
 - I've been reading up on "site links" (other pages suggested be google  - see image below). I wonder if a sitemap can help google's op

[2019-05-17 17:58] mmmavis commented on #3172
Can we leave the gradient overlay as P2 for now. It's trickier to implement that here than on the old MozFest site.

[2019-05-17 18:41] kristinashu opened #3177 "Add Bannered Campaign Page to /fellowships"
Add the ability to have a Bannered Campaign Page under /fellowships

[2019-05-17 18:47] alanmoo commented on #3175
All of these things are achievable in the CMS- just change the Title field on the homepage, and promote fields on the other pages.

[2019-05-17 18:58] alanmoo commented on #3174
Labeling this Good First Issue because it's not blocking anything else and if anyone feels like figuring it out, a PR would be welcome. @kristinashu is this a good image?

![](https://assets.mofoprod.net/network/images/mozilla-og-image-min.original.jpg)

[2019-05-17 19:10] xmatthewx commented on #3175
Yep. Most of the work is in writing the copy. Might want to change fallback description, but that's TBD.

[2019-05-17 19:22] kristinashu commented on #3174
Yup!

[2019-05-17 20:10] kristinashu commented on #3172
@sabrinang @mmmavis can we start with this image and then update it with the video or a different image with the same dimensions later?
![homepage-banner@2x](https://user-images.githubusercontent.com/1068783/57953457-f4e30880-78a4-11e9-9623-2f7a5a8c2b1e.jpg)

[2019-05-17 20:12] sabrinang commented on #3172
Yup 👍 I was thinking that could be placeholder before we have video ready

[2019-05-17 20:17] mmmavis commented on #3172
@kristinashu yea that works! Let me know the height specs for each breakpoint then I should be able to get this implementation ticket going!

[2019-05-17 20:20] kristinashu opened #3178 "MozFest: homepage hero banner"
Styling for the mozfest landing page banner.

**🗒  Design -> Dev Handoff Checklist**

- [x] Design has been finalized
- [x] Link to original design ticket https://github.com/mozilla/foundation.mozilla.org/issues/3172
- [x] Link to Redpen https://redpen.io/p/nt88aa617b390e8eb0
- [x] Design changes been merged into the master Sketch file
- [x] Desktop and mobile mockups are included
- [x] Assets are

[2019-05-17 20:21] kristinashu commented on #3172
Opened a new ticket for implementation, let me know if you need anything else https://github.com/mozilla/foundation.mozilla.org/issues/3178!

[2019-05-17 20:21] #3172 closed

[2019-05-17 20:34] mmmavis commented on #3163
The Paragraph component auto wraps any non-block level elements in `<p>`. e.g., (bold text, anchor, etc). So adding a new ["feature" (option)](http://docs.wagtail.io/en/v2.0/advanced_topics/customisation/page_editing_interface.html#limiting-features-in-a-rich-text-field) for `.body-large` text to the list below doesn't seem to be a good way to achieve what we want.
<img width="856" alt="image" src

[2019-05-17 20:43] mmmavis commented on #3172
Thanks!

[2019-05-17 21:47] mmmavis opened #3179 "MozFest: Color palette"
@sabrinang anything color variables we should add to the style guide?

[2019-05-21 15:16] #3177 closed

[2019-05-21 16:16] #3112 closed

[2019-05-21 17:59] sabrinang commented on #3179
@mmmavis Yes:
![](https://assets.mofoprod.net/network/images/Screen_Shot_2019-04-09_at_5.03.02_PM.original.png)
As seen on https://foundation.mozilla.org/en/docs/brand/design/color/

[2019-05-21 18:17] Pomax opened #3190 "clean up mozfest nav"
See https://github.com/mozilla/foundation.mozilla.org/issues/3160

Make sure there's only one set of links to edit for the mozfest nav, and make sure they have the correct spelling and targets.

[2019-05-21 18:24] mmmavis commented on #3178
@kristinashu sorry for being back and forth about this - I happened to get the gradient overlay working in CSS 😂 Can you attach the untreated banner image so I can use it as default image?

[2019-05-21 18:28] #3170 closed

[2019-05-21 18:39] kristinashu commented on #3178
Ooooh yes here you go! I might need to adjust the saturation tho once we see it with the CSS gradient.

![no-gradient@2x](https://user-images.githubusercontent.com/1068783/58121701-dc346480-7bbc-11e9-9869-88e4db61f184.jpg)

cc @sabrinang

[2019-05-21 18:40] natalieworth commented on #3147
Created join us page at Alan's link above https://foundation.mozilla.org/cms/pages/396/edit/
cc @kristinashu @xmatthewx @alanmoo

[2019-05-21 18:59] kristinashu commented on #3147
w00t w00t @natalieworth! I think you just need to:
- check the "Narrowed page content" box under Settings tab.
<img width="800" alt="image" src="https://user-images.githubusercontent.com/1068783/58122967-9cbb4780-7bbf-11e9-8d94-aed39ebb1b3c.png">

- delete the test page under Initiatives
- and then I think you can publish it

cc @xmatthewx

[2019-05-21 19:02] #3190 closed

[2019-05-21 20:40] kristinashu commented on #3142
I've added a bunch of benchmarks to redpen for discussion https://redpen.io/p/fm1aa86db66594fc47

[2019-05-21 20:45] gideonthomas opened #3193 "MozFest: Mobile view sub nav"
**Describe the bug**
- Sub nav disappears in mobile

**To Reproduce**
Page: https://mozillafestival.mofoprod.net/en/spaces/

**Expected behavior**
Sub nav should show up in a similar way as the foundation.mozilla.org/en/about/ page

**Screenshots**
<img width="785" alt="Screen Shot 2019-05-21 at 4 13 11 PM" src="https://user-images.githubusercontent.com/5816130/58127473-74454480-7be3-11e9-8e8b-78a

[2019-05-21 21:05] Pomax commented on #3193
As two different issues, can we split this so that we can write one PR for one issue?

[2019-05-21 21:17] gideonthomas opened #3195 "MozFest: Mobile view primary CTA not vertically aligned"
**Describe the bug**
- Submit proposal button isn't center aligned

**To Reproduce**
Page: https://mozillafestival.mofoprod.net/en/spaces/ in mobile view

**Screenshots**
<img width="785" alt="Screen Shot 2019-05-21 at 4 13 11 PM" src="https://user-images.githubusercontent.com/5816130/58127473-74454480-7be3-11e9-8e8b-78a0c8cef397.png">

**Smartphone (please complete the following information):**

[2019-05-21 21:41] Pomax opened #3197 "Update the nav menu logo"
This is currently the mozilla logo, but should be the mozfest-enriched logo

[2019-05-21 21:52] Pomax opened #3199 "Set up narrow content except for homepage"
borrow from https://foundation.mozilla.org/en/internet-health/

[2019-05-21 21:57] sabrinang commented on #3179
add $dark-festival-blue `#0e11bf`

[2019-05-21 22:06] gideonthomas opened #3200 "MozFest: Body font is incorrect"
**Describe the bug**
The body font on all the pages seems to be Zilla Slab.

**To Reproduce**
Check out the font used for all non-heading text in https://mozillafestival.mofoprod.net/en/.

**Expected behavior**
I believe the body text should be Nunito Sans.

**Screenshots**
Checkout the comps like https://redpen.io/vuefbd37973f0c2a38

[2019-05-21 22:14] #3200 closed

[2019-05-21 22:14] gideonthomas commented on #3200
Sorry, looks like it's working

[2019-05-21 22:15] kristinashu commented on #3197
Logo is here https://drive.google.com/open?id=1ULmzIGifSWxyZWInIeuQpdI-_Q0t7odd

cc @sabrinang

[2019-05-21 22:27] kristinashu opened #3201 "Sub nav at medium widths"
Sub nav gets a little odd a medium widths (example https://mozillafestival.mofoprod.net/en/spaces/).

Screen cap from prod:
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/1068783/58134730-8e2f5900-7bdc-11e9-9993-b077b3f23f4e.png">

@mmmavis is it feasible to make the nav go onto a new line, something like this?
<img width="867" alt="image" src="https://user-images.git

[2019-05-21 23:04] #3193 closed

[2019-05-21 23:15] Pomax opened #3203 "Add the mozfest-specific GA identifier"
Our `analytics.js` currently has a hardcoded UA for the foundation site, which will have to be made a little more modular if we want to support multiple "sites" that all use the same main.js functionality

[2019-05-21 23:22] Pomax commented on #3203
@alanmoo @cadecairos do we want to introduce a new environment variable here, to be read in during build, or are we cool with simply hardcoding another UA key in main.js and simply looking at whether the content templates say "this is mozfest" vs. not saying anything about which site is being rendered at all?

[2019-05-21 23:23] Pomax commented on #3203
("wait, hardcoded?" why yes: https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/analytics.js#L22)

[2019-05-21 23:44] kristinashu opened #3204 "Image Text component on mozfest homepage"
Homepage for mozfest site looked like [this](https://redpen.io/vuefbd37973f0c2a38) because it was based on the main site homepage:
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/1068783/58137051-727c8080-7be5-11e9-8988-b2b42bb9ac2a.png">

But because we decided use the Image Text streamfield component instead the design is a little off (this component was designed for

[2019-05-21 23:52] #3197 closed

[2019-05-22 00:43] mmmavis commented on #3201
I would say no and deprioritize this 😬.

We could simply make the sub nav auto wrap like
![Screen Shot 2019-05-21 at 17 28 24](https://user-images.githubusercontent.com/2896608/58139131-487b8c00-7bee-11e9-963c-892b5a43ec9a.png)

But to achieve the following design it will be a huge lift
1. each "line" comes with a bottom grey border (we have rewrite the HTML/DOM implementation of the sub nav quite

[2019-05-22 01:20] kristinashu commented on #3201
Okay okay thank you Mavis! I'll close this and reopen it if it becomes worse...

[2019-05-22 01:22] kristinashu commented on #3116
I think everything here is either done or represented in a different ticket so I'm going to close!

[2019-05-22 01:22] #3116 closed

[2019-05-22 01:23] mmmavis opened #3206 "MozFest: Logo and Site Nav"
TL;DR - Do we want the height of the primary nav section to be the same as what's on the main foundation site?

---

I followed the specs in Sketch file to set the dimension of the MozFest logo used in nav (99px * 37px).  Currently we make the primary nav on MozFest site to follow what's on the main Foundation site style (e.g., spacing etc). Since the dimensions of the two logos are different, thi

[2019-05-22 01:44] kristinashu opened #3207 "MozFest: subpage banner styling"
@mmmavis can you please make the banner on all the mozfest sub pages look and resize the same as on the main sites Primary pages?

Desktop screen cap from main site:
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/1068783/58141196-626d9c80-7bf7-11e9-92fa-b05a481bbab9.png">

Desktop screen cap from mozfest: looks good except the font style is different
<img width="1431"

[2019-05-22 13:37] alanmoo commented on #3204
I either don't understand the question or I have no opinions about it. But I'm not sure which. Let's mention this in stand?

[2019-05-22 13:57] alanmoo commented on #3203
Env var doesn't feel right, since it's only one build/environment. I think the UA key needs to be embedded in the base template used for the domain, maybe as a new block. If that means GA init code needs to be pulled into the template, so be it?

[2019-05-22 14:53] Pomax commented on #3203
I can certainly make it a `meta` value in the mozfest base template so that `main.js` can look for it, and if it sees one, use that instead of the foundation identifier to initialize react-ga

[2019-05-22 15:41] #3199 closed

[2019-05-22 15:44] Pomax commented on #3207
I'm pretty sure that visual discrepancy for the "about" page is because the banner graphic isn't higher than the desktop size, so the white space is caused by us not stretching out the banner image. We should be able to test this with a larger banner (that is to say, move vertical content).

[2019-05-22 15:45] #3195 closed

[2019-05-22 16:29] mmmavis commented on #3207
I can take a look after the homepage banner PR gets merged.

[2019-05-22 16:50] #3178 closed

[2019-05-22 16:54] kristinashu commented on #3207
Ah right @Pomax, I uploaded this banner with the correct dimensions and it crops much better now but the white cut out and the font still isn't exactly the same so yes, @mmmavis please take a look!

https://mozillafestival.mofoprod.net/en/about/

![sub-page-banner](https://user-images.githubusercontent.com/1068783/58193066-09dde400-7c77-11e9-87e5-e888e2d0ec67.jpg)

[2019-05-22 17:31] kristinashu commented on #3117
@sabrinang @gideonthomas will find out which icons and links to include later today.

[2019-05-22 17:41] kristinashu commented on #3121
@gideonthomas to confirm that we can link out to the individual tickets, if that's the case then there is no dev work to be done here.

[2019-05-22 18:00] #3149 closed

[2019-05-22 18:13] kristinashu commented on #3206
The idea is that the height of the nav is the same as on the foundation site. And it looks like the mozfest logo is the same width as the mozilla logo, but is taller. Is that ok to implement?

[2019-05-22 18:15] kristinashu commented on #3118
@alanmoo can you please provide some guidance on implementing this?

[2019-05-22 18:19] Pomax commented on #3117
Turns out it's too easy to delete something off of a google drive, and that "undo delete" can crash gsuite. @sabrinang can you add the youtube icon to gdrive again? Also, the site CSS expects a different file for "hover" so if we have the same icons but coloured appropriately for hover state, I can drop those into the glyph directory as well and things should "just work(tm)".

[2019-05-22 18:30] Pomax opened #3210 "make optimize scripts work cross platform"
the npm scripts for optimizing images use `find`, `xargs`, etc instead of using normal node packages that make stuff work cross-platform. There is no reason for this unix-and-then-specifically-bash-shell syntax when we're working with a cross-platform scripting language with a rich tooling ecosystem.

[2019-05-22 19:09] kristinashu opened #3211 "MozFest: remove About page from main nav"
Zannah no longer wants to have an about page.

[2019-05-22 19:25] sabrinang commented on #3117
@Pomax I updated the gdrive folder with hover icons (light blue) too: https://drive.google.com/open?id=1sc9am1e190ICxW2MbcWgvVoB95gtrXDy

They can be the same icon size as what is live (16px)

Twitter - https://twitter.com/mozillafestival
Medium - https://medium.com/mozilla-festival

To be confirmed:
Youtube - TBD link
Mail - TBD link

[2019-05-22 19:31] mmmavis commented on #3206
Their sizes are actually different (on prod and on Sketch as well).
<img width="210" alt="Screen Shot 2019-05-22 at 12 29 09 PM" src="https://user-images.githubusercontent.com/2896608/58202752-38ff5000-7c8d-11e9-93fe-ad29b1dbc94b.png">
<img width="223" alt="Screen Shot 2019-05-22 at 12 29 01 PM" src="https://user-images.githubusercontent.com/2896608/58202756-3a307d00-7c8d-11e9-96aa-9ebf3fa7ddf0.pn

[2019-05-22 19:35] sabrinang commented on #3206
Yes, I tried to match the existing width on Sketch (which I didn't know is diff from prod) so please match the 97px width similar to mozilla logo on prod.

[2019-05-22 19:43] sabrinang commented on #3117
For the footer links, we got additional info from @zee-moz:

- for Participation Guidelines, link to a new CMS page
- add an additional link, Media Center, below Participation Guidelines that also link to another new CMS page

<img width="826" alt="Screen Shot 2019-05-22 at 12 42 09 PM" src="https://user-images.githubusercontent.com/2492510/58203537-29810680-7c8f-11e9-8b85-233313cb81c0.png">

[2019-05-22 19:45] Pomax opened #3212 "secondary nav links get target="_blank" for no good reason"
[code]
As main.js functionality, this also affects the mozfest site.

[2019-05-22 19:47] Pomax commented on #3117
what will the URLs for those two pages be?

[2019-05-22 21:33] #3211 closed

[2019-05-22 21:34] sabrinang commented on #3117
The previous URLs were http://mozillafestival.org/guidelines and http://mozillafestival.org/media, so I assume we are going with /guidelines /media @gideonthomas can you confirm?

[2019-05-22 21:43] #3212 closed

[2019-05-22 22:07] Pomax commented on #3117
I've filed the PR with `#tobedetermined`, so it should be easy to update.

[2019-05-22 23:14] kristinashu commented on #3121
@mmmavis confirmed we can link directly to a ticket so closing this!

[2019-05-22 23:14] #3121 closed

[2019-05-22 23:38] kristinashu opened #3216 "MozFest: pre-footer homepage styling"
- [ ] Add black divider line
- [ ] Add padding below Location text
- [ ] Update location text to body-large
- [ ] Mobile: Location copy should go wide width and stack on top of the twitter feed

### Prod:
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/1068783/58215623-9e643880-7caf-11e9-905e-7d6486df5cc1.png">

### Comp: https://redpen.io/vuefbd37973f0c2a38
<img width

[2019-05-22 23:51] kristinashu commented on #3201
@mmmavis @sabrinang I think roughly this spacing would work:

<img width="868" alt="image" src="https://user-images.githubusercontent.com/1068783/58216090-bccb3380-7cb1-11e9-94f0-f70b72488054.png">

[2019-05-23 00:09] kristinashu commented on #3118
On slack @alanmoo said:

<a class="twitter-timeline" href="https://twitter.com/mozillafestival?ref_src=twsrc%5Etfw">Tweets by mozillafestival</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

@Pomax is skeptical and reminded us that CSP clearance will be necessary because that's a third part embed.

Maybe @mmmavis could take a look???

[2019-05-23 00:14] gideonthomas commented on #3117
I don't think it matters. We can keep it the same.

[2019-05-23 00:36] kristinashu opened #3218 "MozFest: update Intro text to body-large"
Please update this `Intro` text to body-large instead of regular paragraph text. Note: only text in the `Intro` should be large, text in all the other regular Paragraph components should be regular size.

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/1068783/58217315-18e48680-7cb7-11e9-8063-6da79c5f1d3e.png">

Comp: https://redpen.io/vuefbd37973f0c2a38
<img width="12

[2019-05-23 00:39] kristinashu opened #3219 "Add external link icon to nav button"
Add external link icon to nav button when the link is external.

@sabrinang can you please provide an svg of the icon?

Comp:
<img width="1236" alt="image" src="https://user-images.githubusercontent.com/1068783/58217618-6a414580-7cb8-11e9-82a0-4c3dcb079ca7.png">

Prod:
<img width="1310" alt="image" src="https://user-images.githubusercontent.com/1068783/58217625-71685380-7cb8-11e9-875e-7c596c49dae3

[2019-05-23 13:44] patjouk opened #3222 "Load fake data fails when using the lastest version of factory boy"
**Describe the bug**
the `load_fake_data` script is failing when using factory boy 2.12:

[code]

It impacts local dev, but also CI (review apps and percy run are failing)

**To Reproduce**
Run the `load_fake_data` command or see this travis run: https://travis-ci.org/mozilla/foundation.mozilla.org/jobs/535559904#L1007

I've opened a PR to pin factory_boy to the previous workoing version #3221
I h

[2019-05-23 15:05] #3203 closed

[2019-05-23 15:28] Pomax commented on #3160
All caught up!

[2019-05-23 15:28] #3160 closed

[2019-05-23 16:01] Pomax commented on #3117
Note that this does require someone _make_ those pages of course =D

[2019-05-23 16:10] gideonthomas commented on #3117
Yep I will do that asap

[2019-05-23 16:24] #3207 closed

[2019-05-23 16:36] #3206 closed

[2019-05-23 16:41] kristinashu opened #3224 "MozFest: update fallback banner images"
We can upload and override the banner images but please update the defaults as backup in case we forget to update one.

Update homepage banner to non-gradient version:
![home-banner@2x](https://user-images.githubusercontent.com/1068783/58270438-b040ec80-7d3e-11e9-9456-8b0544d478d8.jpg)

Update sub page banner to proper dimensions:
![01](https://user-images.githubusercontent.com/1068783/58270462-bf

[2019-05-23 16:42] Pomax commented on #3118
@sabrinang @kristinashu  Styling wise, what is the max-height this embed block should be?

[2019-05-23 16:51] kristinashu commented on #3118
We might need to adjust it once we see it at all screen widths but could you please start with 336px (this is based on using multiples of 8 so 8x42=336px which is pretty close to what Sabrina mocked up)?

[2019-05-23 16:58] #3201 closed

[2019-05-23 17:07] kristinashu commented on #3118
nvm the 360px you have is probably good and wouldn't want to go any less than that.

[2019-05-23 17:11] natalieworth commented on #3147
Deleted old page and published here (but it's still on 'private' view for now):
https://foundation.mozilla.org/cms/pages/396/edit/

cc @kristinashu @xmatthewx

[2019-05-23 17:19] kristinashu commented on #3147
Looks great! I don't see any harm in publishing it so it's live now https://foundation.mozilla.org/en/join/

Closing!!!

[2019-05-23 17:19] #3147 closed

[2019-05-23 18:45] Pomax opened #3227 "MozFest: Twitter icon in the footer is not quite aligned correctly"
Discovered during mozfest review, but also affects the master foundation footer, so this is a cross "site" issue:

![image](https://user-images.githubusercontent.com/177243/58278187-4b8e8d80-7d50-11e9-8735-5edf05d6b389.png)

[2019-05-23 18:48] #3117 closed

[2019-05-23 21:16] #3224 closed

[2019-05-23 21:20] sabrinang commented on #3219
Let's go with external icon with full square (looks better at small size too) and use at 16px inline with buttons.

Comparison with alternative icon:
<img width="1017" alt="Screen Shot 2019-05-23 at 1 50 07 PM" src="https://user-images.githubusercontent.com/2492510/58287316-9797fd00-7d65-11e9-80a2-bce944969c3c.png">

Exported Black/White svgs here:
https://drive.google.com/open?id=1sc9am1e190ICxW2

[2019-05-23 22:04] #3218 closed

[2019-05-24 00:19] kristinashu opened #3230 "MozFest: footer but at tablet width"
Currently at medium widths the email icon overlaps the text links.

Screen cap from prod:

<img width="768" alt="image" src="https://user-images.githubusercontent.com/1068783/58294378-a0e19380-7d7e-11e9-980e-7d848d24a35e.png">

Short term fix: please make the icon wrap below the other icons
![Tablet  Footer](https://user-images.githubusercontent.com/1068783/58294355-87d8e280-7d7e-11e9-8170-53f6f91

[2019-05-24 13:46] #3118 closed

[2019-05-24 18:05] #3216 closed

[2019-05-24 19:21] kristinashu commented on #3219
"Submit Proposal" is now an internal page so we won't need the icon. But let's keep this open in case we need it for a different CTA. @sabrinang can you think of a future CTA button that would need it?

[2019-05-24 19:26] sabrinang commented on #3219
I'm assuming tickets will stay internal and schedule, speakers pages have yet to be created but hoping they are internal as well! Not quite sure where the schedule will live

[2019-05-24 19:34] #3143 closed

[2019-05-24 19:34] kristinashu commented on #3219
Ok awesome, let's close this then!

[2019-05-24 19:34] #3219 closed

[2019-05-24 19:46] kristinashu opened #3234 "MozFest: pre-launch checklist"
@alanmoo @gideonthomas let's review the [pre-launch checklist](https://docs.google.com/document/d/1_ODWb4KRBP-c-zdaMXbdEcSvQ_Br3ONqBqNwJ7o5pV4/edit?usp=sharing) after stand on Tuesday May 28.

cc @cadecairos @xmatthewx @mmmavis @sabrinang

[2019-05-24 21:43] gideonthomas opened #3237 "MozFest: Pulse Profile listing is too small"
**Describe the bug**
The photos and spacing is too small and cramped for all pulse profile components. Can we make it bigger?

**To Reproduce**
Here's a page where we use it: https://mozillafestival.mofoprod.net/en/team/wranglers/

**Expected behavior**
Ideally something like what's on the foundation site like https://foundation.mozilla.org/en/fellowships/meet-our-fellows/

cc @kristinashu to tria

[2019-05-24 22:27] sabrinang commented on #3237
related to https://github.com/mozilla/foundation.mozilla.org/issues/3120

[2019-05-24 22:37] kristinashu commented on #3237
Yeah we should update this for all our pulse profile component across both foundation site and mozfest.

Here's a comp using the Fellowships directory but the card is based on Sabrina's wireframe.

It would have this layout on desktop if the page is set to "Narrow" and it would also look like this for tablet view.

@mmmavis do you have any concerns with this mockup? @sabrinang since this is a site

[2019-05-24 22:38] kristinashu commented on #3120
Styling the cards in https://github.com/mozilla/foundation.mozilla.org/issues/3237

[2019-05-24 22:38] #3120 closed

[2019-05-24 22:56] mmmavis commented on #3237
I'm a little confused here. Let's chat on Monday?

Also, if we are making changes to the profile cards we should do https://github.com/mozilla/foundation.mozilla.org/issues/3059 first to fix existing small bugs & to make implementation less complicated.

[2019-05-24 23:42] natalieworth commented on #2890
Added the Join Us page to the foundation site: #3147

[2019-05-24 23:42] #2890 closed

[2019-05-25 01:41] #3230 closed

[2019-05-27 16:34] mmmavis opened #3248 "Remove "mofo-style" from package.json"
Seems like we no longer uses `mofo-style`.  Let's remove it from `package.json`.

[2019-05-27 18:13] kristinashu opened #3249 "MozFest: fav icon and title"
Please update the fav icon from the m to the mozfest specific one:
[fav icon.zip](https://github.com/mozilla/foundation.mozilla.org/files/3224678/fav.icon.zip)

Is it possible to update the site name from `Mozfest` to `Mozilla Festival`

<img width="392" alt="image" src="https://user-images.githubusercontent.com/1068783/58434415-63c41c80-8070-11e9-86ed-bf2e4ad5a531.png">

[2019-05-27 19:01] mmmavis opened #3250 "Mismatched configs on Heroku and on env.default"
Found a few mismatched configs on Heroku and on [env.default](https://github.com/mozilla/foundation.mozilla.org/blob/master/env.default). There might be more... but I'm just gonna list the ones I discovered:

- `CSP_CHILD_SRC`
- `CSP_FRAME_SRC`

/cc @cadecairos @patjouk

[2019-05-27 21:38] mmmavis commented on #3204
@kristinashu can you make sure this gets mentioned during tmr's MozFest chat after stand? (I don't quite understand this ticket either)

[2019-05-27 21:53] mmmavis commented on #3227
Let's chat when you are back from PTO @sabrinang . I highlighted the icon container box in red but I don't know how we wanna fix the alignment with the new icon set.

<img width="169" alt="image" src="https://user-images.githubusercontent.com/2896608/58440461-07bcc080-808f-11e9-9d10-63cfd9945dcf.png">

[2019-05-28 00:01] kristinashu commented on #3142
Initial homepage comp https://redpen.io/vye279eb57db215c4d. I'd like to simplify our homepage to be less overwhelming to users and help them quickly understand what we do.
- added a placeholder cause sentence
- reduced the amount of content, images, and number of different styles
- incorporated some design elements from Natalie's blue sky explorations https://redpen.io/p/rja784df428a8af4e5 but mad

[2019-05-28 00:17] gideonthomas opened #3251 "MozFest: Donate link on footer should have different src"
Donate link in the footer for the mozfest website shouldn't have the `utm_source` set to `foundation.mozilla.org`. Check with @alanmoo on what this should be.

[2019-05-28 04:15] natalieworth opened #3252 "Update 'Trending Projects' section"
***Blocked until Pulse is [updated](url)/ and [design updates to the homepage](https://github.com/mozilla/foundation.mozilla.org/issues/3142) are completed.***

Update 'Trending Now' area on the foundation site to reflect the styling of Pulse.

Current design of 'Trending Now' section on foundation.mozilla.org
<img width="1135" alt="Screen Shot 2019-05-27 at 9 11 28 PM" src="https://user-images.gi

[2019-05-28 14:12] alanmoo commented on #3251
Instinctually I'd say this should be `mozillafestival.org`

[2019-05-28 15:16] kristinashu commented on #3204
Yup, let's chat after stand but here's another attempt at explaining it:

Can we add a checkbox to the Image Text component
<img width="574" alt="image" src="https://user-images.githubusercontent.com/1068783/58489323-e1933100-811f-11e9-957d-c7fff61e6a72.png">

So image would be 1:1 or 16:9, so the component would look like

1:1 (default)
<img width="873" alt="image" src="https://user-images.github

[2019-05-28 15:46] kristinashu commented on #3252
No, the homepage context tic won't affect this since I'm hoping the homepage will pull directly from OG info on a foundation site sub-page (rather than the Pulse component). But the Pulse Project component is used on other pages like https://foundation.mozilla.org/en/advocacy/ so it will still need to be updated. It seems like the only difference is the font style so this ticket could just be abou

[2019-05-28 16:59] #3251 closed

[2019-05-28 17:27] mmmavis commented on #3227
Ah I guess I know why - Twitter icon hasn't been updated yet. @sabrinang we should update this icon with the new icon you designed? This will affect Twitter icons on the main Foundation site as well.

<img width="457" alt="Screen Shot 2019-05-28 at 10 26 05 AM" src="https://user-images.githubusercontent.com/2896608/58498516-0f35a580-8133-11e9-9468-96dfc8c9932e.png">

[2019-05-28 17:49] xmatthewx opened #3255 "Mozfest: Add GA event tracking if useful"
## TODO

Attach GA events mentioned in [this spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=2085475948).

## Initial conversation

If useful, let's add GA events to mozfest site.

 - [x] identify useful things (e.g. ticket button, submission button)
 - [ ] prep category, action, label to align with other properties
 - [ ] wire it up

@gide

[2019-05-28 17:57] sabrinang commented on #3227
mentioned in https://github.com/mozilla/foundation.mozilla.org/issues/3117#issuecomment-494934750 this is the folder with the new svg icons: https://drive.google.com/open?id=1sc9am1e190ICxW2MbcWgvVoB95gtrXDy

[2019-05-28 18:35] gideonthomas opened #3256 "MozFest: Update Submit proposal link"
The submit proposal button at the top should link to the `/proposals` page (we can probably directly use `https://mozillafestival.org/en/proposals` instead of the mofoprod url.

cc @kristinashu to triage

[2019-05-28 18:49] mmmavis commented on #3256
@gideonthomas should it link to `/proposals` or `https://mozillafestival.org/en/proposals`???

[2019-05-28 18:54] kristinashu commented on #3256
Probably safest to link to `/proposals`?

[2019-05-28 19:54] #3227 closed

[2019-05-28 19:56] mmmavis opened #3258 "Update Instagram and GitHub icons on main Foundation site's footer."
Related to PR https://github.com/mozilla/foundation.mozilla.org/pull/3257

Now that the Twitter icons (regular / regular on hover / dark theme / dark them on hover) have been updated, we should also replace Instagram and GitHub icons on main Foundation site's footer with the newly designed ones.

/cc @sabrinang to provide link to assets

[2019-05-28 20:10] kristinashu opened #3259 "MozFest: video background on homepage"
From what I understand, the mozfest team would like to have the similar looping video background like last year: https://mozillafestival-org-production.herokuapp.com/

@gideonthomas @sabrinang is this still the case?

If so, we could use last year's video until they make a new one. @mmmavis do you see any issues in replacing the static image background with a video backgroud? The aspect ratio is s

[2019-05-28 20:27] kristinashu opened #3260 "Old Safety First campaign"
We've made a page on the [Foundation site for the old Safety First campaign](https://foundation.mozilla.org/en/campaigns/safety-first/).

@cade @patjouk could you please redirect the relevant urls there (sorry, I'm not sure what the original url was)?

But Brett would still like to keep https://advocacy-mozilla-org-prod.herokuapp.com/en-US/safety? Is that ok or is that what you're trying to avoid?

[2019-05-28 20:29] kristinashu commented on #2896
I've opened a ticket for the redirects https://github.com/mozilla/foundation.mozilla.org/issues/3260

Updated the url link and the tag in Pulse, it now shows up on /advocacy.

[2019-05-28 20:29] #2896 closed

[2019-05-28 20:36] alanmoo opened #3261 "Make Mozfest template pull in meta content from Promote tag"
It looks like the OG tags aren't rendering in the Mozfest template from the Promote tab like they do for the Foundation site. Let's make that happen.

[2019-05-28 20:57] cade commented on #3260
I think the original url is [here](https://www.youtube.com/watch?v=dQw4w9WgXcQ). Is that right, @cadecairos?

[2019-05-28 21:15] cadecairos commented on #3260
wow, it's been a while @cade! That's definitely the right link.

[2019-05-28 21:15] kristinashu commented on #3260
Nooooo! How do I keep doing that!

[2019-05-28 21:16] cadecairos commented on #3260
I'm going to listen to the whole song 🎵

[2019-05-28 21:29] mmmavis commented on #3249
@kristinashu @sabrinang I just checked the main Foundation site, PNI, and mozilla.org... they all use an `.ico` file as the default icon file. To make things consistent I'm guessing we should also include an `.ico` file as well. Can you help me generate the file? Not sure what's the proper way to generating it but I do see a few converters available online.

[2019-05-28 21:30] cadecairos commented on #3260
regarding the redirects, we'll need to look into how we're handling the redirect for `advocacy.mozilla.org` and whether or not it's a simple task to special case redirect specific urls.

@patjouk when you get online can you check if we're using mofo-redirector for this or if it's a CloudFront/S3 redirection setup?

[2019-05-28 21:32] sabrinang commented on #3258
Instagram and Github icons in various colours svgs exported here: https://drive.google.com/open?id=14wlqmaJ4rh_ByjPuZo6dqwdK39Akg_cl

[2019-05-28 22:04] kristinashu commented on #3249
Sure, I'll make a higher res png and then try this generator https://www.favicon-generator.org/

It's been so long since we've needed to make a fav icon!

[2019-05-28 22:16] kristinashu commented on #3249
Hmm ok this site seemed to do a better job https://realfavicongenerator.net/. The .ico might be kinda pixely because it's so tiny but could you try this?

[favicon_package_v0.16.zip](https://github.com/mozilla/foundation.mozilla.org/files/3229879/favicon_package_v0.16.zip)

[2019-05-28 22:25] mmmavis commented on #3249
[mozilla.org's one](view-source:https://www.mozilla.org/media/img/favicon.d4f1f46b91f4.ico) looks kinda pixelated too so I guess we are good here :satisfied:

[2019-05-28 22:46] #3256 closed

[2019-05-28 22:47] gideonthomas commented on #3259
Just want to clarify that even if we want to do this, def not for June and it's a lower priority.

@sabrinang can make the call here if it makes sense and is the best UX.

[2019-05-28 23:32] gideonthomas commented on #3255
here's a list of what is useful to track in order of priority so it's not an issue if we can't get to it all (@xmatthewx can you map them to GA events?):
1. Submit proposal button clicks
2. Watch video clicks
3. Ticket button clicks
4. Regular page views for all pages (assuming we already have that wired up)
5. If it needs to be enabled, Behavior flows (user journey)
6. Button clicks on this page:

[2019-05-29 09:03] patjouk commented on #3260
It's a cloudfront/s3 redirect.

About keeping advocacy up: every website that we keep online needs to have a maintenance/support plan. We need dev time to go and update dependencies from time to time to avoid security issues (which doesn't seem to be happening right now), and ops time for when the site goes down. Keeping something up cost money, which is not really a problem here (7$ per month for

[2019-05-29 15:23] alanmoo commented on #3260
Once we've got the content moved over for all the sections of the advocacy site that we plan to move and redirects are doone, we should take the old domain down. It'll still be in github if somoeone else wanted to spin it up somewhere. One of our OKRs is about spinning down old sites, so we have no reason to keep this running.

[2019-05-29 15:28] alanmoo opened #3268 "Run visual regression (Percy/Cypress) testing on Mozfest templates"
**Describe the bug**
When Percy runs, it should check the main Mozfest site templates for regressions. This probably requires extra tests written [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/cypress/integration/endpoint-tests.js)

[2019-05-29 19:43] xmatthewx commented on #3260
Feel free to ignore me: If Brett has a heroku account, is it trivial to push a button a transfer the app to him?

[2019-05-29 20:31] xmatthewx commented on #3255
Great. I've mapped 4 events in this [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=2085475948). Let me know if any phrasing or variables are confusing.

We'll get page views, flows, referrals, bounce, etc by default. Links to Pulse will show up in Pulse analytics and tell us the mozfest page that made the referal. I did add profile card s

[2019-05-29 20:37] gideonthomas commented on #3255
Awesome! Thanks Matthew, I'll update tomorrow.

[2019-05-29 21:58] mmmavis commented on #3261
MozFest pages ["inherit"](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/mozfest/models.py#L15) (not sure what the proper tech term is to use here) [`FoundationMetadataPageMixin`](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/models.py#L61-L108) and hence _should_ be pulling Promote tab stuff and render them

[2019-05-29 23:40] natalieworth opened #3270 "Adjust h4 line-height style for desktop/mobile"
We need to update the h4 line-height for [brand standards](https://foundation.mozilla.org/en/style-guide/). These updates will be applied to both the Foundation site and the Pulse site (and any future h4 uses).

Currently our Sketch library is updated and has h4 set to desktop 24px/30px and mobile at 22px/28px. **So could we update the line-height of desktop h4 to 1.25 and mobile to 1.28?** This w

[2019-05-29 23:41] natalieworth commented on #3270
cc @mmmavis @youriwims @alanmoo

[2019-05-30 16:52] alanmoo commented on #3237
I think the challenge that we're running into here has nothing to do with the layout of the cards themselves, and more with the widths of containers vs viewport.

On the Mozfest site, these cards look very narrow because the *template* they're in is 8 columns wide on large screens (`col-lg-8`).

The way the profile listing component is built, it displays two cards horizontally until the *viewport*

[2019-05-30 17:12] gideonthomas commented on #3237
Let me know what the verdict is otherwise I will need to change them to image text component (and I really don't want to coz it's a lot of work and unmaintainable)

[2019-05-30 17:34] #3261 closed

[2019-05-30 17:36] anilkanji commented on #3142
Digging this thinking/conversation. Based on these mocks this feels like it's evolving from adding context to thinking about home page UX/IA, and potentially rethinking some of our content strategy. We should connect to align on what level this project is at - it's all positive stuff, and want to be sure we set the process up to succeed.

[2019-05-30 19:09] alanmoo opened #3275 "Create Mozfest 404 page"
If someone hits a 404 on Mozfest, they should see the error message in a Mozfest header/footer instead of the foundation site's.

[2019-05-30 19:58] mmmavis commented on #3270
@natalieworth I'm removing the `Update line-heights in Pulse (if needed)` checkbox from this ticket as there's a ticket on Pulse repo for it.

[2019-05-30 20:05] #3059 closed

[2019-05-30 20:16] kristinashu opened #3276 "Pulse profile card layout at medium widths"
Currently the profile cards look squished at <992px-768px tablet/medium width. Can the layout go to the single card layout like mobile sooner?

### Prod:
Cards look squished

<img width="765" alt="image" src="https://user-images.githubusercontent.com/1068783/58661161-07653500-82dc-11e9-804b-743e30941144.png">

### Comp:
Single card layout like mobile https://redpen.io/ge7f4beac4f1723042

![meet-ou

[2019-05-30 20:17] kristinashu commented on #3237
Since Alan is doing the quick fix, I've opened a new separate ticket for the longer term solution https://github.com/mozilla/foundation.mozilla.org/issues/3276

[2019-05-30 20:58] kristinashu commented on #3237
Nvm, Alan's PR is the fix for mozfest site. That new ticket will be for generally improving the card at tablet width.

[2019-05-30 21:05] #3237 closed

[2019-05-30 21:20] gideonthomas commented on #3256
@mmmavis this doesn't seem to be in prod...can we do a prod push soon?

[2019-05-30 21:47] kristinashu commented on #3142
Makes sense! I've added one more comp https://redpen.io/qr7e80679a5c55f97f that keeps everything from our current site the same and only added in the cause sentence. We can use this to start finalizing a sentence and then explore other homepage updates in the future.

[2019-05-31 16:17] gideonthomas opened #3277 "Privacy Policy link in footer should link to l10n page"
Noticed this for both the foundation site and mozfest: the Privacy Policy in the footer should link to https://mozilla.org/privacy/websites/ not https://mozilla.org/en-US/privacy/websites/.

cc @kristinashu

[2019-05-31 17:16] gideonthomas opened #3278 "MozFest: Participation Guidelines in footer splits across columns"
<img width="626" alt="Screen Shot 2019-05-31 at 16 11 14" src="https://user-images.githubusercontent.com/5816130/58721899-0697d600-83a4-11e9-9a2e-15adb4a65729.png">

System: Macbook Pro 15" and 13" on Safari.

The words  Participation and Guidelines are split across the two columns in the footer.

cc @kristinashu

[2019-05-31 17:29] mmmavis commented on #3256
We did a prod push yesterday afternoon so prod should have it now. Let me know if it isn't working for you.

[2019-05-31 17:56] cadecairos opened #3279 "signup_submission has issues"
Issue 1: Payload not verified

Steps to reproduce the behaviour:
1. `curl -X POST https://foundation.mozilla.org/api/campaign/signups/1/`

Generates a 500 internal server error because the payload is not checked: https://github.com/mozilla/foundation.mozilla.org/blob/1e460eb24f8d011941791f835e3d2b6cd3f0a19b/network-api/networkapi/campaign/views.py#L86-L93

Issue 2: CSRF token not required

Steps t

[2019-05-31 19:16] mmmavis commented on #3179
The three MozFest colour related variables that are currently being used in the codebase have been documented on the [style guide](https://foundation.mozilla.org/en/style-guide/). Closing this ticket now.

<img width="1140" alt="image" src="https://user-images.githubusercontent.com/2896608/58729205-a0a85000-839d-11e9-9b13-9fc5a9f93df5.png">

[2019-05-31 19:16] #3179 closed

[2019-05-31 20:58] kristinashu commented on #3279
cc @alanmoo @Pomax

[2019-06-01 19:36] JoyLubega commented on #2362
Is there anyone working on this, if not can I be assigned this issue.

[2019-06-03 09:01] patjouk commented on #3260
@alanmoo Do we keep track somewhere of the campaigns that still need to be moved?

[2019-06-03 13:56] anilkanji commented on #3142
Thanks! I think the exploration is good though, and don't want to lose
that. We should be thinking about this stuff, and need to loop in the right
people on our team.

On Thu, May 30, 2019 at 5:47 PM Kristina <notifications@github.com> wrote:

[2019-06-03 19:49] alanmoo commented on #3275
@Pomax Any thoughts on how this might work? I couldn't figure out how we can change the template based on the request domain.

[2019-06-03 19:52] kristinashu commented on #3249
Now that P1's are all done, yay, we can tackle this again...

For reference, here's the old one https://mozillafestival-org-production.herokuapp.com/ and also how a black icon looks on the dark grey tab:

<img width="314" alt="image" src="https://user-images.githubusercontent.com/1068783/58829960-ff6c0480-85fd-11e9-8eff-f7ef301381f9.png">

@sabrinang I'm thinking maybe we should just use the stand

[2019-06-03 20:48] cadecairos opened #3289 "Dynamic Mozfest header nav"
The nav on the mozfest site is static, but thinking ahead, we want to make it dynamic to support adding and removing sections without the need for a code change.

[2019-06-04 00:37] #3270 closed

[2019-06-04 00:54] #3277 closed

[2019-06-04 01:29] mmmavis commented on #3156
Went with the 2nd approach and got the following errors 👀

[code]

[2019-06-04 16:32] #3278 closed

[2019-06-04 17:08] alanmoo commented on #3289
This will be useful once the inevitable "tickets are no longer available, let's take that page off the nav" or "add this other page to the nav!" asks come in.

[2019-06-04 17:12] Pomax commented on #3289
This is relatively easy to do (we didn't do it earlier mostly due to time constraints)

[2019-06-04 18:06] Pomax commented on #3275
I can't see to find any documentation on how to achieve this, so I've posed https://stackoverflow.com/questions/56449188/having-a-404-for-each-site-in-a-wagtail-multisite-setup and hopefully there is a way to easily achieve this, I just can't find what it is.

[2019-06-04 20:37] kristinashu commented on #2857
Sounds like some work has been done here. Non-key list only appear if someone signs up so for new signups, the list page is pretty clean looking:
<img width="779" alt="Screen Shot 2019-06-03 at 9 36 01 AM" src="https://user-images.githubusercontent.com/1068783/58911751-5ee51580-86cd-11e9-8662-055a671de094.png">

[2019-06-04 20:37] #2857 closed

[2019-06-04 22:08] kristinashu commented on #3165
@beccaklam can please get some feedback on these https://redpen.io/p/bha12cf7387de4f7e7?

[2019-06-04 22:34] kristinashu commented on #2845
Here's the comp: dots are 14x14px and the distance between then is 14px

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/1068783/58918197-213cb880-86de-11e9-8bb8-4aae277f04f6.png">

[2019-06-04 23:53] mmmavis commented on #3157
@kristinashu should we make sure these icons are from set Sabrina designed? I know Twitter icon on Foundation site has been updated but the other three icons still need to be replaced. If you think this is a good idea can you include link to the icon folder? I can generate white icon version myself by editing the source code of the icon SVG myself.

[2019-06-05 01:34] kristinashu commented on #3157
Let's for sure use them! @beccaklam is looking at this right now in the button audit. Becca, do you think the new icons at max 16px will work here too?

[2019-06-05 15:27] patjouk commented on #3260
Redirect is done :) http://advocacy.mozilla.org/en-US/safety => https://foundation.mozilla.org/en/campaigns/safety-first/

[2019-06-05 15:27] #3260 closed

[2019-06-05 15:43] alanmoo opened #3296 "Confirm deadness of and remove vestigial file"
**Describe the bug**
The [signup component](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/tags/cta/signup.html) previously used in the Opportunity page templates appears to be vestigial. This needs to be confirmed and any dead code around it should be shaken out.

[2019-06-05 18:24] alanmoo commented on #3161
I'll see if this is managed by a snippet under the hood.

[2019-06-05 18:44] alanmoo commented on #2364
Related to #2877

[2019-06-05 18:47] alanmoo commented on #2364
@mmmavis What's the goal for this issue? To use a singular set of code for all navigation instances?

[2019-06-05 19:12] mmmavis commented on #3157
While we are on this... do we plan to update the pill buttons on PNI to the rectangular ones we are adding to the blog page?

<img width="819" alt="image" src="https://user-images.githubusercontent.com/2896608/58983139-f9eff500-878a-11e9-8815-37304e4b92de.png">

[2019-06-05 19:43] #3234 closed

[2019-06-05 19:52] sabrinang commented on #3249
Let's stick to m then to align and for simplicity in keeping the contrast too.
For the title, let's use `Mozilla Festival - MozFest 2019`

[2019-06-05 19:55] gideonthomas opened #3297 "MozFest twitter feed doesn't show up"
**Describe the bug**
The twitter feed on the mozfest homepage doesn't show up. Error in the console is: "The resource at “https://platform.twitter.com/widgets.js” was blocked because content blocking is enabled." THis happens only in firefox from what I can tell

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mozillafestival.org
2. Scroll down to the end of the page
3. See erro

[2019-06-05 20:09] alanmoo commented on #3297
I see it on FF 67, macOS...

[2019-06-05 20:19] gideonthomas commented on #3297
Do you have tracking protection on?

I'm also not sure if there is anything that can be done about it fyi

[2019-06-05 20:36] alanmoo commented on #3297
I can replicate when I turn on strict content blocking. This is expected behavior unless we rewrite a twitter feed component ourselves.

[2019-06-05 20:36] #3297 closed

[2019-06-05 21:41] mmmavis opened #3298 "Mobile version primary nav - active link treatment"
Not sure if this is a bug. @kristinashu do you know what the expected on hover treatment is for `active page link` on mobile version of primary nav (e.g, "Home" in the attached gif below)? Currently we add a black underline to it on hover which doesn't make any visual difference since the whole nav section on black background.

![mobile-nav-active-hover](https://user-images.githubusercontent.com/2

[2019-06-05 21:53] kristinashu commented on #3298
Thanks Mavis, yeah we should add a selected state.

I've also noticed the gaps are a little big at medium widths:

<img width="984" alt="image" src="https://user-images.githubusercontent.com/1068783/58993155-86a5ad80-87a1-11e9-8d2a-aece894407a9.png">

[2019-06-05 21:57] gideonthomas commented on #3297
cc @zee-moz doesn't look like we can do anything about it. However, the link that you see will take you to twitter, so it isn't completely broken.

[2019-06-05 21:57] Pomax commented on #3162
It looks like if we want to do this for more than just BlogPage objects, we need to put the `tags` property on the highest possible page. There is no clean way to query for "any other `Page` that has the `tags` field`, only for whether that field has content assigned or not.

[2019-06-05 22:41] mmmavis commented on #3249
cool I'll update my PR accordingly

[2019-06-05 22:58] Pomax commented on #3162
After some investigation, and barring [help from stackoverflow](https://stackoverflow.com/questions/56468794/filtering-django-superclass-querysets-based-on-the-subclass-having-a-specific-fi), I thing we have some thinking to do and a choice to make on how to proceed...

We'd like to add "related pages" to any page on the foundation site that has tags, to point to other pages with one or more of th

[2019-06-06 01:36] mmmavis commented on #3249
@sabrinang The current pattern of the `title` meta is `Mozfest - <title of the page>`. Just to confirm that we want to replace the beginning `Mozfest` with `Mozilla Festival - MozFest 2019` so it reads `Mozilla Festival - MozFest 2019 - <title of the page>`?

[2019-06-06 13:10] alanmoo commented on #3297
(When you turn on  content blocking Firefox, there’s a big warning that parts of some websites may not work.  This is exactly the type of thing  it was referring to.)

[2019-06-06 14:07] alanmoo commented on #3162
In the event we don't create a parent (mixin) class, could we run a few queries (for each page type) and then mix them together in Python without too much overhead?

For example:
[code]

[2019-06-06 14:48] beccaklam commented on #3157
Sorry for the late reply on this, I was testing out the icons yesterday but got sidetracked by other work. I actually think 24px will work better for the circular buttons, as the 16px looks too small. As for the PNI share buttons, I don't feel a need to change them. I see PNI as more of a unique instance/microsite than an extension of the Foundation site. But others feel free to weigh in.

[2019-06-06 14:49] beccaklam commented on #3157
Yes, I'll get you these icons @mmmavis!

[2019-06-06 15:47] #3106 closed

[2019-06-06 15:56] Pomax commented on #3162
A problem with "mixing" them together is that for the most part, querysets are "lazy" data: nothing gets transferred and the database response is treated as a promise that there will be data once code actually tries to access it.

The moment we do any "mixing" in Python rather than as a filter action, all the data needs to become real data and you incur a performance hit (both in terms of waiting

[2019-06-06 17:12] sabrinang commented on #3249
I was thinking we can follow the convention that Mozilla Foundation site has and have Mozilla name appear in full and not abbreviated for consistency so for the festival the other pages will appear:

`Mozilla Festival - Spaces`
`Mozilla Festival - Team`
`Mozilla Festival - MozFest 2019` I was thinking this only appears on the homepage we previously had it in brackets () but I think it is nice to h

[2019-06-06 17:54] beccaklam commented on #3157
So, fidgeted with the icons again and 16px does work after all ... Here are the icons @mmmavis:
[share-buttons.zip](https://github.com/mozilla/foundation.mozilla.org/files/3262859/share-buttons.zip) I also updated the redpen with the new icons.

[2019-06-06 18:18] mmmavis commented on #3249
kk if that's the case I'll just update the `Mozfest - ` portion to `Mozilla Foundation - `.  Text after the hyphen is not hardcoded and can be customized via the CMS.

[2019-06-06 20:39] #3249 closed

[2019-06-06 20:42] Pomax commented on #3162
Currently only Blog pages have tags, so I won't be able to implement anything related to campaigns... however, that said, the blog page comp shows the "related content" as living outside of the "page content", but the tags living inside the "page content":

![image](https://user-images.githubusercontent.com/177243/59065088-c2537c80-8860-11e9-9399-426a4299c035.png)

so I'll implement the actual tem

[2019-06-06 20:46] Pomax commented on #3162
As immediate followup: given the styling of the tags in the comps, it looks like the tags are supposed to take the user to somewhere, but as far as I'm aware we do not have any pages that list "all pages for a specific tag", so these may not be active links until work has gone into making that real thing. Pinging @alanmoo to confirm

[2019-06-06 20:50] alanmoo commented on #3162
Great point, that makes sense. @kristinashu What will those eventually link to? I'm imagining it's another use case for the generic "container" page like the blog homepage would likely be?

[2019-06-06 21:00] Pomax commented on #3162
In terms of the related content cards, where is the image to be found? Not all posts may have an associated image, but even for those that do, we can't easily pull it from the content itself so it'd have to come from an SEO field or the like. What should be the lookup policy here?

[2019-06-06 21:00] kristinashu commented on #3162
Clicking a tag would like to a page like this https://redpen.io/zx02a9037c2fd9090d
<img width="974" alt="image" src="https://user-images.githubusercontent.com/1068783/59066217-5a526580-8863-11e9-837a-df399515325e.png">

We would also eventually have some sort of /blog landing page https://redpen.io/kv41677e2ce9eee53d
<img width="976" alt="image" src="https://user-images.githubusercontent.com/10687

[2019-06-06 21:03] kristinashu commented on #3162
We were thinking the image would be pulled from the OG content in the promote tab https://github.com/mozilla/foundation.mozilla.org/issues/3156 (if there's no image there then it would take the parent page OG image of the mozilla logo).

[2019-06-06 21:03] alanmoo commented on #3162
I'm pretty sure we'd decided on SEO field (the image from the promote tab). Can we ensure that we only grab posts from the database that have images, or is it significantly easier to assign a default image?

[2019-06-06 21:04] beccaklam commented on #3157
Ah, hold off on the facebook icon @mmmavis, I need to get you the official one instead. Will update my tomorrow morning!

[2019-06-06 21:07] mmmavis commented on #3157
@beccaklam No rush! I have to shift my focus to get the join us modal on Pulse to work first. 😉

[2019-06-06 21:10] Pomax commented on #3162
SEO image is by fair the easiest, since we have a cascading mixin in place, so that's a matter of asking for `page.get_meta_image`.

For the tag-dedicated page, do we have an issue opened for implementing that already?

[2019-06-06 21:28] Pomax commented on #3162
Actually... @alanmoo @kristinashu it looks like blog posts don't _have_ an SEO image field?

![image](https://user-images.githubusercontent.com/177243/59067756-41e44a00-8867-11e9-98d0-6d7c3299c20a.png)

So that might be an oversight when we implemented the blog post, but while the code has been set up to tap into the SEO image, the result is effectively nothing meaningful right now =)

[2019-06-06 21:31] kristinashu commented on #3162
Only a design ticket right now https://github.com/mozilla/foundation.mozilla.org/issues/3165. Is making that page blocking this work? If so I can open an implementation ticket.

Mavis is working on it https://github.com/mozilla/foundation.mozilla.org/pull/3292

[2019-06-06 21:33] Pomax commented on #3162
only insofar as we can't land it "as links" until those tag pages exist - we can make the tags "not be links" in the mean time, and we'll still get related posts to show up just fine.

[2019-06-06 22:06] kristinashu commented on #3162
Oooh I think I get it now... please ignore these tags (that will be a separate ticket):
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/1068783/59069607-92aa7180-886c-11e9-97bb-6be4fcd0da13.png">

This ticket is just for the related content at the bottom
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/1068783/59069643-b077d680-886c-11e9-95f

[2019-06-06 23:58] gideonthomas commented on #3249
@sabrinang I'm going to change it to `Mozilla Festival 2019` instead of `Mozilla Festival` as that is what appears in a Google search.

[2019-06-07 01:17] Pomax commented on #3162
Aha, gotcha, can do!

[2019-06-07 14:36] beccaklam opened #3303 "Add Bold Styles to Style Guide"
After deciding on how we want to handle bold styles in this ticket: https://github.com/MozillaFoundation/Design/issues/353 we need to add them to the style guide.

Redpen here: https://redpen.io/kd3d58a3e4da0a839c

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [x] Design has been finalized
- [x] Link to original design ticket
- [x] Link to rela

[2019-06-07 17:14] beccaklam opened #3304 "Change Blog bold style back to default"
After deciding how we want to handle bold styles (stick with the default) in ticket https://github.com/MozillaFoundation/Design/issues/353 we need to update the blog bold styles to match. Currently, making the body type large changes it from a weight of 300 to 700. We have decided to remove that override and stick with the default that changes it from 300 to 400.

I have updated the blog redpen. H

[2019-06-07 17:52] cadecairos commented on #2786
If we want to minimize the visual changes we're experiencing, we will want to consider using fixtures for pages that we want to test on Percy. This will mean we'll be on the hook for updating them when something changes. I still think there's a valid use for generation of model instances using faker+factory boy, but it's certainly not a good solution for pages we're testing for vidual regressions.

[2019-06-07 21:23] kristinashu opened #3305 "Share button style on PNI"
Based on @mmmavis' comment https://github.com/mozilla/foundation.mozilla.org/issues/3157#issuecomment-499216706 let's update share buttons on PNI to align with our new style.

Related tickets:
- Cleaning up Button Styles https://github.com/MozillaFoundation/Design/issues/371
- Blog: add share buttons #3157

[2019-06-10 15:57] mmmavis commented on #2364
Ideally having a singular set of code for all navigation instances would be awesome but I don't know if it's technically doable (or worth doing) given that we have so many variations of nav in the codebase. I haven't touched nav related code for a while so maybe it's now easier to achieve this than half year ago when this ticket was first created.

[2019-06-10 16:00] beccaklam opened #3311 "Update Dev Style Guide with new button styles"
We have some new button styles that have been added to the brand and it would be good to have then reflected in the Dev style guide too!

Related ticket: https://github.com/MozillaFoundation/Design/issues/371
Brand Documentation: https://foundation.mozilla.org/en/docs/brand/
Redpen: https://redpen.io/p/knefb82f90a4716342 (though, Brand documentation is probably the most up to date)

---

**🗒  Desi

[2019-06-10 17:58] beccaklam commented on #3311
Assets here: [social-button-icons.zip](https://github.com/mozilla/foundation.mozilla.org/files/3273188/social-button-icons.zip)

[2019-06-10 18:54] gideonthomas opened #3319 "Cookies footer link"
**Describe the bug**
Legal has requested that to be more compliant with GDPR, we should have a "Cookies" link in the footer that specifically links out to the cookies section in the Privacy Policy for any site which uses cookies (which is basically all of our sites -- Foundation, MozFest, and Pulse).

**To Reproduce**
Look at the footers on our main web properties (fo'mo, mozfest, pulse).

**Expec

[2019-06-10 19:30] beccaklam opened #3320 "Implement Disabled Button Style"
We have defined some new button styles (more like filling in gaps we had before in our style guide) and they need to be implemented!

## Disabled Button Style

- [ ] Set opacity of button to 30% for normal buttons

- [ ] 50% for inverse buttons.

- [ ] Disabled buttons stay the same on hover

![disabled-button-style@2x](https://user-images.githubusercontent.com/20977376/59220270-8e46c700-8b92-11e9

[2019-06-10 19:33] beccaklam opened #3321 "Implement In-line Icon Button Style"
We have defined some new button styles (more like filling in gaps we had before in our style guide) and they need to be implemented!

## In-line Icon Button

- [x] Icon should be 16px in height, width can vary (with 16px of spacing between the grouped icon and label and the right/left edges of the button, see grouped buttons ticket for reference: #3322)

- [x] Icon should be spaced 8px from the la

[2019-06-10 19:36] beccaklam opened #3322 "Implement Grouped Button 'Style'"
We have defined some new button styles (more like filling in gaps we had before in our style guide) and they need to be implemented!

## Grouped Buttons
Grouped in-line icon buttons should be 16px apart from the left/right, and top/bottom. On desktop grouped buttons are laid out in a line, on mobile the group can switch to two rows. Grouped buttons are left aligned (not centered).

How wide the bu

[2019-06-10 20:13] beccaklam opened #3323 "Implement Social Buttons"
We have defined some new button styles (more like filling in gaps we had before in our style guide) and they need to be implemented!

## Social Buttons

We reuse these buttons a lot so let's standardize them:

### Regular Buttons:
- [ ] Facebook

- [ ] Twitter

- [ ] Email

- [ ] Link

![social-buttons](https://user-images.githubusercontent.com/20977376/59519376-b6d20800-8e95-11e9-9dad-15cf7d0ec2a

[2019-06-11 13:57] alanmoo commented on #2364
Agreed, but this ticket feels a bit too nebulous to be useful. I'm gonna close it and if we see tangible cases where we can improve things, let's file new tickets then.

[2019-06-11 13:57] #2364 closed

[2019-06-11 18:42] kristinashu opened #3324 "Reactivate donate popup"
Reactivate the donate popup the same as it was before but will new copy.

### Copy (WAITING FOR APPROVAL)

Where "Will you donate today?" is in bold.

### Comp
https://redpen.io/ps2f6569e046e136bf

<img width="1003" alt="image" src="https://user-images.githubusercontent.com/1068783/59299243-08358980-8c41-11e9-9b18-5e81c8247530.png">

[2019-06-11 19:15] Pomax commented on #3162
An interesting problem: what do we do if there is only 1, or if there are only 2, related posts? CSS won't really let us change the flex alignment based on "number of children", which would have been nice here (left-align if 1 or 2, full width auto spaced for 3...)

[2019-06-11 19:17] Pomax commented on #3162
as I say that, we _can_ make wagtail add a class that indicates the number of posts that we can tap into on the CSS side for choosing which flex justification/alignment to us, so I could probably make it do that "left align unless there are three" at full width, and "left align unless there are two or more" at intermediate width (mobile only has one element per row, so no need for custom rules the

[2019-06-11 19:26] alanmoo commented on #3162
I feel like this is exactly the kind of thing Flexbox can handle...maybe paired with a `max-width` inside a media query on the individual cards?

[2019-06-11 19:39] Pomax commented on #3162
this is a limitation of CSS, not just flexbox: you can't "count children" in CSS, so there is no way for the flex CSS to know whether it needs to use `flex-start` or `space-between`.

[2019-06-11 20:59] Pomax commented on #3324
I also remember @xmatthewx saying we wanted to have it be dismissable for at most a week, so I will change the session storage approach to a localstorage approach instead, and then if people dismiss the banner, they will see it again one week later (if they happen to load up the site again =)

[2019-06-11 21:01] kristinashu commented on #3324
Yes! That would be much less annoying.

[2019-06-11 21:05] Pomax commented on #3324
Do we still want a 10 second timeout, or do we want to "tighten that up"?

[2019-06-11 21:29] kristinashu commented on #3324
10 sec is good! Want them to spend some time on the site before we ask them for money.

[2019-06-12 20:21] suhailsinghbains commented on #3323
Hi, Can I please work on this?
Thanks

[2019-06-13 01:48] fitojb opened #3326 "Foundation website uses non-brand body font"
The Foundation website uses Nunito Sans as body font, which has never been prescribed as part of the brand narrative for Mozilla (neither as part of Quantum nor as part of Trailhead).

The body font should be replaced with _Inter_ [(reference)](https://github.com/mozilla/protocol/issues/342#issuecomment-475324102).

[2019-06-13 16:09] #3324 closed

[2019-06-13 16:58] Pomax commented on #3275
unblocked by https://github.com/wagtail/wagtail/pull/5375/files

[2019-06-13 18:25] alanmoo opened #3328 "Footer signups aren't working"
**Describe the bug**
Signups using the footer of mozillafestival.org and foundation.mozilla.org seem to not be hitting the Amazon SQS queue that basket processes from. This does not affect petitions.

[2019-06-13 20:52] #3289 closed

[2019-06-14 13:28] alanmoo opened #3329 "Buyers guide footer signups don't work"
A CSRF token seems to be missing from the template.

[2019-06-14 16:05] #3328 closed

[2019-06-14 16:05] #3329 closed

[2019-06-19 09:42] Stark-Pramod commented on #2893
@Pomax I want to work on this issue. Since I am a newbie to Open Source world I may need some guidance and help.

[2019-06-19 11:25] Stark-Pramod commented on #3248
Hii @mmmavis I am a newbie in open source. Is this issue is all about removing a single line from package.json ?

[2019-06-19 11:27] harshs14 commented on #2362
hi @Pomax, I am new here, can I take this up?

[2019-06-19 11:39] harshs14 commented on #3065
hi @mmmavis , I am new here, can I take this up?

[2019-06-20 07:23] Stark-Pramod commented on #3174
@alanmoo I figured it out but I am not sure it will work as I can't test that. So if you allow me  to do some changes I can figure it out.

[2019-06-20 18:32] Sharma-palak commented on #1016
Hi @alanmoo,I want to work on this issue.Since I am new to open source I may need your help.

[2019-06-20 20:38] Pomax commented on #3065
This is not a good first bug, I would recommend having a look at [the list of good first bugs](https://github.com/mozilla/foundation.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) instead

[2019-06-20 20:40] Pomax commented on #2362
Ah, this work is already getting done by @youriwims, please have a look at the rest of the list of good first bug over on https://github.com/mozilla/foundation.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2019-06-21 05:56] harshs14 commented on #2362
@Pomax no problem, I will try to solve other issues, thanx

[2019-06-23 11:46] Stark-Pramod commented on #1567
@taisdesouzalessa  I would like to do this. Since I a newbie to  Open source world I may need some guidance.

[2019-06-24 07:58] harshs14 commented on #1099
hi @Pomax, I am new here, can I take this up if no one is working on it and can u explain me on how to solve this

[2019-06-24 08:11] harshs14 commented on #2127
hi @alanmoo, I am new here, can I take this up if no one is working on it and can u explain me on how to solve this

[2019-06-24 09:33] Stark-Pramod commented on #3042
Hii @Pomax can I take this issue. can you please elaborate what exactly want, so that I may have a more clear idea?

[2019-06-24 13:46] alanmoo commented on #3174
I’m happy to take a look at a pull request if you open one. I know it’s near impossible to test, but if you can show me why it has a chance at being successful, I’ll merge it.

[2019-06-24 13:54] alanmoo commented on #1016
Unfortunately we don’t have the capacity to support someone new to open source on a ticket like this, which requires deep understanding of the project.

@pomax based on our conversation last week, should we close this and open a few more specific testing issues?

[2019-06-24 13:58] alanmoo commented on #2127
Based on conversations we had last week, I’m not sure we are going to continue generating fake data, so this might not be a useful ticket to work on.

[2019-06-24 15:27] harshs14 commented on #2127
@alanmoo, i wanted to work on a issue based on django as i have some knowledge about it but i am unable to find any appropriate issue related to it in the good first section, can i look for any other issue other than good first section which i can solve?

[2019-06-24 16:25] Stark-Pramod commented on #3174
@alanmoo Done. please review the PR.

[2019-06-24 17:49] taisdesouzalessa commented on #1567
Hi @Stark-Pramod, thanks for your interest on this issue :). I am currently on mat leave so I'll put you in touch with somebody from my team and you can take it from there okay? @kristinashu could you please check with our team about this issue? Thanks!!

[2019-06-24 18:40] alanmoo opened #3345 "Update contribute.json and create CONTRIBUTING.md"
We need to better describe what the options are for people looking to contribute to this project, as well as change references from when this was still the "network" site.

Some thoughts from @Pomax in Slack, which would probably be a useful structure for CONTRIBUTING.MD:

[2019-06-24 18:41] alanmoo commented on #2970
Oh. The new item #3345 is a duplicate of this, but has more useful info.

[2019-06-24 18:41] #2970 closed

[2019-06-24 18:42] Stark-Pramod commented on #1567
@taisdesouzalessa No problem, and thanks.
@kristinashu, Can you help me over this?

[2019-06-24 22:27] mmmavis commented on #3248
Hi @Stark-Pramod I would run `npm uninstall mofo-style --save` so `package-lock.json` reflects the module changes as well.

https://docs.npmjs.com/cli/uninstall

[2019-06-25 05:26] harshs14 commented on #3258
@mmmavis can i work on this?

[2019-06-25 07:53] Stark-Pramod commented on #3248
@mmmavis Is it done? if not can I do this?

[2019-06-25 11:51] Ahmad-Mustafaa opened #3347 "Pwa Prompt not supported for install on button click"
I have Created a Pwa App which is working proper on Chrome but not working on Mozilla.
Main issue is that i want to open prompt on btn click for install the pwa app . Is there any update coming regarding resolving this issue .
Mozilla desktop its not working .
On Mozilla Android Home button appears but i added a custom button for showing prompt of add to home screen its not working...
My code belo

[2019-06-25 14:20] #3174 closed

[2019-06-25 15:35] mmmavis commented on #3248
@Stark-Pramod for sure, feel free to tackle this :)

[2019-06-25 17:20] alanmoo opened #3349 "Related blog posts image is cropped poorly"
**Describe the bug**
[Related posts on a blog page](https://foundation.mozilla.org/en/blog/7-interesting-things-we-learned-when-we-ask-world-about-misinformation-online/) crop the promotional image poorly

**Expected behavior**
The cropping should not interfere with the Mozilla logo

**Screenshots**
<img width="1215" alt="image" src="https://user-images.githubusercontent.com/1682681/60119174-ced64

[2019-06-25 18:45] Stark-Pramod commented on #3248
@mmmavis Done. Please Review the PR.

[2019-06-25 21:07] alanmoo commented on #3161
It seems like the header signup is no longer a thing. Does this just apply to the footer now?

[2019-06-25 21:25] alanmoo commented on #3161
Also, when simply changing the text strings, this highlights a potential design discrepancy on desktop:
<img width="1118" alt="image" src="https://user-images.githubusercontent.com/1682681/60134611-e45c6280-976d-11e9-8d62-9395b7be6bab.png">

I'm generally cautious of going down a rabbit hole of design tied to content in places like this, but it does feel like the kind of thing we should make look

[2019-06-25 21:34] alanmoo commented on #3051
Would adding `novalidate` to the `<form>` element be sufficient here? Or is this a broader issue?

[2019-06-26 00:29] mmmavis commented on #3311
@beccaklam for "dev style guide" did you mean https://foundation.mozilla.org/en/style-guide/? If so we should create a new ticket for designers to update this page: https://foundation.mozilla.org/en/docs/brand/ (currently empty)

[2019-06-26 00:31] mmmavis commented on #3303
@beccaklam what kind of bold text examples do you think we should add to this [style guide](https://foundation.mozilla.org/en/style-guide/)?

[2019-06-26 00:38] mmmavis commented on #3323
Hi @suhailsinghbains This ticket is part of a bigger work that is currently being tackled by our team. Thanks for offering help but I think this might not be the best ticket to assign to contributors.

[2019-06-26 00:40] mmmavis commented on #3157
Blocked on
#3322 (Implement Grouped Button 'Style')
#3323 (Implement Social Buttons)

[2019-06-26 01:39] mmmavis commented on #3322
@beccaklam I tested a petition form locally and the three share buttons look very different from what you included in the ticket description + there's no "link" button. Did you take your [screencap](https://user-images.githubusercontent.com/20977376/59221465-53925e00-8b95-11e9-9cb7-c451047a2d89.png) from a live campaign page or from Sketch?

<img width="1095" alt="image" src="https://user-images.g

[2019-06-26 13:31] beccaklam commented on #3322
Hi @mmmavis, sorry if this wasn't clear. What you have above is the current version, but we want to update to the screen cap that I provided! I guess there perhaps on order to all the button updates with this being one of the later ones?

[2019-06-26 14:46] beccaklam commented on #3161
@kristinashu @anilkanji Is the header signup no longer a thing or was it never implemented? From my knowledge it was a new initiative that had been designed but not put on the site yet. I could be wrong though 🤷‍♀

[2019-06-26 14:47] beccaklam commented on #3161
@alanmoo Do you mean hard-coding it so it always breaks a certain way? I'd be okay with doing that over Zoom so we could check different screen widths.

[2019-06-26 14:51] beccaklam commented on #3322
![image](https://user-images.githubusercontent.com/20977376/60190056-00a8df80-9800-11e9-9bd3-f45960ef397a.png)
☝️ So here are all the button implementation tickets that stemmed from this ticket: https://github.com/MozillaFoundation/Design/issues/371
Three of the tickets kind of build on each other so logically I guess it would make sense to do it in this order:
- In-line Button Style
- Social Butt

[2019-06-26 15:39] mmmavis commented on #3322
Hey @beccaklam thanks ^^ is helpful! I kinda already started the work 😬 ... I started by adding the 'share button group' style to the codebase and example to the `/styleguide` page. I'll ping you for a quick chat once I figure out a plan for this social button update work (we might have to break it into smaller chunk).

[2019-06-26 15:59] mmmavis commented on #3321
@beccaklam other than social share buttons, are there any existing "inline button" on the site that need to be updated for this ticket?

[2019-06-26 16:03] mmmavis commented on #2418
@kristinashu what should we do to close this ticket? Is simply adding indentation enough?

[2019-06-26 17:24] beccaklam commented on #3321
@mmmavis The only other button that has an inline icon I can think of is the button for external links but there's some conversation going around that right now here in this ticket: https://github.com/MozillaFoundation/Design/issues/372 Is it a blocker for you to land the social buttons first?

[2019-06-26 17:26] mmmavis commented on #3321
@beccaklam not at all. I prefer having these button tickets to focus on just the 'share buttons'.

[2019-06-26 17:45] beccaklam commented on #3321
Yes, let's land those first then since we use them quite a lot 👍

[2019-06-27 19:14] #3161 closed

[2019-06-27 20:11] harshs14 commented on #3003
@alanmoo can I take this as it seems no one is working on it?

[2019-06-27 20:21] alanmoo commented on #3003
Sure. I checked production, it's not in the block inventory list, so it should be safe to remove.

[2019-06-27 22:58] #3304 closed

[2019-06-28 18:06] Stark-Pramod commented on #2625
@kristinashu can I take this??

[2019-06-28 20:56] youriwims opened #3356 "Mozfest Banner Image Not Scaling at Super Large Screens"
**Describe the bug**
Mozfest banner image isn't scaling properly at ~1535px+.

**Screenshots**
![Screenshot_2019-06-28 Mozilla Festival 2019](https://user-images.githubusercontent.com/36484608/60370570-f552e100-99c4-11e9-9db3-6edbb586f706.png)

**Expected behavior**
Banner image should scale full-width according to screen size.

**Additional context**
I played with the width of the `<img>` in `<pi

[2019-07-01 08:25] #3248 closed

[2019-07-01 08:38] patjouk opened #3357 "navigation menu disapears on 404 pages"
**Describe the bug**
The main menu bar (about, initiative, etc) is not visible on the 404 page.

**To Reproduce**
Steps to reproduce the behavior:
Go to https://foundation.mozilla.org/en/sdasd/

**Expected behavior**
I would expect the menu bar to be there too.

**Screenshots**
On review apps:
<img width="1152" alt="Screenshot 2019-07-01 at 10 35 10" src="https://user-images.githubusercontent.com/

[2019-07-01 10:01] #3003 closed

[2019-07-01 10:36] Stark-Pramod commented on #3357
@patjouk May I give it a try?

[2019-07-01 10:53] patjouk commented on #3357
Depends on how comfortable you are with Django because I won't have the time to help you on it.

[2019-07-01 10:58] Stark-Pramod commented on #3357
@patjouk Ok, no problem.

[2019-07-02 18:14] kristinashu commented on #3161
Nav signup is happening here https://github.com/mozilla/foundation.mozilla.org/issues/2994 but was put on hold for Pulse work. I'll update that ticket with this new copy.

[2019-07-02 18:16] kristinashu commented on #2994
Via user testing we can decided to use new copy #3161:
- [ ] Button text: `Join us`
- [ ] Body text:
`Protect the internet as a global public resource.`
`Join our email list to take action and stay updated!`

[2019-07-02 18:26] kristinashu commented on #2418
I think it might be a little more complicated then that. We also might want to have less space between tertiary nav items, and need to decided if we need the arrows or something else or not.

To close this ticket we need a comp of this and for it to go through design review. Once that is done we can open an implementation ticket.

[2019-07-02 21:39] kristinashu commented on #3162
I believe this ticket is done but looks pretty broken without https://github.com/mozilla/foundation.mozilla.org/issues/3156 and https://github.com/mozilla/foundation.mozilla.org/issues/3349

[2019-07-02 21:43] kristinashu opened #3362 "Add related campaign cards to campaigns template"
Related ticket:
- Add cards to blog posts #3162
- Add tagging to more page types #3173

We want to create dynamic related content cards that will be built into the template campaign pages.

The related content cards will be added by a user defining the tags they want to pull from and related cards themselves will pull image and heading information from OG tags.

# Designs: follow styles from blog

[2019-07-02 21:44] kristinashu commented on #3162
Closing this ticket and opened a new separate ticket for campaign pages https://github.com/mozilla/foundation.mozilla.org/issues/3362

[2019-07-02 21:44] #3162 closed

[2019-07-02 22:29] mmmavis opened #3363 "Remove duplicate of copy-to-clipboard.js"
Follow-up of PR https://github.com/mozilla/foundation.mozilla.org/pull/3352#discussion_r297907694 . This should be worked on immediately after that PR gets merged so avoid further confusion.

Remove `source/js/buyers-guide/copy-to-clipboard.js` and make sure PNI import `source/js/copy-to-clipboard.js` instead.

<img width="680" alt="image" src="https://user-images.githubusercontent.com/2896608
/60

[2019-07-03 17:18] kristinashu opened #3365 "Amazon campaign"
Deadline July 9

- [x] Create a campaign page using copy at the [bottom of this doc](https://docs.google.com/document/d/1JU7g5sFSlR5WXpNipDP_gh-vkj3Y5knM2W7yTSVvTMI/edit)

- [x] Test comment box @alanmoo
![image](https://user-images.githubusercontent.com/1068783/60610924-e5971c00-9d79-11e9-8df5-055570df281b.png)

[2019-07-03 17:41] rraue commented on #3174
There is a typo in the code, so I see a error in the search console and therefore it won't show up in search. The last element must not end with a ,

[2019-07-03 17:52] alanmoo commented on #3174
Ah, thank you! @rraue It looks like you're opening a PR for that? I saw the error come through my inbox but haven't had a chance to investigate yet, so this is super helpful!

[2019-07-03 18:08] Pomax opened #3366 "clean up <a href="#">"
Under HTML5 rules, the `<a>` element is a purely navigational element, and adding `href="#"` tells the browser to navigatet to the top of the document, which is almost never the intended behaviour when `<a href="#">` is used, so let's find all instances of `<a href="#" ...>` and make sure we replace them with correctly semantically marked up code instead (which will almost always be `<button>`)

M

[2019-07-03 18:27] gideonthomas commented on #3255
whoever takes this on -- can you use [this spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=2085475948) to send GA events?

[2019-07-03 19:35] Sharma-palak commented on #2230
Hi @Pomax , I am new to open source ,can I take this issue

[2019-07-03 19:35] mmmavis opened #3367 "Decide active button's hover state"
When we implemented our button styles I think we only covered "normal" button's hover state.

Using `btn-secondary` as an example, because we didn't override the styling ourselves an "active" `btn-secondary` button's hover state is purple... which is probably not something we want

<img width="272" alt="image" src="https://user-images.githubusercontent.com/2896608/60619792-43cdfa00-9d8e-11e9-8a74-

[2019-07-04 04:18] kristinashu commented on #3165
@alanmoo here are comps for the overview pages. Let me know if you have any thoughts/concerns.
- I haven't mocked up tablet or mobile since the cards should resize the same as our existing cards.
- Blog will not appear in the main nav until we have more posts (people will only discover /blog if they type it in)

### Overview
![](https://s3.amazonaws.com/redpen-prod/red-pen-f9907975-3d42-4650-d6f5-

[2019-07-04 05:04] kristinashu commented on #3365
Draft page is here https://foundation.mozilla.org/cms/pages/433/edit/. @alanmoo can you please add the snippet with comments?

[2019-07-04 05:05] kristinashu commented on #3365
cc @kaili09

[2019-07-04 12:06] rraue commented on #3174
Yes, but I just have the rights to suggest changes, but you took it from there, right? I could work on some extended definitions, as I am dealing with this right now in bedrock anyways: https://github.com/mozilla/bedrock/pull/7364

But one suggestion up front: This piece of code should be just on the homepage, not in the base template. It is not necessary to define it in more than one place, if de

[2019-07-04 15:15] alanmoo commented on #3365
I turned on comments (as optional) in the petition snippet. @stephaniemcv Can check if the comments are there, but it should work fine as we tested comments the other day.

[2019-07-04 15:59] alanmoo opened #3369 "Ensure Organization Schema markup is only on homepage"
**Describe the bug**
From [this comment](https://github.com/mozilla/foundation.mozilla.org/issues/3174#issuecomment-508458669), we should only have the organization schema JSON on the homepage, not every page on the Foundation site. So, we should move that block from the base template to the homepage template.

[2019-07-04 16:08] alanmoo commented on #3174
Great, thanks! I filed #3369, and if you have more to suggest around extended definitions, we'd be open to reviewing PRs- no one on the team has super extensive knowledge in this space, so it would be great to have a conversation.

[2019-07-04 16:21] kristinashu commented on #3365
Since this Amazon petition snippet is shared with the [older Amazon petition page](https://foundation.mozilla.org/en/campaigns/tell-amazon-connected-devices-must-have-privacy-policies/) we should remove the snippet from the old petition and add a _'thank you for signing'_ sentence and link to the new campaign page. @kaili09 before launching the new campaign, could you please update the old campaig

[2019-07-04 16:25] kaili09 commented on #3365
I'm not sure I fully understand but it sounds like the snippet is shared with the petition and this escalation action. Does it make sense instead to actually create a new snippet? I think we want the petition to stay relevant for potential new signers.

[2019-07-04 16:31] alanmoo commented on #3365
Petitions are a type of object in wagtail called “snippets”. They can be attached to multiple pages, allowing someone to sign a petition at 2 different URLs which feed to the same Salesforce campaign on the back end.

1.) should the old petition and new one feed to the same Salesforce campaign?
2.) ...I think this question depends on the answer to the first question.

[2019-07-04 16:36] kristinashu commented on #3365
The second one isn't really a petition. It is being sent to people who have already signed the first petition and is asking them to comment on their response from Amazon. So I would recommend two different snippets.

[2019-07-04 16:39] kristinashu commented on #3365
I'm also realizing that perhaps this should be one multi-page campaign rather than two separate one (sorry Kailie, I realize now that's probably what you had in mind).

[2019-07-04 17:49] alanmoo commented on #3165
1. What's the "see more" button do? Lazy load more?
2. Related, am I correct in assuming that the "See all blog posts" button points to `/blog`?
3. My instinct is to make the "blog" page a generic page type that shows the preview of all its children pages, so that we can use it for other page types like an Advocacy campaigns index. Where does the blue text under each entry come from, and how can w

[2019-07-04 18:21] kristinashu commented on #3165
Yes, it loads another 9 posts below. Example https://thewirecutter.com/blog/.

Yes.

I like the idea of making it work for other pages types but yes, it would be ideal to be able to customize the cards depending on the page type.

Yes, it should be the same as cards from the related posts.

Is this what you mean?
![blog copy 2@2x](https://user-images.githubusercontent.com/1068783/60683581-55c2a200

[2019-07-04 18:28] alanmoo commented on #3165
Exactly. Any concerns with going for that approach?

Regarding the different types, I believe we could embed a check in the page where, if the card is a blog, we show some extra information.

It looks like the blue text is a tag, but what happens when a post has multiple tags? (Consider that authors/site editors can add as many tags as they want).

[2019-07-04 19:10] kristinashu commented on #3365
Does the new ask even need a snippet? I'm wondering if just a google form would work? This way they could attached a screen shot directly in the form rather than having to email it.

[2019-07-04 19:14] kristinashu commented on #3165
No concerns, works for me.

Could it just pull the first tag? I think having one 'category' like tag is more useful and valuable to users than a long list of random tags.

[2019-07-04 19:44] alanmoo commented on #3365
I think that depends what we want to do with the results. Do we care more about measuring highly engaged subscribers or getting the screenshots to do something with them?

[2019-07-04 20:29] mmmavis commented on #3258
@harshs14 thanks for offering help! Feel free to take this on if you are already familiar with the codebase and know how to get the site up and running locally :)

[2019-07-04 22:13] kaili09 commented on #3365
Yes. We want the screenshots but we also want to measure engagement. I
think it should be two snippets on one page with a child page for the
customer service chat. That’s how I had set it up in staging a few weeks
ago although I’m not sure if I actually did use a petition snippet. Thanks!

On Thu, Jul 4, 2019 at 1:44 PM Alan Mooiman <notifications@github.com>
wrote:

--
Kaili Lambe
Senior U.S. Cam

[2019-07-04 22:40] kristinashu commented on #3365
Ok sounds good, it should be set up that way now https://foundation.mozilla.org/cms/pages/435/view_draft/ (I've created two separate snippets but using the same ID).

@alanmoo @stephaniemcv if you could please just make sure the forms are working properly.

[2019-07-05 09:36] Stark-Pramod commented on #3369
@alanmoo ok, I was on this issue better I should complete this.

[2019-07-05 16:46] kaili09 commented on #3365
Thanks @kristinashu! That looks great.

[2019-07-05 16:57] kristinashu opened #3370 "/blog page"
Related design ticket https://github.com/mozilla/foundation.mozilla.org/issues/3165
Related implementation ticket for /blog?tag=[name] #3371
Related blog epic ticket https://github.com/mozilla/foundation.mozilla.org/issues/2797

### The following should follow the same rules as our existing related posts
- image pulled from "promote" tab, if no image than it's the generic m image
- hover states
-

[2019-07-05 16:59] stephaniemcv commented on #3365
I tested form submission and submitted data is landing in SFDC.

[2019-07-05 17:54] kristinashu commented on #3365
w00t!

[2019-07-05 17:54] #3365 closed

[2019-07-05 18:37] kristinashu opened #3371 "Page for /blog?tag=[name]"
Blocked by related implementation ticket for /blog page #3370

Related design ticket https://github.com/mozilla/foundation.mozilla.org/issues/3165
Related blog epic ticket https://github.com/mozilla/foundation.mozilla.org/issues/2797

- styles should follow the /blog page
- should show the number of results and the selected tag (should match the same style as on pulse)
- clicking `clear filter tag

[2019-07-05 18:39] kristinashu commented on #3165
Opened implementation tickets!

[2019-07-05 18:39] #3165 closed

[2019-07-05 20:07] Sharma-palak commented on #3296
Hi @alanmoo ,i am new to open source ,can I take this issue??

[2019-07-05 22:28] TheoChevalier commented on #2645
Pretty sure I synced with you Alan on this at some point, but wanted to make it explicit in this ticket that the approach for ShareProgress should indeed be making the `Share twitter`, `Share Facebook` and `Share email` fields localizable, then we would set up individual buttons for each language in Share Progress. I just had a call with @kaili09 confirming this approach would work for campaigns

[2019-07-05 22:39] kaili09 commented on #2645
It would be great if we could get this working for recently launched campaigns we're planning to localize in the coming weeks (although if that timeline is not feasible, I understand). It's also relevant for our H2 plans as it relates to our team OKRs.

[2019-07-08 09:59] harshs14 commented on #3258
@mmmavis I will try to solve it, I need access to the drive to start working on it

[2019-07-08 15:35] alanmoo commented on #3296
You're welcome to open a PR if the description is clear enough, but I don't have capacity to support figuring out what needs to happen right now.

[2019-07-08 16:40] alanmoo commented on #2645
A note on these petitions right now: The checkboxes don't actually get saved anywhere. If there's going to be a need to make them do something, we're going to have to put some work into that again. Regarding the button fields: that should be eaiser. Let me see what I can do about it getting onto our schedule coming up.

[2019-07-08 16:59] alanmoo opened #3377 "Add localization support for ShareProgress buttons in petition snippets"
**Describe the bug**
We need to be able to add a different URL for each shareProgress button in different languages.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a petition
2. Note the Share link fields aren't localized
<img width="929" alt="image" src="https://user-images.githubusercontent.com/1682681/60828352-2c24b600-a180-11e9-82d4-34a3fae9bfb2.png">

**Expected behavior**
When to

[2019-07-08 17:06] TheoChevalier commented on #2645
Right, I think I confused “checkbox 1 & 2” with the Privacy Policy + email opt-in checkboxes (which are localized).
The custom checkboxes are only used occasionally, so it’s totally fine not to prioritize that

[2019-07-08 18:33] alanmoo commented on #3369
You're welcome to open a PR

[2019-07-08 19:13] alanmoo commented on #3371
This will likely be a part of the same template as the main blog page, as some extra functionality supported by query parameters or something like that.

[2019-07-08 19:14] alanmoo commented on #3370
See also [this issue] for some more functionality that will likely need to get built into this page template.

[2019-07-09 16:20] alanmoo commented on #3357
According to a Slack conversation, Pomax says we can't autogenerate it because the 404 page doesn't get a "page context".

If we can't get a "site context" either (that is, the root page of a site), we may have to hardcode these, but I'd say the first step is to confirm that we don't have access to the top level pages from a 404.

[2019-07-09 17:01] kristinashu commented on #3142
Focusing on the cause sentence here https://github.com/MozillaFoundation/Design/issues/377 and will close this one since is out of scope.

[2019-07-09 17:01] #3142 closed

[2019-07-09 17:29] alanmoo commented on #3255
@mmmavis to chip away at this at the end of the July 19 sprint

[2019-07-09 19:54] sabrinang commented on #3258
@harshs14 I shared the file with you, let me know if you need anything else or if it doesn't work

[2019-07-09 20:43] Pomax commented on #3349
No code required: remember to set a focal point on images. I've added one for the image we were using and it now looks perfectly fine:

<img width="1191" alt="Screen Shot 2019-07-09 at 1 43 31 PM" src="https://user-images.githubusercontent.com/177243/60921524-95272f00-a24f-11e9-8981-55136c3a1171.png">

[2019-07-09 20:43] #3349 closed

[2019-07-09 21:18] Pomax commented on #2863
hmm. @alanmoo @kristinashu I still don't know what the right course of action is here. As far as I can tell there is no way to determine _why_ this happened. I can update the database so that the problem is gone, but it'll be a bit of a manual job, as SQL isn't quite as easy as saying "for every column that ends in 'undercore letter leter', set the value to '' if the value is '<p></p>'" =(

[2019-07-09 21:20] Pomax commented on #2786
@alanmoo this feels like it falls into the "figuring out what data we want for testing" bucket: do we want to stick with the fake data approach we're using now, or do we want specific real pages that we made of the past few months as representative pages for whatever we're trying to test against?

[2019-07-09 21:21] Pomax commented on #2742
This is probably related to https://github.com/mozilla/foundation.mozilla.org/issues/2786 in the sense that we need to figure out whether or not we want "tests" or whether we want an actual real world bannered campaign page to act as our test case.

[2019-07-09 21:22] Pomax commented on #1016
This is probably related to https://github.com/mozilla/foundation.mozilla.org/issues/2786 in the sense that we need to figure out whether or not we want "tests" or whether we want an actual real world bannered campaign page to act as our test case.

Either way, this feels like an issue we should close, as it will pop up naturally in the course of figuring out a new/improved test approach

[2019-07-09 21:22] #1016 closed

[2019-07-09 21:26] Pomax opened #3379 "Remove `featured` property from News model"
Do-over of https://github.com/mozilla/foundation.mozilla.org/issues/721, which ran into enough problems that it's far easier to retry this "fresh" than it is to continue adding to that issue.

[2019-07-09 21:26] Pomax commented on #721
closing in favour of https://github.com/mozilla/foundation.mozilla.org/issues/3379

[2019-07-09 21:26] #721 closed

[2019-07-09 22:28] Pomax commented on #3379
as far as I can tell we already removed all use of the news.featured flag, so the only work left here is a PR that removes the field itself.

[2019-07-10 15:06] Sharma-palak commented on #3296
ok @alanmoo , I want to give it a try.

[2019-07-10 15:55] alanmoo commented on #2863
Do untouched (a page only created in English, with no attention paid to languages) rich text fields still get an empty paragraph tag, or does this seem to be a one-time occurrence?

[2019-07-10 16:16] gideonthomas commented on #2994
@mmmavis is this still in progress (are you actively working on it)? If not, can you move it to Up Next?

[2019-07-10 16:29] alanmoo commented on #2786
For Percy, my instinct is that we should be using a clone of the production database.  @patjouk and I had a conversation around this the other week, and I believe we netted out on "let's see what stumbling blocks we come across in the upcoming weeks and document them, then figure out what approach we should take.

[2019-07-10 16:37] alanmoo commented on #3379
![dragons](https://user-images.githubusercontent.com/1682681/60987370-74bea980-a30f-11e9-9756-9787eb815b19.jpg)

[2019-07-10 16:41] Pomax commented on #2863
they do not, they stay empty.

[2019-07-10 17:54] Pomax commented on #3156
Having a look at the underlying code, I'm not sure why Blog pages don't show the image field - it's part of the metadata, and the inheritance chain for BlogPage, which is lacking that image field, is the same as for PrimaryPage, which _does_ have that image field...

[2019-07-10 18:22] alanmoo commented on #2863
![back-away](https://user-images.githubusercontent.com/1682681/60994197-0b926280-a31e-11e9-9b92-b8b21ff1b1b9.gif)
Maybe it was a one time thing with a weird migration/initial setup of translations? Since we can't replicate it, perhaps we should close it.

[2019-07-11 02:18] gideonthomas opened #3389 "Error when running inv setup"
`UnboundLocalError: local variable 'participate_page' referenced before assignment`

STR: Fresh clone + `inv setup`.

[2019-07-11 16:11] mmmavis commented on #3321
Re-opening as there might be more in line buttons on the site that we need to update style for.

[2019-07-11 17:24] Pomax commented on #2362
closing as duplicate of https://github.com/mozilla/foundation.mozilla.org/issues/1801

[2019-07-11 17:24] #2362 closed

[2019-07-11 19:26] #3389 closed

[2019-07-11 21:00] #3363 closed

[2019-07-15 18:09] Pomax commented on #2863
*poof*

[2019-07-15 18:09] #2863 closed

[2019-07-15 22:02] gideonthomas opened #3419 "Pulse project ordering doesn't work"
**Describe the bug**
This was noticed on the MozFest site. https://www.mozillapulse.org/entry/1200 was a post whose created date was set to the end of the year in the admin interface (so that it would show up first on the site). This worked fine until we hit the limit per page in the API for pulse projects...that post went to the second page and hence no longer showed up on the MozFest site.

Reas

[2019-07-16 16:05] #3419 closed

[2019-07-16 17:04] #3356 closed

[2019-07-16 17:10] kristinashu commented on #3156
@Pomax can you please ping me once this has landed on prod? Then I'll go in and add images.

[2019-07-16 18:54] #3156 closed

[2019-07-16 19:00] gideonthomas opened #3424 "Make the main CTA button for MozFest CMS editable"
<img width="1438" alt="Screen Shot 2019-07-16 at 2 55 15 PM" src="https://user-images.githubusercontent.com/5816130/61321604-e0a28580-a7d9-11e9-9a30-c039165b87e1.png">

We will need to update the text and link of the button on the top-right when ticket sales open up, the schedule goes live, and after the festival.

Alan mentioned that it would be useful to make it CMS editable so that we don't hav

[2019-07-16 20:02] #3157 closed

[2019-07-16 20:06] mmmavis opened #3425 "Fade in/out effect for sticky share buttons on blog page"
Follow-up from PR https://github.com/mozilla/foundation.mozilla.org/pull/3383

Currently we hide sticky buttons on the side when the bottom share buttons are scrolled into the viewport.

From Pomax's [comment](https://github.com/mozilla/foundation.mozilla.org/pull/3383#issuecomment-511958894) in the PR

@beccaklam thoughts?

[2019-07-16 20:06] mmmavis commented on #3425
/cc @Pomax

[2019-07-16 21:08] mmmavis opened #3426 "Rename glyph's classname to something more specific"
Consider renaming glyph's classname to something more specific.

---

https://github.com/mozilla/foundation.mozilla.org/blob/master/source/sass/glyphs.scss

We started this file when Foundation site codebase was small and when we only had a few glyphs. However as our site evolves these predefined glyphs along with their preserved class names (e.g., `twitter`, `email`, etc) and SCSS rules start to

[2019-07-16 21:20] mmmavis commented on #3426
/cc @alanmoo

[2019-07-16 23:24] youriwims commented on #3426
Yessss, this would be awesome! 🙌 Currently, some elements in the profile-edit forms are getting glyphs added to them because of the `.linkedin` classname added via https://github.com/mozilla/network-pulse/pull/1115/files#diff-3844b3fc785c213b24d3f9cdd6964f07L56 (also, twitter & github).

Because of this, I had to do an override [here](https://github.com/mozilla/network-pulse/pull/1115/files#diff-e

[2019-07-17 06:37] Sharma-palak commented on #3079
@mmmavis  ,can I take this issue

[2019-07-17 14:48] beccaklam commented on #3425
@Pomax @mmmavis I can't see staging anymore but fade in/out sounds good 👍 Thanks for catching that Pomax.

[2019-07-17 15:38] Pomax opened #3428 "Add tests for each wagtail block in the customblocks folder"
We implicitly testing wagtail streamfield blocks at the moment, but it would be good to make sure that each block has a (set of?) test(s?) so that we know the code works.

Having said that, some discussion is necessary to determine what "works" means - and which regressions or bugs the tests should be able to catch

[2019-07-17 15:39] Pomax commented on #1801
The refactor part of this work has been resolved, however there is still the question around testing left, for which https://github.com/mozilla/foundation.mozilla.org/issues/3428 has been filed

[2019-07-17 15:39] #1801 closed

[2019-07-17 16:00] alanmoo commented on #3424
@kristinashu Any design requirements for this other than "be able to update the text and the URL"?

[2019-07-17 18:31] kristinashu commented on #3424
Nope but I would like to clarify that this is only for the MozFest site. Buttons on the main foundation site are much more fixed and the average Wagtail staff should not be able to update them.

[2019-07-17 18:31] mmmavis commented on #3079
Hi @Sharma-palak thanks for offering help! If you already know how to spin up the project locally and you think this ticket description provides enough instructions, feel free to take this on!

[2019-07-17 18:35] mmmavis commented on #3425
hey @beccaklam by "staging" you mean "review app"? Review app is the app that's generated with every PR and self destruct when the PR gets merged 😉

Changes have been pushed to **staging** (https://foundation.mofostaging.net). Blog example on staging can be found [here](https://foundation.mofostaging.net/en/blog/amazon-require-privacy-policies-internet-connected-devices/)

[2019-07-17 18:37] beccaklam commented on #3425
@mmmavis Oh I see ... thanks :) Just checked it out. I think fading in/out would be a nice transition effect!

[2019-07-17 18:47] alanmoo commented on #3347
Sorry, just seeing this. This repo is for development of the site foundation.mozilla.org, we don't work on Firefox at all. You might have better luck on Stack Overflow.

[2019-07-17 18:47] #3347 closed

[2019-07-17 19:07] kristinashu commented on #3326
Thank you @fitojb for raising this but [Mozilla Foundation branding](https://foundation.mozilla.org/en/docs/brand/design/Typography/) is different and independent than Mozilla Corporation, Quantum, and Trailhead since we have a different audience and needs.

[2019-07-17 19:07] #3326 closed

[2019-07-17 20:20] mmmavis commented on #3425
I'm gonna move this ticket to this sprint 'cuz I've got a PR up for this already 😉

[2019-07-17 20:45] #3377 closed

[2019-07-17 20:45] mmmavis commented on #3051
Yea I think `novalidate` + some small code changes will fix this issue. @alanmoo if you haven't started working on this I'm gonna re-assign this ticket to myself since I just fixed the same issue on Pulse.

[2019-07-17 20:46] alanmoo commented on #3051
Go for it

[2019-07-17 21:04] alanmoo commented on #3377
@TheoChevalier This has landed on master, will be live by Monday morning EDT, maybe earlier.

[2019-07-18 10:08] #3275 closed

[2019-07-18 12:08] TheoChevalier commented on #3377
Yay! Thanks so much folks!

[2019-07-18 16:00] gideonthomas opened #3433 "MozFest 404 page doesn't work"
**Describe the bug**
We landed a new 404 for the MozFest site (https://github.com/mozilla/foundation.mozilla.org/issues/3275). But, it doesn't seem to work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.mozillafestival.org/en/sdasdada/
2. See the fo'mo 404 page

cc @patjouk who reported it for any more relevant details that I might have missed. and @Pomax

[2019-07-18 17:01] mmmavis commented on #3005
We should consider using dummy form validation: https://github.com/mozilla/foundation.mozilla.org/pull/3430#discussion_r305007499 /cc @gideonthomas

[2019-07-18 17:01] #3051 closed

[2019-07-18 17:16] #3425 closed

[2019-07-18 18:20] kristinashu opened #3434 "Explore next steps for blog"
Create some exploratory mock-ups to help visualize possible new blog features and next steps. This will also to help guide @anilkanji on conversations with program staff.

### Ideas to explore
- Post detail page: add comments
- Featured post thumbnails for:
  - homepage news section
  - /blog featured posts
  - MozFest minsite integration
  - PNI minsite integration
  - OLE page
  - Participation

[2019-07-18 18:27] kristinashu commented on #2845
Update: let's just remove the ability to have multiple quotes in one component.

[2019-07-19 08:41] patjouk commented on #3433
I took a quick look at it and I'm wondering if the site hostname isn't `www.mozillafestival.org` instead of `mozillafestival.org` 🤔

[2019-07-20 16:37] Sharma-palak commented on #3079
@mmmavis  plzz review pull request

[2019-07-22 11:52] Sharma-palak commented on #3079
@mmmavis  plzz review the pr

[2019-07-22 20:22] alanmoo commented on #3424
I'd guess we probably want to use [Site settings](https://docs.wagtail.io/en/v2.5.1/reference/contrib/settings.html) for this.

[2019-07-22 23:27] #3433 closed

[2019-07-22 23:35] Pomax opened #3443 "Add "load more" JS functionality to the listing page"
Related to #3370, the listing page currently does not load X initial results with additional results loaded through a JS-enabled `MORE` button, which for now is fine, but we're going to have more blog posts, as well as other page types, and so it would be useful to think about how we want to deal with large pages (e.g does 200 blog posts as initial view make sense? 30 campaigns might. What about a

[2019-07-23 15:26] alanmoo commented on #3434
Is the goal of this to end up with engineering tickets for the sprint ending August 19?

[2019-07-23 16:30] alanmoo opened #3446 "Shape plan for interactive campaigns"
There are some plans on the horizon for more interactive, slightly more bespoke campaigns than current petitions or pages. Think: interactive components on pages or uniquely designed pages that parody other sites/web apps. We should have an engineering strategy for building these. Obviously we want to host them on the foundation site Wagtail instance, but some things to think about:

* Do we creat

[2019-07-23 21:40] mmmavis commented on #3258
Hi @harshs14 since we haven't heard back from your for two weeks, we are going to take over this ticket :)

[2019-07-23 22:02] #3255 closed

[2019-07-23 22:21] kristinashu commented on #3367
For simplicity I'd recommend we use the same style for "active" state as we do for a button's "hover" state. @mmmavis @sabrinang @natalieworth you ok with that or have another idea?

[2019-07-23 22:24] #3319 closed

[2019-07-23 22:36] sabrinang commented on #3367
Hmm, there won't be much visual difference then if _active_ is the same as _hover_  though?
To keep it with the limited color scheme for light theme, we can consider using $light-blue and for dark theme, we can consider $dark-blue for active states since it's the only other blue that's not being used in each theme. That's the only other idea I have without introducing new colours or shade/tints to

[2019-07-23 22:41] mmmavis commented on #3258
@sabrinang are we supposed to use the 16x16px icons for footer? The ones you included in Google Drive are 24x24. If it's simply scaling the icons down I can just modify the SVG source code so they are set to `<svg width="16" height="16" ...>`. Let me know!

[2019-07-24 15:31] #3258 closed

[2019-07-24 23:23] mmmavis commented on #3311
@beccaklam ^

[2019-07-24 23:27] mmmavis commented on #3311
Closing this ticket.

"Share Button Group" has been added to "dev style guide" (https://foundation.mozilla.org/en/style-guide/). For design details like margin in between two buttons should be x pixels etc I think we should mention them on the brand doc instead (https://foundation.mozilla.org/en/docs/brand/) as they are more of general design guidelines.

[2019-07-24 23:27] #3311 closed

[2019-07-25 12:40] alanmoo opened #3451 "Update NPM watch tasks"
It seems like `chokidar-cli` is no longer maintained and becoming a security concern. Can we use something else for our `npm watch` tasks?

[2019-07-25 16:28] kristinashu opened #3452 "Home is missing from mobile nav"
<img width="686" alt="image" src="https://user-images.githubusercontent.com/1068783/61891395-6b604000-aebe-11e9-9d28-1bddda9a3b13.png">

<img width="422" alt="image" src="https://user-images.githubusercontent.com/1068783/61891421-7b781f80-aebe-11e9-856a-76bbe3c1ebd7.png">

[2019-07-25 16:31] Pomax commented on #3452
the narrow screen container uses `<a class="{% primary_active_nav request menu_root.full_url menu_root.full_url %}" href="{{ menu_root.url }}">{{ root_name }}</a` so it's possible that `root_name` just isn't set

[2019-07-25 16:32] kristinashu commented on #3298
Sorry, I don't think I really answered your question. To close this ticket please:
- [ ] Add a Selected state that looks like the Hover state
- [ ] Update the bar to be white
- [ ] Update the bar to be 3 px
- [ ] Update the bar to be closer to the text

But let me know if any of this would be tough to do!

<img width="398" alt="image" src="https://user-images.githubusercontent.com/1068783/61891546

[2019-07-25 17:59] alanmoo commented on #3452
Doesn't the "Mozilla" logo at the top link to `/`? I can't remember when we'd have had this.

[2019-07-25 18:28] #3323 closed

[2019-07-25 18:45] #3452 closed

[2019-07-25 19:23] kristinashu commented on #3452
Yes but for usability we should still have the word Home in the mobile nav. It is still on https://www.mozillafestival.org/en/.