[2017-04-28 16:53] xmatthewx commented on #340
This all looks good. We don't need to add the sign-up form to this page. It's got plenty of actions for users.

To summarize:
 - [ ] Project thumb and title should link to entry in Pulse (1)
 - [ ] Fix heading hierarchy as described in (2) above
 - [ ] Add "Discover much more..." as in mockup under (3) above. No need to add sign-up form.
 - [ ] Add space on mobile between each category and its 1st

[2017-04-28 16:56] xmatthewx commented on #357
Duplicate. Tracking in #340.

@taisdesouzalessa - you can add copy in that thread.

[2017-04-28 16:56] #357 closed

[2017-04-28 16:59] #140 closed

[2017-04-28 17:19] xmatthewx commented on #359
👍 on proposal 2 and big cards only. Quote signifies we have an interview.

[2017-04-28 17:33] taisdesouzalessa commented on #359
1 exception for this rule: "Karolina Andersdotter" has a quote but no interview. In this case we shouldn't have the "read interview" link on the bottom -or- we make "Karolina" a small card and add another person that has interview as featured.

[2017-04-28 17:45] Pomax opened #363 "rename defaults.env to env.default"
mostly to align it with what we use in network-api - https://github.com/mozilla/network-api/blob/master/env.default

[2017-04-28 18:09] alanmoo opened #364 "Update healthcheck to tell which version of API is being used"

[2017-04-28 18:26] xmatthewx commented on #340
Since a project can have multiple issues attached, there will be duplicates. For now, we can ask admins to check and fix, but we should add some logic now or later.

[2017-04-28 18:43] alanmoo commented on #341
This looks like it contradicts work done for https://github.com/mozilla/network/issues/268

[2017-04-28 18:58] taisdesouzalessa commented on #341
Hey @alanmoo in #268 the ask was to skip one column (left and right) in order to narrow the content of specific pages: "Sign Up", "About", "News" and "Opportunities". Those changes didn't apply to hero (green part on the top of the page) of any page.

[2017-04-28 20:41] taisdesouzalessa opened #365 "Reduce font-weight and size of home page title"
**Issue:** Secondary pages have light font-weight (nice!). Homepage has bold, which is too heavy. It also jumps up to 64px on wide screens, which feels too big.

<img width="1680" alt="screen shot 2017-04-27 at 1 25 07 pm" src="https://cloud.githubusercontent.com/assets/53411/25506844/af7f122a-2b76-11e7-94e9-b7da03a1853d.png">

Matthew's comment:

[2017-04-28 20:42] taisdesouzalessa commented on #360
Closing this issue - font weight discussion in #365

[2017-04-28 20:42] #360 closed

[2017-04-28 21:08] taisdesouzalessa commented on #365
@xmatthewx to address your comment about font size, I did 2 studies:

<img width="1189" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25547181/d67535b8-2c1a-11e7-9feb-4753a586c951.png">

I feel the V2 works better because there is more breathing area and the font-size makes the value proposition more prominent. The first thing users should see is the VP and making the hero s

[2017-04-28 22:21] gvn commented on #19
Ok, this may already work on Windows actually. I have autoprefixing set up as a script:

`"autoprefix": "node scripts/autoprefix.js",`

@Pomax can you verify that this project builds on Windows?

[2017-04-28 23:36] taisdesouzalessa commented on #340
Here is the copy for the remaining 3 issues:

DIGITAL INCLUSION: Projects, articles and tools that promote an open and inclusive internet.
DECENTRALIZATION: A healthy internet needs the collaboration of all of us: big/small businesses and individuals from around the world.
WEB LITERACY: Everyday Internet users should be able to shape their own Internet experience. These projects empower people to

[2017-05-01 16:53] #229 closed

[2017-05-01 16:53] #341 closed

[2017-05-01 18:27] hannahkane commented on #329
estimate assumes this is literally just adding links

[2017-05-01 19:08] #354 closed

[2017-05-01 19:25] alanmoo opened #369 "Look for environment variable, not just configuration file"
Looks like our smoketest isn't pulling from the staging api because of https://github.com/mozilla/network-api/issues/178#issuecomment-298408373

[2017-05-01 19:49] gvn commented on #369
closed by #370

[2017-05-01 19:49] #369 closed

[2017-05-01 20:04] hannahkane commented on #340
@taisdesouzalessa - here are my suggested edits.

If you think these are good, please move to the "Ready for engineering" column.

DIGITAL INCLUSION: Projects, articles and tools that promote an open and inclusive internet.
DECENTRALIZATION: Projects that help ensure that the internet is controlled by many, rather than just a handful of global technology giants.
WEB LITERACY: Projects that empower

[2017-05-01 20:08] taisdesouzalessa commented on #260
@gvn I reviewed this QA since new things happened since I wrote the first ticket.

I edited old requests and added "NEW REQUEST" label to the new ones so you can rethink the estimate if necessary. This ticket is big - let me know if you would prefer if I break it into smaller tickets.

[2017-05-01 20:57] taisdesouzalessa commented on #340
Those work great, thanks!

Here is the comp with updated copy:
https://invis.io/ZJ9YTAGEA#/217251312_Projects-Join-Us-Iteration

[2017-05-01 22:38] taisdesouzalessa commented on #330
@alanmoo when we add the background to the heading section, could we also increase padding top and bottom to 80px instead of the current 24px?

Initially Sabrina designed this heading in a way that the texture goes all the way up to the nav (I am not sure how we can do it):
<img width="515" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25597379/3d1dc5b8-2e83-11e7-8b3a-b8539c

[2017-05-01 22:51] gvn opened #372 "De-dupe Featured Projects"
We need to determine a de-duping strategy for the Projects page.

A couple possibilities:

1. Solve at the administrative level by not featuring projects under multiple issues (or change the order of the featured items).

2. Write code to de-dupe and backfill the results in `network`.

I'd prefer to solve this at the root level with approach 1. Approach 2 is difficult to make bulletproof and is a

[2017-05-01 23:03] gvn commented on #359
Partially blocked by https://github.com/mozilla/network-api/issues/168

[2017-05-02 16:24] gvn opened #373 "Add Upcoming to CMS?"
Right now the Upcoming page is still using static JSON.

Do we want to add the Upcoming model to the CMS?

[2017-05-02 16:24] gvn commented on #373
@xmatthewx ^

[2017-05-02 16:43] taisdesouzalessa commented on #64
In discussion is a separate doc with Matthew. Once we refine the doc with the main event and goals, I'll post it here.

[2017-05-02 18:11] alanmoo commented on #98
@cadecairos most of this is done, just the redirect at /opportunity/ that doesn't...redirect, right? It shows the homepage but the URL remains.

[2017-05-02 18:13] hannahkane commented on #365
waiting on Matthew's response; marking as blocked

[2017-05-02 18:23] alanmoo commented on #372
I'm a bit confused as to what's broken that we're trying to solve in point 1. The way the pulse API works currently is that entries (projects) are the main model, and they can be featured or not featured. Similarly, they can apply to one or many Internet Health Issues. Therefore, fetching featured entries by issue behaves as expected. Are you suggesting that we disallow selecting multiple issues f

[2017-05-02 18:31] gvn commented on #372
I'm suggesting we don't add a bunch of extra business logic as middleware on `network` when we should look at returning/fetching data in a way that precludes it.

[2017-05-02 19:35] hannahkane commented on #372
I agree with @alanmoo that it sounds like this is the expected behavior; it's important that we're able to associate entries with multiple issues, for discoverability and tracking reasons.

I understand why @gvn would want to solve this within Pulse, though, rather than on the Network site.

Is it possible that the best solution is actually a design solution? Should we reconsider how we're present

[2017-05-02 19:52] #359 closed

[2017-05-02 23:50] taisdesouzalessa opened #379 "Shrink logo to [m] on small screens"
**Issue:**
Currently our users that are viewing the site from iPhone 4 or 5 see the website as displayed below:

<img width="716" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25643834/cc7f76b0-2f56-11e7-8f28-2c4d0605d823.png">

As you can see there, the logo and CTA "Get Involved" are too close.

**Proposed solution:**
We could use just the "M" for mobile view, as seen in h

[2017-05-03 00:57] xmatthewx commented on #373
I don't think we should do that right now. This page makes less sense now that we have a mature set of Get Involved features.

[2017-05-03 01:20] xmatthewx commented on #356
Let's proceed with "Latest from the Network"

[2017-05-03 01:36] xmatthewx commented on #365
This ticket is covering a few overlapping issues.

 - [ ] font weight should be light, not bold on homepage (and all headings). this is a brand bug.
 - [ ] line height should be increased so that highlight always has space between lines. this is a brand bug on the homage (and potentially all headings)
 - [ ] let's unify page hero's and headings, including homepage. we're adding complexity without

[2017-05-03 13:41] #309 closed

[2017-05-03 13:55] alanmoo opened #380 "MomentJS warning on `npm start`"
If you keep an eye on the console, MomentJS gets upset when the project is starting up.

[code]

Let's figure out why

[2017-05-03 13:57] #358 closed

[2017-05-03 14:31] cadecairos commented on #98
This is done.

I used Cloudfront behaviours and S3 Redirect rules to implement the desired redirection.

[2017-05-03 14:31] #98 closed

[2017-05-03 16:51] gvn commented on #372
To be clear, I'm not saying that the API is "broken". This is absolutely expected behavior.

However, aside from requiring a hacky implementation, option 2 makes it unclear to an administrator what projects will actually show up in Network (and where). They'll have to follow a flow chart versus having a clear correlation between their choice and what is shown.

Are we OK with projects falling arbi

[2017-05-03 17:00] gvn commented on #372
One possibility: If we can set the order of the projects under each issue, then we can remove the "featured" flag from the query and there will be a clear order to the items shown in Network.

[2017-05-03 17:34] gvn commented on #373
Should we leave this ticket open and Icebox it, or is that page going away?

[2017-05-03 17:47] #340 closed

[2017-05-03 18:46] alanmoo commented on #372
As we realized on the stand today, this still doesn't quite solve the problem, especially if we deploy when a new entry has recently been submitted with all issues checked.

Pulse's API was designed to be very minimally curated; users and admins can categorize content while admins can "feature" certain entries. That's it. Everything in the API is related to showing entries based on filtering of th

[2017-05-03 19:09] taisdesouzalessa commented on #365
I'll use this ticket for issues number 1 and 3 (and partially number 2). I'll create another ticket for the line height of all the other pages than home.

@gvn here are the specs, following Matthew's recommendations:
<img width="1252" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25676989/0d3a1af0-2ff9-11e7-9b3c-86cc3204ffe0.png">

For tablet I think we should have the title

[2017-05-03 19:18] taisdesouzalessa opened #381 "Tweak line height in headings (all pages other than home)"
Line height should be increased so that highlight always has space between lines.

Example:
<img width="650" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25677331/6d3fa0b8-2ffa-11e7-8ea5-b33cc4ba0c54.png">

[2017-05-03 19:21] taisdesouzalessa commented on #381
@gvn this issue seems like a minor tweak in the css: ".h1-white" class. I could change it locally here and push it to GitHub for review. What do you think?

[2017-05-03 20:48] gvn commented on #381
Sure! Feel free to make PRs whenever you like!

[2017-05-03 22:14] hannahkane commented on #372
I'd like to re-raise my design question from above. Is there a reason we're creating different layouts for the Pulse homepage and for the Projects page on the Network site? It seems to me the added value we get from the Projects layout if we have space to explain what the five issue areas are, but couldn't we solve that problem in another way?

[2017-05-03 23:21] alanmoo commented on #372
I believe the design reasons revolve around the purpose of the page, which feels to me like "here are our five issues in one spot" as a primary purpose, and "some associated projects" as a secondary. On Pulse, it's more about "find projects related to this issue" and you have to toggle between the issues to see everything.

[2017-05-03 23:58] xmatthewx commented on #372
Thanks all for the discussion, and for moving forward with the implementation despite incomplete information.

**In the future**, we will have a dedicated Editor-in-Chief of site content. This person might want A) explicit control over projects featured on the network site's project page. If that's the case, we'll want them to specify IDs of specific projects in the CMS. The Editor might not want

[2017-05-04 16:33] #356 closed

[2017-05-04 16:33] #180 closed

[2017-05-04 16:49] gvn commented on #372
The desired functionality makes sense.

I'm still against adding hacks, but will do so if we can't/won't solve this at the API level. My ask is that we create a follow-on ticket to refactor this properly in the future.

[2017-05-04 17:01] Pomax opened #386 "Opening the menu introduces inactive scrollbars"
Seeing this both on Firefox and Chrome:

![scrollbars](https://cloud.githubusercontent.com/assets/177243/25715540/a7bb2ac6-30b0-11e7-8c99-731d776cb20c.gif)

[2017-05-04 17:07] taisdesouzalessa opened #387 "QA - Projects Page - little tweak"
This ticket is related to number 2 issue from this ticket:  #340

- [x] One thing is missing:
For the cards we have to implement the same classes as in the home page (People box) - "h5-black"

FROM:
<img width="284" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25715159/60feffaa-30af-11e7-8645-1c9769ec4068.png">

TO:
<img width="297" alt="image" src="https://cloud.githubuser

[2017-05-04 17:17] Pomax commented on #19
This seems to work well, although do we want to rely on a separate script, rather than the pure npm modules solution used in pulse?

[2017-05-04 17:24] #19 closed

[2017-05-04 17:27] Pomax opened #388 "replace scripts/autoprefix with browserslist in package.json"
based on https://github.com/MozillaFoundation/mofo-standards/issues/30 it's probably worth replacing the `scripts/autoprefix.js` file with a package.json `browserslist` section, so that we don't need the separate file to make postcss behave.

[2017-05-04 17:38] #381 closed

[2017-05-04 17:58] alanmoo opened #390 "Add CSP Meta tag"
@cadecairos Any more details required?

[2017-05-04 18:01] cadecairos commented on #390
Handy Firefox addon helps you generate CSP for a site: https://addons.mozilla.org/en-US/firefox/addon/laboratory-by-mozilla/

[2017-05-04 18:17] hannahkane commented on #386
solution: set overflow: hidden on the body of the page; leave the nav scrollable

[2017-05-04 18:32] hannahkane commented on #352
Closing, but @taisdesouzalessa will keep the maintenance of the IA map as a personal TODO

[2017-05-04 18:32] #352 closed

[2017-05-04 18:43] hannahkane commented on #347
Iceboxing, wait and see if this is an issue for people

[2017-05-04 18:46] hannahkane commented on #346
Noting we have a ticket for the CSP meta tag (#390)

@cadecairos - can you please file add'l tickets as needed? Thanks!

[2017-05-04 18:59] hannahkane commented on #301
Can we move this ticket to the mofo-bootstrap or mofo-design repo, and discuss in the context of all mofo web properties?

[2017-05-04 19:08] cadecairos commented on #346
At this time, we'll only be able to implement the CSP header in #390, because S3 powered websites lack the ability to add HTTP headers. I'm working on getting access to a new AWS feature called Lambda@Edge that will let me write middleware code which can add Headers to Cloudfront responses on the fly.

[2017-05-04 19:14] cadecairos opened #391 "add contribute.json"
https://wiki.mozilla.org/Security/Guidelines/Web_Security#contribute.json

[2017-05-04 20:30] taisdesouzalessa commented on #379
Asked Yuliya in Slack and we are good to use the logo as in "mozilla.org", yay! I'll give this an estimate of 1 for design and I assume it is +1 for engineers? @gvn @alanmoo feel free to add more points to the estimate.

cc: @hannahkane

[2017-05-04 22:13] #388 closed

[2017-05-04 22:18] taisdesouzalessa opened #393 "Bugs in Prod"
1. NEWS PAGE - "This encryption tool can make you smile" news links to a German link - title should also be in German to set the proper expectation: https://www.wired.de/collection/tech/dieses-verschluesselungs-tool-laesst-eure-texte-laecheln

2. PEOPLE PAGE  - The Featured Cards have icons but the links don't work in DESKTOP - work on MOBILE (also there is no "Read Interview" link - is this still

[2017-05-04 22:22] taisdesouzalessa commented on #393
@hannahkane not sure which ones are priority to fix here. Could you help me to sort those out?

[2017-05-04 22:27] hannahkane commented on #393
Thanks, @taisdesouzalessa.

I just addressed 1 in the CMS, but now I'm wondering if I followed the right protocol. @alanmoo - can you please advise? Was it ok for me to go into prod admin and make that change directly, or should I have done that in staging admin first?

2 definitely seems important. @taisdesouzalessa - can you pull that out into a separate ticket?

3 - good catch! @taisdesouzaless

[2017-05-04 22:37] taisdesouzalessa opened #394 "People Page - social media icons bug"
Featured Cards have Social Media  icons (LinkedIn and Twitter) but the links don't work when clicked on DESKTOP view - they work on MOBILE view though.
GIF showing the issue:
![bug-people-desktop](https://cloud.githubusercontent.com/assets/22157921/25817068/0c31fa16-33db-11e7-83a9-0baf1ae596f1.gif)

[2017-05-04 22:39] taisdesouzalessa commented on #394
@hannahkane here is the ticked for the People Page bug

[2017-05-04 23:13] Pomax commented on #386
it's actually kind of handy to still be able to scroll the body, in this case the solution more feels like setting `overflow: hidden` on the menu overlay instead.

[2017-05-04 23:14] taisdesouzalessa opened #395 "Support Page - add links - bug"
According to #127, the intent was to replace the single "SEE GRANT PROJECT EXAMPLES (NYC/CHICAGO)" with three separate lines. See funded project examples from Hive NYC, See funded project examples from Hive Chicago, and See funded project examples from Hive Toronto.

<img width="795" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25728553/b6b03010-30e4-11e7-83d5-fed3e370ee6c.

[2017-05-04 23:46] taisdesouzalessa opened #397 "Upcoming page - bug"
"Mozfest" is marked as "November 2017" when actually is "October 2017"

<img width="1068" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25729272/2ee1985e-30e9-11e7-8a3e-75188a843254.png">

[2017-05-05 00:02] taisdesouzalessa commented on #393
Status:
- tickets and PRs filed for 3 (#395) and 4(#397).
- separate ticket filed for 2: #394

[2017-05-05 14:17] #397 closed

[2017-05-05 14:22] alanmoo commented on #393
That's the right approach- it'll be auto deployed to staging so you can see the effect of the changes, and then we can promote staging to production when it's ready.

[2017-05-05 17:24] hannahkane commented on #393
ok, thanks, @alanmoo. On staging the headline looks....German. So, good to go whenever the next push to prod happens.

[2017-05-05 17:24] hannahkane commented on #393
Closing this ticket, since everything is addressed in one way or another.

[2017-05-05 17:24] #393 closed

[2017-05-05 18:18] xmatthewx commented on #365
If we aren't already checking for touch devices, let's drop the 12 column width style for those devices and just do 6 column based on screen size.

[2017-05-05 19:45] xmatthewx commented on #373
Let's icebox. Wait and see.

[2017-05-05 20:38] xmatthewx commented on #372
At the API level, I guess the solution would be ?issue=sampler-plate 🍽.  As we merge backends, I don't have a strong opinion of where we put the logic.

[2017-05-05 20:39] xmatthewx commented on #301
works for me.

[2017-05-05 21:05] #395 closed

[2017-05-05 21:18] alanmoo opened #400 "Images in custom pages should automatically be responsive"
Because users can embed images in custom pages, these images should be [responsive](https://v4-alpha.getbootstrap.com/content/images/#responsive-images) by default. What this means is we need to add `height: auto` to all images in custom pages via CSS targeting. (I solved this temporarily on the fellows page by editing the source of the content but this isn't an appropriate long-term solution.)

[2017-05-05 21:19] hannahkane commented on #301
https://github.com/MozillaFoundation/Design/issues/233

[2017-05-05 21:19] #301 closed

[2017-05-05 21:25] xmatthewx commented on #394
icons for what? social?  I haven't checked, but it's possible interview links are ready, bjut just need some urls in the cms.

[2017-05-05 21:29] taisdesouzalessa commented on #394
Social icons. I edited the ticket to add some clarity.

[2017-05-05 21:54] taisdesouzalessa commented on #260
I could do some of those edits myself in the CMS. Reorganized the list - Engineers can focus only in the "TO DO LIST - UPDATED".

[2017-05-05 22:48] hannahkane opened #402 "Copy change: "Support" -> "Get Involved""
Request is to change the name of this Nav item/page to better signal the kind of engagement we're looking for.

[2017-05-05 23:08] hannahkane opened #403 "Graphic for soft-launch email"
We don't necessarily need to do this, but if there's time, it might be nice to include an image in the email that's going out to soft-launch the site. Final copy TK.

[2017-05-05 23:32] taisdesouzalessa commented on #343
Matthew, I took a look at the existing sites of the examples you mentioned above and placed them in a scale of complexity (I find this scale a bit subjective, let me know if you agree with the order I placed there):

<img width="613" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25767603/d3ca0934-31af-11e7-8d45-56adf52b72f7.png">

I think these nav components would work well

[2017-05-06 03:19] hannahkane commented on #191
@xmatthewx - what's the blocker on this?

[2017-05-06 04:13] acabunoc commented on #191
Video on YouTube: https://www.youtube.com/watch?v=quKdaqlR_9w&feature=youtu.be

[2017-05-06 18:50] acabunoc commented on #391
I did _not_ know this was a standard! Interesting...

[2017-05-08 14:35] #387 closed

[2017-05-08 14:42] #365 closed

[2017-05-08 14:58] xmatthewx commented on #191
CMS was originally set to sanitize html, stripping iframe tags. Likely updated to now allow this. Give it a try.

[2017-05-08 15:12] gvn commented on #394
Interview links may not have been added to the CMS yet, but the functionality to display them is in the code.

[2017-05-08 15:39] #212 closed

[2017-05-08 18:07] sabrinang commented on #402
related to ticket https://github.com/mozilla/network/issues/322

[2017-05-08 18:25] hannahkane commented on #402
@hannahkane to discuss with stakeholders - implications include a) longest string in nav menu; b) page already has "Get Involved" button on it

[2017-05-08 19:03] taisdesouzalessa opened #404 "People Page - "Read Interview" link bug"
We don't have the "Read Interview" link on Featured Cards.
Is this still blocked by mozilla/network-api#168?

[2017-05-08 19:04] taisdesouzalessa commented on #404
@gvn's comment from #394 (transferring it to this issue):

[2017-05-08 19:40] xmatthewx commented on #404
Unless I'm mistaken, the field for interview URL in production admin does not yet exist. This cms work might not be complete.

When that's updated, we can link from Kylee to her [interview](https://storyengine.io/stories/digital-inclusion/kylee-durant/) to test.

@alanmoo – can you take a look?

[2017-05-08 19:42] xmatthewx commented on #402
I don't think the string is tooooo long. Just mentioned for estimation.

[2017-05-08 22:42] sabrinang commented on #402
Just pointing out another area we also use this language on our site and that it could cause confusion on what the nav item leads too:
![screenshot-get-involved-language](https://cloud.githubusercontent.com/assets/2492510/25828351/9977cb48-3404-11e7-929a-a3d3de6de15a.jpg)

[2017-05-08 22:55] alanmoo commented on #404
This is live on [dev](https://network-dev.mofostaging.net/people/), so we just need the back end deployed tomorrow.

[2017-05-08 23:16] xmatthewx commented on #343
Thanks. Do you have a preference? I'd like to introduce one pattern only, v1 or v2.

I think v1 is more flexible and less ambiguous. It's also useful for simpler, less content. Example: fellow has a page about their project with some support pages or resources. A list of pages feels right, a horizontal nav could feel wrong. v1 can also handle longer page titles by net members.

Is it a common patt

[2017-05-09 00:02] sabrinang commented on #143
<img width="1434" alt="copy and emoji iteration" src="https://cloud.githubusercontent.com/assets/2492510/25830074/4d22625c-340f-11e7-94ff-41961c7df26f.png">

Continued iterating on the left aligned text layout with new emoticon + copy pairings.

[2017-05-09 13:43] alanmoo commented on #404
This has been deployed, so interview links can be added in the CMS and will automatically show up on network.mofostaging.net until we start a production build.

[2017-05-09 14:10] gvn commented on #404
We can probably close this unless you're waiting to verify on staging.

[2017-05-09 14:11] #394 closed

[2017-05-09 15:00] xmatthewx commented on #379
@hannahkane @gvn @alanmoo @mmmavis  – we should confirm estimate on this. Moving to top of backlog if someone has bandwidth. Requires file prep by a designer first.

[2017-05-09 15:09] alanmoo commented on #379
Can we use the file from mozilla.org?

[2017-05-09 16:28] hannahkane opened #407 "How will Global Sprint show up on the site?"
The [Global Sprint](https://mozilla.github.io/global-sprint/) (June 1 and 2) is a key moment for the movement. How will the Sprint show up on the site?

Can we capture the thinking that's already been done about this, and brainstorm new ways it will show up?
 - [ ] "Latest from the Network" - blog post about the Sprint could be in the Featured spot in the week leading up to the Sprint, and a summa

[2017-05-09 16:29] hannahkane commented on #407
cc @zee-moz @xmatthewx

[2017-05-09 16:35] taisdesouzalessa commented on #379
The Network site's logo is a little bit bigger than mozilla.org's logo. I recommend we use an "m" with the same height as our Network site logo. I can save it as svg.

[2017-05-09 18:48] taisdesouzalessa commented on #379
Here is the SVG file for the "m" (I optimized the original svg to decrease file size): https://drive.google.com/a/mozilla.com/file/d/0B3b1KWRwjxtoelFqOFFFa01rVEk/view?usp=sharing

The current height of the full version of the logo is 28px. We should keep it the same for the short "m" version.

[2017-05-09 21:06] #364 closed

[2017-05-09 22:18] sabrinang commented on #403
Is there more details on how this email is built or sent? Can we have a template like this (similar to some of the recent mozilla emails sent out):
![email example](https://cloud.githubusercontent.com/assets/2492510/25875014/395b6794-34ca-11e7-8091-7e7e5e790158.png)

Would we want the image in graphic to have any copy on it? Also, if there is any copy known for this email that can help inform the

[2017-05-09 23:03] taisdesouzalessa commented on #343
Hey Matthew!

I agree with you that V1 is more flexible and clear. I prefer the left aligned section as a secondary menu for the same reasons you pointed out above. To add to that, I think that this structure also helps to differentiate primary and secondary menu.

Answering your question if this is a common pattern: yes. I collected some examples here: https://docs.google.com/a/mozilla.com/presen

[2017-05-10 00:47] hannahkane commented on #403
@stephaniemcv - can you please advise on what we can do in terms of the template for the Network emails? See @sabrinang's questions above. Thanks!

[2017-05-10 16:16] xmatthewx commented on #343
Great. Let's proceed with v1, drop v2.

Sub-nav:
 - I think `Menu ▽` works well. I don't think you need to do a big investigation. I like Slack's implementation the best.
 - I propose that we follow the material design pattern for [expansion panels](https://material.io/guidelines/components/expansion-panels.html#) instead of pop-over select box.

User case:
 - For simple, we should go way simpler,

[2017-05-10 16:22] xmatthewx opened #410 "Add link from Profile to Project"
Most of the People profiled on the site will have a project in pulse. We should design and build a link from the profile card to projects. Maybe something like.... Working on: project title as link

[2017-05-10 16:48] taisdesouzalessa commented on #335
@hannahkane do you think we could add this issue to our queue? Not sure about the priority in comparison with other issues but it would be nice to get a fix for it.

[2017-05-10 16:55] hannahkane commented on #335
@taisdesouzalessa - will you bring this up at stand today? I think this can be a team decision.

[2017-05-10 17:03] taisdesouzalessa commented on #335
Yes, I can do that! Thanks, Hannah.

[2017-05-10 18:12] sabrinang commented on #143
@xmatthewx Design reivew?

[2017-05-10 20:41] xmatthewx commented on #407
Thanks @hannahkane for kicking this off. We should definitely create a landing page, even if it's a simple overview that repeats the main page on the Github site. And queue up some news and at least a basic get involved (if not the main box). I'd like to link to the global sprint tag in Pulse (instead of or in addition to the github links ... seems more friendly for a broader audience).

As mentio

[2017-05-10 20:41] xmatthewx commented on #407
cc @acabunoc @auremoser

[2017-05-10 20:50] xmatthewx commented on #143
Looks good. Let's go with iteration 7, in color. Copy:

Uh oh!
Sorry, the page does not exist.
Contact us or...
`Go to Home Page`

[2017-05-10 20:53] acabunoc commented on #407
If it helps, the 'featured projects' tab on the global sprint site is populated 'mozsprint, 2017' tags

https://api.mozillapulse.org/entries/?search=mozsprint+2017

[2017-05-10 21:37] stephaniemcv commented on #403
@sabrinang the email is being sent from our Salesforce Marketing Cloud Platform.

We can do something similar, here's more details about the current template.
Body Font: Geneva, Tahoma, Verdana, sans-serif;
Body Font color: #555555
Title Font color: #464646
Body Button & Link color: #0c99d5 (we could make the case to change the button color, but text links can't change)
Background color: #e1e1e1 (

[2017-05-10 21:42] hannahkane commented on #403
Thanks, @stephaniemcv.

Good point re: this isn't exactly a newsletter. Maybe I've confused this issue by asking for a graphic.

I just put the nearly-final copy into the [RASCI doc](https://docs.google.com/document/d/1tF1QFDSBJ9U4tv6Es8_tpDp-EiZREB1XKSBvKuaLZQM/edit). Would love your recommendation about the best way to treat this from a design perspective.

[2017-05-10 23:42] sabrinang commented on #143
Updated copy:
<img width="954" alt="error 404" src="https://cloud.githubusercontent.com/assets/2492510/25925563/37630972-359e-11e7-881d-e46aa212dcf2.png">

svg or png asset exported here: https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_eTFNsaVpVZlhiY2M

[2017-05-11 01:23] hannahkane commented on #402
@xmatthewx @sabrinang - what do you think about changing the yellow button to "Get Connected", keeping "Get Involved" for the homepage, and renaming the Support page "Get Involved"?

[2017-05-11 12:29] hannahkane commented on #329
OK, we don't have pages for "name the network" or "help us build the site", so I'm going to make a call and say we should remove those CTAs.

I think we can remove the whole paragraph. The paragraph before flows nicely into the paragraph that follow.

We do need an update to the last paragraph. Rather than saying "mid-2017" let's say, "the coming months."

Updating original comment and moving to e

[2017-05-11 12:41] hannahkane commented on #343
If it's useful to look at more examples, I would add two active examples from the Learning site:
 * The "Mozilla Curriculum Workshop (MCW)" has a [landing page](https://learning.mozilla.org/en-US/community/curriculum-workshop) with info about the upcoming episodes, and archives (scroll to bottom). The content is updated quarterly or more.
 * The [Gigabit section](https://learning.mozilla.org/en-US

[2017-05-11 13:34] xmatthewx commented on #343
Yes, and yes. I think the pages for both of these things become simpler and focused on general info, and their active content gets integrated with News, Get Involved, Projects. For people interested in online privacy, Gigabit, Austin, and MCW, are arbitrary boundaries.

As you're hinting, I'd wager that there are more people interested in the Aug 10th discussion on Online Safety Resources for Lear

[2017-05-11 13:40] xmatthewx commented on #329
Hannah, as this was authored by Mark, I propose we either run this by Jesse, or that we remove the links but keep the paragraph.

👍 to "the coming months"

[2017-05-11 13:56] xmatthewx commented on #402
I'm cool with Get Involved for the Support page. Agree that we need to revisit the button. I'd like to loop in Jesse for the final call.

Context: MoFo was doing a dance to avoid the word Join because we had uncertainty around the notion of membership. Personally, I think we can still work to clarify membership and use the word join.

I know the dance has been tiring, but it's complicated and this

[2017-05-11 16:33] xmatthewx commented on #143
@gvn @alanmoo do you have an idea of how we want to approach this? See Cade's [comment above](https://github.com/mozilla/network/issues/143#issuecomment-297445566).  If so, could we label this as help wanted?

[2017-05-11 16:49] alanmoo commented on #143
Yup, should just need an error page generated in this repo, as he suggested.

[2017-05-11 18:21] xmatthewx commented on #410
@sabrinang this could be a good ticket for you. Light exploration of a couple of options.

[2017-05-11 18:59] hannahkane commented on #402
All of these options actually feel more burdensome than I think we need to be. As we state on the page itself, what the user is actually doing here is "Signing up for opportunities and news related to a healthy internet."

Could we use "SIGN UP" until we have a more precise/meaningful definition of joining?

[2017-05-11 20:06] sabrinang commented on #403
Ideas for email (hero or column image):
![email-examples](https://cloud.githubusercontent.com/assets/2492510/25968421/487c328a-3646-11e7-8624-f7524d8c7b60.png)
Body Font: Can we change to another sans-serif such as [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)? I know e-mail type is very particular.
Body Font color: #000000
Title Font color: #000000
Body Button: #FFED00 (yellow)
Lin

[2017-05-11 20:28] taisdesouzalessa commented on #343
"Mozilla Curriculum Workshop (MCW)" page has an interesting design challenge I didn't think about yet: the Etherpad is attached to the page. I'll keep this in mind for the future, as we evolve those pages. Thanks for bringing up those examples, Hannah.

[2017-05-11 20:36] hannahkane commented on #403
I really love the hero version, @sabrinang. I think it does a nice of conveying the people-focus, and doesn't seem too newsletter-y to me.

Curious what others think, though. Perhaps @Lottarao will want to weigh in?

[2017-05-11 20:53] stephaniemcv commented on #403
I am also a fan of the hero version.

I was referring more to the style of separate content blocks, that's more used in newsletters so different articles have their own section. What you've put together looks great for non-newsletter content!

[2017-05-11 22:34] xmatthewx commented on #343
We won't support that at this stage. We can, however, see if the CMS offers buttons in the wysiwyg so that people can include a prominent link to their pads.

Users can insert an iframe for youtube videos and other rich content. If there's way to do that with pads, that's great. The cost otherwise outweighs the benefit.

[2017-05-11 22:46] hannahkane commented on #343
Just a note that it was considered a key requirement when we created the page to have the video and the etherpad on the same screen. Maybe that's changed, but probably worth a discussion with stakeholders.

[2017-05-11 23:07] hannahkane commented on #329
@Lottarao is running this by Mark

[2017-05-11 23:14] xmatthewx commented on #343
We can file that in a new ticket. The scope here is to look at the simplest solution that serves a broad set of use cases, for internal initiatives and use by the network. We have a lot more to build out in basic CMS functionality before we start building unique features like that.

[2017-05-11 23:24] xmatthewx commented on #402
I am open to `Sign Up`. The case against it was that it signals newsletter rather than "give us your email so you can get more involved via events, projects, etc, etc."

[2017-05-12 14:53] WillatMozFdn commented on #403
Big fan of the hero version over here too ... the hexagon just isn't doing it for me.  :-)

One note -- if you want to use a different font, that's highly discouraged under our new template guidelines.  You could ask Michele (who heads up the LCM team) for an exception to that rule, but ... I think you'd have to have a really really good reason....

[2017-05-12 18:34] sabrinang opened #411 "Build 404 Page"
**Mockup**
![error 404](https://cloud.githubusercontent.com/assets/2492510/26011422/e3c5e53c-3705-11e7-9d2a-9f00b3871e4d.jpg)
.sketch file on gdrive updated: https://drive.google.com/a/mozilla.com/file/d/0B3b1KWRwjxtoVW5TeTVfM2VDYlk/view?usp=sharing

**Copy**
Title: Uh oh!
Subtitle: Sorry, the page does not exist.
Body copy: Contact us or...
Button: `Go to Home Page`

**Graphic**
.svg or .png asse

[2017-05-12 18:35] sabrinang commented on #143
Thanks for all the feedback! 👍 Closing this ticket and engineering discussions can be continue on https://github.com/mozilla/network/issues/411

[2017-05-12 18:35] #143 closed

[2017-05-12 19:55] sabrinang commented on #403
Thank you all for the feedback and using the original Geneva typeface sounds good to adhere to template guidelines:
![network email](https://cloud.githubusercontent.com/assets/2492510/26012710/4dd30c08-370a-11e7-89b8-0e269e2c6a54.png)
Body Font: Geneva, Tahoma, Verdana, sans-serif;
Body Font color: #000000
Title Font color: #000000
Body Button: #FFED00 (yellow)
Link color: #0c99d5 (text links can'

[2017-05-12 19:59] taisdesouzalessa commented on #64
Closing this ticket - creating a new one with simple events to track at this first stage.

[2017-05-12 19:59] #64 closed

[2017-05-12 20:03] taisdesouzalessa opened #412 "Analytics: identify mvp events to track"
TASK:
identify 10 or less simple events to track in the Network site. Matthew and I discussed those events and I'll prepare a list based on that conversation and post it here.

Conversation started on #64

[2017-05-12 20:24] hannahkane commented on #403
Nice, @sabrinang!

I'm going to close this issue.

[2017-05-12 20:24] #403 closed

[2017-05-15 16:59] hannahkane commented on #402
@jessevondoom - alright if we assign this ticket to you? Let's have a conversation about the options Matthew has laid out and see if we can temporarily unblock us, and clarify the larger issues hinted at here.

[2017-05-15 17:35] #372 closed

[2017-05-15 17:36] xmatthewx commented on #372
💥 thanks for the speedy work on this.

[2017-05-15 18:10] #349 closed

[2017-05-15 19:29] flukeout opened #413 "QA > Karolina's Twitter Link doesn't work"
On the People page, this twitter icon doesn't link to anything...

![image](https://cloud.githubusercontent.com/assets/25212/26075425/1a1175c8-396a-11e7-8e46-d350028299c3.png)

[2017-05-15 19:43] flukeout opened #414 "QA > Link to learning site has a hardcoded locale, we don't need it"
On the Support Page, under Local Organizing...

![image](https://cloud.githubusercontent.com/assets/25212/26075963/0071dcdc-396c-11e7-8255-671ca0216c68.png)

[2017-05-15 19:46] flukeout opened #416 "Kevin is the best (doube--dashes)"
On the About Us page. Look at all -- those -- double dashes. With spaces around them.

* Please use ``&mdash;`` in the markup, and ditch the spaces around them.

![image](https://cloud.githubusercontent.com/assets/25212/26076060/5cd9c002-396c-11e7-904d-985ce136e03a.png)

cc @KevZawacki

![image](https://cloud.githubusercontent.com/assets/25212/26076114/8002c4c0-396c-11e7-8853-644dd9599bd6.png)

![

[2017-05-15 19:50] flukeout opened #417 "QA > Add a 404 page"
Currently when I browse to a 'bad url', it looks like i get the homepage?

![image](https://cloud.githubusercontent.com/assets/25212/26076260/03696508-396d-11e7-91f0-c328c6c56947.png)

[2017-05-15 19:58] xmatthewx commented on #417
depends on 404. tracking here #411.

[2017-05-15 19:58] #417 closed

[2017-05-15 20:00] flukeout opened #418 "QA > Don't hard-code the Menu label into the .svg image"
The hamburger has the word menu in the SVG, which will be hard to localize...

![image](https://cloud.githubusercontent.com/assets/25212/26076718/85bb3c24-396e-11e7-9fce-2c215ee6d37c.png)

[2017-05-15 20:19] flukeout opened #419 "QA > Link Supporter Org Logos"
At the bottom of the About page there are a bunch of logos, I think they should be clickable...

![image](https://cloud.githubusercontent.com/assets/25212/26077504/1acd165a-3971-11e7-82d4-f6243c39f712.png)

[2017-05-15 20:21] flukeout opened #420 "QA > "Curious of..." sounds weird, change to "Curious about...""
In the we'd love to hear from you section, it sounds a bit strange and I think its a fringe usage to pair "of" with "curious"...

![image](https://cloud.githubusercontent.com/assets/25212/26077563/5d81bf50-3971-11e7-9e6e-2a84ca524c30.png)

cc @KevZawacki what do you think about this one -- I'm curious of your thoughts.

[2017-05-15 20:22] flukeout opened #421 "QA > Extremely faint underline on hovered items in Main Menu"
It's pretty hard to see the underlines when you hover the items...

![image](https://cloud.githubusercontent.com/assets/25212/26077621/89a0ee58-3971-11e7-946a-2869d4ac258b.png)

Consider removing the underline or making it brighter? cc @taisdesouzalessa @sabrinang

[2017-05-15 20:23] KevZawacki commented on #416
Humiliating. Will "em it" going forward, as they say. At least I didn't use tildes.

[2017-05-15 20:29] KevZawacki commented on #420
@flukeout Good catch. Should definitely be "curious **about**"

[2017-05-15 20:32] flukeout opened #422 "QA > Missing "BBC" logo on a story on the news page."
At the top of https://network.mofoprod.net/news/ there are two stories credited to the BBC, the first one is missing the logo...

![image](https://cloud.githubusercontent.com/assets/25212/26077992/e1c3dd60-3972-11e7-9fd5-ae0f68a4fe8b.png)

[2017-05-15 20:42] flukeout opened #423 "QA > Inconsistent Date formatting"
On news page articles have date in this format...

![image](https://cloud.githubusercontent.com/assets/25212/26078391/446290c8-3974-11e7-91e7-fe2805828712.png)

On projects...

![image](https://cloud.githubusercontent.com/assets/25212/26078406/4f514740-3974-11e7-85a1-a5ea402d7358.png)

``Apr`` vs ``April`` and one has the year, one doesn't

[2017-05-15 20:44] flukeout commented on #423
Also on Upcoming page we have some all caps months...

![image](https://cloud.githubusercontent.com/assets/25212/26078477/8d99d0d0-3974-11e7-8769-c3f966008de2.png)

[2017-05-15 20:52] xmatthewx commented on #422
cc @KevZawacki possible author

[2017-05-15 21:08] flukeout opened #424 "QA > No "active" state on Get Involved button"
Feels like we should have one, it's the most prominent button maybe. Other buttons have it.

![image](https://cloud.githubusercontent.com/assets/25212/26079528/efb234e4-3977-11e7-9697-6ade9690ff2c.png)

[2017-05-15 21:08] flukeout opened #425 "QA > Hover state on email signup button is barely noticeable."
I'd increase the contrast between the normal and hovered states...

![image](https://cloud.githubusercontent.com/assets/25212/26079554/06b76574-3978-11e7-9bcd-d777ffb2af8e.png)

[2017-05-15 21:16] flukeout opened #426 "QA > Line up Menu Icon with X more consistently."
It's pretty close, and would be nice if I could always just close the menu by clicking right where I clicked to open it. I feel like WE HAVE THE TECHNOLOGY

![_xicon](https://cloud.githubusercontent.com/assets/25212/26079851/14617ec0-3979-11e7-9646-f55a998d5ebc.gif)

[2017-05-15 21:21] flukeout opened #427 "QA > All caps links are a bit hard to read"
I think buttons are OK being all caps, but some of these links are harder to read than they need to be I think, case in point on the Support Page...

![image](https://cloud.githubusercontent.com/assets/25212/26080075/d18f0166-3979-11e7-9a36-04cd191e769f.png)

[2017-05-15 21:23] flukeout opened #428 "QA > Make "Theme" images a bit more clickable..."
These don't really look clickable compared to the other things on the site like the links and buttons. We could improve this by adding some kind of navigation indicator (graphic / icon) or adding a hover state maybe?

![image](https://cloud.githubusercontent.com/assets/25212/26080126/044f3026-397a-11e7-9cb5-bbfe64df4ade.png)

[2017-05-15 21:27] flukeout opened #429 "QA > Logo by Karolina is very hard to read..."
Consider using just the block maybe?

![image](https://cloud.githubusercontent.com/assets/25212/26080251/881fbdc6-397a-11e7-9d53-6ecf5420eb1f.png)

[2017-05-15 21:30] flukeout opened #430 "QA > Hierarchy of people's org, job title + issues unclear."
Consider the following layout...

![image](https://cloud.githubusercontent.com/assets/25212/26080313/c6ba178e-397a-11e7-8644-138c178b9f8b.png)

* It looks like there is an org and location (Hive / NY)
* Then we have key issue areas
* Then we have their actual job title and org below that.

Seems a bit strange. It also seems like the org they are in officially endorses those key issue areas.

Anywa

[2017-05-15 21:33] flukeout commented on #416
Also, remove spaces around mdash from the quote here...

![image](https://cloud.githubusercontent.com/assets/25212/26080425/6b6257ce-397b-11e7-9974-208cf8db0e50.png)

On people page.

[2017-05-15 21:37] xmatthewx commented on #416
This content will be entered via CMS by more and more staff. Design/Devs won't be able to track and correct all of it.

[2017-05-15 21:42] xmatthewx commented on #429
We can fix this. And logos will be added by program staff for a growing circle of network people. We won't be able to ensure perfect quality.

[2017-05-15 22:17] gvn commented on #390
@cadecairos Is there any particular standard we have at this point for our policies?

[2017-05-15 22:35] cadecairos commented on #390
I'd just say avoid inline code, data URIs for JS, and use https for all resources that aren't 'self' (so localdev works)

I should write a guide for implementing CSP.

[2017-05-15 22:36] cadecairos commented on #390
Also, no eval 😁

[2017-05-16 12:25] KevZawacki commented on #416
@xmatthewx Happy to do dash style updates, if it's helpful. Do I have access to webpage content via the Network API I use for news curation?

[2017-05-16 12:37] KevZawacki commented on #422
Thanks for the heads up! Looks like someone beat me to the fix. Let me know if I can help further.

[2017-05-16 12:37] #422 closed

[2017-05-16 14:27] alanmoo commented on #413
Fixed in the most recent deploy

[2017-05-16 14:27] #413 closed

[2017-05-16 14:44] thornet opened #432 "QA > Creative Commons licensing should be listed in full"
In the footer where it links to the CC license, it's recommended instead to include it as metadata like this:

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Unless otherwise indicated, this website is licensed under a <a rel="license" href="http://crea

[2017-05-16 14:44] thornet commented on #432
See https://creativecommons.org/choose/results-one?license_code=by&amp;jurisdiction=&amp;version=4.0&amp;lang=en

[2017-05-16 15:28] xmatthewx commented on #416
@KevZawacki you can access news, people profiles, get involved items. for pages, only the ones linked from get involved are editable at this time.

[2017-05-16 16:38] #335 closed

[2017-05-16 18:18] KevZawacki commented on #416
Got it. I've just amended dashes / spacing for Kylee, Karolina, Alex, Mmaki and Achintya quotes.

I *think* that's all I can do at this time. Let me know if I can help further.

[2017-05-16 19:46] xmatthewx commented on #416
Thanks @KevZawacki you're the best. I'm going to retitle this issue accordingly.

[2017-05-16 19:46] #416 closed

[2017-05-16 20:28] KevZawacki commented on #416
@xmatthewx Issue bookmarked.

[2017-05-16 21:10] flukeout commented on #416
<img width="532" alt="image" src="https://cloud.githubusercontent.com/assets/25212/26128484/6f1f6cb4-3a41-11e7-88d9-4baf9a681c13.png">

[2017-05-16 22:13] #390 closed

[2017-05-16 22:20] gvn opened #434 "Enable gzip compression on server"
(@cadecairos let me know if you'd prefer this filed in devops.)

Per audit:

**Enable gzip compression (6)**
Compressing the following resources with gzip could reduce their transfer size by about two thirds (~288 KB):
network.mofoprod.net/
could save ~8.8 KB
main.compiled.css
could save ~147 KB
fira.css
could save ~4.8 KB
css
could save ~2.2 KB
css
could save ~228 B
main.compiled.js
could save ~1

[2017-05-16 22:40] cadecairos commented on #434
gzip is now enabled if the client indicates support

[2017-05-16 23:15] taisdesouzalessa commented on #412
Hey @xmatthewx - could you please take a look at the spreadsheet and see if those categories are clear enough for our purposes?

I never labeled things into GA so I am relying on your expertise here :). Feel free to edit the spreadsheet as you see fit.

https://docs.google.com/a/mozilla.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit?usp=sharing

[2017-05-17 18:39] KevZawacki commented on #416
@flukeout is a [legend](https://youtu.be/q7Sj4uHp0s4?t=2m28s).

[2017-05-17 19:50] xmatthewx commented on #424
wanna take this @flukeout? for kicks? i also think it could start a little lower and not stretch so high.

[2017-05-17 21:00] jessevondoom commented on #402
Hey I'm sorry. I didn't see the notification on this because I had default follow settings on github and found myself flooded with notifications from 232 new repos when I joined the Mozilla group.

I think this is an important one for the launch to members so let's just go with "Sign Up" for now and we can revise later as needed. Moving from an ambiguous "Support" section name into a more dynamic

[2017-05-17 21:03] hannahkane commented on #402
Thanks, @jessevondoom. This ticket got long. I'm going to close and open two new tickets - one for the page name change and one for the button change.

[2017-05-17 21:03] #402 closed

[2017-05-17 21:06] xmatthewx commented on #402
This is almost an initiation ritual in Mozilla. I think I gained admin powers late on a Friday. Definitely gave me a chance Monday morning to test the limits of my google mail search, label, and destroy skills.

[2017-05-17 21:23] xmatthewx commented on #344
@jessevondoom - The Salesforce CRM is very limited at this stage. SIgn-up, and you get an email with double opt-in on a very confusing page (#207).

We'll track pages that pull people into our list (fellowships vs mozfest) as raw URL (rather than friendly label), but users will get the same generic email reply. Staff should be able to get a report of people who join related to their programs, but

[2017-05-17 21:55] hannahkane opened #435 "Copy change: "Support" -> "Get Involved""
Please change the page name and nav item.

[2017-05-17 21:57] hannahkane opened #436 "Copy change: "Get Involved" button -> "Sign up""
This is referring to the CTA in the hero.

[2017-05-18 18:30] hannahkane commented on #430
Note from backlog grooming meeting: consider removing issue areas or adding context (e.g. "Issues Hillary cares about")

[2017-05-18 18:34] hannahkane commented on #430
Estimate (8) is based largely on the conversations we expect we'll need, rather than the work itself which might be simple.

Also note, this is related to #410 as well as some pending changes from @jessevondoom.

[2017-05-18 18:37] hannahkane commented on #428
@xmatthewx @jessevondoom - is it likely we're going to keep themes for the long-term?

[2017-05-18 18:38] alanmoo commented on #42
I believe this is no longer needed, as we've done the work. Feel free to re-open if you disagree.

[2017-05-18 18:38] #42 closed

[2017-05-18 18:48] hannahkane commented on #426
discussion during backlog grooming: going to file a ticket for allowing users to use Esc key to dismiss the menu <- prioritizing that fix for accessibility reasons

The design aspect of this ticket will be backlogged for now.

[2017-05-18 18:48] alanmoo opened #437 "Make it easier to close the nav menu"
Right now the only way to close the navigation menu is by clicking the X. At the very least, the `esc` key should also work, perhaps clicking (far) outside any of the links should also close it. Let's keep accessibility in mind.

[2017-05-18 18:49] hannahkane commented on #425
estimate is just design

[2017-05-18 18:55] hannahkane commented on #423
estimate is design decision only

[2017-05-18 18:56] hannahkane commented on #421
won't fix. :)

@flukeout - if you're upset, talk to @taisdesouzalessa and @sabrinang

[2017-05-18 18:56] #421 closed

[2017-05-18 18:57] hannahkane commented on #419
This was intentional. We don't want people to leave.

[2017-05-18 18:58] hannahkane commented on #419
Sorry, just saw that @xmatthewx Iceboxed it. Matthew - can you advise whether you want to do this?

[2017-05-18 18:58] hannahkane commented on #419
From @sabrinang and @taisdesouzalessa - should we make them look less clickable?

[2017-05-18 19:18] gvn commented on #380
I'm pretty sure this is because dates for News are coming back in this format `YYYY-MM-DD` instead of the longform ISO format.

If possible we should probably fix this at this service level.

[2017-05-18 19:19] taisdesouzalessa commented on #429
For this specific case we could use just the symbol (no copy), as they have in [their website](https://www.ifla.org/):
<img width="272" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26219532/3221ef42-3bc4-11e7-8dd2-20f8392cbd0b.png">

[2017-05-18 19:20] #436 closed

[2017-05-18 19:49] sabrinang commented on #424
The button can compress a few pixels (perhaps 4px) for its active state

[2017-05-18 20:05] #435 closed

[2017-05-18 20:23] taisdesouzalessa commented on #427
Hey @flukeout thanks for your feedback here. I agree that the all caps have the potential to slow down the reading a bit. However, I don't think it is a big issue for those links. I don't see it complicating the usability of the page.

Just to add some context here, we decide to make the links as all caps to make it easier to scan as some of the pages are very heavy in content.

I discussed this t

[2017-05-18 20:25] alanmoo commented on #380
Blocked by https://github.com/mozilla/network-api/issues/210

[2017-05-18 20:33] flukeout commented on #427
👍

[2017-05-18 23:15] gvn commented on #351
I'm about 99% sure this is because of `"` not being escaped, which is going to break the markup because it's interpreted as the end of the data attribute's value. This is just fundamental HTML behavior.

EG: `data-cta-description="<p>What's next? <a href="` is all that gets parsed.

I believe we have to solve this by encoding all entities (or at a bare minimum encoding `"` or using `'` instead of

[2017-05-19 14:21] alanmoo commented on #351
Yeah, that is the problem, I'm not sure if there's a way to tell Mezzanine to do that, at least easily: The editor seems to like automatically converting `'` to `"` when saving, so we can't easily work around this when needed. Maybe there's something I'm missing though, wanna play around with the staging server and see if you can coax it into working, using HTML entities or something?

[2017-05-19 15:27] #427 closed

[2017-05-19 15:31] xmatthewx commented on #419
Let's not worry about this until someone outside of MoFo says "hey, moar click please". We've got bigger fish to fry 🐟 🦈  🔥  🍽

[2017-05-19 15:32] xmatthewx commented on #428
Not likely to keep them as currently designed. Likely move to a page that introduces the Issues and these themes.

[2017-05-19 15:32] #428 closed

[2017-05-19 15:38] alanmoo commented on #198
@xmatthewx What's the specific ask on this?

[2017-05-19 15:43] xmatthewx commented on #198
Reach out to Peter German for a review of the site and recommendations. I believe he can advice on keywords, marketing not technical recommendations.

I think we can wait until we're gearing up for a broader public push.

[2017-05-19 15:48] alanmoo commented on #121
https://docs.google.com/document/d/1WGWhfUY2mrQQGm-idP137S4CWdcdizL-UXI6DI_2QeU/edit

[2017-05-19 17:36] #379 closed

[2017-05-19 18:12] xmatthewx commented on #329
@jessevondoom – we should resolve this before email goes out to network. Two links go to nowhere 😢

Any update @Lottarao?

[2017-05-19 18:29] alanmoo opened #443 "Create slack notification for production pushes"

[2017-05-19 18:31] xmatthewx commented on #443
Could be nice to have a changelog from PRs. Alert team to look at risky things in staging.

[2017-05-19 18:51] alanmoo commented on #197
Let's find someone who can give us some guidance on accessibility at Mozilla and possibly audit this. @xmatthewx @hannahkane any ideas?

[2017-05-19 18:51] taisdesouzalessa commented on #343
Here are the 2 models that cover the 2 scenarios highlighted above.

Please notice that they are only for structure purpose (I didn't apply style to them yet, so they are close to wireframes). They were built to be seen at desktop size and mobile (less than 375px).

SIMPLE MODEL (user case number 1 highlighted my Matthew above)
https://taisdesouzalessa.github.io/simple-model/

COMPLEX MODEL (user

[2017-05-19 18:51] #343 closed

[2017-05-19 18:52] alanmoo commented on #197
Let's make sure key things like navigation and footer are accessible, images have alt tags, links are links, things have focus states.

[2017-05-19 18:55] alanmoo commented on #50
Tickets are open for the 2 remaining items from Chris's list.

[2017-05-19 18:55] #50 closed

[2017-05-19 19:01] alanmoo commented on #443
@cadecairos What's the lift on something like this?

Also, do we have a bot for setting up reminders based on time of week so we can encourage people to poke at staging one more time before we deploy?

[2017-05-19 19:03] alanmoo commented on #391
Where does this get used?

[2017-05-19 19:03] alanmoo opened #444 "Create Github Issue template"

[2017-05-19 19:05] #242 closed

[2017-05-19 19:09] alanmoo commented on #241
@cadecairos Can you confirm this is already done?

[2017-05-19 19:12] alanmoo commented on #280
Does this need changes on the site itself or a styleguide somewhere else?

[2017-05-19 19:17] alanmoo commented on #346
@cadecairos Any update on this?

[2017-05-19 19:18] cadecairos commented on #443
Do we want production push notifications for the front end and the django app? To which channel?

It is simple to set up hooks for the django app on Heroku. Adding slack notifications for the front end shouldn't be hard either, the jenkins instance has a slack plugin installed.

[2017-05-19 19:19] cadecairos commented on #391
If a bug is ever filed in BZ, they use it to track down people who can address the issues.

[2017-05-19 19:22] cadecairos commented on #241
This is done: https://jenkins.mofoprod.net/job/copy-network-templates-to-mezzanine/

[2017-05-19 19:22] #241 closed

[2017-05-19 19:28] cadecairos commented on #346
We've added a CSP meta tag - but that's all we can do right now. Unfortunately, the observatory doesn't pick up on these tags though so we don't get a score boost.

I have not heard back from Amazon about Lambda@edge

[2017-05-19 20:07] taisdesouzalessa commented on #280
@alanmoo - I see this issue with 2 parts:
1. The live website - it needs a review with those lenses in mind.
2. The new content that will be created by staff via CMS - in this case a styleguide would be super useful (as long as it is simple and easy to scan). Another alternative would be to embed those rules right into the CMS interface as supporting copy.

@xmatthewx @hannahkane do you think we c

[2017-05-19 20:23] taisdesouzalessa opened #445 "UI for nav component for user created pages"
Do UI Design, expanding the work on top of the wireframes built on #343

[2017-05-19 20:55] xmatthewx commented on #412
Thanks @taisdesouzalessa. I created a [new tab](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=779058050) to consolidate our events actions into a shorter set of categories.

@vojtechmzl - How are our names and labels? @stephaniemcv do you know about event tracking in google analytics?

Events in GA are fairly convoluted and unintuitive. For example, c

[2017-05-19 21:01] taisdesouzalessa commented on #412
Love the consolidated view, Matthew. Simple and easy to understand. Thanks for organizing them!

[2017-05-19 21:02] vojtechmzl commented on #412
These look great! The only one I'd suggest to add is someone clicking on the Signup button and possibly where that click happened. This would help indicate intent to sign up, which in comparison with the event that tracks form submissions could help us get a sense of form attrition. The labeling is otherwise clear. Let me know if there is anything I can do to support the deployment of these.

[2017-05-19 21:08] xmatthewx opened #446 "Implement Analytics Event tracking"
Building off of https://github.com/mozilla/network/issues/412, we'll wire up events listed in this [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=779058050)

[2017-05-19 21:11] xmatthewx commented on #446
@gvn @alanmoo @mmmavis – should we schedule a chat with @vojtechmzl on implementing GA Events? I know we have some experience, but I'm sure there are questions worth answering. We could look at how it's implemented in Pulse currently, so we can quickly dig into specifics. cc @taisdesouzalessa

[2017-05-19 21:12] xmatthewx commented on #412
Excellent. Yep, thanks. Closing. Filed new ticket for implementation.

[2017-05-19 21:12] #412 closed

[2017-05-20 00:19] taisdesouzalessa opened #447 "QA > Staging: Top Nav button label"
**Issue:**
Currently on staging our top nav button has an updated copy: "Sign Up"
<img width="1143" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26271113/7fd15528-3cb6-11e7-9955-c236c69dab0b.png">

The new copy is updated on all pages except on the 2 opportunities pages, which still have the old label "Get Involved":

https://network.mofostaging.net/opportunity/fellowships/

[2017-05-20 04:06] stephaniemcv commented on #243
No other votes? Do I win by default?! ^_^ Would love to have a decision before we send the leader email on 5/23 however, it's not a blocker to the email send. It just looks lonely.
![2017_05_19_prefcenter_network_nodescrip](https://cloud.githubusercontent.com/assets/11812272/26272810/54de4f28-3cdf-11e7-94ac-5ce4418472a8.jpg)

[2017-05-20 17:12] WillatMozFdn commented on #243
I like what you have there Stephanie, only ... is the first sentence necessary?  I think the second sentence is totally perfect just on its own.  "Learn about the people and projects working toward a healthy Internet, and how you can get involved."

@KevZawacki   -- that sound OK to you?

[2017-05-22 11:07] KevZawacki commented on #243
@WillatMozFdn Yep, works for me.

[2017-05-22 12:51] xmatthewx commented on #243
Great. Let's run with it.

[2017-05-22 12:56] xmatthewx commented on #322
I believe this is all resolved now or filed elsewhere. @hannahkane can you confirm?

[2017-05-22 13:43] alanmoo commented on #197
Some other things we can do: https://developers.google.com/web/fundamentals/accessibility/how-to-review

[2017-05-22 14:02] alanmoo commented on #447
Content from the opportunity pages is in the CMS. I'm not sure if these are actually supposed to be changed, but they can be without assistance from dev.

[2017-05-22 15:19] xmatthewx commented on #447
@alanmoo – I believe she's referring to the site's header component... big yellow button at top right.

[2017-05-22 15:23] alanmoo commented on #447
Ah, good point, that makes more sense

[2017-05-22 15:29] alanmoo commented on #447
I think that wasn't explicitly part of the request from @jessevondoom. Jesse, can you clarify?

[2017-05-22 16:02] hannahkane commented on #322
There are still inconsistencies. Despite a decision to change the button text to SIGN UP, the signup page still has an H1 reading "Get Connected", the CTA boxes all over the site use different language, and the barn raising page used "Join the Network."

I'm not sure we actually need all of these to be consistent though. Using different language can keep  content from being repetitive, especially

[2017-05-22 16:16] jessevondoom commented on #447
Yeah I'm less concerned with general "get involved" headers throughout the site, but if we can update the button itself so it's consistent I think that'd be best.

[2017-05-22 16:56] #351 closed

[2017-05-22 17:25] hannahkane opened #448 ""member preview" panel and survey preamble tweaks"
from @jessevondoom:

**Issue**
There’s concern that we need to do more to communicate the iterative/collaborative nature of the Network site. Right now we’re framing that as the site being “in progress” or a preview. We’ll move away from that framing as the network starts to feel more ownership of the site, but for now there are some ways we can make the the in-progress/feedback process more obvio

[2017-05-22 17:27] alanmoo commented on #448
I can take care of 2 and 3 myself rather quickly, though 1 requires a designer, all of which are out today. @xmatthewx thoughts?

[2017-05-22 17:28] hannahkane commented on #448
Just noting that the survey itself is going to be changed, and already has a [different preamble](https://docs.google.com/document/d/1xVeaN_DbOMSLO74rKIT-ISOO20MmEcOuxrAH-RWlRCY/edit#). Probably best not to start on 3 just yet.

[2017-05-22 17:30] hannahkane opened #449 "Change main page hero copy"
from @jessevondoom:

**Issue**
We introduce the phrase “healthy internet” on the main page but don’t define Internet health or tie back to the Internet Health Report. Defining the network in terms of Internet health is a main goal of the organization in 2017 so we need to make more of an explicit connection going forward.

**Suggested solution**
This will be a central theme as we design for the ne

[2017-05-22 17:31] hannahkane commented on #449
I like the copy edit! Are we sure we want to link to another site in the hero of our homepage?

[2017-05-22 17:40] xmatthewx commented on #449
We could add the following from that health report about page to the middle of this site's about page. And then link there.

This would go above the 5 issues, under a new heading "Internet Health" or "A healthy internet"

[2017-05-22 17:55] jessevondoom commented on #448
@alanmoo #1 can be a lower priority — the "in progress" language gets at what we want and we can even wait to tweak the style until we're looking at new hero styles. No rush there.

@hannahkane Awesome. Let's just disregard #3 then — my bigger concern was making sure it had some context/preamble in place before we push out to network leaders and the already-reviewed preamble sounds like the way to

[2017-05-22 17:57] jessevondoom commented on #449
@xmatthewx I think that's a great idea. To @hannahkane's point: it'd be a lot cleaner/better to link to the local about page. Hadn't thought of that, even though it feels obvious now that you mention it. Rad!

[2017-05-22 18:32] hannahkane opened #450 "Replace left-hand column featured project on homepage in "Get Involved" section"
The current item "Talk" should be replaced by the [Global Sprint item](https://www.mozillapulse.org/entry/217)

[2017-05-22 18:50] hannahkane opened #452 "tiny copy change on Thank You message"
the Thank You message that users see after signing up reads "Thanks for joining. The Internet already feels a bit more vibrant (^_^). We will e-mail you soon to confirm."

Can we remove the hyphen in the word email?

[2017-05-22 19:08] #450 closed

[2017-05-22 19:23] jessevondoom commented on #329
Let's not kill the paragraph entirely as it provides the barn raising context, but I think edits are a good idea. +1 to the "coming months" change — let's go ahead and make that change.

I like @xmatthewx's suggested edits to the paragraphs but I worry that keeping the "invitation" framing without a specific call to action may sound like lip service. Let's try something along the lines of:

"If yo

[2017-05-22 19:27] hannahkane commented on #329
Works for me.

@gvn - assigning this to you. The first comment is updated to reflect the final decision.

[2017-05-22 20:21] #329 closed

[2017-05-22 21:30] hannahkane opened #455 "Add Internet Health Report to Get Involved section of homepage"
This should be the first item in the right column. The Fellowships item should be second. Please remove the Leadership Training item. (i.e. keep the column limited to two items; we don't want to overwhelm users with too many things.)

Internet Health Report

Is the Internet getting healthier? Is it under threat? Do we all have a voice on the web? Mozilla’s Internet Health Report is an open source

[2017-05-22 21:47] alanmoo commented on #449
So we still want the home page header to be updated, right? But we also want content added to the about page?

[2017-05-22 22:29] xmatthewx commented on #449
Yes. That's correct. I've reviewed Alan's local update to the About page. Looks good. Let's get that on staging for a final thumbs up.

@alanmoo – I'll take look at intro text and link now. More soon...

[2017-05-22 22:46] xmatthewx commented on #449
I think the new intro is a bit too long for fleeting eyeballs. I propose a revision below. I think it maintains the spirit.

<img width="840" alt="screen shot 2017-05-22 at 6 38 03 pm" src="https://cloud.githubusercontent.com/assets/53411/26331255/f50b6518-3f1d-11e7-9f99-a7d6b3465fa1.png">

<img width="839" alt="screen shot 2017-05-22 at 6 45 38 pm" src="https://cloud.githubusercontent.com/assets/

[2017-05-22 23:17] hannahkane commented on #449
@jessevondoom is traveling, but I got an OK from him to ship @xmatthewx's suggestion above.

@alanmoo - do you got this?

[2017-05-22 23:37] #448 closed

[2017-05-22 23:37] #449 closed

[2017-05-22 23:44] #455 closed

[2017-05-22 23:45] gvn commented on #260
Need to promote Network API to prod to unblock adding links.

[2017-05-23 15:54] xmatthewx opened #461 "Add link to health report on about page"
Below the five issues on the about page, we should have a statement and link, something like "Learn more about this and join us in writing the Internet Health report." (link to https://internethealthreport.org)

[2017-05-23 16:02] hannahkane commented on #280
Putting into June 2 milestone so we can discuss during today's planning meeting.

[2017-05-23 16:25] taisdesouzalessa commented on #447
I meant the button @alanmoo. Sorry for the confusion, I should have highlighted it in the interface :). I think it is important to keep consistency here from the users' perspective: across all the website the users see "sign up" on the top then suddenly in the opportunities pages they see another label in the button. It is misleading as it can make them think this button is new and it will take th

[2017-05-23 16:46] stephaniemcv commented on #243
submitted bug to get this changed on basket

[2017-05-23 16:57] gvn commented on #434
Confirmed: gzip is enabled on prod.

[2017-05-23 16:57] #434 closed

[2017-05-23 17:02] gvn commented on #280
I think "Styleguide" is confusing because we have 2 things called style guide already:

1. A Sketch file
2. A built style guide page on the site (this isn't for public consumption, just for dev reference)

Regardless, I don't see this as ready for engineering until instances of copy that needs fixing are identified specifically.

[2017-05-23 17:14] taisdesouzalessa commented on #280
@gvn what do you think if we call it "Content Style Guide"? - I've seen this term being used by companies before.

[2017-05-23 17:27] gvn commented on #437
Closing with escape makes sense to me, but closing based on clicking an arbitrary area doesn't.

[2017-05-23 17:37] gvn opened #462 "Add routing rules to local server"
Try to get parity between S3 and our local dev server so that we can hit 404 pages, landing pages, etc.

If possible, share a common rule set / config.

Nice to have: An ENV var to point to location of Mezzanine server (for routing to locally running landing pages).

Related: #411

[2017-05-23 17:43] gvn commented on #418
I think our plan for localization is to just remove the `MENU` label.

[2017-05-23 17:59] sabrinang commented on #60
By considering a dark or light nav, we can streamline the transition and styling effect with the menu when opened and the menu/close icon can stay in the same spot (related to https://github.com/mozilla/network/issues/426). We can also consider how the navigation can shrink when you scroll down the page. A concern with the white is that it may look too similar to mozilla.org which may not be visua

[2017-05-23 18:38] xmatthewx commented on #325
more info in #412

[2017-05-23 18:45] xmatthewx commented on #243
cool. i'm gonna close this.

[2017-05-23 18:45] #243 closed

[2017-05-23 18:51] xmatthewx commented on #407
This is done! Yay sprint.

[2017-05-23 18:51] #407 closed

[2017-05-23 20:47] #260 closed

[2017-05-23 22:09] #447 closed

[2017-05-23 22:40] hannahkane commented on #461
I think @xmatthewx's copy is good minus the extraneous "To" at the beginning. So: Learn more about this and join us in writing the Internet Health report.

Wondering if it should link directly to the [report](https://internethealthreport.org/v01/) or to the [landing page](https://network.mofoprod.net/opportunity/internet-health-report/). I think the former.

@jessevondoom - does this sound alright

[2017-05-23 22:57] jessevondoom commented on #461
Yes on both counts. I think pushing people directly to the IHR is correct here, and I like the more active phrasing without the "to."

[2017-05-24 17:57] sabrinang commented on #60
Will be updating a redpen link here: https://redpen.io/p/pgdfcdc63cbd9b0af6

[2017-05-24 18:05] alanmoo commented on #325
The buttons on the splash page now trigger events, this is live on production.

[2017-05-24 20:27] taisdesouzalessa commented on #60
I really like the triangle exploration too, @sabrinang. I feel it is a nice visual indicator of the power of the Network and all its connections. Awesome work on all the proposals, they all look very nice!
Also, I am a huge fan of the neutral top nav. It makes the choice of hero images less restrictive.

[2017-05-24 20:42] taisdesouzalessa opened #465 "Typography on Opportunities Pages"
**Issue:**
Currently our Opportunities Pages (CMS view) allow editors to choose from a series of heading sizes: h1 to h6
<img width="404" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26424179/2cfe0f94-4085-11e7-8e77-07a1a73c018b.png">

This is what editors see in the interface (this example is an h2):
<img width="925" alt="image" src="https://cloud.githubusercontent.com/ass

[2017-05-24 21:20] alanmoo commented on #465
Because of the way the editor allows custom code, it's probably not wise to attempt to prevent H1-H3 from ending up on the page. One possible solution: Using the same typographic styles inside the editor as the ones in place in the front end. Not quite sure the feasibility of that though.

[2017-05-24 21:54] jessevondoom opened #466 "Copy change to barn raising splash"
**PROBLEM**
There's no explicit framing of the Network site as an open project or as something that is designed to be iterated. It's important to set that expectation up front. We talk about it internally and should explicitly state the desire to iterate and emulate open projects. It's a feature not a bug.

**PROPOSED SOLUTION**
_Let's change:_
"As of April 2017, this site is in "barn raising" mod

[2017-05-24 23:22] hannahkane commented on #60
Love the symbolism of the triangles!

[2017-05-25 02:39] xmatthewx commented on #60
@sabrinang - thanks for sharing the redpens. You showed me several explorations on vidyo in your illustrator doc that I don't see in redpen. Some were strong and potentially more viable. If you can, pull in a few of those, particularly options without a gradient background.

[2017-05-25 15:22] alanmoo commented on #437
Given the current style, that's reasonable.

[2017-05-25 16:54] #400 closed

[2017-05-25 17:03] gvn commented on #465
We can do some overrides for CMS managed content so that H1-H3 aren't as large in that context.

[2017-05-25 17:43] gvn commented on #411
@sabrinang @xmatthewx – What is the URL for "Contact us"?

[2017-05-25 17:43] alanmoo commented on #465
Bringing them closer to the size they appear in the editor?

[2017-05-25 18:03] sabrinang commented on #411
<img width="1502" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26463501/5a9cb752-4139-11e7-9be3-036bc76bc56b.png">

I would use the same as this section so I believe twitter is what we are using as a contact point but @hannahkane mentioned we have an email network@mozillafoundation.org that goes to a google group.

[2017-05-25 18:16] hannahkane commented on #445
Design only estimate

[2017-05-25 19:26] sabrinang commented on #60
Thanks for the feedback @xmatthewx. I'll continue iterating on redpen (https://redpen.io/p/pgdfcdc63cbd9b0af6) focusing on feedback you mentioned as well exploring including of people line art (from slide deck presentation) and photography from the discussion with Jesse earlier today.

@jessevondoom - if you have people line art assets or photography that I can use for the hero, feel free to share

[2017-05-25 21:54] #461 closed

[2017-05-25 21:55] #466 closed

[2017-05-25 22:27] taisdesouzalessa commented on #445
Here are the comps of the simple model (scenario: college student who creates a couple of pages for their research project):
https://redpen.io/p/cb61fd65250ff905b6

I find prototypes are better to test those MVP and see how they really feel in the context of the website. I added the styles on top of the prototypes I built in the wireframe stage. They are not pixel perfect but give a better idea of

[2017-05-26 17:30] gvn commented on #446
AFAIK anything that's just a normal anchor link to another page should already be tracked by stock GA (eg: "home feature tap"). Can we confirm we actually need to wire everything on the spreadsheet manually? I wouldn't want to be logging things twice in two different ways.

@vojtechmzl can you look at the spreadsheet and give some guidance on what isn't already tracked?

I believe we'll just need

[2017-05-26 17:45] hannahkane opened #470 "Slides for Board meeting"
As discussed with @sabrinang @taisdesouzalessa @xmatthewx and @jessevondoom, let's develop some board slides exploring potential future iterations of the site, for Mark to share at the June 5th board meeting.

Focus will be on better telling the story of connections between people in the Network, and better telling the story of Internet health.

How's this for a proposed timeline:

- share early d

[2017-05-26 22:05] vojtechmzl commented on #446
Hey @gvn, you're right about the home feature tap event, if it's pointing to another page on the site, then we don't need additional tagging. I think all of the other events make sense, including the clicks on the sign up button in the header, which we should track to help us understand the full conversion funnel. Let me know if there is anything I can help with. Thanks

[2017-05-26 22:39] vojtechmzl commented on #446
For outbound links that point to other Mozilla sites, let's use the following standard set of URL params:

?utm_source=mozillaNetwork&utm_medium=referral

[2017-05-30 14:42] xmatthewx commented on #446
For Homepage "Features", only some of those go to other pages. Some go out to external news (our Medium and 3rd party), some go to our other properties. While the destinations are different, the presentation to users is similar. However we track these, let's make sure we have a way to compare Features side-by-side so we can observe what drives people to dig deeper. Make sense?

[2017-05-30 15:14] xmatthewx commented on #445
These look and feel fantastic. I think it's almost ready to go.

While I really like the long page, scroll down option, I don't think there'll be an easy way to reliably implement it in the CMS –– too much room for user error or confusion since they can manipulate html. While I'm sure it could be a fun problem for us to solve, I'd rather put our energy into landing an MVP version more quickly. And

[2017-05-30 20:17] xmatthewx commented on #470
We reviewed progress. Next steps as I heard them below.

**>> Please comment if you have different understanding or opinion.**

Single slide for **"From the network" feature**
 - should include Coral intro, contributors, and news.
 - might add project(s) Talk and/or Ask as an element
 - this should fill the slide. no need to show more of the homepage.
 - no need to explore feature with different c

[2017-05-30 20:36] taisdesouzalessa commented on #470
Adding the full slide deck here so we have it as a future reference:
https://docs.google.com/a/mozilla.com/presentation/d/1QEfeQ4LEg8p9UXigdnp4zzgLTpuoje2d4qR5De30xs8/edit?usp=sharing

[2017-05-30 20:39] taisdesouzalessa commented on #470
I'll work on the "From the network" feature - I'll have the slide with the module as we saw in the meeting today and some other explorations of storytelling in this specific module. By EOD Jesse will have some options on slide format. Does that work for you @jessevondoom and @xmatthewx?

[2017-05-30 20:39] taisdesouzalessa commented on #470
I'll work on the "From the network" feature - I'll have the slide with the module as we saw in the meeting today and some other explorations of storytelling in this specific module. By EOD Jesse will have some options on slide format. Does that work for you @jessevondoom and @xmatthewx?

[2017-05-30 20:58] jessevondoom commented on #470
@taisdesouzalessa Perfect. Thank you!

[2017-05-30 21:07] alanmoo opened #472 "Add link to healthcheck to show diff from master"
To make the deployment process smoother, let's add a link to the healthcheck page (even if it's a string we have to copy/paste) that brings you to a github page that shows a list of commits as a diff between what's on production and what's been merged into master.

For example: https://github.com/mozilla/network/compare/0d1fefe578093c7291e0b60ac06bd158b0296847...master

[2017-05-31 01:08] taisdesouzalessa commented on #470
Worked on the "From the network" feature from slide 49 on. Please take a look at them and let me know your thoughts. I added comments to the slides to explain little things. @hannahkane @xmatthewx @jessevondoom

[2017-05-31 01:12] sabrinang commented on #470
Worked on the "hero direction" from slide 47-48 as well and any feedback would be great.

[2017-05-31 03:43] alanmoo commented on #380
Or is it not blocked? I think the appropriate solution here might be to tell Moment the format of the news response- `moment(data, 'YYYY-MM-DD')` from http://momentjs.com/guides/#/parsing/known-formats/

[2017-05-31 05:17] jessevondoom commented on #470
@sabrinang So I still like the illustrations more than the magnetic waves — though it's funny they feel sort of similar. But both for the consistency and the reminder that these concepts come down to people and community impact I think it's stronger.

I like how some color from the photo sneaks in on the light version, but I think I generally prefer the darker one. Think we could explore using a g

[2017-05-31 05:47] jessevondoom commented on #470
@taisdesouzalessa I think these are all great, and I could see each of them having a home on the site. Let's work on slide 50 for now, because I think it can show everything we want to illustrate in a single shot. Here are a few changes I'd suggest, mostly pretty minor:

1. Let's change "Highlighted project's collaborators" to "The people of The Coral Project"
2. Andrew's description: "Andrew star

[2017-05-31 16:18] jessevondoom commented on #470
@xmatthewx Yeah exactly. Sorry if that wasn't clear, @sabrinang.

[2017-05-31 16:53] sabrinang commented on #470
Thanks for the feedback @jessevondoom @xmatthewx I updated top of slide 48 with iterations of people + line art + blue-green gradient (dark/light).

[2017-05-31 17:18] jessevondoom commented on #470
These look great. I think I'm partial to the lighter version (top right of slide 48) but either of the top two options would work really well. Love the balance between colors, showing people, and incorporating the illustrations from the main deck. Feels very vibrant.

[2017-05-31 17:18] taisdesouzalessa commented on #470
@jessevondoom I did the requested changes in the slide 50.
I added the "learn more" link to the featured part (that could be the link to the case study) and the final ask for this section is geared towards contributing, as you suggested.

I love the idea of adding "Amplify their work". I think that in this section may be too soon to ask for that since the users didn't have the opportunity to get t

[2017-05-31 17:35] jessevondoom commented on #470
This looks really solid. It's easy to see how the same format could apply to open web fellows, other projects, and other groups. Nice work. And I think you made a good decision on skipping the amplify bit in here — definitely feels like something for a case study or project profile page — and I like this example you dug up...was thinking similarly with a quote/prepared tweet.

I'll share these wit

[2017-05-31 19:10] sabrinang opened #473 "Posters for Board Meeting"
After discussing with @Lottarao, there are 5 posters that need to be made by Friday June 2 to meet the print deadline.

The first poster is complete by @cassiemc as reference:
<img width="884" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26648884/c16a02be-45f8-11e7-9c80-dbc8851136e1.png">

Since Cassie is working in the evening, we need to discuss with Mark about his vision

[2017-05-31 19:11] sabrinang commented on #473
cc/ @hannahkane

[2017-05-31 19:37] taisdesouzalessa commented on #470
Hey @jessevondoom, the option 2 is ready for review.

1. Two slides: one for the hero work (48) and one for the UI elements (49)
2. One slide (50)

cc: @xmatthewx @hannahkane

[2017-05-31 19:56] jessevondoom commented on #470
@taisdesouzalessa This looks great...thank you!

[2017-05-31 20:44] flukeout commented on #473
Some sizing updates. Each of the walls between the windows is 8 feet wide. And we've got nearly 15 feet on each of the walls that are to the sides of the entrance...

![image](https://cloud.githubusercontent.com/assets/25212/26653189/2bd6c12e-4607-11e7-9dfa-06fe5dee1a33.png)

[2017-05-31 22:39] xmatthewx commented on #473
You might ping Jordan and Lotta to figure out where and how they've printed these in the past. So you can choose paper size.

[2017-05-31 22:56] sabrinang commented on #473
The indesign document for posters last year were:
<img width="475" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26657454/c73f3428-4618-11e7-89dc-5f9ae1cb9bff.png">

[2017-06-01 01:16] sabrinang commented on #473
In the process of laying out draft content:
<img width="1263" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26660366/7cf2edf6-462c-11e7-860c-853224bbace3.png">
Working from this [gdrive folder](https://drive.google.com/open?id=0B4Q8pzCpDS_eUlJOZEtFclpmQUE) I'll collect higher res images/fix dimensions and continue tomorrow

[2017-06-01 14:51] xmatthewx commented on #473
@ldecoursy - can you confirm that these are on track content-wise? Let's correct course before she starts to refine the details.

Nice speedy work @sabrinang! Thanks for jumping in.

[2017-06-01 14:54] ldecoursy commented on #473
@xmatthewx Those are the ones! Just changed "Press Clippings" to "Headlines." All poster content is now final at https://docs.google.com/document/d/1ApQKzMdjsGh0QoaS5rRNA2dtYAaUih__s9Gz4CZ_vz4/edit#heading=h.qwb3pf55word

Thanks all!

[2017-06-01 15:46] #437 closed

[2017-06-01 15:49] #411 closed

[2017-06-01 15:55] gvn commented on #380
I think we can force it to work, but it'd still be nice to have consistency on the API side.

[2017-06-01 16:22] alanmoo commented on #380
I believe the reason news articles don't have a time is because the sources don't usually have a time of publish, so we didn't want to make something up.

[2017-06-01 17:38] alanmoo opened #475 "Explore merging network-api into network repo"
In an effort to improve the development and deployment processes, let's create a new branch for this project and see how difficult it is to integrate the two repos, and analyze any possible issues with such a setup in the future.

[2017-06-01 18:09] hannahkane commented on #462
pending decisions about merging repos, removing from milestone

[2017-06-01 18:33] hannahkane opened #476 "Design: Replace splash page with expanded notice"
Estimate is for design and engineering + extracting editorial from people

100-150px height

Rationale: bounce rate is too damn high

[2017-06-01 18:52] xmatthewx opened #477 "Research CMS authored subpages"
Prototype:
https://taisslessa.github.io/simple-model-ui-v4/index.html

Tasks
 - Re-enable subpages in local builds of mezzanine
 - Surface usability concerns and constraints for authors
    - Test multiple sub-pages (i.e. `Opportunities->Fellows->sub-page a/b/c`) and ability to add side navigation of sibling pages
    - Verify ability to force use of specific subpage templates when using a "mini-s

[2017-06-01 18:59] xmatthewx commented on #475
deliverables
 - [ ] list goals, pros / cons
 - [ ] experiment on a branch (time box: X hrs)
 - [ ] develop plan & approach

[2017-06-01 20:00] sabrinang commented on #473
Progress on redpen: https://redpen.io/p/fr3c44ab88b23c8d2d
<img width="1300" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26698284/3817f3ea-46ca-11e7-9759-e3fc42c1be73.png">

[2017-06-01 20:04] xmatthewx opened #478 "Examine Optimizely integration & security"
@gvn - can you add a summary here? I don't think we need to start this work now, just want to make sure we capture the info. For later this month or next.  cc @alanmoo

[2017-06-01 20:49] sabrinang commented on #473
I will have the posters accessible to be used in slide deck or if other posters need to be made and printed together (check with @jessevondoom if he is making a poster of the network site)

Notes/Feedback from meeting:

@ldecoursy Will help to figure out who is taking this to print to hand off to and figure out time of cut off. Lainie will also assist reducing copy where possible and provide a scr

[2017-06-01 20:56] ldecoursy commented on #473
Thanks @sabrinang!

I think we'll just need the funnel image with the key from the Network by Numbers poster for the board slides (which have a white background)

Phia is going to take it to print. She's contacting the printer now to find out what our hard deadline is tomorrow.

Attching the updated screencap for the top middle press clipping here.
![screen shot 2017-06-01 at 4 54 32 pm](https://c

[2017-06-01 21:01] ldecoursy commented on #473
**Production details**

- Email file by Friday, June 2 at 12pm PT—>Phia can arrange for pick up
- Once files are ready, email to usa5177@fedex.com and cc Phia
- Files should be in pdf format

[2017-06-01 21:12] vojtechmzl commented on #446
Hey @xmatthewx, the issue with tracking outbound links is that in order to log the event, we have to prevent the link from navigating to its destination until we create the callback to GA, which is not ideal for the UX. We can still track click-throughs to our sites by adding parameters to the URLs (e.g. utm_source=mozillaNetwork, etc.), but with other sites it is a bit of an issue. We can chat ab

[2017-06-01 22:15] gvn commented on #446
Everything else in the spreadsheet is either done, or pending code review. I also updated it to reflect the current status...

[2017-06-01 22:20] gvn commented on #478
Fundamentally, Optimizely requires us to weaken our content security policy to allow inline script execution, which opens an attack vector.

Aside from that, it also allows code to be added to our sites (and directly to production) that hasn't been given a review (although, we could set a policy to address that issue).

[2017-06-01 22:48] ldecoursy commented on #473
@sabrinang Just pinged you in the content doc - # for supporters should be 1.7 instead of 2.7

[2017-06-01 22:59] gvn commented on #325
I'm not sure who controls the welcome email, but they'll need to append a query string. @vojtechmzl can you provide what that should be?

[2017-06-01 23:02] gvn commented on #325
"Source: if these people arrive via our preview engagement emails, we should know that. Add a source attribute to those links."

^ Is blocked by query string and then delivering that query string to whoever controls the emails (@xmatthewx – can you assign that person?).

[2017-06-01 23:08] jessevondoom commented on #473
@sabrinang Here's [copy for the Network site poster](https://docs.google.com/document/d/15w8slemGqRwfwxV6Mygv7hYeA3gci_XWbVLU6gK5dvc/edit#). Very basic/simple and can edit down as you need.

[2017-06-02 00:09] hannahkane commented on #325
Adding @stephaniemcv who I believe has the keys to the welcome email.

[2017-06-02 02:46] sabrinang commented on #473
@ldecoursy I updated changes from the feedback as well as the number 1.7 (thanks for flagging). Can you or @Lottarao please review the posters specifically Fuel the Movement since I lightened the xplane deck and realized some sections looked different than @cassiemc 's version. I may not have the latest design file of the xplane deck and I didn't receive them to export. (If there is an update deck

[2017-06-02 03:04] ldecoursy commented on #473
Thanks @sabrinang!

I'm checking with Phia on dimensions, but we should also check with Jordan if he's done them in the past.

I don't have the xplane design file but pinged Lotta. I think the order of the slides in the latest version of the Fuel the Movement poster are incorrect. Also not sure that white background is translating - it's a bit hard to read. the flow and background treatment are be

[2017-06-02 13:46] alanmoo commented on #446
@vojtechmzl I would think that would be the case for events on links within the site too, no? The event tracking for the homepage splash doesn't suspend the route change (to the signup page), but it seems to be tracking fine. Or is there a sneaky race condition bug in there?

[2017-06-02 13:59] ldecoursy commented on #473
Let's go 24x36" for the posters.

[2017-06-02 15:21] vojtechmzl commented on #446
Hm, now I am not sure. @gvn, would it be possible to test adding in events for outbound links to external sites? My understanding was that events on links within the site are different, because the session GA cookie remains the same. I just came across [this post](https://support.google.com/analytics/answer/1136920?hl=en), which shows how to use something called the browser beacon to submit the ev

[2017-06-02 15:49] sabrinang commented on #473
@jessevondoom Can you review the site poster on redpen? https://redpen.io/vg98ed08fd8451bc66
<img width="1005" alt="image" src="https://cloud.githubusercontent.com/assets/2492510/26733649/5470bfc6-4770-11e7-87d6-02e6ada1bc78.png">

[2017-06-02 16:35] jessevondoom commented on #473
@sabrinang Network site poster looks great. Only thing I caught was a stupid extra comma in the copy I wrote (too quickly) yesterday. Could you remove the comma in the main paragraph to the left in "turning people taking their first steps on the open web into activists, and..." — sorry! Otherwise I think this is good to go unless @xmatthewx or @hannahkane have any copy suggestions.

[2017-06-02 16:37] jessevondoom commented on #473
@sabrinang I lied. Could we change the "Storytelling" header either to "Storytelling and Engagement" if both fit, or just "Engagement" if not? Want the takeaway to be that we're working with people, not just talking to them.

[2017-06-02 16:40] hannahkane commented on #473
No copy changes from me. Looks good!

[2017-06-02 16:40] xmatthewx opened #482 "Add Page for Tech Policy Fellows"
Add a simple page via CMS with bios for tech policy fellows.

 - Page title: Tech Policy Fellows 2017
 - [Content](https://docs.google.com/document/d/1N8SZRaWtD5S3IV_FSaSq4v2Gz30wrT0wTDwQRARW4t8/edit) (draft – pending final review)
 - Photos [link coming soon]

Accountable: @corizarek

@hannahkane – can you drive or delegate this? Message me with any questions.

[2017-06-02 16:42] alanmoo opened #483 "Add link to 404 page to report bugs in this repo"

[2017-06-02 16:43] #391 closed

[2017-06-02 16:48] gvn commented on #446
@alanmoo : That is a link within the site, so I believe GA can just look at the referring page in the HTTP request. It's possible that it sometimes still logs a custom event, but I'd have to imagine there's a potential race condition there because a tracking image has to load before the page is exited. Whether GA is already doing some black magic with pausing outbound link clicks I'm not sure.

[2017-06-02 16:50] gvn commented on #446
We can try this: https://www.npmjs.com/package/react-ga#reactgaoutboundlinkargs-hitcallback which is I believe using browser beacon under the hood.

[2017-06-02 16:52] gvn commented on #446
However, I should mention that this is delaying outbound links until the tracking callback occurs, so again it's degrading UX for tracking purposes.

[2017-06-02 16:54] hannahkane commented on #482
Sure. I can build this page when the content is final. It's going to look a lot like the Network50 page I think (but shorter!)

@corizarek - can you please let me know when the content is final?

[2017-06-02 17:00] jessevondoom commented on #473
@sabrinang New paragraph copy for Storytelling + Participation:

A network is more than a collection of nodes. We’re driving engagement through storytelling about people, projects, and opportunities — how they all relate to one another and to the key issues of Internet Health. We’re focused on impact and connections, bringing people together and giving them the resources and support needed to fuel

[2017-06-02 18:02] jessevondoom commented on #473
Really solid edit to the last sentence from @xmatthewx if we still have time to make changes:
"We’re focused on impact through connections. We bring people together to collaborate, giving them the resources and support they need to fuel this movement and create a more healthy internet."

[2017-06-02 18:10] xmatthewx commented on #325
I believe this is all done! Including source attribute for visits via email. Closing. Reopen if needed.

[2017-06-02 18:10] #325 closed

[2017-06-02 18:11] taisdesouzalessa commented on #470
@jessevondoom based on your last comment, it seems there is no further revisions for this task. I am closing this ticket. Feel free to reopen it if you have any new feedback :).

[2017-06-02 18:11] #470 closed

[2017-06-02 18:49] xmatthewx commented on #446
As we said on video, we can move ahead to land other event tracking. Discuss outbound links later.

[2017-06-02 20:35] sabrinang commented on #473
.pdf (24x36" - 0.125" bleed): https://drive.google.com/drive/folders/0B4Q8pzCpDS_eYzBkMGpwcUk1WU0?usp=sharing
Updated redpen with changes and new dimensions: https://redpen.io/p/fr3c44ab88b23c8d2d

Sorry for the delay it took foreverrr to export + upload the large file. In contact with Phia coordinating this to take it to print.

[2017-06-03 01:20] taisdesouzalessa commented on #445
Hey Matthew, here is the new version, based on your feedback and also the designers' feedback from the design critique session.
Some considerations:
1. All pages have minified top nav and page title on mobile (I think we could use the minified version of the top nav across the site too)
2. Instead of having the same words on the top of the page and in the menu, I added an optional treatment for th

[2017-06-03 01:28] taisdesouzalessa commented on #445
Regarding your last comment, we could train the authors as you suggested.  We could tweak the layout if necessary, depending on the technical restrictions from the CMS side. I did some studies on different approaches we could take and pros and cons. They are in Red Pen:
https://redpen.io/p/ck8e908630d4872cb7

[2017-06-05 13:55] xmatthewx commented on #445
Thanks @taisdesouzalessa.

I would flip the order of your Redpen options, and think of them as Phase 1 through 3 rather than different choices. Let's see what @alanmoo comes back with in terms of how the CMS will enable this and then figure out MVP.

[2017-06-05 15:05] xmatthewx commented on #307
Closing. We now have a link in hero intro text and more info on the about page.

[2017-06-05 15:05] #307 closed

[2017-06-05 15:09] xmatthewx commented on #176
Closing. I believe this is now resolved or at least better.

[2017-06-05 15:09] #176 closed

[2017-06-05 15:10] xmatthewx commented on #79
@hannahkane - is this ticket still useful? should we open a new one with specific tasks? do we have a better link for contact that we should now add to the site?

[2017-06-05 16:02] hannahkane commented on #79
We have an email address - network@mozillafoundation.org that we should add to the "We'd love to hear from you" section of /about, as well as the footer. I'll file a follow up for that. I don't think we need to do any more prep for visitor questions. We have a living doc with messaging where we can store FAQs, and a Slack channel to discuss responses.

[2017-06-05 16:34] #380 closed

[2017-06-05 16:40] #446 closed

[2017-06-05 16:41] #444 closed

[2017-06-05 16:57] gvn commented on #472
If you have just the latest commit hash for a build (`git rev-parse HEAD`), then you can only see what's been committed to `master` after it using that link scheme. That's not super useful.

For what we want, I think we need the commit hash of the previous deploy, which is going to be trickier. I'm assuming we'd have to tap into an API on Jenkins to get it (which may require key storage). Once we

[2017-06-05 16:59] cadecairos commented on #472
I'll investigate what we can do with jenkins.

[2017-06-05 17:28] #118 closed

[2017-06-05 17:33] gvn commented on #96
@xmatthewx Should we close this?

[2017-06-05 17:36] #79 closed

[2017-06-05 17:40] hannahkane opened #486 "Add email address to site"
- [ ] 1. Add "EMAIL" as a line item under TWITTER on the "We'd love to hear from you" section of /about. It should be a mailto: pointing to network@mozillafoundation.org
 - [ ] 2. Add "Email" as the second item in the footer, to the right of Twitter
 - [ ] 3. Add "Email" as the second item in nav menu footer, below Twitter

[2017-06-05 17:43] #473 closed

[2017-06-05 17:56] xmatthewx commented on #486
- [ ] Add "Email" as the second item in nav menu footer, below Twitter

[2017-06-05 17:57] xmatthewx commented on #96
I think yes. This ship has sailed.

[2017-06-05 17:57] #96 closed

[2017-06-05 18:45] cadecairos commented on #472
We can grab the last git commit id from this endpoint: https://jenkins.mofoprod.net/job/Network%20(production)/lastBuild/api/json

The response object will have the commit id at `resp.changeSet.items[0].commitId`

There's also a some other info about the build there that might be handy, if you care to have a look and see. (commit message, author, etc)

[2017-06-05 19:40] gvn commented on #472
Oh, sweet. Thanks @cadecairos !

[2017-06-05 20:12] alanmoo commented on #472
I guess I was thinking you'd be able to click the link on production and see what's coming from staging next (since `staging == master`). Would the route we're going then mean we'd have a link to click on the staging healthcheck that shows what's different from production?

[2017-06-05 20:16] gvn commented on #472
I'm already working on the changelog approach, but I can add the "upcoming" commits link in there too if it's useful.

[2017-06-05 20:20] gvn commented on #472
Here's an example of a new healthcheck:

[code]

[2017-06-05 20:20] alanmoo commented on #472
Yeah, the main driver of this ticket was we want to be able to see what's changed from production to staging so that we can more easily QA before deploying to production.

[2017-06-05 20:42] taisdesouzalessa opened #487 "Mozilla Network Launch Dashboard - data highlights"
**Description:**
Now that we have the [Mozilla Network Launch Dashboard ](https://datastudio.google.com/u/0/org//reporting/0B5UMbl9u1_wQdTlJTDZFUS0wSGs/page/OQ5E) set up it is time to think about which numbers we would like to see there.
What do we want to learn? Which numbers can help us on those learnings? How can we relate the different data points?

**Etherpad:**
https://public.etherpad-mozill

[2017-06-05 21:00] xmatthewx commented on #487
Thanks @taisdesouzalessa!

Remember that we can track many things in analytics and the database. For this dashboard, let's focus on things that feel right for a high level daily weather update. Things, for example, that would be interesting to see before, during, and after a big event or campaign.

I'm particularly interested in info from the database that we can't see at all in analytics. For exa

[2017-06-05 21:08] taisdesouzalessa commented on #487
Here is the spreadsheet with the items discussed in our meeting: https://docs.google.com/a/mozilla.com/spreadsheets/d/1k5p3SXfpFEUcoMrZ5YYwbOaCQbql70NxGFYsePbKrkI/edit?usp=sharing

[2017-06-05 22:02] xmatthewx commented on #487
I started that spreadsheet, but I honestly think it invites the wrong approach. Instead of being super comprehensive, I think we can keep it simple and additive.

If you could learn just one thing in June and July given our real traffic, see one fact on a daily basis, what would it be?

[2017-06-05 22:19] taisdesouzalessa opened #489 "QA > Fix alignment between title and body in single column Opportunity Pages"
**Issue**
We need to fix the alignment between title and body in single column Opportunity Pages.
Current:
<img width="1181" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26805766/51efeb84-4a02-11e7-90b8-5fdceffec205.png">

Designed:
<img width="515" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26805748/3c007460-4a02-11e7-9453-9ce3dcb17f33.png">

[2017-06-05 22:21] taisdesouzalessa commented on #489
@hannahkane here is the ticket :)

[2017-06-05 22:31] taisdesouzalessa opened #490 "Opportunity pages - anchor"
**Issue**
It seems that some of our Opportunities pages are using anchors to connect elements within the same page (more specifically peoples' names to their description).

Because our top nav bar is fixed, it hides the name of the person as a title once users click on the name list.
![anchor](https://cloud.githubusercontent.com/assets/22157921/26806035/b50be5fa-4a03-11e7-945f-05366d2c4b94.gif)

*

[2017-06-05 22:33] taisdesouzalessa commented on #487
@xmatthewx ok! So maybe we could include our 1 thing item to this thread? Or would you prefer a doc?

[2017-06-06 03:20] alanmoo commented on #490
A quick hack for this would be to give the headings a margin-top of 2em. But this is a very slippery slope, as we shouldn't be writing CSS for specific CMS pages. We should instead solve the problem at a systematic level. This seems like something that could happen on other pages that get created, so perhaps we need to reevaluate the fixed header nav.

[2017-06-06 16:00] xmatthewx commented on #490
Let's not try and fix this right now. I'm not sure that we'll see a lot of this use case. I did a bit of research and the internet has not solved this problem gracefully – solutions are hacky.

Since a person's name appears at the beginning of the paragraph, it's not totally broken. I'd rather remove anchor links than spend a bunch of time on this. We have bigger, more tasty fish to fry.

[2017-06-06 16:34] #472 closed

[2017-06-06 17:05] gvn opened #491 "Eliminate VIRTUAL_ROOT from env"
This is an artifact of using gh-pages for staged builds.

I don't think we'll ever need to run the site in a subdirectory (eg: `http://example.org/subdir/` for the homepage/root).

If we do this, we'll need to hardcode existing VIRTUAL_ROOT calls to `/`.

[2017-06-06 17:21] taisdesouzalessa commented on #490
Thanks for the insight here @alanmoo. I was wondering if a systematic level approach would be to make all the anchors in the site respect the top nav height. Because the fixed top nav exists everywhere in the site and all anchors would have the same issue as seen in the opportunities pages.

@xmatthewx I agree it is not totally broken. I think the improvement would be worth it in the future, thoug

[2017-06-06 17:22] gvn commented on #82
Closing due to planned removal of virtualized root: #491

[2017-06-06 17:22] #82 closed

[2017-06-06 17:29] gvn commented on #419
In that case, can we close this? @xmatthewx

[2017-06-06 17:46] #419 closed

[2017-06-06 17:47] xmatthewx commented on #490
We can leave it in the backlog for the future. I'll also mark as `help wanted`.

[2017-06-06 17:53] xmatthewx commented on #445
@taisdesouzalessa really nice work on this UX and UI. I think we can probably close this. Track requirements #477 and then open a new design ticket only if needed. What do you think?

[2017-06-06 17:54] taisdesouzalessa commented on #445
Agree, let's close it :).

[2017-06-06 17:54] #445 closed

[2017-06-06 17:59] xmatthewx commented on #344
We can roll this over to the next heartbeat. Probably requires a real-time discussion. We could turn off the feature for authors to customize the sign-up copy, or only allow them to add a short statement to the standard form.

[2017-06-06 18:16] xmatthewx commented on #60
tracking in a new issue.

[2017-06-06 18:16] #60 closed

[2017-06-06 18:17] xmatthewx commented on #330
no relevant.

[2017-06-06 18:17] #330 closed

[2017-06-06 18:19] sabrinang opened #492 "Explore Navigation Bar Design"
Continuing from the work on https://github.com/mozilla/network/issues/60#issuecomment-303482641 , explore how this navigation would work on various pages as well as consider how this will work with new artwork.

<img width="1172" alt="nav hero options" src="https://cloud.githubusercontent.com/assets/2492510/26368234/e70ce6c0-3fa5-11e7-8716-660c6a298aab.png">

Related Issues:
#426 menu icon positio

[2017-06-06 18:25] sabrinang opened #493 "Hero Artwork"
Continuing from the [explorations](https://docs.google.com/presentation/d/1QEfeQ4LEg8p9UXigdnp4zzgLTpuoje2d4qR5De30xs8/edit#slide=id.g1e305061e7_0_0) we did for board slides, we can start exporting assets and implementing some of this artwork.

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/2492510/26845186-88341c58-4aaa-11e7-9bca-458caf5ecde9.png">

Related design is

[2017-06-06 18:49] hannahkane commented on #482
Closing. This is done. More photos can be added as they are available.

[2017-06-06 18:49] #482 closed

[2017-06-06 18:51] xmatthewx commented on #476
@jessevondoom - want to take a stab on content for notice bar across the site? to replace welcome splash?

note: there are some concerns about this appearing on every page and on mobile. we will likely need a dismiss button.

[2017-06-06 18:56] xmatthewx commented on #344
This sprint we will hold a cross-team conversation on constraints and goals.

[2017-06-06 18:59] jessevondoom commented on #476
No problem. I'll work something up that could be split responsively. A minimalist statement and one we can expand on larger screens.

[2017-06-06 19:20] taisdesouzalessa commented on #430
Assigned this task to Sabrina: we talked and it seems to make more sense just one person takes care of the 2 changes in people's page :).

[2017-06-06 21:10] xmatthewx commented on #492
@taisdesouzalessa @sabrinang let's estimate this and hero artwork task

[2017-06-07 14:51] cadecairos opened #496 "Git info not available for healthcheck if the build was triggered manually"
If we trigger a build manually, and not via github webhook, there's no changeset data available on the JSON endpoint we're hitting. this is causing failed builds.

I propose we add in a build step that generates a json file containing the commit hash, and safe it as an artifact. Then we XHR it and use that instead.

[code]

`https://jenkins.mofoprod.net/job/%7BNetwork_Job%7D/lastSuccessfulBuild/ar

[2017-06-07 16:43] cadecairos opened #499 "Network builds fail sometimes on "dest/_images" creation"
`cp: cannot create directory 'dest/_images': No such file or directory`

[2017-06-07 16:43] cadecairos commented on #499
Example: https://jenkins.mofoprod.net/job/Network%20(staging)/236/console

[2017-06-07 17:05] jessevondoom commented on #476
Made two versions of the copy. One for desktop and one for mobile. Desktop version may be a bit much for 150px but I think we're okay if that pushes even as far as 250-300px. As long as there's a healthy slice of the site below I think the cue to scroll will be understood.

_DESKTOP_
**This is a Barn Raising**
There is a movement to keep the Internet healthy taking root around the world. Mozilla i

[2017-06-07 17:40] sabrinang commented on #410
![project links](https://user-images.githubusercontent.com/2492510/26892248-818ae00e-4b6c-11e7-8d53-d236b54000f5.jpg)
1 - have a link to a list of members projects (near see interview link in feature card)
   - this can surface a large list of projects within pulse but doesn't surface any content at a glance on people page itself
  - it may be useful to surface number of projects a member has from

[2017-06-07 21:16] sabrinang commented on #430
![people-card-layout](https://user-images.githubusercontent.com/2492510/26901065-54d89d54-4b89-11e7-8968-23e3ec48b266.jpg)

1 - consider removing internet health tags (initially these were included to provide context in which areas they care about and be sorted by but we do not have that functionality)

2 - make them look more like tags and have them be filterable (like in pulse)

3 - differentiat

[2017-06-07 21:26] sabrinang commented on #430
@xmatthewx @taisdesouzalessa feedback or thoughts on this people layout or content?

[2017-06-07 22:33] xmatthewx commented on #410
This is great. I think both options make sense, depending on what we can do technically (we can't do option 1 yet, but hope to have that at some point). I like the Titles in Option 2.

This might be done design-wise. What do you think?

Next, we have to figure out if we want to implement a quick simple feature (type info in CMS), or if we want to wait until the tech can do this stuff more automati

[2017-06-08 06:07] jessevondoom opened #500 "Promote the staging database to production"
I've added four of the new Tech Policy fellows as featured people using Mezzanine. (To coincide with them being announced on June 8.) Checked the pages [on staging](https://network.mofostaging.net/people/) and all looks good.

Could we promote the database up to production?

[2017-06-08 13:32] #500 closed

[2017-06-08 18:33] xmatthewx opened #501 "Add API endpoint to toggle Featured state"
@pomax – feel free to add details. or file this in a more sensible repo.

I'll put in this milestone's backlog as a stretch goal. is that okay?

[2017-06-08 18:33] xmatthewx commented on #501
Wanna estimate with @alanmoo?

[2017-06-08 18:54] gvn opened #502 "Opportunity pages are broken on staging"
(Due to CSP)

[2017-06-08 19:44] xmatthewx commented on #501
Totally wrong repo. Closing and moving to Pulse.

[2017-06-08 19:44] #501 closed

[2017-06-08 20:20] taisdesouzalessa opened #503 "User Journey - double opt-in"
Task: track the current website to e-mail user journey with screenshots and validate with email team to make sure we are aware of all scenarios and use cases. This documentation will help us in the discussion we will have cross team (#344)

Current user journey:
![user-journey-email](https://user-images.githubusercontent.com/22157921/26948971-12bb8de0-4c4d-11e7-9b5a-72fd2fd9ff74.png)

[2017-06-08 20:36] taisdesouzalessa commented on #503
@stephaniemcv I don't think we've met yet, so...first things first: nice to meet you :).
My name is Taís and I am a UX/UI designer for Mozilla Foundation.

I heard you are the person who could help me figure out the gaps I am having in the Network journey in terms of e-mail. What I am trying to capture in the above diagram is the users' point of view: in which order they receive e-mail communicati

[2017-06-08 20:40] taisdesouzalessa commented on #344
Having a conversation in #503 with Stephanie to have a more detailed view of the current experience - it would be useful to have the complete diagram handy for our cross-team meeting.

[2017-06-09 01:02] jessevondoom opened #504 "Request network.mozilla.org for the Network site"
We need a permanent URL for the Network site and the preferred location is **network.mozilla.org** — per @cadecairos this involves a MoCo security review before they'll transfer the DNS. So let's start the ball rolling on that and we can create additional issues should we need to make fixes after their review.

[2017-06-09 14:50] hannahkane opened #505 "Update homepage featured content"
The homepage content needs to be refreshed.

## Latest from the Network
 - I marked the recent articles about online protection and net neutrality as featured. (Sorry I didn't think to do this before the recent database push to prod.) I wanted to mark the Aadhaar post as featured, but noticed it was behind a paywall, so decided against it. (Thoughts?)
- The primary feature is Zeynep's video from M

[2017-06-09 14:57] hannahkane opened #506 "Update "Upcoming" content"
The [Upcoming page](https://network.mofoprod.net/programs/upcoming/) of the Network site needs a few updates

Suggestions (to be refined by @jessevondoom before implementation starts):
- [x] Move Mozfest Call for Proposals item up to main section (it's currently in "Recent") and indicate that the call is open until August 1
- [x] Add "NSF Wireless Innovation for a Networked Society Challenges subm

[2017-06-09 15:38] #496 closed

[2017-06-09 17:21] xmatthewx opened #507 "Unblock CMS adding Get Involved content"
Currently, the CMS manages News & People, but not Get Involved features on homepage. I paused this integration because of some questions that emerged just as @jessevondoom was joining the team.

It's time to discuss and set this work in motion.

My straw-person proposal:
 1. We create a simple model, no schmancy intelligence (title, body, link string & url, thumbnail).
 1. We add a feature control

[2017-06-09 17:37] xmatthewx commented on #505
I think we need to push to prod more often while content depends on that. Maybe we set a schedule rather than as needed.

😢 😭

Is there another video we could feature? Republica Internet Health clinic?

👍

[2017-06-09 17:46] alanmoo opened #508 "Run `npm run build` on production api with a debounce"
Related to #475 , update the Jenkins build URL we hit in the django signals for model changes (as env var).

Edit to clarify:
When users make changes on network.mofoprod.net/admin, the changes should be reflected on production after a short debounce time.

[2017-06-09 17:47] alanmoo commented on #508
cc @gvn @Pomax

[2017-06-09 17:49] alanmoo commented on #475
@gvn to experiment with building to django static files directory, key question is how we can access html files stored there using various routing setups.

[2017-06-09 17:54] gvn commented on #475
Etherpad from our meeting: https://public.etherpad-mozilla.org/p/network-merge

[2017-06-09 17:57] gvn commented on #507
This sounds good to me. I think leaving the model simple and highly adaptable makes a lot of sense.

[2017-06-09 18:04] gvn commented on #502
Should work again on next prod push.

[2017-06-09 18:12] sabrinang commented on #492
<img width="535" alt="image" src="https://user-images.githubusercontent.com/2492510/26988464-61a9b21c-4d04-11e7-98da-e446387080d0.png">

example of animation (but refer to design above):
![nav-example](https://user-images.githubusercontent.com/2492510/26950413-5ef5b316-4c52-11e7-9b75-ab9b4e860df8.gif)

- scope technical challenges

[2017-06-09 18:15] jessevondoom commented on #507
Seems like a perfect short-term approach, especially appreciate the flexibility it affords.

[2017-06-09 18:35] xmatthewx commented on #203
We should probably do a new estimate on this to include a means to select featured items outside of the entries themselves.

[2017-06-09 18:37] xmatthewx commented on #507
Great. I'm going to close this. Gavin, we can continue work in #203 or file something new if that's easier.

[2017-06-09 18:37] #507 closed

[2017-06-09 19:59] jessevondoom commented on #505
LATEST
Republica video sounds good to me, but I think we should get the Tech Policy Fellows post into that section as well if possible. Maybe push it up into the top 3 stories to the right of the video?

GET INVOLVED
Pushing people to the considerit page on IHR sounds perfect and the Mozfest CFP is great as the main feature in that Get involved section.

FELLOWSHIPS PAGE
Let's go ahead and add tec

[2017-06-09 20:16] hannahkane opened #509 "Replaced featured item in "Latest from the Network" section"
Please replace the video of Zeynep with this [YT video](https://www.youtube.com/watch?v=dRDz_1a8vqQ) of the Republica Internet Health Clinic event.

Copy:
Visit the Internet Health Clinic
by Mozilla
June 2017

[2017-06-09 20:17] hannahkane commented on #509
@gvn - would it be disruptive to add this to the current sprint?

[2017-06-09 20:41] hannahkane opened #510 "Update "Get Involved" featured item on homepage"
Let's replace the Mozilla Global Sprint item with the MozFest Call for Proposals

**Image:**
**Title:** MozFest 2017 Call for Proposals
**Description:** MozFest is the world's leading festival for the open Internet movement. It will be held October 27-29, 2017 at Ravensbourne College, London. Anyone may submit a proposal for MozFest 2017. MozFest sessions cover a wide range of topics, but share tw

[2017-06-09 20:50] hannahkane commented on #505
### Done
 * Added Tech Policy Fellows post to featured News items. (not visible yet)
 * Added a Mozfest CFP entry to Pulse.
 * Asked Sam and Solana in an email about adding a link to the considerit page. I'd want to use their language.
 * Added link to Tech Policy page from [Fellowships page](https://network.mofoprod.net/opportunity/fellowships/)

### Follow-up tickets:
 * [Replace featured video

[2017-06-09 21:14] gvn commented on #509
No, that should be fine, but we'll need design to make a new image.

[2017-06-09 21:26] hannahkane commented on #509
In that case - @sabrinang - same question. Would it be disruptive to put this into the current sprint?

[2017-06-09 21:29] sabrinang commented on #509
I can take this on @hannahkane

[2017-06-09 21:31] hannahkane commented on #509
rad. thanks, both!

[2017-06-09 22:26] stephaniemcv commented on #503
Hey Taís, great to meet you!

1. Journey 1 is accurate. Journey 2  and 3 should be switched. If they are already registered to the Mozilla Leadership Network list and try to re-signup, nothing happens.
2. If they are already registered in any Mozilla mailing lists, they only get the Welcome email. They don't have to confirm the double-opt in again.
3. Hmm, I think this covers the main scenarios. I

[2017-06-09 22:45] sabrinang commented on #509
Video screencap on gdrive here: https://drive.google.com/a/mozilla.com/file/d/0B4Q8pzCpDS_ea1p0T0o3OTFnNlU/view?usp=sharing

Preview
<img width="1112" alt="preview" src="https://user-images.githubusercontent.com/2492510/26996677-b55e9548-4d28-11e7-8d55-9cae894b47dc.png">

[2017-06-12 13:17] alanmoo commented on #504
Is our Jenkins setup going to be a problem with this? Would it be better if we wait until we get everything static on Mezzanine?

[2017-06-12 13:58] cadecairos commented on #504
They're generally alright with CSP included via meta tag

[2017-06-12 15:03] xmatthewx commented on #430
@sabrinang - I think you're right – moving Issues below would help a bunch. Also good to move partner logo back under thumbnail, now that we are no longer flipping the card.

 - You have more contrast in type weight and color than we see on production. If we implement this for real, we might need to adjust more.
 - Later, we can add real tags for filtering when we have more engineering time. For n

[2017-06-12 16:29] Pomax commented on #508
it's been a few days, what was this going to achieve for us?

[2017-06-12 16:30] gvn commented on #508
Regular builds run on production will ensure that the non landing page content stays up to date.

[2017-06-12 16:32] Pomax commented on #508
does that mean continuous building (a la crontab) with debouncing to  make sure we don't build more often than once every X minutes, or signal-based building (e.g. when master updates) but with debounce to make sure only that we still only build once every X minutes at most?

[2017-06-12 16:36] gvn commented on #508
Ideally we should run a build whenever content gets updated in Mezzanine.

If that's not possible, then it should be run on an interval.

[2017-06-12 16:38] cadecairos commented on #508
We don't need to build every X minutes.

We already have the code to run builds when API data is changed - that's how we update staging. all we need to do is update the Jenkins build URL we hit (Via ENV var) in the django signals for model changes.

[2017-06-12 16:55] Pomax commented on #508
cool, update the issue comment with that

[2017-06-12 18:02] #363 closed

[2017-06-12 18:21] taisdesouzalessa commented on #476
Here are the splash options:

V1: in V1 I kept the last paragraph in both expanded and minified version. I think it is a better user experience because it adds continuity between the 2 states.
- Desktop (you can click on the close button, it works):
https://invis.io/NBC4CN8SY#/238463456_Desktop-Expanded
- Mobile (you can see this link on your phone and tap):
https://invis.io/GKC4CTZN4#/238463781_M

[2017-06-12 19:19] xmatthewx commented on #476
In collapsed view, can we go to a single line with ellipses...? To save space? I think that's preferable. At least in desktop.

On desktop, I think we should try this as multi-column to reduce line length. Even columns or 1/3–2/3 if that helps with line breaks.

I'm down for smooth animation if we can make the words that show in the collapsed state okay. I'm unsure whether "If you are apart of thi

[2017-06-12 20:32] jessevondoom commented on #476
Yeah I love the way it appears to condense itself as it shrinks, but I share @xmatthewx's concern re: messaging on return. So I think the second option with the current "Welcome to..." message is probably preferred here.

[2017-06-12 22:18] taisdesouzalessa commented on #476
Good point on the messaging for the returning user. What if we used the following animation for changing the messaging? I find the fade out makes the transition less abrupt so it is clear to users we are shifting the messaging. Using 2 columns layout, as Matthew suggested:
![banner-v4](https://user-images.githubusercontent.com/22157921/27057485-43c04642-4f81-11e7-93c0-b75bce2a6b76.gif)

The 2 colu

[2017-06-12 22:23] taisdesouzalessa commented on #476
One thing I noticed is that we have "Internet Health" in the messaging on the top while the main hero message says "internet health" - no uppercase. Should we use "internet health" on the top messaging as well to keep it consistent?

Another question is on desktop the title reads "This is a Barn Raising" while mobile says "This is a movement" - could we change mobile to "This is a Movement"? Upper

[2017-06-12 22:31] taisdesouzalessa commented on #503
@stephaniemcv thank you so much for your guidance here. Now things are more clear to me :)
I am interested in the edge cases as well, could you let me know what happens? I am also interested to know the frequency they happen, if you have this info.
Let me know if you would prefer to do this over Vidyo.

[2017-06-12 22:48] taisdesouzalessa commented on #503
Here is the updated journey. Please let me know if I am missing something, Stephanie.
![double-opt-in](https://user-images.githubusercontent.com/22157921/27058497-8160805c-4f86-11e7-91fa-418717503917.jpg)

[2017-06-13 01:01] jessevondoom commented on #476
If you want to try removing "iterate and" in the final paragraph to make the word wrap nicer, we can go with just "to help it grow" that should be fine. New animation looks really nice!

Re: "Internet Health" v "internet health" — that's my fault. I'm old and have "Internet" as a proper noun forever. I think either is actually fine. Let's do "internet health" in the header so it matches.

But for

[2017-06-13 14:06] xmatthewx commented on #476
The current mozilla [style guide](https://www.mozilla.org/en-US/styleguide/communications/copy-rules/) says to capitalizes Internet. Lotta follows that in her WIP [comms style guide](https://mozilla.github.io/content/comms%20toolkit/). Yuliya says that with new brand, internet will be lowercase, though it's not documented anywhere. I've tried to follow that, with mixed success.

[2017-06-13 14:11] jenntbeard commented on #506
The correct dates for the Gigabit grants can be found here - https://learning.mozilla.org/en-US/gigabit/apply.

Updated copy should read: Innovators in the gigabit cities of Austin, Chattanooga, Eugene (OR), Lafayette (LA) and Kansas City can seek support for projects that leverage next-generation Internet.

[2017-06-13 18:13] sabrinang commented on #493
<img width="1219" alt="example" src="https://user-images.githubusercontent.com/2492510/27096886-5a632aee-5027-11e7-963d-4770c65922e2.png">
4 corner gradient, repeating pattern and image (transparent at the sides) in the center with background-blend-mode: overlay

@gvn does this work to assemble in css if i supply the main image + repeating pattern?

[2017-06-13 18:45] gvn commented on #493
The pattern and hero image composite should work. I'm not sure about the gradient being CSS generated. I think it'll have to be 4 radial gradients, which I've never tried, but let's give it a shot!

[2017-06-13 20:14] #489 closed

[2017-06-13 20:49] xmatthewx opened #514 "Iterate UI based on new hero design"
Ideally we find some small enhancements we can make in the short-term... small flourishes with nice visual impact. I recommend we take a look at Kristina's work on Internet Health site. Some nice elements we might pull in.

[2017-06-13 21:01] stephaniemcv commented on #503
Aww, I get an error message when I click on the link. "The image cannot be displayed because it contains errors."

[2017-06-13 21:07] taisdesouzalessa commented on #503
Oh, that's no good. Here is a link: https://redpen.io/ws99a7bd530a91b791

I would recommend you zoom out in your browser to see the whole diagram (I kept it as a big image so we can see that's written in the e-mails).

[2017-06-13 21:30] gvn opened #516 "Add dependency freshness badges"

[2017-06-13 22:31] stephaniemcv commented on #503
Thanks! It looks good. Do you think we need to call out on flow 2 that it is registered to either Mozilla or Firefox list in the past?

Edge cases that I've seen tend to be around manually importing email address (example: if they were collected on paper at an event). The flow is then dependent upon how recently the emails were collected, relatively recently and we've sent them through flow 2. Old

[2017-06-13 23:53] taisdesouzalessa commented on #476
Here are the mockups with the latest changes:
- without "iterate and".
- Internet is capitalized (as per Matthew's suggestion). "Internet Health" has uppercase on both words but "healthy Internet" doesn't, correct? Please let me know if you need any adjustments.
- "Movement" is capitalized in mobile.

Desktop: https://invis.io/NHC4H7MEM#/238506265_Desktop-Expanded-2col
Mobile: https://invis.io/GKC

[2017-06-13 23:57] taisdesouzalessa commented on #503
Hey Stephanie. Thank you so much for your reply and for the edge cases. Super super helpful.

Absolutely! I'll update the chart above to reflect that.

[2017-06-14 00:18] sabrinang commented on #430
I iterated on the partner logo position and went back to pairing it with the short bio in grey since they are related and it provided context for the logo on both small/big cards. I used the list style of "Interests:" beneath but in the future we can use tags when we have more engineer time. I also adjusted the spacing so the sections are grouped and more defined.
<img width="762" alt="image" src=

[2017-06-14 00:28] sabrinang commented on #410
Option 2 project links list with proposed layout in issue #430
![proposed project links](https://user-images.githubusercontent.com/2492510/27110339-744a8f2a-505d-11e7-82f5-4ec353483baf.png)

[2017-06-14 18:05] sabrinang commented on #430
@xmatthewx  feedback?

[2017-06-14 18:08] hannahkane commented on #476
@jessevondoom - do you want to run this by Mark?

[2017-06-14 18:27] xmatthewx commented on #410
This is good. I'm think we can call this done, file an engineering ticket to implement, but keep it in the backlog to sort and figure out where this sits on the priority list.

@sabrinang – what do you think?

[2017-06-14 19:04] cadecairos commented on #504
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1372971

[2017-06-14 19:40] alanmoo commented on #516
Like these?
![cxo2to8lwsm53earxedz0yiacwrgosa2cduj8vnrjiqqkxmrhpbyqjuhbhezkrv4](https://user-images.githubusercontent.com/1682681/27151162-b7d32620-5117-11e7-95d7-b997a6bb46a9.jpg)

[2017-06-14 19:54] alanmoo opened #517 "Change source of "highlights" from hardcoded to network-api"

[2017-06-14 19:56] alanmoo opened #518 "Enable CMS editing of Highlights section (shows up under "Get Involved" on homepage)"
Zenhub epic

[2017-06-14 19:57] alanmoo commented on #203
Made an epic, this is the first item in it and it is complete, so I'm closing for accurate estimation records.

[2017-06-14 19:57] #203 closed

[2017-06-14 20:30] cadecairos commented on #508
alright, I created a [new Jenkins job](https://jenkins.mofoprod.net/view/PROD/job/Update Network Frontend) that grabs the commit ID artifact from the last successful production build and builds and deploys it again.

The build trigger URL on production is now pointing there.

[2017-06-14 20:31] cadecairos commented on #508
Also, builds are debounced for 2 minutes, and throttled to happen no sooner than 5 minutes apart

[2017-06-14 21:11] taisdesouzalessa opened #519 "Replace splash page with expanded notice"
**Expanded Copy:**
DESKTOP
This is a Barn Raising
There is a movement to keep the Internet healthy taking root around the world. Mozilla is a part of this movement and wants to help it grow.

We're building a home for people who care about the health of the Internet, hand in hand with the community that emerged from MozFest and events around the world. It’s a space for us to learn, find resources,

[2017-06-14 21:17] sabrinang opened #520 "Implement Adding Project Links to People Card"
Based on the design ticket https://github.com/mozilla/network/issues/410, we're adding project links (pulse) so we can link from the profile cards to their projects.

![proposed project links](https://user-images.githubusercontent.com/2492510/27110339-744a8f2a-505d-11e7-82f5-4ec353483baf.png)

In the design ticket, engineering discussion started with "...we have to figure out if we want to impleme

[2017-06-14 21:17] sabrinang commented on #410
@xmatthewx Sounds good to me. Closing this ticket and filed implementation ticket here https://github.com/mozilla/network/issues/520

[2017-06-14 21:17] #410 closed

[2017-06-14 21:34] taisdesouzalessa commented on #344
Hey team, @stephaniemcv  helped me figure out the missing pieces of the current journey (from website to e-mail...yay! Thanks, Stephanie). This is a snapshot of the journey as is now. RedPen: https://redpen.io/ws99a7bd530a91b791
![double-opt-in](https://user-images.githubusercontent.com/22157921/27109992-0c5fe6be-505b-11e7-971f-12b79b7edafb.jpg)

By looking at this diagram, some elements stood out

[2017-06-14 21:48] sabrinang commented on #493
image and background are in gdrive here: https://drive.google.com/open?id=0B4Q8pzCpDS_eRERhbllweWhsSXc

[2017-06-14 21:51] #503 closed

[2017-06-14 22:08] jessevondoom commented on #476
@hannahkane I'll mention to him that we're doing it but I think we can go ahead and proceed with this direction. There's a clear reason for it and he'll be fully supportive.

The only feedback I could imagine from him would be to make it somehow more obvious or bolder...but that may actually be moot if we're moving to the new hero design...the flat color would stand out considerably more next to t

[2017-06-14 22:13] xmatthewx commented on #493
Yay. Looks great. I believe we want a new implementation ticket. We can estimate during grooming tomorrow.

[2017-06-15 15:22] hannahkane commented on #430
hey @sabrinang - I just wanted to weigh in briefly here. I really like the new treatments for the interest areas. I think both the interim and the long-term solutions are upgrades from what we currently have.

I think we still haven't addressed parts of the original comment. Pairing the Mozilla role and the location is confusing. I think it might be better to include their location after their pro

[2017-06-15 16:20] xmatthewx opened #521 "Refine member "roles" in profiles for clarity"
We need plain language to describe Roles of members in the network. Current phrasing on People page is inconsistent and sometimes totally unclear for non-insiders.

Examples:
 - Digital Skills Observatory contributor
 - HiveNYC
 - Mozilla Reps

Here's a doc to discuss better [role phrasing](https://docs.google.com/document/d/1oweBXa785-WKAOZVmjAEkrwcVxJHLO2GieWIEOhzYYc/edit#) and build consistency

[2017-06-15 16:22] xmatthewx commented on #430
Thanks @hannahkane. This all makes sense. @sabrinang - you've done well. There's a lot of different info to organize. This isn't easy.

 - An icon next to location could be cool.
 - Labeling Role might help too as Hannah suggests.

Also: I think we can greatly improve the content/copy used to describe roles. Some are totally unclear people who aren't insiders. https://github.com/mozilla/network/is

[2017-06-15 16:28] xmatthewx commented on #521
@hannahkane I'd love your help with this. @jessevondoom feel free to drop in any guidance.

[2017-06-15 16:51] gvn commented on #476
This should work from a technical standpoint.

[2017-06-15 16:51] gvn commented on #516
Yes, exactly.

[2017-06-15 17:09] #509 closed

[2017-06-15 17:36] hannahkane commented on #476
Closing this. #519 no longer blocked.

[2017-06-15 17:36] #476 closed

[2017-06-15 18:09] xmatthewx opened #523 "Implement new hero artwork"
Design in #493

[2017-06-15 18:14] xmatthewx commented on #492
This is done design-wise, yes? If so, let's file an implementation ticket and connect with the hero implementation ticket.

[2017-06-15 18:15] xmatthewx commented on #493
Done! Implementation continues in #523.

[2017-06-15 18:15] #493 closed

[2017-06-15 18:16] xmatthewx opened #524 "Implement new navbar design"
design in #492

[2017-06-15 18:18] xmatthewx commented on #492
closing. yay. implementation continues in #524

[2017-06-15 18:18] #492 closed

[2017-06-15 18:23] alanmoo opened #525 "Investigate: Responsive image solution"
We need to figure out an approach for responsive images across the site- heros, but also content images. We might need to change the focus point on various images at different breakpoints so certain parts of the image are all visible.

[2017-06-15 18:27] hannahkane commented on #524
question about transition between transparent and inverted, especially logo. estimate factors this in.

[2017-06-15 18:31] xmatthewx opened #526 "Implement submitter is creator"
When someone adds an entry to Pulse, they are likely a creator. Let's allow people to identify this fact and link their user to creator. Model already allows for this relationship.

Design in #564

[2017-06-15 18:33] xmatthewx commented on #526
wrong repo 💩

[2017-06-15 18:33] #526 closed

[2017-06-15 18:43] hannahkane commented on #519
estimating as written, though we know some changes might be requested
MVP for animation is: Slightly Janky

[2017-06-15 22:17] Pomax commented on #508
v.nice -- does that mean we can close this?

[2017-06-15 22:58] gvn commented on #523
A couple options from pairing with @sabrinang earlier:

<img width="1905" alt="screen shot 2017-06-15 at 3 46 10 pm" src="https://user-images.githubusercontent.com/206379/27205042-51f86dc0-51e3-11e7-91cc-ed0b290f44a9.png">
<img width="1913" alt="screen shot 2017-06-15 at 3 55 14 pm" src="https://user-images.githubusercontent.com/206379/27205043-51f8f092-51e3-11e7-96ca-0ec04c54802b.png">

[2017-06-16 00:40] sabrinang commented on #523
I exported cropped jpgs in the google drive folder: https://drive.google.com/open?id=0B4Q8pzCpDS_eRERhbllweWhsSXc

I also lightened the shadows so the people are not as dark.

[2017-06-16 14:31] alanmoo commented on #508
Yes, I verified it worked yesterday.

[2017-06-16 14:31] #508 closed

[2017-06-16 16:19] sabrinang commented on #430
@hannahkane  I iterated on a few options from the feedback:

- relocated location to the bottom near “interests” so it is more separate from role and adding mozilla wordmark as a label for role (may be redundant in some cases if users type Mozilla in their network role already)

- including labels “network role”, “location”, “Affiliation” <— “Affiliation” label may not work since some examples use

[2017-06-16 18:07] hannahkane commented on #121
Done for now

[2017-06-16 18:07] #121 closed

[2017-06-16 20:58] hannahkane commented on #430
Thanks, @sabrinang, for the speedy iterations.

I really like the icon versions. I think the map marker is super clear. I'm not sure the "m" will be a perfectly intuitive indicator of the Mozilla role, but I think that can be largely addressed through the content itself, and I think it's preferable to trying to give the field a name.

Will comment on the content questions in the other ticket short

[2017-06-16 21:24] hannahkane opened #528 "Change header and blurb on /news"
We changed the header of the corresponding section of the homepage to "Latest from the Network," so now it doesn't match the header on the /news page, which reads "In the News."

![screen shot 2017-06-16 at 2 23 37 pm](https://user-images.githubusercontent.com/8389648/27245286-6cfe13b0-529f-11e7-8f44-02dff58dac8c.png)

![screen shot 2017-06-16 at 2 23 23 pm](https://user-images.githubusercontent.c

[2017-06-16 21:31] #491 closed

[2017-06-16 21:52] taisdesouzalessa commented on #430
I agree the icons work great there :). Easy to scan and find the info at a glance. I prefer the icons than the labels. I agree the "m" can be a bit confusing, although once the user gets one, they get all the cases.

I was wondering if we could always add Mozilla in the relationship with us?

For instance, we have "Mozilla Science Fellow" for Teon Brooks, couldn't we have "Mozilla Open Web Fellow"

[2017-06-16 22:24] hannahkane commented on #430
@taisdesouzalessa - added your comments to the [doc](https://docs.google.com/document/d/1oweBXa785-WKAOZVmjAEkrwcVxJHLO2GieWIEOhzYYc/edit#) where we're discussing standardizing the roles.

@sabrinang - let's go with the icon treatment, and assume we're going to solve the Mozilla relationship through the content strategy.

[2017-06-16 22:49] jessevondoom commented on #430
I'll +1 the icons. Karolina's profile feels far more parse-able now and I think it works. By itself the icons don't scream "Mozilla relationship" but I think the icon plus the context combines to make it far clearer than it is now.

[2017-06-19 21:50] gvn opened #536 "Add package-lock back"
Due to what appears to be a bug in npm, we're gitignoring `package-lock.json` and also removing it as a `preinstall` command.

Once npm is fixed we should add it back.

[2017-06-19 23:01] gvn commented on #536
Possibly related to this bug: https://github.com/npm/npm/issues/17091

[2017-06-20 16:47] xmatthewx commented on #191
moving to the backlog

[2017-06-20 16:48] #516 closed

[2017-06-20 17:35] xmatthewx opened #539 "Explore a News homepage"
As we prepare to ramp up editorial for the site, @jessevondoom makes a good case for /news/ as a primary page, acting almost as a second homepage. Let's explore other news/media homepages and see how this might translate for us.

Gather targeted benchmarks and consider...
 - hero and feature stories
 - mark stories with tags & issues
 - author avatars and profiles
 - ...?

We can start this design

[2017-06-20 17:39] xmatthewx commented on #539
@jessevondoom – feel free to drop in a couple of links to help calibrate our benchmarking.

[2017-06-20 18:46] xmatthewx opened #540 "Capture organic traffic on landing pages"
We get some good organic traffic from Medium to our landing pages, but they're pretty much a dead end right now.

How can we capture some of these eyeballs?
 - "hello, this is the network" footer
 - you might also be interested in News, Projects, or Get Involved
 - etc...

cc @taisdesouzalessa @sabrinang

[2017-06-22 19:34] taisdesouzalessa commented on #486
Here are the screenshots and the sketch file that contains the e-mail icon.
1. The e-mail link (pointing to network@mozillafoundation.org)beside the Twitter link. The distance between the links is 30px (I kept it the same as our bootstrap gutter default). This component exists in 2 pages: [About](https://network.mofoprod.net/about/) and [Get Involved](https://network.mofoprod.net/get-involved/)
<i

[2017-06-22 21:30] gvn opened #543 "test:scss task is only covering main.scss"
We should expand it to run on all SCSS files. Note: globs won't work on Windows.

[2017-06-23 16:53] taisdesouzalessa commented on #539
The benchmarks will be collected in a board in InVision, in case you want to check out the examples being captured: https://projects.invisionapp.com/boards/BQ35I41GZ83VC/ - @jessevondoom I can add the examples you have to that board too. If possible, could you also give a quick summary of 2-3 reasons you think an example is good? That will give me some guidance when I build this page.

[2017-06-27 00:24] hannahkane commented on #539
Love the thinking here so far, especially the idea on the InVision board about curated reading lists, and the idea of separating content we produce from content *about* us.

Have we defined user goals for this page, or do we want to use the design process to drive that conversation?

[2017-06-27 05:59] taisdesouzalessa commented on #539
I would love to understand better the user goals for this page. That would allow me to focus on what are the most important needs and do the design around that. Should we use "“As a user I want to … [user goal].”?
I find the news is a good page to bring returning users since it is understood that news pages would have new content and people would come back to it to read it. Curious of what others

[2017-06-27 15:17] jessevondoom commented on #539
I'll fill in more details (promise!) but some quick top level-goals, in no particular order, are:
- To have an easily bookmarked "homepage" for return visitors who care about news
- To provide a curated view of news that impacts or features the network
- To be able to aggregate news stories in a way that puts them in the context of our Internet health movement goals

But you're right, @taisdesouza

[2017-07-03 17:13] xmatthewx commented on #528
Good call @hannahkane. Longterm, we can address with #539. But short-term this sounds right.

For blurb, how about:  "Stories by and about members and their initiatives."

[2017-07-03 17:35] hannahkane commented on #51
I think we can close this. Feel free to reopen if anyone disagrees.

[2017-07-03 17:35] #51 closed

[2017-07-03 17:43] hannahkane commented on #191
I tried adding the iframe, and it didn't work.

Looked like this:

![screen shot 2017-07-03 at 10 42 07 am](https://user-images.githubusercontent.com/8389648/27803047-5aa86bc6-5fdc-11e7-8a4a-90e331a4f175.png)

[2017-07-03 18:48] hannahkane commented on #505
Closing this.

[2017-07-03 18:48] #505 closed

[2017-07-03 20:32] xmatthewx opened #545 "Design Projects detail view"
Currently, projects on the project page link to Pulse. We should keep people on the network site for less disruption by showing a detail view on the network site.

Design for this should be based on new and improved detail view by Kristina. https://github.com/mozilla/network-pulse/issues/527#issuecomment-300548835

[2017-07-03 20:38] xmatthewx opened #546 "Provide content for expanded About page"
Beyond the 5 issues, we have some Themes worth articulating (aka Hubs, Topics, Priorities, Trends, Focus). issues and themes could also link to related projects in pulse (people and opportunities when that stuff is tagged and ready). Discussion with Jesse started [here](https://docs.google.com/document/d/1DKWHgVKeZi69yvwigK0a-g1J40j6kp4jFeX0hTjqsso/edit).

I think this needs a bit of thought, guid

[2017-07-03 21:50] hannahkane commented on #521
Added more comments. I think we're really close. Maybe @jessevondoom can bring us home!

[2017-07-05 19:39] xmatthewx commented on #487
here's some info i gathered from the pulse DB and analytics that i think give a useful snapshot on the state of things.

![pulse facts june 2016](https://user-images.githubusercontent.com/53411/27881778-f357dc82-6197-11e7-8034-bca7e0e1799a.png)

[2017-07-05 19:44] xmatthewx commented on #506
@hannahkane – should we add this to next week or the next heartbeat. seems valuable for engagement. can we assign you?

aside: if we still think this page gives visitors a valuable snapshot to understand the network and engage (cc @jessevondoom), we should migrate this content to mezzanine. or, is this view better as a curated list of opportunities posted to Pulse?

[2017-07-05 19:47] xmatthewx commented on #420
@taisdesouzalessa - interested in taking on this small copy change? not a huge priority, but a chance to practice your git skills.

[2017-07-05 19:48] xmatthewx commented on #207
@taisdesouzalessa continued this work in #503

[2017-07-05 19:48] #207 closed

[2017-07-05 19:49] xmatthewx commented on #280
I'm going to close this. The site's Editor can establish the rules and make a plan for consistency. We can dig this up when they're on board if needed.

[2017-07-05 19:49] #280 closed

[2017-07-05 19:51] xmatthewx commented on #346
tracking in #504

[2017-07-05 19:51] #346 closed

[2017-07-05 19:52] xmatthewx commented on #43
@arlissc - it would be great to see a sample report. i'm going to close this ticket though, as this work has continued elsewhere.

[2017-07-05 19:52] #43 closed

[2017-07-05 22:41] taisdesouzalessa commented on #525
Just out of curiosity I took a look at some data related to the current Browser sizes our audience has been using:

<img width="981" alt="image" src="https://user-images.githubusercontent.com/22157921/27887961-4b283312-6198-11e7-9c50-f4e521ecada0.png">

Although we shouldn't extend those numbers to all our audience, I think it is interesting to see that the majority of current mobile users have br

[2017-07-06 18:40] xmatthewx opened #547 "Add link on form for info on 5 issues"
When people submit an entry to Pulse, we offer 5 issue categories. Would be useful to link to more info on Internet Health and the 5 issues.

Link: https://network.mofoprod.net/about#internet-health

Note: anchor needs to be added to the site's page

<img width="604" alt="screen shot 2017-07-06 at 2 34 37 pm" src="https://user-images.githubusercontent.com/53411/27927033-6a3876a2-6258-11e7-9d11-c6f

[2017-07-06 19:52] Pomax commented on #477
It's been a while, so in the interest of having enough information in the issue for anyone to jump on it, what do we mean with "subpages in Mezzanine"? Are we talking purely the `Pages` system, where we currently have a (quasi-)locked and then subpages to that, with the intent to allow sub-subpages, sub-sub-subpages, etc.?

<img width="667" alt="screen shot 2017-07-06 at 12 48 11 pm" src="https://

[2017-07-06 20:45] xmatthewx commented on #477
That original comment was composed while talking with Alan, Tais, and Gavin. Sorry for the missing context. You more or less got it.

The idea: a staff author can create an Opportunity page like Leadership Training and then create sub-pages under that, such as an FAQ. On the front-end, we could then generate a [simple nav element](https://redpen.io/wh681ba02d54215838) to browse this small set of p

[2017-07-06 20:54] jessevondoom commented on #546
I think there's an organizational hierarchy in the network that maps nicely to Internet Health:

1. Key issues
2. Themes
3. Tags

The key issues are self-evident. We reinforce the IH issues at a top level and use them to navigate projects/people in the network.

Themes are similar, but less permanent. We can show 10-12 high-level things — hubs, women and the web, fellowship groups, network 50, wha

[2017-07-06 20:59] jessevondoom commented on #506
I think moving this into mezzanine is probably the best way to go for now. It'll allow easier editorial control until we figure out how we're handling various time-sensitive opportunities. (I do think there's a big role for Pulse here, just probably a few conversations we need to have first.)

[2017-07-07 00:40] tgrundmanis opened #549 "Do you need an automated style review tool?"
Myself and a cofounder created a style linter developer tool that comments on style errors in GitHub pull requests (for 15 languages and counting). It is free for open source projects.

You can check out the product on https://stickler-ci.com. Just authorize your GitHub account, enable a public repo, and then open/update an existing pull request (or create a new pull request).

[2017-07-07 17:02] #502 closed

[2017-07-07 17:22] taisdesouzalessa commented on #540
I think this is very important, particularly for the Landing Pages that are Opportunity pages.

If we take a look at the Analytics report for the network 50, for instance (1 month period) we can see that 94.2% of sessions drop off after that, which seems very high. This page seems to have been receiving more traffic than the homepage (correct me if I am wrong, but I think our home page is represen

[2017-07-07 17:35] taisdesouzalessa commented on #303
Update: Zilla is on Google Fonts but not the highlighted version.
https://fonts.google.com/specimen/Zilla+Slab

[2017-07-07 17:39] xmatthewx opened #551 "Move 'Upcoming' content to Mezzanine"
Worth discussing: should this be the same content-type as the Get Involved home page features? Upcoming things seem like to move to that featured space.

Get Involved highlights model here: #518

New Upcoming content here: #506

cc @jessevondoom @hannahkane

[2017-07-07 17:39] xmatthewx commented on #373
tracking in #551

[2017-07-07 17:39] #373 closed

[2017-07-07 17:48] #549 closed

[2017-07-07 17:57] xmatthewx commented on #549
Oh well. Anyone know of an adblocker for github issues? 💩 💩 💩

[2017-07-07 18:00] xmatthewx commented on #540
Yep. We posted a medium article that got a bunch of organic traffic to that page. THose page pull people to sign up, but not back into the site itself. Something to consider for sure.

[2017-07-07 18:27] hannahkane commented on #539
Waiting until week of July 17th to reconvene around this - pulling in insights from user journey conversation + editorial strategy

[2017-07-07 18:34] hannahkane commented on #344
@taisdesouzalessa will schedule a follow-up meeting to discuss with @jessevondoom @xmatthewx @stephaniemcv, etc.

[2017-07-07 21:01] taisdesouzalessa commented on #344
Booked a 30min meeting next Friday (July  14th).

[2017-07-07 23:41] hannahkane commented on #506
Filed a PR for these changes in the meantime, but, agreed, moving this to Mezzanine would be rad.

[2017-07-10 16:51] #506 closed

[2017-07-10 21:36] hannahkane opened #555 "Conduct web properties audit"
This is only tangentially related to the Network site, but I think this is the best repo to file this.

Review all existing web properties and compile a list of recommendations about what to do with various content, functionality, etc.

[2017-07-10 21:38] #510 closed

[2017-07-10 22:05] gvn commented on #519
@taisdesouzalessa Can you attach the SVG for the **+** ?

[2017-07-10 23:44] sabrinang commented on #523
@gvn I modified the image so the edges don't fade to white but a continuation of the beige background so when blend mode overlay is applied it shows. I made a repeating background tile to use on subpages. I included a dark line version which we can use first (and included a backup white line version that uses a .png though). Colour hex for gradients are on this reference image:
![ref](https://user

[2017-07-11 14:54] taisdesouzalessa commented on #519
hey @gvn, here is the svg for the "+". It is the same as the "x", but rotated 45°. I used the same asset as our menu "x" - but smaller.

I can't upload svg here, so I compressed it to zip - let me know if you have any tricks to get straight to svg here, maybe I am missing something?
[extended-plus-top-banner-optimised.svg.zip](https://github.com/mozilla/network/files/1139278/extended-plus-top-bann

[2017-07-11 16:24] arush0311 commented on #543
quotation marks around arguments should fix this. Can I take this?

[2017-07-11 17:13] arush0311 commented on #517
Can I take this?

[2017-07-11 17:17] gvn commented on #519
Thanks! I think you'll have to ZIP SVGs, unfortunately.

[2017-07-11 17:32] gvn commented on #517
I think it'll be better if I wrap this one up as it's part of an epic-in-progress, but thanks!

[2017-07-11 17:53] arush0311 commented on #386
On my screen the scrollbar was needed on menu as it did not fit in one page, so there's that.

[2017-07-11 18:05] Pomax commented on #386
having scrollbars when they're necessary is good. Having scrollbars even when they're not necessary is less good, better to double check our CSS to figure out why the scrollbar even shows when the content fits just fine.

[2017-07-11 20:31] taisdesouzalessa commented on #540
@xmatthewx let me know in which milestone you would like to tackle this issue. For now, I am moving to the 28th.  Feel free to change it as you see fits.

[2017-07-11 20:37] taisdesouzalessa opened #557 "Read the "Mozilla Leadership Network: stories+early learnings" and summarize the findings"
- [x] Read [this report](https://drive.google.com/a/mozilla.com/file/d/0B3b1KWRwjxtoZHdtdkp4Nmt1X2M/view?usp=sharing)

- [x] Summarize the findings. The goal of this exercise is to better understand the audience described there and come up with an easy to digest summary of the main ideas we saw there.

[2017-07-12 13:15] arush0311 commented on #520
Can i take this?

[2017-07-12 15:05] taisdesouzalessa opened #560 "Dashboard with all data related to our users"
**Description:**
The data we have about our audience and staff insights related to the Network is spread in many documents and places. This situation was a bit challenging for design, who had to constantly remember where the data was in order to access it for design research. The proposed solution for that was to create a dashboard, with links pointing to all the places data lives.

Here is the li

[2017-07-12 15:12] taisdesouzalessa commented on #560
We talked to 270 Strategies about this model and received the following feeback from Caroline:
1. It seems like there is some color coordination with the lines and types, but I'm not 100% sure what it means. I would recommend making that clearer. Maybe something at the top that associates the type with a color and defines each type so it's easy to scan through and in something you're looking for.

[2017-07-13 17:05] #486 closed

[2017-07-13 17:48] alanmoo opened #562 "Enable homepage modification through admin"
Right now, most of the homepage is automatically generated based off other data sets. We should move towards manual customization of the page via the Mezzanine admin. The initial goal is to enable manual selection of people profiles that appear on the homepage, though the "get involved" section can also benefit from this work, as well as possibly the featured news article.

As part of this work, w

[2017-07-13 18:02] gvn commented on #562
I don't agree this is something we should *necessarily* do. The landing pages using this methodology are already painful to work with.

What is driving this request? Are we weighing the ROI on what'll be a significant amount of extra work for refactoring something that is already working?

At a minimum we should work toward a resolution on the consolidation of `network` and `network-api` before we

[2017-07-13 18:11] xmatthewx commented on #430
I'll call this ready for engineering. @sabrinang plz add any info or files required.

[2017-07-13 19:05] gvn commented on #555
I'm kind of vague on the ask here. Can you clarify this more?

[2017-07-13 19:06] Pomax commented on #547
This got misfiled, refiled as https://github.com/mozilla/network-pulse/issues/599

[2017-07-13 19:06] #547 closed

[2017-07-13 19:08] hannahkane commented on #555
Sure. We're reviewing all of the various Mofo web properties with an eye towards what content should be pulled into the Network site (perhaps allowing us to sunset some other properties).

No specific ask for engineering right now, but let me know if you'd like to be involved in this early on.

[2017-07-13 19:11] gvn commented on #499
Do you know if this is still happening?

[2017-07-13 20:27] #519 closed

[2017-07-13 20:28] alanmoo opened #563 "Make "Get Involved" page CMS editable"
Need to discuss if this is evergreen content or structured.

cc @xmatthewx

[2017-07-13 20:41] sabrinang commented on #557
We are document for insights and findings in this gdoc: https://docs.google.com/document/d/1kM2KGgRCLtPt8eJ8CwOEAMaCo9WZ59Obne77H29z5dw/edit?ts=59601b98

[2017-07-13 20:47] sabrinang commented on #514
I'll be collecting UI examples in a gslide: https://docs.google.com/a/mozilla.com/presentation/d/1DRNAWJwn55JMAf1v6tZRWN4JiXWt9KplIGAycfMr1yg/edit?usp=sharing

[2017-07-13 21:12] #543 closed

[2017-07-14 01:36] sabrinang opened #565 "Implement revised hierarchy of people card content"
Based on design issue https://github.com/mozilla/network/issues/430#issuecomment-315158519, we want to implement a revised hierarchy for people cards that includes icons:
<img width="943" alt="image" src="https://user-images.githubusercontent.com/2492510/28194231-bc6414e6-67f7-11e7-8adf-4a317c7532be.png">

.svgs zipped here:
[icons.zip](https://github.com/mozilla/network/files/1147084/icons.zip)

[2017-07-14 01:36] sabrinang commented on #430
engineering ticket opened here: https://github.com/mozilla/network/issues/565 - closing this ticket.

[2017-07-14 01:36] #430 closed

[2017-07-14 04:47] taisdesouzalessa commented on #344
Here is the click through of the experience showed on the map earlier in this thread. I feel it is less confusing now, let me know what you think, ok? I'll attach it to our meeting agenda.
https://docs.google.com/a/mozilla.com/presentation/d/1tdxC1aqiJsEWC-k5ekQZpS1lbGJThZiNWtcnMfvH9L8/edit?usp=sharing

@jessevondoom @hannahkane @stephaniemcv @sabrinang @xmatthewx

[2017-07-14 16:42] xmatthewx commented on #520
thanks @arush0311 - we're putting this feature on hold for right now. we aim to build connections between people and project within Pulse, and then pull that info over to the network site.

The "Icebox" milestone are things we don't intend to do in the next couple of months.

[2017-07-14 16:45] gvn commented on #528
@taisdesouzalessa #559 is landed, can we close this ticket?

[2017-07-14 16:47] xmatthewx commented on #563
@jessevondoom what do you think? If it was same effort to build either way, which would you choose? Right now, this is fairly stable content, probably fine as a page though wysiwyg could break layout. Better edited as html.

[2017-07-14 17:38] xmatthewx commented on #562
Outside of the engineering pros/cons on the approach, staff Editor needs capacity to...
 - feature and sort content on the homepage independent of date posted and sorting on other pages
 - quickly and easily feature content during high activity. for example, if Mozfest on Saturday generates two dozen new stories (medium and 3rd party) and many dozen projects and opportunities, Editor should be abl

[2017-07-14 17:41] taisdesouzalessa commented on #528
Of course, @gvn. Closing :).

[2017-07-14 17:41] #528 closed

[2017-07-14 20:27] jessevondoom commented on #563
I think we can view this as evergreen for now. I still feel it's the wrong place for the themes section but don't have a strong feel for where the right place actually is. So my gut instinct is to say it's stable now, we won't have massive changes soon, and we have more pressing sections to rethink/re-engineer.

All that's to say that if we leave it as evergreen HTML for the moment I think that wo

[2017-07-14 20:30] jessevondoom commented on #562
Yeah I'm chiming in with a vocal +1 of @xmatthewx's comments. Some clunk is okay and to be expected, but I think aiming for more centralized clunk is a fantastic first goal. Having to hit each section individually to affect change on the homepage will start to negatively affect the editor job function pretty quickly.

[2017-07-14 20:33] taisdesouzalessa commented on #557
Closing this issue since the finding report was delivered. We can reference this report after we dive deep in the persona research.

[2017-07-14 20:33] #557 closed

[2017-07-14 20:39] #517 closed

[2017-07-14 20:40] #518 closed

[2017-07-14 20:59] xmatthewx commented on #514
@sabrinang will get busy with Mozfest things next week. I think we should consider pulling in @kristinashu to look at this as well as alignment with Pulse and Internet Health Report site.

[2017-07-14 21:19] xmatthewx opened #566 "Create Network Personas"
- [x] 1. gather benchmarks - #568
- [x] 2. analyze the relationships between emerging personas from Story Engine, the [Enchilada doc](https://docs.google.com/document/d/13VHN6xazlMTWyuwMe_ivjwpy_CGLd8jGaOlKnLSFJJ0/edit?usp=sharing), Mark's [X-Plane deck](https://drive.google.com/a/mozilla.com/file/d/0B1dIaWlgfRdIVnM5Nm00OW9YVWc/view?usp=sharing), [Jesse's strategy](https://docs.google.com/a/mozill

[2017-07-14 23:20] hannahkane opened #567 "CMS-ify the left column "Latest from the Network""
The item in the left column of the "Latest from the Network" section of the homepage is currently hardcoded.

Can we CMS-ify it?

[2017-07-14 23:21] hannahkane commented on #555
This work has begun and will continue for awhile, so rolling into next heartbeat.

[2017-07-17 12:56] taisdesouzalessa commented on #566
@xmatthewx I added 2 other checkboxes there that I felt were missing (items 5 and 6). We had a ticket for benchmark in the design repo that I'll move to the Network repo, ok?

[2017-07-17 13:03] taisdesouzalessa opened #568 "Network Personas Project: benchmarks"
- [ ] Collect benchmarks for inspiration and guidance of best practices related to personas.
- [ ] Create an initial template persona card.
- [ ] Test that template against an actual story from StoryEngine and iterate.

We had a meeting with Christine and she brought up some other points we could use in a template such as:
- [ ] Level of familiarity with technology.
- [ ] Level of familiarity with

[2017-07-17 13:04] taisdesouzalessa commented on #568
- This is the draft report of the Conscious Choosers Segmentation that Venetia Tay shared with me:
https://drive.google.com/file/d/0B2wvfBjG7Mb1S1VKblFBVUlzRk0/view

- This is the CoSS research shared by Kristina (personas on slide 37):
https://docs.google.com/presentation/d/1V5nJbZxgJPnW3Ggz5Jz1iid22kOlo-9R6RGHZO1LGJo/edit#slide=id.g1b0c1f5c61_0_62

- Science personas https://drive.google.com/a/m

[2017-07-17 13:10] taisdesouzalessa opened #569 "Network Personas Project: kickoff meeting with Christine"
Schedule a meeting with Christine and ask about patterns she saw in the StoryEngine Project, tips for interviews to read.

Our plan is to use the StoryEngine as a building block to our persona research project.

Once we dive deep into the data we can also take a look at our short version the findings #557

[2017-07-17 13:10] taisdesouzalessa commented on #569
Here are the notes from the meeting:
https://docs.google.com/document/d/1hdiRv6l7P_oWPw7XvzO__F06WsrGUaoFrXkppkG2WQ4/edit#heading=h.1ku1aujm7tar

Action items:
1. Christine will send us some information about the broader audience groups and some sample stories from each group we for us to read.
2. We should send her more info about how do we expect our audience to use the site, what are our asks.

[2017-07-17 13:12] taisdesouzalessa commented on #569
Meeting already happened, closing this issue.

[2017-07-17 13:12] #569 closed

[2017-07-17 15:11] taisdesouzalessa opened #570 "Review member interviews, write main points in sticky notes and do an affinity diagram per group"
**Description of the process:** reading member interviews from Story Engine and writing sticky notes with main info in order to organize clusters of personas.
- [x] 1. Start with 1 group so @flukeout and @kristinashu can see what type of info we can currently get with StoryEngine
- [x] 2. Do a simple test to see if the grouping of characteristics is working
- [x] 3.  Open this group to feedback so

[2017-07-17 16:43] xmatthewx commented on #328
@hannahkane – this Latest Video feature and the similar [Get Involved Project](https://github.com/mozilla/network/issues/567) item are two CMS things somewhat dependent on Editorial strategy. Should it always be a video? Should it always be a project? Do we handle these as unique snowflakes or extend the general news and highlights models?

My gut tells me we should land other Mezz stuff, then fig

[2017-07-17 16:46] xmatthewx commented on #328
@alanmoo - should we have an epic for all these content-to-mezz tickets?

[2017-07-17 17:08] alanmoo commented on #567
Dupe of #328, but it has a better title. Closing this and renaming that.

[2017-07-17 17:08] #567 closed

[2017-07-17 17:51] hannahkane commented on #328
@xmatthewx - I'm not sure if it matters if it's always a video. The image on the homepage is just an image with a link, right?

[2017-07-17 17:54] alanmoo commented on #328
We have a admin panel flag for news articles indicating if they're a video, so that we can handle them differently in the front end (show the play button over the image, make it a link to the video or possibly embed the video; I don't believe we've gotten that far yet though)

[2017-07-17 18:17] hannahkane commented on #568
@taisdesouzalessa - to your question in the first comment - I think the strategy docs are the place where we should answer that question, yes. Would be good to explicitly reference user personas in those docs, once we have them. cc @jessevondoom

[2017-07-17 19:07] gvn commented on #562
Once we deploy the latest version of the Network code the only thing on the homepage that will require a dev to update is the first news item (which I agree we should un-hardcode...see #328).

In general I want to clarify that I'm not against moving *data* into Mezzanine. I absolutely think that's what we should be doing as much as possible. My concern is with moving additional templates into Mezz

[2017-07-17 20:58] alanmoo commented on #477
Do these mini sites all show up at `/opportunities/{mini-site-name}/{child-page}`?

[2017-07-17 21:22] alanmoo commented on #477
I've updated the original post with more specific tasks that will enable us to make a proper assessment of the proposed design.

[2017-07-17 22:07] xmatthewx commented on #344
Great conversation today. Thanks @taisdesouzalessa for the insightful deck. And thanks @stephaniemcv for all the expert info.

Next steps? I think we close this ticket after we open two new ones:
 - [ ] explore sign-up scenarios and welcome messages
 - [ ] refine existing forms and language on the site for more clarity

Anything else?

[2017-07-17 23:34] #523 closed

[2017-07-17 23:34] #524 closed

[2017-07-18 01:16] jessevondoom commented on #568
Yeah +1 to @hannahkane's answer and I'll go a step further: developing those personas is an important part of the overall strategy, so we need to carve out space for this work in the larger mofo digital strategy and standardize our personas across projects. (And have them reference back to the network strategy user types in the enchilada doc.)

[2017-07-18 02:38] stephaniemcv commented on #344
Here is the deck I mentioned: <a href="https://docs.google.com/a/mozilla.com/presentation/d/1xH8c1ItRqHCmOpGE481IG7FX6VfYrk8uGl8PlIaVBlI/edit?usp=sharing">The Need for Improved Audience Segmentation</a>

[2017-07-18 13:29] alanmoo opened #573 "CMS-ify all (well, most) of the things"
Zenhub Epic

[2017-07-18 13:43] alanmoo commented on #551
These sections seem awfully similar, but I don't think I'm in the position to make the call. Will the items in "Get Involved" always be items that also appear in "Upcoming"? If so, how do we want them to "expire"? We could start with these being manual moves and work in date logic later on, but we first need to decide if they are in fact the same thing. Seems like a question for Sydette? What's he

[2017-07-18 14:00] alanmoo opened #574 "Decide if "Upcoming" content and "Get Involved" on homepage are same model"
This is what inspired turning #551 into an Epic

Matthew:

Alan:

[2017-07-18 14:06] alanmoo opened #575 "Build "Upcoming" items model"
This could be an extension or rename of the "Highlights" model, but we need to have the conversation in #574 first.

The schema will presumably look like https://github.com/mozilla/network/blob/master/source/json/upcoming.schema.json so that implementation on the front end is straightforward.

[2017-07-18 14:15] alanmoo commented on #574
@sydette test

[2017-07-18 14:23] alanmoo opened #576 "Pull "Upcoming" content from Mezzanine to front end"
Looking at the code, I'm guessing it won't be too hard to switch the source of content on the upcoming page from the hardcoded JSON to being pulled from Mezzanine, is that correct @gvn?

[2017-07-18 14:55] alanmoo opened #577 "Decide how primary news item will be identified for homepage"
Currently, the news articles in the right column of the homepage show up based on the most recent "featured" items from the "news" section of the admin. We probably don't want the primary item (on the left side of the homepage under "Latest from the Network") to rotate out that quickly, so we need a way to identify that separate from the existing "featured" flag.

Long term, it would be best to si

[2017-07-18 14:56] alanmoo opened #578 "Update backend to support identification of primary news item for homepage"

[2017-07-18 14:57] alanmoo opened #579 "Update front end to use designated news item in left column on homepage"
I believe this is separate work from #656 because the featured news item is still currently hard-coded.

The News items have an "isVideo" flag- this work should not only pull in the appropriate news item, but if it's a video, the video button overlay should appear as it does on the current version of the home page.

I can't recall if long-term we're going to want the video to play inline, but that

[2017-07-18 16:22] alanmoo commented on #575
Issue moved to [mozilla/network-api #247](https://github.com/mozilla/network-api/issues/247) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-18 16:22] #575 closed

[2017-07-18 16:26] alanmoo commented on #578
Issue moved to [mozilla/network-api #248](https://github.com/mozilla/network-api/issues/248) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-18 16:26] #578 closed

[2017-07-18 16:54] alanmoo opened #580 "Enable HSTS on site"
As recommended by security team, so that we can use a Mozilla domain.

[2017-07-18 17:04] gvn commented on #576
This is basically the same LOE as Highlights. As I recall @xmatthewx thought this section might be going away or changing, but I'm fine with migrating it as it's the last hardcoded JSON "model".

[2017-07-18 17:10] alanmoo commented on #576
Good to know. And yeah, it may change, as to be determined in https://github.com/mozilla/network/issues/574

[2017-07-18 17:33] cadecairos commented on #580
We can't do this, since the static parts of the site are hosted on S3.

we can either serve it all using Django, or wait until I get us access to Lambda functions for Cloudfront requests, where I'll be able to add these kind of security headers on the fly.

[2017-07-18 17:37] xmatthewx opened #581 "Create Network Personas"

[2017-07-18 17:41] xmatthewx opened #582 "UI alignment across our key websites"
Properties should be better linked with smoother UX. UI should be aligned, but can differ.

[2017-07-18 18:20] #386 closed

[2017-07-18 18:38] alanmoo commented on #581
Close as duplicate of #566

[2017-07-18 18:38] #581 closed

[2017-07-18 18:41] #563 closed

[2017-07-18 18:57] alanmoo opened #583 "Merge network and network-api repos"
- [ ] move some of the api-deploy-specific files from the server root directory into the real root dir:
  - procfile
  - appveyor CI file
  - travis yml file
- [ ] figure out how to selectively trigger CI for "network" and "API" sides of things based on which dirs a PR touches (for efficiently determining that we might actually want sibling dirs "client" and "server" so we can tell inside of which

[2017-07-18 18:59] alanmoo commented on #475
Work that is determined here will continue as issues to be created in #583

[2017-07-18 19:33] taisdesouzalessa commented on #568
@flukeout @kristinashu we estimated 8 points for this task. Feel free to change it if you feel it is not accurate ok?

[2017-07-18 20:28] jessevondoom commented on #566
It may be underway but I'm adding a note to say it's worth talking to Paul Z and the insights team about people who aren't covered by StoryEngine — specifically activists, action-takers, and the more general supporters ring of the enchilada. I feel like we'll have a wealth of data around leaders, some robust thinking about activists and action takers, and a whole lot less when it comes to supporte

[2017-07-18 20:34] alanmoo commented on #475
Update: We can't improve our Observatory score while we're hosting pages on AWS. So we need to do this in a way that makes django serve the static pages. Once we've done that, HSTS can be enabled and we can switch over to network.mozilla.org.

What do we need to determine in our call on Thursday based on this information? @cadecairos @Pomax @gvn

[2017-07-18 20:53] cadecairos commented on #580
I take back all that I said. Lambda@edge was released yesterday!

We can make use of it in the short term to boost our scores on the observatory.

[2017-07-18 20:55] hannahkane commented on #551
My two cents:

As they currently are, I think these content types are similar but different. :) They are similar in terms of the metadata, but different in terms of purpose.

The "Upcoming" content is date-focused, and aims to get the user to do something. The "Get Involved/Highlights" features on the homepage are not necessarily tied to a date, and are more about increasing awareness of our offer

[2017-07-18 21:03] alanmoo commented on #551
I'm fine keeping them as separate models; I haven't yet seen an argument for making them the same model. @Pomax do you have any thoughts?

[2017-07-18 21:28] gvn commented on #475
Cool. That's definitely something I already wanted to do and one of the pieces I needed a hand with. I basically need a folder within `network-api` to use as a build target for all the assets currently being built into `/dest` in `network`.

[2017-07-18 21:32] hannahkane opened #585 "Explore sign-up scenarios and welcome messages"
Building off of the work and discussion in #344, we need to explore some options for how we handle email sign-ups on various pages of the site, as well as the tailored welcome messages that we now know we can send (based on interest area).

Did I get that right? @xmatthewx @taisdesouzalessa

[2017-07-18 21:35] hannahkane opened #586 "Refine existing sign-up forms and language on the site for more clarity"
We currently have sign-up forms on the homepage, the /sign-up page, and some of the opportunities pages (e.g. [Fellowships](https://network.mofoprod.net/opportunity/fellowships/) and [Internet Health Report](https://network.mofoprod.net/opportunity/internet-health-report/)).

We need to clarify for the user what's going to happen in each instance.

(More info in #344)

[2017-07-18 21:35] hannahkane commented on #344
@xmatthewx - how are #585 and #586?

[2017-07-18 21:43] hannahkane commented on #546
@jessevondoom - changed the name of this ticket to specifically be about providing content for an expanded About page. Currently assigned to you. OK to have this in the current milestone that ends on the 28th?

[2017-07-18 21:56] hannahkane commented on #560
@taisdesouzalessa - anything in particular you want to do on this during this sprint?

[2017-07-18 22:07] alanmoo commented on #562
Disclaimer: I'm aware that we've detoured from talking specifically about this ticket, but it's important an conversation to have

Agreed that there's a fair amount of lift to accomplish this, and that we need to merge the repos first. It is important to make the publishing process smoother, and we have specifically identified that in the [roadmap](http://mzl.la/production-roadmap). August has "im

[2017-07-18 22:19] taisdesouzalessa commented on #560
@hannahkane I don't think so. Probably next one I can take a look at it and integrate Caroline's feedback? I've been focused on personas for this sprint because it seems a higher priority. Let me know if I am mistaken.

[2017-07-18 22:26] hannahkane commented on #560
agreed! It's been removed from the milestone. Thanks!

[2017-07-18 23:08] jessevondoom commented on #546
Yup! I can have something in this heartbeat. Good ticket to bring Sydette in on, too. (Need to figure out her github username...)

[2017-07-19 04:01] Sydette commented on #574
Get Involved should be direct action items. Upcoming can include anniversaries, important dates, announcement of other projects opening. Ideally we'll be  surfacing events and happenings from the Network into upcoming as a circuit to pulse as well as non Mozilla events that impact IH .

[2017-07-19 13:31] alanmoo commented on #574
Ok, so it sounds like they should be different models. Unless anyone has objections by the time @pomax and @gvn start tomorrow, let's go with that to keep this moving.

[2017-07-19 13:45] taisdesouzalessa commented on #566
@jessevondoom - based on our conversation from yesterday (correct me if I am wrong), I should first focus on the relationships between Story Engine and other docs we have (like Enchilada and others), correct? This should be my deliverable for this heartbeat. I could also (in this heartbeat) dig in one group of persona (like Hive members, for instance) to have a model draft (as Kristina suggested)

[2017-07-19 13:48] taisdesouzalessa opened #587 "Relatioships between StoryEngine and Other Docs"
Analyze the relationships between emerging personas from Story Engine, the [Enchilada doc](https://docs.google.com/document/d/13VHN6xazlMTWyuwMe_ivjwpy_CGLd8jGaOlKnLSFJJ0/edit?usp=sharing), Mark's [X-Plane deck](https://drive.google.com/a/mozilla.com/file/d/0B1dIaWlgfRdIVnM5Nm00OW9YVWc/view?usp=sharing), [Jesse's strategy](https://docs.google.com/a/mozilla.com/document/d/13waxxLxbfWo4qBI6ZsakEI1nX

[2017-07-19 15:16] xmatthewx commented on #566
That sounds good to me. It definitely makes sense to map the strategy as a lens to define the audience. I also like your idea Taís of pursuing one persona to keep the work grounded and moving.

@taisdesouzalessa - do you want an intro to Paul Z? He'd be a great partner along with Christine P in mapping out the groups.

One side note: I think we should pursue personas groups decoupled from specific

[2017-07-19 16:31] xmatthewx commented on #587
If possible, a visual map would be useful to help us get to simplicity.  Better reference than a big report ... if it's possible.

[2017-07-19 16:47] jessevondoom commented on #566
I think @xmatthewx's suggestions about decoupling the personas is an important point. I'd go a step further and think the abstraction might want to involve some level of the leader/activist/supporter language as well — so what patterns hold true for all people in the web literacy space, and what are the differences between a leader in that space and someone early/mid career growth?

Not sure how t

[2017-07-19 17:06] hannahkane commented on #566
+1 to all of the above

[2017-07-19 17:20] jessevondoom commented on #587
Yeah agreed. We mostly need a way to examine the overlap between the various groups and standardize our language. Ultimately what I'd love is something visual (per @xmatthewx) that can show the relationship between enchilada groups, conscious choosers, and the personas/persona groups we define.

The enchilada already does a decent job of showing who belongs in each category but ties them to Mozill

[2017-07-19 17:58] xmatthewx commented on #551
Seems like decision is decided here: https://github.com/mozilla/network/issues/574#issuecomment-316266364

[2017-07-19 18:35] hannahkane commented on #521
OK, we've resolved all of the issues in the doc, and we have a working proposal.

How to close this out?

I'll file a ticket to update the current People profiles, and then I think this lands on Sydette's desk for ongoing adherence / modification. I'll share the doc with her w/ a little backstory.

[2017-07-19 18:35] #521 closed

[2017-07-19 18:36] hannahkane opened #588 "Update People profile roles, as per new standardization rules"
In #521, we defined some standards for how we express people's roles within the Mozilla Network.

The task here is to update the current People cards to adhere to the rules.

[2017-07-19 18:37] taisdesouzalessa commented on #566
Thanks for the insights here, team! I'll follow the directions. I'll spend some time reading all those things and coming up with relationships/insights.

For now, I am quickly scanning each one of the interviews to understand better the relationship of each person with Mozilla so I can relate the info to the Enchilada doc.

Here is the spreadsheet I am building/using: https://docs.google.com/a/moz

[2017-07-19 18:49] #588 closed

[2017-07-19 19:39] xmatthewx commented on #577
Here's a quick demo of an admin interface. Clunky MVP. The drop-downs would get unwieldy, but if they options are sorted reverse chronological, it can get us through the next few months.

<img width="897" alt="screen shot 2017-07-19 at 2 45 55 pm" src="https://user-images.githubusercontent.com/53411/28386004-328e46e2-6c98-11e7-9576-034350452880.png">

[2017-07-19 21:20] xmatthewx commented on #568
@flukeout - let us know if you have any questions or progress to share. @prefontaine offered to share some examples but might be traveling right now. We could also reach out to her colleague via email.

[2017-07-19 22:10] cadecairos opened #589 "Missing keys in contribute.json"
The observatory says we're missing required keys in ourt contribute.json.

Docs: https://wiki.mozilla.org/Security/Guidelines/Web_Security#contribute.json

Required Keys: name, description, bugs, participate (particularly irc and irc-contacts), and urls.

we need: bugs, participate.irc and participate.irc-contacts, urls

CC/ @alanmoo

[2017-07-20 05:26] prefontaine commented on #568
I am traveling :) but checking email and happy to help out. Can you send draft template and I'll comment or see if any examples would be helpful? Also a link to strategy if not in Git thread.

[2017-07-20 14:22] alanmoo opened #591 "Mozilla logo is a black box in Firefox"
<img width="369" alt="screen shot 2017-07-20 at 10 20 37 am" src="https://user-images.githubusercontent.com/1682681/28422148-2f6f73f8-6d35-11e7-9de8-cb1c465461ea.png">

[2017-07-20 14:29] xmatthewx commented on #591
Confirmed

[2017-07-20 14:35] cadecairos commented on #591
It's a statement about censorship!

[2017-07-20 15:29] #589 closed

[2017-07-20 16:09] alanmoo commented on #591
I think the issue is the fill style isn't being applied- perhaps we need to inline `fill: #fff` to [this line](https://github.com/mozilla/network/blob/master/source/images/mozilla-on-black.svg?short_path=1b84a67#L6)

[2017-07-20 16:42] gvn commented on #591
This appears to be a regression in FIrefox itself, because that SVG hasn't changed. You can see a black box on prod right now too without the new nav code landed.

[2017-07-20 17:04] Pomax commented on #591
This might also be a good time to switch over to the official Zilla Highlight font, which has the wordmark logo baked into it (the other Zilla font files don't) as a single glyph with fixed brand-approved dimensions, resolved as a standard ligature for the phrases `mozilla` and `Mozilla`.

[2017-07-20 17:30] #591 closed

[2017-07-20 18:11] #574 closed

[2017-07-20 20:05] gvn commented on #574
In that case, this is the schema for Upcoming:

https://github.com/mozilla/network/blob/master/source/json/upcoming.schema.json

[2017-07-21 00:41] taisdesouzalessa commented on #587
Thanks for the clarity on the expected deliverable Matthew and Jesse!
Based on the conversation I had with Matthew a while ago, we decided it would be good if I shared the process while I study all this data.

I finished the study of the relationship between Xplane and StoryEngine and I am sharing the process in this doc. The final deliverable is TBD and it will be together with all the others. I'

[2017-07-21 01:03] sabrinang opened #594 "QA > Full size Pattern on Subpages (About Page)"
For pages with narrow hero sections like the about page, we can keep the original size of the pattern. Currently it shrinks and it is faint:
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/2492510/28444802-9753d9ac-6d74-11e7-8eed-4848ac66316f.png">

We can make it full size to look like this:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/

[2017-07-21 15:41] xmatthewx commented on #594
Ah, the minified header. @gvn – cc'ing just to put it on your radar.

[2017-07-21 19:14] gvn opened #595 "Set up build target for static assets"
In combining `network` and `network-api` I'm trying to build a bundle of static assets into a folder inside of `network-api` (what's currently being built into `/dest` on `network` and then hosted on S3).

There's a folder that already has some static assets in `network-api`: `app/networkapi/static/` but it is served to `/static/...` on the front end.

I'm hoping to be able to serve this "dest" bu

[2017-07-21 19:19] gvn commented on #595
@gideonthomas @Pomax @cadecairos  – Any thoughts?

[2017-07-21 21:59] flukeout commented on #568
I've been trying to find some real-life benchmarks and so far have, got a couple of things..

**Mailchimp**
They have a very open design culture, I'm trying to find more places like this.
* [Persona Posters](https://creative.mailchimp.com/persona-posters/?_ga=2.62911401.403422251.1500666092-1943156118.1486685847)
* [Persona photos flickr album](https://www.flickr.com/photos/jasontravis/sets/721576

[2017-07-24 19:53] xmatthewx opened #596 "Hero link only visible on hover"
Homepage Hero contains a link on "healthy internet" in secondary text, but link is only visible on hover. While maybe not a technical bug, it's important to fix.

<img width="958" alt="screen shot 2017-07-24 at 3 50 24 pm" src="https://user-images.githubusercontent.com/53411/28541666-d7450f48-7087-11e7-914b-0797e2d2cdb3.png">

@sabrinang @taisdesouzalessa what was the design spec?

[2017-07-25 00:35] jessevondoom opened #597 "Replace email signup copy"
We need to change the copy that accompanies the email sign-up form on the Network site. There are variations of it on the following pages:
https://network.mofoprod.net/
https://network.mofoprod.net/sign-up/
https://network.mofoprod.net/opportunity/fellowships/

New copy:

TITLE: Connect to the movement
COPY: Mozilla will periodically update you about important people, projects and opportunities in

[2017-07-25 03:21] taisdesouzalessa commented on #587
Hey team,

Here are the diagrams:
https://invis.io/A5CQB4NXU#/245312112_Xplane-Storyengine
https://invis.io/M7CQBC8QX#/245312837_Enchilada-StoryEngine-ConsciousChoosers

The full study is here:
https://docs.google.com/a/mozilla.com/document/d/1tG3FCKMliquYlasp7u7m-_6gGvGD-Zj4h2r5g5CIvxQ/edit?usp=sharing

@paulfzenke we were wondering if we could have your eyes on this issue since you have a bunch

[2017-07-25 05:25] prefontaine commented on #587
Thanks! Just copying Alecia.

[2017-07-25 15:12] alanmoo commented on #580
@cadecairos can we close this?

[2017-07-25 16:06] cadecairos commented on #580
yes!

[2017-07-25 16:06] #580 closed

[2017-07-25 17:13] alanmoo commented on #595
@arush0311 maybe you have some thoughts too?

[2017-07-25 17:28] gideonthomas commented on #595
I might be missing context for this, but you should simply be able to use WhiteNoise to  serve the static build from any directory you want: http://whitenoise.evans.io/en/stable/base.html#WhiteNoise.add_files

[2017-07-25 17:31] Pomax commented on #595
@gideonthomas we would like to serve all the "network" pages from its own dir, similar to how in Express you can say `express.static('/client/dist')` + `express.static('/static/')` and get seemless static hosting from multiple directories.

[2017-07-25 18:06] taisdesouzalessa commented on #587
Sorry @prefontaine I forgot :( Does Alecia have a GitHub handle? Or should I copy her via e-mail?

[2017-07-25 18:35] gideonthomas commented on #595
Hmm, do you want to serve the `/client/dist/` dir from the root url and `/static/` from say `/static/*`? If so, I think you can just set `WHITENOISE_ROOT`(http://whitenoise.evans.io/en/stable/django.html#WHITENOISE_ROOT) to point to `/client/dist/` so that it would serve your built client from the root url. From what I understand, `WHITENOISE_ROOT` should override the `STATIC_URL` setting specific

[2017-07-25 18:54] prefontaine commented on #587
@ankuhl

On Tue, Jul 25, 2017 at 11:10 AM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2017-07-25 19:51] Pomax commented on #595
this almost worked, but we needed whitenoise 4 (currently 4.0b2) to be able to rely on automatic index.html resolution for dirs. Not sure why the author of white noise didn't add it way back when, but it get added 21 days ago, and it solves a lot of problems!

[2017-07-25 20:01] arush0311 commented on #595
just a thought, but why dont we put it on s3 like uploads? wouldnt work in development though.. there is also this if we want https://github.com/matannoam/pypugjs

[2017-07-25 20:09] alanmoo commented on #595
@arush0311 The static pages are currently on S3, we're trying to move everything to django so it can be our one server for all the pages to reduce complexity and enable us to move towards a purely CMS driven site. This is part of the work related to #583

[2017-07-25 20:47] arush0311 commented on #595
No I am saying use s3 as we use with media.. this would replace whitenoise

[2017-07-25 20:53] sabrinang commented on #596
We can include a blue underline to indicate that it is a link.
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/2492510/28592808-fe4969f6-713e-11e7-99e4-ef7fa105ab63.png">

On hover, it can look like our other hover links in navy blue (#4383bf).
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2492510/28593069-ff8e66c6-713f-11e7-8075-3bc16d76

[2017-07-25 21:03] gvn commented on #595
@Pomax and I worked this out this morning.

Here's how we got it to work: https://github.com/mozilla/network-api/commit/aca1eefb0ce2e5e3a6278e29002c1ac61487ab50

[2017-07-25 21:52] alanmoo opened #598 "Opportunity pages aren't showing colorful header"
https://network.mofoprod.net/opportunity/internet-health-report/ should look like https://network.mofoprod.net/about but the colorful bar at the top is missing. (This applies to all `/opportunity/*` pages)

<img width="1246" alt="screenshot 2017-07-25 17 51 24" src="https://user-images.githubusercontent.com/1682681/28595442-e630e416-7161-11e7-9140-19e2a26cf691.png">

[2017-07-25 22:05] gvn commented on #598
This is because `master.pug` [changed](https://github.com/mozilla/network/commit/eabb44d675cbfab5dd2c58a6a344fc542789f478#diff-f9e65c84f1e95b5b8928e55186e4747a) (which results in the landing page template changing and needing to be pushed to `network-api`).

Essentially the script that does this automagically needs to be updated to watch for changes to `master.pug` as well as `opportunity.pug`. 🐶

[2017-07-25 22:07] alanmoo commented on #598
If this turns out to be a ton of work to update the script, let's just fake it for now (with a commit to `opportunity.pug`) since this flow is going away soonish anyway.

[2017-07-25 22:08] gvn commented on #598
You could also pull the compiled template for a manual commit instead of touching `opportunity.pug`.

[2017-07-25 22:21] alanmoo commented on #597
This is all stored in django: https://network.mofoprod.net/admin/landingpage/signup/
Each of those instances of the signup component may be used by different pages - it's what the `Signup` field of the `Page` model uses. So we can create a new Signup widget and point all of the pages at that.

This does open a question though- will pages ever have different signup CTAs? Or will they only change if

[2017-07-26 00:22] jessevondoom commented on #597
It's probably all one unified CTA until 2018 at the earliest. Until we shift from explicit lists to Salesforce "interests" we'll just put everyone into the new Network list. After we make that change we'd add different interests and different CTAs and different interests.

...but that's a little ways off.

[2017-07-26 00:42] jessevondoom commented on #597
Okay. Changed the copy in django. Only issue is that "Connect to the movement" is a significantly longer string than "Get connected" so I just kept it there — the copy is enough to give context to the movement and what they're connecting to.

[2017-07-26 00:42] #597 closed

[2017-07-26 13:39] alanmoo commented on #597
In that case, should we take away general permissions that allow creating new Signup Widgets, and remove the existing ones from the database? That way new pages can only use the default widget or not use one at all.