[2018-03-05 18:38] mmmavis opened #1148 "Decide a date to merge 'fellowships` branch into `master`"
Fellowships MVP work is almost done (except some small content updates here and there). It seems like we are hoping to launch the mini site in mid-March so at some point this week we should merge the main `fellowships` branch into `master` so people can start QA'ing it on staging. There's no content on the fellowships work that needs to be hidden from users until the official launch... and the min

[2018-03-05 18:39] mmmavis commented on #1148
@cadecairos I'll have a PR up for https://github.com/mozilla/foundation.mozilla.org/pull/996/files/f81827b8c50a1b9d96fdac4d38b9b9e25a834862#diff-ad6df14ef7827e3cd7bc18506dbbf5f1 before the merge happens!

[2018-03-05 18:49] mmmavis commented on #1148
Ah darn, just thought about this - one thing that might be troublesome/confusing...

... real fellow profiles are on Pulse API PRODUCTION, so once we merge the `fellowships` branch into `master` , on foundation staging site it will pull fellow profiles from PULSE API STAGING instead (which only contains some fake cats and dogs profiles lol). This will def confuse stakeholders. 😬 @xmatthewx thought

[2018-03-05 19:50] xmatthewx commented on #1148
Can we always have Site Staging pull from Pulse Production? It's best to use real data when we build and test that site. I don't see a need for staging data. Is there a reason we can't?

[2018-03-05 19:53] cadecairos commented on #1148
I'd prefer not to mess with the staging setup if at all possible. Perhaps we should have two apps in our staging pipeline, one that consumes staging resources, another that consumes production?

[2018-03-05 20:40] xmatthewx commented on #1148
I understand that staging site frontend should always talk to staging site backend, and that pulse staging frontend should look to pulse staging backend. Is pulse in the same environment as the site? As a resource external to the site, can't the site just always point to Pulse production?

If not, I see two options:
 1. we pulse production db to staging db, just once.
 2. after a quick check on st

[2018-03-05 20:42] taisdesouzalessa commented on #1136
Dependency: having the Fellowship mini site set on staging so I can do the change in my local machine and push to GH. @mmmavis could you please let me know once the transition to staging is done?

[2018-03-05 20:48] kristinashu commented on #1028
@gvn Anwesh is busy with GSOC now and won't be able to do this, will you be able to?

[2018-03-05 20:48] xmatthewx commented on #1147
Comms announcement will be early on Monday, March 19th. Let's push this change by Wednesday or Thursday March 15th. cc @alanmoo

[2018-03-05 21:00] mmmavis commented on #1148
@xmatthewx yea I vote for option 2 as well

[2018-03-05 21:35] gvn commented on #1028
Sure

[2018-03-05 21:59] joeyklee commented on #955
@auremoser oh whoops! I may have overlooked that mail. Anyhoo, you should find it under my email: josephkanglee@gmail.com

[2018-03-05 22:22] mmmavis commented on #1133
kk gotcha, I'll have a PR up for this soon!

[2018-03-05 23:00] #938 closed

[2018-03-05 23:18] mmmavis commented on #1147
I'm gonna be on PTO during that time - assigning this ticket to @alanmoo so he can reassign it to someone else.

[2018-03-05 23:29] mmmavis commented on #1136
@taisdesouzalessa these links are hardcoded in the copy so you can create your branch based off of the `fellowships` branch and make copy changes there. I can help you with this tomorrow when we are both in the office.

[2018-03-05 23:31] taisdesouzalessa commented on #1136
Yay! thanks @mmmavis. I will definitely need your help. Unblocking the issue then

[2018-03-05 23:40] mmmavis commented on #1133
Fixed!

[2018-03-05 23:40] #1133 closed

[2018-03-05 23:47] taisdesouzalessa opened #1151 "[QA Fellowship Mini Site] Divider highlighted on hover (Directory Page)"
### Issue:
**IMPORTANT: This is not an urgent issue, adding "enhancement" label as it is not a priority, just a nice to have.**

On the [Directory page](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/)
the divider "|" is underlined when user hovers the text.

<img width="164" alt="image" src="https://user-images.githubusercontent.com/22157921/37006103-96a47ab4-208b-11e8

[2018-03-05 23:56] taisdesouzalessa opened #1152 "[QA Fellowship Mini Site] Smooth Scrolling on Directory Page"
### Issue
**IMPORTANT: This is not an urgent issue, adding "enhancement" label as it is not a priority, just a nice to have.**

Currently, on our [Directory page](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/) we have a "jump" if users click on one of the areas:
![directory-demo](https://user-images.githubusercontent.com/22157921/37006485-7be4ca7e-208d-11e8-90ae-769bb

[2018-03-06 16:59] kristinashu commented on #1139
This [alignment ticket](https://github.com/MozillaFoundation/Design/issues/241) has some background how we got to the main nav that we have.

For sub-pages we have two different styles:
#### 1) Custom pages like Fellowships where the nav is on top and has a few different states.

[Landing page](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/)
<img width="1294" alt="screen shot 20

[2018-03-06 17:20] xmatthewx commented on #1139
For CMS pages, is the arrow a hack for sub-pages? Or do we actually have two levels in that sidebar?

[2018-03-06 17:32] taisdesouzalessa opened #1154 "[Fellowship Mini Site] Update display of fellow profile info"
### Issue
In our current [Directory Page,](https://foundation-mofostaging--pr-996.herokuapp.com/fellowships/directory/) the area and year of the Fellows are displayed in the following format:
[area], [year] (ex: "Open Web, 2017")

<img width="576" alt="image" src="https://user-images.githubusercontent.com/22157921/37047585-430023dc-2120-11e8-9bca-ac3156fc2305.png">

In the issue  #1054 we discusse

[2018-03-06 17:40] kristinashu commented on #1139
Arrows are a hack, if you look at the admin view the arrows are just pasted into the text field.

[2018-03-06 17:46] kristinashu commented on #1138
Based on Jesse's [wireframes](https://docs.google.com/presentation/d/1Hl5Etpl-iTOCoJJ66ilszGLYFS2k-LqTRk7_fCTmySc/edit#slide=id.g2e15d82b60_0_64)

<img width="1085" alt="screen shot 2018-03-06 at 9 44 45 am" src="https://user-images.githubusercontent.com/1068783/37048613-3b2bddec-2123-11e8-882d-0df74a03397c.png">

[2018-03-06 17:48] kristinashu commented on #69
We will be adding Internet Health as a main level item so a link is no longer needed in the footer.

[2018-03-06 17:48] #69 closed

[2018-03-06 17:55] kristinashu commented on #555
I feel like this work has happened, closing but @xmatthewx please reopen if needed.

[2018-03-06 17:55] #555 closed

[2018-03-06 17:57] kristinashu commented on #545
We are removing the projects page and highlighting projects on the home page, which will link out to pulse

[2018-03-06 17:57] #545 closed

[2018-03-06 18:00] kristinashu commented on #465
Hoping Wagtail will be better at this! But let's open a new Wagtail ticket if it isn't...

[2018-03-06 18:00] #465 closed

[2018-03-06 18:15] kristinashu commented on #443
Is this done? Looks like these are showing up in [Slack](https://mozilla.slack.com/archives/C4F5NM7C7/p1520016176000269)
<img width="890" alt="screen shot 2018-03-06 at 10 12 00 am" src="https://user-images.githubusercontent.com/1068783/37049803-edbf9e1e-2126-11e8-951b-f070b4f7d44c.png">

[2018-03-06 18:17] cadecairos commented on #443
@kristinashu yeah, Lets close this out!

[2018-03-06 18:17] #443 closed

[2018-03-06 18:17] kristinashu commented on #926
Closing since it has been moved to mozilla/network-pulse#883

[2018-03-06 18:17] #926 closed

[2018-03-06 18:18] kristinashu commented on #915
w00t this is happening in Design ops!

[2018-03-06 18:18] #915 closed

[2018-03-06 18:21] kristinashu commented on #856
New [wireframes](https://docs.google.com/presentation/d/1Hl5Etpl-iTOCoJJ66ilszGLYFS2k-LqTRk7_fCTmySc/edit#slide=id.g2e15d82b60_0_64) should solve for this so I'm closing this ticket but @xmatthewx please reopen if you think we need it.

[2018-03-06 18:21] #856 closed

[2018-03-06 18:25] kristinashu commented on #946
This seems to have fixed itself!

[2018-03-06 18:25] #946 closed

[2018-03-06 18:32] kristinashu commented on #546
Updated vision for About page based on Jesse's [wireframes](https://docs.google.com/presentation/d/1Hl5Etpl-iTOCoJJ66ilszGLYFS2k-LqTRk7_fCTmySc/edit#slide=id.g3090418ab9_0_58)

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/1068783/37050754-8c4211be-2129-11e8-9ff5-9bf760b047a1.png">

[2018-03-06 18:44] kristinashu commented on #54
@xmatthewx is this still something you want? Seems like we're moving away from showing Twitter/LinkedIn on Foundation site and instead directing them to the Pulse profile.

[2018-03-06 18:49] #429 closed

[2018-03-06 18:53] kristinashu commented on #539
Based on the new [wireframe vision](https://docs.google.com/presentation/d/1Hl5Etpl-iTOCoJJ66ilszGLYFS2k-LqTRk7_fCTmySc/edit#slide=id.g2e15d82b60_0_64), this is no longer a primary page candidate.

Can we close?

[2018-03-06 18:59] kristinashu commented on #520
Fellowship profiles link to Pulse Profiles.

<img width="582" alt="image" src="https://user-images.githubusercontent.com/1068783/37052091-1b1156e0-212d-11e8-95cf-3ce14d34bce0.png">

And [People page](https://redpen.io/ema74f4b9a0a4e22bf) will be quite different (more about featuring people and then linking out to their profile on Pulse).

@xmatthewx can we close this ticket?

[2018-03-06 19:06] kristinashu commented on #666
I don't see any tickets in this and About page updates can take place as part of the new [wireframe vision](https://docs.google.com/presentation/d/1Hl5Etpl-iTOCoJJ66ilszGLYFS2k-LqTRk7_fCTmySc/edit#slide=id.g3090418ab9_0_58), so I'm closing.

[2018-03-06 19:07] kristinashu commented on #621
This is no longer needed.

[2018-03-06 19:07] #621 closed

[2018-03-06 19:13] kristinashu commented on #423
Fixing this in our new library.

[2018-03-06 19:13] #423 closed

[2018-03-06 19:42] xmatthewx commented on #54
i think it's less relevant now. and way too big lift for now.

[2018-03-06 19:42] #54 closed

[2018-03-06 19:42] xmatthewx commented on #539
Yep. Closing.

[2018-03-06 19:42] #539 closed

[2018-03-06 20:53] kristinashu opened #1155 "Plan IA"
Based on #1139

Focus on MVP, phased approach starting with top-level pages.

Remember that most visitors will find content via incoming links and google search. Nav doesn't need to be a sitemap to all the things, just the primary things.

#### To dos:
- [x] layout current IA based on http://foundation.mozilla.org/
- [x] layout proposed IA based on [Jesse's wireframes](https://docs.google.com/pres

[2018-03-06 21:00] kristinashu opened #1156 "Design nav UI"
Based on #1139

Focus on MVP, phased approach starting with top-level pages.

Remember that most visitors will find content via incoming links and google search. Nav doesn't need to be a sitemap to all the things, just the primary things.

### To dos
- [x] Asses current nav (some context below)
- [x] Benchmark other navs (lightly consider mozilla.org)
- [x] Mockup proposed nav updates
  - based on

[2018-03-06 21:02] kristinashu commented on #1139
Separated this into two tickets:
- Plan IA #1155 (Becca will work on this)
- Design nav UI #1156 (Nat will start on this and then Becca will join)

[2018-03-06 21:02] #1139 closed

[2018-03-06 22:41] gideonthomas commented on #1148
This is done @mmmavis?

[2018-03-06 22:43] gideonthomas opened #1159 "[QA Fellowship Mini Site] Grammatical error in header"
<img width="1440" alt="screen shot 2018-03-06 at 5 42 11 pm" src="https://user-images.githubusercontent.com/5816130/37062921-d17b1f5a-2165-11e8-9b0e-ed0707c5d3c3.png">

The header should either read:
"What is a Mozilla Fellowship?"
or
"What are the Mozilla Fellowships?"

cc @taisdesouzalessa to verify

[2018-03-06 22:52] gideonthomas opened #1161 "[QA Fellowships Mini Site] Missing name next to fellow"
<img width="1440" alt="screen shot 2018-03-06 at 5 45 26 pm" src="https://user-images.githubusercontent.com/5816130/37063344-19f633e0-2167-11e8-9c1f-6a49283e60f3.png">
Cori's name is missing in the directory next to her pic.

cc @mmmavis

[2018-03-06 23:00] gideonthomas opened #1162 "[QA Fellowships Mini Site] Redundant CTA in support fellows page"
<img width="1436" alt="screen shot 2018-03-06 at 5 58 10 pm" src="https://user-images.githubusercontent.com/5816130/37063662-141f50f4-2168-11e8-92af-3d9ba921843b.png">
The CTA at the bottom of the `/fellowships/support/` page contains a past application deadline and the link redirects to the same page you are on. Seems a bit redundant to have that text although the inquiry text seems useful.

cc @

[2018-03-06 23:04] taisdesouzalessa commented on #1162
Yeah, you are right, it is very redundant :). We already have a ticket filed here for this issue: #1142

[2018-03-06 23:05] gideonthomas opened #1163 "[QA Fellowships Mini Site] Missing profile in directory"
<img width="1201" alt="screen shot 2018-03-06 at 6 03 27 pm" src="https://user-images.githubusercontent.com/5816130/37063834-c1ec75fe-2168-11e8-87d2-bfa4b989471e.png">
An-Me is shown in the main `/fellowships/` page under "Meet Some of the Mozilla Fellows" but when you actually go to the fellowships directory, I can't seem to find her in any of the categories (or maybe I missed it). Don't know if

[2018-03-06 23:06] gideonthomas commented on #1162
Awesome! Thanks @taisdesouzalessa, closing!

[2018-03-06 23:06] #1162 closed

[2018-03-06 23:06] mmmavis commented on #1148
Yup, fellowships work has been merged into `master` and pushed to staging: https://foundation.mofostaging.net/fellowships/ 🎉

[2018-03-06 23:06] #1148 closed

[2018-03-06 23:10] mmmavis commented on #1161
Info updated it on Pulse backend.

[2018-03-06 23:10] #1161 closed

[2018-03-06 23:15] #1154 closed

[2018-03-07 01:39] taisdesouzalessa commented on #1136
Updated and created a PR. Some notes:

1. Steve Song's profile is missing from Pulse (using his [Twitter profile](https://twitter.com/stevesong) for now)
2. [Suchana Seth's profile](https://www.mozillapulse.org/profile/330) is pretty incomplete by now. It would be nice to have more info and a picture there:
3. [Sarah Kiden's profile](https://www.mozillapulse.org/profile/312) is also very empty

@a

[2018-03-07 16:57] annmarie123 commented on #1136
@taisdesouzalessa I have updated all those profiles and am currently working on double checking all current fellow profiles.

[2018-03-07 18:11] taisdesouzalessa commented on #1159
Good catch! It is "What are Mozilla Fellowships" according to [the copy document](https://docs.google.com/document/d/1irQDK5IrRRuBa_Bq4sVOkaD9iHIYxD-cPyUGY_UOuY8/edit).

I can do that PR and ask @mmmavis for review.

[2018-03-07 18:17] taisdesouzalessa commented on #1163
An-Me should be in the directory, not sure why she is not showing there. @xmatthewx @mmmavis do you know why this is happening? Let me know if I can help with anything here!

[2018-03-07 18:25] #1091 closed

[2018-03-07 18:37] #1151 closed

[2018-03-07 19:21] #520 closed

[2018-03-07 19:35] jessevondoom commented on #1142
Maybe just change the copy from:

to:

Applications are currently closed, but reach out to fellowships@mozillafoundation.org with any inquiries.

[2018-03-07 19:55] mmmavis commented on #1163
Just a note that currently featured fellows on fellowships pages are hardcoded. Only the profiles we see are Fellowships Directory are pulled directly from Pulse API.

An-me's profile IS on Pulse backend: https://api.mozillapulse.org/api/pulse/profiles/77/ We just need to label it with the right `profile_type`, `program_type`, and `program_year` for it to show on the directory. I can help update i

[2018-03-07 20:30] mmmavis commented on #1146
This is done already according to the group messages I saw on Slack.

[2018-03-07 20:30] #1146 closed

[2018-03-07 20:42] taisdesouzalessa commented on #1084
UPDATE: talked to @mmmavis and we decided to keep the line to orient users on this page, even though "Directory" can still be clickable and take users to parent page.

We are following the same interaction model as seen in MailChimp (https://mailchimp.com/features/marketing-automation/)

If in the future we see users get confused (by either user testing this page or looking into analytics), we can

[2018-03-07 20:42] #1084 closed

[2018-03-07 21:42] #1159 closed

[2018-03-07 22:04] annmarie123 commented on #1141
@taisdesouzalessa Here are some condensed copy for that section: Orlando - software engineer, interested in projects that impact the lives of underrepresented communities. Currently, working on Ahwaa.org, a discussion platform for the LGBT community in the Middle East.

Amba - a researcher and policy consultant, Amba is studying how India’s experience with Aadhaar and other tech/government issues

[2018-03-07 22:08] annmarie123 commented on #1163
I have updated An Me's profile to put her in the Fellows in Residence program (i.e. what senior fellows used to be). I will make sure other staff who are now fellows in residence are accommodated for.

[2018-03-07 22:17] xmatthewx opened #1168 "Update Homepage Features for Global Sprint, Fellowship, & Internet Health"
The foundation homepage includes a few opportunities for people to get involved. Below news, leaders, the get involved box currently includes: leadership training, fellowship, and Internet Health.

All three should be updated soon @Sydette.

 - **Global Sprint** [Launched already]
   - [ ] Craft blurb. @kristinashu can help with an image if needed. cc @zee-moz
   - [ ] Add [Global Sprint](https://

[2018-03-07 22:38] xmatthewx commented on #1163
We might have a little collision here. I believe "fellow in residence" is different than other types, so a person can be a Tech Policy Fellow, or a Fellow in Residence (like An-Me), or both (like Cori).

Correct me if I'm wrong @annmarie123. But, if I'm right, our model is not designed to handle this.

Let's _not_ try and solve this right now. Let's just confirm that things are not totally broken.

[2018-03-07 22:41] xmatthewx commented on #555
Sydette is working on content migration plan. I don't think we need to track that here.

[2018-03-07 22:52] annmarie123 commented on #1163
Thank you for the details! Cori is just a "In Residence" fellow. She created the tech policy team, but is not herself a tech policy fellow. Therefore, she could just be "In Residence", i.e. no need to change your system.

[2018-03-07 22:57] xmatthewx commented on #1163
Hmmm. So no Fellow in Residence also has a focus area? Does Cori deal with anything other than Tech Policy? Wouldn't it be weird to not list her with the cohort she oversees?

Thinking again, I think it makes more sense to create a Web Lit focus area to match other types, rather than using a label that won't have much meaning to an external audience. What about Phillip Smith. Is he a fellow? In Re

[2018-03-08 01:28] taisdesouzalessa opened #1170 "[QA Fellowship Mini Site] Inconsistencies in data entries"
### Issue
On the [Directory Page](https://foundation.mofostaging.net/fellowships/directory/) we have some inconsistencies in data entries. Example below (“New York, New York” / “New York, NY”, “Brooklyn  [no comma] New York”):
<img width="325" alt="image" src="https://user-images.githubusercontent.com/22157921/37127876-853b0caa-222c-11e8-9ec8-6e96880d101b.png">

### Solution
Create rules for this

[2018-03-08 01:40] taisdesouzalessa opened #1171 "[QA Fellowship Mini Site] Replace placeholder copy"
### Issue
[Support the Program](https://foundation.mofostaging.net/fellowships/support/) page still had a placeholder title "Engaging Title for Funders"
<img width="799" alt="image" src="https://user-images.githubusercontent.com/22157921/37128283-47e299e8-222e-11e8-8ef3-d8401bc24627.png">

### Solution
Kevin suggested the copy: "Support the Mozilla Fellows". Thanks @KevZawacki :)

@mmmavis this is

[2018-03-08 01:45] taisdesouzalessa commented on #1134
@xmatthewx recommended we change the copy of this button for now until we have the link:
"Application Coming Soon"

@mmmavis I can take care of it, okay? Will create a PR tomorrow.

[2018-03-08 01:50] taisdesouzalessa opened #1172 "﻿[Fellowship Mini Site] Mobile Anchor"
### Issue
In screen sizes ≤ 767px, anchor is taking users to the view button instead of title of desired section (see image).

<img width="320" alt="image" src="https://user-images.githubusercontent.com/22157921/37128581-b41d5a5c-222f-11e8-843f-868c53530df3.png">

@xmatthewx assigning to you for triage

[2018-03-08 03:28] mmmavis commented on #1142
<img width="739" alt="screen shot 2018-03-07 at 7 25 15 pm" src="https://user-images.githubusercontent.com/2896608/37131455-5b4c87e6-223d-11e8-9a69-b9e449d5c22e.png">

@jessevondoom @taisdesouzalessa
"this link" in the first sentence just links to the page where user is currently on (the Support page)... which isn't very helpful. Should we just remove the entire sentence `You can apply to be a hos

[2018-03-08 17:28] xmatthewx commented on #1170
@annmarie123 we should make locations a bit more consistent on profiles. cc @community-impact

I propose:
 - City, State, Country (no abbreviations)
 - Everyone should have a single primary location, not something like "Washington DC and New York City". Because, we will eventually make this an actual location via the google maps api.
 - For the U.S., we could omit country if you feel like it'll ap

[2018-03-08 17:33] xmatthewx commented on #1163
Awesome. Thanks for the clarity @annmarie123.

@taisdesouzalessa - can you file a new ticket to add "In Residence"  to the filter on the directory?

[2018-03-08 18:21] taisdesouzalessa commented on #1142
Yep, it makes sense to me to remove the first sentence. @jessevondoom you okay with that?

[2018-03-08 18:24] taisdesouzalessa commented on #1141
This is done! Thanks all!

[2018-03-08 18:24] #1141 closed

[2018-03-08 18:25] taisdesouzalessa commented on #1171
This is done! Thanks :).

[2018-03-08 18:25] #1171 closed

[2018-03-08 18:26] gvn commented on #1090
@kristinashu This is on staging now if you want to take a look

[2018-03-08 18:26] gvn commented on #1028
@kristinashu This is on staging now if you want to take a look

[2018-03-08 18:38] kristinashu commented on #1028
Looks good!

[2018-03-08 18:38] #1028 closed

[2018-03-08 18:42] kristinashu commented on #1090
This first part is done. The second is better at medium widths but on mobile the dropdown is still full width.

Screen cap on iPhone:
<img width="427" alt="screen shot 2018-03-08 at 10 37 26 am" src="https://user-images.githubusercontent.com/1068783/37169455-c4c8660c-22bc-11e8-8c7a-ca4173d95cd6.png">

[2018-03-08 18:42] mmmavis commented on #1170
@xmatthewx

I'd suggest keeping U.S. in the data entry so that it'll be a lot easier for us to massage the data when the time comes. If we wanna hide `U.S.` from the website we can do it via front end code magic. We should make sure we use the same term though - US? U.S.? United States? or?

[2018-03-08 18:46] taisdesouzalessa opened #1174 "[Fellowship Mini Site] Add "In Residence" category to Directory pages"
### Issue: We need a space for our "In Residence" fellows category in our Directory Pages.

**List of requirements:**  - Thanks @xmatthewx for suggesting it.
- [ ] Add new label `In Residence` (to the filter, to profiles)
- [ ] put in alphabetical order (issue #1175)
- [ ] link to section below with title `Fellows in Residence`
- [ ] include button to `See all Fellows in Residence`
- [ ] link butt

[2018-03-08 18:53] taisdesouzalessa opened #1175 "[QA Fellowship Mini Site] Directory in Alphabetical Order"
### Issue
**Attention:** this issue is related to #1174.

In our [Directory Page](https://foundation.mofostaging.net/fellowships/directory/) we should organize items in alphabetical order:

in residence > media > open web > science > tech policy

That should be applied both to the filter:
<img width="392" alt="image" src="https://user-images.githubusercontent.com/22157921/37170062-a6132470-22be-11

[2018-03-08 19:06] mmmavis commented on #1174
- URL should be `/fellowships/directory/in-residence/` and page title should be `Fellows in Residence`

[2018-03-08 19:37] taisdesouzalessa commented on #1163
This issue will be fixed once we add the "In Residence" category: #1174
I will leave this ticket open so we don't lose track of it and once it is fixed, I'll update here okay?

[2018-03-08 22:02] xmatthewx commented on #1170
I leave it to @annmarie123 to decide how to format the content.

I feel like hiding on front end adds extra work and risk, since user inconsistency might not get captured. The google api will assume United States (for better and worse).

[2018-03-09 00:00] mmmavis commented on #1170
From a dev's perspective...

I'm not sure how we are going to map our manually entered location string to Google API in the future. If we leave "U.S." out, will it become a problem if Google API can't find the location? I'm just worried it might result in us going through each entry one by one to massage the location meta manually again. I don't know Google API enough... so it's likely there's som

[2018-03-09 00:20] taisdesouzalessa commented on #1170
From the user perspective, I think we shouldn't hide the country. I think it is important we treat all data equally and from a usability perspective, it can cause confusion if a country is hidden and others not. I would strongly recommend to keep all the countries (it is more likely a user recognizes a country than not a city). If in the future we are going to use an API or something the shows the

[2018-03-09 01:02] jessevondoom commented on #1142
Yeah that seems wise.

[2018-03-09 15:48] auremoser commented on #1134
Update here: just confirmed with Kalpana that this will be the link for the Fluxx application: https://mozilla.fluxx.io/user_sessions/new

It looks bland, but that's because they'll need to register in Fluxx before they select which grant application they're applying to, we'll provide them with a link to an application guide (a doc with instructions about how to apply in Fluxx in our blog posts.

[2018-03-09 15:57] auremoser commented on #964
I'm re-opening this issue, because of the link update I suggested here #1134 . Amy, Kalpana, and I discussed the possibility of having a landing page on our site that links to the fluxx application, something like the "applications are closed" mockup above, but just an intermediary landing page where we could add some context like what we provide [here](https://docs.google.com/document/d/13QFhketb

[2018-03-09 16:20] xmatthewx commented on #1134
That URL is fine for the button. For emails @auremoser, you can now use https://mzl.la/fellowship-application.

[2018-03-09 17:41] gvn commented on #1090
@kristinashu Should be fixed now on staging. Can you verify?

[2018-03-09 18:02] kristinashu commented on #1090
@gvn looks good!

[2018-03-09 18:02] #1090 closed

[2018-03-09 18:45] cadecairos opened #1180 "Generate known page slugs for review Apps"
Right now page slugs generated for review apps aren't predictable, so review app users need to get admin access just to find those page URLs.

I'm going to have the script output a consistent set of documented page urls that the team can depend on when reviewing code/design changes.

[2018-03-09 20:23] taisdesouzalessa commented on #964
Hey @auremoser thanks for the context here. I agree with the need os providing context to users before they jump to Fluxx. In my understanding, we already have this [Intermediary Page](https://foundation.mofostaging.net/fellowships/apply/) in place. It is just a matter of updating the copy with the new one you provided in the doc. Correct?

Just to make sure we are in the same page, here is how I

[2018-03-09 21:13] auremoser commented on #964
That looks great, @taisdesouzalessa , I think we may have edits to that copy next week, Rizwan is supposed to confirm a few things with exec. I should know more then, but this setup looks excellent, thank you!

[2018-03-09 22:31] kristinashu commented on #1138
@xmatthewx @jessevondoom [here are a bunch of different home pages designs](https://redpen.io/p/mz472b7821ed66aed4) :
- Comps go from minimal updates to more complex
- 01-07 show different banner and nav options
- 08+09 show different body content options

There's a bunch so please veto some! I will continue to explore more directions but wanted to share some progress along the way.

[2018-03-09 23:24] taisdesouzalessa commented on #964
Cool! Closing this issue then, since we have the structure defined now [in this diagram](https://github.com/mozilla/foundation.mozilla.org/issues/964#issuecomment-371935307).
The new mockup of the Intermediary page will be tracked here: #1134

Feel free to reopen this issue if you feel it is necessary, @auremoser.

[2018-03-09 23:38] taisdesouzalessa commented on #1134
Based on the conversation we had here #964 - this page has now a new content:
[landing page content](https://docs.google.com/document/d/13QFhketbtk2oJAwJdFrNj4GDvdIltN_1OtiWcsQqg2c/edit)

This is the agreed flow:
`"Apply to Be a fellow:"` button--> `Intermediary Page on Foundation site`: with [landing page content](https://docs.google.com/document/d/13QFhketbtk2oJAwJdFrNj4GDvdIltN_1OtiWcsQqg2c/edi

[2018-03-10 12:57] auremoser commented on #1134
Yes, I will most def let you know about copy changes.

For the funding partners, here are the URLs, we can also include logos if you think those are appropriate? I've put together all the [logos here](https://drive.google.com/drive/folders/1626JMdhQmAEXRFOygTlO0RYezaZjQLPi?usp=sharing) and it might be nice to feature them as "grey-ed out" logos
* Mozilla Foundation - https://foundation.mozilla.org

[2018-03-12 15:28] #1180 closed

[2018-03-12 20:18] beccaklam commented on #1155
![current ia](https://user-images.githubusercontent.com/20977376/37307335-fd6ff9c8-2610-11e8-9d54-9a51f7049e90.jpg)
![jesse s wireframes](https://user-images.githubusercontent.com/20977376/37307336-fd861622-2610-11e8-825b-6aa631970ba8.jpg)

[2018-03-12 20:27] taisdesouzalessa opened #1183 "[Fellowship Mini Site] Change labels on the directory page"
### Issue
Amy's team requested some [wording changes ](https://docs.google.com/document/d/143kk5m-rEJGr1ZUTgdg0ARCpX4DssQz_6rLojL85ZSI/edit?usp=sharing) for the fellows directory.

### Solution
- [ ] Taís will work on the comps for those changes and send to Amy's team for approval.
- [ ] After approval, Taís will create an implementation ticket so Mavis can work on the changes.

@xmatthewx @jessev

[2018-03-12 20:30] xmatthewx commented on #1138
Here are some thoughts...
 - I like phased approach. Let's build and release in stages!
 - I like the clean nav options. less busy. fewer elements.
 - I like the big CTA particularly in 06, but also 05 & 07. not so much with 01-04 (though maybe good as staged builds toward final design).
 - Quote+photo changes the vibe from critical-internet-news-site to we-are-a-nonprofit-please-like-us site. My

[2018-03-12 20:33] xmatthewx commented on #1183
note: these labels will need to be changed in the directory and in the pulse admin

[2018-03-12 23:30] taisdesouzalessa commented on #1183
Here are the changes applied:
https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/276734820_v2-FellowshipsUI_-_Fellows_Directory

**Status:** waiting on Amy's team approval

[2018-03-12 23:59] mmmavis commented on #1183
@xmatthewx @taisdesouzalessa

These directory pages are built dynamically based on the data we get from Pulse API. Just a reminder that changing the names of those `program_type` labels on Pulse admin will affect things __ hugely __ on the directory pages (e.g., name of each program section will change, filter name will change, some URLs are likely to change because of that... etc).

Things broke

[2018-03-13 00:06] mmmavis commented on #1183
related question:

does this affect URLs under `/fellowships/directory/` too?
e.g., does https://foundation.mozilla.org/fellowships/directory/science/ become https://foundation.mozilla.org/fellowships/directory/scientists/

[2018-03-13 00:20] taisdesouzalessa commented on #1183
@xmatthewx @mmmavis in my understanding the changes were more related to title (like in the example below we changed the title from "Media Fellows" to "Media Makers". But the label inside the card remained the same "Fellow, Media, 2017".
<img width="495" alt="image" src="https://user-images.githubusercontent.com/22157921/37315873-294cc014-2619-11e8-8ca2-ef57ee33514c.png">

Matthew, let me know if

[2018-03-13 00:22] taisdesouzalessa commented on #1183
@mmmavis, good point on the URL. I asked Amy via email about a similar issue (changing the button copy will likely change the title of individual pages). If she agrees with the change, I think it makes sense to change the URL as well, what do you think @xmatthewx?

![directory-demo](https://user-images.githubusercontent.com/22157921/37315965-acdd1f46-2619-11e8-9478-d6448617e52d.gif)

[2018-03-13 00:24] mmmavis commented on #1183
@taisdesouzalessa on directory pages, only the big heading "Fellows Directory" and the word "Area" in the filter bar are hardcoded 😉 Everything else is built based on the data we get from Pulse API.

[2018-03-13 00:28] taisdesouzalessa commented on #1183
@mmmavis So the areas highlighted in green come from Pulse as well? That is a good info to have, I didn't know it :).  Thanks for the clarity here.
<img width="525" alt="image" src="https://user-images.githubusercontent.com/22157921/37316134-98ca073e-261a-11e8-833e-aa21f1ff13b5.png">

[2018-03-13 00:33] mmmavis commented on #1183
@taisdesouzalessa yea those titles are generated **"based on"** data from Pulse API.

e.g.,

if program type is "in residence", display title as "Fellows in Residence"
otherwise display title as "_program name_ Fellows"

[2018-03-13 00:38] taisdesouzalessa commented on #1183
thank you so much for your explanation @mmmavis! Now it is clear to me and it makes sense :).

[2018-03-13 16:00] beccaklam commented on #1155
@natalieworth See above ^ for IA work. Did you want to meet today to talk about next steps for nav design?

[2018-03-13 16:10] xmatthewx opened #1185 "[Fellowship Mini Site] Interim Directory"
We will soon have a fully functional directory, with proper filtering. For now, we have an interim solution.

**Problem**: this interim build over emphasizes the legacy split between fellowship programs. It will invite many new eyes and orient them around an old model rather than the future model.

**Solution**: instead of relying on wordsmithing the interim solution further, we propose that we si

[2018-03-13 16:43] RizwanTufail commented on #1185
Makes sense. Thanks!

[2018-03-13 17:46] mmmavis commented on #1185
Thanks for the clarification! @xmatthewx

One question regarding the fellows we show on `/directory`... are we showing 2017 fellows or 2018 fellows?

[2018-03-13 17:50] xmatthewx commented on #1185
Great question. Long term, we'll want to show `active` fellows. We don't have the concept of active built in yet. So for now, I'd guess that pulling both is probably best.

[2018-03-13 18:14] alanmoo commented on #1185
Alphabetically by first name?

[2018-03-13 18:29] rtufail commented on #1185
last name, I would suggest

[2018-03-13 19:27] kristinashu opened #1186 "Make nav at narrow widths more consistant"
### Desktop looks good:
<img width="1156" alt="screen shot 2018-03-13 at 12 22 30 pm" src="https://user-images.githubusercontent.com/1068783/37364991-53d8d598-26b9-11e8-8ec2-adaf58b28c4d.png">

### But at narrow widths:
- [x] Hover state is yellow when it should be white with underline (like at desktop width)
- [ ] Social icons are hidden or cut off when they should be visible

<img width="723" al

[2018-03-13 19:31] kristinashu opened #1187 "Get Connected icon is squished"
### Icon at bottom of home page looks good at width browser widths:
<img width="1129" alt="screen shot 2018-03-13 at 12 28 14 pm" src="https://user-images.githubusercontent.com/1068783/37365263-368c25fc-26ba-11e8-91de-e876860ed170.png">

### But is squished at narrower widths, it shouldn'd be squshied:
<img width="793" alt="screen shot 2018-03-13 at 12 28 02 pm" src="https://user-images.githubuser

[2018-03-13 19:33] kristinashu commented on #1187
Same as on https://foundation.mozilla.org/sign-up/ but even at full browser width:
<img width="1008" alt="screen shot 2018-03-13 at 12 32 36 pm" src="https://user-images.githubusercontent.com/1068783/37365413-a956d7bc-26ba-11e8-95e1-023500c4e20a.png">

This must be a new thing?

[2018-03-13 20:05] taisdesouzalessa commented on #1187
it is a bug not a feature :(

[2018-03-13 20:22] taisdesouzalessa commented on #1185
As discussed in the meeting (March 13th):
- we are sorting by first name, last name (alphabetically) - reason: make scannability easier since we don't have a filter for now.
IMPORTANT: if this is a blocker, Rizwan told it is okay to not organize alphabetically. I (Taís) would recommend that we do it if possible because we don't have filters and it would be easier on users. However, I share Rizwan'

[2018-03-13 20:49] kristinashu opened #1188 "Add colors to Style Guide"
These are the only colors that should appear on the site. Please:
- [x] add them to the [Style Guide](https://foundation.mozilla.org/style-guide/) so everyone knows
- [x] make sure there are no other colors hard coded into the site

<img width="628" alt="screen shot 2018-03-13 at 1 39 35 pm" src="https://user-images.githubusercontent.com/1068783/37369071-40692b78-26c5-11e8-924f-b7ddd84288fd.png">

[2018-03-13 20:55] alanmoo opened #1189 "Identify active fellows in directory"
In a call earlier today the topic of identifying the years of a fellow came up. Given that we already have a field in our database for "year", should we simply create another entry called "Current" (or "Active", or whatever someone feels strongly about) so that we have an easy way that's already built out in code to identify active fellows? Then when they're no longer active, that can be changed t

[2018-03-13 21:05] taisdesouzalessa commented on #1189
Here are screenshots of the comps. I personally prefer "current" because I think it is clearer than "active". However, I feel we could come up with an even better and clearer label :). Please post any suggestions here!

With "Current":
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/22157921/37369754-42b15962-26c7-11e8-8db3-521d2291ba8d.png">

With "Active":
<img width

[2018-03-13 21:58] community-impact commented on #1185
Thank you. The fellows that should be moved to "previous years" are:

Camille
Terah
Phillip
Kaitlin
Matt

On Tue, Mar 13, 2018 at 1:22 PM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2018-03-13 22:27] taisdesouzalessa commented on #1185
Here are the comps:
[Directory](https://invis.io/ZJ9YTAGEA#/276734820_v2-FellowshipsUI_-_Fellows_Directory)
[Directory > Fellows from Previous Years](https://invis.io/ZJ9YTAGEA#/276734822_v2-FellowshipsUI_-_Fellows_Directory_Specific_Program_Page)

@xmatthewx @rtufail @community-impact please let me know if those are good to go. If you need revisions, please add here and I'll work on them.

Next s

[2018-03-13 22:58] community-impact commented on #1185
Yes, this looks good to go

On Tue, Mar 13, 2018 at 3:27 PM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2018-03-14 01:41] rtufail commented on #1189
Hmmm. I prefer to see Fellow (2017-2018), or Fellow 2017 in front of a person's name, rather than Fellow Current or Fellow Active.

I think this is still a good idea if we can think of active or current as a flag in our system that is not visible to the site visitor.

[2018-03-14 14:33] alanmoo commented on #1189
Adding that flag needs a more involved engineering solution to be thought out so we're going to have to accept that all fellows from a certain year/years show up as active for now.

[2018-03-14 15:21] rtufail commented on #1189
OK. So to reconfirm we will stick with the Fellows 2017 convention. Correct?

From: Alan Mooiman [mailto:notifications@github.com]
Sent: March 14, 2018 10:33 AM
To: mozilla/foundation.mozilla.org
Cc: Rizwan Tufail; Mention
Subject: Re: [mozilla/foundation.mozilla.org] Identify active fellows in directory (#1189)

Adding that flag needs a more involved engineering solution to be thought out so we'r

[2018-03-14 15:50] xmatthewx commented on #1189
Question: are there any 2018 fellows today who were _not_ active in 2017? If not...

 - **Interim solution**: we could use 2017-2018 for all fellows we want on the `/directory` view. We could use 2017 for any who started but are not still active in the `/directory/archive` view.
 - **Long term solution**: we add an active/inactive flag in backend and enable a list of years as year/number rather th

[2018-03-14 15:55] rtufail commented on #1189
Unfortunately, yes. We have 1 Fellow-in-Residence (Renee DiResta) who started mid-Jan, and 4 other fellows who’re starting on Apr 1 (including Peter, Thomas, Julia, Meghan)

From: matthew w [mailto:notifications@github.com]
Sent: March 14, 2018 11:50 AM
To: mozilla/foundation.mozilla.org
Cc: Rizwan Tufail; Mention
Subject: Re: [mozilla/foundation.mozilla.org] Identify active fellows in directory (

[2018-03-14 17:45] xmatthewx opened #1191 "Pull Pulse Projects for Global Sprint"
For the Global Sprint, we want to pull projects from Pulse that are tagged mozsprint.

Goals:
 - Long term: enable CMS page authors to specify parameters e.g. (issue, tag, featured).
 - Short term: a solution we can land in advance of global sprint.

Solution in order of preference:
 1. cms authored page has projects at bottom
 1. an engineered page included on the sprints sidebar nav
 1. an engin

[2018-03-14 18:57] kristinashu commented on #1191
I think it would look something like this, where the [Projects page on the site](https://foundation.mozilla.org/opportunity/global-sprint/2018-projects/) shows a feed of projects pulled from Pulse. Projects would be styled as they are on Pulse (but without the fav icon). Each individual project would link out to the detail view on Pulse.

<img width="939" alt="screen shot 2018-03-14 at 11 56 20 am

[2018-03-14 20:29] kristinashu opened #1192 "Decide on one grid width for copy heavy pages"
#### Currently we are using different grid widths and different centering for each of our three copy heavy pages.

We should decide on one layout to use consistently. This will make designing and developing future pages easier (fewer decisions to make, less work and QA with engineers) and a smoother experience for users (eyes don't have to jump around as much and easier to absorb the actual conten

[2018-03-14 21:11] #1172 closed

[2018-03-14 21:54] xmatthewx commented on #1189
I think we need to move away from the idea of active / inactive. I think that matters internally, but doesn't mean much to an external audience. Once a fellow, always a fellow. I can't think of an audience group and use case where this matters:

 - As a prospective fellow, I want to see awesome people from recent years, so that I know whether to apply.
 - As a prospective supporter... [same as abo

[2018-03-14 21:56] xmatthewx commented on #1191
@alanmoo - let's put our heads together soon and talk about how to approach project feeds on the site. We have most of the building blocks in place.

[2018-03-14 21:56] taisdesouzalessa opened #1193 "[Fellowhip Mini Site] Apply to be a Fellow page: copy change"
### Issue
Change the current copy of our https://foundation.mofostaging.net/fellowships/apply/ page

[Here](https://docs.google.com/document/d/1ZRMFoPl0aNiu1ya-ldJJKnZIOhZfp6OZCVZThwL-b8g/edit?usp=sharing) is the new copy.

- [x] Taís will apply copy to comp and do the necessary adjustments.
- [x] Fellowship team will approve the comp
- [x] An implementation ticket will be created and sent to @ala

[2018-03-14 22:02] taisdesouzalessa commented on #1189
I agree with Matthew's approach here. To me, it makes more sense, considering the users' lenses.

[2018-03-14 22:19] taisdesouzalessa commented on #1134
Hey @auremoser it seems this page has a new copy now, I created a new clean ticket for it okay?  #1193
I'll add the Fluxx link there and your suggested "Contact Us" message
Closing this ticket, feel free to reopen if needed.

[2018-03-14 22:19] #1134 closed

[2018-03-14 22:21] taisdesouzalessa commented on #1193
From this previous ticket (#1134) we have the link to Fluxx application: https://mozilla.fluxx.io/user_sessions/new + @auremoser suggestion of "Contact Us" copy: "Any further questions about fellowships at Mozilla? Contact us. <- link to fellowships@mozillafoundation.org."

[2018-03-14 22:34] community-impact commented on #1193
Yes, ticket #1135 reflects the thought about the email capture, thank you.

And yes, that will be the correct app link as far as I know in #1134

On Wed, Mar 14, 2018 at 3:21 PM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2018-03-14 22:52] auremoser commented on #1134
O.k. @taisdesouzalessa , thanks for letting me know. Hopefully the funder refs will still be useful to you somewhere!

[2018-03-14 23:23] taisdesouzalessa commented on #1193
Here is the comp for this page
https://invis.io/ZJ9YTAGEA#/276734812_v2-FellowshipsUI_-_Apply-Applications_Open

After @community-impact  and her team approve this comp, we can send it to @alanmoo's team for implementation.

[2018-03-15 09:11] auremoser commented on #1193
@taisdesouzalessa the comp doesn't load for me but thank you for sharing and so much for putting this together.

[2018-03-15 14:41] alanmoo commented on #1189
Yes, and it works with the code we have in place already.

[2018-03-15 16:17] #1147 closed

[2018-03-15 16:55] taisdesouzalessa commented on #1193
Oh sorry for that, @auremoser - here is a redpen link: https://redpen.io/jp21f74016b6ee4c71

Rizwan approved this page by email. @alanmoo this page is ready to be built. I'll open an implementation ticket.

[2018-03-15 16:59] auremoser commented on #1193
Looks great, thank you for sharing!

[2018-03-15 17:22] taisdesouzalessa opened #1195 "[Fellowship Mini Site] Apply to be a Fellow Page - Implementation ticket"
### Issue
Change the current copy of our https://foundation.mofostaging.net/fellowships/apply/ page

[Here](https://docs.google.com/document/d/1ZRMFoPl0aNiu1ya-ldJJKnZIOhZfp6OZCVZThwL-b8g/edit?usp=sharing) is the new copy.

Here is the approved comp: https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/276734812_v2-FellowshipsUI_-_Apply-Applications_Open

I'll take a stab at this page: I will

[2018-03-15 18:59] #1189 closed

[2018-03-15 19:08] alanmoo commented on #1185
I updated a single item in the requirements list based on the conversation in #1189. If that needs any more changes, we're going to have to discuss it in a separate ticket.

[2018-03-15 19:39] taisdesouzalessa commented on #1193
Implementation ticket here: #1195

[2018-03-15 19:47] annmarie123 commented on #1189
All current fellows profiles have been changed to the year 2018

[2018-03-15 20:00] xmatthewx commented on #1138
Updated v2 options are great. @jessevondoom - when you comment, look for v2.01-v2.03.

[2018-03-15 20:31] kristinashu commented on #1192
I prefer the narrow width (8 out of the 12 columns of the bootstrap grid on desktop) and center alignment of the [Fellowship's Apply page](https://foundation.mozilla.org/fellowships/apply/).

Narrow width is better for legibility. The recommend characters-per-line count is around 50 to 60. Our narrower width is at about 80 characters. So a little long but better than the wider widths we have.

I b

[2018-03-15 21:13] #1193 closed

[2018-03-15 21:16] gvn opened #1197 "Add .editorconfig"
This will make it easier to keep formatting consistent:

http://editorconfig.org/

[2018-03-15 21:24] kristinashu commented on #1168
Here are two Fellowship images options and one for Global Sprint:
![fellows1](https://user-images.githubusercontent.com/1068783/37491934-9b18e0fc-285c-11e8-9d3c-9bc829edece9.jpg)
![fellows2](https://user-images.githubusercontent.com/1068783/37491935-9b2c953e-285c-11e8-9ed7-c0987db374e7.jpg)
![globalsprint](https://user-images.githubusercontent.com/1068783/37491936-9b415be0-285c-11e8-9551-a2b4a3eea

[2018-03-16 17:53] taisdesouzalessa opened #1199 "[Fellowship Mini Site QA] Fellowship Directory"
### Issue
Currently, in our [Directory Page](https://foundation.mozilla.org/fellowships/directory/), once users click on the button "See Fellows for Previous Years" they are taken to [a page](https://foundation.mozilla.org/fellowships/directory/archive/) that has all Fellows, from all years, including 2018. The problem is that this behavior doesn't match the expectation of the title "See Fellows f

[2018-03-16 21:37] gvn commented on #1199
This is on prod now if you want to verify, @taisdesouzalessa !

[2018-03-16 21:44] taisdesouzalessa commented on #1199
It looks great!! Yay, thank you so much @gvn :)

[2018-03-16 21:44] #1199 closed

[2018-03-19 16:15] taisdesouzalessa commented on #1195
This page is done. Closing this issue.

[2018-03-19 16:15] #1195 closed

[2018-03-19 16:24] taisdesouzalessa opened #1202 "[Fellowship Mini Site] Change button copy on lauch + helper text"
Once the applications launch, do the following changes on this page:
https://foundation.mozilla.org/fellowships/apply/

- [x] change button copy to "Apply to be a fellow today"
- [x] button linking to Fluxx: https://mozilla.fluxx.io/user_sessions/new)
- [x] add this helper copy: "Applications are due by 5 pm Eastern Time on April 20th, 2018. `<strong>` Make sure to register by April 18th `</strong

[2018-03-19 16:49] auremoser commented on #1202
Looks great, thank you @taisdesouzalessa , if we can bold the April 18th date that would be great. I just don't want people to miss it!

[2018-03-19 17:16] taisdesouzalessa commented on #1202
good point, Aurelia :). Added this note to the original ticket :)

[2018-03-19 19:14] alanmoo commented on #1074
I believe we can close this since we've ditched those other pages. Re-open if you disagree.

[2018-03-19 19:14] #1074 closed

[2018-03-19 19:38] alanmoo commented on #1202
@taisdesouzalessa If you want to open a PR labeled "Do not merge yet" you're welcome to take it on. If you can't assign it to Gavin.

[2018-03-19 19:49] taisdesouzalessa commented on #1202
Sure, I can do it @alanmoo between today and tomorrow.

[2018-03-19 21:12] natalieworth opened #1203 "IHR promotional postcards/ flyers"
Create postcards and editable flyers for staff and stakeholders to promote the internet health report at events.

[2018-03-19 21:12] natalieworth commented on #1203
Going to use V4 and V5 in the redpen here https://redpen.io/p/vpfded5f3f3d1fd148

[2018-03-19 21:28] natalieworth commented on #1203
@amirad  does Jairus have github? Can you cc here to get the content for the postcards/ flyers tweaked? This is the original content:

In the past year alone, we’ve seen a spate of troubling headlines: The big five tech brands are getting too big for their britches. Our personal credit details have been stolen en masse. Social media has been weaponized as a tool of cruel harassment. Fortunately, i

[2018-03-20 12:42] amirad commented on #1203
I'm not sure! I just messaged him to ask.

I dropped more comments in the redpen yesterday!

[2018-03-20 13:40] JairusKhan commented on #1203
**# What is the Internet Health Report?**

**## Mozilla's Internet Health Report is an open-source project that documents and explains how people worldwide are interacting with and affected by our connected world.**

?: We've seen troubling headlines in the last year: Our personal credit details have been stolen en masse. Social media has been weaponized as a tool of cruel harassment. The democrat

[2018-03-20 15:54] samanthaburton commented on #1203
Hi everyone!

@natalieworth love the designs! I spoke with Amira about them today, and I she dropped this into redpen, but just to confirm we'd like to combine V2 back and V5 back -- specifically, the header & borderless design of V2 with the ? i -> sections of V5 -- and use the V5 front!

And here's updated & finalized copy, via the 1 pager Jairus and I just worked on together:

# What is the Int

[2018-03-20 16:28] xmatthewx commented on #1168
- I will go ahead and point the IH Report item to internethealthreport.org.
 - Alan updated the fellow item to the new pages

[2018-03-20 16:31] xmatthewx commented on #1168
@zee-moz - I'd like to replace the leadership training item for the Global Sprint. Do you have some all purpose copy we could use? Roughly 140-240 characters.

[2018-03-20 16:39] taisdesouzalessa opened #1204 "[Campaigns Page Template] title misalignment"
### Issue:

Currently, in our [campaigns pages template](https://foundation.mozilla.org/campaigns/baby-monitor/), the title is not aligned with the body copy, which makes the layout a bit weird.
DESKTOP:
<img width="1255" alt="image" src="https://user-images.githubusercontent.com/22157921/37668546-054e4ba6-2c22-11e8-913b-d2786fd689f8.png">

MOBILE:
<img width="323" alt="image" src="https://user-im

[2018-03-20 16:52] zee-moz commented on #1168
@xmatthewx sorry, I'm confused-- you want leadership training copy, or global sprint copy?

[2018-03-20 16:58] xmatthewx commented on #1168
I'd like to remove the current leadership copy and replace it with a big shoutout to the Global Sprint. So promotional language you maybe drafted with Kevin, something to pull people from the homepage into your new landing page.

[2018-03-20 17:40] xmatthewx commented on #1204
I agree that this should be fixed. Seems like a new CSS bug recently introduced. Leaving this to @alanmoo to triage.

[2018-03-20 18:07] taisdesouzalessa commented on #1202
@auremoser @community_impact here is how the button with the helper text will look like. I think having 2 dates there may be a bit confusing from the user's perspective. With the current copy, I made the whole "April 18th" line bold to try to alleviate that. Do we need to have those 2 dates?

<img width="822" alt="image" src="https://user-images.githubusercontent.com/22157921/37673783-5c4a0cfe-2c2

[2018-03-20 18:57] annmarie123 commented on #1202
@taisdesouzalessa Yes we do as applicants who are registering for the first time, need to be approved by staff, thus we do not want last minute "help" emails about their application at 11pm Friday April 20th.

[2018-03-20 18:59] taisdesouzalessa commented on #1202
Thanks for the context @annmarie123 - leaving it as is then :).

[2018-03-20 19:03] alanmoo commented on #1204
See also https://github.com/mozilla/foundation.mozilla.org/issues/1037

[2018-03-20 19:10] taisdesouzalessa commented on #1202
@alanmoo PR is ready, assigned Gavin for review.

[2018-03-20 20:03] auremoser commented on #1202
+1 to Ann Marie, it is confusing, but the reality is that if they don’t register by the 18th we probably won’t invite them to Fluxx in time to submit by the 20th. I’ve prepped a canned email to respond to any confusion!

[2018-03-20 21:33] kristinashu opened #1206 "Update Global Sprint link"
Update the Global Sprint link on https://foundation.mozilla.org/get-involved/ so it goes to
https://foundation.mozilla.org/opportunity/global-sprint/ (not https://science.mozilla.org/programs/events/global-sprint-2017)

<img width="1351" alt="screen shot 2018-03-20 at 2 30 36 pm" src="https://user-images.githubusercontent.com/1068783/37683909-58e2f964-2c4b-11e8-962c-83192fec6e3b.png">

[2018-03-21 15:03] zee-moz commented on #1168
How's this?

**Mozilla’s Global Sprint brings together coders, scientists, artists, students, educators and activists to collaborate on open-source projects that make the internet a better, healthier place.**

[2018-03-21 19:58] kristinashu opened #1208 "Streamline type styles"
### Goals:
- Improve the existing styles so they match the designs
- Reduce the number of styles so the site will look cleaner for users and will be easier for us to maintain and follow when making site updates

### Steps:
In Sketch, @taisdesouzalessa has made some handy comments on how the type [styles](https://foundation.mozilla.org/style-guide/) aren't quite right.
- [x] Add all styles to [spre

[2018-03-21 20:51] zee-moz commented on #1191
@alanmoo @xmatthewx  we have lots of projects registered, and this is the perfect time to begin to highlight them-- our list of awesome projects on the site is central to our comms strategy and is the main driver of registration. is there any way this feature could be ready end of the week, or early next week? the sprint is fast approaching!

[2018-03-21 20:55] xmatthewx commented on #1168
Here is a test on staging. Look good to you @kristinashu @zee-moz? Any typos?

<img width="1002" alt="image" src="https://user-images.githubusercontent.com/53411/37736877-7cfe9500-2d28-11e8-9724-b8009570e554.png">

[2018-03-21 20:57] zee-moz commented on #1168
Looks great to me! :)

On Wed, Mar 21, 2018 at 4:55 PM, matthew w <notifications@github.com> wrote:

[2018-03-21 21:13] vojtechsedlak opened #1209 "Discuss thank you text that appears after supporter signs up"
We did a recent evaluation of the rate of new subscribers that end up confirming their subscription through the double opt-in process. Currently only about 42% of people who subscribe on the site end up confirming their subscription. In contrast, on [developer.mozilla.org](developer.mozilla.org) site that percentage is >90%.

Ideally we would be able to test the impact of different messages on the

[2018-03-21 21:25] alanmoo commented on #1209
Is this referring to the main signup component or petitions?

[2018-03-21 21:42] kristinashu commented on #1208
Any suggestions on how we could see where exactly a type style is being used? Would be great to identify if a style is only used in one spot.

cc @gvn

[2018-03-21 22:27] kristinashu commented on #1168
Global Sprint feature is live! https://foundation.mozilla.org/

URL links for IHR and Fellows have also been updated so the only outstanding items is to update the IHR and Fellows blubs (but I'm not sure they're needed).

[2018-03-21 22:47] kristinashu commented on #1156
Any progress on this? I'm curious to see how it's coming along!

[2018-03-22 13:33] beccaklam commented on #1156
@kristinashu Nat and I should be showing some mock ups at crit today! cc: @natalieworth

[2018-03-22 17:29] kristinashu commented on #1191
@zee-moz I'm assuming we only want to show featured Global Sprint projects from this year. What hashtag should we use to pull in projects?

#globalsprint vs #globalsprint2018

Should we pull any projects that have that hashtag or only ones that have that hashtag and are set as "Featured" on Pulse?

[2018-03-22 17:34] vojtechsedlak commented on #1209
Primarily the signup components, though we should talk about the messaging after petition signups as well. It just gets a bit more complicated there with the share buttons.

[2018-03-22 17:43] taisdesouzalessa opened #1210 "Upcoming page - needs update"
### Issue
Our current [Upcoming page](https://foundation.mozilla.org/programs/upcoming/) has only 2017 events. This page currently doesn't have a ton of traffic (524 page views since Jan 2018) but it would be good to update it with 2018 events so the audience knows what to look forward to during this year.

Some ideas: we have the Global Sprint coming up, the applications for Fellowships are open,

[2018-03-22 18:27] gvn commented on #1191
My proposal is that for now we can move ahead and build the React component and inject it via a bespoke HTML target wherever it needs to go. A fast follow would be to create a Wagtail component for easy embedding without the need to write any HTML.

The HTML would be something like:

`<div class="pulse-project-list" data-tags="mozsprint,2018"></div>`

@xmatthewx @kristinashu – Is the design above

[2018-03-22 19:11] xmatthewx opened #1211 "Update Fellowship feature on homepage"
Now that we have launched the new fellowship pages, we might want to refresh the language used on the homepage feature that links there.

@community-impact - how does the current copy read to you? Does it need an update? Note the photo below is for a different feature, not fellowships.

cc @kristinashu @taisdesouzalessa

![image](https://user-images.githubusercontent.com/53411/37120772-5346d0ce-22

[2018-03-22 19:17] xmatthewx opened #1212 "Update IH Report feature on homepage"
The IH Report is featured on the foundation site homepage. In prep for launch, we should review the copy and update it if needed.

@Solanasaurus – does the copy need a refresh?

Read the report -->

@kristinashu – we should prep an image so we can move this to the lead spot when the report launches.

<img width="1150" alt="image" src="https://user-images.githubusercontent.com/53411/37792934-977c24

[2018-03-22 19:18] xmatthewx commented on #1168
Great. Closing this. Filed follow up for other initiatives.
 - Global sprint: done
 - Fellowship: tracking here https://github.com/mozilla/foundation.mozilla.org/issues/1211
 - Internet health report: tracking here https://github.com/mozilla/foundation.mozilla.org/issues/1212

[2018-03-22 19:18] #1168 closed

[2018-03-22 20:08] community-impact opened #1213 "Fellowship year in directory"
@taisdesouzalessa @xmatthewx - On the directory page, given that the convention we are working with is that the year we show is the year in which the fellowship cohort ended, can we have the 2016-2017 fellows in the Open Web and Science space show up in 2017 please?

cc @rtufail @annmarie123

[2018-03-22 20:40] annmarie123 commented on #1213
@community-impact @taisdesouzalessa I'm currently updating the directory per your specifications.

[2018-03-22 20:41] kristinashu commented on #1191
I'm good with the design above.

[2018-03-22 21:04] xmatthewx commented on #1210
I see two options (but I leave this to @jessevondoom and @Sydette to decide.)
 - remove this page from the site now
 - update the page since we need to gather content for the future participate page

I think we should remove it. It adds little value. The goal was to give a snapshot of the upcoming year, but I don't think we have enough known-things to justify the page.

[2018-03-22 21:06] alanmoo commented on #1174
Correct me if I'm wrong, but I believe we can close this since we've moved away from the sub-page style.

[2018-03-22 21:06] #1174 closed

[2018-03-22 21:06] alanmoo commented on #1175
Fellows are in alphabetical order now, though no longer in groups by type.

[2018-03-22 21:06] #1175 closed

[2018-03-22 21:22] taisdesouzalessa commented on #1213
Thanks, @annmarie123 - let me know if there is any help you need.

[2018-03-22 21:39] taisdesouzalessa opened #1214 "[Fellowship Mini Site] Directory takes a while to load"
### Issue
The directory is taking a bit to load (at least using my connection here at Mozilla Vancouver)
![fellowships-directory-loading](https://user-images.githubusercontent.com/22157921/37799848-334d6272-2dde-11e8-959b-d4f9fc5b1d0d.gif)

@cadecairos @alanmoo @mmmavis is there anything we could do to make this loading faster? Also, please let me know if you experience delays as well.

[2018-03-22 21:40] alanmoo commented on #1214
I think this is blocked by https://github.com/mozilla/network-pulse-api/pull/320

[2018-03-22 21:40] taisdesouzalessa commented on #1202
https://foundation.mozilla.org/fellowships/directory/

[2018-03-22 21:40] #1202 closed

[2018-03-22 21:44] community-impact commented on #1211
Since we're not doing the media focus next year, I think we should take
that out, and to be more consistent with the fellowship home, how about we
use something like:
Mozilla Fellowships provide resources, tools, community and amplification
to those building a more ​humane​ ​digital​ ​world. Mozilla Fellowships are
a transformative experience for emerging leaders concerned with making the
internet

[2018-03-22 21:45] taisdesouzalessa commented on #1185
Task completed. Closing this issue. Feel free to reopen it if you disagree.

[2018-03-22 21:45] #1185 closed

[2018-03-22 21:47] taisdesouzalessa commented on #845
This page is launched: https://foundation.mozilla.org/fellowships - closing this ticket

[2018-03-22 21:47] #845 closed

[2018-03-22 21:50] taisdesouzalessa commented on #1142
Thanks for the contributions here. Changes were applied.

[2018-03-22 21:50] #1142 closed

[2018-03-22 21:50] kristinashu commented on #1211
@community-impact do you want to keep the same title (Fellowships that Empower Leaders) and link text (Be a fellow)?

The updated body copy would look like this:

<img width="1133" alt="screen shot 2018-03-22 at 2 49 10 pm" src="https://user-images.githubusercontent.com/1068783/37800497-34c34a52-2de0-11e8-9ba0-e01db14f2d01.png">

[2018-03-22 21:52] taisdesouzalessa commented on #1183
This is solved, we don't have areas anymore, we added years instead. Closing this issue.

[2018-03-22 21:52] #1183 closed

[2018-03-22 21:53] community-impact commented on #1211
I think the heading still works.

For the link, how about "Learn more and apply" (?)

On Thu, Mar 22, 2018 at 2:51 PM, Kristina <notifications@github.com> wrote:

[2018-03-22 21:54] taisdesouzalessa commented on #1163
Issue is solved :) Closing this ticket. Thanks for the contributions here, team!

[2018-03-22 21:54] #1163 closed

[2018-03-22 22:01] kristinashu commented on #1211
Perfect! Copy has been updated https://foundation.mozilla.org/

[2018-03-22 22:01] #1211 closed

[2018-03-22 22:16] alanmoo commented on #1209
To clarify then, you're looking to replace the existing message of `Thanks for joining. The Internet already feels a bit more vibrant (^_^). We will email you soon to confirm.`?

[2018-03-22 22:30] natalieworth commented on #1203
@samanthaburton @amirad cool thanks @JairusKhan for copy! I just updated the design in Redpen (V6) https://redpen.io/p/vpfded5f3f3d1fd148

[2018-03-22 22:33] Solanasaurus commented on #1212
Good call!

How about:

2018 Internet Health Report

How healthy is the Internet? You may know other reports that look at industry trends and technologies. The Internet Health Report is about the human experience of the Internet - an independent, open source compilation of data, research and stories that show how the Internet evolving.

You could recycle image we used on pre-launch post: https://i

[2018-03-22 22:45] kristinashu commented on #1212
We can link directly to http://mzl.la/ihr

Should we update the body copy now or wait until the report launches? If we update it now then we should change "Read the report" text as well.

[2018-03-22 22:51] taisdesouzalessa opened #1215 "[Fellowships Mini Site] Add filters to Directory Page"
### Issue:
Now that we have the MVP of our [Directory Page](https://foundation.mozilla.org/fellowships/directory/) it is time to add filters as per wireframes:

<img width="414" alt="image" src="https://user-images.githubusercontent.com/22157921/37802722-d9552b5a-2de8-11e8-8cbf-03d840bf7d3a.png">

[2018-03-22 22:58] kristinashu commented on #1208
I'm putting this into a spreadsheet instead of Redpen https://docs.google.com/spreadsheets/d/1Z1oScv_5NfhGGkFg6nH-_16dKWSyPcNhrKdA5E_QwIk/edit?usp=sharing

[2018-03-22 23:02] amirad commented on #1203
Thanks Natalie! I left a couple small comments on the back of the card in RP.

Yes, we need that for network members! Can you also put your other designs (the world and question one) into google doc so we can share those images as well.

[2018-03-22 23:08] taisdesouzalessa commented on #1208
@gvn for now the flow we are using to see where the styles are being used is:
1. See the name of the class of the type style. (e.g.: ".h1-white")
2. Go to our local version of the site (both Kristina and I have a cloned version of the site in our machines)
3. Using Sublime, we search in all docs for instances of the class
4. Then we see the pages in which the class is being used (index, 404, about

[2018-03-22 23:45] kristinashu opened #1216 "How to sunset old opportunity pages?"
What do we do with pages that are no longer relevant?

Example: the old Fellowships landing page https://foundation.mozilla.org/opportunity/fellowships/. We no longer direct people here and content will become out of date so we don't want people to find it.

Can we archive/delete it? Can we redirect https://foundation.mozilla.org/opportunity/fellowships/ to https://foundation.mozilla.org/fellowshi

[2018-03-23 00:27] kristinashu commented on #1208
I'm finding it hard to tell where it's being used. This is an example search result:

<img width="628" alt="image" src="https://user-images.githubusercontent.com/1068783/37805247-30c4698e-2df6-11e8-988f-c240bbb35d66.png">

[2018-03-23 16:24] alanmoo commented on #1216
We can set up redirects, once #937 is unblocked.

[2018-03-23 16:25] alanmoo commented on #937
Will this be resolved once Wagtail is handling our 404's?

[2018-03-23 16:46] alanmoo commented on #1163
Things have changed significantly since this ticket was filed. An-me does show up on the directory now, but there's no more categories. So I think this can safely be closed.

[2018-03-23 16:55] xmatthewx commented on #1212
We used an [interstitial page](https://foundation.mozilla.org/opportunity/internet-health-report/) last year, but it feels superfluous now that the report has a parent site and more synchronized branding.

Thanks @Solanasaurus! Thanks @kristinashu!

[2018-03-23 18:28] gvn commented on #1191
FYI: Currently the Pulse API only supports single tag searches.

Is there a cap for how many projects we want to show for this list?

[2018-03-23 18:34] acabunoc commented on #1191
@gvn  last year I filtered for two tags using https://api.mozillapulse.org/api/pulse/entries/?search=mozsprint+2017

Can you use https://api.mozillapulse.org/api/pulse/entries/?search=mozsprint+2018 ?

[2018-03-23 18:53] gideonthomas commented on #1098
This is done

[2018-03-23 18:53] #1098 closed

[2018-03-23 19:55] zee-moz commented on #1191
I'm hoping @kristinashu can help us put up a temporary, static project page so we can begin to do comms around projects on Monday-- unless @gvn you think this will be up and running by Monday?

Here's the issue for the temporary page: https://github.com/mozilla/2018-global-sprint-planning/issues/33

Thanks everyone for your help on this 😺

[2018-03-23 20:24] kristinashu commented on #1208
I've filled out the spreadsheet and I think we can actually get rid of a bunch of styles!

@taisdesouzalessa @gvn can you please review and double check everything?
https://docs.google.com/spreadsheets/d/1Z1oScv_5NfhGGkFg6nH-_16dKWSyPcNhrKdA5E_QwIk/edit#gid=0

[2018-03-23 21:47] kristinashu opened #1217 "Simplify News date and byline"
### Current screencap from production:
- byline and date posted are on separate lines and have different font styles
<img width="1124" alt="screen shot 2018-03-23 at 2 38 07 pm" src="https://user-images.githubusercontent.com/1068783/37854489-5cd3940c-2ea8-11e8-9ff6-33f9460d77b0.png">

### Recommendation:
- Can we simplify this so the byline and date posted are on one line and in one font style? I

[2018-03-23 21:54] natalieworth commented on #1203
Hey Amira!
I was able to update the IHR postcard design (https://redpen.io/p/vpfded5f3f3d1fd148) and get a start on the google doc flyer (https://docs.google.com/document/d/1VYQ902GdNG5haD-yLlaFhT85nDzqSDogpsXL_m-Evkc/edit). Let me know what you think so far! If the postcards are good to go (double check my proofreading :)—then I can export to a print-ready final file).
cc @amirad @beccaklam

[2018-03-23 21:57] natalieworth commented on #1156
I've added benchmarks to a doc here https://docs.google.com/presentation/d/198Sk4LZVe5MBBv0d4RcumiYN9EzusZVOFymJHMOZbcg/edit?usp=sharing . I'm updating my nav designs based on meeting with Becca about IA and nav function during meeting I missed while sick.

[2018-03-23 22:17] kristinashu commented on #1138
Still working on the design but here is a WIP list of things that would need to be done to implement [these designs](https://redpen.io/p/mz472b7821ed66aed4), in order of logic/priority:

**1. Network Leaders**
- remove entire section (title, images, text, button)

**2. Email Signup**
- remove "Get Connected" title
- background image is full width and reduced height
- remove icon
- add to the botto

[2018-03-23 22:57] gvn commented on #1191
- Capped at 6 items since that's what I'm seeing in the design.
- Switched over to a general search query instead of a tag based query. We should probably file follow-on tickets to move back to tags and refactor the API for multi-tag searches.
- Not sure how long this will take to land on prod...that will depend on how long reviews take.

The target markup that will go into Mezzanine pages once th

[2018-03-23 23:52] acabunoc commented on #1191
@gvn please show all projects with the tag!

[2018-03-26 00:03] alanmoo opened #1219 "Homepage doesn't repeat background hero graphic in Safari"
Safari 11.0.2 (Mac OS):

![screen shot 2018-03-25 at 8 03 10 pm](https://user-images.githubusercontent.com/1682681/37881527-968c5ba0-3067-11e8-9973-f71f37c3895d.png)

Fix incoming...

[2018-03-26 16:12] alanmoo opened #1222 "Create one more fake data campaign page"
We need a campaign page in review apps that is a standalone petition. (Petition, with no sub-pages. Like https://foundation.mozilla.org/campaigns/facebook/)

[2018-03-26 19:04] #1219 closed

[2018-03-26 19:29] #1204 closed

[2018-03-26 19:50] gvn commented on #1191
Ok, this should work now for pages on prod or staging. Just add this snippet through the code editor in Mezzanine wherever you want the component:

`<div class="pulse-project-list" for="mozsprint+2018"></div>`

(FYI: "mozsprint+2018" isn't returning any results right now, but just "mozsprint" will.)

[2018-03-26 19:56] acabunoc commented on #1191
I'll be approved a few of the submission later today -- test data coming soon!

[2018-03-26 21:24] vojtechsedlak commented on #1209
Indeed, the main point is to emphasize that they need to confirm their subscription. Thanks!

[2018-03-26 21:27] taisdesouzalessa commented on #1215
Here are the comps and Filter behaviors. I have 2 options for that:

OPTION 1:
**Gif Files** - I made some Gif because they are easy to walkthrough:
[Gif (adding filters - DESKTOP)](https://drive.google.com/open?id=1w13fEz9Tvlr2VsWUmBEeJYx2Sn264Tn2)
[Gif (deleting filter - DESKTOP) ](https://drive.google.com/open?id=13lTRSjI81S5EstuO08Efr3eyQdwDxAzz)
[Gif (MOBILE)](https://drive.google.com/open?id

[2018-03-26 21:32] xmatthewx commented on #1191
This is amazing! So powerful and simple. Thanks @gvn

Below is a screenshot of a [draft page you can view on production](https://foundation.mozilla.org/opportunity/iot-projects/) (requires site login).

A few things we should fix:
 - [ ] reverse order of results. currently displays oldest items first.
 - [ ] increase spacing between rows. they currently mash together.
 - [ ] add fallback for missi

[2018-03-26 21:41] xmatthewx commented on #1215
Thanks @taisdesouzalessa. I'd like to team up on this, sort through the ux and technical challenges.  Let's find some time to whiteboard together.

[2018-03-26 21:51] kristinashu commented on #1191
@xmatthewx can we do these as a followup ticket? This is going out today and I believe all the Global Sprint projects will have an image and will all be published at the same time.

I see `increase spacing between rows. they currently mash together` as important but feel the others are slightly less pressing.

[2018-03-26 21:51] alanmoo commented on #1191
I'll update the API to return results in reverse order by default

[2018-03-26 21:55] sabrinang commented on #1215
@taisdesouzalessa
I think Opt 2 was more obvious multiple filters could be made and it may be more commonly experienced (like on shopping sites etc.) I think for Opt 1 it wasn’t immediately obvious multiple could be chosen and I was wondering what would appear in the dropbox itself when 2+ filters are selected? The gifs are great 👍

[2018-03-26 22:08] xmatthewx commented on #1191
Yep, yep. This is all live on production already too. So, it can be added to the page now.

[2018-03-26 22:10] taisdesouzalessa commented on #1215
adding @natalieworth's feedback from Slack:

[2018-03-26 22:12] kristinashu opened #1223 "QA Updates for Pulling Pulse Projects into CMS pages"
Based on - Pull Pulse Projects for Global Sprint #1191

A few things we should fix:
 - [x] reverse order of results. currently displays oldest items first. (confirmed fixed by API patch). Note: Global Sprint wants oldest first, but this should not be the default behavior.
 - [x] increase spacing between rows. they currently mash together.
 - [x] add fallback for missing thumbs. ideally [gradient u

[2018-03-26 22:14] kristinashu commented on #1191
Cool cool, I've opened a ticket https://github.com/mozilla/foundation.mozilla.org/issues/1223

The Div class has been added it to the [site](https://foundation.mozilla.org/opportunity/global-sprint/2018-projects/), just can't tell because projects with that hashtag haven't been published yet.

[2018-03-26 23:29] gvn commented on #1191
Since we have a new QA ticket I'm going to close this one...

[2018-03-26 23:29] #1191 closed

[2018-03-27 03:27] kristinashu commented on #1215
I like the simplicity of Option 1. Option 2 feels like it would be better if there were lots of possible items to filter by, but seems overkill for us. I also like how both options show the number of results next to the name.

For comparison, it would be nice to see a non-dropdown version of filtering. Because there are two fields, dropdowns might be our only option here but if we can [avoid them]

[2018-03-27 09:29] patjouk opened #1224 "fetch json script only work on https"
If you use `localhost\test.example.com` as `PULSE_API_DOMAIN` and do a `npm run build`, the [fetch json script](https://github.com/mozilla/foundation.mozilla.org/blob/master/scripts/fetch-json.js#L23-L31) fails:

Foundation server's logs:

[code]

Pulse API server's logs:

[code]

[2018-03-27 14:06] beccaklam commented on #1215
@kristinashu nice article!
@taisdesouzalessa I agree with the feedback given so far that option #1 is good if the user can only select one filter at a time and option #2 is good if we can select multiple. I also agree with Kristina that it would be good to explore another input form besides dropdown menu (i.e. one that shows all the filter options straight away -- just to see what that would be li

[2018-03-27 15:47] acabunoc commented on #1223
Hello! @zee-moz and I have discussed this a bit and we would like the oldest item displayed first (otherwise we see the last minute rushed projects at the top during the sprint).

[2018-03-27 15:52] kristinashu commented on #1223
Ok Abby! @gvn @alanmoo ^

[2018-03-27 16:32] taisdesouzalessa commented on #1215
Yay! Thank you so much for all this good feedback, friends :). @kristinashu nice article! Bookmarking it.

[2018-03-27 18:10] mmmavis commented on #1215
Hey @taisdesouzalessa ,

Thanks for the gifs. They were super helpful!

As what I mentioned to you yesterday on Slack I found option 2 less intuitive as "tags" usually imply we can allow multiple tags at the same time -- in this case we don't.

[2018-03-27 18:19] taisdesouzalessa commented on #1215
@xmatthewx and I discussed this Filter and we will go with a very simple filter by now (just Year). We will probably use more complex filtering site wide in the future so the discussions we had here are super valid for when we work on it. Thanks for the feedback, team!

[2018-03-27 20:08] amirad commented on #1203
These look great! Thanks Nat. @JairusKhan have a look!

Would love finalized png and jpegs of the images, as well as the google versions. The images in google docs look funny to me. Is there a way to do a simple format in a slide or something? The point of doing them in google files is so that people can update info on them quickly and remix. Is there a way we can make it a slide or editable image

[2018-03-27 21:07] taisdesouzalessa opened #1225 "Wagtail Design Help"
### Context:
It would be nice for the design team to get to know Wagtail by building things with it. Gavin suggested we reached out to Pomax and see if he needs help moving pages from Mezzanine to Wagtail - so we can learn by using real projects.

[UPDATED Google Doc here](https://docs.google.com/document/d/1Rbbkh4x5hnY6TgJiWJXiCJF0MzD-cb6FR6fQI9cWlK0/edit?usp=sharing)

~~@Pomax mentioned he will

[2018-03-28 00:26] taisdesouzalessa commented on #1215
Here are the options with just the year:

### **With Dropdown**
![filter-opt3](https://user-images.githubusercontent.com/22157921/38001453-c0a42050-31e1-11e8-8069-153e49ac95eb.gif)
[InVision (DESKTOP) - interactive](https://mozilla.invisionapp.com/share/BAGJFYP3CN5#/287806803_OPT3-Step1-V3-FellowshipsUI_-_Fellows_Directory_Dropdown_Closed_Copy)
[InVision (MOBILE) - one screen only](https://mozilla

[2018-03-28 15:36] xmatthewx commented on #1215
Hmmm. Interesting.
 - I can see the advantages of option without drop-down. Glad to pursue that, change it later only if it proves necessary.
 - I definitely like not having 'filter' as a label
 - Can we try a treatment without greybox as background? I am not opposed, but I've always felt it feels drab here and behind the Join CTA. This is not critical if there isn't an easy alternative.

[2018-03-28 15:51] cadecairos commented on #937
It should be resolved once we stop relying on a statically built frontend that's served via whitenoise.

[2018-03-28 19:56] zee-moz commented on #1223
@kristinashu is this ready to go yet? I'd like to start promoting tomorrow!

[2018-03-28 20:36] kristinashu commented on #1223
@zee-moz yes! It's here https://foundation.mozilla.org/opportunity/global-sprint/2018-projects/

@acabunoc looks like there are only 3 projects showing up, should there be more?

[2018-03-28 20:36] alanmoo commented on #1223
The page is still in draft mode- see the banner at the top.

[2018-03-28 20:57] kristinashu commented on #1223
Sorry @zee-moz, was that what you were asking? Yeah, whenever you are ready to launch registration, just make sure you update the Register and Projects pages from Draft to Published in the CMS.

<img width="650" alt="screen_shot_2018-03-26_at_4 34 05_pm" src="https://user-images.githubusercontent.com/1068783/38055842-b2603b6a-328f-11e8-90d4-08eef01eca26.png">

[2018-03-28 20:58] acabunoc commented on #1223
Yes, only 3 right now! I originally went and approved all the project @zee-moz listed for the temp page, but then their coaches started reviewing and I thought they should be the ones to approve the listing.

Anyways, coaches have started so more should be coming!

[2018-03-28 21:07] kristinashu commented on #1223
Ok cool! Zannah thought there was a bug and that's why so few projects were showing up.

She gave me to go ahead to publish the Register page but will hold off on Projects page till tomorrow.

[2018-03-28 21:32] kristinashu commented on #1225
I've update the [doc link](https://docs.google.com/document/d/1Rbbkh4x5hnY6TgJiWJXiCJF0MzD-cb6FR6fQI9cWlK0/edit#heading=h.l1gy3apa6i3k) above to Pomax's.

It would be great if everyone could port over one set of pages so they can become familiar with Wagtail. Just add your name in the doc and list any problems you may come across.

[2018-03-28 21:58] annmarie123 opened #1228 "[Fellowship Mini Site] Make deadline for Application significantly more prominent"
In order to better promote the fellows application can we:

- have the banner from the bottom of the main page also put on the top of the "Apply to be a Fellows" page? - Or just have the Apply button + deadline at the top of the page if easier.
- Make the deadline more prominent instead of small grayscale type at the bottom of the page of the apply page.
-Make a note that we are accepting applicat

[2018-03-28 23:55] taisdesouzalessa commented on #1228
Hey team!
I applied the feedback on the site, together with other issue we discussed: the addition of links that will link to a FAQ page that will be built in the CMS by the Fellowship team. I have 2 options:

### Option 1
I would recommend we keep only 1 button on the "Apply to be a Fellow" page. The initial reason we built this intermediate page (instead of taxing users straight to Fluxx) was to

[2018-03-29 17:10] kristinashu commented on #1138
cc @gvn @mmmavis

[2018-03-29 17:41] xmatthewx commented on #1228
If I'm reading this all correctly, we have the changes to implement. I mixed in a few opinions of my own.

## 1) update fellowship overview page

 - [ ] add new date+button. (I love the style)
 - [ ] place this higher on the page
      - Tais suggests it goes below 4 paragraphs with icons.
      - I suggest we place the call out much higher, after the 2nd paragraph. People need to know the deadlin

[2018-03-29 19:20] KevZawacki opened #1229 "[Fellowship site] Slight copy update to main page"
Hi @xmatthewx

The Fellowship team requested a slight update to copy on https://foundation.mozilla.org/fellowships/

You can find the edits here (updates are marked as suggestions): https://docs.google.com/document/d/1Nh2c43BX0p39aANqDaY0x54lX9t7dhBUUTA7cChTxv0/edit?ts=5abd2a10#heading=h.310i9jnmne9o

Possible to implement? Let me know if I can clarify anything.

[2018-03-29 23:07] natalieworth commented on #1203
Thanks, @amirad @JairusKhan
I have exported the final files to the google drive [here](https://drive.google.com/drive/u/1/folders/0B2irLVDJivhLY3JXRE9HYVpTNmM)
postcards (print ready): https://drive.google.com/drive/u/1/folders/1FT0ZMKr6A6YwJzVMV2NBBaBAIPPagpSw
images: https://drive.google.com/drive/u/1/folders/1j1KbwfqydJYZ_dGNJlpvgDb2xk2kvfce
flyer: https://drive.google.com/drive/u/1/folders/1MF

[2018-03-30 14:28] amirad commented on #1203
THANK YOU. This is all so wonderfully organized and helpful. These will do perfect. I am so excited to use them and share them with the network.
Also, that new image with the issue names is rad. Great addition!

@JairusKhan can you pull these for printing and add them to the wiki?

[2018-03-30 14:30] amirad commented on #1203
Sorry, couple things. Do you mind if we use your drive links to share these out? And if so can you close them up so people can't edit directly in them? We want people to make a copy so they don't alter the original. We can also move these over to our own links, drives or docs if that is easier!!!

[2018-03-30 16:21] xmatthewx commented on #1203
@amirad - these should now be just viewable for others, editable by us and you and @JairusKhan. test an individual file or two to confirm, since I tried to changes these in bulk.

[2018-03-30 18:44] amirad commented on #1203
Thanks Matthew!

[2018-03-30 21:32] zee-moz commented on #1223
@acabunoc I approved all the mentored projects I could find that had the correct mozsprint and 2018 tags, but we still only have 8 projects appearing. There are more to approve but they need the correct tags! Can you change in the Pulse backend so we can get more projects showing up before we turn the project page on, on Monday?

Random design suggestion: do we have any mechanism to vary the place

[2018-04-02 16:56] #1206 closed

[2018-04-02 16:57] gvn commented on #685
I feel like this is basically done...

[2018-04-02 16:57] #685 closed

[2018-04-02 18:09] kristinashu opened #1234 "Build updated home page"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1138

### High-level list of things to implement [these designs](https://redpen.io/p/mz472b7821ed66aed4):

**Nav**
- gradient bar background
- remove Signup button (maybe replace with [Donate](http://donate.mozilla.org/))

**Banner**
- remove background
- reduced width of text
- add CTA button
- option for in body text lin

[2018-04-02 18:10] kristinashu commented on #1138
Opened implementation ticket - Build updated home page #1234

[2018-04-02 18:10] #1138 closed

[2018-04-02 18:13] kristinashu commented on #1234
I believe this is the only asset you need (other ones can use images from current news, Get Involved featured, pulled from Pulse):
![aadhaar](https://user-images.githubusercontent.com/1068783/38208677-bc47aa70-3666-11e8-8497-093193a7964a.jpg)

[2018-04-02 18:36] Pomax opened #1236 "See if we can customize/replace the wagtail styleguide with our own"
Currently there is a styleguide app available in wagtail that can be access when DEBUG=True, on http://localhost:8000/cms/styleguide/ locally, and it would be pretty great if we could replace that, or modify it, to be our styleguide instead.

[2018-04-02 22:02] Pomax opened #1243 "add CSS for p:empty (to show empty paragraphs in wagtail CMS content)"
There is no `p:empty` rule in our CSS at the moment, which means that empty paragraphs will show up in the wagtail rich text editor but then "disappear" on the actual published page. Wagtail content gets "classed" to `.cms` already so we could have something to the effect of
[code]

/cc @gvn

[2018-04-03 15:49] xmatthewx opened #1245 "Design page feature callout component"
## summary

Our content-rich pages could benefit from a callout box to hold an image and text.

 - A first use case of this: as we simplify nav and header, we'll need to move the fellow featured in the header of the fellowship page.
 - This component could be similar to a card from the home page: image with whitebox of text overlaps from below. It could float to the right, break across the main co

[2018-04-03 15:53] xmatthewx opened #1246 "Design potential lead features"
As we ramp up traffic, and run lead features at the top of the site's homepage, we will likely want a few different templates to make the most of that space.

Think about current and future features for this space (facebook petition, year end fundraising, mozfest, IH report). How can we push this space to the max? Bold images. Full bleed. Inline form field. Fundraising amount button.

[2018-04-03 15:59] xmatthewx opened #1247 "Fix nav overlay icons"
Something funky is happening with our icons on the popover nav. I see it on android chrome and desktop firefox. See screenshots below.

@alanmoo to triage

## android chrome

<img width="471" alt="image" src="https://user-images.githubusercontent.com/53411/38260651-32e1e4f0-3736-11e8-9928-ddb6640144b5.png">

## firefox nightly desktop

<img width="626" alt="image" src="https://user-images.githubus

[2018-04-03 16:53] kristinashu commented on #1247
Also in https://github.com/mozilla/foundation.mozilla.org/issues/1186

[2018-04-03 19:44] xmatthewx opened #1250 "Add Donate button to header"
As we update nav we will remove the signup button. Let's add a donate button in its place.

Requirements
 - [x] design button
 - [x] add button
 - [ ] ship it with analytics event wired up
 - [ ] bonus: add analytics to footer donate link

### analytics

  | Category | Action | Label
-- | -- | -- | --
Header | donate | donate button tap | [page title] header
Footer | donate | donate button tap | [

[2018-04-03 19:58] taisdesouzalessa commented on #1215
@xmatthewx I tried a treatment without the background and it seems it is floating there. Both Mavis and I agree that the background helps to anchor the content. I am leaving it for now and once we have more filter options we can reevaluate this issue. Does that work for you?

[2018-04-03 20:28] taisdesouzalessa commented on #1214
Solved! Directory is much faster now! Closing this issue, thanks, team :)

[2018-04-03 20:28] #1214 closed

[2018-04-03 21:06] sabrinang opened #1251 "Customize Wagtail Admin Interface Branding"
Referencing http://docs.wagtail.io/en/v2.0/advanced_topics/customisation/admin_templates.html we can customize the logo, favicon, 404 image and welcome message.

It isn't documented how to change colour or typography but @Pomax mentioned it is possible to override their CSS file to do so.

[2018-04-03 21:07] sabrinang commented on #1251
Here is a redpen with some variations on custom options: https://redpen.io/p/cp8cef7545acba300b

[2018-04-03 21:13] xmatthewx commented on #1215
sure thing. this is definitely not a blocker.

i like your style used for application date CTA. maybe there's some variation on that to anchor it with lines. but again, let's ship this!!! we can always change the style later.

[2018-04-03 22:26] xmatthewx commented on #1215
❗️ 👍 💯 💥 🛥

[2018-04-03 22:37] sabrinang commented on #1251
To keep things simple we can keep the wagtail teal and use the logo. If we can change the typeface headings to Zilla Slab that would be great but if it becomes an issue we can leave it as Open Sans.
![mozilla_wagtail-3 2x](https://user-images.githubusercontent.com/2492510/38279309-7e69212c-3754-11e8-9326-d297615c2600.jpg)
![mozilla_wagtail-404-2 2x](https://user-images.githubusercontent.com/249251

[2018-04-03 23:51] mmmavis commented on #1215
This is now on [staging](https://foundation.mofostaging.net/fellowships/directory/). Will go live in the next production push (tomorrow most likely).

[2018-04-04 16:19] #1229 closed

[2018-04-04 16:38] vojtechsedlak commented on #1250
It would be great if we could add the following to the URL, to help with tracking on the donate site: ?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=header

[2018-04-04 16:53] kristinashu commented on #1250
Also from Vojtech:
The footer one should include ?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=footer

[2018-04-04 17:53] mmmavis opened #1260 "Delete "upcoming.jsx" if it doesn't get used by July 1"
`source/js/components/upcoming/upcoming.jsx` is not being used anywhere (related: PR https://github.com/mozilla/foundation.mozilla.org/pull/1256). We want to keep this file in the repo for now in case we decide to use it again in the near future. This ticket is just a reminder for us to delete that file if it doesn't get used again by July 1.

[2018-04-04 17:54] gvn commented on #1260
![0397c08cc2cabf8d6e1f1402f00a7bc3](https://user-images.githubusercontent.com/206379/38324983-99789a2c-37f6-11e8-9a7b-11e83820f3d7.gif)

[2018-04-04 17:55] mmmavis commented on #1260
😂

[2018-04-04 19:24] alanmoo opened #1263 "Remove "enable wagtail" flag"
We should always include it now.

[2018-04-04 20:09] sabrinang opened #1266 "Wagtail User Documentation"
The guide will be located here: https://foundation.mozilla.org/wagtail/docs/how-do-i-wagtail/

This will be where we can work on documenting useful notes, tips and tricks for people using Wagtail.

@Pomax @xmatthewx

[2018-04-04 21:15] #710 closed

[2018-04-04 23:00] #1250 closed

[2018-04-04 23:07] Pomax opened #1271 "port foundation campaigns/opportunities"
The CMS is landed enough on foundation.moz.org at this point to do a serious content-port pass

#### Opportunities
- [x] Fellowships FAQ
- [x] Leadership Training
- [x] Internet Health Report
- [x] Network Feedback - DRAFT ON MEZZANINE
- [x] Network 50
- [x] Tech Policy Fellows
  - [x] Advisory Board
- [x] Mozilla Information Trust Initiative
  - [x] Manifestions and Visualisation Challenge
- [x]

[2018-04-04 23:19] kristinashu opened #1272 "Build new email signup component"
Based on - Build updated home page #1234

We're updating the email signup on the home page to look like [this comp](https://redpen.io/fnbf9b42fd34a2cf61).

We would like to streamline our signup so we only have one component. But looking at the [style guide](https://foundation.mozilla.org/style-guide/), there are several different components.

Can we streamline these to just the one new component?

[2018-04-04 23:25] kristinashu commented on #1188
Nice! Colors have been added https://foundation.mozilla.org/style-guide/

@mmmavis should I open a new ticket for fixing hard coded colors?

[2018-04-04 23:29] mmmavis commented on #1188
@kristinashu it's okay we can just use this ticket. Can you update colour names in the design file so they are the same as what we have on our style guide page?

[2018-04-04 23:35] Pomax opened #1273 "Figure out where to put people/highlights/news (menu vs. snippets)"
These three models are currently "real models" with sidebar menu entries that offers a different UI compared to the "snippet -> [that model]" UI.

Where do we want to surface these data models?

/cc @alanmoo

[2018-04-04 23:38] Pomax commented on #1271
# tech policy fellows and advisory board

images cannot be sized properly in the rich text editor, so some images ARE HUGE while others ᵃʳᵉ ᵗᶦᶰʸ

[2018-04-04 23:43] #1251 closed

[2018-04-04 23:51] Pomax commented on #1271
# Mozilla's Open IoT Studio

The heading looks very off

[2018-04-04 23:58] Pomax commented on #1271
# Global Sprint

partner logo is too large (image size issue)

[2018-04-05 13:50] jessevondoom commented on #1272
I think your list looks right and we should go ahead and make it a single component. Good call!

[2018-04-05 16:36] #1217 closed

[2018-04-05 16:38] kristinashu commented on #1186
Social icons cut off can be done here https://github.com/mozilla/foundation.mozilla.org/issues/1247

[2018-04-05 17:09] #1187 closed

[2018-04-05 18:26] Pomax opened #1277 "add a template block for meta tags for wagtail to hook into"
In order for wagtail to manage meta tags in the header, it would be good to have the following code in the base-compiled.html file, so that wagtail templates can assign content to that:

[code]

[2018-04-05 19:00] kristinashu opened #1279 "Update homepage lead banner content"
### Comp:
<img width="898" alt="image" src="https://user-images.githubusercontent.com/1068783/38386047-6e7ff4d2-38c8-11e8-96af-66ceb4446df2.png">

### Headline: (font size 28px | line height 34px)
Dear Facebook: Stop cross site tracking by default

### Body:
You might have seen a Facebook ‘like’ button on websites outside of Facebook. What you may not know is that this button allows Facebook to tr

[2018-04-05 19:13] #1277 closed

[2018-04-05 20:37] #1272 closed

[2018-04-05 20:37] #1279 closed

[2018-04-05 21:24] kristinashu opened #1284 "Nav naming and ordering"
### Nave updates:
- Remove "Project" page
- Rename "Get Involved" to "Initiatives"
- Rename "Upcoming" to "Participate"
- Rename "About" to "About Us"
- Add "Internet Health" and link to https://internethealthreport.org/ (open in new tab)

### Reorder to:
- Initiatives
- Participate
- Internet Health
- People
- About Us

[2018-04-05 22:22] kristinashu opened #1288 "Interim Nav and Banner updates"
Once https://github.com/mozilla/foundation.mozilla.org/issues/1284 is done we can to this next round of updates.

[Desktop comp](https://mozilla.invisionapp.com/share/H8GN254Z4WE#/289285656_Home_Banner
)
[Mobile comp](https://mozilla.invisionapp.com/share/P2GNRUEXA8G#/screens/289534452_Mobile_Nav_Closed)

### P1:
- remove `body-large` banner text on all pages
- reduce height of gradient background

[2018-04-06 16:54] #1263 closed

[2018-04-06 19:26] ScottDowne opened #1294 "put the template <title> inside a block for wagtail overriding"
This is about to land: https://github.com/mozilla/foundation.mozilla.org/pull/1281

Which puts some of the meta data into the CMS (mostly just share image)

This makes the `<title>`,  which is defined in pug, not quite match up with the title coming from the CMS.

We should update it so these are the same, and one possible solution is move the `<title>` into a block, and allow the modular_page to

[2018-04-06 19:29] Pomax commented on #1294
We should be able to do this by making the pug template generate a `<title>{% block pageTitle %}default content{% endblock %}</title>`

[2018-04-06 19:34] mmmavis commented on #1247
Fixed!

[2018-04-06 19:34] #1247 closed

[2018-04-06 19:34] mmmavis commented on #1186
Done!

[2018-04-06 19:34] #1186 closed

[2018-04-06 19:58] #1294 closed

[2018-04-06 20:59] kristinashu commented on #1140
@natalieworth is doing design https://redpen.io/p/mz472b7821ed66aed4

I've added content to Wagtail but there's a lot of styling that needs to be done first.

cc @alanmoo

[2018-04-06 21:08] taisdesouzalessa opened #1297 "Foundation Site: Storytelling and Narratives"
Ticked based on meeting with Sydette on April 6th, 2018.

**Think about ways to create narrative on the site.**

If users are in a story, what are the different ways to add tracks for people to navigate on the site? Once they do an action on the site, how can we display other actions that can be taken? What are they ways to navigate site and content? For instance: signing up and learning more abou

[2018-04-06 21:16] kristinashu opened #1298 "Temp IH landing page"
Temporary design for page is here https://redpen.io/xz40f88c15d74a27f8

Content is from [here](https://docs.google.com/document/d/1zhOwOET0yH3xQC83tcKmlwGT9s2lLv05wdUqRJsm5MI/edit?usp=sharing).

Will add as a CMS page once Wagtail is ready.

cc @alanmoo

[2018-04-06 21:18] sabrinang commented on #1266
@xmatthewx The user doc on https://foundation.mozilla.org/wagtail/docs/how-do-i-wagtail/ is ready for review or feedback.

- sections are split up as child pages for easy navigation
- screenshots of UI are incorporated for reference
- sample page is used to demo the body content in context

[2018-04-06 21:19] kristinashu opened #1299 "Mobile styling on home page"
Home page is build  #1234

Still needs some finessing on mobile.

Based on the comp https://redpen.io/eabf4496610a915a92

[2018-04-06 21:24] kristinashu commented on #1155
I think this is done, we're going with https://redpen.io/tz04b23ee0dfa52dda

[2018-04-06 21:24] #1155 closed

[2018-04-06 21:26] kristinashu commented on #1156
Interim design is being built in https://github.com/mozilla/foundation.mozilla.org/issues/1288 but we're still exploring designs for the future design.

[2018-04-06 21:39] kristinashu commented on #1297
Adding notes from something Jesse mentioned which feels related:
I think two of our biggest problems might be solutions for each other. There's the future nav design and the narrative context. Given that the nav is ever present just like the idea of an Internet Health context, I think there are ways to give wayfinding tools for that IH context in the nav, and use it to help people see the connecti

[2018-04-06 21:58] kristinashu commented on #1083
I'm going to close this since Pomax will be doing this in Wagtail.

[2018-04-06 21:58] #1083 closed

[2018-04-06 22:03] kristinashu commented on #1021
I'm going to close this since Pomax will be fixing a lot of it in Wagtail. If there are still issues, then we can open up small tickets.

[2018-04-06 22:03] #1021 closed

[2018-04-06 22:16] kristinashu commented on #1284
w00t

[2018-04-06 22:16] #1284 closed

[2018-04-06 22:40] kristinashu commented on #1246
@beccaklam made these lovely designs https://redpen.io/p/cs7e31adca809cb337

Becca, can you please give everyone upload powers to that redpen so we can all add our designs to the same place?

[2018-04-06 22:44] Pomax opened #1301 "Sort out the last wagtail blockers"
Full list including hard to/impossible to fix issues over on https://docs.google.com/document/d/1Rbbkh4x5hnY6TgJiWJXiCJF0MzD-cb6FR6fQI9cWlK0/edit

- switch over image field to allow proper image sizing
- add SCSS to make the headings in `.cms .rich-text` use the correct styling
- make page content a little less wide

[2018-04-06 22:46] kristinashu commented on #1192
Let's run with 8 out of the 12 columns for all future pages.

About page example https://redpen.io/eneef1e2b483960503 and IR page example https://redpen.io/xz40f88c15d74a27f8

[2018-04-06 22:46] #1192 closed

[2018-04-06 23:10] taisdesouzalessa opened #1302 "[QA] Updated typographic styles"
Related to #1208 and implementation ticket #1280.

The QA bullet point list is in this doc:
https://docs.google.com/document/d/14RHIsdXGdpbjtINrmWbEN-96Lxt_1LBTd3VTqSc7Y64/edit?usp=sharing

Please let me know if you prefer the list embedded here.

cc: @mmmavis

[2018-04-06 23:23] taisdesouzalessa opened #1304 "News Page Updates"
### Issue:
Since we made some changes in the "Latest News" section in our Foundation site, we also need to update the "News" page to reflect that.

Here is a list of suggested changes:
- [x] the “mb-3” should become “mb2”, so it matches the style of the home page.
<img width="629" alt="image" src="https://user-images.githubusercontent.com/22157921/38448030-2e026270-39b6-11e8-9519-05692d319aff.png"

[2018-04-06 23:29] taisdesouzalessa commented on #86
Closing this ticket since we have a redesigned site now. We can rethink about animations on the new context and open a ticket by then.

[2018-04-06 23:29] #86 closed

[2018-04-09 13:39] xmatthewx commented on #1246
This will be great. Next time we have an urgent need for a quick feature, we'll have a library of options to help choose a direction.

[2018-04-09 14:16] patjouk commented on #966
This issue seems to be fixed (cf #1231) . I'm closing it :)

[2018-04-09 14:16] #966 closed

[2018-04-09 15:08] beccaklam commented on #1297
@taisdesouzalessa Can you invite me to collaborate on the board? Can't seem to add to it?

[2018-04-09 16:03] taisdesouzalessa commented on #1297
@beccaklam done, let me know if it works! Sorry for that :).

[2018-04-10 13:38] alanmoo opened #1308 "Create fake data for Wagtail pages"
As we're building out the site in Wagtail, we should be able to spin up a build of the site that resembles the production structure somewhat easily.

Can the `load_fake_data` script be augmented to support building a fake homepage and choosing options in the fields for it?

Secondarily, can `load_fake_data` generate content for a page with StreamFields?

Once those two items are in place, develope

[2018-04-10 15:39] kristinashu commented on #1208
This is [done](https://foundation.mozilla.org/style-guide/)! It's amazing! I'm so happy about it! Thank you so much @mmmavis and @taisdesouzalessa!

[2018-04-10 15:39] #1208 closed

[2018-04-10 16:04] kristinashu commented on #1212
@alanmoo can you update the lead feature banner?

### Copy:

2018 Internet Health Report

How healthy is the Internet? You may know other reports that look at industry trends and technologies. The Internet Health Report is about the human experience of the Internet - an independent, open source compilation of data, research and stories that show how the Internet evolving.

Link: http://mzl.la/ihr

[2018-04-10 18:01] kristinashu commented on #1156
@natalieworth @beccaklam please keep exploring nav/banner options! Jesse is keen to have a white nav (like mozilla.org) and probably a different style of Donate button.

He also shared a nav he did previously https://cashmusic.org/ It's a little odd how it has different functionality depending on if you're at the top of the page or scrolled down but would be nice to have one iteration with a bette

[2018-04-10 20:28] cadecairos opened #1310 "CSP middleware is not working"
I checked production and on localhost, and there's no CSP headers getting generated. I'll investigate.

[2018-04-10 20:35] beccaklam opened #1311 "Implement Campaign Landing Page"
### Checklist:
- [x] Desktop: Form is sticky and always present
- [x] Mobile: CTA button is always present at bottom
- [x] Form filed inputs are similar to http://bradfrost.com/blog/post/float-label-pattern/
- [x] Include form error states [[bug](https://github.com/mozilla/foundation.mozilla.org/issues/1311#issuecomment-387580009)]
- [x] Form title (ex "Add your name", Empty form field text, and c

[2018-04-10 21:11] kristinashu opened #1313 "Pulse embedded UI improvements"
When embedding the Pulse stream on our home page or CMS pages, we would like to show more projects and therefor smaller thumbnails.

At wide widths let's show 4 projects instead of 3 across.

<img width="1004" alt="screen shot 2018-04-10 at 1 14 45 pm" src="https://user-images.githubusercontent.com/1068783/38583697-b05292b2-3cc8-11e8-9095-b9805a23d83a.png">

At narrow widths let's show 2 projects

[2018-04-11 03:10] alanmoo opened #1314 "Fix class for ghost buttons"
Seems like the markup is emitting `btn-outline-ghost` but the CSS class name is `btn-ghost`.

@Pomax @gvn

[2018-04-11 03:29] alanmoo opened #1315 "Confirm Heading Streamfield element markup"
Take a look at https://foundation.mozilla.org/wagtail/opportunity/global-sprint/tools-working-open/, the in-progress page for Wagtail. It uses the "heading" component a bunch, and it's just too big. I'm guessing text like "Collaboration tools for the sprint" should be `h3` elements, @taisdesouzalessa can you confirm?

[2018-04-11 14:01] xmatthewx commented on #1212
This looks done to me. Closing. Thanks all!!

[2018-04-11 14:01] #1212 closed

[2018-04-11 16:38] taisdesouzalessa commented on #1315
Definitely @alanmoo, good catch :) - h3 is the way to go so hierarchy of content is preserved (h1 makes the secondary titles bigger than the main title). Screenshot for h3.

<img width="991" alt="image" src="https://user-images.githubusercontent.com/22157921/38630441-cb2479f4-3d6b-11e8-8d47-2ade8e02b2a7.png">

[2018-04-11 16:57] alanmoo commented on #1315
So should we be using a paragraph element heading and leaving the "heading" component at that font, or change it so that all "Heading" streamfield components are h3?

[2018-04-11 17:17] Pomax opened #1316 "update wagtail Petition class"
it has diverged from what's in use in Mezzanine at the moment, and needs the twitter/facebook/email share options.

[2018-04-11 17:20] Pomax opened #1317 "Petitions don't seem wide enough on aadhaar::takeaction"
probably the wrong bootstrap class getting applied in the wagtail template for the petition when the page is not a singleton. (it looks like it's using half-width column instead of full-width)

[2018-04-11 17:30] taisdesouzalessa commented on #1315
Sorry, I think I misunderstood your question @alanmoo - I talked to @kristinashu and were wondering why we need the heading component if we can can have headings by using the paragraph tool (which provided more flexibility - from h2 to h5):

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/22157921/38632995-2aac8a0e-3d73-11e8-97a5-3ecd53bf1198.png">

Please let me know

[2018-04-11 18:02] alanmoo commented on #1315
Theoretical data clarity, but honestly I'd be fine ditching it and putting `h1` back in the paragraph editor. @Pomax @gvn any thoughts?

[2018-04-11 18:58] alanmoo commented on #1315
Great, then this is CMS content that needs to be changed and not in the code, so I'm gonna close this.

[2018-04-11 18:58] #1315 closed

[2018-04-11 19:00] kristinashu commented on #1315
Oh I was thinking we remove the Heading block as an option completely. Avoid this problem in the future.

[2018-04-11 20:02] #1222 closed

[2018-04-11 21:54] xmatthewx opened #1318 "Deprecate and redirect old Internet Health page"
Google still points to our old IH landing page on the foundation site. Can we setup a redirect?

 1. [x] update content links  (done a couple weeks ago)
 1. [x] setup redirect
   - from: https://foundation.mozilla.org/opportunity/internet-health-report/
   - to: http://internethealthreport.org/
 2. [x] unpublish old page

@alanmoo @cadecairos

cc @kaodro

[2018-04-12 17:21] kristinashu opened #1321 "Update heading class names on primary wagtail pages"
This is a blocker for launch.

Need to update heading class names on primary wagtail pages.

Headings should match our [style guide](https://foundation.mozilla.org/style-guide/).

Example: wagtail looks like https://foundation.mozilla.org/wagtail/participate/
<img width="1205" alt="screen shot 2018-04-12 at 9 12 14 am" src="https://user-images.githubusercontent.com/1068783/38693158-f72caeac-3e3a-1

[2018-04-12 18:14] alanmoo commented on #1317
Is this wagtail or Mezzanine?

[2018-04-12 18:18] alanmoo commented on #1302
@taisdesouzalessa is this still relevant?

[2018-04-12 18:20] alanmoo opened #1322 "Wagtail homepage header text styling is incorrect"
The description text on the header of the homepage is using the wrong sizes- looks like it's due to some extra markup being added by Wagtail.

https://foundation.mozilla.org/
vs
https://foundation.mozilla.org/wagtail

My guess is we need to change `p` elements to inherit font sizes, though that might have global implications. In the interest of getting over to wagtail, maybe we should target that

[2018-04-12 19:30] kristinashu opened #1325 "Design QA of primary wagtail pages"
### Secondary nav
Currently https://foundation.mozilla.org/wagtail/about/
- space between banner and secondary nav items is too large
- add gradient divider bar
<img width="1091" alt="screen shot 2018-04-12 at 12 24 53 pm" src="https://user-images.githubusercontent.com/1068783/38699394-bbca2d96-3e4c-11e8-94aa-83cf5ae58ba6.png">

It should at least look like https://foundation.mozilla.org/fellowshi

[2018-04-12 19:33] kristinashu commented on #1325
cc @taisdesouzalessa

[2018-04-12 19:45] #1322 closed

[2018-04-12 19:54] alanmoo opened #1326 "Create "quote" streamfield component"
Like the one on the homepage, but so that we can insert it in a streamfield. This is a request per @jessevondoom before launching the about page.

[2018-04-12 19:58] alanmoo commented on #1325
Let's break these out into separate tickets, as it's hard to track what needs to be done in an issue like this.

[2018-04-12 19:59] alanmoo opened #1327 "Wagtail QA: Secondary Nav"
From @kristinashu  in #1325:

### Secondary nav
Currently https://foundation.mozilla.org/wagtail/about/
- space between banner and secondary nav items is too large
- add gradient divider bar
<img width="1091" alt="screen shot 2018-04-12 at 12 24 53 pm" src="https://user-images.githubusercontent.com/1068783/38699394-bbca2d96-3e4c-11e8-94aa-83cf5ae58ba6.png">

It should at least look like https://fo

[2018-04-12 19:59] alanmoo opened #1328 "Wagtail QA: Banner height"
From @kristinashu  in #1325

### Banner height
- Increase banner height by about 20px

[2018-04-12 20:00] alanmoo commented on #1328
We could do this, but that tall banner looks kind of weird on mobile devices, and it gets messy to try and shrink that conditionally. I'd strongly suggest we land on one size that works everywhere (and honestly I think what we currently have is that)

[2018-04-12 20:02] alanmoo opened #1329 "Wagtail QA: Heading Styles"
From @kristinashu  in #1325

- will [this](https://github.com/mozilla/foundation.mozilla.org/pull/1324#issuecomment-380906497
) fix the heading styles here too?

[2018-04-12 20:05] alanmoo opened #1330 "Wagtail QA: Leadership Grid"
From @kristinashu  in #1325

### Leadership grid
- Is there a reason why "Emeritus Board Members" looks different than "Management"? They're both 3 across.
<img width="712" alt="image" src="https://user-images.githubusercontent.com/1068783/38700009-8f09a73a-3e4e-11e8-9a0c-4cb47b3f49d4.png">

- Would be nicer if there was more padding around image like the comp https://redpen.io/ug4d381110a992b4de

[2018-04-12 20:06] kristinashu commented on #1330
I'll resize "Emeritus Board Members" images to fix that but other points are still true.

[2018-04-12 20:09] alanmoo commented on #1330
Sizes are fixable either in the image settings in the Wagtail Admin or by uploading a larger image.

We can increase the padding around these components, but you're never going to get flexbox items to perfectly align to the grid- the idea of flexbox is that it lays itself out. Looks like the margin needs to be updated to `mx-3` on these items

Yes, I spoke about that with Jesse and he wants to do

[2018-04-12 20:10] alanmoo commented on #1330
To close this ticket:

- [ ] Update figure component to use `mx-3` class instead of `mx-1`

[2018-04-12 20:11] alanmoo opened #1331 "Wagtail QA: Bullet points"
From @kristinashu  in #1325

- Spacing after bullet points should be the same or larger than before them
Screen cap from production looks confusing because bullets look grouped with content bellow, not above
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/1068783/38700407-ce8e518e-3e4f-11e8-8281-3eca8e79f76f.png">

[2018-04-12 20:11] #1325 closed

[2018-04-12 20:11] kristinashu commented on #1328
Mobile was designed to be much smaller https://github.com/mozilla/foundation.mozilla.org/issues/1288

<img width="997" alt="image" src="https://user-images.githubusercontent.com/1068783/38701548-0620200c-3e53-11e8-9a45-3b4788b9bc31.png">

[2018-04-12 20:12] alanmoo commented on #1329
@kristinashu Can you clarify? What other styles need fixing?

[2018-04-12 20:26] kristinashu commented on #1329
## For pages primary pages I can edit like About Us:

**In the editor for this page https://foundation.mozilla.org/wagtail/about/public-records/ I have selected H3**

<img width="392" alt="screen shot 2018-04-12 at 1 18 17 pm" src="https://user-images.githubusercontent.com/1068783/38701966-29f6e46a-3e54-11e8-9eac-18721f39ded4.png">

**The H3 ends up looking like this**

<img width="461" alt="scree

[2018-04-12 20:33] alanmoo commented on #1329
Ah. So we need to add the heading element selectors to the CSS where we've got the `.hx-heading` classes.

[2018-04-12 20:41] Pomax commented on #1331
The reason this is going wrong is because the structure her is:
[code]
and paragraphs have uneven margins. Our CSS sets this:
[code]
and so the real problem is the paragraph below the `ul` "glueing" itself to the content above it.

[2018-04-12 20:46] kristinashu commented on #1328
We can address this later

[2018-04-12 20:46] #1328 closed

[2018-04-12 20:59] Pomax commented on #1330
technical root cause for the disparaty is that the constrain sizes will size images down, but won't scale them up (they currently use `max-width` and `max-height`. The emeritus images are all smaller than 200x200 pixels and so are untouched in terms of sizing.

[2018-04-12 21:07] kristinashu commented on #1330
I've resized those images so it's look better now https://foundation.mozilla.org/wagtail/about/leadership/

[2018-04-12 21:19] kristinashu opened #1336 "Wagtail QA: copy width"
All copy heavy pages (i.e ones that aren't bespoke) should use 8 out of the 12 bootstrap columns.

Example: copy width on [Overview](https://foundation.mozilla.org/wagtail/about/), [Trademarks](https://foundation.mozilla.org/wagtail/about/trademarks/), [Public Records](https://foundation.mozilla.org/wagtail/about/public-records/), and any future pages that are paragraphs of copy should be narrower

[2018-04-12 21:28] Pomax commented on #1327
We can't put the `hr` quite where the current site wants it, because that would require putting it inside the cms-managed content section of the page, which we unfortunately have zero control over (it's fully wagtail-managed).

I've written a PR that puts it as close to the cms-content as possible, hopefully that's in line with the design enough?

![image](https://user-images.githubusercontent.com

[2018-04-12 21:35] kristinashu commented on #1327
Awesome! Yeah subnav text could be 1px font size small than the main nav but that can be done separately and later.

[2018-04-12 21:35] #1310 closed

[2018-04-12 22:46] kristinashu commented on #1311
### Comp
- starting with our initial "basic" template page https://redpen.io/gf9574a99f7765a29a

![red-pen-57207e7a-c287-4135-8c53-3fce523b51d7](https://user-images.githubusercontent.com/1068783/38707391-0ac31f16-3e66-11e8-811b-e59b9356d7cc.jpg)

### Existing components
- Use nav that is currently on production
- Callout above the CTA already exists https://foundation.mozilla.org/campaigns/equifax

[2018-04-13 00:05] alanmoo opened #1339 "Signup confirmation message bug"
We got an email:

Hi, I observed  <br/> tags together with the text on the confirmation
page(I attached a screenshot) after a user signs up for updates

[2018-04-13 13:26] #1331 closed

[2018-04-13 14:32] #1327 closed

[2018-04-13 14:51] #1314 closed

[2018-04-13 16:38] taisdesouzalessa commented on #1339
I guess this is the screenshot (`<br/>` tags):

<img width="1277" alt="image" src="https://user-images.githubusercontent.com/22157921/38746984-30e66a84-3efe-11e8-9cbf-a6178e80eba3.png">

[2018-04-13 17:00] #1329 closed

[2018-04-13 17:00] gvn commented on #1339
Did they happen to give us a URL?

[2018-04-13 17:25] taisdesouzalessa commented on #1339
To reproduce the screen above: 1. go to: https://foundation.mozilla.org/ - 2. fill in the box with your info / 3. You will then see the screenshot above.

[2018-04-13 18:00] kristinashu opened #1341 "[QA Wagtail] Icon and text padding"
Layout of icons for the new Internet Health primary page (in Draft mode) doesn't look right. When an icon is set to 100x100px then the text should move over to the left so it is closer to the icon.

Preview looks like:
<img width="1193" alt="screen shot 2018-04-13 at 10 59 12 am" src="https://user-images.githubusercontent.com/1068783/38750438-c9465d88-3f09-11e8-80b6-32b70f7f6510.png">

Should look

[2018-04-13 18:51] kristinashu opened #1344 "Heading styles broke"
Multiple headings are broken on production

https://foundation.mozilla.org/initiatives/
https://foundation.mozilla.org/participate/
https://foundation.mozilla.org/people/

<img width="1142" alt="image-1" src="https://user-images.githubusercontent.com/1068783/38752680-f3f556c2-3f10-11e8-81e9-28b5ab1f89b5.png">
<img width="295" alt="image" src="https://user-images.githubusercontent.com/1068783/38752

[2018-04-13 18:57] kristinashu opened #1345 "Design QA of primary Wagtail pages"
Designers will QA these pages. Will open individual tickets for each issue. Currently ignoring images on the homepage and the lines between highlights since there is a PR open for that.

- [x] http://foundation.mozilla.org/wagtail/
(Taís edit) Ticket filed: #1351
- [x] https://foundation.mozilla.org/wagtail/initiatives/
- [x] https://foundation.mozilla.org/wagtail/participate/
- [x] https://founda

[2018-04-13 19:10] kristinashu commented on #1344
Assigned to @gvn and @alanmoo but not sure who is doing this.

[2018-04-13 19:14] alanmoo commented on #1344
I've got this one

[2018-04-13 19:39] kristinashu commented on #1344
https://foundation.mozilla.org/initiatives/ should be h3
<img width="707" alt="image" src="https://user-images.githubusercontent.com/1068783/38754632-7fed922e-3f17-11e8-857d-2feb87e7c600.png">

https://foundation.mozilla.org/participate/ should be h4
<img width="902" alt="image" src="https://user-images.githubusercontent.com/1068783/38754651-8eb11dc6-3f17-11e8-9c27-b3ecb2bd947d.png">

https://foun

[2018-04-13 20:02] alanmoo commented on #1321
I believe I just addressed this in #1346

[2018-04-13 20:24] #1321 closed, assigned to gvn

[2018-04-13 20:31] #1326 closed

[2018-04-13 20:36] #1336 closed

[2018-04-13 21:18] alanmoo opened #1350 "Update urls.py to partially use wagtail pages"
So that we can switch over to Wagtail for everything except campaign/opportunity pages, let's update urls.py. We should wait to land this until we're done with QA, though.

[2018-04-13 21:34] taisdesouzalessa opened #1351 "[QA: primary wagtail pages] Horizontal Scroll on mobile"
### Issue:
Page is scrolling horizontally on mobile. Tested on Safari and Firefox (iPhone 7), also in the "Responsive Design Mode" in browser. **Important:
![bug-horizontal-scroll-mobile](https://user-images.githubusercontent.com/22157921/38758842-c1cc5ada-3f27-11e8-9ccc-045bfc3951d8.gif)
** this is not a specific wagtail issue, it seems to happen in the `https://foundation.mozilla.org/` as well.

[2018-04-13 22:01] taisdesouzalessa opened #1352 "[QA: primary wagtail pages] Headings on Iniatives page need more space"
**Please disconsider this issue: updates on typeface are being asked by Kristina in another issue** already.
~~### Issue
There is currently no vertical space between `.h3-black` and following paragraph~~

[2018-04-13 22:03] kristinashu opened #1353 "[QA: primary wagtail pages] About Us should show selected state"
### "About Us" in main nav should show select state. black underline.

https://foundation.mozilla.org/wagtail/about/ (missing underline)
<img width="1420" alt="screen shot 2018-04-13 at 2 58 45 pm" src="https://user-images.githubusercontent.com/1068783/38759590-788545d6-3f2b-11e8-9d45-add7d89538f7.png">

https://foundation.mozilla.org/about/ (good underline)
<img width="1423" alt="screen shot 2018

[2018-04-13 22:14] #1352 closed

[2018-04-13 22:18] kristinashu opened #1354 "[QA Primary Pages] Sub nav styling"
Type and underline in the subnav should look the same as the main nav. Intended as per [comp](https://redpen.io/rn6bd6ea7068af8f53).

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/1068783/39316910-2e308a28-492f-11e8-8952-d2bf0160fa9a.png">

But on prod: https://foundation.mozilla.org/wagtail/about/
- subnav font is too large
- underline in subnav is too thick
- under

[2018-04-13 22:35] kristinashu opened #1355 "[QA: primary wagtail pages] remove indent on image component"
Images on https://foundation.mozilla.org/wagtail/about/leadership/ are slightly to the right of everything else. The edge of the photo should lineup with the logo, titles, text and everything else.

![screen-shot-2018-04-13-at-3 31 15-pm](https://user-images.githubusercontent.com/1068783/38760450-2bac30f8-3f30-11e8-8ce7-a02043236a60.jpg)

[2018-04-13 22:45] kristinashu opened #1356 "[QA: primary wagtail pages] Add more paragraph styles to Rich Text editor"
Please add `.body-large` and `.quote-feature` as paragraph styles to the text editor.

These styles are from our main style guide https://foundation.mozilla.org/style-guide/

This will give us more flexibility to style text and make intro paragraphs stand out more over normal body text.

[2018-04-13 22:55] #1345 closed

[2018-04-13 22:55] taisdesouzalessa opened #1357 "Helper copy: Foundation site"
In our Foundation site, we always have some helper copy that gives the audience some context on what they will see on the page:
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/22157921/38760732-57033268-3f32-11e8-9c56-921a317eb77e.png">
<img width="1245" alt="image" src="https://user-images.githubusercontent.com/22157921/38760737-6514801e-3f32-11e8-943e-906d107ded14.pn

[2018-04-13 23:03] kristinashu opened #1358 "[QA: primary wagtail pages] Home page Happening Now is missing dividing lines"
Home page Happening Now is missing dividing lines.

https://foundation.mozilla.org/wagtail/ (no lines)
- Note: prod doesn't have a dividing line above the first post, I think it is ok if it does. In other words, it can be a rule that all the posts have a line, not just the 2nd and 3rd one.
<img width="1093" alt="screen shot 2018-04-13 at 3 59 35 pm" src="https://user-images.githubusercontent.com/1

[2018-04-13 23:05] kristinashu commented on #1357
This was a request from Jesse. Something along the lines of not want to have to write the copy! But I agree, we should work in some intro text below the banner.

[2018-04-13 23:12] kristinashu commented on #1344
Just noticed news page as well https://foundation.mozilla.org/news/

<img width="1200" alt="screen shot 2018-04-13 at 4 11 18 pm" src="https://user-images.githubusercontent.com/1068783/38761160-74ed41bc-3f35-11e8-9102-f9e4c0452961.png">

[2018-04-13 23:53] kristinashu commented on #1302
### Moved notes in the doc to this comment with checkbox so we can keep track of what has been done:
(I don't know what has been done)

- [ ] Change **main nav** from Open Sans → Nunito Sans 700, 16/24 → 17, 32/48 (500 weight)
- [ ] CSS styles: **remove** Nunito 600 AND Zilla 700. “**.quote-small**” should load in true italic (300i) - this style is not loading in our stylesheet.
- [ ] “**.h1-headi

[2018-04-13 23:59] taisdesouzalessa commented on #1302
@kristinashu as far as I know, nothing of this list has been done yet EXCEPT the `“.h1-heading” > could we use 400 instead of 600? Sorry :(. We found it looks too bold now."` - I just checked this item as done! @alanmoo did this change last week

[2018-04-16 13:25] irrationalRock commented on #1000
Hi, I'm interested in this issue.
Can I take a stab at it?

[2018-04-16 13:57] #1344 closed

[2018-04-16 13:58] #1339 closed

[2018-04-16 15:09] xmatthewx commented on #1357
Adding to this... a goal is to move content out of the header and into the body. New content will have good intros. If any interim page seems totally broken without, we could look to add some temp words at the top of the body copy, but only if it seems totally broken.

[2018-04-16 15:27] kristinashu opened #1360 "[QA] News page headings should not be highlighted"
From https://github.com/mozilla/foundation.mozilla.org/issues/1344#issuecomment-381281772

Headings on News page still look broken  https://foundation.mozilla.org/news/

<img width="1200" alt="screen shot 2018-04-13 at 4 11 18 pm" src="https://user-images.githubusercontent.com/1068783/38761160-74ed41bc-3f35-11e8-9102-f9e4c0452961.png">

[2018-04-16 15:28] kristinashu commented on #1344
Opened News page as a separate ticket https://github.com/mozilla/foundation.mozilla.org/issues/1360

[2018-04-16 15:31] alanmoo commented on #1353
This should automatically be fixed once we switch the wagtail pages to the long-term routes. It's technically not broken now, since you're not actively on that page.

[2018-04-16 15:31] #1353 closed

[2018-04-16 15:32] alanmoo commented on #1360
Are they the correct typeface and the only problem is the background color stretching down?

[2018-04-16 15:37] kristinashu commented on #1360
Years seem to be fine (should be Zilla Slab 72 in light gray). There should be no black background at all. Just gray text on white background.

[2018-04-16 15:41] alanmoo commented on #1360
Got it.  Seems like my solution for fixing the headings last week was a little over-zealous. The PR that's open dials it back a bit.

[2018-04-16 16:01] alanmoo commented on #1358
Fixed on production.

[2018-04-16 16:01] #1358 closed

[2018-04-16 16:02] kristinashu commented on #1360
Ok good. Will it fix these as well? https://foundation.mozilla.org/fellowships/

<img width="1148" alt="screen shot 2018-04-16 at 9 01 45 am" src="https://user-images.githubusercontent.com/1068783/38821230-d16e942e-4154-11e8-9378-250d44bb211b.png">

[2018-04-16 16:02] alanmoo commented on #1355
This is part of a bigger conversation that should be happening this week around components and layout. cc @gvn

[2018-04-16 16:04] alanmoo commented on #1356
I'm not sure this is going to be directly customizable using the text editor, it may be another streamfield content type. Can you point to examples of where/how that gets used to make sure we address the needs properly?

[2018-04-16 16:12] alanmoo commented on #1360
Yes.

[2018-04-16 17:37] kristinashu commented on #1156
Putting everyone's WIP comps in redpen for easier feedback https://redpen.io/p/bk3ac2ba96e659d333

I think @natalieworth has done more exploration since this, please add them when you can.

@xmatthewx @taisdesouzalessa @sabrinang please add any thoughts, feedback and examples.

[2018-04-16 19:18] kristinashu opened #1363 "Implement Nav 'zen mode'"
### Comps: https://redpen.io/p/bk3ac2ba96e659d333

- mini (zen mode) nav for all primary pages not in the main nav + all Opportunity/Campaign pages
- note: at narrow widths, mobile nav and zen mode nav look and act the same way
- home page nav and Opportunity/Campaign pages nav have white background with black dividing line

### Page types:
![screen-shot-2018-04-16-at-8 17 21-pm](https://user-imag

[2018-04-16 19:25] kristinashu commented on #1288
I believe P1 is done (example http://foundation.mozilla.org/wagtail/participate/)

I've opened a new ticket for implementing P2 Zen mode nav https://github.com/mozilla/foundation.mozilla.org/issues/1363

[2018-04-16 19:26] kristinashu commented on #1288
cc @alanmoo ^

[2018-04-16 19:47] Pomax opened #1364 "wrap "narrow page content" checkbox in a MultiFieldPanel"
As per https://github.com/wagtail/wagtail/issues/4471#issuecomment-381719041 we should wrap the "narrow page content" checkbox in a MultiFieldPanel so that the guide text is at least persistent, even if it's not the best-styled.

[2018-04-16 22:30] kristinashu commented on #1311
@ScottDowne @alanmoo @beccaklam sorry there has been some stop and go on this.

I've updated the above comment to reflect the approved design. Please re-read and let me know if there are any questions/comments.

[2018-04-16 22:40] kristinashu opened #1366 "Improve UX on campaign pages"
Continuation of https://github.com/MozillaFoundation/Design/issues/271

Create wireframes to explore ways we can enhance our campaign pages. This could be new features like recommending similar campaigns, better social share options, better thank you and confirmation when signing a petition, better mobile options...

Could also update old [benchmarking deck](https://docs.google.com/presentation/d/

[2018-04-16 22:46] kristinashu commented on #1297
We will be working out of the doc @taisdesouzalessa started https://docs.google.com/document/d/1CE_vy2ecTWndzzsE_TyW8LT77c3H662uEUnaA-zCjrM/edit?usp=sharing

[2018-04-16 22:57] kristinashu commented on #1366
Oh adding localization to this. Currently there is this [hack](https://foundation.mozilla.org/campaigns/facebook-update/). Our solution will also probably have to be a bit of a hack but I'm sure we can do something better.

[2018-04-16 23:00] alanmoo opened #1367 "About page active state in navigation doesn't work"
STR:

Visit https://foundation.mozilla.org/about/
Notice "About" in nav isn't underlined

[2018-04-16 23:07] Pomax commented on #1367
visual details"

![image](https://user-images.githubusercontent.com/177243/38839590-3531b49c-4190-11e8-9ebb-716002350ef7.png)

vs.

![image](https://user-images.githubusercontent.com/177243/38839592-3e407924-4190-11e8-8a15-e422fd17d425.png)

[2018-04-16 23:10] #1288 closed

[2018-04-16 23:11] Pomax opened #1368 ""happening now" entries have a mystery "T" in their link"
On the homepage, in the "happening now" section:
![image](https://user-images.githubusercontent.com/177243/38839702-cdfc5862-4190-11e8-9e7f-182ae65f60af.png)

[2018-04-16 23:16] taisdesouzalessa commented on #1228
I think we didn't assign this ticket to an engineer to implement. Maybe Mavis can take care of it? What do you think @alanmoo and @xmatthewx? Should I create an implementation ticket?

[2018-04-16 23:35] #1360 closed

[2018-04-16 23:42] #1368 closed

[2018-04-16 23:42] #1364 closed

[2018-04-16 23:44] kristinashu opened #1371 "[QA: primary wagtail pages] Admin - Up/Down arrows in Home Page Highlights don't work"
I'm updating posts so they reflect what was in Mezzanine. This is the order post should be in (Global Sprint and Dear Facebook as main features):

<img width="387" alt="screen shot 2018-04-16 at 4 33 46 pm" src="https://user-images.githubusercontent.com/1068783/38840345-f7b3cd4a-4193-11e8-9127-010cd3a3b6e7.png">

When I try to reorder the posts in Wagtail using the up/down arrow it looks good in t

[2018-04-16 23:49] kristinashu commented on #1371
I just clicked "Submit for Moderation" thinking that might fix it but I'm not sure.

<img width="476" alt="image" src="https://user-images.githubusercontent.com/1068783/38840767-18512adc-4196-11e8-9ddd-1cdd491326f5.png">

[2018-04-17 01:49] alanmoo commented on #1228
Yeah. I believe Mavis is back tomorrow, so she can take care of it.

[2018-04-17 02:32] #1350 closed

[2018-04-17 02:39] alanmoo commented on #1135
This is happening soon. Do we have a plan yet?

[2018-04-17 02:40] #1152 closed

[2018-04-17 02:46] alanmoo commented on #1363
@ScottDowne This may be for you.

@kristinashu Do you have comps of what it looks like when the menu is clicked? Does Zen mode just look like regular mode then? And are we indeed using the kebab instead of the hamburger? I'm pretty sure @jessevondoom said something about using the burger.

[2018-04-17 02:50] #1367 closed

[2018-04-17 03:31] kristinashu commented on #1363
Yes, when Zen mode menu is open it looks the same as the regular menu but with a close icon. Yes, the latest [comps in redpen](https://redpen.io/p/bk3ac2ba96e659d333) have the burger instead of the kebab.

Here are a couple animation examples of the Zen mode opening and closing:
- https://cashmusic.org/
- https://blog.intercom.com/ (need to scroll down)

[2018-04-17 03:54] kristinashu opened #1372 "Redirects on About Us subpages"
Based on Jesse's [endpoints doc](https://docs.google.com/document/d/1zhOwOET0yH3xQC83tcKmlwGT9s2lLv05wdUqRJsm5MI/edit?usp=sharing), subnav menu items that we don't have copy for yet should redirect.

#### Redirects should be:
- /about/impact (https://advocacy.mozilla.org/)
- /about/strategy (https://mzl.la/foundation-strategy)
- /about/careers (https://careers.mozilla.org/)

#### Note that order i

[2018-04-17 04:01] kristinashu commented on #1140
Initial CMS pages are live! https://foundation.mozilla.org/about/

@natalieworth please continue to improve on these pages. Some illustrations would go a long way! If you're feeling stuck try benchmarking some nice about pages.

[2018-04-17 16:01] Pomax opened #1373 "minisites use the wrong title for the "site""
Currently wagtail render:

![image](https://user-images.githubusercontent.com/177243/38881940-e1dc37de-421d-11e8-918b-8b5934d62c6c.png)

This should say "aadhaar" above "Overview".

[2018-04-17 16:09] kristinashu opened #1374 "[QA Opportunity Pages] Design check"
#### Will compare Wagtail pages against Mezzanine:
- [x] Web Literacy
Icon and text layout #1341
- [x] Global Sprint
Make sure Register script still works?
Video #1376
Image caption type style #1395
- [x] Mozilla's Open IoT Studio (deleted since it was only ever in draft mode on Mezzanine and it's old)
- [x] MITI
~Header twice https://github.com/mozilla/foundation.mozilla.org/issues/1391~
Add Head

[2018-04-17 16:29] Pomax opened #1375 "reodering InlinePanel entries does not save their new position"
Editing the homepage news section to make sure the correct item is at position 1, then publishing the page, does not save the new order.

ref: https://github.com/wagtail/wagtail/issues/4477

[2018-04-17 16:31] kristinashu opened #1376 "[QA Opportunity Pages] video player size"
Videos loose aspect radio at narrower widths. Video plays properly but there is extra black space above and bellow it. It sizes well in Mezzanine but not in Wagtail.

### Wagtail:
https://foundation.mozilla.org/wagtail/opportunity/leadership-training/
<img width="1023" alt="screen shot 2018-04-17 at 9 25 06 am" src="https://user-images.githubusercontent.com/1068783/38883340-76430968-4221-11e8-911d

[2018-04-17 16:51] kristinashu commented on #937
Will redirects work now?

[2018-04-17 16:52] kristinashu commented on #1372
Maybe related to other redirect tickets: https://github.com/mozilla/foundation.mozilla.org/issues/937 https://github.com/mozilla/foundation.mozilla.org/issues/1216

[2018-04-17 17:15] mmmavis commented on #1228
Cool! I can work on this once we have decided what final design option we wanna go with.

[2018-04-17 17:17] taisdesouzalessa commented on #1228
@mmmavis I think we are following Matthew's list there. I can open an implementation ticket, doe sthat work?

[2018-04-17 17:21] Pomax opened #1378 "ensure correct width for "narrow pages" with a minisite menu"
Compare https://foundation.mozilla.org/campaigns/aadhaar/take-action/ to https://foundation.mozilla.org/wagtail/campaigns/aadhaar/take-action/ and note that the latter is too wide, missing a secondary `col-12 col-md-9`.

This should be toggled with the "narrowed page content" checbox.

[2018-04-17 17:28] kristinashu commented on #1356
Would be nice for things like this but we can hold off on it for now.

<img width="772" alt="screen shot 2018-04-16 at 9 16 30 am" src="https://user-images.githubusercontent.com/1068783/38886158-fe767e5c-4229-11e8-91fb-cf8aa6ce89cf.png">
<img width="976" alt="screen shot 2018-04-16 at 9 18 16 am" src="https://user-images.githubusercontent.com/1068783/38886159-fe8cd558-4229-11e8-93f8-e4c3879b4bdc.p

[2018-04-17 17:29] kristinashu commented on #1355
Looks like this is an issue for image with a caption but good for regular images https://foundation.mozilla.org/wagtail/opportunity/tech-policy-fellows/

<img width="740" alt="screen shot 2018-04-17 at 10 26 37 am" src="https://user-images.githubusercontent.com/1068783/38886205-1b8f5c8e-422a-11e8-9417-926fddc76b5d.png">

[2018-04-17 17:34] Pomax commented on #1375
dupe of https://github.com/mozilla/foundation.mozilla.org/issues/1371, commenting there.

[2018-04-17 17:34] #1375 closed

[2018-04-17 17:35] Pomax commented on #1371
I've run into this as well, I've filed https://github.com/wagtail/wagtail/issues/4477 because this seems a wagtail bug, but I'm not sure.

[2018-04-17 17:37] xmatthewx opened #1379 "Optimize vertical space in CMS componemts"
Currently, wagtail components mash against the content above. They could use some better default vertical margins. See screenshot below. This happens whether a heading is in the same component, or in a subsequent component. While manual vertical space components are useful, a better default margin for staff would help prevent lots of trouble.

I think we should prioritize this over some other styl

[2018-04-17 17:42] cadecairos commented on #937
Not yet, we still need fix the problems outlined in [this comment](https://github.com/mozilla/foundation.mozilla.org/issues/937#issuecomment-356433137)

[2018-04-17 17:45] alanmoo commented on #937
We have stopped serving those pages statically, and I believe I added a djano-based 404 page last week.

[2018-04-17 17:46] cadecairos commented on #937
if it's ready to go, we should update [this line](https://github.com/mozilla/foundation.mozilla.org/blob/11cffb166109cb068a6056ebd50e8c4c454a23eb/network-api/networkapi/urls.py#L87) so that it's not a redirect to a static page.

[2018-04-17 17:46] xmatthewx opened #1380 "Optimize Headers available to Authors"
In wagtail rich text component, `h2` is pretty big visually. Semantically it might be the right tag, but I wonder if we want to restrict authors to h3 and below.

I leave it to @kristinashu to decide.

[2018-04-17 17:49] Pomax commented on #1378
first link:
![image](https://user-images.githubusercontent.com/177243/38887209-07be040a-422d-11e8-887e-ede415c28a7b.png)

[2018-04-17 17:50] Pomax commented on #1378
second link:
![image](https://user-images.githubusercontent.com/177243/38887232-1a0b18f0-422d-11e8-827e-84cc66393550.png)

[2018-04-17 17:57] kristinashu opened #1382 "[QA Opportunity Pages] Add page anchors"
Works well on Mezzanine https://foundation.mozilla.org/opportunity/network-50/ but is missing on Wagtail.

[2018-04-17 18:15] xmatthewx opened #1384 "Optimize About page styles"
A few things jump out to me on the About page (desktop) with room for improvement.

 - Subnav size seems very large, larger than primary nav. Proposed: 1rem seems more appropriate.
 - Alignment of body column feels awkward. Centered against a left aligned header. Proposed: Align to the left (maintain optimal width for readability. don't change based on mock up below.) Consider: a right aligned pul

[2018-04-17 18:15] Pomax opened #1385 "minisites with 0 "in_menu" children should not show a sidebar menu"
Currently the following yields a sidebar menu, when it shouldn't:
[code]

[2018-04-17 18:46] #1316 closed

[2018-04-17 18:46] kristinashu commented on #1366
cc @vojtechsedlak

[2018-04-17 18:50] kristinashu opened #1387 "[QA] Missing style guide"
Something change yesterday or so.
https://foundation.mozilla.org/style-guide/
- this is what I used to go to
- it used to reflect the latest [type updates ](https://docs.google.com/spreadsheets/d/1Z1oScv_5NfhGGkFg6nH-_16dKWSyPcNhrKdA5E_QwIk/edit#gid=0)
- now the page is missing and I see a 404 page

https://foundation.mozilla.org/styleguide/
- this seems to load but shows old/wrong type styles

[2018-04-17 18:51] vojtechsedlak commented on #1366
Just to flesh out some of the desired user flow, when someone submits the form and has checked the checkbox for newsletter signup, we should give them the following message above the share buttons:

"Thanks! Please check your inbox to confirm your subscription.

If you haven’t previously confirmed a subscription to a Mozilla-related newsletter you may have to do so. Please check your inbox or your

[2018-04-17 18:57] kristinashu opened #1389 "Heading styles on CMS pages"
H1-H6 styles in the rich text editor should be exactly the same as headings on the main site.

For H2, please make .h2-heading (zilla with black highlight) the default, nnot .h2-typeaccent (light grey from news page).

In doing this, will updating a style on the main site (for example, updating the type size for H1) automatically update in CMS styles as well?

[2018-04-17 18:57] kristinashu commented on #1389
@taisdesouzalessa @alanmoo @gvn does this sound right?

[2018-04-17 18:58] #1385 closed

[2018-04-17 18:59] kristinashu commented on #1380
This should fix the problem https://github.com/mozilla/foundation.mozilla.org/issues/1389

[2018-04-17 18:59] #1380 closed

[2018-04-17 19:00] kristinashu commented on #1389
Since main page headings are H1 and I believe we should limit the use of one H1 per page, then I think we can remove the H1 option from the rich text editor. But I'm open to keeping it.

[2018-04-17 19:02] kristinashu commented on #1379
@taisdesouzalessa @gvn are looking into spacing

[2018-04-17 19:02] xmatthewx commented on #1366
As we work on this, let's consider easy incremental improvements (like better thanks/confirmation and a language picker), along side ambitions for the future (like suggested campaigns/projects from a pulse tag). After a bit of design we can organize phased implementation.

[2018-04-17 19:37] Pomax opened #1390 "remove minisite title for "site" pages without a menu"
minisite trees for which there isn't actually a menu should not show a minisite title above the page title.

![image](https://user-images.githubusercontent.com/177243/38892426-05bff32a-423c-11e8-99d0-34b3608d3bd9.png)

[2018-04-17 19:44] kristinashu opened #1391 "[QA Wagtail Opportunity] Header shows up twice"
Where to Title and Header show up?

Looks like header appears twice to the user: https://foundation.mozilla.org/wagtail/opportunity/mozilla-information-trust-initiative/
<img width="813" alt="screen shot 2018-04-17 at 12 35 40 pm" src="https://user-images.githubusercontent.com/1068783/38892532-58362b1a-423c-11e8-92df-4c8fe57d5db7.png">

<img width="996" alt="screen shot 2018-04-17 at 12 35 51 pm"

[2018-04-17 19:46] Pomax commented on #1355
the figure component currently has bootstrap margins on it so that figuregrid doesn't just glue them together. I don't know if there's bootstrap rules around giving something margins only if it's inside another thing... /cc @gvn

[2018-04-17 19:52] Pomax opened #1392 "Fix the minisite menu and titling system"
Right now things aren't titling correctly with a menu, and shouldn't title at all without a menu.

[2018-04-17 20:10] Pomax commented on #1392
dupe of https://github.com/mozilla/foundation.mozilla.org/issues/1373

[2018-04-17 20:10] #1392 closed

[2018-04-17 20:33] Pomax commented on #1376
I suspect this is because of the youtube embed currently having a fixed height.  We could try to rewrite that to use the CSS aspect ratio trick (https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css and others) but that might have issues with the iframe tag itself needing explicit width/height values (if not, it defaults to 100% width, 200px heigh if I recall corr

[2018-04-17 20:40] kristinashu opened #1395 "[QA Wagtail Pages] Add image caption type style"
Wagtail using body copy styling for it's image captions which makes it hard to differentiate what is paragraph text and what is a caption:

<img width="688" alt="image" src="https://user-images.githubusercontent.com/1068783/38895384-c73b22ce-4244-11e8-8851-91ae56c4c3d2.png">

Please style captions the way the are on Mezanine (using the class .h6-gray):

<img width="1132" alt="image" src="https://u

[2018-04-17 21:00] taisdesouzalessa opened #1396 "[Fellowships Mini Site] Make deadline for Application more prominent - implementation ticket"
Related to  #1228

## 1) update fellowship overview page

 - [ ] add new date+button. (
 - [ ] place this higher on the page
      - place the call out after the 2nd paragraph. Above "More than ever, we need a movement..."
      <img width="500" alt="image" src="https://user-images.githubusercontent.com/53411/38103516-81a992e4-3354-11e8-86fa-817038cf9ddb.png">

## 2) update the apply page

 - [ ]

[2018-04-17 21:02] kristinashu commented on #1356
I take that back, having the .body-large class would be useful.

[2018-04-17 21:03] kristinashu commented on #1389
This is related as well - Add more paragraph styles to Rich Text editor #1356

[2018-04-17 21:05] taisdesouzalessa commented on #1228
Implementation ticket here:  #1396. Closing this one.

[2018-04-17 21:05] #1228 closed

[2018-04-17 21:27] Pomax opened #1398 "menu-less campaign pages should rendere the same as true singleton pages"
Right now they render as singleton_pages, but adding a child with "in menu" turned off suddenly changes the style to with-menu-page (incorrect), but without the menu generating (correct)

[2018-04-17 21:42] kristinashu commented on #1341
@Pomax when I select 100x100 there is too much of a gap between the icon and the text and if I select 200x200 then the text overlaps (at narrower browser widths).

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/1068783/38899496-e555b5f0-424c-11e8-9948-e207b3bc0d4d.png">

There should be a consistent gap between the icon and the text. A 200x200 icon at large browser wi

[2018-04-17 21:49] kristinashu commented on #1341
Follow up, selecting "Use original dimensions" seems to fix these web lit icons. But we should still figure out padding for "Constrain to Xpx x Xpx" cases.

[2018-04-17 21:54] #1398 closed

[2018-04-17 22:11] taisdesouzalessa opened #1400 "[QA Wagtail] Issue uploading image with the same name"
_Assigning Alan for triage_

### Issue
I was trying to upload an image that has the same name as an existing image with the hope I could replace it. However when I do it, what happens is that the previous image stays there and the new image is not uploaded. Example below:

![wagtail-bug](https://user-images.githubusercontent.com/22157921/38900679-001207d2-4251-11e8-90ab-da76fb3c135a.gif)

Maybe th

[2018-04-17 22:32] Pomax opened #1401 "campaigns don't seem to render quite the same if there's (unlisted) children"
compare https://foundation.mozilla.org/wagtail/campaigns/india-needs-strong-privacy-and-data-protection-law/ (no children) to https://foundation.mozilla.org/wagtail/campaigns/facebook-and-european-parliament/ (unlisted children)

[2018-04-17 22:33] Pomax commented on #1401
first link:
![image](https://user-images.githubusercontent.com/177243/38902257-9cfa74b4-4254-11e8-840b-6ec58f3e5a10.png)

[2018-04-17 22:33] Pomax commented on #1401
second link:
![image](https://user-images.githubusercontent.com/177243/38902261-a3a55e5a-4254-11e8-9ec6-67bdf47b3357.png)

[2018-04-17 22:33] kristinashu opened #1402 "[QA Wagtail] Add Heading styles to Image + Text component"
In Mezzanine we can have an Icon next to a Heading: https://foundation.mozilla.org/opportunity/miti/

<img width="914" alt="screen shot 2018-04-17 at 3 29 02 pm" src="https://user-images.githubusercontent.com/1068783/38902169-4058bf22-4254-11e8-9792-2fa866d37858.png">

In Wagtail, we can only have an Icon next to Paragraph body text. This doesn't work when we need the text to stand out more.

<img

[2018-04-17 22:35] Pomax commented on #1401
This looks like a missing `offset-md-2` from the `py-5 col-12 col-md-9` rule

[2018-04-17 22:47] taisdesouzalessa opened #1404 "[Components] Spacings"
### Issue
We have been discussing if spacings should be attached to components or added as a separate element. Each direction has its pros and cons and this ticket is a central place for the discussion so hopefully we can reach an agreement that suits our needs the best.

**References** (feel free to edit this post and add more):
- [Good article on Medium](https://medium.com/fed-or-dead/handling-s

[2018-04-17 22:50] alanmoo commented on #1387
URL's been reverted- that was just a change in the CMS. Unsure what's different about the type styles. Can you point out a specific one and what it should be instead?

[2018-04-17 22:51] taisdesouzalessa commented on #1404
@gvn @kristinashu I believe we decided to do some research on that and meet either later on this week or early next week to decide it, correct?

[2018-04-17 22:52] taisdesouzalessa commented on #1379
Ticket on spacing (on a system level) is opened and being tracked here: #1404 - I referred to this ticket there as well.

[2018-04-17 22:54] alanmoo commented on #1400
What are you clicking to get the initial dialog box to open in the gif?

[2018-04-17 22:59] alanmoo commented on #1356
From this I can see how large body text might be used as part of the template for various CTA components, but not something that should be tied into the rich text editor as an additional option. Does that make sense? This is the kind of thing the zen of wagtail article was talking about- separating design and content.

[2018-04-17 23:02] taisdesouzalessa opened #1405 "[Wagtail Templates] Flow chart of different templates"
### Issue
In meeting between Gavin, Kristina and Taís, we decided to do a flow chart (based on Gavin's suggestion) to have a visual representation of when a staff member can add their content and use an existing template (with little or zero support from prod team) and when design and engineers are needed (more complex pages).

**To do:**
- [x] Taís will take a look at existing opportunity pages a

[2018-04-17 23:06] kristinashu commented on #1387
None of the work Mavis during the sprint is reflect now. Although it was fine a couple days ago. Most of the headings are wrong (name and style). This is what it should be:
![typography](https://user-images.githubusercontent.com/1068783/38903239-cfc34b56-4258-11e8-8b09-a5d90310bcf2.jpg)

[2018-04-17 23:09] kristinashu commented on #1405
Excellent! @sabrinang might be interested in this as well since she might be working on some onboarding, documentation, CMS ux stuff!

[2018-04-17 23:33] taisdesouzalessa commented on #1402
I was wondering if we could add the text styles as we have in paragraph so this component is more flexible?
<img width="517" alt="image" src="https://user-images.githubusercontent.com/22157921/38904057-f6511380-425c-11e8-83be-b37d26a43108.png">

[2018-04-17 23:40] taisdesouzalessa commented on #1400
I am clicking on "Change Image". Sorry, I think LiceCap took a while to start recording...
<img width="732" alt="image" src="https://user-images.githubusercontent.com/22157921/38904195-e08455f2-425d-11e8-8922-5b1ee33145b8.png">

[2018-04-17 23:41] taisdesouzalessa commented on #1405
@sabrinang let's connect and collaborate!

[2018-04-17 23:42] mmmavis commented on #1396
Hey @taisdesouzalessa the Sketch file doesn't really match the specs so I wasn't sure what to follow. Could you head to https://github.com/mozilla/foundation.mozilla.org/pull/1406 and let me know what needs fixing in that PR?

[2018-04-17 23:47] taisdesouzalessa commented on #1396
oh shoot, really? Sorry for that, I though they matched. I will check and make a list of fixes. Thanks @mmmavis

[2018-04-17 23:53] #1225 closed

[2018-04-18 00:09] mmmavis commented on #1396
@taisdesouzalessa no worries & thanks!

[2018-04-18 01:44] kristinashu opened #1407 "[QA Opportunity] Figure Grid isn't working"
Figure Grid component isn't working on Wagtail:
https://foundation.mozilla.org/wagtail/opportunity/global-sprint/
<img width="431" alt="image" src="https://user-images.githubusercontent.com/1068783/38907068-d8d78278-426e-11e8-9cd6-c5b8611d5809.png">

It should look like it does on Mezzanine:
https://foundation.mozilla.org/opportunity/global-sprint/
<img width="882" alt="image" src="https://user-im

[2018-04-18 01:51] kristinashu opened #1408 "[Wagtail UX] Simplify button options"
There are too many button style options and I'm not sure what the Outline checkbox does.

<img width="962" alt="image" src="https://user-images.githubusercontent.com/1068783/38907242-c9030362-426f-11e8-9aaa-9ab8255aa029.png">

### To do:
- [x] Remove Outline checkbox if it is not needed
- [x] Reduce number of button styles to two .btn-ghost and .btn-normal from the [style guide](https://foundation

[2018-04-18 13:29] alanmoo commented on #1400
Honestly, the easiest solution for this seems like it might be "don't do that". I suspect it's something deep in the way Wagtail is built and won't be worth our energy to try and fix it when we have other things to do. Do note that you could click "edit this image" to swap out the image (I believe that would change it anywhere it's used across the site).

I'm not sure how many times you tried it,

[2018-04-18 15:57] #1387 closed

[2018-04-18 16:05] kristinashu commented on #1366
Yeah there are some awesome ideas in there @beccaklam!

I think it'd be useful to see a high-level flow diagram of possibilities. So less about what the page looks like and more about when and what we prompt users with.

[2018-04-18 16:54] taisdesouzalessa commented on #1400
@alanmoo Yeah I tried many times as you can see...sorry. I am trying to delete copies of this image (and of Alan Davidson's copies) but in some cases I am receiving an error message like that:

![images-wagtail](https://user-images.githubusercontent.com/22157921/38946367-16a7d510-42ee-11e8-8bff-964a1f98bae7.gif)

Given we won't be working on a solution for that in the near future, I will close thi

[2018-04-18 16:54] #1400 closed

[2018-04-18 16:58] taisdesouzalessa opened #1411 "[QA Wagtail] Issues when trying to deleting images on Wagtail"
### Issue
When trying to delete copies of determined image, sometimes I get an error message like the one below:

![images-wagtail](https://user-images.githubusercontent.com/22157921/38946367-16a7d510-42ee-11e8-8bff-964a1f98bae7.gif)

Weird thing that is says "Mezzanine" on top of the page. Not sure what's going on there.

[2018-04-18 17:37] Pomax commented on #1411
I cannot seem to reproduce this locally. Can you list the steps you take in a text form that I can try to reproduce? The gif shows you delete image 112, but then get an error on image 109, so this might actually be a different issue that happens to be revealed during these steps, but isn't actually caused by the delete?

[2018-04-18 18:06] vojtechsedlak commented on #1366
These look amazing! I'd suggest looping in Jon, Will and Sara, who have a lot of knowledge about improving conversion rates on action pages. Ideally we would want to test the impact of individual elements on conversion and action rates, so a modular design, where elements such as counters, recent signers etc. can be added and removed would be best.

[2018-04-18 18:08] Pomax commented on #1341
The reason this happens is because of how we "quickly implemented a column layout" for the image+text block, which simply sets fixed columns rather than a layout that respects content and dynamically sizes accordingly.

@gvn would you have suggestions around how we can bootstrap this better? We're currently using the following markup + css: https://github.com/mozilla/foundation.mozilla.org/blob/ma

[2018-04-18 18:12] Pomax commented on #1354
@kristina image for the "real" look was missing the actual nav elements so I tried to do a new screenshot, but of course the site switched over so there is nothing to compare now. Do we still have a comp that we include a comparison shot based off of?

[2018-04-18 18:18] kristinashu commented on #1354
Yes, here's the comp https://redpen.io/rn6bd6ea7068af8f53

You can reference the main nav as much as possible.

[2018-04-18 18:25] sabrinang opened #1413 "Broken Links on Foundation Site"
Some incorrect URLs leading to 404 page
<img width="780" alt="image" src="https://user-images.githubusercontent.com/2492510/38950437-61871a12-42fa-11e8-8653-35cba8a87204.png">

____________
**Home page on Latest News section - main news item**
<img width="711" alt="image" src="https://user-images.githubusercontent.com/2492510/38949918-cac451cc-42f8-11e8-912b-604574572797.png">

____________
**Init

[2018-04-18 19:37] xmatthewx commented on #1404
Components should have a basic amount of spacing so they can't mash against each other. We should expect users to not notice or care. We can offer additional spacing, but it shouldn't be required.

[2018-04-18 19:39] Pomax commented on #1395
Looking at that page link, it turns out that the `h6-gray` class doesn't actually exist, there's no rule for that that's kicked in, although the rule for `h6, .h6-heading, .breadcrumb-item.active` has. As this is a figcaption, not an h6, we should probably add a new rule for `.cms figcaption` (or add a `figcaption-gray` class?)

[2018-04-18 19:43] Pomax commented on #1402
We cannot add anything to the rich text editor around styling: the rich text editor is for "plain text" rather than data, so a heading will always be styled the exact same, a paragraph will always be styled the exact same, etc.

Now that we're constrained more by Wagtail in terms of what we can style, we probably need to pay more attention to how wagtail segments content/data/etc as described in t

[2018-04-18 20:04] #1371 closed

[2018-04-18 20:15] KevZawacki opened #1414 "IHR graphic for consumer press"
Phase II of IHR press pitching focuses on consumer press: USA Today, Mashable, Teen Vogue, etc.

We need a simple graphic highlighting the ways the IHR empowers readers. Text would be something like:

Three ways to make your personal internet experience healthier:

- Protect yourself and your devices with strong passwords and two-factor authentication

- Always update your computer and phone softw

[2018-04-18 20:16] KevZawacki commented on #1414
(@xmatthewx realizing this is the wrong repo -- is there a general design repo?)

[2018-04-18 20:18] #1317 closed

[2018-04-18 20:18] #1378 closed

[2018-04-18 20:58] kristinashu commented on #1356
Ok I'll put this on designers until we have done a full audit of what components we need the most.

[2018-04-18 20:58] kristinashu commented on #1402
Putting this on designers until we have done a full audit of what components we need the most.

[2018-04-18 21:21] kristinashu opened #1415 "[QA Wagtail] Home page news link is broken"
URL looks good in admin view:
<img width="872" alt="screen shot 2018-04-18 at 2 18 51 pm" src="https://user-images.githubusercontent.com/1068783/38958919-8323f668-4313-11e8-823a-b68366239729.png">

But then something is adding foundation.mozilla.org to the url link:

<img width="718" alt="screen shot 2018-04-18 at 2 17 19 pm" src="https://user-images.githubusercontent.com/1068783/38958918-830fbb58

[2018-04-18 22:23] #1415 closed, assigned to nobody

[2018-04-18 22:50] kristinashu opened #1417 "[QA Camaign pages] Page anchor goes too far down the page"
https://foundation.mozilla.org/wagtail/campaigns/aadhaar/take-action/#petition-form

When I click on the Take Action button it brings me too far down the page. It should take me to the top of the form but this is what I get:

<img width="1365" alt="screen shot 2018-04-18 at 3 48 09 pm" src="https://user-images.githubusercontent.com/1068783/38961997-112f195e-4320-11e8-8527-28c8264b144b.png">

[2018-04-18 22:51] kristinashu commented on #1417
This seems to happen on the Mezzanine page too.

[2018-04-18 22:56] kristinashu opened #1418 "[QA Campaign pages] Petition should be on the side"
On Wagtail the petition is at the bottom.
<img width="1365" alt="image" src="https://user-images.githubusercontent.com/1068783/38962188-012a700c-4321-11e8-871d-8b472a75ba1d.png">

It should be on the side like on Mezzanine.
<img width="1371" alt="screen shot 2018-04-18 at 3 55 10 pm" src="https://user-images.githubusercontent.com/1068783/38962193-07bb36d6-4321-11e8-9a73-05ba15a39b85.png">

[2018-04-18 22:59] kristinashu opened #1419 "[QA Campaign Pages] Design check"
Will compare Wagtail pages against Mezzanine:
- [x] Aadhaar
Anchor #1417
- [x] Equifax breach
Petition at bottom #1418
- [x] Dear Target: Please help make baby monitors safer
Petition at bottom #1418
- [x] Facebook
Petition at bottom #1418
- [x] India needs a strong privacy and data protection law
Petition at bottom #1418
- [x] Facebook update
Petition at bottom #1418
- [x] Facebook and European P

[2018-04-18 23:09] kristinashu commented on #1418
And then on pages with multiple languages (so fake sub pages), the form is on the side but content is left aligned instead of center aligned

<img width="1368" alt="image" src="https://user-images.githubusercontent.com/1068783/38962597-e354b860-4322-11e8-82d2-8461b7a72fb5.png">

[2018-04-18 23:13] Pomax commented on #1417
Yeah this is caused by our menu taking up "no space", so the page navigates to the correct spot, but we overlay the menu on it... Not sure what the right solution is there. @gvn, thoughs? "if URL contains #, add body.padding-top=100`? =D

[2018-04-18 23:23] Pomax opened #1420 "Fix column layout for "true single page" vs. "looks like single page, has children" campaigns"
There are a few quirks that need to be addressed around the column layout (both in terms of _being_ column layout, as well as offset classes) in campaign pages.

### true single page campaigns
- the CTA should be a right column, not below the content (e.g. equifax)

### "looks like single page" campaigns
- the content does not have the correct offset class applied, making it present way too much t

[2018-04-18 23:31] sabrinang commented on #1366
+1 to vojtech's comment above - I like the idea of displaying a countdown or deadline that helps communicate a sense of urgency to signers too for campaign pages

[2018-04-18 23:50] kristinashu opened #1421 "[QA Opportunity Pages] List of items is too long"
There is a long list of locations so in Mezzanine we did this:
https://foundation.mozilla.org/wagtail/opportunity/global-sprint/
<img width="1225" alt="image" src="https://user-images.githubusercontent.com/1068783/38963729-36f4c0f0-4328-11e8-9413-cbcbc993aa39.png">

Any suggestions on how we can do something like this in Wagtail?
https://foundation.mozilla.org/opportunity/global-sprint/register/
<

[2018-04-18 23:52] kristinashu commented on #1421
Actually the wagtail list looks out of date, it's much longer now.

[2018-04-18 23:55] kristinashu commented on #1407
Updated it to 200x200. It's ok but not great ...

<img width="934" alt="image" src="https://user-images.githubusercontent.com/1068783/38963940-3766f840-4329-11e8-91cd-ad1989edbd09.png">

[2018-04-19 00:02] kristinashu commented on #1413
These are all fixed except for Upcoming Events on https://foundation.mozilla.org/initiatives/
@gvn can you please remove that link?

[2018-04-19 00:08] kristinashu commented on #1382
Decided to not bother with anchors!

[2018-04-19 00:10] #1382 closed

[2018-04-19 00:14] kristinashu commented on #1354
Follow up would be that this style should then be applied to the subnav on the [Fellowship pages](https://foundation.mozilla.org/fellowships/).

[2018-04-19 01:22] kristinashu opened #1422 "[Wagtail UX] Make Campaigns narrow width by default"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1418

If a campaign page's "narrow content" check box is not checked then the form appears at the bottom instead of on the side.

All campaigns should have the form on the side and should be narrow so this should happen automatically, by default, and not rely on the user to check it.

[2018-04-19 01:44] #1418 closed

[2018-04-19 01:44] #1422 closed

[2018-04-19 03:18] irrationalRock opened #1424 "Default URL given doesn't work"
Hi, I have been reading the documentation for the last couple of days and noticed that it mentions `https://localhost:8000` to go to the website.

However, this didn't work for me and I needed to use `http://127.0.0.1:8000/`.

I think it would be better to change the url to point to `http://127.0.0.1:8000/` or say the user should look at the result of `python manage.py runserver` and go to whateve

[2018-04-19 03:32] alanmoo commented on #1411
Once we switch to Wagtail for the opportunity/campaign pages we should see the real error here. Let's hold off on this till then.

(Besides, deleting an image in a CMS is usually a risky thing to do because it could be used on pages you're not aware of. I know that's not likely the case here, but it means this will get less pressing over time)

[2018-04-19 16:07] kristinashu opened #1426 "[Wagtail UX] Campaign page localization"
I believe @TheoChevalier came up with this cleaver hack for localizing campaigns.

<img width="1418" alt="screen shot 2018-04-19 at 9 01 06 am" src="https://user-images.githubusercontent.com/1068783/39004066-2e37ba56-43b1-11e8-8d6f-b3e5452d87fb.png">

@TheoChevalier @sabrinang I'm wondering if you have any examples or suggestions for a better long-term solution to show localization? Would a drop-d

[2018-04-19 16:35] gvn commented on #1404
My general thought is that we put top/bottom margin of 16px on components by default, which is the equivalent of the `my-3` Bootstrap class.

If more spacing is desired, then the spacer component can be added, but I rarely see a need for less vertical spacing than 16px.

[2018-04-19 16:54] alanmoo commented on #1426
Wagtail does offer some support for internationalization of sites: http://docs.wagtail.io/en/latest/advanced_topics/i18n/index.html#creating-sites-with-multiple-languages

I'd like to look into that once campaigns are live on wagtail.

[2018-04-19 16:55] taisdesouzalessa commented on #1404
Sabrina, Kristina and I were discussing this yesterday and Sabrina had suggested the same thing: to have a default and if we need to add more we could. That seems a good solution. Before we decide the exact number, I would like to take a look at the current pages to make sure the vertical spacing is not too big, to small.

@sabrinang, maybe we could work together on this since you are putting that

[2018-04-19 16:58] Pomax commented on #1421
We can set `column-count: 2`, but as richt-text content we don't control anything other than CSS applied based on element selectors (we can't use classes because we don't control the HTML that the rich text editor generates).

That said, we'd have to find something unique to this page for that, because right now it's "just another opportunity page" so if we change the column number, that's going t

[2018-04-19 17:02] alanmoo commented on #1421
Without analyzing it too deeply, my instinct is that this is the kind of thing that needs to be a template- 2 streamfields- one for the single column part at the top, and another streamfield where each block in it is a CSS grid element or something, so that we can add as many as needed using the other existing tools (like multiple paragraphs).

@gvn this feels like a thing you would have thoughts

[2018-04-19 20:15] xmatthewx commented on #1414
thanks @KevZawacki - https://github.com/mozillafoundation/design/issues and https://mzl.la/project-brief

[2018-04-19 20:19] #1414 closed

[2018-04-19 20:43] gvn commented on #1421
So, I'm seeing a 3 column layout. Regardless I see 2 options:

1. Template
2. Create a "column list" component whose nested elements/components are rendered into either an element with a `column-count` CSS attribute set, or a flex layout.

I'd be more inclined to go with option 2 since it would be usable in more places (and since this is fairly simple display logic). We do also need to think about

[2018-04-19 20:48] gvn commented on #1341
We should try to use percentage widths for images (usually 100% so they fit their containing column exactly) and not fixed pixel values.

[2018-04-19 20:49] gvn commented on #1395
`h6-gray` is deprecated I believe.

[2018-04-19 20:53] gvn commented on #1417
Yeah, this is a legacy issue. We'll probably need to do some kind of JS hackery to resolve it, but it's not a Wagtail thing.

[2018-04-19 20:54] gvn commented on #1417
Dupe of #675

[2018-04-19 20:54] #1417 closed

[2018-04-19 21:10] Pomax opened #1430 "search on the CMS "people" page errors out"
example: https://foundation.mozilla.org/cms/people/person/?q=cake

[2018-04-19 21:11] kristinashu commented on #1395
`h6-gray` is no called `.h6-heading`

[2018-04-19 21:32] #1356 closed

[2018-04-19 21:33] #1419 closed

[2018-04-19 21:34] #1402 closed

[2018-04-19 21:38] kristinashu commented on #1384
- agree, ticket is already open for the sub nav https://github.com/mozilla/foundation.mozilla.org/issues/1354
 - designers discussed the grid earlier and decided to run with this grid https://github.com/mozilla/foundation.mozilla.org/issues/1192
 - agree, nav is awkward at medium widths - I will QA this with Scott since he is revamping the nav right now!

[2018-04-19 21:38] #1384 closed

[2018-04-19 21:41] kristinashu commented on #1396
Is this done? @taisdesouzalessa can you please QA and close if it's all good?

[2018-04-19 21:41] #1374 closed

[2018-04-19 21:43] kristinashu commented on #1379
I'm going to close this ticket since we're looking at it more holistically in #1404

[2018-04-19 21:43] #1379 closed

[2018-04-19 21:47] kristinashu commented on #1313
@gvn has implemented the 2-up mobile view! But 4-up desktop view is still needed.

[2018-04-19 21:53] kristinashu commented on #1302
#### Adding two more things here:

- [ ] The heading "2018 Internet Health Report" font size is 38px but it should be 48px (it was 48px but then had to be made smaller for the FB campaign's long title, but it should be 48px from now on)
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/1068783/39020179-c7d8fa4c-43e0-11e8-8148-86dfaf301203.png">

- [ ] `h4-heading` is 600

[2018-04-19 21:58] kristinashu commented on #1299
This is done and it's awesome!

[2018-04-19 21:58] #1299 closed

[2018-04-19 22:01] #1223 closed

[2018-04-19 22:03] kristinashu commented on #1210
This has been updated.

[2018-04-19 22:03] #1210 closed

[2018-04-19 22:05] kristinashu commented on #1209
Updated for main foundation site email signup and in the works for campaigns https://github.com/mozilla/foundation.mozilla.org/issues/1366

<img width="695" alt="image" src="https://user-images.githubusercontent.com/1068783/39020803-f07b1dc0-43e2-11e8-819e-f94da0abcc36.png">

[2018-04-19 22:05] #1209 closed

[2018-04-19 22:05] kristinashu commented on #1188
w00t this is done!

[2018-04-19 22:05] #1188 closed

[2018-04-19 22:08] kristinashu commented on #1118
Looks like this has been updated?!
<img width="620" alt="image" src="https://user-images.githubusercontent.com/1068783/39020937-80fab91e-43e3-11e8-8763-57e886012413.png">

[2018-04-19 22:08] #1118 closed

[2018-04-19 22:09] kristinashu commented on #1100
We could use the blue to green gradient. This should be the fallback for News and also Happening Now section.

[2018-04-19 22:15] #998 closed

[2018-04-19 22:16] kristinashu commented on #995
This icon and page are gone now so this is no longer relevant.

[2018-04-19 22:16] #995 closed

[2018-04-19 22:16] #912 closed

[2018-04-19 22:17] kristinashu commented on #912
Will add them to IH page via Wagtail https://redpen.io/xz40f88c15d74a27f8

[2018-04-19 22:17] #910 closed

[2018-04-19 22:24] Pomax opened #1432 "update the pulse entries listing to use data-... attributes"
Once we fully remove Mezzanine, it'll be worth changing the project entries listing HTML code and corresponding rewrite code in `source/js/main.js` to use well-named `data-...` attributes rather than the ones we were forced to use because of what we could get set by Mezzanine.

[2018-04-19 22:25] kristinashu commented on #732
Closing since this is for Mezzanine and we've moved to Wagtail now.

[2018-04-19 22:25] #732 closed

[2018-04-19 22:25] kristinashu commented on #728
Closing since this is for Mezzanine and we've moved to Wagtail now.

[2018-04-19 22:25] #728 closed

[2018-04-19 22:27] kristinashu commented on #721
Is this still relevant now that we're using Wagtail?

[2018-04-19 22:28] kristinashu commented on #707
Is this still relevant now that we've moved to Wagtail?

[2018-04-19 22:29] #704 closed

[2018-04-19 22:30] taisdesouzalessa commented on #1213
I guess this is solved by now? @annmarie123 feel free to reopen this ticket if necessary.

[2018-04-19 22:30] #1213 closed

[2018-04-19 22:31] #1048 closed

[2018-04-19 22:38] kristinashu commented on #490
We've moved away from anchors in Wagtail but will tackle them if they're needed in the future.

[2018-04-19 22:38] #490 closed

[2018-04-19 22:40] kristinashu commented on #546
About page and all content is being rewritten Jesse's [endpoints doc](https://docs.google.com/document/d/1zhOwOET0yH3xQC83tcKmlwGT9s2lLv05wdUqRJsm5MI/edit).

[2018-04-19 22:40] #546 closed

[2018-04-19 22:41] kristinashu commented on #641
w00t this is done!

[2018-04-19 22:41] #641 closed

[2018-04-19 22:43] kristinashu commented on #600
It has a name now and it's called Zen mode! Should be live very soon!

[2018-04-19 22:43] #600 closed

[2018-04-19 22:44] kristinashu commented on #644
Closing since this is a Mezzanine issue and we are now using Wagtail.

[2018-04-19 22:44] #644 closed

[2018-04-19 23:01] community-impact commented on #1135
We touched base with @jessevondoom earlier this week. He was going to check to see if we could replace the "apply" button with an email capture. The plan is not to change any of the main body text (except to take out the call for applications reminder in the middle of the page).

Can we:
1) Change the text on the bottom to to "Applications for 2018-2019  Please input your email and we will send yo

[2018-04-19 23:04] taisdesouzalessa commented on #1396
QAd, done and now closed! Yay.

[2018-04-19 23:04] #1396 closed

[2018-04-19 23:12] taisdesouzalessa commented on #841
@kristinashu not really...lol! Although the majority of the items are now updated (due to site updates), we still have lots of "Network" in our "Get Involved" page (see the Etherpad for mode details). Not a critical issue but a nice to have!

[2018-04-19 23:13] taisdesouzalessa commented on #841
I'll leave up to @kristinashu and @xmatthewx to decide if we should to those changes on copy or not. I can clean up the list with things that are no longer relevant if you decide to proceed with this issue.

[2018-04-20 00:17] taisdesouzalessa commented on #1405
@sabrinang @kristinashu and I analyzed the pages and came up with 4 basic templates staff constantly use. Here are the diagrams:

[Campaign Page (2 templates)](https://mozilla.invisionapp.com/share/6PH6YDCKSUT#/292486894_Campaign_Template)
[Opportunity Page (2 templates)](https://mozilla.invisionapp.com/share/SEH6YI72GKW#/292486895_Opportunitiy_Page_Template)

@gvn are we missing anything there? P

[2018-04-20 00:48] cadecairos commented on #707
Nope!

[2018-04-20 00:48] #707 closed

[2018-04-20 13:57] alanmoo opened #1434 "Search and destroy use of Mezzanine"
- [x] Fake data generator
- [x] Urls
- [x] Models
- [x] Installed apps

Then run a full copy of the production db, hitting every page to make sure nothing breaks.

[2018-04-20 14:38] #746 closed

[2018-04-20 15:29] beccaklam commented on #1366
@vojtechsedlak I mocked up some tests we could do in the redpen (the wireframe flows near the end): https://redpen.io/p/gz26fa3bd26ec0cb81. Not sure what next steps would be to refine these and get some testing implemented?

[2018-04-20 15:53] xmatthewx commented on #841
thanks. This will be addresses with all the new content jesse and sydette are putting together. i don't think we need to fix it as a separate issues.

[2018-04-20 15:53] #841 closed

[2018-04-20 15:57] xmatthewx commented on #1223
that's an interesting idea @zee-moz, color by issues. I don't think we can tackle this now, but it could be a fun project during mozfest.

[2018-04-20 16:53] sabrinang opened #1436 "Email Component and UX"
@taisdesouzalessa @kristinashu and I chatted about how email appears currently on the site and how we can improve the experience to be more deliberate about our email strategy.

![email component overview](https://user-images.githubusercontent.com/2492510/39062979-45551cba-447e-11e8-9990-a3c746a55e19.jpg)

### **Design**
For the main foundation newsletter, the full-width, gradient treatment is app

[2018-04-20 17:45] gideonthomas commented on #721
@alanmoo ^

[2018-04-20 18:30] kristinashu commented on #1405
Thank you @taisdesouzalessa! This is so helpful to see. Being about to show these explicit rules helps us move away from giving so many options to the admin user and moves us towards baking the options into the template (i.e. campaign pages always have x number of columns).

[2018-04-20 19:57] community-impact commented on #1135
I think we should keep "Be a Fellow" as that encourages folks to read the
rest of the page (or else they may not see the opportunity at the end to
show their interest

On Thu, Apr 19, 2018 at 4:20 PM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2018-04-20 20:06] kristinashu commented on #1065
Migration ✅

Can we close this?

[2018-04-20 20:18] kristinashu opened #1437 "[Wagtail Component] Remove Heading Component"
~If we add H1 to the Paragraph styles #1389 then should we remove the Heading component since a Paragraph component can do everything it can do and more!~

Having fewer components will be easier for people to use and as is Heading component only allows for H1 which isn't useful.

Updated: Only things this ticket needs to do is remove the 'Heading' component.

[2018-04-20 20:46] kristinashu opened #1438 "[Wagtail Component] Figure, Image, Image text, Figure Grid"
@taisdesouzalessa @gvn we should look at these 4 components more holistically and see how we can make them easier to use and better looking.

### Image
- Image (size + alignment)
<img width="1238" alt="screen shot 2018-04-20 at 1 13 57 pm" src="https://user-images.githubusercontent.com/1068783/39072923-ea73c7b0-44a0-11e8-84cd-dae760595788.png">
<img width="780" alt="image" src="https://user-images

[2018-04-20 20:52] kristinashu commented on #1438
I need to think through this more but I think using the Paragraph component would help streamline the `Caption`, `URL`, and `Text` fields into one consistent and flexible field/options. Then it's a matter of the text being below or beside the image.

[2018-04-20 21:37] community-impact commented on #1135
Even if we can't get the email grab embed up, can we flip the button to
unlink from the application and to say "applications are closed" by Mon
please? Thank you.

On Fri, Apr 20, 2018 at 12:57 PM, Amy Schapiro <amyschapiro@gmail.com>
wrote:

[2018-04-20 21:53] stephaniemcv commented on #1436
Sure! (I recognize that I just wrote a large info dump, and I'm happy to sit down and chat if that would be better.)

The main Mozilla Foundation list is "Mozilla" in the [newsletter preference center](https://www.mozilla.org/en-US/newsletter/existing/1821c5b1-0cac-4bcf-94dc-a5b617e25e41). Linked is my master subscription that shows all email programs (active and inactive). Smaller or inactive lis

[2018-04-20 22:03] gvn commented on #1437
I'm fine either way. If we keep the heading we should probably allow people to choose the heading level, otherwise it's not that useful.

[2018-04-20 22:04] kristinashu commented on #1436
Thank you thank you! This is super helpful.

[2018-04-20 22:14] kristinashu commented on #1437
For simplicity, I think we should remove it. We could always rename `Paragraph` to `Text` to make it more generic.

[2018-04-20 22:29] kristinashu opened #1439 "[QA Wagtail] Global Sprint registration script"
While registration for Global Sprint is open, Zannah receives a bunch of submissions which goes into [this spreadsheet](https://docs.google.com/spreadsheets/d/1-JyApZ-AyBd9XX9vRoqX-zP_XHM-nRa-onWqhgtWcRU/edit?usp=sharing). Every few days she runs a script from the doc to generate the code below v. She would then go into Mezzanine and paste this code into the HTML editor to display the list seen on

[2018-04-22 21:31] alanmoo commented on #1135
#1441 Will unlink the application.

[2018-04-22 23:09] alanmoo commented on #1439
I pasted that link into a new pen on codepen.io, then copied the rendered markup and pasted it into Wagtail. I had to enter line breaks again, but if this only has to happen a few more times, it may be easiest to continue doing that/it might take us longer to figure out a long term solution than this week. (It's still something we need to figure out though)

[2018-04-22 23:14] alanmoo commented on #1439
Assigned to Gavin for visibility/consideration about future components.

[2018-04-23 00:01] alanmoo commented on #721
For people, I believe we still need to keep the "featured" flag because it determines if a bio is full-width on the people page. I believe we will eventually be moving to all "people" managed by pulse, at which point the people model as a whole will likely disappear.

For news, I believe we can remove it entirely, no need to preserve it. That model will likely continue to live on and evolve.

[2018-04-23 15:26] TheoChevalier commented on #1426
Thanks for starting this discussion, @kristinashu !

I will take a stab at listing some localization needs for the campaign pages.

**Displaying the most relevant content**
A drop-down like in the footer of www.mozilla.org or the header of www.changecopyright.org would definitely be a good improvement, and would help us scale a little bit.

Another one is coupling this drop-down to some language n

[2018-04-23 16:13] gvn opened #1442 "Remove pug"
- Remove from manifest
- Remove npm tasks
- Remove any lingering pug templates and commit any HTML they previously generated
- Update readme

[2018-04-23 16:37] gvn commented on #1439
So, this is just a bunch of headers with lists of links underneath that needs to be maintained, right?

For now it's probably easiest to hand update things in Wagtail when they change now that it's in there. I think there's a ticket regarding a multi-column list component that would probably make sense to use once it's created.

[2018-04-23 16:47] kristinashu opened #1444 "[QA Pulse Feed] Home page Pulse feed is showing old projects"
Pulse feed on the home page is pulling Featured projects from Pulse Featured but it is showing old projects. It should show the most recent and featured projects.

https://foundation.mozilla.org/
<img width="1293" alt="image" src="https://user-images.githubusercontent.com/1068783/39140941-0291a9de-46db-11e8-95ea-96830814dad9.png">

Should see these projects:
https://www.mozillapulse.org/featured
<

[2018-04-23 16:59] alanmoo opened #1445 "Add Wagtail inventory plugin"
https://github.com/cfpb/wagtail-inventory

This will enable us to search the site for where specific Streamfield components are used. Highly useful as we build out our component system.

I haven't tested this yet, so we should confirm it's an actually useful thing to add before opening a PR.

[2018-04-23 17:08] TheoChevalier commented on #1426
Yes, I think that’s a higher priority

[2018-04-23 17:40] TheoChevalier opened #1446 "Some petitions can’t be signed"
Looks like the last two Facebook petitions can’t be signed, and are displaying “Something went wrong while trying to sign the petition. Please try again later.”

Those don’t work anymore:
https://foundation.mozilla.org/campaigns/facebook-update/
https://foundation.mozilla.org/campaigns/facebook-and-european-parliament/

But I can sign this one without any issue https://foundation.mozilla.org/campa

[2018-04-23 17:57] ScottDowne commented on #1446
Confirmed.

[2018-04-23 17:57] ScottDowne commented on #1446
I wonder if it's related to wagtail migration? Or related to google sheets somehow?

[2018-04-23 17:57] taisdesouzalessa opened #1447 "Update README for foundation.mozilla.org"
### Issue
Now that we have a Wagtail based page (moving away from Mezzanine), we should update the "Read Me" document so people can reproduce the site locally when needed.

I saw the "Read Me" has been updated but I am not positive it is 100% updated yet - I connected with @gvn on that and it seems some parts need to be updated.

@alanmoo assigning you for triage :)

[2018-04-23 18:27] kristinashu commented on #1439
@alanmoo does your codepen suggestion show the list in 3 column? If it does then that's a great short term solution. If it doesn't then I can just add them new locations manually and @gvn can explore how to display the list in 3 columns in https://github.com/mozilla/foundation.mozilla.org/issues/1421.

[2018-04-23 18:53] alanmoo commented on #1439
No, it's still single column.

[2018-04-23 18:57] kristinashu commented on #1439
Ok, I'll close this and just do manual updates.

[2018-04-23 18:57] #1439 closed

[2018-04-23 19:40] #1446 closed

[2018-04-23 21:14] taisdesouzalessa commented on #1135
@community-impact and @alanmoo: considering conversation I had with Alan today on what's possible for this page and also what I read on this thread, here are my suggestions.

We could either add the e-mail address or a button that links to a Google Form, as proposed by Amy. I feel the button to Google form is a better option because the data can then be stored in a spreadsheet for the Fellowships

[2018-04-23 21:31] taisdesouzalessa commented on #1438
@kristinashu is this issue related to the discussion we had today with the figure grid or is it bigger than that?

[2018-04-23 21:40] taisdesouzalessa opened #1450 "[Fellowships Mini Site] link to FAQ is not working"
_Assigning Alan for triage_

### Issue
We currently have 3 links in the mini site that point to the Fellowship Page FAQ. The current links point to:
https://foundation.mozilla.org/opportunity/fellowships/ - which returns a 404 page.

We should point the links to the new Wagtail page:
https://foundation.mozilla.org/opportunity/fellowships-faq/

### Link locations:
https://foundation.mozilla.org/fel

[2018-04-23 21:54] community-impact commented on #1135
Thanks Tais. I'd prefer option #2. I'd recommend changing "be in the loop"
to "Get more info" to reduce any possible confusion for international
candidates with what be "in the loop" means.

If you do approve the button option, please let me know and I can send you
a form

On Mon, Apr 23, 2018 at 2:14 PM, Taís de Souza Lessa <
notifications@github.com> wrote:

[2018-04-23 22:01] auremoser commented on #1135
👍 I like the option 2 version for the [Apply Page](https://mozilla.invisionapp.com/share/BAGJFYP3CN5#/screens/293064308_Applications_CLOSED_-_V3-FellowshipsUI_-_Be_A_Fellow-V2).

I worry that giving people dates will restrict us or might be another thing we could forget to update next year.

Currently, text is:

I might edit the text to say something like the following:

"Sign up" or "Get more inf

[2018-04-23 22:05] kristinashu commented on #1438
We talked about the Figure Grid component but not really the other components how they all fit together.

[2018-04-23 22:08] community-impact commented on #1135
I like Aurelia's recommendation, with the button saying "Get more info"

On Mon, Apr 23, 2018 at 3:01 PM, Aurelia Moser <notifications@github.com>
wrote:

[2018-04-23 22:42] alanmoo commented on #1135
Either of those items are pretty straightforward, but I’m curious if dumping visitors to a google form is the best way of getting them into the funnel for next year- seems like that’s the kind of thing the CRM is perfectly designed for. @stephaniemcv @desiree-mofo might have thoughts

[2018-04-23 23:07] natalieworth commented on #1156
Added some more nav options to a redpen doc here https://redpen.io/p/xsf546746ceb717376 (with rough gif options for V1 and V2 functionality—so will need to view in Chrome 😫).

cc @kristinashu @xmatthewx @jessevondoom @taisdesouzalessa @sabrinang @beccaklam

[2018-04-23 23:10] taisdesouzalessa commented on #1404
Talked to Sabrina about this issue + did some studies on the opportunity pages imagining the scenario: "What if we just had spacing=16px?"

As per @gvn's suggestion, 16px as default seems to be a good place to start with, in order to address @xmatthewx's concern on elements mashed against each other. We already use margin-bottom = 16px in our h1-h6 plus in body copy if I am not mistaken. As you ca

[2018-04-23 23:12] gvn commented on #1404
This will still only be a margin of 16px total due to [margin collapse](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing).

[2018-04-23 23:17] taisdesouzalessa commented on #1404
Learned a new thing today! I was not aware of this margin collapse thing! Thanks @gvn :). I will scratch this part of my comment above.

[2018-04-23 23:25] kristinashu commented on #1404
Love the recommendations @taisdesouzalessa! It will be a massive improvement to have this consistent spacing. Just to be super clear, are you saying we should add 16px both above and below every component (except for Healthy Internet" component)?

[2018-04-23 23:30] taisdesouzalessa commented on #1404
Yep @kristinashu - as default. But we should still allow users (and encourage them) to use the line break  <img width="30" alt="image" src="https://user-images.githubusercontent.com/22157921/39158149-3e0ccb50-4713-11e8-9648-1a69e0acf032.png"> (or hit enter in the keyboard) to add more spaces so we can group related blocks of content (in order to avoid the "example B", which is not great in informa

[2018-04-24 00:54] stephaniemcv commented on #1135
Yes, the long-term vision is to get these interested folks into the CRM. This type of email capture is an interesting challenge as it's very specific to limited messaging about application cycle notification and not a mass marketing/promotional email relationship. This is an issue on docket to address when we begin the Fluxx+Salesforce integration and Fellowship program implementation into Salesfo

[2018-04-24 16:56] gvn commented on #1438
I'd like to get rid of the "size" options entirely since Wagtail can handle image sizing for us.

It'd be nice to drop the alignment options too as much as possible. I feel like a broken record, but we want to keep users focused on content and not layout.

[2018-04-24 17:31] taisdesouzalessa commented on #1438
Agree with the mantra "keep users focused on content not layout"  💯 .

About the image sizes, I think for the "figure grid" it should adjust to the page's grid as we discussed yesterday.

For image + copy (side by side), I think it would be cool if the system could accommodate at least 2 scenarios:

**1. Image on the left + body copy on the right**
<img width="834" alt="image" src="https://user-im

[2018-04-24 17:33] kristinashu commented on #1438
I'm all for removing options but just want to make sure things will look good.

### Listing a few use cases as a starting point:

- **icon**
  - 1 column width
  - always left aligned
  - 1:1 aspect ratio
  - heading + paragraph text could wrap it?
- **small image**
  - 2-3 columns (would need to test to decide)
  - always left aligned
  - 1:1 aspect ratio
  - example: profile pic
- **large image*

[2018-04-24 18:32] kristinashu opened #1453 "[Wagtail UX] Clarify login screen"
When do users need to fill in the Username + PW form? Right now it is very prominent and users don't even notice the Google Signin button. If we don't need the form, can we remove it? If we do need the form, can make is smaller and add language saying when to use the form vs google?

<img width="1106" alt="image" src="https://user-images.githubusercontent.com/1068783/39206450-542c8296-47b2-11e8-8c

[2018-04-24 20:01] alanmoo commented on #1302
Regarding the font size on the homepage featured item: changing this based on the content isn’t a sustainable. I understand that this new size is meant to be the long term size, but there’s nothing in place to prevent a longer title. Do we need to limit that, or better yet @gvn is there a CSS way to dynamically size the text based on the content?

[2018-04-24 20:03] auremoser commented on #1135
Looks good to me, and good catch on the "at right" deletion!

[2018-04-24 21:01] community-impact commented on #1135
Looks good, thought we should change the "apply to be a fellow" menu label as well until applications are open again - @KevZawacki what do you think? Perhaps "How to get involved?"

[2018-04-24 21:11] community-impact commented on #1135
Also here is the link to the form I just created https://docs.google.com/forms/d/e/1FAIpQLSdTUqJ9Z4xdcVr4IMzd9UESqm7XwcpVdrIXDeeFNIHUc_vhvQ/viewform

[2018-04-24 21:14] gvn commented on #1302
This is kind of a fundamental aspect of live/editable text: it's never going to render 100% consistently. We haven't even gotten into localization yet.

If we want print-style control over typography then we need to use SVG. There's no CSS-way to scale text based on content that I am aware of. I've seen JS solutions, but that's a whole can of worms that I'd rather leave closed.

[2018-04-24 22:12] natalieworth commented on #1140
I'll do some benchmarking for it this week @kristinashu :D

[2018-04-25 00:46] acabunoc opened #1454 "Add Open Graph / Twitter Card metadata to Sprint registration page"
Hello hello!

Just got some feedback from @kademorton on the registration page for the Sprint:

I assume this is a wagtail / old cms issue. Let me know if I can help migrate things at all!

[2018-04-25 13:41] KevZawacki commented on #1135
@community-impact 👍 Or simply "Get Involved"

[2018-04-25 16:48] kristinashu commented on #1311
Note for QA: the CTA button on iOS will take 2 taps to activate, since the browser UI pops up and moves it on the first tap. This happens on [change.org campaigns](https://www.change.org/p/join-me-in-asking-l-macaulay-to-end-food-waste-in-canada-whywastefood?source_location=discover_feed) and [airbnb posts](https://www.airbnb.ca/rooms/1012597?s=99qPY-_q) and is _normal_.

cc @alanmoo

[2018-04-25 19:00] taisdesouzalessa commented on #1135
@community-impact here is the mockup with "Get Involved" as a menu label:

[Overview Page](https://mozilla.invisionapp.com/share/BAGJFYP3CN5#/293064311_FINAL_VERSION-_Applications_CLOSED_-_V3-FellowshipsUI_-_Overviewv2)
[Get Involved Page](https://mozilla.invisionapp.com/share/BAGJFYP3CN5#/293064308_FINAL_VERSION-_Applications_CLOSED_-_V3-FellowshipsUI_-_Be_A_Fellow-V2) - we will need to change th

[2018-04-25 20:40] taisdesouzalessa commented on #1135
@community-impact I added some custom images to the form. In this way, the transition between site and form is smoother and the visual identity is preserved.

[2018-04-25 21:43] alanmoo commented on #1454
You can edit the search description and search image under the promote tag on most pages to add that content. (I added an image to the register page so it should show up now). That being said, if nothing's added for a specific page it should inherit the parent, so I'll file a ticket for that.

[2018-04-25 21:46] alanmoo commented on #1450
Mavis, can you change this in the fellowships markup and then when it lands set up a redirect in the wagtail admin for `/opportunity/fellowships/` to go to `/fellowships`?

[2018-04-25 21:48] alanmoo commented on #1413
Assigning to you too @mmmavis in case you can get to it first.