[2022-11-14 22:48] beccaklam opened #9696 "[PNI QA] White space below "related products" on mobile (all browsers)"
There are two large areas of white space below the "dive deeper" and the "related products" section on mobile for product review pages.

https://images.zenhubusercontent.com/76596293/1853e640-3c4f-496d-9f7f-c9b38e297976/screen_recording_2022_11_14_at_1_42_43_pm.mov

[2022-11-14 22:54] beccaklam opened #9697 "[PNI QA] Text flowing behind tabbed section of product review page"
This could be related to the removal of the previous sticky category nav but now you can see text flowing behind the tabbed section of the product review page on mobile. This may be solved once we find a solution for the nav from this ticket: #9589

https://images.zenhubusercontent.com/76596293/fdc3c38c-780a-461a-9a09-f8c650d72029/screen_recording_2022_11_14_at_1_41_09_pm.mov

[2022-11-14 23:21] nancyt1 commented on #9664
This is also happening for some reason, especially when there's line breaks in the paragraph block.

<img width="1680" alt="Screen Shot 2022-11-14 at 12 44 27 PM" src="https://user-images.githubusercontent.com/74557207/201788375-3ad9d74e-fc19-47e4-bb07-74be595a9163.png">

[2022-11-14 23:47] beccaklam opened #9698 "[PNI QA] Missing line between main nav and category nav on mobile"
There is a line missing between the main nav and the category nav on mobile.

**Current:**
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/6a0c1730-39c4-416c-a7ab-51c49b419f99)

**Comp:**
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/23badd70-bfbe-49c9-918f-cc4f10f03b76)

[2022-11-15 04:49] beccaklam commented on #9698
The comp needs some design updates before this should get updated.

[2022-11-15 05:01] beccaklam opened #9701 "[PNI QA] Squiggly underline is missing on tablet (all browsers)"
The squiggly blue underline for the main nav's selected state is missing on tablet. Though, this only applies when the "desktop" views appears on tablet.

**Current:**
![IMG_1E0A1D800B2D-1.jpeg](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/e9cdc223-9dda-42ce-90a1-2f565addda1c)

**Comp:**
![image.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/f4317ad3-db7b-4147-

[2022-11-15 05:04] beccaklam commented on #9693
This appears to only affect about and article pages using the desktop search, if the page is using mobile search (the drop down blue bar), search appears to work?

[2022-11-15 05:07] beccaklam commented on #9659
Adding that this still looks squished on tablet when the desktop design is in use:
![IMG_226DFC1A0631-1](https://user-images.githubusercontent.com/20977376/201831295-45b24b50-e4a1-40af-b081-2097b7485722.jpeg)

[2022-11-15 05:10] beccaklam commented on #9617
Again, using this [spreadsheet](https://docs.google.com/spreadsheets/d/1TYnQFGOZLSJrHGHvnLhJwBaZUcAyOmTbHNcu65WUv_4/edit?usp=sharing) to track QA. Also added outstanding questions the [design dev notes doc](https://docs.google.com/document/d/1opBAnQH_VjG5eHEe7txpkw6QBTeu79S0MWNT5-m7WnE/edit?usp=sharing).

[2022-11-15 09:17] #9078 closed

[2022-11-15 11:07] tomusher commented on #9621
Resolved by #9702

[2022-11-15 11:32] cdanfon commented on #9621
Thanks @tomusher Is this something you can push to staging to be tested by @marcwalsh or do you need a MoFo dev to deploy it?

[2022-11-15 16:46] tbrlpld commented on #9604
@nancyt1 This should now be ready for testing on staging.

[2022-11-15 16:46] tbrlpld commented on #9652
@beccaklam This should now be ready on staging for testing.

[2022-11-15 16:58] tbrlpld opened #9704 "Fix CSS errors and warnings"
## Description

Currently, starting the Docker stack with `docker compose up` shows a bunch of CSS errors/warnings:

[code]

We are working on a transition to Tailwind which should make some CSS use obsolete.
But, this transition has been going on for a while now and is likely to take a bit longer.
Therefore, it would be nice to fix the error messages that we are getting to make the log output a b

[2022-11-15 17:32] cdanfon commented on #8224
@danielfmiranda Please add QA instructions for @mtdenton to QA

[2022-11-15 17:33] cdanfon commented on #9604
@nancyt1 please QA this asap

[2022-11-15 17:33] cdanfon commented on #9652
@beccaklam please QA asap please

[2022-11-15 17:54] beccaklam commented on #9652
Hi, this is looking good! The only thing that is missing is the first acceptance criteria:
"Creepy face shows once the first row of the product grid is visible". Right now the creepy face shows immediately on page load even when the product grid is not visible yet. I think it would be good to hide the face until the grid is visible otherwise it will be out of context. @tbrlpld @cdanfon

[2022-11-15 18:13] tbrlpld commented on #9609
Left two optional questions.

[2022-11-15 18:57] tbrlpld commented on #8015
This is 100% necessary. I find it extremely hard to understand the search code.

[2022-11-15 18:58] tbrlpld commented on #8015
Also follow up to #9553

[2022-11-15 19:02] tbrlpld commented on #8015
I would like to propose to make the search a individual template fragment that can be included multiple times on a page (e.g. for mobile and desktop). We can pass an id into the fragment.

Similarly, all JS should be generic and only need the id used for the fragment to instantiate a new search bar.

[2022-11-15 19:09] tbrlpld commented on #9652
@beccaklam Would you consider that a release blocker? Otherwise, can you create a follow up ticket?

[2022-11-15 19:13] tbrlpld commented on #9553
I have tried cleaning this up, but it turns out to be more work than expected. Looks like a refactor has been needed for a while: https://github.com/mozilla/foundation.mozilla.org/issues/8015

I am moving forward with this as is, but would propose to follow up with #8015 as soon as possible.

[2022-11-15 19:15] beccaklam opened #9705 "[PNI QA] Change PNI creepy face to show only when product grid appears (follow up ticket)"
Since this was not a release blocker, creating this follow up ticket to get the following change implemented which was leftover from #9652

**Acceptance criteria:**

- [ ]  Creepy face shows once the first row of the product grid is visible

[2022-11-15 19:17] tbrlpld commented on #9652
Yes please.

[2022-11-15 19:25] tbrlpld commented on #9604
@nancyt1 Have you had a chance to look at this one?

[2022-11-15 19:25] tbrlpld commented on #8224
@danielfmiranda This is still missing QA instructions

[2022-11-15 19:26] danielfmiranda commented on #8224
Hi @tbrlpld apologies for the delay, I noticed a small bug that I am creating a PR for, will be up very shortly

[2022-11-15 19:27] tbrlpld commented on #9691
@kristinashu This is on staging ready for testing.

[2022-11-15 19:27] tbrlpld commented on #9553
@beccaklam This is on staging ready for testing.

[2022-11-15 19:36] nancyt1 commented on #9604
yes, looks good to me! @danielfmiranda

[2022-11-15 20:06] kristinashu commented on #9691
This looks good on staging and is ready for prod!

[2022-11-15 20:22] danielfmiranda commented on #8224
Steps to test:

1. Visit a page that is using the "recent_blog_entries" block, such as https://foundation.mofostaging.net/cms/pages/19418/edit/
2. Scroll down to the recent_blog_entries block, and take a look at the choices for the blog topic filter:
<img width="1844" alt="Screenshot 2022-11-15 at 12 21 08 PM" src="https://user-images.githubusercontent.com/18314510/202017793-2423fc5c-c6ec-4432-83e

[2022-11-15 20:47] tbrlpld commented on #8224
@danielfmiranda I have tested and this seems to work.

[2022-11-15 20:51] mtdenton commented on #8224
Same, looks good from here.

[2022-11-15 21:09] beccaklam commented on #9553
This looks good to me!

[2022-11-15 21:26] #9672 closed

[2022-11-15 21:26] #9673 closed

[2022-11-15 21:26] #9553 closed

[2022-11-15 21:26] #9652 closed

[2022-11-15 21:26] #8224 closed

[2022-11-15 21:26] #9604 closed

[2022-11-15 21:26] #9691 closed

[2022-11-15 22:09] beccaklam commented on #9616
Added tags today, waiting for #9670 to be pushed to prod to check if we set up the metrics properly.

[2022-11-15 22:30] mmmavis opened #9707 "Fix npm errors shown in `docker-compose up`"
### Describe the bug
Getting npm errors from running `docker-compose up`

### To Reproduce
Steps to reproduce the behavior:

1. check out `main` locally
2. run `inv new-env`
3. run `docker-compose up` and wait
4. notice the npm errors towards the end of the log

### Expected behavior
No npm errors.

### Screenshots
[code]

[2022-11-15 22:36] mmmavis commented on #9707
Looks like `network-api/networkapi/frontend` directory is missing.

[2022-11-15 23:03] kristinashu commented on #9512
Thank you so much Nancy & Becca! Sorry I wasn't able to help with this.

[2022-11-15 23:03] #9512 closed

[2022-11-15 23:16] danielfmiranda commented on #9609
Hi @nancyt1! This is now on staging and ready to be tested if you would like to take a look. Thanks!

[2022-11-16 09:20] #9705 closed

[2022-11-16 17:34] cdanfon opened #9708 "Creat a GitHub action to add 'needs grooming' label to any ticket added to the repo"
TASK: action being added to GitHub

The requirement is that every time a ticket gets added to the repo the label 'needs grooming' automatically gets added.

**Context**:

In the 'Backlog' column currently, there's no way of defining if the ticket has or has not been groomed. This would make tracking tickets that need to be groomed easier when looking at ZenHub.

By automatically adding the label t

[2022-11-16 17:53] beccaklam opened #9709 "[PNI] SPIKE | Image Deferment"
Placeholder ticket to address slow loading on PNI. Some recorded pain points:

    [Nancy] +1, especially when you click a category page from About or Articles. Usually loading is fine from the homepage or product reviews page +1

    [Kristina] I’m getting this really bad on my phone in Chrome

cc: @mtdenton

[2022-11-16 19:38] kristinashu opened #9710 "[PNI QA] Fix hover state color in the Newsletter signup button after voting"
### Describe the bug
Hover state for both the "Sign up" and the "No thanks"  buttons are incorrect.

### To Reproduce
Steps to reproduce the behavior:
1. Go to a product page https://foundation.mozilla.org/en/privacynotincluded/eufy-robovacs/
2. Vote on the creepiness of the product
3. See Newsletter sign up prompt (note that you will only see this is it's your first couple of times voting)
4. Hov

[2022-11-16 20:17] kristinashu opened #9712 "[PNI QA] Search is showing different results depending on where you search from"
Related to https://github.com/mozilla/foundation.mozilla.org/issues/9693 & https://github.com/mozilla/foundation.mozilla.org/issues/9553

### Describe the bug
Searching for `amazon` on the Product Reviews page shows:

<img width="600" alt="image" src="https://user-images.githubusercontent.com/1068783/202784502-c8772176-e9c4-45c6-870e-7a33d3299fa4.png">

while searching for `amazon` on the Articles

[2022-11-16 20:19] kristinashu commented on #9693
I believe this was addressed in https://github.com/mozilla/foundation.mozilla.org/issues/9553 but there are still some issues so here's follow up ticket https://github.com/mozilla/foundation.mozilla.org/issues/9712

@nancyt1 @beccaklam please reopen this ticket if I'm wrong!

[2022-11-16 20:19] #9693 closed

[2022-11-16 20:58] mtdenton commented on #9712
@cdanfon @fessehaye Let's make sure we get this groomed up first thing Monday.

[2022-11-16 22:19] mtdenton commented on #9695
related to #9709

[2022-11-16 22:33] mtdenton commented on #9696
Duplicate of #9651 , closing

[2022-11-16 22:33] #9696 closed

[2022-11-16 23:20] kristinashu commented on #9709
Could this be related to https://github.com/mozilla/foundation.mozilla.org/issues/9545?

[2022-11-16 23:30] mmmavis opened #9714 "ReferenceError when visiting PNI Articles pages"
### Describe the bug
ReferenceError when visiting PNI Articles pages

### To Reproduce
Steps to reproduce the behavior:
1. Open browser's dev tool
2. Visit https://foundation.mozilla.org/en/privacynotincluded/articles/
3. See `ReferenceError` in console

### Expected behavior
No ReferenceError

### Screenshots
<img width="712" alt="image" src="https://user-images.githubusercontent.com/2896608/2023

[2022-11-16 23:31] beccaklam commented on #9589
First draft of the designs can be found in this [redpen](https://redpen.io/p/wy75eeaf54e8ebcc04) @kristinashu @nancyt1 let me know your thoughts!

[2022-11-16 23:37] mmmavis commented on #9714
@mtdenton @cdanfon Apologies as I'm probably hijacking the usual ticket triage flow. I just created this ticket and self-assigned myself. I have the fix and will submit a PR once I figure out my GitHub SAML SSO setting. Please help apply the right Zenhub tags to this ticket. Thank you.

[2022-11-16 23:41] mtdenton commented on #9709
Lack of deferment may be part of it, but @tbrlpld thinks the root cause is more likely to be inefficient database querying.

[2022-11-17 12:19] cdanfon commented on #9714
Hey @mmmavis thanks for this.

I've assigned the sprint label and moved the ticket to 'in progress'

[2022-11-17 13:39] cdanfon commented on #9621
Thanks Marc, @danielfmiranda @tbrlpld moving this to ready for production

[2022-11-17 13:43] cdanfon commented on #8013
@marcwalsh ready for you to test!

[2022-11-17 13:44] cdanfon commented on #9436
@marcwalsh ready for you to test!

[2022-11-17 14:44] tbrlpld commented on #9709
@kristinashu #9545 was why I asked is the above issues were occurring in logged-in state, but @beccaklam had clarified that the issues described above happen when not-logged-in.

[2022-11-17 15:10] tbrlpld commented on #9709
This might get more tricky (so good thing it's a spike), because I just had a look and `loading="lazy"` is already defined. But, it also does not appear to be respected. When I load the page all images get loaded before the JS is loaded. Something is off here.

<img width="2030" alt="Screen Shot 2022-11-17 at 07 06 40" src="https://user-images.githubusercontent.com/24797493/202482525-62191559-aee6

[2022-11-17 17:21] nancyt1 commented on #9616
Most IDs are in staging, Daniel is still working on one of them, but the tags are now all published in GTM thanks to Tyler. So after the IDs are on prod the tags should all be working!

[2022-11-17 18:21] danielfmiranda commented on #9609
This has been tested together with design and they confirm that the classes/ google tag manager is working as expected. Closing!

[2022-11-17 18:29] danielfmiranda commented on #9645
Just tested this on staging and can confirm that it is working! moving to next lane

[2022-11-17 21:17] tbrlpld commented on #9215
Pulling this into the sprint because I have some time after finishing my tickets and this will make all future work less painful.

[2022-11-17 21:20] tbrlpld commented on #9215
Since we are not going to have DevOps support for a while, we can go with the custom GitHub action for now. I had already explored what that could look like in https://github.com/mozilla/foundation.mozilla.org/pull/9494.

I will push that further to make it fully functioning.

If we want to switch the approach in the future, switch to a different org and fully activate the Heroku-Github integratio

[2022-11-17 21:35] beccaklam commented on #9589
Updates based on crit this morning are now in the [redpen!](https://redpen.io/p/wy75eeaf54e8ebcc04) @kristinashu @nancyt1

[2022-11-17 22:07] #9698 closed

[2022-11-17 22:19] beccaklam opened #9717 "[PNI] Create 'Reflections' Deck"
**Goal:**
Create PNI reflection/retro deck and perhaps create a template for retro/reflections based the deck previously created for the YouTube retro.
- [ ] Create deck based on YouTube deck
- [ ] Add as much content as possible for now
- [ ] Get feedback from design
- [ ] Share with larger team?

[2022-11-17 22:24] beccaklam opened #9718 "[PNI] Dev support & QA"
Placeholder ticket for the time it will take to QA any PRs devs need support on this sprint.

[2022-11-17 22:28] beccaklam opened #9719 "Refine YouTube Recap Deck"
**Goal:**
Refine YouTube recap deck to have more understandable metrics
- [ ] Remove analytic screen caps and describe metrics with more actionable/
"why should I care" framing
- [ ] Apply framing to PNI deck

[2022-11-17 22:29] beccaklam commented on #9612
Sorry for the hold up! This looks good to go!

[2022-11-17 22:33] beccaklam commented on #9709
@tbrlpld Oh that makes sense. I do have a memory of our old back end devs implementing something that sounded like lazy loading so I was a bit confused about what happened to that work.

[2022-11-17 22:34] kristinashu commented on #9491
This is working very nicely! Ready for prod!

[2022-11-17 22:49] kristinashu commented on #9436
It might just be that I'm tired but I don't see the block on staging? What is it called?

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/1068783/202576482-0215862e-4038-41ef-9121-ff2ae6f26fd3.png">

[2022-11-17 23:24] tbrlpld commented on #9215
#9494 is now cleaned up and ready for review.

[2022-11-17 23:27] kristinashu commented on #9589
@beccaklam desktop is looking good to me. Are there new mock-ups for mobile?

[2022-11-17 23:28] kristinashu commented on #9617
I _think_ this is done?

[2022-11-17 23:29] danielfmiranda commented on #9436
Hi @cdanfon! While the PR for this ticket has been approved, it actually has not been merged into the codebase yet as there are a couple merge conflicts waiting to be fixed. Once those are done we can then merge and push to staging!

[2022-11-17 23:38] tbrlpld commented on #9392
Moving this back into the sprint because I have some time.

[2022-11-17 23:40] nancyt1 commented on #9589
Desktop looks good to me too!

[2022-11-17 23:42] beccaklam commented on #9589
@kristinashu Just added the screens!

[2022-11-17 23:46] danielfmiranda commented on #9642
Hi @cdanfon this is now on staging and ready to be tested!

# Acceptance Criteria

- [ ] As a user, if I navigate to a given page in a language (such as English), it should provide the same sign-up snippet on all  other localized versions.
EX:
[mozillafestival.mofostaging.net/en/proposals/](http://mozillafestival.mofostaging.net/en/proposals/) vs. [mozillafestival.mofostaging.net/fr/proposals/](ht

[2022-11-17 23:47] danielfmiranda commented on #9642
Just tested this out myself and seems to be working as expected 👍

[2022-11-17 23:50] kristinashu commented on #9589
Looks good!

[2022-11-18 09:10] tomusher commented on #9436
I've resolved those conflicts so this should be ready to merge now @danielfmiranda

[2022-11-18 10:10] cdanfon commented on #9642
Looking good, nice one @danielfmiranda !

[2022-11-18 12:05] ArshErgon commented on #9707
can you assign me?

[2022-11-18 14:10] #9585 closed

[2022-11-18 14:16] cdanfon commented on #7996
Hey @tomusher can you pick this ticket please?

[2022-11-18 16:46] kristinashu commented on #9659
Design will mock this up and then open a new ticket for dev implementation.

[2022-11-18 16:46] kristinashu commented on #9650
Design will audit and mock this up and then open a new ticket for dev implementation.

[2022-11-18 16:48] kristinashu commented on #9640
Design will mock up an extreme edge case and then work closely with a dev to figure out the best approach.

[2022-11-18 17:25] danielfmiranda commented on #8013
Tested this on staging and everything looks good to me 👍

[2022-11-18 17:33] beccaklam opened #9720 "[PNI] Implement sticky nav"
Implementation ticket for design ticket #9589

### Goal Description:
Implement sticky nav functionality for PNI's category nav

### Links
[Figma File](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=5171%3A93008&t=qIBGqUXhA8SnRb7n-1)
[Redpen](https://redpen.io/p/wy75eeaf54e8ebcc04)

### Acceptance Criteria:
- [ ] As a user I can see the full PNI nav on page

[2022-11-18 17:34] beccaklam commented on #9589
Created implementation ticket #9720. Plan is to gather feedback from the dev (probably @fessehaye?) before they begin implementation.

[2022-11-18 17:34] #9589 closed

[2022-11-18 18:18] beccaklam opened #9721 "[PNI] Finish setting up PNI dashboard"
Follow up ticket to #9616

Once PNI IDs have been pushed to prod, we need to check if the dashboard is connected and working properly.

**Goals**
- [x] Check [dashboard](https://datastudio.google.com/reporting/868245f5-7732-4fa3-a7f3-dd8f39f6666a/page/y8efC)
- [x] Get feedback from design
- [x] Get feedback from stakeholders
- [x] Share in pni production channel

[2022-11-18 18:19] beccaklam commented on #9616
Created follow up ticket #9721 since the PNI IDs did not get pushed to prod in time for us to check the dashboard this sprint.

[2022-11-18 18:19] #9616 closed

[2022-11-18 19:08] tbrlpld commented on #9712
@beccaklam I think something went wrong when uploading the example images, because the results look the same to me.

[2022-11-18 19:18] #9617 closed

[2022-11-18 19:20] tbrlpld commented on #9563
Sentry example error: https://sentry.io/organizations/mozilla/issues/3667651227/?environment=Staging&query=is%3Aunresolved&referrer=issue-stream

I was attempting to translate a profile.

Here is the traceback:
[code]

[2022-11-18 20:08] tbrlpld commented on #9563
I am having trouble recreating this issue locally with fake date (`inv new-db`).

[2022-11-18 20:25] beccaklam opened #9722 "[PNI] Change 'Submit a product' link to new Typeform"
Out of an abundance of caution, the security team at Mozilla is recommending we review and turn off data collection on Google Forms because of a bug where old Google forms have leaked information submitted by form responders through their URL shorteners.

So we've created a Typeform to replace the google form "Submit a product" link that needs to be updated on the site.

![Screenshot 2022-11-18 at

[2022-11-18 20:41] tbrlpld commented on #9563
I can reproduce with staging data.

[2022-11-18 20:51] tbrlpld commented on #9563
May be related: https://github.com/wagtail/wagtail-localize/issues/591

[2022-11-18 20:56] danielfmiranda commented on #9551
Hi @TheoChevalier!

After trying to test this, I found that I am having a hard time replicating this.

I was wondering if you could please leave some steps on how to get the English versions of the related article pages to show on the French page?

Whenever I try, nothing appears for the French page at all, even after sycing the translations of the Product Category after making any changes, as wel

[2022-11-18 20:57] tbrlpld commented on #9563
Ok, it works when I create a new profile in english locale, edit english page and create connection to the new profile, then sync the translations and publish the translated pages, then go to edit the translated page and click the translate button on the new profile.

So there is some issue with existing data.

[2022-11-18 21:12] tbrlpld commented on #9563
I think there might be an issue with existing profiles that don't have the "introduction" field populated.

[2022-11-18 21:22] tbrlpld commented on #9563
PR #9029 makes this field required, as a request from @nancyt1. @danielfmiranda Has implemented that change.

@nancyt1 @danielfmiranda Can you add some context why this change to the Profile model was necessary? Especially considering that the rendering is checking if the profile has an introduction.

@TheoChevalier Is it acceptable as a workaround to add intros to the profiles that need translati

[2022-11-18 21:33] tbrlpld commented on #9722
@beccaklam "Could this form be made into a lightbox so people don't end up leaving our site?" is not really an acceptance criterion and will increase the amount of work.

Might be worth a separate ticket.

[2022-11-18 21:42] danielfmiranda commented on #9563
Hi @tbrlpld As far as I know, I don't believe the change was necessary but asked to be introduced as a way to promote that Authors add an introduction to their profile.

But since the front end is not rendering any profiles without an introduction set, and there is also help text in the CMS letting users know that their profile will be hidden until there is an introduction, I think it is safe to m

[2022-11-18 22:13] beccaklam opened #9724 "[PNI] Make Typeform a lightbox"
Follow up ticket to #9722

Goal: Make the "Submit a product" typeform link a light box so people don't have to leave our site to submit a product review recommendation.

Tyler found information on implementation [here](https://www.typeform.com/help/a/embed-your-typeform-360029249212/#h_01FKFTT9N3YHW4C6VEWT7R9C48) under "Popup".

`<button data-tf-popup="oWfci8Ee" data-tf-iframe-props="title=PNI Pro

[2022-11-18 22:15] beccaklam commented on #9722
@tbrlpld Yup I made a follow up ticket here: #9724!

[2022-11-18 22:18] mtdenton opened #9726 "[FRU] Add Fundraise Up JavaScript snippet"
In order to test and utilize Fundraise Up capabilities, we'll need to add the following snippet globally into the `<head>` of our pages:

[code]
Our CSP directives will also have to be updated to allow these scripts to load on the page. Details can be found [here](https://help.fundraiseup.com/can-fundraise-up-be-used-on-a-site-with-a-csp)

A nonce attribute will need to be added to the opening `<s

[2022-11-18 22:41] mtdenton opened #9727 "[FRU] Change "Donate" link in the global primary nav"
In order to do a soft production test of Fundraise Up, we'll need to change the "Donate" link in the global primary nav to the following:

***Final URL needed here***

We will push this to production as part of a larger coordination effort when the time comes, more details to come.

### Dev Tasks:
- [ ] Update the `href` attribute for the Donate link in the primary nav to ***Final URL needed here*

[2022-11-18 22:47] mtdenton opened #9728 "[FRU] Revert "Donate" link changes in the global primary nav"
We need to revert the PR that changes the link for "Donate" in the primary nav.

Dev Tasks:
- [ ] Revert the changes from #9727

Acceptance Criteria:
- [ ] As a User, if I click on the "Donate" link in the primary nav, I'm taken to https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_campaign=fmonav&utm_content=header

[2022-11-19 00:17] tbrlpld commented on #9697
@beccaklam This is ready for QA on staging: https://foundation.mofostaging.net/en/privacynotincluded/garmin-epix/

[2022-11-21 13:23] kevinhowbrook commented on #9601
This is ready for code review here https://github.com/mozilla/foundation.mozilla.org/pull/9739

Thanks

[2022-11-21 13:55] cdanfon commented on #9436
Hey @tbrlpld & @danielfmiranda can you check if this has been deployed to prod? From the ticket status (closed) I'd assume so, but @marcwalsh cannot see it on the prod environement. Thanks!

[2022-11-21 14:49] tbrlpld commented on #9436
@cdanfon I think this was accidentally closed through the PR on Friday. Should be on staging, but no production deployments since.

[2022-11-21 15:23] mtdenton commented on #9637
@beccaklam happy to put in some thought work on this during this sprint, I'll give you a shout

[2022-11-21 16:28] kevinhowbrook commented on #9602
This is ready to code review here https://github.com/mozilla/foundation.mozilla.org/pull/9741

Thanks

[2022-11-21 17:00] tbrlpld opened #9742 "Testing the new issue label workflow"
This should get the "needs grooming" label.

[2022-11-21 17:02] tbrlpld commented on #9708
@mtdenton Looks like some rule on the organization is preventing action created in #9730 from working.

I guess we could fork the action to get that working.

[2022-11-21 17:16] #9742 closed

[2022-11-21 19:09] nancyt1 commented on #9717
Opened [ticket](https://github.com/MozillaFoundation/Design/issues/1108) in other repo

[2022-11-21 19:09] #9717 closed

[2022-11-21 19:09] #9719 closed

[2022-11-21 19:09] cdanfon commented on #9709
**[TIMEBOX TO 2 HOURS]**

**GOAL**: understand the reason why is not currently working and create a follow ticket with the steps to fix it.

[2022-11-21 19:12] cdanfon commented on #9392
The PR contains further info about a bug that has been encountered

[2022-11-21 19:12] tbrlpld commented on #9392
There is a bug that can fail when the page is first created, because there is no parent that can be retrieved at that point.

[2022-11-21 19:19] cdanfon commented on #9607
Moving this to the backlog as currently is not easy to reproduce

[2022-11-21 19:22] beccaklam commented on #9697
This is good to go! Thank you @tbrlpld !

[2022-11-21 19:33] kristinashu opened #9743 "[PNI] Open external links in a new tab"
PNI has a lot of external links to provide our information sources and for further reading. Most of these links open within the same tab as PNI which makes it look like there's a higher bounce rate and lower time spent on the page even though it's actually a really good engagement if people want to learn more. Making external link open in a new tab will give more accurate analytics.

### AC
- [x]

[2022-11-21 19:35] cdanfon commented on #9545
**GOAL**: Create a performance analysis of the grid view and understand how we can improve the load time. Create a follow-up ticket with a list of steps/dev tasks.

**[TIMEBOX to 4 HOURS]**

[2022-11-21 19:45] cdanfon commented on #8927
Simon has been tagged to do cover on Thus/Friday as Daniel will be out

[2022-11-21 19:45] cdanfon commented on #8927
Simon has been tagged to do cover on Thus/Friday as Daniel will be out

[2022-11-21 19:51] cdanfon opened #9744 "Deploy duty"
Ongoing ticket to deploy work to production.

**When?**

**Tuesday** morning (and potentially other times).

Be on the look out for other times when there is work in the "Ready for production" column and a deployment is not blocked by untested work in the "QA" column. That is a good time to deploy to production.

**Steps**

- Before deploying, check that all work on main is on staging, has been QA

[2022-11-21 21:53] tbrlpld commented on #9215
@fessehaye @danielfmiranda @mmmavis Just tagging you all for review of PR #9494

[2022-11-21 22:39] #9697 closed

[2022-11-21 22:39] #9642 closed

[2022-11-21 22:39] #9612 closed

[2022-11-21 22:39] #9645 closed

[2022-11-21 22:39] #9609 closed

[2022-11-21 22:39] #9621 closed

[2022-11-21 22:39] #9491 closed

[2022-11-21 22:46] mmmavis commented on #9708
Alternatively, we can update GitHub ticket templates in the repo to always include the `needs grooming` label. Though this is not as nice as having GitHub action set up.

[2022-11-21 22:49] tbrlpld commented on #9708
@mmmavis That actually sounds like the simpler solution 🤔 I think the only place this fails is when issues are created through the Zenhub interface. I am not sure that uses the GitHub issue templates.

[2022-11-21 23:03] beccaklam commented on #9614
Nancy and I have some first draft of ideas started. Here is a [redpen](https://redpen.io/p/fd895c99eaea7d6ede) link tracking our progress.

[2022-11-21 23:04] beccaklam commented on #9614
Oops, I meant to post that previous comment last Friday! ^ Anyway, @kristinashu would we be able to get some design feedback? I think next steps could be we chat about the designs at the PNI check in this Wednesday to gather feedback from Jen and the devs.

[2022-11-21 23:20] beccaklam commented on #9614
@kristinashu Nancy has PTO on Wed so I've scheduled a quick meeting tomorrow for us and Simon to go through these designs.

[2022-11-21 23:40] beccaklam commented on #9637
@mtdenton That would be great, thank you!

[2022-11-22 10:42] cdanfon commented on #9436
@tbrlpld Hey Tibor, just to check - if closing a PR does that mean the ticket automatically gets closed?

[2022-11-22 13:42] mtdenton commented on #8626
@cdanfon interested to hear more about this and how it may have evolved since earlier this year.

[2022-11-22 14:06] mtdenton commented on #7862
Surprisingly, still relevant a year later. I'm sending this up to the top of the backlog.

[2022-11-22 14:07] mtdenton commented on #7963
@TheoChevalier is it safe to close this issue?

[2022-11-22 14:12] mtdenton commented on #9743
@mmmavis considering this was unplanned, feel free to pull #9603 from your sprint if you feel that you have too much.

[2022-11-22 14:33] TheoChevalier commented on #7963
@mtdenton Only if we don’t plan on doing https://github.com/mozilla/foundation.mozilla.org/issues/7958 anymore

[2022-11-22 14:47] cdanfon commented on #8626
Hey @tbrlpld unfortunately this is something that hasn't really evolved that much since then. A good candidate for one of the maintenance days!

[2022-11-22 14:49] cdanfon commented on #9708
That's a good point @tbrlpld I've just checked and it doesn't:

<img width="569" alt="Screenshot 2022-11-22 at 14 49 19" src="https://user-images.githubusercontent.com/102978346/203344545-9866d940-ba8e-43ec-a581-45e3bc2c4437.png">

[2022-11-22 14:55] cdanfon opened #9746 "Update GitHub templates to include 'needs grooming' label by default"
This is a follow-up ticket from [Create a GitHub action to add 'needs grooming' label to any ticket added to the repo #9708
](https://github.com/mozilla/foundation.mozilla.org/issues/9708)

The requirement is to update the following GitHub templates to include the label 'needs grooming' by default:

- Design to Dev Handoff
- Bug report
- Code cleanup
- Implementation issue
- Feature request
- Desi

[2022-11-22 14:55] cdanfon commented on #9708
I've gone ahead and created a follow up ticket from this one #9746

[2022-11-22 15:50] tbrlpld commented on #9436
@cdanfon It does when there is a keyword used to signify that it does close the issue, like `closes #9592`. Other keywords are `resolves`, `fixes` etc.

I had updated the PR template to **not** include these keywords anymore to make sure PRs fit into out overall workflow.

See also : https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-

[2022-11-22 15:51] tbrlpld commented on #9436
Wow.. did not notice I accidentally closed it yesterday too...

[2022-11-22 15:52] tbrlpld commented on #8626
@cdanfon I think you meant to mention @mtdenton

[2022-11-22 15:52] tbrlpld commented on #8626
Why is this unplanned? @cdanfon

[2022-11-22 15:54] cdanfon commented on #8626
Oh yes I did!

This is not planned into any sprints right?

[2022-11-22 16:03] mtdenton commented on #8626
Regardless, I really like the idea of dredging this one up out of the backlog, seems like a perfect candidate for Maintenance Day™

[2022-11-22 19:01] tbrlpld commented on #8626
Agreed, this would be good for a maintenance day.

I am a bit confused about having a Milestone. I was under the impression that we wanted to use Epics instead. Has this changed again?

[2022-11-22 19:07] mtdenton opened #9747 "[FRU] Add Apple Pay Verification Files"
For the foundation stack, we need to add two Apple Pay Verification files to the /.well-known directory in order to enable Apple Pay for foundation.mozilla.org and mozillafestival.org.

We can accomplish this by taking the contents of the files provided by Fundraise Up and saving them as environment variables in Heroku, then selecting which to serve based on the base URL of the request.

@mtdenton

[2022-11-22 20:52] mmmavis commented on #9746
- Existing templates can be found  https://github.com/mozilla/foundation.mozilla.org/tree/main/.github/ISSUE_TEMPLATE
- GitHub regarding how to create issue template: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2022-11-22 22:31] #9708 closed

[2022-11-22 22:32] tbrlpld commented on #9708
I have remove the failing workflow in #9749

[2022-11-22 22:32] tbrlpld commented on #9540
@beccaklam This is ready for QA on staging.

[2022-11-22 22:32] tbrlpld commented on #9540
@beccaklam This is ready for QA on staging.

[2022-11-22 22:34] tbrlpld commented on #9215
Looks like I forgot to fetch before push 😓

https://github.com/mozilla/foundation.mozilla.org/actions/runs/3527479856/jobs/5916589418#step:6:9

[2022-11-22 23:14] tbrlpld commented on #9540
@beccaklam To QA this, you will have to add related articles to the category you want to test and then load that categories page.

The toggle between the categories does not work yet, meaning the related articles will remain the same when you switch categories. The articles should update with the category only on page refresh. The dynamic switching of the related articles is part of #9541.

[2022-11-22 23:51] beccaklam commented on #9540
Hi @tbrlpld this is working and looking mostly as expected! One small thing, can you increase the padding for desktop and mobile to 1.875rem? Currently it's 1rem but in the figma comp the padding is supposed to be 30px.

[2022-11-23 10:53] cdanfon commented on #8626
Hey @tbrlpld

Agreed we should use Epics for projects, such as PNI, Blog improvements etc.

Using the Maintenance milestone is a way of having an ordered backlog for Maintenance tasks in a different place other than the main board but that is not necessarily a project itself (such as PNI for example).

This is a one-off instance where we use milestones. The idea is that each quarter we will have a

[2022-11-23 11:08] cdanfon commented on #9088
Hey @kristinashu @nancyt1 this is now on staging and ready for review.

@fessehaye do you mind tagging the reviewer in a comment for visibility? Otherwise it could be missed.Thanks!

[2022-11-23 15:21] tbrlpld commented on #9540
@beccaklam Yea, we can update this. I was not sure where in Figma I could measure/find that padding. It seems to mix with the gap between the cards.

Just wondering, should we make this 2rem (32px)? 1.875 rem does not seem to show up in the design system spacing scale: https://www.figma.com/file/JT9Dvdyc96AqQ3HJlnA9Qq/WIP-Mozilla-Foundation-Design-Style-Library?node-id=1737%3A1115&t=Wgszlt8rMDSwgA

[2022-11-23 15:26] tbrlpld commented on #8626
If the ordered list is the reason for the Milestone, Epics have that ability too:

E.g. see the list of issues in here:
https://app.zenhub.com/workspaces/mofo-engagement-585335eab729771d0736378d/issues/mozilla/foundation.mozilla.org/8801

The ordering is done on the board and is synced between board and the list. E.g. see this.
https://app.zenhub.com/workspaces/mofo-engagement-585335eab729771d0736

[2022-11-23 16:05] tbrlpld commented on #9556
When the frontend container starts, it runs `npm run watch`.

`"watch": "wait-on [http://backend:8000/cms](http://backend:8000/cms) && run-s build:clean && run-p build:js:dev build:common watch:**"`

- `wait-on` - Waits till the backend container can be reached
- `build:clean`
    - `shx rm -rf network-api/networkapi/frontend && shx mkdir -p network-api/networkapi/frontend/_js` — Deletes a directo

[2022-11-23 16:16] tbrlpld commented on #9556
Some other notes:

- Should we split build and clean steps / scripts. Maybe have a shorthand command to clean and then build? Or maybe it’s not that bad that the build script automatically cleans, but the individual build commands should be reachable separately. I think the clean scripts should also be separately and run during the clean step.

- PostCSS uses the Tailwind plugin  while we also run

[2022-11-23 16:32] beccaklam commented on #9540
@tbrlpld 2rem sounds good to me 👍

Looks like you can find the padding if you go to the 'Inspect' panel in figma and select the component in question:

![Screenshot 2022-11-23 at 8 29 38 AM](https://user-images.githubusercontent.com/20977376/203599310-f938da29-4faa-40ba-90f8-8e5b874cf11e.png)

[2022-11-23 17:00] tbrlpld commented on #9540
Thanks @beccaklam

I guess I must have been looking at the wrong instance of the component.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/24797493/203605731-76adb5a7-a7b0-49e6-8715-23d41ba7f4a6.png">

[2022-11-23 17:06] tbrlpld commented on #9540
Ah true. I guess I a was looking only vertical 🤦‍♂️

[2022-11-23 17:52] TheoChevalier commented on #9563
Sorry for the delay — I think it’s totally fine yes, I also think (from the top of my head) that the intro line is currently the only one worth localizing, the other field being the author name itself?

[2022-11-23 18:14] kristinashu opened #9752 "[Epic] Responsible Computing"
After an initial meeting with the stakeholder Joycelyn, I outlined [these options](https://docs.google.com/presentation/d/1KubVG6xo7YNMntah75x9JwfCgdbHlGVeOlFLAhGwkVY/edit#slide=id.p). She is happy to use our existing CMS capabilities to create the Program hHub and then to make a copy the Research Hub for the Library (aka Playbook Curriculum).

### Preliminary Timeline
- Project kick-off  in Janua

[2022-11-23 19:46] tbrlpld commented on #9215
This is still not working 😓

[2022-11-23 21:50] tbrlpld opened #9757 "[PNI] Translating content categories leads to server error"
## Description

This is a follow up to #9563.

When trying to translate a buyer's guide content category a server error occurs.

To reproduce:

* Visit the admin
* Go to the "buyer's guide content category" snippet screen
* Create a new category
* Try to translate the newly created category
* See error

[code]

I suspect this error has something to do with the unique constraint on the slug and the

[2022-11-23 21:54] tbrlpld commented on #9563
I am creating a follow up ticket for the categories because it seems a bit more involved.

#9757

[2022-11-23 21:57] beccaklam opened #9758 "[PNI] Show editorial content below product grid on homepage"
Original design ticket: #9614
[Figma File](https://www.figma.com/file/GwdoUiY4fzVyeLfXsAJGPq/*Privacy-Not-Included-Website?node-id=5289%3A99562&t=hQFivFXMHL7fbSR2-1)

Context: We are adding back in the editorial content that was hidden during the launch of PNI. The content was originally hidden as a quick fix to move the product reviews up on the home page. We want to add the content back in becau

[2022-11-23 21:59] beccaklam commented on #9614
Devs and Jen have said that this design should be okay to implement. We are just working out some design details (Featured Product Reviews, 'Explore Product Reviews' button) before finalizing the implementation ticket which I have already started to draft.

[2022-11-23 22:14] beccaklam commented on #9721
I _think_ this is mostly set up but still waiting for more data to come in for some tables to populate. @kristinashu I think this is ready for design review though? Or you can wait until next week for more data to come in.

[2022-11-23 22:35] tbrlpld commented on #9752
Been thinking about this a little now. If the second instance of the "Hub" can use the same set of taxonomy types, I think the "medium dev effort" is fair. Taxonomy type here means "region" and "topic". The taxonomy values (e.g. for the taxonomy type "region, a value could be "North America") that are relevant in each hub / library can be determined from the actual content.

If however we want to

[2022-11-23 22:58] kristinashu commented on #9721
The dashboard is amazing and I've already been looking at it multiple times a day since the launch!

I've never actually set up a dashboard myself before so a few questions:

1) Bounce rate decrease is in red but isn't it a good thing? Is it possible to change the color?
<img width="522" alt="image" src="https://user-images.githubusercontent.com/1068783/203659604-5779a404-e2e4-4c24-a9ff-022283317f

[2022-11-24 01:11] tbrlpld commented on #9563
@TheoChevalier I went a head and removed the introduction requirement anyhow, because of other potential side effects.

Can you test that it works on staging?

(The categories still need to be dealt with, but that proved somehow more involved. I have created #9757 as a follow up.)

[2022-11-24 01:12] tbrlpld commented on #9540
@beccaklam The increased padding should be ready on staging.

[2022-11-24 17:26] mmmavis commented on #9714
@fessehaye Could you help review this on staging, please?

[2022-11-24 17:37] cdanfon commented on #9563
@fessehaye please test this before pushing to prod

[2022-11-24 17:43] fessehaye commented on #9694
Looks resolved

[2022-11-24 17:43] #9694 closed

[2022-11-24 17:45] fessehaye commented on #9710
@kristinashu can you check this on staging?

[2022-11-24 17:45] fessehaye commented on #9743
@kristinashu this is on staging

[2022-11-24 17:47] fessehaye commented on #9088
@beccaklam can you review it since Nancy is away. I did review this with her before the PR was pushed for timings of the animations

[2022-11-24 18:06] kristinashu commented on #9710
Looks good, ready for prod!

[2022-11-24 18:19] kristinashu commented on #9743
All good, thank you!

[2022-11-24 18:35] fessehaye commented on #9714
Looks good ready for prod

[2022-11-24 18:46] beccaklam commented on #9540
This looks good to go!

[2022-11-24 18:46] beccaklam commented on #9540
I'll open a ticket for some other spacing issues but this is fine to go on prod.

[2022-11-24 18:51] beccaklam opened #9761 "[PNI] Increase padding at the bottom of 'What to read next' sections"
The margin bottom for 'What to read next' sections should be closer to 120px, currently it is only 3rem (48px).
![Screenshot 2022-11-24 at 10.48.44 AM.png](https://images.zenhubusercontent.com/57acd65ce40e5714b16d4215/c05252ec-1ef1-4d42-9972-d11f7475d563)
This was found during QA of the category page but it should also be applied any where the 'What to read next' component is found.

Acceptance Cr

[2022-11-24 18:52] beccaklam commented on #9540
Follow up ticket created here: #9761

[2022-11-24 18:53] fessehaye commented on #9563
Worked on staging for authors relations. I will move this for ready to prod

[2022-11-24 18:55] beccaklam commented on #9088
This looks good to go! I found one thing:
![image](https://user-images.githubusercontent.com/20977376/203850671-ec65b613-5da8-4006-9943-f86245df24e9.png)
but @fessehaye said it will be addressed in a separate PR!

[2022-11-24 20:18] #9088 closed

[2022-11-24 20:19] #9540 closed

[2022-11-24 20:19] #9710 closed

[2022-11-24 20:19] fessehaye commented on #9563
On prod but leaving ticket open for @TheoChevalier  to check over

[2022-11-24 20:20] fessehaye commented on #9436
On prod

[2022-11-24 20:20] #9436 closed

[2022-11-24 20:20] #9714 closed

[2022-11-24 20:20] #9743 closed

[2022-11-24 22:15] mmmavis opened #9763 "[PNI] Collapse button of the sorting dropdown always resets your sorting preference"
### Describe the bug
Clicking the collapse button of the sorting dropdown resets your sorting preference.

The arrow icon should only be used to open or close the dropdown and be independent of the sort option (currently they're linked) and changes the sort option by error when a user tries to close the dropdown.

### To Reproduce
Steps to reproduce the behavior:

1. Go to PNI homepage
1. Click on

[2022-11-25 00:12] mmmavis commented on #9712
Hello @kristinashu @fessehaye  I'm reviewing Simon's PR and wondering what the expected order the search results should be in. How do we define relevance? I noticed that "relevance" isn't listed in the sorting dropdown. If we always show most relevant search results first, should `relevance` be part of the dropdown options?

[2022-11-25 00:49] kristinashu commented on #9712
You nailed it @mmmavis! Yes, `relevance` is `name` first, and then `company`, and then `blurb`

@fessehaye @beccaklam and I ended up talking about the dropdown sort order a bunch today and how it is confusing. We have some notes [here](https://docs.google.com/document/d/1opBAnQH_VjG5eHEe7txpkw6QBTeu79S0MWNT5-m7WnE/edit#heading=h.fs3gtczc7i18). For the scope of this ticket, we're just focusing on m

[2022-11-25 00:53] mmmavis commented on #9712
@kristinashu Thanks! Will check out the doc.

[2022-11-25 01:33] fessehaye commented on #9556
Thanks for documenting this @tbrlpld !

[2022-11-25 09:12] TheoChevalier commented on #9563
Hey, here are my test results on staging:

- ✅ Adding an intro/tagline to an untranslated profile then translating it, works https://foundation.mofostaging.net/cms/snippets/wagtailpages/profile/edit/382/
- ❌ Adding an intro/tagline to an already translated profile, then syncing translations, fails https://foundation.mofostaging.net/cms/localize/update/606/?next=%2Fcms%2Fsnippets%2Fwagtailpages%2Fp

[2022-11-25 10:47] TheoChevalier opened #9766 "Stop localizing slugs in PNI articles, Browse authors & Library"
I noticed a few page models are making the slug translatable, as we have some ending up in Pontoon: https://pontoon.mozilla.org/fr/foundation-website-content/all-resources/?search=slug&status=translated

In particular:

- PNI articles
- Research Hub: Browse authors
- Research Hub: Library

[2022-11-25 13:06] marcwalsh commented on #8013
Currently the Tito registration portion of this is working, and I'm able to register for a Tito after setting the snippet. However I'm not currently receiving the double opt-in email that should be triggered when checking the newsletter sign up question.

I'm confirming with Tito if there is a difference between the question slug (which is how I currently have the snippet set up) and ID, and if it

[2022-11-25 13:35] marcwalsh commented on #8013
I switched over the numeric ID however I'm still not receiving the double opt-in.

[2022-11-25 13:44] TheoChevalier opened #9767 "MozFest sign up snippet in the footer appear untranslated"
While the snippet used for the sign up block in the footer [is translated](https://foundation.mozilla.org/cms/snippets/wagtailpages/signup/edit/191/), it’s still showing up untranslated: https://www.mozillafestival.org/es

<img width="593" alt="Capture d’écran 2022-12-02 à 18 13 57" src="https://user-images.githubusercontent.com/1294206/205348765-877f3a69-bfb6-499a-894e-aa2a98340105.png">

[2022-11-25 15:48] cdanfon commented on #8013
@tomusher can you look into this for Marc please?

[2022-11-25 18:01] TheoChevalier opened #9770 "Can’t edit some pages in the Common Voice minisite"
We currently can’t edit the following pages:

[Community, mobilisation & governance](https://foundation.mozilla.org/cms/pages/19400/edit/) ([live](https://foundation.mozilla.org/en/common-voice/community-mobilisation-governance/))
[Platform and Dataset](https://foundation.mozilla.org/cms/pages/19083/edit/) ([live](https://foundation.mozilla.org/en/common-voice/platform-and-dataset/))
[Blog](https:

[2022-11-25 18:09] TheoChevalier commented on #9551
Hey @danielfmiranda I’ve finally found some time to have a closer look, and unfortunately, like you, I didn’t manage to add articles to the category page. I’m not sure why it worked on staging, maybe it was the initial migration?

[2022-11-25 22:04] mmmavis commented on #9664
Hello @nancyt1 Let me see if I can reproduce the issues. Could you provide link to the page?

[2022-11-25 22:36] mmmavis opened #9771 "Update id/class used for tracking purpose to namespaced HTML data attribute"
It seems like we have been using/creating `id` or `class` on DOM elements as GTA tracking triggers. (e.g., track clicks on `#elem a`, `.class form` etc)

There are some drawbacks:

1. Changes made to the `id` or `class` name will break the tracking without us knowing
2. DOM element structure changes can possibly break tracking

Let's consider using namespaced HTML data attributes (e.g., `data-gtm-

[2022-11-26 00:48] beccaklam commented on #9721
@kristinashu Do you mean the PNI homepage? I'll need to look into this further but it may be difficult since the category pages are filtered variations of the homepage? But maybe we can try to exclude those variations.

[2022-11-28 15:32] kristinashu commented on #9721
Yes, I mean the PNI homepage. I can see the time spend on that page and I can see the exit pages but not the bounce rate.

[2022-11-28 15:44] tbrlpld commented on #9563
@TheoChevalier This sounds a bit like a different use case. Would you mind creating a new ticket for that?

This ticket is only meant to fix the issue with the authors described in the original ticket. Changing intro/taglines should not be necessary for testing this ticket.

[2022-11-28 15:48] tbrlpld commented on #8013
Since this is working with rendering IDs to the template, I just wanted to raise awareness of the default localization of numbers that is applied to the templates: https://github.com/mozilla/foundation.mozilla.org/blob/main/docs/stack.md#localiztion-of-numbers

[2022-11-28 17:31] tbrlpld commented on #9709
@fessehaye I came across this over the weekend: https://web.dev/browser-level-image-lazy-loading/#images-should-include-dimension-attributes

I think the missing size could be what is leading to all the images being immediately loaded although they are marked for lazy loading: https://web.dev/browser-level-image-lazy-loading/#images-should-include-dimension-attributes

[2022-11-28 17:48] cdanfon commented on #9559
Hey @beccaklam Any thoughts on the above please?

[2022-11-28 17:52] cdanfon commented on #9551
@tbrlpld please groom

[2022-11-28 17:55] nancyt1 commented on #9664
@mmmavis You can test it on this [page](https://foundation.mozilla.org/en/privacynotincluded/articles/getting-private-mental-health-and-prayer-apps-rush-to-revise-privacy-policies/), Simon set it up so that if the first or second paragraph block is too short the Related block will move to the bottom. But it gets funky if there's line breaks or sentences aren't long enough.

[2022-11-28 18:05] cdanfon commented on #9763
@beccaklam @nancyt1

Could you confirm what the expected behaviour should be based on Mavis's comment above please?

Do we need the option to close the dropdown without changing the selection?
Should the dropdown close when we click outside the dropdown box too?

[2022-11-28 18:13] cdanfon commented on #9695
Once #9709 has been completed we can revisit this one and see if it is still a problem

[2022-11-28 18:19] tbrlpld commented on #9610
Custom underlines are quite the task: https://medium.design/crafting-link-underlines-on-medium-7c03a9274f9

[2022-11-28 18:22] cdanfon commented on #9620
@tbrlpld to add DEV ACs please

[2022-11-28 18:27] cdanfon commented on #9724
The design team would need to create the form in Typeform before the engineering team can implement it. @beccaklam can you provide the embed code please?

[2022-11-28 18:29] mmmavis commented on #9707
Hello @ArshErgon ,

Thanks for sharing your insights. We will look into this. Meanwhile, if you are interested in helping out, please visit our [README](https://github.com/mozilla/foundation.mozilla.org#contributing) Thanks for your understanding.

[2022-11-28 18:34] tbrlpld commented on #9610
We are currently using normal CSS underline styling: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-style

[2022-11-28 18:44] nancyt1 commented on #9763
The arrow icon should be used to open or close the dropdown and should not be changing the sort option or used to select any sort options. It would also be good to collapse the dropdown when you click outside of the box.

[2022-11-28 19:54] beccaklam commented on #9610
Ahh I see, okay I'll take this back to the design team to discuss!

[2022-11-28 20:11] beccaklam commented on #9559
Hmm, so I just looked at this again and I think it's related to loading because sometimes the email will appear first (I tried 'Toys & Games' but some time other products will load in. I'll close this for now because it's probably related to #9709.

[2022-11-28 20:11] #9559 closed

[2022-11-28 20:18] beccaklam commented on #9724
So I think this is it:
<button data-tf-popup="oWfci8Ee" data-tf-iframe-props="title=PNI Product Submission" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;

[2022-11-28 20:54] mmmavis commented on #9722
Changes are now on staging! https://foundation.mofostaging.net/en/privacynotincluded/

@cdanfon @beccaklam tagging you both as I don't know who normally should verify changes on staging.

[2022-11-28 21:14] tbrlpld commented on #9611
Turns out this is not changed in newer versions of Wagtail yet (I though a change was coming that shows pages with sub-pages first in the tree view).

@beccaklam you can use the "sort order" view to manually order the pages:
<img width="300" alt="Screen Shot 2022-11-28 at 13 10 22" src="https://user-images.githubusercontent.com/24797493/204382210-ac22ef0f-9cb6-4055-a6da-b1f11cdad823.png">

This ma

[2022-11-28 21:19] tbrlpld commented on #9611
@beccaklam I do a agree, this is a bit messy to find the articles.

I would think the editorial content index should stay below the PNI homepage though, because that makes sense from the navigation and information architecture.

I would propose to rather create a product review index or catalog page that is parent to all the review pages. This is not really a page we have at the moment. We are cur

[2022-11-28 21:35] danielfmiranda commented on #9726
Hi @mtdenton! Have a quick question for when this gets merged:

On the link that you posted regarding the CSP updates, they list optional URLs that we can add alongside the required ones:

[code]

I was wondering which of these optional payment processors we want enabled?

Thanks!

[2022-11-28 21:44] tbrlpld commented on #9551
I am running into another issue. There are no related articles showing on the pages for the translated category:

1. Create related articles on a category, e.g.: https://foundation.mofostaging.net/cms/snippets/wagtailpages/buyersguideproductcategory/edit/3/
2. Directly navigate to that categories pages: https://foundation.mofostaging.net/en/privacynotincluded/categories/entertainment/. See the rel

[2022-11-28 21:45] tbrlpld commented on #9551
@TheoChevalier @danielfmiranda I this the issue you had as well?

[2022-11-28 21:49] beccaklam commented on #9722
This looks good to go from my end!

[2022-11-28 21:55] ArshErgon commented on #9720
Hey @beccaklam  I would like to work on this, can you please assign it to me?

[2022-11-28 22:51] danielfmiranda commented on #9551
Hi @tbrlpld confirming that this is the same issue I was experiencing as well

[2022-11-29 09:04] cdanfon commented on #9724
<buttondata-tf-popup="oWfci8Ee" data-tf-iframe-props="title=PNI Product Submission" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-heig

[2022-11-29 15:19] tbrlpld commented on #9657
Can't tell you that, because you are right @ArshErgon. The branch has been removed.

[2022-11-29 15:41] cdanfon commented on #9763
@fessehaye @danielfmiranda @tbrlpld

Nancy has confirmed behaviour, could one of you groom this ticket ahead of planning next week please? Thanks

@mtdenton 'cc

[2022-11-29 17:13] beccaklam commented on #9611
This approach sounds great to me! cc: @kristinashu Do you have any input?

[2022-11-29 17:23] kristinashu commented on #9611
To clarify, you mean that if staff go to the CMS and click on PNI then they will see a "folder" for `product reviews` and another one for `articles` which they can then click into? If so then that sounds good. We hope to one day also have the about pages in the CMS so that could eventually be another folder at that level.

[2022-11-29 17:47] fessehaye commented on #9712
@kristinashu this is ready for staging

[2022-11-29 17:49] fessehaye commented on #9541
@kristinashu You might need to create some related articles for the category on staging to test this

[2022-11-29 17:50] mtdenton commented on #9726
@danielfmiranda per Sam, let's enable all of them for now.

[2022-11-29 17:52] kristinashu commented on #9712
Looks good, ready for prod!

[2022-11-29 18:12] danielfmiranda commented on #9726
Thanks @mtdenton!

Just updated the CSP variables and gave it a test on staging, looks good to me!:
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18314510/204612233-64d289c6-d535-4458-b0f4-40479fa66421.png">

[2022-11-29 18:26] kristinashu commented on #9541
Sorry, asking @beccaklam to please review this! Ty!

[2022-11-29 18:59] beccaklam commented on #9541
This looks good to go! Thank you!

[2022-11-29 19:28] #9712 closed

[2022-11-29 19:29] #9541 closed

[2022-11-29 19:50] mmmavis opened #9782 "Make sure GA4 / GTM are respecting browser's Do Not Track preference"
We set up [our own check](https://github.com/mozilla/foundation.mozilla.org/blob/main/source/js/common/google-analytics.js#L7-L26) a while back to determine user's Do Not Track preference and conditionally fire GA script only if user's DNT was `false`.  We should do the same check for [GTM script in the codebase](https://github.com/mozilla/foundation.mozilla.org/blob/main/network-api/networkapi/te

[2022-11-29 21:34] kristinashu commented on #9722
This is live! @mmmavis you can now close this ticket please!

[2022-11-29 22:27] tbrlpld commented on #9505
This can not be moved, because the donate repo is in a different Org now.

[2022-11-29 23:12] tbrlpld commented on #9505
@anilkanji Does this change affect how the "other" minimum should be handled? Currently this value is the same for one-time and monthly (at 10). Can the "other" minimum be changed to 5 in both cases or do we need to split the logic and have 10 for one-time and 5 for monthly?

[2022-11-30 00:05] danielfmiranda commented on #9726
# Steps to test:
1. Visit https://foundation.mozilla.org/en/?form=FUNWTEYJTEM
2. The Fundraise Up Modal from the screenshot above should load in correctly

[2022-11-30 00:17] danielfmiranda opened #9784 "Navigation doesn't scroll on /user-controls page with donation banner present"
### Describe the bug
When the donate banner is rendered on load-in, the websites navigation bar remains "sticky" while the content passes behind it as the user scrolls down the page.

### To Reproduce
Steps to reproduce the behavior:
1. Go to (https://foundation.mozilla.org/en/youtube/user-controls/
2. Do not dismiss the donation modal
3. Scroll down
4. Note that the content passes "behind" the na

[2022-11-30 10:03] #9766 closed

[2022-11-30 13:46] kevinhowbrook commented on #9601
Thanks for the review @tbrlpld https://github.com/mozilla/foundation.mozilla.org/pull/9739 has been amended

[2022-11-30 14:01] kevinhowbrook commented on #9602
Thanks @tbrlpld - https://github.com/mozilla/foundation.mozilla.org/pull/9741 has been amended

[2022-11-30 15:02] tbrlpld commented on #9611
@kristinashu Yes, that is exactly it.

And yea, we could absolutely have the about pages in another "folder".

I typically use the term "index pages" for these "folders", because the index pages do usually have a URL and some content themselves (even if just links (e.g. as cards) to the child pages). "Folders" in the sense they exist on the operating system don't exist in the Wagtail page structur

[2022-11-30 15:20] mtdenton commented on #9505
@tbrlpld I'm reaching out to Kevin as well for info here.

[2022-11-30 15:47] tbrlpld commented on #9601
@cdanfon This is now on staging.

[2022-11-30 15:47] tbrlpld commented on #9602
@cdanfon This is now on staging.

[2022-11-30 15:57] cdanfon commented on #9601
Thanks, looks good to me!

@gutermul Over to you for testing

[2022-11-30 15:58] cdanfon commented on #9602
Thanks, LGTM

@gutermul over to you for testing

[2022-11-30 16:18] kristinashu commented on #9637
Is this done or is more needed?

[2022-11-30 16:40] beccaklam commented on #9637
This is done!

[2022-11-30 16:40] #9637 closed

[2022-11-30 17:44] mtdenton commented on #9505
@tbrlpld via Kevin:

I also updated the issue with the desired text changes

[2022-11-30 17:49] tbrlpld commented on #9505
@mtdenton If I understand correctly, we want a $5 minimum amount for the "other" option and text when monthly, but $10 minimum amount for the "other" option and text when one-time?

[2022-11-30 17:52] beccaklam commented on #9614
To ask during today's stand:
- Flow for 'Explore more product reviews' and
- 'Featured Products' vs 'All Product Reviews'

[2022-11-30 17:58] beccaklam commented on #9721
I looked into this yesterday but I'm not sure we can isolate for the homepage, would need some help probably from Tyler to solve this. Is it ok if we move that request to another ticket? @kristinashu

[2022-11-30 18:23] tbrlpld commented on #9555
Don't show CTA on the home page. Position correctly for the product reviews / category page.

[2022-11-30 18:24] kristinashu commented on #9721
Yeah, don't worry about it!

[2022-11-30 18:51] beccaklam commented on #9614
Following stand today, there was consensus around this [design](https://redpen.io/um9f530d8fc47e06dc). The 'Featured Product Reviews' work will continue to be explored in ticket [#1113](https://github.com/MozillaFoundation/Design/issues/1113) in the design repo.

[2022-11-30 18:55] beccaklam commented on #9614
Implementation has been created at #9758

[2022-11-30 18:55] #9614 closed

[2022-11-30 18:56] beccaklam commented on #9721
Dashboard has been shared with design, dev and stakeholders in the PNI channel!

[2022-11-30 18:56] #9721 closed

[2022-11-30 20:42] mmmavis commented on #9664
@nancyt1 Thanks!

@beccaklam

I'm not familiar with recent updates made to PNI. Could you elaborate what you meant by `niche situation where there was very little content (e.g. one photo no paragraph block)`? It would be super helpful if you could point me to design on Figma as well. Thanks!

[2022-11-30 21:25] danielfmiranda commented on #9726
It appears this has been pushed to prod already, I have tested both staging and prod and can confirm that this is working. Moving to the next lane

[2022-11-30 21:25] #9726 closed

[2022-11-30 21:55] mmmavis commented on #9664
@beccaklam @nancyt1

Did some code investigation and played around with Wagtail. Unfortunately with the page being CMS managed, it is pretty troublesome to position the "Related" section based on content length and make sure the layout show up nicely. Editors can build the page content however they want it using streamfields and options on Wagtail. It will involve lots of effort to write script th

[2022-11-30 22:10] tbrlpld commented on #9608
@beccaklam Can you confirm the device you are taking these screenshots on? Is that an iPhone?

[2022-11-30 22:22] tbrlpld commented on #9651
@cdanfon @kristinashu This is ready for testing on staging.

https://foundation.mofostaging.net/en/privacynotincluded/euki/

[2022-11-30 22:23] beccaklam commented on #9608
@tbrlpld I don't remember where exactly the above screen shot is from but the author photos are pixelated on both my macbook and iPhone. Does that help?

[2022-11-30 22:25] tbrlpld commented on #9608
Thanks @beccaklam it does. I was just trying to confirm that you were using a high-resolution display (e.g. retina, which iPhone and MacBook have). I think it should not have been pixelated on normal resolution displays.

[2022-11-30 22:28] beccaklam commented on #9664
@mmmavis Thank you for investigating! I'm okay with going the route of a more traditional layout. @nancyt1 Would you be okay if we shifted to having the related articles like how we do on Product Review pages (i.e. on the side)?

[2022-11-30 22:40] nancyt1 commented on #9664
I'm ok with that! Is there a way to have it show up towards the middle of page? Whatever the length of content may be?

[2022-11-30 22:59] kristinashu commented on #9651
This looks much better! Ready for prod!