[2019-02-05 20:47] kristinashu commented on #2542
No! I'm missing everything lol. PDF sounds good!

[2019-02-05 20:56] kristinashu opened #2599 "Update Buyer's Guide share copy"
From https://github.com/mozilla/foundation.mozilla.org/issues/2589, need to de-holiday our share messages.

1. Copy if a user shares a product after voting:
I think this Harry Potter Kano Coding Kit is NOT CREEPY. What do you think? Check out the Creep-O-Meter over on @mozilla’s PrivacyNotIncluded.org buyer’s guide.

2. Message if a users shares the landing page:
Be smart. Shop safe using @mozilla

[2019-02-05 20:57] kristinashu commented on #2589
Thanks! Opened https://github.com/mozilla/foundation.mozilla.org/issues/2599

[2019-02-05 20:57] #2589 closed

[2019-02-05 21:01] #2438 closed

[2019-02-05 21:11] kristinashu commented on #2596
We also have it on our [404 page](https://foundation.mozilla.org/en/404/). Should we remove it there too?

Also maybe search the site for any addition instances.

[2019-02-05 21:13] alanmoo commented on #2596
It should be one reference used everywhere. But worth doing a search.

[2019-02-05 21:16] mmmavis commented on #2599
Be smart. Shop safe using @mozilla’s PrivacyNotIncluded.org buyer’s guide. 89 popular connected products rated to help understand if they are likely to spy on you. Find out which are creepy and which aren’t.

@kristinashu which share icons are you referring to?

[2019-02-05 21:17] youriwims commented on #2596
Just double checked the files and it's only in the two base files, which are now removed.

[2019-02-05 21:19] kristinashu commented on #2599
Sorry, I mean if a users shares from the top nav.

[2019-02-05 21:44] youriwims commented on #2594
I'm getting the same Travis error as Pomax for #2600.

[2019-02-05 23:08] #2599 closed

[2019-02-05 23:10] kristinashu opened #2603 "Reduce blur on 18+ related products"
Can't tell which product is which, I think reducing the blur will help.

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/1068783/52310384-148a9c80-2958-11e9-9254-a280e738e642.png">

[2019-02-05 23:51] #2587 closed

[2019-02-06 01:05] #2582 closed

[2019-02-06 01:05] Pomax commented on #2552
all yours!

[2019-02-06 01:21] kristinashu commented on #2282
Awesome! I made a few more updates to the file. Put real placeholder images into the overview page and updated the banner background to the arrow pattern so we aren't so repetitive with the marble pattern.

Will share with stakeholders tomorrow and if PNI stuff has calmed down then we can meet with devs too!

[2019-02-06 01:34] kristinashu opened #2605 "Update copy in OG text"
Update number of products from `50` to `89`

[2019-02-06 01:58] mmmavis commented on #2605
The existing copy is `70 connected products rated on their safety and security` but I'll change the number to `89`.

[2019-02-06 02:01] kristinashu commented on #2605
Ah yes!

[2019-02-06 04:39] natalieworth commented on #2546
Drafts/ options for these are [up on Redpen here](https://redpen.io/p/nr17f804a498f8d46c).

I'm just waiting for my new Sketch license to get updated from Service Now, then can merge changes to Abstract.

cc @kristinashu @sabrinang @beccaklam

[2019-02-06 15:13] #2596 closed

[2019-02-06 15:40] #2544 closed

[2019-02-06 17:12] #2605 closed

[2019-02-06 17:15] mmmavis commented on #2594
Restarting usually would solve the issue but yes, I've been getting the same errors lately as well.

[2019-02-06 17:20] youriwims commented on #2230
@Pomax, where would be a good place to start on this?

[2019-02-06 17:29] Pomax opened #2608 "Remove "npm install" from "npm start""
We're currently running `npm install` every time you run `npm start`, and at this point we don't add new libraries on a daily basis, so making sure the libraries are in sync doesn't offer any real benefits, but does constantly update package-lock.json, and makes it take longer before things actually start up.

[2019-02-06 17:29] Pomax commented on #2608
/cc @alanmoo @mmmavis @youriwims @cadecairos @patjouk

[2019-02-06 17:45] Pomax opened #2610 "Make PNI home/about/contact etc. page rendering cleaner"
right now we're using explicit routes for home, why, and contact, but we can just as easily use a url pattern for `/P<page>[-\w\d]+` as pattern after product/category matching, and have a single view handler for them, since they all do the same thing: render `<page>.html` with additional context variables for making sure the menus render properly.

[2019-02-06 17:45] Pomax commented on #2610
thoughts @alanmoo @cadecairos @mmmavis?

[2019-02-06 17:54] cadecairos commented on #2610
If it's functionally equivalent, lets make it happen.

[2019-02-06 18:26] Pomax opened #2612 "Set a min-height for pages so that small content pages still look good"
We added a min-height:50vh for the PNI contact page, since it doesn't have enough text to fill a full page, but that's actually worth setting as a blanket rule for PNI, and probably also all wagtail-managed pages.

[2019-02-06 18:27] #2521 closed

[2019-02-06 18:31] xmatthewx commented on #2542
I like how you've treated a hero and CTA up top. It remains distinct from other top level pages, but feels like a legit landing. This feels like a great iteration on what we've got.

For content below the nav, I think we can assume it's no more unique than what's on current campaign pages – we can tackle special snowflakes separately as they arise, but keeping that stuff at page level below the na

[2019-02-06 18:35] kristinashu commented on #2542
Yeah the vertical is exactly where I started to get stuck. I like the idea of a collapsed version for other page tho. Will explore!

[2019-02-06 18:41] xmatthewx commented on #2542
I could imagine a half-height graphic with white cutout and page title to maintain visual connection with landing page.

[2019-02-06 19:45] beccaklam commented on #2545
Waiting on Jon L to let me know what he's thinking in terms of graphics. Briefed @natalieworth on what's coming though so hopefully she can get started tomorrow.

[2019-02-06 20:05] youriwims opened #2613 "[18+ Content] Overlapping content on mobile"
I'm not sure where else this appears on the live site, but the 18+ symbol in the V-day category is overlapping the 'draft' content on mobile. It would be worth a second look to see where else this issue is present.

![screen shot 2019-02-06 at 3 00 46 pm](https://user-images.githubusercontent.com/36484608/52370185-449d7280-2a20-11e9-8698-f29186efb9f9.png)

[2019-02-06 21:04] mmmavis commented on #2613
@youriwims thanks for filing ticket!

`This is a draft` is only visible for people who have logged into CMS. Though this is an issue it only affects a small portion of site visitors. I would see this as a minor bug.

[2019-02-06 21:05] kristinashu commented on #2613
I think it's ok if this happens since it's only staff who see that draft message but if you notice this anywhere else please let us know!

[2019-02-06 21:11] Pomax opened #2615 "Pseudo-randomise the PNI product factory, rather than using true random"
If we don't, every single PR is going to get flagged as bad because the visual regression screenshots are different =D

[2019-02-06 21:12] #2603 closed

[2019-02-06 21:19] youriwims commented on #2613
Oh, okay. Thanks for letting me know!

[2019-02-06 21:19] #2613 closed

[2019-02-06 21:46] Pomax opened #2616 "wagtail-modeltranslation breaks load_fake_data --delete"
We're having `flush_models.py` run a page clear:
[code]
However, that does not seem to leave the right page intact. `load_fake_data --delete` run log:
[code]
A workaround is to manually delete db.sqlite3 + `inv migrate` + `manage load_fake_data`, but let's see if we can make the `--delete` flag work properly again.

[2019-02-06 22:11] mmmavis commented on #2405
@natalieworth

I have a few questions:

I'm wondering how we determine if users have answered the `How creepy do you think this is?` question? We could check if the creep-o-meter has been moved but this wouldn't cover the case when users just wanna stay neutral (and hence not moving the slider so it stays at center)

- If the capsule buttons are currently on "error hint" state (highlighted in `#C0

[2019-02-07 00:23] Pomax commented on #2594
https://github.com/travis-ci/travis-ci/issues/4704 had a fix to disable non_blocking stdout, so I added it to https://github.com/mozilla/foundation.mozilla.org/pull/2617/files#diff-354f30a63fb0907d4ad57269548329e3R7 and despite a few updates and rebases, I've not seen that fail CI anymore, so... that feels encouraging.

[2019-02-07 00:33] Pomax opened #2618 "improve the CSS for the PNI post-vost share dialog"
Based on https://github.com/mozilla/foundation.mozilla.org/pull/2584#discussion_r254499647:

---

<@mmmavis> It'd better if we let elements adjust width themselves instead of setting multiple sets of fixed width and margin. I would simplify the following SCSS to

[code]
(don't forget to remove my inline comments)

[2019-02-07 00:44] #2510 closed

[2019-02-07 00:45] mmmavis commented on #2618
The above code has some flaws but I'll fix those in my PR.

[2019-02-07 14:28] beccaklam commented on #2545
Comment from Jon regarding graphics @natalieworth

[2019-02-07 15:29] xmatthewx commented on #2367
Ping @alanmoo @pomax

[2019-02-07 15:47] alanmoo commented on #2367
It looks like this is working on Opportunity and Campaign pages, because the page editor gets to set the "title" property of the page on those templates.

Two relevant lines of code:
https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templates/pages/base.html#L14

https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/mod

[2019-02-07 16:50] Pomax opened #2622 "Collapse the various multiple Cypress tests into a single file"
We shouldn't really need multiple files, just multiple tests in the same file. Given that each file incurs a bootstrapping delay and postprocess delay, it's worth putting all the tests in one file, instead. Until we start doing "real" interaction based testing, which would definitely go in its own file.

[2019-02-07 17:14] #2608 closed

[2019-02-07 17:15] beccaklam commented on #2545
@natalieworth From Misinfo Working Group Meetings:
Something that targets 'social platforms', 'misinfo', and 'elections'.
Since the campaign is about calling social platforms (e.g. Facebook, Twitter, etc) to be accountable for the APIs and how they effect elections, esp in terms of the upcoming EU elections.

[2019-02-07 17:29] beccaklam commented on #2545
'Disinformation erodes discourse' not 'Disinformation determines elections'

[2019-02-07 17:35] Pomax opened #2625 "update buyersguide factory.py to use non-conflicty varnames"
For instance: the `get_random_category` has a line `all = BuyersGuideProductCategory.objects.all()` and that's the kind of code we probably want to rewrite to something better =D

[2019-02-07 17:36] mmmavis commented on #2578
So it should display `Can't determine` [red face]?

[2019-02-07 17:49] xmatthewx commented on #2545
I do think an election related icon can help our audience understand what this is about. And can be presented without suggesting too much.

[2019-02-07 17:54] #2304 closed

[2019-02-07 18:00] kristinashu commented on #2578
Yes, but only for this particular criteria.

@caltrider

[2019-02-07 18:01] caltrider commented on #2578
Yes

[2019-02-07 18:03] Pomax opened #2627 "Switch "faker.unix_time() % num" over to python's built in random with seed"
As follow-up on https://github.com/mozilla/foundation.mozilla.org/pull/2617 it is a good idea to replace the random number fake data that currently uses `fake.unix_time() % somenum` with calls to python's built in `random` functions, after calling `random.seed(seed)` in all the places where we're currently calling `fake.random.seed(seed)`.

We might even be able to use a single random.seed(seed) i

[2019-02-07 18:27] Pomax commented on #2591
page itself removed from the CMS, filing a PR to remove the orphaned static template for that page.

[2019-02-07 18:40] kristinashu commented on #2275
I kinda think these could be the same layout as the other primary pages but with a unique background pattern. Using dots here but could be anything! What do you think @sabrinang @beccaklam @natalieworth? Overview https://redpen.io/hx70e9eb24e0534b72

<img width="1379" alt="image" src="https://user-images.githubusercontent.com/1068783/52434581-87b12180-2ac4-11e9-9f9c-ae0118d8d18b.png">

[2019-02-07 19:06] #2615 closed

[2019-02-07 19:22] mmmavis commented on #2405
After chatting with designers we have decided to change the specs a bit.

New specs

- [ ] Add hover and click state to capsule button `#3bb7ef`
- [ ] `How likely are you to buy it?` capsule buttons wiggle if user tries to submit the form without answering that question

[2019-02-07 19:37] #2618 closed

[2019-02-07 19:42] #2622 closed

[2019-02-07 20:48] alanmoo opened #2630 "Turn off donate banner for now"
Maybe related to an approach in #2451, but let's just turn it off for the time being. Ideally we'll get to a point where we can administer it in Wagtail.

cc @xmatthewx

[2019-02-07 21:17] #1924 closed

[2019-02-07 21:36] mmmavis commented on #1260
Yes, it's been almost a year passed our "July 1" last call. 😂 😂 😂 😂 😂 😂 😂

[2019-02-07 22:07] #2509 closed

[2019-02-07 22:11] youriwims commented on #1485
This was fixed in #2425 and is being optimized in #2632.

[2019-02-07 22:11] #1485 closed

[2019-02-07 22:39] sabrinang opened #2636 "Update existing colors to standardized colors"
### Foundation Palette
By referring to Foundation Palette colors determined in the brand standards colour issue: https://github.com/MozillaFoundation/Design/issues/312#issuecomment-458746752, let's clean up and update current colors on the site.

![image](https://user-images.githubusercontent.com/2492510/52447239-09b14280-2ae5-11e9-9b35-d66a8f01ba45.png)

You can refer to the Foundation Site color

[2019-02-07 23:59] mmmavis opened #2638 "Remove 'double-quote-glyph.svg' duplicate"
Found two identical SVGs:
- `source/images/double-quote-glyph.svg`
- `network-api/networkapi/frontend/_images/double-quote-glyph.svg`

[2019-02-08 00:03] mmmavis commented on #2638
My bad. Not an issue.

[2019-02-08 00:03] #2638 closed

[2019-02-08 00:57] natalieworth commented on #2545
https://redpen.io/p/cw88c87ca1cbf04bc0

[2019-02-08 03:44] mmmavis opened #2639 "Remove .share-results rule set from creep-vote.scss"
This looks like old code that we forgot to remove.

[2019-02-08 03:54] mmmavis opened #2640 "Remove .person-card-featured .more-details SCSS rule set"
It doesn't seem like we have any `.more-details` elements in `.person-card-featured`. If that's really the case let's remove its SCSS.

[2019-02-08 17:12] beccaklam commented on #2545
@natalieworth Like Jon and Brandi said in the email they prefer 1 and 6 from these concepts: https://redpen.io/p/ua6f0325eddafc6b21. I'll let you choose which one you want to push forward and ask them to get sign off from Raegan.

[2019-02-08 17:42] xmatthewx commented on #2545
Thanks Becca. Unless I missing something in option 1, I think 6 is more accessible for a broad audience.

[2019-02-08 17:48] #1260 closed

[2019-02-08 17:57] #2639 closed

[2019-02-08 18:41] beccaklam commented on #2545
Talked to Nat and we are pushing forward with concept 6. Emailed Brandi and co. to ask them to get sign off from Raegan.

[2019-02-08 18:51] cadecairos commented on #1742
@alanmoo @kristinashu: I made a fully stand-alone maintenance page. 100% open to copy changes.
![](https://screenshotscdn.firefoxusercontent.com/images/8bbef0e3-168e-45d6-a7aa-826c0e85214f.png)

@alanmoo any preferences around versioning/deployment here? I can commit this to the repo and have it auto-upload to S3 on a `master` travis-ci run - that way we can change it and have those changes ship a

[2019-02-08 18:51] cadecairos commented on #1742
missing a mozilla logo in the header. will fix that

[2019-02-08 18:56] beccaklam opened #2643 "Scorecard for Misinfo Campaign"
The Campaigns team is asking for the creation of a 'Scorecard' they can direct tech companies, EU/UK commissioners, partners and our email list to. The purpose is to put pressure on tech companies to improve their platform APIs and for partners to see where are the areas they can campaign on.

**Examples of Scorecards:** [here](https://www.macrumors.com/2015/05/12/apple-tops-2015-greenpeace-clean-

[2019-02-08 18:58] beccaklam commented on #2643
Emailed Rebecca Ricks to get dummy/rough content to begin this work.

[2019-02-08 19:05] alanmoo commented on #1742
S3 auto-upload sounds best so it doesn't end up being out-of-sync with our styles. We can even throw a Percy test on it so we don't forget about it.

[2019-02-08 19:19] cadecairos commented on #1742
Well it's a bit trickier than you might think. I have to rewrite a path in the styles, as well as several in the markup. It's also not going to be testable, unless we also expose it as static route on the site. I think there needs to be a bit of a tradeoff here between having the page and keeping it in parity with site styles. I'm not convinced it's worth engineering something to automatically cre

[2019-02-08 19:21] alanmoo opened #2644 "Design "petition is closed" view"
We've got some old petitions that are still using Google forms. Rather than moving them over to Salesforce, let's just "close" them. That being said, we need a design to show in place of the petition form on pages like https://foundation.mozilla.org/en/campaigns/facebook/

When this is done, please file a ticket for developer implementation and tag me.

[2019-02-08 19:40] ayushi1998 commented on #2640
Hey
I am interested to solve my first issue on github.
May I know if this also a project open for @Outreachy upcoming internship in Summer?

[2019-02-08 19:54] beccaklam commented on #2545
@natalieworth Can you also send the graphic to @KevZawacki when it's ready so he can add it to a blog? And to alexander on slack so he can put it in all our share progress tags.

[2019-02-08 20:43] kristinashu commented on #2643
Here's another user case for a table https://foundation.mozilla.org/en/initiatives/mozfestsponsorship/

<img width="746" alt="image" src="https://user-images.githubusercontent.com/1068783/52504942-d501c180-2b9e-11e9-8cfc-c0ec60d2d4df.png">

And also a older request ticket for this component here https://github.com/mozilla/foundation.mozilla.org/issues/2339

cc @sabrinang because she was looking at

[2019-02-08 20:44] kristinashu commented on #2339
Closing this ticket since Rebecca will be working on this here https://github.com/mozilla/foundation.mozilla.org/issues/2643

[2019-02-08 20:44] #2339 closed

[2019-02-08 21:07] kristinashu commented on #2281
@alanmoo @anilkanji few notes from our kick-off meeting https://docs.google.com/document/d/1VboTE2WhLIrX1Vix7yY854X3mya9l2gyAQSeW-SGC0w/edit?usp=sharing

[2019-02-08 21:35] alanmoo opened #2645 "Expose more petition strings for localization"
We should be able to localize the fields for Checkbox 1, 2, and "Thank you". Possibly the shareprogress links too (so that we can have different campaigns for different languages, though we should confirm with @TheoChevalier about the execution of this part)

[2019-02-08 23:23] kristinashu commented on #2282
Feedback from stakeholders in [redpen](https://redpen.io/p/mga45e3eeaaf9bc071), sofar it's only copy related!

Meeting with devs Monday to talk about new/updated components.

[2019-02-11 18:14] kristinashu commented on #2282
@beccaklam when you have time, you could start adding content into the [CMS](https://foundation.mozilla.org/cms/pages/265/). This should help point out to us which components need the most attention and fixing up.

[2019-02-11 19:58] mmmavis commented on #2378
Note that the `#primary-nav-container` section has been moved to `primary-nav.scss` now.

[2019-02-11 20:05] mmmavis commented on #2442
@kristinashu

Do you know if we wanna keep this takeover component? It was initially built two years ago (related ticket [here](https://github.com/mozilla/foundation.mozilla.org/issues/288)) and it's not being used for the site currently.

[2019-02-11 20:26] alanmoo commented on #1551
Tell me if I'm understanding this correctly: Images within this component need no margin top/bottom? This should be pretty straightforward, if so.

[2019-02-11 20:28] kristinashu commented on #2442
Please remove it!!!

[2019-02-11 20:30] mmmavis commented on #2442
Whooohooooo 🗑

[2019-02-11 21:28] mmmavis commented on #2511
@kristinashu does clicking on a filter update the page url? (so it includes the filter as a query param like `/?profile_type=fellow` etc?)

[2019-02-11 22:06] kristinashu commented on #2511
It doesn't do this right now so it's ok if it still doesn't.

[2019-02-11 22:09] mmmavis commented on #2511
@kristinashu kk it was working at some point 😂 guess we accidentally broke that functionality

[2019-02-11 22:17] kristinashu commented on #2282
[Notes](https://docs.google.com/document/d/1c9pprS5amWhZbmeS0vy-IJ9adhZc45tmhAbc2r2A6Rw/edit?usp=sharing) from our meeting with devs.

Next steps:
- Rebecca to start adding content into the CMS
- Kristina to compile use case for each component
- discus and open implementation tickets

[2019-02-12 16:19] gideonthomas commented on #2397
can we file a new ticket with the dev work for this if it's not a simple change?

[2019-02-12 17:02] alanmoo commented on #2397
Yeah, this is on me right now to schedule another meeting and talk about proposed solutions. Probably not going to happen till after reviews though.

[2019-02-12 17:47] youriwims commented on #2279
This has been fixed. See #2425 & #2632.

[2019-02-12 17:47] #2279 closed

[2019-02-12 22:36] natalieworth commented on #2546
Updated the footer based on feedback in the redpen here:
https://redpen.io/p/nr17f804a498f8d46c

I've also messaged Will with [some of the options](https://redpen.io/p/ore7d534a7ecf1cd2c) and he said he's going to get back to me tomorrow morning.

cc @kristinashu @sabrinang @beccaklam @xmatthewx

[2019-02-13 14:24] alanmoo commented on #1742
Sounds good.

[2019-02-13 16:41] patjouk commented on #2427
What do you have in mind for the IH page?

[2019-02-13 16:53] cadecairos commented on #2459
There have not been any major developments on the image optimization front for pulse. Right now I'd suggest wither optimizing this page so not all the images load at once, and to go into those profiles and optimize the images, as many are well over 1MB.

[2019-02-13 18:37] natalieworth commented on #2545
Final graphic [assets are in here.](https://drive.google.com/drive/folders/1Lq5uZeU6QXe8X6y7LCA5hd7Wn6mH7L_J)

[2019-02-13 18:37] #2545 closed

[2019-02-13 19:06] beccaklam commented on #2643
Becca Ricks said that content should be ready by this Friday, Feb 15 (pending approval from various domain experts).

[2019-02-13 20:05] natalieworth commented on #2546
Hey, so for the footer donation ask, I spoke with Will and he liked option 2 (if it's possible) https://redpen.io/av8c7786e5982c5947 but he suggested it would have to be localized for people outside of USA/ Canada (but I think we can use the same UX that is on the mozilla.org site, which allows donors to select their currency on the [actual donate page](https://donate.mozilla.org/en-US/?utm_source

[2019-02-13 20:22] kristinashu commented on #2546
Awesome Nat! Yeah let's start with the simplified version. Maybe we could build/test the more robust version during key fundraising times like at the end of the year.

For the footer update, we need to do something to our current email signup because it has the old gradient and I think adding it to the footer so it's on every pages is a good strategic move since we will be sprucing up our email ne

[2019-02-13 21:04] mmmavis commented on #2427
Maybe just a `primary page` set for `/internet-health` so that route is not 404 on review apps?

[2019-02-13 21:48] beccaklam commented on #2643
Another table example for the Scorecard:
![image](https://user-images.githubusercontent.com/20977376/52746311-38309100-2faf-11e9-9fcd-557b99a9bf49.png)

[2019-02-13 22:17] kristinashu commented on #2282
I've updated the component enhancement and new component comps https://redpen.io/p/sj497b7b3aff054ec9

@beccaklam @alanmoo @youriwims @mmmavis please add thoughts/feedback/concerns when you can!

[2019-02-13 22:50] gideonthomas commented on #2459
@kristinashu would a designer be able to take this on? If not, I can optimize them on the backend myself, should be fairly straightforward.

[2019-02-13 23:05] #2442 closed

[2019-02-13 23:27] kristinashu commented on #2459
@gideonthomas would be great if you could find a way automate it.

[2019-02-13 23:32] gideonthomas commented on #2546
implementation is probably best left till the end of the month since engineers are busy with other elevated priority projects at the moment.

[2019-02-13 23:35] gideonthomas commented on #2459
@kristinashu I believe that's the long term plan that devops is working on and will take a while to implement based on the comment above.

I'll optimize them in the admin interface for now so that we aren't blocking on automated optimization.

[2019-02-13 23:49] kristinashu commented on #2542
@beccaklam @xmatthewx here are comps https://redpen.io/p/fzd8ac96a0d2afba37 (can't say I love any of them lol).

cc @natalieworth @sabrinang TLDR is that campaigns team would like a mini-site for their misinfo campaign. They feel the [existing multi-page](https://foundation.mozilla.org/en/campaigns/aadhaar/) campaign sites don't feel special or impactful enough and that the nav is too hidden.

[2019-02-14 01:30] natalieworth commented on #2546
For reference, I've narrowed down the 2 options in [redpen here](https://redpen.io/p/nr17f804a498f8d46c) and made updates based on previous feedback. Files have also updated in Abstract.

Option 1
[Option 1 desktop](https://redpen.io/uab58cb13ae2244084)
[Option 1 mobile](https://redpen.io/uqdb9c45cc88eb0c6d)

Option 2 (can implement in future when we do a larger fundraising ask/ test)
[Option 2 de

[2019-02-14 05:18] suhailsinghbains commented on #1647
Hi @Pomax
Can I please be assigned this issue, would love to solve it

[2019-02-14 14:22] patjouk opened #2659 "Reorganize our dev documentation"
related #2658 and #2552

The README got gigantic and was split into multiple files. It's a great start but the fact that some parts should be duplicated in the dev or deploy file is a sign that our docs need a more serious reorganization.
I've started a workflow file in [this PR](#2658), but it could use another section dedicated to "What happens when you open a PR", which would include info on CI

[2019-02-14 16:13] alanmoo opened #2660 "Turn on streamfield table block"
Let's not land this quite yet, but open a PR so the designers can play with it and see if it meets our needs (or comes close enough) as is.

Add it to campaign and opportunity page streamfield blocks (assuming it's a streamfield component)

http://docs.wagtail.io/en/v2.1/reference/contrib/table_block.html

[2019-02-14 16:38] alanmoo commented on #2660
Tag @beccaklam for design review when it's open

[2019-02-14 16:49] kristinashu opened #2661 "Make header image on primary pages cms editable"
We would like to be able to update the background image on individual primary pages.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1068783/52802652-3ad5c980-3035-11e9-94c6-cff63450a5bb.png">

[2019-02-14 16:58] mmmavis commented on #2661
I think we can keep the existing banner (like the one in the screecap above) as fallback image and add an optional banner image field to CMS so people can override default with the image they want.

[2019-02-14 17:30] kristinashu commented on #2542
I'm going to hold off on this until we have more info from campaign team on what their key CTA items are and how many pages we will have. Rebecca will gather info and sketch up a couple options. Then we can weigh ux vs dev time for each option.

[2019-02-14 17:32] #2627 closed

[2019-02-14 18:01] Pomax commented on #2660
Soooooo this block is neat, but also highly problematic because there is no clear way to dynamically set the number of rows and columns. They have to be prespecified at the streamfield block level so you can have a "3x3 block" or a "12x280 block", but not "a block and then you get to say how many rows and columsn you need", which is super weird.

[2019-02-14 18:36] Pomax opened #2663 "update linter to forbid raw CSS colours outside of colors.scss"
Based on https://github.com/mozilla/foundation.mozilla.org/issues/2636, it will be well-worth the effort to update our linter such that it only allows "raw colours" (rgb/hsl/hex/etc) in `colors.scss`, flagging raw colours anywhere else as a linting error.

[2019-02-14 18:37] Pomax commented on #2636
I've also filed https://github.com/mozilla/foundation.mozilla.org/issues/2663 to make sure we update our linter so that we can't land code with "raw CSS colors" in the future. Right now any SCSS we write that uses css colors rather than sass variables doesn't get flagged as bad... and they should be =D

[2019-02-14 18:45] #2578 closed

[2019-02-14 18:47] mmmavis opened #2664 "Clean up old variables in color.scss once branding standardization work is done"
This is a follow-up ticket for https://github.com/mozilla/foundation.mozilla.org/pull/2637

The branding standardization work is currently still WIP so we are keeping some to-be-removed variables in `colors.scss` for now to make the ongoing clean up work easier. Once the work is done we should remove old variables from `colors.scss`.

[2019-02-14 20:47] sabrinang opened #2665 "Update PNI override colors to standardized colors"
Related to Foundation Palette updates in https://github.com/mozilla/foundation.mozilla.org/issues/2636, we should also clean up the Privacy Not Included site as the colours are affected.

**Foundation Palette**
<img width="594" alt="image" src="https://user-images.githubusercontent.com/2492510/52447239-09b14280-2ae5-11e9-9b35-d66a8f01ba45.png">

**PNI Palette**
<img width="594" alt="image" src="ht

[2019-02-14 21:53] natalieworth commented on #2546
A note too from @WillatMozFdn to use https://donate.mozilla.org/en-US/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=header&test=ost&test=htl

If we have donate ask banner at the bottom, we can track that differently with the campaign tag.

[2019-02-14 22:25] kristinashu commented on #2643
@beccaklam you can see @alanmoo [PR here](https://foundation-mofostaging-pr-2662.herokuapp.com/en/about/of-station-year/title/). Login to the CMS for this PR [here](https://foundation-mofostaging-pr-2662.herokuapp.com/cms) using the username and password in the [#mofo-review-apps](https://mozilla.slack.com/archives/GBKP2SG94/p1550168052000500) channel.

[2019-02-14 22:40] mmmavis commented on #2640
Hi @ayushi1998 thanks for offering help! This is not an Outreachy project this year but you still are welcomed to take on this ticket. Just let us know :)

/cc @Pomax to provide support while I'm away 😃

[2019-02-14 23:38] Pomax opened #2667 "Add tests for all pages that use things that tap into people.scss"
Removing people.jsx revealed that people.scss is actually being used for roles other than just the people page. We should make sure to add visual regression tests for all pages that use styling from that file, but aren't the people page.

[2019-02-15 17:22] #2405 closed

[2019-02-15 19:52] #2630 closed

[2019-02-15 20:53] beccaklam commented on #2542
**From the Misinfo Working Group on Thursday, Feb 14:**

The Campaigns team were originally thinking the nav of the campaign site would be:
- Scorecard
- Take Action
- Disinformation Resources

However, there is a desire for platform specific pages that explain how a given platform was evaluated along with a specific action to that platform for users to take. That may mean 2-3 of these pages. We n

[2019-02-15 21:41] beccaklam commented on #2542
Ok, 3 ideas for Misinfo Campaign IA (excuse my scribbly sketches)

![img_0421](https://user-images.githubusercontent.com/20977376/52885623-d6536100-313f-11e9-8676-4bc75df6395d.jpg)

**1.** We use an Opportunities template so that we can take advantage of the sub page capability the side nav has. Platform specific pages can live as sub pages on the 'Take Action' child page. May require some enginee

[2019-02-15 21:57] Pomax commented on #1647
Hi @suhailsinghbains, certainly: do you have any HTML/React experience?

[2019-02-15 21:59] Pomax commented on #721
Technically it didn't - let's do this again, but using the new multi-step approach to database changes.

[2019-02-15 22:01] Pomax commented on #2230
I'd recommend starting with an inventory pass of the .html templates we have in the wagtailpages/templates directory. For instance, the homepage has this:
[code]

that's a lot of nested divs that don't all need to exist, some of these can easily be de-nested with their classes merged.

[2019-02-15 22:03] Pomax commented on #1551
@kristinashu would you happen to know if this is still the case?

[2019-02-15 22:04] Pomax commented on #2645
is this on the CMS side, or in the JSX side?

[2019-02-15 22:09] Pomax commented on #2640
:+1:

[2019-02-15 22:19] kristinashu commented on #1551
Yes that is correct but might change based on https://redpen.io/tuab5adf37d05d0414. Let's hold off for now.

[2019-02-15 22:26] alanmoo commented on #2645
When toggling languages in the CMS, those fields don't have alternates. Presumably once that happens, the JSX field would be passed the right string when getting rendered, but we should double check that too. (Aside: the checkbox fields don't do anything right now, so this is...less pressing for those items. Probably useful to wait for that functionality, which is a ticket that hasn't been filed y

[2019-02-15 23:47] alanmoo commented on #2542
The Opportunities template nested nav isn't particularly good, so this might be ~an oppor~ a point at which we decide to improve functionality here, though I recognize we're limited by time.

Are you saying that having a "take action" page is negotiable (it could exist but we could have direct pages for the different platforms in the nav instead)?

IMO option 3 feels the grossest from an IA standp

[2019-02-15 23:59] kristinashu commented on #2542
@beccaklam do you have any content for this yet? Curious how much copy each section would have and if simple jump links or accordions could work instead of separate pages?

[2019-02-18 01:30] moz-hwine opened #2671 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/foundation.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated d

[2019-02-18 15:19] TheoChevalier opened #2681 "Design a language switcher"
Filing this bug to keep this under our radar since we’re launching campaigns where numbers indicate that English is not the main driver.

We control where we send people from our list, but there are a number of cases out of our control and a language switcher would help people get in front of a page that speaks their language. And in the end, improved engagement and better accessibility.

When thi

[2019-02-19 14:56] beccaklam commented on #2542
@kristinashu No content yet. The only problem with page anchors or accordions is if the campaigns team needs an action (like sign a petition) for each platform then having multiple snippets on one page would not be ideal?

[2019-02-19 15:02] beccaklam commented on #2542
I think we have the ability here to suggest to the campaigns team what the best IA would be. Therefore, a 'Take Action' page may not be completely necessary but I agree with you, option 3 is the least ideal option.

Both option 1 or 2 work for me. Option 1 makes it seem like the platform campaigns are part of the Misinfo campagin. Whereas option 2 makes it seem like the platform campaigns are enti

[2019-02-19 16:49] alanmoo commented on #2542
As long as we're good with a single level nav, then yes, option 2 should be do-able without engineering.

[2019-02-19 18:03] Pomax opened #2682 "Testing python 3.7 on windows"
- [x] remove old python version(s)
- [x] install python 3.7.2
- [x] install pip 19
- [x] install invoke
- [x] install pipenv
- [x] fresh clone of the repo
- [x] remove any pre-existing venvs
- [x] updated Pipfile to read `python_version = "3.7"`
- [x] `inv setup` runs to completion
- [x] `pipenv run python network-api\manage.py createsuperuser` works.
- [x] `npm start` runs to completion

[2019-02-19 18:08] Pomax commented on #2682
`inv setup` does not seem to report what it's doing while install python dependencies, so we probably need to change the inv reporting during that step because right now it takes 5+ minutes to install everything, and during that time the console shows nothing happening.

[2019-02-19 18:11] Pomax commented on #2682
@cadecairos @patjouk it looks like there's no pathing induced errors anymore on a clean python 3.7 install \o/

[2019-02-19 19:08] Pomax commented on #2660
PR was closed, as it turns out that airtable embeds work perfectly fine, and are infinitely more expressive than the table component could ever be.

[2019-02-19 19:08] #2660 closed

[2019-02-19 20:26] alanmoo commented on #2397
I've spun up https://foundation.mozilla.org/advocacy and filed [this ticket](https://github.com/MozillaFoundation/mofo-devops/issues/657)

[2019-02-19 20:26] #2397 closed

[2019-02-19 20:34] xmatthewx commented on #2542
@beccaklam - thanks for putting pen to paper on this! @alanmoo @kristinashu - I'll work with @beccaklam to sort things out a bit further before you need to look too closely.

@beccaklam - I think it's unlikely the team will run more than one action at a time (based on experience and the working group conversation). I expect that the main campaign page will contain the current main action. They cou

[2019-02-19 21:46] Pomax opened #2686 "remove people.jsx, refactor people.scss"
We're no longer using the people page, but some of its SCSS is used by other pages/components, so we should pull those two things apart, remove the people page code itself, and make sure we relocate the still-used styling.

[2019-02-19 21:46] Pomax commented on #2591
closing as resolved, with https://github.com/mozilla/foundation.mozilla.org/issues/2686 to track the code cleanup aspects.

[2019-02-19 21:46] #2591 closed

[2019-02-19 21:54] youriwims opened #2687 "Pulse images unable to be rendered at different dimensions"
The Pulse API isn't currently capable of serving optimized, uploaded images to specific aspect ratios/dimensions.

Use-case: Currently in #2511 , I am trying to render Fellow images from Pulse at a 1:1 aspect ratio, but the Wagtail image tag doesn't allow me to do that solely with the URL that is being served. In order to use the Pulse images with consistent aspect ratio results and an `<img>`, I

[2019-02-19 22:05] kristinashu opened #2688 "Update advocacy link on initiatives page"
Advocacy link in the secondary nav on /initiatives pages should be updated from https://advocacy.mozilla.org/ to https://foundation.mozilla.org/en/advocacy/

[2019-02-19 22:06] kristinashu commented on #2397
Also opened https://github.com/mozilla/foundation.mozilla.org/issues/2688

[2019-02-19 22:33] beccaklam commented on #2542
@xmatthewx That makes sense? I've mocked up some comps to sketch out what we're thinking: https://redpen.io/p/az6289e0c6e14536b3 Let me know if what I'm mocking up matches what you think.

[2019-02-19 22:51] kristinashu commented on #2282
Becca, I'm going to unassign you since you're wrapped up in the land of misinfo!

My next steps will be:
- Open implementation tickets for the `Image Text` component updates and the new `Image Text Mini` component
- Clean up Sketch file and components\
- Re-crop logos

I've also email stakeholders asking for a decision on the nav item names.

[2019-02-19 23:10] youriwims commented on #2416
@kristinashu, the progress on this will be affected by #2687 .

[2019-02-19 23:50] kristinashu commented on #2416
I idea was that designers would create one image at 16:9 and one at 1:1 for devs to use. Are you saying that is no longer possible?

[2019-02-19 23:58] youriwims commented on #2416
No, that's exactly what I was suggesting. So that's perfect that you
already had that planned.

[2019-02-20 02:59] natalieworth commented on #2546
Have added the error states for [Option 1 of desktop and mobile (of the email sign up in the footer) here](https://redpen.io/p/nr17f804a498f8d46c).

[2019-02-20 08:48] patjouk commented on #2682
🎉 I will check if all parts of our infrastructure support 3.7 and move the project to this version if it's the case.

[2019-02-20 10:15] patjouk commented on #2594
I didn't see that error again so I'm closing this ticket 🎉

[2019-02-20 10:15] #2594 closed

[2019-02-20 16:17] alanmoo opened #2690 "Add code of conduct"
https://wiki.mozilla.org/GitHub/Repository_Requirements

[2019-02-20 16:41] kristinashu opened #2692 "RIP V-Day on Feb 28 - hide category from nav"
At the end of the month we should de-valentines the site. Related to Hero Banner Swap #2705.

- [x] hide V-Day category from nav (keep url and it's contents https://foundation.mozilla.org/en/privacynotincluded/categories/valentines-day/)

Summary from convo below: add a flag to the category models for whether or not to show up in the nav menu at all.

cc @caltrider @alanmoo

[2019-02-20 16:51] cadecairos commented on #2616
@Pomax is this still happening? even after the changes made [here](https://github.com/mozilla/foundation.mozilla.org/pull/2581)

[2019-02-20 16:52] cadecairos commented on #2427
@mmmavis does the content of this page need to look similar to production or is it more important to have it exist in the first place?

[2019-02-20 16:56] #2060 closed

[2019-02-20 16:59] kristinashu commented on #2427
Mavis is out on PTO for a while. It would be deal if it had similar content as prod so we can see if a component was effected. But content for those IH and Awards pages don't change very often so it ok if the review app doesn't get constantly updated.

[2019-02-20 17:08] alanmoo commented on #2692
I was thinking that the category page should continue to work, we just remove it from the navigation.

[2019-02-20 17:09] Pomax commented on #2671
we don't use the wiki, so this is fine.

[2019-02-20 17:09] #2671 closed

[2019-02-20 17:11] Pomax commented on #2616
testing to see if this is still happening.

[2019-02-20 17:19] Pomax commented on #2616
https://github.com/mozilla/foundation.mozilla.org/pull/2581 fixed this.

[2019-02-20 17:19] #2616 closed

[2019-02-20 17:20] #2688 closed

[2019-02-20 17:59] kristinashu opened #2693 "Updates to Image Text2 component"
This is probably blocked by - Remove deprecated components #1902 and Updates Figuregrid2 component #2696

Related to - New Image Text Mini component #2694

Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/2282, component comps https://redpen.io/tuab5adf37d05d0414 and Fellowship comps https://redpen.io/p/mga45e3eeaaf9bc071.

### Styling and CMS form fields
- [x] Keep imag

[2019-02-20 18:08] kristinashu opened #2694 "New Image Text Mini component"
Related to - Updates to Image Text2 component #2693

Based on design in #2282, component comps https://redpen.io/pk88a3dce26ec3fe58 and Fellowship comps https://redpen.io/p/mga45e3eeaaf9bc071.

### Styling and CMS form fields
- [x] Image 1:1 ratio
- [x] Name component `Image Text Mini`
- [x] `Test` to have restricted paragraph styles (normal body, bold, italic, link)
- [x] Automatically add top di

[2019-02-20 18:22] kristinashu commented on #2546
These are looking awesome!

@alanmoo please review these comps to flag any concerns and let us know what size of project this will be for devs (aka needs it's own brief or not).

[2019-02-20 18:26] beccaklam commented on #2643
We are currently on track to use airtable pro for this and will embed onto the campaign page.

[2019-02-20 19:30] beccaklam commented on #2643
We may want short links for the methodology or take action urls if we want them to look less terrible in the air table grid.

[2019-02-20 20:09] beccaklam opened #2695 "Accordion Component for Wagtail"
For both the Fellowship Pages and the Misinfo Campaign, it would be nice to have an accordion component similar (pretty much the same) to what the Buyer's Guide 'How To Use This Guide' uses to define their criteria: https://foundation.mozilla.org/en/privacynotincluded/about/

This is the Fellowship pages' mockup: https://redpen.io/hm31c4dca8f8ac879c
This is the (very rough) mock up from the Misinf

[2019-02-20 20:33] kristinashu opened #2696 "Updates Figuregrid2 component"
Related to - Updates to Image Text2 component #2693 & New Image Text Mini component #2694

Based on design in #2282, component comps https://redpen.io/kg4b8b684f624bf84c and Fellowship comps https://redpen.io/p/mga45e3eeaaf9bc071.

### Styling and CMS form fields
- [x] Update mobile to show two-up instead of just one-up
- [x] Add `Square image` checkbox
  - Selected by default - crops images as th

[2019-02-20 20:38] beccaklam commented on #2542
Invision flow of above sketches: https://mozilla.invisionapp.com/share/W7QMF4Y8AST#/348013962_Misinfo

[2019-02-20 21:40] kristinashu commented on #2282
Cleaned up the pages as much as I could https://foundation.mozilla.org/en/fellowships/, opened tickets for component updates, and cropped the logos.

Still need to clean up the sketch file now.

They have two new types of fellows so will need to create icons for the Get Involved page:
- `open internet engineers` (that track is focused on building internet connectivity in low penetration environmen

[2019-02-20 21:52] kristinashu commented on #2282
Tickets filed:
- New icons for fellowship types https://github.com/MozillaFoundation/Design/issues/328
- Generic MoFo google form style https://github.com/MozillaFoundation/Design/issues/329

I'm going to close this one! Still need to clean up sketch but that's kinda an on going thing...

[2019-02-20 21:52] #2282 closed

[2019-02-20 22:02] kristinashu commented on #2542
Super useful to see the prototype and your latest comps.

See what @xmatthewx thinks but if the Google Action page is kinda like a sub-page of the main Misinfo pages then perhaps Misinfo should be a [primary page](https://foundation.mozilla.org/en/awards/) (but with unique header) and Action pages could be [normal campaign](https://redpen.io/jg336970d170fdeebb) or opportunity page (if no petition)

[2019-02-20 22:09] kristinashu commented on #2636
@sabrinang do you know what is left for Mavis to do to close this ticket?

[2019-02-20 22:12] kristinashu commented on #2285
@alanmoo is this ticket useful or do you want to track this work another way?

[2019-02-20 23:23] kristinashu opened #2699 "Initiatives page content & features"
At the bottom of our [/initiatives](http://foundation.mozilla.org/initiatives) page we have a section where we could feature a lot more of our work.
@anilkanji @Sydette should we?

Here's some possible work we could feature:
- https://foundation.mozilla.org/en/initiatives/responsible-cs/
- https://foundation.mozilla.org/en/initiatives/trustable-technology-mark/
- https://foundation.mozilla.org/en/

[2019-02-20 23:34] Pomax commented on #2692
Hm, can we easily do that? As far as I know the navigation gets autogenerated based on whether there are products tied to a particular category, so as long as we have products tied to it, the nav generation will pick up on that category existing and add it to the nav bar.

[2019-02-20 23:40] #2690 closed

[2019-02-20 23:42] Pomax commented on #2693
It looks like we're still using ImageTextBlock [on nine pages](https://foundation.mozilla.org/cms/inventory/?form-TOTAL_FORMS=3&form-INITIAL_FORMS=0&form-MIN_NUM_FORMS=0&form-MAX_NUM_FORMS=3&form-0-has=includes&form-0-block=networkapi.wagtailpages.customblocks.ImageTextBlock&form-1-has=includes&form-1-block=&form-2-has=includes&form-2-block=) so we'll have to switch those over to ImageTextBlock2 f

[2019-02-20 23:50] kristinashu commented on #2693
Amazing that you can tell which pages are using it! I will update those tomorrow.

[2019-02-21 14:40] WillatMozFdn commented on #2546
Two quick comments:
A) newsletter signup text right next to the box ... best email strategy practices here tell us we need to communicate the value, and set frequency expectations, for someone to let us into their inbox.  Suggested copy: "Want to get smarter about your online life?  Sign up for our Mozilla newsletter! (Delivered 1-2 times per week.)"  (We've done some testing on this in the snippe

[2019-02-21 15:23] alanmoo commented on #2692
Right. There is currently some logic that makes Valentine's day be the first category which we'd have to remove. The easiest thing that comes to mind is a "permanent" category name and a site-level redirect that hands visitors to the "Valentine's" category to the new one.

That being said, I'm only at like 💩 💩 out of 5 on this. So I'll yield to whatever Jen/Kristina decide, with a minimum requirem

[2019-02-21 15:40] alanmoo commented on #2699
I agree; This concept of grabbing the 'promote' tab content for elsewhere in the site is functionality I'd love to add- it would be useful for index pages of campaigns and for situations like this. If it's something enough of us agree on, perhaps we should add it as a brief and prioritize it.

[2019-02-21 15:42] caltrider commented on #2692
I took a look back at the Wired article and it links directly to the Valentine's Day category page as does the Boing Boing article. I think the landing page is super interesting, so I'd be OK to redirect there. However, that might be confusing for folks who link from these articles (not sure how many people that will be, but I did want to take it into consideration). So, i guess I'm of the mind th

[2019-02-21 15:42] alanmoo commented on #2285
It doesn't look like we're actually going to do this work, instead tracking our solution is happening in https://github.com/MozillaFoundation/mofo-devops/issues/657

[2019-02-21 15:42] #2285 closed

[2019-02-21 16:02] alanmoo commented on #2696
Since these images are being stored as part of Wagtail, the square image functionality should leverage the "focal area" feature that Wagtail offers. See [this page](http://docs.wagtail.io/en/v2.0/topics/images.html?highlight=focal) for details.

[2019-02-21 16:25] Pomax commented on #2692
In terms of quick/easy solutions, we could put in an instruction to "skip over building this nav entry if its text is exactly: <...> ", which shouldn't need more than just an update to the page template.

Alternatively, and probably easier to support longer term, is adding a flag to the category models for whether or not to show up in the nav menu at all, which shouldn't be all that much more work

[2019-02-21 16:47] alanmoo commented on #2692
@Pomax I had that thought earlier too. Since you came to it independently, let's go with that.

[2019-02-21 17:18] sabrinang commented on #2636
@kristinashu Yes, when we updated the Foundation site palette it affected colours in Privacy Not Included so to finish color standardizing it is in issue #2665

[2019-02-21 17:36] Pomax opened #2700 "update ProfileDirectory component to allow for more than "year" filtering"
Currently the ProfileDirectory has been primed to allow for year filtering (specifically to make porting the fellowhship pages possible), but this should be extended to filtering on any of the fields that can be specified,  eventually.

[2019-02-21 18:16] kristinashu commented on #2636
Ok awesome!

[2019-02-21 18:16] #2636 closed

[2019-02-21 20:29] kristinashu commented on #2693
Ok that was painfully tedious but they're all gone now!

[2019-02-21 20:34] kristinashu opened #2702 "Finalize fellowship page designs and copy"
Follow-up from https://github.com/mozilla/foundation.mozilla.org/issues/2282

Stakeholders are finalizing copy in [this google doc](https://docs.google.com/document/d/1-GUXbxzd44j0XbIDuFWkekP4jqvxeFvVjAkIEzbJ9v8/edit?usp=sharing).

- [x] Update sketch with updated copy and more images
- [x] Update cms with updated copy and more images
- [x] Crop profile images so they are 1:1 and upload in pulse
-

[2019-02-21 21:39] alanmoo commented on #2546
Since this is new functionality and my team is stretched so thin right now, this warrants a new brief for prioritization.

[2019-02-21 21:56] beccaklam commented on #2542
Staging link here for current rendition of the campaign site: https://foundation.mofostaging.net/en/campaigns/eu-misinformation/ Asking Brandi and Jon for feedback.

[2019-02-21 22:00] alanmoo commented on #2542
Remember that staging will get reset on Monday morning to match production.

[2019-02-21 22:00] kristinashu commented on #2546
Ok, I'll open one.

[2019-02-21 22:09] beccaklam commented on #2542
Yeah I thought about that as I posted. So here is the updated [redpen](https://redpen.io/p/az6289e0c6e14536b3) and [invision prototype](https://mozilla.invisionapp.com/share/UZQN9GIXRB5#/348266393_Eumisinfo for better documentation.

[2019-02-21 23:39] Pomax opened #2703 "Consider creating Percy tests for the fellowship pages"
Given our intent to migrate the fellowship pages, it might be worth making tests for the current pages, so that work we do in the porting comes with tests that ensure we don't accidentally remove styling that's still supposed to apply to the old pages during the porting effort.

Of course, adding tests would cut into our allotted screenshots per month, but that might be worth it. Or not! Let's fig

[2019-02-22 00:04] kristinashu commented on #2703
Thanks for opening this Pomax, I didn't realize it would take extra work to do. Since it's only a few pages and will be short lived it probably isn't worth the effort.

[2019-02-22 01:12] natalieworth commented on #2692
Lol this ticket name 🤣

[2019-02-22 16:33] #2703 closed

[2019-02-22 16:34] alanmoo commented on #2703
+1, especially since this isn't meant to be a 1:1 conversion.

[2019-02-22 16:38] Pomax opened #2704 "Add a "show in nav menu" flag to the ProductCategory model"
It should default to `true` with an associated migration that ensures all pre-existing categories are correctly uplifted, and the nav bar template will need an update to take that flag into consideration.

[2019-02-22 16:46] Pomax commented on #2693
Super! On a CMS permissions note, can you see the "settings -> block inventory" option? I don't recall it being an explicit permission in the user group policies, but I also don't think we ever checked that everyone with CMS access can see it, even though it'd be super useful if everyone could.

[2019-02-22 16:50] kristinashu commented on #2693
Yes, I see it!

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/1068783/53257415-e6f36200-367e-11e9-9d2c-aefa64320bfa.png">

[2019-02-22 16:52] kristinashu commented on #1902
I will go review https://foundation.mozilla.org/cms/inventory/ and make sure no deprecated components are in use.

cc @Pomax

[2019-02-22 16:56] alanmoo commented on #1902
Once you've confirmed, this is probably something @youriwims could take care of.

[2019-02-22 16:57] kristinashu opened #2705 "RIP V-Day on Feb 28 - hero banner swap"
At the end of the month we should de-valentines the site. Related to Hide Category #2692 and design for banner https://github.com/MozillaFoundation/Design/issues/327.

- [x] update homepage banner (mockup https://redpen.io/p/pecf13a6495b04d79e)

![pni-evergreen-v2](https://user-images.githubusercontent.com/14876567/53213222-efa35400-35fc-11e9-95f5-147b4d9ba8a1.jpg)

[2019-02-22 16:57] Pomax commented on #2693
ah, perfect. Thanks for checking!

[2019-02-22 16:59] kristinashu commented on #2692
Thanks for the banner design Nat! I have split this into two tickets: this one for the category nav work
and #2705 for hero banner swap.

[2019-02-22 17:10] Pomax commented on #2704
https://github.com/mozilla/foundation.mozilla.org/issues/2692 is already the implementation issue

[2019-02-22 17:10] #2704 closed

[2019-02-22 20:02] kristinashu commented on #2693
I guess, feel free to do the renaming later if deleted the deprecated component is a blocker.

[2019-02-22 20:27] alanmoo commented on #2661
Suggestion: for the template implementation, use a `<style>` tag to override the CSS applied to `#hero::before`'s background.

[2019-02-22 20:29] kristinashu commented on #2661
Not sure if this is helpful but it is currently possible to update the hero on [/initiatives ](https://foundation.mozilla.org/en/initiatives/) in the cms.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1068783/53269339-7576dc00-369d-11e9-97ac-e8755e2020ed.png">

[2019-02-22 20:35] alanmoo commented on #2661
Only kind of. They use different markup to achieve the same effect. I'd like to avoid rewriting markup just for this ticket because that could be a rabbit hole.

[2019-02-22 20:45] Pomax opened #2706 "remove ENABLE_PROFILE_DIRECTORY_BLOCK feature flag"
Once the profile directory component has landed, we'll need to remove the dependency on, and need for, the `ENABLE_PROFILE_DIRECTORY_BLOCK` flag

[2019-02-22 21:30] alanmoo commented on #2693
Removing the "small" checkbox is going to impact at least one page on the existing site: https://foundation.mozilla.org/en/initiatives/responsible-cs/challenge/.

Has an audit been done to understand the effects of this (and the URL removal)?

I wonder if it might be better to rebuild this as a separate component called Image Text and deprecate ImageText2

[2019-02-22 21:36] kristinashu commented on #2693
ImageText2 (without the checkbox) has been used extensively on the site so replacing it would be a nightmare.

I can certainly do an audit of where the "small" checkbox has been used and then replace those with `Image Text Mini` when we have it (that's why I put mini as a higher priority to this one).

[2019-02-22 22:13] kristinashu opened #2707 "Fellowships directory spacing between cards"
Spacing between individual profile cards is pretty inconsistent. They should be evenly spaced our between each other.

Screen cap from prod on Desktop:
<img width="1220" alt="image" src="https://user-images.githubusercontent.com/1068783/53370446-955b0980-3902-11e9-932f-a218ba23afb4.png">

Screen cap from prod on Mobile
<img width="684" alt="image" src="https://user-images.githubusercontent.com/106

[2019-02-25 14:44] alanmoo opened #2718 "When can the "old page" rules in fellows.scss be removed?"
ref: https://github.com/mozilla/foundation.mozilla.org/pull/2701/files#r259854771

[2019-02-25 14:48] alanmoo opened #2719 "Prevent dependabot updates from triggering Percy"
These updates are going to kill our monthly quota for (mostly) no reason. I know Travis has a way to prevent it from being run, does Percy?

(I'd still want to see it run, but only for the coalesced updates we manually create based on dependabot.)

@Pomax @patjouk @cadecairos

[2019-02-25 16:38] Pomax opened #2721 "remove the ENABLE_PROFILE_DIRECTORY_BLOCK flag"
all PRs for the directory component have now landed, so we can safely remove this feature flag from any of the code that relies on it, plus the settings file.

[2019-02-25 17:30] natalieworth commented on #2546
Added the copy updates [to the footer](https://redpen.io/zf88636d2af35edf72) along with the github icon from Friday.

cc @WillatMozFdn @kristinashu @beccaklam @sabrinang

[2019-02-25 18:46] youriwims commented on #2706
@Pomax, this was updated already right?

[2019-02-25 19:35] kristinashu opened #2723 "Pre-checks for launching fellowships"
### Soft launch Feb 28.

- [x] review [checklist](https://docs.google.com/document/d/1Raa5uZTmTyeUMZ6nRzMRJM6TG4J8SdSceB5AUl_0aJE/edit)

- [x] redirects (with and without `en`):
  - [x] https://foundation.mozilla.org/fellowships/directory/ to https://foundation.mozilla.org/en/fellowships/meet-our-fellows/
  - [x] https://foundation.mozilla.org/fellowships/support/ to https://foundation.mozilla.org

[2019-02-25 20:49] alanmoo commented on #2723
Any link that simply adds a locale shouldn't need an update. Once `/fellowships` is gone, Wagtail will automatically try to add the locale, and it will find the new pages.

[2019-02-25 20:53] kristinashu commented on #2723
Oh yeah, ok I'll remove that one.

[2019-02-25 21:20] youriwims commented on #2721
This is a dupe of #2706.

[2019-02-25 21:20] #2721 closed

[2019-02-25 21:36] youriwims commented on #2694
@kristinashu, as soon as I have the build and design approved for the image text mini component, I'll open a separate pr and make the updates to the IH snippet.

[2019-02-25 22:16] youriwims commented on #2693
@kristinashu, any updates on the 'small' checkbox audit?

[2019-02-25 22:58] kristinashu commented on #2693
From an [inventory search](https://foundation.mozilla.org/cms/inventory/?form-TOTAL_FORMS=3&form-INITIAL_FORMS=0&form-MIN_NUM_FORMS=0&form-MAX_NUM_FORMS=3&form-0-has=includes&form-0-block=networkapi.wagtailpages.customblocks.ImageTextBlock2&form-1-has=includes&form-2-has=includes&p=2) and looking at the page, here are the instances:

- [ ] https://foundation.mozilla.org/en/fellowships/
- [ ] https

[2019-02-26 06:45] Pomax commented on #2706
what do you mean with updated? The code still depends on the ENABLE_PROFILE_DIRECTORY_BLOCK flag.

[2019-02-26 15:53] beccaklam commented on #2643
So where we are now: We tried out airtable, but the Campaigns team wants something more impactful. Kristina did a mockup using the Figuregrid component that we're hoping will do the trick:
![misinfo 2 2x](https://user-images.githubusercontent.com/20977376/53426253-a49a8f80-39b4-11e9-8b5c-a27af50b648f.jpg)

Bringing in @natalieworth  to make some awesome graphics to further elevate the Scorecard.

[2019-02-26 15:55] beccaklam commented on #2643
@natalieworth One thing to note, like I mentioned in our call yesterday, is to think of ways to make the standards (i.e. Make Ads Transparent) more prominent. Or just someway the user can more quickly visually gauge what these Platforms are being graded upon.

[2019-02-26 16:17] Pomax commented on #2718
After we finish porting fellows pages. The old rules in there only for as long as the old (e.g. current until we port?) pages exist.

[2019-02-26 16:32] Pomax commented on #2719
From talking to the Percy folks:

[2019-02-26 17:19] youriwims commented on #2706
Okay, I'll put this on my to-do list for today.

[2019-02-26 17:39] youriwims commented on #2693
@kristinashu, what type of list(i.e. ordered/bulleted or unordered/no-bullets) did you want here?

[2019-02-26 18:07] youriwims commented on #2511
Completed in #2669 , #2685 & #2701.

[2019-02-26 18:07] #2511 closed

[2019-02-26 18:11] #2694 closed

[2019-02-26 18:22] kristinashu commented on #2693
All those text styles should be the same as the `Paragraph` component.

[2019-02-26 18:34] beccaklam opened #2725 "Create new template: Primary Page banner, campaign page below"
For the Misinfo campaign we need an intermediate solution for its campaign landing page. We need a Primary Page that will have the option of adding a petition. The URL for this page should be the same as what we currently have for the landing page: https://foundation.mozilla.org/campaigns/eu-misinformation/

**List of requirements:**
- [x] Primary Page look and functionality
- [x] Can add a petiti

[2019-02-26 18:43] kristinashu commented on #2725
Assigned to @alanmoo to triage.

So basically we need a new template where the banner and subnav look like a primary page and below the subnav will look like campaign pages.

[2019-02-26 19:40] alanmoo commented on #2725
I've updated the title of this to be more clear that it's a new template type entirely.

@kristinashu @beccaklam: Where else do you anticipate this template being used in the future (once it evolves)?

[2019-02-26 19:42] beccaklam commented on #2725
I think the campaigns team would use it again, so in campaigns for sure. @kristinashu mentioned something about MozFest?

[2019-02-26 19:43] Pomax commented on #2725
I assume that this is "not a primary page" for the purposes of being part of the main site navigation (like the intiatives/participate/etc primary pages)?

[2019-02-26 19:44] alanmoo commented on #2725
Right, this is more along the lines of a sibling to the existing campaign/opportunity pages.

[2019-02-26 20:14] xmatthewx commented on #2725
I see it as landing page for long-term initiatives that warrant a home. I could see it used for Machine Decision Making as we build up content and perspective in that space. I could see it replacing the internet health report parent site (while keeping reports themselves elsewhere). It could be used to establish the new home for mozfest.

[2019-02-26 20:15] kristinashu commented on #2725
Naming could be something along the lines of "special landing page"?

Yes to what Matthew said, I think something like CS Challenge using this too.

[2019-02-26 20:18] kristinashu commented on #2725
This might be helpful https://redpen.io/hx70e9eb24e0534b72

[2019-02-26 20:19] xmatthewx commented on #2725
Litmus test: could our team _and_ stakeholders imagine buying a vanity url to redirect to this page? If yes, then this template is the right choice.

Also worth noting: we don't want anyone and everyone using this template. They should have design support for IA and banner graphic.

[2019-02-26 20:51] kristinashu opened #2726 "Image Text Mini should be full width"
Sorry I didn't catch this during QA but looks like this component isn't filling the container width. It looks good a narrower widths but isn't quite wide enough at the widest one.

Example https://foundation.mozilla.org/en/fellowships/apply/

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/1068783/53445183-d582c080-39c4-11e9-9638-a18a092cf013.png">

cc @youriwims @Poma

[2019-02-26 20:58] kristinashu commented on #2726
Also wondering if this is way the icons are so small now? I swear they were bigger in the PR.

<img width="982" alt="image" src="https://user-images.githubusercontent.com/1068783/53445735-16c7a000-39c6-11e9-94c3-076f791e8c84.png">

[2019-02-26 21:15] alanmoo opened #2727 "CSP errors"
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/1682681/53446779-c0685a80-39e1-11e9-9652-08a6b57fd3ca.png">

[2019-02-26 21:35] alanmoo commented on #2725
Unfortunately, we can't constrain use of a specific template by user permissions, but we can constrain where it gets used and where they can create pages. That being said, it seems like this shouldn't have restrictions because we want it under `/campaigns` and possibly under the homepage (`/mozfest`, for example).

[2019-02-26 21:44] alanmoo commented on #2718
Sorry, I meant "add a comment to the codebase stating when these can be removed"

[2019-02-26 21:54] youriwims commented on #2726
Okay, so you always want this component to span the full width of whatever container it's in? Also, checking out the icon size now. Thanks!

[2019-02-26 21:58] youriwims commented on #2726
Are these correct?

**Component View**
<img width="624" alt="screen shot 2019-02-26 at 4 55 10 pm" src="https://user-images.githubusercontent.com/36484608/53449239-64083980-39e7-11e9-8710-b075806f436e.png">
<img width="619" alt="screen shot 2019-02-26 at 4 55 36 pm" src="https://user-images.githubusercontent.com/36484608/53449242-65396680-39e7-11e9-8c20-cdd31b5b98ad.png">

**Page View**
<img width

[2019-02-26 21:58] kristinashu commented on #2726
Yes exactly, component should span the full width of whatever container it's in.

And yes, icons size looks correct!

[2019-02-27 00:14] Pomax commented on #2727
I can't reproduce this, which OS/browser combination?

[2019-02-27 12:50] patjouk commented on #2719
It's worth trying :) @Pomax Want to do it since you're in contact with the folks at Percy? It will be easier to report to them if that worked.

[2019-02-27 14:41] alanmoo commented on #2727
Hmm, Firefox 65 Mac OS. Looks like the errors are a browser add-on, but the child-src deprecation sticks around even with all add-ons disabled.

[2019-02-27 15:53] HSR05 commented on #2696
Is this issue open? @kristinashu Can you guide me? I'd like to work on this.

[2019-02-27 15:53] HSR05 commented on #2686
Is this still open?

[2019-02-27 15:57] alanmoo commented on #2696
Thanks for your interest, @HSR05. We're on a bit of a deadline with this, so someone on staff is going to be taking this on today or tomorrow. Can I recommend one of our issues tagged ["good first issue"](https://github.com/mozilla/foundation.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)?

[2019-02-27 15:59] HSR05 commented on #2640
Is this still open? I'd like to work on this. Can you guide me @Pomax

[2019-02-27 16:52] cadecairos commented on #2727
If an addon is injecting inline fonts, you're gonna have a bad time. The child-src deprecation thing is not an issue, it's just Firefox being stupid about the CSP 3 Spec.

https://bugzilla.mozilla.org/show_bug.cgi?id=1486331
https://github.com/w3c/webappsec-csp/pull/313

[2019-02-27 17:38] #2706 closed

[2019-02-27 17:39] Pomax opened #2731 "remove ENABLE_PROFILE_DIRECTORY_BLOCK from staging and production"
we should remove ENABLE_PROFILE_DIRECTORY_BLOCK from the staging environment once master redeploys, and remove ENABLE_PROFILE_DIRECTORY_BLOCK from the production environment once we promote staging.

- [x] master deployed to staging
- [x] staging environment cleaned up
- [x] staging promoted to production
- [x] production environment cleaned up

[2019-02-27 17:53] Pomax commented on #2727
Add-ons geting blocked is effectively "CSP doing exactly what it should be doing" (even if we vehemently disagree with whether or not the website owner's CSP should get to dictate the user's experience, overruling intentionally installed addons that are _meant_ to inject functionality into the document).

Closing as "does what it's supposed to" =(

[2019-02-27 17:53] #2727 closed

[2019-02-27 19:30] #2726 closed

[2019-02-27 20:33] Pomax commented on #2725
For the `primary page look and function` does that include the options for "narrowed page content" and "zen nav"?

[2019-02-27 20:39] alanmoo commented on #2725
We should talk about removing the zen-mode option (forcing it on everything except primary pages, I believe?).

As for the narrowed page content- I believe we should be ignoring it. As in, don't make it affect anything in the template's rendering.

[2019-02-27 21:22] Pomax commented on #2725
I'm trying to touch as little as possible by extending and overwriting the bare minimum, so code that already checks for narrow content will keep doing that, and new code will too if it's role is to "shim" a bit of code that's missing due to partial template inheritance (yay, tech jargon!). Any bits that end up duplicating zen/narrow checks can be part of a cleanup pass once we do one.

[2019-02-27 22:58] Pomax opened #2734 "audit the use of parent_page_types vs. subpage_types in our wagtail models"
A lot of pages both specify a parent page type and a subpage type, and there really shouldn't be any need to use both (in fact, it just makes it harder to add new page types). We should audit the code to figure out which parent/sub graph it's currently generating and then implement that same graph either using only parent, or only subpage relations (and I'd recommend subpage rather than parent, mo

[2019-02-27 23:25] alanmoo opened #2735 "Make wagtail page sections collapsable"
Only if this is a thing Wagtail can do very easily, though I ask because I'm pretty positive it can:
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/1682681/53530135-f0d0f700-3abc-11e9-9d22-90df4c593cbd.png">
I'm pretty sure the white triangles on pink backgrounds exist because they're "expanded" sections. It would be nice to enable the collapsability of them if we can

[2019-02-28 15:06] patjouk commented on #2719
Decided to [give it a try](https://github.com/mozilla/foundation.mozilla.org/pull/2730/commits/4f7774e1275941074c803872d17e273e01bf7fdd#diff-354f30a63fb0907d4ad57269548329e3R55) since I'm working on a new Travis config file.

[2019-02-28 15:34] alanmoo opened #2737 "Clean up inactive fellows pages"
Remove all the dead code left by #2736

[2019-02-28 15:42] alanmoo opened #2738 "Directory component improvement: hold past height while fetching new list"
When switching from one year in the filter component to the next, the page "jumps" because the div is suddenly emptied out while fetching the next group of profiles. Can we reduce the visual impact of this? Perhaps by grabbing the height of the div when switching, manually setting it with an inline style, then removing it once the new data has loaded. (Feel free to go about it another way, I just

[2019-02-28 20:59] youriwims commented on #2731
This is done ✅

[2019-02-28 20:59] #2731 closed

[2019-02-28 21:04] youriwims opened #2739 "(Wagtail) Deprecated Image Text component needs to be removed from codebase"
Related Issue #1902

In order to [rename and remove features](https://github.com/mozilla/foundation.mozilla.org/issues/2693#issue-412555535) of the ImageText2 component ( #2693 ), the original Image Text component needs to be fully removed.

[2019-02-28 21:57] alanmoo commented on #2723
Ok, I've done everything except removing the old pages, which has been filed as #2737. Closing in favor of that.

[2019-02-28 21:57] #2723 closed

[2019-02-28 22:21] Pomax commented on #2738
An alternative is to not clear out the results until we _have_ new results, and show the load indicator in some other fashion.

[2019-02-28 22:23] Pomax commented on #2735
From [the docs](https://docs.wagtail.io/en/v2.1.3/reference/pages/panels.html):
---

### Collapsing MultiFieldPanels to save space

By default, MultiFieldPanel s are expanded and not collapsible. Adding collapsible to classname will enable the collapse control. Adding both collapsible and collapsed to the classname parameter will load the editor page with the MultiFieldPanel collapsed under its he

[2019-02-28 22:26] Pomax commented on #2719
I recall seeing you comment on conditionals in Travis being not super great, did that try work out?

[2019-02-28 22:31] Pomax commented on #2640
@HSR05 certainly. The issue is about the `.more-details` rule, nested under `.person-card-featured` in the `source/js/components/people/people.scss` file - this was used by `source/js/components/people/person.jsx` but while the `person-card-featured` class is still in use, the `more-details` class doesn't appear to be. So the work would be to

1. confirm there the particular class isn't being used

[2019-02-28 22:36] Pomax commented on #2695
Unfortunately, the buyers guide is not part of wagtail, and exists as a parallel app that uses all-custom code to make it look the way it does, with the accordion functionality being custom tailored to the guide and almost impossible to port in a way that would work within the wagtail system or organizing page data =(

While we can probably come up with a way to make an accordion component that fe

[2019-02-28 22:54] Pomax commented on #2686
It is, but this one is not actual as easy as the original comment makes it sound, so we'll be tackling this one internally.

[2019-02-28 23:55] Pomax opened #2742 "add test and fake_data for BanneredCampaign"
follow-up to https://github.com/mozilla/foundation.mozilla.org/pull/2733, to add coverage testing and a load_fake_data entry for BanneredCampaigns

[2019-03-01 01:01] #2705 closed

[2019-03-01 03:00] HSR05 commented on #2640
@Pomax Thanks for the guidance. I'd start working on it and update you ASAP.
Cheers 👍

[2019-03-01 09:13] patjouk commented on #2719
I'm going for something different. If I can't make it work, conditional on dependabot branch name will work.

[2019-03-01 14:56] alanmoo commented on #2738
Good point. @kristinashu any thoughts on this?

[2019-03-01 15:29] #2692 closed

[2019-03-01 18:52] alanmoo opened #2743 "Generate id attribute for headings in streamfields (anchor links)"
Problem: In order to be able to link directly to sections of our pages, we need headings to have an ID attribute.

Suggested solution: Use JS to create IDs based on the text of `h1` and `h2` elements (at least) of streamfield content.

This will be used for the EU-misinfo campaign

cc @beccaklam

[2019-03-01 21:42] alanmoo opened #2744 "Campaign banner template needs banner image to be editable"
Editors should be able to choose the image that appears across the top of bannered campaign pages.

[2019-03-01 22:05] beccaklam opened #2745 "Remove 'Header' from Bannered Campaign Template"
The new Bannered Campaign Template is looking great but there's an H1 Header that's been inherited from its parents that's not needed anymore. The two H1s on the page fight each other so for hierarchy purposes it should be removed.

List of requirements:

- [x] Remove 'Header' from template

Template:
![image](https://user-images.githubusercontent.com/20977376/53669103-f0169d00-3c43-11e9-9314-086a

[2019-03-01 22:15] beccaklam commented on #2745
cc: @kristinashu do you have any thoughts? We tried to figure out why it was needed in the past but couldn't figure it out.

[2019-03-01 23:33] kristinashu commented on #2745
So I don't fully understand it but I think there is some complicated reasoning...

The `Title` of the parent page shows up on all the it's sub pages so people know where they are when they are on mobile.

Parent page:
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/1068783/53672274-a4112b80-3c36-11e9-9274-dc7b31a97940.png">

<img width="1305" alt="image" src="https://u

[2019-03-04 14:53] beccaklam opened #2755 "Misinfo Master Ticket"
## Requested Deliverables (in order of public launch)

### Feb 11

- [x] Open Letter (https://github.com/MozillaFoundation/Design/issues/324)

- [x] Mozilla Campaign Page (Introductory paragraph, open letter, petition snippet)
- [x] Campaign graphic (#2545)
- [x] URL (for the Campaign Page?)
- We went with a traditional url: https://foundation.mozilla.org/en/campaigns/eu-misinformation/ with a sho

[2019-03-04 15:02] beccaklam commented on #2542
Ok, so this hasn't been updated in a while. But what happened is the campaigns team didn't think the airtable scorecard/current campaigns template was impactful enough so switched course and made these designs: https://redpen.io/p/tafd9bccd2cd92a146

The plan is to create a Bannered Campaign template #2725 to launch the campaign with but eventually replace it with this design:
![image](https://use

[2019-03-04 15:05] beccaklam commented on #2643
After a week of iterating we have our final design! We are waiting on final content to export all the necessary assets. The due date for this is March 11. For a complete overview of the design: https://redpen.io/p/tafd9bccd2cd92a146
![misinfo-desktop 2x](https://user-images.githubusercontent.com/20977376/53741682-e7e97800-3e64-11e9-94c5-c3a4210887a6.jpg)

[2019-03-04 15:23] beccaklam commented on #2643
**Things left to do:**

- [ ] Export logos for overall Scores

- [ ] Export all scores (overall and standards)

[2019-03-04 15:26] beccaklam opened #2756 "Create Special Landing Page Pt 2: The 'Editorial Banner' (or w/e we decide to name it)"
When design is finalized and there's time/resources we want to build out this design for larger, more long term campaigns:
![image](https://user-images.githubusercontent.com/20977376/53742968-ce95fb00-3e67-11e9-8c3b-f665edf2f2b6.png)

Things to do:

- [ ] Finalize design (responsive widths)

- [ ] Build it

[2019-03-04 16:23] xmatthewx commented on #2542
The current solution ready for build is in the screenshot below. Design with side-by-side text and graphic needs more exploration with responsive and various use cases (including non-campaign things like mozfest or machine decision making) ... before we commit to that direction. We can discuss at next team huddle.

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/53411/

[2019-03-04 16:50] kristinashu commented on #1902
These are the deprecated components and all instances of them have been removed on prod so they are ready to be removed.

- [ ] Image text (related to - Updates to Image Text2 component #2693)
- [ ] Figure
- [ ] Figuregrid (can be done in #1486)

<img width="398" alt="image" src="https://user-images.githubusercontent.com/1068783/53747874-12cdcf00-3e59-11e9-8f89-520a97972dde.png">

[2019-03-04 16:58] kristinashu commented on #2702
Launched!

[2019-03-04 16:58] #2702 closed

[2019-03-04 21:37] beccaklam commented on #2643
Asking for feedback on what combination works better for logo and icon integration:
![scorecard-logo-and-icons 2x](https://user-images.githubusercontent.com/20977376/53764590-bb048780-3e9b-11e9-96ce-f2326388ed15.jpg)

[2019-03-04 21:48] beccaklam commented on #2542
@xmatthewx do you know who I should reach out to get some content for those use cases? (mozfest and machine decision making)

[2019-03-04 22:19] xmatthewx commented on #2542
TBD!! Let's discuss at our team huddle. We've got lots of stuff in the pipeline. I'd like to reset as a group and discuss how we want to approach all the things.

[2019-03-04 22:24] kristinashu commented on #2546
This is part of our broader newsletter work so @natalieworth, when you get the chance, please open an implementation ticket and close this one!

[2019-03-04 22:41] kristinashu opened #2757 "Design newsletter signup in nav"
Launch mid-late April 2019

Product Owner: Anil
Project Manager: Kristina
Consultant: Will, Jen
Design & UX: Natalie or Rebecca
Dev: Mavis or Youri

We would like to add signup ‘above the fold’, most likely in the nav next to donate. This will link to a new signup page [link to ticket].

Goal from Anil: Make signup form more prominent on our site with compelling, tested, signup language that reinf

[2019-03-05 17:43] Pomax opened #2758 "Refactor models.py so that it's not one giant file"
- [x] move `models.py` to its own dir (renamed to `__init__.py` so it keeps working)
- [ ] move individual page models into their own files
- [ ] ...profit...?

[2019-03-05 17:50] Pomax commented on #2744
This feels like something we might actually want to put on the primary page itself. There's no good reason I can think of that would require that image to be a hardcoded asset.

[2019-03-05 17:56] youriwims commented on #2533
Any suggestions for a good place to start on this? Here's a [link](https://developers.google.com/analytics/devguides/collection/analyticsjs/events) I found...let me know if I'm headed in the right direction.

cc: @alanmoo @Pomax

[2019-03-05 18:07] xmatthewx commented on #2533
Take a look at [reactga](https://github.com/mozilla/foundation.mozilla.org/search?q=reactga&unscoped_q=reactga) in our source. You'll see a few places where similar things have been implemented.

[2019-03-05 18:14] youriwims commented on #2533
Nice, thanks @xmatthewx !

[2019-03-05 18:19] alanmoo commented on #2745
Ah, that sounds like the reason I couldn't quite put my finger on!

[2019-03-05 19:38] alanmoo commented on #2744
@beccaklam Any objections to this? Default image as it exists, but with the ability to override on all pages with banners if desired? (Assuming it's the same amount of work or less)

[2019-03-05 20:14] kristinashu commented on #2744
Is this the same as - Make header image on primary pages cms editable #2661 ?

[2019-03-05 20:15] beccaklam commented on #2744
No objections from me! Same bird, one stone.

[2019-03-05 20:18] beccaklam commented on #2725
This is pretty much done. Just following up with some QA in #2661

[2019-03-05 20:18] #2725 closed

[2019-03-05 20:28] kristinashu opened #2761 "CMS images caching"
From @sabrinang:

Regarding images in the CMS / thumbnail issue:

I see the same image for all the images but in the editing view I have uploaded different PNGs but the live link is displaying one thumbnail or multiples

See pages: https://foundation.mozilla.org/en/docs/brand/design/templates/ or https://foundation.mozilla.org/en/docs/brand/design/logos/

Image is wrong on prod:
<img width="1304"

[2019-03-05 21:05] Pomax commented on #2744
given https://github.com/mozilla/foundation.mozilla.org/issues/2661, I'm going to mark this a duplicate, get 2261 sorted out, and as the BanneredCampaign extends the PrimaryPage, it'll get the banner "for free"

[2019-03-05 21:05] #2744 closed

[2019-03-05 21:33] cadecairos commented on #2761
Possibly related: https://github.com/wagtail/wagtail/issues/3883 (need to look a bit closer...)

[2019-03-05 21:42] cadecairos commented on #2761
https://github.com/wagtail/wagtail/issues/3206 seems to actually be our issue.

@kristinashu @sabrinang short term, you can unblock yourselves by uploading images which have unique file names *in the first 17 characters*

I'm going to see how to mitigate this long-term.

[2019-03-05 21:44] Pomax opened #2762 "remove some mention of mezzanine from our docs"
based on https://github.com/mozilla/foundation.mozilla.org/pull/2746, it turns out we actually still mention mezzanine in a few places, and those should get removed =)

[2019-03-05 21:49] cadecairos commented on #2761
Possible Work-Around is `AWS_S3_FILE_OVERWRITE = False` in settings.py

[2019-03-06 16:38] #2739 closed

[2019-03-06 16:43] beccaklam commented on #2745
This is done!

[2019-03-06 17:03] Pomax commented on #2745
reopening, because the PR has not yet landed.

[2019-03-06 17:07] Pomax commented on #2693
marking as blocked until https://github.com/mozilla/foundation.mozilla.org/pull/2763 is on production (not just staging)

[2019-03-06 17:40] Pomax commented on #2693
#2763 got deployed to production, marking as unblocked again.

[2019-03-06 19:09] Pomax opened #2767 "update the fake "Participate" page, because it looks very different these days"
current load_fake_data page:

![image](https://user-images.githubusercontent.com/177243/53906631-4dbe3700-4000-11e9-8055-bd5f0d24881c.png)

Actual page on foundation site:

![image](https://user-images.githubusercontent.com/177243/53906658-57479f00-4000-11e9-871a-3cc77279e15f.png)

[2019-03-06 20:15] Pomax opened #2769 "Fix up the banneredcampaign page template"
it looks like there's a bit too much spacing between its banner and the main content:

![image](https://user-images.githubusercontent.com/177243/53910786-8f071480-4009-11e9-98c2-28491812dc29.png)

[2019-03-06 20:16] Pomax commented on #2769
compare this to primaries:

![image](https://user-images.githubusercontent.com/177243/53910817-a2b27b00-4009-11e9-9c0f-80cf9953069f.png)

[2019-03-06 20:20] #2661 closed

[2019-03-07 15:51] cadecairos commented on #2362
@Pomax were you working on this issue again?

[2019-03-07 16:16] alanmoo opened #2771 "Enable direct linking to pulse projects"
As a way of curating links to projects, the current Pulse component is great, but it requires users to get directed to Pulse before clicking the link that leads to the project. Let's short-circuit that.

- [x] Add a checkbox to the Pulse component in Wagtail called "direct link"
- [x] When enabled, clicking on a Pulse entry will direct users visitors to the entry's `content_url`, rather than the P

[2019-03-08 13:44] #2771 closed

[2019-03-08 17:45] SimiCode commented on #2762
@alanmoo @Pomax
Great! I'll take this on :)

[2019-03-08 18:14] SimiCode commented on #2762
@alanmoo @Pomax
I created a PR for this. Please review and advise.

[2019-03-08 20:08] #922 closed

[2019-03-09 01:24] kristinashu commented on #2696
Ok, all the instances of FigureGrid2 have been updated to Image Grid.

[2019-03-09 08:57] HSR05 commented on #2640
@Pomax  I created a PR for this. Please review and advise. Cheers 👍

[2019-03-09 09:00] HSR05 commented on #2738
I'd like to take this up. Can you guide me on this @alanmoo ? Thankyou.

[2019-03-09 09:01] HSR05 commented on #2737
Is this still open??

[2019-03-09 09:02] HSR05 commented on #2735
Is anybody working on this?

[2019-03-09 09:52] HSR05 commented on #2357
@kristinashu @Pomax  I've looked at the template and the base.html too. Can you just guide me a little so that i can work on it? Thankyou 👍

[2019-03-09 09:57] HSR05 commented on #1839
I'd like to work on it. Can you guide me a little. Thankyou 👍

[2019-03-09 09:59] HSR05 commented on #1801
I'd work on this. Can you guide me a little @kristinashu  @Pomax

[2019-03-11 13:53] alanmoo commented on #2737
Yup. Take a look at the code removed in the aforementioned PR. To close this ticket, we'd need to remove everything that was pointing at.

[2019-03-11 13:55] alanmoo commented on #2738
Thanks for the interest, but this still needs some design guidance.

[2019-03-11 14:16] beccaklam commented on #2643
This work is paused indefinitely due to reasons relating to the Campaigns team not being able to move forward with this work.

[2019-03-11 14:16] #2643 closed

[2019-03-11 14:20] beccaklam commented on #2755
This work is paused indefinitely. Some things like the Phase 1 Bannered Template and the Resource Template will still be moved going forward. But the Scorecard will not be moving forward due to the Campaigns team not being able to move forward with that work.

[2019-03-11 14:20] #2755 closed

[2019-03-11 16:56] #2762 closed

[2019-03-11 17:24] #2696 closed

[2019-03-11 18:56] alanmoo commented on #2735
Feel free to open a PR! I'd err on the side of "don't collapse things by default" but do make most panels collapsable.

[2019-03-11 19:47] beccaklam opened #2784 "Fix banner image 'cutout' on Landing Page Template"
Just some QA on the new 'Bannered Campaign Template':

When adding a new image for the header, depending on the aspect ratio of the image loaded the white 'cut out' box disappears:

**Original:**
![image](https://user-images.githubusercontent.com/20977376/54152919-be0bf480-4414-11e9-9640-26cd75c43d93.png)

**New Header**
![image](https://user-images.githubusercontent.com/20977376/54152969-d67c0f00

[2019-03-11 19:54] Pomax commented on #2743
After trying a few things, the JS solution probably isn't the right one, as it will have to force in `id` attributes and then also do fragment-id detection on the URL, with a forced navigation to scroll to that fragment, which it won't do "in sync" with the page, so it might kick in when the user's already started scrolling...

It might be possible to wrap the `richtext` wagtail tag with our own t

[2019-03-11 20:02] alanmoo commented on #2743
Ah, that makes a lot of sense. I should have thought of that being a problem. 🙃

[2019-03-11 20:13] kristinashu commented on #2784
I'm ok with creating a new aspect ratio for this use case since it's quite different than our other images.

[2019-03-11 20:17] HSR05 commented on #2735
@alanmoo the collapsing of multifields is making sense to me. As i am new to this code base, can you just help me walkthrough and reach the wagtail pages section. I would be more than thankful. Cheers 👍

[2019-03-11 20:22] alanmoo opened #2786 "Fake data generation still triggers (legitimate) Percy errors"
[This Percy run](https://percy.io/Mozilla-Foundation/foundation.mozilla.org/builds/1546527) highlights the issue- this isn't a real visual regression. Something about our approach to generating data for review apps needs attention.

[2019-03-11 20:23] beccaklam commented on #2784
@mmmavis just a note, the bannered campaign template inherits its header code from the primary page header. so if we are making changes in the code we would need to do it in the primary page code.

[2019-03-11 20:29] alanmoo commented on #2735
I'm just referring to page models inside the wagtailpages app.

[2019-03-11 22:40] mmmavis commented on #2427
Agreed!

[2019-03-11 23:37] kristinashu commented on #2644
A few benchmarks:

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/1068783/54164245-2a88f280-4419-11e9-8267-3ddc1790ad75.png">

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/1068783/54164152-d716a480-4418-11e9-9b26-d314c70fd7f3.png">

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/1068783/54164196-f281af80-44

[2019-03-11 23:46] Pomax commented on #1801
Absolutely: do you have any experience with Python and Django?

[2019-03-11 23:49] Pomax commented on #2357
certainly: if you look at https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/templates/bg_base.html#L9-L17 you can see that there is a block of OpenGraph metadata that allows search engines, twitter, etc. to pick up on "what the page is". However, if you look at https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templa

[2019-03-12 08:26] HSR05 commented on #1801
Yeah, i am familiar with python and django. I have done a few projects in django.
Can you guide me a little so that i can resolve this issue.
i would be more than thankful. 👍

[2019-03-12 09:01] HSR05 commented on #2357
So what general information should i add as meta data. I saw the https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/templates/bg_base.html#L9-L17  which states that this page is "A buyer's guide for connected products" and similarly in description.
Now i know what to do. Can you tell me what general info should be added to the base.html as meta data. L

[2019-03-12 13:42] patjouk commented on #2719
It's done!

[2019-03-12 13:42] #2719 closed

[2019-03-12 14:42] youriwims opened #2789 "[WAGTAIL] Block template updates"
During renaming + removing components, we forgot to make some updates to the blocks' templates. Here's what still needs to be done for those components:

- [x] Update template name for Figure Grid 2(old) --> Image Grid (new) [ref #2773]
- [x] Remove Image Text template (component was removed in #2763)

[2019-03-12 15:00] alanmoo opened #2790 "Update middleware to support multiple domains"
We want to allow Wagtail to determine which domain a request is coming in for so that it can serve the appropriate page. I've set up a new site on staging with a url of https://mozillafestival.mofostaging.net yet foundation.mofostaging.net is being served up.

In Slack, @cadecairos mentioned this needs to be updated: https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/network

[2019-03-12 15:12] alanmoo commented on #2644
Let's try and keep it to a single closed state/message for now, to make l10n and implementation as simple as possible. Numbers are maybe reasonable though? If we as an org want to share those for every campaign...

[2019-03-12 15:31] xmatthewx commented on #2644
A count of signatures would be great if feasible.

Let's include a link to _something_. Even if it's generic. Maybe...
 - Text: "View our latest campaigns"
 - Link: `/advocacy`.

[2019-03-12 15:51] xmatthewx commented on #2784
Good catch @beccaklam! I'd like to flag this as very important to fix even if it might seem like a little visual thing. This landing page template will likely account for 90% of all traffic to the site this year.

[2019-03-12 18:11] mmmavis commented on #2784
@beccaklam

So primary page (and hence campaign template) will have its own aspect ratio for the banner? If so, what aspect ratio do we want it to be?

[2019-03-12 18:18] beccaklam commented on #2784
@mmmavis Well we could make it whatever aspect the current default image is since the header was built around that. Was just wondering if that's the best solution or if there's a solution in code?

[2019-03-12 18:40] cadecairos commented on #2790
I can work on this today

[2019-03-12 19:57] xmatthewx commented on #2784
Ah, I see. If I'm understanding this correctly (which I might now)...

It does seem like we _should_ have standard image dimensions for adding those banners. And it should inform the user in the cms next to the upload button.

To fix this with code, I'm guessing that there are a few options, but I'd also wager than none of them are great. We don't want to stretch images to fit. We don't want to ad

[2019-03-12 20:03] youriwims opened #2792 "[Wagtail Component]Find Image Text 2 & Replace with Image Text Component in CMS"
This the second step in completing the renaming process of Image Text 2 [Old Component] to Image Text [New Component]. Image Text has been created and is ready to replace Image Text 2. Once this is done, we can officially [remove the Image Text 2 Component](https://github.com/mozilla/foundation.mozilla.org/issues/2793).

The Block Inventory [list](https://foundation.mozilla.org/cms/inventory/?form

[2019-03-12 20:08] youriwims opened #2793 "[Wagtail Component] Remove Image Text 2 Component"
This the last step in completing the renaming process of Image Text 2 [Old Component] to Image Text [New Component].

Part 1: #2783
Part 2: #2792
OG Ticket: #2693

[2019-03-12 20:15] youriwims commented on #2793
This is blocked until Part 2 is complete.

[2019-03-12 20:18] mmmavis commented on #2784
I'd like to avoid writing custom code to fix design issue just for a particular page.

In terms of technical solution, it's pretty versatile so don't worry about how things are implemented currently. I just need to understand the design specs better before I can come up with a new technical solution:

1. Currently the banner section is set to be fixed height, 144px, on both mobile and desktop. Is

[2019-03-12 20:22] Pomax commented on #2784
to be clear: the primary page is currently set to min-width 100% for the banner, but not min-height: 100%, so if the banner is "less high than the actual block it's sitting in", it won't look like there's a cutout. There is one, but the banner CSS is set not to repeat vertically, so you won't see it as it'll be white on white.

[2019-03-12 20:24] Pomax commented on #2784
To illustrate, I'm pretty sure we're running into this:

![image](https://user-images.githubusercontent.com/177243/54233360-09340f00-44ca-11e9-9428-4000133d1690.png)

I've made the banner have a not-white background to show off the cutout's happening, but the banner image isn't tall enough to cover the banner's vertical space.

[2019-03-12 20:30] beccaklam commented on #2784
In reading Pomax's comments, I'm assuming the answer is yes? It would be good to have the height consistent across pages/sizes.

Currently, no, but I think there might need to be.

Maybe not, if these pages are going to be staff authored/edited it might be best to give them hard and fast rules. So, like an error message and the image not uploading if it doesn't meet our requirements.

See response

[2019-03-12 21:32] xmatthewx commented on #2784
I don't think we can feasibly make this fool-proof for staff users.
 - Best we can do is probably add a tip to the author component UI. These images will almost always be created by design staff.
 - If staff mess it up often, we could hide the upload button in the settings tab.

I have no idea what the requirements are for the image. Please don't copy the text in my mockup.

<img width="599" alt="

[2019-03-12 21:38] kristinashu commented on #2644
So like this? Do we need approval from someone on campaigns team?

![campaign - closed copy@2x](https://user-images.githubusercontent.com/1068783/54237942-69c84980-44d4-11e9-8373-7c7bd77be429.jpg)

[2019-03-12 22:40] mmmavis commented on #2784
Cool. If we are settled on having fixed height then this should be simple fix. I'll have a PR up first. @beccaklam let's sync up tomorrow after stand.

[2019-03-12 23:18] kristinashu opened #2797 "Blog epic"
### Goal
- Use Foundation site as the primary destination for announcements etc to drive traffic to the site
- A place where we can start to tell deeper/richer stories about fellows, awardees, and the people in our network

### Links
Comps https://redpen.io/p/bha12cf7387de4f7e7
Deck https://docs.google.com/presentation/d/1NWfOotxMRcfE78CehF2uqZefEWEUm5siwrgOXzmbM_8/edit#slide=id.p

### Stage 1: Po

[2019-03-12 23:18] kristinashu commented on #2281
Moved to https://github.com/mozilla/foundation.mozilla.org/issues/2797

[2019-03-12 23:18] #2281 closed

[2019-03-13 00:07] sabrinang opened #2798 "People Name Links on People Cards (Fellowships)"
On the fellowships page, https://foundation.mozilla.org/en/fellowships/meet-our-fellows/, when you click into another cohort year and click on the name of the fellow the URL `https://www.mozillapulse.org/profile/{{ profile.profile_id }}` leads me to a _profile not found_
![image](https://user-images.githubusercontent.com/2492510/54244062-1cee6e00-44e8-11e9-8717-feb4151852dc.png)

When I first go i

[2019-03-13 01:20] Pomax opened #2799 "update to wagtail-modeltranslation 0.10"
this should _finally_ allow us to move up to django 2.latest with wagtail 2.latest

[2019-03-13 15:47] alanmoo commented on #2644
I'm coordinating with Jon. In doing that, I discovered that it appears all our old campaigns _were_ migrated. I still think there's value in this though.

[2019-03-13 16:07] Pomax commented on #2798
ah, those `{{` and `}}` should not be there, they're templating instructions, so let's see what's up with that.

[2019-03-13 16:17] kristinashu commented on #2644
Ok, I've assigned to you to open an implementation ticket when ready!

[2019-03-13 16:34] #2798 closed

[2019-03-13 17:39] youriwims opened #2802 "Create a 'How to Wagtail' doc that explains all the individual components"
Currently, our [streamfield documentation](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/README.md#stream-blocks) is out-of-date. Instead of updating it, it seems like a better idea to:

- [ ] Make a 'How to Wagtail' doc that explains all of the components that are available
- [ ] Remove `/network-api/networkapi/wagtailpages/README.md`

cc: @Poma

[2019-03-13 17:46] Pomax commented on #2802
note: this will mostly be "writing about streamfield blocks on https://foundation.mozilla.org/en/docs/how-do-i-wagtail/

[2019-03-13 17:54] #2789 closed

[2019-03-13 18:33] Pomax commented on #2799
looks like this isn't backward compatible so this will have to be done at the same time as https://github.com/MozillaFoundation/mofo-devops/issues/648

[2019-03-13 18:33] #2799 closed

[2019-03-13 20:03] #2790 closed

[2019-03-13 20:39] Pomax opened #2805 "Add prettier as CSS formatter"
With prettier in control of our JS/JSX, it'll be nice to also make it responsible for CSS/SCSS formatting. Just so we don't ever have to think about that again, either.

[2019-03-13 20:44] #2538 closed

[2019-03-13 21:33] sabrinang opened #2806 "Update existing heading/paragraph styles to standardized type"
By referring to the brand standards typography issue: https://github.com/MozillaFoundation/Design/issues/319, let's clean up and update current type on the site.

This focuses on heading, copy/paragraph and introducing a dark theme. Any typography in UI components & other elements (form, nav etc.) will be dealt with in different issues.

[2019-03-13 21:37] kristinashu commented on #2792
Ok these are ALL DONE!!!

[2019-03-13 21:37] #2792 closed

[2019-03-13 21:37] kristinashu commented on #2793
Part 2 is complete!

[2019-03-13 21:40] kristinashu commented on #2693
w00t Youri! Looks like this is all done and working great!

The final step is represented in - [Wagtail Component] Remove Image Text 2 Component #2793

[2019-03-13 21:40] #2693 closed

[2019-03-13 22:27] mmmavis commented on #2686
Just a note that `/source/sass/views/fellowships/people.scss` (which its code is identical to `/source/js/components/people/people.scss`) is not being imported and used. We should decide which file we wanna keep and remove the unused one.

/cc @youriwims

[2019-03-13 22:40] Pomax commented on #2786
we bootstrap based on a random seed, and we do not reset that seed at any point during the load_fake_data run, so any time random generated data changes, it's usually because something about the actual data itself changed, such as: a new model field, the removal of a model field, a new model entirely, the removal of an entire modal, a new streamfield block, the removal of a streamfield block, etc.

[2019-03-13 22:45] Pomax opened #2808 "add more pages for percy to check"
we're currently running on 5 pages, and it would be good to add additional pages that can act as class representatives for their CMS page type:

- homepage
- about page
- multi-page campaign
- PNI homepage
- PNI category page

[2019-03-13 22:48] youriwims commented on #2686
I'm not sure if `/source/js/components/people/people.scss` is still being used...would have to look more into that. But, we can remove `/source/js/components/people/people.scss`. I think I was going to update that one, but then found `/source/sass/wagtail/profiles.scss` and settled on updating that file and forgot to remove the other. Feel free to create a ticket for it and assign me 😄

[2019-03-13 23:00] kristinashu commented on #2738
This might not give users enough feedback that content is updating.

The white space with loading icon is fine. I think all it needs is to make it so the footer doesn't jump up (I think what you where saying Alan).

Although I think a bigger ux issue is how the page jumps sometimes [probably a new ticket].
Step to repeat:
- load the page
- scroll down past the secondary nav
- click on a year
You w

[2019-03-13 23:12] kristinashu commented on #2756
Sounds like the design we want for this will also need to work for MozFest. Once you're up to speed with MozFest stuff you might want to close this ticket and open a more holistic one!

[2019-03-13 23:16] kristinashu commented on #2364
@alanmoo is there some high level template thinking that needs to happen before this happens?

[2019-03-13 23:19] kristinashu commented on #2451
Banner has been turned off so this is not longer a priority.

[2019-03-13 23:19] #2451 closed

[2019-03-13 23:25] mmmavis commented on #2806
@sabrinang for headings https://foundation.mozilla.org/en/docs/brand/design/Typography/ , does each class have the same font size and line height on both mobile and desktop?

[2019-03-13 23:31] sabrinang commented on #2806
No mobile is different than desktop, I have only documented desktop on the brand page. Please preserve scaling for screen sizes as we do.

[2019-03-13 23:45] sabrinang commented on #2546
@natalieworth Can you check if typography aligns with dark theme styles in https://github.com/MozillaFoundation/Design/issues/319 and if not note what exceptions are made or if we can align etc.

[2019-03-14 00:52] mmmavis opened #2811 "Remove home-news.jsx if it's not being used"
Remove `source/js/components/home-news/home-news.jsx` and related code if this component is not being used.

[2019-03-14 01:18] mmmavis opened #2812 "Remove old fellowships related files and code"
Now that fellowships bits have been CMSified, please remove old static/hardcoded fellowships related files and code. Thanks!

[2019-03-14 04:57] kristinashu commented on #2757
Copy note from Anil:

One thing the team that is working on the welcome series should be aware of is the value prop stated in this sign up form though. For an example of an abbreviated value prop, check out the signup form on https://www.wcs.org/. As someone who signs up to that list for example, my expectation is that what I receive after will be congruent with the promise implied by the copy on

[2019-03-14 13:38] alanmoo commented on #2738
Same issue. Since the content is temporarily "empty", you're moved to the bottom of the page, and the top might actually need to scroll up. When the content re-fills, it does so from wherever the top of the page currently is.

[2019-03-14 13:54] anilkanji commented on #2699
@kristinashu I'm struggling with this one a bit. I think we need to be clear and concise in sharing what we work on, we don't want to overwhelm the visitor or give them a fragmented picture of what we do. After coming to the page the visitor should feel like they have a handle on what we do. That said, I think there's probably a way to accomplish both the a) clear positioning of our core programs

[2019-03-14 17:36] HSR05 commented on #2738
@alanmoo Can we use an anchor in that place so that when we jump to next year and the content re-fills, it does so from wherever the top of page currently is but jumps the the anchor which is at the height of the previous click?

[2019-03-14 17:38] alanmoo commented on #2738
I don't think that would work- the anchor jump happens instantly. And we'd still have the height shrinking while the new content is loading. Keeping the height of the directory will solve both problems.

[2019-03-14 17:41] HSR05 commented on #2738
I would like to implement it. Can you guide me ? I'd be very thankful. 👍

[2019-03-14 17:45] #2793 closed

[2019-03-14 17:48] Pomax opened #2822 "See if we can use prettier for our Django/wagtail templates"
Looking at https://github.com/prettier/prettier/issues/5581 it appears someone has started writing a plugin that extends `prettier`'s abilty to format HTML in a way that doesn't error out on django templating, so... let's see if that works!

[2019-03-14 17:53] alanmoo commented on #2738
Off the top of my head:
Spin up the repo and create a primary page that has a profile listing component, with a profile type of "fellow" ("fellows"?) and filters of 2019, 2018, 2017.

Add some code [to this function](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/static/js/directory-listing-filters.js#L86) that preserves the height of the profileC

[2019-03-14 18:11] #2805 closed

[2019-03-14 18:27] Pomax opened #2823 "Figure out how to make the nav "not need a scrollbar""
From https://github.com/mozilla/foundation.mozilla.org/pull/2788#discussion_r264869974,

Let's find out how to fix our nav bar, because it should probably never trigger a scroll bar in the first place.

[2019-03-14 18:37] alanmoo commented on #2823
It triggers a scrollbar for you? It just wraps for me...

[2019-03-14 19:20] Pomax opened #2824 "Simplify homepage and participate page"
right now these pages are using tons of duplicated fields, where they should really be using a "1 or more" snippet chooser, with a normal Django model that capture those fieldsets as a single thing.

[2019-03-14 20:34] Pomax opened #2827 "Improve the docs around migrations, specifically around streamfield blocks"
Streamfield blocks don't technically count as "model" so all the work technically happens in "PR #1". However, changing a streamfield block can have breaking effects, so it's worth refining the docs a bit to mention what to do when specifically working on streamfield blocks.

[2019-03-14 20:34] #2767 closed

[2019-03-14 20:35] alanmoo commented on #1906
Closed by #2826

[2019-03-14 20:35] #1906 closed

[2019-03-14 20:36] alanmoo opened #2828 "Remove old Participate page model"
It's been replaced by Participate2 and that's now being mocked in fake data generation. Let's get rid of the old one entirely.

[2019-03-14 20:58] mmmavis commented on #2806
@sabrinang what's the hover colour for anchor on dark theme? Is it `#a0a1f8`? If so can we name this new colour since it's not currently on our colour variable list?

[2019-03-14 22:20] #2640 closed

[2019-03-15 00:05] mmmavis opened #2830 "Remove programs.scss since it's obsoleted"

[2019-03-15 08:28] abhinavsagar commented on #2828
Can i work on this?

[2019-03-15 15:42] youriwims commented on #2812
Just want to confirm that everything in `networkapi/fellows/templates` can be removed?

[2019-03-15 16:48] alanmoo commented on #2828
Sure, feel free to open a PR and we'll take a look at it (just keep in mind this team mainly works daytime hours in North America)

[2019-03-15 17:31] HSR05 commented on #2738
I'll give it a go!! Thankyou for the guidance. 👍

[2019-03-15 20:04] #1486 closed

[2019-03-15 20:05] mmmavis commented on #2812
@alanmoo @Pomax tagging you both as I wasn't involved with CMSifying fellowships work so I'm not 100% sure

My assumption is that since we have CMSified fellowships pages, we now can safely remove **everything** in `network-api/networkapi/fellows` and old SCSS ?

[2019-03-15 20:06] mmmavis commented on #2812
Things in `network-api/networkapi/fellows` include

[code]

[2019-03-16 06:37] abhinavsagar commented on #2828
Ok I am working on this. I will open a PR as fast as I can.

[2019-03-16 06:42] abhinavsagar commented on #2824
Can I work on this?

[2019-03-18 05:49] natalieworth opened #2833 "Add a donation ask above the footer of the foundation site"
We are going to be adding an evergreen donation ask above the footer section on the Foundation Site. This should appear on every page the footer appears on. Desktop and mobile designs are in the [ Redpen here.](https://redpen.io/p/bp40e77cb408ac932a)

Desktop:
<img width="980" alt="Screen Shot 2019-03-17 at 10 47 32 PM" src="https://user-images.githubusercontent.com/14876567/54509452-d5604b80-4906

[2019-03-18 06:02] natalieworth opened #2834 "Footer: remove existing email section, update footer, and add new 'email' signup to footer"
We'll be removing the existing email signup section on the Foundation Site and moving it to the footer area. Desktop and mobile versions of the regular, error, and success states are in the [Redpen here.](https://redpen.io/p/bp40e77cb408ac932a)

Removing this section:
<img width="1569" alt="Screen Shot 2019-03-17 at 11 10 50 PM" src="https://user-images.githubusercontent.com/14876567/54510292-f2e2

[2019-03-18 06:06] natalieworth commented on #2834
Icons (check, twitter, instagram, and github) are here:
[icons.zip](https://github.com/mozilla/foundation.mozilla.org/files/2976560/icons.zip)

[2019-03-18 06:18] natalieworth commented on #2546
I moved the most recent versions of this to a [Redpen here.](https://redpen.io/p/bp40e77cb408ac932a) I've updated it to include type and colors from the brand updates that Sabs worked on.

For reference, the old versions of the designs and process are on the previous [Redpen here.](https://redpen.io/p/nr17f804a498f8d46c)

[2019-03-18 13:55] alanmoo commented on #2812
Sounds right to me, but duplicate of #2737. Though this has more detail, so I'll close that.

[2019-03-18 13:55] alanmoo commented on #2737
Moving to #2812.

[2019-03-18 13:55] #2737 closed

[2019-03-18 14:29] HSR05 commented on #2812
@alanmoo I was previously on #2737 . This has made it clear. So, do i keep the `network-api/networkapi/fellows` and remove the old static/hardcoded files in it or should i remove the whole fellows folder present in `network-api/networkapi`.
Kindly confirm this and i'll create a PR for it. Thankyou.

[2019-03-18 15:17] Pomax commented on #2828
Speed is less important than doing it right - make sure to read through https://github.com/mozilla/foundation.mozilla.org/blob/master/docs/workflow.md#how-to-prepare-and-deploy-your-backward-incompatible-migrations because removing models is _not_ a simple matter of "deleting the code" and generating a new migration file =)

[2019-03-18 15:42] kristinashu commented on #2757
A few examples:
<img width="1438" alt="Screen Shot 2019-03-17 at 3 18 40 PM" src="https://user-images.githubusercontent.com/1068783/54542825-bc34ba80-4959-11e9-896c-975d30f9f73c.png">

<img width="1379" alt="Screen Shot 2019-03-17 at 8 39 52 PM" src="https://user-images.githubusercontent.com/1068783/54542827-bc34ba80-4959-11e9-837e-afadf1df5b8b.png">

<img width="1185" alt="Screen Shot 2019-03-17

[2019-03-18 16:23] #2830 closed

[2019-03-18 16:47] mmmavis opened #2844 "Consider 'uncss' to get rid of redundant CSS rules"
After new branding implementation work is done, evaluate if we should use [uncss](https://github.com/uncss/uncss) as a tool to get rid of unused CSS rules.

[2019-03-18 16:50] #2811 closed

[2019-03-18 17:07] Pomax commented on #2808
Important to add: a profile directory component with probably three entries so we get both "the look" and "the reflow" across multiple columns.

[2019-03-18 17:53] kristinashu opened #2845 "Quote CMS component"
Currently, the cms allows users to add multiple quotes:

<img width="1271" alt="Screen Shot 2019-03-13 at 3 24 26 PM" src="https://user-images.githubusercontent.com/1068783/54551612-aa5c1300-496b-11e9-816d-fcd510eabee5.png">

But only the first one shows up on the site:
<img width="803" alt="Screen Shot 2019-03-13 at 3 24 34 PM" src="https://user-images.githubusercontent.com/1068783/54551613-aa5c1

[2019-03-18 18:17] Pomax opened #2846 ""harden" load_fake_data wrt changes in models and streamfield blocks"
Every time we add/remove models, or model fields, or streamfield blocks, load_faka_data in its current form will change all the random numbers and effective generate completely new data "downstream" from a change. That means that if we, for example, deprecate and remove a custom streamfield block used in modular pages, then all the Buyers Guide pages will suddenly have different content, too, whic

[2019-03-18 18:17] Pomax commented on #2846
/cc @cadecairos @patjouk

[2019-03-18 18:34] #2808 closed

[2019-03-18 19:07] HSR05 commented on #2812
@alanmoo I removed `network-api/networkapi/fellows/templates` file. Is there anything that can be safely removed?

[2019-03-18 21:50] sabrinang opened #2850 "Social sharing: facebook?"
If we have paused using facebook, should we consider removing facebook from share options to be consistent? I'm unsure where this is at but I noticed we removed it from our footer so these may be other areas as well

<img width="1414" alt="image" src="https://user-images.githubusercontent.com/2492510/54565561-dedfc700-498b-11e9-8f21-a6792669e9e5.png">
<img width="450" alt="image" src="https://user

[2019-03-18 21:53] kristinashu commented on #2850
I think we're still ok with people sharing on Facebook (this is important for campaigns) but we are not directly posting to it or linking to our Facebook page.

So I think we can/should keep these instances of it.

[2019-03-18 23:04] mmmavis opened #2851 "Remove '#join-us' related code since it's obsoleted"
... looks like it got accidentally left out as part of this [PR](https://github.com/mozilla/foundation.mozilla.org/pull/158).

[2019-03-18 23:52] mmmavis commented on #2834
@natalieworth 2 questions for ya:

1. Which Sketch file can I find this updated footer design?
2. Opportunity pages can include a sign up form (see [test page](https://foundation.mofostaging.net/en/opportunity/test-opportunity-page-with-sign-up-form/) on staging). Should we file a ticket to update the form design so it aligns better with the rest of the site?

[2019-03-19 05:17] natalieworth commented on #2834
After meetings with Sabrina yesterday to talk about brand updates, I made a few minor changes to the button styling for this and have updated the [design files here.](https://redpen.io/p/bp40e77cb408ac932a)

The last thing I need to confirm is the new dark (inverse) style with Sabrina tomorrow morning and I can annotate these in redpen/ github with the style change notes for devs. Thanks for waiti

[2019-03-19 05:19] natalieworth commented on #2834
@mmmavis Is the Opportunity page form different than the footer? I'm not sure how I understand how that page works. Is there something that exists on the site or is it only on staging.

[2019-03-19 05:20] natalieworth commented on #2833
Just a note that the 'donate now' button has been changed to [sentence case](https://redpen.io/p/bp40e77cb408ac932a) for this:

<img width="805" alt="Screen Shot 2019-03-18 at 10 20 02 PM" src="https://user-images.githubusercontent.com/14876567/54581945-0787b100-49cc-11e9-8a63-d7dc2ae39d57.png">

<img width="308" alt="Screen Shot 2019-03-18 at 10 20 12 PM" src="https://user-images.githubuserconten

[2019-03-19 14:38] alanmoo commented on #2364
I think there's a conversation that needs to happen around when pages show up in the navigation of their parent page which will influence a bit of the approach we take to this work.  Probably worth setting up a call about; let's confirm that thought in stand today.

[2019-03-19 17:57] mmmavis commented on #2834
@natalieworth it's part of what the Opportunity Page template offers so it's available on all production/staging/review apps. You can try creating a test page on review app or staging (or production, but make sure you don't publish it live) to see how things are tied together.

<img width="1085" alt="image" src="https://user-images.githubusercontent.com/2896608/54629732-659cae80-4a35-11e9-975f-ab6

[2019-03-19 18:00] mmmavis commented on #2834
One example on production site: https://foundation.mozilla.org/en/opportunity/mozilla-information-trust-initiative/

[2019-03-19 18:56] alanmoo commented on #2812
Ideally we'll be removing that entire `/fellows` directory, though I recognize it might need to happen in pieces. @cadecairos or @patjouk may be able to provide some guidance.

[2019-03-19 20:57] alanmoo opened #2853 "Enable wildcard checkbox for Salesforce petitions"
Following up on some work we started last year, we have the ability to add custom checkbox fields to our petitions, but once the petition gets submitted to the backend, they get dropped. Let's make them get passed along to Salesforce fully.

@stephaniemcv @pmac, where did we net out on this? I believe the plan was to pass the extra checkbox states from Basket as JSON into some "extra" field on the

[2019-03-19 21:06] mmmavis opened #2854 "Update hover state for links"
Follow-up for https://github.com/mozilla/foundation.mozilla.org/issues/2806

Update hover state for links so the underline appears further away from the text (like links on mozilla.org)

/cc @sabrinang

[2019-03-19 22:25] #2851 closed

[2019-03-19 23:48] kristinashu commented on #2542
I'm gonna close this but please feel free to open back up if you think it's needed.

Misinfo has a nice mvp solution and we're aiming to find something that will work for special campaigns and also mozfest so let's see how the mozfest landing page shapes up and go from there.

[2019-03-19 23:48] #2542 closed

[2019-03-19 23:52] kristinashu commented on #2756
@beccaklam can this be close, focus efforts on the mozfest landing page and go from there? I don't feel like there is anything we can do for this ticket right now.

[2019-03-19 23:58] kristinashu commented on #2834
As discussed in Slack... @alanmoo and I have talked about removing the the signup form snippet from the CMS so don't worry about styling that component. We want to drive people to our main mozilla email and restrict the number of bespoke email lists. The exception will be MozFest which will have it's own signup but will be styled like a campaign petition on the right side of the page.

[2019-03-20 00:03] kristinashu opened #2857 "Sunset old email lists"
Not sure who to ping about this but @stephaniemcv seems like a good start! We have some inactive email lists like Webmaker, Mozilla Leadership Network, Mozilla Labs... Would it be possible to remove them completely so this list isn't so daunting for users? Perhaps email these inactive lists to let them know and encourage them to signup to the general list?

![Screenshot_2019-03-19 Newsletter Subsc

[2019-03-20 00:47] mmmavis commented on #2834
@natalieworth can you mock error state for the form as well?

[2019-03-20 02:12] pmac commented on #2853
basket will look for a `metadata` field in the `data` and will write that to the `Petition_Flex__c` field in Salesforce as JSON encoded data. So borrowing your example you'd do something like:

[code]

And just FYI basket also looks for a `comments` field in the `data` as well and will put that into `Petition_Comments__c`.

[2019-03-20 14:25] #1902 closed

[2019-03-20 14:52] youriwims commented on #1437
@kristinashu have we settled on renaming the `Paragraph` component? If so, I'll open a separate issue for that.

[2019-03-20 14:55] youriwims commented on #1437
What's the best way to do a block inventory search for `Heading`?

/cc: @mmmavis @Pomax

[2019-03-20 15:29] youriwims commented on #1551
Closing this ticket since the new `Image Text` component should have fixed any vertical alignment issues. See #2693 , #2732 & #2783.

[2019-03-20 15:29] #1551 closed

[2019-03-20 15:38] kristinashu commented on #1437
I don't think renaming it will be necessary, let's just keep the name `Paragraph`. Also don't think we need to add H1 to the Paragraph component since the Title/Header field using H1 and we should restrict it's use.

So the only things this ticket needs to do is remove the 'Heading' component. I don't see any instances of this in the Block Inventory search but let me know if you see any and I'll u

[2019-03-20 15:48] #2850 closed

[2019-03-20 16:00] youriwims commented on #1437
From what I can tell, it looks like `Heading` is still active on these pages:

- [ ] https://foundation.mozilla.org/en/news/
- [ ] https://foundation.mozilla.org/en/style-guide/
- [ ] https://foundation.mozilla.org/cms/pages/169/view_draft/ (Draft page...may not be important)

I'm going to do a bit more digging to make sure there's no more instances of this component.

[2019-03-20 16:04] kristinashu commented on #1437
I've just deleted that old draft page. The first two on your list aren't cms pages so I don't think they are relevant, but @mmmavis any thoughts?

[2019-03-20 17:52] Pomax commented on #1088
@alanmoo we should probably revisit this, especially in terms of how we want to mark pages as "don't show up in the sitemap that external parties get to see"

[2019-03-20 18:39] alanmoo commented on #1088
I'm ok with us leaning more on private pages for that kind of thing.

[2019-03-20 19:19] natalieworth commented on #2546
Final designs for this are in here https://redpen.io/p/bp40e77cb408ac932a

Annotations are also documented in the Sketch file (Redpen was down)

Implementation tickets are #2833 (add donation ask) and #2834 (add email to footer)

[2019-03-20 19:19] #2546 closed

[2019-03-20 20:37] mmmavis commented on #2586
Fields available in an issue template

<img width="630" alt="image" src="https://user-images.githubusercontent.com/2896608/54716618-5ab84b80-4b13-11e9-8b8d-58a45d8e10f0.png">

[2019-03-20 20:55] natalieworth commented on #2834
@mmmavis I forgot to add the error exclamation mark icon. I've uploaded all the svg icons in here:
[icons.zip](https://github.com/mozilla/foundation.mozilla.org/files/2990087/icons.zip)

[2019-03-20 21:27] kristinashu opened #2863 "Automatically translated cms pages are missing content"
I just went to https://foundation.mozilla.org/fr/ but noticed the body text for the hero is missing. I'm guessing this is happening on other pages as well and in other languages.

Issue on https://foundation.mozilla.org/fr/

<img width="1189" alt="Screen Shot 2019-03-20 at 2 20 56 PM" src="https://user-images.githubusercontent.com/1068783/54719977-76275480-4b1b-11e9-9e6f-714bf707163b.png">

How it

[2019-03-20 21:51] mmmavis commented on #2863
It seems like rich text field content doesn't get auto copied when you switch language in CMS.

[2019-03-20 22:52] mmmavis commented on #2586
Hi @Pomax @youriwims I'm adding two issue templates to this repo and I'd like both of you to chime in as the custom template I wrote is related to front-end implementation.

Try it on my test repo https://github.com/mmmavis/test-issue-templates/issues/new/choose

1. Bug report - this is GitHub's default bug report template. I found it useful so I decided to include it
2. Design to Dev Handoff - th

[2019-03-21 14:40] alanmoo commented on #2863
Yeah. @Pomax Does this overlap with the other modeltranslation work?

[2019-03-21 16:54] mmmavis opened #2866 "Make CMS-created headings follow the new type design"
Follow-up of https://github.com/mozilla/foundation.mozilla.org/issues/2806

(will add more context and provide examples here soon)

[2019-03-21 16:55] #2707 closed

[2019-03-21 17:55] youriwims commented on #2686
_Update_: Looks like the entire `source/js/components/people` directory which includes`people.jsx`, `people.scss`, and `person.jsx` can safely be removed. Styles in `people.scss` are no longer in use since the new Fellowship Directory was built ( Ref #2511, #2685, #2474   ). Lastly, the `Person` module will be obsolete once all of the fellowship related files and `people.jsx` are removed.

[2019-03-21 17:58] youriwims commented on #2474
Closing this ticket since the component is complete. (Ref #2701)

cc: @Pomax @kristinashu

[2019-03-21 17:58] #2474 closed

[2019-03-21 18:01] #2743 closed

[2019-03-21 18:39] mmmavis commented on #1437
Headings in the article list shouldn't be affected as the list is generated via JS.

This is a hardcoded static page. Things here shouldn't be affected.

I'm not sure what the proper way is to remove a component on CMS without breaking pages that are already using them. @Pomax can you chime in here?

[2019-03-21 19:00] mmmavis commented on #2686
Awesome. Don't forget to remove `people_page.html` and other related bits! 👍

[2019-03-21 19:07] youriwims commented on #1437
@Pomax just removed the `Heading` component from those two pages—going to go ahead and remove the component now. Btw @mmmavis [this guide](https://github.com/mozilla/foundation.mozilla.org/blob/master/docs/workflow.md) helped me understand the component removal process pretty well.

[2019-03-21 20:38] youriwims commented on #2686
Thanks!

[2019-03-22 00:31] mmmavis commented on #1304
Just assigned myself this ticket as I'm doing some styling cleanup for the site and this is part of it. 👍

[2019-03-22 12:55] alanmoo opened #2874 "🌡 In-page CTA for alternate newsletters"
The plan for the Mozfest announcement page (launching April 15)  is to use a BanneredCampaignPage at foundation.mozilla.org/Mozfest. However, this page leverages a petition component and we need to instead offer a newsletter signup. (This would be for the `mozilla-festival` newsletter instead of the default `mozilla-foundation`.)

### Things we need to decide in this ticket:

* Intended use
* Desi

[2019-03-22 14:10] #1627 closed

[2019-03-22 15:42] #2784 closed

[2019-03-22 16:04] youriwims commented on #2686
[Temporarily blocked](https://github.com/mozilla/foundation.mozilla.org/pull/2870#issuecomment-475403284)

[2019-03-22 17:23] kristinashu commented on #2874
@sabrinang can you please confirm if these assumptions are right? For April and May the pages will look like this (like misinfo but with email instead of petition):

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/1068783/54841240-17351d00-4c8c-11e9-81eb-4ae5301568e7.png">

<img width="992" alt="image" src="https://user-images.githubusercontent.com/1068783/54841255-23b

[2019-03-22 17:37] #2812 closed

[2019-03-22 17:58] mmmavis opened #2875 "Remove hightlights.jsx and its related JS and SCSS"
Related to #1624

This React component has been obsoleted for a while now. So let's fully remove its code. 👍

[2019-03-22 18:00] sabrinang commented on #2874
@kristinashu

Yes, the April-May save the date version looks like the mockup.

Yes, for June onward it will have the new footer redesign so that email signup area would be for the Mozilla Festival newsletter.

I also assume from June-October there won’t be in page sign up component when the CTAs are:
- _Call for Proposals_ because the form had an email field in the form so applicants were notified

[2019-03-22 18:05] #1304 closed

[2019-03-22 18:06] kristinashu commented on #2874
Ok thanks Sabrina! Yes, I had just added a comment to your redpen about adding a checkbox for people to also signup for the general email list.

@alanmoo so since the signup will need to be on the main foundation site for a couple months and then eventually also on the microsite (with custom header and footer), does that help influence the streamfield vs template decision??

[2019-03-22 18:27] alanmoo commented on #2874
Not quite. Will the signup always be used in the right column? Will there ever be anything else in that column?

[2019-03-22 18:38] #2664 closed

[2019-03-22 19:08] alanmoo opened #2877 "Add new "nav root page" setting to Wagtail pages"
Based on the output of a meeting, we should add a new checkbox setting to all Wagtail pages. Let's call it something like "Navigation root page". When true, the page will act as a root for all children below it, making them show up in programmatically generated menus on that page.

### Successful implementation
We can remove the mini-site namespace template
We can place campaign/opportunity/primar

[2019-03-22 20:01] kristinashu commented on #2874
Yes, when the email signup is present it will always be in the right column (and the footer). No, there will not be anything else in that column. Reminder tho that the email signup won't always be present.

[2019-03-22 20:39] stephaniemcv commented on #2853
Petition_Flex__c was added to the SFDC Advo sandbox. We need to sync up and test passing data to it before I can push to production.

[2019-03-22 20:42] stephaniemcv commented on #2857
Yeah...that is something I want to do, however that project lives in the LCM backlog and I don't see us or MoCo prioritizing it anytime soon. :(

[2019-03-22 20:59] #2875 closed

[2019-03-22 22:36] mmmavis commented on #2834
@natalieworth what messages do we wanna show and where to show them when

1. sign-up form has successful gone through
2. a server error upon form submission (e.g., This rarely happens but there could be time that server goes down after user's passed form validation and clicked 'sign up')

[2019-03-22 22:49] natalieworth commented on #2834
Hey @mmmavis , so sign-up/ success is here https://redpen.io/vd414f4e668966a073
I didn't consider the server error. Do you know what example copy for that would look like? Or could it be something like: "Something went wrong" and "Internal Server Error"? (Is it the[ 500 error](https://images.drivereasy.com/wp-content/uploads/2017/10/Youtube-500-Internal-Server-Error.jpg)?)

[2019-03-23 00:45] kristinashu commented on #2757
Designs are coming along here https://redpen.io/p/uvd561910fde4f4bc9

Couple options to test:
<img width="842" alt="image" src="https://user-images.githubusercontent.com/1068783/54859421-2cc93780-4cca-11e9-9a12-a993acdaea48.png">

Still exploring but clicking of "Stay in touch" could open drawer just below with form.
<img width="973" alt="image" src="https://user-images.githubusercontent.com/10687

[2019-03-25 13:42] alanmoo commented on #2834
Just to +1 this, let's build the designs of this ticket into the templates at a pretty base layer.

As for error messages, we can make it say something generic ("Something went wrong"). Usually, that's in the same place as a message when someone's email is invalid; Do we have styling for that yet too?

[2019-03-25 13:47] alanmoo commented on #2853
Wait, @stephaniemcv you're saying we never landed comments for petitions on Salesforce either?

[2019-03-25 13:56] beccaklam commented on #2756
Agreed!

[2019-03-25 13:56] #2756 closed

[2019-03-25 13:58] alanmoo commented on #2874
So what I'm hearing is that we should add the signup component to the BanneredCampaignPage as an optional snippet, in addition to the petition field. That way the creator of those pages can decide which needs to be used without having to create multiple templates. They have the freedom to use both, but we're relying on "don't make it look stupid" principles. (Unless, of course, there's a straightf

[2019-03-25 14:14] stephaniemcv commented on #2853
No, comments are completed, Petition_Comments__c is in Production and working.

Petition_Flex__c only got as far as the sandbox. And yes, prep the data as Pmac described and we 3 should schedule a testing time to pass the data through the system to make sure it lands in Advo sandbox.

[2019-03-25 15:54] mmmavis commented on #2586
@Pomax @youriwims thoughts? 👀

[2019-03-25 16:03] kristinashu commented on #2757
@beccaklam can you also please help out this ideas for this?

[2019-03-25 16:11] kristinashu commented on #2440
@mmmavis @sabrinang is this ticket useful? Design audit and style updates to the site have come a long way!

Have you two decided if we'll maintain both https://foundation.mozilla.org/style-guide/ and https://foundation.mozilla.org/en/docs/brand/?

What would be the next steps for this ticket?

[2019-03-25 16:20] youriwims commented on #2586
Sorry for the delay—not sure why I didn't see this earlier. @mmmavis love this idea!...especially the design to dev handoff template. Just off the top of my head, the only thing I can think to add to that specific checklist would be 'related issues/comments'. Sometimes it helps to be able to follow those digital breadcrumbs of info to avoid unnecessary pinging 😄 I'll try to think of more today, if

[2019-03-25 16:26] #2806 closed

[2019-03-25 16:45] #1437 closed

[2019-03-25 16:57] mmmavis commented on #2854
@sabrinang can you provide specs and assign me this ticket when it's ready for implementation? I did a quick check on mozilla.org. It seems like
- for headings/bold links , mozilla.org is using `border-bottom` to achieve the underline effect. Widths seem all to be `2px` and the underline colours seem to be **inconsistent**... the underline colour is usually the text colour with some opacity
- body

[2019-03-25 17:09] Pomax opened #2888 "Automate the detection of "not following the style guide" where possible"
As an engineering follow-up on #2440, we should see if there are any things that we can think of that lets us detect "not style-guide compliancy". An easy one would be "CSS uses raw color instead of variable name", but there are no doubt many others that we can think of.

[2019-03-25 17:15] mmmavis opened #2889 "Update PNI's link colours"
@beccaklam @natalieworth

We currently have overrides for PNI links to force them use the **old** link blues. Is it okay if we remove the overrides and make them use colours from our new set?

**Currently on PNI**
default: `#3bb7ef` (old blue)
hover/focus/active state: `#4383bf` (old dark blue)

For reference,
<img width="583" alt="image" src="https://user-images.githubusercontent.com/2896608/5493

[2019-03-25 18:23] beccaklam commented on #2889
Yeah I think we can go for it. Did you actually already do it? When I look at the site, it looks like the new colours? @mmmavis

[2019-03-25 18:24] mmmavis commented on #2889
@beccaklam they are weird overrides everywhere but I'm planning to clean them up 😂

[2019-03-25 18:40] #2761 closed

[2019-03-25 18:46] xmatthewx opened #2890 "Create a Join page"
Create a page to more seamlessly onboard professionals in our network to our mailing list and Pulse. This could be used with the public, but will be optimized for newly engaged professionals such as applicants to fellow, awards, and mozfest.

This will need to navigate some tech realities to smoothly submit stuff to both salesforce and Pulse.

Next steps:
 - compose a brief in [this doc](https://d

[2019-03-25 18:57] mmmavis opened #2891 "[Wagtail] HTML tags for h4-h6 are missing in the rendered page"
Currently on staging: https://foundation.mofostaging.net/en/fellowships/apply/

![image](https://user-images.githubusercontent.com/2896608/54946285-ffac9d00-4ef4-11e9-89e2-8283ec47660d.png)

[2019-03-25 20:06] Pomax opened #2893 "squash our django migrations"
Especially the wagtailpages migrations take up a fair bit of time to run one after another, we should be able to squash them into a single thing rather than some 50+ steps =)

[2019-03-25 21:01] mmmavis opened #2895 "Remove obsolete fellowships code"
- The `singleFilterFellowList` portion in `main.js` should be removed as the React component `<SingleFilterFellowList>` was removed few days ago.
- `.profile-filters` block in `profiles.scss` seems to be obsolete too?

There might be more obsolete fellowships code that we need to fully remove though.

[2019-03-25 21:04] mmmavis commented on #2440
We can try maintaining `/style-guide` but I'd like to remove the component portion of it since it's hard to keep that portion always up-to-date.

Not sure what needs to be done in the design end though. Do we need to update https://foundation.mozilla.org/en/docs/brand/ as well as the master Sketch file???

[2019-03-25 21:16] xmatthewx opened #2896 "Create a safety first page"
The [Safety first](https://advocacy-mozilla-org-prod.herokuapp.com/en-US/safety) campaign produced some excellent videos. With minimal work, we could get those videos onto a foundation site page. It'd also be nice to have them as pulse entries for discoverability.

This is _not_ urgent, but a good quiet day activity.

 - [ ] When it's done, we could change the old redirect to point to this #3260

[2019-03-25 22:51] youriwims opened #2898 "Remove PeoplePage related code/classes"
Related PR/Issues #2870 & #2686
[Reference](https://github.com/mozilla/foundation.mozilla.org/pull/2870/files#r268853762)

_Based on the templates that were removed in #2870, the related classes(`PeoplePage` and potentially others) can be removed as well._

[2019-03-25 22:53] sabrinang commented on #2854
**Heading Links**
border-bottom: 2px solid
(I liked how the default underline width proportionate to the font weight but by using border-bottom I’m assuming we have to set this width)
color: $black (for .h1-heading to .h5-heading)
color: $gray-40 (for .h6-heading)
hover transition: .1s ease-in-out
margin-bottom: 14px (.h1-heading), 12px (.h2-heading), 8px (.h3-heading, .h4-heading), 6px (.h5-headi

[2019-03-25 23:13] kristinashu commented on #2440
There are design tickets for updating /docs/brand/ and the master Sketch file https://github.com/mozilla/foundation.mozilla.org/issues/2548.

So should we close this ticket and open a new one to update /style-guide and remove the component portion?

[2019-03-25 23:19] kristinashu commented on #2874
This all sounds good.

As discussed at stand and in slack, designers are hoping we could also add a checkbox to sign people up to the general mozilla mailing list when checked. _Note copy isn't final._

<img width="399" alt="image" src="https://user-images.githubusercontent.com/1068783/54960254-1bc23580-4f19-11e9-991a-f1f689323865.png">

I'm running this past @stephaniemcv to get her thoughts. She

[2019-03-25 23:38] kristinashu commented on #2874
Steph has flagged that she would prefer the MozFest sign up to automatically sign people up to both the mozfest list and the general list to "demote Mozfest to an interest rather than a subscription like we do with the Internet Health Report since both programs don't deliver content year round. It would help to minimize data silos and contribute to general list growth."

Let's see if mozfest team

[2019-03-26 02:02] Pomax commented on #2874
This feels like overstepping trust a little - there's a big difference between getting mozfest emails, and _all the mozilla emails_ =P

[2019-03-26 02:08] Pomax commented on #2362
I was, and I think I should just sit down and finish it this week

[2019-03-26 02:09] Pomax commented on #2586
This feels like something we should _not_ think about. @mmmavis just add one, turn it on, and then we can iterate on the text but let's just get this in and then move from there.

[2019-03-26 02:41] kristinashu commented on #2874
I agree, we would have to be very clear in the wording as to what they are signing up for. And perhaps the MozFest welcome email could make it easy for them to unsubscribe from the general email.

[2019-03-26 02:45] stephaniemcv commented on #2874
Yes to being explicit. IHR's sign up is

"Keep me updated
Receive email about this project and Mozilla."

The user flow is that as soon as you click on the confirmation email to double opt to a subscription you are taken to the preference center, where you can subscribe and unsubscribe to all the things.

[2019-03-26 03:28] kristinashu opened #2899 "Remove email cta snippet"
To streamline and grow our main email list, we'll no longer encourage individual/independent email lists. Soon we will have email signup in the footer and a link in the nav so we don't need any in-body within a cms page. Although mozfest will be an exception https://github.com/mozilla/foundation.mozilla.org/issues/2874.

Please determine if and where the following email cta snippet are being used,

[2019-03-26 03:29] kristinashu commented on #1436
I'm going to close this, although it was helpful to re-read it!

This work is being done it some in these related tickets:
- update the footer to include an email signup https://github.com/mozilla/foundation.mozilla.org/issues/2834
- adding newsletter signup to nav https://github.com/mozilla/foundation.mozilla.org/issues/2757
- remove unique email signup component from wagtail https://github.com/m

[2019-03-26 03:29] #1436 closed

[2019-03-26 03:35] kristinashu commented on #2320
Closing this since buyers guide is no longer an active project and won't be for a while and who knows what we will be doing for it!

[2019-03-26 03:35] #2320 closed

[2019-03-26 03:50] kristinashu opened #2900 "Align styles of IH cta with Image Text Mini component"
Align the IH cta
<img width="868" alt="image" src="https://user-images.githubusercontent.com/1068783/54970532-b2a1e880-4f3f-11e9-8061-578899cffd12.png">

with our new image text mini component
<img width="806" alt="image" src="https://user-images.githubusercontent.com/1068783/54970443-550d9c00-4f3f-11e9-88b7-672973c80640.png">

Ideas:
- black diving lines
- black icon
- component should lineup pag

[2019-03-26 14:26] alanmoo commented on #2899
Does this mean the opportunity page template will become a single column, plus navigation if present?

[2019-03-26 14:28] youriwims commented on #2898
This is blocked until #2870 lands.

[2019-03-26 16:11] kristinashu commented on #2899
Not sure I understand what you mean, but yes it should be single column, plus nav if present.

Example (all content should be same width as paragraph text, signup and IH cta at the bottom shouldn't be full-width like that https://github.com/mozilla/foundation.mozilla.org/issues/2900) https://foundation.mofostaging.net/en/opportunity/mozilla-information-trust-initiative/

[2019-03-26 17:26] #2586 closed

[2019-03-26 17:26] kristinashu commented on #2874
Thank you @stephaniemcv! I really like that copy.

@sabrinang could you please mock this up and then @alanmoo can open the necessary dev tickets.

[2019-03-26 17:53] mmmavis commented on #2586
Yay merged!

[2019-03-26 17:57] youriwims commented on #2898
@Pomax should the `/people/` url be removed as well?...or is that something different?

[2019-03-26 18:00] #2686 closed

[2019-03-26 18:31] sabrinang commented on #2874
I updated the redpen heading with the body copy. I used `Receive email about Mozilla Festival and Mozilla` in v4 instead since I don't think people refer to the festival as a project? https://redpen.io/npc9df3b0c504bc3b2
<img width="399" alt="Screen Shot 2019-03-26 at 11 23 23 AM" src="https://user-images.githubusercontent.com/2492510/55023284-b07c7000-4fb9-11e9-916c-6ea863e4907e.png">

[v3 for re

[2019-03-26 18:48] kristinashu commented on #2874
Nice! No need to have the exact same copy so let's go with `Receive email about Mozilla Festival and Mozilla`

@alanmoo design is done.

[2019-03-26 21:27] Pomax commented on #2863
hm, it a wagtail-specific version of modeltranslation, with both streamfield and richtextfield as extended types, so this _should_ have worked. I'll do some investigation here =(

[2019-03-26 21:27] kristinashu opened #2903 "Update style guide"
Follow up from - Design audit to make sure design follows site's style guide #2440

Update [/style-guide](https://foundation.mozilla.org/en/style-guide/) to reflect our [latest styles](https://foundation.mozilla.org/en/docs/brand/ ) and remove the component portion.

cc @mmmavis

[2019-03-26 21:27] kristinashu commented on #2440
Opened a followup ticket https://github.com/mozilla/foundation.mozilla.org/issues/2903 and closing this one, please feel free to reopen if needed.

[2019-03-26 21:27] #2440 closed

[2019-03-26 21:28] #2891 closed

[2019-03-26 21:37] kristinashu commented on #2548
Sorry, closing this but please continue this work over in our design repo https://github.com/MozillaFoundation/Design/issues/338!

[2019-03-26 21:37] #2548 closed

[2019-03-26 21:39] natalieworth commented on #2548
All P1's are done for this, but is it okay to keep ticket open @kristinashu Or I could also make the P2/ smaller individual tickets when I get time later this week. And then close this giant ticket (since they will have different/ longer timeline based on when we get downtime)

[2019-03-26 21:55] kristinashu commented on #2548
I just wanted to move this from Foundation site repo to our design repo so I close this one but opened the exact same on in our design repo. Is that okay? Sorry if it's confusing, just seemed like since this is related to our sketch file and won't be dev tickets that it should be over there.

[2019-03-26 22:07] kristinashu commented on #2735
@HSR05 was that helpful? Are you still interested in working on this?

[2019-03-26 22:10] kristinashu commented on #2718
Guessing this can now be removed?

[2019-03-26 22:16] kristinashu commented on #1987
@alanmoo is it stillll wonky?

[2019-03-26 22:18] kristinashu commented on #1839
@HSR05 are you still interested in helping out with this?

If so, @Pomax please add some guidance!

[2019-03-26 22:20] kristinashu commented on #1764
We plan to test the new email signup and donate buttons so I'll close this ticket and focus on https://github.com/mozilla/foundation.mozilla.org/issues/2757

[2019-03-26 22:20] #1764 closed

[2019-03-26 22:22] Pomax commented on #2682
Closing - 3.7 will probably happen at the same time as the django/wagtail uplift?

[2019-03-26 22:22] #2682 closed

[2019-03-26 22:55] gideonthomas commented on #2459
@xmatthewx to advise; here's the situation:

I have lowered the image sizes of about 25 profiles from an average of 1.5mb each to 150kb each. In spite of this, the page size is ~15mb in images alone so it is going to be slow. I can further reduce all image sizes but it's a lot of work to do it for 100 images (it's straightforward but super tedious) -- which is the biggest culprit here.

We're load

[2019-03-26 23:31] #2533 closed

[2019-03-27 00:09] youriwims commented on #2900
Will the IH snippet always appear on pages with a layout similar to the web literacy page? On the web literacy page, the IH snippet is in a different container than the rest of the content which is why it appears too wide, like this image:
![Desktop](https://user-images.githubusercontent.com/36484608/55040981-4982a980-5001-11e9-87cf-1e7b616c6cab.png)
If we want the IH Snippet to be the same width

[2019-03-27 00:15] youriwims commented on #2899
Let me know when this is good to go 👍

[2019-03-27 00:23] kristinashu commented on #2900
Thanks for the very useful graphic Youri! The second one is exactly what we want, if possible.

The IH Snippet should continue to appear on all the same pages it does now (all the /opportunity, /initiative, and /campaign pages) which means it would need to fit the width on pages that have nav and ones that don't, and pages with the "make narrow" checkbox checked or not checked.

Does that make sen

[2019-03-27 14:46] HSR05 commented on #1839
Yes, I am interested.

[2019-03-27 14:47] HSR05 commented on #2735
Yes, I will give it a try. 👍

[2019-03-27 15:28] alanmoo commented on #2899
@youriwims Go ahead and remove the signup form from the opportunity template and model (probably in 2 different PRs), but don't delete the snippet itself. We'll re-use/adapt that soon for the banneredCampaignPage.

[2019-03-27 15:36] cadecairos commented on #1742
one last thing to land and this can be closed

[2019-03-27 15:36] cadecairos commented on #1742
https://github.com/mozilla/foundation.mozilla.org/pull/2902

[2019-03-27 15:41] alanmoo commented on #1987
No, it got fixed somehow! Huzzah!

[2019-03-27 15:41] #1987 closed

[2019-03-27 15:51] kristinashu opened #2905 "Unify button styles"
Based on @sabrinang @natalieworth's amazing work in https://github.com/MozillaFoundation/Design/issues/317

- [x] Design has been finalized
- [x] Link to original design ticket
- [x] Link to related ticket [n/a]
- [x] Link to Redpen [screen caps below]
- [x] Design changes been merged into the master Sketch file [see Style Guide file]
- [x] Desktop and mobile mockups are included
- [x] Assets are

[2019-03-27 15:51] alanmoo commented on #2718
Most likely.

To close this ticket:
- [ ] Remove the styles [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/components/fellow-list/directory-filter-bar.scss#L33)
- [ ] Confirm the filter component still looks as expected.

[2019-03-27 16:33] mmmavis commented on #2900
@kristinashu how many versions of this 'CTA banner' will we have? I remember seeing multiple versions of it when it was still in the design audit phase (e.g., some include a button and some have slightly different spacing within the banner).

[2019-03-27 16:43] Pomax commented on #1839
this issue should actually have been closed, we switched to `prettier` which obviated the need for this a while back.

[2019-03-27 16:43] #1839 closed

[2019-03-27 16:55] Pomax commented on #1801
We currently have a huge single file called `customblocks.py` in the `network-api/networkapi/wagtailpages` dir, and it would be good if we could split that up into individual files for each component, while still being able to say `from networkapi.wagtailpages.customblocks import ( ........)` in the `models.py` file that is in the same directory at the moment. So customblocks probably needs to bec

[2019-03-27 17:09] Pomax commented on #2822
There does not appear to be a clean way to do this right now.

[2019-03-27 17:09] #2822 closed

[2019-03-27 17:10] Pomax commented on #2326
no longer a problem.

[2019-03-27 17:10] #2326 closed

[2019-03-27 17:45] kristinashu commented on #2900
You might be thinking of the Image Text Mini component. That one is now a live cms component and can be used anywhere on the page and staff can use any copy/icon/link that they want.

This IH cta is different in that it is automatically added to at the bottom of all opportunity/initiative/campaign pages and the copy/icon/link can't not be changed.

Sorry if you now all this already, just trying to

[2019-03-27 18:48] Pomax commented on #2863
So here's an interesting thing: if I set a value for the french text, publish, then remove that text again, and publish, so that in effect "nothing happened", the english text shows up just fine on the `/fr/` page so I'm wondering if somewhere along the line we ended up with things that "look empty, but technically aren't" for these fields.

[2019-03-27 18:52] Pomax commented on #2863
Even if I just turn on the `[FR]` toggle in the cms, click the "write here" placeholder, _type nothing_, and then hit publish, this problem disappears... so at the very least we have a solution if there's nothing showing up in the code.

[2019-03-27 19:22] Pomax commented on #2863
Looking at the database, it looks like all these fields are set to empty paragraphs:
[code]
which would throw off the model translation fallback... after doing the "place cursor, don't type, republish" trick, the data looks like:
[code]
It's not super obvious, but the `<p></p>` has disappeared for the French description.

[2019-03-27 19:35] Pomax commented on #2863
@kristinashu @alanmoo this might actually be easiest for us to just manually fix by republishing pages than it would be to try to automate a fix, here. In which case the steps would be:
1. open the relevant page in the CMS,
2. enable all languages with the picker bar in the top right
3. for all "empty looking" rich text fields, put the cursor in, do a select-all+delete just to be sure, and then
4.

[2019-03-27 20:02] alanmoo opened #2908 "Update opportunity snippet and embed on BanneredCampaignPage"
In order to allow people to sign up for Mozfest emails, we need to update the signup snippet and enable use on the BanneredCampaignPage, below the petition form (though neither will be used at the same time)

![image](https://user-images.githubusercontent.com/1682681/55106652-df701000-50a5-11e9-82ed-68a94ad19f8a.png)

---

**🗒  Design -> Dev Handoff Checklist**

- [x] Design has been finalized
- [

[2019-03-27 20:04] alanmoo commented on #2908
@stephaniemcv As I understand, we should be signing people up for the `mozilla-foundation` newsletter with an "interest" in the festival. It's not entirely clear how this translates to what we submit to Basket. Do we need to check with Pmac?

[2019-03-27 20:06] alanmoo commented on #2908
@mmmavis I believe the new button styling is part of the work you've been doing, correct?

[2019-03-27 20:25] youriwims commented on #2900
@kristinashu , I spoke with Pomax and should be able to take care of this. I'm going to create a separate dev implementation ticket for this to get it started 👍

[2019-03-27 20:40] youriwims opened #2909 "Update IH CTA Snippet to span width of body content"
**Bug Description** 🐛
Currently, the IH CTA Snippet doesn't line up with the primary body content and instead spans the full width of the page's parent container. So, we want to fix that.

**To Reproduce** 🌱
Steps to reproduce the behavior:
1. Follow this [link](https://foundation.mozilla.org/en/opportunity/web-literacy/)
2. Scroll down to the bottom of the page.
3. Error: There you will see that

[2019-03-27 20:45] #2889 closed

[2019-03-27 21:23] kristinashu commented on #2909
Beautifully detailed ticket!

[2019-03-27 21:56] kristinashu opened #2910 "Update line color and icon for IH cta"
#### Update this current cta:
<img width="498" alt="image" src="https://user-images.githubusercontent.com/1068783/55114814-307d0580-50a0-11e9-8c13-2d94ed7527a1.png">

#### To look like:
<img width="760" alt="image" src="https://user-images.githubusercontent.com/1068783/55114409-17278980-509f-11e9-841e-763cf5311beb.png">

#### To do this:
- [x] update grey lines to black
- [x] update blue/green gra

[2019-03-27 21:57] kristinashu commented on #2900
Here's what it should look like:
<img width="769" alt="image" src="https://user-images.githubusercontent.com/1068783/55114272-b7c97980-509e-11e9-87eb-bafcad2d7bf2.png">

I will close this design ticket and open a new implementation ticket to update the line colour and icon https://github.com/mozilla/foundation.mozilla.org/issues/2910

[2019-03-27 21:57] #2900 closed

[2019-03-27 22:06] kristinashu opened #2911 "Blog post detail page"
Based on - Blog design epic #2797

We need to design a basic blog post detail page, let's start simple and then add complexity page.

We will need to:
- [x] Benchmark other blogs
- [x] Write requirements list
- [x] Design and get feedback

Design:
- [x] responsive states
- [x] hover states

[2019-03-27 22:08] kristinashu commented on #2911
Gotta add medium as a benchmark!

![medium](https://user-images.githubusercontent.com/1068783/55115616-265c0680-50a2-11e9-85dc-d71ad9d1182e.jpg)

[2019-03-28 02:36] stephaniemcv commented on #2908
Yes we should check with Pmac, as I'm not sure on if you're just submitting two slugs mozilla-foundation and mozilla-festival or something else.

[2019-03-28 14:26] alanmoo commented on #2908
Paging @pmac

[2019-03-28 14:32] #2874 closed

[2019-03-28 19:14] xmatthewx opened #2915 "Design search feature for fellow directory"
The Pulse API can now handle search of profiles! Yay. It would great to add this feature to the fellow directory.

 - Use case: Moz or a partner wants to find experts in topic-X to join a research project or present at a conference or comment on an article. Search includes all text in name, bio, location, affiliation.
 - MVP could be a search box that opens results over in pulse. Ideally though, w

[2019-03-28 20:40] kristinashu opened #2916 "Bannered campaign page sub nav width"
Checking off "Narrowed page content:" checkbox should not change the width of the subnav.

Screen cap from prod:
<img width="1316" alt="image" src="https://user-images.githubusercontent.com/1068783/55191193-bcedfd80-515e-11e9-8af2-f3449a9f544d.png">

It should be like the about page.
<img width="1307" alt="image" src="https://user-images.githubusercontent.com/1068783/55191269-f6bf0400-515e-11e9-8e

[2019-03-28 21:12] kristinashu commented on #2863
Sorry, not sure I follow. Maybe we can chat after stand on Monday?

[2019-03-28 21:45] alanmoo commented on #2916
Isn't the plan to get rid of the "narrowed page content" functionality altogether?

[2019-03-28 21:52] alanmoo commented on #2916
@mmmavis This is a little gross because the initial stab at this page was a pure Frankensteining of Primary and Campaign pages. Let's make this a priority today/tomorrow.

@kristinashu is it safe to say all BanneredCampaignPages should have content at the same width as the primary pages, unless there's a petition? Is the content still the same width, just with the petition added?

[2019-03-28 21:57] kristinashu commented on #2916
Just to be clear, it's only the subnav that isn't right. The main page is acting as expected.

[2019-03-28 22:00] kristinashu commented on #2916
That's part of a conversation we haven't really had yet... we would like to take the option away from users but that would be complicated. Content on these types of pages should always be narrow (except for the pulse directory page).

Yes, content should be the same with as primary pages when there's a petition (these have the "Narrowed page content:").

Content with a petition should behave the s

[2019-03-28 22:29] alanmoo commented on #2916
Ah, I missed that. Thanks. Then we probably need to abstract out the nav so it's not wrapped up in the body container. I'll let Mavis make that call though.

[2019-03-29 13:53] alanmoo opened #2917 "🌡 Bannered campaign page should have donation modal functionality"
**Describe the bug**
The BanneredCampaignPage should support donation modals just like the regular campaign page

**To Reproduce**
Steps to reproduce the behavior:
1. Sign a petition on a bannered campaign page
2. Observe there's no modal asking for a donation.
3. Observe there's no option to add that modal in the admin

**Expected behavior**
Visit a regular campaign page (like [this one](https://

[2019-03-29 14:53] alanmoo commented on #2426
@Pomax I think the use of nested python classes and templates makes us unable to use the nifty cropping that Wagtail offers us. Can you take a look into this so we can brainstorm what kind of solution is the proper one for it? Happy to hop into a call once you've gotten your head around this thread.

[2019-03-29 14:57] alanmoo commented on #2687
@gideonthomas Do you have any thoughts on this?

[2019-03-29 16:57] pmac commented on #2908
Basket doesn't really know anything other than what newsletters should be set to True, so if you need for 2 newsletters to be checked then it's probably best to just send `newsletters=mozilla-foundation,mozilla-festival`. They just need to be comma separated.

That said, one alternative is a concept called "newsletter groups" that we can setup on basket. It acts like a newsletter in that it's a si

[2019-03-29 17:44] Pomax commented on #2863
The code works exactly as intended, but the rich text fields that _look_ empty are not actually empty, they instead contain `<p></p>` making them only _look_ empty while containing data.

The most workable solution here is for us to find all the pages affected, open them in the CMS, and then manually make sure all the rich text fields for the "not-English" languages are cleared (even if they look

[2019-03-29 18:01] alanmoo commented on #2863
Do we know how that happened though? It seems a bit unlikely empty content was pasted in.

[2019-03-29 18:08] mmmavis commented on #2895
- /network-api/networkapi/templates/pages/fellowships.html (if not being used)
- network-api/networkapi/utility/templatetags/fellowship_active_nav.py (if not being used)

[2019-03-29 18:10] #2899 closed

[2019-03-29 18:12] kristinashu commented on #2911
@alanmoo a few tech questions before starting on the mvp design. Does wagtail already have some sort of pre-build blog template we can work off of? Can we use some of our existing components in the blog?

[2019-03-29 18:18] alanmoo commented on #2911
No built in template, just parts from other pages we can inherit.

We can use a streamfield as the body of the page with some/all of the available components as options, but my gut is telling me that we should stick with a rich text field to start. Though migrating from rich text to being able to use streamfield components down the line might get tricky. @Pomax do you have thoughts?

[2019-03-29 18:20] alanmoo commented on #2908
I think we can handle the comma separated list, but @stephaniemcv does that handle things the way you want?

[2019-03-29 18:21] Pomax commented on #2908
Reading through our signup component, it looks like all it currently does is send a request to `https://www.mozilla.org/en-US/newsletter/`, so I assume we actually want that switched over to the same SQS post we're using for posting petition-signage-data?

[2019-03-29 18:23] kristinashu commented on #2911
@beccaklam @alanmoo @xmatthewx [here's an initial list](https://docs.google.com/document/d/1O0EvKeEAo9yv7sgrlk-Rm2M7sPT8Y85esoKez8PZx94/edit?usp=sharing) of mvp vs long-term blog features, please add your thoughts!

[2019-03-29 18:46] pmac commented on #2908
Oh, and it would be better if it hit basket directly instead of www.m.o as well if it's going to stay HTTP. We can switch to the queue though if you'd prefer.

[2019-03-29 18:53] gideonthomas commented on #2687
I think it's worth doing what @youriwims suggests. I can try to tackle this on next week. Don't have any different thoughts than [what's mentioned here](https://github.com/MozillaFoundation/mofo-devops/issues/636#issue-383491873). I think we def should use Celery or some kind of task processor. Personally I would lean towards using https://github.com/jazzband/sorl-thumbnail coz it seems like the e

[2019-03-29 19:00] #2916 closed

[2019-03-29 19:03] mmmavis opened #2920 "Unnecessary margin below single-page campaign page header"
Follow-up for https://github.com/mozilla/foundation.mozilla.org/pull/2919

Some unnecessary margin has been added to single page campaign page as side effect of [this](https://github.com/mozilla/foundation.mozilla.org/pull/2919/files#diff-e898d74f7a453781bf6b77c5a4fd1d01R41) (thanks for Percy for catching it). `mb-4` should only be there when menu is present.

<img width="1268" alt="image" src="ht

[2019-03-29 19:05] Pomax commented on #2908
The other code we have in place posts data to SQS rather than directly to basket, so ideally we tap back into that but without a "campaign id", "first name", and "last name", but if that gets problematic I may need to ask for some help from either you or @cadecairos to add in a new routing code to post data directly to basket.

[2019-03-29 19:47] mmmavis opened #2921 "Remove {% block html_content_classes %} from mini_site_name_space.html"
https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/mini_site_name_space.html#L20

It seems like `{% block html_content_classes %}` is not doing anything. I did a search through codebase for `html_content_classes` and this is the only result found.

/cc @Pomax to help verify

[2019-03-29 19:50] mmmavis opened #2922 "Organize {% block content %} in modular_page.html"
Two templates are currently extending `modular_page.html`
- [primary_page.html](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/primary_page.html)
- [mini_site_name_space.html](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/modular_page.html)

As [prima

[2019-03-29 19:56] mmmavis commented on #2922
/cc @Pomax @alanmoo

[2019-03-29 20:00] alanmoo commented on #2922
I think we should look at this a bit more holistically; I'm not sure `mini_site_name_space` needs to have any content at this point. I was talking to @Pomax about this a little while ago; I think he's going to set up a meeting next week.

[2019-03-29 20:53] #2910 closed

[2019-03-29 23:01] kristinashu commented on #2911
Here are some _very_ quick comps https://redpen.io/p/bha12cf7387de4f7e7

[2019-03-29 23:40] mmmavis commented on #2833
@natalieworth @kristinashu do you know where should the 'Donate now' button bring people to?

[2019-03-30 00:03] kristinashu commented on #2833
To the donate page please https://donate.mozilla.org

Could you also please add a utm to it?

[2019-03-30 00:11] mmmavis commented on #2833
Yup, same as what we have for the donate link on footer? https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=footer

[2019-03-30 00:11] mmmavis commented on #2833
Should it be exactly same as what we have currently for the donate link on footer? https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=footer

[2019-03-30 01:07] kristinashu commented on #2833
Could it be slightly different so we know if this one is more useful or not? Maybe some like `footer-cta`?

[2019-03-30 03:38] stephaniemcv commented on #2908
@alanmoo Yes, as long as the two newsletter are set to True then it handles things for me.

[2019-03-30 06:05] Mozilla-GitHub-Standards opened #2925 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-30 15:28] Pomax commented on #2925
@Mozilla-GitHub-Standards the "raw template file" link is a 404

[2019-03-30 15:29] Pomax commented on #2925
I'm also confused how https://github.com/mozilla/foundation.mozilla.org/blob/master/CODE_OF_CONDUCT.md and https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md differ, given that they are literally the same text.

[2019-04-01 14:41] #2718 closed

[2019-04-01 17:12] mmmavis commented on #2905
Note:

1) after chatted with @sabrinang we have decided to keep the button class name prefix `btn-` (instead of `button-`) to align with Twitter Bootstrap's naming convention.

2) PR will not address things mentioned in "Button Arrangement" as they are more best practices for designer and content writers to follow.

[2019-04-01 19:29] mmmavis commented on #2834
@kristinashu @natalieworth any idea where we should link Instagram icon to?

[2019-04-01 19:31] alanmoo commented on #2834
I'm guessing we shouldn't, given it's Facebook owned?

[2019-04-01 19:47] kristinashu commented on #2834
I suggest following what mozilla.org does in their footer and link to https://www.instagram.com/mozilla/

[2019-04-01 20:38] kristinashu commented on #2757
I've updated redpen but an feeling a little stuck on this https://redpen.io/p/uvd561910fde4f4bc9
@beccaklam if you have any ideas, please test 'em out!

Possible Test Variant A:
<img width="891" alt="image" src="https://user-images.githubusercontent.com/1068783/55357892-f9816800-5482-11e9-81a8-1605c7a8b491.png">

Possible Test Variant B:
<img width="881" alt="image" src="https://user-images.github

[2019-04-01 21:29] alanmoo opened #2934 "Add ability to "close" petitions"
We should have a way to indicate a campaign petition is closed.

Design (link goes to `/advocacy`):
![](https://user-images.githubusercontent.com/1068783/54237942-69c84980-44d4-11e9-8373-7c7bd77be429.jpg)

This should be accomplished by a boolean on the model for either the petition or the campaign page itself. While it makes sense technically to be on the petition snippet, I'm thinking it should

[2019-04-01 21:30] #2644 closed

[2019-04-01 21:33] kristinashu opened #2935 "Primary page banner spacing and alignment"
Alignment and spacing on primary pages looks a little odd when there is a subnav because the eye has to bounce around so much, so quickly.

Example from prod:
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/1068783/55360642-e02fea00-5489-11e9-8fb4-5ef6635f451d.png">

Our sketch comps seems to have more white space above and below the intro title and content, let's come

[2019-04-01 21:35] alanmoo commented on #2757
I believe the A/B framework we put in was more about page content variations, but there might have been hooks for this kind of thing.

A thought about the slide-out: isn't this form going to be in the footer of every page too? Any reason we wouldn't just make it a jump/smooth scroll down to that?

[2019-04-01 21:41] kristinashu commented on #2757
Yeah scroll down could be a nice MVP! Doesn't feel as focused as the slide-out form tho since there are a bunch of additional links in and around the footer.

[2019-04-01 21:43] alanmoo commented on #2757
Ah, wait: if it's super close to the bottom of the page, the page won't scroll up enough to bring the sign-up to the top, especially on desktop.

[2019-04-01 21:48] mmmavis opened #2936 "Code cleanup for unifying button style work"
Follow-up for https://github.com/mozilla/foundation.mozilla.org/issues/2905 and PR https://github.com/mozilla/foundation.mozilla.org/pull/2912.

### Step 1
Use https://foundation.mozilla.org/cms/inventory/ to search and update all button instances in `LinkButtonBlock`
1. [x] `btn-normal` -> `btn-primary`
2. [x] `btn-ghost` -> `btn-secondary`

### Step 2
In `network-api/networkapi/wagtailpages/cust

[2019-04-02 13:34] alanmoo opened #2941 "Enable localization of "Intro" field on BanneredCampaignPages"
**Describe the bug**
The field labeled "Intro" on BanneredCampaignPage can't be localized. Let's make that possible.
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/1682681/55406561-508e4800-552a-11e9-9c1a-cea4489bd961.png">

[2019-04-02 16:35] #2898 closed

[2019-04-02 17:04] Pomax commented on #2863
I have no idea, and I don't even know how we would go about finding out.

[2019-04-02 17:12] mmmavis commented on #2905
Done! Follow-up ticket filed here: https://github.com/mozilla/foundation.mozilla.org/issues/2936

[2019-04-02 17:12] #2905 closed

[2019-04-02 17:38] youriwims commented on #2828
Removing this model is blocked by removing its usage in `/network-api/networkapi/wagtailpages/translation.py`. We're working on establishing a process to fully remove translation bindings in order to remove the model's import in `translation.py` thereby making it okay to completely remove the model in `/network-api/networkapi/wagtailpages/models.py`. [This is also an issue](https://github.com/mozi

[2019-04-02 17:40] youriwims commented on #2828
Removing this model is blocked by removing its usage in `/network-api/networkapi/wagtailpages/translation.py`. We're working on establishing a process to fully remove translation bindings in order to remove the model's import in `translation.py` thereby making it okay to completely remove the model in `/network-api/networkapi/wagtailpages/models.py`. [This is also an issue](https://github.com/mozi

[2019-04-02 17:48] #2367 closed

[2019-04-02 18:17] kristinashu commented on #2416
@sabrinang gave these examples in slack:

mozilla.org blog has pattern fallbacks you can put on our blue-purple colour, can prob make some similar
- https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/wp-content/themes/frontierline/img/fallbacks/pattern-1.png
- https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/wp-content/themes/frontierline/img/fallbacks/pattern-2.png
- https://ffp4g1y

[2019-04-02 18:51] Pomax commented on #2823
![image](https://user-images.githubusercontent.com/177243/55428273-999bc780-553d-11e9-92b0-07df854c0e7c.png)

[2019-04-02 18:53] Pomax commented on #2738
@HSR05 just to check, are you looking at this? (if not, that's fine, just making sure our issues are tagged correctly)

[2019-04-02 18:55] Pomax commented on #2824
Thank you for the offer, but model updating is fairly complex at the moment due to our deployment setup, so this is not a good bug for contributors.

[2019-04-02 19:03] Pomax commented on #2857
also pinging @cadecairos

[2019-04-02 19:09] Pomax commented on #2890
Just out of practical curiosity: do professionals in our network rely on our site/use it to find their way through our material? Or do they instead interact with staff directly and rely on other (web)resources?

[2019-04-02 19:09] HSR05 commented on #2738
@Pomax I have exams going on!! I'll be working on it side by side!!

[2019-04-02 19:13] Pomax commented on #2921
yep, this should be entirely removable

[2019-04-02 19:23] xmatthewx commented on #2890
Some no, some yes. Different programs have leveraged the site for program materials to varying degrees. Doing that for high level materials can simplify things. And... program applicants and participants have not been onboarded in a consistent manner, or at all. Here's brief context: [gdoc](https://docs.google.com/document/d/1Yw9zsHz0jOe_q97ydfBF17ZxI3PSFn1jiZ9O_PDIsIc)

[2019-04-02 19:27] beccaklam commented on #2757
Some ideas based on http://time.com/, https://www.charitywater.org/, https://www.worldwildlife.org/, and https://www.timeout.com/ where they weight two things equally in the top left hand corner.

## Button Version:
![Home Copy 7@2x](https://user-images.githubusercontent.com/20977376/55430225-8ac40d80-555b-11e9-87a4-13a09d9dcf77.jpg)

On hover:
![Home Copy 10@2x](https://user-images.githubusercont

[2019-04-02 20:02] Pomax commented on #2941
This is an inherited field from PrimaryPage, so we'd have to enable it for all primary pages. If that's fine then this should be a quick thing to do.

[2019-04-02 20:04] Pomax commented on #2738
In that case I would rather unassign it and have someone on staff work on it, mostly because we're trying to clean up some issues and if you're splitting time between exams and this, our issue list should not interfere with your education.

[2019-04-02 20:14] #2921 closed

[2019-04-02 20:45] mmmavis commented on #2866
Seems like our new SCSS rules for headings have gotten rid of the issue we are trying to solve in this ticket. 🎉

[2019-04-02 20:45] #2866 closed

[2019-04-02 21:34] mmmavis opened #2946 "Create mixin to tidy up type.scss"
https://github.com/mozilla/foundation.mozilla.org/blob/master/source/sass/type.scss can be further simplified by using mixins.

[2019-04-02 21:57] #2903 closed

[2019-04-02 22:05] kristinashu opened #2948 "Add newsletter sign up button and form to nav"
## HOLD UNTIL DESIGN IS FINAL

Add newsletter sign up button to nav, update donate button, and add form.

- [ ] Add `Newsletter` button
- [ ] Update style of `Donate` button
- [ ] Mobile: `Newsletter` stays put while `Donate` button moves down below nav items
- [ ] Clicking on `Newsletter` button animates sign up form to open and page content slides down
- [ ] Clicking anywhere outside of the blac

[2019-04-02 22:06] kristinashu commented on #2757
Thanks Rebecca! The design team has decided on these for the final comps:

![Home Nav@2x](https://user-images.githubusercontent.com/1068783/55438762-65cd9b80-5557-11e9-9d2e-9b4db6f3ce11.jpg)

Newsletter opens on click:
![Nav Open@2x](https://user-images.githubusercontent.com/1068783/55438763-66663200-5557-11e9-82c1-59a913771732.jpg)

Buttons prioritized on mobile:
<img width="317" alt="image" src=

[2019-04-02 22:06] #2757 closed

[2019-04-02 22:48] kristinashu opened #2949 "Content and design review of wagtail pages"
We need a way to review pages that have been created or updated by staff to review content for typos, broken links... and to make sure it follows our brand standards and best practices.

Comms team has also flagged a similar need for our blog posts. Note from Anil:

I wouldn't want to block staff from updating or creating pages but at the very least we need a way to see what pages have recently be

[2019-04-02 23:16] kristinashu commented on #2769
Looks like this has been fixed https://foundation.mozilla.org/en/campaigns/eu-misinformation/
<img width="1374" alt="image" src="https://user-images.githubusercontent.com/1068783/55442238-a979d280-5562-11e9-8395-7d5ca73f482b.png">

[2019-04-02 23:16] #2769 closed

[2019-04-03 01:14] mmmavis opened #2950 "Fix site wide UI-breaking HTML validation errors"
1. Copy source code of Foundation homepage
2. Validate it using online tools like https://validator.w3.org/nu/

There a quite a few of validation errors that we _should_ fix. For this ticket I'm gonna get the following site wide UI breaking errors addressed first (e.g., missing/mixmatched tags).

<img width="378" alt="image" src="https://user-images.githubusercontent.com/2896608/55446096-1bf2ae80-

[2019-04-03 14:28] alanmoo commented on #2949
I believe we would be able to require moderation for blog posts. For other pages, There should be a way to tap into the Wagtail API to expose "recently updated pages by anyone" on the admin homepage. @Pomax Does that sound right?

[2019-04-03 14:31] alanmoo commented on #2941
Yeah, that's good.

[2019-04-03 15:15] Pomax opened #2952 "Our page spawns an hscrollbar on Windows at <=768px widths"
Chrome:

![image](https://user-images.githubusercontent.com/177243/55490365-83971100-55e8-11e9-875b-2332a295d6c4.png)

Firefox:

![image](https://user-images.githubusercontent.com/177243/55490409-8e51a600-55e8-11e9-9d9b-046e0a2ac1d1.png)

[2019-04-03 15:31] beccaklam commented on #2911
Updated WIP comps: https://redpen.io/nzd574027ab66961ee @kristinashu

[2019-04-03 15:34] #2909 closed

[2019-04-03 16:42] #2950 closed

[2019-04-03 17:23] youriwims commented on #2419
Here are the instances I've found:
 1. https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/fragments/primary_heroguts.html
  2. https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/campaign_page.html#L33
3. https://github.com/mozilla/foundation.mozilla.org/blob/m

[2019-04-03 19:18] youriwims commented on #2695
@Pomax where could I start with this?

[2019-04-03 21:01] anilkanji commented on #2857
Even the ones we "own" like webmaker? @stephaniemcv

[2019-04-03 21:10] xmatthewx opened #2958 "Make location display conditional on profile cards"
Profiles include an icon even when location is empty (profile by id  streamfield component).

**To Reproduce**

1. Go to https://foundation.mozilla.org/en/docs/how-do-i-wagtail/profiles-from-pulse/
1. Scroll down and compare Peter and Luca
4. See placemarker by Luca's empty location field.

**Expected behavior**
When profile has no location, there should be no icon and no extraneous space.

**Scre

[2019-04-03 21:10] #1742 closed

[2019-04-03 22:30] stephaniemcv commented on #2857
Yes, even the MoFo ones are included in the LCM project, trapped in the backlog. The only thing preventing us from trimming our own dead wood is and has been the prioritization of this work.

[2019-04-03 22:36] mmmavis opened #2959 "Change how we turn button and text into dark theme version"
Related to the recent button standardization PR that I landed.

Currently to make a dark themed button or text we simply apply `dark-theme` to the element. e.g.,

[code]

If we have a section with dark background and we want to make every element in that block to be on dark theme, we will have to apply `dark-theme` class to every single element. Imagine doing that for 20 elements 🙈 ...

I want to

[2019-04-04 00:08] sabrinang commented on #2959
Sounds good Mavis so it's less redundant using dark-theme for each separate element 👍  I will defer to you devs for your expertise here

[2019-04-04 00:57] #2946 closed

[2019-04-04 01:08] #2895 closed

[2019-04-04 07:22] #2936 closed

[2019-04-04 11:27] TheoChevalier opened #2960 "Enable localization of “Overview” navigation tab in campaign pages"
It looks like the “Overview” tab label can’t be localized (or I can’t find it in Wagtail) on https://foundation.mozilla.org/en/campaigns/eu-misinformation/ it would be great to add a field for this

![image](https://user-images.githubusercontent.com/1294206/55548036-8702c900-56ca-11e9-8634-afd1127d5459.png)

[2019-04-04 15:19] alanmoo opened #2961 "Brainstorm: Show different Favicons for Staging and Prod"
I feel like it might be useful if the tab icon for staging and production (maybe review apps too?) was different somehow. That way we can take a glance at our open tabs and know where staging is to test some data changes vs "don't break this" in production. Am I alone on this or do others agree?

@mozilla/mofo-eng @mozilla/mofo-design

[2019-04-04 16:47] mmmavis commented on #2948
@youriwims please don't work on this until the sign up component work that Pomax and I are working on is merged first.

[2019-04-04 16:50] kristinashu commented on #2948
Also please wait for design to be finalized!

[2019-04-04 17:21] youriwims commented on #2959
I think this is a great idea and makes for much more efficient code that won't need to be refactored in the near future.

[2019-04-04 19:38] kristinashu commented on #2948
Sorry but it's looking like this ticket was premature! Anil wants to look into the working a little more. @youriwims I'm going to unassign you and turn this into a design ticket, sorry.

### Things for design to do:
- get analytics from Will so we know how much the current donate button is bringing in [Kristina to do]
- benchmark site that have more movement orientated copy [Kristina & Rebecca to

[2019-04-04 20:02] kristinashu commented on #2948
Numbers from Will for the last year: 688 donations for $19,525
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/1068783/55584663-99383380-56d9-11e9-93da-d1c4b7b85622.png">

Compared to visits:
<img width="1149" alt="image" src="https://user-images.githubusercontent.com/1068783/55584731-cdabef80-56d9-11e9-8f73-577010902a31.png">

[2019-04-04 20:05] xmatthewx opened #2964 "Enhance landing page inheritance for easier author experience"
In authoring a campaign that uses the new landing page template, it's a wee bit of a pain to select the banner image on every single child page. Would it possible for child pages to inherit their parents banner image if nothing is specified for that specific page? And only fall back to generic b&w if neither have an image?

Let's discuss and then file a real ticket @alanmoo @kristinashu

[2019-04-04 20:16] kristinashu commented on #2964
Yes, this would be amazing!

I've also wondered if the child pages could inherit the OG content from parent page too?

[2019-04-04 20:58] kristinashu commented on #2695
I think this would be a valuable component to have that we could use is a few places. The [Fellowships FAQ page](https://foundation.mozilla.org/en/fellowships/faq/) is crazy long and not very usable right now.

[2019-04-04 21:08] Pomax opened #2965 "[planning] a cleaner inheritance model for django models/templates and CMS page types"
This is a long-term tracking/planning issue around "what the ideal model/template situation for our page types would be", and how we can work towards realising that particular information architecture.

Let's start with a graph of an initial "this feels reasonable" pass:

[Proposed Foundation Site Template April 2019.pdf](https://github.com/mozilla/foundation.mozilla.org/files/3048164/Proposed.Fou

[2019-04-04 21:23] Pomax commented on #2695
If we turn this into a component, we'd realistically have to split up that content into regular content, and "paragraphs with folding turned on based on headings" or something, Would that be acceptable @kristinashu ?

[2019-04-04 21:29] kristinashu commented on #2695
Hmm not too sure what you mean... do you mean that each accordion would be a separate component? Or do mean any heading within the accordion component would automatically become an accordion?

[2019-04-04 21:37] Pomax commented on #2695
Components only control "their own content" so we can't create a component that indiscriminately turns all headings with text into foldable content, but we can create a special kind of "paragraph" component that adds folding to all of its own content. So instead of the current Fellowship FAQ page with a single long paragraph component, you'd get something that looks more like:

- normal "paragraph

[2019-04-04 22:04] kristinashu commented on #2695
Oh yes, that sounds fine!

[2019-04-04 22:07] Pomax commented on #2695
Cool, in that case @youriwims have at it =)

[2019-04-05 13:55] alanmoo commented on #2357
@youriwims Is this related to what you're working on?

[2019-04-05 14:30] alanmoo opened #2967 "Add "edit this page" functionality for logged in users"
When I'm looking at a published page and I want to edit it, there are way too many steps involved. Can we add a link/route/keyboard shortcut to allow logged in users to jump directly to editing that page?

@Pomax what's possible?

@kristinashu any preference?

[2019-04-05 14:41] alanmoo commented on #2964
The original request should be possible.

@kristinashu - It looks like OG Text does inherit currently, but not images. I'm not sure if that's an oversight in the implementation of #2347 or a bug. @cadecairos Can you comment on that part?

[2019-04-05 15:22] youriwims commented on #2357
@alanmoo , I was mainly working on fixing the logic so that our page titles appear in the `<title>`, but I can take a look at this as well.

[2019-04-05 16:01] Pomax opened #2968 "main.js may not be using the correct queryselectors"
Example. https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/main.js#L323 will correctly kick in for `#news`, which means any page that has a heading h1-h3 with text "neews" will get processed due to auto-linking.

We should make sure that main.js only looks for exactly what it needs to look for in each processing step.

[2019-04-05 16:42] kristinashu commented on #2967
This would be great to have! Could do a bar across the top similar to the Draft Page but with a message (linked text) to Edit Page.

[2019-04-05 17:46] alanmoo opened #2970 "Update contributing guidelines (including contribute.json)"
We should add a CONTRIBUTING.md to set expectations for contributing to this project. We should also update contribute.json to remove references to the Mozilla Network.

cc @kristinashu

[2019-04-05 18:24] kristinashu commented on #2911
Note from convo with Alan:

So for the body content section of the blog, we will be able to use any of the components we already have on /opportunity type pages but we should limit the options.

I've checked off the ones I think think we need but @beccaklam please update or add your thoughts:
- [x] Paragraph
- [x] Image
- [ ] Image text _(maybe?)_
- [ ] Image text mini _(maybe?)_
- [ ] Image grid

[2019-04-05 18:44] kristinashu opened #2971 "Move /opportunity pages to /initiatives"
At some point we decided to no longer use /opportunity and use /initiatives instead. Now we have projects arbitrarily split between both which is more confusing and complicated for staff and users.

Next steps:
- [x] confirm that we want to sunset /opportunity
- [x] move all /opportunity pages to /initiative
- [x] redirects those pages (one PR)
- [x] archive /opportunity (follow-up PR after the re

[2019-04-05 19:46] beccaklam commented on #2911
Thanks @kristinashu I added "Image text mini" because I feel that staff often use blog posts to announce things that require a CTA. We could start with a smaller set of components but wondering if it will be hard to add more components if we find that staff keep asking for a particular thing? @alanmoo

[2019-04-05 20:17] alanmoo commented on #2911
Nope, easy to add.

[2019-04-05 20:31] kristinashu commented on #2911
I like that approach! Could you mock up a version with those selected components so we can show off what the blog will be able to do? Then Anil will share it around.

[2019-04-06 01:18] hwine commented on #2925
1) Sorry about the 404
2) The two CoC files are actually different, but you have to look at the raw text to see it. Your reporting link specifies a locale ``en-US``, the updated master one leaves the locale up to the user's browser to select.

[2019-04-06 04:34] Pomax opened #2972 "retire mofo-bootstrap?"
Do we even still use it? If we do, what parts of it do we still use?

[2019-04-06 16:23] Pomax commented on #2925
Ah, thanks.

It would be useful to update the bot to point out what the difference is (or, since including diffs in comments is more of a bugzilla than a github thing, have the bot also file a PR with a "fixes #...", which would make the diff more obvious?)

[2019-04-08 14:35] beccaklam commented on #2911
Also added "Image Text" since our current blog post is already using that component?

[2019-04-08 16:52] hwine commented on #2925
The challenge with that modified PR is that it is completely legit for folks to have modified the PR to add project specific information. I've opened mozilla/Mozilla-GitHub-Standards#8 to sort out a better approach. Please add any additional concerns you have there. Thanks!

[2019-04-08 17:28] beccaklam commented on #2911
New blog detail page with mentioned components (I wasn't sure what our video looks like so I made it up for now): @kristinashu
![blog-detail@2x](https://user-images.githubusercontent.com/20977376/55744117-1d542900-5a02-11e9-8e0a-6787d8ae62ae.jpg)

[2019-04-08 17:58] Pomax commented on #721
reopening, https://github.com/mozilla/foundation.mozilla.org/pull/2861 broke prod and needs to be redone. https://github.com/mozilla/foundation.mozilla.org/pull/2981 backs it out, and a new PR needs to be filed.

[2019-04-08 18:10] Pomax commented on #721
/cc @youriwims

[2019-04-08 18:42] beccaklam commented on #2911
Updated MVP with large body copy: @kristinashu
![blog-detail-01@2x](https://user-images.githubusercontent.com/20977376/55748371-77f28280-5a0c-11e9-8cce-f38eb72a6404.jpg)

[2019-04-08 18:44] kristinashu commented on #2948
@beccaklam I've added some benchmarks [here](https://docs.google.com/presentation/d/1Yppt2ZUK3NVXhQ5OtB2vNctQl3uPo80bIYAtF5D3MlE/edit?usp=sharing), please add your thoughts or more examples!

[2019-04-08 18:47] kristinashu commented on #721
😢

[2019-04-08 20:17] mmmavis commented on #2834
@natalieworth

https://redpen.io/qx2f1a26d415e0a1b1 Could we make the privacy checkbox line wrap at email input box's width?

We can't easily implement things in a way that is not hacky, look right design-wise, and in right tab order. TL;DR is that in order to make email input and submit button sit side by side & the privacy checkbox line full width, we have to render `[email input] [submit button

[2019-04-08 20:23] natalieworth commented on #2834
@mmmavis Yes! That's totally fine if that works and is easiest for you. I don't think it will compromise the design.

[2019-04-08 20:25] mmmavis commented on #2834
@natalieworth awesome! 🎉

[2019-04-09 15:36] youriwims opened #2984 "Increased space below Fellow name in Directory Component"
**Describe the bug**
It seems like some of the recent type updates may have altered the Fellows Directory. There's now `1rem` of `margin-bottom` below the Fellows' names whereas previously, it looks like there was ~half that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org/en/fellowships/meet-our-fellows/

**Expected behavior**
There should be about 50% l

[2019-04-09 16:01] Pomax commented on #2941
accidentally landed the wrong code.

[2019-04-09 16:31] Pomax opened #2988 "percy seems to load images and webfonts unreliably"
immediate fix: longer wait before taking the snapshot

long term fix: figure out how to actually know that all images and webfonts have (1) downloaded and are (2) correcetlydisplayed, before taking a screenshot, even if the _content_ may not be "correct"

[2019-04-09 16:31] #2941 closed

[2019-04-09 17:04] mmmavis commented on #2972
I know we still rely on some colour and type overrides but we'll have to do an audit to come up with a complete list.

[2019-04-09 17:17] kristinashu opened #2989 "Rules for zen mode nav"
Zen mode nav was created, I believe, for two purposes:
- petition pages: so users would be focused on signing the petition
- mini-site pages: initiatives would feel like they had their own dedicated website

Now that we are trying to increase traffic across our site and trying to link our work together more holistically, I think we should reduce our use of Zen mode to only petition pages. @xmatthe

[2019-04-09 18:07] Pomax opened #2991 "consider adding more information to the newsletter signup"
in order to better serve users who want to be signed up to our newsletters, https://github.com/mozmeao/basket/issues/152 points out that we can add additional information to make sure newsletters are "tailored" - the main fields for this are `language` and `format`, as well as possible `country`

Of course, getting this information would require some thinking about whether that is information that

[2019-04-09 21:35] youriwims commented on #2958
Should the bio text be moved up and fill that space if no location is present? @xmatthewx @kristinashu

[2019-04-09 21:40] Pomax commented on #2991
example of mozilla's form: https://www.mozilla.org/en-US/newsletter/

![image](https://user-images.githubusercontent.com/177243/55837150-5a3d2000-5ad5-11e9-85db-36fc8d89ec50.png)

[2019-04-09 22:46] kristinashu commented on #2958
Yes please! There's an example in the comp (Brett) https://redpen.io/me6c690075cd81cd6f

[2019-04-10 15:18] #2984 closed

[2019-04-10 17:13] kristinashu opened #2994 "Add newsletter sign up button and form to nav"
### Add newsletter sign up button to nav, update donate button, and add form.

- [x] Add `Newsletter` button
- [x] Update style of `Donate` button ([icon-heart.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/3064965/icon-heart.svg.zip)) (hover: dark blue #0d10bf)
- [x] Mobile: `Donate` stays put while `Newsletter` button moves down below nav items
- [x] Clicking on `Newsletter` bu

[2019-04-10 17:26] kristinashu opened #2995 "Testing & tracking newsletter signups and donations in nav"
Related tickets: #2994 & #2948

We need a plan to track and test these updates and other possible variations.

### Things to consider:
- track analytics to see how it affects donates (does is suppress donations?) (will need help from Will)
- track analytics to see if people signup (google analytic event & actually sign up numbers)
- can devs can set up A/B testing for this?
- should we some test o

[2019-04-10 17:28] kristinashu commented on #2948
Opened up dev implementation ticket https://github.com/mozilla/foundation.mozilla.org/issues/2994 and tracking/testing ticket https://github.com/mozilla/foundation.mozilla.org/issues/2995 (@beccaklam if interested, maybe you could take the lead on the tracking/testing one?).

[2019-04-10 17:28] #2948 closed

[2019-04-10 18:44] Pomax opened #2996 "make the directory-listing-filter able to load the profile card code "from the profile html""
right now we have a profile card html fragment for django templating purposes, and then we have the hardcoded template in the directory-listing-filter, and it is entirely possible for those two to go out of sync. It would be nice if we could somehow copy over the fragment to the static dir, and then have the directory-listing-filter code load that and put in the relevant values, rather than using