[2021-01-14 19:51] Pomax opened #6026 "[PNI] make product images proper wagtail images"
It looks like product images in the new PNI app are still image fields, rather than WagtailImage instances? Let's figure out why that is.

[2021-01-14 19:53] Pomax opened #6027 "[PNI] update the CMS admin nav to use the new classes"
### File(s) or components

`buyersguide/admin.py`

### Reason for cleanup

They bg menu system still builds options for the old classes, and those should be the new classes. Ideally, with a fifth menu item that directly sends folks to the edit interface for the new PNI homepage.

[2021-01-14 19:58] Pomax commented on #5946
@kristinashu after talking to Jen, she would prefer if we simply change this field from "unknown" to "can't determine" across the board, which makes things quite a bit easier to implement and maintain - I've update the issue title and initial comment to reflect that but please let me know if you have any concerns!

[2021-01-14 20:03] Pomax commented on #5854
this got done.

[2021-01-14 20:03] #5854 closed

[2021-01-14 21:41] #5955 closed

[2021-01-15 00:19] benhohner commented on #5931
@taisdesouzalessa I finally figured out GitHub notifications, should actually get these now! Sorry for the delay. Hopefully Pomax can help with this as Kristina tagged.

[2021-01-15 00:28] mmmavis commented on #5944
@KalobTaulien `blurb` is a text field. Is there a Wagtail config that we can get the field to show as textarea?

[2021-01-15 00:29] mmmavis commented on #5945
@kristinashu do you know what text field (name, type, possible values) we want to add and how we want it to appear on the page?

[2021-01-15 00:33] kristinashu commented on #5945
Same as the other help text fields. E.g. the "In April 2020..." text
<img width="889" alt="image" src="https://user-images.githubusercontent.com/1068783/104665377-fc644180-5685-11eb-93a0-26b5cbf47f13.png">

But @Pomax just opened this ticket which I think is a duplicate https://github.com/mozilla/foundation.mozilla.org/issues/6023 so could probably close this one.

[2021-01-15 10:58] TheoChevalier opened #6030 "wagtail-localize: prepare MozFest site for wagtail-localize"
<img width="943" alt="Capture d’écran 2021-01-15 à 11 52 15" src="https://user-images.githubusercontent.com/1294206/104716376-c70c3200-571f-11eb-8f98-29428a0fbaa1.png">

This issue happens when trying to translate the MozFest homepage with wagtail-localize ([this branch](https://github.com/mozilla/foundation.mozilla.org/tree/wagtail-2-11))

This may or may not be the same root cause as for #5953

[2021-01-15 11:00] TheoChevalier commented on #5953
Note: having a similar issue for the MozFest site, with a field that is a simple `CharField` in #6030

[2021-01-15 11:14] TheoChevalier opened #6031 "wagtail-localize: mark fields that shouldn’t be extracted to .po files as synchronized"
# In models
wagtail-localize allows us to mark fields as synchronized. Synchronized fields are not extracted to .po files, and so don’t end up in front of translators (Pontoon, an agency or even Machine Translation API) but we can still manually change their value as needed from the admin where we need to.

I’ve started identifying a few fields that should be synchronized:
- Any URL field
- Slug f

[2021-01-15 11:16] TheoChevalier commented on #5633
wagtail-localize will allow us to do this easily, this ticket is superseded by #6031

[2021-01-15 11:16] #5633 closed

[2021-01-15 19:33] taisdesouzalessa commented on #5920
Draft here: https://docs.google.com/document/d/16u_iKWGQik2EqCEysVJMpoOAnhoz8Yq3KfYNvcatFrA/edit?usp=sharing

Sent to Kristina G. for review.

[2021-01-15 19:39] benhohner commented on #5981
Cc: @KalobTaulien thoughts on where it could fit within the wagtail ecosystem? Maybe connect with @Pomax and/or @TheoChevalier  to discuss?

[2021-01-15 19:50] benhohner commented on #6008
Dependent on how easy this is to achieve:

1 way, added items get updated or appended then removed from the Airtable spreadsheet, like a queue that triggers when you click "add"

OR

2 way

Everything except for image, privacy policy links section, updates section, and related products section

Invite sent

I don't think so at the moment.

@KalobTaulien

[2021-01-15 19:59] benhohner commented on #5685
@Pomax can you get me a list of the S3 bucket names I'm looking for?

[2021-01-15 20:44] Pomax opened #6033 "Align heroku database versions"
We're currently using four different postgresql versions:

- production = 9.6.2
- staging = 10.15
- review apps = 12.5
- local dev = 10.12

Let's get these all on the same version, or we're going to be chasing database ghosts, where one system's failing while everything else shows no indication of failure.

[2021-01-15 22:43] taisdesouzalessa commented on #5920
Kristina G. will review it next week and send feedback my way.

[2021-01-15 22:47] taisdesouzalessa opened #6034 "[Homepage hero image]"
Xavier will add [this blog post](https://foundation.mozilla.org/en/blog/announcing-8-projects-examining-ais-relationship-with-racial-justice/) to our home page and needed a hero image for that.

**To do:**
- [x] Design hero image
- [x] Apply feedback (if any)

Proposal added to staging for approval - designers + Xavier

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/2

[2021-01-16 00:39] #5243 closed

[2021-01-16 01:04] taisdesouzalessa commented on #5775
@nancyt1 would you help me out by going through the videos and adding your observations as notes on Usertesting.com?
I already started the mobile ones but would love if you can go through the Desktop videos and take notes (here is a screenshot):
<img width="315" alt="image" src="https://user-images.githubusercontent.com/22157921/104792525-862e1080-5753-11eb-97e6-d1121c5ed5fe.png">

Happy to quickl

[2021-01-18 15:30] KalobTaulien opened #6042 "PNI products don't show up in review apps"
Looking at the latest couple review apps, Ive noticed Product images dont show up. I had to manually overwrite one by logging into the admin.

We need to find a way to copy PNI product images into review apps.

If this is a duplicate issue, please close this one.

[2021-01-18 16:55] #5910 closed

[2021-01-18 16:56] Pomax opened #6043 "Percy seems to not load a specific image half the time"
The "who we are" page seems to be missing its banner image half the time on Percy, let's figure out why.

[2021-01-18 16:59] Pomax commented on #6023
duplicate of https://github.com/mozilla/foundation.mozilla.org/issues/5945

[2021-01-18 17:00] Pomax commented on #5945
closing 6023 as the duplicate as this issue has acceptance criteria already. Text from that issue:
---
From @caltrider: "Add a text field for user-friendly privacy section (or move the help text section from the privacy line in the MSS up to be the help text for user-friendly privacy). Best case would be to move the text box that already exists (and the data in there already) from the existing MSS

[2021-01-18 17:03] Pomax commented on #6012
I'm bumping this to 8 because I'd rather over estimate

[2021-01-18 17:08] Pomax commented on #5931
self-assigned for the collab part =)

[2021-01-18 18:24] Pomax commented on #6018
this has been unblocked, and the deploy action is now live

[2021-01-18 18:24] #6018 closed

[2021-01-18 20:11] Pomax commented on #6027
Tentative PR up as https://github.com/mozilla/foundation.mozilla.org/pull/6044 but the "edit" option for the homepage is not great, it gets injected into the main nav instead of in the bg submenu

[2021-01-18 20:51] mmmavis commented on #6043
Getting the same false positive flag but it's with the "Who we are" page.
![image](https://user-images.githubusercontent.com/2896608/104961784-dc859400-598b-11eb-861d-3f1a486688f7.png)

[2021-01-18 20:52] #5944 closed

[2021-01-18 20:57] Pomax commented on #6024
already done

[2021-01-18 20:57] #6024 closed

[2021-01-18 20:57] #6023 closed

[2021-01-18 21:02] mmmavis commented on #6042
Dupe of https://github.com/mozilla/foundation.mozilla.org/issues/5983 😉 . Closing.

[2021-01-18 21:02] #6042 closed

[2021-01-18 22:25] #5747 closed

[2021-01-18 22:26] kristinashu commented on #5595
@taisdesouzalessa is there an updated eta for this :)

[2021-01-18 22:36] taisdesouzalessa commented on #5595
Unfortunately not yet. Will ping Kathy and Jenn.

[2021-01-19 00:32] taisdesouzalessa opened #6047 "[Data Futures] Data Futures: research projects and Insights hub - connections"
**Background:**

a) The Data Futures Lab may have a microsite in the future (initiative led by Mehan and Lindsey). [Airtable link here. ](https://airtable.com/tbljPmOCkK9JShaTS/viw9sdUJiIjCYpn0Y/recwcfpllJzWY84CE?blocks=hide) - [wireframe that team made](https://balsamiq.cloud/sj2hm38/paaw8qh/r2278) - ticket #6076
b)  Meanwhile, the Insights team is doing some research related to the Data Futures

[2021-01-19 01:29] kristinashu commented on #6034
I think this is done and good to close!

[2021-01-19 03:57] taisdesouzalessa commented on #5595
@kristinashu will have to bump this to next sprint. Here is the answer from Kathy:

[2021-01-19 04:35] taisdesouzalessa commented on #5775
Mobile interviews are analyzed! Next step: desktop (with help from Nancy).

[2021-01-19 04:36] taisdesouzalessa commented on #6034
I sent it Xavier's way today but I don't think we will have any feedback in terms of image modification. Will check with him tomorrow morning before closing this issue.

[2021-01-19 04:41] taisdesouzalessa opened #6048 "[PNI] Analytics support"
**Background:**
Helped Lindsay with metrics for the [PNI 202 wrap up slide deck](https://docs.google.com/presentation/d/1_pclZ2KJjTvRAHgmmslBJuVuRM9Hb3om9nK73Jc6C4k/edit?usp=sharing)

**To do:**
- [x] Feedback on metrics she had
- [x] Finding some numbers she needed
- [x] Added slides related to design success (GA, hard numbers)
- [x] Added slides related to design success (qualitative numbers)

*

[2021-01-19 04:42] #6048 closed

[2021-01-19 10:11] TheoChevalier opened #6049 "[PNI] Apple Homepod image is broken"
### Describe the bug

The Homepod image on https://foundation.mozilla.org/fr/privacynotincluded/apple-homepod/ can’t be displayed.

Opening the image directly in Firefox shows a message saying the image contains errors: https://res.cloudinary.com/mozilla-foundation/image/upload/v1604693714/foundationsite/buyersguide/Apple-Homepod_ddkmd2.jpg

The console logs are showing a 404 for this resource, it

[2021-01-19 16:22] Pomax commented on #6043
thanks, I think I just wrote the wrong page title. updated the issue.

[2021-01-19 16:48] taisdesouzalessa opened #6050 "[Foundation Website] Hero Image templates"
**Background:**
From time to time we have to quickly build a hero image (for homepage and for "what we can do" page) for relevant Foundation initiatives. It would be very useful if we have templates we can quickly use depending on the situation so we can quickly swap images instead of reinventing the wheel over and over. Based on suggestion gave by @kristinashu via Slack.

**To do:**
- [x] Create

[2021-01-19 17:11] taisdesouzalessa commented on #6034
Done and approved by all. Will open a follow up stretch ticket related to creating templates for the hero images. Ticket here:  #6050

[2021-01-19 17:11] #6034 closed

[2021-01-19 17:14] mmmavis commented on #5976
@benhohner I've landed the land on Pulse. Can you please verify it on GTM?

[2021-01-19 17:19] taisdesouzalessa opened #6051 "[IA Refresh] Measuring success: part III (b)"
**Background:**
According to our Foundation Site Information Architecture document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1.   Reduce the bounce rate on our homepage by 20% through site updates based on user testing, analytics, and staff interviews
2.   Qualitative testing finds that users’ understanding of Mozilla Foundation’s mission improve

[2021-01-19 17:21] taisdesouzalessa commented on #5775
This ticket was 1/2 done in this sprint: interview script were written, interviews were launched and mobile analysis done - added a follow up ticket for next steps:  #6051

[2021-01-19 17:21] #5775 closed

[2021-01-19 17:44] Pomax commented on #6033
"migrated" to https://github.com/MozillaFoundation/mofo-devops/issues/811

[2021-01-19 17:44] #6033 closed

[2021-01-19 17:46] benhohner commented on #6015
@kristinashu slated for this sprint!

[2021-01-19 19:00] mmmavis commented on #4880
I have bandwidth this sprint so I can work on this if it's something we still wanna do. @kristinashu ?

/cc @TheoChevalier This requires text changes. I will tag you on PR so you can verify that I don't break anything 😂

[2021-01-19 19:09] mmmavis commented on #5095
Closing.

This seems to be done: https://github.com/mozilla/foundation.mozilla.org/blob/master/tasks.py#L72-L77

And `inv -l` gives you

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/2896608/105080980-73168b80-5a46-11eb-9019-cc33807dedca.png">

[2021-01-19 19:09] #5095 closed

[2021-01-19 19:14] mmmavis commented on #4115
@kristinashu I can work on this ticket this sprint if the work is still required. I've updated the ticket description (crossing out "making scrollbar optional" because we shouldn't do it and can't do it either due to the reasons above).

[2021-01-19 19:14] KalobTaulien commented on #6030
Found the problem for this issue. `wagtail-localize` is looking for `header`, which exists as a field, but is being stripped away and taken out of the conten`content_panels`. The trouble code is here:

https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/mozfest/models.py#L147-L168

Still looking into the issue for #5953

[2021-01-19 19:48] benhohner commented on #5976
@mmmavis works for me now!

[2021-01-19 19:49] mmmavis commented on #6043
My guess is that the default background image is too large (1.71 MB) so it takes long to load. Sometimes it doesn't get loaded in time and that causes Percy to flag it. I will try reducing the file size to see if it helps.

[2021-01-19 19:52] mmmavis commented on #5976
Nice! I'm gonna mark this ticket closed :D

[2021-01-19 19:52] #5976 closed

[2021-01-19 20:54] KalobTaulien commented on #6030
Opened an issue with wagtail-localize here https://github.com/wagtail/wagtail-localize/issues/306

[2021-01-19 20:58] KalobTaulien commented on #5953
For the Mozfest Homepage it was caused by the `header` field not being added to the `content_panels` but having the field still exist. We can add `header` and any other missing fields to the content panels to solve this issue.

For this issue, we're looking at ForeignKey and it cannot be exposed to the CMS admin. The solution is to add `FieldPanel('votes')` to the `content_panels` but then we're t

[2021-01-19 21:01] kristinashu commented on #4115
It would still be great to have this! cc @benhohner in case he has any new ideas for tackling this.

[2021-01-19 21:04] kristinashu commented on #4880
Yes please!

[2021-01-19 21:15] kristinashu commented on #6015
Yay! cc @natalieworth since you mentioned Audrey was wanting this.

[2021-01-19 23:41] natalieworth commented on #6015
Yas! Amazing ty ty @benhohner and @kristinashu :D

[2021-01-20 00:38] mmmavis commented on #6015
Done. Added `https://player.vimeo.com` to `CSP_FRAME_SRC` whitelist.

[2021-01-20 00:38] #6015 closed

[2021-01-20 01:12] mmmavis commented on #5336
Hi @Bhavik-Ardeshna thanks for offering help. Our team doesn't have the bandwidth to provide full support to contributors at the moment. However, if you are already familiar with the codebase and our tech stack, please start tackling this ticket. This will be a good starting point: https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpa

[2021-01-20 01:22] mmmavis commented on #4924
Closing. Looks like this isn't something we can find a good and easy to maintain solution for. Thanks for investigating it, @KalobTaulien .

[2021-01-20 01:22] #4924 closed

[2021-01-20 01:30] mmmavis commented on #4979
I will investigate and update this ticket accordingly.

[2021-01-20 12:28] TheoChevalier opened #6059 "wagtail-localize: make all snippets translatable"
Unlike models, snippets are not translatable by default. We need to make small adjustments to each of them:

- [ ] Add the `TranslatableMixin` mixin
- [ ] List all fields that need localization to the `translatable_fields` variable
- [ ] Optionally, add fields to `override_translatable_fields` (e.g. ShareProgress fields need to be added to both variables, so that they can be overriden in the admin

[2021-01-20 17:57] benhohner opened #6060 "wagtail-localize: Write cypress tests for redirects"
make sure that all redirects that are currently in place keep working:
- [ ] redirects based on `urls.py`
- [ ] redirects stored in the CMS `redirects` section

[2021-01-20 17:58] benhohner opened #6061 "wagtail-localize: Investigate whether syncing is on by default"

[2021-01-20 17:58] benhohner opened #6062 "wagtail-localize: Audit code for _en"

[2021-01-20 17:59] benhohner opened #6063 "wagtail-localize: Fix code that relies on _en"
In order to move away from wagtail-modeltranslation, we'll need to turn all code that relies on `..._en` fields into code that relies on the not-localized field name isntead.

[2021-01-20 17:59] benhohner opened #6064 "wagtail-localize: Test localized category reassignment (product/blog)"
If we localize PNI categories, as well as blog categories, what happens to all the "other" locales? E.g. update a product category in the English locale, does that product still live in the "old" category for the French page instance?

(and the same for blog posts, but that's less pressing as we rarely, if ever, change categories for those)

[2021-01-20 18:00] benhohner opened #6065 "wagtail-localize: Verify PNI search works"
Of course, this is actually PNI result filtering, so should be entirely unaffected, but we should double check to make sure that localization does not somehow "break" search filtering.

important to check:
- [ ] ensure that `/en/` pages only list `en` product cards, `/fr/` only shows `fr` cards, etc.

[2021-01-20 18:06] benhohner opened #6066 "wagtail-localize: Update automated unit tests"

[2021-01-20 18:14] benhohner opened #6067 "wagtail-localize: Staff training and change management"
Document how things will work now, as well as how this differs from before, and schedule time to either send out an email to all staff, or schedule a brown bag that can be attended and recorded for those who cannot attend.

[2021-01-20 18:25] taisdesouzalessa commented on #5931
@Pomax is it possible to do the request I wrote in the ticket? I have some incoming projects from Data Futures and will need to sort out the URL structure in order to decide where they fit. Please let me know if the ticket is clear enough :). Thanks!

[2021-01-20 18:59] sabrinang opened #6068 "Wagtail: Blurry PNG Image"
I followed steps in https://foundation.mozilla.org/en/docs/how-do-i-wagtail/photo-and-image-guidelines/ to update the JPG ToC image on whitepaper that was blurry but it is still blurry with the new PNG, see: https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/introduction-theory-change/

![MoFo AI Theory of Change (ToC) – Design Slide](https://user-images.githubuserco

[2021-01-20 19:36] taisdesouzalessa commented on #6019
@Pomax I added some graphic elements on top of the images to really emphasize the advantaged of one format over other in each case. Let me know what you think?

First set of images:
<img width="891" alt="image" src="https://user-images.githubusercontent.com/22157921/105225489-817ea900-5b13-11eb-830b-9ffdfd51594e.png">

Second set of images:
<img width="905" alt="image" src="https://user-images.git

[2021-01-20 21:51] KalobTaulien commented on #6062
### Findings:

There's a lot of migration data. Not sure if we want to update the migration files for consistency or let model-translation create a new migration to handle that. Probably the last option as that's likely easiest and leaves the migration history in tact.

There's mention of `slug_en` in [buyersguide/tests.py:165-167](https://github.com/mozilla/foundation.mozilla.org/blob/master/netw

[2021-01-20 21:53] Pomax commented on #5991
@tomusher do you know how we can tie a heroku pipeline to a branch that isn't `master`? I believe cade documented this _somewhere_ but I don't remember where... =S

[2021-01-20 22:18] Pomax commented on #5991
@TheoChevalier do we need a distinct redis instance?

[2021-01-20 22:25] taisdesouzalessa opened #6073 "[Insights team: Data Futures Lab] Data Stewardship Ecosystem and Demand study"
### Background:
This is the part II of the [research we already published on our site](https://foundation.mozilla.org/en/initiatives/data-futures/).
The title of the research is "Data Stewardship Ecosystem and Demand study".

### Proposed launch date: mid February

### To do:
SITE
- [x] Read the research and analyze if it would fit better as new tab items [here](https://foundation.mozilla.org/en/i

[2021-01-20 22:25] Pomax commented on #5991
I'm seeing the builld for the staging app breaking, but I'm not sure why:
[code]

@tomusher any idea why this might be (also if it's easier to throw this pipeline away and build a different one, that's fine!)

[2021-01-20 22:41] taisdesouzalessa opened #6074 "[Insights team] Movement partnership landscape analysis"
### Background:
This is for internal use only for now but I thought it would be great to put it on the website as password protected for easier use, especially because we will be visualizing the [mapping of AI and social movements](https://docs.google.com/spreadsheets/d/1lbYLUR40huRk_hs0NUK5Y3X5feizTj-Ew9I_UDSohU4/edit?usp=sharing) intersections and we'll need to embed it somewhere.

UPDATE: Jan 2

[2021-01-20 22:46] Pomax opened #6075 "wagtail-localize: Update wagtail to 2.11.3 (via all intermediaries)"
This work can be done on the master branch rather than only for the wagtail-localize branch

- [ ] update wagtail from 2.10.2 to 2.11
- [ ] further update wagtail to 2.11.1
- [ ] further update wagtail to 2.11.2
- [ ] further update wagtail to 2.11.3

[2021-01-20 22:52] taisdesouzalessa opened #6076 "[Data Futures Lab] Microsite"
______
🚫  **BLOCKED BY CONTENT: Mehan and team to populate with content the structure we created**
_____
### Background:
The Data Futures Lab will need a microsite (initiative led by Mehan and Lindsey). This site will host the research the Insights team is doing and additional items.

### Wireframe:
Here is the wireframe the team put together: https://balsamiq.cloud/sj2hm38/paaw8qh/r2278

### To d

[2021-01-20 22:55] taisdesouzalessa commented on #6047
@jamilasnell I created separate tickets for each task: #6076,  #6073, #6074 - I will need your help to figure out prioritizing what needs to be done in this sprint vs what it can be done in the next and also double check with the teams if my to do list is correct (so we can have a better idea of scope of each project)

[2021-01-20 22:55] #6047 closed

[2021-01-20 23:36] Pomax commented on #6075
covered by https://github.com/mozilla/foundation.mozilla.org/issues/5990

[2021-01-20 23:36] #6075 closed

[2021-01-21 01:08] Pomax commented on #5990
bumping to 4 because errors are ruining this upgrade path...

[2021-01-21 14:42] TheoChevalier commented on #5991
I’m a bit confused, do we already have a redis instance running? If so, then we should be able to use the same

[2021-01-21 15:52] Pomax commented on #5991
Foundation staging has a redis service attached, so I'm wondering if we need to create a copy of that, or whether we can make use of that (I've not dealt with redis before so I don't know if it can be shared between staging and the new pipeline or not)

[2021-01-21 16:20] TheoChevalier commented on #5991
ah, got it. I have no idea then… I had no idea what Redis was before working on this :)

[2021-01-21 17:04] kristinashu commented on #6049
I've re-uploaded the image and it seems fine now. Let me know if you have any more issues with it.

[2021-01-21 17:04] #6049 closed

[2021-01-21 17:08] mmmavis commented on #5946
Reminder: let Kalob know before merging the PR as it will affect the Airtable work.

[2021-01-21 18:05] sabrinang commented on #5766
I've onboarded Eeva, Laura and Tais to the publications templates and walked them through referencing https://foundation.mozilla.org/en/docs/how-do-i-wagtail/publications/ in our call today.

@jamilasnell Is there anything else for this ticket or are we good to close?

[2021-01-21 18:43] #5739 closed

[2021-01-21 19:27] #5990 closed

[2021-01-21 19:41] #6008 closed

[2021-01-21 19:51] mmmavis commented on #6043
@Pomax @KalobTaulien I've landed the PR which made that banner image smaller in file size. Gonna keep this ticket open and close it towards the end of the sprint if none of us experience the Percy issue again.

[2021-01-21 22:50] Pomax opened #6084 "PNI images during the load_fake_data postgeneration hook trip up wagtail"
### Describe the bug

Running `inv new-env`, followed up then running `docker-compose up` and loading PNI yields a ton of wagtail duplicate key errors for wagtailimages,

However, this only happens once, after which no errors occur.

@KalobTaulien's been able to track this down to how we're generating product images during the load_fake_data postgeneration step, so we should be able to fairly targ

[2021-01-22 00:19] taisdesouzalessa commented on #6051
Nancy and I did a board with all the user testing noted in Figma: https://www.figma.com/file/IV1NZFuosASSFJPkcr3WiR/User-Testing-Analysis?node-id=0%3A1

Tomorrow we will meet to find patterns and make sense of the data.

[2021-01-22 00:47] Pomax commented on #6062
I think we want to leave existing migrations as is and instead add removal migrations on top. I started a dedicated "unhook wagtail-modeltranslation" PR over on #6085 (based mostly on Theo's 2.11 Wagtail branch, too) which we can use to address the `[...]_end` removal in code, too, including fixes to tests because this should be a PR in and of itself that can successfully pass CI =)

[2021-01-22 14:40] TheoChevalier commented on #5998
Repos are live:

https://github.com/mozilla-l10n/fomo-content
https://github.com/mozilla-l10n/fomo-content-staging

- [x] Linear commit history enabled as branch protection
- [x] mofodevops has been invited to become admin

[2021-01-22 14:40] #5998 closed

[2021-01-22 16:46] taisdesouzalessa commented on #5932
**Update:** pinged Steph McV on Slack about it.

[2021-01-22 23:29] mmmavis commented on #6068
Done some digging.

The file itself is still in [its original quality and dimension](https://foundation.mozilla.org/cms/images/3946/). It's when it's used in the rich text editor, then it gets rendered in a reduced format --
  - when `full width` is selected, image will be sized to 800px wide
  - when `left-aligned` or `right-aligned` is selected, image will be sized to 500px wide

I've found [the

[2021-01-23 00:29] taisdesouzalessa commented on #6051
Nancy and I started finding patterns today. Will have another session on Monday.

[2021-01-23 00:31] taisdesouzalessa commented on #6076
[URL and structure thinking here](https://www.figma.com/file/AABYnCVDRDfyMSyyTYiGAH/URL-plan-Mozilla-Research?node-id=0%3A1):
<img width="390" alt="image" src="https://user-images.githubusercontent.com/22157921/105562469-15e13b00-5ccf-11eb-8375-ce550f4ba6b1.png">

Next step: connect with @kristinashu to see what she thinks.

[2021-01-23 01:09] taisdesouzalessa commented on #5934
Started compiling results [here](https://docs.google.com/spreadsheets/d/1YT8i_831rga8P9KEPZ9pMAIaLg-Cu4PYMYO5O3SaIrI/edit?usp=sharing).

[2021-01-25 16:25] taisdesouzalessa commented on #5932
This is now updated! Wohoo! Here is a screenshot!
<img width="844" alt="image" src="https://user-images.githubusercontent.com/22157921/105733004-e6f0e200-5ee5-11eb-8aa9-ae3c5b51fc86.png">

@kristinashu I added a note on [this doc](https://docs.google.com/document/d/1cjvoU2fVqLnY7lGHNsBtrIBRTuiRZp8S3sXT6W2BPZg/edit?usp=sharing) tagging Kasia and Eeva to notify them this is now updated.

[2021-01-25 16:25] #5932 closed

[2021-01-25 17:42] kristinashu commented on #5932
Amazing! Thank you Taís!

[2021-01-25 17:55] Pomax opened #6095 "[PNI] remove buyers guide nav menu to prevent staff confusion"
While https://github.com/mozilla/foundation.mozilla.org/issues/6027 would be useful (updating the menu system), it makes more sense to, for now at least, remove the buyers guide nav menu, and teach staff that products are now children of the Privacy Not Included page instead, with the categories and updates found in the "snippets" menu.

(This will also mean one thing less to port from the buyersg

[2021-01-25 17:55] jamilasnell commented on #5766
I think we are good to close!

[2021-01-25 18:00] Pomax commented on #6027
superceded by 6095

[2021-01-25 18:00] #6027 closed

[2021-01-25 18:10] #6095 closed

[2021-01-25 18:49] taisdesouzalessa commented on #6076
Connected with Kristina, will update the ticket with our plan (the first checkbox has some sub-items). will connect with Sabrina to figure out if we should move the "Data Futures Lab" Insights work into Publications.

[2021-01-25 18:51] #4979 closed

[2021-01-25 19:01] taisdesouzalessa commented on #6074
@kristinashu I updated the ticket, please let me know if it is more accurate with the current plan. Feel free to change it if needed. Thanks!

[2021-01-25 19:20] Pomax commented on #6019
love it - I've notified staff in the wagtail channel of the docs update.

[2021-01-25 19:20] #6019 closed

[2021-01-25 20:44] KalobTaulien commented on #6066
Closing because tests passed from #6100

[2021-01-25 20:44] #6066 closed

[2021-01-25 22:23] Pomax commented on #5931
As an engineering description, the request is to have banner pages that act as their own "mini site" (e.g. with a nav that has an overview + links for child pages) as children of the `insights` page, which is itself already a banner page with an overview page + child page nav.

In order to make this work, banner pages would need to become aware of whether or not they are a "root" page, with change

[2021-01-25 22:50] kristinashu commented on #5931
Thank you Pomax! @taisdesouzalessa - you and I can chat about this tomorrow and open an implementation ticket if we want to move forward with this but based on our chat today I think we can _design around this_.

[2021-01-25 22:58] taisdesouzalessa commented on #5931
Alternatives if there is no Engineering resources to allocate to this project:
1. Rebuild: https://foundation.mozilla.org/en/privacy-included/ as a Default Page (inside /insights like the [RCSC example](https://foundation.mozilla.org/en/what-we-fund/awards/responsible-computer-science-challenge/)) or leave it as is (traffic to this page is very low) - 189 unique pageviews in the last 6 months.
2.

[2021-01-25 23:13] Pomax opened #6102 "Change how we use @post_generation code"
### File(s) or components

All factory code that relies on the `@post_generation` factory boy decorator.

![image](https://user-images.githubusercontent.com/177243/105778436-45878180-5f21-11eb-8515-ea5e75fab3f3.png)

### Reason for cleanup

Reading through the post generation docs, all post generation decorated defs run once _all other factory code_ has finished running, and then runs "one post_ge

[2021-01-25 23:17] Pomax commented on #6102
/cc @mmmavis @KalobTaulien

[2021-01-25 23:25] taisdesouzalessa opened #6103 "Petition modal not working ("X" or "I'll share instead" links)"
### Describe the bug
Petition modal not working ("X" or "I'll share instead" links)

### To Reproduce

1. Go to: https://foundation.mozilla.org/en/campaigns/hulu-its-time-ad-disclosure/
2. Add your info to "Sign the Petition"
3. Hit the purple button to add your name
4. Try to click on "X" or "I'll share instead" > BUG: I can't make any of these happen.

### Expected behavior
"X" or "I'll share in

[2021-01-26 00:19] benhohner commented on #4115
@kristinashu, not too much I can add to this convo.

There's no way to set the height or scroll bar of an iframe on an external domain unless you also own the external domain. The best option I can think of is to add a width and height field to the iframe embed component in Wagtail and let people manually finagle it until the embed fits. Creating a large button and linking off to the external site

[2021-01-26 00:44] #5847 closed

[2021-01-26 17:49] Pomax opened #6104 "Figure out why wagtail "upload image" does not show the image after uploading"
Using the CMS gallery "upload image" lets you pick an image and hit upload, but does not show the image thumbnail when the upload is done, instead showing the filename:

![screenshot 540](https://user-images.githubusercontent.com/177243/105883503-c8f5b100-5fbb-11eb-86ff-07b210949ef1.png)

~We should figure out why that is.~ Looks like this is a CORS issue
![image](https://user-images.githubusercon

[2021-01-26 18:06] #6062 closed

[2021-01-26 18:07] #5766 closed

[2021-01-26 18:08] taisdesouzalessa commented on #5595
From Kathy:
"There are four sections so far that are fully done in case this is helpful to do a design review. If you prefer to wait for all the sections to be done, that works too. It would be helpful to me to have you take a look though and let me know if there are some design details you should change. A few top of mind:

- I took out the "Next Play" section since we now have navigation on the

[2021-01-26 18:08] #6063 closed

[2021-01-26 18:10] jamilasnell commented on #5800
We are waiting for content from the Insights team to be entered into the template

[2021-01-26 19:08] KalobTaulien commented on #6061
If by auto-sync we mean when we change, lets say, a title from an English page — it will not auto update the other languages.

[2021-01-26 19:21] Pomax opened #6105 "Update factory boy and Faker"
factory boy/faker need to be bumped by (several) major versions, which also requires changing some of our code that relies both on apparently ancient APIs, but also on what appears to be entirely undocumented behaviour around data providers for Faker.

[2021-01-26 19:40] Pomax opened #6106 "Set "Update" snippet verbose name to "Buyers Guide Product Update""
this will make sure that things stay grouped on the CMS "snippets" page. This needs to be done before data entry starts.

[2021-01-26 19:48] KalobTaulien commented on #6030
Found the solution to this with @kaedroho's help.

[code]

[2021-01-26 20:23] KalobTaulien commented on #5953
We can use the same solution as in #6030 and simply ignore the fields we don't want to add.

[code]

I also tried adding `editable=False` to the ForeignKey field and that didnt quite do the trick. Karl might look into adding a property where we can ignore certain fields instead of having a super long list of TranslatableFields and SynchronizedFields. But for now, this is the solution.

[2021-01-26 21:10] mmmavis commented on #6068
@sabrinang

We can add a new image format in addition to the existing three: full width, left-aligned, and right-aligned. I'm deciding what to call it and how we want to process the image so it shows up the way CMS editors expect. The current `full width` option resizes the image file to 800px wide but when it gets rendered on the screen, there's CSS that makes it stretch to span the full width of

[2021-01-26 22:38] taisdesouzalessa opened #6108 "[Insights Team] Rebuild Privacy Included as a Default Page"
**Background:**
In order to organize our site's IA we need to move the Privacy Included page from "foundation.mozilla.org/privacy-included/" to "foundation.mozilla.org/insights/privacy-included/". The issue is that the current page is a Banner page and can't fit under "/insights". So we will do some changes to tackle this issue. Discussion started here: #5931

**To do:**
- [x] Notify the Insights

[2021-01-26 22:40] taisdesouzalessa commented on #5931
Talked to designers and we decided to:
1. Rebuild: https://foundation.mozilla.org/en/privacy-included/ as a Default Page Ticket here: #6108
2. Data Futures won't live under "Insights" anymore (it has its own hub) so we won't have this issue.

That eliminates the need for Engineer work at this time. < @Pomax fyi and thanks for brainstorming solutions with me!

[2021-01-26 22:40] #5931 closed

[2021-01-26 23:54] KalobTaulien opened #6109 "Write Airtable unit tests"
We need a handful of unit tests to make sure the field names in Wagtail don't change, and that the values (column names) we're pushing to Airtable haven't changed.

Unit tests should cover the `get_export_fields()` method and `map_import_fields()` method on the relevant product pages.

This should come after the Import work ticket.

[2021-01-26 23:54] KalobTaulien opened #6110 "Airtable importing"
There's two parts to this work:

- [ ] Split the PNI product table into two Airtable sheets.
- [ ] Enable importing from both of them.

We want to be able to see all the General Products in one sheet and the Software Products in another sheet. This allows us to see the products without a bunch of empty columns.

When importing from Airtable we need to double check all the fields are being handled

[2021-01-26 23:56] sabrinang commented on #6068
Thanks for figuring out what has been happening to the images here Mavis. I like the idea of having the high quality proposal as a solution but I'm also not too sure how to address your concerns.

- could we have the full width image as is by default (resizes) and have like a "HQ" checkbox option with some help text of size ranges? or is there a way to resize in a way that still looks HQ and doesn

[2021-01-27 00:10] taisdesouzalessa commented on #6076
Data Futures Hub here: https://foundation.mozilla.org/en/data-futures-lab/
Asked for design review before sending Mehan's way.

[2021-01-27 00:41] sabrinang commented on #6074
From looking through the draft, some publication feedback things to consider are:
- “Quote” block component exists for regular cms pages but we don't have those on publications _(it looks like they want to highlight a few quotes throughout the doc but they may be able to just use what we have in content block?)_
- Call out boxes with styled text: currently we just have grey background behind unsty

[2021-01-27 01:00] mmmavis commented on #6068
From the documentation, it looks like we cannot have this level of customization. One image format can only have one preset setting and we aren't able to check the image meta before processing it so we can't really do something like "if image is super large, then resize it down. Otherwise, don't process it." kinda thing.

@KalobTaulien do you know if what @sabrinang suggested is possible?

[2021-01-27 01:33] mmmavis commented on #5336
@Bhavik-Ardeshna as our current sprint is gonna end soon, our team will start working on this ticket. Thanks again for showing interest!

[2021-01-27 01:39] #6106 closed

[2021-01-27 17:34] #5946 closed

[2021-01-27 17:39] Pomax opened #6113 "wagtail-localize: write tests to verify we don't lose page translations"
Master list of pages to be ported: https://docs.google.com/spreadsheets/d/1my-hvrqh3jT5JVacWKf-ZoEGMeu50hPrT_33Qk6JhNM/edit#gid=496338806

This will likely be a "standalone" test set to run against a copy of the real database (e.g. a staging copy) because we can't verify this on `load_fake_data`

[2021-01-27 18:13] TheoChevalier commented on #5992
Looks like I was wrong, they do get deleted by dropping the package, this happened in https://github.com/mozilla/foundation.mozilla.org/pull/6085

[2021-01-27 18:13] #5992 closed

[2021-01-27 19:15] Pomax opened #6114 "wagtail-localize: ensure redirects work correctly with wagtail-localize"
There are some redirect oddities that we need to address: if I have a rule `/blogz` that goes to the `/blog` page instead, and it works for both unlocalized and localized URLs, the latter is a bit funny:

- ✔️ `/blogz` goes to `/en/blog` as expected,
- ✔️ `/en/blogz` also goes to `/en/blog` as expected
- ❌ a non-default locale code like `/fr/blogz` seems to remove the locale, apply the redirect, b

[2021-01-27 19:16] Pomax commented on #6114
/cc @TheoChevalier @KalobTaulien

[2021-01-27 20:14] taisdesouzalessa commented on #6076
Design review done, site sent to Mehan.
Highlighted those next steps to him via Slack:
• their team to populate this page
• then we can do a design/usability review once content is ready - please give Design some days to do this work before launch - ping me when it is done or if you need any design support through the process (like illustrations/pictures)
• Also asked him to fill out the Design Br

[2021-01-27 20:18] taisdesouzalessa commented on #6073
@sabrinang since the thinking on adding content to Publications (if splitting them or all in one publication), I moved this ticket to this sprint - marking as in progress, cool?

cc: @kristinashu @jamilasnell

[2021-01-27 20:32] KalobTaulien commented on #6110
Currently blocked until a new version of wagtail-airtable is released. There's an open PR for it here: https://github.com/wagtail/wagtail-airtable/pull/20

[2021-01-27 22:45] KalobTaulien commented on #6109
Unit tests are done and can be found here: #6117. It's a WIP PR at the moment but the work for this ticket is complete. We'll likely need to move this ticket to review/qa/closed at the same time as #6110 since they're closely related.

[2021-01-27 22:52] kristinashu commented on #6074
To close this ticket
- [ ] @sabrinang to open ticket for next sprint to do a design review of the publication once Insights has added in all the content
- [ ] @sabrinang to add above possible feature request to the new epic ticket/doc
- [ ] @taisdesouzalessa to remind Insights of our doc template

[2021-01-27 22:56] sabrinang opened #6118 "[Publications] Design Review of Movement partnership landscape analysis"
related to issue #6074

Complete a design review once Insights team turn the Movement partnership landscape analysis doc research into a Publication.

### Deadline:
From Kasia:
~~• We need this help for when we’ll be moving the content online, **Feb 18 - Feb 26**.~~
• aiming to freeze text on by March 24 and publication planned for March 30.

[2021-01-27 23:03] sabrinang commented on #6074
issue filed here: https://github.com/mozilla/foundation.mozilla.org/issues/6118 Design Review of Movement partnership landscape analysis

[2021-01-27 23:24] sabrinang opened #6119 "[Publications] Feature Requests"
Creating this ticket to track incoming feature requests related to the publications template.

- [x] Create a running google doc list (example: add features we want as we go through insights/TAI pub content)

[2021-01-27 23:25] sabrinang commented on #6074
issue for tracking publication feature requests here: https://github.com/mozilla/foundation.mozilla.org/issues/6119 [Publications] Feature Requests

[2021-01-27 23:30] kristinashu commented on #6076
New tickets
- Tais: IA map to include [/learning tab](https://foundation.mozilla.org/en/data-futures-lab/learning/) with arrows linking the publication(s)
- Sabs: turning [existing data futures site](https://foundation.mozilla.org/en/initiatives/data-futures/) into a publication(s)

[2021-01-27 23:30] sabrinang commented on #6076
/cc myself @sabrinang

[2021-01-27 23:34] kristinashu commented on #6074
@taisdesouzalessa up to you if you think they need reminding or not. But I think this is good to close!

[2021-01-27 23:39] sabrinang opened #6120 "[Publications] Transfer "Shifting power through data governance" Report to a Publication Template"
https://foundation.mozilla.org/en/initiatives/data-futures/data-for-empowerment/
This report was published in wagtail before we had publications template to help users read long form content. Go through the content and see how we can structure it in publications as we are moving away from this microsite tab structure.

- [x] Get google doc / non-pdf texts from Eeva
- [x] Get familiar with content

[2021-01-27 23:40] sabrinang commented on #6076
Issue for turning existing data future site report into publication here: https://github.com/mozilla/foundation.mozilla.org/issues/6120

[2021-01-28 00:02] taisdesouzalessa commented on #6074
Kasia and Eeva were notified via Slack about the Doc Template.

[2021-01-28 00:02] #6074 closed

[2021-01-28 00:10] taisdesouzalessa opened #6122 "[Data Futures Lab] Microsite Design Review"
**Deadline:** early March. Asked Mehan to ping us once copy is stable enough to do a design review.
**UPDATE: got a ping on March 1st saying placeholder copy is there.**

**Background:**
https://foundation.mozilla.org/en/data-futures-lab/ is structured in the CMS (logged in users only). Now Mehan and team will populate it with content. Previous ticket here: #6076

**To do:**
- [x] Do a design revi

[2021-01-28 00:19] taisdesouzalessa opened #6123 "[Insights Team Research + Data Futures Lab] Work intersections"
**Background:**
Data Futures Lab Hub is a big project that included some of the work the Insights Team have been doing:
• Research to shift power through data governance. [Link here](https://foundation.mofostaging.net/en/initiatives/data-futures/).
• Data Stewardship Ecosystem and Demand study. Link to the ticket here: #6073

This ticket is to track the work to connect those projects in our site.

[2021-01-28 00:20] taisdesouzalessa commented on #6076
Design review - ticket here: #6122
/learning tab work: Data Futures Hub and Insights Team work connections - ticket here:  #6123

[2021-01-28 00:20] #6076 closed

[2021-01-28 00:30] sabrinang commented on #6119
Started a google doc here: https://docs.google.com/document/d/1fbqNREI4dhKMoSWHTej-w8cOnwokg4NcZLxovH8ipkY/edit?usp=sharing

[2021-01-28 15:49] #5945 closed

[2021-01-28 17:09] #6103 closed

[2021-01-28 17:26] KalobTaulien commented on #6068
@mmmavis That's correct we can't do a lot of customization unless we pull in some Wagtail core stuff and overwrite it — which is something we've talked about avoiding.

The best option here I think is to make a high quality setting and the image dimensions will be larger than the original full width" image.

[2021-01-28 18:20] mmmavis commented on #5780
@KalobTaulien are we good to close this ticket?

[2021-01-28 18:23] #5336 closed

[2021-01-28 18:27] KalobTaulien commented on #6109
#6117 is complete and ready for review. Going to close this in favour of 6110.

[2021-01-28 18:27] #6109 closed

[2021-01-28 18:28] KalobTaulien commented on #6110
I closed #6109 in favour of this ticket so we only have one to manage in the review queue.

#6117 is finished and ready for review.

[2021-01-28 18:30] mmmavis commented on #6068
Alright, I think I'm gonna go with that. Can't think of a better solution 😬 .

[2021-01-28 18:55] taisdesouzalessa opened #6124 "[Internet Health Report 2020] page updates"
**Background**:
Now that we have the IHR 2020 we should update all the places where it references the 2019 report.

**To do:**
- [x] Update "what we do" page
- [x] Update "what you can do page"
- [x] Look for any other opportunities of update IHR mentions

cc: @kristinashu @jamilasnell adding this to my plate this sprint since it is important.

[2021-01-29 02:38] sabrinang commented on #6120
I got the google docs from Eeva:
https://docs.google.com/document/d/1PBKJT_iNQbK0h7CeGpLyh6F2H30EYbjLIrX86YErI8Y/edit#heading=h.a76fn87xf4k1
https://docs.google.com/document/d/1WHsYvsppqrOSFYUMWXP4LecgMad0xwCo89UXPwMSLwI/edit#
https://docs.google.com/document/d/1HjIllSjCAHHIedWRG_ylDifQotFdCqqWH38zy3FIS78/edit#

I transferred these to wagtail using the publication templates here:
https://foundatio

[2021-01-29 02:45] sabrinang commented on #6073
I've transferred the draft copy doc and used placeholder images on this page using publications template:
https://foundation.mozilla.org/en/data-futures-lab/data-stewardship-ecosystem-and-demand-study/

[2021-01-29 20:22] taisdesouzalessa opened #6128 "[Insights Team Research + Data Futures Lab] Work intersections: feedback from teams"
**Background:**
Work started here: #6123 and the goal of this project is to successfully to connect Insights Team Research + Data Futures Lab in our site in a user-friendly way.

**To do:**
- [x] Collect feedback from Mehan and Kasia and align if needed ([feedback sheet here](https://docs.google.com/document/d/1bzD4TlLp1EhdjjiBkCc4W7cKmQpI72-x3tP9hhH7wLc/edit?usp=sharing))
- [x] Act on feedback
-

[2021-01-29 20:22] taisdesouzalessa commented on #6123
This is ready and a [video presentation](https://docs.google.com/document/d/1bzD4TlLp1EhdjjiBkCc4W7cKmQpI72-x3tP9hhH7wLc/edit?usp=sharing) was sent via Slack to Mehan and Kasia so we can align async (Mehan and Kasia's schedule don't overlap). Ticket to track team's feedback is here: #6128

[2021-01-29 20:22] #6123 closed

[2021-01-29 22:34] taisdesouzalessa commented on #5595
1. **Taís:** Agree, I removed the item from all the posts, including the "Draft" ones.

2. **How about this?**
<img width="636" alt="image" src="https://user-images.githubusercontent.com/22157921/106333885-70821600-623e-11eb-8ecb-9b8d416b5cbf.png">

3. **Taís:** Let's leave as is for now and if things get too complicated we may think about a solution

**Question for Kathy:** What are the plans of

[2021-01-29 22:42] taisdesouzalessa opened #6129 "RCS Challenge + Playbook: pre-launch list"
**Background:**
Work from this ticket:  #5595 - on that ticket we ended up doing a little QA with the existing content that was uploaded to the site.

**[Playbook:](https://foundation.mozilla.org/en/what-we-fund/awards/responsible-computer-science-challenge-rcs-playbook/)**
- [x] make sure content is finalized
- [x] do a last design review (usability issues/formatting issues), all illustrations ar

[2021-01-29 22:45] taisdesouzalessa commented on #5595
Created a new ticket for this issue here: #6129
During this sprint we did this work (partially) - around 2 hours of it. Figuring out how to solve some little issues that popped up from the parts that are ready to go. Closing this one. cc: @kristinashu @jamilasnell

[2021-01-29 22:45] #5595 closed

[2021-01-29 23:04] taisdesouzalessa opened #6130 "[Google Analytics] MisInfo GA for retro"
**Background:**
Now that we finished our MisInfo series it is time to see the results!
Problem we're trying to solve:  by seeing the results we hope to find out what we should do more of/less of next time we do a series like that.

**To do:**
- [x] Look into GA for metrics that help us to answer the following question from Xavier:
• which stories were the most popular
• what sources most folks fou

[2021-01-29 23:10] taisdesouzalessa opened #6131 "[Google Analytics] V-day dashboard"
**Background:**
PNI V-Day is coming up! Let's do a GA dashboard session with Lindsay and Audrey so we can create a dashboard together with the metrics they think are the most relevant.

**To do:**
- [x] Consult them to ask if they would like to do a dashboard-building session together
- [x] Create a doc to ask for their input on the most relevant metrics for V-day in terms of Analytics
- [x] Do so

[2021-01-30 00:17] taisdesouzalessa opened #6132 "[Insights team: Data Futures Lab] Data Stewardship Ecosystem and Demand study - PDF and not Publication-related support"
### Background:
This is the part II of the [research we already published on our site](https://foundation.mozilla.org/en/initiatives/data-futures/).
The title of the research is "Data Stewardship Ecosystem and Demand study". Sabrina is working with the Insights Team (work being tracked on [this ticket](https://github.com/MozillaFoundation/Design/issues/751)) to support them with Publications guida

[2021-01-30 00:19] taisdesouzalessa commented on #6073
Sabrina and I split the follow-up tickets for this issue:
 #6132 for non-Publication related support
[ 751 on Design Repo](https://github.com/MozillaFoundation/Design/issues/751) for Publication-related suppport

[2021-01-30 00:19] #6073 closed

[2021-01-30 00:37] sabrinang commented on #6120
The link https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/ was share to Eeva and Kasia vis slack.

I also noted that I will provide publication support https://github.com/MozillaFoundation/Design/issues/751 (template usage and features, design review) and clarified I will not be touching content as it is now for them to edit as they see fit.

[2021-01-30 00:37] #6120 closed

[2021-02-01 17:53] kristinashu commented on #5820
I'm going to close this. There are talks between Kasia and Becca R (and many others) about this. We will continue to put all research and analysis under insights. We might need to rename this to research at some point but I feel like this will be an ongoing thing...

[2021-02-01 17:53] #5820 closed

[2021-02-01 18:26] Pomax commented on #5991
it looks like we're blocked on figuring out how to only build for PRs to the `wagtail-localize` branch - there might be a github action that we can use here, but we might have to self-host it, or get it cleared by MoCo for use on the mozilla org repos.

[2021-02-01 18:49] #6110 closed

[2021-02-01 19:15] taisdesouzalessa commented on #6118
@sabrinang added deadlien to this ticket

[2021-02-01 19:52] Pomax opened #6140 "Add Commento to the PNI product pages"
This should be a matter of adding the following code to the product_page.html template:
[code]

[2021-02-01 21:18] mmmavis opened #6141 "Adjust Publication's ToC thumbnail background's position and sizing"
Based on user feedback, we are going to adjust the background styling rules to `background-size: cover;` and `background-position: centter`

Related issue: #5847

[2021-02-01 21:18] mmmavis commented on #6141
/cc @sabrinang

[2021-02-01 21:56] Pomax commented on #6140
There may be some followup left based on notes in https://github.com/MozillaFoundation/mofo-devops/issues/805

[2021-02-02 00:14] mmmavis commented on #6043
I haven't encountered the same issue since so I'm gonna close this ticket.

[2021-02-02 00:14] #6043 closed

[2021-02-02 01:10] taisdesouzalessa commented on #6051
this is 80% done. Will finish it at the beginning of next sprint.

[2021-02-02 01:30] Pomax opened #6145 "Investigate Percy failure"
From https://github.com/mozilla/foundation.mozilla.org/pull/6144,

The [CI log](https://github.com/mozilla/foundation.mozilla.org/pull/6144/checks?check_run_id=1810888256) shows the following curious "error":
[code]

I suspect the percy / percy-cypress library got updated and we'll have to update it to make percy accept our CI screenshots again.

[2021-02-02 15:59] mmmavis commented on #4880
I filed a PR to change donation modal's default "dismiss link" text to `No thanks`. If there's a specific existing modal we want to update link text, we can always do it in the CMS.

[2021-02-02 16:58] benhohner opened #6147 "Embed Research Spike"
We have multiple requests for interactive graphics embeds on the foundation site.

We'll need to research:
- Raw HTML embed component with restricted permissions (for normal and publications templates)
- Static file hosting on same domain for JS/CSS/HTML files
- Wider width section for graphics in publication and normal template

**Outcome**
Tickets created for implementing the:
- Raw HTML embed c

[2021-02-02 16:59] benhohner opened #6148 "Interactive Graphics Embeds"

[2021-02-02 17:15] benhohner opened #6149 "Set up subdomains for MozFest book and event booking platform"
2 subdomains needed with A or CNAME records.
Will get further details about IPs

- [x] schedule.mozillafestival.org
- [x] book.mozillafestival.org
- [ ] Add book to nav
- [ ] Create task to remove sites 90 days after MozFest is over

DNS for mozfest in AWS Route 53

** Due **
Online preview for design, Feb 10
Deploy to MOzilla 20-22 Feb

[2021-02-02 17:38] jamilasnell commented on #5907
We are moving to CloudFlare so this is not necessary anymore!

[2021-02-02 17:38] #5907 closed

[2021-02-02 17:41] benhohner opened #6150 "Triage Dependency Upgrades"
- [x] Create project with dependabot PRs
- [x] Triage current dependabot major/breaking version upgrade PRs
- [x] Create tickets totaling ~2 days worth of major version upgrades

[2021-02-02 17:42] jamilasnell commented on #5981
@TheoChevalier closing this ticket as the localization work that we are doing now makes this redundant

[2021-02-02 17:44] mmmavis commented on #5849
Before we start doing the actual cleanup work, we should document how in GTM we target DOM elements to trigger events. We need to find a way to prevent things from "out of sync". For example, if in GTM we target DOM element by their id/class selector, once the selector name gets changed in code, the GTM event trigger will stop working **without** giving any notice or throw errors.

[2021-02-02 17:47] #6026 closed

[2021-02-02 17:49] #5884 closed

[2021-02-02 17:51] jamilasnell commented on #5797
@marcwalsh is this still relevant? Please let us know the priority of this task.

[2021-02-02 18:11] TheoChevalier commented on #5981
@jamilasnell Hmm, AFAICT, this won’t be fixed with the work we’re doing around wagtail-localize, but maybe I did miss a discussion somewhere?

[2021-02-02 18:15] TheoChevalier commented on #5981
To @Pomax’s question whether this could be contributed upstream, unless it can be a behavior that is off by default, I don’t think this should be wagtail-localize’s default language negotiation algorithm

[2021-02-02 18:20] sabrinang opened #6151 "[Publications] Interactive Data Visualizations (wagtail embed)"
Insights team would want to include interactive images/visualizations, figure out design needs how we can integrate those on Wagtail pages.

- also look into existing solutions (tableau)

[2021-02-02 18:30] kristinashu commented on #6119
@sabrinang would it be helpful to turn this into an epic?

[2021-02-02 18:38] sabrinang commented on #6119
+1 an epic makes sense as I'll file issues from this

[2021-02-02 18:59] Pomax commented on #5662
Closing this as we'll be moving over to Cloudflare for caching purposes soon.

[2021-02-02 18:59] #5662 closed

[2021-02-02 19:00] Pomax commented on #5846
@sabrinang assigning to you mostly to decide who is most qualified to _actually_ pick this up =)

[2021-02-02 19:00] Pomax commented on #5846
marking as 1 for the engineering side, I am unfamiliar with how much work is required on the design side so feel free to update that value

[2021-02-02 19:01] Pomax commented on #5951
this is irrelevant with our new maintenance CI files

[2021-02-02 19:01] #5951 closed

[2021-02-02 19:03] Pomax commented on #5954
It would be nice to turn on the setting that tells us which pages makes use of specific images

[2021-02-02 19:04] Pomax commented on #5716
@tais I've assigned this to you to figure out who should be working on this next, so we don't lose track of this issue.

[2021-02-02 19:07] Pomax commented on #6059
also tagging @kaedroho as this may need some professional expert advice!

[2021-02-02 19:08] Pomax commented on #5994
This will be be an update to `urls.py`

[2021-02-02 19:11] Pomax commented on #5993
Let's fold #5994 into this as well as it's effectively the urls.py part of the same work.

[2021-02-02 19:11] Pomax commented on #5994
folded into https://github.com/mozilla/foundation.mozilla.org/issues/5993

[2021-02-02 19:11] #5994 closed

[2021-02-02 19:21] Pomax opened #6152 "clean up redirect template overwrite"
### File(s) or components

https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailcustomization/templates/wagtailredirects/index.html

### Reason for cleanup

the heck is that top line coming from? that should be hidden~

[2021-02-02 19:26] Pomax commented on #6067
Estimate as 2 mostly because documentation is hard.

[2021-02-02 19:26] Pomax commented on #6067
@benhohner who would be best to assign this to? Or collab-mult-assign?

[2021-02-02 19:27] Pomax commented on #6084
None of us have seen this since, so closing for now.

[2021-02-02 19:27] #6084 closed

[2021-02-02 19:29] Pomax commented on #6113
We should be able to reference the  wagtail-localize tests to see what our options are here.

[2021-02-02 19:30] Pomax commented on #6148
@benhohner @KalobTaulien can you drop in any findings/discussions you had in this issue too?

[2021-02-02 19:33] Pomax commented on #6148
It would be useful if we can schedule a call for this so we can figure out the requirements.

[2021-02-02 19:35] Pomax commented on #5800
@sabrinang assigning this to you mostly as a "you are probably the most familiar with this issue and known who should be working on this", feel free to reassign.

[2021-02-02 19:37] Pomax commented on #5610
This is an incredibly hard piece of  work given how the search bar was implemented, we can fold this into the work around cleaning that up, but we will not be able to do this for the search bar in its current form. Closing this issue, and will update the code cleanup issue for the search bar.

[2021-02-02 19:37] #5610 closed

[2021-02-02 19:40] Pomax commented on #5736
@benhohner @tomusher with Mozfest rapidly approaching (it's in ~4 weeks from the time of this comment) it sounds like we probably want to set this up the "quick and dirty" way for now, and then do things the proper way after Mozfest has concluded?

[2021-02-02 19:41] Pomax commented on #5736
(feel free to put an estimate on this so it'll show up in burn charts etc =)

[2021-02-02 19:43] Pomax commented on #5983
origin code for providing real images: https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/utility/faker/image_provider.py

[2021-02-02 19:53] Pomax commented on #5981
In terms of resolution, I think the path forward here is staff education + doing the database mining to find all explicit `/en/` urls and turning them into unlocalized urls, but we shouldn't try to override how URL routing is supposed to work: if someone explicitly asks for an `/en/` URL, that's what they should get (URL responses should stay predictable).

[2021-02-02 20:01] #6068 closed

[2021-02-02 20:45] KalobTaulien commented on #6114
This seems to be working for me. I changed my Firefox browser language to Spanish, created a redirect from /blogz to /blog/  (I didnt select the page, I manually wrote in the redirect), and it detects my locale and sends to me to /es/blog/ as expected.

Likewise opening a new private window using Spanish and going to localhost:8000/blog/ sends me to localhost:8000/es/blog/

And if I open a new pri

[2021-02-02 20:48] KalobTaulien commented on #6061
@pomax I've moved this to review before closing it so at least one other member on the team is aware of these findings. Or if I've misunderstood the goal of this ticket, please let me know and I'll move this back to "In Progress"

[2021-02-02 21:25] KalobTaulien commented on #6114
Update: This works as expected if you write the final URL by hand. If you select a page using the PageChooser it goes to a very specific page. I've asked Karl if this is intended behaviour or if the redirect using the PageChooser should be locale-aware.

[2021-02-02 22:16] Pomax commented on #6025
@mmmavis this might be a nice issue for exploring the backend, I'd be happy to talk through what kind of code the functionality would need.

[2021-02-02 22:19] Pomax commented on #5906
@mmmavis who would be a good person on the design side to flag as assignee?

[2021-02-02 23:32] #4880 closed

[2021-02-03 00:01] taisdesouzalessa commented on #6051
Report done! [Link here](https://docs.google.com/document/d/1_ozmuyj2m8so10yb-UcbC86JirfJFuKCbq8i8Hdkgak/edit?usp=sharing)
@nancyt1 can you please review it/add your thoughts before we share with other designers for feedback? Questions I had in mind, but feel free to consider other things as well:
• does it flow well?
• Does the information displayed there seem true according to your experience?
•

[2021-02-03 00:38] kristinashu commented on #5954
That would be amazing!

Yes please!

Yes. But maybe not as useful as the other features you mentioned. This one might be trickier since one image might get used in different places.

This is probably the most important! I can relay to designers to do a better job naming images. But maybe we could also add a note / tool tip / hint text to the upload?

One other idea is to allow more staff to edit i

[2021-02-03 00:44] sabrinang commented on #6151
**Custom data visualizations notes:**
- currently done by contractor Christian
- custom code included in wordpress; code to control front-end and .csv files for data input
- dev team may need to be involved to resolve where data is hosted, figure out flexible html embed etc.
___________________
**Third-party data visualization service ideas:**
- Tableau _(https://dataviz.mozilla.org/ used by other

[2021-02-03 17:35] kristinashu commented on #6151
Thanks for this @sabrinang! One other upcoming use case is for a [series of blog posts via Jon](https://docs.google.com/document/d/1Dzb3Hw3TDL9gz_REfTzhHw7duc8AGA5QU-5QJkmOClw/edit). I think we should find something that works for publications, blogs, and our other standard wagtail templates. And a big +1 to making the component a wider width!

cc @mmmavis

[2021-02-03 17:37] #6141 closed

[2021-02-03 18:30] KalobTaulien commented on #5954
@kristinashu For image positioning, we can use a Focal Point. Setting a focal point will _try_ to move the selected area into the center of the image. It'll try it's best to center it, but it's not always perfect. Setting a focal point will definitely be helpful. And if there's a particular image in a template that NEEDS to always be close to the focal point, devs can set that in the template.

![

[2021-02-03 20:27] kristinashu commented on #6050
Add a note that the template should show where text will appear at different screen widths in order to make sure the text is legible and the graphic looks good.

[2021-02-03 22:10] kristinashu commented on #5954
cc @taisdesouzalessa who has open a ticket about create a template for the hero image which can help plan out where text will be (at different widths) and how much contract is needed.

[2021-02-03 22:16] taisdesouzalessa opened #6157 "[IA Refresh] Measuring success: part IV-a"
**Background:**
According to our [Foundation Site Information Architecture](https://docs.google.com/presentation/d/19etCN1uGLcLmB50-uV-srsWKEAhlwlR_bc0dLE1uW1g/edit?usp=sharing) document, those were the 4 areas we want to focus to assess the success of our IA refresh initiative:

1. Reduce the bounce rate on our homepage by 20% through site updates based on user testing, analytics, and staff inter

[2021-02-03 22:19] mmmavis commented on #6151
Thanks for the detailed notes, @sabrinang .

Do we know what we want to allow CMS users to embed? Is it
- a component that allows users to drop in any script / code into CMS page?
- an embed of third party tool (where the data viz is hosted on that platform and Wagtail is only responsible of embedding it)?

[2021-02-03 22:44] #5954 closed

[2021-02-03 22:58] Pomax opened #6160 "[PNI] update About page for valentine's day release"
Some changes to the "why we made this page" about page (`buyersguide/templates/about/why_we_made.html`) need to be made in preparation for the vday release of the buyers guide.

[2021-02-03 23:04] caltrider commented on #6160
@pomax The two graphs that need updating on the "Why We Made This Guide" page in the About section are highlighted in this doc https://docs.google.com/document/d/12ImD2VM53xww_S-zNNcd7tX9eFYsr-CERZ686njcL4k/edit

[2021-02-03 23:10] mmmavis commented on #5906
I think @sabrinang

@sabrinang - we discovered this unmilestoned ticket during triage yesterday so we decided to put it in this milestone as a stretch goal so it doesn't get forgotten.

[2021-02-03 23:10] Pomax commented on #6150
I've created https://github.com/mozilla/foundation.mozilla.org/projects/21 to help with this.

[2021-02-03 23:12] Pomax commented on #5849
yeah that's a very good point. @benhohner I don't supposed you already looked into whether there was any reporting around that kind of desync?

[2021-02-03 23:13] Pomax commented on #6061
I think we can close this, although it's something we'll have to educate staff on.

[2021-02-03 23:13] #6061 closed

[2021-02-03 23:14] Pomax commented on #6114
if this is intended behaviour we'll probably need to put some redirect-changing code in place similar to what we have for wagtail-modeltranslation in `master`

[2021-02-03 23:25] sabrinang commented on #6151
@mmmavis My assumption is that staff would want to visualize data files _(like .csv from a spreadsheet)_ but I actually haven’t seen what the data sources they use. I think we want it to be as accessible for staff as possible so that we won’t need devs to hand hold them to create specific custom scripts/code in order to use data visualizations in the CMS each time.

- If there is a component where

[2021-02-04 00:02] taisdesouzalessa commented on #6131
- Asked_ in a thread in Slack who wants to be in the workshop.
- Sent [this doc](https://docs.google.com/document/d/12jgPOGYNTC4m18s9gXJlOPpVgo2iKavaN7rPOA_K4Zk/edit?usp=sharing) to stakeholders so we can figure out together the most relevant metrics to the dashboard.
Who is in the group: Nat, Nancy, Jen, Audrey and Linsay

The deadline to fill out the form is Friday, Feb 05

[2021-02-04 00:08] #6160 closed

[2021-02-04 01:09] #6140 closed

[2021-02-04 17:10] #5953 closed

[2021-02-04 17:11] #6030 closed

[2021-02-04 17:50] taisdesouzalessa commented on #6124
This is done and Eeva was notified of the changes!

[2021-02-04 17:50] #6124 closed

[2021-02-04 18:01] Pomax opened #6162 "🔥 server error 500 caused by wagtailinventory"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Set up a copy of the live data
1. Go to http://localhost:8000/cms/pages/1313/edit/
1. Try to update the SEO image in the `promote` tab
1. You'll get a server error 500 with the above stack trace in the console

### Additional details

![image](https://user-images.githubusercontent.com/177243/106941545-d6a3e880-66d7

[2021-02-04 18:20] Pomax commented on #6162
It looks like we're already on the latest version of wagtail-inventory so the immediate solution is going to be "remove wagtail-inventory", with a test that replicates the actions that cause the error. We can then schedule a reintroduction of wagtail-inventory.

(I don't know if we're still getting much use out of it now that we're mostly maintaining, rather than developing new blocks with a need

[2021-02-04 18:20] Pomax commented on #6162
/cc @benhohner @KalobTaulien @mmmavis

[2021-02-04 19:26] sabrinang opened #6163 "[Publications] Previous/Next Missing Headings on Child Publication Pages"
Previous/Next buttons are blank at the bottom of child publication pages (button headings on article pages are present). Currently, links to itself but should link to previous/next sections too.

Example: https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/
<img width="1463" alt="image" src="https://user-images.githubusercontent.com/2492510/106943729-a90c6e80-66da-11e

[2021-02-04 20:20] Pomax commented on #6162
Rather than removing `wagtail-inventory`, we could do a fork of the project, fix the one file to use this code instead:
[code]
and then point to that update as dependency instead. This will both clean up the duplication and "not crash things" while we try to figure out what the long term solution would be here.

[2021-02-04 20:30] Pomax commented on #6162
I've created https://github.com/Pomax/wagtail-inventory/commit/ea9a6533e69ff0a6faaf0f069efa115bc22ce697 for the updated `helper.py`

[2021-02-04 22:49] sabrinang opened #6165 "[Publications] Subtitle Typeface"
Publications subtitle on publication page + child publication pages have it in Zilla Slab:
<img width="1442" alt="image" src="https://user-images.githubusercontent.com/2492510/106964979-d74c7700-66f7-11eb-8568-39dda1e29588.png">

It should be set in Nunito Sans (using .dark-theme .body-large):
<img width="1443" alt="image" src="https://user-images.githubusercontent.com/2492510/106964900-b71cb800-6

[2021-02-04 23:20] sabrinang opened #6166 "[Publications] Download Button and Subtitle on Article Pages"
Currently publications pages have some features that article pages would like to have.

Users want to be able to have PDF Download buttons from the article page as well if a child publication page isn't used:
<img width="610" alt="image" src="https://user-images.githubusercontent.com/2492510/106967234-acfcb880-66fb-11eb-9be3-34e750840203.png">

Having the option to include subtitle copy in this ar

[2021-02-04 23:23] Pomax commented on #6162
I've also filed https://github.com/cfpb/wagtail-inventory/issues/43 to see if this is something that's worth detecting in wagtail-inventory itself, or whether we're going to have to figure out a cleaner way to carry over this patch without breaking dependency management.

(Not a fan of github commits, they tend to disappear after some time. Even if they're mine =D)

[2021-02-04 23:44] sabrinang opened #6167 "[Publications] Airtable Option on Article Pages"
We are transferring https://foundation.mozilla.org/en/initiatives/data-futures/who-is-trying/ to a publication template page https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/alternative-data-governance-approaches-global-landscape-scan-and-analysis/.

Currently bannered wagtail pages have the airtable embed options available but article pages do not so it would be helpful to

[2021-02-05 00:07] taisdesouzalessa opened #6168 "[Hero image: what you can do page] Thank you, Apple for Standing Strong for Privacy."
to do a "What you can do" hero image that will point to this blog post: https://foundation.mozilla.org/en/blog/thank-you-apple-for-standing-strong-for-privacy/

[2021-02-05 00:07] Pomax commented on #6162
Initial PR landed so that staff will at least not run into server error 500 anymore, but it's more a hotfix than anything and we still need to properly solve this problem (I don't think we can rigorously prevent this from happening again, this feels like the kind of race condition row duplication that you get from having multiple dynos running...)

[2021-02-05 00:08] taisdesouzalessa commented on #6168
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/22157921/106971131-1f24cb80-6703-11eb-9a50-9ce15c955420.png">

[2021-02-05 00:08] #6168 closed

[2021-02-05 01:58] sabrinang opened #6169 "[Publications] Hyperlinks and Styling in Tables on Article Pages"
We are using some tables in data futures lab publications. Some of these tables contain links, merged cells and numbered lists but currently we can't do this in the table component in article pages. The stylings may be tricky but would we be able to hyperlinks? Example: the 'initiatives' column in the table below is suppose to link to their website:

<img width="1280" alt="image" src="https://user

[2021-02-05 02:15] sabrinang opened #6170 "[Publications] Notes Styling on Publication Pages"
Including list styles and large body text options in the notes section here:
<img width="978" alt="image" src="https://user-images.githubusercontent.com/2492510/106979748-cf9acb80-6713-11eb-8baf-7a5affd0365a.png">

For example, this acknowledgment text has some sections bulleted originally and the title can be set in large:
<img width="1385" alt="image" src="https://user-images.githubusercontent.c

[2021-02-05 02:34] sabrinang opened #6171 "[Publications] Article Child Page Alignment on Table of Contents"
Originally we had section numbers included in the table of contents but this conflicted with the numbering of the long-form content structure itself so we removed them. The spacing indent remained but this can be a cleaner visual line if we left aligned it with the publication parent heading.

For example:
<img width="893" alt="image" src="https://user-images.githubusercontent.com/2492510/10698175

[2021-02-05 02:39] sabrinang commented on #6119
In addition the the four issues filed for this epic, I created three tickets that were more QA related and tagged the older publication QA epic https://github.com/mozilla/foundation.mozilla.org/issues/5780 _(if they should be here instead I can relabel to move)_

[2021-02-05 16:08] benhohner commented on #6162
Looks good. Can we create a follow-up ticket now so we don't forget to off our fork when we figure out a permanent solution?

[2021-02-05 19:25] mmmavis commented on #6150
A little confused about what I should do for this ticket. @Pomax has kindly created the project board and added dependabot PRs to it. How do we wanna triage major version update PRs? Do we create another column on the project board?

[2021-02-05 21:20] nancyt1 commented on #5827
Made the [demo page](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/grimms-fairy-tales-demo/) and set it to private so it can be viewed if you're logged in. Also wrote my feedback in this [google doc](https://docs.google.com/document/d/136l3IIV2HTdG3cJMxtAZLgRRA4lEdrpoe5mUbdIhT_Q/edit). Probably ready for someone to review (:

[2021-02-05 21:59] mmmavis commented on #6148
Totally agree that devs, @kristinashu and @sabrinang should all meet together to sort out the specs first. Sabrina and I chatted but we weren't sure if our goal is to allow staff to create and embed simple data viz like bar chart to CMS pages OR allow teams to include complicated, interactive, custom-built data viz. Each requires a different approach and we weren't sure what we wanna fulfill first

[2021-02-05 23:18] natalieworth opened #6172 "Update the Graphics Request form"
Update our design graphics request form to have more details and include the dimensions of the graphics we frequently need.

[2021-02-05 23:58] taisdesouzalessa opened #6173 "[What you can do] Hero banner for MozFest"
Create a hero banner for MozFest since we plan to place it into the "What we can do" hero section advertising that tickets are on sale.

**Deadline:** Feb 9

[2021-02-05 23:59] nancyt1 commented on #6157
Started the [doc](https://docs.google.com/document/d/12Lk9ObtT7robD76gPUDGiDW1LeFMtfM5zX6JnIlwfF0/edit?usp=sharing) to compile the results of all our research.

[2021-02-06 00:03] taisdesouzalessa commented on #6173
Sent do design review for feedback. Copy is placeholder (from other initiative)
<img width="1195" alt="image" src="https://user-images.githubusercontent.com/22157921/107101260-99208780-67cb-11eb-9812-4bbca69e97cf.png">

[2021-02-06 00:06] taisdesouzalessa commented on #6131
• Got feedback from teammates
• Booked session
• [Started workshop planning](https://docs.google.com/document/d/1LzJdQa0buz3Tz7z5i_1XNZEMUb9cgYktfX99QUgwQJ0/edit?usp=sharing) and a quick dashboard to make sure all metrics are captured and to help me with the thinking pre-session

[2021-02-06 01:41] natalieworth commented on #6172
Oops, closing this and opening in the design repo.

[2021-02-06 01:41] #6172 closed

[2021-02-08 14:09] TheoChevalier opened #6183 "wagtail-localize: investigate QuoteBlock localization"
I’ve added a QuoteBlock to a blog post, and this content didn’t get extracted for localization. We should investigate why that is.

It may require some changes to the model, or a fix in wagtail-localize

[2021-02-08 15:59] Pomax commented on #6183
for reference: python code [is here](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/pagemodels/customblocks/quote_block.py), template file [is here](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/templates/wagtailpages/blocks/quote_block.html).

[2021-02-08 17:52] #5735 closed

[2021-02-08 17:56] Pomax opened #6184 "Find a permanent solution for wagtail-inventory"
We had to write some emergency code to deal with `wagtail-inventory` database records duplication over in https://github.com/mozilla/foundation.mozilla.org/issues/6162, where the solution was to create a temporary fork of `wagtail-inventory` with a code patch applied to its `helper.py`:

[code]

However, we should find a long term solution for this patch because we don't want to be maintaining tha

[2021-02-08 17:56] Pomax commented on #6184
cross reference: https://github.com/cfpb/wagtail-inventory/issues/43

[2021-02-08 18:06] Pomax commented on #6162
filed #6184 as follow-up

[2021-02-08 18:06] #6162 closed

[2021-02-08 18:09] jamilasnell commented on #6148
@Kristina is going to plan out a meeting with all parties involved.

[2021-02-08 18:25] natalieworth opened #6185 "PNI: Change intro header text to white/ create wagtail option to toggle header text color between white or black"
### Intro
Design was wanting to use a dark banner background ([example here](https://redpen.io/ae85ad031250988f84)) but currently the text is black in the banner area. We were wanting to update the text to white.

If it's also possible, adding a wagtail option for the header area text to black or white would be ideal (but let me know if you want me to open a separate ticket for that or if it's too

[2021-02-08 18:36] Pomax commented on #6185
nah, this will only take a few minutes =)

[2021-02-08 19:09] benhohner commented on #6067
@Pomax someone who was responsible for implementing the changes should probably do documentation. As for the training, anyone who understands how it works would be good; either yourself or kalob or mavis

[2021-02-08 21:04] #6185 closed

[2021-02-08 22:17] taisdesouzalessa commented on #6128
This is a summary of what came up from our async discussion:
• Overall the flow works for both Mehan and Kasia.
• DFL is too big to fit into any of the existing categories like ‘awards’ or ‘fellowships’ so it makes sense to add it to "What we do" (connect leaders area)
• It makes sense to place the individual research from Insights team inside the “Learning” tab of DFL. **Consideration: see how it

[2021-02-08 22:26] kristinashu commented on #6128
Everything sounds good Tais - including publishing under Insights, for now. Thanks for tackling this complicated issue!

[2021-02-08 23:02] Pomax commented on #6145
it looks this was a momentary problem on percy's side, things work just fine now.

[2021-02-08 23:02] #6145 closed

[2021-02-08 23:04] Pomax commented on #5839
@pmac would it be possible to add this new event type and have it forward data to salesforce?

[2021-02-09 02:03] pmac commented on #5839
You say above that it should be coming in as a petition. If it was then I think this would work fine. It's currently just coming in as a newsletter subscription.

[2021-02-09 08:59] TheoChevalier opened #6189 "PNI: “User friendly privacy policy helptext” field is not localizable"
I was entering translations for PNI, and realized this field was added recently, but is missing in the translation.py file

[2021-02-09 17:38] #6189 closed

[2021-02-09 18:06] benhohner commented on #6149
Still waiting on DNS info from Newcastle.
No word from HeyHey

[2021-02-09 18:27] sabrinang commented on #5827
note: assigned myself to review

[2021-02-09 19:40] kristinashu opened #6191 "Update Video component hint text to include Vimeo"
Now that we allow Vimeo embeds (as well as YouTube) we need to update the hint text so staff know which format the url embed needs to be.

Screen cap from PR
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/1068783/107418342-61675780-6acb-11eb-922f-8dd47487293a.png">

[2021-02-09 21:49] sabrinang opened #6192 "Create Data Visualization Brief / Planning Doc"
Let's capture context and findings so far in a centralized doc for reference. Create a google doc brief that can help with planning and that we can share with members of the team for their expertise and input (like Jackie, stakholders, dev etc.)

[2021-02-10 00:01] taisdesouzalessa commented on #6130
[Report here](https://docs.google.com/document/d/1f99_Lwfp4QJur1mNCdsTtwe1rGkg3tpwP1bBCis2AIM/edit?usp=sharing)

Sent it via email to Xavier and asked him if he wants to connect with others to get data from their end too (Social and email).

[2021-02-10 00:01] #6130 closed

[2021-02-10 16:40] kristinashu commented on #6151
Can this be closed now that you have this ticket https://github.com/mozilla/foundation.mozilla.org/issues/6192?

[2021-02-10 16:44] kristinashu commented on #6128
Do you think this is good to close? You could open up individual tickets for any additional implementation work needed.

[2021-02-10 16:46] kristinashu commented on #5797
I'm going to close this ticket. "Become a Sponsor" has been deleted from the top nav. It's up to @marcwalsh if he wants to add it to the Get Involved page or not.

[2021-02-10 16:46] #5797 closed

[2021-02-10 16:47] kristinashu commented on #6051
@nancyt1 have you had a chance to review this yet?

[2021-02-10 16:50] kristinashu commented on #6122
@taisdesouzalessa what's the new deadline for this? Should it be move to next sprint or next next sprint?

[2021-02-10 16:52] kristinashu commented on #6173
Did you get feedback on this?

[2021-02-10 16:59] marcwalsh commented on #5797
Thanks both - sorry I missed this before. We decided not to include it in the Get Involved as we're likely including more on that page as we get closer to the festival.

[2021-02-10 17:29] taisdesouzalessa commented on #6173
oh yeah! done and launched. Sorry, forgot to close this ticket.

[2021-02-10 17:29] #6173 closed

[2021-02-10 17:38] KalobTaulien commented on #6059
Moving this to blocked because of a bug when a model inherits from another model as a registered snippet. I opened an issue here: https://github.com/wagtail/wagtail-localize/issues/321 - I've also let Karl know about this.

[2021-02-10 18:28] taisdesouzalessa commented on #6122
I asked Mehan for an estimate and he will talk to the person who is writing the copy. Not sure about the exact deadline (all I know that this should be done before MozFest).

[2021-02-10 20:37] sabrinang commented on #6192
We will use a google doc https://docs.google.com/document/d/1ySaJMH4mWxgZLqt7PvdVeNdS-IHekfKBYLF-ZSI9Nk4/edit?usp=sharing for this brief and planning work

[2021-02-10 20:39] sabrinang commented on #6151
👍 Yes, go to close — will continue on #6192's gdoc.

[2021-02-10 20:39] #6151 closed

[2021-02-10 21:29] taisdesouzalessa opened #6194 "[Insights Team Research + Data Futures Lab] Copy considerations and implementation"
From the conversation on this ticket (#6128), those issues surfaced:

• It makes sense to place the individual research from Insights team inside the “Learning” tab of DFL. Consideration: see how it flows with other elements there like "Lab Reflections" and others on that page once we have the final copy. DEPENDENCY: DFL final copy
• Consider using the text from the ”Introduction” as the intro tex

[2021-02-10 21:51] taisdesouzalessa commented on #6122
Got the date! Early March. Moving this to next sprint then.

From Mehan:
"Alix [the person who is writing the content] says she'll have a draft by next Friday. So maybe early March?"

[2021-02-10 22:15] Pomax commented on #5646
In terms of the database work, the cleanest option I can come up with is the following:

- [ ] dump the (stage|prod) database to a SQL file
- [ ] `sed -i 's/mozilla.org\/en\//mozilla.org\//g` database_dump.sql`
- [ ] setting (stage|prod) to maintenance mode
- [ ] dropping the (stage|prod) db
- [ ] importing the `database_dump.sql`
- [ ] turning off maintenance mode for (stage|prod) again

I've tes

[2021-02-10 22:16] Pomax commented on #5646
@benhohner added you as secondary assignee because we'll want to make sure we time this right. And test it on staging. Maybe twice =)

[2021-02-10 22:26] Pomax commented on #5839
hm, good point. @stephaniemcv @marcwalsh can you confirm which of the two this was supposed to be? As I recall this was indeed a newsletter signup, not a petition?

[2021-02-10 22:41] Pomax opened #6195 "Yet again, let's fix Percy"
What the hell isn't reseeding properly _this_ time =_=

[2021-02-10 22:42] Pomax commented on #6195
PR showing off the problem: https://github.com/mozilla/foundation.mozilla.org/pull/6188

[2021-02-10 22:48] taisdesouzalessa opened #6196 "[Insights Team] Hub expansion"
**Background:**
From the conversation [in this doc ](https://docs.google.com/document/d/1bzD4TlLp1EhdjjiBkCc4W7cKmQpI72-x3tP9hhH7wLc/edit?usp=sharing)(and proposed flow) a challenge emerged: how might we expand the [Insights Hub](https://foundation.mozilla.org/en/insights/) to accommodate research of other teams? From the audience's perspective, it makes sense to host all research in one place. We

[2021-02-10 22:50] taisdesouzalessa commented on #6128
Yes. Follow up tickets: #6194 (implementation ticket) and #6196 (discussion on how to integrate other researchers into Insights Hub)

[2021-02-10 22:50] #6128 closed

[2021-02-10 23:36] benhohner commented on #5646
@Pomax
Some things to ponder:
1. Are we sure there are no strings that would cause the website to break if they were renamed?
2. How can we verify that everything works after the changes?
3. Do we have DB backups? Can we take one before we do the changes (so as to not lose people's work)? And if so, how long would a backup take to restore?
4. Any way we can just figure out the couple fields and ta

[2021-02-11 00:07] Pomax opened #6197 "Correct homepage typo"
### File(s) or components

`base.py`, specifically, `class Homepage(FoundationMetadataPageMixin, Page):`

### Reason for cleanup

`parnter_internal_link` is a silly typo that we should fix =)

[2021-02-11 01:20] #6152 closed

[2021-02-11 15:25] TheoChevalier commented on #5646
On the “Train staff on not using hard coded localized URLs”, I’m a bit dubious. I’ve already tried that for a very small subset of staff, and asked people to do it on at least some strategic parts of the content, but even this failed. Trained staff tend to forget half the time.
So training all staff, including people managing content that we rarely or don’t translate at all, that seems ambitious.

[2021-02-11 19:32] mmmavis opened #6199 "Query selector not found error on PNI product page"
<img width="987" alt="image" src="https://user-images.githubusercontent.com/2896608/107688640-bab2c080-6c5c-11eb-837f-a41708df438d.png">

Example: https://foundation.mozilla.org/en/privacynotincluded/jabra-elite-85t/

Oddly enough, the error only shows up in Chrome.

[2021-02-11 19:58] Pomax opened #6200 "Come up with nice UX for Commento commenting"
Loading the "Commento" comment system without any customizations looks kind of terrible:

![image](https://user-images.githubusercontent.com/177243/107691467-5134b100-6c60-11eb-8ce2-28269092fc03.png)

This definitely needs some custom styling so it's on-brand and works with our styleguide.

[2021-02-11 21:17] kristinashu commented on #6132
Seems like this is blocked until the start of next sprint, is that right?

[2021-02-11 21:40] Pomax commented on #6200
Unblocking all the CSP-blocked resources gives a slightly nicer look:

![image](https://user-images.githubusercontent.com/177243/107702133-a8418280-6c6e-11eb-8205-116cb34b12f7.png)

Is this good enough for us to turn it on, or do we want to do some finessing first still?

[2021-02-11 22:42] kristinashu opened #6201 "[PNI] Evergreen graphics"
After our v-day push we will need to update the site graphics to be more evergreen.

Todo
- [x] Determine the art direction (with input from Jen, Audrey, Lindsay)
- [x] Create hero banner
- [x] General share image
- [ ] Bonus: custom share images for each category

[2021-02-11 23:29] Pomax commented on #6200
Commento docs for customization (although it's not a lot of docs...) https://docs.commento.io/configuration/frontend/#configuration-settings

[2021-02-12 01:01] mmmavis opened #6204 "SPIKE: allow wider image and iframe blocks on publications and blogs"
A stakeholder mentioned the desire for wider but not full-width container to allow more readable/impactful images and interactive graphics. Let's chat and see if it's something we wanna support, and if so, how?

Publication template already supports this but the implementation wasn't ideal. I will drop in more info after I check out the code myself.

/cc @kristinashu @sabrinang

[2021-02-12 01:02] mmmavis commented on #6204
We'll schedule a meeting to chat about this once this ticket has been triaged.

[2021-02-12 01:10] sabrinang opened #6205 "Data Visualization on Wagtail"
continuing https://github.com/mozilla/foundation.mozilla.org/issues/6192

- review and consult with team and stakeholders
- direction selected for approach

[2021-02-12 01:18] Pomax commented on #6200
It's a bit hard to tell the comments from the update content at the moment, so we may need to give this a heading and possibly accentuate it/move it around?

Current look:

![image](https://user-images.githubusercontent.com/177243/107719432-16953d80-6c8d-11eb-939b-9a9dae4628ae.png)

[2021-02-12 01:18] Pomax commented on #6200
moved with a stippled heading, but that might be too busy:

![screenshot 607](https://user-images.githubusercontent.com/177243/107719462-27de4a00-6c8d-11eb-85f3-5b291e915aa1.png)
:

[2021-02-12 01:19] Pomax commented on #6200
moved without stippling, but still with heading:

![screenshot 608](https://user-images.githubusercontent.com/177243/107719520-42182800-6c8d-11eb-8ce7-d4ad12fa3461.png)

[2021-02-12 17:51] sabrinang commented on #6200
Is it ok to refer to what is on https://foundation.mofostaging.net/en/privacynotincluded too (assuming this is the latest)? Does "powered by Commento" need to be present also?

[2021-02-12 17:57] kristinashu commented on #6200
Thank you @sabrinang! It is actually already on the live site https://foundation.mozilla.org/en/privacynotincluded/lex/

[2021-02-12 18:09] sabrinang commented on #6200
Are these states of Commento customizable too? _(sign in popover, comment box, comments etc.)_ :
<img width="818" alt="image" src="https://user-images.githubusercontent.com/2492510/107804380-adf3a280-6d18-11eb-836a-4ed78f18953c.png">
<img width="820" alt="image" src="https://user-images.githubusercontent.com/2492510/107804701-12aefd00-6d19-11eb-9040-403c373c9de2.png">
<img width="812" alt="image"

[2021-02-12 19:46] taisdesouzalessa opened #6206 "[Google Analytics] Valentine's Day dashboard QA"
Now that [the dashboard is ready](https://datastudio.google.com/reporting/f2fe1bfd-eed0-4862-a7ac-8a452d1d2e2d) we need a second review to make sure it is pulling the correct data. I did the first QA but need a second reviewer, so I asked Ben for help (thanks Ben!).

**To do:**
- [x] Ben to review the dashboard and make sure it is pulling the correct data.
- [x] Taís [sent this doc](https://docs.g

[2021-02-12 19:51] taisdesouzalessa commented on #6131
Workshop is done! We used a "play dashboard" as a practicing environment and this helped to surface questions from the group.

[The final dashboard is here](https://datastudio.google.com/reporting/f2fe1bfd-eed0-4862-a7ac-8a452d1d2e2d)

Next step: Ben to do a second QA and group (Lindsay, Théo and Audrey) to confirm they have everything they need. Follow up ticket: #6206

[2021-02-12 19:51] #6131 closed

[2021-02-12 20:03] sabrinang commented on #6200
I iterated on an update to the area above footer section: https://share.goabstract.com/faaed37c-c73f-410d-bee3-4ce10e46766a?sha=9ad7fdcb5dff1b98d2e1f28bc51d607c59614261

- aligned with column text width with sections above
- used all h3 headings to match
- consider label change 'updates' to 'related news' instead (might make more sense if these are external articles)
- comments relocated at end as

[2021-02-12 20:31] kristinashu commented on #6200
Oooh that looks really nice Sabs! Hopefully it will all be possible to implement.

[2021-02-12 20:49] mmmavis commented on #6065
I've verified it by

1. go to https://foundation.mozilla.org/fr/privacynotincluded/
2. search for `téléviseur`
3. only `Google Chromecast` shows up as a result
4. and then go to https://foundation.mozilla.org/en/privacynotincluded/
5. search for `téléviseur`
6. no result was found

[2021-02-12 20:49] #6065 closed

[2021-02-12 21:32] Pomax commented on #6200
they might be, but the immediate concern is "can we add anything that lets us keep this turned on or not" before the weekend, since valentine's day is this Sunday.

[2021-02-12 22:13] taisdesouzalessa commented on #6132
Yep. I'll move this to next sprint. Haven't heard anything about it during this one.

[2021-02-12 23:08] mmmavis commented on #6191
Was gonna work on this ticket but I realized I didn't have a sample Vimeo embed URL I could include in the help text. It seems like we don't have an official account on Vimeo. 🤔 Gonnna mark this ticket as blocked and will bring up this q on Slack for help when I'm back from PTO.

[2021-02-12 23:11] taisdesouzalessa commented on #6051
Nancy reviewed this project and I updated the report with her recommendations! Thanks, @nancyt1 💯

[2021-02-12 23:11] #6051 closed

[2021-02-12 23:37] sabrinang opened #6207 "[Publications] Upper Social Media Buttons"
- The upper social media buttons appear only when h2/summary is present on the page
- When a full width image is present at the top it also covers this a bit
<img width="443" alt="image" src="https://user-images.githubusercontent.com/2492510/107832964-ae0a9700-6d46-11eb-8372-569983193dec.png">

Could the upper social media buttons be present by default and would we be able to include a checkbox to

[2021-02-12 23:42] sabrinang opened #6208 "[Publications] Video Embed for Article Page"
The option to embed videos similar to what we have on wagtail default pages.

[2021-02-12 23:47] sabrinang opened #6209 "[Publications] Caption/Alt Text for Images in Content Component"
For full width/hq, left-aligned, right-aligned images in the content component, can we include AltText, Caption and CaptionURL fields _(similarly to image component on default wagtail pages)_.

[2021-02-13 00:00] sabrinang opened #6210 "[Publications] More Space After End of Body Contents"
At the end of the page, the text is pretty close to the social media buttons. Adding some space can give the sections a bit of separation especially when footnotes are not present.
<img width="1551" alt="image" src="https://user-images.githubusercontent.com/2492510/107834234-85849c00-6d4a-11eb-8a90-ea08bd5391c3.png">

[2021-02-13 00:09] sabrinang commented on #5800
Refer to Nancy's QA notes when reviewing UX: https://docs.google.com/document/d/136l3IIV2HTdG3cJMxtAZLgRRA4lEdrpoe5mUbdIhT_Q/edit#
- some ux around publishing modes

[2021-02-13 00:17] taisdesouzalessa opened #6211 "[Analytics] Getting oriented with analytics as a team: activities"
**Background:**
Now that [we have the major themes](https://docs.google.com/document/d/11HMrN2BOdy_IGy_93QczdBpwqSDfx-EYCqzssW2kpQw/edit?usp=sharing) based on Production team feedback, it is time to plan the activities we can do.

**To do:**
- [x] Taís, Ben and Jackie to add suggestions [to the document](https://docs.google.com/document/d/11HMrN2BOdy_IGy_93QczdBpwqSDfx-EYCqzssW2kpQw/edit?usp=shari

[2021-02-13 00:18] taisdesouzalessa commented on #5934
Results were compiled.
Next step: talk to Ben and decide which activities we could do as a team (loop Jackie too) - ticket being tracked here:  #6211

[2021-02-13 00:18] #5934 closed

[2021-02-13 00:19] taisdesouzalessa commented on #6211
Added suggestions based on themes I found. Pinged Jackie and Ben to the doc to brainstorm ideas together.

[2021-02-13 02:06] sabrinang commented on #5827
Both of these are so great, thank for the thorough job!

I reviewed the feedback doc and distributed the feedback to [feature requests epic](https://github.com/mozilla/foundation.mozilla.org/issues/6119) and [ux issue](https://github.com/mozilla/foundation.mozilla.org/issues/5800) and will keep referencing the doc. Great feedback and insights!

I reviewed https://foundation.mozilla.org/en/docs/how

[2021-02-13 02:24] sabrinang commented on #6119
Filed four more issues related to this epic from #5827 demo QA review.

[2021-02-16 18:10] KalobTaulien commented on #6114
I had a quick conversation with Karl and Phil about this today. Something might get added into wagtail core like a BooleanField that would check for redirects. I'm also going to explore this a bit more today and play with different middleware locations to see what we can do.

[2021-02-16 18:25] kristinashu commented on #5969
Duplicated https://github.com/mozilla/foundation.mozilla.org/issues/6201

[2021-02-16 18:25] #5969 closed

[2021-02-16 18:30] jamilasnell commented on #6211
Putting this as blocked as further action depends on Ben and Jackie's schedule

[2021-02-16 19:06] taisdesouzalessa opened #6219 "[Foundation site update] Add an extra profile pic for the board of directors"
**Background**
We will have an announcement tomorrow about a new person in our Board of Directors and our [Leadership Page](https://foundation.mozilla.org/en/who-we-are/leadership/) will need to reflect that. Request done by Sarah Watson via email.

**To do**
- [x] keep an eye when announcement is done (expected date: Feb 17)
- [ ] update the page

cc: @jamilasnell - very small task that I am addi

[2021-02-16 19:52] kristinashu commented on #6200
@sabrinang @Pomax are you able to touch base with each to sort this out?

[2021-02-16 22:23] sabrinang commented on #6200
I think @Pomax is pto today — let's touch base tomorrow when you get the chance to look into if the states are customizable or not? I can continue iterating based on your findings and make corresponding mobile screens too.

[2021-02-16 23:11] sabrinang commented on #6200
@pomax will this Commento styling also be applied to foundation pages like blog that also use Commento?

[2021-02-17 00:01] taisdesouzalessa opened #6221 "[MozFest sponsors] quick logo edit"
**Background**
Jesse W. need some image adjustments for MozFest supporters page (logos)

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/22157921/108137016-e7f1db00-706f-11eb-865f-3c7a6afd87c9.png">

**To do:**
- [x] Adjust logos (make them all squares) so they align automatically and respect hierarchy.

[2021-02-17 00:01] #6221 closed

[2021-02-17 00:28] nancyt1 commented on #5827
1. Updated the title to be "Publication Demo — Grimm's Fairy Tales"
2. I changed it to h3, mostly used h2 as an example of summary box but I've already done that somewhere else. I feel like h3 would be fine for most cases but I can see users potentially wanting to use h2 without the summary box.
3. Added examples of authors, a table in "Foreward", and 2x Image in "Haensel and Grethel" pages.

Also

[2021-02-17 15:22] benhohner commented on #5981
I think next steps for this would be figuring out the best way(s) to educate staff, doing the education, and seeing if the education is successful and how much it reduces localized URL usage. If the problem persists, we can create an Airtable ticket for getting the design team involved to do some user research and brainstorm possible technical solutions.

[2021-02-17 15:45] benhohner commented on #5849
@Pomax @mmmavis that's a good question. I don't think there's a well defined process for that.
I can only think of 2 solutions off the top of my head:
1) We probably don't change class names that often? before we do, check GTM to see if there's an associated class
2) Train the designers how to submit PRs in GitHub to add classes to elements they want to target using a special "gtm-*" class that we

[2021-02-17 15:49] benhohner commented on #6211
Document looks great to me.

[2021-02-17 16:56] taisdesouzalessa commented on #6219
Done. Page was updated:  https://foundation.mozilla.org/en/who-we-are/leadership/

[2021-02-17 16:56] #6219 closed

[2021-02-17 17:11] Pomax opened #6222 "Replace webpack with esbuild"
https://esbuild.github.io seems _really_ fast, and quite suited to replace webpack, based on how we use webpack. Let's speed this build up!

[2021-02-17 18:20] sabrinang commented on #5827
The updates look good 👍 You can publish this page on [how do I wagtail](https://foundation.mozilla.org/en/docs/how-do-i-wagtail/) and feel free to close after.

[2021-02-17 20:08] benhohner opened #6223 "Interim interactive graphic host and embed in iframe"
### Describe the feature request
Until we develop a permanent solution to embedding raw HTML, we'll need to host interactive graphics on our S3 and embed them as iframes.
We'll need to create the S3 bucket infrastructure anyway, in case we need to host additional files with the raw HTML embeds.

* [x] add an iframe component to the publications template - https://github.com/mozilla/foundation.mozi

[2021-02-17 20:42] sabrinang commented on #5800
Note: Deafult pages with publication page as children do not show up in the left side menu. For example, creating a demo publication page in wagtail how-to doesn't appear in the side menu.
<img width="963" alt="image" src="https://user-images.githubusercontent.com/2492510/108265117-39a46f00-711d-11eb-9779-12ef6b354361.png">

I assume it is because it is a publication page type and it doesn't have

[2021-02-17 20:48] benhohner opened #6224 "Version Upgrades"
* [ ] Wagtail

Expand any major version upgrades here.
3 total days available for major version upgrades. Feel free to assign to others as well.

[2021-02-17 21:24] jamilasnell commented on #6191
Please put an estimate on this ticket when you can @mmmavis

[2021-02-17 21:27] #5827 closed

[2021-02-17 21:29] kristinashu opened #6225 "Platform policy tracker microsite"
via Jon: We would like to house the entire platform policy tracker project (tracker doc, interactive graphic, and blog posts) in one single place. Which template can we use, and are we able to get any design assistance?

Still waiting for content but it would included
- Series of blog posts ([rough outline](https://docs.google.com/document/d/1Dzb3Hw3TDL9gz_REfTzhHw7duc8AGA5QU-5QJkmOClw/edit))
- Li

[2021-02-17 21:40] jamilasnell commented on #6169
tables may not be able to contain hyperlinks. this may not be doable :/ Kalob will do some digging to see if we can make this work in some fashion

[2021-02-17 21:51] #5877 closed

[2021-02-17 21:53] kristinashu commented on #6157
Ooops! We missed this during sprint planning. @taisdesouzalessa can you please re-estimate on this?

[2021-02-17 22:44] taisdesouzalessa commented on #6157
done

[2021-02-17 23:06] Pomax commented on #6200
We should be able to control the overrides "per template" so as long as we save the different styles to different .css files for PNI vs. blogs, we _should_ be able to apply PNI only on product pages, and blog only on blog pages.

[2021-02-17 23:20] Pomax commented on #6200
Also, looking at https://cdn.commento.io/css/commento.css it seems like we should be able to override everything, but only in terms of styling, we have no control over the actual dom nodes/text/etc.

Unrolled CSS that we should be able to set overrides for: https://gist.github.com/Pomax/aefc9367942e375235733be4b2e9bb3b

[2021-02-18 01:19] sabrinang commented on #6200
I mocked up some addition commento states on desktop, see abstract here: https://share.goabstract.com/a22a0eba-7b1e-4e75-aa83-81760737e246

Examples of changes are mainly to follow our brand typography, buttons and colours:
<img width="1521" alt="image" src="https://user-images.githubusercontent.com/2492510/108289667-ab8faf00-7143-11eb-811b-b581b2c99ff0.png">

@Pomax What do you think about these

[2021-02-18 17:07] Pomax commented on #5839
After talking about this with staff it sounds like we're not doing landing-page segmentation for mozfest this year, so we can look at this again next year (but then a lot earlier) if we still need this then.

[2021-02-18 17:07] #5839 closed

[2021-02-18 17:08] taisdesouzalessa commented on #6206
Ben did the QA so it is good to go! Thanks @benhohner 💯

[2021-02-18 17:08] #6206 closed

[2021-02-18 17:14] Pomax opened #6228 "Bump postgres version in docker-compose.yml"
Tom updated aligned all the database versions across heroku for the foundation site, so that only thing left is to make sure that local dev also uses that version.

- [ ] bump postgres in docker-compose.yml to v13.2

[2021-02-18 17:58] KalobTaulien commented on #6064
I've been thinking about this..

The categories themselves are mostly meta data, and are managed in the wagtail admin in English. So we might not even need to translate things like category fields — we just need to translate the copy in the template so it looks translated.

The one caveat about what I just said is... slugs. Slugs would always be in english. I'm not sure how we feel about that. On

[2021-02-18 17:59] #6166 closed

[2021-02-18 19:26] KalobTaulien commented on #6169
@jamilasnell @sabrinang I've been looking into this, this morning. And it's not possible to add structured content into tables. The component uses Handsontable 6.2.2

### Merged cells
I tried to enable the Merge Cells, and it worked, but it doesn't seem to be honoured in the template, so that's a no-go without some serious development time.
**Note:** This seems possible to add, but would require a

[2021-02-18 20:30] sabrinang commented on #6169
Thanks for doing the research on this @KalobTaulien and helping me understand limitations of the tableblock!

From the content use cases I've seen that want to use publications, having hyperlinks and structured content in tables have been quite common so the features would be essential to help move content from docs to publications. I like the alternative solution you proposed with richtext conten

[2021-02-18 22:28] taisdesouzalessa commented on #6157
Updated the part IV ticket to reflect what needs to be done still. Just finished reviewing the analytics so closing this ticket.

[2021-02-18 22:28] #6157 closed

[2021-02-18 23:29] Pomax commented on #6222
Upgraded the estimate because IE11 made things much, much more fun.

[2021-02-19 00:37] taisdesouzalessa commented on #5776
Added more items to this doc, I would say it is 65% done.

[2021-02-19 23:24] taisdesouzalessa commented on #5776
Nancy and I worked more on the document today and we will open to team feedback early next week. \0/.

[2021-02-19 23:30] taisdesouzalessa commented on #6129
In email conversation with Kathy, we have some small tweaks to do to the page:
- [ ] Figure out  "Authors and Contributors" section
- [ ] Overtime, we are hoping to have more contributors from around the world. What do you think is the best way to manage that?
- [ ] In the example section, we plan to have multiple examples. And some examples can get really long, like the [University of Buffalo one

[2021-02-22 19:26] Pomax opened #6241 "Typeform embeds don't work for new typeforms."
### Describe the bug

Typeform changed its embed system, so our typeform component no longer works for new typeform pages.

### Details

Our current code:

[code]

New "full page" embed code:
[code]

New "standard" embed code:
[code]

The new embeds also have some design options around width/height and seamless embed:

![image](https://user-images.githubusercontent.com/177243/108759056-b742f300-75

[2021-02-22 20:01] jamilasnell commented on #6122
Talked to Mehan and he said that they'll have draft content in there by the end of this week (2/26)

[2021-02-22 22:23] #6104 closed

[2021-02-22 22:28] Pomax commented on #6200
We can see how far we can get with these, first. Are we adding a heading "comments" above the comment section? (because that is not currently the case)

[2021-02-22 22:30] Pomax commented on #6064
We generate the nav bar using "normal" template code, so we definitely use the snippet fields, not static strings:
[code]

https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/templates/buyersguide/bg_base.html#L88-L93

[2021-02-23 00:53] mmmavis commented on #6191
I'm just gonna use the one Kristina put in the screencap: https://vimeo.com/9004979

[2021-02-23 17:42] KalobTaulien commented on #6059
Update: This is a wagtail core bug that should hopefully be released in the next point release upgrade. I might take a run at it with the latest wagtail code and latest wagtail-localize code just to make sure. If I do that, I'll report my findings back here.

[2021-02-23 18:09] taisdesouzalessa commented on #5776
This is ready for feedback: https://docs.google.com/document/d/12Lk9ObtT7robD76gPUDGiDW1LeFMtfM5zX6JnIlwfF0/edit?usp=sharing

@kristinashu @sabrinang @natalieworth - for context, this is a doc crossing the results of the 3 researches we did (staff, user testing, analytics) + recommendations of next steps. Nancy and I would love to hear your feedback + additional recommendations you can think of (i

[2021-02-23 18:40] KalobTaulien commented on #6059
Back to blocked. Too many packages are pinned to wagtail 2.12 but `master` is at `2.13a0`. Will need to come back to this when localize, footnotes, and other wagtail packages are accepting 2.13 soon.

[2021-02-23 18:44] #6222 closed

[2021-02-23 18:44] #6147 closed

[2021-02-23 19:40] #6163 closed

[2021-02-23 20:02] sabrinang commented on #6200
Sounds good @Pomax and yes the "Comments" heading is added in the proposed design.

[2021-02-23 22:10] taisdesouzalessa commented on #6211
@benhohner next step is to do one initiative. My suggestion is we do:

**• A brown bag with the theme Google Analytics 101, using one of our initiatives as an example (maybe PNI)?**

Let's plan this together? I'll create a ticket for that.

[2021-02-23 22:17] taisdesouzalessa opened #6246 "[Analytics] Production team activity"
From our [Production Team Survey](https://docs.google.com/document/d/11HMrN2BOdy_IGy_93QczdBpwqSDfx-EYCqzssW2kpQw/edit?usp=sharing) we learned that

The majority of people (6 or 7 out of 9) already:
• Understand Time on Page, Bounce Rate, Sessions, and Pageviews (7/9)
• Know how to figure out where our visitors are geographically located (7/9)
• Know how to check how many people visited a particul

[2021-02-23 22:18] taisdesouzalessa commented on #6211
Ticket for activity created: #6246

Closing this once since data analysis is done and next steps are suggested.

[2021-02-23 22:18] #6211 closed

[2021-02-23 22:44] sabrinang commented on #6169
@KalobTaulien I think we can close this ticket and would you be able to file a new ticket for the alternative solution your proposed?

[2021-02-23 23:02] mmmavis commented on #6171
@sabrinang it seems like numbering shows up on smaller screen size. What should we do with it?
<img width="443" alt="image" src="https://user-images.githubusercontent.com/2896608/108919632-32330900-75e8-11eb-9aab-440048d6a985.png">

[2021-02-23 23:05] KalobTaulien commented on #5812
I think for this acceptance criteria:

- [ ] Unit tests to test our assumptions

We don't need tests here. Cloudinary images are _only_ on Product Pages as far as I can tell, and we're simply copying the `cloudinary_image` to the `image` field without removing anything else. And I think code cleanup (removing cloudinary settings) should happen in a different ticket because there's quite a bit of c

[2021-02-23 23:16] KalobTaulien opened #6248 "Remove Cloudinary"
We need to remove Cloudinary after #6247 lands.

There are settings to remove, dependencies to remove, functions to remove, model fields to remove, and template code to remove — all in favour of Wagtail Images.

Most of this should be pretty quick but we may want to spend some extra time making sure the templates still render as we expect, and that there isn't additional data in the context proces

[2021-02-23 23:40] sabrinang commented on #6171
Good catch @mmmavis remove numbers and align to edge

[2021-02-23 23:41] kristinashu commented on #6225
Will repurpose this original page https://foundation.mozilla.org/en/campaigns/election-policy-tracker/

I expect we'll need to create three new thumbnail graphics for the blog posts but I think that's it. It is now on the advocacy team to update the content on the hub page. Blog posts need to be tagged with "platform policy tracker" to appear on the hub page.

[2021-02-24 00:05] taisdesouzalessa commented on #6196
@kristinashu this is my proposal on staging:
https://foundation.mofostaging.net/en/insights/team/
Please let me know what you think.

This is a temporary solution until we have an internal alignment on what research means at Mozilla and how we display it in our properties (discussion happening between Becca and other researchers).

For now I propose we add:
1. a broad explanation of the current st

[2021-02-24 17:42] kristinashu commented on #6196
Thanks @taisdesouzalessa! Yes, I think this works as a temporary solution.

[2021-02-24 18:05] KalobTaulien opened #6250 "Advanced Publication Table Block"
We need a more advanced table block that can hold information such as:

- [x] Links
- [x] Lists
- [x] Centering text in a cell
- [x] Bold
- [x] Italics

Other features it will need are:

- [ ] Merging cells left and right
- [ ] Merge cells top and bottom
- [x] Heading styling (first row and left column)
- [ ] ~Accessibility title~ (same as below)
- [x] Optional table caption (richtext)

[2021-02-24 18:11] sabrinang opened #6251 "[Publications] Summary Mobile Alignment"
I noticed there is an indent with every other summary link seen in the summary box but it should all be just left aligned:
<img width="300" alt="image" src="https://user-images.githubusercontent.com/2492510/109045388-5c3c0800-7688-11eb-9e04-a85aab2836fa.png">
<img width="300" alt="image" src="https://user-images.githubusercontent.com/2492510/109045412-63631600-7688-11eb-81dd-c85101138be9.png">

[2021-02-24 19:12] #4115 closed

[2021-02-24 21:50] taisdesouzalessa commented on #6196
Send a Slack message to Kasia and Becca seeking alignment. Once we are on the same page I can then open an implementation ticket.

[2021-02-24 22:27] mmmavis commented on #6208
@sabrinang are we talking about Article page here?

[2021-02-24 22:54] KalobTaulien commented on #6169
Yep. We opened #6250 out of this ticket.

[2021-02-24 22:54] #6169 closed

[2021-02-24 23:05] sabrinang commented on #6208
@mmmavis Yes _(we don't have content block stuff on the pub page type itself)_

[2021-02-24 23:42] Pomax opened #6255 "index page Queryset iteration can fail"
### Describe the bug

[code]

### To Reproduce

Literally no idea: it happens every so often, but when I check the associated URL, it works fine. Searching the web reveals that this isn't actually the QuerySet not being iterable, but the iterator throwing an error internally, which is caught by Django as a "QuerySet is not iterable" error.

See https://code.djangoproject.com/ticket/26600

### Expe

[2021-02-24 23:54] #6165 closed

[2021-02-24 23:54] #6171 closed

[2021-02-24 23:54] #6210 closed

[2021-02-25 00:22] taisdesouzalessa commented on #6016
Audit is here: https://docs.google.com/spreadsheets/d/1gKhZkm_-4nm8vW4iKAAPLhSnop_4hQqtjl4-AbyrDdI/edit?usp=sharing - work in progress

[2021-02-25 00:25] #6228 closed

[2021-02-25 00:48] Pomax commented on #6200
It turns out there is no clean way (at least, not documented) to do this development work locally, I've reached out to Commento to hopefully understand how we can write custom CSS and test it without having to push anything to production before it'll work... =(

[2021-02-25 01:32] sabrinang commented on #6200
Ah okay thanks for looking into this and for the update Pomax

[2021-02-25 05:15] kathytpham commented on #6129
Oh I love the examples section being separated by a big logo or segment like this!

I also think authors at the top is great. So does this mean the top shows just author names, and then when they link to the bottom, they see contributors too? @taisdesouzalessa

[2021-02-25 05:16] kathytpham commented on #6129
Oh and also, suggestions on best ways to create the headers? @taisdesouzalessa

[2021-02-25 17:49] benhohner commented on #6223
*beta* files to test system:

[https://app.zenhub.com/files/76596293/8b53185c-c0a2-4db5-868f-8e96f0890639/download](https://app.zenhub.com/files/76596293/8b53185c-c0a2-4db5-868f-8e96f0890639/download)

[https://app.zenhub.com/files/76596293/bbf5a8bc-dfec-4ae9-aed1-e8670f08ce23/download](https://app.zenhub.com/files/76596293/bbf5a8bc-dfec-4ae9-aed1-e8670f08ce23/download)

[2021-02-25 18:07] sabrinang opened #6256 "Airtable Block Update"
from discussion https://github.com/mozilla/foundation.mozilla.org/pull/6254

- include in help text that height is in pixels
- I also noticed the bottom margin may be a bit narrower and can give it a bit more to balance this out before next block starts

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/2492510/109196168-38dc9000-7750-11eb-97b7-7a452f42611b.png">

- [ ]

[2021-02-25 18:15] KalobTaulien opened #6257 "Privacy Policy Links need localization"
Currently, the Privacy Policy Links (PNI) aren't being translated and we don't know why. Let's explore why they aren't and how we can get them to work with wagtail-localize, and apply it.

Acceptance criteria:
- [x] Make privacy policy links (Orderable) translatable using wagtail-localize

Testing:
- [ ] Make sure the PrivacyPolicyLinks orderable is translatable
- [ ] When translating a page, test

[2021-02-25 18:16] #6031 closed

[2021-02-25 18:59] Pomax commented on #6223
Note: we will need to get the original source dir so _we_ can vet the code properly, and then run the build ourselves instead so that we can control the code that gets bundled in. We won't be able to accept pre-bundled/minified single .js files

[2021-02-25 19:18] KalobTaulien commented on #6209
Alt text is already provided when you select an image to upload.
![image](https://user-images.githubusercontent.com/4743971/109204981-3d5e7400-7763-11eb-9e24-2ca862354b31.png)

But captions are not supported. We'd need to overhaul our Image model and use a custom image model, which is a bit of a pain to do. And we'd need to overwrite the wagtail `|richtext` filter that works some magic to convert

[2021-02-25 20:36] #6167 closed

[2021-02-25 20:36] #6208 closed

[2021-02-25 20:39] mmmavis commented on #6256
@sabrinang can you provide copy for the help text and bottom margin for this block?

[2021-02-25 21:26] taisdesouzalessa commented on #6016
Audit completed. Redirects changed. From the 34 links we audited **we changed 32 from Temporary to Permanent**.

[2021-02-25 21:27] taisdesouzalessa commented on #6016
Thanks for pushing for this change @Pomax and for the additional context on parameters to consider when thinking about the redirects. Closing this ticket.

[2021-02-25 21:27] #6016 closed

[2021-02-25 22:06] taisdesouzalessa opened #6260 "[Pulse] Review of moderators"
**Background:**
We currently have lots of moderators on Pulse and ideally we would reduce that list so just a few people have access to moderating. The current list is very outdated.

**To do:**
- [x] 1. Add list of moderators to [a spreadsheet](https://docs.google.com/spreadsheets/d/1xjOIxrYYf6VBPJsEUzIeSa2OoJhX1ad8s7LyBewYBXE/edit#gid=0) - done by @benhohner \0/ - thanks!
- [x] 2. Decide who to

[2021-02-25 22:10] taisdesouzalessa commented on #6196
We're almost there. Kasia and Becca are aligned and I am just waiting for Solana to update her Pulse profile so we can update these pages.

[2021-02-25 22:13] kristinashu commented on #6196
🙌

[2021-02-25 22:15] taisdesouzalessa commented on #6129
After talking and brainstorming with Kathy today, we may have a new alternative for those headers, instead of using the unversities' logos.

Suggested approach: https://foundation.mozilla.org/en/what-we-fund/awards/responsible-computer-science-challenge-rcs-playbook/topics/discuss-justice-equity/#univ[…]eley

**Changes:**
I increase the typeface size of all items (from h3 to h2), so universities e

[2021-02-25 22:32] #6170 closed

[2021-02-25 22:58] sabrinang commented on #5950
@kristinashu R?
Let me know if any other areas on publications that I may of missed that a11y/contrast could be improved?

[2021-02-25 23:46] kristinashu commented on #5950
These look good Sabs! Curious if devs are able to test and flag any possible additional a11y issues?

[2021-02-26 17:25] taisdesouzalessa commented on #6196
Pages are now updated!
• Trustworthy AI white paper is now in the [Overview page](https://foundation.mozilla.org/en/insights/) of the Insights Hub
• It is also in the [Publications page](https://foundation.mozilla.org/en/insights/publications/) of the Insights Hub
• Finally, we solved the "teams" issue by adding the team each member belong to in their Pulse profile - thanks for the suggestion, Kas

[2021-02-26 17:25] #6196 closed

[2021-02-26 19:02] taisdesouzalessa commented on #6050
Instead of doing a presentation, I added them all to Figma. It is currently under design review

https://www.figma.com/file/O4EsReprDAlTaW3ARqmJX5/Homepage-hero-images?node-id=0%3A1

[2021-02-26 19:49] sabrinang commented on #6256
Help text:
`The pixel height on desktop view, usually copied from the Airtable embed code`

Bottom margin:
I think typically there is a 24px bottom margin to give some separatioin

[2021-02-26 20:06] sabrinang commented on #6209
Note: We chatted on slack and looks like we would create a new image block _(like full width/hq)_ that can have the caption option so we don't have to overwrite core features

[2021-02-26 20:10] mmmavis commented on #5950
For colour contrast, there should be many online checkers available. There are plugins and modules that we can check for other a11y issues but these tools will require things to be implemented first so they can scan through the page and code for possible issues. They won't work on static images.

[2021-02-26 20:23] kristinashu commented on #6225
Project brief is [here](https://docs.google.com/document/d/1xWfqWyeZVeRWdzdlh6ZFkTHv5QOglYG-DKtgUWd5yLM/edit#).

New test page is [here](https://foundation.mozilla.org/en/campaigns/election-integrity-and-platform-accountability/).

[2021-02-26 21:08] taisdesouzalessa commented on #6129
Kathy is on board with the new approach and updated the published pages to reflect that.

[2021-02-26 21:19] taisdesouzalessa commented on #6108
Sent a message to Eeva to hear her thoughts on this change.

[2021-02-26 22:01] taisdesouzalessa opened #6264 "[Wagtail] Delete "Privacy Included: Rethinking the Smart Home" from the CMS"
**Background:**
We created a new page for "Privacy Included: Rethinking the Smart Home" (see ticket #6108).
This is the new URL: https://foundation.mozilla.org/insights/privacy-included/

**To do:**
- [x] Follow up with Tais' permissions
- [x] Delete the previous version of the same page (current in Wagtail). Page is already unpublished (and redirect is done) but I don't have the permission to del

[2021-02-26 22:02] taisdesouzalessa commented on #6108
Eeva approved the page.

Did all the steps highlighted in the ticket but I don't have permission to delete the page. Created a new ticket to engineers to do this last step:  #6264.

This task is now done in our end!

[2021-02-26 22:02] #6108 closed

[2021-02-26 22:17] mmmavis opened #6265 "Bumps eslint-config-prettier from 7.2.0 to 8.1.0."
Dependabot PR: #6252

[2021-02-26 22:19] mmmavis opened #6266 "Bumps svgo from 1.3.2 to 2.1.0."
Dependabot PR: ~~#6253~~ #6343

[2021-02-26 22:20] mmmavis opened #6267 "Bumps faker from 4.14.1 to 5.8.0."
Dependabot PR: #6139

[2021-02-26 22:21] mmmavis opened #6268 "Bump browserslist from 4.16.1 to 4.16.3"
Dependabot PR: #6133

[2021-02-26 22:24] mmmavis opened #6269 "Bumps coveralls from 2.2.0 to 3.0.0."
Dependabot PR: https://github.com/mozilla/foundation.mozilla.org/pull/6316

[2021-02-26 22:26] mmmavis commented on #6150
Done. I've merged all non-breaking dependabot PRs and created corresponding tickets for the rest (#6265 to #6269). Project board has been updated as well: https://github.com/mozilla/foundation.mozilla.org/projects/21

[2021-02-26 22:26] #6150 closed

[2021-02-27 10:23] lydell commented on #6265
Alternatively, you might be able to remove eslint-config-prettier altogether. You seem to [_only_ extend `"prettier"`](https://github.com/mozilla/foundation.mozilla.org/blob/537c3514096942e75cba8fde29c5b5ad7cb892d2/.eslintrc.json#L3), so it doesn’t make a difference.

[2021-03-01 16:57] taisdesouzalessa commented on #6050
This is done and we can now use it as a reference when designing our hero image for the homepage.

[2021-03-01 16:57] #6050 closed

[2021-03-01 17:18] KalobTaulien opened #6275 "Create an image block for Article pages"
Editors need a way to show images with a caption. Instead of overwriting wagtail core features, let's create a new image block for full width images. This shouldn't be confused with the ultra-wide image that's currently available that reaches both edges of the screen. This new image block should be the equivalent of selecting a "full width" image in the rich text editor, with the option to add a c

[2021-03-01 17:18] KalobTaulien commented on #6209
Note: I asked the wagtail core team what they think and they agree that we should create a new image block instead of overwriting the images in the richtext field. I'm going to close this ticket in favour of #6275

[2021-03-01 17:18] #6209 closed

[2021-03-01 17:32] taisdesouzalessa opened #6276 "[IA Refresh] Action item - share results"
**Background:**
Now that we have [compiled the results](https://docs.google.com/document/d/12Lk9ObtT7robD76gPUDGiDW1LeFMtfM5zX6JnIlwfF0/edit?usp=sharing) of our IA refresh (measuring success) it is time to take action: spread the word to staff

**To do:**
- [x] Spread the word to staff. Ideas: we shared a bit of those results in the monthly staff call already.

- [x] Do a "case study" video (tying

[2021-03-01 17:33] taisdesouzalessa commented on #5776
This is done. Created a follow up ticket here for action items based on this report: #6276

[2021-03-01 17:33] #5776 closed

[2021-03-01 17:55] Pomax opened #6278 "Add a new CI task that actually tests pages"
We currently have a Cypress CI task set up that exists purely to take snapshots for Percy to then look at. However, we should create a separate Cypress CI task to actually test our end points: do the pages exist? Do all their CSS and JS requirements load? etc.

Not having this caught us out because a build rewrite changed the build for "mozfest.compiled.js" to "index.compiled.js" and this caused t

[2021-03-01 18:10] kristinashu opened #6279 "Make the title in "Recent blog entries" component an optional field"
Currently the title field is required but sometimes the blog posts are self explanatory and I title is not needed.

- [x] Make the "Title" field an optional field

Screen cap from prod:
<img width="763" alt="image" src="https://user-images.githubusercontent.com/1068783/109539434-2c20aa80-7a76-11eb-8fe6-174e9ced2d54.png">

cc @benhohner

[2021-03-01 19:56] mmmavis commented on #5993
PR has been merged into `wagtail-localize` 🎉

[2021-03-01 19:56] #5993 closed

[2021-03-01 21:22] benhohner commented on #6204
Related to #6275

[2021-03-01 21:29] benhohner commented on #6184
File a PR upstream with fix, @KalobTaulien to ping wagtail core dev to accept PR

[2021-03-01 21:35] kristinashu commented on #6225
Going with this direction https://foundation.mozilla.org/en/campaigns/election-integrity-and-platform-accountability-v2/

Kaili/Jon will update it with intro text and Nat will create the graphics.

[2021-03-01 21:35] #6225 closed

[2021-03-01 21:37] kristinashu commented on #6122
Did they get the draft content in?

[2021-03-01 21:38] kristinashu commented on #6118
Do they have an updated timeline for this?

[2021-03-01 21:38] kristinashu commented on #6129
Any idea when this will be unblocked?

[2021-03-01 21:39] kristinashu commented on #6132
Any update on this timeline?

[2021-03-01 21:52] benhohner opened #6281 "Create Onboarding doc For Daniel"
* Dev environment setup
* Invite to Slacks
* Invite to GH Orgs

List of all docs locations
- wiki’mo
- Mana
- Fo’mo

- https://foundation.mozilla.org/en/docs/how-do-i-wagtail/
- https://foundation.mozilla.org/en/docs/process/

Drive

- https://docs.google.com/document/d/13-Xr2FwwTy5xib0OV31YO40wgplUNh_Gf41Ehuqm-hs/edit
- https://docs.google.com/spreadsheets/d/17xAYK0hNbTxvjv3QDvr59xM1pB3tRBy45XyZ3

[2021-03-01 21:59] kristinashu commented on #5906
@sabrinang could you please estimate on how much work you think this is?

[2021-03-01 22:04] benhohner commented on #6256
@mmmavis to pair with Daniel on this

[2021-03-01 22:04] kristinashu commented on #5800
@sabrinang is there a way to break up this work into smaller tickets? 16 story points is probably too big for one ticket.

[2021-03-01 22:07] benhohner commented on #6279
@pomax to pair with Daniel on

[2021-03-01 22:08] taisdesouzalessa commented on #6122
Yep! Mehan pinged me today the placeholder content is there. Removing the tag "blocked" from this ticket.

[2021-03-01 22:08] kristinashu commented on #6022
No longer needed.

[2021-03-01 22:08] #6022 closed

[2021-03-01 22:11] benhohner commented on #6197
@Pomax to pair with Daniel

[2021-03-01 22:13] kristinashu commented on #5846
@sabrinang is there actually any design required for this? Or it is just about you giving the go ahead that this should be implemented?

[2021-03-01 22:13] benhohner commented on #5646
Need to find date to do this

[2021-03-01 22:13] taisdesouzalessa commented on #6129
Kathy is currently working with another person to populate these pages. @kathytpham I think we will move this task to our side queue until all the copy is published. Does that work for you, Kathy? We went as far as we could with this task and now we just need to do a final review once all content is in place.

@kristinashu if Kathy agrees with the above, we can put this task in the "Icebox" until

[2021-03-01 22:14] benhohner commented on #6059
Kalob to investigate since version bumped

[2021-03-01 22:19] taisdesouzalessa commented on #4674
not relevant anymore. We skipped this task and did user testing on the live site, once changes were already implemented.

[2021-03-01 22:19] #4674 closed

[2021-03-01 22:23] kristinashu commented on #5950
Ok thanks Mavis!

R+ on this Sabs!

[2021-03-01 22:25] kristinashu commented on #6200
I think design has done everything they can do so I'm going to remove Sabs and I from this ticket. Please re-assign or open a follow-up ticket if you any additional design is needed.

[2021-03-01 22:33] marcwalsh opened #6282 "Add Link to MozFest Schedule on Top Nav of MozFest Website"
Could the top nav of mozillafestival.org be updated to add a link to the MozFest Schedule?

The title should be 'Schedule' and links to schedule.mozillafestival.org

Thank you!

[2021-03-01 22:39] taisdesouzalessa opened #6283 "[YouTube Campaign Working Group] Design tasks"
**Background:**
Théo and Taís were asked to come up with some ideas for the YouTube Working Group

**To do:**
- [x] Review findings of YouTube Regrets report. [Add our highlights here](https://docs.google.com/document/d/1mrTq1HLqbFSxU9RpvZ3VtFT-3u-t5w5ozemhYgaquDw/edit?usp=sharing).
- [x] Collect benchmarks. [Collect them here](https://docs.google.com/presentation/d/1uP90lq-oQtJOqpe5SpxlvINqJMNLHb

[2021-03-01 22:56] benhohner commented on #6282
@taisdesouzalessa @sabrinang Can either of you please reach out to Marc to discuss nav changes and validate before we implement?

[2021-03-01 23:00] Pomax commented on #6223
I've set up a test page over on https://foundation.mofostaging.net/en/insights/iframe-test-publication/iframe-article/ but it's currently simply pointing to the base bucket location, which means it's only serving the "you don't have access to this" page =)

Did we put any content up on AWS already for testing purposes? If so we can update the iframe URL on https://foundation.mofostaging.net/cms/pa

[2021-03-01 23:13] sabrinang commented on #6282
I can help with this ticket — self-assigning so I can keep tack too

[2021-03-01 23:15] #5812 closed

[2021-03-01 23:17] Pomax opened #6284 "run `inv manage migrate_cloudinary` against staging"
Follow-up to #6248 - pre-prod-run test to make sure it actually did what we printed on the tin.

[2021-03-01 23:22] sabrinang opened #6285 "[Publications] Implement revised text size/colors to improve constrast/legibility"
based on https://github.com/mozilla/foundation.mozilla.org/issues/5950#issuecomment-786282143

Areas of improvement are:
- [x] version/date & document size from `#999999` → `#cccccc`
- [x] breadcrumb from `12px` `#b7b9fa` → `16px` `#e7e7fc`
- [x] summary anchor links from `#666666` → `#333333`
- [x] previous/next from `#666666` → `#333333`

<img width="1230" alt="image" src="https://user-images.gi

[2021-03-01 23:23] sabrinang commented on #5950
Great thank you both! Created dev issue here https://github.com/mozilla/foundation.mozilla.org/issues/6285

[2021-03-01 23:23] #5950 closed

[2021-03-02 00:15] sabrinang commented on #5846
@kristinashu The design for this was mocked up previously https://share.goabstract.com/c5b5156f-9bb9-4147-a45d-0bf020c0c76b?collectionLayerId=82da8aba-b9f0-4507-b7f0-6475b14b2b19&mode=design

Since the numbers have conflicted with numbering in the content use cases so far, I'd have the numbering toggle off by default if implemented. There hasn't been urgent need for this request so not a high prio

[2021-03-02 00:16] Pomax commented on #6284
@KalobTaulien do we want to update this command so that it creates the images in a get-or-create PNI collection?

[2021-03-02 01:18] kristinashu commented on #5846
Chatted with Sabrina over slack about this. We decided that since this feature has not come up in any other use case and we don't want to unnecessarily over complicate the cms, we will close this and re-open it if the need arises.

[2021-03-02 01:18] #5846 closed

[2021-03-02 05:46] natalieworth commented on #6201
Evergreen [graphic direction](https://redpen.io/p/zgc8e9d09d7a000638) is started here for 2021

[2021-03-02 15:11] #6191 closed

[2021-03-02 15:17] KalobTaulien commented on #6284
@Pomax Yes I'll add that into this management command. Putting images into Collections is a good idea!

[2021-03-02 16:41] KalobTaulien commented on #6064
We're going to need to do some Locale searching to make PNI work properly. I created a category called "Kalob Test" and translated it into Spanish, called "Kalob Test (ES)".

One product in "Kalob Test" and one product in "Kalob Test (ES)".

Both translations show up in the category menu. We'll need to write some locale detection for that context data in the view (Page).

Also products become dupl

[2021-03-02 16:52] KalobTaulien commented on #6183
Hey @TheoChevalier So QuoteBlocks are supported, but we're dealing with a ListBlock here which is _not_ supported.

The next best thing we can do it convert ListBlocks into StreamBlocks (because StreamBlocks are supported). There's hope that one day ListBlocks will be supported.

I'm going to move this back to "needs discussion" so we can talk about moving forward with this ticket.

/cc @Pomax @Th

[2021-03-02 16:53] benhohner opened #6287 "Make sure Onboarding doc up to date with Developer information"
- [x] @mmmavis  spend some time updating sections here https://docs.google.com/document/d/1vl0cSYISNIVUthrr23Q2eJsjF1pUF5XdT5HG9tG4HwQ/edit#
- [x] @KalobTaulien   spend some time updating sections here https://docs.google.com/document/d/1vl0cSYISNIVUthrr23Q2eJsjF1pUF5XdT5HG9tG4HwQ/edit#
- [x] @Pomax   spend some time updating sections here https://docs.google.com/document/d/1vl0cSYISNIVUthrr23Q2eJ

[2021-03-02 17:05] Pomax commented on #6183
What is the _reason_ listblock doesn't work, though? nesting is arbitrary by design, what part of wagtail-localize is having trouble with this? Is it that it can't figure out how deep it needs to go? (e.g. is it not consulting the class/field relations?)

[2021-03-02 17:06] jamilasnell commented on #4787
re-estimating to 0 for Mar 15th sprint as it is just being reviewed

[2021-03-02 17:08] jamilasnell commented on #6114
2 hours already spent on this, 4 in total spent on this issue

[2021-03-02 17:11] jamilasnell commented on #6223
60% already done coming into March 15th sprint

[2021-03-02 17:15] benhohner opened #6288 "Investigate Commenting solutions"
- [x] Reach out to commento developer
- [x] Reach out to Coral hosted

[2021-03-02 17:25] #6205 closed

[2021-03-02 17:27] taisdesouzalessa commented on #4483
Since we have an Audience working group in 2021 this ticket is no longer relevant. The working group will come up with a process to gather insights about our target audience. Closing this ticket.

[2021-03-02 17:27] #4483 closed

[2021-03-02 17:29] taisdesouzalessa opened #6289 "[Housekeeping] Clean up old tickets"
**Background:**
Take a look at all GH old tickets assigned to me and:

- [x] Close the ones that are no longer relevant
- [x] Rewrite/update the ones that should stay

[2021-03-02 17:31] mmmavis opened #6290 "Errors with Sentry POST call"
<img width="787" alt="image" src="https://user-images.githubusercontent.com/2896608/109689145-dca3b280-7b39-11eb-879b-7979dca01f5f.png">

[2021-03-02 17:32] jamilasnell commented on #6285
Pairing with Daniel

[2021-03-02 17:38] taisdesouzalessa opened #6291 "[Who we are page] Updates: connecting it with our wiki"
**Background:**
Based on the latest email Lainie sent us "Our Mozilla Foundation wiki refresh", we will have a [constantly updated Wiki](https://wiki.mozilla.org/Foundation) from now on. It is a good opportunity to do small updates on our "Who we are page", linking to the wiki for those who seek deeper understanding of the work we do:

**To do:**
- [x] Link to the wiki from the overview page. Perh

[2021-03-02 17:39] jamilasnell commented on #6204
Mavis will talk to Kristina and Sabrina and make time for a chat

[2021-03-02 17:42] TheoChevalier commented on #6183
Hm, looks like it’s covered by https://github.com/wagtail/wagtail-localize/issues/22 with a Wagtail fix detailed in this RFC https://github.com/wagtail/rfcs/blob/listblock/text/065-listblock.md

[2021-03-02 17:42] jamilasnell commented on #6250
@sabrinang is this something that needs to be done this sprint? Or can we push this back to the next one?

[2021-03-02 17:47] mmmavis commented on #6204
@kristinashu I'm wondering what the specs for this image block would be. i.e., how wide the image container should be? mockups? what CMS page types do we wanna enable this new block on ... etc.

[2021-03-02 17:49] #6207 closed

[2021-03-02 17:58] sabrinang commented on #6250
@jamilasnell  Some of the content that I’ve seen from data futures lab gdocs had tables originally has hyperlinks in them and the simple table https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/alternative-data-governance-approaches-global-landscape-scan-and-analysis/preface/ currently doesn’t have them. That team hasn’t flagged this as I was the one that put the content in bu

[2021-03-02 18:09] jamilasnell commented on #6246
Moving to after MozFest

[2021-03-02 18:23] jamilasnell commented on #3175
@benhohner do you want to talk this one through? Why was this moved out of Icebox?

[2021-03-02 18:35] sabrinang opened #6292 "[Working Group] AI+Bias Review Ideas and Gather Examples"
I need to catch up reading proposal ideas and gather examples for the meeting today.

[2021-03-02 19:08] taisdesouzalessa opened #6293 "[URL structure] Update current URLs"
Since our last URL structure update, many URL changes happened to our site. We updated many of them using the [structure plan](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing).

Now it is time to update the map to reflect that.

**To do:**
- [x] Update this spreadsheet with the latest URLs (second tab)
- [x] Take notes of any issues found (throu

[2021-03-02 19:08] kristinashu commented on #6204
What is the scope for this? It seems like at the very least we want this for the new data visualization component - the more refined specs might come out of https://github.com/mozilla/foundation.mozilla.org/issues/6192. My assumption is that the image container would either match the Publications version of "wide" or the version of "wide" used on all our other templates. Design would need time to

[2021-03-02 19:16] taisdesouzalessa opened #6294 "[URL Structure] Initiatives pages"
**Background:**
We currently have 31 pages under the URL "Initiatives" (which is a path that have been deactivated since the IA refresh)
<img width="1347" alt="Screen Shot 2021-03-02 at 11 10 30 AM" src="https://user-images.githubusercontent.com/22157921/109701545-ff3cc800-7b47-11eb-924d-94c310738a27.png">

**To do:**
- [ ] Figure out (together with team/other teams) what is the best place to hous

[2021-03-02 19:26] taisdesouzalessa opened #6295 "[URL Structure] Advocacy and Campaigns URLs"
**Background:**
From the [mapping on this spreadsheet (2nd tab)](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit#gid=1738216336) we see that we have both "advocacy" and "campaigns" as a path for our work.

- [ ] Figure out with Advocacy team about their future plans and thinking
- [ ] Improve the connections of those 2 paths (/advocacy and /campaign): what

[2021-03-02 19:33] taisdesouzalessa opened #6296 "[URL Structure] Redirect mapping: "who we are", "press center", "what we do" and "artifacts""
**To do**

- [ ] Figure out with design team what is the best approach for "press center" and "artifacts"
- [ ] Update the URLs as per notes from [this spreadsheet](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing) - rows 7 to 20
- [ ] Update redirect map: "who we are", "press center", "what we do" and "artifacts"

[2021-03-02 19:39] taisdesouzalessa opened #6297 "[URL Structure] Insights and Data Futures Lab"
--
BLOCKED: depending on Insights Publications (2 studies) being published.
--
**Background:**
Cells 28 to 41 from [this spreadsheet](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing)

**To do:**
- [x] Update URL mapping for Data Futures Lab and Insights.
- [x] Do the redirects as needed.

Note: this work in in progress in the following sprint so

[2021-03-02 19:40] benhohner commented on #3175
T'was my accidental clicking. See MELT for more discussion!

[2021-03-02 19:43] taisdesouzalessa opened #6298 "[URL Structure] Fellowships and Awards Hub"
- [ ] update the URL redirect map here (third tab): https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing

[2021-03-02 19:45] jamilasnell commented on #4984
@kristinashu Would you be able to give guidance around what should happen to current titles with more than 80 characters?

[2021-03-02 19:47] taisdesouzalessa opened #6299 "[URL Structure] Newsletter and Giving"
Cells 62 yo 68 of [this spreasheet](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing)

**To do:**
- [ ] make sure all redirects are in place and update redirect map - third tab from this spreadsheet: https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing

[2021-03-02 19:50] taisdesouzalessa opened #6300 "[URL structure] "What you can do", "blogs", "docs""
From this spreadsheet: 59 to 77 - https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing

**To do:**
- [ ] URL changes as per notes + discussion with designers to see if they agree
- [ ] Update URL mapping
- [ ] Decide what to do with this URL: https://foundation.mozilla.org/en/style-guide/

[2021-03-02 19:55] taisdesouzalessa commented on #5068
Broke down this ticket in some manageable pieces:
- [URL structure] Update current URLs [#6293](https://github.com/mozilla/foundation.mozilla.org/issues/6293)
- [URL Structure] Initiatives pages [#6294](https://github.com/mozilla/foundation.mozilla.org/issues/6294)
- [URL Structure] Advocacy and Campaigns URLs [#6295](https://github.com/mozilla/foundation.mozilla.org/issues/6295)
- [URL Structure]

[2021-03-02 20:19] kristinashu commented on #5068
Wonderful, thank you Tais!

Do you want to turn this into an Epic and then add the tickets you just opened to it?
<img width="348" alt="image" src="https://user-images.githubusercontent.com/1068783/109709558-83e01400-7b51-11eb-8981-23f0cd3c696b.png">

[2021-03-02 20:24] kristinashu commented on #4984
Existing titles are fine as is. Limit can just be fore new or edited titles.

[2021-03-02 21:01] kristinashu opened #6301 "Pre-launch checklist of platform tracker"
Hub https://foundation.mozilla.org/en/campaigns/election-integrity-and-platform-accountability
- [x] Remove password
- [x] Update copy (intro text, title for blog posts, share text under the promote tab) (Jon/Kaili)
- [x] Make sure "Recent blog entries" component is using the tag "platform policy tracker" so they appear on this page
- [x] Update banner image
- [x] Update share graphic

Each post
-

[2021-03-02 21:06] KalobTaulien commented on #6183
It's because ListBlocks don't have unique ID's for the items in each one of them (I believe). So there's no clear and streamlined way to extract items out of a ListBlock, translate it, and inject it back into its proper spot. At least that was my understanding of it.

The idea is to hopefully improve ListBlocks in Wagtail Core so this can be supported. There's a Wagtail Core RFC that's relatively

[2021-03-02 21:08] sabrinang commented on #6292
Research topic: AI Bias in Job Hiring
- Look into how does bias creep in? _(data sets, system design etc.)_

Formulate 3-5 questions for quiz:
- What are some questions we’ll ask people about how they think about AI? _(expectations vs reality)_

Collect links and share on slack or google doc
- share anything else that looks like we can dive deeper into research

[2021-03-02 22:11] taisdesouzalessa commented on #5068
I think this is a great idea. To keep them all tied together! Tks for the suggestion.

[2021-03-02 22:20] kristinashu commented on #5800
Moving this to Mar 15 milestone. The work for that milestone will be to break this up into smaller tickets. Reducing the estimate for it because it doesn't actually include the work anymore.

[2021-03-02 22:24] taisdesouzalessa opened #6303 "[IA Refresh] Action item - site improvements recommendations"
**Background:**
Now that we have [compiled the results](https://docs.google.com/document/d/12Lk9ObtT7robD76gPUDGiDW1LeFMtfM5zX6JnIlwfF0/edit?usp=sharing) of our IA refresh (measuring success) it is time to take action: decide the improvements we want to make in our site based on our learnings.

**To do:**
- [ ] Take the recommendations we have from the report, label them into categories "design",

[2021-03-02 23:18] taisdesouzalessa commented on #6293
Done! closing this ticket.

[2021-03-02 23:18] #6293 closed

[2021-03-02 23:21] sabrinang commented on #6282
@marcwalsh
What do you think about if `Schedule` link becomes the new CTA external link button? Tickets is already the second item in the navigation so it will save some horizontal space and the schedule links externally _(all the other nav links are within the site)_:
<img width="1566" alt="image" src="https://user-images.githubusercontent.com/2492510/109727240-d416a080-7b68-11eb-9d97-e7dc2ed488c

[2021-03-02 23:27] Pomax commented on #6223
@benhohner turns out that we can't use the private repo for this: private repos are plan based, and we don't have a plan with github actions enabled. We could make the sync happen based on a dir in the foundation repo instead, with the github action set to monitor that particular dir for changes in order to kick off an s3 sync?

[2021-03-02 23:28] kristinashu opened #6304 "Comment box should only appear if the box is check in the CMS"
Commento is showing up on all our blog posts. It should only show up if the check box is checked in the cms.

- [x] Comment box appears when the cms box is checked
- [x] Comment box is hidden if box is not checked (default)

Screen cap of the checkbox.
![image](https://user-images.githubusercontent.com/1068783/109728667-82bbe080-7b6b-11eb-91a8-076737cb798b.png)

[2021-03-02 23:30] Pomax commented on #6195
I am in communication with the Percy folks (via Browserstack) to understand why it's so horrible broken for us.

[2021-03-02 23:31] Pomax commented on #6148
blocked by the github actions not being available for private repos, see #6223

[2021-03-02 23:35] mmmavis opened #6305 "Replace all <figurecaption> instances with <figcaption>"
Replace all `<figurecaption>` instances with `<figcaption>`... because `figurecaption` does not exist as a standard HTML tag 😂

Note: remember to check SCSS code as well

[2021-03-03 00:14] sabrinang opened #6309 "[Publications] Design Review + Support"
Provide design support for developers and this may include general design reviews of PRs, QA, and answering questions too as we review.

[2021-03-03 00:14] #6309 closed

[2021-03-03 00:16] Pomax commented on #6284
staging with PNI image collection works, so we just need to run this against prod now.

[2021-03-03 00:20] taisdesouzalessa commented on #6122
Added comments to Figma file: https://www.figma.com/file/AABYnCVDRDfyMSyyTYiGAH/URL-plan-Mozilla-Research?node-id=141%3A3 - I have lots of suggestions to improve the UX so sent a note to Mehan if we can talk about my suggestions and see what he thinks.

[2021-03-03 00:26] #6251 closed

[2021-03-03 00:35] sabrinang commented on #5800
**Note:** I got some metrics from Tais when we worked on staff call presentaton so capturing it in this ticket for future reference as it relates to UX and flow of publications as well:

- /en/insights/ai-whitepaper" had around 44.5% pageviews coming from mobile (which is a big number and raises the need for a better mobile experience than PDF can provide)
![image](https://user-images.githubuserco

[2021-03-03 16:47] kathytpham commented on #6129
Yes, that works, I think! We actually added all the sections (we have 4 more pending but they will need some copy edits, and they follow the format of the others). We then will update the Topics and Overview pages with more content, and then should be done!

We also need to make sure all the links to the playbook work as well.

[2021-03-03 16:55] taisdesouzalessa commented on #6129
Cool! Thanks Kathy :) Please ping us here once it is all done and then we will fit this task into the most suitable sprint.

Our sprints run from 2 to 2 weeks (so we just take new projects every 2 weeks) so please keep in mind this timeline when planning the launch of the playbook. This sprint started on March 2nd and goes until March 15th - the next sprint is from March 16th to 29th and so on.

W

[2021-03-03 17:00] kathytpham commented on #6129
Thank you for this update! We have a MozFest panel on March 17th, so we will share the playbook with a small group then. We are working with the comms team on a launch plan. It sounds like we should plan for sometime March 16th-29th for full launch?

[2021-03-03 17:05] #6304 closed

[2021-03-03 17:08] benhohner commented on #6149
Waiting on Marc to provide feedback on nav

[2021-03-03 17:09] jamilasnell commented on #6118
"The movement analysis will take a longer while till we are clear to move content online (at least 2-3 weeks) so you can unblock Sabrina on it." Probably week of the 15th, they will move content online

[2021-03-03 17:09] jamilasnell commented on #6194
"The Data Futures part will be moved this week (first part) so we can plug it into the Data futures Lab website that will be launched at Mozfest. And then the second part will be probably moved in the week of the 15th so we can launch on March 24."

[2021-03-03 17:09] jamilasnell commented on #6132
"The Data Futures part will be moved this week (first part) so we can plug it into the Data futures Lab website that will be launched at Mozfest. And then the second part will be probably moved in the week of the 15th so we can launch on March 24."

[2021-03-03 17:18] taisdesouzalessa commented on #6194
@jamilasnell moving this one back to March 15th because this ticket isn't related to the Insights Team project we discussed. This is a ticket for the work with the Data Futures Lab :). Just 2 considerations so I don't forget.

[2021-03-03 17:22] benhohner commented on #6223
Made repo public.

[2021-03-03 17:32] kristinashu commented on #4103
We have the go-ahead from Anil to remove this snippet from the entire site!

[2021-03-03 18:29] kristinashu opened #6310 "Remove ability to add sub-pages to blog posts"
Noticed a staff member added a blog post as a sub-page of another blog post. It seems like it still worked normally but it made it hard to find that sub-post. I don't think blog pages should have the ability to have sub-pages.

- [ ] Remove ability to add sub-pages to blog posts

Screen cap from production showing how sub-pages are possible
<img width="1024" alt="image" src="https://user-images.gi

[2021-03-03 18:36] kristinashu commented on #6310
Note: clicking on Add Child Page shows **all** the options 😭

<img width="431" alt="image" src="https://user-images.githubusercontent.com/1068783/109854732-3ecce800-7c0c-11eb-8735-2b060f070a0c.png">

[2021-03-03 18:43] mmmavis commented on #6204
I'm unsure about the scope of this ticket. I think this was emerged from another convo (which I couldn't recall what now) so I created this placeholder ticket.

From implementation point of view, ideally we would want things to stay within the Bootstrap container so we don't have to come up with hacky way to make wide images to work (like the ones on Publication pages). I'm opposed to making most

[2021-03-03 18:56] sabrinang opened #6311 "[Publications] Preface Text and Publisher's Note Options"
Eeva has surfaced that previously when users arrive at the publication there the headline and an instant overview of what you clicked on: https://foundation.mozilla.org/en/initiatives/data-futures/what-could-go-wrong/

So for publication template, they would like to have the option for preface, explainer text after the heading and before the table of contents before jumping in.

I believe this usa

[2021-03-03 19:06] kristinashu commented on #6204
Sorry I think I used the wrong terminology. I wasn't proposing to break away from our existing grid. By "full width" I actually meant "full-width container".

For example, right now we have the "Narrowed page content" checkbox. I'm assuming "full-width container" means the components would look as they do when that box is not checked.

<img width="955" alt="image" src="https://user-images.githubus

[2021-03-03 19:15] Pomax commented on #6223
@benhohner  in terms of `validate files`, do we want to run things through linters, too, to make sure that in addition to "safe" it's also "correct"?

[2021-03-03 19:34] Pomax commented on #6223
Test pages:

- https://foundation.mofostaging.net/en/insights/iframe-test-publication/iframe-article/
- https://foundation.mofostaging.net/en/insights/iframe-test-publication/iframe-article-graphics/

[2021-03-03 19:39] Pomax commented on #6223
For mobile views, the graphics code itself probably needs massaging, because even at full-device-width this would not look good:

![image](https://user-images.githubusercontent.com/177243/109862300-23b2a600-7c15-11eb-8d3f-c3c57da1a6e6.png)

[2021-03-03 19:45] #2968 closed

[2021-03-03 19:49] Pomax commented on #3173
closing as old work, let's file a new issue for this, with fresh investigation of the work involved, if we want to surface tags in the future.

[2021-03-03 19:49] #3173 closed

[2021-03-03 20:21] KalobTaulien opened #6313 "Remove old BuyersGuideProductCategory model"
We need to remove the old BuyersGuideProductCategory model. There are some intricacies with this, such as imports, factories and tests that rely on the old model.

We'll likely just need to update most of the imports to import from wagtailpages.BuyersGuideProductCategory instead of the old model.

Dependency on #6012

Acceptance criteria:
- [ ] Remove old BuyersGuideProductCategory code.
- [ ] Swa

[2021-03-03 20:21] KalobTaulien commented on #6012
Opened #6313 to remove old BuyersGuideProductCategory model code.

[2021-03-03 20:31] #6278 closed

[2021-03-03 21:16] #6305 closed

[2021-03-03 23:39] mmmavis commented on #6025
@Pomax

Could you clarify what you mean by "BuyersGuidePage's CMS admin page"?  Were you thinking about adding a new type of snippet? A new field in "Buyers Guide Product Categories" snippet? Or?

[2021-03-04 17:05] benhohner commented on #6264
@taisdesouzalessa I granted you admin permissions. Can you try deleting now?

[2021-03-04 17:06] #6223 closed

[2021-03-04 17:08] #6275 closed

[2021-03-04 17:11] sabrinang commented on #6282
@marcwalsh would the book be linked from the primary nav as well or is that accessed elsewhere from the site?

[2021-03-04 17:44] #6199 closed

[2021-03-04 18:18] Pomax commented on #3175
can we close this issue and file a new one when there is an SEO strategy that we want to action on?

[2021-03-04 18:29] Pomax commented on #4103
nice! marking this as good first bug, so we can assign it to Daniel as some of his first work.

[2021-03-04 18:33] Pomax commented on #6025
@mmmavis I've updated the initial comment, is that clearer?

[2021-03-04 20:08] taisdesouzalessa commented on #6122
This is done and I sent a note to Mehan highlighting the work done: https://foundation.mozilla.org/en/data-futures-lab/learning/

I'll leave this ticket open because we need to collect feedback from the team and do tweaks if needed.

[2021-03-04 22:04] taisdesouzalessa opened #6319 "[Insights team: Data Futures Lab] Publications images support"
**Background:**
As the Insights Team populates the Publications templates, they will need design support for the images (hero background images and Publications square images). The current hero background images make legibility difficult and we need a system for the square images.

**Publication:**
(https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/what-helps-the-ecosystem-fo

[2021-03-04 22:29] Pomax commented on #6284
done running in production, too. turning off USE_CLOUDINARY in production.

[2021-03-04 23:05] taisdesouzalessa commented on #6264
Yes! Done. Thanks, Ben!

[2021-03-04 23:05] #6264 closed

[2021-03-04 23:18] kristinashu commented on #3175
Yup, I'll close this. Anil has re-surfaced a request in [Airtable](https://airtable.com/tbljPmOCkK9JShaTS/viwpFvt3FxiVannif/recX3Vd146Z116a1W?blocks=hide) which we can use for the high-level planning of this work.

[2021-03-04 23:18] #3175 closed

[2021-03-04 23:22] Pomax commented on #6284
This blew up - I've set both staging and prod to `USE_CLOUDINARY = True` again, and we'll have to do something about image rendition locks

[2021-03-05 16:07] KalobTaulien opened #6322 "Fix cloudinary migration command"
Previously when running `inv manage migrate_cloudinary` it was resetting the un-specific model data because it was using a parent class.

We need to adjust this so it uses the specific classes and doesn't reset the data on each page.

[2021-03-05 16:31] benhohner commented on #6301
@kristinashu Do we need to do anything else on our end for this? When's the launch date?

[2021-03-05 16:54] KalobTaulien commented on #6059
https://github.com/wagtail/wagtail/pull/6816 is merged into wagtail core. Along with Wagtail 2.11.16 version bump. I'll test this out with the new wagtail version on Monday.

[2021-03-05 20:41] mmmavis commented on #6204
Got it. Thanks for the helpful annotated screenshot. Glad we are not hoping to break Bootstrap container on most pages 😂

However, we'll still need to do a thorough audit on all blocks and page types as implementation can be different in each combined scenario. For example, for "narrow width page", we implemented it so that everything in the main body section is contained in a 8-column `div`. If w

[2021-03-05 21:57] sabrinang opened #6325 "[Publications] Add two new fields on Article Pages"
For the collection of [Data for Empowerment](https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/) reserach series, there are use cases and the request from Eeva/Solana to be able to add the publication date to the article page sections as well.

We should also include the "secondary subtitle" option where people can add additional information that goes with this date area too.

[2021-03-05 22:10] sabrinang opened #6326 "[Publications] H2 Anchor Links Break with Bold/Italic Applied"
H2 links auto-generate anchor links in the summary box and drop down. When other styling such as bold and italic are also applied with H2 the link doesn't jump down to the section when clicked.

This may be a bug as the links should still work. If we don't want people to use both as a practice we should make it more obvious as it isn't clear why sometimes H2s don't work.

[2021-03-05 22:14] mmmavis commented on #4984
@KalobTaulien need some pointers here. `title` is coming from `Page` so I don't know how to properly override it so `title` of `BlogPage` has 80 character limit. Also wondering if enforcing character limit will invalidate existing blog title that are longer than 80 characters? If so, how do we resolve tthis issue?

[2021-03-05 22:31] sabrinang opened #6327 "[Publications] Summary Link Order"
There's been feedback for adjusting the summary link order or format such as:

- [Data for Empowerment](https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/) research series, they want to be able to change the two columns to be vertically ordered not horizontal
- [Trustworthy AI whitepaper](https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/), Sarah W wanted t

[2021-03-05 22:37] mmmavis commented on #6265
@lydell nice! Thanks for the helpful info!

[2021-03-05 23:00] natalieworth commented on #6201
I updated the final designs for the banner and the [share image using inspiration](https://redpen.io/p/zgc8e9d09d7a000638) from the contractor assets and Audrey, Jen, and Lindsay preferred the more simpler banner option with the purple gradient over the 3-D images.

[Final images and working files are in here](https://drive.google.com/open?id=13_UsKqX_3z629tM3sEE-zY13thQlpVOv&authuser=natalie%40mo

[2021-03-05 23:00] #6201 closed

[2021-03-06 00:05] sabrinang commented on #6282
@marcwalsh mentioned via slack they'll change this over to the schedule being the CTA on Monday. He can change the CTA in wagtail.

[2021-03-08 15:06] benhohner commented on #6288
Waiting for commento response

[2021-03-08 16:11] kristinashu commented on #6301
Nothing else that I am aware of. Also not sure about the launch date. From our conversations it sounded like between Mar 3-10. cc @jamilasnell do you have any additional insights?

[2021-03-08 16:29] kristinashu commented on #6301
Pinged Kaili, they're removing the passwords now so it is all live now.

[2021-03-08 16:29] #6301 closed

[2021-03-08 16:40] kristinashu commented on #6204
Thanks Mavis! Would you have time to create a spreadsheet to audit all the possible combinations of components and templates? Then we can do through it all together and decide the widths for each.

I think the priorities are the iFrame and future graph embed component. Followed by Recent blog entries and Profile by id.

Priority for templates would be Publications and Blog pages. Followed by Banne

[2021-03-08 16:42] sabrinang commented on #6282
schedule has become the CTA on the website — closing issue.

[2021-03-08 16:42] #6282 closed

[2021-03-08 16:56] #6287 closed

[2021-03-08 18:14] taisdesouzalessa commented on #6122
Talked to Mehan and he thinks if there are tweaks required, it will mostly be stuff he can handle himself.
Closing this ticket then. Will open a new one if any work is required from us.

[2021-03-08 18:14] #6122 closed

[2021-03-08 18:17] jamilasnell commented on #6284
Moving up the estimate from 0 - 16 (this includes the amount of work that has already been done on it)

[2021-03-08 18:24] #6265 closed

[2021-03-08 19:23] Pomax opened #6338 "Add comment headings to pages with comments"
Partial fulfillment for #6200:

- [x] add "comments" heading to PNI product pages
- [ ] add "comments" heading to Blog pages, only visible for blog pages that have comments enabled through the CMS.

[2021-03-08 19:29] Pomax commented on #6200
I've filed #6338 to cover the heading, which is out content, and will move this issue into next sprint as it depends on commento getting back to us - and our decision on whether or not to stick with commento, too.

[2021-03-08 19:31] #6269 closed

[2021-03-08 19:40] #4787 closed

[2021-03-08 21:58] KalobTaulien opened #6339 "Bump wagtail version to 2.11.6"

[2021-03-08 22:30] KalobTaulien commented on #6059
This is almost unblocked. We just need to merge in #6340 for a Wagtail 2.11.6 version bump to solve the solution, and then we can commence work on this ticket again.

[2021-03-08 22:44] Pomax commented on #6255
Immediate steps:
- [ ] rewrite the list comprehension to a for loop with try/except checks around the "x in y" statements.
- [ ] forward those exceptions to Sentry, if sentry's active

[2021-03-08 22:44] Pomax commented on #6255
After these steps, I will move this issue into the backlog until there's new evidence we can act on =(

[2021-03-08 23:19] sabrinang commented on #6192
Mavis and I finished writing the data viz planning doc here: https://docs.google.com/document/d/1ySaJMH4mWxgZLqt7PvdVeNdS-IHekfKBYLF-ZSI9Nk4/edit?usp=sharing

@kristinashu @benhohner @Pomax please review the doc and leave any feedback for us.

[2021-03-08 23:48] kristinashu commented on #6192
Amazing doc! Also adding @KalobTaulien to this so he can review and add feedback.

[2021-03-09 17:21] Pomax opened #6344 "Fix the code around tags, to make the site responsive again"
We should find our taggit hotspots, and fix them:

![image](https://user-images.githubusercontent.com/177243/110510149-c22c8480-80b7-11eb-9bad-b9820fc0a38b.png)

- [x] find the places we're performing tag logic: foundation meta mixin
- [x] figure out how we can optimize that code: https://github.com/mozilla/foundation.mozilla.org/pull/6346
- [x] add Tags to our settings menu: see above PR

[2021-03-09 18:12] mmmavis commented on #6204
Bumped up the estimate to 4 as this ticket requires research/audit + implementation.

[2021-03-09 19:03] #6339 closed

[2021-03-09 21:09] KalobTaulien commented on #4984
@mmmavis The easiest way to do this would be to add a new "Bog Title" field (`CharField(max_length=80` for example). Then we can create a custom page property to check if there is a new Blog Title. Something like this:

[code]

This would prevent pages from being re-saved without a proper blog title, but support older pages that have longer titles. For the longer titles, we probably want to trunca

[2021-03-10 15:40] benhohner commented on #6149
@marcwalsh @sabrinang Can you provide feedback on where you'd like the book to be linked? I believe it's almost done being proofed

[2021-03-10 17:25] KalobTaulien commented on #6310
Some documentation with a code example around this: https://docs.wagtail.io/en/stable/topics/pages.html#an-example-wagtail-page-model

We're looking for `subpage_types` which is a list of page model types (either Classes or lazy-loading strings).

[2021-03-10 17:39] Pomax commented on #5495
Closing now that we're running Scout

[2021-03-10 17:39] #5495 closed

[2021-03-10 17:39] Pomax commented on #5882
closing as no longer required. The tests as they are in place now should be fine.

[2021-03-10 17:39] #5882 closed

[2021-03-10 17:44] #6012 closed

[2021-03-10 17:47] KalobTaulien opened #6347 "Consider using TAGGIT_CASE_INSENSITIVE = True"
Tags right now are case insensitive. So "stuff" and "Stuff" are different tags.

We should consider enabling `TAGGIT_CASE_INSENSITIVE = True` to avoid duplicate tags in the future.

[2021-03-10 17:57] Pomax opened #6348 "Update the blog "featured post" cards to have a uniform height"
we're currently only restricting featured blog images to a width 540px but with an unspecified height, which can lead to a blog page that looks like this:

![image](https://user-images.githubusercontent.com/177243/110674454-c2e01c00-8186-11eb-8415-ed3a35af3613.png)

Let's:

- [ ] determine the appropriate max-height for featured post images
- [ ] update https://github.com/mozilla/foundation.mozill

[2021-03-10 19:05] mmmavis commented on #6348
Looking at the list of image transformation options that Wagtail provides, I'm not sure if we can find a solution that works for all images. Most images will either get cropped, scaled, or resized (may or may not be processed proportionally) depending on the final specs we set.

Or we can combine both Wagtail image tag options + CSS, though I think for some cases the images are still gonna look fu

[2021-03-10 20:00] taisdesouzalessa commented on #4484
Since we have an Audience working group in 2021 this ticket is no longer relevant. The working group will come up with a process to gather insights about our target audience. Closing this ticket.

[2021-03-10 20:00] #4484 closed

[2021-03-10 20:02] taisdesouzalessa commented on #4508
this ticket was forgotten. I still think there is value on doing a dashboard so Xavier can see content performance (we are now meeting every 2 weeks instead of weekly). Will try to do an MVP of this. Adding it a stretch goal for this sprint.

[2021-03-10 20:05] taisdesouzalessa commented on #5716
@kristinashu do we have any new PNI hub coming up so we can try out the changes here? Or maybe we should do them to the current site? Not sure where we can fit this work.

[2021-03-10 21:14] taisdesouzalessa commented on #6289
done!

[2021-03-10 21:14] #6289 closed

[2021-03-10 21:30] KalobTaulien opened #6350 "`create_wagtail_image` function needs unit tests."
To ensure that `create_wagtail_image` always works the way we're expecting it to work in the future, we should write some unit tests.

Namely, we need to test:
- [ ] Fetching an image from a URL and saving it as a Wagtail Image (but have this disabled so CI doesn't take longer and download an image on every run, but can be tested locally)
- [ ] Fetching an image from a local resource (local file)

[2021-03-10 21:38] taisdesouzalessa commented on #6260
@benhohner[ I took a look at the list ](https://docs.google.com/spreadsheets/d/1xjOIxrYYf6VBPJsEUzIeSa2OoJhX1ad8s7LyBewYBXE/edit?usp=sharing)and found 4 categories of people:
1. People who are not Foundation employees anymore (I checked the box to remove their moderator privilege)
2. People who don't have a Mozilla Foundation email (highlighted them in yellow, leaving it up to you to decide to kee

[2021-03-10 21:38] #6260 closed

[2021-03-10 22:16] alihaiderrizvi commented on #6279
I'd like to work on this issue. Could you give me some pointers on where to get started? Thanks!

[2021-03-10 22:43] kristinashu commented on #6303
@taisdesouzalessa is there any way to break this up into a slightly smaller tickets?

[2021-03-10 22:46] kristinashu commented on #5716
This doesn't need to be blocked by a new PNI edition release, it could be done whenever we have time.

[2021-03-10 22:47] #4849 closed

[2021-03-10 22:53] kristinashu commented on #3646
Agree, I don't think button text should be that long (including the English version). @TheoChevalier are you ok to keep this as is but push for shorter button text in general i.e. just "Share your story"

[2021-03-10 23:47] Pomax commented on #5983
closing as duplicate of https://github.com/mozilla/foundation.mozilla.org/issues/5905

[2021-03-10 23:47] #5983 closed

[2021-03-11 05:02] mmmavis commented on #4984
@KalobTaulien I have a WIP PR up but after trying it out myself, I think having two title fields (`title` and `blog_title`) will confuse CMS users. Although we have 80-character limit on the `blog_title` field, it is marked as an optional field so I wonder if users will still choose `title` over `blog_title`. Another issue I bumped into is about meta tags. Do we override `wagtailmetadata_tags` som

[2021-03-11 16:42] Pomax commented on #6195
a back-and-forth is still ongoing, their support is just super slow now that it's browserstack. It takes them about a week to reply to an email, making the process agonizingly slow. I am marking this stretch just because I have no idea when this'll get done, and it's not critical.

[2021-03-11 16:47] Pomax commented on #5715
downgrading the estimate to a 2, but I might bump it down to a 1 depending on how long migration work takes.

[2021-03-11 17:39] Pomax opened #6352 "remove quotes from CSP values in env.default"
We had to put quotes around our env CSP values in the past in order not to get a million dotenv errors in Docker, but it looks like they've changed how that works yet again, and the combination of double and single quotes now breaks env var reading, causing the site to not load correctly because instead of `'self'` the browser now gets `"'self'`, which is an invalid CSP target.

- [x] update `env.

[2021-03-11 17:40] Pomax commented on #5715
downgrading to 1, Django was able to identify that this was a simple rename without needing migration surgery

[2021-03-11 19:47] mmmavis opened #6355 "Limit usage of !important in SCSS as much as possible"
There are quite a bit of [`!important` occurrences](https://github.com/mozilla/foundation.mozilla.org/search?q=%21important) in the codebase.
Let's do a cleanup and eliminate as many `!important` as possible in the CSS/SCSS code.

[2021-03-11 20:00] mmmavis commented on #6285
@sabrinang `#e7e7fc` is not a brand colour. Do we wanna make it "official" by adding it to the style guide? If so, could you provide a name for this new colour? Thanks!

[2021-03-11 21:05] sabrinang commented on #6285
Yes it would be good to add.
<img width="1243" alt="image" src="https://user-images.githubusercontent.com/2492510/110854457-da440580-8269-11eb-9eb5-eea39d681c2f.png">
I have to think about the naming convention but its two tints lighter than light blue we have _(the pni lilac is actual a tint in between)_. I don't want it to be a blocker @mmmavis if you have any suggestions to try? or we could ope

[2021-03-11 21:12] mmmavis commented on #6285
Ummmm I can make the codebase allow this one-off colour for now.

I will file a new ticket for cleaning up all custom colours in the codebase next sprint. There are at least 6 one-off colours now, 5 in [article-page.scss](https://github.com/mozilla/foundation.mozilla.org/blob/e62d219a68e89ea5252439a32d4d2cb0866b8f51/source/sass/components/article-page.scss) and 1 in [publication-page.scss](https:/

[2021-03-11 21:18] mmmavis opened #6356 "Get rid off all off-brand colours"
Related ticket: https://github.com/mozilla/foundation.mozilla.org/issues/6285#issuecomment-797052376

There are more and more one-off custom colours being used in the codebase. We should really stop adding those as they are violating our brand guide and making the codebase harder to maintain.

Let's clean them up by either replacing them with existing brand colours or turning them into official br

[2021-03-11 21:34] sabrinang commented on #6285
Yes thank you! I think you also filed https://github.com/mozilla/foundation.mozilla.org/issues/5906 before but has been stretch for a while so I haven't got to it

[2021-03-11 21:37] mmmavis commented on #6285
@sabrinang omg I was trying to look for that ticket but GitHub didn't return me anything when I searched for "custom" 🤔 .

I'm gonna close the new ticket I just created and update #5906  with more info then.

[2021-03-11 21:37] mmmavis commented on #6356
Closing. Dupe of #5906

[2021-03-11 21:37] #6356 closed

[2021-03-11 21:38] mmmavis commented on #5906
Self-assigned since I will most likely be the person working on this 😄

[2021-03-11 21:53] #6197 closed

[2021-03-11 22:40] #6279 closed

[2021-03-11 23:38] mmmavis commented on #6285
@sabrinang for breadcrumb -- do we want it to appear 16px for all screen sizes? Also wondering what line height we should set it to.

[2021-03-12 00:21] Pomax opened #6359 "Move ContentAuthor factory into its own file"
It's currently part of the blog factory, but should just be its own factory, triggered before the blog factories run.

[2021-03-12 20:39] kristinashu opened #6362 "Attend MozFest 2021: week 2"

[2021-03-12 20:40] kristinashu opened #6363 "Attend MozFest 2021: week 1"

[2021-03-12 22:45] mmmavis opened #6364 "Address warnings in a migration file"
Just spotted these warnings in Wagtail CI test:

<img width="886" alt="image" src="https://user-images.githubusercontent.com/2896608/111006245-4fced500-8341-11eb-8bdb-f14093cf23ef.png">

Link to migration file: https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/migrations/0002_auto_20200923_1817.py

[2021-03-12 23:33] danielfmiranda commented on #6310
Thanks for linking the docs Kalob! Just submitted a PR :)

[2021-03-13 00:03] taisdesouzalessa commented on #6283
Drafted 4 out of 5 ideas. Will finish the last one on Monday.

[2021-03-15 17:09] Pomax opened #6371 "Determine whether we still need Tags for our content, given what we use them for."
In order to make the site more responsive, we need to tighten up our blog pages, including the tag code, but this raises questions about what we want to do with tags: we currently use them to decide what qualifies as "related content" for blog/campaigns/etc, but we don't surface those tags on the site in any way, so as far as users are concerned: tags don't exist.

If we're only using them to gene

[2021-03-15 17:18] taisdesouzalessa opened #6372 "[YouTube Campaign Working Group] Tweaks based on Théo's feedback"
Théo and I:

1. Reviewed findings of YouTube Regrets report. [highlights here](https://docs.google.com/document/d/1mrTq1HLqbFSxU9RpvZ3VtFT-3u-t5w5ozemhYgaquDw/edit?usp=sharing).
2. Collected benchmarks [here](https://docs.google.com/presentation/d/1uP90lq-oQtJOqpe5SpxlvINqJMNLHbCa0fcqBZngJbE/edit?usp=sharing).
3. Came up with ideas for a creative campaign that helps to promote the findings and mot

[2021-03-15 17:18] #6310 closed

[2021-03-15 17:18] taisdesouzalessa commented on #6283
Ideas drafted. Waiting on Théo's feedback before sharing them with broader working group. Ticket #6372 is to cover that. This will be closed since all the tasks were done.

[2021-03-15 17:18] #6283 closed

[2021-03-15 17:41] sabrinang commented on #6285
@mmmavis Let's keep it the same at `line-height: 1.3333333` and yes we can keep it at 16px for mobile to desktop as well.

[2021-03-15 17:43] mmmavis commented on #6285
@sabrinang thanks!

@danielfmiranda you can use the `set-text-size` mixin for setting mobile/desktop font size and line-height.

[2021-03-15 18:06] taisdesouzalessa commented on #6297
This is done. Third tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/184z7LnHIghXDp2NIns4T8zlpBDAdaRFuPMUDX7ijHYY/edit?usp=sharing): cells 75 to 86. Once the second publication is published we will need to update 1 line of the spradsheet. I'll add this item in the Publication ticket.

[2021-03-15 18:06] #6297 closed

[2021-03-15 18:09] #6059 closed

[2021-03-15 18:53] #6322 closed

[2021-03-15 19:09] #6256 closed

[2021-03-15 19:39] Pomax commented on #6284
Updated result: this runs quite fine on staging, but loading the PNI homepage then causes page serving to time out due to watail trying to create image renditions when the PNI homepage gets requested.

[2021-03-15 19:42] KalobTaulien opened #6373 "Create a management command to pre-create PNI image renditions and PNI admin renditions."
When turning off cloudinary, we've run into a problem where 287 PNI images are trying to be resized all at once, and we hit out 30s timeout on Heroku.

We need a management command that will:
- [ ] Look for existing PNI products and programatically generate wagtail image renditions. This should include:
  - [ ] /privacynotincluded/ image, and
  - [ ] All of the images `pni images` collection in th

[2021-03-15 19:55] Pomax commented on #6284
See https://github.com/mozilla/foundation.mozilla.org/issues/6373

[2021-03-15 20:31] benhohner commented on #6204
This ticket is now for the audit.

We need wider, but still within bootstrap's constraints on page types:
- publications
- blogs

content types needed:
- image
- iframe

[2021-03-15 20:36] Pomax opened #6374 "Add caching for the atom/rss feeds to drive down their response times"
Similar to #6371 but for rss/atom feeds:

![image](https://user-images.githubusercontent.com/177243/111217950-5ce30280-8593-11eb-9d1d-204238c8bfd6.png)

[2021-03-15 20:36] KalobTaulien opened #6375 "SPIKE: Look into codered's wagtail caching package to see what we can benefit from"
Specifically we want to look into full page caching, or something close to that.

The idea is to sleep up page delivery by reducing the number of queries on each page whenever possible, without having to write a plethora of code.

Acceptance criteria:
- [x] Investigate this package: https://github.com/coderedcorp/wagtail-cache

[2021-03-15 20:43] mmmavis opened #6376 "Create GitHub issue template for handling Dependabot PRs"
... so we can use it every sprint to create ticket to track the time we have spent updating dependencies.

[2021-03-15 20:55] benhohner commented on #4984
Create List of potential solutions and discuss with a designer
- [ ] @mmmavis
- [ ] @Pomax
- [ ] @danielfmiranda
- [ ] @KalobTaulien

https://docs.google.com/document/d/15p2r4mKZn76raj8eqv-UadFNFP_6y1jSpscEZtOGWaU/edit?usp=sharing

[2021-03-15 21:07] #6113 closed

[2021-03-15 21:09] taisdesouzalessa commented on #6194
Applied the following changes from the flow:
1. "[What we do](https://foundation.mozilla.org/en/what-we-do/)" page now has an entry point to DFL
2. "Creating Trustworthy AI" in inside [Mozilla Insights](https://foundation.mozilla.org/en/insights/)
3. "[Data for Empowerment](https://foundation.mozilla.org/en/data-futures-lab/data-for-empowerment/)" is inside Data Futures Lab Hub - URL: `https://fou

[2021-03-15 21:09] #6194 closed

[2021-03-15 21:12] benhohner commented on #6325
Please confirm if this still needs to be done. If not, close

[2021-03-15 21:18] benhohner commented on #6327
@sabrinang Can you provide some more detail on what is requested/desired? We need a bit more information before we can recommend solutions

[2021-03-15 21:27] benhohner commented on #6376
possible issue text: "this is a dependabot issue. Please estimate how long you did dependabot upgrades this sprint. Please assign to everyone who does dependabot upgrades" or similar

[2021-03-15 22:03] KalobTaulien opened #6378 "Reduce the number of PNI images in the /privacynotincluded/ template"
Inside of `network-api/networkapi/buyersguide/templates/buyersguide/catalog.html` is a ` <picture class="product-thumbnail">` element.

Inside of that picture element is a bunch of `<source>` elements.

One of them is a 360x360 image rendition. The other is a 370x370 image rendition. We need these to be exactly double (or half, if you will) other image so we have a high res and low res image in ea

[2021-03-15 22:34] sabrinang commented on #6327
@benhohner Yes, I annotated some screencaps here to go along with the request

- Data for Empowerment research series, they want to be able to change the two columns to be vertically ordered not horizontal:
<img width="1599" alt="image" src="https://user-images.githubusercontent.com/2492510/111229173-b1da4500-85a2-11eb-824a-7e6770136bd2.png">

- Trustworthy AI whitepaper (_this is the executive su

[2021-03-15 22:35] sabrinang commented on #6325
@benhohner Yes, the stakeholders would like to add dates to their content

[2021-03-15 22:41] #6373 closed

[2021-03-15 22:54] taisdesouzalessa commented on #6372
Did some very small tweaks based on Théo's comments.

[2021-03-15 23:01] #6363 closed

[2021-03-15 23:07] mmmavis commented on #6025
@Pomax`SnippetChooserPanel` seems to only allow singular selection. Do we wanna allow BuyersGuidePage to take more than one "exclude category"?

[2021-03-15 23:10] mmmavis commented on #6025
I've tried creating `excluded_categories` as `ParentalManyToManyField` and pairing it with `FieldPanel`, but `page.excluded_categories` would just return `wagtailpages.BuyersGuideProductCategory.None `

[2021-03-15 23:19] taisdesouzalessa commented on #6291
Sent en email to Lainie about #3 - because I think it may be confusing for users to link to the white paper.

[2021-03-15 23:43] Pomax commented on #6241
@sabrinang or @kristinashu, in case either of you knows: none of our pages use typeform embeds atm, but the component that we made a few years ago had a button that looks like it was for loading the embedded typeform in its own page. Is that something we still want? Or is a plain embed fine now (and we just need to make sure our typeform content looks decent when embedded)?

[2021-03-15 23:46] Pomax commented on #6025
We do, so the trick there is the same we use for blog authors: there is the [snippet itself](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/pagemodels/blog/blog.py#L60-L77), which we'd only be able to include one of, so instead we have a separate [orderable model](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi

[2021-03-16 00:04] sabrinang commented on #6241
(previous context: https://github.com/MozillaFoundation/Design/issues/512#issuecomment-633729761)

@Pomax We went with the popup button widget direction previously because we were bumping into issues with the iframe/embed widget which had cut off and responsive issues from what I recall. If the new version has them resolved and looks decent with content I wouldn't be opposed to just the embed.

[2021-03-16 12:22] TheoChevalier opened #6380 "PNI category names are not translated anymore"
I just noticed the PNI category names were not translated anymore, this is a regression that occurred sometime between the Valentine’s Day release and now.

Glancing at recent commits, this looks like a solid candidate for this change https://github.com/mozilla/foundation.mozilla.org/pull/6317

Here’s the menu in French:
<img width="1131" alt="Capture d’écran 2021-03-16 à 13 11 07" src="https://

[2021-03-16 14:36] #6347 closed

[2021-03-16 15:54] KalobTaulien commented on #6248
I'm going to wait until migrations are squashed to finish this ticket to keep migrations clean without having to do some fancy migration surgery.

[2021-03-16 15:58] Pomax opened #6381 "squash wagtailpages migrations"
In order to get some semblance of sanity back, it's time to squash our migrations:

part 1:

- [x] create the django squash migration for `wagtailpages`
  - [x] preserve all as-part-of-migrations data generation (but not conversion) functions
- [x] apply that migration to production

part 2:

- [x] remove all old migrations
- [x] apply that removal to production

part 3:

- [ ] remove the squashed

[2021-03-16 16:14] #6344 closed

[2021-03-16 16:21] jamilasnell commented on #6325
"Where do these dates need to go?" - @sabrinang

[2021-03-16 16:26] jamilasnell commented on #6288
Seems like we should move to Coral.

[2021-03-16 16:26] #6149 closed

[2021-03-16 16:27] jamilasnell commented on #6149
Closing this ticket as it seems that the book is being shared ad hoc and there doesn't seem to be a need to add it to the nav.

[2021-03-16 17:19] jamilasnell commented on #6319
@taisdesouzalessa please estimate this issue when you get a chance!

[2021-03-16 17:32] KalobTaulien commented on #6375
I looked into this package a bunch more, and this looks like a very reasonable method for caching our pages. There's a number of different cache backends we can use, and a number of ways to cache pages.

It's smart enough to not cache things like private/password-locked pages and to ignore caching page previews. And we can decorate class views and function-based views, or just the serve() method o

[2021-03-16 17:32] #6375 closed

[2021-03-16 17:35] KalobTaulien opened #6383 "Follow up to implement wagtail-cache on the PNI home page"
This is a follow up ticket from the #6375 spike.

Let's install wagtail-cache on localhost, and apply page caching to the PNI home page. The PNI home page has _a lot_ of database queries, so this should help speed up the page drastically.

We might want to turn on django debug toolbar (and filebased caching on localhost) to test the performance before and after, and to see if it's worth globally c

[2021-03-16 17:44] Pomax commented on #6241
Gotcha, looking at the embed results, it feels like we still want the option to pop them back out:

https://foundation-s-typeform-c-osdpu1.herokuapp.com/en/campaigns/multi-page/

![image](https://user-images.githubusercontent.com/177243/111355281-755f2580-8644-11eb-8fe5-22dda4cde6be.png)

https://foundation-s-typeform-c-osdpu1.herokuapp.com/en/campaigns/single-page/

![image](https://user-images.g

[2021-03-16 17:57] mmmavis opened #6385 "Audit publication SCSS code and clean up font overrides"
From a glance, it looks like publication SCSS code has many font overrides (e.g., type, font size, line height, colours). Some might be unintentional and some could be removed. Let's do the first pass audit/cleanup first before bringing the issues to designers for further discussion.

Setting estimate to `4` to account for the time needed for audit and code cleanup.

Will file a new ticket for dis

[2021-03-16 17:57] #5905 closed

[2021-03-16 18:04] sabrinang commented on #6241
Yeah +1 to button widget since the content gets cut off it is a bit longer and it hides the typeform branding a bit. I don't think we can remove the typeform branding unless we have a premium account (which I don't know if we have?)

[2021-03-16 18:11] #6250 closed

[2021-03-16 18:14] mmmavis opened #6386 "Investigate mismatched HTML tag issues on article pages"
### Describe the bug
There are HTML validation errors around mismatched HTML tags on our sample article pages. I'm guessing the cause might be some block template are missing opening/closing tags.

### To Reproduce
Steps to reproduce the behavior:
1. Go to `/publication-page-with-chapter-pages/fixed-title-chapter-page/fixed-title-article-page/` locally or on review app.
2. View source code
3. Scro

[2021-03-16 18:15] mmmavis commented on #6386
@danielfmiranda would you like to take this one on?

[2021-03-16 18:29] mmmavis commented on #5364
Also assigning this one to you @danielfmiranda . I think all we need to do is to find a YouTube video under Mozilla account and plug it into the Video StreamField block factory.

[2021-03-16 18:30] #6338 closed

[2021-03-16 18:44] Pomax opened #6387 "force-reseed PNI fake data image choosing"
#6349 brought back "real" PNI product images, but it looks like it's not using the seed value (or the correct on) to ensure the same images are used each time load_fake_data runs.

We should find out where we can stick in a reseed() to ensure PRNG, rather than RNG =)

[2021-03-16 18:48] Pomax commented on #6380
I think we forgot to add the category field to the `translation.py` file that we're still using

[2021-03-16 19:27] KalobTaulien commented on #6257
Moving this to blocked. I have the migrations sorted but the orderable isn't appearing in the translation user interface. I've asked Karl for some help on this.

[2021-03-16 21:48] mmmavis commented on #6266
Done!

[2021-03-16 21:48] #6266 closed

[2021-03-16 21:53] mmmavis commented on #6325
@sabrinang can you clarify if this ticket is for adding two additional fields to Article Page?

1. publication date
2. secondary subtitle

[2021-03-16 23:08] mmmavis commented on #5906
@sabrinang I've done the [audit](https://docs.google.com/document/d/117_bZOGq47TqVR7-FxHutcMuePl521jVRyAtwUY8FPs/edit#) and tagged you for issues that need design feedback.

[2021-03-16 23:25] mmmavis commented on #6355
We should complete other styling cleanup tickets first (see above) before tackling this one as it will save us effort. Marking this blocked now.

[2021-03-16 23:30] sabrinang commented on #6325
@mmmavis Yes, please add those two fields to the article page _(similarly to the fields are seen on publication pages)_
<img width="1657" alt="image" src="https://user-images.githubusercontent.com/2492510/111392784-8889e980-8674-11eb-80a4-46c684e75229.png">

[2021-03-16 23:35] mmmavis commented on #6327
We might wanna settle for just having one 2-column link order because from the users' perspective, having two different order options here and there are very confusing unless the links are explicitly numbered.

[2021-03-16 23:41] mmmavis commented on #6325
@sabrinang thanks for the screencaps. Could you provide mockup and styling specs as well? Or should I just refer to what we have on Publication Page?

[2021-03-17 00:14] sabrinang commented on #5906
Thanks for compiling all in the audit doc Mavis! I added my solutions and wanted to name and include lightest blue tint #e7e7fc in the brand colours. I'm thinking $lightest-blue but I know it isn't a very scalable convention the way it is going but thought to use it for time being — any thoughts or suggestions on this?

[2021-03-17 01:25] sabrinang commented on #6325
@mmmavis Yes, please refer to what is live on the Publication Page

[2021-03-17 15:11] kathytpham commented on #6129
@taisdesouzalessa We are ready for the design review! All the sections are up. We updated the overview section. A few questions:

- What do you think of the topics page? The icons are square so some of them are cutoff. Should I change icons, or do non-square (if that is an option)
- Do we have search option on our pages? Is that something we want to include?
- Thoughts on how the overview page loo

[2021-03-17 15:29] taisdesouzalessa commented on #6291
Lainie's answer: "If you want to keep the link to the wiki I’d go right to [this header](https://wiki.mozilla.org/Foundation/AI#Theory_of_Change). Otherwise we could link to [this page](https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/path-forward/introduction-theory-change/) from the white paper, which is the intro to the theory of change, including the graphic, but provides a

[2021-03-17 16:17] mmmavis opened #6390 "Download button on Publication Page is off-brand"
### Describe the bug
Download button on Publication Page is off-brand. I didn't check Article Page but the button there might be off-brand as well.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://foundation.mozilla.org/en/insights/trustworthy-ai-whitepaper/
2. Inspect the "Download PDF" button (default state and hover state)
3. Button is in a different style than what we have i

[2021-03-17 16:39] mmmavis commented on #6325
@sabrinang sounds good. Thanks!

[2021-03-17 17:47] mmmavis commented on #4042
Will verify if this still exists.

[2021-03-17 18:01] mmmavis commented on #4553
@danielfmiranda this could be a little tricky compared to your other tickets so I'm leaving it as a stretch goal ticket.

[2021-03-17 18:08] mmmavis commented on #6327
@sabrinang assigning this one to you as we need to finalize specs and mockup before we start implementation!

[2021-03-17 18:10] mmmavis commented on #2454
Closing. We are good with using `.cms`.

[2021-03-17 18:10] #2454 closed

[2021-03-17 18:15] #4956 closed

[2021-03-17 18:16] taisdesouzalessa commented on #6372
Presented this work to broader YouTube working group. They liked some of the ideas and the next step is to choose one direction we can take (group decision). Closing this ticket and will open a new one once we have a direction design can act on.