[2018-08-08 21:08] taisdesouzalessa commented on #1722
Implementation ticket is here: #1732 - please take a look there and let me know if anything is missing.

[2018-08-08 21:08] #1722 closed

[2018-08-09 15:15] kristinashu commented on #1729
Nice! You have access now and I've updated it with what you have in Abstract.

[2018-08-09 16:59] kristinashu opened #1735 "Create OG content for sharing site"
Need to make an image and write copy that will appear on FB & Twitter when someone shares foundation.mozilla.org

[2018-08-09 17:42] alanmoo opened #1736 "Opportunity pages with a CTA but no donate modal serve a 500"
Like https://foundation.mozilla.org/cms/pages/6/edit/

[2018-08-09 17:45] gvn commented on #1700
Isn't this functionality already in stock GA? EG: seeing what links are clicked and referring pages for page views? I don't think this should require custom events...

[2018-08-09 18:48] #1736 closed

[2018-08-09 21:03] mmmavis commented on #1700
I don't know much about GA and how Foundation site is set up with GA. @xmatthewx can you advice? Is a custom event needed or the GA dashboard has features for us to explore that information already?

[2018-08-09 22:18] kristinashu opened #1739 "Redesign Buyers Guide"
Work can be gathered in this deck https://docs.google.com/presentation/d/1EjdExJaq9AYlu5Zf2Z7KReTJe_MTSGnkO53BjIO9lDM/edit?usp=sharing

### Buckets of work
- Assess site UX
- Add a Matrix
  - Product page: Sliders
  - Home page: Matrix Overview
- Product page updates
  - New and improved criteria
  - Add Updates & Opinions feed
- Create Holiday Themed images and crop product images

### Each of th

[2018-08-09 22:25] kristinashu commented on #1739
@beccaklam @natalieworth please add any benchmarks or feedback/ideas you have to improve the site to the [deck](https://docs.google.com/presentation/d/1EjdExJaq9AYlu5Zf2Z7KReTJe_MTSGnkO53BjIO9lDM/edit?usp=sharing)!

[2018-08-10 15:09] kristinashu commented on #1739
Yeah the old one will be replaced. I'm guessing a lot of the content will be copied over tho.

[2018-08-10 15:25] cadecairos opened #1742 "Custom Heroku error page"
If there's ever a platform outage or database outage, we can serve a static page of our own design, that's hosted on a highly reliable service (in our case, S3). Lets create a stand alone error page for the foundation site.

Ideally, the page can be a part of this project, and one of the build steps on staging and production is to sync it to a pre-configured place on S3.

I can set things up, but

[2018-08-10 16:48] taisdesouzalessa commented on #487
This task has been inactive for a while but it is still relevant. The dashboard is not getting the data, though. Maybe @arlissc can help us to fix it?

[2018-08-10 16:49] taisdesouzalessa commented on #525
Is this still relevant or should I close this issue @alanmoo ?

[2018-08-10 16:50] taisdesouzalessa commented on #671
this task is done. Closing this ticket.

[2018-08-10 16:50] #671 closed

[2018-08-10 17:25] alanmoo commented on #525
I think at this point this is actually a matter of engineering first, something we work into our various templates. If we ever get to a technical solution, I'll create a new ticket with clearer design needs.

[2018-08-10 17:25] #525 closed

[2018-08-10 17:34] kristinashu commented on #1717
I've uploaded all the images for the cards and hero banner to the prod cms so they should be on both prod and staging on Monday.

[2018-08-10 18:16] natalieworth commented on #1729
Uploaded the image files to production here https://foundation.mozilla.org/cms/images/

[2018-08-10 20:26] taisdesouzalessa commented on #1607
Not sure this spreadsheet is relevant anymore. Have you been using it to organize content with Sydette, @kristinashu? If not, let me know and I can close this ticket...it seems we are using another method for organizing content in this page.

[2018-08-10 20:28] taisdesouzalessa commented on #1661
Design is ready but we didn't receive any content for this graphic. I will leave this ticket open as a reminder.

[2018-08-10 20:30] kristinashu commented on #1607
Sydette is using a google doc for writing the content. Spreadsheet probably isn't as useful now that that we've decided to not use categories.

[2018-08-10 20:30] #1607 closed

[2018-08-10 20:34] taisdesouzalessa commented on #1665
@WillatMozFdn we were wondering about the scale and timing of emails your team receives, more specifically, when a donor can no longer donate and when we have a fundraising appeal email and they say they can't donate.

The reason why we're asking this is if the volume is big enough, we could do a test and send different links to each group (to invite them to participate in non-monetary ways). If t

[2018-08-10 21:00] WillatMozFdn commented on #1665
Hey Tais, thanks for re-pinging me, as I'm still digging out from PTO.  :-)  So ... ballpark estimate, scale is probably around 30-40 per campaign, and we usually run one fundraising campaign per month, so call it 400 to 500 annually.  That's a pretty small number to run a test and hope for any real significance ... and also unfortunately we have zero capabilities for testing in the platform we us

[2018-08-10 21:01] taisdesouzalessa commented on #1655
@beccaklam @kristinashu @xmatthewx I sent you an email through usertesting.com so you can play the test in your computers. I am not sure how this sharing feature works so please let me know if you run into any issues.

To see the test, go to:
1. `Select Tasks` tab
<img width="476" alt="image" src="https://user-images.githubusercontent.com/22157921/43980879-a0f16474-9ca4-11e8-9499-754c1dc21b54.png"

[2018-08-10 22:23] ejregithub opened #1743 "Content change requests to https://foundation.mozilla.org/about/trademarks/"
Mozilla Legal is requesting the following changes to https://foundation.mozilla.org/about/trademarks/

Change requests:

Change page heading and title from '"About us" to “Licensing”

Under the content section “Trademarks”, please edit the copy and links to read:

Although our code is free, it is very important that we strictly enforce our trademark rights, in order to be able to protect our users

[2018-08-10 23:07] alanmoo commented on #1743
I've changed the body content, but I'm not entirely clear on what you're looking for from the heading. "About Us" is the heading across all pages in that section of the site, so it's not logical to change that. Can you clarify? We could easily change the "Trademarks" item in the navigation if that addresses the concerns at hand.

cc @jessevondoom

[2018-08-10 23:25] kristinashu commented on #1663
These are for Jesse's interim updates https://github.com/mozilla/foundation.mozilla.org/issues/1727 to make the rest of the site fit in with the new Initiatives pages.

Just updating the banner doesn't work because the gradient in the sub nav clashes.

![single page copy](https://user-images.githubusercontent.com/1068783/43985093-a5eb5dda-9cb9-11e8-87b2-46bdf468a9ca.jpg)

So we recommend the prima

[2018-08-12 17:08] ejregithub commented on #1743
Apologies for the lack of clarity.  Yes, the request is to change 'Trademarks' in the nav to 'Licensing', as will as the corresponding change to the URL from https://foundation.mozilla.org/about/trademarks/  to  https://foundation.mozilla.org/about/licensing/

<img width="347" alt="screen shot 2018-08-12 at 10 03 53 am" src="https://user-images.githubusercontent.com/20547886/44004423-62e4e7fe-9e17

[2018-08-13 14:00] beccaklam commented on #1655
Hey @taisdesouzalessa, the test looks good :) Great job designing it, it's so exciting to see your hard work coming to fruition. My only feedback is to simplify the language a bit and to make it more explicit that the user is landing on a post-sign petition page. I'll leave some suggestions in your google doc draft.

[2018-08-13 16:01] Pomax opened #1745 "Update the modal query param names."
@WillatMozFdn (in https://github.com/mozilla/foundation.mozilla.org/pull/1701#issuecomment-412515439) wrote:

---

Hey all, sorry for the delay, but finally got a chance to review this -- looks great!  One thing, though, the querystring name-value parameters on the donation link unfortunately don't allow for Google Analytics to track these donations (and thus, for me to be able to count them).  Cu

[2018-08-13 16:10] xmatthewx commented on #1716
Perfect. Thanks!

[2018-08-13 16:10] #1716 closed

[2018-08-13 16:33] xmatthewx commented on #1731
Looks great! Excellent work on the checklist details.

[2018-08-13 16:47] xmatthewx commented on #487
@taisdesouzalessa - if you want to resurrect the dashboard (a good idea), I'd close this and open a new devops ticket for Arliss and Cade and Alan to discuss hooking it up.

[2018-08-13 17:15] xmatthewx commented on #1700
GA only tracks URL flow by default. Using a query parameter would add info on a user's pathway, but it would clutter our dashboards and complicate all our other views, by splitting aggregate activity and behavior. GA use to have an overlay view, but that still didn't distinguish links to the same URL.

This event will help us understand visits to our most highly trafficked pages.  We can test copy

[2018-08-13 18:56] taisdesouzalessa commented on #1731
Updated comp as per conversation with Kristina and Matthew. Abstract updated as well. @beccaklam please note we removed the horizontal lines that were in between the links to make the layout less busy. I updated it in Abstract as well.

[2018-08-13 20:06] kristinashu commented on #1655
This is great Tais! Super simple. We'll have to celebrate after the first test!

[2018-08-13 20:49] taisdesouzalessa commented on #487
Thanks for the guidance here, Matthew! I filed a ticket here: https://github.com/MozillaFoundation/mofo-devops/issues/621

[2018-08-13 20:49] #487 closed

[2018-08-13 20:55] kristinashu commented on #1140
Next steps:
- [ ] Jesse to confirm [final copy](https://docs.google.com/document/d/18i5AYbvPzE60vKR_h66nwvkiAdLAON-tTKFirDDYwZ4/edit?usp=sharing) (Kristina)
- [ ] Create illustration (@natalieworth)
- [ ] Jesse to confirm final design (Kristina)
- [ ] Once confirmed, write specs/redlines (@beccaklam)
- [ ] Gather and crop images (Kristina)

[2018-08-13 21:11] taisdesouzalessa commented on #1665
Hey @WillatMozFdn, thank you so much for your feedback and suggestion. Super valuable to us! I'll bring the macro update idea to Matthew and Jesse to gather their views, since they are the ones who hold the long term strategy vision for the site. Then I'll get back to you with some suggestions, does that work?

I think editing the macro would be a great way to bring some of this traffic to our sit

[2018-08-14 13:31] alanmoo commented on #1743
Done!

[2018-08-14 13:31] #1743 closed

[2018-08-14 16:55] ejregithub commented on #1743
Thanks @alanmoo !!

[2018-08-15 15:26] cadecairos commented on #1708
I'm waiting on some ongoing work that Gavin is doing to land so I can refactor the wagtailpages models file. Doing that will make refactoring the load_fake_data logic actually worthwhile.

[2018-08-16 16:11] kristinashu commented on #1662
Abigail says MoCo is planning some changes to how they describe CC in their footer. She's hoping to make this consistent and will keep us posted.

[2018-08-16 19:54] #1728 closed

[2018-08-16 20:37] #1745 closed

[2018-08-17 23:15] mmmavis commented on #1700
Pushed live and verified it's working.

[2018-08-17 23:15] #1700 closed

[2018-08-20 14:43] xmatthewx commented on #1546
I think we'll keep this on the back burner, to stay focused on higher impact things. This can be partially solved in the Docs with a good example for authors on how to use the button component and a pulse search or tag URL.

[2018-08-20 18:15] taisdesouzalessa commented on #1739
@kristinashu @beccaklam I am looking into the analytics to get some guidance on the questions you both asked during our meeting (I am putting together a Data Studio panel so we can take a look at it). In the meantime, I looked at the comments (there were just 6 of them) and added some notes on [Google Docs ](https://docs.google.com/document/d/1755uLhrffsq3VaUUpORkdjh72y0DOMoG-7PM-5j1f6Y/edit?usp=s

[2018-08-20 20:09] kristinashu opened #1749 "Participate page: design review P2's"
Follow up from https://github.com/mozilla/foundation.mozilla.org/pull/1748

### Time commitment tags
- [x] Hand should be transparent but it looks like it has white fill (let me know if you need a different svg?)
<img width="198" alt="image" src="https://user-images.githubusercontent.com/1068783/44356435-32288000-a464-11e8-970b-2ac949c4fa5d.png">

### Top hero banner ([see comp](https://redpen.io/

[2018-08-20 21:16] alanmoo opened #1750 "Add comment field to petitions"
Petitions should have an optional comment field. Three states:

* Comments off
* Comments on, but optional
* Comments required

This passes to basket, with a key that @pmac will confirm (I believe "comments").

[2018-08-20 21:47] Pomax commented on #1750
field name for sending to basket documented over on https://github.com/mozmeao/basket/issues/87

[2018-08-21 17:32] alanmoo commented on #1719
I just talked to Jesse/Matthew: We're going to keep the Profile Type/Program Type/Year fields as free text fields for now because it's only a few people using it, and not very often. It's not quite worth the probably effort to get that working right.

[2018-08-21 17:38] taisdesouzalessa commented on #1719
Thanks for the heads up here, Alan! Do you want me to change the comp based on that? or is this in motion already and we don't need it?

[2018-08-21 19:10] alanmoo commented on #1719
I don't think it needs a comp update.

[2018-08-21 21:42] taisdesouzalessa commented on #1719
Updated the specs list to reflect comment above.

[2018-08-21 22:11] taisdesouzalessa commented on #1655
Tested the test with a non-Mozillian (step 6) and made the necessary tweaks. Test is ready to launch 🚀.

@xmatthewx I can't place this order at the moment. Could you please place the order or give me the authorization to do so? We are testing only in 1 person at the moment, correct?

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/22157921/44431768-316f1700-a554-11e8-9

[2018-08-22 17:31] Pomax opened #1759 "remove `filebrowser-safe` dependency"
We should investigate whether we're still using this library at all, and if so, if we're using it "correctly" or whether there's a better solution to tie wagtail into s3

[2018-08-22 22:36] xmatthewx opened #1760 "Move Awards page to /initiatives/"
The Awards team has crafted a [page](https://foundation.mozilla.org/opportunity/awards/) on wagtail. It's currently nested under `/opportunity/`, but should probably have a permanent home under `/initiatives/`.

@alanmoo - can that be moved by you with a click? Does it require copy-paste and a redirect?

cc @jenntbeard

[2018-08-23 13:38] patjouk commented on #1723
@alanmoo I did some testing locally and found a few things:
- Timezone for publishing is in UTC (cf `settings.py`), but it's not communicated to the user. I'll take a look to see if we can add this info in the admin section dedicated to scheduling,
- We can add a scheduled script to Heroku every hour or every 10 min. Either way, we should ask people to set up a scheduled time earlier that when it

[2018-08-23 15:13] alanmoo commented on #1760
Moved!

[2018-08-23 15:13] #1760 closed

[2018-08-23 15:27] alanmoo commented on #1723
Hourly is good. Any chance we can make it happen 1 minute after the hour so, for example, a user can say "publish at 9:00" and it happens at 9:01?

[2018-08-23 15:31] jenntbeard commented on #1760
Awards at Mozilla are designed to support diverse approaches to addressing the most pressing threats to Internet Health. Awards celebrate a variety of targeted solutions, not a one-size-fits-all silver bullet. They spotlight the technologies, art, and other work being done by leaders across the globe in order to amplify these promising approaches and to help make the internet healthier for all.

[2018-08-23 15:41] patjouk commented on #1723
Sadly no, it's 00, 10, 20, 30 or 50. Ex: 09:00, 09:10, etc

[2018-08-23 15:55] xmatthewx opened #1762 "Add Awards to Initiatives landing page"
We have a new page about our [Awards programs](https://foundation.mozilla.org/initiatives/awards/).

@Sydette - can you work with @jenntbeard to add an intro and link? It would be in the featured programs on the [Initiatives landing page](https://foundation.mozilla.org/initiatives/).

@jenntbeard drafted this to get things rolling:

via https://github.com/mozilla/foundation.mozilla.org/issues/1760

[2018-08-23 15:56] xmatthewx commented on #1760
I opened a new ticket for this content.

[2018-08-23 15:59] jenntbeard commented on #1760
Cool, thank you!

[2018-08-23 16:59] alanmoo commented on #1723
Make it 10 after.

[2018-08-23 17:25] xmatthewx opened #1764 "Plan a test of Donate button style"
Team! We have a few different donate button styles floating around. Let's plan a test to pick the best. This ticket is to kickoff the conversation and get organized.

In order to do an A/B test, we need a steady stream of traffic. We will run this after we redirect traffic from mozilla.org/foundation to foundation.mozilla.org/about. We can test the button on all pages, but this will give us the fl

[2018-08-23 17:35] xmatthewx opened #1765 "Design for new Awards Challenge"
We are gearing up for a new Awards Challenge, similar to NSF Wins. It will live on the foundation at [/initiatives/responsible-cs/](https://foundation.mozilla.org/en/initiatives/responsible-cs/).

This will require graphics for us at the top page, email, and social. We should think of this as a title with tagline, not as a logo brand. It will be associated with Mozilla and another funder or two. R

[2018-08-23 17:41] gvn opened #1766 "Go live with new Participate page"
The new participate page has soft launched at https://foundation.mozilla.org/en/participate2

To go "fully" live and replace the existing page, we need to:

- [x] Put final content in CMS (https://foundation.mozilla.org/cms/pages/168/edit/)
- [x] Delete old Participate page on production
- [x] Change Participate 2 page slug to `/participate`

CC @alanmoo @kristinashu

[2018-08-23 17:42] gvn commented on #1717
Closing with #1766 and #1749 as follow up tickets.

[2018-08-23 17:42] #1717 closed

[2018-08-23 17:48] gvn opened #1767 "Deprecate old Participate page"
Remove the old Participate page template, model, translation bindings, etc from codebase.

[2018-08-23 18:39] #1750 closed

[2018-08-23 21:37] taisdesouzalessa commented on #1739
@kristinashu @beccaklam - Data Studio step completed as well. The insights are all under "UX Research Materials" in the main ticket. Hope that helps to guide your decisions and let me know if you have any questions or if you feel that any information is missing.

[2018-08-23 22:48] kristinashu commented on #1749
Oooh yeah, that svg was pretty messy. Try this one [hand.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2316471/hand.svg.zip)
Even got it down from 9 KB to 2 KB!

[2018-08-23 23:31] kristinashu opened #1769 "Design postcard for copyright campaign - due Aug 30"
Launch a postcard campaign before a critical EU copyright vote on. Users will land on an updated changecopyright.org and will be asked to send a postcard to MEPs. Users will type in their name and a message that will then be printed and physically mailed.

They need a postcard that will be somewhat art-y – nice enough that MEPs will want to put it up on their walls and not just dump them out in th

[2018-08-24 08:54] patjouk commented on #1723
I've added a new job for Heroku scheduler running every hour at 10.
Keep in mind that for now, people need to schedule their page in UTC, not in their timezones.

[2018-08-24 17:07] kristinashu commented on #1766
We have the go ahead from Jesse to launch this!

[2018-08-24 18:09] gvn commented on #1766
Cool! It's alive!

https://foundation.mozilla.org/en/participate/

[2018-08-24 18:09] #1766 closed

[2018-08-26 21:59] natalieworth commented on #1769
I've put some options for possible directions in the redpen here https://redpen.io/p/zxbe27071f4ae2480d

I'm going to be out on PTO til the 28th. I'll send an email with the design file if these are needed sooner.

cc @kristinashu @xmatthewx

[2018-08-27 16:20] gvn opened #1784 "Remove build:images task"
Move images inside of the Django app instead of copying them via build:images.

This will also require a refactor of the `optimize` task group.

[2018-08-28 00:59] Pomax opened #1786 "implement limited localisation of the petition.jsx form"
strings:

https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2018/wagtail_forms.lang&action=translate&show

[2018-08-28 01:00] Pomax commented on #1786
/cc @alanmoo

[2018-08-28 17:20] Pomax opened #1788 "investigate why review apps are installing the wrong version of wagtail"
We're seeing Heroku installing wagtail 2.2.1 in things like https://foundation-mofostaging-pr-1785.herokuapp.com/cms (click `settings`, and then the wagtail version is listed at the bottom of the expanded menu), despite the fact that both the `Pipfile` and `Pipfile.lock` both indicate that the only permitted version is v2.1.2 (see [here](https://github.com/mozilla/foundation.mozilla.org/blob/maste

[2018-08-29 11:29] patjouk commented on #1788
I've checked that PR and only saw wagtail 2.1.2 on the admin section. I also verified on Heroku and it's 2.1.2 that's installed. I also checked PR1787 and it's also 2.1.2.
Can you check again and see if you could reproduce this issue? Thanks!

[2018-08-29 15:09] Pomax commented on #1788
Hm, that was not the version we were seeing when the problem arose, time to check if the responses on that review app are no longer JSON.

[2018-08-29 15:11] Pomax commented on #1788
I don't see any weird XHR responses now, hopefully @gvn can confirm they are gone.

[2018-08-29 15:25] kristinashu commented on #1769
Campaign is cancelled 👎

Thanks anyways Nat for the sweet illustrations!

[2018-08-29 15:25] #1769 closed

[2018-08-29 16:58] kristinashu commented on #1729
Live! http://foundation.mozilla.org/participate/

[2018-08-29 16:58] #1729 closed

[2018-08-29 20:08] patjouk commented on #1788
I can't reproduce the error, but when I try to upload an image on pr1785 or 1787, I get:

[code]

To reproduce:
- https://foundation-mofostaging-pr-1785.herokuapp.com/cms/images/multiple/add/
- add an image.

You can check the logs in Heroku. Click on the review app, then the "more" button and "view logs".

[2018-08-30 17:50] gvn commented on #1749
It's live! 🎉

https://foundation.mozilla.org/en/participate/

[2018-08-30 17:50] #1749 closed

[2018-08-30 19:10] acabunoc commented on #1656
submit a project brief! When I was doing it, the form looked super familiar. So... sorry if I submit this twice!

[2018-08-30 19:26] alanmoo commented on #1656
Gideon's been working on the authentication level of it. I believe that's moving along. The profiles work has been stalled, but I think we can get that going in time still.

[2018-08-30 19:31] acabunoc commented on #1656
Participants will start making Mozilla Pulse accounts on Sept 4th
We'll announce the new round on the website on Sept 11th

Let me know if both dates still work! Otherwise, I'll have them fill out a form (instead of making a pulse account) to make it easier for me to manually add them to the website.

[2018-08-31 09:34] patjouk commented on #1788
Whatever happened is now fixed. I deployed review apps with wagtail 2.1.2 and 2.1.3 and Heroku respected both versions.
I'm gonna check again on Monday to see what failed but it will be difficult to investigate if I can't reproduce the issue again. I'm gonna close this issue for now.

[2018-08-31 09:34] #1788 closed

[2018-09-03 09:46] #1723 closed

[2018-09-04 16:14] xmatthewx commented on #1656
Exciting stuff! I'm back from PTO. Let me know how I can help.

[2018-09-04 17:42] acabunoc commented on #1656
After talking to Gideon last week, we're skipping Pulse this round and I'll use a regular form

[2018-09-04 17:55] taisdesouzalessa commented on #1655
We received a video from 1 user! I added notes to the test and asked designers to add their own notes so we can compare them and move on to next stage.

[2018-09-04 18:08] taisdesouzalessa opened #1800 "Update Mozilla Fellows Image"
Do a quick update on the Mozilla Fellows Image based on the new visual direction we are adopting in our site.

**Current image:**
<img width="699" alt="image" src="https://user-images.githubusercontent.com/22157921/45048786-a270fd00-b031-11e8-9691-5a18300b1751.png">

**Places the image should be updated:**
After talking to Kevin, these are the places this image currently shows up:
1. https://mediu

[2018-09-05 22:34] kristinashu commented on #1765
### To do:
- [ ] Meet with Jen
- [ ] Put [content](https://docs.google.com/document/d/1YuabSiuOqqDj-QA_u8RHtkL0jQEmZezf6ItgIOP9_7g/edit) in to [multi-page site with zen mode nav](https://foundation.mozilla.org/en/initiatives/responsible-cs/)
- [ ] Create images: banner for wagtail pages, email and social
- [ ] Add logos: example of equal hierarchy of logos (but lets do logos in gray scale)
<img wi

[2018-09-05 22:53] kristinashu commented on #1739
Haven't updates this in a while so here we go...

## Product page
@kristinashu cleaning up the sketch file and finalizing spacing and icons
@taisdesouzalessa is working on all the different states for the creep-o-meter
@natalieworth will work on animating the creep-o-meter faces (just a placeholder for now until @gvn confirms if it is possible)

https://redpen.io/p/qz6bdb2811e058ffb1

![red-pen-67

[2018-09-06 17:08] Pomax opened #1801 "refactor wagtailpages blocks"
they're currently all in one big file; it would be much nicer to have then housed in their own files inside a `blocks` dir.

[2018-09-06 17:23] gvn opened #1802 "Define Creepiness Service"
### API Outline:

**POST /privacynotincluded/vote**
[code]

**Requires CSRF**

Response codes:
201 is created.
400 is error (will return error text).

**GET /privacynotincluded/product/235325**
[code]

**GET /products**

Returns ranked product list array (most to least creepy?). Use same schema-per-item as individual `/product` above.

General Questions:

- What level of rate limiting should we en

[2018-09-06 17:27] gvn commented on #1802
@kristinashu We're trying to get a better sense of how the vote tallying works.

Is it total or per product?
Is it votes on creepiness and/or confidence?

[2018-09-06 17:30] kristinashu commented on #1802
It's the total votes for that specific product on that specific question.

cc @taisdesouzalessa

[2018-09-06 17:48] gvn commented on #1802
Ok, I updated the outline above to reflect that.

[2018-09-06 19:49] cadecairos commented on #1802
@kristinashu Is there a design mockup I could comment on and reference to help finalize this proposed API before we start coding?

[2018-09-06 20:09] kristinashu commented on #1802
We have [comps for the Product detail page](https://redpen.io/p/qz6bdb2811e058ffb1). This is where users can vote on a product and see how other people voted on for that product. Here are the steps:
![red-pen-0cc70402-4983-4162-c519-94b00acce0b4](https://user-images.githubusercontent.com/1068783/45182254-99209580-b1d5-11e8-806b-109f73ecfcab.jpg)

We are still exploring home page ideas but this is

[2018-09-06 20:13] gvn commented on #1802
For the "found it creepy"/"would buy" percentages...how is that determined?

My thought is that we round the vote to the nearest choice (eg: 74% on the creep-o-meter would be "not creepy").

[2018-09-06 20:14] cadecairos commented on #1802
@kristinashu thanks! I'm going to look over the designs and propose any changes I can think of to @gvn's initial API proposal

Lets (you, @gvn, and I) sync up early next week to make sure we're confident that the service will support the design before I get started on it.

[2018-09-06 20:34] taisdesouzalessa commented on #1802
@gvn I am thinking about the interaction part of this component and so far I thought we could have 3 or 5 points of stickiness. When you slide, it sticks to the nearest point, like the example below. I wanted to avoid granular results. It is still a work in progress and I'll present the interactions to the designers first to hear their thoughts on it but I just wanted to flag my thinking so far to

[2018-09-07 15:53] gideonthomas opened #1805 "Petition signees already subscribed to newsletter don't see share buttons"
STR:
1. Go to https://foundation.mozilla.org/en/campaigns/venmo-put-our-privacy-first/?subscribed=1
2. Sign the petition and click "no I'll share instead" in the modal.
3. You won't see the share buttons but will instead see the form as if an error occurred.

Pretty sure it's because we conditionally render the signup checkbox based on the `subscribed=1` query param out [here](https://github.com/m

[2018-09-07 20:02] kristinashu commented on #1765
I see Natalie's images test working well for this! We could find computery images and apply the gradients and patterns to it.
<img width="679" alt="screen shot 2018-09-06 at 12 32 26 pm" src="https://user-images.githubusercontent.com/1068783/45240598-17486f00-b29e-11e8-9f73-f17a39f46b3d.png">

[2018-09-07 22:17] natalieworth commented on #1739
I've got a really rough animated version of the PNI face (9 frames total). Frames 1,3,5,7, and 9 are the "key face frames." I can add additional frames to tween between the faces for a more seamless look when I return from PTO (and if the test goes okay).

There are png, svg, gif, and mov versions of the face to test.

[I've uploaded everything to the drive here.](https://drive.google.com/drive/fo

[2018-09-10 18:14] gvn commented on #1802
@cadecairos I will revise above schema once homepage design has been approved.

@kristinashu can you let me know when that happens?

[2018-09-10 22:48] Pomax commented on #781
as of wagtail, no longer relevant.

[2018-09-10 22:48] #781 closed

[2018-09-10 22:48] Pomax commented on #1301
we totes mclanded wagtail.

[2018-09-10 22:48] #1301 closed

[2018-09-10 22:49] Pomax commented on #1434
💥

[2018-09-10 22:49] #1434 closed

[2018-09-10 22:49] Pomax commented on #1536
nope

[2018-09-10 22:49] #1536 closed

[2018-09-10 22:50] Pomax commented on #1401
fixed in the past.

[2018-09-10 22:50] #1401 closed

[2018-09-10 22:50] Pomax commented on #1420
fixed in the past.

[2018-09-10 22:50] #1420 closed

[2018-09-10 22:50] Pomax commented on #1653
fixed in the past.

[2018-09-10 22:50] #1653 closed

[2018-09-10 22:53] Pomax commented on #1719
What is "See full profile" supposed to do?

[2018-09-11 00:06] taisdesouzalessa commented on #1719
@Pomax "See Full Profile" takes users to the individual Pages on Pulse, so your guess is correct :). For instance, if the person clicks on "See Full Profile" for Alan Davidson, they would see [this page](https://www.mozillapulse.org/profile/335)

[2018-09-11 20:03] kristinashu commented on #1802
@taisdesouzalessa is still fine tuning but here is an updated version then above.

Creepy slider:
- for user: smooth continuous slider, user can stop at any point
- for results on product page: averaged/rounded into 5 buckets
- for home page: all products listed from least creepy to creep (and is filterable)

Buy buttons:
- for user: user selects Yes (thumbs up) or No (thumbs down) (sorry but this

[2018-09-11 20:04] acabunoc opened #1815 "Copy/Paste in Wagtail - links dissapear"
If I copy & paste from one wagtail component to another, it strips away the links
![sep-11-2018 16-04-14](https://user-images.githubusercontent.com/617994/45384579-6531df80-b5dc-11e8-90b6-7de1bdf45b29.gif)

[2018-09-11 20:09] acabunoc commented on #1815
workaround: copy/paste from the preview instead

[2018-09-11 21:03] Pomax commented on #1815
yeah, this is an outstanding issue in wagtail itself, there's been some movement on it but they're reworking the WYSIWYG box atm because links (and some other markup) disappears when you copy =(

[2018-09-11 22:14] Pomax commented on #1719
Presentation question: what should we show when someone's profile type is "plain"? For example, in the test data that gets generated in my network-pulse-api, not all of the following users have a special role:

![image](https://user-images.githubusercontent.com/177243/45390792-598eea80-b5d5-11e8-9294-7b95981e1162.png)

Should we just show "nothing" where others will have the moz icon and their rol

[2018-09-12 15:32] cadecairos commented on #1723
@gideonthomas This is done, but be aware that there's some issues regarding timezones. @patjouk understands this far better so if you need more info get in touch on Slack.

[2018-09-12 17:09] kristinashu commented on #1802
All comps and wireframes https://redpen.io/p/qz6bdb2811e058ffb1

[2018-09-12 20:03] beccaklam commented on #1802
### Re: Homepage Interaction and Functionality requirements:

- [ ] Animated smiley face that changes as products scroll correlating the state of the face to the level of the products' creepiness

- [ ] Products are ordered according to level of creepiness (probably from least creepy to most creepy)

- [ ] Products display their aggregated score of likelihood to buy by users (thumbs up for likely

[2018-09-13 16:50] kristinashu opened #1818 "Buyers Guide: nav and footer"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

#### Main Nav
- [x] Logo and title
- [ ] Share icons with the same functionality as [live site](https://advocacy.mozilla.org/en-US/privacynotincluded)
- [x] Donate button links to [Donate Page](http://donate.mozilla.org/) in new tab [*need over + selected state]
- [x] Mai

[2018-09-13 17:02] kristinashu opened #1819 "Buyers Guide: product page"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

### Header section
- [x] large image on light gray background
- [x] company name, price, product name, intro text
- [x] copy link with same functionality as [live site](https://advocacy.mozilla.org/en-US/privacynotincluded)

### Creep-O-Meter - moved to #1888

### Criteri

[2018-09-13 17:03] kristinashu opened #1820 "Buyers Guide: home page"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1739

WIP comps https://redpen.io/p/qz6bdb2811e058ffb1

Filter svg icon [icon-filter.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448495/icon-filter.svg.zip)

![Hero background image](https://user-images.githubusercontent.com/1068783/46828003-eea90e80-cd4e-11e8-953a-7cfcaaf68d56.jpg)

- [x] Intro text

[2018-09-13 17:06] kristinashu opened #1821 "Buyers Guide: categories page"
Based on design in #1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

Same functionality as [live site](https://advocacy.mozilla.org/en-US/privacynotincluded/category/toys)

![category 2x](https://user-images.githubusercontent.com/1068783/46311952-8ac95d80-c578-11e8-93ff-99c52f583ead.jpg)

[2018-09-13 17:07] kristinashu opened #1822 "Buyers Guide: About page"
Based on design in #1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

Text page similar to [live site](https://advocacy.mozilla.org/en-US/privacynotincluded)

![](https://s3.amazonaws.com/redpen-prod/red-pen-b010c501-e282-4390-cab0-0f4bbb67055d.jpg)

[2018-09-13 17:10] kristinashu opened #1823 "Buyers Guide: donate popup"
Based on design in #1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

### Functionality
- slides up from the bottom of the page
- user must be on the site for 10 second [need to discuss] before it slides up
- clicking close icon, donate, or outside of the popup will close it

### Copy
- `We made this guide with support from people like you`
   Zilla Slab Light 34px with 42px line height
- `Our s

[2018-09-13 18:43] Pomax opened #1824 "update NETWORK_PULSE_API to include protocol"
right now the protocol is hardcoded in our jsx, as `https://`, which means you can't change the var to a localhost url on `http`, and also makes it harder to tap into the var server-side.

We should update the var so that the protocol is included.

[2018-09-16 10:31] patjouk opened #1827 "Update doc update the delete non-staff command"
So, I [shipped code](https://github.com/mozilla/foundation.mozilla.org/blob/bc68346d69768b9a44c7221d245624e95d0b42d4/network-api/networkapi/management/commands/delete_non_staff.py) without updating docs... let's fix that.

[2018-09-17 22:06] gvn commented on #1819
@kristinashu Can you attach a ZIP with SVGs of the various glyphs throughout this comp?

[2018-09-19 02:49] kristinashu commented on #1765
@taisdesouzalessa the partners Jenn is working with are very keen to see the graphic (they were expecting to see it Monday) so the sooner the better! I think they want to see some progress, no matter how small!

[2018-09-19 12:50] jenntbeard commented on #1765
Hello! I am taking a look at the docs/wagtail now. As per our timeline with the Funder, we would like to be able to share a draft of the site by Friday this week, if at all possible. If we have the rough mockup and the header, I think we'd be in good shape - I can always talk them through the remaining work to be done but would like them to at least get a solid idea of our direction.

[2018-09-19 14:58] patjouk opened #1834 "Move the delete non staff command to once a week instead of once everyday"
ref MozillaFoundation/mofo-devops-private#167

[2018-09-19 21:27] alanmoo commented on #1719
I would assume so. We should probably have more categories in pulse that get brought in here as ways to describe how people are affiliated with Mozilla, but that's a separate issue.

[2018-09-20 01:10] taisdesouzalessa commented on #1765
**Status:** shared 4 concepts of header with Jenn + updated the icons via **email**.
**Next:** update the "Judges" section with pictures, copy updates as per document and wait for Jenn's feedback (once we have it, I can do any necessary adjustments/tweaks). @jenntbeard please let me know if anything is missing here that you would like to get done by Friday.

cc: @kristinashu

[2018-09-20 13:51] jenntbeard commented on #1765
Ohh, those are looking slick! I really like 2a. We are going to send them over to the funder and I have a few slight changes to the timeline (mostly just capital letters), I will ping you in the website copy doc.

[2018-09-20 16:07] kristinashu commented on #1765
Yea I'm really liking both 2a & 2b!

[2018-09-20 16:12] Pomax opened #1837 ".travis.yml does not specify a Node version"
And since Travis has four versions of Node preinstalled, without indicating what its default is, it's a good to add an explicit version so we know what we're building with.

[2018-09-20 16:14] jenntbeard commented on #1765
Yeah, sorry, I misspoke, I really like 1a and 1b - I have sent both of those to the funder for feedback and for their preference on placement of the Omidyar Network logo (I know they will care about that most). I think the site is really coming along. I just reached out to the judges that we haven't received bios/headshots from (and we still have a couple of outstanding invites, just so you know).

[2018-09-20 18:18] Pomax opened #1839 "Remove the "font-family-no-missing-generic-family-keyword" null from stylelint rc"
Stylelint 9 + standard config 18 put in changes that means we have 19 `font-family-no-missing-generic-family-keyword` errors that will need to be resolved before we can take out the bypass for it.

[2018-09-20 18:19] Pomax opened #1840 "Remove the "no-descending-specificity" null from stylelint rc"
Stylelint 9 + standard config 18 put in changes that means we have 160 `no-descending-specificity` errors that will need to be resolved before we can take out the bypass for it.

[2018-09-20 20:35] xmatthewx opened #1843 "Add referral source to Particpate Donate button"
We have an awesome new CTA to donate in the middle of the participate page (see below).

It doesn't look like this has UTM parameters in the link to track donation source. We should add that. Also probably good to add an analytics event if it isn't already there. This will give us a baseline we can use later to test alternate CTAs.

cc @alanmoo @kristinashu to triage

<img width="1115" alt="image"

[2018-09-20 20:40] kristinashu commented on #1819
Here are all the icons for criteria: [icons.zip](https://github.com/mozilla/foundation.mozilla.org/files/2402989/icons.zip)

#### I still need to add
- thumbs up/down icons
- dot pattern
- +/- icon for accordion

[2018-09-20 21:31] alanmoo opened #1844 "Test A/B plugin"
Let's try and get A/B functionality worked in by helping Tochbox test [this PR](https://github.com/torchbox/wagtail-experiments/pull/17)

Closing this ticket requires a working A/B solution landed on master.

[2018-09-20 21:39] alanmoo commented on #1764
#1844 is filed, I'd like to see if we can get to take a look at that next week.

[2018-09-21 14:49] alanmoo commented on #936
Past Alan, what were you talking about?

[2018-09-21 14:49] #936 closed

[2018-09-21 15:49] #1508 closed

[2018-09-21 16:28] gvn commented on #1819
@kristinashu I did the accordion as a + which rotates to an X if that works.

[2018-09-21 17:12] kristinashu commented on #1819
👍

[2018-09-21 22:18] #1719 closed

[2018-09-24 21:06] kristinashu commented on #1819
Here's the dot pattern stuff:
- should be a black square 3x3px centered in a 9x9px white square
- jpg and svg of the repeatable pattern [dot.zip](https://github.com/mozilla/foundation.mozilla.org/files/2412860/dot.zip)

- once repeated, it should look like this
<img width="1269" alt="screen shot 2018-09-24 at 2 02 21 pm" src="https://user-images.githubusercontent.com/1068783/45979063-b9888680-c002

[2018-09-24 22:24] taisdesouzalessa opened #1857 "[Responsible CS Challenge] Pre-launch and Post-launch punchlist"
### Pre-launch
- [ ] Proofread copy to make sure there are no typos or wrong info. **Responsible: Jenn**

- [ ] Make sure there is no info missing or placeholder copy or picture. **Responsible: Taís for checking placeholder pictures/Jenn for checking the info**
_STATUS: Taís checked and confirm that there is no placeholder pictures._

- [ ] Make sure all links work and take users to the right plac

[2018-09-25 16:21] taisdesouzalessa commented on #1665
After talking to @Sydette, she wrote a copy for this email and it can be found here: https://docs.google.com/document/d/1f-ZFUCZaIGepCcbFIx_sRPAT2mUuiTToO8Ufsbw1gcw/edit?usp=sharing - it would be good to get feedback from you all: @xmatthewx @WillatMozFdn @jessevondoom and probably Stephanie L. as well? I don't know her GitHub handle... You can tag Sydette on Google Doc to ask for tweaks. Thanks,

[2018-09-25 17:41] kristinashu opened #1858 "Buyers Guide: Product Page follow up"
#### QA from Nav, Banner, Intro, Criteria
- [ ] I will turn [this QA doc](https://docs.google.com/document/d/14wTXrEmYmQFWYlmkwFXJtHJZPiseXTgAokJq7_BHx28/edit#heading=h.anasubawailc) into a list here

#### Sections that still need to be built
- [ ] Creep-O-Meter
- [ ] Updates
- [ ] Comments
- [ ] Related Products

[2018-09-25 17:43] #1858 closed

[2018-09-25 17:49] kristinashu opened #1859 "Buyers Guide: Creep-O-Meter animation"
Feedback from Tais' usertesting found that users felt the current simple face animation didn't really represent their feelings of being creeped out. Would be good to draw out more creeped out keyframes and uplevel animation to something a little more rich.

Examples of richness, not creepiness:
- https://dribbble.com/shots/3039000-Hello-Dribbble
- https://dribbble.com/shots/3025343-Animatiki-Anima

[2018-09-25 20:50] kristinashu opened #1860 "Buyers Guide: QA product detail page"
From ticket https://github.com/mozilla/foundation.mozilla.org/issues/1819 and [doc](https://docs.google.com/document/d/14wTXrEmYmQFWYlmkwFXJtHJZPiseXTgAokJq7_BHx28/edit#heading=h.725dh6j4j01a).

### Images
- [x] hero image is broken **_(high priority)_**
- [x] Related Product images are broken **_(high priority)_**

### Categories Nav
- [ ] should be sticky _(low priority)_
- [ ] font weight 700 i

[2018-09-25 21:03] jenntbeard commented on #1857
I realize this is the pre-launch punchlist but just wanted to flag that we'll need to take down the LOI/Apply button on December 14, 2018.

[2018-09-25 21:36] taisdesouzalessa commented on #1857
@jenntbeard good point! I edit the name of the ticked and added your item there under "Post-launch". Feel free to add/remove items form the main list as you see fit. Thanks :).

[2018-09-25 21:59] Pomax opened #1861 "apiSubmissionFailure performs error check incorrectly"
[code]

if `e` is undefined, `instanceof` throws.

[2018-09-26 14:19] alanmoo commented on #1482
Glyphs were removed completely at some point because they were problematic. Let's file another ticket if we want them back (though as I recall they were hard to manage too...)

[2018-09-26 14:19] #1482 closed

[2018-09-26 15:55] kristinashu commented on #1519
Won't be doing https://github.com/mozilla/foundation.mozilla.org/issues/1482

[2018-09-26 15:55] #1519 closed

[2018-09-26 21:11] kristinashu opened #1866 "Buyers Guide: crop product images"
- Full product list is [here](https://docs.google.com/spreadsheets/d/1zfwxGCc7dIF7ubO4Pqw6m-ZAevU05CaQ_jUzQPz3ZxM/edit#gid=115469060)
- Let's gather the best image for each product (must be on white background and high res)
- Put on light grey background
- Crop them to 800x800px or 1000x1000px
- Upload to CMS

[2018-09-26 21:13] kristinashu opened #1867 "Buyers Guide: add content to cms"
CMS should be ready for content as early as next week.

Dev wise we will need all _high priority_ QA done https://github.com/mozilla/foundation.mozilla.org/issues/1860, categories done, and pushed live by Oct 4.

### To do
- [ ] Jen to finalize content Oct 5
- [x] Kristina to upload content
- [ ] Jen to QA all content once it's all in
- [ ] Design to QA all content layout once it's all in

[2018-09-26 21:43] kristinashu opened #1868 "Buyers Guide: user testing & feedback at MozFest"
While we're promoting the guide at MozFest https://github.com/MozillaFoundation/Design/issues/281 we should take this opportunity to also get some casual user feedback.

Let's make sure whoever is at the Buyers Guide booth is logging comments and feedback from users.

To do:
- get advice from @taisdesouzalessa
- have a few casual user testing questions (mostly just watch and hear what people say w

[2018-09-26 21:51] kristinashu opened #1869 "Buyers Guide: finalize home page design"
This is sooo close! https://redpen.io/p/qz6bdb2811e058ffb1

Last few things to finalize:
- update main nav requirements in dev ticket - Buyers Guide: nav and footer #1818
- Nat to holiday-ify the hero background image #1870
- thumbs up/down icon
- share/donate menu on mobile
- look of filters inside the filter bubble

[2018-09-26 21:53] kristinashu commented on #1739
This is all done and is amazing! We just need to finalize the home page in https://github.com/mozilla/foundation.mozilla.org/issues/1869 and creepy face animation in https://github.com/mozilla/foundation.mozilla.org/issues/1859. Closing this ticket!

[2018-09-26 21:53] #1739 closed

[2018-09-26 23:12] natalieworth commented on #1859
<img width="1222" alt="screen shot 2018-09-26 at 4 09 27 pm" src="https://user-images.githubusercontent.com/14876567/46114275-bdeda480-c1a6-11e8-837d-323939043179.png">
@beccaklam @kristinashu before I start animating anything—do you think these 5 'key' faces convey better emotion/ understanding of creepiness? I'll also put them on r[edpen if you want to leave comment in there.](https://redpen.io/

[2018-09-26 23:15] natalieworth commented on #1859
[faces_v-3.ai.zip](https://github.com/mozilla/foundation.mozilla.org/files/2421867/faces_v-3.ai.zip)
@beccaklam There is the .ai file too for the faces (if you want to mock them up to see how they look in your comps).

[2018-09-26 23:36] taisdesouzalessa commented on #1765
Email sent with project's status. Copy of the email below:

1. SITE: Put content in to multi-page site with zen mode nav and create banner.
STATUS: incomplete
• missing picture of Joy Buolamwini (Judges' page)
• missing [All signatories names/affiliations listed in responsive columns here] (Industry Support Page)
• missing link to one pager - Q: Is there a one-pager?  (FAQ Page)
• need links for "

[2018-09-27 16:44] kristinashu commented on #1859
This is gonna be amazing!

Some notes from convo with @gvn:
- he needs one svg face to test with
- we will have about 30-40ish faces in total (but will have some back and forth to figure out how to balance smooth animation with load-time and effort)

[2018-09-27 18:16] natalieworth commented on #1859
Added 2 other more subtle options of the emoji styles in redpen. https://redpen.io/p/wfa33bfccd9fe4f98e

cc @kristinashu @beccaklam

[2018-09-27 20:38] kristinashu opened #1870 "Buyers Guide: holiday style banner"
The top banner needs to have more of a holiday feel https://redpen.io/p/qz6bdb2811e058ffb1
- copy: a holiday guide to put your safety first
- image must work on narrow and wide screens
- set's stay away from full-on Christmas look but it is a gift guide so maybe wrapped packages or winter theme could work??
- this look and feel could be applied to some of the promo material (at mozfest and beyond!

[2018-09-27 21:19] kristinashu commented on #1870
w00t @natalieworth is gonna help out with this!

@beccaklam can you add any other thoughts/guidance you have? Is that ^ the copy Jen said?

[2018-09-28 14:14] beccaklam commented on #1870
@kristinashu @natalieworth yup that's the copy! yaaay collaboration!

[2018-09-28 15:04] #1834 closed

[2018-09-28 18:17] gvn commented on #1860
That sounds do-able to me.

[2018-09-28 18:29] kristinashu opened #1872 "Buyers Guide: Promo mockups for Wirecutter"

[2018-09-28 19:30] kristinashu opened #1873 "Buyers Guide: Add seal of approval"
We have to go ahead on this so we will need to design three seals. Each product will feature one of the three seals.

WIP copy is:
- Meets Mozilla’s minimum security standards
- Warning: does not meet Mozilla’s minimum security standards
- Can’t determine if it meets meets Mozilla’s minimum security standards

Matthew's sugestion:
- `Secure`, `Not Secure`, `Unsure`
- each label could have that tex

[2018-09-28 19:59] kristinashu opened #1874 "Buyers Guide: Integrate How To Use This Guide text on Product page (and maybe add accordions to Can It Spy On Me section)"
Also,

Think through how to incorporate 'How To Use This Guide' content. Having an accordion at every section seems excessive.

- Main thing people asked about at MozFest was what the unexpected reasons were in "Shares your information with 3rd parties for **unexpected reasons**" Could mainly just highlight that?

- Add link to About page?

[2018-09-28 21:42] kristinashu commented on #1866
Slowly starting to put images into [Drive](https://drive.google.com/drive/folders/1IxnifzMqYwCVzmhwQZG-2v3qhm_a6XgW?usp=sharing) and put into one Photoshop file. Updating the [content sheet](https://docs.google.com/spreadsheets/d/1zfwxGCc7dIF7ubO4Pqw6m-ZAevU05CaQ_jUzQPz3ZxM/edit#gid=115469060) as I go.

Once image upload is working in the CMS we can test out different dimensions. For now, I'm usin

[2018-09-28 22:27] gvn commented on #1860
@alanmoo @cadecairos – Any idea why images would be working locally but not showing up in the staged PR?

[2018-09-28 22:53] alanmoo commented on #1860
This goes back to something I didn’t get to when setting up the scaffolding. There’s a media directory env var or something like that which needs to be added to the image URLs in the template.

[2018-09-28 23:16] mmmavis commented on #1843
@xmatthewx do you know where I can look for values for UTM and GA events that we wanna use?

[2018-10-01 14:39] xmatthewx commented on #1843
For GA, we track events for both pulse and site in [this spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=779058050). I added line 23 for this.

category | action | label
:-- | :-- | :--
donate | donate button tap | [page title]

@alanmoo - can you lend a hand with UTM? Should we use the same as the header donate button, just changing `utm+c

[2018-10-01 15:47] xmatthewx opened #1887 "Buyers Guide: Identify GA Events to track"
The Buyer's Guide is awesome and will soon land some fab new features. Let's make sure we've got robust event tracking in place.

I've started a new tab in our spreadsheet with a few things we might track, but I leave it to designers to identify all the important things to track. Let's chat after stand one day this week if anyone needs help getting oriented on this stuff.

Next steps
 - [x] add ev

[2018-10-01 17:27] gvn commented on #1860
@alanmoo Currently I have images set up like this, which works locally:

`<img src="{{mediaUrl}}{{product.image}}" />`

Do you know what I'd need to use instead?

[2018-10-01 19:51] alanmoo commented on #1860
Looks like you need to add `{{AWS_LOCATION}}` between the two, as uploaded images on staging are in the `network` directory (`https://assets.mofostaging.net/network/images/buyersguide/nintendo-switch_1538423164.jpg` for example).

@Pomax may be able to shed some more light on this for the proper way to do it.

[2018-10-01 21:50] gvn commented on #1860
Got it working. 🎉

[2018-10-01 21:54] kristinashu commented on #1860
👀

[2018-10-01 21:57] taisdesouzalessa commented on #1765
STATUS UPDATE:
1. SITE:
    STATUS: incomplete
    • missing picture of Joy Buolamwini (Judges' page)
    • need links for "Apply Now" - we just have placeholder links for now.
    • once all above is done, we can do the QA

2. ONE-PAGER: Done
    STATUS: Design done. After some changing on the number, we have a final version.
    • this is the link with the [latest PDF](https://drive.google.com/o

[2018-10-02 16:42] jenntbeard commented on #1765
Hi, the Apply Now button should just be linked to Fluxx: https://mozilla.fluxx.io/. The photo of Joy, along with her bio are now up as well!

[2018-10-02 16:46] kristinashu opened #1888 "Buyers Guide: build creep-o-meter"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

Follow up from larger product page https://github.com/mozilla/foundation.mozilla.org/issues/1819

### Creep-O-Meter
- [x] back-end ticket https://github.com/mozilla/foundation.mozilla.org/issues/1802
- [x] animation - will be about 80 svg faces
  - Nat's animation design

[2018-10-02 16:48] kristinashu opened #1889 "Buyers Guide: comments"
Based on design in #1739
Comps https://redpen.io/p/qz6bdb2811e058ffb1
Follow up from larger product page #1819

### Comments
- same functionality as [live site](https://advocacy.mozilla.org/en-US/privacynotincluded) (except without any localization)
- each product has its own comment thread
- put Jen Caltrider and Kristina as moderators

### Comp
![red-pen-bcdf377a-2c12-459d-f032-139264485f47](htt

[2018-10-02 16:52] kristinashu commented on #1819
Since work will now be divided up between @gvn and @Pomax I've split this into slightly smaller tickets:
- Buyers Guide: QA product detail page #1860
- Buyers Guide: build creep-o-meter #1888
- Buyers Guide: comments #1889

Can we close this one? Still some work to be done on Updates section but maybe that can be part of QA ticket?

[2018-10-02 17:40] prabhupant commented on #1688
@gvn I'd like to work on this. Please assign it to me

[2018-10-02 17:52] kristinashu opened #1892 "Buyers Guide QA: P1 product detail page"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1860
Comps https://redpen.io/p/qz6bdb2811e058ffb1

### Images
- [x] hero: banner is taking up too much vertical space, update image size from 500x500 to 400x400

### Intro
- [x] narrow layouts: copy link should be moved lower down ([see comps](https://redpen.io/fk5813dda329fda302))

### Criteria
- [x] P1: make product title li

[2018-10-02 17:52] kristinashu opened #1893 "Buyers Guide: nav QA"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1818
comps https://redpen.io/p/qz6bdb2811e058ffb1

Link icon svg [icon-link.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448497/icon-link.svg.zip)
Share icon svg [icon-share.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448498/icon-share.svg.zip)

### Main Nav
- [ ] share icons with the

[2018-10-02 17:54] kristinashu commented on #1818
Mostly done, moving followups into a QA ticket https://github.com/mozilla/foundation.mozilla.org/issues/1893

[2018-10-02 17:54] #1818 closed

[2018-10-02 17:57] kristinashu commented on #1860
All the P1s are done so I'm going to close this and have open a new one for P2s:
- Buyers Guide: nav QA #1893
- Buyers Guide: QA product detail page P2

Closing!

[2018-10-02 17:57] #1860 closed

[2018-10-02 17:58] kristinashu commented on #1819
Opened new QA ticket that has Updates section in it so closing this one https://github.com/mozilla/foundation.mozilla.org/issues/1892

[2018-10-02 17:58] #1819 closed

[2018-10-02 18:11] gvn commented on #1688
@prabhupant I can't assign to you but I can label this to indicate you're working on it. Thanks!

[2018-10-02 18:37] alanmoo opened #1894 "Reduce impact of large images added to streamfields"
On pages like [this one](https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-6/projects/), users uploading large images to streamfields can result in massive pages for visitors to download. Let's mitigate the impact of these giant images somehow, I'm open to suggestions as to actual approach.

[2018-10-02 21:36] kristinashu commented on #1867
@beccaklam live site is ready for content entry! Let's add a few to test it out https://foundation.mozilla.org/cms/buyersguide/product/

[2018-10-02 22:14] kristinashu commented on #1866
@gvn @beccaklam I'm having an issue with the images. Even though Photoshop and the site are using #f4f4f4 as a background color. They are slightly different so I can see a faint square background around the bear.

Using transparent png for the bear isn't possible because we won't be able to get it on a clear background and the file size will be too big.

Should we do it like the [old site](https:/

[2018-10-02 22:52] gvn commented on #1866
Is there a color profile getting attached to the JPEG? Are you using export to web?

[2018-10-02 22:56] kristinashu commented on #1866
Yea using Save for Web with sRGB

[2018-10-03 00:28] kristinashu commented on #1866
Ok so I ink dropped a screen cap of the code generated side banner and got #f1f1f1. I put that as the bear's background in Photoshop and it seems to work.

Can you test on your screens to see if you can see a border?
https://foundation.mozilla.org/privacynotincluded/product/Parker%20Teddy%20Bear/

[2018-10-03 00:39] kristinashu commented on #1867
@xmatthewx @beccaklam I've updated the [doc](https://docs.google.com/document/d/1iSHloKSuhJONihayIv12b2Ll7zNcGbBjkwXR7hk_Wk0/edit?usp=sharing) asking people to help add content (along with some basic instructions). Can you please take a look at it and then I'll give it to Ashley to share out and ask for volunteers.

[2018-10-03 05:13] techac commented on #668
Hello @alanmoo can you please elaborate...
I am new to this project and this might be a good start i guess..thanks..:)

[2018-10-03 13:56] #667 closed

[2018-10-03 14:17] alanmoo commented on #1643
The code related to this is probably over [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/components/petition/petition.jsx#L448)

[2018-10-03 14:18] alanmoo commented on #668
Hi @techac, I'm not quite sure what I was referring to for this issue so I'm going to close it. We've addressed some of the things it was talking about anyway. But take a look at these two issues, they might be good ones to start with:

https://github.com/mozilla/foundation.mozilla.org/issues/1805
https://github.com/mozilla/foundation.mozilla.org/issues/1643

[2018-10-03 14:18] #668 closed

[2018-10-03 14:35] beccaklam commented on #1867
@kristinashu Doc looks good, just added a note that for price the input doesn't need a dollar sign. Played with the nintendo switch content. Just thinking that when we give them the content we should format it so that it matches the cms inputs.

[2018-10-03 14:56] beccaklam commented on #1866
Looks good to me @kristinashu! No border.

[2018-10-03 16:50] kristinashu commented on #1867
Yea good call! We can delete the $ from the spreadsheet field and make sure all the working matches up before people start importing.

[2018-10-03 18:19] taisdesouzalessa commented on #1655
NEXT STEPS (related to item 9 of the list: "iterate on test").

We should perform the same test again, with tweaks on the script and screening.

**From conversation with Matthew:**
• Filter for a less tech savvy user at screening (reason: tech savvy users are very familiar with the hamburger menu and they can easily find info that less tech savvy users may not find).
• Let’s be less leading (reaso

[2018-10-03 19:39] alanmoo commented on #197
This is a bit broad for a ticket in this repo. Reconsidering our approach to this.

[2018-10-03 19:39] #197 closed

[2018-10-03 19:41] natalieworth commented on #1859
Creep-o-meter draft!!! AH! It's been tricky to get the transitions to not look weird, but hopefully if it's sliding it'll be less weird:
![face-test-02](https://user-images.githubusercontent.com/14876567/46434842-ac0d8380-c709-11e8-80e9-ce02f0dd30fe.gif)
cc @kristinashu @beccaklam

[2018-10-03 19:51] Pomax commented on #1537
This feels like a passed station.

[2018-10-03 19:51] #1537 closed

[2018-10-03 19:52] Pomax commented on #1583
We totally already did this.

[2018-10-03 19:52] #1583 closed

[2018-10-03 19:54] Pomax commented on #1694
@alanmoo @taisdesouzalessa is this still a thing we want to focus on?

[2018-10-03 19:56] Pomax commented on #1694
correction: this landed =)

[2018-10-03 19:56] #1694 closed

[2018-10-03 19:58] Pomax commented on #1786
@alanmoo I don't see any movement on the translated strings. Shall I just consider this closed?

[2018-10-03 19:59] Pomax commented on #1786
after discussion: yes.

[2018-10-03 19:59] #1786 closed

[2018-10-03 20:03] Pomax commented on #1837
we fixed this by adding an nvm LTS instruction to the run scripts.

[2018-10-03 20:03] #1837 closed

[2018-10-03 20:50] cadecairos commented on #1693
@Pomax did we still need something here?

[2018-10-03 21:48] beccaklam commented on #1859
whooaaa @natalieworth so cool and smooth :)
Yeah the only weird thing is the teeth that come out from the creeped out face to the happy face. but does it even need to transition between the two? wouldn't it just go backwards?

[2018-10-03 21:52] natalieworth commented on #1859
@beccaklam Yah! It could essentially only go back and forth, so it wouldn't have to loop seamlessly.

[2018-10-03 22:00] kristinashu commented on #1859
Soo cute and expressive!

[2018-10-03 22:28] #1805 closed

[2018-10-03 23:19] Pomax commented on #1861
fixed and landed.

[2018-10-03 23:19] #1861 closed

[2018-10-04 04:57] inoblivion123 commented on #1643
I would like to work on this issue

[2018-10-04 04:58] techac commented on #1643
I would like to work on this issue

[2018-10-04 16:17] kristinashu commented on #1873
<img width="204" alt="screen shot 2018-09-28 at 1 46 28 pm" src="https://user-images.githubusercontent.com/1068783/46487785-c13fec00-c7b5-11e8-8be6-79e9953d1c0f.png">
<img width="185" alt="image" src="https://user-images.githubusercontent.com/1068783/46487870-ef253080-c7b5-11e8-94e2-3b7a69ec31cc.png">
<img width="313" alt="image" src="https://user-images.githubusercontent.com/1068783/46487948-2b58

[2018-10-04 16:32] kristinashu commented on #1873
@xmatthewx I've added your copy suggestion above. Let us know if you think of anything else!

[2018-10-04 16:43] xmatthewx opened #1899 "Buyers Guide: OG Tags for shares (required for MozFest)"
At MozFest, we will have a raffle to incentive people sharing and commenting on products in the buyer's guide. To do this well, we'll need OG Tags in place for nice tweets with good description and images.

 - [ ] Step 1: engineer with logo and basic description (fail proof fallback)
 - [ ] Step 2: gather ideal description and image (this will take a minute)
 - [ ] Step 3: build out with optimized

[2018-10-04 18:47] kristinashu commented on #1869
Done! I just need to prep icons.

[2018-10-04 19:28] xmatthewx opened #1900 "Add filter to wagtail profile component"
For listing people it would be helpful to have a filter that tests whether a profile has an image or bio.

Profiles with one of those are useful, profiles with none much less so. This would help program staff launch a page (e.g. new cohort in mentor program), knowing that some participants still need to fill out their info.

For authors, this could be one checkbox for has_content (image or bio), o

[2018-10-05 00:00] kristinashu commented on #1869
Icons are exported and attached to tickets!

[2018-10-05 00:00] #1869 closed

[2018-10-05 00:07] natalieworth commented on #1870
Updated the banner mockups here:
https://redpen.io/p/wec2dd550a2a545c06
cc @kristinashu @beccaklam

[2018-10-05 00:09] natalieworth commented on #1870
![06_pni-splash](https://user-images.githubusercontent.com/14876567/46509559-46e48b80-c7f8-11e8-9712-fd0a765b70b0.jpg)

[2018-10-05 00:11] natalieworth commented on #1859
[5-faces.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448519/5-faces.zip)
[face-png-animation.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448520/face-png-animation.zip)

[2018-10-05 00:17] natalieworth commented on #1870
Blender illustration file for reference:
[blender-illustration-file.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448529/blender-illustration-file.zip)

[2018-10-05 13:00] beccaklam commented on #1870
@natalieworth So beautiful Nat! Love the snowflakes! Just left a little comment: wondering if we can make one of the snowflakes bigger/overlap with the Nintendo switch so when it crops on the desktop/tablet views we get more snowflakes. The mobile is perfect.

[2018-10-05 16:15] alanmoo opened #1901 "Fake data command requires homepage to exist?"
STR:

1. Nuke database from orbit
2. Create new db, migrate
3. Attempt to run `load_fake_data` command
4. Observe errors. Create `Homepage` via wagtail admin, then fake data can be loaded as expected.

[2018-10-05 16:19] alanmoo commented on #1549
I'm seeing "Image text" and "Figure" as deprecated currently. Is that correct or should they not be deprecated?

[2018-10-05 16:21] alanmoo opened #1902 "Remove deprecated Figure component"
This requires access to the production environment, but we should remove all instances of deprecated components using the Block Inventory feature to find them, and then remove those components from the codebase.

[2018-10-05 16:31] alanmoo opened #1903 "Add some details about l10n to README"
I was hitting a wall until I realized a new model that I created needed to be added to `translation.py`. Let's update the README to point this out somewhere- I was searching through it for any mention of "translate" or "localization" to see if it could help me but nothing was there.

cc @Pomax in case you have any useful thoughts.

[2018-10-05 16:53] kristinashu commented on #1866
@gvn I've added 10 products to the CMS! But I'm finding it hard to crop a photo in a way that works for both the product hero banner and the thumbnail (product hero banner has too much grey around it and thumbnail doesn't have enough). Do you think this would work:
- I crop the images they are as big as possible in the square so they work in the hero image
- Dev adds a grey border around each thum

[2018-10-05 18:55] Pomax commented on #1903
yeah: maybe we should mention what we're using, because the `wagtail-modeltranslations` readme tells you to do this already

[2018-10-05 21:45] alanmoo opened #1906 "Update Participate factory"
The ParticipatePage factory is still generating the original page. It needs to generate a ParticipatePage2 instead.

While we're at it, we should entirely remove the original Participate model.

[2018-10-08 10:52] techac commented on #1643
@alanmoo which url is related for this issue?

[2018-10-08 11:02] techac commented on #1643
@alanmoo can you tell me the chat channel for this project .....
When I was trying to load fake data i got the error
"able buyersguide_product has no column named meets_minimum_security_standards"

[2018-10-08 11:50] techac commented on #1643
@desiree-mofo what exactly do you want me to do?
Can you please tell me in detail as I am new to this project..
Thanks

[2018-10-08 14:42] alanmoo commented on #1899
@mmmavis This is something you have experience with, let's talk soon about if you can help out with this.

[2018-10-09 02:55] alanmoo commented on #1643
That's not relevant to this piece. If you do fake data and go to localhost:8000/campaigns/single-page/,  upon submitting the petition (assuming env vars are set up properly), the petition should be replaced by a CTA to share the petition. There will be links to email/facebook/twitter, but the ask for this ticket is that they only show up if the appropriate field is filled out in the admin for that

[2018-10-09 12:11] patjouk opened #1913 "Buyers guide: models warnings"
Hey! While running the foundation site, I saw those two warnings:
[code]

[2018-10-09 16:57] mmmavis commented on #1899
@alanmoo we will have to make sure `og` tags related code is generated on server side in order for this to work. I think Pulse still has issues around this due to the same reason + getting it to work with `react-router`'s routes with params.

[2018-10-09 17:19] gvn commented on #1866
As long as the cropping is consistent we can easily add padding around the thumbnails to expand the grey border!

[2018-10-09 17:56] taisdesouzalessa commented on #1857
### QA - fixes to do:
1. [Judges page](https://foundation.mozilla.org/en/initiatives/responsible-cs/judges/) - Edward W. Felten section - "Public Affairs " link doesn't work
<img width="600" alt="image" src="https://user-images.githubusercontent.com/22157921/46687286-62acb080-cbaf-11e8-9c53-4299ac19665e.png">

2.  [Industry support page](https://foundation.mozilla.org/en/initiatives/responsible-cs

[2018-10-09 19:00] jenntbeard commented on #1857
Hi - funny, I hadn't even noticed things were hyperlinked in the bios - feel free to disable if the link isn't working. I love the recommendation to bold the names in the Letter to Industry. That item was removed from the Q&A (it was a weird reminder to myself mostly to create that collateral for sharing externally). Finally, Fluxx isn't meant for mobile - in the application guide it advises peopl

[2018-10-09 19:06] jenntbeard commented on #1857
Hi - funny, I hadn't even noticed things were hyperlinked in the bios - feel free to disable if the link isn't working. I love the recommendation to bold the names in the Letter to Industry. That item was removed from the Q&A (it was a weird reminder to myself mostly to create that collateral for sharing externally). Finally, Fluxx isn't meant for mobile - in the application guide it advises peopl

[2018-10-09 19:06] jenntbeard commented on #1857
Ack sorry, not sure what happened there - didn't mean to close!! I fixed the link for Ed Felton's profile - there was just an extra www. that wasn't necessary.

[2018-10-09 19:38] taisdesouzalessa commented on #1765
STATUS UPDATE:
- Design QA done (site, one-pager and social media).
- password protection removed.
- email sent to Jenn, Matthew and Kristina with project status.

One thing I just noticed @kristinashu @jenntbeard there is an email image on the list...do we need that still?

Waiting to see if there is anything missing and if not, will close this issue.

[2018-10-09 20:48] jenntbeard commented on #1765
Hmm, I think we can get by without the email image - thanks!!

[2018-10-09 20:58] kristinashu commented on #1872
Kevin will just use redpen comps

[2018-10-09 20:58] #1872 closed

[2018-10-09 21:18] kristinashu opened #1916 "Buyers Guide: launch Oct 22"
### Launch dates
- [x] Launch the new guide Oct 18
  - https://foundation.mozilla.org/privacynotincluded/

Update url redirects Oct 22
- [x] Redirect https://privacynotincluded.org (and www.privacynotincluded.org) to https://foundation.mozilla.org/privacynotincluded
- [x] Redirect https://advocacy.mozilla.org/privacynotincluded to https://privacynotincluded.org
- [x] make sure with/without www wor

[2018-10-09 23:11] kristinashu commented on #1866
Cool, thanks! I've re-cropped all the images so they fill the square better and added the padding note to the QA ticket.

[2018-10-09 23:11] #1866 closed

[2018-10-09 23:12] kristinashu commented on #1859
Sweet! I think this is all done and amazing.

Please reopen if you still need it tho!

[2018-10-09 23:12] #1859 closed

[2018-10-10 15:39] cadecairos commented on #1684
@stephaniemcv / @desiree-mofo does that campaign ID need to be kept secret?

[2018-10-10 15:40] kristinashu opened #1917 "Buyers Guide: copy doc"
https://docs.google.com/document/d/1hRYn2EFAJxGjikeQqsXeeiaPOdJy37dzwi10PJTl_EA/edit?usp=sharing

[2018-10-10 16:00] kristinashu commented on #1899
I'll get copy from Jen for this and then add it here.

[2018-10-10 16:01] #1827 closed

[2018-10-10 16:27] kristinashu opened #1918 "Buyers Guide: images for social"
Based on Nat's banner design in we need an image for sharing on Facebook and Twitter.

Might need to resize some of these for screens at mozfest, postcards, blog posts...

[Copy doc.](https://docs.google.com/document/d/1hRYn2EFAJxGjikeQqsXeeiaPOdJy37dzwi10PJTl_EA/edit#heading=h.j8n12cvme0nu)

#### Versions could include:
- same as banner #1870
- same as banner but with logo lockup over top https:/

[2018-10-10 16:52] caltrider commented on #1918
Based on last year, we'll also need some banner/images for blog posts on both the Mozilla blog and Medium. A banner and a couple or three product/creep-o-meter images should work for that. Some media use images we could share with media as part of press releases would probably be good too. Kevin Z can probably advise on that.  That's all I can think of adding at the moment.
@kristinashu

[2018-10-10 17:21] #1802 closed, assigned to gvn, cadecairos

[2018-10-10 17:57] techac commented on #1643
@alanmoo I understood that after submitting the form at /campaign/single-page/ , I need to replace the form by some share buttons , but I am not able to locate where should I add the code, I found reviewapp-help.html but found no clue for code for page /campaign/single-page/ .. Is it related to wagtail ..can you help as I am new to this technology

[2018-10-10 17:58] alanmoo commented on #1643
See my first comment in this thread.

[2018-10-10 19:45] kristinashu commented on #1899
Adding a note from @Pomax that we will need both OG _and_ a Twitter share card.

[2018-10-10 21:16] alanmoo commented on #1643
`/campaign/single-page` isn't a specific page in the project, it's generated and the content is stored in the database. That URL isn't the specific issue, it's any campaign page with a petition attached.

[2018-10-11 00:49] alanmoo commented on #1901
I...think the issue was that I wasn't running `inv setup` again, as now it seems to work. I think this may have been a result of failing at attempting to read the documentation?

[2018-10-11 00:49] #1901 closed

[2018-10-11 12:53] beccaklam commented on #1899
@kristinashu @mmmavis @alanmoo  Sorry for the late notice on this but for tracking engagements at MozFest (with a goal of 5000 in mind), Jen and I were wondering if it would be possible to set up unique social shares on each product page. This would increase the ways people could engage with the guide in a manner we could count. We know it's late in the game though, so if it's not feasible within

[2018-10-11 17:35] kristinashu opened #1923 "Buyers Guide: QA category page"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1821

### Font styling
- [x] Category title .h3-heading
- [x] Disclaimer .normal with italic
- [x] Disclaimer should be moved to the bottom of the page
- [x] Product company .h6-heading-uppercase
- [x] Product name .h5-heading

![category 2x](https://user-images.githubusercontent.com/1068783/46822544-a2ef6880-cd40-11e8-8014-30

[2018-10-11 18:29] kristinashu commented on #1899
### Here's a summary

#### For general share:
- user clicks a share icon in the header
- user copy and pastes one of these urls
  - http://foundation.mozilla.org/privacynotincluded/
  - http://foundation.mozilla.org/privacynotincluded/[category]
  - http://foundation.mozilla.org/privacynotincluded/[about]
- share copy: "I found this really useful website and wanted to share. It’s @Mozilla’s holida

[2018-10-11 19:13] kristinashu commented on #1870
Let's run with this! I've attached the jpeg to the implementation ticket.

[2018-10-11 19:13] #1870 closed

[2018-10-11 20:14] kristinashu commented on #1887
@xmatthewx I've added all the possible clickable things. Can you please review and let me know if any of them aren't possible or not necessary? I'm not sure about the CMS generated things like accordions and customer support links.

[2018-10-12 16:32] gvn commented on #661
This is done I think?

[2018-10-12 16:32] #661 closed

[2018-10-12 17:51] beccaklam commented on #1918
## 1. Social
**Platforms:** Twitter, Instagram, Facebook (??)
**Size:** 1:1 ratio works for all platforms, 1080 by 1080px has served as well in the past, otherwise 2:1 ratio works well enough for Twitter and Facebook
**Content:** ??

## 2. Screens at MozFest
**Platforms:** Screens at MozFest
**Size:** ?? @natalieworth can you drop in dimensions here?
**Content:** Advertise raffle and winners

## 3

[2018-10-12 19:43] xmatthewx commented on #1887
Thanks. Very helpful. I've adjusted things and prioritized most important things to count.

@alanmoo - I think this is ready for a technical review. The goal is to capture key events that won't show up otherwise, to understand if, when, and where people are taking meaningful actions.

[2018-10-12 19:56] xmatthewx commented on #1868
I've started [a doc](https://docs.google.com/document/d/1NxJUSMjgcjdkaorXko7a9Rm_9h3TZge7p5pCUeeUqO0/edit#) to gather ideas on buyer's guide things we might test at mozfest. Drop in your thoughts @kristinashu @beccaklam @natalieworth

[2018-10-12 19:59] kristinashu commented on #1820
If need be, I think filtering could come post launch.

[2018-10-12 20:03] Pomax opened #1924 "Buyers Guide: refactor categories page to use bootstrap layout"
Right now it uses the old site's flex solution and that should be bootstrappable, cleaning up/tightening both the scss and template html

[2018-10-12 20:06] kristinashu commented on #1888
From what I gather, @Pomax will work on linking up the voting submissions and results (as he works on the home page results) and then @alanmoo or @mmmavis will finish styling the content.

[2018-10-12 20:23] xmatthewx opened #1925 "Buyers Guide: Add GA Event tracking"
As discussed in https://github.com/mozilla/foundation.mozilla.org/issues/1887, we want to add GA Event tracking to the guide.

The goal is to capture key events that won't show up in analytics otherwise, to understand if, when, and where people are taking meaningful actions.

The events and labels are listed and prioritized in [this spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3o

[2018-10-12 20:36] xmatthewx commented on #1887
done! yay! filed implementation ticket #1925

[2018-10-12 20:39] kristinashu commented on #1887
w00t! thank you!

[2018-10-12 20:40] #1887 closed

[2018-10-12 20:54] alanmoo commented on #1822
Are these heading styles used elsewhere in the site? I'd like to use the same classes if possible.

[2018-10-12 20:56] Pomax commented on #1923
addressed in the same PR

[2018-10-12 20:56] #1923 closed

[2018-10-12 21:04] kristinashu commented on #1822
Yes, from https://foundation.mozilla.org/en/style-guide/ they are:
- .h3-heading
- .h4-heading
- .normal

[2018-10-12 21:28] #1821 closed

[2018-10-12 21:31] Pomax opened #1927 "Buyers Guide: add product vote faker"
The load_fake_data tasks currently loads products and links them to some product categories, but doesn't fake any votes to make sure producst have some (nonsense) creepiness rating.

[2018-10-15 15:33] xmatthewx opened #1940 "Buyers Guide: Create Launch Checklist"
Let's avoid snafus and create a launch checklist for the buyer's guide. Let's take this as an opportunity to create a stand list we can use when launching any significant page, site, or tool.

I've started [a doc](https://docs.google.com/document/d/1cCuILd6Dwcr0uSSH69qFkeKDNiV_i50fBg0vH6R8nNQ/edit#heading=h.5uajtx709lys).

[2018-10-15 16:13] Pomax opened #1941 "Buyers Guide: improve the product model API for creepiness/confidence"
We currently aggregate votes into a `product.votes` property, which is an unordered set of untyped objects that must be inspected before values can be retrieved. It would probably be better if we come up with a way to aggregate the data such that `product.creepiness` and `procuct.confidence` are (`@property` decorated?) props that can be used directly in templates and template logic.

[2018-10-15 20:33] cadecairos commented on #1941
Does this seem more usable:

[code]

[2018-10-16 02:51] kristinashu opened #1944 "Buyers Guide: QA images on category page"
@Pomax images on prod are oddly rectangular when they should be square. I know you said something about this be don't remember what exactly?

Screen cap from prod:
<img width="950" alt="screen shot 2018-10-15 at 7 25 26 pm" src="https://user-images.githubusercontent.com/1068783/46989042-542f2f00-d0b0-11e8-811b-1d8bc0772707.png">

Screen cap from comps:
<img width="904" alt="image" src="https://use

[2018-10-16 02:55] kristinashu opened #1945 "Buyers Guide: QA thumbnail image"
Because it was impossible to crop the images in a way that work both for the hero product image (because they would look too small) on product detail page and also in thumbnails (because they would look too big) a border needs to be around all thumbnail images.

Everywhere there is a thumbnail:
- [x] Related products on product detail page
- [x] Home page
- [x] Category page

Background:
- [x] Add

[2018-10-16 06:43] mmmavis commented on #1893
@kristinashu not sure if I got the right version of Sketch file from Abstract - but the mobile share overlay I saw in the Sketch is like below. Can you let me know which design I should go with?

<img width="360" alt="image" src="https://user-images.githubusercontent.com/2896608/46997257-1f34d380-d0d4-11e8-8720-b6d04790f037.png">

[2018-10-16 10:46] #1822 closed

[2018-10-16 14:39] cadecairos opened #1949 "Buyer's Guide: product page 500s if product name not found"
visiting `/privacynotincluded/products/foo` should show a 404 page, but it's showing a 500, due to an uncaught `ObjectDoesNotExist` exception.

[2018-10-16 15:07] kristinashu commented on #1893
Oh weird! Do you have the latest version of Sketch or did you accidentally delete something? Please go with the version at the [top of this ticket](https://github.com/mozilla/foundation.mozilla.org/issues/1893#issue-366010329) and what is in [Redpen](https://redpen.io/ef43c1d04260c0b688).

I've also attached the Sketch file, in case it's an Abstract issue [Buyers Guide copy.zip](https://github.com

[2018-10-16 15:43] #1949 closed

[2018-10-16 15:51] kristinashu opened #1951 "Buyers Guide: clean up urls"
From @alanmoo:

We should make sure our product urls are clean before launch. I think they have spaces in them right now, which feels...weird.

[2018-10-16 16:17] #1941 closed

[2018-10-16 16:45] Pomax opened #1953 "Buyers Guide: ensure 404 on nonexistent category"
https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/buyersguide/views.py#L31 uses `get` rather than `get_or_404` so if it fails to find the correct category it will generate a 500 error, rather than a 404 error.

[2018-10-16 17:20] cadecairos commented on #1940
This might help: https://github.com/MozillaFoundation/mofo-devops/blob/master/docs/go-live.md

[2018-10-16 17:41] kristinashu commented on #1925
cc @arlissc

[2018-10-16 17:49] kristinashu commented on #1925
Note: for OKRs, we need to distinguish "engagements" for the soft launch (MozFest) vs the full launch

[2018-10-16 17:52] xmatthewx commented on #1925
We can filter reports by date, location, and incoming link to distinguish soft launch vs full launch. But, we won't modify the tracking itself in any other way.

[2018-10-16 17:54] kristinashu commented on #1925
Right! Thanks for clarifying. No, don't need modify tracking.

[2018-10-16 18:08] kristinashu commented on #1899
@alanmoo @mmmavis just to make sure we're on the same page from our meeting...
- P1: Nav share as recommended above
- P1: for now, Product creep-o-meter shares will just do the same as Nav share
- P2: later, make it so Product creep-o-meter share product url and custom message as recommended above
  - we will won't use Share Progress
  - will use FB API

[2018-10-16 18:37] alanmoo commented on #1951
Thanks for creating this. I realized product names might cause a problem, and it looks like they do- https://foundation.mozilla.org/privacynotincluded/products/Harry%20Potter%20Coding%20Kit%20%E2%80%93%20Build%20a%20Wand for example.

@cadecairos or @patjouk can you help us sanitize these URLs?

[2018-10-16 18:44] cadecairos commented on #1951
Do we still want URLs to use product names? using ID numbers makes more sense, and will prevent weird decisions being made, like "do we use underscores and substitute them for names when looking up a product?" and "Don't include URL unsafe text in your product names!"

[2018-10-16 18:55] alanmoo commented on #1951
Goooooood question. I don't particularly care. @kristinashu?

[2018-10-16 19:00] cadecairos commented on #1951
Another option would be to have a slug field generated on save from the title value, which can be used in lookups

[2018-10-16 19:22] kristinashu commented on #1951
Is this settled? The URL should be the product name, makes it much easier to revisit and/or share a page. But what to do with spaces I don't know! Can it just remove them for the URL? Example https://foundation.mozilla.org/privacynotincluded/products/HarryPotterCodingKitBuildaWand or dashes https://foundation.mozilla.org/privacynotincluded/products/Harry-Potter-Coding-Kit-Build-a-Wand

[2018-10-16 19:31] cadecairos commented on #1951
I'm sorry, I was typing on my cell phone while walking, fat fingered the close and comment button.

[2018-10-16 19:32] cadecairos commented on #1951
I think I can solve this by slugifying the title and saving it along with the model.

[2018-10-16 19:35] kristinashu commented on #1951
Lol ok cool. Yeah I guess we should follow what rest of site does and use dashes https://foundation.mozilla.org/en/opportunity/tech-policy-fellows/

[2018-10-16 22:54] kristinashu commented on #1889
PR https://github.com/mozilla/foundation.mozilla.org/pull/1948

[2018-10-16 23:16] #1917 closed

[2018-10-16 23:19] Pomax opened #1955 "figure out why the "optimize:svg" task isn't running correctly"
It seems to not be kicking in for files in the subdirectories.

It also uses `find`, which is not cross-platform in the slightest.

[2018-10-17 15:19] beccaklam commented on #1918
Banner ad specs for desktop ad on MozFest site @caltrider
Standard leaderboard (728x90) In-situ here (ad will be in the red box):
![banner-ad](https://user-images.githubusercontent.com/20977376/47097007-6fa85000-d1fe-11e8-8d7a-337e6006d2be.jpg)
Still need to figure out mobile sizing

[2018-10-17 15:32] cadecairos commented on #1684
@stephaniemcv ping?

[2018-10-17 16:20] #1953 closed

[2018-10-17 16:53] alanmoo commented on #1889
@cadecairos I think moderators just need to be added and then we can close this.

[2018-10-17 17:15] cadecairos commented on #1889
Folks will need to create accounts, then we can promote them to moderator.

[2018-10-17 17:38] kristinashu opened #1958 "Buyers Guide: Add filters to home page"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1739

Comps https://redpen.io/p/qz6bdb2811e058ffb1

Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1820

Filter svg icon [icon-filter.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2448495/icon-filter.svg.zip)

- [x] Filter 'bubble' that expands (animation opportunity!) upon click

[2018-10-17 17:38] kristinashu commented on #1820
Follow up ticket for filters so it can be done separately https://github.com/mozilla/foundation.mozilla.org/issues/1958

[2018-10-17 17:44] beccaklam commented on #1918
Mobile banner ad placement:
![mobile-bannerad](https://user-images.githubusercontent.com/20977376/47105712-bacc5e00-d212-11e8-9835-72c62cf642a8.jpg)

[2018-10-17 17:50] Pomax opened #1959 "Buyers Guide: determine if the donate button needs utm arguments"
For metrics purposes we might need `utm` arguments on the donate button, so that the donate site understands that a donation is coming in because someone visited the buyers guide rather than any of the other sites/campaigns

[2018-10-17 18:14] kristinashu commented on #1889
Do moderators need to create a general Talk account or specific to this instance? Jen and I both have accounts [firstname]@mozillafoundation.org, will that work?

[2018-10-17 18:42] desiree-mofo commented on #1684
@cadecairos  - I don't think it does b/c no one can see any details unless they authenticate via Salesforce.com. I'll double check with Andrew, but my thought is no b/c it doesn't reveal PII (It's a campaign, not a person), even if they were to get that ID - there's no Personally Identifiable info there - they'd have to get to another object to get any PII

[2018-10-17 18:45] desiree-mofo commented on #1684
....and if this is just a Campaign ID for a Salesforce sandbox, I really don't think it's an issue. However, that ID will change / get erased when a Sandbox is refreshed (all data is wiped on a refresh), so it would need to be set up after every Salesforce sandbox refresh, but we can account for that in the refresh process

[2018-10-17 19:00] desiree-mofo commented on #1684
Spoke to Andrew, if it's not too much trouble to mask the value, please do. Also, would the value be de-crypted (unmasked) in Basket (before it gets to SFDC?

[2018-10-17 19:29] #1893 closed

[2018-10-17 22:15] kristinashu commented on #1951
Not sure if it's related but when I go to https://foundation.mozilla.org/privacynotincluded/ and click on the following product links, I get a 404:
- https://foundation.mozilla.org/privacynotincluded/products/BB-8%20Robot
- https://foundation.mozilla.org/privacynotincluded/products/Amazon%20Echo%20%26%20Dot
- https://foundation.mozilla.org/privacynotincluded/products/Harry%20Potter%20Coding%20Kit%

[2018-10-17 22:34] kristinashu opened #1960 "Buyers Guide: Updates and Related Products stoped working"
These two sections used to work but now they don't. In the cms, I have selected the items but then they don't show up on the live page.
<img width="893" alt="screen shot 2018-10-17 at 3 32 42 pm" src="https://user-images.githubusercontent.com/1068783/47120004-0e927380-d222-11e8-9640-7d8fc9b89815.png">
<img width="970" alt="screen shot 2018-10-17 at 3 32 48 pm" src="https://user-images.githubuserco

[2018-10-17 23:35] kristinashu commented on #1960
Heyo this looks related https://github.com/mozilla/foundation.mozilla.org/issues/1913

[2018-10-17 23:36] kristinashu commented on #1867
Categories are added!

It's all on Jen now to add any missing content and to QA it. She will do that this weekend. Closing this ticket.

[2018-10-17 23:36] #1867 closed

[2018-10-18 01:02] #1820 closed

[2018-10-18 15:33] cadecairos commented on #1951
Update: I've got a working implementation of automatically slugify-ing the title field. I'm just working on adding it in where product name was used before, and I also need to update the admin form for products to not show the slug field, since it's auto generated.

[2018-10-18 17:06] kristinashu commented on #1960
cc @cadecairos

[2018-10-18 17:52] cadecairos commented on #1960
This issue isn't related to the warning in #1913

[2018-10-18 18:39] #1960 closed

[2018-10-18 20:00] kristinashu opened #1966 "Buyers Guide: Creep-O-Meter result preview"
Text should reflect the votes:
- "creepy" (first two bars), "not really creepy" (middle), "not creepy" (last two bars)
- "not likely to buy it" or "likely to buy it"

<img width="803" alt="screen shot 2018-10-18 at 12 10 13 pm" src="https://user-images.githubusercontent.com/1068783/47180308-24ad3c00-d2d5-11e8-8ada-bca4de87f09a.png">

[2018-10-18 20:05] kristinashu opened #1968 "Buyers Guide: Styling QA for creep-o-meter"
Low priority styling updates:
- [x] Before voting: likely to buy icons the same width
- [x] Before + After voting: vote text (in both locations) shoudl be `h6-heading-uppercase` from style guide
- [x] After voting: remove "so far:" text from title
- [x] After voting: all bars should be #e1e1e1
- [x] After voting: Likely to buy text in the bars is odd
- [x] After voting at medium width: the two res

[2018-10-18 20:10] kristinashu opened #1969 "Buyers Guide: Creep-O-Meter tappable"
This is a bonus! Would be if a user could also click on the gradient (instead of the face/circle) and that would move the face over there. Definitely a bonus tho. Just wonder if some user might try to do that. But could test and see at mozfest first.

[2018-10-18 20:14] kristinashu commented on #1899
Update:

Yay @mmmavis is done with the shares in the nav https://github.com/mozilla/foundation.mozilla.org/pull/1926

Now that Alan has finished with creep-o-meter, Mavis can set those up too.

Product page shares should:
- FB, Twitter, Email will link to product page
- Tweet + Email will give pre-populated text (editable by user): "I think this product is CREEPY. What do you think? Check out the

[2018-10-18 21:06] #1966 closed

[2018-10-18 21:12] Pomax opened #1971 "Buyers Guide: add GA to product page"
Partial fulfillment of https://github.com/mozilla/foundation.mozilla.org/issues/1925

[2018-10-18 21:25] Pomax opened #1972 "See if we can refactor `{{"AWS_LOCATION" | env}}` in a good way"
It might be possible to figure out the real media url in settings.py and then have views tap into that.

[2018-10-18 21:30] kristinashu opened #1973 "Buyers Guide: make dot on Creep-O-Meter bigger"
@Pomax thank you for moving the face above the slider but can you also please make the dot and it's hit area larger? Looks like it needs the a little drop shadow too.

![screen-shot-2018-10-18-at-2 25 34-pm](https://user-images.githubusercontent.com/1068783/47185366-0a2d8f80-d2e2-11e8-9281-43f6e9f68cd0.jpg)

[2018-10-18 21:33] #1951 closed

[2018-10-19 01:43] kristinashu commented on #1889
Ok Jen and I have both login on prod

[2018-10-19 01:44] kristinashu commented on #1944
🙌

[2018-10-19 01:44] #1944 closed

[2018-10-19 01:46] kristinashu commented on #1888
🙌

[2018-10-19 01:46] #1888 closed

[2018-10-19 03:28] kristinashu opened #1976 "Buyers Guide: QA elements go over top of the nav"
The face and some text go over top of the nav, it should be under.

This is happening in FF and Chrome, but is good in Safari.

<img width="1009" alt="screen shot 2018-10-18 at 7 16 05 pm" src="https://user-images.githubusercontent.com/1068783/47196156-19c5cc00-d314-11e8-8d17-486a6bd17632.png">
<img width="1080" alt="screen shot 2018-10-18 at 8 27 18 pm" src="https://user-images.githubusercontent.

[2018-10-19 03:30] kristinashu opened #1977 "Buyers Guide QA: home page is oonly showing thumbs down"
All the thumbs are down, even if the majority would buy it.

_Could it be that it just hasn't updated yet? Will check again in the morning._

<img width="799" alt="screen shot 2018-10-18 at 8 25 37 pm" src="https://user-images.githubusercontent.com/1068783/47196250-7f19bd00-d314-11e8-907d-b698e3cd2ef6.png">

[2018-10-19 09:10] patjouk commented on #1913
Closing it: no more warnings this morning. It would be great though to check if most of those fields need to be `blank=True`.

[2018-10-19 09:10] #1913 closed

[2018-10-19 12:17] alanmoo commented on #1889
Me too

[2018-10-19 12:40] cadecairos commented on #1889
You've all been granted permissions

[2018-10-19 12:42] #1889 closed

[2018-10-19 15:08] kristinashu opened #1981 "Buyers Guide QA: improve styling of intro at narrow widths"
On the homepage:
- [x] improve how the hero image is cropped (show more of the image - maybe crop left side?)
- [x] make intro text wider

Prod
<img width="352" alt="screen shot 2018-10-18 at 7 28 05 pm" src="https://user-images.githubusercontent.com/1068783/47226479-7d341600-d375-11e8-9fa9-0a1256cc7506.png">

Comp
<img width="318" alt="image" src="https://user-images.githubusercontent.com/1068783

[2018-10-19 15:13] #1976 closed

[2018-10-19 16:05] #1977 closed

[2018-10-19 17:11] kristinashu opened #1982 "Buyers Guide QA: Posts from updates aren't showing up"
I have selected an update for PS4 but it isn't showing up on the site.

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/1068783/47233345-42d37480-d387-11e8-8ac0-bdbc13a14eb5.png">

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/1068783/47233330-2fc0a480-d387-11e8-8209-d1bd5eb121a6.png">

[2018-10-19 17:33] alanmoo opened #1983 "Redirect old buyer's guide links"
Tuesday October 22:

- [ ] Redirect https://privacynotincluded.org (and www.privacynotincluded.org) to https://foundation.mozilla.org/privacynotincluded
- [ ] Redirect https://advocacy.mozilla.org/privacynotincluded to https://privacynotincluded.org

[2018-10-19 17:39] alanmoo opened #1984 "Improve Buyer's guide homepage performance"
- [ ] Add caching (in Django settings?) for product images
- [ ] Reduce image load impact on homepage in some way (template resize filter, lazy load, etc. Not picky)

[2018-10-19 17:55] xmatthewx commented on #1916
Be sure to avoid a loop. We should probably let privacynotincluded.org propagate for 24 hours before we do the advocacy redirect.

[2018-10-19 17:56] xmatthewx commented on #1916
Advocacy redirect should use a wildcard to redirect all product urls

[2018-10-19 17:58] xmatthewx commented on #1940
We walked through the list as a group. I've assigned issues to file via comments in the [doc](https://docs.google.com/document/d/1cCuILd6Dwcr0uSSH69qFkeKDNiV_i50fBg0vH6R8nNQ/edit#heading=h.5uajtx709lys). After that's done, @kristinashu can sort the board and close this.

[2018-10-19 18:00] kristinashu commented on #1983
Related to https://github.com/mozilla/foundation.mozilla.org/issues/1916

[2018-10-19 18:15] #1983 closed

[2018-10-19 18:53] #1899 closed

[2018-10-19 19:32] mmmavis commented on #1892
@kristinashu

Where can I find the external url you mentioned?

[2018-10-19 19:40] kristinashu commented on #1892
Each product will link to a different url, so this should be added as a field in the cms.

Does that make sense? Happy to hop on a call and chat through all of these if you like.

[2018-10-20 10:46] alanmoo opened #1987 "Landscape mode on iPhone X looks odd"
The background doesn’t span the entire page or something.

https://foundation.mozilla.org

[2018-10-20 10:48] alanmoo commented on #1987
![2472b46c-aed6-4846-9eb0-d7c536cbe965](https://user-images.githubusercontent.com/1682681/47254726-058de600-d45e-11e8-89a4-6801cb8bf002.png)

[2018-10-21 21:45] alanmoo opened #1988 "Buyer's Guide: Updating product names breaks url"
From Slack:

Heya, just flagging things as I update and review product content this weekend.
The link to the Beeline Smart Bike Compass seems to be broken.
https://foundation.mozilla.org/en/privacynotincluded/products/smart-compass-for-bike/

Ah, apparently if I edit the name of the product, it breaks the product page link. Not sure what to do about that?
I broke the Withings Body Scale too (what’

[2018-10-22 16:24] kristinashu opened #1989 "Buyers Guide QA: some products are missing content"
@caltrider noticed that content for some products just isn't showing up even when all the info has been entered in the cms.

Happening on these pages and possibly others:
https://foundation.mozilla.org/privacynotincluded/products/athena-safety-wearable/
https://foundation.mozilla.org/privacynotincluded/products/ticwatch-pro/
https://foundation.mozilla.org/privacynotincluded/products/fredi-baby-mon

[2018-10-22 16:35] kristinashu opened #1995 "Buyers Guide: update copy on About page"
Copy updates from Jen
https://docs.google.com/document/d/16cUpqZz0K43G4wuxfymqVM_F8c9rMrKV5imuhCcCvQk/edit#

[2018-10-22 17:30] cadecairos commented on #1916
I've redirected `privacynotincluded.org`, `www.privacynotincluded.org`, `privacynotincluded.com`, `www.privacynotincluded.com`, `advocacy.mozilla.org/*/privacynotincluded/*` to `foundation.mozilla.org/privacynotincluded`.

There's no site to take down, since the privacynotincluded.org (and .com) redirected to the advocacy domain, and the PNI site there is part of the advocacy.mozilla.org code repo

[2018-10-22 17:38] Pomax commented on #1989
I've filed https://github.com/mozilla/foundation.mozilla.org/pull/1999 to see if that fixes it, but there is an odd difference where foundation.moz seems to use data not found in local dev.

[2018-10-22 18:56] cadecairos opened #2000 "Bust the Google search cache for "privacynotincluded""
Related: #1916

Searches on Google for "privacynotincluded" show links to `advocacy.mozilla.org`. They redirect properly to the new guide, but we might want to have Google learn they're redirecting to the foundation site-based guide now.

In order to do that we'll need to either wait for it to organically update, or verify the `advocacy.mozilla.org` domain for use on the Google search console. The

[2018-10-22 19:19] kristinashu commented on #1873
Rebecca designed some seals. I've placed my favorite version into the comps.

There are quite a lot of products that are "secure" and quite a lot that we "can't determine" and just a few that are "not secure". I am going to recommend to Jen that we just don't show any badge for product we can't determine. Do you for see any issues with that? I think users will understand that if there is no seal o

[2018-10-22 19:22] cadecairos commented on #1988
@caltrider so the url of the product is tied directly to the product name. If name is changed, the URL will change too because it runs it through a process to make it URL safe.

A refresh of the products/category pages should update links properly. Does the URL rendered on the page not update properly after a refresh?

[2018-10-22 19:36] #1989 closed

[2018-10-22 19:38] alanmoo commented on #1988
The logic behind this being: we probably aren't changing the product name after it's gone live, so it shouldn't be that big of an issue. Does that sound reasonable, @caltrider?

[2018-10-22 19:40] kristinashu opened #2001 "Buyers Guide: add seal of approval"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/2091

Gavin already added a field to the cms product page with the three answers `yes` `no` `unknown`

<img width="956" alt="screen shot 2018-10-22 at 12 31 42 pm" src="https://user-images.githubusercontent.com/1068783/47314430-7831c980-d5f6-11e8-8a55-2708165e109d.png">

But there has been an update and we will now only ha

[2018-10-22 19:51] xmatthewx commented on #1873
These look fantastic: bold, easy to read, instill confidence.

Will we use "Unsure" and a question mark for the 3rd badge?

[2018-10-22 19:54] caltrider commented on #1988
@alanmoo Yes, after I get done reviewing all the products today (I've got about 14 more to go) the product names should be final and not change any more.

@cadecairos Yesterday it didn't seem the products were coming up after a refresh but today it looks like the products that were broken are working again. The Athena wearable, the Ticwatch Pro, and the FREDI baby monitor are still missing some co

[2018-10-22 20:02] kristinashu commented on #1873
There are quite a lot of products that we are "unsure" about. I am going to recommend to Jen that we just not show any badge for product we can't determine. Do you for see any issues with that? I think users will understand that if there is no seal of approval on a product then we either haven't gotten to reviewing it yet or we just can't determine.

[2018-10-22 20:07] #1988 closed

[2018-10-22 20:19] kristinashu opened #2002 "Buyers Guide: add vote failure notice"

[2018-10-22 20:36] kristinashu commented on #1873
Yay Jen is cool with not showing a badge for `unsure`

Just running language past the rest of the team.

[2018-10-22 20:36] #1873 closed

[2018-10-22 21:46] mmmavis opened #2003 "Refactor criterion tag and product_page.html"
Buyer's Guide post-launch todo:

refactor criterion tag and product_page.html

--

@Pomax can you help add details here?

[2018-10-23 01:25] Pomax opened #2005 "Buyers Guide: GA followup"
We still need to assign elements with the following ids:

- `product-social-button-fb`
- `product-social-button-twitter`
- `product-social-button-email`

[2018-10-23 01:29] Pomax opened #2006 "remove dangerouslySetInnerHTML"
We have `dangerouslySetInnerHTML` in a few places in our site JS (specifically, jsx) and we _really_ shouldn't be injecting raw HTML.

[2018-10-23 01:37] kristinashu opened #2007 "Buyers Guide QA: field is blank"
@caltrider notices: the field under “what does it know about me?” is blank for some products. It should say "Product uses encryption".

Examples:
https://foundation.mozilla.org/privacynotincluded/products/sphero-mini
https://foundation.mozilla.org/privacynotincluded/products/sphero-bb-8-robot/
https://foundation.mozilla.org/privacynotincluded/products/cognitoys-dino/

Screen cap on prod:
<img widt

[2018-10-23 01:39] kristinashu commented on #1916
Can you also please redirect https://foundation.mozilla.org/en/privacynotincluded/ (or https://foundation.mozilla.org/*/privacynotincluded/) to https://foundation.mozilla.org/privacynotincluded/

[2018-10-23 06:32] tristandenyer commented on #1987
I noticed this happens in Firefox app on iOS, but works fine in Safari iOS (haven't checked other browsers.)

I was looking into this and trying to set up 'Debugging Firefox OS over WiFi' ( https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging/Debugging_Firefox_OS_over_Wifi ).  This page seems out of date, and settings panel in neither the Firefox iOS app or the desktop app show anything

[2018-10-23 08:06] alanmoo commented on #1916
Lets do that last set as a temporary in case we localize this next year.

[2018-10-23 10:10] alanmoo commented on #2007
It looks like this is a text encoding issue. I swapped the regular quotes (`"`) for smart quotes (`“`) and (`”`) and that fixes it. That being said, this should still work so I'll take a look and see if there's a way for us to handle those.

[2018-10-23 12:31] alanmoo commented on #1981
I'm opening a PR that does what you're actually asking for, but in the process of building it I found myself looking at this which, IMO, might be a better solution for mobile (with a little adjustment- when you scroll down, the face isn't on a background anymore with this design). I'm not saying we should go with this, but wanted to throw it out there as a thing we can do.

![image](https://user-i

[2018-10-23 12:41] xmatthewx commented on #1916
Good catch @kristinashu!

[2018-10-23 12:49] alanmoo opened #2012 "Document package-lock.json"
I can never tell when I'm supposed to commit package-lock.json or how to update it. Let's add this to our documentation. @patjouk when you have a chance perhaps?

[2018-10-23 12:57] xmatthewx commented on #1984
@cadecairos @alanmoo - have either of you had a chance to look at this? feels important in general, and especially considering the unique bandwidth issues at MozFest.

[2018-10-23 13:44] alanmoo commented on #1987
It also looks weird in Chrome iOS, so perhaps it's a bug in iOS's rendering? Apparently you can't debug a WKWebView page unless you've built the app (Firefox) yourself in Xcode. See [this ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=1131671) and I confirmed in Mozilla's Slack.

[2018-10-23 13:48] cadecairos commented on #1984
I can write a script to add Cache-Control metadata to images uploaded for the buyer's guide.

[2018-10-23 13:51] alanmoo commented on #1987
Part of this is probably that the `html` element background is `black`, but I'm not sure about the extra horizontal scrolling.

[2018-10-23 13:51] alanmoo opened #2014 "Add alt text to product images"

[2018-10-23 14:06] alanmoo opened #2015 "Improve buyer's guide performance"
Image sizing on the homepage, caching, etc.

(I know this one's a bit wibbly-wobbly but let's do what we can this week within reason and then close this)

[2018-10-23 14:07] alanmoo commented on #1940
I created one last issue for performance, as that was the only thing left on the doc.

[2018-10-23 14:07] #1940 closed

[2018-10-23 14:34] alanmoo commented on #1916
@kristinashu Is that because of the 404 pages? We don't link to a localized version of the site anywhere else.

[2018-10-23 15:51] kristinashu commented on #2007
Cool, thanks for fixing!

[2018-10-23 15:56] kristinashu commented on #1981
Your PR looks good! I still prefer to keep the text separate. It's more legible for users and keeps us flexible for a "non-holiday" version of the graphic.

[2018-10-23 16:31] kristinashu opened #2016 "Buyers Guide QA: P2 product detail page"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/1860 and https://github.com/mozilla/foundation.mozilla.org/issues/1892
Comps https://redpen.io/p/qz6bdb2811e058ffb1

### Intro
- [ ] copy link functionality isn't working in Safari on iPhone (but also doesn't work on live site)

### Criteria
- [ ] accordions work well but should [style text in italics and 14px](https://redpen.

[2018-10-23 16:33] kristinashu commented on #1892
This is a big ticket so I've moved all those P2's the a new ticket.

The only remaining things for this one is - P1: completely remove "Requires an account" question.

After that, please close!

[2018-10-23 17:04] techac commented on #1824
@Pomax would like to work on this issue..

[2018-10-23 17:10] #1981 closed

[2018-10-23 19:59] #2007 closed

[2018-10-23 20:14] #1765 closed

[2018-10-23 20:32] #2014 closed

[2018-10-23 20:37] Pomax commented on #1971
this got file but not used for PR tracking, closing.

[2018-10-23 20:37] #1971 closed

[2018-10-23 20:47] Pomax opened #2020 "Buyers Guide: fix donate element ids for GA"
There are multiple instances of `id="donate-button"` so that needs fixing

[2018-10-23 20:48] kristinashu opened #2021 "Buyers Guide: add copy to home page"
If we don't add filters https://github.com/mozilla/foundation.mozilla.org/issues/1958 then we at least need to add copy saying that this is user generated (request from legal).

- [x] Add copy to intro "Products below are rated by users. Click on a product to rate it."
- [x] Zilla Slab, Italic, 18/24, #9B9B9B

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/1068783/473

[2018-10-23 20:51] Pomax commented on #1925
Product GA tracking landed in the codebase, so if you agree @xmatthewx @kristinashu it would be nice to close this and then file follow-ups for the GA events that we still need.

[2018-10-23 20:54] kristinashu opened #2023 "Buyers Guide: /en/ redirect"
Initial request: redirect https://foundation.mozilla.org/en/privacynotincluded/ (or https://foundation.mozilla.org/*/privacynotincluded/) to https://foundation.mozilla.org/privacynotincluded/

Problem: If a user goes to https://foundation.mozilla.org/privacynotincluded/foo and see a 404. User deletes /foo then they still get a 404.

@Pomax suggested:
urlpatterns += [prefix(rule, settings.DEFAULT_L

[2018-10-23 20:55] kristinashu commented on #1916
Opened https://github.com/mozilla/foundation.mozilla.org/issues/2023 so we can close this and deal with https://foundation.mozilla.org/en/privacynotincluded/ separately.

[2018-10-23 20:55] #1916 closed

[2018-10-23 21:04] kristinashu commented on #1925
I'm good to close and do the rest in a new ticket.

@xmatthewx @cadecairos do you know where these will show up? Is it under foundation site or separate. If it's separate than can you please give me access?

[2018-10-23 21:14] kristinashu opened #2024 "Buyers Guide: GA con't"
Key events have been done https://github.com/mozilla/foundation.mozilla.org/issues/1925 but still a few more in the doc https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434

[2018-10-23 21:15] #1982 closed

[2018-10-23 21:33] kristinashu opened #2025 "Buyers Guide QA: hide url for updates"
The title should be linkable and the URL should not be visible.

Staging
<img width="926" alt="screen shot 2018-10-23 at 2 22 46 pm" src="https://user-images.githubusercontent.com/1068783/47392001-23fb1800-d6d0-11e8-9516-02f82b609076.png">

[2018-10-23 21:43] kristinashu commented on #1925
Ok, I don't see them but as long as someone can!

[2018-10-23 21:43] #1925 closed

[2018-10-23 21:45] xmatthewx commented on #2024
I set up a segment so you can filter most analytics views just for users who hit at least one `/privacynotincluded/` page in their session.

To view segment (see screenshot)
 1. Tap All Users
 2. Uncheck All Users from list
 2. Search privacy
 3. Select Privacy Not Included
 4. Hit Apply

<img width="986" alt="image" src="https://user-images.githubusercontent.com/53411/47392466-b3adc000-d6ea-11e8-

[2018-10-23 22:13] kristinashu commented on #1927
Do we still need this now that the prod database has votes and has been copied over to staging?

[2018-10-23 22:34] kristinashu commented on #1868
We can merge with staff feedback in the QA doc https://docs.google.com/document/d/13C0gMgLM9nwhcU1C31dNpQiegbsWzylYESVRLGLa-jM/edit?usp=sharing

[2018-10-23 22:44] #2020 closed

[2018-10-23 22:46] kristinashu commented on #1924
I'm going to add: remove stroke (and shadow?) that is around each image.

[2018-10-23 23:01] Pomax commented on #2025
I think I'm missing some details around what the expected behaviour is supposed to be for which element(s) -- Is the idea that the product's title will link to its buyersguide URL, or to the product's original URL on the manufacturer's website?

If the first, that should be straight-forward, but I'd recommend against the second, instead making it link to its buyersguide URL, and then having a sepa

[2018-10-23 23:17] Pomax opened #2028 "Buyers Guide: make it clear to users where the product link in updates will take them"
In the "update" section of the product page we're currently linking to the source of the update (news item, product changelog, whatever explains how the product changed), by linking there from the update's title, but as a website that brings transparency to creepy products it might be a good idea to explicitly show people that URL so that they know where they're going to be sent to if they click o

[2018-10-23 23:23] Pomax opened #2029 "Buyers Guide: audit the model for and `addslashes` need"
Give https://github.com/mozilla/foundation.mozilla.org/pull/2010, which added `addslashes`, and then https://github.com/mozilla/foundation.mozilla.org/pull/2026, which selectively takes them away depending on a property name, we should audit the code to see:

1.  why we need `addslashes` at all (can we be better with the code we're generating?), and
2. whether we can cleanly set up something that'

[2018-10-23 23:28] #2025 closed

[2018-10-23 23:28] Pomax opened #2030 "Inconsistency between prod and local dev: bugs on deletes_data/child_rules"
/cc @cadecairos @alanmoo @kristinashu

### what's wrong?

https://foundation.mofostaging.net/privacynotincluded/products/apple-watch-4/ shows off a bug in product page rendering, where its model looks like this:

![image](https://user-images.githubusercontent.com/177243/47396548-22395080-d6e0-11e8-940a-7bb76cf18e8a.png)

but its associated product page looks like this:

![image](https://user-image

[2018-10-23 23:41] kristinashu commented on #1892
🎉 yay thank you @mmmavis!

[2018-10-23 23:41] #1892 closed

[2018-10-24 00:08] kristinashu opened #2031 "Buyers Guide QA: if Reading level Can't be determined then it should say that"
Example: https://foundation.mozilla.org/privacynotincluded/products/fredi-baby-monitor/ and https://foundation.mozilla.org/privacynotincluded/products/tractive-gps-3g-pet-tracker/

If the Reading Level in the CMS is set to "Can't Determine" then the page should say "Can't determine". But on Prod is says "Level 0" (this is a new issue, used to be ok).

CMS
<img width="908" alt="screen shot 2018-10-

[2018-10-24 04:40] tristandenyer commented on #1987
(If I assume this correctly) I think the horizontal scrolling you are seeing in the screenshot is the persistent iPhone X grab bar thing at the bottom of the screen. Mine on iPhone X does not scroll horizontally.

[2018-10-24 12:44] alanmoo opened #2033 "GA isn't showing buyer's guide visits"
I can't quite tell if this is a GA filtering or implementation issue but when I visit https://analytics.google.com/analytics/web/#/realtime/rt-overview/a87658599w138395144p162890438/ I don't see any hits from the guide, despite seeing myself visiting the main site.

(Firefox also seems to not be reporting on the main site for me despite DNT being disabled. I can't tell if that's a separate issue.)

[2018-10-24 14:21] cadecairos commented on #2033
I've set up a filtered view for PNI: https://analytics.google.com/analytics/web/#/realtime/rt-overview/a87658599w138395144p183946777/ And I can confirm I'm seeing realtime hits there, but only for events we've wired up.

I think we need to manually trigger page views: https://github.com/react-ga/react-ga#reactgapageviewpath

[2018-10-24 15:34] #2033 closed

[2018-10-24 15:43] xmatthewx commented on #2024
Of all these, the site-wide share button will be most important to add, since these shares are part of the key engagement metric we're tracking.

Assigning @alanmoo to triage 😉

[2018-10-24 15:53] xmatthewx commented on #1868
Yep, good thinking, there might be some feedback worth adding to these testing prompts.

[2018-10-24 16:14] kristinashu commented on #2033
@cade are you able to give me access to that? It says I'm missing permissions.

[2018-10-24 18:16] cadecairos commented on #2033
@kristinashu done!

[2018-10-24 20:35] cade commented on #2033
It's less fun when @cadecairos beats me to responding... I am in Montreal at the moment though, so I have a Canadian-themed joke for y'all:

🇨🇦 🍁 🏒

[2018-10-24 21:02] Pomax commented on #2030
Yay, this was heroku~

[2018-10-24 21:02] #2030 closed

[2018-10-24 21:46] Pomax commented on #2024
@xmatthewx hm, we added event for those already though, are they not showing up? (the primary nav has GA hooked up for both the desktop and mobile views as far as I can see)

[2018-10-24 22:14] Pomax commented on #2021
What is the 18/24 intended for? font-size 24, with 18 on mobile, or font-size 18 with 24 lineheight?

[2018-10-24 22:43] Pomax commented on #1968
Note that the PR does not introduce a gradient bar in the post-vote screen, for the bars-with-faces. This is not implemented right now, if we still want that: let's file a separate issue for that.

[2018-10-24 22:44] Pomax commented on #1959
Who should be looking at this? @xmatthewx? @WillatMozFdn?

[2018-10-24 22:47] Pomax commented on #2016
I don't see anything in the comp about the accordions (there is no comp with an expanded accordion?), do you mean that the help text that is revealed should be in italics, at 14px size, or something else?

[2018-10-24 22:51] Pomax commented on #2016
Should the dot pattern be "starting at updates all the way to the footer" or "updates only,not related products"?

[2018-10-24 22:51] Pomax commented on #2016
Also, inconveniently I do not have an iphone, I don't quite know how to test the "copy link" function... =S

[2018-10-24 22:52] #2023 closed

[2018-10-25 01:38] kristinashu commented on #2016
Sorry, old link. Here's a mockup:
<img width="774" alt="image" src="https://user-images.githubusercontent.com/1068783/47470500-f0b6a700-d7fd-11e8-82cb-035827d2cbe3.png">

Pattern is for "updates" only. I have the height for the pattern at 228px in height. It is only visible if there are updates in that section.

<img width="1269" alt="image" src="https://user-images.githubusercontent.com/1068783/4

[2018-10-25 02:03] kristinashu commented on #2033
😂

[2018-10-25 02:39] kristinashu opened #2042 "Buyers Guide QA: improve column width styling at medium screen widths"
Width of content at break point between around 980-770px seems narrow. Could it take up more column widths (so less white space on the sides)?

Screen cap from staging:
![screencapture-foundation-mozilla-org-privacynotincluded-products-nintendo-switch-2018-10-25-02_50_48](https://user-images.githubusercontent.com/1068783/47472699-8acf1d00-d807-11e8-80ee-33bb7cbe01c7.png)

[2018-10-25 09:57] #1945 closed

[2018-10-25 10:09] #2021 closed

[2018-10-25 10:21] #1968 closed

[2018-10-25 10:48] alanmoo opened #2043 "Locale non-redirect could cause comment issues"
It's cool that URLs like https://foundation.mofostaging.net/en/privacynotincluded/products/parker-teddy-bear/ still work, but there's one problem with that (which may not be a real problem in practice, as all the links point people at the non-`en` route, but Coral Talk comments are tied to URLs.

So comments on https://foundation.mofostaging.net/en/privacynotincluded/products/parker-teddy-bear/ do

[2018-10-25 10:57] #2029 closed, assigned to nobody

[2018-10-25 11:00] alanmoo opened #2044 "Fix remaining Buyer's Guide criteria issues."
Follow up on #2036

- [x] Reading levels 13 or greater are "bad"
- [x] All products should be "Can't determine" rather than "Not required". The only exception is "If a password is required, you must change the default password" should be "Not required".

[2018-10-25 11:25] kristinashu opened #2045 "Buyers Guide QA: faces are misaligned"
Since the last push, the faces are not quite lining up properly. They should be vertically centered in between the dividing lines.

Screen cap from prod showing the faces slightly too high
<img width="910" alt="screen shot 2018-10-25 at 12 18 35 pm" src="https://user-images.githubusercontent.com/1068783/47496962-651a3600-d850-11e8-8344-e5aaed381706.png">

[2018-10-25 12:53] WillatMozFdn commented on #1959
Oh yes, please, let's track this URL.  Correct URL will be:

https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=buyersguide&utm_campaign=buyersguide2018&utm_content=modal

If we're doing it in ES as well as EN, we should probably use for "buyersguide2018ES" and "buyersguide2018EN" for the UTM_campaign tag, respectively.

**Can someone please loop me in on the verbage being us

[2018-10-25 14:19] cadecairos commented on #2043
Hmm yeah there's no way around that in Coral Talk AFAIK. we'll need to just redirect somehow

[2018-10-25 15:05] kristinashu commented on #2024
The header shares always share the homepage. But it doesn't look like they are showing up in GA.

[2018-10-25 15:18] kristinashu opened #2046 "Buyers Guide: open vote share in new tab"
Sorry Pomax I know you hate opening links in new tabs but I think we need to for this. Because if a user: Votes on a product, clicks share on Twitter, then wants to share on FB so they click the back button, but they can't share on FB now because they are back at the pre-voting screen.

Would be better if the share screens like FB and Twitter opens in a new tab so users can close it and return to

[2018-10-25 15:59] Pomax commented on #2046
That's an interesting use-case: I agree, in this case a new tab makes a lot of sense.

[2018-10-25 16:16] xmatthewx commented on #2024
There were no events for this yesterday. I now see 2 events from today. I think we're good for GA on site wide shares and all the events critical launch.

Events > Action: Share tap > Category: Site

<img width="321" alt="image" src="https://user-images.githubusercontent.com/53411/47514877-6b5be280-d84f-11e8-80a1-e17641dbbe72.png">

[2018-10-25 16:36] Pomax commented on #2043
In that case we're back to the original recommendation: make `en/privacynotincluded` redirect to `/privacynotincluded`, which I would still say we do in urls.py, and not through wagtail, so a deploy works without needing any database table values added/changed.

[2018-10-25 16:37] cadecairos commented on #2043
I briefly attempted to set up a redirect to do that in urls.py, but it seems the i18n middleware is somehow preempting it with a 404.

[2018-10-25 16:38] Pomax commented on #2043
sounds like an ordering issue, let me see if I can make it do that.

[2018-10-25 17:12] kristinashu commented on #2024
Ok awesome!

[2018-10-25 17:28] Pomax commented on #2044
I've updated both, but I've left out the exception. as "should you change your password?" is still the same "yes/no/unknown" value in the model. If you don't need to change the password, then we should save that product with value `no`. If we save `unknown` then we're saying we literally don't know, and then showing "not required" would be bad.

[2018-10-25 17:31] Pomax commented on #2044
/cc @kristinashu

[2018-10-25 19:18] Pomax commented on #1823
Do we have a higher quality version of that earth image? (there's a lot of jpg artifacting in the one linked)

[2018-10-25 20:37] #2045 closed

[2018-10-25 22:51] #2044 closed

[2018-10-25 22:58] #1969 closed

[2018-10-26 06:20] WillatMozFdn commented on #1823
Copy & overall design look fine to me.  Thanks!!!

[2018-10-26 07:57] alanmoo opened #2056 "Privacy policy help text doesn't appear"
Filling in the field doesn't result in help text appearing on the product page

[2018-10-26 08:11] alanmoo commented on #2056
cc @Pomax

[2018-10-26 12:42] #1824 closed

[2018-10-26 15:06] #2056 closed

[2018-10-26 19:28] alanmoo opened #2060 "Indicate that user clicked "submit vote" button"

[2018-10-26 20:07] #2046 closed

[2018-10-27 08:52] kristinashu commented on #1959
So should we do the same utm for both the header donate button and the popup donate button?

https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=buyersguide&utm_campaign=buyersguide2018&utm_content=button

[2018-10-27 09:33] WillatMozFdn commented on #1959
ah, well if we have two buttons, let's vary the utm_content tag, and use "headerbutton" and "popupbutton" if possible .... would that work?  We might be gettin a little over-granular with that, but I actually am curious to see which one works better....

[2018-10-27 09:34] alanmoo opened #2062 "Align user vote with creep-vote graph feedback"
After landing #2061, creep votes round up in the resulting bar graph, so the range of the first level is narrower than the rest. A vote of 0-19 (or 1-20?) should result in the first bar being highlighted.

[2018-10-27 09:48] kristinashu opened #2063 "Buyers Guide: add utm arguments to donate buttons"
Based on - Buyers Guide: determine if the donate button needs utm arguments #1959

- [ ] https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=buyersguide&utm_campaign=buyersguide2018&utm_content=headerbutton

- [ ] https://donate.mozilla.org/?utm_source=foundation.mozilla.org&utm_medium=buyersguide&utm_campaign=buyersguide2018&utm_content=popupbutton (related https://github.com

[2018-10-27 09:48] kristinashu commented on #1959
Ok cool, opened an implementation ticket https://github.com/mozilla/foundation.mozilla.org/issues/2063

[2018-10-27 09:48] #1959 closed

[2018-10-29 10:49] alanmoo commented on #1995
This was implemented right before Mozfest in #2058.

[2018-10-29 10:49] #1995 closed

[2018-10-29 11:54] alanmoo commented on #1426
I believe the original needs of this have been met, if more l10n work is needed on the site let's create a new issue describing the latest situation.

[2018-10-29 11:54] #1426 closed

[2018-10-29 16:06] kristinashu opened #2072 "Buyers Guide: user feedback"
Becca & team got some useful feedback at mozfest https://docs.google.com/document/d/1NxJUSMjgcjdkaorXko7a9Rm_9h3TZge7p5pCUeeUqO0/edit#heading=h.qkrcs2d8sfgd

We will compile it, decide on our recommendations and then adjust our designs!

[2018-10-29 16:07] kristinashu commented on #1868
w00t got some great feedback, follow up in https://github.com/mozilla/foundation.mozilla.org/issues/2072

[2018-10-29 16:07] #1868 closed

[2018-10-29 20:24] Pomax opened #2074 "Buyers Guide: cyclical redirect?"
I'm seeing `Failed to load resource: net::ERR_TOO_MANY_REDIRECTS` for pointing to `/privacynotincluded/products/apple-watch-4/static/embed.js:1`, not sure yet why that's getting generated, but it's there...

[2018-10-30 10:37] #2062 closed

[2018-10-30 15:44] xmatthewx opened #2079 "Buyers Guide: add seal of approval to homepage and filter"
@kristinashu - let's discuss the use of [the seal of approval](https://github.com/mozilla/foundation.mozilla.org/issues/2001) on the homepage and as a filter feature. Feels important to surface Mozilla's opinion more, given the noisiness of visitor opinion.

[2018-10-30 16:16] xmatthewx commented on #2079
Here's a quick wireframe comp for demo. Haven't really thought through the ux and ui.

Some possibilities
 - add seal to thumbnails
 - add checkbox to filter
 - show seal by top emoji when active

<img width="1634" alt="image" src="https://user-images.githubusercontent.com/53411/47732857-6925c980-dc3d-11e8-8f27-10a0d7c49a76.png">

[2018-10-30 18:04] kristinashu opened #2080 "Add link to *privacynotincluded logo"
Make the *privacynotincluded logo in the header link to buyers guide home page (privacynotincluded.org).

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/1068783/47739817-70e07080-dc33-11e8-985c-4b9a3fdb6e9f.png">

[2018-10-30 18:05] #2074 closed

[2018-10-30 18:35] Pomax commented on #1924
I'll file that as separate issue, since that's not refactoring but actual styling changes.

[2018-10-30 18:43] Pomax opened #2081 "remove stroke (and shadow) from category page"
from https://github.com/mozilla/foundation.mozilla.org/issues/1924

[2018-10-30 19:42] cadecairos opened #2082 "Ensure talk is properly disabled on review apps"
I'm seeing the talk scripts get embedded on review apps. The logic in the template for cases where there's no variable defined must be flawed.

[2018-10-30 20:00] alanmoo commented on #1843
I have no opinions on the UTM, so sure.

[2018-10-30 21:52] #2082 closed

[2018-10-30 22:24] kristinashu commented on #1958
@Pomax this is ready to be implemented. I know we talked about holding off on it but after some feedback at mozfest, we think this is a valuable feature to have.

[2018-10-31 15:20] #2081 closed

[2018-10-31 17:11] xmatthewx commented on #2024
@Pomax - are you able to [re-name the site category](https://github.com/mozilla/foundation.mozilla.org/issues/2024#issuecomment-432425945) on a few of the already implemented events? From `site` to `buyersguide` as listed in [column E of the spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434).

Why? When I originally labeled this I f

[2018-10-31 17:57] Pomax commented on #2024
@xmatthewx  Certainly, but that will touch already landed code so if we can file a new issue specifically for that rename I can whip up the PR that addresses it.

[2018-10-31 17:59] Pomax commented on #1958
Are there also comps that make it clear how all these filters relate back to the products that are being shown? (E.g. just seeing images getting shuffled around leaves no clues for the user to determine what the actual ordering is, or what the jumps in filtered value are from one product to the next?)

[2018-10-31 18:48] kristinashu commented on #1958
I'm not completely sure what you mean but hopefully this helps... the likelihood to buy filter should be obvious since if a user selects thumbs up in the filters then that they will only thumbs up. Creepiness range is trickier since they will have to scroll to see it but pretty sure users understand the general concept of using filters. We are working on designs for adding in text next to the face

[2018-10-31 18:54] Pomax commented on #1958
Usually when you have a filter, the "thing you filtered on" is visible in the results, too. So for instance, if we're filtering on creepiness, then the results would have some kind of incidation of what their creepiness is, if we're filtering on likely/not likely, the results would have an indication of what that value is, to explain what they user's seeing, Basically the "ordered set" may be orde

[2018-10-31 18:58] xmatthewx opened #2087 "Rename GA Event Category"
Change the Event Category `site` to `buyersguide` for less ambiguity. Why? These events will be mixed with foundation site events. This was my oversight on the initial request.

The change is noted in [column E of the spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434) for each affected event.

After this is done, let's update the sp

[2018-10-31 20:25] cadecairos commented on #1984
Just to update this issue, We've applied caching to the product data fetched from the database, which has reduced [TTFB](https://en.wikipedia.org/wiki/Time_to_first_byte) times from roughly 4.5 seconds to 0.2-0.4 seconds

@patjouk has an in-progress branch implementing Cloudinary as an image storage and delivery service, so we can specify in our templates the dimensions and compression level of im

[2018-10-31 21:17] alanmoo opened #2088 "Associate creepiness vote with likelyhood vote"
It would be great to be able to answer questions like "does perceived creepiness have an impact on how likely someone is to buy a product". Let's find a way to link the two votes together so we can make that type of analysis.

[2018-11-01 14:51] xmatthewx commented on #1984
After this is done, should we look at cloudinary for all foundation site and pulse stuff? pulse is littered with oversized images.

[2018-11-01 15:12] patjouk commented on #1984
I think that's the idea. I started exploring Cloudinary with pulse-api but switch to buyers guide because priorities :D

[2018-11-01 16:14] Pomax opened #2089 "Buyers Guide: it looks like scripts wait for images to load on the homepage"
And that's odd: images should load asynchronously in the browser when using an `<img>` element, but instead what I'm seeing it do is fully load the page including images _before_ it starts our React injection, so if you're on a slow connection you can easily wait 10 seconds or more before the site adds in all the script bits that make it a nice site.

[2018-11-01 18:27] kristinashu opened #2090 "Social graphics to promote Buyers Guide"
Few images and gifs for social, email, blog posts on both the Mozilla blog and Medium, some for press releases for media to use.

Some possible [copy](https://docs.google.com/document/d/1hRYn2EFAJxGjikeQqsXeeiaPOdJy37dzwi10PJTl_EA/edit#heading=h.j8n12cvme0nu).

[2018-11-01 18:29] kristinashu commented on #1918
MozFest is done! Opened a new ticket for general launch promo https://github.com/mozilla/foundation.mozilla.org/issues/2090

[2018-11-01 18:29] #1918 closed

[2018-11-01 20:42] kristinashu opened #2091 "Update seal of approval"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/1873

Update:
- we will now only have one badge
- copy will be "Meets Our Minimum Security Standards"
- from the comps, I think 140x140px is a good size for [desktop](https://redpen.io/bcd47ecb6d670654da) but keep in mind it will be smaller on [mobile](https://redpen.io/fk5813dda329fda302)
- [working file in drive](https:/

[2018-11-01 21:06] kristinashu opened #2092 "Homepage: Correlate changing face with order of products"
Based on [user testing & feedback](https://docs.google.com/document/d/1NxJUSMjgcjdkaorXko7a9Rm_9h3TZge7p5pCUeeUqO0/edit?usp=sharing) at MozFest.

- [ ] Update copy: “Filter products below by user ratings based on creepiness”
- [ ] Add creepy face emoji after “creepiness”
- [ ] Add speech bubble next to faces [need to add SVG for bubble]
- [ ] Update copy as user scrolls down
  - Not creepy!
  - A

[2018-11-01 21:12] kristinashu commented on #2072
Based on work from Rebecca and feedback from Matthew and Jen, here are the updated comps. @beccaklam I'll be opening implementation tickets but please update the ticket and comps if you have any feedback.

Homepage & nav comp: https://redpen.io/xh54d9a94f11c52222
![product wide copy 2x](https://user-images.githubusercontent.com/1068783/47880208-dcffd780-dddf-11e8-8dd8-f8932ba8e97f.jpg)

Product pa

[2018-11-01 21:41] kristinashu opened #2094 "Product page: link styling and placement updates"
Based on user testing & feedback at MozFest https://github.com/mozilla/foundation.mozilla.org/issues/2072 and the [comp](https://redpen.io/p/qz6bdb2811e058ffb1).

### Update location of company page link
 - [ ] Move URL link to the product company and price (URL link is currently in the cms and linked to the product title)
- [ ] Add underline to text
- [ ] Open link in new tab
- [ ] Hover state #3

[2018-11-01 23:20] Pomax commented on #1958
Do we have a graphic for the wide-eyed face that'll sit on the right of the filter slider?

[2018-11-02 00:03] kristinashu commented on #1958
Lol you mean the super creeped out face? It should actually be the same as the last face on the homepage when you scroll down. Sorry, I think that wide-eyed one is from an older comp.

<img width="1194" alt="image" src="https://user-images.githubusercontent.com/1068783/47886529-dc733b00-ddf7-11e8-8cac-5926fe89fc09.png">

[2018-11-02 00:05] Pomax commented on #1958
no worries, that's what I used in the mean time =D

[2018-11-02 00:30] kristinashu opened #2096 "Nov 12 launch dates & checks"
### Dates
- Let's push everything we got to prod Thur Nov 8 💪
- Re-review @xmatthewx's [check list](https://docs.google.com/document/d/1cCuILd6Dwcr0uSSH69qFkeKDNiV_i50fBg0vH6R8nNQ/edit) after stand on Wed Nov 7
- Final final QA Fri Nov 9
- Any pushes after that will need to be **heavily** tested on staging

### Promo Detail
- Official launch date is Mon Nov 12 🚀
- Email will be sent Tue Nov 13
- P

[2018-11-02 01:00] cade commented on #2096
![huzzah](https://user-images.githubusercontent.com/3403/47888020-4a2b6100-de10-11e8-833a-5d3dea61aa6e.gif)

Great work everyone! Shipping's the best. I couldn't be more proud of y'all. 👏 👏

Backpats all around. (Especially for @cadecairos. He's endured _all_ of my shenanigans along the way.)

[2018-11-02 01:05] kristinashu commented on #2096
Nooooo I can't believe I did it again! Sorry!

[2018-11-02 01:33] kristinashu opened #2097 "Copy updates on Product page"
Based on user testing & feedback at MozFest https://github.com/mozilla/foundation.mozilla.org/issues/2072 and the [comp](https://redpen.io/bcd47ecb6d670654da).

### Update Customer Support copy
- [x] New copy: `Company makes it easy to contact customer support`

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/1068783/47881635-ec811f80-dde3-11e8-9c54-b77ffc871a8f.png">

[2018-11-02 01:41] kristinashu opened #2098 "Reading Level text: associate grade levels to school"
Based on user testing & feedback at MozFest https://github.com/mozilla/foundation.mozilla.org/issues/2072 and the [comp](https://redpen.io/bcd47ecb6d670654da).

### Add level of school to Grade Reading Level
  - Grade 8 = Middle school :)
  - Grade 9 - 12 = High school :)
  - Grades 13 - 16 = College :(
  - Grades 17 - 19 = Grad school :(

Staff will enter Grade Level in the cms but users see the

[2018-11-02 01:43] kristinashu opened #2099 "Updates to voting section"
Based on user testing & feedback at MozFest https://github.com/mozilla/foundation.mozilla.org/issues/2072 and the [comp](https://redpen.io/bcd47ecb6d670654da).

- [x] Remove `Majority of voters think it is [creepy]` copy from both questions
- [x] Update copy first question to: `How creepy do you think this is?`

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/1068783/4

[2018-11-05 11:36] alanmoo commented on #2096
Github really needs to add autocomplete on mobile...that's where I make that mistake half the time. @kristinashu let's pretend you were working really hard on your phone? ;)

[2018-11-05 17:58] alanmoo commented on #1661
Is this still relevant @kristinashu?

[2018-11-05 18:00] #1661 closed

[2018-11-05 19:44] kristinashu opened #2118 "Remove link icon from header"
Based on user testing & feedback at MozFest https://github.com/mozilla/foundation.mozilla.org/issues/2072 and the [comp](https://redpen.io/bcd47ecb6d670654da).

- [ ] Remove link icon from top nav (on desktop and mobile menu)

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/1068783/48022600-6e2cc200-e0f0-11e8-8a8b-842e317ec24c.png">

<img width="319" alt="image" src="h

[2018-11-05 20:44] kristinashu opened #2119 "Copy link doesn't work on iPhone"
Copy link functionality isn't working in Safari on iPhone

[2018-11-05 20:45] kristinashu opened #2120 "Add dot background to Updates section"
Assets for dot background:
- should be a black square 3x3px centered in a 9x9px white square
- jpg and svg of the repeatable pattern [dot.zip](https://github.com/mozilla/foundation.mozilla.org/files/2412860/dot.zip)
- Pattern is for "updates" section only. Height for the pattern at 228px. It is only visible if there are updates in that section.

- once repeated, it should look like this
<img width

[2018-11-06 00:16] mmmavis commented on #1843
<img width="899" alt="image" src="https://user-images.githubusercontent.com/2896608/48034885-10809000-e159-11e8-8b19-18bcccf73f1b.png">

CTA button text and URL are set via Wagtail. Should we just change the URL to from `https://donate.mozilla.org` to`https://donate.mozilla.org?utm_source=foundation.mozilla.org&utm_medium=referral&utm_content=participate` then or?

[2018-11-06 00:18] natalieworth commented on #2091
Updated some seal options here! Trying to focus on legibility as the page is pretty busy (V6-V10)! :D
https://redpen.io/p/sj23e52061227d6ca8

cc @kristinashu @beccaklam

[2018-11-06 13:00] alanmoo commented on #1843
That makes sense to me.

[2018-11-06 21:21] natalieworth commented on #2091
Final seal of approval svg [is here](https://drive.google.com/drive/folders/1W9w0kVbvloZZ16ApcPpr40OR9SnloCEp?usp=sharing)

[PNI-Seal-of-Approval.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2555047/PNI-Seal-of-Approval.svg.zip)

![artboard 6 copy 1x](https://user-images.githubusercontent.com/14876567/48093980-b833a780-e1c5-11e8-83a2-92ffc1bb0906.png)

cc @kristinashu @mmmavis

[2018-11-06 21:32] kristinashu commented on #2001
@mmmavis I've update the first comment with the new badge design so this is all final now.

[2018-11-06 21:40] kristinashu commented on #2091
w00t thanks Nat! I've updated the implementation ticket.

[2018-11-06 21:40] #2091 closed

[2018-11-06 22:12] kristinashu opened #2123 "Filters QA"
Here's a list of all the things. Not saying there all need to be done...

### Add filter label
- [x] Add the word `Filter` on left side of bubble
- [x] Nunito sans bold 12px #666666

### Bubble size and shadow
- [x] reduce icon size to ~30px~ 24px wide
- [x] slightly reduce the amount of drop shadow
<img width="425" alt="image" src="https://user-images.githubusercontent.com/1068783/48096792-086238

[2018-11-06 22:37] kristinashu opened #2124 "Homepage product thumbnails should fill the screen width"
In the comps, the homepage products are full width but this was never implemented. I think the desktop layout is ok on the live site but all the medium widths should be full width to maximize the space.

Note:
- the mini seal is should be made small, like in the comps
- light gray padding around each product image should be good but might need to be adjusted
- This ticket sets us up for adding the

[2018-11-07 10:22] alanmoo opened #2127 "Generate fake data for Initiatives page"
When running `load_fake_data`, the initiatives page is empty. Let's fix that.

[2018-11-07 14:44] SunveerSingh commented on #1903
Hello, I would like to work on this! please let me know in Readme where should it be added. and some details that needs to be added

[2018-11-07 15:20] alanmoo commented on #1903
At the very least, we need a reference to `wagtail-modeltranslations`, as Pomax noted. To be clear about what else is needed, I would suggest spinning up the repo and attempting to add a new Wagtail page type model, and documenting where code needs to be put in to enable translations.

[2018-11-07 18:29] kristinashu opened #2129 "Design About This Guide page"
Jen has the almost final drafts done for the About page. Let's see if we can add some images and possible some section anchors to the page so it doesn't feel so long.

Copy for [How To Use This Guide](https://docs.google.com/document/d/1U0ccj1E5JM6wQNh7OR9uraRKDu-OnFYiZC6DAtKYPyo/edit?ts=5be360ec) and [Why We Made This Guide ](https://docs.google.com/document/d/16cUpqZz0K43G4wuxfymqVM_F8c9rMrKV5im

[2018-11-07 18:57] beccaklam commented on #2123
Looks great and @kristinashu covered most of the QA I have. The one thing I caught is when the bubble expands it's cut off at the nav:
![screenshot_2018-11-07 privacy not included 1](https://user-images.githubusercontent.com/20977376/48153692-dcaa8500-e294-11e8-9dc4-89856be9e0b1.png)
It the mock ups we had the filter expand and move down a but to avoid that:
![image](https://user-images.githubuser

[2018-11-07 19:43] kristinashu commented on #2000
Google hasn't figure this out yet... @alanmoo @cadecairos (the right Cade!) what do you think? Time to force it?

<img width="833" alt="image" src="https://user-images.githubusercontent.com/1068783/48156375-289ffe80-e282-11e8-8528-e0a832964939.png">

[2018-11-07 21:27] beccaklam opened #2130 "Further User Testing for Buyer's Guide"
Post launch we should do some more user testing for the Buyer's Guide product and homepage. Specifically:

- [x] Design a test to see what is the most effective format for the engagement survey

- [x] Design a test to see whether users need to read the review before voting

*if there's time:

- [x] Design a test to see if users understand correlation between creepy face on home page and product sc

[2018-11-07 21:47] mmmavis opened #2131 "Buyer's Guide - .jsx, .js, and .scss files don't get linted"
In `package.json`

[code]

should probably be changed to

[code]
so files under the `source/js/buyers-guide` directory get covered by npm test.

[2018-11-07 22:00] Pomax commented on #2131
good call.

[2018-11-07 22:35] Pomax commented on #2092
We had to put in the extra line to inform people that products are rated by "not us", which is already taking up the "slightly greyed, below the text" spot, what's the best way to work in the additional text for this work?

[2018-11-07 22:45] kristinashu commented on #2092
This new copy should replace that copy. The `how creepy users find these products` covers the note about how products are rated by users and not us.

[2018-11-08 00:01] natalieworth commented on #2090
Got a start on some [social graphics here.](https://redpen.io/p/dud88d7ca8c480714a)

cc @kristinashu @caltrider @beccaklam

[2018-11-08 01:01] kristinashu commented on #2001
ᶘ ᵒᴥᵒᶅ

[2018-11-08 01:01] #2001 closed

[2018-11-08 02:15] kristinashu opened #2134 "Hide criteria faces at narrow screen widths"
Hide faces at medium and narrow screen widths so content fits better.

<img width="316" alt="image" src="https://user-images.githubusercontent.com/1068783/48025736-16df1f80-e0f9-11e8-8505-5f9a6685fa6c.png">

[2018-11-08 02:16] kristinashu opened #2135 "Text styling inside expanded accordions"
Accordions work well but should style text in italics and 14px.

<img width="774" alt="image" src="https://user-images.githubusercontent.com/1068783/47470500-f0b6a700-d7fd-11e8-82cb-035827d2cbe3.png">

[2018-11-08 04:29] #1958 closed

[2018-11-08 11:27] patjouk opened #2136 "Error while refreshing the homepage cache"
When I try to invalidate the BuyersGuide homepage cache (prod/staging/local dev) I get this error:

[code]
URL is: http://localhost:8000/en/privacynotincluded/refresh-cache

[2018-11-08 12:30] alanmoo commented on #2000
Given that this is a combination of the Google algorithm doing its magic and a pain to update, I'm not sure it's worth the effort to validate since it redirects to the right URL once you hit the link. I suspect as the new guide gets shared more, it'll rise to the top of results.

[2018-11-08 16:09] kristinashu commented on #2000
Ok, works for me. Close this ticket?

[2018-11-08 16:35] kristinashu opened #2137 "Hide Customer Support links inside accordion"
Add + icon where the Yes/No Face would be. Hide contact info inside. Clicking on + shows the contact info as it is now.

<img width="816" alt="screen shot 2018-11-08 at 8 30 04 am" src="https://user-images.githubusercontent.com/1068783/48212502-9440a500-e330-11e8-8fdd-76d8f268137d.png">

[2018-11-08 16:51] #1927 closed

[2018-11-08 16:59] #2000 closed

[2018-11-08 17:29] alanmoo opened #2138 "Add Cloudinary to CSP"

[2018-11-08 17:36] kristinashu commented on #2072
Everything has been reviews and tickets filed!

[2018-11-08 17:36] #2072 closed

[2018-11-08 19:48] #2131 closed

[2018-11-08 21:46] kristinashu opened #2141 "Add homepage speech bubble to mobile"
Add homepage speech bubble and `filter` text to narrow widths.

<img width="665" alt="image" src="https://user-images.githubusercontent.com/1068783/48225186-f7daca80-e350-11e8-8c3d-e0b62259df20.png">

[2018-11-09 00:47] kristinashu opened #2143 "Fix emoji sprite offset in Firefox and Chrome"
On desktop, the super creepy face disappears at the very bottom, you should still be able to see it.
<img width="1159" alt="screen shot 2018-11-08 at 4 33 44 pm" src="https://user-images.githubusercontent.com/1068783/48236060-75183680-e375-11e8-9663-e5762ef3ab42.png">

On mobile, I see the happy face at the very very bottom of scrolling, should see the super creepy face.

<img width="324" alt="ima

[2018-11-09 15:20] cadecairos opened #2147 "Post Deploy Cache Bust"
Lets clear the Buyer's Guide homepage cache after a deploy.

[2018-11-09 18:31] cadecairos commented on #2147
Fixed in #2150

[2018-11-09 18:31] #2147 closed

[2018-11-09 18:39] kristinashu commented on #2129
@alanmoo on Monday, can you please update the copy on the [About This Guide](https://foundation.mozilla.org/en/privacynotincluded/about/) page?

@caltrider please ping Alan once the blog posts are up and you have added the links to the doc.

Final copy is here [How To Use This Guide](https://docs.google.com/document/d/1U0ccj1E5JM6wQNh7OR9uraRKDu-OnFYiZC6DAtKYPyo/edit?ts=5be360ec) and [Why We Made

[2018-11-09 20:52] xmatthewx opened #2153 "Fix small filter glitch"
The filter is looking awesome, but I see a small glitch in the animation. It stutters, and the content appears full size through a small window.

Might be good to hide content until circle is mostly open.

Browser: FF Nightly 65.0a1 on Mac

![filter-animation](https://user-images.githubusercontent.com/53411/48287374-b02e6e80-e436-11e8-8573-d25a11e77bbf.gif)

Unlike other recent Gifs recently tweet

[2018-11-09 21:35] cadecairos commented on #2138
This wasn't necessary, as the CSP was set to allow all origins for images.

[2018-11-09 21:35] #2138 closed

[2018-11-09 21:36] cadecairos commented on #2136
fixed in https://github.com/mozilla/foundation.mozilla.org/pull/2148

[2018-11-09 21:36] #2136 closed

[2018-11-09 23:00] natalieworth commented on #2090
Updated social [graphics here](https://redpen.io/p/dud88d7ca8c480714a)

Maybe could meet on Tuesday when we are back to go over them? And I can create and export finals for instagram/ twitter?

[2018-11-09 23:04] mmmavis commented on #2118
Need clarification @kristinashu , by removing "link icon", did you mean remove all those social links for good on both mobile and desktop?

[2018-11-09 23:37] mmmavis commented on #2123
Assuming this ticket is ready for implementation... I'm gonna self assign.

[2018-11-09 23:40] kristinashu commented on #2118
Only remove the copy link icon and functionality. Facebook, Twitter and Email should remain (like in the comp).

Yes, for both mobile and desktop.

[2018-11-09 23:41] kristinashu commented on #2090
Yeah sounds good Nat! We can go through the tough process of trying to choose just a few!

[2018-11-09 23:43] mmmavis commented on #2118
ahhh okay, I misunderstood. Thought you meant those 3 "linked icons" 😂

[2018-11-09 23:44] kristinashu commented on #2118
Glad you asked!

[2018-11-09 23:47] kristinashu commented on #2123
Sweet! I say start with the quick wins. Can always to the bigger things separately.

[2018-11-10 01:00] kristinashu opened #2156 "CMS updates disappear!"
Ok I have confirmed with certainty multiple times. I update the Related Products in the cms, look at the page and it looks correct, but then refresh the page a couple hours later and it is back to how it was before the update.

[2018-11-12 11:49] alanmoo commented on #2129
@kristinashu @beccaklam What style are the sub-headings supposed to be using? ("Creep-O-Meter", "Our Minimum Security Standards", etc)

Also, I need access to the "How to use this guide" doc.

[2018-11-12 11:52] #2080 closed

[2018-11-12 11:55] alanmoo commented on #2153
Ah, yes, I saw this too. I was thinking we might be able to use `transform:scale(x)` and a transition to make it work nicer. Definitely some polish I'd like to get on there.

[2018-11-12 15:06] beccaklam commented on #2129
Hey @alanmoo the style for the sub headings is based off the 'normal body' style, it's just bolded.
<img width="242" alt="screen shot 2018-11-12 at 10 04 36 am" src="https://user-images.githubusercontent.com/20977376/48355639-76da4680-e662-11e8-8980-9261d038aea1.png">

[2018-11-12 15:36] caltrider commented on #2090
Love them. I'm around on Tuesday if you'd like me to join.

[2018-11-13 09:45] #2129 closed

[2018-11-13 10:20] #2134 closed

[2018-11-13 10:33] #1823 closed

[2018-11-13 10:41] alanmoo opened #2168 "Fix buyer's guide console errors"
Looks like there's a few errors on the buyer's guide around font-src CSP, and some logging related to Talk. Can we clean that up?

[2018-11-13 10:47] alanmoo opened #2169 "Creep-o-meter results gradient is missing in chrome"
Following up on [this PR comment](https://github.com/mozilla/foundation.mozilla.org/pull/2155#issuecomment-438023430)

In chrome we're missing the bottom gradient bar. This is true on the live site too.
**Chrome:**
<img width="860" alt="screen shot 2018-11-12 at 3 46 13 pm" src="https://user-images.githubusercontent.com/20977376/48374223-2f6bae80-e692-11e8-885c-d0c33d2de8dd.png">
**Comp/Firefox/Sa

[2018-11-13 12:03] #2099 closed

[2018-11-13 12:11] alanmoo opened #2170 "Donate modal button appears prematurely"
STR:

1. In a new/private tab (so that your sessionStorage is clear), open a product page [like this one](https://foundation.mofostaging.net/en/privacynotincluded/products/parker-teddy-bear/)
2. Scroll down quickly (before the modal appears), and you'll see the pink "Support Mozilla" button stuck in the middle of the page somewhere. It jumps to the donate modal once that appears.

(I still landed

[2018-11-13 12:15] alanmoo opened #2171 "Clicking outside the donate modal should not close it"
Opinion bug here, @kristinashu what do you think? I think the donate modal should be a bit more permanent- we don't want it going away when someone clicks to vote, for example. Usually, I'm all about giving options to get rid of modals, but this one doesn't block the entire page and we really want to encourage people to donate.

[2018-11-13 15:48] cadecairos opened #2173 "Add favicon metatag"
I'm seeing hundreds of 404s in the logs for failed requests for `favicon.ico`

Lets add a meta tag to fix this (and a favicon if needed)

`<link rel="icon" href="path_to_favicon.png">`

we might even want to go a step further with different size icons.

[2018-11-13 15:49] cadecairos commented on #2173
This might just be a buyer's guide thing?

https://github.com/mozilla/foundation.mozilla.org/commit/8fff1fe0a1c32439c3e0b0a581149fadbd46e10c

[2018-11-13 18:09] Pomax commented on #1984
There's two merged PRs, but still unchecked boxes in the original comment, is this issue still open or did we forget to tick off the boxes and close the issue?

[2018-11-13 19:12] kristinashu commented on #2143
Doesn't look fixed on staging or prod.

[2018-11-13 19:28] kristinashu commented on #2171
Sure, that makes sense to me.

@mmmavis sorry but could you please remove the feature that allows people to dismiss the popup my clicking anywhere outside of the model. So modal will only close if: user clicks close button or donate button.

[2018-11-13 19:29] mmmavis commented on #2171
yup i can do that!

[2018-11-13 20:34] #2096 closed

[2018-11-13 20:37] kristinashu commented on #2123
Slightly related https://github.com/mozilla/foundation.mozilla.org/issues/2153

[2018-11-13 20:46] kristinashu commented on #2024
Issue for re-naming is here https://github.com/mozilla/foundation.mozilla.org/issues/2087

Just a _few_ more left to do in the spreadsheet https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434

[2018-11-13 20:53] Pomax commented on #2024
I've split up the filter one into separate entries for homepage and categories, since we never implemented the filter for category pages and so that'd be new work rather than adding events to existing code.

[2018-11-13 21:29] Pomax commented on #2143
It would appear that this is a mismatch between Chrome and Firefox, where:
- chrome: keeps the face, does not seem to compute the sprite offset correctly
- firefox: computes the sprite offset correctly, but is off by one for the most-creepy frame it looks like

[2018-11-13 22:01] natalieworth commented on #2090
Have uploaded Twitter/ Instagram versions of buyers guide social (and some press options if needed):
[Twitter](https://drive.google.com/open?id=138X2tFcbum-uFfaTdjQoMDjcl9nhlDsi&authuser=natalie@mozillafoundation.org)
[Instagram](https://drive.google.com/open?id=138Z10W5-Pc29FiqEE6r9MesknsXtIFNY&authuser=natalie@mozillafoundation.org)
[Press](https://drive.google.com/open?id=13_NXQn5GY3xhsP4ZxsPKc

[2018-11-13 22:45] kristinashu commented on #2090
Sweet! I've shared all of these with Lotta. @caltrider can you please share with whoever else might need them?

[2018-11-13 22:47] kristinashu opened #2179 "Add empty set to filters"
### Empty set
- [x] if there are no products then we should say `No results.  Clear filters and try again.`
- [x] clicking `Clear filters and try again.` should clear the filters and show all the products
- [x] link is black with underline with hovers state #3302FF
<img width="316" alt="image" src="https://user-images.githubusercontent.com/1068783/48153401-f5a63c80-e27a-11e8-889c-2c86883e0dbb.png"

[2018-11-13 22:48] kristinashu opened #2180 "Add tags to filters"
### Tags
- [ ] if a filter has been used, the a tag should appear
- [ ] click to delete the tag should reset that filter
<img width="425" alt="image" src="https://user-images.githubusercontent.com/1068783/48093057-2460dc00-e1c3-11e8-9dc6-d3d4a837e63c.png">

[2018-11-13 23:17] #2171 closed

[2018-11-13 23:20] Pomax commented on #2156
To confirm, is this on the production server? /cc @cadecairos

[2018-11-13 23:33] kristinashu commented on #2156
Yes, on production.

[2018-11-13 23:35] Pomax commented on #2097
The "Company shows it cares about its customers" line seems very different from the other lines, which start with interrogative "what/can [...]". It makes the "company shows" start feel out of place. Is there some phrasing we can think of that brings it a bit more in line with the other three?

[2018-11-13 23:51] beccaklam commented on #2079
@kristinashu @xmatthewx Some quick options for adding the seal to the homepage:
![home copy 2x](https://user-images.githubusercontent.com/20977376/48450656-e718c300-e75b-11e8-86a4-410218b62fc0.png)
![home copy 2 2x](https://user-images.githubusercontent.com/20977376/48450657-e718c300-e75b-11e8-894c-544246414538.png)
![home 2x](https://user-images.githubusercontent.com/20977376/48450658-e718c300-e7

[2018-11-14 00:32] caltrider commented on #2090
Will do. Thank you all!

[2018-11-14 00:42] Pomax commented on #2097
:flamethrower: very well

[2018-11-14 16:06] cadecairos commented on #2156
This is a strange bug, I'm not sure how it's even possible, unless there's a problem with wagtail.

[2018-11-14 18:29] kristinashu opened #2183 "Filters should fill screen at narrow widths"
Filters at narrow widths fill the screen
<img width="665" alt="image" src="https://user-images.githubusercontent.com/1068783/48097722-80316200-e1cf-11e8-893d-945e1edeaeea.png">

[2018-11-14 18:32] #2090 closed

[2018-11-14 18:36] kristinashu commented on #2156
@beccaklam is updating the all Related Products now to see it's just me loosing my mind or not. So far it's just me but give it time! If it isn't me then I hypothesis it's something to do with updating one Related Products affects a different product page? Or maybe something happens when we push to prod?? Anyways, let's see what happens with Rebecca's updates...

Because it's only this one compone

[2018-11-14 19:03] kristinashu opened #2184 "Update OG image and copy"
#### Current OG copy and image:
<img width="496" alt="image" src="https://user-images.githubusercontent.com/1068783/48506200-c4d78180-e7fd-11e8-8414-228f970070ab.png">

#### Please update copy to:

Title: *Privacy Not Included: A Holiday Buyer’s Guide for Connected Products
Intro: 70 connected products rated on their safety and security

#### And update image to:

![09-og](https://user-images.gith

[2018-11-14 20:01] mmmavis commented on #2137
Has the filed for "company makes it easy to contact customer support" been added to CMS yet? I can't seem to find it on the interface.

[2018-11-14 20:03] mmmavis commented on #2137
Does it appear based on if any of the phone number / live chat / email / twitter fields is filled?

[2018-11-14 20:36] kristinashu commented on #2137
Oh it's because on prod the copy says "Customer support" but Pomax has a PR for the copy update to go from "Customer support"  to "Company makes it easy to contact customer support" https://github.com/mozilla/foundation.mozilla.org/issues/2097

Right now on prod it looks like this:
<img width="917" alt="image" src="https://user-images.githubusercontent.com/1068783/48510749-9f507500-e809-11e8-8756-

[2018-11-14 20:44] beccaklam commented on #2079
In situ-mockup: https://redpen.io/jq219b6d81145915da
![mini-seal-mockup](https://user-images.githubusercontent.com/20977376/48511230-facf3280-e80a-11e8-9a8b-42ed9ebc399b.png)

[2018-11-14 21:02] #2143 closed

[2018-11-14 22:10] #2156 closed

[2018-11-14 22:18] floatingatoll opened #2189 "Scrolling down makes the happy face go away"
https://foundation.mozilla.org/en/privacynotincluded/

When I scroll down and then scroll up, the happy face never returns. I end up stuck on "A little creepy", and when I try to use the filters to only show happy face items, I get back nothing instead. (Nightly 2018-11-08)

https://www.dropbox.com/s/5exe2n7rijtan7b/Untitled.mov?dl=0

[2018-11-14 22:20] beccaklam commented on #2079
Final mockup: https://redpen.io/jq219b6d81145915da
![mini-seal-mockup](https://user-images.githubusercontent.com/20977376/48516471-5227cf80-e818-11e8-9032-f91fc18be739.png)
Mini badge can be found in this folder in PNG or SVG format: https://drive.google.com/drive/folders/1KhxVuV-bK1qy1jViQeLyBhaTZOQ_5vu-?usp=sharing
CC: @kristinashu

[2018-11-14 22:34] mmmavis commented on #2184
@kristinashu I'm not sure what intro you were referring to. Do you know what current intro copy is?

[2018-11-14 22:37] mmmavis commented on #2184
nvm. I got it!

[2018-11-14 22:39] kristinashu commented on #2184
Yeah it replaces the "This year, learn what tech..." text.

[2018-11-14 22:56] #2097 closed

[2018-11-14 23:08] kristinashu opened #2191 "Design product titles on homepage"
Getting requests to add product titles to the homepage.

Maybe just on hover?

[2018-11-14 23:23] Pomax opened #2192 "Buyers Guide: horizontal scrollbar when browser window is "narrow""
On windows, if I resize Chrome or Firefox to 767px wide, a horizontal scrollbar pops into existence for the document (not the body O_o) that, when used, scrolls the entire body, revealing a black document background.

[2018-11-15 01:02] #2118 closed

[2018-11-15 01:03] Pomax commented on #2192
/cc @mmmavis

[2018-11-15 01:14] Pomax opened #2193 "Buyers Guide: create a proxy lib for ReactGA"
It would be nice if we could collapse our "check for DNT.allowTracking and then ReactGA.event" that we use in several places to a call on a proxy event that simply "does the right thing", either using ReactGA or running a noop based on DNT settings.

Basically, something that does:

[code]

[2018-11-15 01:15] #2135 closed

[2018-11-15 01:38] kristinashu commented on #2123
Yay done! Everything else is in separate individual tickets.

[2018-11-15 01:38] #2123 closed

[2018-11-15 16:38] kristinashu opened #2195 "Add mini seal to homepage"
Based on design in #2079

#### P1
- [x] Add mini seal of approval SVG [mini-badge.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2586161/mini-badge.svg.zip) to homepage products that meet minimum security standards
- [x] To make it look less busy and crowded, add more gray border to all product images (i.e. make product image smaller within the gray box) - not sure the exact pixe

[2018-11-15 17:29] Pomax opened #2196 "Add mechanism to control which average creepiness is "happy""
Right now frame 0 is reserved for creepiness values 0-2.5 which means there is effectively no way for people to ever see the happy face.

Adding a step that remaps creepiness at the time of reading-in would allow us to control at which creepiness we "start" moving off of the happiest-face towards. Might even give us some A/B testing opportunities?

[2018-11-15 17:49] kristinashu commented on #2196
Yes! Jen just mentioned she would love for the first few products to be "not creepy". So we're not so ominous.

[2018-11-15 17:56] kristinashu opened #2197 "Remove thumbs from homepage"
So everyone is confused by the thumbs on the homepage. They think they can click it to up/down vote, they think it's mozilla rating the products... We should remove them since the cost of the majority of users being confused by the thumbs is more than the cost of the few people who use the filters to filter by likelihood to buy and could be confused by not seeing the thumbs on the product.

- [ ]

[2018-11-15 18:45] #2087 closed

[2018-11-15 19:41] Pomax commented on #2196
I've set up a PR for this, on https://foundation-mofostaging-pr-2198.herokuapp.com/privacynotincluded, with the range for cosmetic purposes changed to 25-80, so the emoji will change as:

- any creepiness < 25 is considered not creepy, super happy
- any creepiness in the range 25-80 maps the the emoji transitions if it's the range 0-100
- any creepiness > 80 is considered super creepy recoily face

[2018-11-15 20:11] Pomax opened #2199 "Buyers Guide: add a link to the github repo to the footer"
Having an email address at the bottom of the about page is not enough to get people to send feedback. We've had numerous people complain that we don't have any information on where they should go with bug reports, which is a problem we already solved in the past by adding a github link to our footer.

So: let's copy what we do on https://www.mozillapulse.org to the PNI footer.

[2018-11-15 20:18] cadecairos commented on #1609
This was resolved via https://github.com/MozillaFoundation/mofo-cron/tree/master/tasks/clone_foundation_site

[2018-11-15 20:18] #1609 closed

[2018-11-15 20:41] Pomax opened #2201 "Buyers Guide: Add mini seal to homepage (p1 actionables)"
Addresses the P1's from the tracking issue https://github.com/mozilla/foundation.mozilla.org/issues/2195

Based on design in #2079

- [x] Add mini seal of approval SVG [mini-badge.svg.zip](https://github.com/mozilla/foundation.mozilla.org/files/2586161/mini-badge.svg.zip) to homepage products that meet minimum security standards
- [x] To make it look less busy and crowded, add more gray border to

[2018-11-15 20:46] Pomax commented on #2197
Removing any indication of what those icons stood for makes it unclear what the filter does, filtering on a secret property. Can we instead replace the thumbs with something that is perceived as an informative element rather than an interactive one? E.g. replace them with the phrase "A likely purchase" or "An unlikely purchase" or something?

[2018-11-15 20:49] Pomax commented on #2005
Actually, we already did this?

[2018-11-15 20:49] #2005 closed

[2018-11-15 20:50] Pomax commented on #2098
What should happens with grades below 8?

[2018-11-15 20:55] Pomax commented on #2098
Also, text smileys end up looking rather bad due to the text underline:

![image](https://user-images.githubusercontent.com/177243/48581104-be1c3d80-e8d5-11e8-847f-0aeb57063720.png)

Should we use an icon for that instead?

[2018-11-15 21:09] kristinashu commented on #2197
Do you mean show that text over top every image, always? I think that would work well on hover (with the product titles when we do that - working on design now).

[2018-11-15 21:17] #2196 closed

[2018-11-15 21:22] kristinashu commented on #2098
There shouldn't be any below that since it isn't an option in the cms.

[2018-11-15 21:33] #2201 closed

[2018-11-15 21:46] #2184 closed

[2018-11-15 22:01] #2141 closed

[2018-11-15 22:02] Pomax opened #2206 "Add gh link to the site footer"
Pulse has a nice gh link in the footer, but foundation.moz doesn't... should we add one?

(we did add one for the PNI subsite, where it made a whole lot of sense, but I'm not entirely convinced it makes sense for the general foundation site?)

/cc @alanmoo @xmatthewx

[2018-11-15 22:06] #2199 closed

[2018-11-15 22:12] Pomax commented on #2197
Ah, putting that in the hover is a good idea - shall we block this issue on the hover title etc. then?

[2018-11-15 22:19] Pomax commented on #2137
(note that PR has now landed)

[2018-11-15 22:19] kristinashu commented on #2197
It's tough because right now everyone is confused by having the thumbs there so we're keen to remove it asap. Some people will be confused by not seeing the thumbs when they use the filters, but since fewer people use the filter so seems like an ok trade off.

[2018-11-15 22:23] Pomax commented on #2197
kk, PR incoming.

[2018-11-15 22:31] kristinashu commented on #2197
One thought... would it be possible to not show the thumbs. But then if a user filters so they only see "Likely to buy" then they would see those thumbs over the product. And vise versa for "Not likely to buy". But then if they click "Both" then they don't see any thumbs?

[2018-11-15 22:35] Pomax commented on #2197
it's a little more work, but certainly possible.

[2018-11-15 23:35] Pomax commented on #2153
@alanmoo we're already using scale transforms =(

https://github.com/mozilla/foundation.mozilla.org/blob/master/source/js/buyers-guide/components/filter/filter.scss#L81

[2018-11-15 23:38] #2094 closed

[2018-11-16 00:35] beccaklam commented on #2079
Mock up with adding seal of approval to filter:
https://redpen.io/yc8446cb259e8f6705
![home - filters open 2x](https://user-images.githubusercontent.com/20977376/48590469-6b9e4980-e8f4-11e8-9253-c4653a76b759.png)

[2018-11-16 03:14] kristinashu opened #2211 "About This Guide layout enhancements"
Currently the page about page is a wall of text. How To Use https://redpen.io/cxc1bcdeaca3949a2f and Why We Made https://redpen.io/scc5487f6071e8ce0d

- [x] Add side nav (similar to our opportunity pages)
- [x] Add accordions (+ is the same as on product pages but at 50% opacity)

Note: we will be linking the badge on a product page to "minimum security requirements" on this page. Is it possible t

[2018-11-16 17:17] #2042 closed

[2018-11-16 18:29] beccaklam commented on #2079
Iteration with checked box based on @natalieworth 's feedback:
https://redpen.io/yc8446cb259e8f6705
![home - filters open 2x](https://user-images.githubusercontent.com/20977376/48640110-80c5b780-e98a-11e8-8721-e09ab1809b85.png)
CC: @kristinashu @caltrider

[2018-11-16 22:26] beccaklam opened #2213 "Add 'Minimum Security Standards' seal to filter"
- [ ] Add Minimum Security Standards section to filter

- [ ] Default is that the box is unchecked and people can see products that do and do not meet the standards
- [ ] People can use the filter to only see products that meet the standards (box is checked)
### **Default**
![home - filters open 2x](https://user-images.githubusercontent.com/20977376/48650462-035e6f00-e9ab-11e8-9cee-a6b8693ce8d9.pn

[2018-11-16 22:29] kristinashu opened #2215 "Accordion should rotate from center on iPhone"
Currently, the accordion rotates funny on iPhone in Safari and Chrome.

[2018-11-18 04:08] missuniverse opened #2218 "Update HTTP to HTTPS"
Changed links to HTTPS when supported.
Pull request:
#2219

Please review the pull request.

[2018-11-19 18:39] beccaklam commented on #2130
### Prototypes:
**Variant A:** https://mozilla.invisionapp.com/share/BCP664UE6TS
**Variant B:** https://mozilla.invisionapp.com/share/DSP6ZHUCN7F
### Script doc:
 https://docs.google.com/document/d/1lab8BdPibdeQEg5wtBFsWZnMTbZgyoBPl07i525Oe9w/edit

[2018-11-19 18:41] #2215 closed

[2018-11-19 19:03] kristinashu opened #2229 "Add product names to homepage"
Based on design in https://github.com/mozilla/foundation.mozilla.org/issues/2191
Blocked by https://github.com/mozilla/foundation.mozilla.org/issues/2124

Note:
- company name is .h6-heading and product name is .body but #909090
- names are hidden on mobile

Comps: https://redpen.io/p/qz6bdb2811e058ffb1

![red-pen-dfeeef57-446d-46b1-f151-13508e67836c](https://user-images.githubusercontent.com/1068

[2018-11-19 19:05] kristinashu commented on #2191
Comps are here https://redpen.io/p/qz6bdb2811e058ffb1 and opened an implementation ticket  - Add product names to homepage #2229

[2018-11-19 19:05] #2191 closed

[2018-11-19 19:42] #2137 closed

[2018-11-19 19:43] Pomax opened #2230 "Remove some <div>s from our templates"
Bootstrap has made things divceptionalicious, so it's probably worth removing as many undecorated (e.g. class-less) divs from our fragments and adjusting the SCSS accordingly.

[2018-11-19 19:53] Pomax commented on #2218
Thank you for the PR, but I would like to know why you filed it. Most of the changes in your PR are to text/comments rather than active code, and so aren't a problem that requires fixing. The only active code change is to the by-convention inactive domain "example.com" so whether that points to http or https (or even ftp or mailto, etc) doesn't make a difference.

[2018-11-19 19:56] beccaklam opened #2231 "Add 'creepy face' beside 'What could happen if something goes wrong' header"
- [ ] Add the creepy face beside the 'What could happen if something goes wrong' header to give it more emphasis. SVG is [here](https://drive.google.com/open?id=1HzVsb2fdlRPVfVnvmrQoU3hYmmcu-Tzh).
![what-could-go-wrong 2x](https://user-images.githubusercontent.com/20977376/48731500-08612f80-ebf2-11e8-810e-a088b4e7f966.jpg)

[2018-11-19 20:56] missuniverse commented on #2218
@Pomax Think of it more as an enhancement then anything else. The more we use https, even in comments, the better.

[2018-11-19 21:42] natalieworth commented on #2130
### Prototypes (for user testing to complete 2 step voting system):
**Variant A:** https://mozilla.invisionapp.com/share/M7P74VTW8CE
**Variant B:** https://mozilla.invisionapp.com/share/93P75DQRE2Z
### Script doc (2nd page, Part 2):
https://docs.google.com/document/d/1lab8BdPibdeQEg5wtBFsWZnMTbZgyoBPl07i525Oe9w/edit?usp=sharing

[2018-11-19 21:47] kristinashu opened #2234 "Add mini seal to categories"
Similar to https://github.com/mozilla/foundation.mozilla.org/issues/2236

- [x] Add mini seal to categories - 40px wide
- [x] Update company name from .h6-heading-uppercase to .h6-heading
- [x] Add gray padding around image

<img width="394" alt="image" src="https://user-images.githubusercontent.com/1068783/48739093-bb885380-ec07-11e8-9805-d04c8ca6d452.png">

Comp https://redpen.io/mb5979d9d3273ab

[2018-11-19 22:11] Pomax commented on #2088
what is the hypothesis you would want to test with that data? (because without a hypothesis, raw data is just raw data)

[2018-11-19 22:41] kristinashu opened #2236 "Add mini seal to Related Products"
Similar to https://github.com/mozilla/foundation.mozilla.org/issues/2234

- [x] Add mini seal to categories - same size as homepage (30px)
- [x] Add gray padding around image

<img width="196" alt="image" src="https://user-images.githubusercontent.com/1068783/48739543-2be3a480-ec09-11e8-88dc-1c437fbba7c2.png">

<img width="925" alt="image" src="https://user-images.githubusercontent.com/1068783/487

[2018-11-20 01:05] Pomax commented on #2234
Would these effectively be the same panels we use on the homepage? (if so, we might be able to turn them into a template fragment and have the homepage and category views both use the same thing, just with an argument to show/hide the title)

[2018-11-20 01:07] Pomax commented on #2211
Not that this is not CMS-managed content, so if we want a side nav, we're faking one from scratch =)

Would adding a few headings to break up the wall into a few manageable sections make sense, too?

[2018-11-20 01:34] kristinashu commented on #2234
Not too sure what you mean my panels. It is the same content as home page (image, mini seal, company name title, product name title, and gray padding). Differences are that thumbs, the product title, and the white space between products on the Category pages is larger. Another small difference is that titles on the homepage will be hidden at narrow mobile widths, where as they must always be shown

[2018-11-20 01:56] Pomax commented on #2234
That's effectively what I was looking for as answer - I'll investigate if we can do some unification there, so we can take advantage of the code we already wrote for showing seals-of-approval without repeating code/scss!

[2018-11-20 02:06] kristinashu commented on #2211
I realize it's not as easy as pulling from the cms but hopefully some of the css can be re-used??

Yes, that's a good suggestions! We could definitely be some grouping to break it up a little. I'll assign this to myself to update with some section headings.

[2018-11-20 16:30] kristinashu commented on #1662
MoCo is taking too long so Abigail has recommended"

1) Create a new page that will say (this will be a cms page)

<<
Unless otherwise indicated, Mozilla owns the copyright to the original text content on this site and makes that available to you under a Creative Commons Attribution 4.0 license, or any later version. If you are unsure whether certain content on the site is included in this license

[2018-11-20 18:59] #2236 closed

[2018-11-20 19:40] alanmoo commented on #2206
I'm for this.

[2018-11-20 20:54] Pomax opened #2245 "Update the product faker to use the kind of images we actually use"
Right now we've set up the faker to use images that look nothing like the kind of images we use on the Buyers Guide, making it really hard to tell whether a design change in code actually looks the way it's supposed to.

We can probably pluck a a few real product images from the foundation site for this purpose, too.

[2018-11-20 21:59] xmatthewx opened #2246 "Buyers Guide: Add product names to page titles"
Currently, all buyer's guide pages have the same generic title in html head. Let's add product names to the title tag. This will help with SEO and user navigating their bookmarks and history.

[2018-11-20 22:00] xmatthewx opened #2247 "Foundation site: Add page title to html head"
Currently, all foundation site pages just have "Mozilla Foundation - " in the html head. Let's add page title to the title tag. This will help with SEO and user navigating their bookmarks and history.

[2018-11-20 22:42] kristinashu commented on #2211
@Pomax I've created a bit more hierarchy but not sure it's really helping. It's still just really long!

![about 2 2x](https://user-images.githubusercontent.com/1068783/48807460-6cf3bb80-ecd2-11e8-8efa-998ddb50f0a6.jpg)

[2018-11-20 22:46] alanmoo commented on #2153
It's janky in Safari too. I played with it a little bit in the inspector, and it feels like removing the `.d-none` class on the element targeted by `.filter-content.collapsed > .content` would make it look smoother. The flip from hiding/showing content is what seems to make things flicker.

[2018-11-20 23:43] #2229 closed

[2018-11-20 23:45] #2124 closed

[2018-11-20 23:45] mmmavis commented on #2124
Fixed in PR #2232

[2018-11-21 00:38] #2218 closed

[2018-11-21 00:39] Pomax commented on #2218
fair, I mostly wanted to see if you were a bot or a real human. Had you been a bot, there definitely wouldn't have been a response as intelligent as yours =)

Merged, thanks for the fix!

[2018-11-21 01:27] mmmavis opened #2248 "Buyers Guide Bug: extra space on homepage when filter bubble is open"
Bug introduced in PR https://github.com/mozilla/foundation.mozilla.org/pull/2232

Currently on staging:

STR:

1. go to buyers guide homepage
2. click on filter
3. scroll page to the right

![screenshot_2018-11-20 privacy not included a buyer s guide for connected products](https://user-images.githubusercontent.com/2896608/48812881-2d849980-ece9-11e8-84ab-84ec79997dae.png)

The black padding on th

[2018-11-21 01:40] #2120 closed

[2018-11-21 01:40] #2192 closed

[2018-11-21 01:52] mmmavis commented on #2248
Seems like this rule in `source/sass/buyers-guide/bg-main.scss`

[code]

that was added as part of PR #2208 fixed this issue. ⚫️ 🐦🐦 ✅

Closing. 🕺

[2018-11-21 01:52] #2248 closed

[2018-11-21 17:11] alanmoo commented on #2088
@xmatthewx may have better insights to this than me, I believe this was originally his idea.

[2018-11-21 18:39] #2213 closed

[2018-11-21 18:48] xmatthewx commented on #2088
hypothesis: 1) perceived creepiness would negatively impact likelihood to buy for many products, but 2) there may be other factors that disrupt an otherwise linear relationship. for example, a category of product might have a threshold of allowable creepiness. or the impact might taper off for high priced products.

[2018-11-21 18:49] #2183 closed

[2018-11-21 19:53] kristinashu opened #2249 "Homepage on wide screens"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/2124

Medium and narrow widths looks awesome and super responsive but the full-width is a little too busy looking at wide screen widths.

@mmmavis please update the widest break point to:

- [ ] 4 products across
- [ ] products should be contained within the grid (see screen cap below)
- [ ] make white cutout box and copy wide

[2018-11-21 20:44] alanmoo opened #2250 "Add donate banner to main Foundation site templates"
Let's put the banner from the buyer's guide on the main foundation site template (except for campaign pages).

To start, let's have one set of copy for Giving Tuesday itself. If it's after that date, we'll use a different set of copy.

Longer term goal might include the ability to edit the banners in the CMS or A/B test them.

[2018-11-21 21:03] Pomax opened #2252 "refactor donate modal in preparation of spin-off"
This issue is for refactoring the buyers guide donate modal .jsx component so that it can be spun off into its own thing more easily.

[2018-11-21 21:06] alanmoo commented on #2250
Copy: https://docs.google.com/document/d/1aFxsSRSmWzrha1is_Lr7j6Bq1v-C-qb0Tgh1aGkmQVs/edit

Let's use 2 for Tuesday, and switch to 7 after that, at least to start.

[2018-11-21 21:15] #2206 closed

[2018-11-21 21:35] #2193 closed

[2018-11-21 21:46] kristinashu commented on #2250
Might take some tweaking to get this longer copy to fit properly so I'll do a quick mockup.

[2018-11-21 22:31] kristinashu commented on #2250
Here are some comps https://redpen.io/p/awa941488658be2ec1

Not sure how set we are on #7 for copy but mocked up some shorter versions too. Seeing if Jesse has any feedback.

[2018-11-21 22:43] Pomax commented on #2024
The only event left is the filter event, which has open questions - can we resolve those? From the sheet:

[2018-11-21 22:48] kristinashu commented on #2024
Ok nice. For that question, Matthew is wondering if there is a way to track if people are using the filters once they open it. So not only tracking when someone opens/closes the filter bubble but also if they are adjusting the creepiness or likelihood of buying. Is something like that doable?

[2018-11-21 22:57] natalieworth commented on #2090
Documenting the updated social graphics to remove the 'mozilla' logo:
![07-pni-logo-insta](https://user-images.githubusercontent.com/14876567/48872409-cd9bfa80-ed9d-11e8-8f56-d8be8a6e5257.jpg)
![07-pni-logo-twitter](https://user-images.githubusercontent.com/14876567/48872410-cd9bfa80-ed9d-11e8-9d0a-59a9d7535ba7.jpg)

[2018-11-21 23:10] alanmoo commented on #2250
We might be able to use a different headline. Those items were all approved by legal and such, maybe @WillatMozFdn has something to add regarding the headlines and trying to keep them headline-length?

[2018-11-21 23:19] natalieworth opened #2255 "Update the default share image for the Buyer's Guide"
We received feedback from the brand team that we are unable to use the 'mozilla' logo next to the '_a buyer's guide by_.' I've updated the social files and the logo file, but we will also have to update the image that is shown on share.

Currently, the social sharing is displaying this image:
<img width="613" alt="screen shot 2018-11-21 at 3 14 25 pm" src="https://user-images.githubusercontent.com

[2018-11-21 23:21] natalieworth commented on #2255
and also on twitter too:
<img width="540" alt="screen shot 2018-11-21 at 3 21 20 pm" src="https://user-images.githubusercontent.com/14876567/48873111-27ea8a80-eda1-11e8-8cac-d7e81c4f2655.png">

[2018-11-22 00:10] #2119 closed

[2018-11-22 01:26] Pomax opened #2257 "resolve the eslint "ecmafeatures" deprecation"
mofo-style uses an obsolete format for eslint.
[code]

[2018-11-22 01:43] #2168 closed

[2018-11-22 17:58] kristinashu commented on #2250
We're going to go with this one for now because the length is better (can always update the copy later if needed).

<img width="1263" alt="screen shot 2018-11-22 at 9 54 12 am" src="https://user-images.githubusercontent.com/1068783/48917629-a0525980-ee3c-11e8-99a1-913ccb3c971a.png">

[2018-11-22 19:14] #2249 closed

[2018-11-22 19:38] mmmavis commented on #2255
@natalieworth can we crop the image so it has less padding at top and bottom? Facebook recommends the following ratio for OG image

If we could make ours from `2400px * 1350px` to roughly `2400px * 1260px` (or 2400px * 1256px if you want a precise 1.91:1 ratio)

(Other platforms have looser ratio recommendation compared to Facebook.)

[2018-11-22 21:00] #1857 closed

[2018-11-22 21:06] kristinashu commented on #1667
Yay! Now everything forwards to https://foundation.mozilla.org/

[2018-11-22 21:06] #1667 closed

[2018-11-22 21:12] #1616 closed

[2018-11-22 21:20] kristinashu commented on #1655
@beccaklam as Tais' UX partner, I'm going to assign this to you. Can you please review it and see if anything else needs to be done?

[2018-11-22 21:33] kristinashu commented on #1613
Pop up banner is almost live!

[2018-11-22 21:33] #1613 closed

[2018-11-22 21:36] kristinashu opened #2260 "Donate popup follow up"
- [x] bottom is cut off on iPhone (see screen cap)

- [x] don't show pop up on campaign pages

- [x] add button hover state like on pni site

<img width="376" alt="screen shot 2018-11-22 at 1 34 47 pm" src="https://user-images.githubusercontent.com/1068783/48922434-7fe5c780-ee5b-11e8-8019-228f83a2788a.png">

[2018-11-22 21:54] kristinashu opened #2261 "Homepage hero image isn't scalling or updating"
On staging, the image isn't scaling at smaller screen widths:

<img width="515" alt="screen shot 2018-11-22 at 1 50 39 pm" src="https://user-images.githubusercontent.com/1068783/48922735-a3117680-ee5d-11e8-8f08-4dbefe2ed1f7.png">

[2018-11-22 21:54] kristinashu commented on #2261
And on production, the image isn't being updated at smaller screen widths:

Wide screens show the most recent image:
<img width="1300" alt="screen shot 2018-11-22 at 1 45 48 pm" src="https://user-images.githubusercontent.com/1068783/48922747-c0dedb80-ee5d-11e8-9231-257d341235d4.png">

but narrow screens show an older image that should have been updated:
<img width="321" alt="screen shot 2018-11-22

[2018-11-22 21:58] kristinashu commented on #2261
Aaand on staging, when I try to upload a new image, I see this error:

<img width="849" alt="screen shot 2018-11-22 at 1 43 43 pm" src="https://user-images.githubusercontent.com/1068783/48922888-9ccfca00-ee5e-11e8-9a6e-ffb4bdc3e91b.png">

[2018-11-23 00:17] #2260 closed

[2018-11-23 15:40] beccaklam commented on #1655
@kristinashu Looks like next steps are to test again and this time be less 'leading' in our questions with a less tech savvy audience. Wondering if we should test now or later?

[2018-11-23 15:49] patjouk commented on #2261
There was a real bug preventing people to upload images. It's now fixed. If it happens again, can someone download the app image on Heroku? instructions here (follow the slug ones): https://help.heroku.com/FZDDCBLB/how-can-i-download-my-code-from-heroku

[2018-11-23 20:30] beccaklam commented on #1655
Ideas:

- To further test campaigns retention we could ask what users would do next on the post sign page and see where they end up

[2018-11-23 20:31] Pomax commented on #1987
This got resolved recently through various PRs that solved issues that had aspects of this showing up even in portrait mode.

[2018-11-23 20:32] Pomax commented on #2012
Good candidate for adding to an attempt at documenting "universal" things over on https://github.com/mozillafoundation/production ?

[2018-11-23 20:34] Pomax commented on #2170
After various modal rewrites, at some point this got fixed

[2018-11-23 20:34] #2170 closed

[2018-11-23 20:36] Pomax commented on #2173
It looks like this got fixed, can you confirm and close (if fixed of course)?

[2018-11-23 20:38] Pomax commented on #2247
Hm, does it even make sense to keep `Mozilla Foundation` in the title at all, when the "Privacy Not Included" part is the actual "site" title?

[2018-11-23 20:51] Pomax commented on #2211
What if we go the "FAQ" way that a lot of sites these days use, with accordions next to each criterion?

![image](https://user-images.githubusercontent.com/177243/48959991-59d52b80-ef1e-11e8-9692-8dcc52cdd5a0.png)

(pay no attention to the repeated text, I photoshopped this together from your comp rather than actually implementing it =)

[2018-11-23 20:55] Pomax commented on #2231
This feels like this forces the emoji into the page a little - do we need this emphasis? If so, would it make sense to only show it if the product is creepy enough (e.g. not have our seal of approval), so as not to introduce bias into the product's perception?

[2018-11-23 20:57] Pomax commented on #2024
Getting the events isn't hard (all the filter things are clicks), the hard part is understanding what the events mean in a dashboard: it won't tell us much about whether the filter does what the user wants out of it, since it's so playful =)

That said, if we want to add events to filtering, given how many events this will be, can we start a new issue specifically for those and close this one out?

[2018-11-23 21:32] kristinashu commented on #2211
Oooh I like that! I had mocked it up with accordions for everything but I prefer it the way you did it. Will mock it up!

[2018-11-23 21:49] kristinashu opened #2263 "Add GA events to filter"
Follow up from https://github.com/mozilla/foundation.mozilla.org/issues/2024. These are also listed in the [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=980429434).

- [x] Add events: checks or unchecks Meets Minimum Security Standards

Note: track every time an event happens, even if it is the same user doing it multiple times.

<img wi

[2018-11-23 21:50] kristinashu commented on #2024
Sounds good! I've opened a new ticket https://github.com/mozilla/foundation.mozilla.org/issues/2263

[2018-11-23 21:50] #2024 closed

[2018-11-23 22:07] kristinashu commented on #2211
Here it is https://redpen.io/cxc1bcdeaca3949a2f

I'll just run this past Jen on Monday.

![about 2 2x](https://user-images.githubusercontent.com/1068783/48961405-00262e80-ef29-11e8-91fa-7844011d9e1b.jpg)

[2018-11-23 23:53] mmmavis opened #2264 "Buyer's Guide: filter bug on iPhone 6/7/8 screens"
<img width="701" alt="image" src="https://user-images.githubusercontent.com/2896608/48962642-4c786b00-ef37-11e8-9fa5-774a4e8bbc30.png">

STR:

1. go to Responsive Design Mode on Firefox
2. set the screen size to `iPhone 6/7/8`
3. try moving the filter meter
4. nothing happens because of the `e.touches[0] is undefined` error

Not sure if this happens on other screen sizes too.

/cc @Pomax

[2018-11-24 00:59] Pomax commented on #2263
Before we put these in, can we figure out what we're hoping to get out of these events? Just tracking clicks doesn't mean those numbers are useful unless there's a question that we want to answer based on concrete metrics.

[2018-11-24 11:06] patjouk commented on #2012
That's the plan.

On Fri, Nov 23, 2018 at 9:32 PM Pomax <notifications@github.com> wrote:

[2018-11-24 18:20] Pomax commented on #2211
It's probably worth putting a two sentence "paragraph" below the `Criteria` header, along the lines of "We currently rate products on the following criteria. Click on any criterion to see what we look for and how we rate them, or click here to expand all:" with a small button that just opens all of them up at the same time.

[2018-11-26 18:37] kristinashu opened #2271 "Create a downloadable pdf"
There are been several requests for a downloadable PDF.

Requirements:
- devs will generate a PDF once (might need to be update every few months if our content changes)
- add a "Download PDF" link on the site (either homepage or About page)
- PDF included: cover page and then one product per page
- only show relevant info (don't show vote section, updates, comments, related products)
- designers w

[2018-11-26 19:13] beccaklam commented on #2231
Hey @Pomax there was a request from @caltrider to add emphasis to the 'What could happen if something goes wrong' section. There's a concern it's getting passed over and it contains important information. We would prefer to keep the face consistent across the pages so people know what to look for. The choice to use the emoji is to, again, stay consistent with highlighting creepiness with the emoji

[2018-11-26 19:49] caltrider opened #2272 "Update to How to Use This Guide Copy"
We’ve been getting a lot of questions about the “shares data for unexpected reasons” question. No surprise, it’s not exactly clear and an area we know we need to work on for next time. In the meantime, I updated the section in the how to use this guide to hopefully explain it a bit better. Would you mind updating in on the site when you get a chance?

Here’s the copy:

*Shares information with thi

[2018-11-26 20:46] kristinashu commented on #2211
Jen is happy with this and doesn't think we Criteria needs any intro text.

I've update the first comment in the ticket to reflect the changes.

Note copy update in https://github.com/mozilla/foundation.mozilla.org/issues/2272

[2018-11-26 20:52] kristinashu commented on #2264
@mmmavis does it work on your actually phone? I have iPhone 7 and it seems to work.

[2018-11-26 21:20] kristinashu commented on #2263
I've update the first comment and the spreadsheet. @xmatthewx can you please double check? I've made it more general but still tracking each way of filtering.

[2018-11-26 22:30] kristinashu commented on #424
Closing since we will be update this button style.

[2018-11-26 22:30] #424 closed

[2018-11-26 22:35] kristinashu commented on #1357
This is coming with the new design.

[2018-11-26 22:35] #1357 closed

[2018-11-26 22:35] #1313 closed

[2018-11-26 22:36] #647 closed

[2018-11-26 22:40] kristinashu commented on #1245
We are removing this feature in the new design to make things more streamlined https://redpen.io/hx70e9eb24e0534b72

[2018-11-26 22:40] #1245 closed

[2018-11-26 22:50] beccaklam commented on #1874
Round 1 ideas: https://redpen.io/to0653be7377b7ef63

[2018-11-26 22:51] flukeout commented on #424
Oh, fine!!

[2018-11-26 22:55] kristinashu commented on #1553
I don't really notice this gap anywhere? Will close for now.

[2018-11-26 22:55] #1553 closed

[2018-11-26 22:59] sabrinang commented on #1131
The how-to curriculum videos are linked on the Web Lit resources page: https://foundation.mozilla.org/en/opportunity/web-literacy/additional-resources/

The videos have been uploaded to the main Mozilla youtube channel on March 15, 2018 so the playlist is here: https://www.youtube.com/playlist?list=PLYiaJo7rYNXL_tVqcZnMJealHjuTjTVma

I'm unsure who uploaded it though and which credentials were use

[2018-11-26 22:59] #1131 closed

[2018-11-26 23:08] kristinashu opened #2274 "Update color on Initiatives illustration"
@natalieworth please update the 4 illustrations so each one uses a different color. Still only one color per illustration, but 4 colors in total. Then replace the image in the CMS.

[2018-11-26 23:11] kristinashu opened #2275 "Integrate black/white banner onto Participate page"
Currently the Participate page hero banner style is quite different than the rest of the site. Explore ways to make it more like the Initiatives page but still work for features/content that is always changing.

[2018-11-26 23:22] kristinashu commented on #947
This page doesn't exist anymore and Lucy's cloudinary work should help with this.

[2018-11-26 23:22] #947 closed

[2018-11-26 23:42] kristinashu commented on #803
News glyphs have proven to be unrealistic to maintain and so we are no longer using them.

[2018-11-26 23:42] #803 closed

[2018-11-26 23:43] kristinashu commented on #1693
News glyphs have proven to be unrealistic to maintain and so we are no longer using them. Closing this ticket but please re-open if needed.

[2018-11-26 23:43] #1693 closed

[2018-11-26 23:48] kristinashu commented on #780
Sorry for the long delay! Glyphs would go here. So in this example, we would pull the YouTube favicon, make it gray scale and with 50% opacity.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/1068783/49049096-68c41400-f192-11e8-8091-6c630588dd15.png">

[2018-11-27 16:19] xmatthewx commented on #2263
Looks like the main `filter set` event is already wired up, and people are using the feature. So... this issue is really about whether we want a specific event to see if people use the filter by `meets standards`.

<img width="514" alt="image" src="https://user-images.githubusercontent.com/53411/49095042-9ca44580-f235-11e8-9726-3806c02eb5dd.png">